Repository databendlabs/databend, pull requests merged in 2021-08, with the labels that each got.

#1253 FEATURE-938: datafuse cli add history
  fusecli/cli/src/cmds/processor.rs
Labels: pr-feature

#1255 [common/stoppable] feature: borrow codes from fuse-query to make a shared graceful shutdown impl
  Cargo.lock
  Cargo.toml
  common/exception/src/exception.rs
  common/stoppable/Cargo.toml
  common/stoppable/src/lib.rs
  common/stoppable/src/stop_handle.rs
  common/stoppable/src/stoppable.rs
  common/stoppable/src/stoppable_test.rs
Labels: fusestore, pr-feature

#1257 ISSUE 1254: fix race
  fusequery/query/src/servers/server.rs
Labels: pr-bugfix

#1263 [store] refactor: upgrade async-raft to 0.6.2-alpha.7: reduce log level to warn for RPC failures
  Cargo.lock
  common/stoppable/src/stoppable_test.rs
  fusestore/store/Cargo.toml
Labels: fusestore, pr-improvement

#1260 Remove anyhow for commons
  Cargo.lock
  common/exception/Cargo.toml
  common/exception/src/exception.rs
  common/flights/Cargo.toml
  common/flights/src/common.rs
  common/flights/src/flight_token.rs
  common/flights/src/impls/storage_api_impl.rs
  common/flights/src/impls/storage_api_impl_utils.rs
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  common/flights/src/store_do_action.rs
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/metatypes/Cargo.toml
  common/metatypes/src/errors.rs
  common/metatypes/src/lib.rs
  common/metatypes/src/match_seq.rs
  common/metatypes/src/match_seq_test.rs
  common/stoppable/Cargo.toml
  common/stoppable/src/stoppable_test.rs
Labels: pr-not-for-changelog

#1265 CLI-1264: rename update to get
  Cargo.lock
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/gets/get.rs
  fusecli/cli/src/cmds/gets/mod.rs
  fusecli/cli/src/cmds/mod.rs
  fusecli/cli/src/cmds/processor.rs
  fusecli/cli/src/cmds/updates/update.rs
  fusecli/cli/src/cmds/writer.rs
Labels: pr-improvement

#1268 [Build/Test] perf tool building optimization and downsize performance test data volume
  .gitignore
  Makefile
  docker/perf-tool/Dockerfile
  tests/perfs/perfs.yaml
Labels: pr-build

#1270 [Improvement] show log in compare.html
  tests/perfs/compare.py
Labels: pr-improvement

#1159 [rust 2021] migrate to rust 2021
  common/allocators/Cargo.toml
  common/arrow/Cargo.toml
  common/building/Cargo.toml
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  common/exception/Cargo.toml
  common/flights/Cargo.toml
  common/functions/Cargo.toml
  common/infallible/Cargo.toml
  common/io/Cargo.toml
  common/management/Cargo.toml
  common/metatypes/Cargo.toml
  common/planners/Cargo.toml
  common/profiling/Cargo.toml
  common/progress/Cargo.toml
  common/runtime/Cargo.toml
  common/stoppable/Cargo.toml
  common/store-api/Cargo.toml
  common/streams/Cargo.toml
  common/tracing/Cargo.toml
  fusecli/cli/Cargo.toml
  fusequery/fuzz/Cargo.toml
  fusequery/query/Cargo.toml
  fusestore/store/Cargo.toml
  fusestore/store/src/configs/config.rs
  rust-toolchain
Labels: pr-build, pr-improvement

#1272 [tests] refactor: use python script to wait for a listening port; improve portability on mac
  scripts/ci/wait_tcp.py
  scripts/deploy/fusequery-cluster-3-nodes.sh
  scripts/deploy/fusequery-standalone.sh
Labels: fusestore, pr-improvement

#1276 [Build/Testing/CI] update docker perf tool dependencies
  docker/perf-tool/Dockerfile
Labels: pr-build

#1212 WIP: issue 1251, catalog as meta-store client & TableMetaCache
  Cargo.lock
  common/flights/src/impls/meta_api_impl.rs
  common/flights/src/store_do_action.rs
  common/store-api/src/lib.rs
  common/store-api/src/meta_api.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/catalog/constants.rs
  fusequery/query/src/catalogs/catalog.rs
  fusequery/query/src/catalogs/impls/database_catalog.rs
  fusequery/query/src/catalogs/impls/mod.rs
  fusequery/query/src/catalogs/impls/remote_meta_store_client.rs
  fusequery/query/src/catalogs/impls/remote_meta_store_client_test.rs
  fusequery/query/src/catalogs/meta_store_client.rs
  fusequery/query/src/catalogs/mod.rs
  fusequery/query/src/catalogs/utils.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/database.rs
  fusequery/query/src/datasources/local/local_database.rs
  fusequery/query/src/datasources/mod.rs
  fusequery/query/src/datasources/remote/mod.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/remote/remote_factory.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/remote_table_do_read.rs
  fusequery/query/src/datasources/remote/store_client_provider.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/databases_table_test.rs
  fusequery/query/src/datasources/system/system_database.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  fusequery/query/src/datasources/tests.rs
  fusequery/query/src/interpreters/interpreter_database_create.rs
  fusequery/query/src/interpreters/interpreter_database_drop.rs
  fusequery/query/src/interpreters/interpreter_insert_into.rs
  fusequery/query/src/interpreters/interpreter_show_create_table.rs
  fusequery/query/src/interpreters/interpreter_table_create.rs
  fusequery/query/src/interpreters/interpreter_table_drop.rs
  fusequery/query/src/lib.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/tests/context.rs
  fusequery/query/src/tests/mod.rs
  fusequery/query/src/tests/number.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/meta_handlers.rs
  fusestore/store/src/meta_service/raftmeta.rs
  tests/suites/0_stateless/02_0005_function_compare.result
Labels: pr-improvement

#1279 issue# 1278 Use default values of Config in unit test
  fusecli/cli/src/cmds/config.rs
  fusecli/cli/src/cmds/status_test.rs
Labels: pr-improvement

#1281 [Test Infra]introduce alpha version performance tests
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-build, pr-doc-fix, pr-feature

#1282 fix: Inaccurate Table Statistics
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: pr-bugfix

#1285 CLI: package fetch
  Cargo.lock
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/clusters/cluster.rs
  fusecli/cli/src/cmds/clusters/mod.rs
  fusecli/cli/src/cmds/comments/comment.rs
  fusecli/cli/src/cmds/env.rs
  fusecli/cli/src/cmds/gets/get.rs
  fusecli/cli/src/cmds/helps/help.rs
  fusecli/cli/src/cmds/mod.rs
  fusecli/cli/src/cmds/packages/fetch.rs
  fusecli/cli/src/cmds/packages/mod.rs
  fusecli/cli/src/cmds/packages/package.rs
  fusecli/cli/src/cmds/processor.rs
  fusecli/cli/src/cmds/versions/version.rs
  fusecli/cli/src/cmds/writer.rs
Labels: pr-feature

#1284 [store] feature: fuse-store support restart
  common/exception/src/exception.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/sled_util.rs
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/service.rs
  scripts/ci/wait_tcp.py
  scripts/deploy/fusequery-cluster-3-nodes.sh
  scripts/deploy/fusequery-standalone.sh
Labels: fusestore, pr-feature

#1289 update runner label
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-not-for-changelog

#1292 dev_setup.sh: add libssl-dev
  scripts/setup/dev_setup.sh
Labels: fusestore

#1294 Bump arrow2
  common/arrow/Cargo.toml
Labels: pr-improvement

#1295 [Test Infra] dispatch updates
  .github/workflows/datafuse-performance-dispatch.yaml
  docker/cache/Dockerfile
Labels: pr-bugfix

#1299 [Datafuse CLI] e2e framework for fusecli
  .gitignore
  Makefile
  fusecli/README.md
  fusecli/cli/e2e/e2e.py
Labels: pr-feature

#1301 DOC-1300: add performance test
  Cargo.lock
  website/datafuse/docs/rfcs/query/0004-performance-test.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1290 tls rpc
  Cargo.lock
  Makefile
  common/exception/src/exception.rs
  common/flights/src/common.rs
  common/flights/src/dns_resolver.rs
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  fusequery/query/src/api/mod.rs
  fusequery/query/src/api/rpc_service.rs
  fusequery/query/src/api/rpc_service_test.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/clusters/node.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/configs/mod.rs
  fusequery/query/src/datasources/remote/remote_factory.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/api/rpc/mod.rs
  fusestore/store/src/api/rpc/tls_flight_service_test.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/configs/config_test.rs
  fusestore/store/src/executor/meta_handlers.rs
  scripts/ci/ci-run-stateless-tests-cluster-tls.sh
  tests/data/certs/ca.pem
  tests/data/certs/server.key
  tests/data/certs/server.pem
Labels: pr-improvement

#1220 bug fix: Kleene logic filter failure
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/series/comparison.rs
  common/datavalues/src/series/wrap.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-bugfix

#1305 remove `conf` from RpcService by using session_mgr's conf
  fusequery/query/src/api/rpc_service.rs
  fusequery/query/src/api/rpc_service_test.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/sessions/sessions.rs
Labels: pr-bugfix

#1308 CLI-938: package list command
  Cargo.lock
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/config.rs
  fusecli/cli/src/cmds/env.rs
  fusecli/cli/src/cmds/mod.rs
  fusecli/cli/src/cmds/packages/list.rs
  fusecli/cli/src/cmds/packages/mod.rs
  fusecli/cli/src/cmds/packages/package.rs
  fusecli/cli/src/cmds/processor.rs
Labels: pr-feature

#1288 ISSUE 1250: add config
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/tests/service.rs
Labels: pr-improvement

#1314 CLI-938: add datafuse-cli package switch command
  fusecli/README.md
  fusecli/cli/src/cmds/mod.rs
  fusecli/cli/src/cmds/packages/list.rs
  fusecli/cli/src/cmds/packages/mod.rs
  fusecli/cli/src/cmds/packages/package.rs
  fusecli/cli/src/cmds/packages/switch.rs
  fusecli/cli/src/cmds/status.rs
  fusecli/cli/src/cmds/status_test.rs
Labels: pr-feature

#1319 TLS http api tests
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/src/api/http_service.rs
  fusequery/query/src/api/http_service_test.rs
  fusequery/query/src/api/mod.rs
  fusequery/query/src/api/rpc_service.rs
  fusequery/query/src/api/rpc_service_test.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/tests/mod.rs
  fusequery/query/src/tests/tls_constants.rs
  fusestore/store/src/api/rpc/tls_flight_service_test.rs
  scripts/ci/ci-run-stateless-tests-cluster-tls.sh
  tests/certs/ca.pem
  tests/certs/server.key
  tests/certs/server.pem
  tls/Makefile
  tls/README.md
  tls/example/test.crt
  tls/example/test.key
Labels: pr-improvement

#1323 [deps] all in comfy-table
  Cargo.lock
  common/arrow/Cargo.toml
  common/datablocks/src/data_block_debug.rs
  common/datavalues/src/series/series_debug.rs
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/packages/list.rs
  fusestore/store/src/tests/service.rs
Labels: pr-improvement

#1326 [store] refactor: use master branch for sled, with the fix to deadlock within multiple tokio runtime
  Cargo.lock
  common/flights/src/dns_resolver.rs
  common/flights/src/store_client.rs
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/status.rs
  fusecli/cli/src/cmds/status_test.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_db.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/sled_util.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-bugfix, pr-improvement

#1325 [cli] fix: status test should use different temp dir or next time it reads the old data left by previous test
  Cargo.lock
  fusecli/cli/Cargo.toml
  fusecli/cli/src/cmds/status.rs
  fusecli/cli/src/cmds/status_test.rs
Labels: fusestore, pr-bugfix

#1327 [cli] refactor: remove temp println
  fusecli/cli/src/cmds/status.rs
Labels: fusestore, pr-improvement

#1330 [store] refactor: rename myid to id, reanme target-id to target
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/meta_service/network.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-improvement

#1331 [store] refactor: remove MetaStore::{open,new}, open_create() is enough
  fusestore/store/src/meta_service/meta_store_test.rs
  fusestore/store/src/meta_service/placement.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1332 [store] refactor: add a field `is_open` to MetaStore and RaftState to indicate if it is opened from a previously saved state
  fusestore/store/src/meta_service/meta_store_test.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-improvement

#1333 [store] refactor: RaftState: cleanup open-create: separate info extraction and staet initialization
  fusestore/store/src/meta_service/raft_state.rs
Labels: fusestore, pr-improvement

#1335 ISSUE-1191: fix mysql client borderline missing for EXPLAIN statement
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/interpreters/interpreter_explain_test.rs
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display_cluster.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/04_0000_explain_cluster.result
  tests/suites/0_stateless/04_0001_explain_pipeline.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
Labels: pr-bugfix, pr-improvement

#1341 ISSUE-1307: pretty nohup.out when exec select * from numbers(10) where null;
  common/functions/src/aggregates/aggregate_combinator_if.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
Labels: pr-bugfix

#1334 Improve GroupBy
  Cargo.lock
  common/arrow/Cargo.toml
  common/datablocks/Cargo.toml
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datablocks/src/kernels/data_block_group_by_hash_test.rs
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/builders/boolean.rs
  common/datavalues/src/arrays/builders/builder.rs
  common/datavalues/src/arrays/builders/mod.rs
  common/datavalues/src/arrays/builders/primitive.rs
  common/datavalues/src/arrays/builders/utf8.rs
  common/datavalues/src/arrays/comparison.rs
  common/datavalues/src/arrays/data_array.rs
  common/datavalues/src/arrays/kernels/iterator.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/arrays/ops/downcast.rs
  common/datavalues/src/arrays/ops/fill.rs
  common/datavalues/src/arrays/ops/group_hash.rs
  common/datavalues/src/arrays/ops/group_hash_test.rs
  common/datavalues/src/arrays/trusted_len.rs
  common/datavalues/src/arrays/upstream_traits.rs
  common/datavalues/src/columns/common.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_df_type.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/series/date_wrap.rs
  common/datavalues/src/series/de.rs
  common/datavalues/src/series/mod.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
  common/datavalues/src/utils.rs
  common/flights/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_batch_test.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/macros.rs
  common/functions/src/aggregates/mod.rs
  common/io/src/binary_write.rs
  common/io/src/binary_write_test.rs
  common/planners/src/plan_builder.rs
  common/runtime/Cargo.toml
  fusequery/query/Cargo.toml
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial_test.rs
Labels: pr-improvement

#1346 small cleanup
  .gitignore
  Makefile
  scripts/ci/ci-run-stateless-tests.sh
Labels: pr-not-for-changelog

#1348 Fix: make run-helm for Makefile
  Makefile
Labels: pr-build

#1345 [store] refactor: use SledVarTypeTree to impl RaftState, add StateMachineId
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_kv.rs
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: fusestore, pr-improvement

#1355 [store] refactor: nothing really changed
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_kv.rs
  fusestore/store/src/meta_service/raft_types.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/sled_key_space.rs
  fusestore/store/src/meta_service/sled_serde.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_meta.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1356 [perf] Add more perf sqls
  tests/perfs/compare.py
  tests/perfs/perfs.yaml
Labels: pr-improvement

#1280 ISSUE-204 support kill query or connection statement
  common/exception/src/exception.rs
  common/planners/src/lib.rs
  common/planners/src/plan_kill.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  fusequery/query/src/api/mod.rs
  fusequery/query/src/api/rpc/flight_actions.rs
  fusequery/query/src/api/rpc/flight_actions_test.rs
  fusequery/query/src/api/rpc/flight_dispatcher.rs
  fusequery/query/src/api/rpc/flight_dispatcher_test.rs
  fusequery/query/src/api/rpc/flight_service.rs
  fusequery/query/src/api/rpc/mod.rs
  fusequery/query/src/datasources/system/processes_table.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/interpreter_kill.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/interpreters/plan_scheduler_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/servers/clickhouse/interactive_worker_base.rs
  fusequery/query/src/servers/mysql/mysql_interactive_worker.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/session.rs
  fusequery/query/src/sessions/session_ref.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_statement.rs
Labels: pr-feature

#1362 [Build/CI] Add Mysql client in dev setup
  scripts/setup/dev_setup.sh
Labels: pr-build

#1364 [store] fix: read latest log index from active leader
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-bugfix

#1358 [Build/Test/CI] Support to run tests on Macos catalina
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
Labels: pr-build

#1368 [datavalues] refactor: separated dir for types
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/builders/boolean.rs
  common/datavalues/src/arrays/builders/builder.rs
  common/datavalues/src/arrays/builders/primitive.rs
  common/datavalues/src/arrays/builders/utf8.rs
  common/datavalues/src/arrays/comparison.rs
  common/datavalues/src/arrays/data_array.rs
  common/datavalues/src/arrays/kernels/iterator.rs
  common/datavalues/src/arrays/ops/agg.rs
  common/datavalues/src/arrays/ops/agg_test.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/ops/apply_test.rs
  common/datavalues/src/arrays/ops/boolean.rs
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/arrays/ops/cast_test.rs
  common/datavalues/src/arrays/ops/downcast.rs
  common/datavalues/src/arrays/ops/downcast_test.rs
  common/datavalues/src/arrays/ops/fill.rs
  common/datavalues/src/arrays/ops/fill_test.rs
  common/datavalues/src/arrays/ops/group_hash.rs
  common/datavalues/src/arrays/ops/group_hash_test.rs
  common/datavalues/src/arrays/ops/scatter.rs
  common/datavalues/src/arrays/ops/scatter_test.rs
  common/datavalues/src/arrays/ops/take.rs
  common/datavalues/src/arrays/ops/take_random.rs
  common/datavalues/src/arrays/ops/take_single.rs
  common/datavalues/src/arrays/ops/vec_hash.rs
  common/datavalues/src/arrays/upstream_traits.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_array_filter.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/series/comparison.rs
  common/datavalues/src/series/date_wrap.rs
  common/datavalues/src/series/de.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
  common/datavalues/src/types/data_df_type.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/datavalues/src/types/mod.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/streams/src/stream_limit_by.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial.rs
  fusequery/query/src/servers/clickhouse/writers/query_writer.rs
Labels: pr-not-for-changelog

#1369 [store] change: MetaNode::upsertKV return two equal value if no modification is applied
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/kv_handlers.rs
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore

#1370 ISSUE 1366
  fusestore/store/src/executor/action_handler_test.rs
Labels: pr-improvement

#1363 Take random test refactor
  common/datavalues/src/arrays/ops/mod.rs
  common/datavalues/src/arrays/ops/take_random.rs
  common/datavalues/src/arrays/ops/take_random_test.rs
  common/datavalues/src/arrays/ops/take_test.rs
Labels: pr-build

#1351 kill query action of store_api
  common/flights/src/impls/mod.rs
  common/flights/src/impls/session_api_impl.rs
  common/flights/src/lib.rs
  common/flights/src/store_do_action.rs
  common/store-api/src/lib.rs
  common/store-api/src/session_api.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/mod.rs
  fusestore/store/src/executor/session_handlers.rs
Labels: pr-feature

#1375 Update take_random_test.rs
  common/datavalues/src/arrays/ops/take_random_test.rs
Labels: pr-not-for-changelog

#1378 [store] refactor: use UpsertKV to impl delete operation.
  common/flights/src/impls/kv_api_impl.rs
  common/flights/src/store_do_action.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/store-api/src/kv_api.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/kv_handlers.rs
Labels: fusestore, pr-improvement

#1377 Add sum modulo perf case
  tests/perfs/perfs.yaml
Labels: pr-improvement

#1353 Edit log query string when mysql_session error
  common/exception/src/exception.rs
  fusequery/query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-improvement

#1392 Update performance.md
  website/datafuse/docs/overview/performance.md
Labels: pr-bugfix, pr-other, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog

#1391 Remove performance in Readme
  README.md
Labels: pr-not-for-changelog

#1384 [store] refactor: move all key space definitions to `sled_key_space.rs`
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_kv.rs
  fusestore/store/src/meta_service/raft_types.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/sled_key_space.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_meta.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1396 Remove `remote_factory` from struct `DatabaseCatalog`
  fusequery/query/src/catalogs/impls/database_catalog.rs
  fusequery/query/src/catalogs/impls/remote_meta_store_client.rs
  fusequery/query/src/catalogs/meta_store_client.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/sessions/sessions.rs
Labels: pr-improvement

#1376 Add session type and session extra info for RPCSession
  fusequery/query/src/api/rpc/flight_dispatcher.rs
  fusequery/query/src/datasources/system/processes_table.rs
  fusequery/query/src/servers/clickhouse/interactive_worker.rs
  fusequery/query/src/servers/mysql/mysql_interactive_worker.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/context_shared.rs
  fusequery/query/src/sessions/session_info.rs
Labels: pr-improvement

#1400 [Build/CI] add build perf-tool to CI
  .github/workflows/datafuse-perf-docker.yml
Labels: pr-build

#1398 [Build/Release/CI] add release docker image
  .github/workflows/datafuse-release.yml
  Makefile
  docker/release/Dockerfile
  scripts/installer/install-datafuse.sh
Labels: pr-build

#1399 [store] feature: add SledTree::remove() to delete a single elt.
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1403 [CI] release build
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-build

#1405 [store] feature: SledTree: add range() to get a list of key-value pairs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1409 docker build fix
  .github/workflows/datafuse-perf-docker.yml
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-bugfix

#1410 [store] feature: raft state machine stores generic-kv in sled
  fusestore/store/src/meta_service/raft_types.rs
  fusestore/store/src/meta_service/sled_key_space.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: fusestore, pr-feature

#1412 [CI] fix dispatch error
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-not-for-changelog

#1411 [store] refactor: extract common function flush_async
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-improvement

#1415 [CI] perf test suit self hosted
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-not-for-changelog

#1419 handle zero divident error in compare.py
  tests/perfs/compare.py
Labels: pr-bugfix

#1421 [tracing] uniform style.
  common/tracing/src/logging.rs
Labels: pr-not-for-changelog

#1395 [compute] use auto vectorized compute for some cases
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/ops/agg.rs
  common/datavalues/src/arrays/ops/agg_test.rs
  common/datavalues/src/arrays/ops/group_hash.rs
  common/datavalues/src/data_array_filter.rs
  common/datavalues/src/series/wrap.rs
  query/Cargo.toml
  query/src/pipelines/transforms/transform_group_by_final.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
  tests/perfs/perfs.yaml
Labels: pr-performance

#1425 [store] feature: generic kv support auto expiring an entry.
  common/flights/src/impls/kv_api_impl.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/metatypes/src/lib.rs
  common/store-api/src/kv_api.rs
  store/src/api/rpc/flight_service_test.rs
  store/src/executor/kv_handlers.rs
  store/src/meta_service/applied_state.rs
  store/src/meta_service/cmd.rs
  store/src/meta_service/raft_types.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/sled_key_space.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-feature

#1430 [store]: refactor: use SledTree:scan_prefix() to impl kv list
  store/src/meta_service/sled_tree.rs
  store/src/meta_service/sled_tree_test.rs
  store/src/meta_service/state_machine.rs
Labels: fusestore, pr-improvement, pr-feature

#1431 [store]: feature: use sled to store DFS file meta.
  store/src/dfs/distributed_fs.rs
  store/src/meta_service/meta_service_impl.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/state_machine.rs
Labels: fusestore, pr-feature

#1433 [store] refactor: use common_exception::Result to replace anyhow
  common/exception/src/exception.rs
  store/src/dfs/distributed_fs.rs
  store/src/executor/kv_handlers.rs
  store/src/fs/ifs.rs
  store/src/localfs/local_fs.rs
  store/src/localfs/local_fs_test.rs
  store/src/meta_service/placement.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1436 [store] feature: SledTree: add update_and_fetch() to perform an atomic conditional update
  store/src/meta_service/sled_tree.rs
  store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1440 [RFC] fusectl RFC
  website/datafuse/docs/rfcs/cli/0001-cli-design.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1379 Implement Contains operation
  common/datavalues/src/arrays/ops/contain.rs
  common/datavalues/src/arrays/ops/contain_test.rs
  common/datavalues/src/arrays/ops/mod.rs
Labels: pr-feature

#1439 [store] feature: store sequence number in sled
  store/src/executor/meta_handlers.rs
  store/src/meta_service/mod.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/seq_num.rs
  store/src/meta_service/sled_key_space.rs
  store/src/meta_service/state_machine.rs
Labels: fusestore, pr-feature

#1446 Fix read_opt_scalar and add test
  common/io/src/binary_read.rs
  common/io/src/binary_read_test.rs
Labels: pr-bugfix

#1448 [*] bump comfy-table and mark some flaky test
  Cargo.lock
  cli/Cargo.toml
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  query/Cargo.toml
  query/src/catalogs/impls/remote_meta_store_client_test.rs
  store/Cargo.toml
  store/src/meta_service/raftmeta_test.rs
Labels: pr-build

#1444 Only store the first address of state in group by transform
  common/functions/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/aggregates/aggregate_function_state.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/mod.rs
  query/Cargo.toml
  query/src/pipelines/transforms/transform_aggregator_final.rs
  query/src/pipelines/transforms/transform_aggregator_partial.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
Labels: pr-improvement

#1452 fix flaky test #1449
  query/src/catalogs/impls/remote_meta_store_client.rs
  query/src/catalogs/impls/remote_meta_store_client_test.rs
Labels: pr-bugfix

#1455 [CI] more iterations
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-improvement

#1454 Update Cargo.lock
  Cargo.lock
Labels: pr-not-for-changelog

#1450 Add slack notification.
  .github/workflows/datafuse-performance-dispatch.yaml
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/slack-notify.yml
Labels: pr-build

#1456 [Release] fix qemu issue during release
  .github/workflows/datafuse-release.yml
Labels: pr-bugfix, pr-other, pr-not-for-changelog

#1457 [CI/BUG] fix lint issue in workflow
  .github/workflows/datafuse-performance-dispatch.yaml
  .github/workflows/slack-notify.yml
Labels: pr-not-for-changelog

#1458 [store] feature: SledTree: rename range() to range_kvs(); make range() return an iter
  store/src/meta_service/sled_tree.rs
  store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1461 [store]: feature: RaftState: stores the last snapshot meta. To avoid potential repliation bug.
  store/Cargo.toml
  store/src/meta_service/raft_state.rs
  store/src/meta_service/raft_state_kv.rs
  store/src/meta_service/raft_state_test.rs
Labels: fusestore, pr-feature

#1459 [docs] Add how-to-write-aggregate-functions
  website/datafuse/docs/development/how-to-write-aggregate-functions.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1472 ISSUE-1470: remove common/allocators
  .github/actions-rs/grcov.yml
  Cargo.lock
  Cargo.toml
  common/allocators/Cargo.toml
  common/allocators/src/lib.rs
  query/Cargo.toml
  query/src/bin/datafuse-benchmark.rs
  query/src/bin/datafuse-query.rs
Labels: pr-improvement

#1479 [store] feature: applies all logs to raft state machine.
  Cargo.lock
  store/Cargo.toml
  store/src/meta_service/applied_state.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_meta.rs
  store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-feature

#1482 [store] refactor: remove RaftState::write_snapshot_meta().
  store/src/meta_service/raft_state.rs
  store/src/meta_service/raft_state_kv.rs
  store/src/meta_service/raft_state_test.rs
Labels: fusestore, pr-improvement

#1486 fix: variadic_arguments of LogicFunction should be Some((1, 2))
  common/functions/src/scalars/logics/logic.rs
Labels: pr-bugfix

#1490 DOC-1464: Datafuse design
  README.md
  website/datafuse/docs/overview/architecture.md
Labels: pr-doc-fix

#1493 DOC: Add whitepapers to website
  README.md
  website/datafuse/docs/overview/architecture.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1485 [store] refactor: use btreeset to replace hashset, to ease debugging
  Cargo.lock
  store/Cargo.toml
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-improvement

#1489 Fix: panic while reading data parts
  common/flights/src/impls/storage_api_impl.rs
  common/streams/src/sources/source.rs
  query/src/sql/plan_parser.rs
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-bugfix, pr-build, pr-not-for-changelog

#1501 [common/management] style
  common/management/src/user/user_mgr.rs
Labels: pr-not-for-changelog

#1473 issue 1349
  common/exception/src/exception.rs
  common/store-api/src/storage_api.rs
  store/src/executor/action_handler_test.rs
  store/src/executor/storage_handlers.rs
  store/src/meta_service/applied_state.rs
  store/src/meta_service/cmd.rs
  store/src/meta_service/state_machine.rs
Labels: pr-improvement

#1507 use `#[from]` attribute of `thiserror::Error` proc macro
  cli/src/error.rs
Labels: pr-not-for-changelog

#1478 sql: introduce datafuse standard AST and transformer from `sqlparser-rs`
  query/src/sql/mod.rs
  query/src/sql/parser/ast/ast_display_test.rs
  query/src/sql/parser/ast/expression.rs
  query/src/sql/parser/ast/mod.rs
  query/src/sql/parser/ast/query.rs
  query/src/sql/parser/ast/statement.rs
  query/src/sql/parser/mod.rs
  query/src/sql/parser/transformer/mod.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/parser/transformer/transform_sqlparser_test.rs
Labels: pr-improvement

#1520 chore: improve plan_tables_with_joins error
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#1522 [Perf] Larger data sets contribute to the stability of test results
  tests/perfs/perfs.yaml
Labels: pr-not-for-changelog

#1524 Add optimize histogram metric
  query/src/optimizers/metrics.rs
  query/src/optimizers/mod.rs
  query/src/optimizers/optimizer.rs
Labels: pr-other

#1523 parser: Fold table references in FROM clause
  query/src/sql/parser/ast/ast_display_test.rs
  query/src/sql/parser/ast/query.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/parser/transformer/transform_sqlparser_test.rs
Labels: pr-improvement

#1513 [store] feature: support snapshot replication.
  common/exception/src/exception.rs
  store/src/configs/config.rs
  store/src/meta_service/meta_store_test.rs
  store/src/meta_service/mod.rs
  store/src/meta_service/raft_log.rs
  store/src/meta_service/raft_state.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
  store/src/meta_service/testing.rs
Labels: fusestore, pr-feature

#1525 [clickhouse-handler] print error stacktrace in clickhouse-handler
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/clickhouse/writers/mod.rs
  query/src/servers/clickhouse/writers/query_writer.rs
Labels: pr-improvement

#1526 [store]: refactor: upgrade raft to 0.6.2-alpha.10
  Cargo.lock
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  store/Cargo.toml
  store/src/api/rpc/flight_service_test.rs
  store/src/configs/config.rs
  store/src/executor/action_handler_test.rs
  store/src/meta_service/meta_service_impl_test.rs
  store/src/meta_service/meta_store_test.rs
  store/src/meta_service/raft_log_test.rs
  store/src/meta_service/raft_state_test.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/sled_tree_test.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
  store/src/tests/service.rs
Labels: fusestore, pr-improvement

#1518 Support SHOW TABLES LIKE pattern and Where expr
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/06_0000_show_queries.sql
Labels: pr-feature

#1529 Add Group By Single Aggr perf test case
  tests/perfs/perfs.yaml
Labels: pr-build

#1530 [optimizer] make projection push down walk with expressions
  query/src/optimizers/optimizer_projection_push_down.rs
  query/src/optimizers/optimizer_projection_push_down_test.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
Labels: pr-bugfix

#1534 fix performance test flaky and add more slack supports
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-improvement

#1536 [Performance] debugging perf
  .github/workflows/datafuse-perf-docker.yml
  .github/workflows/datafuse-performance-dispatch.yaml
Labels: pr-not-for-changelog

#1540 parser: refine object names with qualified type
  query/src/sql/parser/ast/ast_display_test.rs
  query/src/sql/parser/ast/expression.rs
  query/src/sql/parser/ast/mod.rs
  query/src/sql/parser/ast/query.rs
  query/src/sql/parser/ast/statement.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
Labels: pr-improvement

#1543 [datavalues] complete null array cast
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/types/data_type_coercion.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
Labels: pr-improvement

#1541 [improvement] Add SHOW TABLES LIKE pattern and Where expr to doc
  website/datafuse/docs/sqlstatement/show-commands/show-tables.md
Labels: pr-doc-fix

#1519 [functions] add windowFunnel function
  Cargo.lock
  common/datavalues/src/data_value.rs
  common/datavalues/src/data_value_ops.rs
  common/exception/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregate_window_funnel.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/aggregator_common.rs
  common/functions/src/aggregates/macros.rs
  common/functions/src/aggregates/mod.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_function.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_rewriter.rs
  query/Cargo.toml
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/optimizers/optimizer_statistics_exact_test.rs
  query/src/sql/plan_parser.rs
  tests/suites/0_stateless/02_0011_function_window_funnel.result
  tests/suites/0_stateless/02_0011_function_window_funnel.sql
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-windowfunnel.md
  website/datafuse/mkdocs.yml
Labels: pr-feature

#1548 remove unused annotation
  query/src/sql/plan_parser.rs
Labels: pr-not-for-changelog

#1556 [deps] bump opentelemetry related dependencies
  Cargo.lock
  common/management/Cargo.toml
  common/management/src/user/user_mgr_test.rs
  common/tracing/Cargo.toml
Labels: pr-build

#1546 [store] test: fix the RaftError::Shutdown issue
  .github/workflows/unit-tests.yml
  Cargo.lock
  Cargo.toml
  common/exception/src/exception.rs
  common/stoppable/src/stoppable_test.rs
  common/tracing/Cargo.toml
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_database_create_test.rs
  store/Cargo.toml
  store/src/api/rpc/flight_service_test.rs
  store/src/api/rpc/tls_flight_service_test.rs
  store/src/api/rpc_service.rs
  store/src/executor/action_handler_test.rs
  store/src/meta_service/meta_service_impl.rs
  store/src/meta_service/meta_service_impl_test.rs
  store/src/meta_service/meta_store_test.rs
  store/src/meta_service/raft_log_test.rs
  store/src/meta_service/raft_state_test.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/sled_tree_test.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
  store/src/tests/service.rs
Labels: fusestore, pr-improvement, pr-build

#1554 Improve the datablock last/first comments in IDX-1428
  common/datablocks/src/data_block.rs
Labels: pr-improvement

#1565 [store]: refactor: turn off flaky_test.
  .github/workflows/unit-tests.yml
  query/src/catalogs/impls/remote_meta_store_client_test.rs
  store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-improvement

#1566 [tracing] enable file jaegertracing
  .gitignore
  common/tracing/src/logging.rs
Labels: pr-improvement, pr-feature

#1571 Remove unused deps checked by cargo-udeps
  Cargo.lock
  cli/Cargo.toml
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  common/functions/Cargo.toml
  common/progress/Cargo.toml
  common/tracing/Cargo.toml
  query/Cargo.toml
  store/Cargo.toml
Labels: pr-improvement

#1555 Add Support SHOW TABLES FROM statament
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  tests/suites/0_stateless/11_0000_show_tables.result
  tests/suites/0_stateless/11_0000_show_tables.sql
Labels: pr-feature

#1569 [store] refactor: add snapshot-pointer for leader to indicate replication to switch to snapshot replication
  Cargo.lock
  store/Cargo.toml
  store/src/configs/config.rs
  store/src/meta_service/meta_store_test.rs
  store/src/meta_service/raftmeta.rs
  store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-improvement

#1567 fix select string with the same name as the column return wrong result
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_common.rs
  query/src/optimizers/optimizer_constant_folding_test.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/optimizers/optimizer_statistics_exact_test.rs
  query/src/sql/plan_parser_test.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0001_select_aggregator.sql
Labels: pr-bugfix

#1576 [deps] bump sqlparser-rs, fix term
  Cargo.lock
  common/exception/Cargo.toml
  query/Cargo.toml
  query/src/sql/parser/ast/expression.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
Labels: pr-improvement, pr-build

#1577 [CLI/Bug Fix] fix unit test arg parse
  cli/src/cmds/status_test.rs
Labels: pr-bugfix

#1585 fix bug in datafuse-store docker release
  docker/bootstrap.sh
Labels: pr-bugfix

#1575 bump arrow2
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/comparison.rs
  common/datavalues/src/arrays/ops/agg.rs
  common/datavalues/src/arrays/ops/if_test.rs
  common/datavalues/src/arrays/upstream_traits.rs
  query/src/datasources/local/parquet_table.rs
  query/src/tests/parquet.rs
  store/src/data_part/appender.rs
  store/src/data_part/appender_test.rs
  store/src/executor/action_handler.rs
Labels: pr-improvement

#1589 Regulate the arguments type of if function
  common/datavalues/src/columns/conditional.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/series/comparison.rs
  common/datavalues/src/series/date_wrap.rs
  common/datavalues/src/series/wrap.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/functions/src/scalars/conditionals/if_test.rs
  tests/suites/0_stateless/02_0010_function_if.result
  tests/suites/0_stateless/02_0010_function_if.sql
Labels: pr-improvement

#1442 Object Store Data Access Layer
  Cargo.lock
  Cargo.toml
  common/cache/Cargo.toml
  common/cache/src/cache.rs
  common/cache/src/file_cache.rs
  common/cache/src/lib.rs
  common/cache/src/memory_cache.rs
  common/cache/src/overlay_cache.rs
  common/dal/Cargo.toml
  common/dal/src/blob_accessor.rs
  common/dal/src/impls/aws_s3/mod.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/aws_s3/s3_input_stream.rs
  common/dal/src/impls/aws_s3/s3_input_stream_test.rs
  common/dal/src/impls/azure_blob.rs
  common/dal/src/impls/fuse_dfs.rs
  common/dal/src/impls/local.rs
  common/dal/src/impls/mod.rs
  common/dal/src/lib.rs
  common/exception/src/exception.rs
  query/src/catalogs/impls/remote_meta_store_client_test.rs
Labels: pr-improvement, pr-feature

#1592 Add common/dal README
  common/dal/README.md
  common/dal/src/blob_accessor.rs
  common/dal/src/impls/aws_s3/mod.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/aws_s3/s3_input_stream.rs
  common/dal/src/impls/aws_s3/s3_input_stream_test.rs
  common/dal/src/impls/azure_blob.rs
  common/dal/src/impls/fuse_dfs.rs
  common/dal/src/impls/local.rs
  common/dal/src/impls/mod.rs
  common/dal/src/lib.rs
Labels: pr-improvement

#1597 clean dummy files added by accident
  common/cache/src/cache.rs
  common/cache/src/file_cache.rs
  common/cache/src/lib.rs
  common/cache/src/memory_cache.rs
  common/cache/src/overlay_cache.rs
Labels: pr-other, pr-not-for-changelog

#1636 [1635]Rename datasource to catalog
  query/src/datasources/system/databases_table.rs
  query/src/datasources/system/tables_table.rs
  query/src/interpreters/interpreter_database_create.rs
  query/src/interpreters/interpreter_database_drop.rs
  query/src/interpreters/interpreter_insert_into.rs
  query/src/interpreters/interpreter_show_create_table.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_drop.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/sessions.rs
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#1638 [common/streams] use arrow2 bitmap to improve memory usage
  common/streams/src/stream_limit_by.rs
Labels: pr-improvement, run-perf master

#1643 Move the local/system register out catalog
  query/benches/suites/mod.rs
  query/src/api/rpc/flight_dispatcher_test.rs
  query/src/api/rpc/flight_service_test.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/datasources/local/default_database.rs
  query/src/datasources/local/local_database.rs
  query/src/datasources/local/local_factory.rs
  query/src/datasources/local/mod.rs
  query/src/datasources/tests.rs
  query/src/servers/clickhouse/clickhouse_handler_test.rs
  query/src/servers/mysql/mysql_handler_test.rs
  query/src/sessions/sessions.rs
  query/src/tests/catalog.rs
  query/src/tests/context.rs
  query/src/tests/mod.rs
  query/src/tests/number.rs
  query/src/tests/sessions.rs
Labels: pr-improvement

#1644 Move catalog backend to impls
  query/src/catalogs/impls/backend.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/mod.rs
  query/src/catalogs/impls/remote_meta_store_client.rs
  query/src/catalogs/impls/remote_meta_store_client_test.rs
  query/src/catalogs/mod.rs
  query/src/datasources/local/local_database.rs
  query/src/datasources/remote/remote_database.rs
  query/src/datasources/system/system_database.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/sessions.rs
  query/src/tests/catalog.rs
Labels: pr-improvement

#1645 [1629]Improve error msg for address in use
  query/src/api/rpc_service.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/mysql/mysql_handler.rs
Labels: pr-improvement

#1646 Fix mysqlhandler log bug
  query/src/servers/mysql/mysql_handler.rs
Labels: pr-bugfix

#1649 ISSUE-1639:Remove session_api.rs
  common/flights/src/impls/mod.rs
  common/flights/src/impls/session_api_impl.rs
  common/flights/src/lib.rs
  common/flights/src/store_do_action.rs
  common/store-api/src/lib.rs
  common/store-api/src/session_api.rs
  store/src/executor/action_handler.rs
  store/src/executor/mod.rs
  store/src/executor/session_handlers.rs
Labels: pr-improvement
