Repository databendlabs/databend, pull requests merged in 2021-10, with the labels that each got.

#2036 [fix] resolve code conflicts
  kvsrv/src/executor/meta_handlers.rs
Labels: pr-bugfix

#2038 ISSUE-2037: add expression transform optimizer
  common/planners/src/plan_expression.rs
  query/src/optimizers/mod.rs
  query/src/optimizers/optimizer.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/optimizers/optimizer_expression_transform_test.rs
  query/src/optimizers/optimizer_projection_push_down.rs
  query/src/optimizers/utils.rs
Labels: pr-improvement, pr-feature

#2042 [Feature]Add toMonth date function
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature

#2044 [query] refactor: remove trait method `Table::database`
  query/src/catalogs/table.rs
  query/src/datasources/database/example/example_table.rs
  query/src/datasources/database/system/clusters_table.rs
  query/src/datasources/database/system/clusters_table_test.rs
  query/src/datasources/database/system/configs_table.rs
  query/src/datasources/database/system/configs_table_test.rs
  query/src/datasources/database/system/contributors_table.rs
  query/src/datasources/database/system/contributors_table_test.rs
  query/src/datasources/database/system/credits_table.rs
  query/src/datasources/database/system/credits_table_test.rs
  query/src/datasources/database/system/databases_table.rs
  query/src/datasources/database/system/databases_table_test.rs
  query/src/datasources/database/system/engines_table.rs
  query/src/datasources/database/system/engines_table_test.rs
  query/src/datasources/database/system/functions_table.rs
  query/src/datasources/database/system/functions_table_test.rs
  query/src/datasources/database/system/one_table.rs
  query/src/datasources/database/system/processes_table.rs
  query/src/datasources/database/system/settings_table.rs
  query/src/datasources/database/system/settings_table_test.rs
  query/src/datasources/database/system/system_database.rs
  query/src/datasources/database/system/tables_table.rs
  query/src/datasources/database/system/tables_table_test.rs
  query/src/datasources/database/system/tracing_table.rs
  query/src/datasources/database/system/tracing_table_test.rs
  query/src/datasources/table/csv/csv_table.rs
  query/src/datasources/table/fuse/table.rs
  query/src/datasources/table/memory/memory_table.rs
  query/src/datasources/table/null/null_table.rs
  query/src/datasources/table/parquet/parquet_table.rs
  query/src/datasources/table/remote/remote_table.rs
  query/src/datasources/table_func/numbers_table.rs
Labels: pr-improvement, kvsrv

#2045 expression transformer case insenstive
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/optimizers/optimizer_expression_transform_test.rs
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#2043 Extract function features
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/comparisons/comparison_eq.rs
  common/functions/src/scalars/comparisons/comparison_gt.rs
  common/functions/src/scalars/comparisons/comparison_gt_eq.rs
  common/functions/src/scalars/comparisons/comparison_like.rs
  common/functions/src/scalars/comparisons/comparison_lt.rs
  common/functions/src/scalars/comparisons/comparison_lt_eq.rs
  common/functions/src/scalars/comparisons/comparison_not_eq.rs
  common/functions/src/scalars/comparisons/comparison_not_like.rs
  common/functions/src/scalars/conditionals/conditional.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/now.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/dates/simple_date.rs
  common/functions/src/scalars/dates/week_date.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/function.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/hashes/hash.rs
  common/functions/src/scalars/hashes/siphash.rs
  common/functions/src/scalars/logics/logic.rs
  common/functions/src/scalars/logics/logic_and.rs
  common/functions/src/scalars/logics/logic_not.rs
  common/functions/src/scalars/logics/logic_or.rs
  common/functions/src/scalars/mod.rs
  common/functions/src/scalars/nullables/is_not_null.rs
  common/functions/src/scalars/nullables/is_null.rs
  common/functions/src/scalars/nullables/nullable.rs
  common/functions/src/scalars/others/other.rs
  common/functions/src/scalars/others/running_difference_function.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/substring.rs
  common/functions/src/scalars/udfs/crash_me.rs
  common/functions/src/scalars/udfs/database.rs
  common/functions/src/scalars/udfs/exists.rs
  common/functions/src/scalars/udfs/sleep.rs
  common/functions/src/scalars/udfs/to_type_name.rs
  common/functions/src/scalars/udfs/udf.rs
  common/functions/src/scalars/udfs/udf_example.rs
  common/functions/src/scalars/udfs/version.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_validator.rs
  query/src/datasources/database/system/functions_table.rs
  query/src/functions/context_function.rs
  query/src/optimizers/optimizer_constant_folding.rs
Labels: pr-not-for-changelog

#2048 Remove IndexMap for AggregateFunctionFactory
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_stddev_pop.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregate_window_funnel.rs
  common/functions/src/aggregates/aggregator.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  query/src/datasources/database/system/functions_table.rs
  query/src/functions/context_function.rs
  query/src/sql/plan_parser.rs
Labels: pr-not-for-changelog

#2047 Using function features for expression transform optimizer
  common/functions/src/scalars/function_factory.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/optimizers/optimizer_expression_transform_test.rs
Labels: pr-not-for-changelog

#2050 [Feature]Add toDayOfYear/toDayOfMonth/toDayOfWeek
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature

#2052 [temp-fix] rm meta first when stateless-test
  Makefile
  scripts/build/build-debug.sh
  scripts/build/build-native.sh
  scripts/build/build-release.sh
  scripts/deploy/databend-query-standalone.sh
Labels: pr-bugfix, pr-build, pr-not-for-changelog

#2053 [docs] add license and credits
  .github/workflows/github-pages.yml
  website/databend/.gitignore
  website/databend/Makefile
  website/databend/docs/policies/license.md
  website/databend/setup.py
Labels: pr-doc-fix

#2064 [query] refactor: remove FuseTable method: save_snapshot() and save_segment(). An impl of trait Table should not deal with the IO
  common/catalog/src/table_snapshot.rs
  query/src/datasources/table/fuse/table.rs
Labels: pr-improvement, pr-feature

#2065 [common/base] feature: introduce trait `TrySpawn` to define methods to spawn an async task
  Cargo.lock
  common/base/src/lib.rs
  common/base/src/runtime.rs
  common/kv-apis/api/Cargo.toml
  common/kv-apis/api/src/kv_api_sync.rs
  common/kv/src/kv.rs
  common/store-api-sdk/Cargo.toml
  common/store-api-sdk/src/store_client.rs
  query/src/api/rpc/flight_dispatcher.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/datasources/dal/blob_accessor.rs
  query/src/datasources/table/fuse/io/reader_util.rs
  query/src/pipelines/processors/processor_merge.rs
  query/src/pipelines/processors/processor_mixed.rs
  query/src/pipelines/transforms/transform_create_sets.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/clickhouse/clickhouse_session.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/mysql/mysql_handler.rs
  query/src/sessions/context.rs
Labels: pr-feature

#2073 META-2070: kvsrv -> metasrv
  .github/workflows/unit-tests.yml
  Cargo.lock
  Cargo.toml
  common/kv/src/kv.rs
  common/kv/src/lib.rs
  common/metatypes/src/log_entry.rs
  common/raft-store/src/config.rs
  metasrv/Cargo.toml
  metasrv/README.md
  metasrv/build.rs
  metasrv/proto/meta.proto
  metasrv/src/api/flight_server.rs
  metasrv/src/api/http/debug/home.rs
  metasrv/src/api/http/debug/mod.rs
  metasrv/src/api/http/debug/pprof.rs
  metasrv/src/api/http/mod.rs
  metasrv/src/api/http/v1/config.rs
  metasrv/src/api/http/v1/config_test.rs
  metasrv/src/api/http/v1/health.rs
  metasrv/src/api/http/v1/health_test.rs
  metasrv/src/api/http/v1/mod.rs
  metasrv/src/api/http_service.rs
  metasrv/src/api/http_service_test.rs
  metasrv/src/api/mod.rs
  metasrv/src/api/rpc/flight_service.rs
  metasrv/src/api/rpc/metrics.rs
  metasrv/src/api/rpc/mod.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/configs/config.rs
  metasrv/src/configs/config_test.rs
  metasrv/src/configs/mod.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/executor/mod.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/errors.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/meta_store_test.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/network.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/metrics/metric_service.rs
  metasrv/src/metrics/mod.rs
  metasrv/src/tests/mod.rs
  metasrv/src/tests/service.rs
  metasrv/src/tests/tls_constants.rs
  metasrv/tests/flight/main.rs
  metasrv/tests/flight/metasrv_flight_api.rs
  metasrv/tests/flight/metasrv_flight_tls.rs
Labels: pr-improvement

#2076 ISSUE-2074: Deprecate remote table and common/dfs-apis
  Cargo.lock
  Cargo.toml
  common/dfs-apis/README.md
  common/dfs-apis/api/Cargo.toml
  common/dfs-apis/api/src/dfs_api.rs
  common/dfs-apis/api/src/lib.rs
  common/dfs-apis/vo/Cargo.toml
  common/dfs-apis/vo/src/lib.rs
  common/raft-store/Cargo.toml
  common/raft-store/src/state_machine/applied_state.rs
  common/raft-store/src/state_machine/sm.rs
  common/store-api-sdk/Cargo.toml
  common/store-api-sdk/src/impl_flights/mod.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl_utils.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl_utils_test.rs
  common/store-api-sdk/src/lib.rs
  common/store-api-sdk/src/store_do_get.rs
  query/Cargo.toml
  query/src/common/storeapi/store_api_provider.rs
  query/src/datasources/table/fuse/io/block_appender.rs
  query/src/datasources/table/mod.rs
  query/src/datasources/table/prelude.rs
  query/src/datasources/table/remote/mod.rs
  query/src/datasources/table/remote/remote_table.rs
  query/src/datasources/table/remote/remote_table_do_read.rs
Labels: pr-improvement

#2083 new dal-s3 constructor (with_credentials)
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/aws_s3/s3_input_stream_test.rs
Labels: pr-improvement, pr-not-for-changelog

#2529 [common/meta/embedded] refactor: move kv_api impl into standalone file
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/embedded/src/lib.rs
  common/meta/embedded/src/meta_embedded.rs
Labels: pr-improvement

#2536 CI: fix embedded config missing field azure_storage_blob
  scripts/deploy/config/databend-query-embedded-meta.toml
Labels: pr-build

#2530 [bendctl] introduce fn subcommands() to the Command trait
  cli/src/cmds/clusters/cluster.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/create_test.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/command.rs
  cli/src/cmds/comments/comment.rs
  cli/src/cmds/config.rs
  cli/src/cmds/helps/help.rs
  cli/src/cmds/packages/package.rs
  cli/src/cmds/processor.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/ups/up.rs
  cli/src/cmds/versions/version.rs
Labels: pr-improvement

#2471 ISSUE-2464:Data-driven testing style improvement
  common/datavalues/src/arrays/arithmetic_test.rs
  common/functions/src/scalars/dates/date_function_test.rs
Labels: pr-improvement

#2545 CLI: Refine the writer format and the message hints
  cli/src/cmds/clusters/cluster.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/config.rs
  cli/src/cmds/helps/help.rs
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/packages/package.rs
  cli/src/cmds/packages/switch.rs
  cli/src/cmds/processor.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/ups/up.rs
  cli/src/cmds/writer.rs
  website/databend/docs/cli/cli.md
Labels: pr-improvement

#2549 [deps] bump tracing*
  Cargo.lock
  Cargo.toml
  common/metrics/Cargo.toml
  common/metrics/src/recorder.rs
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
Labels: pr-build, pr-not-for-changelog

#2544 fix: update file descriptor limit for debug test
  Makefile
Labels: pr-bugfix

#2546 [bendctl] continue #2530 on the package subcommands
  cli/src/cmds/clusters/cluster.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/command.rs
  cli/src/cmds/config.rs
  cli/src/cmds/helps/help.rs
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/packages/list.rs
  cli/src/cmds/packages/package.rs
  cli/src/cmds/packages/switch.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/ups/up.rs
  cli/src/cmds/versions/version.rs
Labels: pr-improvement

#2550 Support create user statement step one
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_user_create.rs
  common/planners/src/plan_visitor.rs
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
Labels: pr-feature

#2515 Add top_n plan optimizer
  common/planners/src/plan_builder_scan.rs
  common/planners/src/plan_display_indent.rs
  common/planners/src/plan_extras.rs
  common/planners/src/plan_extras_test.rs
  query/src/interpreters/interpreter_explain_test.rs
  query/src/optimizers/mod.rs
  query/src/optimizers/optimizer.rs
  query/src/optimizers/optimizer_constant_folding_test.rs
  query/src/optimizers/optimizer_expression_transform_test.rs
  query/src/optimizers/optimizer_projection_push_down_test.rs
  query/src/optimizers/optimizer_scatters_test.rs
  query/src/optimizers/optimizer_statistics_exact_test.rs
  query/src/optimizers/optimizer_test.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/optimizers/optimizer_top_n_push_down_test.rs
  query/src/pipelines/processors/pipeline_builder_test.rs
  query/src/sql/plan_parser_test.rs
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display_cluster.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
Labels: pr-feature

#2552 [fix]: resolve ulimit error in makefile
  Makefile
Labels: pr-bugfix

#2553 ISSUE-2542 fix server hang when use wait in entrypoint
  common/base/src/runtime.rs
  common/macros/src/async_entrypoint.rs
  query/src/servers/mysql/mysql_handler.rs
Labels: pr-bugfix
