Repository databendlabs/databend, pull requests merged in 2021-07, with the labels that each got.

#958 doc: move aggregate if from combinator
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-avg-if.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-combinator.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-count-if.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-max-if.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-min-if.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-sum-if.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#959 refactoring(store): store no longer depends on common-store-api directly
  Cargo.lock
  common/flights/src/impls/kv_api_impl.rs
  common/flights/src/impls/meta_api_impl.rs
  common/flights/src/impls/storage_api_impl.rs
  common/flights/src/impls/storage_api_impl_utils_test.rs
  common/flights/src/lib.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/api/rpc/flight_service.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/data_part/appender.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/executor/kv_handlers.rs
  fusestore/store/src/executor/meta_handlers.rs
  fusestore/store/src/executor/storage_handlers.rs
Labels: pr-bugfix, pr-build, pr-doc-fix, pr-feature, pr-not-for-changelog, pr-other, pr-performance

#963 [kernels] improve group by
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datavalues/src/columns/common.rs
  common/management/src/user/utils.rs
Labels: pr-improvement

#971 docs: update performance to datafuse-v0.4.40-nightly
  README.md
  website/datafuse/docs/development/profiling.md
  website/datafuse/docs/development/roadmap.md
  website/datafuse/docs/overview/performance.md
Labels: pr-doc-fix

#973 fix doc typo
  website/datafuse/docs/rfcs/store/0001-store-design.md
Labels: pr-doc-fix

#972 ISSUE-822: add allocators and set fuse-query default malloc to snmalloc
  .github/actions-rs/grcov.yml
  Cargo.lock
  Cargo.toml
  README.md
  common/allocators/Cargo.toml
  common/allocators/src/lib.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/bin/fuse-benchmark.rs
  fusequery/query/src/bin/fuse-query.rs
  website/datafuse/docs/overview/performance.md
Labels: pr-performance

#975 [function] siphash64
  common/functions/src/scalars/hashes/hash.rs
  tests/suites/0_stateless/02_0009_function_siphash64.result
  tests/suites/0_stateless/02_0009_function_siphash64.sql
  website/datafuse/docs/sqlstatement/hash-functions/siphash.md
Labels: pr-feature

#979 fix rls component error
  rust-toolchain
Labels: pr-build

#980 support show create table
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_show_table_create.rs
  common/planners/src/plan_visitor.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/interpreter_show_create_table.rs
  fusequery/query/src/interpreters/interpreter_show_create_table_test.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_statement.rs
Labels: pr-feature

#983 Allocator feature disable by default
  fusequery/query/Cargo.toml
Labels: pr-bugfix

#978 Improve group by modulo
  Cargo.lock
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/arrays/ops/cast_test.rs
  common/datavalues/src/arrays/ops/mod.rs
  common/datavalues/src/data_type_coercion.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/data_value_ops.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/series/mod.rs
  common/datavalues/src/series/series_debug.rs
  common/exception/Cargo.toml
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/scalars/strings/substring.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_scatters_test.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusequery/query/src/sql/sql_common.rs
  tests/suites/0_stateless/02_0001_function_to_type_name.result
  tests/suites/0_stateless/02_0001_function_to_type_name.sql
  tests/suites/0_stateless/02_0009_function_siphash64.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
  website/datafuse/docs/development/tracing.md
  website/datafuse/docs/rfcs/query/0003-data-shuffle.md
Labels: pr-improvement

#986 [sql] more custom types parser support
  Cargo.lock
  common/exception/Cargo.toml
  fusequery/query/Cargo.toml
  fusequery/query/src/sql/sql_common.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
Labels: pr-bugfix, pr-build, pr-doc-fix, pr-feature, pr-improvement, pr-not-for-changelog, pr-other

#984 [store]: refactor: Cmd::UpsertKV use MatchSeq to specify what seq to match
  common/flights/src/impls/kv_api_impl.rs
  common/flights/src/store_do_action.rs
  common/management/Cargo.toml
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/metatypes/src/lib.rs
  common/store-api/src/kv_api.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/kv_handlers.rs
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-improvement

#994 [common/metatypes] feature: complete MatchSeq: add display, matching impl, errors etc
  Cargo.lock
  common/metatypes/Cargo.toml
  common/metatypes/src/errors.rs
  common/metatypes/src/lib.rs
  common/metatypes/src/match_seq.rs
  common/metatypes/src/match_seq_test.rs
Labels: pr-feature

#995 [docs] add default host & port for clickhouse cli
  website/datafuse/docs/overview/building-and-running.md
Labels: pr-doc-fix, pr-not-for-changelog

#996 [store] refactor: simplify user-apis with map_err_to_code() and MatchSeq
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
Labels: pr-improvement

#998 [common/metatypes] feature: make match_seq() a generic method
  common/management/src/user/user_mgr.rs
  common/metatypes/src/lib.rs
  common/metatypes/src/match_seq.rs
  common/metatypes/src/match_seq_test.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: pr-feature

#1006 docs: add show create table to document
  website/datafuse/docs/sqlstatement/show-commands/show-create-table.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1007 [store] test: add test for meta-op DeleteKV
  common/flights/src/impls/kv_api_impl.rs
  fusestore/store/src/executor/kv_handlers.rs
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-build, pr-improvement

#1008 [doc] refine: add star gazers trend
  README.md
Labels: pr-improvement

#1005 [ci] add basic build cache
  .github/workflows/cargo.yml
  .github/workflows/datafuse-build.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
Labels: pr-build

#1009 docs: update the rustc version
  README.md
  website/datafuse/docs/overview/performance.md
  website/datafuse/docs/sqlstatement/hash-functions/siphash.md
Labels: pr-doc-fix

#1013 [ci] fix gcov install failed
  .github/workflows/unit-tests.yml
Labels: pr-build, pr-not-for-changelog

#1016 [ci] restroe friendly
  .github/workflows/cargo.yml
  .github/workflows/datafuse-build.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
Labels: pr-build, pr-not-for-changelog

#1029 [query] support describe statement #1028
  common/planners/src/lib.rs
  common/planners/src/plan_describe_table.rs
  common/planners/src/plan_describe_table_test.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  fusequery/query/src/interpreters/interpreter_describe_table.rs
  fusequery/query/src/interpreters/interpreter_describe_table_test.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_parser_test.rs
  fusequery/query/src/sql/sql_statement.rs
  tests/suites/0_stateless/10_0000_describe_table.result
  tests/suites/0_stateless/10_0000_describe_table.sql
  tests/suites/0_stateless/README.md
  website/datafuse/docs/sqlstatement/describe-commands/describe-table.md
  website/datafuse/mkdocs.yml
Labels: pr-feature

#1019 aggregate state
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datablocks/src/kernels/data_block_group_by_hash_test.rs
  common/datablocks/src/kernels/data_block_group_by_test.rs
  common/datablocks/src/kernels/data_block_sort.rs
  common/datablocks/src/kernels/data_block_take.rs
  common/datablocks/src/kernels/data_block_take_test.rs
  common/datablocks/src/kernels/mod.rs
  common/datablocks/src/lib.rs
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/builders/builder.rs
  common/datavalues/src/arrays/kernels/iterator.rs
  common/datavalues/src/arrays/ops/downcast.rs
  common/datavalues/src/arrays/ops/group_hash.rs
  common/datavalues/src/arrays/ops/take_random.rs
  common/datavalues/src/data_value_ops.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/series/date_wrap.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
  common/functions/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_max.rs
  common/functions/src/aggregates/aggregate_arg_min.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_batch_test.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_combinator_test.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregate_function_state.rs
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_max.rs
  common/functions/src/aggregates/aggregate_min.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/mod.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  common/streams/src/stream_limit_by.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial_test.rs
Labels: pr-improvement

#1033 improve modulo functions and number streams
  common/datavalues/src/arrays/arithmetic.rs
  common/datavalues/src/arrays/kernels/take.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/series/date_wrap.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
  common/datavalues/src/vec.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
Labels: pr-improvement

#1034 Update performance with v0.4.48
  README.md
  website/datafuse/docs/overview/performance.md
Labels: pr-doc-fix

#1035 [store]: upgrade to async-raft 0.6.2-alpha.4, fix bugs and improve:
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/configs/config.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: pr-other

#1031 Try to add function
  common/functions/src/scalars/expressions/cast.rs
  common/functions/src/scalars/expressions/cast_test.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/expressions/mod.rs
  common/functions/src/scalars/function_factory.rs
  common/planners/src/plan_expression_action.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
  tests/suites/0_stateless/03_0009_select_exists.sql
Labels: pr-not-for-changelog

#1047 configure S3 storage for performance tests
  tests/perfs/compare.py
  tests/perfs/perfs.py
Labels: pr-feature

#1044 [store] refine: upgrade async-raft to 0.6.2-alpha.5
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/meta_service/raftmeta.rs
Labels: pr-improvement

#1053 dns resolver for fuse-benchmark
  .github/workflows/datafuse-docker-release.yaml
  fusequery/query/src/bin/fuse-benchmark.rs
Labels: pr-feature

#1056 [store] feature: sled backed raft state
  Cargo.lock
  common/exception/src/exception.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/network.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/snapshot.rs
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-feature, pr-improvement

#1063 ISSUE-364 remove anyhow for FuseQuery
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/src/datasources/common_test.rs
Labels: pr-not-for-changelog

#1062 [store] test: when creating MetaNode, the guard(in StoreTestContext) for the temp dir storing raft state must be kept during every case
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-build, pr-improvement

#1064 [store] test: move cluster setting up to setup_cluster()
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-build, pr-improvement

#1066 [store] feature: reopen a MetaStore
  fusestore/store/src/meta_service/meta_store_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: pr-feature, pr-improvement

#1067 [store] refactor: move trait RaftStateSerde to SledSerde and make it public for other component that needs to access sled db
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/sled_serde.rs
Labels: pr-improvement

#1068 Remove useless PlanWalker
  common/planners/src/lib.rs
  common/planners/src/plan_walker.rs
  common/planners/src/plan_walker_test.rs
Labels: pr-not-for-changelog

#1069 ISSUE-364 remove anyhow for commons
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/data_block_test.rs
  common/datablocks/src/kernels/data_block_concat_test.rs
  common/datablocks/src/kernels/data_block_group_by_hash_test.rs
  common/datablocks/src/kernels/data_block_group_by_test.rs
  common/datablocks/src/kernels/data_block_scatter_test.rs
  common/datablocks/src/kernels/data_block_sort_test.rs
  common/datablocks/src/kernels/data_block_take_test.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/data_array_filter_test.rs
  common/datavalues/src/macros.rs
  common/functions/Cargo.toml
  common/functions/src/scalars/function_column_test.rs
  common/functions/src/scalars/udfs/database_test.rs
  common/functions/src/scalars/udfs/udf_example_test.rs
  common/functions/src/scalars/udfs/version_test.rs
  common/planners/Cargo.toml
  common/planners/src/plan_aggregator_test.rs
  common/planners/src/plan_builder_test.rs
  common/planners/src/plan_describe_table_test.rs
  common/planners/src/plan_display_test.rs
  common/planners/src/plan_explain_test.rs
  common/planners/src/plan_expression_test.rs
  common/planners/src/plan_extras_test.rs
  common/planners/src/plan_filter_test.rs
  common/planners/src/plan_having_test.rs
  common/planners/src/plan_limit_test.rs
  common/planners/src/plan_projection_test.rs
  common/planners/src/plan_rewriter_test.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/plan_select_test.rs
  common/planners/src/test.rs
  common/progress/Cargo.toml
  common/progress/src/progress_test.rs
  common/runtime/Cargo.toml
  common/runtime/src/runtime_test.rs
  common/streams/Cargo.toml
  common/streams/src/stream_progress_test.rs
Labels: pr-not-for-changelog

#1073 ISSUE-1072: add show processlist to doc website
  website/datafuse/docs/sqlstatement/show-commands/show-processlist.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1075 Try fix dead lock when destroy sessions
  fusequery/query/src/sessions/sessions.rs
Labels: pr-bugfix

#1076 [store] feature: ser/de with value order preserved
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/node_id.rs
  fusestore/store/src/meta_service/node_id_test.rs
  fusestore/store/src/meta_service/raft_state.rs
  fusestore/store/src/meta_service/sled_serde.rs
  fusestore/store/src/meta_service/sled_serde_test.rs
Labels: pr-feature

#1077 [store] test: add new_sled_test_context() to create a context for sled related test
  fusestore/store/src/meta_service/raft_state_test.rs
  fusestore/store/src/tests/service.rs
Labels: pr-build, pr-improvement

#1070 Bump deps
  .gitignore
  Cargo.lock
  common/arrow/Cargo.toml
  common/flights/src/impls/storage_api_impl.rs
  fusequery/query/Cargo.toml
  fusestore/store/Cargo.toml
  fusestore/store/src/data_part/appender_test.rs
  fusestore/store/src/executor/meta_handlers.rs
Labels: pr-build

#1084 ci: add rust audit check
  .github/workflows/rust-audit.yml
Labels: pr-build

#1083 [datavalue] Add unit test for agg.rs
  common/datavalues/src/arrays/ops/agg_test.rs
  common/datavalues/src/arrays/ops/mod.rs
Labels: pr-build

#1098 [pipeline] add mixed processor
  common/datablocks/src/kernels/data_block_slice.rs
  common/datablocks/src/kernels/data_block_slice_test.rs
  common/datablocks/src/kernels/mod.rs
  fusequery/query/src/pipelines/processors/mod.rs
  fusequery/query/src/pipelines/processors/pipeline.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/processors/pipeline_display.rs
  fusequery/query/src/pipelines/processors/processor_mixed.rs
  fusequery/query/src/pipelines/processors/processor_mixed_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final_test.rs
  tests/suites/0_stateless/04_0001_explain_pipeline.result
  tests/suites/0_stateless/04_0001_explain_pipeline.sql
Labels: pr-improvement

#1078 [store] feature: add RaftLog: a sled db backed raft log storage
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/log_entry.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
Labels: fusestore, pr-feature

#1103 [store] feature: add RaftLog::get(index) to get a single log.
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
  fusestore/store/src/meta_service/raft_types.rs
  fusestore/store/src/meta_service/raft_types_test.rs
Labels: fusestore, pr-feature

#1105 [store] feature: RaftLog::insert() to insert a single log
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
Labels: fusestore, pr-feature

#1108 [store] feature: MetaStore uses sled db backed RaftLog to store logs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-feature

#1104 Bump mysql, nom and pprof
  Cargo.lock
  common/profiling/Cargo.toml
  fusequery/query/Cargo.toml
  fusequery/query/src/servers/mysql/mysql_handler_test.rs
Labels: pr-build

#1089 [datavalues] add unit tests for apply
  common/datavalues/src/arrays/ops/apply_test.rs
  common/datavalues/src/arrays/ops/mod.rs
Labels: pr-build

#1111 [store] refactor: upgrade to async-raft 0.6.2-alpha.6: use LogId to track last applied log
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1110 Split query config tests and ignore some of them
  fusequery/query/src/configs/config_test.rs
Labels: pr-build, pr-not-for-changelog

#1113 fix show processlist not show extra_info in ClickHouse client
  fusequery/query/src/servers/clickhouse/interactive_worker.rs
Labels: pr-bugfix

#1116 [store] add config of raft heartbeat and snapshot
  fusestore/store/src/configs/config.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-improvement

#1118 refine: remove context create
  Cargo.lock
  Cargo.toml
  fusequery/benchmarks/README.md
  fusequery/benchmarks/nyctaxi/Cargo.toml
  fusequery/benchmarks/nyctaxi/src/bin/nyctaxi.rs
  fusequery/benchmarks/nyctaxi/src/lib.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
  fusequery/query/src/sessions/context.rs
Labels: pr-improvement

#1088 Constant folding
  common/functions/src/scalars/function.rs
  common/functions/src/scalars/udfs/crash_me.rs
  common/functions/src/scalars/udfs/database.rs
  common/functions/src/scalars/udfs/exists.rs
  common/functions/src/scalars/udfs/sleep.rs
  common/functions/src/scalars/udfs/version.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_literal.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/api/rpc/flight_actions_test.rs
  fusequery/query/src/api/rpc/flight_dispatcher_test.rs
  fusequery/query/src/api/rpc/flight_scatter_hash.rs
  fusequery/query/src/api/rpc/flight_service_test.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/functions/context_function.rs
  fusequery/query/src/interpreters/plan_scheduler_test.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/optimizers/optimizer_constant_folding.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_scatters.rs
  fusequery/query/src/optimizers/optimizer_statistics_exact.rs
  fusequery/query/src/optimizers/optimizer_statistics_exact_test.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_common.rs
  fusequery/query/src/tests/number.rs
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer.sql
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
Labels: pr-improvement

#1122 [store] refactor: use mono-incr port instead of rand port, to avoid potential port conflict during test
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-improvement

#1120 [datavalues] add basic test for AlignedVec and make it better
  common/datavalues/src/lib.rs
  common/datavalues/src/vec.rs
  common/datavalues/src/vec_test.rs
Labels: pr-build, pr-improvement

#1126 [deps] switch to comfy-table from prettytable
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/data_block_debug.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/series/series_debug.rs
Labels: pr-improvement

#1131 DOC-1130: http api
  website/datafuse/docs/api/config.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1121 [Build/Testing/CI]install.sh and docker release
  Makefile
  docker/release/Dockerfile
  installer/install-datafuse.sh
Labels: pr-build, pr-feature

#1023 Change database, table and data parts operations from meta to meta_node
  common/flights/src/impls/meta_api_impl.rs
  common/flights/src/store_do_action.rs
  common/metatypes/src/lib.rs
  common/store-api/src/meta_api.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/executor/meta_handlers.rs
  fusestore/store/src/executor/storage_handlers.rs
  fusestore/store/src/meta_service/applied_state.rs
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-improvement

#1138 remove jq and add download progress bar
  docker/README.md
  docker/release/Dockerfile
  scripts/installer/install-datafuse.sh
Labels: pr-build, pr-improvement

#1143 DOC-1142: add conversion functions
  website/datafuse/docs/sqlstatement/conversion-functions/type-conversion.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1141 Add drop database test for action_handler
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/executor/meta_handlers.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: pr-improvement

#1145 DOC: add CAST
  website/datafuse/docs/sqlstatement/conversion-functions/cast.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1147 [Doc/Build/Testing] rename fuse-query to datafuse
  .github/workflows/datafuse-docker.yml
  Makefile
  docker/release/Dockerfile
  website/datafuse/docs/overview/building-and-running.md
Labels: pr-build, pr-doc-fix, pr-not-for-changelog, pr-other

#1135 [datavalues] add unit tests for downcast
  common/datavalues/src/arrays/ops/downcast_test.rs
  common/datavalues/src/arrays/ops/mod.rs
  fusestore/store/src/tests/service.rs
Labels: pr-build

#1152 [test] add miri check
  Makefile
  scripts/setup/dev_setup.sh
Labels: pr-build

#1156 STORE: refine the log format
  fusestore/store/src/data_part/appender_test.rs
  fusestore/store/src/executor/storage_handlers.rs
  fusestore/store/src/localfs/local_fs.rs
  fusestore/store/src/localfs/local_fs_test.rs
Labels: pr-improvement, pr-not-for-changelog

#1155 [datavalues] add unit tests for fill
  common/datavalues/src/arrays/ops/downcast_test.rs
  common/datavalues/src/arrays/ops/fill.rs
  common/datavalues/src/arrays/ops/fill_test.rs
  common/datavalues/src/arrays/ops/mod.rs
Labels: pr-build, testing

#1161 Add More Cast Functions
  Cargo.lock
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/hashes/hash.rs
  common/functions/src/scalars/logics/logic.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/udfs/udf.rs
  fusequery/query/Cargo.toml
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
Labels: pr-improvement

#1160 [store] feature: add SledTree<K, V> to provided typed access to sled tree.
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1164 [store] feature: SledTree: add range_keys() to retrieve keys in a range
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1165 [fix] remove the unused module
  fusequery/query/benches/suites/mod.rs
Labels: pr-bugfix

#1166 [store] feature: SledTree::insert() returns the last set one if it overrides
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
Labels: fusestore, pr-feature

#1171 DOC-1163: add create/drop table
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-create-table.md
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-drop-table.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1172 [typo] JSONEachRaw => JSONEachRow
  common/planners/src/plan_display_test.rs
  common/planners/src/plan_table_create.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_parser_test.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-create-table.md
Labels: pr-improvement

#1169 db meta versioning & Store API for syncing db meta
  common/flights/src/impls/meta_api_impl.rs
  common/flights/src/store_do_action.rs
  common/store-api/src/lib.rs
  common/store-api/src/meta_api.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/meta_handlers.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: pr-feature

#1173 fix: typo not up to date
  fusestore/store/src/api/rpc/flight_service_test.rs
Labels: fusestore, pr-bugfix

#1178 DOC-1162: add insert
  website/datafuse/docs/sqlstatement/data-manipulation-language-dml/dml-insert.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1179 DOC-1167: add data types
  website/datafuse/docs/datatypes/float.md
  website/datafuse/docs/datatypes/integer.md
  website/datafuse/docs/datatypes/string.md
  website/datafuse/docs/sqlstatement/data-types/data-type-integer-number.md
  website/datafuse/docs/sqlstatement/data-types/data-type-real-number.md
  website/datafuse/docs/sqlstatement/data-types/data-type-string-types.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1180 [store] refactor: fix lint issues in tests
  fusestore/store/src/api/rpc/flight_service_test.rs
Labels: fusestore, pr-improvement

#1181 [store] feature: add SledVarTypeTree to store more than one types of key-value in one sled::Tree.
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_types.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
  fusestore/store/src/meta_service/sledkv.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: fusestore, pr-feature

#1183 STORE-1157: add admin REST api
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/api/http/debug/home.rs
  fusestore/store/src/api/http/debug/mod.rs
  fusestore/store/src/api/http/debug/pprof.rs
  fusestore/store/src/api/http/mod.rs
  fusestore/store/src/api/http/router.rs
  fusestore/store/src/api/http/v1/config.rs
  fusestore/store/src/api/http/v1/mod.rs
  fusestore/store/src/api/http_service.rs
  fusestore/store/src/api/mod.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
Labels: pr-feature

#1182 [store] feature: SledVarTypeTree::as_type() borrows the tree and limit accesses to a specified namespace
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
Labels: fusestore, pr-feature

#1190 WEBSITE: refine the desc
  website/datafuse/mkdocs.yml
  website/datafuse/src/overrides/home.html
Labels: pr-doc-fix

#1185 [datavalues] unit test for group_hash
  common/datavalues/src/arrays/ops/group_hash_test.rs
  common/datavalues/src/arrays/ops/mod.rs
Labels: pr-build

#1194 [datavalues] add unit test for scatter
  common/datavalues/src/arrays/ops/mod.rs
  common/datavalues/src/arrays/ops/scatter.rs
  common/datavalues/src/arrays/ops/scatter_test.rs
Labels: pr-build

#1188 [query] support truncate table statement #1158
  common/flights/src/impls/storage_api_impl.rs
  common/flights/src/store_do_action.rs
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_truncate_table.rs
  common/planners/src/plan_visitor.rs
  common/store-api/src/lib.rs
  common/store-api/src/storage_api.rs
  fusequery/query/src/datasources/local/memory_table.rs
  fusequery/query/src/datasources/local/memory_table_test.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/null_table_test.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/table.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/interpreter_truncate_table.rs
  fusequery/query/src/interpreters/interpreter_truncate_table_test.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_parser_test.rs
  fusequery/query/src/sql/sql_statement.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/storage_handlers.rs
  tests/suites/0_stateless/05_0003_ddl_truncate_table.result
  tests/suites/0_stateless/05_0003_ddl_truncate_table.sql
  tests/suites/0_stateless/09_0002_remote_truncate_table.result
  tests/suites/0_stateless/09_0002_remote_truncate_table.sql
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-truncate-table.md
  website/datafuse/mkdocs.yml
Labels: pr-feature

#1196 [common/tracing] fix: enable setting tracing level from env: RUST_LOG=debug
  common/tracing/src/logging.rs
Labels: pr-bugfix

#1176 Add meta_id and meta_version to table meta
  Cargo.lock
  common/datavalues/src/arrays/ops/scatter_test.rs
  common/metatypes/src/lib.rs
  common/planners/Cargo.toml
  common/planners/src/lib.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_builder_scan.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/src/plan_scan.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/test.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/catalog/constants.rs
  fusequery/query/src/catalog/database_catalog.rs
  fusequery/query/src/catalog/mod.rs
  fusequery/query/src/catalog/utils.rs
  fusequery/query/src/datasources/database.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/local_database.rs
  fusequery/query/src/datasources/local/memory_table.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/parquet_table.rs
  fusequery/query/src/datasources/mod.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/remote_table_do_read.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/processes_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/system_database.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/datasources/system/tracing_table.rs
  fusequery/query/src/datasources/tests.rs
  fusequery/query/src/interpreters/interpreter_describe_table.rs
  fusequery/query/src/interpreters/interpreter_insert_into.rs
  fusequery/query/src/interpreters/interpreter_show_create_table.rs
  fusequery/query/src/interpreters/interpreter_truncate_table.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/lib.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_scatters.rs
  fusequery/query/src/optimizers/optimizer_statistics_exact.rs
  fusequery/query/src/optimizers/optimizer_statistics_exact_test.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/context_shared.rs
  fusequery/query/src/sessions/session.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/tests/number.rs
Labels: pr-feature

#1199 bug fix: correct the docs for scatter_unchecked
  common/datavalues/src/arrays/ops/scatter.rs
Labels: pr-bugfix

#1198 bug fix: clean data parts metadata while dropping table
  fusestore/store/src/meta_service/state_machine.rs
  tests/suites/0_stateless/09_0003_remote_drop_table.result
  tests/suites/0_stateless/09_0003_remote_drop_table.sql
Labels: pr-bugfix

#1201 ISSUE-887 `common/runtime/src/runtime_test.rs` should block until all task quits
  common/runtime/src/runtime_test.rs
Labels: pr-improvement

#1208 bug fix: clean data parts while dropping database
  fusequery/query/src/datasources/remote/remote_database.rs
  fusestore/store/src/meta_service/state_machine.rs
  tests/suites/0_stateless/09_0003_remote_drop_table.sql
Labels: pr-bugfix

#1210 [deps] bump deps to fix RUSTSEC-2020-0036
  Cargo.lock
  fusequery/query/Cargo.toml
  fusestore/store/Cargo.toml
Labels: pr-build, pr-not-for-changelog

#1214 Generic aggregate function state
  Cargo.lock
  Cargo.toml
  common/datavalues/Cargo.toml
  common/datavalues/src/data_df_type.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/prelude.rs
  common/exception/src/exception.rs
  common/functions/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_max.rs
  common/functions/src/aggregates/aggregate_arg_min.rs
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_batch_test.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/aggregates/aggregate_max.rs
  common/functions/src/aggregates/aggregate_min.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/macros.rs
  common/functions/src/aggregates/mod.rs
  common/io/Cargo.toml
  common/io/src/binary_de.rs
  common/io/src/binary_read.rs
  common/io/src/binary_read_test.rs
  common/io/src/binary_ser.rs
  common/io/src/binary_write.rs
  common/io/src/binary_write_test.rs
  common/io/src/lib.rs
  common/io/src/marshal.rs
  common/io/src/marshal_test.rs
  common/io/src/prelude.rs
  common/io/src/stat_buffer.rs
  common/io/src/unmarshal.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial_test.rs
Labels: pr-feature, pr-improvement, pr-performance

#1224 [store] refactor: when testing, generate unique address for services
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-improvement

#1232 [Testing/CI] better logging and support endpoint CDN
  tests/perfs/compare.py
  tests/perfs/perfs.py
Labels: pr-build

#1231 [store] fix: do not fsync sled data in unittets. File::sync_all() takes 10 ~ 30 ms, at worst 500 ms on a Mac
  fusestore/store/src/configs/config.rs
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raft_log_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-bugfix

#1229 ISSUE 1228: Use batch mode to speed up tracing data sending
  Cargo.lock
  common/tracing/Cargo.toml
  common/tracing/src/logging.rs
Labels: pr-improvement

#1240 [common/logging] doc: explain how to adjust interval of batch tracing data send
  common/tracing/src/logging.rs
Labels: fusestore, pr-doc-fix

#1241 [store] refactor: impl RaftLog with SledVarTypeTree. Nothing really changed.
  fusestore/store/src/meta_service/raft_log.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-improvement

#1242 [store] refactor: remove no longer used SledTree
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/sled_tree.rs
  fusestore/store/src/meta_service/sled_tree_test.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
Labels: fusestore, pr-improvement

#1243 [store] refactor: rename local vars in state machine test. Nothing really changed
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-improvement

#1244 ISSUE-1225: remove fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/engine/mem_engine_test.rs
  fusestore/store/src/engine/mod.rs
  fusestore/store/src/lib.rs
Labels: pr-improvement

#1245 [Improvement] Refactor data parts
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/meta_service/state_machine.rs
Labels: pr-improvement

#1248 [store] feature: disk backed state machine
  common/tracing/Cargo.toml
  common/tracing/src/logging.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/placement.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/sled_util.rs
  fusestore/store/src/meta_service/sled_vartype_tree.rs
  fusestore/store/src/meta_service/sled_vartype_tree_test.rs
  fusestore/store/src/meta_service/sledkv.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_meta.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: fusestore, pr-feature, pr-other

#1252 [common/runtime] refactor: create handle outside runtime thread; remove select
  common/runtime/src/runtime.rs
Labels: fusestore, pr-improvement

#950 ISSUE-938: Datafuse CLI
  .github/workflows/datafuse-docker-release.yaml
  .github/workflows/datafuse-release.yml
  Cargo.lock
  Cargo.toml
  Makefile
  fusecli/README.md
  fusecli/cli/Cargo.toml
  fusecli/cli/build.rs
  fusecli/cli/src/bin/datafuse-cli.rs
  fusecli/cli/src/cmds/clusters/cluster.rs
  fusecli/cli/src/cmds/clusters/mod.rs
  fusecli/cli/src/cmds/command.rs
  fusecli/cli/src/cmds/comments/comment.rs
  fusecli/cli/src/cmds/comments/mod.rs
  fusecli/cli/src/cmds/config.rs
  fusecli/cli/src/cmds/env.rs
  fusecli/cli/src/cmds/helps/help.rs
  fusecli/cli/src/cmds/helps/mod.rs
  fusecli/cli/src/cmds/mod.rs
  fusecli/cli/src/cmds/processor.rs
  fusecli/cli/src/cmds/status.rs
  fusecli/cli/src/cmds/status_test.rs
  fusecli/cli/src/cmds/updates/mod.rs
  fusecli/cli/src/cmds/updates/update.rs
  fusecli/cli/src/cmds/versions/mod.rs
  fusecli/cli/src/cmds/versions/version.rs
  fusecli/cli/src/cmds/writer.rs
  fusecli/cli/src/error.rs
  fusecli/cli/src/lib.rs
  scripts/build/build-cli.sh
Labels: pr-feature
