Repository databendlabs/databend, pull requests merged in 2021-04, with the labels that each got.

#399 Add local mode check for plan scheduler
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/parquet_table.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/datasources/table.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/planners/plan_scheduler.rs
  fusequery/query/src/planners/plan_scheduler_test.rs
Labels: fusequery

#400 Add script to start fusequery server for CI
  .github/workflows/actions/labeler.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  README.md
  deploy/examples/3-nodes-cluster.sh
  scripts/ci/fusequery-cluster-3-nodes.sh
  scripts/ci/fusequery-standalone.sh
Labels: deploy

#286 Projection pushdown
  common/planners/src/test.rs
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  tests/queries/0_stateless/00020_optimizer.reference
  tests/queries/0_stateless/00020_optimizer.sql
Labels: fusequery, testing

#410 Add RFCs to website
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/github-pages.yml
  website/datafuse/docs/rfcs/store/2021-04-22-store-design.md
  website/datafuse/sidebars.json
Labels: documentation

#411 Add README for datafuse.dev website
  .github/workflows/actions/labeler.yml
  website/datafuse/README.md
  website/datafuse/docusaurus.config.js
  website/datafuse/src/pages/index.js
Labels: documentation

#412 Add query benches
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/benches/bench_main.rs
  fusequery/query/benches/suites/bench_aggregate_query_sql.rs
  fusequery/query/benches/suites/bench_filter_query_sql.rs
  fusequery/query/benches/suites/bench_limit_query_sql.rs
  fusequery/query/benches/suites/bench_sort_query_sql.rs
  fusequery/query/benches/suites/mod.rs
Labels: fusequery

#422 Better doc structure
  .github/workflows/github-pages.yml
  website/datafuse/docs/overview/building-and-running.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-avg.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-count.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-max.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-min.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-sum.md
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-create-database.md
  website/datafuse/docs/sqlstatement/data-manipulation-language-dml/dml-select.md
  website/datafuse/docs/sqlstatement/information-functions/database.md
  website/datafuse/docs/sqlstatement/show-commands/show-databases.md
  website/datafuse/sidebars.json
Labels: documentation

#425 Better function display name
  common/functions/src/aggregators/aggregator_avg.rs
  common/functions/src/aggregators/aggregator_count.rs
  common/functions/src/aggregators/aggregator_max.rs
  common/functions/src/aggregators/aggregator_min.rs
  common/functions/src/aggregators/aggregator_sum.rs
  common/functions/src/aggregators/aggregator_test.rs
  common/functions/src/arithmetics/arithmetic_div.rs
  common/functions/src/arithmetics/arithmetic_minus.rs
  common/functions/src/arithmetics/arithmetic_modulo.rs
  common/functions/src/arithmetics/arithmetic_mul.rs
  common/functions/src/arithmetics/arithmetic_plus.rs
  common/functions/src/arithmetics/arithmetic_test.rs
  common/functions/src/comparisons/comparison_eq.rs
  common/functions/src/comparisons/comparison_gt.rs
  common/functions/src/comparisons/comparison_gt_eq.rs
  common/functions/src/comparisons/comparison_lt.rs
  common/functions/src/comparisons/comparison_lt_eq.rs
  common/functions/src/comparisons/comparison_not_eq.rs
  common/functions/src/comparisons/comparison_test.rs
  common/functions/src/expressions/cast.rs
  common/functions/src/expressions/cast_test.rs
  common/functions/src/function_factory.rs
  common/functions/src/logics/logic_and.rs
  common/functions/src/logics/logic_or.rs
  common/functions/src/logics/logic_test.rs
  common/functions/src/udfs/database.rs
  common/functions/src/udfs/database_test.rs
  common/functions/src/udfs/to_type_name.rs
  common/functions/src/udfs/to_type_name_test.rs
  common/functions/src/udfs/udf_example.rs
  common/functions/src/udfs/udf_example_test.rs
  common/planners/src/plan_expression.rs
  fusequery/query/src/sql/plan_parser_test.rs
  tests/queries/0_stateless/02_0004_function_name_display.reference
  tests/queries/0_stateless/02_0004_function_name_display.sql
Labels: fusequery, testing

#436 Add load configs from toml file
  .github/actions-rs/grcov.yml
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/conf/fusequery_config_spec.toml
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/configs/mod.rs
  fusequery/query/src/sql/sql_parser_test.rs
  scripts/ci/config/fusequery-cluster-1.toml
  scripts/ci/config/fusequery-cluster-2.toml
  scripts/ci/config/fusequery-cluster-3.toml
  scripts/ci/fusequery-cluster-3-nodes.sh
  scripts/ci/fusequery-standalone.sh
Labels: CI, fusequery

#437 Add more sql unit test for interval
  .github/workflows/unit-tests.yml
  fusequery/query/src/sql/plan_parser_test.rs
Labels: fusequery

#438 ISSUES-364 clean code for MySQLHandler
  Cargo.lock
  Cargo.toml
  common/ext/Cargo.toml
  common/ext/src/lib.rs
  common/ext/src/result_ext.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_query.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
Labels: fusequery

#439 ISSUES-364 Display custom error backtrace in log
  Cargo.lock
  common/exception/Cargo.toml
  common/exception/src/exception.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/tests.rs
  fusequery/query/src/interpreters/interpreter_setting_test.rs
  fusequery/query/src/interpreters/interpreter_use_database_test.rs
Labels: fusequery

#441 Add more groupby and filter stateless test
  .github/workflows/github-pr-labeler.yml
  .github/workflows/unit-tests.yml
  Makefile
  tests/queries/0_stateless/03_0003_select_group_by.reference
  tests/queries/0_stateless/03_0003_select_group_by.sql
  tests/queries/0_stateless/03_0005_select_filter.reference
  tests/queries/0_stateless/03_0005_select_filter.sql
Labels: testing

#444 Remove cpus from cluster node
  fusequery/query/src/api/http/v1/cluster.rs
  fusequery/query/src/api/http/v1/cluster_test.rs
  fusequery/query/src/clusters/cluster.rs
  fusequery/query/src/clusters/cluster_test.rs
  fusequery/query/src/clusters/node.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/planners/plan_scheduler.rs
  fusequery/query/src/tests/service.rs
Labels: fusequery

#448 ISSUES-447 display error message for use database
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_init.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_query.rs
Labels: fusequery
