Repository databendlabs/databend, pull requests merged in 2021-05, with the labels that each got.

#457 Add timeout(10s) for CI port check
  scripts/ci/fusequery-cluster-3-nodes.sh
  scripts/ci/fusequery-standalone.sh
Labels: CI

#455 support having
  common/planners/src/lib.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_display.rs
  common/planners/src/plan_explain_test.rs
  common/planners/src/plan_having.rs
  common/planners/src/plan_having_test.rs
  common/planners/src/plan_node.rs
  fusequery/query/src/interpreters/interpreter_explain_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/processors/pipeline_builder_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/queries/0_stateless/03_0006_select_having.result
  tests/queries/0_stateless/03_0006_select_having.sql
Labels: fusequery, testing

#462 Refactor alias push down patch-1
  common/functions/src/function_column_test.rs
  common/functions/src/lib.rs
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_common.rs
  fusequery/query/src/optimizers/optimizer_filter_push_down.rs
  fusequery/query/src/optimizers/optimizer_filter_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_group_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_limit_push_down.rs
  fusequery/query/src/optimizers/optimizer_limit_push_down_test.rs
  tests/queries/0_stateless/03_0007_select_alias.result
  tests/queries/0_stateless/03_0007_select_alias.sql
Labels: fusequery, testing

#467 Fix filter transform result return and refactory optimizer
  common/planners/src/plan_builder.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_rewriter_test.rs
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down.rs
  fusequery/query/src/optimizers/optimizer_common.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/pipelines/transforms/transform_expression.rs
  fusequery/query/src/pipelines/transforms/transform_expression_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
Labels: fusequery

#470 Add datablock pretty print
  Cargo.lock
  common/arrow/Cargo.toml
  common/datablocks/Cargo.toml
  common/datablocks/src/data_block.rs
  common/datablocks/src/data_block_debug.rs
  common/datablocks/src/data_block_kernel_test.rs
  common/datablocks/src/lib.rs
  common/datablocks/src/macros.rs
  common/streams/src/stream_progress_test.rs
  fusequery/query/src/api/rpc/flight_service_test.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/system/databases_table_test.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  fusequery/query/src/interpreters/interpreter_explain_test.rs
  fusequery/query/src/interpreters/interpreter_select_test.rs
  fusequery/query/src/pipelines/processors/processor_merge_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_expression_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_limit_test.rs
  fusequery/query/src/pipelines/transforms/transform_projection_test.rs
  fusequery/query/src/pipelines/transforms/transform_remote_test.rs
  fusequery/query/src/pipelines/transforms/transform_sort_test.rs
  fusequery/query/src/pipelines/transforms/transform_source_test.rs
  fusequery/query/src/tests/macros.rs
  fusequery/query/src/tests/mod.rs
Labels: fusequery

#473 Wrap DataSchem create with metadata
  common/datablocks/src/data_block_kernel_test.rs
  common/datablocks/src/data_block_test.rs
  common/datavalues/src/data_schema.rs
  common/datavalues/src/lib.rs
  common/functions/src/aggregators/aggregator_test.rs
  common/functions/src/arithmetics/arithmetic_test.rs
  common/functions/src/comparisons/comparison_test.rs
  common/functions/src/expressions/cast_test.rs
  common/functions/src/function_column_test.rs
  common/functions/src/logics/logic_test.rs
  common/functions/src/udfs/to_type_name_test.rs
  common/functions/src/udfs/udf_example_test.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_display_test.rs
  common/planners/src/plan_projection_test.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/plan_select_test.rs
  common/planners/src/test.rs
  common/streams/src/stream_progress_test.rs
  fusequery/benchmarks/nyctaxi/src/bin/nyctaxi.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/null_table_test.rs
  fusequery/query/src/datasources/local/parquet_table_test.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/interpreters/interpreter_setting.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
Labels: fusequery

#420 [servers] clickhouse progress
  .github/workflows/stateless-tests-cluster.yml
  Cargo.lock
  common/progress/src/progress.rs
  common/streams/src/stream_progress.rs
  common/streams/src/stream_progress_test.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/servers/clickhouse/clickhouse_stream.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
  fusequery/query/src/sessions/context.rs
Labels: fusequery

#475 fuse-test: Support error message(stderr) to *.result
  tests/fuse-test
  tests/queries/0_stateless/00_0000_dummy_select_1.result
  tests/queries/0_stateless/00_0000_dummy_select_1.sql
  tests/queries/0_stateless/07_0000_use_database.result
  tests/queries/0_stateless/07_0000_use_database.sql
Labels: testing

#476 tests queries->suites
  tests/README.md
  tests/fuse-test
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
  tests/suites/0_stateless/01_0001_system_tables.result
  tests/suites/0_stateless/01_0001_system_tables.sql
  tests/suites/0_stateless/02_0000_function_arithmetic.result
  tests/suites/0_stateless/02_0000_function_arithmetic.sql
  tests/suites/0_stateless/02_0001_function_to_type_name.result
  tests/suites/0_stateless/02_0001_function_to_type_name.sql
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
  tests/suites/0_stateless/02_0003_function_database.result
  tests/suites/0_stateless/02_0003_function_database.sql
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display.sql
  tests/suites/0_stateless/03_0000_select_aliases.result
  tests/suites/0_stateless/03_0000_select_aliases.sql
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0001_select_aggregator.sql
  tests/suites/0_stateless/03_0002_select_aggregator_with_filter.result
  tests/suites/0_stateless/03_0002_select_aggregator_with_filter.sql
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by.sql
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter.sql
  tests/suites/0_stateless/03_0006_select_having.result
  tests/suites/0_stateless/03_0006_select_having.sql
  tests/suites/0_stateless/03_0007_select_alias.result
  tests/suites/0_stateless/03_0007_select_alias.sql
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/04_0000_explain.sql
  tests/suites/0_stateless/04_0001_explain_pipeline.result
  tests/suites/0_stateless/04_0001_explain_pipeline.sql
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/05_0001_ddl_create_database.result
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
  tests/suites/0_stateless/05_0002_ddl_create_local_csv_table.result
  tests/suites/0_stateless/05_0002_ddl_create_local_csv_table.sql
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/06_0000_show_queries.sql
  tests/suites/0_stateless/07_0000_use_database.result
  tests/suites/0_stateless/07_0000_use_database.sql
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer.sql
  tests/suites/0_stateless/README.md
Labels: testing

#478 Remove rwlock for progress value update
  common/progress/src/progress.rs
  common/progress/src/progress_test.rs
  fusequery/query/src/sessions/context.rs
Labels: fusequery

#479 Support performance tests for fuse-test
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  scripts/ci/fusequery-standalone.sh
  tests/README.md
  tests/fuse-test
  tests/suites/1_performance/00_performance_avg.result
  tests/suites/1_performance/00_performance_avg.sql
  tests/suites/1_performance/00_performance_count.result
  tests/suites/1_performance/00_performance_count.sql
  tests/suites/1_performance/00_performance_group.result
  tests/suites/1_performance/00_performance_group.sql
  tests/suites/1_performance/00_performance_max.result
  tests/suites/1_performance/00_performance_max.sql
  tests/suites/1_performance/00_performance_sort.result
  tests/suites/1_performance/00_performance_sort.sql
  tests/suites/1_performance/00_performance_sum.result
  tests/suites/1_performance/00_performance_sum.sql
Labels: CI, testing

#481 Remove create schemaref with metadata
  Cargo.lock
  common/arrow/Cargo.toml
  common/datablocks/src/data_block_kernel_test.rs
  common/datablocks/src/data_block_test.rs
  common/datavalues/src/data_schema.rs
  common/functions/src/aggregators/aggregator_test.rs
  common/functions/src/arithmetics/arithmetic_test.rs
  common/functions/src/comparisons/comparison_test.rs
  common/functions/src/expressions/cast_test.rs
  common/functions/src/function_column_test.rs
  common/functions/src/logics/logic_test.rs
  common/functions/src/udfs/to_type_name_test.rs
  common/functions/src/udfs/udf_example_test.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_display_test.rs
  common/planners/src/plan_projection_test.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/plan_select_test.rs
  common/planners/src/test.rs
  common/streams/src/stream_progress_test.rs
  fusequery/benchmarks/nyctaxi/src/bin/nyctaxi.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/null_table_test.rs
  fusequery/query/src/datasources/local/parquet_table_test.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/interpreters/interpreter_setting.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
Labels: fusequery

#485 ISSUES-440 support backtrace other error
  common/exception/src/exception.rs
  common/functions/src/function_column_test.rs
  fusequery/query/src/datasources/local/csv_table_stream.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/pipelines/transforms/transform_expression_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/sessions/macros.rs
Labels: fusequery

#489 [functions] Throw exception for aggregator eval
  common/functions/src/aggregators/aggregator_avg.rs
  common/functions/src/aggregators/aggregator_count.rs
  common/functions/src/aggregators/aggregator_max.rs
  common/functions/src/aggregators/aggregator_min.rs
  common/functions/src/aggregators/aggregator_sum.rs
  common/functions/src/function.rs
  tests/suites/0_stateless/03_0007_select_alias.result
  tests/suites/0_stateless/03_0007_select_alias.sql
Labels: testing

#491 [store] meta data cluster impl with raft
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/proto/store_meta.proto
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/tests/logging.rs
  fusestore/store/src/tests/mod.rs
Labels: fusestore

#495 [store] add Cmd to define meta OP. explain metadata components
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  website/datafuse/docs/rfcs/store/2021-04-22-store-design.md
Labels: documentation, fusestore

#497 [functions] fix comparison function
  common/functions/src/comparisons/comparison.rs
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: testing

#500 [store/meta] add RaftTxId to dedup logs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore

#487 support substring
  .gitignore
  common/functions/src/function_factory.rs
  common/functions/src/lib.rs
  common/functions/src/strings/mod.rs
  common/functions/src/strings/string.rs
  common/functions/src/strings/substring.rs
  common/functions/src/strings/substring_test.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/02_0005_function_substring.result
  tests/suites/0_stateless/02_0005_function_substring.sql
  tests/suites/1_performance/00_performance_substring.result
  tests/suites/1_performance/00_performance_substring.sql
Labels: fusequery, testing

#502 [transform] fix unmatched block schema return from partial group by
  common/datablocks/src/data_block_debug.rs
  fusequery/query/src/api/rpc/flight_service.rs
  fusequery/query/src/api/rpc/flight_service_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
Labels: fusequery, testing

#506 [store] remove SetReq, use raft message for remote set.
  fusestore/store/proto/store_meta.proto
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore

#405 add aggregate expression check
  common/exception/src/exception.rs
  common/planners/src/plan_aggregator_test.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer.sql
Labels: fusequery, testing

#508 Move aggregate check function to plan rewriter
  common/planners/src/plan_aggregator_test.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_rewriter.rs
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
Labels: testing

#493 Interval progress send
  Cargo.toml
  common/progress/src/progress.rs
  common/progress/src/progress_test.rs
  common/streams/src/stream_progress.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/sessions/context.rs
Labels: fusequery

#518 [store] refactor: move meta into standalone struct.
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/lib.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/placement.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore

#516 Binding tokio runtime to per context
  Cargo.lock
  Cargo.toml
  common/runtime/Cargo.toml
  common/runtime/src/lib.rs
  common/runtime/src/runtime.rs
  common/runtime/src/runtime_test.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/interpreters/interpreter_setting.rs
  fusequery/query/src/pipelines/processors/pipeline.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/processors/processor_merge.rs
  fusequery/query/src/pipelines/processors/processor_merge_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_expression_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_limit_test.rs
  fusequery/query/src/pipelines/transforms/transform_projection_test.rs
  fusequery/query/src/pipelines/transforms/transform_sort_test.rs
  fusequery/query/src/pipelines/transforms/transform_source_test.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
  fusequery/query/src/sessions/context.rs
Labels: fusequery

#524 Try to fix cluster test tokio error
  fusequery/query/src/servers/mysql/mysql_handler.rs
Labels: fusequery

#525 Remove the unused max threads for tokio runtime in on_query
  common/planners/src/plan_rewriter.rs
  common/runtime/src/runtime.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
Labels: fusequery

#528 [store] meta: support remote write; refactor boot()
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: fusestore

#545 [exception] better exception
  Cargo.lock
  common/exception/src/exception.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
Labels: fusequery

#551 [store] support restarting a MetaNode.
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/proto/store_meta.proto
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  website/datafuse/docs/rfcs/store/2021-04-22-store-design.md
Labels: documentation, fusestore

#549 Support system.contributors table
  .github/ISSUE_TEMPLATE/10_question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/github-pages.yml
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/build.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/contributors_table_test.rs
  fusequery/query/src/datasources/system/mod.rs
  fusequery/query/src/datasources/system/system_database.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  website/datafuse/docs/development/contributing.md
  website/datafuse/docs/policies/code-of-conduct.md
  website/datafuse/docs/system/system-tables.md
  website/datafuse/mkdocs.yml
Labels: documentation, fusequery

#542 Fix Aggregate Check bug
  common/planners/src/plan_builder.rs
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0001_select_aggregator.sql
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
Labels: testing

#561 optimizer: refactor optimizer
  common/planners/src/plan_empty.rs
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down.rs
  fusequery/query/src/optimizers/optimizer_limit_push_down.rs
  fusequery/query/src/optimizers/optimizer_limit_push_down_test.rs
Labels: fusequery

#565 Parquet appender
  Cargo.lock
  common/datablocks/src/data_block.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/data_part/appender.rs
  fusestore/store/src/data_part/appender_test.rs
  fusestore/store/src/data_part/mod.rs
  fusestore/store/src/lib.rs
Labels: fusestore

#566 [store] test: use global mono-incr seq to generate port, to avoid port conflict during the concurrent test
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/seq.rs
Labels: fusestore

#562 Datasource API
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  common/flights/src/store_do_action.rs
  common/planners/src/lib.rs
  common/planners/src/plan_database_create.rs
  common/planners/src/plan_database_drop.rs
  common/planners/src/plan_display.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_table_create.rs
  common/planners/src/plan_table_drop.rs
  common/planners/src/plan_visitor.rs
  fusequery/query/src/datasources/database.rs
  fusequery/query/src/datasources/datasource.rs
  fusequery/query/src/datasources/local/local_database.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/system/system_database.rs
  fusequery/query/src/datasources/tests.rs
  fusequery/query/src/interpreters/interpreter_database_create.rs
  fusequery/query/src/interpreters/interpreter_database_create_test.rs
  fusequery/query/src/interpreters/interpreter_database_drop.rs
  fusequery/query/src/interpreters/interpreter_database_drop_test.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/interpreter_table_create.rs
  fusequery/query/src/interpreters/interpreter_table_create_test.rs
  fusequery/query/src/interpreters/interpreter_table_drop.rs
  fusequery/query/src/interpreters/interpreter_table_drop_test.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/sql/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_parser_test.rs
  fusequery/query/src/sql/sql_statement.rs
  fusestore/store/src/executor/action_handler.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/05_0000_ddl_drop_tables.result
  tests/suites/0_stateless/05_0000_ddl_drop_tables.sql
  tests/suites/0_stateless/05_0001_ddl_create_database.result
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
  tests/suites/0_stateless/05_0001_ddl_drop_database.result
  tests/suites/0_stateless/05_0001_ddl_drop_database.sql
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-create-database.md
  website/datafuse/docs/sqlstatement/data-definition-language-ddl/ddl-drop-database.md
  website/datafuse/docs/sqlstatement/show-commands/show-tables.md
  website/datafuse/mkdocs.yml
Labels: documentation, fusequery, fusestore, testing

#571 Refactor scripts structure
  .github/workflows/cancel.yml
  .github/workflows/cargo.yml
  .github/workflows/datafuse-build.yml
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  Makefile
  README.md
  scripts/ci/ci-performance-tests-standalone.sh
  scripts/ci/ci-stateless-tests-cluster.sh
  scripts/ci/ci-stateless-tests-standalone.sh
  scripts/ci/fusequery-standalone.sh
  scripts/deploy/config/fusequery-cluster-1.toml
  scripts/deploy/config/fusequery-cluster-2.toml
  scripts/deploy/config/fusequery-cluster-3.toml
  scripts/deploy/fusequery-cluster-3-nodes.sh
  scripts/deploy/fusequery-standalone.sh
  scripts/dev_codecov.sh
  scripts/setup/dev_setup.sh
  website/datafuse/docs/development/coding-guidelines.md
Labels: CI, documentation

#572 Add SUBSTRING function to doc
  website/datafuse/docs/functions/arithmetic-operators.md
  website/datafuse/docs/functions/comparison-functions.md
  website/datafuse/docs/functions/logical-operators.md
  website/datafuse/docs/sqlstatement/string-functions/substring.md
  website/datafuse/mkdocs.yml
Labels: documentation

#576 Bump rust-toolchain to nightly-2021-05-06
  .github/workflows/cargo.yml
  .github/workflows/datafuse-build.yml
  .github/workflows/datafuse-release.yml
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
  fusequery/query/src/sql/plan_parser_test.rs
  rust-toolchain
  scripts/setup/dev_setup.sh
Labels: CI, fusequery

#580 [common/exception] make life easier by rewriting error conversion with trait From
  common/datablocks/src/data_block.rs
  common/datablocks/src/data_block_debug.rs
  common/datablocks/src/data_block_kernel.rs
  common/datavalues/src/data_array.rs
  common/datavalues/src/data_array_merge_sort.rs
  common/datavalues/src/data_value_kernel.rs
  common/datavalues/src/macros.rs
  common/exception/src/exception.rs
  common/flights/src/query_client.rs
  common/functions/src/expressions/cast.rs
  common/functions/src/function_column.rs
  common/functions/src/strings/substring.rs
  fusequery/query/src/datasources/datasource.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/csv_table_stream.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/interpreters/interpreter_setting.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusequery/query/src/servers/clickhouse/clickhouse_stream.rs
  fusequery/query/src/sessions/macros.rs
  fusequery/query/src/sql/sql_parser.rs
Labels: fusequery

#563 Allow `PlanNode` to have multiple children
  common/planners/src/lib.rs
  common/planners/src/plan_aggregator_final.rs
  common/planners/src/plan_aggregator_partial.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_display.rs
  common/planners/src/plan_explain.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_filter.rs
  common/planners/src/plan_having.rs
  common/planners/src/plan_limit.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_projection.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_rewriter_test.rs
  common/planners/src/plan_select.rs
  common/planners/src/plan_sort.rs
  common/planners/src/plan_stage.rs
  common/planners/src/plan_visitor.rs
  common/planners/src/plan_walker.rs
  common/planners/src/plan_walker_test.rs
  fusequery/query/src/interpreters/interpreter_select_test.rs
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/planners/plan_scheduler.rs
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter.sql
  tests/suites/0_stateless/03_0007_select_alias.result
  tests/suites/0_stateless/03_0007_select_alias.sql
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer.sql
Labels: fusequery, testing

#589 fix typo `ErrorCodes::SyntexException`
  common/exception/src/exception.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_common.rs
Labels: pr-other

#590 Replace github label action with FuseBot
  .github/labeler.yml
  .github/workflows/github-labeler.yml
Labels: pr-build

#595 session.rs -> sessions.rs
  .github/ISSUE_TEMPLATE/10_question.md
  .github/ISSUE_TEMPLATE/20_feature-request.md
  .github/ISSUE_TEMPLATE/30_bug-report.md
  .github/ISSUE_TEMPLATE/40_build-issue.md
  .github/ISSUE_TEMPLATE/60_improvement-issue.md
  .github/ISSUE_TEMPLATE/70_performance-issue.md
  .github/ISSUE_TEMPLATE/80_other-issue.md
  common/datablocks/src/lib.rs
  common/datavalues/src/lib.rs
  common/exception/src/lib.rs
  common/ext/src/lib.rs
  common/functions/src/lib.rs
  common/planners/src/lib.rs
  common/planners/src/plan_rewriter.rs
  common/streams/src/lib.rs
  fusequery/query/src/api/rpc/flight_service.rs
  fusequery/query/src/api/rpc_service.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
  fusequery/query/src/sessions/mod.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/tests/service.rs
Labels: pr-improvement

#605 Change arrow to crate.io instead of git sha
  .github/workflows/performance-tests-standalone.yml
  Cargo.lock
  common/arrow/Cargo.toml
Labels: pr-improvement

#607 Fix the wrong mode for cluster test
  scripts/ci/ci-stateless-tests-cluster.sh
  website/datafuse/docs/development/contributing.md
Labels: pr-build

#609 Better CI name and fix performance cargo issue
  .github/dependabot.yml
  .github/workflows/cancel.yml
  .github/workflows/cargo.yml
  .github/workflows/datafuse-build.yml
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
  .github/workflows/welcome.yml
  scripts/ci/ci-native-release-build.sh
Labels: pr-build

#612 ISSUES-468 fix infinite loop for Merge Processor
  fusequery/query/src/pipelines/processors/processor_merge.rs
Labels: pr-bugfix

#611 support substring function with minus argument
  common/functions/src/strings/substring.rs
  common/functions/src/strings/substring_test.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/sql/plan_parser.rs
Labels: pr-improvement

#587 A basic implementation of appending data to store (issue #579)
  Cargo.lock
  common/flights/Cargo.toml
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  common/flights/src/store_do_put.rs
  common/flights/src/store_do_put_test.rs
  common/planners/Cargo.toml
  common/planners/src/lib.rs
  common/planners/src/plan_insert_into.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  fusequery/query/src/datasources/datasource.rs
  fusequery/query/src/datasources/remote/mod.rs
  fusequery/query/src/datasources/remote/remote_database.rs
  fusequery/query/src/datasources/remote/remote_factory.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/store_client_provider.rs
  fusequery/query/src/datasources/table.rs
  fusequery/query/src/interpreters/interpreter_factory.rs
  fusequery/query/src/interpreters/interpreter_insert_into.rs
  fusequery/query/src/interpreters/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/api/rpc/flight_service.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/data_part/appender.rs
  fusestore/store/src/data_part/appender_test.rs
  fusestore/store/src/executor/action_handler.rs
Labels: pr-feature

#618 Fix self build runner cargo dependency errros in Performance test
  .github/workflows/performance-tests-standalone.yml
Labels: pr-bugfix

#622 [store] improve raft and simplify test cases
  Cargo.lock
  fusestore/store/Cargo.toml
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-bugfix, pr-improvement

#626 Add one unit test for plan parser and more comments for select_to_plan
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
Labels: pr-improvement

#627 Add plan expression to RFCs
  website/datafuse/docs/rfcs/query/2021-05-22-plan-expression.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#631 [groupby] fix some hotpath codes for performance
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
Labels: pr-improvement

#600 add NOT expression
  common/datavalues/src/data_array_logic.rs
  common/datavalues/src/data_array_logic_test.rs
  common/datavalues/src/data_value_operator.rs
  common/functions/src/logics/logic.rs
  common/functions/src/logics/logic_not.rs
  common/functions/src/logics/logic_test.rs
  common/functions/src/logics/mod.rs
  common/planners/src/lib.rs
  common/planners/src/plan_expression_action_function.rs
  common/planners/src/plan_expression_action_test.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
Labels: pr-feature

#632 Remove a line, for auto merge
  website/datafuse/docs/development/contributing.md
Labels: pr-doc-fix

#633 DataBlock with constant column
  common/aggregate_functions/src/aggregate_max.rs
  common/aggregate_functions/src/aggregate_min.rs
  common/aggregate_functions/src/aggregate_sum.rs
  common/datablocks/src/data_block.rs
  common/datablocks/src/data_block_debug.rs
  common/datablocks/src/data_block_kernel.rs
  common/datablocks/src/data_block_kernel_test.rs
  common/datablocks/src/data_block_test.rs
  common/datavalues/src/data_columnar_value.rs
  common/datavalues/src/data_value_kernel.rs
  common/datavalues/src/data_value_kernel_test.rs
  common/functions/src/function_column_test.rs
  common/streams/src/stream_limit.rs
  common/streams/src/stream_progress_test.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/servers/clickhouse/clickhouse_stream.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_query.rs
  fusequery/query/src/sql/plan_parser.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/data_part/appender_test.rs
Labels: pr-improvement

#635 [planners] rename ExpressionAction -> Expression
  common/planners/src/lib.rs
  common/planners/src/plan_aggregator_final.rs
  common/planners/src/plan_aggregator_partial.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_builder_test.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_expression_action_column.rs
  common/planners/src/plan_expression_action_function.rs
  common/planners/src/plan_expression_action_test.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_column.rs
  common/planners/src/plan_expression_function.rs
  common/planners/src/plan_expression_literal.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_expression_sort.rs
  common/planners/src/plan_expression_test.rs
  common/planners/src/plan_expression_visitor.rs
  common/planners/src/plan_filter.rs
  common/planners/src/plan_having.rs
  common/planners/src/plan_projection.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_rewriter_test.rs
  common/planners/src/plan_scan.rs
  common/planners/src/plan_sort.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/functions/context_function.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_expression.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/pipelines/transforms/transform_projection.rs
  fusequery/query/src/pipelines/transforms/transform_sort_merge.rs
  fusequery/query/src/pipelines/transforms/transform_sort_partial.rs
  fusequery/query/src/sql/expr_common.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_common.rs
  fusequery/query/src/tests/number.rs
  website/datafuse/docs/rfcs/query/2021-05-22-plan-expression.md
Labels: pr-improvement

#638 Fix unexpected recompile
  Cargo.lock
  common/arrow/Cargo.toml
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-bugfix

#637 Fix store if_not_exists check error and add REMOTE database intergration tests
  fusequery/query/src/datasources/datasource.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/engine/mem_engine_test.rs
  scripts/ci/ci-performance-tests-standalone.sh
  scripts/ci/ci-stateless-tests-standalone.sh
  scripts/deploy/config/fusequery-node-1.toml
  scripts/deploy/config/fusequery-node-2.toml
  scripts/deploy/config/fusequery-node-3.toml
  scripts/deploy/fusequery-cluster-3-nodes.sh
  scripts/deploy/fusequery-standalone.sh
  tests/suites/0_stateless/09_0000_remote_create_table.result
  tests/suites/0_stateless/09_0000_remote_create_table.sql
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
  tests/suites/0_stateless/README.md
Labels: pr-bugfix, pr-build

#636 fix substring function
  common/datavalues/src/data_array_arithmetic.rs
  common/datavalues/src/data_array_arithmetic_test.rs
  common/datavalues/src/data_type.rs
  common/datavalues/src/data_value_operator.rs
  common/datavalues/src/macros.rs
  common/functions/src/arithmetics/arithmetic.rs
  tests/suites/0_stateless/02_0005_function_substring.result
  tests/suites/0_stateless/02_0005_function_substring.sql
Labels: pr-bugfix, pr-improvement

#643 standalone docker for testing
  docker/Dockerfile
  docker/bootstrap.sh
Labels: pr-build

#641 Expression validation
  common/exception/src/exception.rs
  common/functions/src/arithmetics/arithmetic.rs
  common/functions/src/comparisons/comparison.rs
  common/functions/src/expressions/cast.rs
  common/functions/src/function.rs
  common/functions/src/function_alias.rs
  common/functions/src/function_column.rs
  common/functions/src/function_literal.rs
  common/functions/src/strings/substring.rs
  common/functions/src/udfs/database.rs
  common/functions/src/udfs/to_type_name.rs
  common/functions/src/udfs/udf_example.rs
  common/planners/src/lib.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_expression_test.rs
  common/planners/src/plan_expression_validator.rs
  fusequery/query/src/sql/plan_parser.rs
Labels: pr-improvement

#642 Support the aggregation functions argMax and argMin
  common/aggregate_functions/src/aggregate_arg_max.rs
  common/aggregate_functions/src/aggregate_arg_min.rs
  common/aggregate_functions/src/aggregator.rs
  common/aggregate_functions/src/aggregator_test.rs
  common/aggregate_functions/src/lib.rs
  common/datavalues/src/data_array_aggregate.rs
  common/datavalues/src/data_array_aggregate_test.rs
  common/datavalues/src/data_value_operator.rs
  common/datavalues/src/macros.rs
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
Labels: pr-feature

#564 [WIP] Constant Folding
  fusequery/query/src/optimizers/mod.rs
  fusequery/query/src/optimizers/optimizer_constant_folding.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_test.rs
Labels: fusequery, pr-feature

#649 [WIP] fix select NOT(1)
  common/datavalues/src/data_array_logic.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
Labels: pr-bugfix

#651 [store] test 3 candidates cluster
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-build

#659 Allow clippy::nonminimal_bool for data_array_negation
  common/datavalues/src/data_array_logic.rs
Labels: pr-build

#664 [common/datablocks] move functions to kernels
  common/datablocks/src/data_block_kernel_test.rs
  common/datablocks/src/kernels/data_block_concat.rs
  common/datablocks/src/kernels/data_block_concat_test.rs
  common/datablocks/src/kernels/data_block_scatter.rs
  common/datablocks/src/kernels/data_block_scatter_test.rs
  common/datablocks/src/kernels/data_block_sort.rs
  common/datablocks/src/kernels/data_block_sort_test.rs
  common/datablocks/src/kernels/data_block_take.rs
  common/datablocks/src/kernels/data_block_take_test.rs
  common/datablocks/src/kernels/mod.rs
  common/datablocks/src/lib.rs
Labels: pr-improvement

#665 Add argMin/argMax docs
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-argmax.md
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-argmin.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#667 [store] add: choose n elts from m elts randomly
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/placement.rs
  fusestore/store/src/meta_service/placement_test.rs
Labels: pr-feature

#672 [store] add a slots initialization that randomly nodes to slot, as a simple file distribution algo
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/mod.rs
Labels: pr-feature

#673 [store] add Meta::builder() to customized building meta data
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
Labels: pr-feature
