Repository databendlabs/databend, pull requests merged in 2021-11, with the labels that each got.

#2564 [Release] fix release docker file
  docker/release/Dockerfile
Labels: pr-bugfix

#2560 DOC: add databend release channels
  website/databend/docs/development/release-channels.md
  website/databend/docs/development/roadmap.md
  website/databend/docs/development/tracing.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2554 Compare with implicit cast
  common/datavalues/src/series/comparison.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/date_test.rs
  common/functions/src/scalars/expressions/cast.rs
  query/src/datasources/index/range_filter_test.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-improvement

#2568 DOC: Introduce serveless
  README.md
  website/databend/docs/overview/architecture.md
Labels: pr-improvement

#2570 [cli] precheck health of databend-query for cli query mode
  cli/src/cmds/queries/query.rs
Labels: pr-improvement

#2566 [common/meta] refactor: impl SledSerde for T; remove per-type impl of SledSerde
  common/meta/raft-store/src/state/raft_state_kv.rs
  common/meta/raft-store/src/state_machine/client_last_resp.rs
  common/meta/raft-store/src/state_machine/state_machine_meta.rs
  common/meta/raft-store/src/state_machine/table_lookup.rs
  common/meta/sled-store/src/seq_num.rs
  common/meta/sled-store/src/seq_value.rs
  common/meta/sled-store/src/sled_key_space.rs
  common/meta/sled-store/src/sled_serde.rs
  common/meta/sled-store/src/testing/fake_key_spaces.rs
  common/meta/sled-store/src/testing/fake_state_machine_meta.rs
  common/meta/types/src/cluster.rs
Labels: pr-improvement

#2572 [common/meta] refactor: move SeqV common/meta{sled-store -> types}
  Cargo.lock
  common/meta/raft-store/src/sled_key_spaces.rs
  common/meta/sled-store/Cargo.toml
  common/meta/sled-store/src/lib.rs
  common/meta/sled-store/src/sled_tree_test.rs
  common/meta/sled-store/src/testing/fake_key_spaces.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/kv.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/seq_num.rs
  common/meta/types/src/seq_value.rs
Labels: pr-improvement

#2578 Make date32 physical type to be int32
  common/datavalues/src/data_value.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/series/comparison.rs
  common/datavalues/src/types/physical_data_type.rs
  common/datavalues/src/types/serializations/mod.rs
  query/src/datasources/index/range_filter.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/mysql/writers/query_result_writer.rs
Labels: pr-improvement

#2588 [ci] work around grcov build break
  .github/workflows/unit-tests.yml
Labels: pr-not-for-changelog

#2582 [common/meta]: refactor: use derive_more to simplify type conversion
  Cargo.lock
  common/management/src/namespace/namespace_mgr.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/meta/embedded/Cargo.toml
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/state_machine/applied_state.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/state_machine_test.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/change.rs
  common/meta/types/src/kv.rs
  common/meta/types/src/kv_reply.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/seq_value.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-improvement

#2592 Add OS related gitignore
  .gitignore
Labels: pr-other

#2569 ISSUE 2567: pass limit+offset to sort pipeline
  query/src/pipelines/processors/pipeline_builder.rs
  query/src/pipelines/processors/pipeline_builder_test.rs
  tests/suites/0_stateless/03_0010_select_limit_offset.result
  tests/suites/0_stateless/03_0010_select_limit_offset.sql
Labels: pr-bugfix

#2584 [function] add maths function with pi
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/pi.rs
  common/functions/src/scalars/maths/pi_test.rs
  common/functions/src/scalars/mod.rs
Labels: pr-feature, pr-need-doc

#2581 fixing dal reader flaky tests
  common/dal/src/impls/local.rs
Labels: pr-bugfix, pr-not-for-changelog

#2598 ISSUE-2589: use unique table name in insertion test
  query/src/servers/clickhouse/clickhouse_handler_test.rs
Labels: pr-bugfix, pr-not-for-changelog

#2590 [query] refactor: simplify meta backend for catalog
  query/src/catalogs/backends/impls/embedded_backend.rs
  query/src/catalogs/backends/impls/mod.rs
  query/src/catalogs/backends/impls/remote_backend.rs
  query/src/catalogs/backends/mod.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
Labels: pr-improvement

#2555 add endpoint url param for s3 dal
  .github/workflows/stateless-tests-standalone.yml
  common/dal/src/data_accessor.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/aws_s3/s3_input_stream_test.rs
  common/dal/src/impls/azure_blob/azure_blob_accessor.rs
  common/dal/src/impls/local.rs
  query/src/configs/config_storage.rs
  query/src/configs/config_test.rs
  query/src/datasources/common/dal_builder.rs
  query/src/datasources/common/dal_builder_test.rs
  query/src/datasources/table/fuse/index/min_max.rs
  query/src/datasources/table/fuse/index/min_max_test.rs
  query/src/datasources/table/fuse/io/meta_info_reader.rs
  query/src/datasources/table/fuse/io/mod.rs
  query/src/datasources/table/fuse/io/segment_reader.rs
  query/src/datasources/table/fuse/meta/mod.rs
  query/src/datasources/table/fuse/meta/table_snapshot.rs
  query/src/datasources/table/fuse/table_do_read_partitions.rs
  scripts/ci/ci-run-stateless-tests-cluster-tls.sh
Labels: pr-feature, pr-not-for-changelog, v0.6

#2599 DOC-2597: Add numeric functions category and pi doc
  website/databend/docs/sqlstatement/numeric-functions/pi.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2603 [query] refactor: remove meta cache. There could be inconsistent read
  query/src/catalogs/backends/impls/meta_cached.rs
  query/src/catalogs/backends/impls/mod.rs
  query/src/catalogs/backends/mod.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
Labels: pr-improvement

#2607 [query] refactor: remove db_instances
  query/src/catalogs/impls/catalog/metastore_catalog.rs
Labels: pr-improvement

#2580 [query] add db URL parameter for support specify the database
  query/src/servers/http/v1/statement.rs
  query/src/servers/http/v1/statement_test.rs
Labels: pr-improvement

#2610 [function] add trigonometric func
  common/datavalues/src/series/series_impl.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/trigonometric.rs
  common/functions/src/scalars/maths/trigonometric_test.rs
Labels: pr-feature

#2616 [function] add crc32 function
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/maths/crc32.rs
  common/functions/src/scalars/maths/crc32_test.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
Labels: pr-feature

#2619 [DOC] add doc for trigonometric function
  website/databend/docs/sqlstatement/numeric-functions/cos.md
  website/databend/docs/sqlstatement/numeric-functions/cot.md
  website/databend/docs/sqlstatement/numeric-functions/sin.md
  website/databend/docs/sqlstatement/numeric-functions/tan.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2602 ISSUE-2601: add scripts/ci/ci-run-stateless-tests-standalone-s3.sh
  .github/workflows/stateless-tests-standalone.yml
  scripts/ci/ci-run-stateless-tests-standalone-s3.sh
Labels: pr-improvement, pr-not-for-changelog

#2614 [cli] ignore ctrl-c on sql-mode
  cli/src/cmds/processor.rs
Labels: pr-improvement

#2596 Add abs func
  common/functions/src/scalars/maths/abs.rs
  common/functions/src/scalars/maths/abs_test.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-improvement

#2622 Make deser support partial_parse from binary
  common/datavalues/src/types/serializations/number.rs
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-improvement

#2623 [DOC] add doc for crc32 function
  website/databend/docs/sqlstatement/numeric-functions/crc32.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2625 Add doc example for limit+offset
  tests/suites/0_stateless/03_0010_select_limit_offset.result
  tests/suites/0_stateless/03_0010_select_limit_offset.sql
  website/databend/docs/sqlstatement/data-manipulation-language-dml/dml-select.md
Labels: pr-doc-fix

#2629 [CLI] more robust load interface
  Cargo.lock
  Makefile
  cli/Cargo.toml
  cli/docs/ontime/build_table.sql
  cli/src/cmds/loads/load.rs
  cli/src/cmds/status.rs
  query/src/configs/config_meta.rs
Labels: pr-improvement

#2624 Add system.columns table
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/datasources/database/system/columns_table.rs
  query/src/datasources/database/system/columns_table_test.rs
  query/src/datasources/database/system/mod.rs
  query/src/datasources/database/system/tables_table_test.rs
Labels: pr-improvement

#2641 DOC: Add bendctl demo operation on AWS EC2
  website/databend/docs/cli/cli.md
Labels: pr-doc-fix

#2642 [common/planners] refactor: remove unused fields: TableScanInfo::{table_name, table_args} ScanPlan::table_args
  common/planners/src/plan_builder_scan.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_scan.rs
  common/planners/src/plan_scan_test.rs
  query/src/datasources/table/csv/csv_table_test.rs
  query/src/datasources/table_func/numbers_table_test.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#2644 [CLI] Support add api and support local deployment with a singe line of code
  Makefile
  cli/src/cmds/clusters/add.rs
  cli/src/cmds/clusters/cluster.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/mod.rs
  cli/src/cmds/clusters/view.rs
  cli/tests/it/clusters/create.rs
Labels: pr-improvement, pr-feature

#2645 [query] refactor: add DatabendQueryContext::build_table_from_source_p…
  common/meta/types/src/table_info.rs
  query/src/interpreters/plan_scheduler.rs
  query/src/optimizers/optimizer_scatters.rs
  query/src/pipelines/transforms/transform_source.rs
  query/src/sessions/context.rs
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#2649 feat: add reviewers automatically
  .github/CODEOWNERS
Labels: pr-build

#2643 [function] add angle function for math
  common/functions/src/scalars/maths/angle.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/angle.rs
  common/functions/tests/it/scalars/maths/mod.rs
Labels: pr-feature

#2648 [common/planners] refactor: remove PlanBuilder::scan(), which just builds a default push down and is never actually used.
  common/planners/src/lib.rs
  common/planners/src/plan_builder_scan.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/sql/plan_parser.rs
Labels: pr-improvement

#2651 [Feature]Add host_name field
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/users/user.rs
  query/src/users/user_mgr.rs
  query/src/users/user_mgr_test.rs
Labels: pr-feature

#2652 add memory_usage column for show processlist doc
  website/databend/docs/sqlstatement/show-commands/show-processlist.md
Labels: pr-doc-fix

#2654 [common/planners] refactor: remove ScanPlan; it is only used as a temp place holder of `push_downs`
  common/exception/src/exception.rs
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_scan.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/plan_visitor.rs
  common/planners/src/test.rs
  query/src/catalogs/table.rs
  query/src/datasources/table/csv/csv_table_test.rs
  query/src/datasources/table/fuse/table_test.rs
  query/src/datasources/table_func/numbers_table_test.rs
  query/src/interpreters/plan_scheduler.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/optimizers/optimizer_projection_push_down.rs
  query/src/optimizers/optimizer_projection_push_down_test.rs
  query/src/optimizers/optimizer_statistics_exact_test.rs
Labels: pr-improvement

#2659 [DOC] Add doc for angle function
  website/databend/docs/sqlstatement/numeric-functions/degrees.md
  website/databend/docs/sqlstatement/numeric-functions/radians.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2663 [test] apply the new test style to common_base
  common/base/Cargo.toml
  common/base/src/lib.rs
  common/base/tests/it/main.rs
  common/base/tests/it/progress.rs
  common/base/tests/it/runtime.rs
  common/base/tests/it/stoppable.rs
Labels: pr-build, pr-not-for-changelog

#2661 ISSUE-2478: Transform like pattern to regex
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/src/arrays/comparison.rs
  common/datavalues/src/arrays/ops/like.rs
  common/datavalues/src/arrays/ops/mod.rs
  common/datavalues/tests/it/arrays/ops/like.rs
  common/datavalues/tests/it/arrays/ops/mod.rs
  query/src/datasources/index/range_filter.rs
  query/src/datasources/index/range_filter_test.rs
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-bugfix

#2670 Migrate to Poem
  Cargo.lock
  metasrv/Cargo.toml
  metasrv/src/api/http/debug/home.rs
  metasrv/src/api/http/debug/pprof.rs
  metasrv/src/api/http/v1/config.rs
  metasrv/src/api/http/v1/config_test.rs
  metasrv/src/api/http/v1/health.rs
  metasrv/src/api/http/v1/health_test.rs
  metasrv/src/api/http_service.rs
  query/Cargo.toml
  query/src/api/http/debug/home.rs
  query/src/api/http/debug/pprof.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/cluster_test.rs
  query/src/api/http/v1/config.rs
  query/src/api/http/v1/config_test.rs
  query/src/api/http/v1/health.rs
  query/src/api/http/v1/health_test.rs
  query/src/api/http/v1/logs.rs
  query/src/api/http/v1/logs_test.rs
  query/src/api/http_service.rs
  query/src/common/service/http_shutdown_handles.rs
  query/src/metrics/metric_service.rs
  query/src/servers/http/http_services.rs
  query/src/servers/http/v1/statement.rs
  query/src/servers/http/v1/statement_test.rs
Labels: pr-improvement

#2660 Make push_downs work in table's read
  common/planners/src/plan_display_indent.rs
  query/src/api/http/v1/logs.rs
  query/src/catalogs/table.rs
  query/src/datasources/database/system/clusters_table_test.rs
  query/src/datasources/database/system/columns_table_test.rs
  query/src/datasources/database/system/configs_table_test.rs
  query/src/datasources/database/system/contributors_table_test.rs
  query/src/datasources/database/system/credits_table_test.rs
  query/src/datasources/database/system/databases_table_test.rs
  query/src/datasources/database/system/functions_table_test.rs
  query/src/datasources/database/system/metrics_table_test.rs
  query/src/datasources/database/system/one_table.rs
  query/src/datasources/database/system/settings_table_test.rs
  query/src/datasources/database/system/tables_table_test.rs
  query/src/datasources/database/system/tracing_table_test.rs
  query/src/datasources/table/csv/csv_table.rs
  query/src/datasources/table/csv/csv_table_test.rs
  query/src/datasources/table/fuse/index/min_max_test.rs
  query/src/datasources/table/fuse/table.rs
  query/src/datasources/table/fuse/table_do_read_partitions.rs
  query/src/datasources/table/fuse/table_test.rs
  query/src/datasources/table/memory/memory_table.rs
  query/src/datasources/table/memory/memory_table_test.rs
  query/src/datasources/table/null/null_table_test.rs
  query/src/datasources/table/parquet/parquet_table_test.rs
  query/src/datasources/table_func/numbers_table.rs
  query/src/datasources/table_func/numbers_table_test.rs
  query/src/interpreters/interpreter_explain.rs
  query/src/interpreters/interpreter_explain_test.rs
  query/src/interpreters/interpreter_select.rs
  query/src/interpreters/mod.rs
  query/src/interpreters/plan_do_readsource.rs
  query/src/interpreters/plan_scheduler.rs
  query/src/interpreters/utils.rs
  query/src/optimizers/optimizer_constant_folding_test.rs
  query/src/optimizers/optimizer_expression_transform_test.rs
  query/src/optimizers/optimizer_projection_push_down.rs
  query/src/optimizers/optimizer_projection_push_down_test.rs
  query/src/optimizers/optimizer_scatters_test.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/optimizers/optimizer_statistics_exact_test.rs
  query/src/optimizers/optimizer_test.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/optimizers/optimizer_top_n_push_down_test.rs
  query/src/pipelines/processors/pipeline_builder_test.rs
  query/src/pipelines/transforms/transform_source.rs
  query/src/sessions/context.rs
  query/src/sql/plan_parser.rs
  query/src/sql/plan_parser_test.rs
  query/src/tests/number.rs
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display_cluster.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer.sql
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
Labels: pr-improvement

#2675 Bump arrow2
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/exception/Cargo.toml
  common/flight-rpc/Cargo.toml
  common/meta/flight/Cargo.toml
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  query/src/api/rpc/flight_service_stream.rs
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-improvement, need-review

#2676 Support cast signed/unsigned syntax
  query/src/sql/sql_common.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
Labels: pr-improvement, need-review

#2665 number table apply top-n (order-by and limit)
  query/src/datasources/table_func/numbers_stream.rs
  query/src/datasources/table_func/numbers_table.rs
  query/src/pipelines/transforms/mod.rs
Labels: pr-improvement, need-review

#2669 [functions] add log func
  common/functions/src/scalars/maths/log.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/log.rs
  common/functions/tests/it/scalars/maths/mod.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#2681 [metasrv] refactor: remove redundant method MetaNode::boot_non_voter()
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
Labels: pr-improvement, need-review

#2680 [Build] separate docker file for cloud deployment
  .github/workflows/databend-release.yml
  .gitignore
  Makefile
  docker/meta/Dockerfile
  docker/query/Dockerfile
Labels: pr-build, need-review

#2683 ISSUE-2626: Bump sqlparser-rs
  Cargo.lock
  common/datavalues/src/arrays/ops/like.rs
  common/exception/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-bugfix, need-review

#2684 [Feature]Add system users table
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/planners/src/plan_user_create.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/datasources/database/system/mod.rs
  query/src/datasources/database/system/tables_table_test.rs
  query/src/datasources/database/system/users_table.rs
  query/src/datasources/database/system/users_table_test.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  query/src/users/user.rs
  query/src/users/user_mgr_test.rs
Labels: pr-feature, need-review

#2686 DOC-2685: Add user management create user
  website/databend/docs/sqlstatement/user-management/user-management-create-user.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2691 Fix bug number table faile to generate rows
  query/src/datasources/table_func/numbers_table.rs
  tests/suites/0_stateless/03_0010_select_limit_offset.result
  tests/suites/0_stateless/03_0010_select_limit_offset.sql
Labels: pr-bugfix, need-review

#2692 [Release] fix lint issue in release page
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#2694 [query] add show uses statement
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  website/databend/docs/sqlstatement/show-commands/show-users.md
  website/databend/mkdocs.yml
Labels: pr-improvement, need-review

#2697 databend.rs: add weekly link
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2701 [metasrv] feature: add `join` API to join a node to cluster.
  Cargo.lock
  common/meta/raft-store/src/config.rs
  metasrv/Cargo.toml
  metasrv/proto/meta.proto
  metasrv/src/api/flight_server.rs
  metasrv/src/meta_service/errors.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/network.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/proto/meta.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-feature, need-review

#2703 USER-2678: Add user privileges [PATCH-1]
  Cargo.lock
  common/management/src/user/user_api.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/lib.rs
  common/meta/types/src/user_auth.rs
  common/meta/types/src/user_privilege.rs
  common/meta/types/src/user_privilege_test.rs
  query/src/datasources/database/system/users_table_test.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/users/user.rs
Labels: pr-feature, need-review

#2706 USER-2704: Add user quota to user info
  common/management/src/user/user_api.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_quota.rs
  common/meta/types/src/user_quota_test.rs
  query/src/datasources/database/system/users_table_test.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/users/user.rs
Labels: pr-feature

#2705 [metasrv] refactor: move integration test
  metasrv/src/errors.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/flight/main.rs
  metasrv/tests/flight/metasrv_flight_api.rs
  metasrv/tests/flight/metasrv_flight_kv_api.rs
  metasrv/tests/flight/metasrv_flight_meta_api.rs
Labels: pr-improvement, need-review

#2700 ISSUE-2672: statistics returned by `Table::read_partitions` should take push-down projections into account
  query/src/datasources/index/range_filter_test.rs
  query/src/datasources/table/fuse/meta/table_snapshot.rs
  query/src/datasources/table/fuse/table.rs
  query/src/datasources/table/fuse/table_do_read.rs
  query/src/datasources/table/fuse/table_do_read_partitions.rs
  query/src/datasources/table/fuse/table_test.rs
  query/src/datasources/table/fuse/util/statistic_helper.rs
Labels: pr-bugfix, pr-not-for-changelog, need-review

#2710 [Release] lint on release
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#2717 [CI] remove unstable stateful tests
  .github/workflows/stateful-tests-cluster.yml
  .github/workflows/stateful-tests-standalone.yml
  Makefile
  scripts/build/build-cli.sh
  scripts/ci/ci-run-stateful-tests-cluster.sh
  scripts/ci/ci-run-stateful-tests-standalone.sh
Labels: pr-bugfix, need-review

#2712 [metasrv] refactor: use RaftRequest as a request type, use RaftReply as reply type for raft communication
  metasrv/proto/meta.proto
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/proto/meta.rs
Labels: pr-improvement, need-review

#2720 [common/meta/api] refactor: remove api update_kv_meta(), upsert_kv() is quite enough
  common/management/src/namespace/namespace_mgr.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/meta/api/src/kv_api.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/api/src/lib.rs
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/impls/kv_api_impl.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-improvement, need-review

#2721 [common/meta/raft-store] refactor: impl kv_api for StateMachine
  Cargo.lock
  common/management/src/namespace/namespace_mgr_test.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/state_machine/mod.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  common/meta/raft-store/src/state_machine/state_machine_test.rs
  common/meta/types/src/kv_reply.rs
  metasrv/Cargo.toml
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-improvement

#2699 [feat] support graceful shutdown in metasrv
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/http_shutdown_handlers.rs
  common/base/src/lib.rs
  metasrv/Cargo.toml
  metasrv/src/api/http_service.rs
  metasrv/src/api/http_service_test.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/metrics/metric_service.rs
Labels: pr-improvement, need-review

#2723 [Release] fix release patch
  .github/workflows/databend-release.yml
  Makefile
  metasrv/build.rs
Labels: pr-bugfix, need-review

#2729 disable flaky test temporary
  query/src/servers/clickhouse/clickhouse_handler_test.rs
Labels: pr-not-for-changelog

#2726 [common/meta] refactor: impl KVApi for MetaNode to simplify upper level callers
  common/management/src/namespace/namespace_mgr.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/meta/api/src/kv_api.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/impls/kv_api_impl.rs
  common/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  common/meta/types/src/kv_message.rs
  common/meta/types/src/lib.rs
  metasrv/proto/meta.proto
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/meta_service/meta_node_kv_api_impl.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-improvement

#2732 [ci] ignore some paths
  .github/workflows/cargo.yml
  .github/workflows/databend-build.yml
  .github/workflows/databend-docker.yml
  .github/workflows/embedded-meta-test.yml
  .github/workflows/pr-audit.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
Labels: pr-build, pr-not-for-changelog, need-review

#2734 [metasrv] refactor: simplify metasrv ActionHandler
  Cargo.lock
  common/meta/flight/Cargo.toml
  common/meta/flight/src/flight_action.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/executor/mod.rs
Labels: pr-improvement

#2735 [metasrv] refactor: move write_to_local_leader() to MetaLeader
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
Labels: pr-improvement

#2733 Add ln(), log2(), log10()
  common/functions/src/scalars/maths/log.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/log.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-improvement, pr-doc-fix, need-review

#2737 Bump poem from `1.0.21` to `1.0.23`.
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/http_shutdown_handlers.rs
  metasrv/Cargo.toml
  metasrv/src/api/http_service.rs
  query/Cargo.toml
  query/src/api/http_service.rs
  query/src/common/service/http_shutdown_handles.rs
Labels: pr-improvement, need-review

#2739 [release] Fix release issue on cross build network host
  .github/workflows/databend-release.yml
Labels: pr-bugfix, need-review

#2727 [user] fix create users with different hostnames
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/users/user_mgr.rs
  query/src/users/user_mgr_test.rs
Labels: pr-bugfix, need-review

#2750 ISSUE-2472: namespace -> cluster, tenant -> tenant_id
  cli/src/cmds/clusters/add.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/status.rs
  cli/tests/it/clusters/create.rs
  common/exception/src/exception.rs
  common/management/src/cluster/cluster_api.rs
  common/management/src/cluster/cluster_mgr.rs
  common/management/src/cluster/cluster_mgr_test.rs
  common/management/src/cluster/mod.rs
  common/management/src/lib.rs
  common/meta/types/src/cluster.rs
  docker/databend-query-docker.toml
  query/src/bin/databend-query.rs
  query/src/clusters/cluster.rs
  query/src/configs/config_query.rs
  query/src/configs/config_test.rs
  query/src/datasources/database/system/configs_table_test.rs
  query/src/users/user_mgr.rs
  query/src/users/user_mgr_test.rs
  scripts/deploy/config/databend-query-embedded-meta.toml
  scripts/deploy/config/databend-query-node-1.toml
  scripts/deploy/config/databend-query-node-2.toml
  scripts/deploy/config/databend-query-node-3.toml
Labels: pr-improvement

#2745 [test] apply the new test style to common-context
  common/context/Cargo.toml
  common/context/src/lib.rs
  common/context/tests/it/main.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#2751 [query] refactor: explicit impl of building a MetaFlightClientConf
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/clusters/cluster.rs
  query/src/common/meta/config_converter.rs
  query/src/common/meta/meta_client.rs
  query/src/common/meta/mod.rs
  query/src/configs/config_meta.rs
  query/src/users/user_mgr.rs
Labels: pr-improvement, need-review

#2754 [metasrv] refactor: remove unused temp-dir in test-context
  .gitignore
  common/base/src/stop_handle.rs
  metasrv/src/api/flight_server.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/store/meta_raft_store_test.rs
  metasrv/src/tests/service.rs
  metasrv/tests/flight/metasrv_flight_api.rs
  metasrv/tests/flight/metasrv_flight_tls.rs
Labels: pr-improvement, need-review

#2752 [CI] HA cluster (experimental) CI with some problematic issues replication
  scripts/ci/ci-run-cli-unit-tests.sh
  scripts/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-improvement, pr-doc-fix, need-review

#2757 [metasrv] refactor: add MetaNode::start() to start meta in boot, open or join mode etc.
  metasrv/src/api/flight_server.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/src/store/meta_raft_store_test.rs
Labels: pr-improvement, need-review

#2758 [metasrv] refactor: build MetaNode outside FlightServer, let many service be able to reference the meta node
  common/exception/src/exception.rs
  metasrv/src/api/flight_server.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/tests/service.rs
Labels: pr-improvement

#2760 [Observability] Add tenant and cluster label during session lifecycle
  Makefile
  common/metrics/src/lib.rs
  common/metrics/src/recorder.rs
  query/src/sessions/sessions.rs
Labels: pr-feature, need-review

#2762 Improve the stateful test from debug to release
  Makefile
  scripts/ci/ci-run-stateful-tests-standalone.sh
Labels: pr-improvement, need-review

#2768 [metasrv] test: always disable fsync on mac, to let integration test pass on mac VM
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/tests/service.rs
  metasrv/tests/flight/metasrv_flight_api.rs
Labels: pr-improvement, pr-build, need-review

#2771 [Feature]Alter User Support
  common/management/src/user/user_api.rs
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_user_alter.rs
  common/planners/src/plan_visitor.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_alter_test.rs
  query/src/interpreters/mod.rs
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  query/src/users/user_mgr.rs
  query/src/users/user_mgr_test.rs
  tests/suites/0_stateless/05_0005_ddl_alter_user.result
  tests/suites/0_stateless/05_0005_ddl_alter_user.sql
Labels: pr-feature, need-review

#2778 bugfix: http_query fail.
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/result_data_manager.rs
Labels: need-review

#2759 [function] Add ceil, ceiling, floor func
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/maths/ceil.rs
  common/functions/src/scalars/maths/floor.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/ceil.rs
  common/functions/tests/it/scalars/maths/floor.rs
  common/functions/tests/it/scalars/maths/mod.rs
Labels: pr-feature, pr-doc-fix, pr-need-doc, need-review

#2780 Add `rust-src` in toolchain setup
  scripts/setup/dev_setup.sh
Labels: pr-improvement, need-review

#2781 Small fix: makefile rule build-release to build
  Makefile
Labels: pr-not-for-changelog, need-review

#2790 [test] apply the new test style to common-metrics
  common/metrics/Cargo.toml
  common/metrics/src/lib.rs
  common/metrics/tests/it/main.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#2789 make partial cast to float works
  Cargo.lock
  common/datavalues/src/arrays/ops/cast.rs
  common/functions/Cargo.toml
  common/functions/src/scalars/maths/abs.rs
  common/functions/src/scalars/maths/angle.rs
  common/functions/src/scalars/maths/ceil.rs
  common/functions/src/scalars/maths/floor.rs
  common/functions/tests/it/scalars/maths/abs.rs
  common/functions/tests/it/scalars/maths/ceil.rs
  common/functions/tests/it/scalars/maths/floor.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#2799 ISSUE-2795 try fix cluster connect and close session not match
  query/src/sessions/sessions.rs
Labels: pr-bugfix

#2798 ISSUE-2711 yaml lint
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/cargo.yml
  .github/workflows/databend-docker.yml
  .github/workflows/databend-perf-docker.yml
  .github/workflows/databend-performance-dispatch.yaml
  .github/workflows/databend-release.yml
  .github/workflows/pr-audit.yml
  .github/workflows/slack-notify.yml
  .github/workflows/yaml-lint.yml
  .licenserc.yaml
  .yamllint.yml
  Makefile
  tests/perfs/perfs.yaml
  website/databend/mkdocs.yml
Labels: pr-build, pr-not-for-changelog

#2783 ISSUE-2782: rm unnecessary clones while merging col stats & some minor file name refactorying
  query/src/datasources/table/fuse/append.rs
  query/src/datasources/table/fuse/mod.rs
  query/src/datasources/table/fuse/read.rs
  query/src/datasources/table/fuse/read_plan.rs
  query/src/datasources/table/fuse/read_plan_test.rs
  query/src/datasources/table/fuse/table.rs
  query/src/datasources/table/fuse/table_test.rs
  query/src/datasources/table/fuse/truncate.rs
  query/src/datasources/table/fuse/util/statistic_helper.rs
Labels: pr-improvement, pr-not-for-changelog

#2743 Add monotonicity check visitor
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/function.rs
  common/functions/src/scalars/mod.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_expression_sort.rs
  common/planners/src/plan_expression_visitor.rs
  common/planners/src/plan_rewriter.rs
  query/src/datasources/index/range_filter.rs
  query/src/optimizers/mod.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/optimizers/optimizer_top_n_push_down_test.rs
  query/src/optimizers/utils.rs
  query/src/pipelines/transforms/transform_sort_partial.rs
  query/src/sql/plan_parser.rs
Labels: pr-feature

#2791 [test] apply the new test style to 'common/meta'
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/embedded/src/lib.rs
  common/meta/embedded/tests/it/kv_api_impl.rs
  common/meta/embedded/tests/it/main.rs
  common/meta/embedded/tests/it/meta_api_impl.rs
  common/meta/flight/Cargo.toml
  common/meta/flight/src/lib.rs
  common/meta/flight/tests/it/flight_client.rs
  common/meta/flight/tests/it/flight_server.rs
  common/meta/flight/tests/it/main.rs
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/lib.rs
  common/meta/raft-store/src/log/mod.rs
  common/meta/raft-store/src/state/mod.rs
  common/meta/raft-store/src/state_machine/mod.rs
  common/meta/raft-store/tests/it/log.rs
  common/meta/raft-store/tests/it/main.rs
  common/meta/raft-store/tests/it/state.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/raft-store/tests/it/state_machine/placement.rs
  common/meta/raft-store/tests/it/testing.rs
  common/meta/raft-store/tests/it/types.rs
  common/meta/sled-store/Cargo.toml
  common/meta/sled-store/src/lib.rs
  common/meta/sled-store/tests/it/main.rs
  common/meta/sled-store/tests/it/sled_tree.rs
  common/meta/sled-store/tests/it/testing/fake_key_spaces.rs
  common/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
  common/meta/sled-store/tests/it/testing/mod.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/cluster_test.rs
  common/meta/types/src/lib.rs
  common/meta/types/tests/it/cluster.rs
  common/meta/types/tests/it/main.rs
  common/meta/types/tests/it/match_seq.rs
  common/meta/types/tests/it/user_privilege.rs
  common/meta/types/tests/it/user_quota.rs
Labels: pr-improvement, pr-not-for-changelog

#2797 user grant privileges
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/tests/it/user.rs
  common/meta/types/src/user_privilege.rs
  common/planners/src/lib.rs
  common/planners/src/plan_grant_privilege.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_grant_privilege.rs
  query/src/interpreters/interpreter_grant_privilege_test.rs
  query/src/interpreters/mod.rs
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  query/src/users/user_mgr.rs
  query/src/users/user_mgr_test.rs
  tests/suites/0_stateless/05_0006_ddl_grant_privilege.result
  tests/suites/0_stateless/05_0006_ddl_grant_privilege.sql
Labels: pr-improvement, need-review

#2808 [test] apply the new test style to common-planners
  common/planners/Cargo.toml
  common/planners/src/lib.rs
  common/planners/tests/it/main.rs
  common/planners/tests/it/plan_aggregator.rs
  common/planners/tests/it/plan_builder.rs
  common/planners/tests/it/plan_describe_table.rs
  common/planners/tests/it/plan_display.rs
  common/planners/tests/it/plan_explain.rs
  common/planners/tests/it/plan_expression.rs
  common/planners/tests/it/plan_extras.rs
  common/planners/tests/it/plan_filter.rs
  common/planners/tests/it/plan_having.rs
  common/planners/tests/it/plan_limit.rs
  common/planners/tests/it/plan_projection.rs
  common/planners/tests/it/plan_rewriter.rs
  common/planners/tests/it/plan_select.rs
  common/planners/tests/it/test.rs
Labels: pr-improvement, pr-not-for-changelog

#2810 [test] apply the new test style to other common crates
  common/arrow/Cargo.toml
  common/building/Cargo.toml
  common/macros/Cargo.toml
  common/tracing/Cargo.toml
Labels: pr-improvement, pr-not-for-changelog, need-review

#2813 Fix make test failure on macOS 12.0
  scripts/ci/ci-run-unit-tests.sh
Labels: pr-build, need-review

#2812 add query load timeout config in QueryConfig
  query/src/configs/config_query.rs
  query/src/configs/config_test.rs
  query/src/datasources/database/system/configs_table_test.rs
  query/src/sessions/context.rs
  scripts/deploy/config/databend-query-embedded-meta.toml
  scripts/deploy/config/databend-query-node-1.toml
  scripts/deploy/config/databend-query-node-2.toml
  scripts/deploy/config/databend-query-node-3.toml
Labels: pr-improvement, need-review

#2826 [metasrv] test: test membership after restarting MetaNode; test join a node twice
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/meta_service/raftmeta.rs
  scripts/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-improvement, pr-build

#2830 Make Fuse Engine as default table engine
  query/src/sql/sql_parser.rs
Labels: pr-improvement, need-review

#2821 ISSUE-2806: Add metrics to dal operations (label with tenant_id and cluster_id)
  Cargo.lock
  common/dal/Cargo.toml
  common/dal/src/data_accessor.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/azure_blob/azure_blob_accessor.rs
  common/dal/src/impls/local.rs
  common/dal/src/lib.rs
  common/dal/src/metrics/constants.rs
  common/dal/src/metrics/dal_metrics.rs
  common/dal/src/metrics/mod.rs
  common/dal/src/metrics/stream_metrics.rs
  common/dal/tests/it/main.rs
  common/dal/tests/it/metrics/dal_metrics.rs
  common/dal/tests/it/metrics/mod.rs
  common/metrics/src/lib.rs
  common/metrics/src/recorder.rs
  query/Cargo.toml
  query/src/datasources/common/dal_builder.rs
  query/src/datasources/common/dal_builder_test.rs
  query/src/datasources/table/fuse/io/block_appender.rs
  query/src/sessions/context.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#2833 Set storage_type to disk by default
  query/src/configs/config_storage.rs
Labels: pr-improvement, need-review

#2829 Fix a bug in refactoring angle function
  common/functions/src/scalars/maths/angle.rs
  common/functions/tests/it/scalars/maths/angle.rs
Labels: pr-bugfix, need-review

#2839 ISSUE-2837 fix not projection schema for fuse table
  query/src/datasources/table/fuse/io/block_reader.rs
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-bugfix

#2840 DOC-2838: Add how to get server logs doc
  .github/ISSUE_TEMPLATE/30_bug-report.md
  website/databend/docs/development/how-to-get-server-logs.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2843 Update aggregate-sum.md
  website/databend/docs/sqlstatement/aggregate-functions/aggregate-sum.md
Labels: C-documentation, pr-doc-fix, need-review

#2848 reuse common::streams::parquetsource
  query/src/datasources/table/fuse/io/block_reader.rs
  query/src/datasources/table/fuse/io/block_reader_test.rs
  query/src/datasources/table/fuse/io/mod.rs
  query/src/datasources/table/fuse/read.rs
Labels: pr-improvement, need-review

#2850 [function] add mod math function
  common/functions/src/scalars/maths/math.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-feature, need-review

#2846 ISSUE-2845: Initial the data directory
  .gitignore
  query/src/bin/databend-query.rs
  query/src/configs/config.rs
  query/src/configs/config_storage.rs
  query/src/configs/config_test.rs
Labels: pr-improvement

#2824 [function] Add support for inet_ntoa
  common/functions/src/scalars/others/inet_ntoa.rs
  common/functions/src/scalars/others/mod.rs
  common/functions/src/scalars/others/other.rs
  common/functions/tests/it/scalars/others.rs
Labels: pr-feature, need-review

#2856 update the url of databend weekly
  README.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2847 [function] add exp math function
  common/functions/src/scalars/maths/exp.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/exp.rs
  common/functions/tests/it/scalars/maths/mod.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-feature, need-review

#2855 DataColumn use equals rather than comparator eq
  common/datavalues/src/columns/comparison.rs
  common/functions/tests/it/scalars/dates/date_function.rs
  common/functions/tests/it/scalars/others.rs
Labels: pr-bugfix, need-review

#2765 ISSUE-2456: Support insert select query
  Cargo.lock
  common/planners/src/plan_insert_into.rs
  common/streams/Cargo.toml
  common/streams/src/lib.rs
  common/streams/src/stream_cast.rs
  common/streams/tests/it/main.rs
  common/streams/tests/it/stream_cast.rs
  query/src/datasources/table/fuse/index/min_max_test.rs
  query/src/datasources/table/fuse/table_test_fixture.rs
  query/src/datasources/table/memory/memory_table_test.rs
  query/src/datasources/table/null/null_table_test.rs
  query/src/interpreters/interprerer_insert_into_select_test.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_insert_into.rs
  query/src/interpreters/interpreter_truncate_table_test.rs
  query/src/sql/plan_parser.rs
  tests/suites/0_stateless/12_0000_insert_into_select.result
  tests/suites/0_stateless/12_0000_insert_into_select.sql
Labels: pr-feature

#2859 ignore codecov for cli
  .github/actions-rs/grcov.yml
  website/databend/mkdocs.yml
Labels: pr-build, pr-not-for-changelog, need-review

#2866 [Doc] add doc for ceil, ceiling, floor func
  website/databend/docs/sqlstatement/numeric-functions/ceil.md
  website/databend/docs/sqlstatement/numeric-functions/ceiling.md
  website/databend/docs/sqlstatement/numeric-functions/floor.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2861 Improve the error for the drop table in system database
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
Labels: pr-not-for-changelog, need-review

#2865 Improve insert into select
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_insert_into.rs
  query/src/interpreters/interpreter_truncate_table_test.rs
Labels: pr-improvement, need-review

#2862 [function] Add support for inet_aton
  common/functions/src/scalars/others/inet_aton.rs
  common/functions/src/scalars/others/mod.rs
  common/functions/src/scalars/others/other.rs
  common/functions/tests/it/scalars/others.rs
Labels: pr-feature, pr-need-doc, pr-need-stateless-test

#2858 [metasrv] fix: graceful shutdown blocks for ever.
  common/base/src/http_shutdown_handlers.rs
  metasrv/src/api/flight_server.rs
  metasrv/src/api/http_service.rs
  metasrv/src/metrics/metric_service.rs
Labels: pr-bugfix

#2867 [bugfix] check read_only when creating/dropping database
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
Labels: pr-bugfix, need-review

#2876 [Doc] Add insert into select doc
  query/src/interpreters/interprerer_insert_into_select_test.rs
  tests/suites/0_stateless/12_0000_insert_into_select.sql
  tests/suites/0_stateless/README.md
  website/databend/docs/sqlstatement/data-manipulation-language-dml/dml-insert.md
Labels: pr-improvement, pr-doc-fix, need-review

#2881 [Functions] Digest functions #2162
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/hashes/hash.rs
  common/functions/src/scalars/hashes/md5hash.rs
  common/functions/src/scalars/hashes/mod.rs
  common/functions/src/scalars/hashes/sha1hash.rs
  common/functions/src/scalars/hashes/sha2hash.rs
  common/functions/tests/it/scalars/hashes.rs
  website/databend/docs/sqlstatement/hash-functions/md5hash.md
  website/databend/docs/sqlstatement/hash-functions/sha1hash.md
  website/databend/docs/sqlstatement/hash-functions/sha2hash.md
Labels: A-databend-query, pr-feature

#2883 [common/tracing] refactor: init log level by both config and env
  Cargo.lock
  common/tracing/src/logging.rs
  metasrv/Cargo.toml
  metasrv/src/api/rpc/flight_service.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/tests/it/meta_service/meta_service_impl.rs
Labels: pr-improvement, need-review

#2885 ISSUE-2884: Add datasource context for getting DataAccessor
  common/dal/src/data_accessor.rs
  common/dal/src/lib.rs
  query/src/datasources/common/dal_builder.rs
  query/src/datasources/common/mod.rs
  query/src/datasources/context.rs
  query/src/datasources/context_test.rs
  query/src/datasources/mod.rs
  query/src/sessions/context.rs
Labels: pr-improvement, need-review

#2887 DOC-2886: Add a aggregation example and stateless test
  tests/suites/0_stateless/12_0000_insert_into_select.result
  tests/suites/0_stateless/12_0000_insert_into_select.sql
  website/databend/docs/sqlstatement/data-manipulation-language-dml/dml-insert.md
Labels: pr-improvement, need-review

#2891 [bugfix] fix issue 2857:Wrong query result when use alias
  query/src/pipelines/transforms/transform_expression_executor.rs
  query/src/pipelines/transforms/transform_expression_test.rs
Labels: pr-bugfix, need-review

#2893 [Doc] add doc for exp function
  website/databend/docs/sqlstatement/numeric-functions/exp.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2895 [metasrv] fix: metasrv cluster restart
  Cargo.lock
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/log/raft_log.rs
  common/meta/raft-store/src/state/raft_state.rs
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  metasrv/Cargo.toml
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/store/meta_raft_store.rs
  scripts/ci/ci-run-cli-unit-tests.sh
  scripts/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-bugfix

#2892 DAL-2874: Add DalContext
  common/dal/src/accessors/aws_s3/metrics.rs
  common/dal/src/accessors/aws_s3/mod.rs
  common/dal/src/accessors/aws_s3/s3.rs
  common/dal/src/accessors/aws_s3/s3_input_stream.rs
  common/dal/src/accessors/azure_blob/azure_blob_accessor.rs
  common/dal/src/accessors/azure_blob/azure_blob_input_stream.rs
  common/dal/src/accessors/azure_blob/mod.rs
  common/dal/src/accessors/local.rs
  common/dal/src/accessors/mod.rs
  common/dal/src/context.rs
  common/dal/src/interceptors/data_accessor_interceptor.rs
  common/dal/src/interceptors/input_stream_interceptor.rs
  common/dal/src/interceptors/mod.rs
  common/dal/src/lib.rs
  common/dal/src/metrics/mod.rs
  common/dal/tests/it/accessors/aws_s3.rs
  common/dal/tests/it/accessors/azure_blob.rs
  common/dal/tests/it/accessors/mod.rs
  common/dal/tests/it/interceptors/data_accessor_interceptor.rs
  common/dal/tests/it/interceptors/mod.rs
  common/dal/tests/it/main.rs
  query/src/datasources/context.rs
  query/src/datasources/context_test.rs
  query/src/datasources/mod.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
Labels: pr-improvement

#2898 [metasrv] refactor: use derive_more to simplify StateMachine meta value conversion
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/state_machine_meta.rs
Labels: pr-improvement, need-review

#2888 [function] Add arc trigonometric function
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/trigonometric.rs
  common/functions/tests/it/scalars/maths/trigonometric.rs
  tests/suites/0_stateless/02_0014_function_maths.result
  tests/suites/0_stateless/02_0014_function_maths.sql
Labels: pr-feature, need-review

#2906 [function] Add sign function
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/sign.rs
  common/functions/tests/it/scalars/maths/mod.rs
  common/functions/tests/it/scalars/maths/sign.rs
  website/databend/docs/sqlstatement/numeric-functions/sign.md
Labels: pr-feature, need-review

#2904 angles function not support NULL input like MySQL #2844
  common/functions/src/scalars/maths/angle.rs
  common/functions/tests/it/scalars/maths/angle.rs
Labels: pr-improvement, need-review

#2903 [common/meta/types] refactor: introduce universial type CreateDatabaseReq for flight-server, MetaAPI, Catalog etc
  common/meta/api/src/meta_api.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/impls/meta_api_impl.rs
  common/meta/types/src/database.rs
  common/meta/types/src/database_reply.rs
  common/meta/types/src/lib.rs
  common/planners/src/plan_database_create.rs
  metasrv/src/executor/meta_handlers.rs
  query/src/catalogs/backends/impls/meta_remote.rs
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/datasources/database/tests.rs
  query/src/datasources/table/fuse/table_test_fixture.rs
  query/src/interpreters/interpreter_database_create.rs
Labels: pr-improvement, need-review

#2907 [Doc] Add doc for arc trigonometric function
  website/databend/docs/sqlstatement/numeric-functions/acos.md
  website/databend/docs/sqlstatement/numeric-functions/asin.md
  website/databend/docs/sqlstatement/numeric-functions/atan.md
  website/databend/docs/sqlstatement/numeric-functions/atan2.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#2902 Support nullable value in SHA1 and MD5 func
  common/functions/src/scalars/hashes/md5hash.rs
  common/functions/src/scalars/hashes/sha1hash.rs
  common/functions/tests/it/scalars/hashes.rs
  website/databend/docs/sqlstatement/hash-functions/md5hash.md
  website/databend/docs/sqlstatement/hash-functions/sha1hash.md
Labels: pr-improvement

#2889 Support nullable value in sha2 func
  common/datavalues/src/arrays/boolean/builder.rs
  common/datavalues/src/arrays/builder.rs
  common/datavalues/src/arrays/primitive/builder.rs
  common/datavalues/src/arrays/string/builder.rs
  common/functions/src/scalars/hashes/sha2hash.rs
  common/functions/tests/it/scalars/hashes.rs
Labels: pr-improvement, need-review

#2911 remove some unnecessary clone
  query/src/pipelines/transforms/transform_expression_executor.rs
Labels: pr-performance, need-review

#2910 [common/meta/types] refactor: introduce universial type request types for flight-server, MetaAPI, Catalog etc
  common/meta/api/src/meta_api.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/impls/meta_api_impl.rs
  common/meta/types/src/database.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/table.rs
  common/meta/types/src/table_reply.rs
  common/planners/src/plan_database_drop.rs
  common/planners/src/plan_table_create.rs
  common/planners/src/plan_table_drop.rs
  metasrv/src/executor/meta_handlers.rs
  query/src/catalogs/backends/impls/meta_remote.rs
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/datasources/database/tests.rs
  query/src/datasources/table/fuse/index/min_max_test.rs
  query/src/datasources/table/fuse/table_test.rs
  query/src/interpreters/interpreter_database_drop.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_drop.rs
Labels: pr-improvement, need-review
