Repository databendlabs/databend, pull requests merged in 2021-06, with the labels that each got.

#660 ISSUE-536 support CompoundIdentifier
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
Labels: pr-feature

#674 Bump arrow from 4.1.0 to 4.2.0
  Cargo.lock
  common/arrow/Cargo.toml
Labels: pr-other

#661 [fuse-perf] Add fuse-benchmark tool
  Cargo.lock
  fusequery/query/Cargo.toml
  fusequery/query/src/bin/fuse-benchmark.rs
  fusequery/query/src/interpreters/interpreter.rs
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/servers/clickhouse/clickhouse_handler.rs
  fusequery/query/src/servers/clickhouse/clickhouse_stream.rs
Labels: pr-feature

#676 ISSUES-675 support parse hostname for flight client
  Cargo.lock
  common/flights/Cargo.toml
  common/flights/src/dns_resolver.rs
  common/flights/src/dns_resolver_test.rs
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/clusters/cluster.rs
  fusequery/query/src/clusters/node.rs
Labels: pr-improvement

#678 fuse-query process exit when any handler error
  fusequery/query/src/bin/fuse-query.rs
Labels: pr-improvement

#685 [building] refine: building helper crate: common/building
  Cargo.lock
  Cargo.toml
  common/building/Cargo.toml
  common/building/src/lib.rs
  fusequery/query/Cargo.toml
  fusequery/query/build.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
Labels: pr-improvement

#687 [store] refine: static version is quite enough
  Cargo.lock
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/configs/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  fusestore/store/Cargo.toml
  fusestore/store/build.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/configs/mod.rs
  fusestore/store/src/tests/service.rs
Labels: pr-improvement

#682 [fuse-perf] add fuse perf
  .gitignore
  scripts/ci/ci-native-release-build.sh
  scripts/ci/ci-performance-tests-standalone.sh
  scripts/ci/ci-stateless-tests-cluster.sh
  scripts/ci/ci-stateless-tests-standalone.sh
  scripts/deploy/fusequery-standalone-from-release.sh
  scripts/setup/dev_setup.sh
  tests/perfs/compare.py
  tests/perfs/perfs.py
  tests/perfs/perfs.yaml
  tests/suites/1_performance/00_performance_avg.result
  tests/suites/1_performance/00_performance_avg.sql
  tests/suites/1_performance/00_performance_count.result
  tests/suites/1_performance/00_performance_count.sql
  tests/suites/1_performance/00_performance_group.result
  tests/suites/1_performance/00_performance_group.sql
  tests/suites/1_performance/00_performance_max.result
  tests/suites/1_performance/00_performance_max.sql
  tests/suites/1_performance/00_performance_sort.result
  tests/suites/1_performance/00_performance_sort.sql
  tests/suites/1_performance/00_performance_substring.result
  tests/suites/1_performance/00_performance_substring.sql
  tests/suites/1_performance/00_performance_sum.result
  tests/suites/1_performance/00_performance_sum.sql
Labels: pr-build, pr-feature

#689 [building] refine: fix dep and clean useless code
  Cargo.lock
  common/flights/src/dns_resolver_test.rs
  fusestore/store/Cargo.toml
Labels: pr-build

#694 ISSUES-693 add SIPHash function
  common/datavalues/src/data_array_hash.rs
  common/datavalues/src/lib.rs
  common/functions/src/hashes/mod.rs
  common/functions/src/hashes/siphash.rs
  common/functions/src/hashes/siphash_test.rs
  fusequery/query/src/sql/plan_parser.rs
  website/datafuse/docs/sqlstatement/hash-functions/siphash.md
Labels: pr-feature

#697 [common/functions] better code for siphash
  common/functions/src/hashes/siphash.rs
Labels: pr-other

#702 ISSUES-364 use ErrorCodes to MySQL session
  common/exception/src/exception.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_init.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_query.rs
  fusequery/query/src/servers/mysql/endpoints/mod.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
Labels: pr-other

#701 Add datablock group by
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/kernels/data_block_groupby.rs
  common/datablocks/src/kernels/data_block_groupby_test.rs
  common/datablocks/src/kernels/mod.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  rust-toolchain
Labels: pr-improvement

#706 Add hash and other function to docs
  website/datafuse/docs/sqlstatement/hash-functions/siphash.md
  website/datafuse/docs/sqlstatement/other-functions/totypename.md
  website/datafuse/docs/sqlstatement/string-functions/substring.md
  website/datafuse/docs/system/system-tables.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#709 Add pr-not-for-changelog label
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  README.md
Labels: pr-build

#634 Implements Feature 630
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  common/flights/src/store_do_action.rs
  common/flights/src/store_do_get.rs
  common/planners/src/plan_partition.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/src/plan_statistics.rs
  common/planners/src/test.rs
  common/streams/src/stream.rs
  fusequery/query/src/datasources/datasource.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/parquet_table.rs
  fusequery/query/src/datasources/remote/mod.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/remote_table_do_read.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/tests/number.rs
  fusestore/store/src/api/rpc/flight_service.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/fs/ifs.rs
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-improvement

#700 [fuzz test] add simple hfuzz for parse_sql
  Cargo.lock
  Cargo.toml
  fusequery/fuzz/.gitignore
  fusequery/fuzz/Cargo.toml
  fusequery/fuzz/README.md
  fusequery/fuzz/fuzz_targets/fuzz_parse_sql.rs
Labels: pr-build

#705 Refactor aggregate functions[Part1]
  common/aggregate_functions/src/aggregate_arg_max.rs
  common/aggregate_functions/src/aggregate_arg_min.rs
  common/aggregate_functions/src/aggregate_avg.rs
  common/aggregate_functions/src/aggregate_count.rs
  common/aggregate_functions/src/aggregate_function.rs
  common/aggregate_functions/src/aggregate_function_factory.rs
  common/aggregate_functions/src/aggregate_max.rs
  common/aggregate_functions/src/aggregate_min.rs
  common/aggregate_functions/src/aggregate_sum.rs
  common/aggregate_functions/src/aggregator_test.rs
  common/aggregate_functions/src/lib.rs
  common/aggregate_functions/src/macros.rs
  common/datavalues/src/data_array_aggregate.rs
  common/datavalues/src/data_array_aggregate_test.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/data_value_operator.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/macros.rs
  common/functions/src/arithmetics/arithmetic.rs
  common/planners/src/plan_aggregator_final.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/api/rpc/flight_service_new_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial_test.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint_on_query.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
Labels: pr-improvement

#710 support limit by in Planner and Executor
  common/datablocks/src/kernels/data_block_groupby.rs
  common/planners/src/lib.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_limit_by.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  common/streams/src/lib.rs
  common/streams/src/stream_limit_by.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/mod.rs
  fusequery/query/src/pipelines/transforms/transform_limit_by.rs
  fusequery/query/src/pipelines/transforms/transform_limit_by_test.rs
Labels: pr-feature

#715 [planners] Fix schema for explain plan
  common/planners/src/plan_explain.rs
  common/planners/src/plan_explain_test.rs
Labels: pr-bugfix

#718 error on cte because it is nyi
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/plan_parser_test.rs
Labels: pr-not-for-changelog

#719 [common/exception] concat ErrorCodes with its `cause` in display_text, instead of using `cause`
  common/exception/src/exception.rs
  common/exception/src/exception_test.rs
Labels: pr-improvement

#720 [common/planners] simplify Statistics with Default
  common/exception/src/exception.rs
  common/planners/src/plan_statistics.rs
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/fs/ifs.rs
  fusestore/store/src/localfs/local_fs.rs
  fusestore/store/src/localfs/local_fs_test.rs
Labels: fusestore, improvement, pr-improvement

#726 [store] refine: add tracing to FS-related API
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/localfs/local_fs.rs
Labels: pr-improvement

#725 Add license comments checker.
  .github/workflows/license-checker.yml
  .licenserc.json
  common/functions/src/hashes/hash.rs
  fusequery/query/src/lib.rs
  fusequery/query/src/optimizers/optimizer_scatters.rs
  fusequery/query/src/optimizers/optimizer_test.rs
  fusequery/query/src/pipelines/transforms/transform_remote_test.rs
  fusequery/query/src/tests/service_new.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/engine/mod.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/executor/mod.rs
  fusestore/store/src/lib.rs
  fusestore/store/src/tests/logging.rs
Labels: pr-bugfix, pr-build, pr-doc-fix, pr-feature, pr-not-for-changelog, pr-other, pr-performance

#728 [store/meta] feature: generate unique auto-incr number
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/tests/service.rs
Labels: pr-feature

#731 Remove useless file
  fusequery/query/src/pipelines/transforms/mod.rs
  fusequery/query/src/pipelines/transforms/transform_remote_test.rs
Labels: pr-not-for-changelog

#729 [store/meta] refine: the same test cases should be applied to both state-machine and the meta server
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-improvement

#736 [docs] Add CLA
  .github/PULL_REQUEST_TEMPLATE.md
  website/datafuse/docs/policies/cla.md
Labels: pr-doc-fix

#737 [scripts] Make the scripts more simple
  .github/workflows/performance-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  Makefile
  scripts/build/build-debug.sh
  scripts/build/build-native.sh
  scripts/build/build-release.sh
  scripts/ci/ci-native-release-build.sh
  scripts/ci/ci-run-performance-tests-standalone.sh
  scripts/ci/ci-run-profile.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-standalone.sh
  scripts/ci/ci-run-stateless-tests.sh
  scripts/ci/ci-run-unit-tests.sh
  scripts/deploy/fusequery-cluster-3-nodes.sh
  scripts/deploy/fusequery-standalone-from-release.sh
  scripts/deploy/fusequery-standalone.sh
  website/datafuse/docs/development/contributing.md
Labels: pr-build, pr-improvement

#739 [common] Remove unused deps which lint by cargo udeps
  Cargo.lock
  common/aggregate_functions/Cargo.toml
  common/functions/Cargo.toml
  common/progress/Cargo.toml
  common/runtime/Cargo.toml
  common/streams/Cargo.toml
  fusestore/store/Cargo.toml
Labels: pr-improvement

#750 add simd mod
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/data_array_arithmetic.rs
  common/datavalues/src/data_value_kernel.rs
  common/datavalues/src/macros.rs
Labels: pr-improvement

#753 [dep] update thirdparty crates dep from datafuse-extras
  Cargo.lock
  common/exception/Cargo.toml
  fusequery/query/Cargo.toml
Labels: pr-improvement

#755 [expressions] support expression between
  common/planners/src/plan_expression_function.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-feature

#752 [AggregateFunctions] Add uniq, count distinct aggregate functions
  Cargo.lock
  common/aggregate_functions/src/aggregate_function.rs
  common/aggregate_functions/src/aggregate_uniq.rs
  common/aggregate_functions/src/aggregator.rs
  common/aggregate_functions/src/aggregator_test.rs
  common/aggregate_functions/src/lib.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/data_group_value.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/lib.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_function.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  fusequery/query/src/sql/expr_common.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-count-distinct.md
  website/datafuse/docs/system/system-tables.md
  website/datafuse/mkdocs.yml
Labels: pr-feature

#759 [common/arrow] add simd feature
  Cargo.lock
  common/arrow/Cargo.toml
Labels: pr-build

#766 [store/dfs] test: add deep path test
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/tests/mod.rs
  fusestore/store/src/tests/service.rs
Labels: pr-improvement

#768 [aggregate-functions] support distinct, if combinator
  common/aggregate_functions/src/aggregate_arg_max.rs
  common/aggregate_functions/src/aggregate_arg_min.rs
  common/aggregate_functions/src/aggregate_avg.rs
  common/aggregate_functions/src/aggregate_combinator_distinct.rs
  common/aggregate_functions/src/aggregate_combinator_if.rs
  common/aggregate_functions/src/aggregate_count.rs
  common/aggregate_functions/src/aggregate_function.rs
  common/aggregate_functions/src/aggregate_function_factory.rs
  common/aggregate_functions/src/aggregate_max.rs
  common/aggregate_functions/src/aggregate_min.rs
  common/aggregate_functions/src/aggregate_sum.rs
  common/aggregate_functions/src/aggregator.rs
  common/aggregate_functions/src/lib.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.result
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.sql
Labels: pr-feature

#772 [aggregate-functions] make count wildzard work
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0001_select_aggregator.sql
Labels: pr-bugfix

#777 [store] refactor: IFileSystem API uses ref to str instead of String
  common/aggregate_functions/src/aggregate_combinator_distinct.rs
  fusestore/store/src/data_part/appender.rs
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/fs/ifs.rs
  fusestore/store/src/localfs/local_fs.rs
  fusestore/store/src/localfs/local_fs_test.rs
Labels: pr-improvement

#787 ISSUE-786 print test summary only once
  tests/fuse-test
Labels: pr-build

#781 [deploy] build first when running
  Makefile
Labels: pr-build

#789 [docs] Fix some missing make command
  Makefile
  deploy/charts/README.md
  tests/README.md
Labels: pr-doc-fix

#722 [common/tracing] common/tracing
  Cargo.lock
  Cargo.toml
  common/planners/src/plan_expression_chain.rs
  common/tracing/Cargo.toml
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/api/rpc/flight_scatter.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/interpreters/interpreter_database_create.rs
  fusequery/query/src/interpreters/interpreter_database_create_test.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_expression.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/pipelines/transforms/transform_limit.rs
  fusequery/query/src/pipelines/transforms/transform_limit_by.rs
  fusequery/query/src/pipelines/transforms/transform_projection.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusequery/query/src/pipelines/transforms/transform_sort_merge.rs
  fusequery/query/src/pipelines/transforms/transform_sort_partial.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/tests/context.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/dfs/distributed_fs_test.rs
  fusestore/store/src/executor/action_handler_test.rs
  fusestore/store/src/localfs/local_fs.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
  fusestore/store/src/tests/logging.rs
  fusestore/store/src/tests/mod.rs
Labels: pr-improvement

#791 [common/building] fix: fuse version should be built outside build.rs
  common/building/src/lib.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/configs/config_test.rs
  fusestore/store/src/configs/mod.rs
Labels: pr-bugfix

#793 [store/meta]: test: non-leader raft node should returns ForwardToLeader error
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-build, pr-improvement

#782 [function] SELECT VERSION()
  common/functions/src/udfs/mod.rs
  common/functions/src/udfs/udf.rs
  common/functions/src/udfs/version.rs
  common/functions/src/udfs/version_test.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/configs/config.rs
  fusequery/query/src/functions/context_function.rs
  fusequery/query/src/sessions/context.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/configs/config.rs
  website/datafuse/docs/sqlstatement/information-functions/database.md
  website/datafuse/docs/sqlstatement/information-functions/version.md
  website/datafuse/mkdocs.yml
Labels: pr-feature

#798 [common] SIMD improvement
  common/datavalues/src/data_array_arithmetic.rs
  common/datavalues/src/data_array_arithmetic_test.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/macros.rs
  common/functions/src/arithmetics/arithmetic.rs
  common/planners/src/lib.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_expression_chain.rs
  fusequery/query/Cargo.toml
  fusestore/store/Cargo.toml
Labels: pr-improvement

#801 [tracing] fix tracing log level
  common/tracing/src/logging.rs
Labels: pr-bugfix

#803 ISSUES-802 add sleep function
  common/functions/src/udfs/mod.rs
  common/functions/src/udfs/sleep.rs
  common/functions/src/udfs/udf.rs
  website/datafuse/docs/sqlstatement/other-functions/sleep.md
Labels: pr-feature

#809 [store/meta] feature: deal with ForwardToLeader. Now every node can accept an meta write operation.
  fusestore/store/proto/store_meta.proto
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-feature

#811 [query] Change the tracing level from INFO to DEBUG
  fusequery/query/src/optimizers/optimizer.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_final.rs
  fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs
  fusequery/query/src/pipelines/transforms/transform_limit.rs
  fusequery/query/src/pipelines/transforms/transform_limit_by.rs
  fusequery/query/src/pipelines/transforms/transform_projection.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusequery/query/src/pipelines/transforms/transform_sort_merge.rs
  fusequery/query/src/pipelines/transforms/transform_sort_partial.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/sql/plan_parser.rs
  fusestore/store/src/meta_service/state_machine.rs
  website/datafuse/Makefile
  website/datafuse/docs/development/coding-guidelines.md
  website/datafuse/docs/development/tracing.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix, pr-improvement, pr-not-for-changelog

#812 [docs] add roadmap
  website/datafuse/docs/development/roadmap.md
  website/datafuse/docs/development/tracing.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#818 [docs] add aggregate combinator
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-combinator.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#821 [functions] fix count return null
  Cargo.lock
  common/aggregate_functions/src/aggregate_count.rs
  fusequery/query/Cargo.toml
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.result
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.sql
Labels: pr-bugfix

#820 [common/aggregate] refine the tests
  common/aggregate_functions/src/aggregate_batch_test.rs
  common/aggregate_functions/src/aggregate_combinator_test.rs
  common/aggregate_functions/src/aggregate_function_test.rs
  common/aggregate_functions/src/lib.rs
Labels: pr-improvement, pr-not-for-changelog

#773 support LIMIT OFFSET
  common/datablocks/src/data_block.rs
  common/datavalues/src/data_columnar_value.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_display.rs
  common/planners/src/plan_limit.rs
  common/planners/src/plan_limit_test.rs
  common/planners/src/plan_rewriter.rs
  common/streams/src/lib.rs
  common/streams/src/stream_limit.rs
  common/streams/src/stream_skip.rs
  common/streams/src/stream_take.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_limit.rs
  fusequery/query/src/pipelines/transforms/transform_limit_test.rs
  fusequery/query/src/sql/plan_parser.rs
Labels: pr-feature

#825 [style] rename groupby to group_by
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_test.rs
  common/datablocks/src/kernels/mod.rs
  common/planners/src/plan_aggregator_final.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/mod.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial_test.rs
Labels: pr-improvement

#828 ISSUES-827 extract getter and setter of settings from context to setting
  fusequery/benchmarks/nyctaxi/src/bin/nyctaxi.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/interpreters/interpreter_setting.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_scatters.rs
  fusequery/query/src/pipelines/transforms/transform_remote.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/macros.rs
  fusequery/query/src/sessions/settings.rs
Labels: pr-not-for-changelog

#829 Support like & not like
  common/datavalues/src/data_array_comparison.rs
  common/datavalues/src/data_array_comparison_test.rs
  common/datavalues/src/data_value_operator.rs
  common/datavalues/src/macros.rs
  common/functions/src/comparisons/comparison.rs
  common/functions/src/comparisons/comparison_like.rs
  common/functions/src/comparisons/comparison_not_like.rs
  common/functions/src/comparisons/comparison_test.rs
  common/functions/src/comparisons/mod.rs
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_compare.sql
Labels: pr-feature

#840 fix container deploy err
  docker/bootstrap.sh
Labels: pr-bugfix

#704 ISSUES-204 graceful shutdown for mysql handler
  Cargo.lock
  Cargo.toml
  common/exception/src/exception.rs
  common/ext/Cargo.toml
  common/ext/src/result_ext.rs
  common/streams/src/lib.rs
  common/streams/src/stream_abort.rs
  fusequery/query/Cargo.toml
  fusequery/query/benches/suites/mod.rs
  fusequery/query/src/api/rpc/flight_dispatcher_test.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/servers/abortable.rs
  fusequery/query/src/servers/mod.rs
  fusequery/query/src/servers/mysql/endpoints/endpoint.rs
  fusequery/query/src/servers/mysql/endpoints/mod.rs
  fusequery/query/src/servers/mysql/mod.rs
  fusequery/query/src/servers/mysql/mysql_handler.rs
  fusequery/query/src/servers/mysql/mysql_handler_test.rs
  fusequery/query/src/servers/mysql/mysql_interactive_worker.rs
  fusequery/query/src/servers/mysql/mysql_session.rs
  fusequery/query/src/servers/mysql/mysql_session_test.rs
  fusequery/query/src/servers/mysql/reject_connection.rs
  fusequery/query/src/servers/mysql/writers/init_result_writer.rs
  fusequery/query/src/servers/mysql/writers/mod.rs
  fusequery/query/src/servers/mysql/writers/query_result_writer.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/mod.rs
  fusequery/query/src/sessions/session.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sessions/sessions_test.rs
  fusequery/query/src/sessions/status.rs
  fusequery/query/src/tests/service.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/05_0000_ddl_drop_tables.result
  tests/suites/0_stateless/05_0000_ddl_drop_tables.sql
  tests/suites/0_stateless/05_0001_ddl_create_database.result
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
  tests/suites/0_stateless/05_0001_ddl_drop_database.result
  tests/suites/0_stateless/05_0001_ddl_drop_database.sql
  tests/suites/0_stateless/05_0002_ddl_create_local_csv_table.result
  tests/suites/0_stateless/05_0002_ddl_create_local_csv_table.sql
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/06_0000_show_queries.sql
  tests/suites/0_stateless/07_0000_use_database.result
  tests/suites/0_stateless/09_0000_remote_create_table.result
  tests/suites/0_stateless/09_0000_remote_create_table.sql
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-improvement

#845 [Build] better logging
  docker/Dockerfile
  docker/bootstrap.sh
  docker/fusequery-docker.toml
Labels: pr-build

#843 [mysql] add hints parser and tests
  Cargo.lock
  common/exception/src/exception.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/servers/mysql/mysql_handler_test.rs
  fusequery/query/src/servers/mysql/mysql_interactive_worker.rs
  fusequery/query/src/sql/plan_parser.rs
  fusequery/query/src/sql/sql_parser.rs
  fusequery/query/src/sql/sql_parser_test.rs
  fusequery/query/src/sql/sql_statement.rs
  tests/fuse-test
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0001_system_tables.result
  tests/suites/0_stateless/02_0000_function_arithmetic.result
  tests/suites/0_stateless/02_0001_function_to_type_name.result
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0003_function_database.result
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display_cluster.result
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0005_function_substring.result
  tests/suites/0_stateless/02_0006_function_argmin_argmax.result
  tests/suites/0_stateless/03_0000_select_aliases.result
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0002_select_aggregator_with_filter.result
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/03_0006_select_having.result
  tests/suites/0_stateless/03_0007_select_alias.result
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/04_0001_explain_pipeline.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/05_0000_ddl_drop_tables.result
  tests/suites/0_stateless/05_0000_ddl_drop_tables.sql
  tests/suites/0_stateless/05_0001_ddl_create_database.result
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
  tests/suites/0_stateless/05_0001_ddl_drop_database.result
  tests/suites/0_stateless/05_0001_ddl_drop_database.sql
  tests/suites/0_stateless/05_0002_ddl_create_local_csv_table.result
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/07_0000_use_database.result
  tests/suites/0_stateless/07_0000_use_database.sql
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
  tests/suites/0_stateless/09_0000_remote_create_table.result
  tests/suites/0_stateless/09_0000_remote_create_table.sql
  tests/suites/0_stateless/09_0001_remote_insert.result
Labels: pr-feature, pr-improvement, pr-not-for-changelog

#846 [performance] add concurrency and iteration flagging
  tests/perfs/perfs.py
Labels: pr-feature

#847 [Build/CI] perf-tool container
  Makefile
  docker/perf-tool/Dockerfile
Labels: pr-build

#842 [common] refactor column_name for special cases
  Cargo.lock
  common/planners/Cargo.toml
  common/planners/src/plan_expression.rs
  fusequery/query/src/sql/plan_parser_test.rs
  website/datafuse/docs/sqlstatement/information-functions/database.md
  website/datafuse/docs/sqlstatement/information-functions/version.md
Labels: pr-bugfix

#848 [function] compatible with mysql when aggregate function work on empty data
  common/aggregate_functions/src/aggregate_arg_max.rs
  common/aggregate_functions/src/aggregate_arg_min.rs
  common/aggregate_functions/src/aggregate_avg.rs
  common/aggregate_functions/src/aggregate_combinator_test.rs
  common/aggregate_functions/src/aggregate_function_test.rs
  common/aggregate_functions/src/aggregate_max.rs
  common/aggregate_functions/src/aggregate_min.rs
  common/datablocks/src/data_block_debug.rs
  common/datavalues/src/data_array.rs
  common/datavalues/src/data_value.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final.rs
  fusequery/query/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/0_stateless/02_00007_function_aggreator_on_empty.result
  tests/suites/0_stateless/02_00007_function_aggreator_on_empty.sql
  tests/suites/0_stateless/03_0002_select_aggregator_with_filter.result
Labels: pr-bugfix, pr-improvement

#855 [sql] update hint parser for better format
  fusequery/query/src/sql/sql_parser_test.rs
  fusequery/query/src/sql/sql_statement.rs
Labels: pr-improvement

#854 ISSUES-832 support graceful shutdown for HTTP API
  common/exception/src/exception.rs
  fusequery/query/src/api/http/router.rs
  fusequery/query/src/api/http_service.rs
  fusequery/query/src/bin/fuse-query.rs
Labels: pr-improvement

#857 Remove compile warnings when run test
  fusequery/query/src/servers/mysql/mysql_handler_test.rs
  fusequery/query/src/servers/mysql/mysql_session_test.rs
  fusequery/query/src/servers/mysql/writers/query_result_writer.rs
Labels: pr-not-for-changelog

#863 ISSUES-832 support graceful shutdown for Metrics API
  fusequery/query/src/api/http_service.rs
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/metrics/metric_service.rs
  fusequery/query/src/metrics/metric_service_test.rs
  fusequery/query/src/metrics/mod.rs
Labels: pr-improvement

#870 ISSUES-548 try fix flake test for MySQLHandler
  fusequery/query/src/servers/mysql/mysql_handler_test.rs
Labels: pr-not-for-changelog

#875 [store] feature: MetaNode suuport AddDatabase
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
Labels: pr-feature, pr-improvement

#877 multi architecture build support
  Makefile
  docker/README.md
Labels: pr-build, pr-doc-fix

#880 [store] test: add unit-test to ActionHandler::create_db()
  fusestore/store/src/api/rpc/flight_service.rs
  fusestore/store/src/api/rpc_service.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/action_handler_test.rs
Labels: fusestore, pr-build, pr-improvement, testing

#884 [store] refactor: move common meta data types into common/metatypes
  Cargo.lock
  Cargo.toml
  common/metatypes/Cargo.toml
  common/metatypes/src/lib.rs
  fusestore/store/Cargo.toml
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-improvement

#886 [common/exceptions] feature: add convertion from and to tonic::Status
  Cargo.lock
  common/exception/Cargo.toml
  common/exception/src/exception.rs
  common/exception/src/exception_test.rs
  fusequery/query/src/api/rpc/mod.rs
Labels: pr-feature

#892 [*] bump sqlparser and fix bench
  Cargo.lock
  common/exception/Cargo.toml
  fusequery/query/Cargo.toml
  fusequery/query/benches/suites/mod.rs
  fusequery/query/src/servers/mod.rs
  fusequery/query/src/servers/mysql/mod.rs
Labels: pr-build

#859 [security] Basic Audit
  .github/workflows/pr-audit.yml
  Cargo.lock
  README.md
  common/arrow/Cargo.toml
  common/datavalues/Cargo.toml
  common/datavalues/src/data_value_kernel.rs
Labels: pr-build

#889 [store] feature: add ActionHandler::get_db()
  common/flights/src/lib.rs
  common/flights/src/store_do_action.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/executor/action_handler_test.rs
Labels: pr-feature

#897 [store] feature: flight: add get_database()
  Cargo.lock
  common/exception/src/exception.rs
  common/flights/Cargo.toml
  common/flights/src/store_client.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/configs/config.rs
  fusestore/store/src/tests/service.rs
Labels: fusestore, pr-feature

#879 ISSUE-873: system.tracing table
  .gitignore
  Cargo.lock
  common/tracing/Cargo.toml
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  fusequery/benchmarks/nyctaxi/src/bin/nyctaxi.rs
  fusequery/query/Cargo.toml
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/system/mod.rs
  fusequery/query/src/datasources/system/system_database.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  fusequery/query/src/datasources/system/tracing_table.rs
  fusequery/query/src/datasources/system/tracing_table_stream.rs
  fusequery/query/src/datasources/system/tracing_table_test.rs
  fusequery/query/src/servers/mysql/mysql_session.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/sessions/session.rs
  fusequery/query/src/sessions/sessions.rs
  fusequery/query/src/sessions/status.rs
  fusequery/query/src/tests/context.rs
  tests/data/logs/fuse-query.2021-06-25-04
Labels: pr-feature

#902 [store/meta] feature: add "unclassified" namespace to meta to store everything else a user need.
  common/metatypes/src/lib.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: pr-feature

#906 [store] feature: store-flight provides general purpose kv api: upser_kv() and get_kv()
  Cargo.lock
  common/flights/Cargo.toml
  common/flights/src/lib.rs
  common/flights/src/store_client.rs
  common/flights/src/store_do_action.rs
  fusestore/store/src/api/rpc/flight_service_test.rs
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-feature

#909 ISSUE-899 try fix cannot destroy session when panic for MySQL
  common/infallible/src/exit_guard.rs
  common/infallible/src/lib.rs
  fusequery/query/src/servers/mysql/mysql_session.rs
Labels: pr-improvement

#908 [plan] add pushdowns for ReadDataSourcePlan
  common/planners/src/lib.rs
  common/planners/src/plan_builder.rs
  common/planners/src/plan_extras.rs
  common/planners/src/plan_extras_test.rs
  common/planners/src/plan_limit_test.rs
  common/planners/src/plan_projection_test.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/src/plan_scan.rs
  common/planners/src/plan_scan_test.rs
  common/planners/src/plan_select_test.rs
  fusequery/query/src/api/rpc/flight_dispatcher_test.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/null_table_test.rs
  fusequery/query/src/datasources/local/parquet_table.rs
  fusequery/query/src/datasources/local/parquet_table_test.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/remote_table_do_read.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/clusters_table_test.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/contributors_table_test.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/databases_table_test.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/settings_table_test.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  fusequery/query/src/datasources/system/tracing_table.rs
  fusequery/query/src/datasources/system/tracing_table_stream.rs
  fusequery/query/src/datasources/system/tracing_table_test.rs
  fusequery/query/src/datasources/table.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/transforms/transform_source.rs
  fusequery/query/src/tests/number.rs
Labels: pr-improvement

#890 [refactor] rename partition to part
  common/flights/src/store_do_action.rs
  common/flights/src/store_do_get.rs
  common/planners/src/lib.rs
  common/planners/src/plan_display.rs
  common/planners/src/plan_partition.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/src/test.rs
  fusequery/query/src/datasources/common.rs
  fusequery/query/src/datasources/common_test.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/null_table.rs
  fusequery/query/src/datasources/local/parquet_table.rs
  fusequery/query/src/datasources/remote/remote_table.rs
  fusequery/query/src/datasources/remote/remote_table_do_read.rs
  fusequery/query/src/datasources/system/clusters_table.rs
  fusequery/query/src/datasources/system/contributors_table.rs
  fusequery/query/src/datasources/system/databases_table.rs
  fusequery/query/src/datasources/system/functions_table.rs
  fusequery/query/src/datasources/system/numbers_table.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/one_table.rs
  fusequery/query/src/datasources/system/settings_table.rs
  fusequery/query/src/datasources/system/tables_table.rs
  fusequery/query/src/datasources/system/tracing_table.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/sessions/context.rs
  fusequery/query/src/tests/number.rs
  fusestore/store/src/engine/mem_engine.rs
  fusestore/store/src/executor/action_handler.rs
Labels: pr-improvement

#917 [common/exception] feature: add convertion from &Status
  common/exception/src/exception.rs
  common/exception/src/exception_test.rs
  common/exception/src/lib.rs
  common/exception/tests/prelude_test.rs
Labels: pr-feature

#920 Prepare remove anyhow library for FuseQuery
  fusequery/query/benches/suites/mod.rs
  fusequery/query/src/api/rpc_service.rs
  fusequery/query/src/bin/fuse-benchmark.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/local/csv_table.rs
  fusequery/query/src/datasources/local/csv_table_stream.rs
  fusequery/query/src/datasources/local/csv_table_test.rs
  fusequery/query/src/datasources/local/null_table_test.rs
  fusequery/query/src/datasources/local/parquet_table_test.rs
  fusequery/query/src/datasources/system/contributors_table_test.rs
  fusequery/query/src/datasources/system/databases_table_test.rs
  fusequery/query/src/datasources/system/functions_table_test.rs
  fusequery/query/src/datasources/system/numbers_table_test.rs
  fusequery/query/src/datasources/system/settings_table_test.rs
  fusequery/query/src/datasources/system/tables_table_test.rs
  fusequery/query/src/datasources/system/tracing_table_test.rs
  fusequery/query/src/datasources/tests.rs
  fusequery/query/src/functions/context_function_test.rs
  fusequery/query/src/interpreters/interpreter_database_create_test.rs
  fusequery/query/src/interpreters/interpreter_database_drop_test.rs
  fusequery/query/src/interpreters/interpreter_explain_test.rs
  fusequery/query/src/interpreters/interpreter_setting_test.rs
  fusequery/query/src/interpreters/interpreter_table_create_test.rs
  fusequery/query/src/interpreters/interpreter_table_drop_test.rs
  fusequery/query/src/interpreters/interpreter_use_database_test.rs
  fusequery/query/src/optimizers/optimizer_alias_push_down_test.rs
  fusequery/query/src/optimizers/optimizer_constant_folding_test.rs
  fusequery/query/src/optimizers/optimizer_projection_push_down_test.rs
  fusequery/query/src/pipelines/processors/pipe_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder_test.rs
  fusequery/query/src/pipelines/processors/pipeline_display.rs
  fusequery/query/src/pipelines/processors/pipeline_display_test.rs
  fusequery/query/src/pipelines/processors/pipeline_walker.rs
  fusequery/query/src/pipelines/processors/pipeline_walker_test.rs
  fusequery/query/src/pipelines/processors/processor_empty_test.rs
  fusequery/query/src/pipelines/processors/processor_merge_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_aggregator_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_expression_test.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_final_test.rs
  fusequery/query/src/pipelines/transforms/transform_group_by_partial_test.rs
  fusequery/query/src/pipelines/transforms/transform_limit_by_test.rs
  fusequery/query/src/pipelines/transforms/transform_limit_test.rs
  fusequery/query/src/pipelines/transforms/transform_projection_test.rs
  fusequery/query/src/pipelines/transforms/transform_sort_test.rs
  fusequery/query/src/pipelines/transforms/transform_source_test.rs
  fusequery/query/src/sql/plan_parser_test.rs
  fusequery/query/src/tests/service.rs
Labels: pr-not-for-changelog

#921 [common/exception] refine: ToErrorCode should not expect E to be an std::error::Error in "Result<T, E>"
  common/exception/src/exception.rs
  common/exception/src/exception_test.rs
Labels: pr-improvement

#916 ISSUE-903: add crashme(expression) function for testing
  common/functions/src/udfs/crash_me.rs
  common/functions/src/udfs/mod.rs
  common/functions/src/udfs/udf.rs
  tests/suites/0_stateless/02_0007_function_aggreator_on_empty.result
  tests/suites/0_stateless/02_0007_function_aggreator_on_empty.sql
  tests/suites/0_stateless/02_0008_function_crashme.result
  tests/suites/0_stateless/02_0008_function_crashme.sql
Labels: pr-build, pr-not-for-changelog

#922 GITHUB: better issue template
  .github/ISSUE_TEMPLATE/20_feature-request.md
  .github/ISSUE_TEMPLATE/30_bug-report.md
  .github/ISSUE_TEMPLATE/40_build-issue.md
  .github/ISSUE_TEMPLATE/50_documentation-issue.md
  .github/ISSUE_TEMPLATE/60_improvement-issue.md
  .github/ISSUE_TEMPLATE/70_performance-issue.md
  .github/ISSUE_TEMPLATE/80_other-issue.md
Labels: pr-build, pr-not-for-changelog

#925 ISSUE-923: add test functions to doc and update roadmap
  website/datafuse/docs/development/roadmap.md
  website/datafuse/docs/sqlstatement/test-functions/crashme.md
  website/datafuse/docs/sqlstatement/test-functions/sleep.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#924 [store] refactor: rename unclassified to generic/general-purpose
  fusestore/store/src/executor/action_handler.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: pr-improvement

#926 [store] refactor: raftmeta: use common/exception::ErrorCode instead of anyhow::Error if possible
  common/exception/src/exception.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/raftmeta.rs
Labels: fusestore, pr-improvement

#927 [store] refactor: merge Meta into StateMachine
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/meta_service/meta.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-improvement

#911 [Feature] Configuration based on environment variable
  fusequery/query/src/bin/fuse-query.rs
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
Labels: pr-feature

#937 ISSUE-936: rename RFC name
  website/datafuse/docs/rfcs/query/0001-join-framework-design.md
  website/datafuse/docs/rfcs/query/0002-plan-expression.md
  website/datafuse/docs/rfcs/query/0003-data-shuffle.md
  website/datafuse/docs/rfcs/store/0001-store-design.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix, pr-not-for-changelog

#764 [WIP] Support exists
  common/planners/src/expr_common.rs
  common/planners/src/lib.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_action.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_visitor.rs
  common/planners/src/plan_rewriter.rs
  fusequery/query/src/api/rpc/actions.rs
  fusequery/query/src/api/rpc/flight_dispatcher.rs
  fusequery/query/src/api/rpc/flight_dispatcher_test.rs
  fusequery/query/src/api/rpc/flight_scatter.rs
  fusequery/query/src/api/rpc/flight_service_new.rs
  fusequery/query/src/api/rpc/flight_service_new_test.rs
  fusequery/query/src/datasources/system/numbers_stream.rs
  fusequery/query/src/interpreters/interpreter_explain.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/interpreters/plan_scheduler_test.rs
  fusequery/query/src/pipelines/processors/pipeline_builder.rs
  fusequery/query/src/pipelines/processors/pipeline_builder_test.rs
  fusequery/query/src/pipelines/processors/pipeline_display_test.rs
  fusequery/query/src/pipelines/processors/pipeline_walker_test.rs
  fusequery/query/src/pipelines/transforms/transform_expression.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  fusequery/query/src/pipelines/transforms/transform_filter.rs
  fusequery/query/src/pipelines/transforms/transform_filter_test.rs
  fusequery/query/src/pipelines/transforms/transform_projection.rs
  fusequery/query/src/sql/mod.rs
  fusequery/query/src/sql/plan_parser.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
Labels: pr-feature

#943 ISSUE-942: fix clippy warnings
  .github/workflows/cargo.yml
  Makefile
  common/planners/src/lib.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_visitor.rs
  fusequery/query/src/api/rpc/flight_service_new_test.rs
  fusequery/query/src/interpreters/interpreter_select.rs
  fusequery/query/src/interpreters/plan_scheduler.rs
  fusequery/query/src/pipelines/transforms/transform_expression_executor.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/00_0000_dummy_select_1.sql
  tests/suites/0_stateless/03_0009_select_exists.result
  tests/suites/0_stateless/03_0009_select_exists.sql
Labels: pr-improvement

#946 ISSUE-945: add tracing to file for store
  fusestore/store/src/bin/fuse-store.rs
  fusestore/store/src/configs/config.rs
Labels: pr-improvement

#932 [store] refactor terms
  fusestore/store/src/dfs/distributed_fs.rs
  fusestore/store/src/executor/kv_handlers.rs
  fusestore/store/src/meta_service/applied_state.rs
  fusestore/store/src/meta_service/cmd.rs
  fusestore/store/src/meta_service/errors.rs
  fusestore/store/src/meta_service/log_entry.rs
  fusestore/store/src/meta_service/meta_service_impl.rs
  fusestore/store/src/meta_service/meta_service_impl_test.rs
  fusestore/store/src/meta_service/mod.rs
  fusestore/store/src/meta_service/raft_txid.rs
  fusestore/store/src/meta_service/raftmeta.rs
  fusestore/store/src/meta_service/raftmeta_test.rs
  fusestore/store/src/meta_service/state_machine.rs
  fusestore/store/src/meta_service/state_machine_test.rs
Labels: pr-improvement

#947 Suppress user and password info output via Config structure.
  fusequery/query/src/configs/config.rs
  fusequery/query/src/configs/config_test.rs
  fusequery/query/src/datasources/remote/remote_factory.rs
Labels: pr-improvement, pr-not-for-changelog
