Repository databendlabs/databend, pull requests merged in 2021-12, with the labels that each got.

#3183 Add docs for load
  query/src/sql/sql_parser_test.rs
  tests/suites/0_stateful/12_0000_copy_s3.sql
  website/databend/docs/sqlstatement/data-loading/copy-data-from-stage.md
  website/databend/docs/sqlstatement/data-loading/http-streaming-load.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix, need-review

#3186 [ci] refactor: clean up all temp meta dir: "_meta*"
  Makefile
Labels: pr-improvement, need-review

#3188 [memory table] add insert overwrite
  query/src/storages/memory/memory_table.rs
  query/src/storages/memory/memory_table_test.rs
  tests/suites/0_stateless/13_0000_remote_insert_overwrite.result
  tests/suites/0_stateless/13_0000_remote_insert_overwrite.sql
  tests/suites/0_stateless/13_0001_insert_overwrite.result
  tests/suites/0_stateless/13_0001_insert_overwrite.sql
Labels: pr-feature, need-review

#3191 make table func case insensitive
  query/src/table_functions/table_function_factory.rs
Labels: pr-bugfix, need-review

#3185 [deps] intro naive-cityhash
  Cargo.lock
  common/clickhouse-srv/Cargo.toml
  common/clickhouse-srv/src/types/block/compressed.rs
  common/clickhouse-srv/src/types/block/mod.rs
  query/Cargo.toml
Labels: pr-improvement, need-review

#3189 INSERT()
  common/functions/src/scalars/strings/insert.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0027_function_strings_insert.result
  tests/suites/0_stateless/02_0027_function_strings_insert.sql
  website/databend/docs/sqlstatement/string-functions/insert.md
  website/databend/mkdocs.yml
Labels: pr-feature, need-review

#3179 POSITION() func impl
  Cargo.lock
  common/exception/Cargo.toml
  common/functions/src/scalars/strings/string.rs
  query/Cargo.toml
  query/src/sql/sql_parser_test.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/02_0026_function_strings_position.result
  tests/suites/0_stateless/02_0026_function_strings_position.sql
  website/databend/docs/sqlstatement/string-functions/position.md
  website/databend/mkdocs.yml
Labels: pr-feature, need-review

#3154 [ISSUE-3128] Support Projection push down for MemoryTable Engine
  query/src/storages/memory/memory_table.rs
  query/src/storages/memory/memory_table_test.rs
  tests/suites/0_stateless/README.md
Labels: pr-feature, need-review

#3198 Set table_engine_memory_enabled default value
  query/src/configs/config_query.rs
Labels: pr-improvement, need-review

#3182 ISSUE-3176: introduce compact statement
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_compact_table.rs
  query/src/storages/fuse/index/min_max_test.rs
  query/src/storages/fuse/table_test.rs
  query/src/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/09_0005_remote_insert_into_select.result
  tests/suites/0_stateless/09_0005_remote_insert_into_select.sql
Labels: pr-improvement, pr-not-for-changelog

#3196 add trim function, add ut for trim funcions
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/trim.rs
  common/functions/tests/it/scalars/strings/mod.rs
  common/functions/tests/it/scalars/strings/trim.rs
Labels: pr-feature, need-review

#3184 [docs] add doc for http handler.
  cli/src/cmds/queries/query.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/http_query_handlers_test.rs
  website/databend/docs/api/http-handler.md
  website/databend/docs/overview/building-and-running.md
  website/databend/mkdocs.yml
Labels: pr-not-for-changelog

#3195 ISSUE-3112: Add monotonicity in range filter
  common/datavalues/src/data_value.rs
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/function.rs
  common/functions/src/scalars/function_monotonic.rs
  common/functions/src/scalars/maths/abs.rs
  common/functions/src/scalars/mod.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/optimizers/utils.rs
  query/src/optimizers/utils_test.rs
  query/src/storages/index/range_filter.rs
  query/src/storages/index/range_filter_test.rs
Labels: pr-improvement, need-review

#3204 STORAGE-3203: Fix github table engine inits
  query/src/storages/github/mod.rs
  query/src/storages/github/repo_comments_table.rs
  query/src/storages/github/repo_info_table.rs
  query/src/storages/github/repo_issues_table.rs
  query/src/storages/github/repo_prs_table.rs
  query/src/storages/storage_factory.rs
Labels: pr-bugfix, need-review

#3202 ISSUE-3180: docs for `insert overwrite`
  query/src/interpreters/interpreter_insert_into.rs
  website/databend/docs/sqlstatement/data-manipulation-language-dml/dml-insert.md
Labels: pr-improvement, pr-not-for-changelog, need-review

#3207 try fix the CI error about protoc
  .github/workflows/databend-base.yml
  .github/workflows/stateful-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
Labels: pr-bugfix, need-review

#3211 Refactor: Move plan schedulers to plan_schedulers dir
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_explain.rs
  query/src/interpreters/interpreter_grant_privilege.rs
  query/src/interpreters/interpreter_insert_into.rs
  query/src/interpreters/interpreter_revoke_privilege.rs
  query/src/interpreters/interpreter_select.rs
  query/src/interpreters/mod.rs
  query/src/interpreters/plan_scheduler_ext.rs
  query/src/interpreters/plan_schedulers/mod.rs
  query/src/interpreters/plan_schedulers/plan_scheduler.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_error.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_query.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_stream.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_test.rs
Labels: pr-improvement

#3215 FIELD() func
  common/functions/src/scalars/strings/field.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0029_function_strings_field.result
  tests/suites/0_stateless/02_0029_function_strings_field.sql
  website/databend/docs/sqlstatement/string-functions/field.md
  website/databend/mkdocs.yml
Labels: pr-feature

#3223 [common/function] refactor: simplify get_layout_offsets
  Cargo.lock
  common/functions/src/aggregates/aggregate_function_state.rs
Labels: pr-improvement, need-review

#3217 INSTR() func
  common/functions/src/scalars/strings/locate.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0025_function_strings_locate.result
  tests/suites/0_stateless/02_0025_function_strings_locate.sql
  tests/suites/0_stateless/02_0026_function_strings_position.result
  tests/suites/0_stateless/02_0026_function_strings_position.sql
  website/databend/docs/sqlstatement/string-functions/instr.md
  website/databend/mkdocs.yml
Labels: pr-feature, need-review

#3218 [bench] build the SessionManager from the default config
  query/benches/suites/mod.rs
Labels: pr-not-for-changelog, need-review

#3227 add octet_length function
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/octet_length.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0030_function_strings_octet_length.result
  tests/suites/0_stateless/02_0030_function_strings_octet_length.sql
Labels: pr-improvement, need-review

#3226 ISSUE-3222: refactoring insert interpreter
  common/planners/src/lib.rs
  common/planners/src/plan_insert_into.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/interpreters/interpreter_insert_into.rs
  query/src/interpreters/interpreter_insert_test.rs
  query/src/interpreters/interpreter_insert_with_plan.rs
  query/src/interpreters/interpreter_insert_with_stream.rs
  query/src/interpreters/interpreter_truncate_table_test.rs
  query/src/interpreters/mod.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/http/v1/load.rs
  query/src/sql/statements/statement_insert.rs
Labels: pr-improvement, pr-not-for-changelog

#3231 SUBSTRING(), SUBSTR(), MID() funcs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/substring.rs
  common/functions/tests/it/scalars/strings/substring.rs
  tests/suites/0_stateless/02_0005_function_substring.result
  tests/suites/0_stateless/02_0005_function_substring.sql
  website/databend/docs/sqlstatement/string-functions/mid.md
  website/databend/docs/sqlstatement/string-functions/substr.md
  website/databend/docs/sqlstatement/string-functions/substring.md
  website/databend/mkdocs.yml
Labels: pr-feature, need-review

#3232 BIT_LENGTH implementation
  common/functions/src/scalars/strings/bit_length.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0028_function_strings_bit_length.result
  tests/suites/0_stateless/02_0028_function_strings_bit_length.sql
  website/databend/docs/sqlstatement/string-functions/bit_length.md
  website/databend/mkdocs.yml
Labels: pr-improvement, need-review

#3213 refactor unit tests
  common/functions/tests/it/scalars/strings/mod.rs
  common/functions/tests/it/scalars/strings/substring.rs
  common/functions/tests/it/scalars/strings/trim.rs
  common/functions/tests/it/scalars/strings/utils.rs
Labels: pr-improvement, pr-build, need-review

#3238 [mysql-srv] fix init_query
  query/src/servers/mysql/mysql_interactive_worker.rs
  tests/suites/0_stateless/07_0000_use_database.sql
Labels: pr-bugfix, pr-not-for-changelog

#3234 ISSUE #2978, Add system.query_log
  query/src/configs/config_query.rs
  query/src/configs/config_test.rs
  query/src/sessions/sessions.rs
  query/src/storages/mod.rs
  query/src/storages/system/configs_table_test.rs
  query/src/storages/system/database.rs
  query/src/storages/system/mod.rs
  query/src/storages/system/query_log_memory_store.rs
  query/src/storages/system/query_log_memory_store_test.rs
  query/src/storages/system/query_log_table.rs
  query/src/storages/system/query_log_table_test.rs
  query/src/storages/system/tables_table_test.rs
  tests/suites/0_stateless/01_0002_system_query_log.result
  tests/suites/0_stateless/01_0002_system_query_log.sql
Labels: pr-feature, need-review

#3240 show http usage port in config
  query/src/bin/databend-query.rs
Labels: pr-bugfix, pr-other, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#3246 HTTP: Refine the mod import and add http usage function
  cli/src/cmds/queries/query.rs
  query/src/bin/databend-query.rs
  query/src/servers/http/http_services.rs
  query/src/servers/http/mod.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/http_query_handlers_test.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_manager.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/query/result_data_manager.rs
  query/src/servers/http/v1/statement.rs
  query/src/servers/http/v1/statement_test.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/src/sessions/sessions.rs
Labels: pr-improvement, need-review

#3236 ISSUE-#3235 filter tracing log file
  query/src/storages/system/tracing_table_stream.rs
Labels: pr-bugfix, need-review

#3247 Add other table options for create table
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
Labels: pr-feature, need-review

#3242 adjust docs for docusaurus
  website/databend/docs/sqlstatement/string-functions/field.md
  website/databend/docs/sqlstatement/string-functions/instr.md
  website/databend/docs/sqlstatement/string-functions/mid.md
  website/databend/docs/sqlstatement/string-functions/substr.md
  website/databend/docs/sqlstatement/string-functions/substring.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#3249 STRCMP() func
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/strcmp.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0032_function_strings_strcmp.result
  tests/suites/0_stateless/02_0032_function_strings_strcmp.sql
  website/databend/docs/sqlstatement/string-functions/strcmp.md
Labels: pr-feature

#3250 Fix logo image not found for README
  README.md
Labels: pr-not-for-changelog, need-review

#3248 REPLACE func
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/replace.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0031_function_strings_replace.result
  tests/suites/0_stateless/02_0031_function_strings_replace.sql
  website/databend/docs/sqlstatement/string-functions/replace.md
Labels: pr-feature

#3214 [functions] string CONCAT() finished
  common/datavalues/src/types/data_type.rs
  common/functions/src/scalars/strings/concat.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0031_function_strings_concat.result
  tests/suites/0_stateless/02_0031_function_strings_concat.sql
  website/databend/docs/sqlstatement/string-functions/concat.md
Labels: pr-improvement

#3243 REVERSE() func
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/reverse.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0031_function_strings_reverse.result
  tests/suites/0_stateless/02_0031_function_strings_reverse.sql
  website/databend/docs/sqlstatement/string-functions/reverse.md
Labels: pr-feature, need-review

#3228 Complete dates function monotonicity check
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/dates/round_function.rs
  common/functions/src/scalars/dates/week_date.rs
  common/functions/src/scalars/maths/abs.rs
  query/src/optimizers/utils_test.rs
Labels: pr-improvement, need-review

#3241 SUBSTRING_INDEX() func
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/substring_index.rs
  tests/suites/0_stateless/02_0026_function_string_substring_index.result
  tests/suites/0_stateless/02_0026_function_string_substring_index.sql
  website/databend/docs/sqlstatement/string-functions/substring_index.md
Labels: pr-feature, need-review

#3256 bendctl support multi space in the command
  cli/src/cmds/command.rs
Labels: pr-bugfix, need-review

#3260 concat ws function
  common/functions/src/scalars/strings/concat_ws.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0033_function_strings_concat_ws.result
  tests/suites/0_stateless/02_0033_function_strings_concat_ws.sql
  website/databend/docs/sqlstatement/string-functions/concat_ws.md
Labels: pr-feature, need-review

#3254 LEFT() and RIGHT()
  common/functions/src/scalars/strings/leftright.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0033_function_strings_leftright.result
  tests/suites/0_stateless/02_0033_function_strings_leftright.sql
  website/databend/docs/sqlstatement/string-functions/left.md
  website/databend/docs/sqlstatement/string-functions/right.md
Labels: pr-feature, need-review

#3265 [makefile] use objcopy to reduce binary size
  .cargo/config
  .github/workflows/databend-docker.yml
  .github/workflows/databend-performance-dispatch.yaml
  .github/workflows/databend-release.yml
  Makefile
Labels: pr-build, pr-not-for-changelog

#3255 SPACE()
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/space.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0034_function_strings_space.result
  tests/suites/0_stateless/02_0034_function_strings_space.sql
  website/databend/docs/sqlstatement/string-functions/space.md
Labels: pr-feature, need-review

#3272 [ci] setup rustflags to reduce binary size
  .github/workflows/databend-docker.yml
  .github/workflows/databend-release.yml
  Cross.toml
  Makefile
Labels: pr-build, pr-not-for-changelog

#3271 Merging elt #3199
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/data_value.rs
  common/functions/src/scalars/strings/elt.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/0_stateless/02_0028_function_strings_elt.result
  tests/suites/0_stateless/02_0028_function_strings_elt.sql
  website/databend/docs/sqlstatement/string-functions/elt.md
Labels: pr-feature, need-review

#3253 [Feature]Support create stage statement
  common/management/tests/it/stage.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_stage.rs
  common/meta/types/tests/it/user_stage.rs
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_user_stage_create.rs
  common/planners/src/plan_visitor.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_stage_create.rs
  query/src/interpreters/interpreter_stage_create_test.rs
  query/src/interpreters/mod.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_create_stage.rs
  query/src/users/user_stage_test.rs
  tests/suites/0_stateless/05_0008_ddl_create_stage.result
  tests/suites/0_stateless/05_0008_ddl_create_stage.sql
Labels: pr-feature

#3252 show table options
  query/src/interpreters/interpreter_show_create_table.rs
  query/src/interpreters/interpreter_show_create_table_test.rs
  query/src/storages/storage_table.rs
  tests/suites/0_stateless/06_0001_show_create_table.result
  tests/suites/0_stateless/06_0001_show_create_table.sql
Labels: pr-improvement, need-review

#3279 LPAD() & RPAD() funcs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/pad.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0035_function_strings_pad.result
  tests/suites/0_stateless/02_0035_function_strings_pad.sql
  website/databend/docs/sqlstatement/string-functions/lpad.md
  website/databend/docs/sqlstatement/string-functions/rpad.md
Labels: pr-feature, need-review

#3102 [metasrv] make `StateMachine::apply` use transaction to perform operations
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/sled-store/src/lib.rs
  common/meta/sled-store/src/sled_tree.rs
Labels: pr-improvement, need-review

#3197 ISSUE:3175 fix try_from_literal
  Cargo.lock
  common/datavalues/src/data_value_ops.rs
  common/datavalues/tests/it/types/cast.rs
  common/datavalues/tests/it/types/mod.rs
  common/exception/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/03_0012_select_number_type.result
  tests/suites/0_stateless/03_0012_select_number_type.sql
Labels: pr-bugfix, need-review

#3281 Reuse Buf for REPLACE() and INSERT()
  common/functions/src/scalars/strings/insert.rs
  common/functions/src/scalars/strings/replace.rs
Labels: pr-not-for-changelog, need-review

#3282 Default expression support
  common/datablocks/src/data_block.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_schema.rs
  common/datavalues/src/data_value.rs
  common/streams/Cargo.toml
  common/streams/src/sources/source_csv.rs
  query/src/interpreters/interpreter_describe_table_test.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/interpreters/interpreter_table_create_test.rs
  query/src/interpreters/mod.rs
  query/src/interpreters/stream_addon.rs
  query/src/pipelines/processors/pipeline_builder.rs
  query/src/pipelines/transforms/transform_sink.rs
  query/src/servers/clickhouse/clickhouse_handler_test.rs
  query/src/sql/plan_parser_test.rs
  query/src/sql/statements/statement_create_table.rs
  tests/suites/0_stateless/08_0000_optimizer.sql
  tests/suites/0_stateless/09_0004_remote_insert_into_select.result
  tests/suites/0_stateless/09_0004_remote_insert_into_select.sql
  tests/suites/0_stateless/10_0000_describe_table.result
Labels: pr-bugfix, pr-improvement, pr-feature, need-review

#3289 ORD() func
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/ord.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0036_function_strings_ord.result
  tests/suites/0_stateless/02_0036_function_strings_ord.sql
  website/databend/docs/user/sqlstatement/string-functions/ord.md
Labels: pr-feature, need-review

#3290 CHAR_LENGTH() and CHARACTER_LENGTH() func
  common/functions/src/scalars/strings/char_length.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0037_function_strings_char_length.result
  tests/suites/0_stateless/02_0037_function_strings_char_length.sql
  website/databend/docs/user/sqlstatement/string-functions/char_length.md
  website/databend/docs/user/sqlstatement/string-functions/character_length.md
Labels: pr-feature

#2943 [feature]: return nodes list in metasrv server
  common/meta/raft-store/src/state_machine/sm.rs
  metasrv/src/api/http/v1/cluster_state.rs
  metasrv/src/api/http/v1/mod.rs
  metasrv/src/api/http_service.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/api/http/mod.rs
  metasrv/tests/it/api/http_service.rs
Labels: pr-feature

#3212 try add reuse about workflow
  .github/actions/cache-cargo-registry/action.yaml
  .github/workflows/databend-base.yml
  .github/workflows/stateful-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/unit-tests.yml
  scripts/setup/dev_setup.sh
Labels: pr-improvement, pr-not-for-changelog

#3276 [query] Add config for enable/disable github table engine
  query/src/configs/config_query.rs
  query/src/configs/config_test.rs
  query/src/storages/storage_factory.rs
  query/src/storages/system/configs_table_test.rs
  scripts/deploy/config/databend-query-embedded-meta.toml
  scripts/deploy/config/databend-query-node-1.toml
  scripts/deploy/config/databend-query-node-2.toml
  scripts/deploy/config/databend-query-node-3.toml
Labels: pr-feature, need-review

#3296 Replace AppendOperationLogEntry vec[] with stream
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/fuse/io/block_stream_writer_test.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/table.rs
Labels: pr-improvement, need-review

#3273 SYSTEM-3261: Add query log table write
  query/src/interpreters/interpreter.rs
  query/src/interpreters/interpreter_interceptor.rs
  query/src/interpreters/interpreter_interceptor_test.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/interpreters/mod.rs
  query/src/sessions/context.rs
  query/src/sessions/sessions.rs
  query/src/storages/mod.rs
  query/src/storages/system/mod.rs
  query/src/storages/system/query_log_memory_store.rs
  query/src/storages/system/query_log_memory_store_test.rs
  query/src/storages/system/query_log_table.rs
  query/src/storages/system/query_log_table_test.rs
Labels: pr-feature, need-review

#3292 [ISSUE-2457] Support create table like statement
  query/src/sql/parser/ast/ast_display_test.rs
  query/src/sql/parser/ast/statement.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_parser_test.rs
  query/src/sql/statements/statement_create_table.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  website/databend/docs/user/sqlstatement/data-definition-language-ddl/ddl-create-table.md
Labels: pr-improvement

#3288 [string performence improvement]
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/string/transform.rs
  common/functions/src/scalars/strings/base_64.rs
  common/functions/src/scalars/strings/quote.rs
  common/functions/src/scalars/strings/reverse.rs
  common/functions/src/scalars/strings/string2string.rs
  common/functions/src/scalars/strings/trim.rs
  common/functions/tests/it/scalars/strings/trim.rs
Labels: pr-performance, need-review

#3310 Update architecture.md
  website/databend/docs/overview/architecture.md
Labels: pr-doc-fix, need-review

#3311 docs: Add acknowledgement for vercel
  README.md
Labels: pr-bugfix, pr-other, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#3312 website: Add powered by vercel in footer
  website/databend/docusaurus.config.js
Labels: pr-doc-fix, need-review

#3299 ISSUE-3297: Add more query log events to query log table
  common/base/src/progress.rs
  common/base/tests/it/progress.rs
  common/streams/src/stream_progress.rs
  query/src/functions/context_function.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_interceptor.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_info.rs
  query/src/sessions/session_status.rs
  query/src/storages/system/processes_table.rs
  query/src/storages/system/query_log_table.rs
  query/tests/it/functions/context_function.rs
  query/tests/it/interpreters/interpreter_interceptor.rs
  query/tests/it/sessions/session_status.rs
  query/tests/it/storages/system/query_log_table.rs
  query/tests/it/tests/context.rs
Labels: pr-improvement

#3314 website: Use yarn instead of npm to fix #3283
  website/databend/README.md
  website/databend/package-lock.json
  website/databend/package.json
  website/databend/yarn.lock
Labels: pr-doc-fix, need-review

#3318 ci: Add cargo cache to imporve perf tool build speed
  .github/workflows/databend-docker.yml
Labels: pr-improvement, need-review

#3323 [deps] bump patches' version
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/clusters/add.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/loads/load.rs
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/packages/switch.rs
  cli/src/cmds/processor.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/root.rs
  cli/src/cmds/ups/up.rs
  cli/tests/it/basic.rs
  cli/tests/it/clusters/create.rs
  common/arrow/Cargo.toml
  common/base/Cargo.toml
  common/dal/Cargo.toml
  common/datavalues/Cargo.toml
  common/exception/Cargo.toml
  common/flight-rpc/Cargo.toml
  common/functions/Cargo.toml
  common/management/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/flight/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/metrics/Cargo.toml
  common/planners/Cargo.toml
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
Labels: pr-build, need-review

#3329 [common/meta/sled-store] feature: txn-tree: add update_and_fetch()
  common/meta/sled-store/src/sled_tree.rs
  common/meta/sled-store/tests/it/main.rs
  common/meta/sled-store/tests/it/sled_tree.rs
  common/meta/sled-store/tests/it/sled_txn_tree.rs
  common/meta/sled-store/tests/it/testing/mod.rs
Labels: pr-feature, need-review

#3330 [common/meta] refactor: add a trait Store to define local store API
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/sled-store/src/lib.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/sled-store/src/store.rs
  common/meta/sled-store/tests/it/sled_txn_tree.rs
Labels: pr-improvement, need-review

#3327 github issues/prs table add `created/updated/closed` time
  query/src/storages/github/repo_issues_table.rs
  query/src/storages/github/repo_prs_table.rs
Labels: pr-improvement, need-review

#3332 fix string2string
  common/datavalues/src/arrays/string/transform.rs
  tests/suites/0_stateless/02_0024_function_strings_base_64.result
  tests/suites/0_stateless/02_0024_function_strings_base_64.sql
Labels: pr-bugfix, pr-not-for-changelog, need-review

#3334 [common/meta/sled-store] test: add unit test for sled-txn-tree-sub-key-space: insert, get, remove
  common/meta/sled-store/tests/it/sled_txn_tree.rs
Labels: pr-improvement, pr-build, need-review

#3337 add string transform unsafe safety comments
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/string/transform.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#3347 [metasrv]: feature: a follower forward GetDatabase request to leader.
  common/exception/src/exception.rs
  common/exception/src/lib.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/sled-store/src/sled_tree.rs
  metasrv/src/errors.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/tests/it/flight/metasrv_flight_api.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
  metasrv/tests/it/flight/mod.rs
Labels: pr-feature, A-databend-meta, need-review

#3353 build: Fix aarch64 cross build
  Cross.toml
  docker/build-tool/aarch64/Dockerfile
  docker/build-tool/arm64/Dockerfile
  docker/build-tool/armv6/Dockerfile
  docker/build-tool/armv7/Dockerfile
  docker/build-tool/openssl.sh
Labels: pr-build, need-review

#3355 scripts: Fix build-tool-runner not updated
  scripts/build/build-tool-runner.sh
Labels: pr-build, need-review

#3321 ISSUE-3313: Add query log write to server handler
  .gitignore
  query/src/interpreters/interpreter_query_log.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/storages/system/query_log_table.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/query_log_table.rs
  tests/suites/0_stateless/01_0002_system_query_log.result
  tests/suites/0_stateless/01_0002_system_query_log.sql
Labels: pr-feature, need-review

#3360 follower forward ListTables request
  common/meta/api/src/meta_api_test_suite.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
Labels: pr-improvement, need-review

#3363 Remove log crate use tracing
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/status.rs
  common/cache/Cargo.toml
  common/cache/src/disk_cache.rs
  common/cache/src/lib.rs
  common/clickhouse-srv/Cargo.toml
  common/clickhouse-srv/examples/simple.rs
  common/clickhouse-srv/src/lib.rs
  common/flight-rpc/Cargo.toml
  common/flight-rpc/src/dns_resolver.rs
  common/meta/flight/Cargo.toml
  query/Cargo.toml
  query/src/api/http_service.rs
  query/src/api/rpc/flight_dispatcher.rs
  query/src/api/rpc_service.rs
  query/src/bin/databend-benchmark.rs
  query/src/bin/databend-query.rs
  query/src/clusters/cluster.rs
  query/src/common/service/http_shutdown_handles.rs
  query/src/interpreters/interpreter_show_create_table.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_error.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_stream.rs
  query/src/pipelines/processors/processor_merge.rs
  query/src/pipelines/processors/processor_mixed.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/clickhouse/clickhouse_session.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/result_data_manager.rs
  query/src/servers/mysql/mysql_handler.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/servers/mysql/mysql_session.rs
  query/src/servers/mysql/writers/init_result_writer.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/servers/server.rs
  query/src/sessions/context.rs
  query/src/sessions/session_ref.rs
  query/src/sessions/sessions.rs
  query/src/storages/system/credits_table.rs
Labels: pr-improvement, need-review

#3364 [common/meta/api] refactor: fixup test about returned error from forwarded GetDatabase
  common/exception/tests/it/exception.rs
  common/meta/api/src/meta_api_test_suite.rs
Labels: pr-improvement, A-databend-meta, need-review

#3361 Describe stage
  Cargo.lock
  common/datavalues/src/series/series_impl.rs
  common/exception/src/exception.rs
  common/io/Cargo.toml
  common/io/src/lib.rs
  common/io/src/options_deserializer.rs
  common/io/src/prelude.rs
  common/io/tests/it/main.rs
  common/io/tests/it/options_deserializer.rs
  common/management/tests/it/stage.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_stage.rs
  common/meta/types/tests/it/user_stage.rs
  common/planners/src/lib.rs
  common/planners/src/plan_describe_stage.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_visitor.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_describe_stage.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/mod.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_copy.rs
  query/src/sql/statements/statement_create_database.rs
  query/src/sql/statements/statement_create_stage.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/sql/statements/statement_describe_stage.rs
  query/tests/it/interpreters/interpreter_describe_stage.rs
  query/tests/it/interpreters/interpreter_stage_create.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/users/user_stage.rs
  tests/suites/0_stateless/10_0001_describe_stage.result
  tests/suites/0_stateless/10_0001_describe_stage.sql
Labels: pr-feature, need-review

#3350 Allow set user for HTTP handler (without auth now).
  cli/src/cmds/queries/query.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/statement.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/servers/http/statement.rs
Labels: need-review

#3368 [metasrv] refactor: simplify metasrv cluster starting up in tests.
  common/meta/api/src/meta_api_test_suite.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/api/http_service.rs
  metasrv/tests/it/flight/metasrv_flight_api.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
  metasrv/tests/it/flight/metasrv_flight_tls.rs
  metasrv/tests/it/meta_service/meta_node.rs
  metasrv/tests/it/meta_service/meta_service_impl.rs
  metasrv/tests/it/store.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, A-databend-meta, need-review

#3369 follower forward ListDatabase and GetTableInfo requests
  common/meta/api/src/meta_api_test_suite.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
Labels: pr-improvement

#3343 EXPORT_SET func()
  common/functions/src/scalars/strings/export_set.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0038_function_strings_export_set.result
  tests/suites/0_stateless/02_0038_function_strings_export_set.sql
  website/databend/docs/user/sqlstatement/string-functions/export_set.md
Labels: pr-feature, need-review

#3370 [common/meta/types] refactor: a AddResult returned by meta op should include an ID to indicate what has been changed
  common/management/src/cluster/cluster_mgr.rs
  common/management/src/stage/stage_mgr.rs
  common/management/src/user/user_mgr.rs
  common/meta/raft-store/src/state_machine/applied_state.rs
  common/meta/types/src/change.rs
  common/meta/types/src/lib.rs
  metasrv/src/executor/meta_handlers.rs
Labels: pr-improvement, A-databend-meta, need-review

#3376 ISSUE-3365: Remove env_logger
  Cargo.lock
  common/clickhouse-srv/Cargo.toml
  common/clickhouse-srv/examples/simple.rs
  common/meta/embedded/Cargo.toml
  query/Cargo.toml
  query/src/bin/databend-query.rs
Labels: pr-improvement, need-review

#3371 build: Install arm64 version of libssl and zlib1g
  docker/build-tool/aarch64/Dockerfile
Labels: pr-build, need-review

#3381 DOC: Add ontime dataset test
  website/databend/docs/user/sqlstatement/data-loading/ontime.md
Labels: pr-doc-fix, need-review

#3389 Add `SHOW FUNCTIONS` statement
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_show_functions.rs
  query/tests/it/sql/sql_parser.rs
Labels: pr-feature, need-review

#3390 [metasrv] test: write on follower and read on another follower
  metasrv/tests/it/flight/metasrv_flight_meta_api_follower_follower.rs
Labels: pr-improvement, pr-build, A-databend-meta, need-review

#3391 [Release] bump cross patch
  .github/workflows/databend-release.yml
Labels: pr-bugfix, pr-build, pr-not-for-changelog, need-review

#3356 Add `create table as select` syntax for the parser.
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_create_table.rs
  query/tests/it/sql/sql_parser.rs
Labels: pr-feature, need-review

#3392 [metasrv] feature: MetaService::write() forward request if it is not leader
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/tests/it/metasrv/meta_srv.rs
Labels: pr-feature, A-databend-meta, need-review

#3393 [metasrv] refactor: rename AdminRequest to ForwardRequest
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/metasrv/meta_node.rs
Labels: pr-improvement, A-databend-meta, need-review

#3394 ci: Fix build in databend-docker
  .github/workflows/databend-docker.yml
Labels: pr-build, need-review

#3395 [metasrv] test: add util functions
  metasrv/tests/it/metasrv/meta_srv.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, pr-build, need-review

#3396 [metasrv] refactor: move test codes, nothing changed
  metasrv/tests/it/main.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/meta_node/mod.rs
  metasrv/tests/it/metasrv/meta_srv.rs
Labels: pr-improvement, A-databend-meta, need-review

#3399 Fix show tables example
  website/databend/docs/user/sqlstatement/show-commands/show-tables.md
Labels: pr-doc-fix, need-review

#3397 Add documentation for `SHOW FUNCTIONS`
  website/databend/docs/user/sqlstatement/show-commands/show-functions.md
Labels: pr-doc-fix, need-review

#3403 [metasrv] refactor: impl all consistent-read with a universal method consistent_read()
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/raftmeta.rs
Labels: pr-improvement, A-databend-meta, need-review

#3402 [metasrv] remove FlightReq wrapper
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/impls/meta_api_impl.rs
  metasrv/src/executor/meta_handlers.rs
Labels: pr-improvement, need-review

#3405 [metasrv] feature: KVApi support cross nodes read-after-write
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/types/src/kv_message.rs
  common/meta/types/src/lib.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/message.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_node_kv_api_impl.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/flight/metasrv_flight_kv_api_cross_node.rs
  metasrv/tests/it/flight/mod.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
Labels: pr-improvement, pr-feature, A-databend-meta, need-review

#3406 [metasrv] test: write and read works after restarting the cluster
  metasrv/src/api/flight_server.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_follower_follower.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_restart_cluster.rs
  metasrv/tests/it/flight/mod.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
Labels: pr-improvement, pr-build, A-databend-meta, need-review

#3404 Grant all privileges to the root user of localhost
  query/src/users/user_mgr.rs
  query/tests/it/users/user_mgr.rs
Labels: need-review

#3401 Add stateless tests for `SHOW FUNCTIONS`
  tests/suites/0_stateless/11_0001_show_functions.result
  tests/suites/0_stateless/11_0001_show_functions.sql
Labels: pr-build, need-review

#3408 Add nvmrc to specify node version
  website/databend/.nvmrc
  website/databend/README.md
Labels: pr-improvement, need-review

#3413 [website] fix the github repo link
  website/databend/README.md
  website/databend/docusaurus.config.js
Labels: pr-not-for-changelog, need-review

#3414 [metasrv] test: extend waiting time from 3sec to 5sec to let restart-cluster test survive timeout failure
  metasrv/tests/it/flight/metasrv_flight_meta_api_restart_cluster.rs
Labels: pr-improvement, pr-build, A-databend-meta, need-review

#3412 PARSER: Move show tables parser to parse_show_tables function
  query/src/sql/sql_parser.rs
Labels: pr-improvement, need-review

#3375 FIND_IN_SET func
  common/functions/src/scalars/strings/find_in_set.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0039_function_strings_find_in_set.result
  tests/suites/0_stateless/02_0039_function_strings_find_in_set.sql
  website/databend/docs/user/sqlstatement/string-functions/find_in_set.md
Labels: pr-feature, need-review

#3427 [metasrv] test: extends restart-cluster wait time to 10 sec
  metasrv/tests/it/flight/metasrv_flight_meta_api_restart_cluster.rs
Labels: pr-improvement, pr-build, A-databend-meta, need-review

#3422 [metasrv] make `logs_handler` return a bytes stream.
  Cargo.lock
  common/base/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  query/src/api/http/v1/logs.rs
Labels: pr-bugfix, pr-improvement, need-review

#3442 [metasrv] refactor: extend timeout to 30 sec for restart test
  metasrv/src/lib.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/tests/it/flight/metasrv_flight_kv_api_restart_cluster.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api.rs
  metasrv/tests/it/flight/mod.rs
Labels: A-databend-meta, need-review

#3441 Remove Windows support info in Readme
  README.md
Labels: pr-other, need-review

#3400 [ISSUE-2457] Add support for CTAS(Create Table As Select) statement
  common/planners/src/plan_display_indent.rs
  common/planners/src/plan_table_create.rs
  common/planners/tests/it/plan_display.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/sql/statements/statement_create_table.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
  website/databend/docs/user/sqlstatement/data-definition-language-ddl/ddl-create-table.md
Labels: pr-improvement

#3445 lower the log level about DatabendQueryContext
  query/src/sessions/context.rs
Labels: pr-improvement

#3447 [metasrv] extend restart-cluster test timeout to 30 sec
  metasrv/tests/it/flight/metasrv_flight_kv_api_restart_cluster.rs
Labels: A-databend-meta

#3443 feat: add home page and other plugins
  website/databend/docusaurus.config.js
  website/databend/package.json
  website/databend/src/css/_mixins.scss
  website/databend/src/css/custom.scss
  website/databend/src/pages/index.module.css
  website/databend/src/pages/index.module.scss
  website/databend/src/pages/index.tsx
  website/databend/src/plugins/globalSassVarInject.js
  website/databend/src/plugins/pxToVw.js
  website/databend/static/img/home/architecture.svg
  website/databend/static/img/home/architecturePhone.svg
  website/databend/static/img/home/arow_down.svg
  website/databend/static/img/home/banner.jpeg
  website/databend/static/img/logo.svg
  website/databend/types/images.d.ts
  website/databend/types/typed-css.d.ts
  website/databend/yarn.lock
Labels: pr-doc-fix, need-review

#3448 Length() function implementation
  common/functions/src/scalars/strings/length.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0040_function_strings_length.result
  tests/suites/0_stateless/02_0040_function_strings_length.sql
  website/databend/docs/user/sqlstatement/string-functions/length.md
Labels: pr-feature, need-review

#3344 ci: Refactor the whole ci into stages
  .github/actions/build_debug/action.yml
  .github/actions/build_release/action.yml
  .github/actions/cache-cargo-registry/action.yaml
  .github/actions/check/action.yml
  .github/actions/publish_image/action.yml
  .github/actions/test_stateful_standalone/action.yml
  .github/actions/test_stateless_cluster/action.yml
  .github/actions/test_stateless_standalone/action.yml
  .github/actions/test_unit/action.yml
  .github/workflows/databend-base.yml
  .github/workflows/databend-docker.yml
  .github/workflows/developing.yml
  .github/workflows/license-checker.yml
  .github/workflows/production.yml
  .github/workflows/rust-audit.yml
  .github/workflows/stateful-tests-standalone.yml
  .github/workflows/stateless-tests-cluster.yml
  .github/workflows/stateless-tests-standalone.yml
  .github/workflows/test-performance-dispatch.yaml
  .github/workflows/unit-tests.yml
  .github/workflows/utils-slack-notify.yml
  .yamllint.yml
  docker/Dockerfile
  docker/perf-tool/Dockerfile
Labels: pr-build, need-review

#3457 feat: Introducing the Roboto fonts and Home page to adjust.
  website/databend/docusaurus.config.js
  website/databend/package.json
  website/databend/src/css/custom.scss
  website/databend/src/css/fonts.scss
  website/databend/src/pages/index.module.scss
  website/databend/src/pages/index.tsx
  website/databend/static/img/favicon.png
  website/databend/yarn.lock
Labels: pr-improvement, pr-doc-fix, need-review

#3452 Add expression nullable support
  common/planners/src/plan_expression.rs
  query/src/sql/statements/statement_create_table.rs
  tests/suites/0_stateless/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_0000_ddl_create_tables.sql
Labels: pr-improvement, need-review

#3458 [metasrv] test: wait 10 sec for log to replicate
  metasrv/tests/it/meta_node/meta_node_all.rs
Labels: pr-improvement, pr-build, A-databend-meta, need-review

#3465 [Issue-3367] Using serde to ser/de Aggregate function states in binary format
  Cargo.lock
  common/datavalues/src/data_group_value.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/data_df_type.rs
  common/exception/Cargo.toml
  common/exception/src/exception.rs
  common/functions/Cargo.toml
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_covariance.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_stddev_pop.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/aggregate_window_funnel.rs
  common/io/src/binary_de.rs
  common/io/src/binary_ser.rs
  common/io/src/lib.rs
  common/io/src/prelude.rs
Labels: pr-performance, need-review

#3468 [common/containers] feature: add conn pool
  Cargo.lock
  Cargo.toml
  common/containers/Cargo.toml
  common/containers/src/lib.rs
  common/containers/src/pool.rs
  common/containers/tests/main.rs
  common/containers/tests/pool.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/sled-store/src/sled_tree.rs
  metasrv/Cargo.toml
  metasrv/src/api/flight_server.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/api/http_service.rs
  metasrv/tests/it/flight/metasrv_flight_api.rs
  metasrv/tests/it/flight/metasrv_flight_kv_api.rs
  metasrv/tests/it/flight/metasrv_flight_kv_api_cross_node.rs
  metasrv/tests/it/flight/metasrv_flight_kv_api_restart_cluster.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_follower_follower.rs
  metasrv/tests/it/flight/metasrv_flight_meta_api_leader_follower.rs
  metasrv/tests/it/flight/metasrv_flight_tls.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/store.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-feature, A-databend-meta, need-review

#3472 ci: Fix binary in target not found by docker
  .dockerignore
  .github/actions/build_release/action.yml
Labels: pr-build, need-review

#3479 ci: Fix docker build on arm64
  .github/actions/publish_image/action.yml
  .github/workflows/production.yml
Labels: pr-build, need-review

#3481 Rename auth_type to password_type
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/tests/it/user.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_auth.rs
  common/meta/types/src/user_info.rs
  common/meta/types/tests/it/user_info.rs
  common/planners/src/plan_user_alter.rs
  common/planners/src/plan_user_create.rs
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_alter_user.rs
  query/src/sql/statements/statement_create_user.rs
  query/src/storages/system/users_table.rs
  query/src/users/user.rs
  query/src/users/user_mgr.rs
  query/tests/it/interpreters/interpreter_grant_privilege.rs
  query/tests/it/interpreters/interpreter_revoke_previlege.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/sessions/session_status.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/tests/context.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-improvement, need-review

#3489 Merging format #3466
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/strings/format.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_0041_function_strings_format.result
  tests/suites/0_stateless/02_0041_function_strings_format.sql
Labels: pr-feature, need-review

#3488 Merging stateful 3378
  Makefile
  scripts/ci/ci-run-stateful-tests-cluster-ctl.sh
  scripts/ci/ci-run-stateful-tests-standalone-ctl.sh
  tests/suites/0_stateful/12_0001_streaming_load.sh
  tests/suites/0_stateful/ctl/q0.sql
  tests/suites/0_stateful/ctl/q0.sql.result
  tests/suites/0_stateful/ctl/q1.sql
  tests/suites/0_stateful/ctl/q1.sql.result
  tests/suites/0_stateful/ctl/q2.sql
  tests/suites/0_stateful/ctl/q2.sql.result
  tests/suites/0_stateful/ctl/q3.sql
  tests/suites/0_stateful/ctl/q3.sql.result
  tests/suites/0_stateful/ontime/create_table.sql
  tests/suites/0_stateful/sql/q3.sql.error
  website/databend/docs/user/sqlstatement/data-loading/ontime.md
Labels: pr-improvement, need-review

#3319 ISSUE-3257: Add created_on to TableMeta
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/data_block_debug.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/types/src/table.rs
  common/planners/tests/it/plan_display.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/sql/statements/statement_show_tables.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/github/repo_comments_table.rs
  query/src/storages/github/repo_info_table.rs
  query/src/storages/github/repo_issues_table.rs
  query/src/storages/github/repo_prs_table.rs
  query/src/storages/system/tables_table.rs
  query/src/table_functions/numbers_table.rs
  query/tests/it/storages/csv/csv_table.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  query/tests/it/storages/memory.rs
  query/tests/it/storages/null.rs
  query/tests/it/storages/parquet.rs
  query/tests/it/storages/system/tables_table.rs
  tests/databend-test
  tests/suites/0_stateless/01_0001_system_tables.result
  tests/suites/0_stateless/01_0001_system_tables.result_filter
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/06_0000_show_queries.result_filter
  tests/suites/0_stateless/09_0000_remote_create_table.result
  tests/suites/0_stateless/09_0000_remote_create_table.result_filter
Labels: pr-improvement

#3475 [test]: test: filter stdout to let result matching easier
  tests/databend-test
  tests/suites/0_stateless/06_0000_show_queries.result
  tests/suites/0_stateless/06_0000_show_queries.result_filter
Labels: need-review

#3485 [metasrv] refine some codes
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-improvement, need-review

#3463 issue-3462: historical data truncation
  common/dal/src/accessors/aws_s3/s3.rs
  common/dal/src/accessors/aws_s3/s3_input_stream.rs
  common/dal/src/accessors/azure_blob/azure_blob_accessor.rs
  common/dal/src/accessors/local.rs
  common/dal/src/data_accessor.rs
  common/dal/src/interceptors/data_accessor_interceptor.rs
  common/dal/tests/it/accessors/aws_s3.rs
  common/exception/src/exception.rs
  query/src/interpreters/interpreter_table_drop.rs
  query/src/storages/fuse/io/locations.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/readers.rs
  query/src/storages/fuse/meta/block.rs
  query/src/storages/fuse/mod.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/read_plan.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/table.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/fuse/table_functions/fuse_history_truncate.rs
  query/src/storages/fuse/table_functions/mod.rs
  query/src/storages/fuse/table_functions/table_arg_util.rs
  query/src/table_functions/table_function_factory.rs
  query/tests/it/storages/fuse/history_table.rs
  query/tests/it/storages/fuse/operations.rs
  query/tests/it/storages/fuse/table.rs
  tests/suites/0_stateless/09_0007_func_fuse_truncate_history.result
  tests/suites/0_stateless/09_0007_func_fuse_truncate_history.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#3500 common/arrow: Fix build on newer arrow2 commits
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/types/data_df_type.rs
Labels: pr-bugfix, need-review

#3494 ci: Fix contianer image build for aarch64-unknown-linux-gnu
  .github/actions/publish_image/action.yml
  .github/workflows/production.yml
Labels: pr-build, need-review

#3497 ISSUE-3495: fix intdiv return type
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/functions/src/aggregates/aggregate_sum.rs
  tests/suites/0_stateless/02_0000_function_arithmetic.sql
Labels: pr-bugfix, need-review

#3491 Add validity method into series
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/arrays/list/mod.rs
  common/datavalues/src/arrays/null/mod.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/struct/mod.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
Labels: pr-improvement, need-review

#3503 Fix: missing field `created_on` in initializer of `common_meta_types::TableMeta`
  query/src/storages/fuse/table_functions/fuse_history_truncate.rs
Labels: pr-improvement, need-review

#3507 [Http handler] add mTLS support for http query server
  query/src/configs/config_query.rs
  query/src/servers/http/http_services.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/interpreter_interceptor.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/configs_table.rs
  query/tests/it/tests/sessions.rs
Labels: pr-feature

#3508 Bump poem to `1.2.2`
  Cargo.lock
  common/base/Cargo.toml
  metasrv/Cargo.toml
  metasrv/src/api/http/debug/pprof.rs
  metasrv/src/api/http/v1/cluster_state.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/api/http/config.rs
  metasrv/tests/it/api/http/health.rs
  query/Cargo.toml
  query/src/api/http/debug/pprof.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/logs.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/statement.rs
  query/tests/it/api/http/cluster.rs
  query/tests/it/api/http/config.rs
  query/tests/it/api/http/health.rs
  query/tests/it/api/http/logs.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/servers/http/statement.rs
Labels: pr-improvement

#3506 ISSUE-3505: covert table function `history_truncate` to fuse table's methods
  query/src/interpreters/interpreter_table_drop.rs
  query/src/interpreters/interpreter_truncate_table.rs
  query/src/storages/fuse/mod.rs
  query/src/storages/fuse/operations/mod.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/operations/truncate_history.rs
  query/src/storages/fuse/table.rs
  query/src/storages/fuse/table_functions/fuse_history_truncate.rs
  query/src/storages/fuse/table_functions/mod.rs
  query/src/storages/fuse/table_functions/table_arg_util.rs
  query/src/storages/storage_table.rs
  query/src/table_functions/table_function_factory.rs
  query/tests/it/storages/fuse/history_table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/09_0007_func_fuse_truncate_history.result
  tests/suites/0_stateless/09_0007_func_fuse_truncate_history.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#3499 use clap 3.0.0-rc.5 to unify the cli arg parsing
  Cargo.lock
  cli/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/config.rs
  docker/bootstrap.sh
  metasrv/Cargo.toml
  metasrv/src/bin/metasrv.rs
  metasrv/src/configs/config.rs
  query/Cargo.toml
  query/src/bin/databend-benchmark.rs
  query/src/configs/config.rs
  query/src/configs/config_log.rs
  query/src/configs/config_meta.rs
  query/src/configs/config_query.rs
  query/src/configs/config_storage.rs
  scripts/deploy/databend-query-cluster-3-nodes.sh
  scripts/deploy/databend-query-standalone.sh
Labels: pr-improvement

#3516 improve `#[serde(default)]` attr usage for some types
  common/meta/types/src/cluster.rs
  common/meta/types/src/user_info.rs
  common/meta/types/src/user_quota.rs
  common/meta/types/src/user_stage.rs
  common/meta/types/tests/it/user_info.rs
Labels: pr-improvement

#3513 ISSUE-3512: Add filters pushdown for read datasource
  common/functions/src/aggregates/aggregate_avg.rs
  common/planners/src/plan_display_indent.rs
  query/src/sql/statements/query/query_collect_push_downs.rs
  query/tests/it/interpreters/interpreter_explain.rs
  query/tests/it/optimizers/optimizer.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
  query/tests/it/optimizers/optimizer_scatters.rs
  query/tests/it/sql/plan_parser.rs
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
Labels: pr-performance, need-review

#3522 cleanup some deps
  Cargo.lock
  cli/Cargo.toml
  common/base/Cargo.toml
  common/dal/Cargo.toml
  common/flight-rpc/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/flight/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/metrics/Cargo.toml
  common/streams/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
Labels: pr-improvement, pr-build, need-review
