Repository databendlabs/databend, pull requests merged in 2021-09, with the labels that each got.

#1671 support aggregate function STDDEV_POP()
  common/functions/src/aggregates/aggregate_function_test.rs
  common/functions/src/aggregates/aggregate_stddev_pop.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/mod.rs
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-stddev-pop.md
Labels: pr-feature, pr-doc-fix

#1682 enable lint workflow
  .github/workflows/cargo.yml
  common/functions/src/aggregates/aggregate_stddev_pop.rs
Labels: pr-improvement

#1685 Update 01_0000_system_numbers.sql
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/01_0000_system_numbers.sql
Labels: pr-improvement

#1654 [Refactor] refact warp server to Axum
  Cargo.lock
  query/Cargo.toml
  query/src/api/http/debug/home.rs
  query/src/api/http/debug/pprof.rs
  query/src/api/http/mod.rs
  query/src/api/http/router.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/cluster_test.rs
  query/src/api/http/v1/config.rs
  query/src/api/http/v1/hello.rs
  query/src/api/http/v1/hello_test.rs
  query/src/api/http/v1/logs.rs
  query/src/api/http/v1/logs_test.rs
  query/src/api/http/v1/mod.rs
  query/src/api/http_service.rs
  query/src/api/http_service_test.rs
  query/src/servers/mod.rs
  website/datafuse/docs/api/config.md
Labels: pr-improvement

#1689 [Build/CI] cross compile for arm-based architecture
  .github/workflows/datafuse-release.yml
  Cross.toml
  Makefile
  docker/build-tool/arm64/Dockerfile
  docker/build-tool/armv6/Dockerfile
  docker/build-tool/armv7/Dockerfile
Labels: pr-build

#1690 Add test name validator
  tests/datafuse-test
Labels: pr-improvement

#1695 Add Interpreter used time metric and rename parser metric
  query/src/servers/clickhouse/clickhouse_metrics.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/servers/mysql/mysql_metrics.rs
  query/src/sql/metrics.rs
Labels: pr-improvement

#1697 CI-1687: change store log level to ERROR
  scripts/deploy/datafuse-query-cluster-3-nodes.sh
  scripts/deploy/datafuse-query-standalone.sh
Labels: pr-improvement

#1702 [Refactor] remove warp from query crate
  Cargo.lock
  query/Cargo.toml
  query/src/metrics/metric_service.rs
  query/src/metrics/metric_service_test.rs
Labels: pr-improvement

#1611 A little optimization and unit test for LimitByStream
  common/streams/src/lib.rs
  common/streams/src/stream_limit_by.rs
  common/streams/src/stream_limit_by_test.rs
Labels: pr-improvement

#1701 Refactor Aggregator for improve performance and prepare refactor transform_aggregator_final
  common/functions/src/aggregates/aggregate_function_state.rs
  common/functions/src/aggregates/mod.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_params.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/group_by/mod.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
Labels: pr-performance

#1703 CI: ignore the datafuse cli code coverage
  .github/actions-rs/grcov.yml
Labels: pr-build

#1707 Improvement: Streaming put for DAL
  common/dal/src/blob_accessor.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/local.rs
Labels: pr-improvement

#1708 DOC-1706: document NOW/TODAY/TOMORROW/YESTERDAY function
  website/datafuse/docs/sqlstatement/datetime-functions/now.md
  website/datafuse/docs/sqlstatement/datetime-functions/today.md
  website/datafuse/docs/sqlstatement/datetime-functions/tomorrow.md
  website/datafuse/docs/sqlstatement/datetime-functions/yesterday.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1705 Fixed send and sync for mutex and rwlock
  common/infallible/src/mutex.rs
  common/infallible/src/rwlock.rs
  common/streams/src/sources/source_csv.rs
  common/streams/src/sources/source_values.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
Labels: pr-bugfix

#1710 [deps]bump sqlparser-rs, support substring(string, start, length) syntax
  Cargo.lock
  common/exception/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/02_0005_function_substring.result
  tests/suites/0_stateless/02_0005_function_substring.sql
Labels: pr-improvement, pr-build

#1709 DOC: add STDDEV_POP function to list
  website/datafuse/docs/sqlstatement/aggregate-functions/aggregate-stddev-pop.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1712 Bump arrow2
  Cargo.lock
  common/arrow/Cargo.toml
Labels: pr-improvement

#1713 [store] fix: extend timeout add more working threads to let tests pass
  store/src/meta_service/raftmeta_test.rs
Labels: fusestore, pr-bugfix

#1714 Parquet table fix
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/trusted_len.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/series/de.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/types/data_type.rs
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_min_max.rs
  common/functions/src/aggregates/aggregate_stddev_pop.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/src/aggregates/macros.rs
  common/streams/src/stream_correct_with_schema.rs
  query/src/datasources/local/local_meta_backend.rs
  query/src/pipelines/transforms/transform_expression.rs
  query/src/pipelines/transforms/transform_projection.rs
  tests/suites/0_stateless/05_0002_ddl_create_local_parquet_table.result
  tests/suites/0_stateless/05_0002_ddl_create_local_parquet_table.sql
  website/datafuse/docs/development/how-to-write-aggregate-functions.md
Labels: pr-bugfix, pr-improvement

#1716 [deps] change to axum
  Cargo.lock
  store/Cargo.toml
  store/src/api/http/debug/home.rs
  store/src/api/http/debug/pprof.rs
  store/src/api/http/mod.rs
  store/src/api/http/router.rs
  store/src/api/http/v1/config.rs
  store/src/api/http_service.rs
Labels: pr-improvement, pr-build

#1725 [deps] remove useless deps
  Cargo.lock
  common/arrow/Cargo.toml
  common/dal/Cargo.toml
  common/streams/Cargo.toml
  common/tracing/Cargo.toml
  query/Cargo.toml
  store/Cargo.toml
Labels: pr-build

#1719 Add config to disable local engine register
  query/src/configs/config.rs
  query/src/configs/config_test.rs
  query/src/sessions/sessions.rs
  query/src/tests/catalog.rs
  scripts/deploy/config/datafuse-query-node-1.toml
  scripts/deploy/config/datafuse-query-node-2.toml
  scripts/deploy/config/datafuse-query-node-3.toml
Labels: pr-feature

#1732 Delete Intermediate files generated by `make test`
  Makefile
Labels: pr-improvement

#1726 Add toYYYYMM function
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature

#1736 [store] feature: add flight action API update_kv_meta() that only update the value meta, e.g. the expire time, leaving the value as is.
  common/flights/src/impls/kv_api_impl.rs
  common/flights/src/store_do_action.rs
  common/management/src/namespace/namespace_mgr_test.rs
  common/management/src/user/user_mgr_test.rs
  common/metatypes/src/lib.rs
  common/store-api/src/kv_api.rs
  store/src/api/rpc/flight_service_test.rs
  store/src/executor/action_handler.rs
  store/src/executor/kv_handlers.rs
  store/src/meta_service/cmd.rs
  store/src/meta_service/raftmeta_test.rs
  store/src/meta_service/state_machine.rs
  store/src/meta_service/state_machine_test.rs
  store/src/meta_service/testing.rs
Labels: fusestore, pr-feature

#1738 [Feature]Add config table
  query/src/configs/config.rs
  query/src/datasources/system/configs_table.rs
  query/src/datasources/system/configs_table_test.rs
  query/src/datasources/system/mod.rs
  query/src/datasources/system/system_database.rs
  query/src/datasources/system/tables_table_test.rs
Labels: pr-feature

#1740 chore: fix ArrayAgg error message
  common/datavalues/src/arrays/ops/agg.rs
Labels: pr-improvement

#1742 Improvement: Date/DateTime toYYYYMM function
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
Labels: pr-improvement

#1751 DOC-1706: add toYYYYMM date function
  README.md
  website/datafuse/docs/sqlstatement/datetime-functions/toyyyymm.md
  website/datafuse/docs/sqlstatement/string-functions/substring.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1750 Add timezone support for DateTime32
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/arrays/list/mod.rs
  common/datavalues/src/arrays/ops/cast.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/datavalues/src/types/physical_data_type.rs
  common/datavalues/src/types/serializations/mod.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/now.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/hashes/siphash.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/sql/sql_common.rs
Labels: pr-improvement

#1755 support get_db_engines and engine_desc
  query/src/catalogs/catalog.rs
  query/src/catalogs/database_engine.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/datasources/example/example_databases.rs
  query/src/datasources/local/local_databases.rs
  query/src/datasources/remote/remote_databases.rs
  query/src/datasources/system/system_databases.rs
Labels: pr-improvement

#1758 support system.engines table
  query/src/datasources/system/engines_table.rs
  query/src/datasources/system/engines_table_test.rs
  query/src/datasources/system/mod.rs
  query/src/datasources/system/system_database.rs
  query/src/datasources/system/tables_table_test.rs
Labels: pr-feature, pr-need-doc

#1762 Improve recordbatch
  common/datablocks/src/data_block.rs
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/arrays/list/mod.rs
  common/datavalues/src/arrays/null/mod.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/struct/mod.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
Labels: pr-bugfix

#1729 Improve mysql query result writer
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/src/arrays/boolean/builder.rs
  common/datavalues/src/arrays/primitive/builder.rs
  common/datavalues/src/arrays/string/builder.rs
  common/datavalues/src/series/de.rs
  common/datavalues/src/series/mod.rs
  common/datavalues/src/types/serializations/boolean.rs
  common/datavalues/src/types/serializations/date.rs
  common/datavalues/src/types/serializations/date_time.rs
  common/datavalues/src/types/serializations/mod.rs
  common/datavalues/src/types/serializations/null.rs
  common/datavalues/src/types/serializations/number.rs
  common/datavalues/src/types/serializations/string.rs
  common/streams/src/sources/source_csv.rs
  common/streams/src/sources/source_values.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-improvement

#1765 Fix insert remote table of parquet format with DateTime types
  common/datablocks/src/data_block.rs
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/arrays/list/mod.rs
  common/datavalues/src/arrays/null/mod.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/struct/mod.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/series/series_impl.rs
  common/datavalues/src/series/wrap.rs
  common/datavalues/src/types/data_type.rs
  tests/suites/0_stateless/09_0001_remote_insert.result
  tests/suites/0_stateless/09_0001_remote_insert.sql
Labels: pr-bugfix

#1764 Improve boolean result write in mysql server
  query/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/0_stateless/00_0000_dummy_select_1.result
  tests/suites/0_stateless/01_0000_system_numbers.result
  tests/suites/0_stateless/02_0001_function_to_type_name.result
  tests/suites/0_stateless/02_0005_function_compare.result
  tests/suites/0_stateless/02_0010_function_if.result
  tests/suites/0_stateless/02_0011_function_window_funnel.result
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_0008_select_aggregator_combinator.result
  tests/suites/0_stateless/09_0001_remote_insert.result
Labels: pr-improvement

#1769 [improve] use eamil to uniq authors
  common/building/src/lib.rs
Labels: pr-improvement

#1772 Improve mysql query result writer
  query/src/servers/mysql/writers/query_result_writer.rs
Labels: pr-improvement

#1771 [Improvement] refactor and add mTLS client auth for http service
  .licenserc.yaml
  Cargo.lock
  query/Cargo.toml
  query/src/api/http_service.rs
  query/src/api/http_service_test.rs
  query/src/configs/config.rs
  query/src/datasources/system/configs_table_test.rs
  query/src/tests/tls_constants.rs
  tests/certs/tls/cfssl/ca/ca-config.json
  tests/certs/tls/cfssl/ca/ca-csr.json
  tests/certs/tls/cfssl/ca/ca-key.pem
  tests/certs/tls/cfssl/ca/ca.csr
  tests/certs/tls/cfssl/ca/ca.pem
  tests/certs/tls/cfssl/ca/pkcs8-ca-key.pem
  tests/certs/tls/cfssl/client/client-identity.pfx
  tests/certs/tls/cfssl/client/client-key.pem
  tests/certs/tls/cfssl/client/client.csr
  tests/certs/tls/cfssl/client/client.json
  tests/certs/tls/cfssl/client/client.pem
  tests/certs/tls/cfssl/client/pkcs8-client-key.pem
  tests/certs/tls/cfssl/gencert.sh
  tests/certs/tls/cfssl/server/pkcs8-server-key.pem
  tests/certs/tls/cfssl/server/server-key.pem
  tests/certs/tls/cfssl/server/server.csr
  tests/certs/tls/cfssl/server/server.json
  tests/certs/tls/cfssl/server/server.pem
Labels: pr-improvement

#1774 Add note of ClickHouse/arrow in README
  README.md
Labels: pr-doc-fix

#1767 Add toYYYYMMDDhhmmss function
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
  website/datafuse/docs/sqlstatement/datetime-functions/toyyyymmdd.md
  website/datafuse/docs/sqlstatement/datetime-functions/toyyyymmddhhmmss.md
Labels: pr-feature, community-take

#1754 [common/management] feature: add LocalKVStore: a KVApi impl backed with a sled tree, for testing purpose mainly
  Cargo.lock
  common/management/Cargo.toml
  common/management/src/namespace/local_kv_store.rs
  common/management/src/namespace/local_kv_store_test.rs
  common/management/src/namespace/mod.rs
  store/src/meta_service/raft_db.rs
Labels: fusestore, pr-feature

#1777 Update if.md
  store/src/meta_service/state_machine.rs
  website/datafuse/docs/sqlstatement/conditional-functions/if.md
Labels: pr-doc-fix

#1752 Add Interval suppport
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/datavalues/src/types/physical_data_type.rs
  common/datavalues/src/types/serializations/mod.rs
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/dates/mod.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/sql/plan_parser.rs
  query/src/sql/plan_parser_test.rs
Labels: pr-feature

#1778 [feat] add basic credits table
  Cargo.lock
  query/Cargo.toml
  query/src/datasources/system/credits_table.rs
  query/src/datasources/system/credits_table_test.rs
  query/src/datasources/system/mod.rs
  query/src/datasources/system/system_database.rs
  query/src/datasources/system/tables_table_test.rs
  website/datafuse/docs/system/system-tables.md
Labels: pr-feature, pr-need-doc

#1789 [DOC] Fix toYYYYMMDD and toYYYYMMDDhhmmss function doc
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1790 [DOC] Fix toyyyymmdd.md
  website/datafuse/docs/sqlstatement/datetime-functions/toyyyymmdd.md
Labels: pr-doc-fix

#1794 ISSUE-1786 try fix count function with not null column
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/data_array_filter.rs
  common/datavalues/src/series/comparison.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_count.rs
  tests/suites/0_stateless/03_0003_select_group_by.result
  tests/suites/0_stateless/03_0003_select_group_by.sql
Labels: pr-bugfix

#1796 [store] refactor: SledTree::open need not to be async
  store/src/meta_service/raft_log.rs
  store/src/meta_service/raft_state.rs
  store/src/meta_service/sled_tree.rs
  store/src/meta_service/sled_tree_test.rs
  store/src/meta_service/state_machine.rs
Labels: fusestore, pr-improvement

#1799 DOC-1315: add date and time types
  website/datafuse/docs/sqlstatement/data-types/data-type-real-number.md
  website/datafuse/docs/sqlstatement/data-types/data-type-time-date-types.md
  website/datafuse/mkdocs.yml
Labels: pr-doc-fix

#1800 Add label for METRIC_INTERPRETER_USEDTIME
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-improvement

#1795 ISSUE-1783: write parquet and gather statistics in one pass
  common/dal/src/blob_accessor.rs
  common/dal/src/impls/aws_s3/s3.rs
  common/dal/src/impls/local.rs
  query/src/datasources/fuse_table/io/block_appender.rs
  query/src/datasources/fuse_table/io/block_reader.rs
  query/src/datasources/fuse_table/meta/table_snapshot.rs
  query/src/datasources/fuse_table/util/index_helpers.rs
  query/src/datasources/fuse_table/util/location_gen.rs
  query/src/datasources/fuse_table/util/mod.rs
  query/src/datasources/fuse_table/util/statistic_helper.rs
  query/src/datasources/fuse_table/util/stats_aggregation.rs
  query/src/datasources/fuse_table/util/storage_scheme_helper.rs
Labels: pr-improvement

#1810 README: Datafuse -> Databend
  README.md
Labels: pr-doc-fix

#1808 DS-1804: move common/[dal/indexing] to datasources
  Cargo.lock
  Cargo.toml
  common/dal/Cargo.toml
  common/indexing/Cargo.toml
  common/indexing/README.md
  common/indexing/src/index_partition.rs
  common/indexing/src/index_partition_test.rs
  query/Cargo.toml
  query/src/datasources/dal/README.md
  query/src/datasources/dal/blob_accessor.rs
  query/src/datasources/dal/impls/aws_s3/mod.rs
  query/src/datasources/dal/impls/aws_s3/s3.rs
  query/src/datasources/dal/impls/aws_s3/s3_input_stream.rs
  query/src/datasources/dal/impls/aws_s3/s3_input_stream_test.rs
  query/src/datasources/dal/impls/azure_blob.rs
  query/src/datasources/dal/impls/builders.rs
  query/src/datasources/dal/impls/fuse_dfs.rs
  query/src/datasources/dal/impls/local.rs
  query/src/datasources/dal/impls/mod.rs
  query/src/datasources/dal/impls/schemes.rs
  query/src/datasources/dal/mod.rs
  query/src/datasources/fuse_table/io/block_appender.rs
  query/src/datasources/fuse_table/io/block_reader.rs
  query/src/datasources/fuse_table/io/reader_util.rs
  query/src/datasources/fuse_table/io/segment_reader.rs
  query/src/datasources/fuse_table/io/snapshot_reader.rs
  query/src/datasources/fuse_table/meta/meta_info_reader.rs
  query/src/datasources/fuse_table/table.rs
  query/src/datasources/fuse_table/util/storage_scheme_helper.rs
  query/src/datasources/index/index_min_max.rs
  query/src/datasources/index/index_min_max_test.rs
  query/src/datasources/index/index_sparse.rs
  query/src/datasources/index/index_sparse_test.rs
  query/src/datasources/index/mod.rs
  query/src/datasources/mod.rs
  query/src/sessions/context.rs
Labels: pr-improvement

#1816 Update README.md
  README.md
Labels: pr-doc-fix

#1826 add toStartOfYear,toStartOfISOYear
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature

#1832 RUNTIME-1831: add block_on with timeout
  common/runtime/src/runtime.rs
  common/runtime/src/runtime_test.rs
  query/src/datasources/database/remote/remote_meta_backend.rs
Labels: pr-feature

#1834 [Store] support defaulting in store
  store/src/configs/config.rs
Labels: pr-improvement

#1837 RFC: New SQL planner framework
  website/databend/docs/rfcs/query/0005-new-sql-planner-framework.md
Labels: documentation, pr-doc-fix

#1836 COMMON-1835: remove clickhouse-srv marshal/unmarshal
  Cargo.lock
  common/clickhouse-srv/Cargo.toml
  common/clickhouse-srv/src/binary/encoder.rs
  common/clickhouse-srv/src/binary/read_ex.rs
  common/clickhouse-srv/src/types/column/date.rs
  common/clickhouse-srv/src/types/column/fixed_string.rs
  common/clickhouse-srv/src/types/column/list.rs
  common/clickhouse-srv/src/types/column/numeric.rs
  common/clickhouse-srv/src/types/marshal.rs
  common/clickhouse-srv/src/types/mod.rs
  common/clickhouse-srv/src/types/unmarshal.rs
Labels: pr-improvement

#1845 DOC: add sql planner framework RFC to website
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#1842 ISSUE-1841: fix unary arithmetics function err
  common/datavalues/src/columns/arithmetic.rs
  common/datavalues/src/series/arithmetic.rs
  common/datavalues/src/types/data_type_coercion.rs
  common/functions/src/scalars/arithmetics/arithmetic.rs
  query/src/sql/plan_parser.rs
  tests/suites/0_stateless/02_0000_function_arithmetic.result
  tests/suites/0_stateless/02_0000_function_arithmetic.sql
Labels: pr-bugfix

#1844 [Bug Fix] update docker config toml
  docker/databend-query-docker.toml
Labels: pr-bugfix

#1848 add toStartOfQuarter,toStartOfMonth
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_test.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/number_function.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-improvement

#1840 Add mysql_native_password (double sha1) auth support
  Cargo.lock
  common/clickhouse-srv/src/binary/read_ex.rs
  common/clickhouse-srv/src/cmd.rs
  common/clickhouse-srv/src/lib.rs
  common/clickhouse-srv/src/protocols/protocol_hello.rs
  common/management/Cargo.toml
  common/management/src/lib.rs
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/management/src/user/utils.rs
  query/Cargo.toml
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/mysql/mysql_handler_test.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/servers/server.rs
Labels: pr-feature

#1809 Add arithmetic support for interval type
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_test.rs
  query/src/sql/plan_parser.rs
  query/src/sql/plan_parser_test.rs
Labels: pr-feature

#1854 COMMON: apply member same order as trait
  common/datavalues/src/types/serializations/boolean.rs
  common/datavalues/src/types/serializations/date.rs
  common/datavalues/src/types/serializations/date_time.rs
  common/datavalues/src/types/serializations/number.rs
  common/datavalues/src/types/serializations/string.rs
Labels: pr-improvement

#1860 [Build/CI] Fix release ci
  .github/workflows/databend-release.yml
Labels: pr-bugfix

#1863 prefer to use Vec::with_capacity instead of vec!
  query/src/pipelines/transforms/transform_aggregator_partial.rs
Labels: pr-improvement

#1870 [common/uniq-di] feature: make unique-id generating a common lib
  Cargo.lock
  Cargo.toml
  common/uniq_id/Cargo.toml
  common/uniq_id/src/lib.rs
  store/Cargo.toml
  store/src/tests/mod.rs
  store/src/tests/service.rs
Labels: databend-store, pr-feature

#1875 using conf.meta to detect meta service mode
  query/src/catalogs/impls/catalog/metastore_catalog.rs
Labels: pr-improvement

#1880 [store] refactor: remove Config::default().
  common/functions/src/scalars/dates/date_test.rs
  store/src/api/http/v1/config_test.rs
  store/src/api/http_service_test.rs
  store/src/configs/config.rs
Labels: databend-store, pr-improvement

#1882 [ci] refactor: limit number of test running thread to 2.
  .github/workflows/unit-tests.yml
Labels: databend-store, pr-improvement

#1885 Add panic hook for dataquery and datastore
  common/tracing/src/lib.rs
  common/tracing/src/panic_hook.rs
  query/src/bin/databend-query.rs
  store/src/bin/databend-store.rs
Labels: pr-feature

#1889 Perf tool
  .github/workflows/databend-perf-docker.yml
Labels: pr-build

#1890 Fix protocol seq in AuthSwitchRequest
  Cargo.lock
  query/Cargo.toml
Labels: pr-bugfix, pr-other

#1892 [CLI] Local status management
  cli/Cargo.toml
  cli/src/cmds/packages/package.rs
  cli/src/cmds/status.rs
  cli/src/cmds/status_test.rs
  query/src/configs/config.rs
Labels: pr-feature

#1902 bug fix: incorrect err-code returned for create db
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/meta_backends/embedded_meta_backend.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  tests/suites/0_stateless/05_0001_ddl_create_database.sql
Labels: pr-bugfix

#1903 [metasrv] refactor: rename MetaServer to FlightServer
  Cargo.lock
  metasrv/src/api/flight_server.rs
  metasrv/src/api/mod.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/tests/service.rs
Labels: pr-improvement, metasrv

#1908 Fix typo
  common/exception/src/exception.rs
  common/store-api/src/data_block_apis/data_block_api.rs
  metasrv/src/executor/action_handler_test.rs
  metasrv/src/executor/storage_handlers.rs
  store/src/executor/action_handler_test.rs
  store/src/executor/storage_handlers.rs
Labels: pr-other

#1905 [metasrv] refactor: move node_id tests from sled_store/ into meta_service/
  metasrv/src/bin/metasrv.rs
  metasrv/src/configs/config.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raft_log.rs
  metasrv/src/meta_service/raft_state.rs
  metasrv/src/meta_service/raft_state_kv.rs
  metasrv/src/meta_service/raft_types.rs
  metasrv/src/meta_service/raft_types_test.rs
  metasrv/src/meta_service/state_machine.rs
  metasrv/src/meta_service/state_machine_meta.rs
  metasrv/src/sled_store/mod.rs
  metasrv/src/sled_store/seq_num.rs
  metasrv/src/sled_store/sled_key_space.rs
  metasrv/src/sled_store/sled_serde.rs
  metasrv/src/sled_store/sled_tree.rs
  metasrv/src/sled_store/sled_tree_test.rs
Labels: pr-improvement, metasrv

#1906 STORE-1888: improvement the readme
  store/README.md
Labels: pr-improvement

#1909 MANAGEMENT-1864: add tenant to user mgr api
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/management/src/user/utils.rs
Labels: pr-improvement

#1913 [CI] Fix performance(update dependencies)
  .github/workflows/databend-perf-docker.yml
Labels: pr-build

#1914 [metasrv] refactor: remove unused meta API: db, table etc
  metasrv/src/api/rpc/flight_service_test.rs
  metasrv/src/api/rpc/tls_flight_service_test.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/action_handler_test.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/executor/mod.rs
  metasrv/src/executor/storage_handlers.rs
Labels: pr-improvement, metasrv

#1918 [metasrv] fix: get_sled_db() should not panic while holding a lock
  common/management/src/namespace/local_kv_store_test.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/raft/state_machine/sm.rs
  metasrv/src/sled_store/db.rs
  metasrv/src/sled_store/mod.rs
  metasrv/src/tests/service.rs
  store/src/bin/databend-store.rs
  store/src/tests/service.rs
Labels: pr-bugfix, pr-improvement, metasrv

#1916 issue-1512
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/parser/transformer/transform_sqlparser_test.rs
Labels: pr-feature

#1928 [common/runtime] fix: extend duration to test timeout, hoping it may fix the flaky failure of test block_on
  common/runtime/src/runtime_test.rs
Labels: pr-bugfix, metasrv

#1930 StoreApiProvider uses local kv store if conf.meta.address is empty
  Cargo.lock
  common/store-api-sdk/src/lib.rs
  kvlocal/src/lib.rs
  query/Cargo.toml
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/common/config_converter.rs
  query/src/common/mod.rs
  query/src/common/store_api_provider.rs
  query/src/datasources/database/default/default_database.rs
  query/src/datasources/database/default/default_database_factory.rs
  query/src/datasources/table/remote/remote_table.rs
  query/src/datasources/table_engine.rs
Labels: pr-improvement

#1932 ISSUE-1931: UserMgr no longer takes &mut self
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
Labels: pr-improvement

#1934 CATALOGS-1933: change the do_block to runtime block_on
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
Labels: pr-improvement

#1935 [CI] fix qemu issue in perf-tool docker cross compile
  .github/workflows/databend-perf-docker.yml
  docker/perf-tool/Dockerfile
Labels: pr-build

#1938 [metasrv] refactor: StateMachine::apply_cmd() just need a Cmd but not an Entry
  kvlocal/src/local_kv_store.rs
  metasrv/src/raft/state_machine/sm.rs
  metasrv/src/raft/state_machine/state_machine_test.rs
Labels: pr-improvement, metasrv

#1944 fix get_database_and_table_from_idents
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/parser/transformer/transform_sqlparser_test.rs
Labels: pr-bugfix

#1948 Adjust comment
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_expression_visitor.rs
Labels: pr-other

#1946 [common/metatypes] refactor: move datatypes used by meta into common/metatypes, so that other crates are free to use them
  Cargo.lock
  common/metatypes/Cargo.toml
  common/metatypes/src/cluster.rs
  common/metatypes/src/cmd.rs
  common/metatypes/src/lib.rs
  common/metatypes/src/log_entry.rs
  common/metatypes/src/raft_txid.rs
  common/metatypes/src/raft_types.rs
  metasrv/src/configs/config.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/meta_service/errors.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/network.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/meta_service/testing.rs
  metasrv/src/raft/log/raft_log.rs
  metasrv/src/raft/mod.rs
  metasrv/src/raft/raft_types_test.rs
  metasrv/src/raft/sled_impl.rs
  metasrv/src/raft/sled_key_spaces.rs
  metasrv/src/raft/state/raft_state.rs
  metasrv/src/raft/state/raft_state_kv.rs
  metasrv/src/raft/state_machine/applied_state.rs
  metasrv/src/raft/state_machine/placement.rs
  metasrv/src/raft/state_machine/sm.rs
  metasrv/src/raft/state_machine/state_machine_test.rs
  metasrv/src/raft/types/raft_types.rs
  metasrv/src/sled_store/sled_tree_test.rs
  store/src/executor/meta_handlers.rs
Labels: pr-improvement, metasrv

#1950 docs: add nullable function docments
  website/databend/docs/sqlstatement/nullable-functions/isnotnull.md
  website/databend/docs/sqlstatement/nullable-functions/isnull.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#1957 [metasrv] refactor: move network message conversions into metasrv/meta_service/network.rs
  kvlocal/src/local_kv_store.rs
  metasrv/src/api/flight_server.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/configs/config.rs
  metasrv/src/configs/mod.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/meta_store_test.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/network.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  metasrv/src/raft/config.rs
  metasrv/src/raft/log/raft_log.rs
  metasrv/src/raft/log/raft_log_test.rs
  metasrv/src/raft/mod.rs
  metasrv/src/raft/state/raft_state.rs
  metasrv/src/raft/state/raft_state_test.rs
  metasrv/src/raft/state_machine/applied_state.rs
  metasrv/src/raft/state_machine/mod.rs
  metasrv/src/raft/state_machine/sm.rs
  metasrv/src/raft/state_machine/state_machine_test.rs
  metasrv/src/raft/state_machine/testing.rs
  metasrv/src/tests/service.rs
  metasrv/tests/flight/metasrv_flight_api.rs
  store/src/configs/config.rs
Labels: pr-improvement, metasrv

#1960 [kvlocal] refactor: kv-local no longer depends on metasrv. Oh yeah~
  Cargo.lock
  Cargo.toml
  common/raft-store/Cargo.toml
  common/raft-store/src/config.rs
  common/raft-store/src/lib.rs
  common/raft-store/src/log/mod.rs
  common/raft-store/src/log/raft_log.rs
  common/raft-store/src/log/raft_log_test.rs
  common/raft-store/src/raft_types_test.rs
  common/raft-store/src/sled_key_spaces.rs
  common/raft-store/src/state/mod.rs
  common/raft-store/src/state/raft_state.rs
  common/raft-store/src/state/raft_state_kv.rs
  common/raft-store/src/state/raft_state_test.rs
  common/raft-store/src/state_machine/applied_state.rs
  common/raft-store/src/state_machine/mod.rs
  common/raft-store/src/state_machine/placement.rs
  common/raft-store/src/state_machine/placement_test.rs
  common/raft-store/src/state_machine/sm.rs
  common/raft-store/src/state_machine/snapshot.rs
  common/raft-store/src/state_machine/state_machine_meta.rs
  common/raft-store/src/state_machine/state_machine_test.rs
  common/raft-store/src/state_machine/testing.rs
  common/raft-store/src/testing.rs
  common/sled-store/src/lib.rs
  kvlocal/Cargo.toml
  kvlocal/src/local_kv_store.rs
  metasrv/Cargo.toml
  metasrv/src/configs/config.rs
  metasrv/src/executor/kv_handlers.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/meta_service_impl_test.rs
  metasrv/src/meta_service/meta_store_test.rs
  metasrv/src/meta_service/network.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/meta_service/raftmeta_test.rs
  store/Cargo.toml
  store/src/configs/config.rs
  store/src/executor/kv_handlers.rs
  store/src/executor/meta_handlers.rs
  store/src/executor/storage_handlers.rs
Labels: pr-improvement, pr-feature, metasrv

#1952 ISSUE-1951: Split store API into more fine-grained crates
  Cargo.lock
  Cargo.toml
  common/dfs-apis/README.md
  common/dfs-apis/api/Cargo.toml
  common/dfs-apis/api/src/dfs_api.rs
  common/dfs-apis/api/src/lib.rs
  common/dfs-apis/vo/Cargo.toml
  common/dfs-apis/vo/src/lib.rs
  common/kv-apis/api/Cargo.toml
  common/kv-apis/api/src/kv_api.rs
  common/kv-apis/api/src/kv_api_sync.rs
  common/kv-apis/api/src/lib.rs
  common/kv-apis/util/Cargo.toml
  common/kv-apis/util/src/lib.rs
  common/kv-apis/util/src/store_runtime.rs
  common/kv-apis/vo/Cargo.toml
  common/kv-apis/vo/src/lib.rs
  common/management/Cargo.toml
  common/management/src/namespace/namespace_mgr.rs
  common/management/src/namespace/namespace_mgr_test.rs
  common/management/src/user/user_mgr.rs
  common/management/src/user/user_mgr_test.rs
  common/meta-apis/api/Cargo.toml
  common/meta-apis/api/src/lib.rs
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/Cargo.toml
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/Cargo.toml
  common/store-api-sdk/src/impl_flights/kv_api_impl.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl.rs
  common/store-api-sdk/src/lib.rs
  common/store-api-sdk/src/store_client.rs
  common/store-api-sdk/src/store_do_get.rs
  common/store-api-sdk/util/Cargo.toml
  common/store-api-sdk/util/src/lib.rs
  common/store-api/Cargo.toml
  common/store-api/src/lib.rs
  kvlocal/Cargo.toml
  kvlocal/src/local_kv_store.rs
  kvlocal/src/local_kv_store_test.rs
  metasrv/Cargo.toml
  metasrv/src/executor/kv_handlers.rs
  metasrv/tests/flight/metasrv_flight_api.rs
  metasrv/tests/flight/metasrv_flight_tls.rs
  query/Cargo.toml
  query/src/common/store_api_provider.rs
  query/src/datasources/table/fuse/io/block_appender.rs
  query/src/datasources/table/remote/remote_table.rs
  query/src/datasources/table/remote/remote_table_do_read.rs
  store/Cargo.toml
  store/src/api/rpc/flight_service_test.rs
  store/src/api/rpc/tls_flight_service_test.rs
  store/src/executor/action_handler_test.rs
  store/src/executor/kv_handlers.rs
  store/src/executor/meta_handlers.rs
Labels: pr-improvement

#1959 [build] strip the binary size
  .cargo/config
  .gitignore
  .licenserc.yaml
  Cargo.toml
Labels: pr-improvement, pr-build

#1887 Add interval functions add/subtract months, seconds etc.
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_test.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/interval_function_test.rs
  common/functions/src/scalars/dates/mod.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature

#1966 [common/kv] refactor: move crate kvlocal into common: common/kv; rename LocalKVStore to KV
  Cargo.lock
  Cargo.toml
  common/kv/Cargo.toml
  common/kv/src/kv.rs
  common/kv/src/kv_test.rs
  common/kv/src/lib.rs
  common/management/Cargo.toml
  common/management/src/namespace/namespace_mgr_test.rs
  kvlocal/Cargo.toml
  query/Cargo.toml
  query/src/common/storeapi/store_api_provider.rs
Labels: pr-improvement

#1968 make raft-store deps on dfs-api rather than sdk
  Cargo.lock
  common/raft-store/Cargo.toml
  common/raft-store/src/state_machine/applied_state.rs
  common/raft-store/src/state_machine/sm.rs
Labels: pr-improvement

#1969 [Build/CI/Release] Update docker and striped arm release
  .cargo/config
  .github/workflows/databend-performance-dispatch.yaml
  docker/cache/Dockerfile
  docker/databend-query-docker.toml
  tests/perfs/perfs.py
Labels: pr-improvement, pr-build

#1974 [improvement] add Apache 2.0 license to common-io
  common/io/Cargo.toml
Labels: pr-improvement

#1973 [common/management] refactor: management only need common-kv for test
  common/management/Cargo.toml
Labels: pr-improvement

#1975 [Doc] add doc for interval functions
  website/databend/docs/sqlstatement/datetime-functions/addinterval.md
  website/databend/docs/sqlstatement/datetime-functions/subtractinterval.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#1980 Remove disable_local_database_engine config
  docker/databend-query-docker.toml
  query/src/configs/config.rs
  query/src/configs/config_test.rs
  query/src/datasources/database/system/configs_table_test.rs
  scripts/deploy/config/databend-query-node-1.toml
  scripts/deploy/config/databend-query-node-2.toml
  scripts/deploy/config/databend-query-node-3.toml
Labels: pr-improvement

#1983 Extract uniq name to common base
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/lib.rs
  common/base/src/uniq_id.rs
  common/raft-store/src/testing.rs
  common/sled-store/src/sled_tree_test.rs
  dfs/src/tests/service.rs
  kvsrv/src/tests/service.rs
  query/src/clusters/cluster.rs
Labels: pr-not-for-changelog

#1988 add `row_count` to struct `ColStats`
  query/src/datasources/table/fuse/io/block_appender.rs
  query/src/datasources/table/fuse/meta/table_snapshot.rs
  query/src/datasources/table/fuse/util/statistic_helper.rs
Labels: pr-improvement, pr-not-for-changelog

#1991 [deps] bump arrow2, parquet2, sqlparser
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/arrays/comparison.rs
  common/datavalues/src/arrays/ops/agg.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/utils.rs
  common/exception/Cargo.toml
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/scalars/dates/interval_function.rs
  query/Cargo.toml
  query/src/sql/parser/ast/ast_display_test.rs
  query/src/sql/parser/ast/expression.rs
  query/src/sql/parser/transformer/transform_sqlparser.rs
  query/src/sql/sql_common.rs
  query/src/sql/sql_parser_test.rs
Labels: pr-build

#1996 TEST-1995: databend-test --skip support regex rule
  docker/stateless/run.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-standalone.sh
  tests/databend-test
Labels: pr-build

#1990 Make date32 physical type to be int32
  common/datavalues/src/types/data_type.rs
  common/functions/src/scalars/arithmetics/arithmetic_test.rs
  common/functions/src/scalars/dates/date_function_test.rs
  common/functions/src/scalars/dates/date_test.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/interval_function_test.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/dates/round_function.rs
  common/functions/src/scalars/dates/week_date.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sql/sql_common.rs
  website/databend/docs/sqlstatement/data-types/data-type-time-date-types.md
Labels: pr-improvement, community-take

#2004 CONFIG-2003: Remove dfs storage type
  query/src/configs/config_storage.rs
  query/src/configs/config_test.rs
  scripts/deploy/config/databend-query-node-1.toml
  scripts/deploy/config/databend-query-node-2.toml
  scripts/deploy/config/databend-query-node-3.toml
Labels: pr-improvement

#2006 [query]: refactor: remove MetaBackend::exists_table
  query/src/catalogs/database.rs
  query/src/datasources/database/default/default_database.rs
  query/src/datasources/database/example/example_database.rs
  query/src/datasources/database/system/system_database.rs
Labels: pr-improvement, kvsrv

#2007 [query] refactor: remove MetaBackend::exists_database
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/catalogs/impls/meta_backends/embedded_meta_backend.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/meta_backend.rs
Labels: pr-improvement, kvsrv

#2005 Merge processor - extract common code and put them into a functoin
  query/src/pipelines/processors/processor_merge.rs
  query/src/pipelines/processors/processor_mixed.rs
  query/src/pipelines/processors/processor_mixed_test.rs
Labels: pr-improvement

#2009 [query] refactor: remove unused MetaApi::commit_table
  common/meta-apis/api/src/meta_api.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
Labels: pr-improvement, kvsrv

#2010 [query] refactor: rename get_table_ext to get_table_by_id; They are the same
  common/meta-apis/api/src/meta_api.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
Labels: pr-improvement, kvsrv

#2013 DOC-2012: Deprecate the old RFC 0001-store-design
  website/databend/docs/rfcs/store/0001-store-design.md
  website/databend/mkdocs.yml
Labels: pr-doc-fix

#2018 [query] refactor: merge GetDatabaseActionResult and DatabaseInfo
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  dfs/src/executor/action_handler_test.rs
  dfs/src/executor/meta_handlers.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/meta_backends/embedded_meta_backend.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/meta_backend.rs
  query/src/datasources/database/default/default_database_factory.rs
  query/src/datasources/database/example/example_databases.rs
  query/src/datasources/database_engine.rs
Labels: pr-improvement, kvsrv

#2020 [query] refactor: merge GetTableActionResult and TableInfo into one struct TableInfo; fix: #2015
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/executor/action_handler_test.rs
  dfs/src/executor/meta_handlers.rs
  query/src/catalogs/impls/meta_backends/embedded_meta_backend.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/meta_backend.rs
  query/src/catalogs/mod.rs
  query/src/datasources/database/default/default_database.rs
  query/src/datasources/database/example/example_database.rs
  query/src/datasources/table/csv/csv_table.rs
  query/src/datasources/table/csv/csv_table_test.rs
  query/src/datasources/table/fuse/table.rs
  query/src/datasources/table/memory/memory_table.rs
  query/src/datasources/table/memory/memory_table_test.rs
  query/src/datasources/table/null/null_table.rs
  query/src/datasources/table/null/null_table_test.rs
  query/src/datasources/table/parquet/parquet_table.rs
  query/src/datasources/table/parquet/parquet_table_test.rs
  query/src/datasources/table/remote/remote_table.rs
  query/src/datasources/table_engine.rs
Labels: pr-bugfix, pr-improvement, kvsrv

#2019 add method get_databases to meta_api
  Cargo.lock
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/Cargo.toml
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  common/store-api-sdk/src/store_do_action.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/executor/action_handler.rs
  dfs/src/executor/meta_handlers.rs
  kvsrv/src/meta_service/raftmeta.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/mod.rs
Labels: pr-improvement

#2022 remove all `data_parts` related stuff
  common/dfs-apis/api/src/dfs_api.rs
  common/metatypes/src/cmd.rs
  common/raft-store/src/state_machine/sm.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl.rs
  common/store-api-sdk/src/store_do_action.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/executor/action_handler.rs
  dfs/src/executor/action_handler_test.rs
  dfs/src/executor/mod.rs
  dfs/src/executor/storage_handlers.rs
  kvsrv/src/meta_service/raftmeta.rs
  query/src/datasources/table/remote/remote_table.rs
Labels: pr-improvement

#2024 [rebased]: add method get_databases to meta_api
  Cargo.lock
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/Cargo.toml
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  common/store-api-sdk/src/store_do_action.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/executor/action_handler.rs
  dfs/src/executor/meta_handlers.rs
  kvsrv/src/meta_service/raftmeta.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/mod.rs
Labels: pr-not-for-changelog

#2027 Delete codes that commented before
  common/metatypes/src/cmd.rs
  common/raft-store/src/state_machine/sm.rs
  common/store-api-sdk/src/impl_flights/storage_api_impl.rs
  common/store-api-sdk/src/store_do_action.rs
  dfs/src/executor/action_handler.rs
  dfs/src/executor/action_handler_test.rs
  query/src/datasources/table/remote/remote_table.rs
Labels: pr-improvement

#2025 [common/meta-api] refactor: sort methods
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/src/lib.rs
  query/src/catalogs/meta_backend.rs
Labels: pr-improvement, kvsrv

#2033 [common/meta-api] Refactor: MetaApi always use `&str` as argument type instead of `String`
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/api/rpc/tls_flight_service_test.rs
  kvsrv/tests/flight/kvsrv_flight_tls.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/meta_backend.rs
Labels: kvsrv

#2034 [common/meta-api] refactor: MetaApi::drop_table() does not need a return value type. use () for it
  common/meta-apis/api/src/meta_api.rs
  common/meta-apis/vo/src/lib.rs
  common/store-api-sdk/src/impl_flights/meta_api_impl.rs
  common/store-api-sdk/src/store_do_action.rs
  dfs/src/api/rpc/flight_service_test.rs
  dfs/src/executor/action_handler_test.rs
  dfs/src/executor/meta_handlers.rs
Labels: pr-improvement, kvsrv

#2026 Move meta handlers to crate kvsrv
  Cargo.lock
  Cargo.toml
  kvsrv/Cargo.toml
  kvsrv/src/bin/metasrv.rs
  kvsrv/src/configs/config.rs
  kvsrv/src/executor/action_handler.rs
  kvsrv/src/executor/meta_handlers.rs
  kvsrv/src/executor/mod.rs
  scripts/deploy/databend-query-cluster-3-nodes.sh
  scripts/deploy/databend-query-standalone.sh
Labels: pr-improvement

#2035 [query] refactor: create-table in MetaBackend and Catalog should return CreateDatabaseReply
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/catalog/metastore_catalog.rs
  query/src/catalogs/impls/catalog/overlaid_catalog.rs
  query/src/catalogs/impls/catalog/system_catalog.rs
  query/src/catalogs/impls/meta_backends/embedded_meta_backend.rs
  query/src/catalogs/impls/meta_backends/remote_meta_backend.rs
  query/src/catalogs/meta_backend.rs
  query/src/datasources/database/default/default_database.rs
  query/src/datasources/database/example/example_database.rs
Labels: pr-improvement, kvsrv
