Repository databendlabs/databend, pull requests merged in 2022-03, with the labels that each got.

#4273 ISSUE-4242: Use `database_id/table_id` as data file prefix
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/storages/fuse/constants.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/fuse/io/locations.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/mod.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/mod.rs
  query/src/storages/storage_table.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_functions/fuse_history_table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/09_fuse_engine/09_0011_create_table_with_opt_loc.sh
Labels: pr-improvement, pr-not-for-changelog, need-review

#4283 limit parallelization when reading parquet columns.
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/parallel_async_reader.rs
Labels: pr-not-for-changelog, need-review

#4286 deps: Bump opendal to regular release
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/streams/Cargo.toml
  query/Cargo.toml
  query/tests/it/storages/fuse/io.rs
Labels: pr-bugfix, need-review

#4287 Trivial count for fuse engine
  query/src/storages/fuse/operations/read_partitions.rs
Labels: pr-improvement, need-review

#4289 Add backtrace in panic_hooker
  Cargo.lock
  common/tracing/Cargo.toml
  common/tracing/src/panic_hook.rs
Labels: pr-improvement, need-review

#4293 sleep function support float again
  common/datavalues/src/types/type_id.rs
  common/functions/src/lib.rs
  common/functions/src/scalars/udfs/sleep.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: need-review

#4298 dal_context: Use ObserveReader to calculate metrics
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/streams/Cargo.toml
  common/streams/tests/it/sources/source_parquet.rs
  query/Cargo.toml
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/meta_readers.rs
Labels: pr-bugfix, need-review

#4277 External source with new processor
  common/contexts/Cargo.toml
  common/planners/src/lib.rs
  common/planners/src/plan_copy.rs
  common/planners/src/plan_node_s3_external_table.rs
  common/planners/src/plan_read_datasource.rs
  common/planners/tests/it/test.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_select.rs
  query/src/interpreters/mod.rs
  query/src/interpreters/stream/mod.rs
  query/src/interpreters/stream/processor_executor_stream.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/pipelines/transforms/mod.rs
  query/src/pipelines/transforms/sources/source_csv.rs
  query/src/pipelines/transforms/sources/source_dal.rs
  query/src/pipelines/transforms/transform_source.rs
  query/src/sessions/query_ctx.rs
  query/src/sql/exec/mod.rs
  query/src/sql/statements/statement_copy.rs
  query/src/storages/mod.rs
  query/src/storages/s3/mod.rs
  query/src/storages/s3/s3_external_source.rs
  query/src/storages/s3/s3_external_table.rs
  query/src/storages/s3/s3_file_reader.rs
  query/src/storages/storage_table_read_plan.rs
  query/tests/it/optimizers/optimizer_statistics_exact.rs
  query/tests/it/sql/statements/statement_copy.rs
  query/tests/it/storages/fuse/table.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, need-review

#4306 dal_context: Fix cost ms not calculated correctly
  common/contexts/src/dal/dal_context.rs
  tools/metactl/src/main.rs
Labels: pr-bugfix, need-review

#4307 Optimizer: improve trivial count
  common/functions/src/aggregates/aggregate_count.rs
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/sql/statements/analyzer_expr.rs
  query/tests/it/optimizers/optimizer_statistics_exact.rs
  query/tests/it/storages/fuse/operations/optimize.rs
  tests/suites/0_stateless/03_dml/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_dml/03_0001_select_aggregator.sql
  tests/suites/0_stateless/09_fuse_engine/09_0008_fuse_optimize_table.result
  tests/suites/0_stateless/09_fuse_engine/09_0008_fuse_optimize_table.sql
Labels: pr-improvement, need-review

#4304 fix httphandler async query.
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: need-review

#4313 [MetaSrv] Return current leader when fetch cluster state
  metasrv/src/api/http/v1/cluster_state.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
Labels: pr-improvement, need-review

#4317 fix hangs on authenticate
  Cargo.lock
  query/Cargo.toml
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-bugfix, need-review

#4321 deps: Bump opendal for s3 anonymous read support
  Cargo.lock
  common/contexts/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-feature, need-review

#4325 Fix num cpu defaults to 8
  query/src/configs/config_query.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-bugfix, need-review

#4320 RFC Semi-structured Data Types
  docs/dev/rfcs/query/0007-semi-structured-data-types.md
Labels: pr-doc-fix, need-review

#4330 Fix the test_multi_page-test
  query/tests/it/tests/sessions.rs
Labels: pr-build, need-review

#4329 [function] support EXTRACT
  common/ast/src/parser/expr/expr_visitor.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/number_function.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
Labels: pr-feature, pr-need-doc, need-review

#4336 [audit] temporarily ignore arrow2 < 0.9.2
  .cargo/audit.toml
Labels: pr-not-for-changelog, need-review

#4333 ISSUE-4331 fix cannot find node id after heartbeat failure
  common/management/src/cluster/cluster_api.rs
  common/management/src/cluster/cluster_mgr.rs
  common/management/tests/it/cluster.rs
  query/src/clusters/cluster.rs
Labels: pr-bugfix, need-review

#4337 Bump arrow2
  common/arrow/Cargo.toml
Labels: pr-bugfix, need-review

#4339 polish wall_time_ms in http handler
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
Labels: pr-not-for-changelog, need-review

#4323 fix system tables field datatype
  query/src/interpreters/interpreter_query_log.rs
  query/src/servers/http/v1/block_to_json.rs
  query/src/servers/http/v1/query/result_data_manager.rs
  query/src/storages/system/processes_table.rs
  query/src/storages/system/users_table.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix, need-review

#4340 Support nullable group by
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/types/deserializations/boolean.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/date_time.rs
  common/datavalues/src/types/deserializations/mod.rs
  common/datavalues/src/types/deserializations/null.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/deserializations/number.rs
  common/datavalues/src/types/deserializations/string.rs
  query/src/pipelines/transforms/group_by/aggregator_groups_builder.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.result
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.sql
Labels: pr-improvement, need-review

#4334 MySQLHandler: Make async executor running inside the right runtime
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/servers/mysql/mysql_session.rs
Labels: pr-bugfix, need-review

#4350 Fix group by empty
  Cargo.lock
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
Labels: pr-bugfix, need-review

#4271 ISSUE-4264: simd selection
  common/datavalues/src/columns/primitive/mod.rs
  common/datavalues/tests/it/columns/primitive.rs
Labels: pr-performance, pr-feature, need-review

#4285 ISSUE-4284: Refactor the comparison function
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/Cargo.toml
  common/datavalues/benches/eq.rs
  common/datavalues/benches/if_else_then.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/eq.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/types/eq.rs
  common/datavalues/src/types/type_coercion.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/comparisons/comparison_eq.rs
  common/functions/src/scalars/comparisons/comparison_gt.rs
  common/functions/src/scalars/comparisons/comparison_gt_eq.rs
  common/functions/src/scalars/comparisons/comparison_like.rs
  common/functions/src/scalars/comparisons/comparison_lt.rs
  common/functions/src/scalars/comparisons/comparison_lt_eq.rs
  common/functions/src/scalars/comparisons/comparison_not_eq.rs
  common/functions/src/scalars/comparisons/comparison_regexp.rs
  common/functions/src/scalars/comparisons/mod.rs
  common/functions/src/scalars/comparisons/utils.rs
  common/functions/tests/it/scalars/comparisons.rs
  rust-toolchain.toml
  tests/suites/0_stateless/02_function/02_0005_function_compare.result
  tests/suites/0_stateless/02_function/02_0005_function_compare.sql
Labels: pr-bugfix, pr-improvement, need-review

#4353 Use SmallVec to improve HashMethod Serialize
  Cargo.lock
  common/datablocks/Cargo.toml
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/prelude.rs
  common/streams/src/stream_limit_by.rs
  query/src/pipelines/new/processors/transforms/transform_limit_by.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
Labels: pr-performance, need-review

#4346 Polymorphic part info for select query
  Cargo.lock
  common/planners/Cargo.toml
  common/planners/src/lib.rs
  common/planners/src/plan_partition.rs
  common/planners/tests/it/main.rs
  common/planners/tests/it/plan_partition.rs
  common/planners/tests/it/test.rs
  query/Cargo.toml
  query/src/sessions/query_ctx.rs
  query/src/storages/fuse/fuse_part.rs
  query/src/storages/fuse/mod.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/github/github_table.rs
  query/src/storages/memory/memory_part.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/memory/memory_table_stream.rs
  query/src/storages/memory/mod.rs
  query/src/storages/null/null_table.rs
  query/src/storages/s3/s3_external_table.rs
  query/src/storages/storage_table.rs
  query/src/storages/system/one_table.rs
  query/src/storages/system/query_log_table.rs
  query/src/storages/system/table.rs
  query/src/storages/system/tracing_table.rs
  query/src/table_functions/memory_block_part.rs
  query/src/table_functions/mod.rs
  query/src/table_functions/numbers_part.rs
  query/src/table_functions/numbers_stream.rs
  query/src/table_functions/numbers_table.rs
  query/tests/it/optimizers/optimizer.rs
  query/tests/it/table_functions/memory_block_part.rs
Labels: pr-not-for-changelog, need-review

#4356 ISSUE-4355: Fix broken tracing spans
  query/src/functions/systems/fuse_history.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/storages/fuse/fuse_history.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-bugfix, need-review

#4352 change default password type to DoubleSha1Password
  common/meta/types/src/user_auth.rs
  query/tests/it/interpreters/interpreter_show_users.rs
  tests/suites/2_management_mode/00_0003_management_mode_user.result
Labels: need-review

#4359 unify crate Bincode repo
  Cargo.lock
  query/Cargo.toml
Labels: pr-other, pr-not-for-changelog, need-review

#4369 bump regex to 1.5.5.
  Cargo.lock
  common/datablocks/Cargo.toml
  common/functions/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
Labels: pr-not-for-changelog, need-review

#4367 [http handler] rename response fields and return elapsed time when running.
  cli/src/cmds/queries/query.rs
  docs/user/03-api/http-handler.md
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: community-take, pr-not-for-changelog, need-review

#4370 Refactor role identity
  common/management/src/role/role_mgr.rs
  common/meta/types/src/principal_identity.rs
  common/meta/types/src/role_identity.rs
  common/meta/types/src/role_info.rs
  query/src/interpreters/interpreter_role_create.rs
  query/src/sql/parsers/parser_user.rs
  query/tests/it/interpreters/interpreter_user_previlege_revoke.rs
  query/tests/it/interpreters/interpreter_user_privilege_grant.rs
  query/tests/it/sql/parsers/parser_user.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/users/role_cache_mgr.rs
  query/tests/it/users/role_mgr.rs
  tests/suites/0_stateless/05_ddl/05_0014_ddl_create_role.result
  tests/suites/0_stateless/05_ddl/05_0014_ddl_create_role.sql
  tests/suites/0_stateless/05_ddl/05_0015_ddl_drop_role.result
  tests/suites/0_stateless/05_ddl/05_0015_ddl_drop_role.sql
Labels: pr-improvement, need-review

#4365 feat(query): Add more metrics into query_log table
  cli/src/cmds/loads/load.rs
  cli/src/cmds/queries/query.rs
  common/base/src/progress.rs
  common/base/tests/it/progress.rs
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_metrics.rs
  common/streams/src/stream_progress.rs
  docs/user/01-sql-statement/08-system-tables/system-query-log.md
  query/src/interpreters/interpreter_query_log.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/system/processes_table.rs
  query/src/storages/system/query_log_table.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/storages/system/query_log_table.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, pr-feature, need-review

#4366 ISSUE-4341: Fix show init default recorder error
  Cargo.lock
  common/metrics/Cargo.toml
  common/metrics/src/recorder.rs
  metasrv/Cargo.toml
Labels: pr-improvement, pr-other, pr-not-for-changelog, need-review

#4372 Feature: embed more column meta data inside SegmentInfo
  Cargo.lock
  Cargo.toml
  common/arrow/Cargo.toml
  common/arrow/src/parquet_write.rs
  common/streams/tests/it/sources/source_parquet.rs
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/fuse/io/block_writer.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/meta/block.rs
  query/src/storages/fuse/meta/mod.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  query/tests/it/storages/fuse/statistics.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, pr-feature, pr-not-for-changelog, need-review

#4380 Fix hang after async processor throw error
  query/src/pipelines/new/executor/executor_worker_context.rs
Labels: pr-bugfix, need-review

#4387 Rename query.http_api_address-> admin_api_address
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/status.rs
  cli/tests/it/clusters/view.rs
  cli/tests/it/query.rs
  cli/tests/it/status.rs
  docker/databend-query-docker.toml
  docs/user/01-sql-statement/08-system-tables/system-configs.md
  query/src/bin/databend-query.rs
  query/src/configs/config_query.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, need-review

#4373 feat(copy): support copy csv/parquet files from s3 directory
  .github/actions/test_stateful_standalone/action.yml
  Cargo.lock
  common/contexts/Cargo.toml
  common/exception/Cargo.toml
  common/io/Cargo.toml
  common/io/src/files/file_s3.rs
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/sessions/session_mgr.rs
  query/src/storages/s3/s3_external_source.rs
  tests/data/ontime_200.parquet
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
Labels: pr-feature, need-review

#4383 Implement new block reader for fuse engine
  query/src/storages/fuse/fuse_part.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/parallel_async_reader.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
Labels: pr-improvement, need-review

#4394 Change async rwlock to sync to avoid async drop
  query/src/sessions/session_mgr.rs
Labels: pr-improvement, need-review

#4401 Improve some side label and placehold gides
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/04-guides/_category_.yml
  docs/doc/05-operations/_category_.yml
  docs/doc/05-operations/metasrv-export-import.md
  docs/doc/06-contributing/01-coding-guidelines.md
  docs/doc/06-contributing/02-rfcs/_category_.yml
  docs/doc/06-contributing/02-rfcs/query/0001-join-framework-design.md
  docs/doc/06-contributing/02-rfcs/query/0002-plan-expression.md
  docs/doc/06-contributing/02-rfcs/query/0003-data-shuffle.md
  docs/doc/06-contributing/02-rfcs/query/0004-performance-test.md
  docs/doc/06-contributing/02-rfcs/query/0005-new-sql-planner-framework.md
  docs/doc/06-contributing/02-rfcs/query/0006-new-datavalues-system.md
  docs/doc/06-contributing/02-rfcs/query/0007-semi-structured-data-types.md
  docs/doc/06-contributing/02-rfcs/query/_category_.yml
  docs/doc/06-contributing/_category_.yml
  docs/doc/06-contributing/index.md
  docs/doc/07-performance/01_local-vector-performance.md
  docs/doc/07-performance/02_ec2-s3-performance.md
  docs/doc/07-performance/_category_.yml
  docs/doc/08-lessons/01-analyze-github-repo-with-databend.md
  docs/doc/08-lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/08-lessons/_category_.yml
  docs/doc/09-faq/01-release-channels.md
  docs/doc/09-faq/02-routine-maintenance.md
  docs/doc/09-faq/03-how-to-get-server-logs.md
  docs/doc/09-faq/04-how-to-tracing.md
  docs/doc/09-faq/05-how-to-profiling.md
  docs/doc/09-faq/06-how-to-write-aggregate-functions.md
  docs/doc/09-faq/07-how-to-write-scalar-functions.md
  docs/doc/09-faq/_category_.yml
  docs/doc/09-faq/images/jaeger-tracing-show.png
  docs/doc/09-faq/images/meta-console.png
  docs/doc/09-faq/images/profiling-flamegraph.png
  docs/doc/09-faq/images/query-console.png
  docs/doc/09-faq/images/task-in-console.png
Labels: pr-doc-fix, need-review

#4402 Add shell title for the config
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
Labels: pr-doc-fix, need-review

#4405 Add Linux&MacOS&Arm deploy
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
Labels: pr-doc-fix, need-review

#4406 Add deploy arch
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
Labels: pr-doc-fix, need-review

#4409 Add description for some functions
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/03-reference/01-data-types/data-type-integer-number.md
  docs/doc/03-reference/01-data-types/data-type-real-number.md
  docs/doc/03-reference/01-data-types/data-type-string-types.md
  docs/doc/03-reference/01-data-types/data-type-time-date-types.md
  docs/doc/03-reference/02-functions/01-conditional-functions/if.md
  docs/doc/03-reference/02-functions/01-conditional-functions/isnotnull.md
  docs/doc/03-reference/02-functions/01-conditional-functions/isnull.md
  docs/doc/03-reference/02-functions/02-numeric-functions/acos.md
  docs/doc/03-reference/02-functions/02-numeric-functions/asin.md
  docs/doc/03-reference/02-functions/02-numeric-functions/atan.md
  docs/doc/03-reference/02-functions/02-numeric-functions/atan2.md
  docs/doc/03-reference/02-functions/02-numeric-functions/ceil.md
  docs/doc/03-reference/02-functions/02-numeric-functions/ceiling.md
  docs/doc/03-reference/02-functions/02-numeric-functions/cos.md
  docs/doc/03-reference/02-functions/02-numeric-functions/cot.md
  docs/doc/03-reference/02-functions/02-numeric-functions/crc32.md
  docs/doc/03-reference/02-functions/02-numeric-functions/degrees.md
  docs/doc/03-reference/02-functions/02-numeric-functions/exp.md
  docs/doc/03-reference/02-functions/02-numeric-functions/floor.md
  docs/doc/03-reference/02-functions/02-numeric-functions/pi.md
  docs/doc/03-reference/02-functions/02-numeric-functions/pow.md
  docs/doc/03-reference/02-functions/02-numeric-functions/radians.md
  docs/doc/03-reference/02-functions/02-numeric-functions/rand.md
  docs/doc/03-reference/02-functions/02-numeric-functions/round.md
  docs/doc/03-reference/02-functions/02-numeric-functions/sign.md
  docs/doc/03-reference/02-functions/02-numeric-functions/sin.md
  docs/doc/03-reference/02-functions/02-numeric-functions/sqrt.md
  docs/doc/03-reference/02-functions/02-numeric-functions/tan.md
  docs/doc/03-reference/02-functions/02-numeric-functions/truncate.md
  docs/doc/03-reference/02-functions/03-datetime-functions/addinterval.md
  docs/doc/03-reference/02-functions/03-datetime-functions/subtractinterval.md
Labels: pr-doc-fix, need-review

#4410 Doc: Add load data from source
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/02-develop/_category_.yml
  docs/doc/02-load-data/01-load-data-from-source/00_s3.md
  docs/doc/02-load-data/01-load-data-from-source/_category_.yml
  docs/doc/02-load-data/_category_.yml
  docs/doc/02-query-data/_category_.yml
  docs/doc/02-using/_category_.yml
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-argmax.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-argmin.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-avg-if.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-avg.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-count-if.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-count.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-max-if.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-max.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-min-if.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-min.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-stddev-pop.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-sum-if.md
  docs/doc/03-reference/02-functions/05-aggregate-functions/aggregate-sum.md
  docs/doc/03-reference/03-sql/02-dml/dml-copy.md
  docs/doc/03-reference/03-sql/02-dml/dml-insert.md
  docs/doc/03-reference/03-sql/03-query/dml-select.md
  docs/doc/03-reference/03-sql/04-show/show-create-table.md
  docs/doc/05-operations/metasrv-export-import.md
  docs/doc/06-contributing/02-rfcs/query/0002-plan-expression.md
  docs/doc/06-contributing/index.md
  docs/doc/07-performance/01_local-vector-performance.md
  docs/doc/08-release-note/_category_.yml
  docs/doc/09-lessons/01-analyze-github-repo-with-databend.md
  docs/doc/09-lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/09-lessons/_category_.yml
  docs/doc/10-faq/01-release-channels.md
  docs/doc/10-faq/02-routine-maintenance.md
  docs/doc/10-faq/03-how-to-get-server-logs.md
  docs/doc/10-faq/04-how-to-tracing.md
  docs/doc/10-faq/05-how-to-profiling.md
  docs/doc/10-faq/06-how-to-write-scalar-functions.md
  docs/doc/10-faq/07-how-to-write-aggregate-functions.md
  docs/doc/10-faq/_category_.yml
  docs/doc/10-faq/images/jaeger-tracing-show.png
  docs/doc/10-faq/images/meta-console.png
  docs/doc/10-faq/images/profiling-flamegraph.png
  docs/doc/10-faq/images/query-console.png
  docs/doc/10-faq/images/task-in-console.png
  docs/index.md
  website/README.md
Labels: pr-doc-fix, need-review

#4412 Doc: Add load data from MySQL
  docs/doc/02-load-data/01-load-data-from-source/01_mysql.md
Labels: pr-doc-fix, need-review

#4414 Doc: Add developer
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/_category_.yml
  docs/doc/02-load-data/01-load-data-from-source/00_s3.md
  docs/doc/02-load-data/01-load-data-from-source/01_mysql.md
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#4416 Doc: Add python to develop
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/02-python.md
  docs/doc/09-lessons/01-analyze-github-repo-with-databend.md
Labels: pr-doc-fix, need-review

#4417 Introduce HashMethodSingleString
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datablocks/src/lib.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_final.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_partial.rs
  query/src/pipelines/new/processors/transforms/aggregator/mod.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_groups_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_keys_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
Labels: pr-improvement, need-review

#4419 Doc: Add load from local file using streaming_data API
  docs/doc/02-load-data/01-load-data-from-source/01_s3.md
  docs/doc/02-load-data/01-load-data-from-source/02_mysql.md
  docs/doc/02-load-data/01-load-data-from-source/03_local.md
  docs/doc/09-lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4420 Doc: Add ann bar and refine the README
  README.md
  docs/doc/01-deploy/_category_.yml
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/02-python.md
  docs/doc/02-load-data/01-load-data-from-source/01_s3.md
  docs/doc/02-load-data/01-load-data-from-source/02_mysql.md
  docs/doc/02-load-data/01-load-data-from-source/03_local.md
  docs/doc/index.md
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#4404 ISSUE-4403: dedicated runtime for io tasks
  common/base/src/runtime.rs
  common/base/tests/it/runtime.rs
  query/src/configs/config_storage.rs
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/executor/pipeline_runtime_executor.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/clickhouse/clickhouse_session.rs
  query/src/servers/mysql/mysql_handler.rs
  query/src/servers/mysql/mysql_session.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session_mgr.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/read.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#4424 Fix column name quotestyle
  query/src/sql/parsers/parser_table.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/sql/sql_parser.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
Labels: pr-bugfix, need-review

#4375 Refactor ScalarExpression and add simd operator
  common/functions/src/lib.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/arithmetics/binary_arithmetic.rs
  common/functions/src/scalars/arithmetics/unary_arithmetic.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/comparisons/comparison_eq.rs
  common/functions/src/scalars/comparisons/comparison_gt.rs
  common/functions/src/scalars/comparisons/comparison_gt_eq.rs
  common/functions/src/scalars/comparisons/comparison_lt.rs
  common/functions/src/scalars/comparisons/comparison_lt_eq.rs
  common/functions/src/scalars/comparisons/comparison_not_eq.rs
  common/functions/src/scalars/comparisons/utils.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/macros.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/dates/round_function.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/expressions/unary.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/hashes/hash_base.rs
  common/functions/src/scalars/maths/abs.rs
  common/functions/src/scalars/maths/angle.rs
  common/functions/src/scalars/maths/ceil.rs
  common/functions/src/scalars/maths/exp.rs
  common/functions/src/scalars/maths/floor.rs
  common/functions/src/scalars/maths/log.rs
  common/functions/src/scalars/maths/pow.rs
  common/functions/src/scalars/maths/random.rs
  common/functions/src/scalars/maths/round.rs
  common/functions/src/scalars/maths/sign.rs
  common/functions/src/scalars/maths/sqrt.rs
  common/functions/src/scalars/maths/trigonometric.rs
  common/functions/src/scalars/strings/find_in_set.rs
  common/functions/src/scalars/strings/format.rs
  common/functions/src/scalars/strings/leftright.rs
  common/functions/src/scalars/strings/space.rs
  common/functions/src/scalars/strings/strcmp.rs
  common/functions/tests/it/scalars/expressions.rs
  query/src/functions/function_factory.rs
Labels: pr-improvement, need-review

#4415 Fix #4347
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/tests/it/sessions/session_context.rs
  query/tests/it/tests/context.rs
Labels: pr-bugfix, need-review

#4418 Change bloom filter to use datavalue2
  Cargo.lock
  common/datavalues/src/data_value.rs
  query/Cargo.toml
  query/src/storages/index/bloom_filter.rs
  query/src/storages/index/mod.rs
  query/tests/it/storages/index/bloom_filter.rs
  query/tests/it/storages/index/mod.rs
Labels: pr-improvement, need-review

#4421 remove useless query clusters/node.rs
  query/src/clusters/node.rs
Labels: pr-improvement, pr-other, pr-not-for-changelog, need-review

#4431 feat: add Cookies Consent add static logo images
  website/docusaurus.config.js
  website/src/components/CookiesConsent/index.js
  website/src/components/CookiesConsent/styles.module.scss
  website/src/theme/Footer/index.js
  website/src/theme/Footer/styles.module.css
  website/static/logo/databend logo-01.png
  website/static/logo/databend logo-05.png
Labels: pr-feature, need-review

#4433 opendal: Bump to v0.2.2
  Cargo.lock
  common/contexts/Cargo.toml
  common/exception/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  common/tracing/Cargo.toml
  common/tracing/src/logging.rs
  query/Cargo.toml
Labels: pr-bugfix, pr-feature, need-review

#4438 remove useless common/functions/macros.rs
  common/functions/src/lib.rs
  common/functions/src/macros.rs
Labels: pr-other, pr-not-for-changelog, need-review

#4434 Add a few logo pictures for later use
  website/static/img/logo/databend-logo-horizontal.png
  website/static/img/logo/databend-logo-horizontal.svg
  website/static/img/logo/databend-logo-vertical.png
  website/static/img/logo/databend-logo-vertical.svg
Labels: pr-other, need-review

#4440 Doc: Refine the MinIO deploy
  docs/doc/01-deploy/02_minio.md
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#4407 ISSUE-4398 implement admin$reload_config procedure
  query/src/api/http_service.rs
  query/src/api/rpc_service.rs
  query/src/bin/databend-query.rs
  query/src/common/context_function.rs
  query/src/common/mod.rs
  query/src/interpreters/interpreter_call.rs
  query/src/lib.rs
  query/src/procedures/admins/admin.rs
  query/src/procedures/admins/mod.rs
  query/src/procedures/admins/reload_config.rs
  query/src/procedures/admins/warehouse_metadata.rs
  query/src/procedures/mod.rs
  query/src/procedures/procedure.rs
  query/src/procedures/procedure_factory.rs
  query/src/procedures/systems/fuse_history.rs
  query/src/procedures/systems/mod.rs
  query/src/procedures/systems/system.rs
  query/src/servers/http/http_services.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/storages/fuse/cache/metrics.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/tests/it/functions/context_function.rs
  query/tests/it/sessions/session.rs
  query/tests/it/sessions/session_context.rs
  query/tests/it/tests/context.rs
Labels: pr-feature, need-review

#4447 DOC-4360: Add cluster to deploy
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cluster_minio.md
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/02-python.md
  docs/doc/02-load-data/01-load-data-from-source/01_s3.md
  docs/doc/02-load-data/01-load-data-from-source/02_mysql.md
  docs/doc/02-load-data/01-load-data-from-source/03_local.md
  docs/doc/07-performance/02_ec2-s3-performance.md
  docs/doc/09-lessons/01-analyze-github-repo-with-databend.md
  docs/doc/09-lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4452 Doc: Update s3 performance
  docs/doc/07-performance/01_local-vector-performance.md
  docs/doc/07-performance/02_ec2-s3-performance.md
  docs/doc/09-lessons/01-analyze-github-repo-with-databend.md
  docs/doc/09-lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4437 Support copy from stage
  .github/actions/test_stateful_standalone/action.yml
  Cargo.lock
  common/ast/Cargo.toml
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/io/Cargo.toml
  common/io/src/files/file_s3.rs
  common/io/src/utils.rs
  common/planners/src/plan_user_stage_create.rs
  common/planners/src/plan_user_stage_describe.rs
  common/streams/Cargo.toml
  docs/doc/03-reference/03-sql/01-ddl/04-stage/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/04-stage/ddl-create-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/ddl-drop-stage.md
  docs/doc/03-reference/03-sql/01-ddl/05-udf/01-ddl-create-function.md
  docs/doc/03-reference/03-sql/01-ddl/05-udf/02-ddl-alter-function.md
  docs/doc/03-reference/03-sql/01-ddl/05-udf/03-ddl-drop-function.md
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/interpreters/interpreter_user_stage_describe.rs
  query/src/interpreters/interpreter_user_stage_drop.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/mod.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_copy.rs
  query/src/sql/statements/statement_create_user_stage.rs
  query/src/sql/statements/statement_describe_user_stage.rs
  query/src/sql/statements/statement_drop_user_stage.rs
  query/src/storages/s3/s3_external_source.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/parsers/mod.rs
  query/tests/it/sql/parsers/parser_stage.rs
  query/tests/it/sql/statements/statement_copy.rs
  tests/suites/0_stateless/05_ddl/05_0016_ddl_stage.result
  tests/suites/0_stateless/05_ddl/05_0016_ddl_stage.sql
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
Labels: pr-improvement, pr-need-doc, need-review

#4446 feat: log query log to file
  common/containers/src/pool.rs
  common/meta/types/src/user_quota.rs
  docs/doc/03-reference/03-sql/06-system-tables/system-query-log.md
  query/src/interpreters/interpreter_query_log.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
Labels: pr-other, need-review

#4453 Doc: Refine the sidebar and the stage
  docs/doc/03-reference/03-sql/01-ddl/01-user/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/01-user/user-create-user.md
  docs/doc/03-reference/03-sql/01-ddl/02-database/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/02-database/ddl-create-database.md
  docs/doc/03-reference/03-sql/01-ddl/02-database/ddl-drop-database.md
  docs/doc/03-reference/03-sql/01-ddl/03-table/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/04-stage/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/04-stage/ddl-create-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/ddl-drop-stage.md
Labels: pr-doc-fix, need-review

#4455 Doc: Move load data to root of /load-data
  docs/doc/02-load-data/01-load-data-from-source/_category_.yml
  docs/doc/02-load-data/01_s3.md
  docs/doc/02-load-data/02_mysql.md
  docs/doc/02-load-data/03_local.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/ddl-create-stage.md
  docs/doc/03-reference/03-sql/02-dml/dml-copy.md
Labels: pr-doc-fix, need-review

#4456 Doc: Add drop and alter user
  docs/doc/03-reference/03-sql/01-ddl/01-user/01-user-create-user.md
  docs/doc/03-reference/03-sql/01-ddl/01-user/02-user-drop-user.md
  docs/doc/03-reference/03-sql/01-ddl/01-user/03-user-alter-user.md
  docs/doc/03-reference/03-sql/01-ddl/01-user/user-create-user.md
Labels: pr-doc-fix, need-review

#4450 Add session settings to log event
  Cargo.lock
  query/Cargo.toml
  query/src/interpreters/interpreter_query_log.rs
  query/src/sessions/session_settings.rs
  query/src/storages/system/query_log_table.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/storages/system/query_log_table.rs
Labels: pr-feature, need-review

#4425 ISSUE-3557: Add rename table command
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  common/planners/src/plan_table_rename.rs
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/immutable_catalog.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_table_rename.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_rename_table.rs
  query/tests/it/interpreters/interpreter_table_rename.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/sql/plan_parser.rs
  tests/suites/0_stateless/05_ddl/05_0003_ddl_rename_table.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_rename_table.sql
Labels: pr-feature, pr-need-doc, need-review

#4454 query add http api /v1/status
  query/benches/suites/mod.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/logs.rs
  query/src/api/http/v1/mod.rs
  query/src/api/http/v1/status.rs
  query/src/api/http_service.rs
  query/src/interpreters/interpreter_factory_interceptor.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/mysql/mysql_handler.rs
  query/src/sessions/mod.rs
  query/src/sessions/session.rs
  query/src/sessions/session_info.rs
  query/src/sessions/session_mgr.rs
  query/src/sessions/session_type.rs
  query/src/sessions/status.rs
  query/tests/it/api/http/mod.rs
  query/tests/it/api/http/status.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/sessions/session.rs
  query/tests/it/sessions/session_context.rs
  query/tests/it/sessions/session_setting.rs
  query/tests/it/tests/context.rs
Labels: pr-feature, need-review

#4460 clean up deps
  Cargo.lock
  common/ast/Cargo.toml
  common/cache/Cargo.toml
  common/clickhouse-srv/Cargo.toml
  common/datablocks/Cargo.toml
  common/functions/Cargo.toml
  common/grpc/Cargo.toml
  common/management/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/grpc/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/planners/Cargo.toml
  common/streams/Cargo.toml
  metasrv/Cargo.toml
Labels: pr-improvement, pr-other, pr-build, pr-not-for-changelog, need-review

#4428 ISSUE-4292: limit pushdown in read plan
  common/planners/src/plan_node_statistics.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  tests/suites/0_stateless/09_fuse_engine/09_0012_pushdown_limit.result
  tests/suites/0_stateless/09_fuse_engine/09_0012_pushdown_limit.sql
  tests/suites/0_stateless/09_fuse_engine/09_0012_pushdown_limit_cluster.result
Labels: pr-improvement, pr-feature, pr-not-for-changelog, need-review

#4461 enable lto="thin" for release build
  Cargo.toml
Labels: pr-improvement, pr-other, pr-performance, pr-build, pr-not-for-changelog, need-review

#4462 feat: add query logger to session manager
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  query/src/configs/config_log.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/session_mgr.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/deploy/config/databend-query-node-1.toml
Labels: pr-improvement, need-review

#4463 show failure test names
  tests/databend-test
Labels: pr-build, pr-not-for-changelog, need-review

#4469 Update 02-python.md
  docs/doc/02-develop/02-python.md
Labels: pr-doc-fix, need-review

#4444 ISSUE-4345 integrate fuse table with new processor
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/pipelines/new/processors/transforms/transform.rs
  query/src/sessions/query_ctx.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/s3/s3_external_source.rs
  query/tests/it/sessions/query_ctx.rs
Labels: pr-feature, need-review

#4475 feat(groupby): fix groupby single string in new processor
  query/src/pipelines/transforms/group_by/aggregator_groups_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_keys_iter.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  tests/databend-test
Labels: pr-bugfix, need-review

#4477 feat(stage): stage streaming upload
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/servers/http/http_services.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/stage.rs
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.result
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
Labels: pr-feature, pr-need-doc, need-review

#4480 ISSUE-4478: remove setting `parallel_read_threads`
  query/src/sessions/session_settings.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/parallel_async_reader.rs
  query/src/storages/fuse/operations/read.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/interpreters/interpreter_show_settings.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: pr-improvement, pr-not-for-changelog, need-review

#4482 [metasrv] building snapshot has to protected by a write-lock.
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/testing.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  metasrv/src/store/meta_raft_store.rs
Labels: need-review

#4490 Doc: Add stage and load from stage
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
  docs/doc/02-load-data/01_s3.md
  docs/doc/02-load-data/02_mysql.md
  docs/doc/02-load-data/03_local.md
  docs/doc/02-load-data/04_stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/01-ddl-create-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/02-ddl-drop-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/03-ddl-desc-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/04-ddl-list-stage.md
  docs/doc/03-reference/03-sql/01-ddl/04-stage/_category_.yml
  docs/doc/03-reference/03-sql/01-ddl/04-stage/index.md
Labels: pr-doc-fix, need-review

#4492 Doc: Refine the title
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
  docs/doc/01-deploy/04_cluster_minio.md
  docs/doc/02-load-data/02_mysql.md
  docs/doc/02-load-data/04_stage.md
Labels: pr-doc-fix, need-review

#4485 feat(function): simplify function creator && adaptor
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/function_adapter.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/mod.rs
Labels: pr-improvement, need-review

#4473 ISSUE-4275, metactl: dump data from a running metasrv
  Cargo.lock
  common/meta/types/build.rs
  common/meta/types/src/lib.rs
  metasrv/Cargo.toml
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/api/grpc_server.rs
  tests/metactl/test-metactl.sh
  tools/metactl/Cargo.toml
  tools/metactl/src/grpc.rs
  tools/metactl/src/main.rs
Labels: pr-bugfix, pr-improvement, pr-other, pr-build, pr-feature, need-review

#4496 feat(streaming): support parquet file streaming load
  common/streams/src/sources/source_parquet.rs
  docs/doc/02-load-data/03_local.md
  query/src/servers/http/v1/load.rs
  tests/shell_env.sh
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
  tests/suites/1_stateful/01_load/01_0000_streaming_load.result
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
Labels: pr-improvement, need-review

#4500 Doc: Add load from local file csv&parquet
  Cargo.lock
  common/arrow/Cargo.toml
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
  docs/doc/02-load-data/00_local.md
  docs/doc/02-load-data/01_s3.md
  docs/doc/02-load-data/02_mysql.md
  docs/doc/02-load-data/03_local.md
  docs/doc/02-load-data/03_stage.md
  docs/public/data/books.csv
  docs/public/data/books.parquet
Labels: pr-doc-fix, need-review

#4503 Redirect stderr to file too
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
Labels: pr-doc-fix, need-review

#4504 Doc: Add diag for load data
  docs/doc/02-load-data/00_local.md
  docs/doc/02-load-data/01_s3.md
  docs/doc/02-load-data/02_stage.md
  docs/doc/02-load-data/03_mysql.md
  docs/public/img/deploy/deploy-cos-standalone.png
  docs/public/img/deploy/deploy-local-standalone.png
  docs/public/img/deploy/deploy-minio-cluster.png
  docs/public/img/deploy/deploy-minio-standalone.png
  docs/public/img/deploy/deploy-s3-standalone.png
  docs/public/img/load/load-data-from-local-fs.png
  docs/public/img/load/load-data-from-s3.png
  docs/public/img/load/load-data-from-stage.png
Labels: pr-doc-fix, need-review

#4502 Improve Unknown database error message
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/types/src/meta_storage_errors.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/sql/statements/statement_copy.rs
Labels: pr-improvement, need-review

#4505 Doc: Refine the develop doc
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/02-python.md
Labels: pr-doc-fix, need-review

#4506 Doc: Refine the title
  docs/doc/02-load-data/00_local.md
  docs/doc/02-load-data/01_s3.md
  docs/doc/02-load-data/02_stage.md
  docs/doc/02-load-data/03_mysql.md
  docs/doc/07-performance/01_local-vector-performance.md
  docs/doc/07-performance/02_ec2-s3-performance.md
  docs/doc/09-learn/01-analyze-github-repo-with-databend.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/09-learn/_category_.yml
  docs/doc/09-lessons/_category_.yml
Labels: pr-doc-fix, need-review

#4509 Doc: Upgrade from -v0.6.95 to -v0.6.96
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
Labels: pr-doc-fix, need-review

#4512 repair the docs: 2.develop(go and python if not exist book_db database)
  docs/doc/02-develop/01-golang.md
  docs/doc/02-develop/02-python.md
Labels: pr-bugfix, need-review

#4508 ISSUE-4507: refine count optimization
  query/src/sql/statements/query/query_collect_push_downs.rs
  query/src/sql/statements/statement_select.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/storage_table.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact.result
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact.sql
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact_cluster.result
Labels: pr-improvement, pr-not-for-changelog, need-review

#4514 fix(clickhouse): to_clickhouse_block always convert to full column if constant
  common/datablocks/src/data_block.rs
  query/src/servers/clickhouse/writers/query_writer.rs
Labels: pr-bugfix, need-review

#4484 ISSUE-4374: Simd selected for BooleanColumn
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/tests/it/columns/boolean.rs
Labels: pr-performance, pr-feature, need-review

#4515 fix the docs code error
  docs/doc/01-deploy/00_local.md
  docs/doc/02-develop/02-python.md
Labels: pr-doc-fix

#4481 refactor: Adapt reqsign and separate IO runtime
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/runtime.rs
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_runtime.rs
  common/contexts/src/dal/mod.rs
  common/contexts/src/lib.rs
  common/exception/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/sessions/query_ctx.rs
  query/src/sessions/session_mgr.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/read.rs
Labels: pr-bugfix, need-review

#4517 feat(config): support config format json, yaml, toml
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/format.rs
  common/base/src/lib.rs
  common/base/tests/it/format.rs
  common/base/tests/it/main.rs
  metasrv/Cargo.toml
  metasrv/src/configs/config.rs
  metasrv/tests/it/configs.rs
  query/Cargo.toml
  query/src/bin/databend-query.rs
  query/src/configs/config.rs
  query/src/sessions/session_mgr.rs
Labels: pr-improvement, need-review

#4520 build: Fix musl support
  Cargo.lock
  common/base/Cargo.toml
  common/base/src/profiling.rs
Labels: pr-build, need-review

#4524 Doc: Add building from source
  docs/doc/01-deploy/00_local.md
  docs/doc/01-deploy/01_s3.md
  docs/doc/01-deploy/02_minio.md
  docs/doc/01-deploy/03_cos.md
  docs/doc/06-contributing/02-building-from-source.md
Labels: pr-doc-fix, need-review

#4522 [ Doc ] Documentation for run databend-cluster under kubernetes
  docs/doc/01-deploy/05_cluster_k8s_minio.md
  scripts/kubernetes/meta-standalone.yaml
  scripts/kubernetes/minio-sample.yaml
  scripts/kubernetes/query-cluster.yaml
Labels: pr-build, pr-doc-fix, need-review

#4519 ISSUE-4518: Feat populate cache while writing
  query/src/optimizers/optimizer_statistics_exact.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/operation_log.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#4526 Doc: Fix some typo and what's caching for ec2-s3 performance
  docs/doc/01-deploy/05_cluster_k8s_minio.md
  docs/doc/07-performance/02_ec2-s3-performance.md
Labels: pr-doc-fix, need-review

#4525 ontime table columns add not null
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4530 Add bootstrap_tenant procedure for tenant management
  common/exception/src/exception_code.rs
  common/meta/types/src/user_auth.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_call.rs
  query/src/interpreters/interpreter_role_create.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/procedures/admins/admin.rs
  query/src/procedures/admins/bootstrap_tenant.rs
  query/src/procedures/admins/mod.rs
  query/src/procedures/admins/reload_config.rs
  query/src/procedures/admins/warehouse_metadata.rs
  query/src/procedures/mod.rs
  query/src/procedures/procedure.rs
  query/src/procedures/procedure_factory.rs
  query/src/procedures/systems/fuse_history.rs
  query/src/procedures/systems/system.rs
  query/src/sql/statements/statement_alter_user.rs
  query/src/sql/statements/statement_create_user.rs
  query/src/users/role_mgr.rs
  query/src/users/user_mgr.rs
  query/tests/it/interpreters/interpreter_call.rs
  query/tests/it/interpreters/interpreter_privilege_grant.rs
  query/tests/it/interpreters/interpreter_privilege_revoke.rs
  query/tests/it/interpreters/interpreter_role_grant.rs
  query/tests/it/interpreters/interpreter_role_revoke.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/roles_table.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/users/role_cache_mgr.rs
  query/tests/it/users/role_mgr.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-feature, pr-need-doc, need-review

#4535 [build/release] support to incorporate musl compiled binaries into release
  .github/workflows/databend-release.yml
  Cross.toml
  docker/build-tool/aarch64_musl/Dockerfile
  docker/build-tool/musl/Dockerfile
  docker/build-tool/openssl.sh
Labels: pr-build, need-review

#4537 query: Add region config back
  Cargo.lock
  common/contexts/Cargo.toml
  common/exception/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/sessions/session_mgr.rs
Labels: pr-feature, need-review

#4541 [test] Add bootstrap_tenant test in management mode
  tests/suites/2_management_mode/00_0005_management_mode_call.result
  tests/suites/2_management_mode/00_0005_management_mode_call.sql
Labels: need-review

#4538 support server-side-session for HTTP handler
  query/src/interpreters/interpreter_factory_interceptor.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/expirable.rs
  query/src/servers/http/v1/query/expiring_map.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_manager.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/statement.rs
  query/src/sessions/mod.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/src/sessions/session_mgr_status.rs
  query/src/sessions/session_status.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature, need-review

#4542 Doc: Add rename table
  docs/doc/03-reference/03-sql/01-ddl/03-table/ddl-rename-table.md
Labels: pr-doc-fix, need-review

#4547 doc(contributing): your first databend PR
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/doc/06-contributing/03-good-pr.md
  docs/doc/06-contributing/04-rfcs/_category_.yml
  docs/doc/06-contributing/04-rfcs/query/0001-join-framework-design.md
  docs/doc/06-contributing/04-rfcs/query/0002-plan-expression.md
  docs/doc/06-contributing/04-rfcs/query/0003-data-shuffle.md
  docs/doc/06-contributing/04-rfcs/query/0004-performance-test.md
  docs/doc/06-contributing/04-rfcs/query/0005-new-sql-planner-framework.md
  docs/doc/06-contributing/04-rfcs/query/0006-new-datavalues-system.md
  docs/doc/06-contributing/04-rfcs/query/0007-semi-structured-data-types.md
  docs/doc/06-contributing/04-rfcs/query/_category_.yml
Labels: pr-doc-fix, need-review

#4548 doc(contributing): Remove code guideline
  docs/doc/06-contributing/01-building-from-source.md
  docs/doc/06-contributing/01-coding-guidelines.md
  docs/doc/06-contributing/02-good-pr.md
  docs/doc/06-contributing/index.md
Labels: pr-doc-fix, need-review

#4549 Add docs for http handler.
  docs/doc/03-reference/04-api/00-rest.md
  docs/doc/03-reference/04-api/_category_.yml
Labels: pr-doc-fix, need-review

#4545 *: add benchmark solution with hyperfine
  .github/actions/publish_image/action.yml
  .github/workflows/databend-release.yml
  .github/workflows/test-performance-dispatch.yaml
  .github/workflows/utils-slack-notify.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docker/perf-tool/Dockerfile
  docs/doc/10-faq/08-how-to-benchmark-with-hyperfine.md
  scripts/build/build-debug.sh
  scripts/build/build-native.sh
  scripts/build/build-release.sh
  scripts/ci/ci-run-performance-tests-standalone.sh
  tests/perfs/compare.py
  tests/perfs/perfs.py
  tests/perfs/perfs.yaml
  tools/benchmark/Cargo.toml
  tools/benchmark/src/main.rs
Labels: pr-build, pr-doc-fix, need-review

#4551 chore(build): Add git latest tag to the build version
  common/building/src/lib.rs
  query/src/bin/databend-query.rs
  query/src/configs/config.rs
  query/src/sessions/query_ctx.rs
Labels: pr-improvement, need-review

#4554 doc(performance): add cvm+cos ontime performance report
  docs/doc/07-performance/01-local-vector-performance.md
  docs/doc/07-performance/02-ec2-s3-performance.md
  docs/doc/07-performance/03-ec2-wasabi-performance.md
  docs/doc/07-performance/04-cvm-cos-performance.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4556 doc(performance): add block statistics to cvm+cos test
  docs/doc/07-performance/04-cvm-cos-performance.md
Labels: pr-doc-fix, need-review

#4562 ci: build distroless image for meta/query service
  .github/workflows/databend-release.yml
  docker/distroless/meta.Dockerfile
  docker/distroless/query.Dockerfile
Labels: pr-build, need-review

#4565 doc(performance): Refine the context
  docs/doc/01-deploy/02-cos.md
  docs/doc/01-deploy/03-oss.md
  docs/doc/01-deploy/04-wasabi.md
  docs/doc/01-deploy/06-cluster-k8s-minio.md
  docs/doc/07-performance/01-local-vector-performance.md
  docs/doc/07-performance/02-ec2-s3-performance.md
  docs/doc/07-performance/03-ec2-wasabi-performance.md
  docs/doc/07-performance/04-cvm-cos-performance.md
  docs/doc/09-learn/01-analyze-github-repo-with-databend.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4560 fix: kubernetes deploy example compatiable with distroless image
  scripts/kubernetes/meta-standalone.yaml
  scripts/kubernetes/query-cluster.yaml
Labels: pr-doc-fix, need-review

#4528 ISSUE-4374: Apply simd selection to StringColumn
  common/datavalues/src/columns/string/mod.rs
  common/datavalues/tests/it/columns/string.rs
Labels: pr-bugfix, pr-performance, need-review

#4566 doc(performance): add alibaba cloud ecs+oss performance report
  docs/doc/07-performance/03-cvm-cos-performance.md
  docs/doc/07-performance/04-ecs-oss-performance.md
  docs/doc/07-performance/06-ec2-wasabi-performance.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4561 feat(source): add ndjson source for streaming load
  Cargo.lock
  common/datavalues/src/types/deserializations/boolean.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/date_time.rs
  common/datavalues/src/types/deserializations/mod.rs
  common/datavalues/src/types/deserializations/null.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/deserializations/number.rs
  common/datavalues/src/types/deserializations/string.rs
  common/datavalues/src/types/deserializations/variant.rs
  common/streams/Cargo.toml
  common/streams/src/sources/mod.rs
  common/streams/src/sources/source_csv.rs
  common/streams/src/sources/source_ndjson.rs
  common/streams/src/sources/source_parquet.rs
  common/streams/tests/it/sources/mod.rs
  common/streams/tests/it/sources/source_ndjson.rs
  query/src/servers/http/v1/load.rs
  tests/data/ontime_200.ndjson
  tests/suites/1_stateful/01_load/01_0000_streaming_load.result
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
Labels: pr-feature, need-review

#4564 feat: better display for query_log table fields
  common/meta/types/src/user_grant.rs
  docs/doc/03-reference/03-sql/07-system-tables/system-query-log.md
  docs/doc/03-reference/03-sql/07-system-tables/system-tracing.md
  query/src/interpreters/interpreter_query_log.rs
  query/src/sessions/session_settings.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
Labels: pr-other, need-review

#4573 docs: use default ports for kubernetes deploy example
  scripts/kubernetes/meta-standalone.yaml
  scripts/kubernetes/query-cluster.yaml
Labels: pr-doc-fix, need-review

#4569 feat(query): Change column options default to not nullable
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/tests/it/transformer.rs
  common/datavalues/src/types/data_type.rs
  docs/doc/03-reference/03-sql/01-ddl/03-table/ddl-create-table.md
  query/src/sql/statements/statement_create_table.rs
  query/tests/it/interpreters/interpreter_table_create.rs
  query/tests/it/interpreters/interpreter_table_describe.rs
  query/tests/it/sql/plan_parser.rs
  tests/suites/0_stateless/02_function/02_0013_function_nullables.sql
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
  tests/suites/0_stateless/02_function/02_0017_function_strings_oct.sql
  tests/suites/0_stateless/02_function/02_0045_function_in.sql
  tests/suites/0_stateless/02_function/02_0048_function_semi_structureds_parse_json.sql
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.sql
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/07_use/07_0000_use_database.sql
  tests/suites/0_stateless/08_optimizer/08_0000_optimizer.sql
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact.sql
  tests/suites/0_stateless/09_fuse_engine/09_0004_remote_insert_into_select.result
  tests/suites/0_stateless/09_fuse_engine/09_0009_remote_explain.sql
  tests/suites/0_stateless/09_fuse_engine/09_0012_pushdown_limit.sql
  tests/suites/0_stateless/20+_others/20_0000_describe_table.result
  tests/suites/0_stateless/20+_others/20_0000_describe_table.sql
Labels: pr-improvement, need-review

#4553 Add user option for user info
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/tests/it/user.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_info.rs
  common/planners/src/plan_user_alter.rs
  common/planners/src/plan_user_create.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/procedures/admins/bootstrap_tenant.rs
  query/src/procedures/admins/reload_config.rs
  query/src/procedures/procedure.rs
  query/src/procedures/procedure_factory.rs
  query/src/sql/parsers/parser_user.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_alter_user.rs
  query/src/sql/statements/statement_create_user.rs
  query/src/users/user.rs
  query/src/users/user_mgr.rs
  query/tests/it/interpreters/access/management_mode_access.rs
  query/tests/it/interpreters/interpreter_admin_use_tenant.rs
  query/tests/it/interpreters/interpreter_call.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/sessions/query_ctx.rs
  query/tests/it/sql/parsers/parser_user.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  query/tests/it/storages/system/configs_table.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/tests/context.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-feature, need-review

#4574 deps: Bump to opendal v0.3
  Cargo.lock
  common/contexts/Cargo.toml
  common/exception/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/sessions/session_mgr.rs
Labels: pr-bugfix, need-review

#4576 chore: support apk for dev setup
  scripts/setup/dev_setup.sh
Labels: pr-build, need-review

#4578 doc(deploy): add scaleway os deploy
  docs/doc/01-deploy/07-scw.md
  docs/doc/07-performance/07-scw-os-performance.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4579 doc(scaleway): add scaleway deploy arch
  docs/doc/01-deploy/05-wasabi.md
  docs/doc/01-deploy/06-scw.md
  docs/doc/01-deploy/10-cluster-minio.md
  docs/doc/01-deploy/11-cluster-k8s-minio.md
  docs/doc/07-performance/07-scw-os-performance.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4580 chore: add workflow to build build-tool image
  .github/workflows/platform.yml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/debian/Dockerfile
  scripts/setup/dev_setup.sh
Labels: pr-build, need-review

#4585 ci: fix missing checkout in platform workflow
  .github/workflows/platform.yml
  scripts/setup/dev_setup.sh
Labels: pr-not-for-changelog, need-review

#4588 doc(scaleway): partitioning improvements
  docs/doc/07-performance/07-scw-os-performance.md
Labels: pr-doc-fix, need-review

#4587 Fix duplicate count read rows
  query/src/interpreters/interpreter_copy.rs
Labels: pr-bugfix, need-review

#4594 build(crossbeam): fix up the old toolchain compiler error
  .github/actions/check/action.yml
  Cargo.lock
  rust-toolchain.toml
Labels: pr-build, need-review

#4590 feat(query): unescape the quota in streaming load
  docs/doc/02-load-data/00_local.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  query/src/servers/http/v1/load.rs
Labels: pr-bugfix, need-review

#4586 update opensrv for fix issue 4430
  Cargo.lock
  query/Cargo.toml
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/session_ctx.rs
  query/tests/it/sessions/session.rs
Labels: pr-bugfix, need-review

#4589 chore: define rust-tools.txt for rust dev tools
  .github/workflows/platform.yml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/debian/Dockerfile
  scripts/setup/dev_setup.sh
  scripts/setup/rust-tools.txt
Labels: pr-build, need-review

#4601 Update 00_local.md
  docs/doc/02-load-data/00_local.md
Labels: pr-doc-fix, need-review
