Repository databendlabs/databend, pull requests merged in 2022-07, with the labels that each got.

#6362 chore: add default tags for sentry
  query/bin/databend-query.rs
Labels: pr-improvement

#6369 chore: logic test add clickhouse additional headers
  tests/logictest/clickhouse_connector.py
Labels: pr-not-for-changelog, need-review

#6354 query(fix): fix hashmap memory leak
  query/src/common/hashtable/hash_table.rs
  query/src/common/hashtable/hash_table_entity.rs
  query/src/common/hashtable/two_level_hash_table.rs
  query/tests/it/common/hashtable.rs
Labels: pr-bugfix

#6376 ci: Bump rust toolchain of build tools
  scripts/setup/rust-toolchain.toml
Labels: pr-build, need-review

#6377 Revert "ci: Bump rust toolchain of build tools"
  scripts/setup/rust-toolchain.toml
Labels: need-review

#6378 ci: Bump rust toolchain for build-tools
  Makefile
  scripts/setup/dev_setup.sh
  scripts/setup/rust-toolchain.toml
Labels: pr-build, need-review

#6315 Doc:connect metabase to databed cloud
  docs/doc/01-cloud/20-bi-tool/00-metabase.md
  docs/public/img/cloud/bi/metabase_add_database.png
  docs/public/img/cloud/bi/metabase_admin.png
  docs/public/img/cloud/bi/metabase_conn_databend.png
  docs/public/img/cloud/bi/run_query.png
  docs/public/img/cloud/bi/select_database.png
  docs/public/img/cloud/bi/start_metabase.png
  docs/public/img/cloud/bi/start_sql_query.png
Labels: pr-doc-fix, need-review

#6366 show query support format
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/sql/planner/binder/copy.rs
  query/src/sql/planner/binder/show.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/mod.rs
  query/tests/it/interpreters/interpreter_table_create.rs
  query/tests/it/interpreters/interpreter_table_show_create.rs
  query/tests/it/sql/optimizer/heuristic/mod.rs
Labels: pr-feature

#6379 chore: Make clippy happy
  common/ast/src/ast/statements/call.rs
Labels: pr-not-for-changelog, need-review

#6170 feat(functions): Implement "IS [NOT] DISTINCT FROM" operator"
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr.txt
  docs/doc/30-reference/20-functions/11-conditional-functions/is_distinct_from.md
  query/src/sql/planner/semantic/type_check.rs
  scripts/ci/ci-run-stateless-tests-cluster.sh
  tests/suites/0_stateless/02_function/02_0059_function_is_distinct_from.result
  tests/suites/0_stateless/02_function/02_0059_function_is_distinct_from.sql
Labels: pr-feature, need-review

#6387 ci: Fix typo in mergify
  .github/mergify.yml
Labels: pr-build

#6391 ci: Fix databend release auto tag
  .github/workflows/databend-auto-tag.yml
Labels: pr-build

#6392 ci: Fix generated tag not pushed
  .github/workflows/databend-auto-tag.yml
Labels: pr-build

#6373 feat(storage): Improve optimize table compact
  query/src/interpreters/interpreter_table_optimize.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/compact.rs
  query/src/storages/fuse/operations/mod.rs
  query/src/storages/fuse/operations/mutation/block_filter.rs
  query/src/storages/fuse/operations/mutation/compact_mutator.rs
  query/src/storages/fuse/operations/mutation/mod.rs
  query/src/storages/storage_table.rs
Labels: pr-improvement, pr-feature, pr-not-for-changelog, need-review

#6385 fix(query): Add NestedCheckpointReader for input format parser
  common/datavalues/src/types/deserializations/array.rs
  common/datavalues/src/types/deserializations/boolean.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/mod.rs
  common/datavalues/src/types/deserializations/null.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/deserializations/number.rs
  common/datavalues/src/types/deserializations/string.rs
  common/datavalues/src/types/deserializations/struct_.rs
  common/datavalues/src/types/deserializations/timestamp.rs
  common/datavalues/src/types/deserializations/variant.rs
  common/io/src/buffer/checkpoint_reader.rs
  common/io/src/buffer/mod.rs
  common/io/src/buffer/nested_checkpoint_reader.rs
  common/io/src/prelude.rs
  common/io/tests/it/buffer/mod.rs
  common/io/tests/it/buffer/nested_checkpoint_reader.rs
  query/src/formats/format_csv.rs
  query/src/formats/format_tsv.rs
  query/src/sql/planner/binder/insert.rs
  query/src/sql/statements/statement_insert.rs
  query/src/sql/statements/value_source.rs
  query/tests/it/sql/statements/value_source.rs
  tests/logictest/suites/gen/02_function/02_0014_function_maths
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable_v2.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable_v2.sh
Labels: pr-bugfix

#6398 ci: Fix databend release not generated correctly
  .github/README.md
  .github/actions/publish_binary/action.yml
  .github/workflows/databend-auto-tag.yml
  .github/workflows/databend-release.yml
Labels: pr-build

#6396 chore(query): enable new pipeline for copy in cluster mode
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_copy_v2.rs
Labels: pr-chore

#6408 fix(metasrv): openraft: wrong range when searching for membership entries
  Cargo.lock
  common/meta/app/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  tools/metactl/Cargo.toml
Labels: C-bug, pr-bugfix, A-meta

#6415 chore(metasrv): explain why "join" not work in log
  metasrv/src/meta_service/raftmeta.rs
  scripts/setup/dev_setup.sh
  tests/logictest/clickhouse_connector.py
  tests/logictest/complete.py
  tests/logictest/config.py
  tests/logictest/logictest.py
  tests/logictest/main.py
Labels: pr-chore

#6419 ci: Add post checks for CLA and Semantic PR
  .github/mergify.yml
Labels: pr-build

#6421 feat: Add xz compression support
  common/io/src/format_settings.rs
  common/meta/types/src/user_stage.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/protos/proto/user.proto
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
  query/src/servers/http/v1/multipart_format.rs
  query/src/storages/stage/stage_source.rs
  tests/data/ontime_200.csv.xz
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_s3_location.result
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage.result
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage.sh
Labels: pr-feature

#6417 fix(query): escape `record_delimiter` when displaying
  Cargo.lock
  query/Cargo.toml
  query/src/sessions/session_settings.rs
  query/src/storages/system/settings_table.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
  tests/suites/0_stateless/06_show/06_0003_show_settings_v2.result
Labels: pr-bugfix

#6426 ci: Don't start discussion while releasing
  .github/workflows/databend-release.yml
Labels: pr-build

#6428 ci: Merge test tool release into databend release workflow
  .github/workflows/databend-release.yml
  .github/workflows/test-tool-release.yml
Labels: pr-build

#6407 fix(query): fix array inner type with null
  Cargo.lock
  common/ast/Cargo.toml
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/array/mutable.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/type_array.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/scalars/semi_structureds/array_get.rs
  query/Cargo.toml
  query/src/sql/sql_common.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/sql/statements/analyzer_expr_sync.rs
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array_v2.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array_v2.sql
Labels: pr-bugfix

#6429 ci: Fix typo in test-tools release
  .github/workflows/databend-release.yml
Labels: pr-build

#6437 ci: Enable cargo sparse-registry
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_hive/action.yml
  .github/actions/build_macos/action.yml
  .github/actions/check/action.yml
  .github/actions/test_unit/action.yml
Labels: pr-build

#6446 docs: Fix deploy links
  README.md
  docs/doc/00-guides/index.md
Labels: pr-doc

#6445 docs: Aggregate window functions
  docs/doc/30-reference/20-functions/122-window-functions/_category_.json
  docs/doc/30-reference/20-functions/122-window-functions/aggregate-window-functions.md
  docs/doc/30-reference/20-functions/index.md
Labels: pr-doc

#6448 chore(doc): change ** to for text more highlight
  docs/doc/10-deploy/00-understanding-deployment-modes.md
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/10-deploy/03-expanding-to-a-databend-cluster.md
Labels: pr-chore

#6434 feat(query): support all JsonEachRowOutputFormat variants.
  query/src/formats/output_format.rs
  query/src/formats/output_format_json_each_row.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.sh
Labels: pr-feature

#6443 refactor: split formats
  Cargo.lock
  Cargo.toml
  common/datablocks/src/lib.rs
  common/datablocks/src/utils.rs
  common/formats/Cargo.toml
  common/formats/src/format.rs
  common/formats/src/format_csv.rs
  common/formats/src/format_factory.rs
  common/formats/src/format_parquet.rs
  common/formats/src/format_tsv.rs
  common/formats/src/lib.rs
  common/formats/src/output_format.rs
  common/formats/src/output_format_csv.rs
  common/formats/src/output_format_json_each_row.rs
  common/formats/src/output_format_parquet.rs
  common/formats/src/output_format_values.rs
  common/formats/tests/it/format_csv.rs
  common/formats/tests/it/format_factory.rs
  common/formats/tests/it/main.rs
  common/formats/tests/it/output_format_json_each_row.rs
  common/formats/tests/it/output_format_tcsv.rs
  common/formats/tests/it/output_format_utils.rs
  query/Cargo.toml
  query/src/lib.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/multipart_format.rs
  query/src/servers/http/v1/parallel_format_source.rs
  query/src/servers/http/v1/sequential_format_source.rs
  query/src/sql/planner/binder/insert.rs
  query/src/sql/statements/statement_insert.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/write/block_writer.rs
  query/src/storages/fuse/io/write/mod.rs
  query/src/storages/fuse/operations/fuse_sink.rs
  query/src/storages/result/download.rs
  query/src/storages/result/result_table_sink.rs
  query/src/storages/result/writer.rs
  query/src/storages/stage/stage_table.rs
  query/tests/it/main.rs
Labels: pr-refactor

#6444 feat(planner): Support qualified column name with database specified
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/semantic/grouping_check.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/common/evaluator/mod.rs
  query/tests/it/sql/planner/format/mod.rs
  tests/logictest/requirements.txt
  tests/logictest/suites/query/select.test
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6456 refactor: split common-meta-store
  Cargo.lock
  Cargo.toml
  common/meta/store/Cargo.toml
  common/meta/store/src/lib.rs
  query/Cargo.toml
  query/src/catalogs/default/catalog_context.rs
  query/src/catalogs/default/mutable_catalog.rs
  query/src/clusters/cluster.rs
  query/src/common/meta/mod.rs
  query/src/common/mod.rs
  query/src/users/user_api.rs
Labels: pr-refactor

#6435 feat: introduce system.tables_with_history
  query/src/databases/system/system_database.rs
  query/src/interpreters/interpreter_show_tables.rs
  query/src/procedures/systems/search_tables.rs
  query/src/storages/system/mod.rs
  query/src/storages/system/tables_table.rs
  query/tests/it/interpreters/interpreter_show_tables.rs
  query/tests/it/storages/system/tables_table.rs
  tests/logictest/suites/gen/06_show/06_0004_show_tables
  tests/suites/0_stateless/06_show/06_0004_show_tables.sql
  tests/suites/0_stateless/12_time_travel/12_0001_system_tables_with_dropped_on.result
  tests/suites/0_stateless/12_time_travel/12_0001_system_tables_with_dropped_on.sql
Labels: pr-feature

#6460 refactor(metasrv): adjust some info level logging to debug or warn
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/src/watcher/watcher_manager.rs
Labels: pr-refactor

#6453 fix(query): fix tsv deserialization
  common/datavalues/src/types/deserializations/null.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/deserializations/string.rs
  common/formats/src/format_csv.rs
  common/formats/src/format_tsv.rs
  common/io/src/buffer/buffer_read_ext.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format_v2.sh
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load_books.result
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load_books.sh
  tests/suites/1_stateful/01_load_v2/books.tsv
Labels: pr-bugfix

#6463 docs(datasets): add hits example dataset learning page
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/05-analyze-hits-dataset-with-databend.md
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage2.py
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage2.py
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load.sh
  tests/suites/1_stateful/ddl/hits.sql
  tests/suites/1_stateful/ddl/ontime.sql
  tests/suites/1_stateful/ontime/create_table.sql
Labels: pr-doc

#6466 fix(planner): Fix case of table alias
  query/src/sql/planner/binder/bind_context.rs
  tests/logictest/suites/query/alias/case.test
Labels: pr-bugfix

#6467 refactor: split hashtable
  Cargo.lock
  Cargo.toml
  common/hashtable/Cargo.toml
  common/hashtable/src/hash_table.rs
  common/hashtable/src/hash_table_entity.rs
  common/hashtable/src/hash_table_grower.rs
  common/hashtable/src/hash_table_iter.rs
  common/hashtable/src/hash_table_key.rs
  common/hashtable/src/lib.rs
  common/hashtable/src/two_level_hash_table.rs
  common/hashtable/tests/it/main.rs
  query/Cargo.toml
  query/src/common/mod.rs
  query/src/pipelines/new/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/group_by/aggregator_state_entity.rs
  query/src/pipelines/transforms/group_by/keys_ref.rs
  query/tests/it/common/mod.rs
Labels: pr-refactor

#6469 refactor: migrate to common-base http shutdown
  common/base/src/base/http_shutdown_handlers.rs
  metasrv/src/api/http_service.rs
  query/src/api/http_service.rs
  query/src/common/mod.rs
  query/src/common/service/http_shutdown_handles.rs
  query/src/common/service/mod.rs
  query/src/metrics/metric_service.rs
  query/src/servers/http/http_services.rs
Labels: pr-refactor

#6412 feat(planner): support mark join, (not)in/any subquery, make tpch16 and tpch18 happy
  query/src/pipelines/new/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/new/processors/transforms/transform_apply.rs
  query/src/sql/exec/physical_plan.rs
  query/src/sql/exec/physical_plan_builder.rs
  query/src/sql/exec/pipeline_builder.rs
  query/src/sql/optimizer/heuristic/decorrelate.rs
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/optimizer/rule/rule_implement_hash_join.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/plans/hash_join.rs
  query/src/sql/planner/plans/logical_join.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/sql/planner/format/mod.rs
  tests/suites/0_stateless/13_tpch/13_0008_q8.result
  tests/suites/0_stateless/13_tpch/13_0008_q8.sql
  tests/suites/0_stateless/13_tpch/13_0016_q16.result
  tests/suites/0_stateless/13_tpch/13_0016_q16.sql
  tests/suites/0_stateless/13_tpch/13_0018_q18.result
  tests/suites/0_stateless/13_tpch/13_0018_q18.sql
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6474 docs(jaeger): update the doc how to use jaeger
  common/tracing/src/logging.rs
  docs/doc/100-faq/20-how-to-tracing.md
Labels: pr-doc

#6477 docs: Update deploy illustrations
  docs/public/img/deploy/deploy-cluster-arch.png
  docs/public/img/deploy/deploy-clustering.png
  docs/public/img/deploy/deploy-standalone-arch.png
Labels: pr-doc

#6479 website: Blog about Databend engine
  website/blog/2022-07-05-databend-cloud-warehouse-fuse-engine.md
  website/static/img/blog/engine-work-mechanism.jpeg
  website/static/img/blog/git-work-mechanism.jpeg
Labels: pr-doc

#6487 chore: Refine the databend cloud and fix some broken links
  README.md
  docs/doc/00-guides/index.md
  docs/doc/01-cloud/20-bi-tool/00-metabase.md
  docs/doc/10-deploy/20-databend-cloud.md
  docs/doc/21-load-data/00-local.md
  docs/doc/21-load-data/01-s3.md
  docs/doc/21-load-data/02-stage.md
  docs/doc/21-load-data/03-mysql.md
  docs/doc/70-performance/00-local-vector-performance.md
  docs/doc/70-performance/05-scw-os-performance.md
  website/src/pages/index.tsx
Labels: pr-chore

#6483 chore: Update ignored CVE reported by cargo-audit
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  common/dep-hack/Cargo.toml
  common/dep-hack/src/lib.rs
Labels: pr-chore

#6491 website: Throw errors if broken links found
  docs/doc/70-performance/05-scw-os-performance.md
  website/docusaurus.config.js
Labels: pr-doc

#6494 fix(build-tool): add symlink for musl-gcc
  .github/workflows/dev-macos.yml
  docker/build-tool/musl/Dockerfile
Labels: pr-bugfix

#6480 chore(planner): Refine stack usage of type check
  query/src/common/evaluator/scalar.rs
  query/src/interpreters/interpreter_copy_v2.rs
  query/src/lib.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/sql/exec/expression_builder.rs
  query/src/sql/exec/physical_plan_builder.rs
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  query/src/sql/optimizer/rule/rewrite/rule_normalize_scalar.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/scalar_common.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/format/display_rel_operator.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/grouping_check.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/common/evaluator/mod.rs
  query/tests/it/sql/planner/format/mod.rs
Labels: pr-chore

#6501 fix(processor): fix lost event in resize processor
  query/src/pipelines/new/processors/resize_processor.rs
  query/tests/it/pipelines/new/processors/mod.rs
  query/tests/it/pipelines/new/processors/resize.rs
Labels: pr-bugfix

#6513 feat(parser): Add Presign Statement
  common/ast/src/ast/statements/mod.rs
  common/ast/src/ast/statements/presign.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
Labels: pr-feature

#6486 chore: add fuzz poc
  tests/fuzz/fuzz.py
  tests/fuzz/readme.md
  tests/fuzz/requirements.txt
Labels: pr-chore

#6516 fix: fix txn watch kv changed bug
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-bugfix

#6523 ci: Disable merge queue to reduce CI usage
  .github/mergify.yml
Labels: pr-build

#6521 website: Upgrade depencences of website
  docs/doc/01-guides/index.md
  docs/doc/02-cloud/10-data-tool/_category_.json
  docs/doc/02-cloud/20-bi-tool/00-metabase.md
  docs/doc/02-cloud/20-bi-tool/_category_.json
  docs/doc/02-cloud/_category_.json
  docs/doc/02-cloud/index.md
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
  docs/doc/90-learn/03-analyze-user-retention-with-databend.md
  docs/doc/90-learn/04-analyze-funnel-with-databend.md
  docs/doc/90-learn/05-analyze-hits-dataset-with-databend.md
  docs/doc/sidebars.js
  website/package.json
  website/yarn.lock
Labels: pr-doc

#6067 refactor: try abandon internal parquet2 patches
  Cargo.lock
  Cargo.toml
  common/arrow/Cargo.toml
  common/arrow/src/lib.rs
  common/arrow/src/parquet_write.rs
  common/datablocks/src/data_block.rs
  common/datablocks/src/kernels/data_block_filter.rs
  common/datablocks/src/kernels/data_block_gather.rs
  common/datablocks/src/kernels/data_block_take.rs
  common/datablocks/src/utils.rs
  common/datablocks/tests/it/data_block.rs
  common/datavalues/benches/eq.rs
  common/datavalues/benches/if_else_then.rs
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/const_/mod.rs
  common/datavalues/src/columns/null/mod.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/columns/primitive/mod.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/columns/string/mod.rs
  common/datavalues/src/columns/struct_/mod.rs
  common/datavalues/src/scalars/common.rs
  common/formats/src/format_parquet.rs
  common/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  common/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_scalar_state.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  docs/doc/60-contributing/03-rfcs/20220117-new-datavalues-system.md
  query/src/api/rpc/exchange/exchange_sink_merge.rs
  query/src/api/rpc/exchange/exchange_sink_shuffle.rs
  query/src/api/rpc/flight_service_stream.rs
  query/src/api/rpc/packets/packet_data.rs
  query/src/pipelines/new/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/transforms/transform_window_func.rs
  query/src/storages/fuse/io/read/block_reader.rs
  query/src/storages/fuse/io/write/block_writer.rs
  query/src/storages/fuse/operations/fuse_sink.rs
  query/src/storages/fuse/operations/util.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/reducers.rs
  query/src/storages/hive/hive_parquet_block_reader.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  query/tests/it/storages/index/range_filter.rs
Labels: need-review, pr-refactor

#6473 fix(query): fix `database` and `user` related functions in planner v2
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix

#6529 feat: Implement presign support
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_runtime.rs
  common/exception/src/exception_code.rs
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/catalogs/hive/hive_partition.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_presign.rs
  query/src/interpreters/mod.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/presign.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/presign.rs
  tests/suites/1_stateful/03_presign/03_0000_presign_download.result
  tests/suites/1_stateful/03_presign/03_0000_presign_download.sh
  tests/suites/1_stateful/03_presign/03_0001_presign_upload.result
  tests/suites/1_stateful/03_presign/03_0001_presign_upload.sh
Labels: pr-feature

#6515 fix(query): fix date/timestamp deserializing error
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/timestamp.rs
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.sql
Labels: pr-bugfix

#6524 fix(query): fix input format CSV
  common/datavalues/src/types/deserializations/string.rs
  common/formats/src/format_csv.rs
  common/formats/tests/it/format_csv.rs
  common/io/src/buffer/buffer_read_string_ext.rs
  common/io/src/buffer/mod.rs
  common/io/src/prelude.rs
  common/io/tests/it/buffer/buffer_read_string_ext.rs
  common/io/tests/it/buffer/mod.rs
Labels: pr-bugfix

#6541 chore: Fix typos
  docs/doc/30-reference/30-sql/00-ddl/80-presign/presign.md
Labels: pr-chore

#6540 feat(function): add date_trunc function
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/exception/src/exception_code.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6488 chore(query): fix table create time
  common/meta/api/src/schema_api_test_suite.rs
  common/meta/app/src/schema/table.rs
  query/src/table_functions/async_crash_me.rs
  query/src/table_functions/numbers_table.rs
  query/src/table_functions/sync_crash_me.rs
  query/tests/it/interpreters/interpreter_show_tab_stat.rs
  query/tests/it/interpreters/interpreter_show_tables.rs
  tests/logictest/clickhouse_runner.py
  tests/logictest/http_runner.py
  tests/logictest/suites/gen/01_system/01_0001_system_tables
  tests/logictest/suites/gen/06_show/06_0008_show_table_status
  tests/logictest/suites/gen/09_fuse_engine/09_0000_remote_create_table
  tests/suites/0_stateless/01_system/01_0001_system_tables.sql
  tests/suites/0_stateless/10_drivers/10_0000_python_mysql_driver.py
Labels: pr-chore

#6543 chore: add doc and log
  tests/logictest/README.md
  tests/logictest/clickhouse_runner.py
  tests/logictest/http_connector.py
Labels: pr-chore

#6526 fix: add watch txn unit test
  common/base/src/base/mod.rs
  common/base/src/base/string_func.rs
  common/base/tests/it/range_map_test.rs
  common/base/tests/it/string_func.rs
  common/exception/src/exception_code.rs
  common/meta/api/src/kv_api.rs
  common/meta/api/src/lib.rs
  common/meta/types/proto/meta.proto
  metasrv/tests/it/grpc/metasrv_grpc_watch.rs
Labels: pr-bugfix

#6546 feat(query): /v1/download support limit number of rows.
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/storages/result/download.rs
  query/src/storages/result/result_table.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#6545 fix: asc -> nulls first
  query/src/sql/statements/query/query_normalizer.rs
Labels: pr-bugfix

#6530 feat(format): add format diagnostic
  common/datavalues/src/types/type_id.rs
  common/formats/src/format.rs
  common/formats/src/format_csv.rs
  common/formats/src/format_diagnostic.rs
  common/formats/src/format_tsv.rs
  common/formats/src/lib.rs
  common/io/src/buffer/buffer_read_ext.rs
  common/io/src/buffer/nested_checkpoint_reader.rs
  query/src/servers/http/v1/parallel_format_source.rs
  tests/fuzz/fuzz.py
  tests/shell_env.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/0_stateless/20+_others/20_0009_format_diagnostic.result
  tests/suites/0_stateless/20+_others/20_0009_format_diagnostic.sh
Labels: pr-feature

#6544 feat(parser): support order by nulls first in parser
  common/ast/src/parser/query.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/query.txt
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6550 ci: Cleanup Makefile and setup scripts
  Makefile
  rust-toolchain.toml
  scripts/setup/dev_setup.sh
  scripts/setup/rust-toolchain.toml
Labels: pr-build

#6558 fix: serde compatibility of null_count
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/reducers.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/fuse/misc.rs
  query/tests/it/storages/fuse/mod.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  query/tests/it/storages/index/range_filter.rs
Labels: pr-bugfix

#6548 fix(query): fix load json value by csv format
  common/datavalues/src/types/deserializations/array.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/timestamp.rs
  common/datavalues/src/types/deserializations/variant.rs
  tests/data/json_sample1.csv
  tests/data/json_sample2.csv
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
  tests/suites/1_stateful/01_load/01_0004_streaming_variant_load.result
  tests/suites/1_stateful/01_load/01_0004_streaming_variant_load.sh
  tests/suites/1_stateful/ddl/variant_test.sql
Labels: pr-bugfix

#6563 fix(processor): call on finished if has error before execute
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/pipeline.rs
Labels: pr-bugfix

#6561 refactor: split common-users
  Cargo.lock
  Cargo.toml
  common/users/Cargo.toml
  common/users/src/jwt/authenticator.rs
  common/users/src/jwt/mod.rs
  common/users/src/lib.rs
  common/users/src/role_cache_mgr.rs
  common/users/src/role_mgr.rs
  common/users/src/user.rs
  common/users/src/user_api.rs
  common/users/src/user_mgr.rs
  common/users/src/user_stage.rs
  common/users/src/user_udf.rs
  common/users/tests/it/main.rs
  common/users/tests/it/mod.rs
  common/users/tests/it/role_cache_mgr.rs
  common/users/tests/it/role_mgr.rs
  common/users/tests/it/user_mgr.rs
  common/users/tests/it/user_udf.rs
  query/Cargo.toml
  query/src/auth.rs
  query/src/lib.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/http/middleware.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/src/users/mod.rs
  query/tests/it/auth.rs
  query/tests/it/main.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-refactor

#6565 fix(query): fix values parser in skip_to_next_row
  query/src/sql/statements/value_source.rs
  tests/suites/0_stateless/09_fuse_engine/09_0001_remote_insert.result
  tests/suites/0_stateless/09_fuse_engine/09_0001_remote_insert.sql
Labels: pr-bugfix

#6571 fix(cluster): use max threads as exchange source pipe size
  query/src/api/rpc/exchange/exchange_manager.rs
  query/src/api/rpc/exchange/exchange_source.rs
Labels: pr-bugfix

#6574 chore: add fuzz ci
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/workflows/dev-linux.yml
  scripts/ci/ci-run-fuzz-tests.sh
  scripts/setup/dev_setup.sh
Labels: pr-chore

#6575 feat(query): format date/datetime/enum in query log
  Cargo.lock
  query/Cargo.toml
  query/src/interpreters/interpreter_query_log.rs
  scripts/ci/deploy/config/databend-query-node-1.toml
Labels: pr-feature

#6583 fix: big query hang with clickhouse
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/tests/it/servers/clickhouse.rs
Labels: pr-bugfix

#6572 fix(query): catchup planner update in http handler.
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/v1/query/execute_state.rs
  tests/logictest/suites/query/render_result.test
  tests/logictest/suites/select_0
Labels: pr-bugfix

#6586 docs: date_trunc
  docs/doc/30-reference/20-functions/30-datetime-functions/datetrunc.md
Labels: pr-doc

#6593 fix(logictest): reset clickhouse sqlalchemy engine for each testfile.
  tests/logictest/clickhouse_connector.py
Labels: pr-bugfix

#6551 refactor(query): improve performances for group by queries
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datablocks/src/lib.rs
  common/datablocks/tests/it/kernels/data_block_group_by_hash.rs
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/const_/mod.rs
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/columns/null/mod.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/columns/primitive/mod.rs
  common/datavalues/src/columns/string/mod.rs
  common/datavalues/src/columns/struct_/mod.rs
  query/src/lib.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_final.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_partial.rs
  query/src/pipelines/new/processors/transforms/aggregator/mod.rs
  query/src/pipelines/new/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/new/processors/transforms/hash_join/row.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_groups_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_keys_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
Labels: pr-refactor

#6576 feat(expr): add new crate `common-expression`
  Cargo.lock
  Cargo.toml
  common/ast/Cargo.toml
  common/expression/Cargo.toml
  common/expression/src/chunk.rs
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/function.rs
  common/expression/src/lib.rs
  common/expression/src/property.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/any.rs
  common/expression/src/types/array.rs
  common/expression/src/types/boolean.rs
  common/expression/src/types/empty_array.rs
  common/expression/src/types/generic.rs
  common/expression/src/types/null.rs
  common/expression/src/types/nullable.rs
  common/expression/src/types/number.rs
  common/expression/src/types/string.rs
  common/expression/src/util.rs
  common/expression/src/values.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/testdata/run-ast.txt
  query/Cargo.toml
Labels: pr-feature

#6598 chore: use build-tool to run fuzz ci
  .github/actions/test_fuzz_standalone_linux/action.yml
Labels: pr-chore

#6585 feat(query): pretty format for explain
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/format/mod.rs
  query/src/sql/planner/format/pretty_format.rs
  query/tests/it/sql/planner/format/mod.rs
  tests/logictest/suites/gen/20+_others/20_0001_planner_v2
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
Labels: pr-feature

#6602 feat: Allow create stage for different services
  common/ast/src/ast/statements/copy.rs
  common/ast/src/ast/statements/stage.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/binder/copy.rs
  query/src/sql/planner/binder/ddl/stage.rs
  query/src/sql/statements/statement_common.rs
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage2.py
Labels: pr-feature

#6608 docs: create transient table
  docs/doc/30-reference/30-sql/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#6611 fix: remove unsupported IntervalType in DateTrunc
  common/ast/src/parser/expr.rs
  common/exception/src/exception_code.rs
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-bugfix

#6592 feat(query): support insert zero date and zero datetime
  common/functions/src/scalars/expressions/cast_from_string.rs
  common/io/src/buffer/buffer_read_datetime_ext.rs
  tests/logictest/suites/gen/02_function/02_0012_function_datetimes
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.sql
Labels: pr-feature

#6621 fix(metactl): extend sleep time before exporting data from a running databend-meta
  tests/metactl/test-metactl.sh
Labels: pr-bugfix, A-meta

#6622 chore(metactl): display some message while running test-metactl
  tests/metactl/test-metactl-restore-new-cluster.sh
  tests/metactl/test-metactl.sh
Labels: pr-chore

#6616 fix(join): disable null values in join
  query/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/processors/transforms/hash_join/probe_state.rs
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix

#6623 feat: Allow COPY and CREATE STAGE from public read buckets without credentials
  .github/actions/check/action.yml
  common/storage/src/location.rs
  query/src/catalogs/hive/hive_table.rs
  query/src/storages/hive/hive_parquet_block_reader.rs
Labels: pr-feature

#6617 fix: delete unused DatabaseInfo and TableInfo pb format, fix rename_table bug
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/proto-conv/src/database_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/proto/database.proto
  common/protos/proto/metadata.proto
  common/protos/proto/table.proto
Labels: pr-bugfix

#6633 docs: copy-from-connection
  docs/doc/30-reference/30-sql/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#6624 fix: Copy shoud be able to run under new planner
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_copy_v2.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/exec/physical_plan_builder.rs
  query/src/sql/exec/util.rs
  query/src/sql/optimizer/mod.rs
  query/src/storages/stage/stage_table.rs
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_copy_v2/00_0000_copy_from_stage2.py
Labels: pr-bugfix

#6629 feat(hive): support read boolean, float, double, date, array columns
  .github/actions/test_stateful_hive_standalone/action.yml
  query/src/catalogs/hive/converters.rs
  tests/data/hive/t_1.parquet
  tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.result
  tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.sql
Labels: pr-feature

#6641 fix(planner): InSubquery returns error result
  query/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/processors/transforms/hash_join/row.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix

#6638 refactor(query): Stage Copy use internal InputFormat.
  common/formats/src/format.rs
  common/formats/src/format_csv.rs
  common/formats/src/format_factory.rs
  common/formats/src/format_parquet.rs
  common/formats/src/format_tsv.rs
  common/io/src/format_settings.rs
  common/meta/types/src/user_stage.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/protos/proto/user.proto
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_copy_v2.rs
  query/src/interpreters/interpreter_presign.rs
  query/src/interpreters/interpreter_user_stage_drop.rs
  query/src/interpreters/interpreter_user_stage_remove.rs
  query/src/pipelines/processors/mod.rs
  query/src/pipelines/processors/port.rs
  query/src/pipelines/processors/sources/deserializer.rs
  query/src/pipelines/processors/sources/file_splitter.rs
  query/src/pipelines/processors/sources/mod.rs
  query/src/pipelines/processors/sources/multi_file_splitter.rs
  query/src/servers/http/v1/parallel_format_source.rs
  query/src/servers/http/v1/sequential_format_source.rs
  query/src/servers/http/v1/stage.rs
  query/src/sql/planner/binder/insert.rs
  query/src/sql/statements/statement_insert.rs
  query/src/storages/stage/mod.rs
  query/src/storages/stage/stage_source.rs
  query/src/storages/stage/stage_table.rs
Labels: pr-refactor

#6647 ci: add timeout to dev linux jobs
  .github/workflows/dev-linux.yml
  docker/build-tool/musl/Dockerfile
Labels: pr-build

#6657 chore(build-tool): revert to use symlink instead of env for musl CC
  docker/build-tool/musl/Dockerfile
Labels: pr-chore

#6651 feat(query): add StageFileFormatType::Tsv.
  common/meta/types/src/user_stage.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/protos/proto/user.proto
  query/src/storages/stage/stage_source.rs
Labels: pr-feature

#6645 fix(query): fix variant map access filter
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/parser/expr.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/expressions/cast_from_string.rs
  common/functions/src/scalars/expressions/cast_from_variant.rs
  query/Cargo.toml
  tests/logictest/suites/gen/02_function/02_0005_function_compare
  tests/logictest/suites/gen/03_dml/03_0018_insert_into_variant
  tests/suites/0_stateless/02_function/02_0005_function_compare.result
  tests/suites/0_stateless/02_function/02_0005_function_compare.sql
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.result
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.sql
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant_v2.result
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant_v2.sql
Labels: pr-bugfix

#6649 feat(expr): Implement domain calculation
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/function.rs
  common/expression/src/property.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/any.rs
  common/expression/src/types/array.rs
  common/expression/src/types/boolean.rs
  common/expression/src/types/empty_array.rs
  common/expression/src/types/generic.rs
  common/expression/src/types/null.rs
  common/expression/src/types/nullable.rs
  common/expression/src/types/number.rs
  common/expression/src/types/string.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/testdata/run-ast.txt
Labels: pr-feature

#6618 feat(planner): support create table as select in planner v2
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_table_create_v2.rs
  query/src/interpreters/mod.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/plans/create_table_v2.rs
  query/src/sql/planner/plans/mod.rs
  scripts/ci/ci-run-stateless-tests-cluster.sh
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables_v2.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables_v2.sql
Labels: pr-feature

#6662 feat(expr): allow function to return runtime error
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/function.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/array.rs
  common/expression/src/types/boolean.rs
  common/expression/src/types/empty_array.rs
  common/expression/src/types/generic.rs
  common/expression/src/types/null.rs
  common/expression/src/types/nullable.rs
  common/expression/src/types/number.rs
  common/expression/src/types/string.rs
  common/expression/src/values.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/testdata/eval-fail.txt
  common/expression/tests/it/testdata/tyck-fail.txt
Labels: pr-feature

#6656 feat: add share metasrv ShareApi {add|remove}_share_account
  common/exception/src/exception_code.rs
  common/meta/api/src/share_api.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_keys.rs
  common/meta/app/src/share/mod.rs
  common/meta/app/src/share/share.rs
  common/meta/types/src/app_error.rs
  common/proto-conv/src/share_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/proto/share.proto
Labels: pr-feature, A-meta

#6670 feat: add share id to share name map, add share test suites
  common/meta/api/src/kv_api_utils.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_keys.rs
  common/meta/api/src/share_api_test_suite.rs
  common/meta/app/src/share/mod.rs
  common/meta/app/src/share/share.rs
  common/meta/embedded/tests/it/schema_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api.rs
Labels: pr-feature

#6671 chore(doc): add release target tab for the deploy
  docs/doc/10-deploy/00-understanding-deployment-modes.md
  docs/doc/10-deploy/02-deploying-databend.md
Labels: pr-chore

#6660 feat(expr): Support UInt32, UInt64, Int32, Int64 in new expression
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/property.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/number.rs
  common/expression/src/values.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/testdata/run-pass.txt
Labels: pr-feature

#6675 docs: remove single quotes
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#6676 ci: Add rules for docs PR
  .github/mergify.yml
Labels: pr-build

#6677 fix(expr): fix domain calculation for nullable type
  common/expression/src/function.rs
  common/expression/tests/it/testdata/run-pass.txt
Labels: pr-bugfix

#6678 docs: query with data of OBJECT type
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
Labels: pr-doc

#6674 feat(expr): support conversion between arrow
  common/expression/src/values.rs
  common/expression/tests/it/main.rs
Labels: A-query, pr-feature

#6680 chore: silence logic test logs
  tests/logictest/clickhouse_connector.py
  tests/logictest/complete.py
  tests/logictest/gen_suites.py
  tests/logictest/http_connector.py
  tests/logictest/logictest.py
  tests/logictest/mysql_runner.py
Labels: pr-chore

#6668 fix(parquet): support read i96 timestamp from parquet file
  Cargo.lock
  common/arrow/Cargo.toml
  common/datablocks/src/data_block.rs
  common/datablocks/src/kernels/data_block_gather.rs
  common/datablocks/src/kernels/data_block_sort.rs
  common/datablocks/src/kernels/data_block_take.rs
  common/datavalues/benches/eq.rs
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/const_/mod.rs
  common/datavalues/src/columns/null/mod.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/columns/primitive/mod.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/columns/string/mod.rs
  common/datavalues/src/columns/struct_/mod.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/type_date.rs
  common/datavalues/src/types/type_timestamp.rs
  common/datavalues/tests/it/types/serializations/mod.rs
  common/functions/src/scalars/expressions/cast_from_datetimes.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/tests/it/scalars/expressions.rs
  common/streams/src/sources/mod.rs
  common/streams/src/sources/source_parquet.rs
  common/streams/tests/it/sources/mod.rs
  common/streams/tests/it/sources/source_parquet.rs
  query/src/pipelines/processors/transforms/transform_window_func.rs
  tests/data/mytime.parquet
  tests/logictest/suites/gen/03_dml/03_0023_insert_into_array
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array_v2.sql
  tests/suites/1_stateful/01_load/01_0004_streaming_parquet_int96.result
  tests/suites/1_stateful/01_load/01_0004_streaming_parquet_int96.sh
Labels: pr-bugfix

#6684 chore(query): re-org common mod
  query/src/common/expression_evaluator.rs
  query/src/common/mod.rs
  query/src/context_function.rs
  query/src/evaluator/eval_context.rs
  query/src/evaluator/eval_node.rs
  query/src/evaluator/mod.rs
  query/src/evaluator/physical_scalar.rs
  query/src/evaluator/scalar.rs
  query/src/lib.rs
  query/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/processors/transforms/transform_expression_v2.rs
  query/src/pipelines/processors/transforms/transform_filter_v2.rs
  query/src/procedures/mod.rs
  query/src/sql/exec/pipeline_builder.rs
  query/src/sql/planner/semantic/type_check.rs
  query/src/sql/statements/analyzer_expr.rs
  query/tests/it/common/expression_evaluator.rs
  query/tests/it/common/mod.rs
  query/tests/it/context_function.rs
  query/tests/it/evaluator.rs
  query/tests/it/functions/mod.rs
  query/tests/it/main.rs
Labels: pr-chore

#6685 fix(query): remove incorrect debug_assert
  common/datavalues/src/scalars/viewer.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix

#6673 fix(query): input format TSV should not use quote for enclosing
  common/formats/src/format_tsv.rs
  common/io/src/buffer/buffer_read_ext.rs
  common/io/src/format_settings.rs
  common/streams/src/sources/source_csv.rs
  common/streams/tests/it/sources/source_csv.rs
  query/src/pipelines/processors/sources/file_splitter.rs
  query/src/pipelines/processors/sources/multi_file_splitter.rs
  query/src/servers/http/v1/load.rs
  query/src/sessions/session.rs
  query/src/storages/stage/stage_source.rs
  query/src/storages/stage/stage_table.rs
  tests/data/escape.tsv
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.sh
  tests/suites/1_stateful/00_copy_v2/00_0001_copy_tsv.result
  tests/suites/1_stateful/00_copy_v2/00_0001_copy_tsv.sh
Labels: pr-bugfix

#6686 refactor: use SyncUnsafeCell to replace AtomicRefCell
  Cargo.lock
  query/Cargo.toml
  query/src/api/rpc/exchange/exchange_manager.rs
  query/src/lib.rs
Labels: pr-refactor

#6693 website: blog about new planner
  website/blog/2022-07-19-databend-new-planner.md
  website/static/img/blog/new-planner-0.png
  website/static/img/blog/new-planner-1.png
  website/static/img/blog/new-planner-10.png
  website/static/img/blog/new-planner-2.png
  website/static/img/blog/new-planner-3.png
  website/static/img/blog/new-planner-4.png
  website/static/img/blog/new-planner-5.png
  website/static/img/blog/new-planner-6.png
  website/static/img/blog/new-planner-7.png
  website/static/img/blog/new-planner-8.png
  website/static/img/blog/new-planner-9.png
Labels: pr-doc

#6692 docs: grpc commands
  docs/doc/50-manage/00-metasrv/16-metasrv-grpc.md
Labels: pr-doc

#6632 feat(planner): optimize correlated subquery by decorrelation
  common/ast/src/ast/expr.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/utils.rs
  query/src/pipelines/processors/mod.rs
  query/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  query/src/pipelines/processors/transforms/hash_join/mod.rs
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  query/src/pipelines/processors/transforms/mod.rs
  query/src/pipelines/processors/transforms/transform_apply.rs
  query/src/sql/exec/physical_plan.rs
  query/src/sql/exec/physical_plan_builder.rs
  query/src/sql/exec/pipeline_builder.rs
  query/src/sql/optimizer/heuristic/decorrelate.rs
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/optimizer/rule/factory.rs
  query/src/sql/optimizer/rule/mod.rs
  query/src/sql/optimizer/rule/rewrite/mod.rs
  query/src/sql/optimizer/rule/rewrite/rule_push_down_filter_apply.rs
  query/src/sql/optimizer/rule/rule_implement_hash_join.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/scalar_common.rs
  query/src/sql/planner/format/display_rel_operator.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/plans/apply.rs
  query/src/sql/planner/plans/hash_join.rs
  query/src/sql/planner/plans/logical_join.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/operator.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/sql/optimizer/heuristic/subquery.rs
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
  query/tests/it/sql/planner/format/mod.rs
  tests/logictest/suites/query/subquery.test
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6687 refactor(query): users/roles/grants DDL statements default to use new planner
  common/ast/src/parser/statement.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/planners/src/plan_show_grants.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/show.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.sh
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
Labels: pr-refactor

#6681 ci: add ydb test cases
  .github/workflows/dev-linux.yml
  tests/logictest/complete.py
  tests/logictest/suites/ydb/select1-1.test
  tests/logictest/suites/ydb/select1-2.test
  tests/logictest/suites/ydb/select1-3.test
  tests/logictest/suites/ydb/select1-4.test
  tests/logictest/suites/ydb/select1-5.test
  tests/logictest/suites/ydb/select2-1.test
  tests/logictest/suites/ydb/select2-2.test
  tests/logictest/suites/ydb/select2-3.test
  tests/logictest/suites/ydb/select2-4.test
  tests/logictest/suites/ydb/select2-5.test
  tests/logictest/suites/ydb/select3-1.test
  tests/logictest/suites/ydb/select3-10.test
  tests/logictest/suites/ydb/select3-11.test
  tests/logictest/suites/ydb/select3-12.test
  tests/logictest/suites/ydb/select3-13.test
  tests/logictest/suites/ydb/select3-14.test
  tests/logictest/suites/ydb/select3-15.test
  tests/logictest/suites/ydb/select3-2.test
  tests/logictest/suites/ydb/select3-3.test
  tests/logictest/suites/ydb/select3-4.test
  tests/logictest/suites/ydb/select3-5.test
  tests/logictest/suites/ydb/select3-6.test
  tests/logictest/suites/ydb/select3-7.test
  tests/logictest/suites/ydb/select3-8.test
  tests/logictest/suites/ydb/select3-9.test
Labels: pr-build

#6704 feat(query): return affects
  query/src/interpreters/interpreter_setting.rs
  query/src/interpreters/interpreter_use_database.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/sessions/mod.rs
  query/src/sessions/query_affect.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#6715 website: blog from mergify
  website/blog/2022-07-20-they-use-mergify.md
  website/static/img/blog/they-use-mergify-0.png
  website/static/img/blog/they-use-mergify-1.png
  website/static/img/blog/they-use-mergify-2.png
  website/static/img/blog/they-use-mergify-3.png
  website/static/img/blog/they-use-mergify-4.png
Labels: pr-doc

#6711 feat(expression): float32 and float64
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/property.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/number.rs
  common/expression/src/values.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/testdata/run-pass.txt
Labels: pr-feature

#6691 feat: Add support for COPY from https
  Cargo.lock
  Cargo.toml
  common/catalog/Cargo.toml
  common/config/Cargo.toml
  common/config/src/outer_v0.rs
  common/contexts/Cargo.toml
  common/settings/Cargo.toml
  common/storage/Cargo.toml
  common/storage/src/config.rs
  common/storage/src/lib.rs
  common/storage/src/location.rs
  common/storage/src/operator.rs
  common/storage/tests/location.rs
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/interpreters/interpreter_copy_v2.rs
  query/src/pipelines/processors/sources/file_splitter.rs
  tests/suites/1_stateful/00_copy_v2/00_0001_copy_from_http_location.result
  tests/suites/1_stateful/00_copy_v2/00_0001_copy_from_http_location.sh
  tests/suites/1_stateful/ddl/ontime.sql
Labels: pr-feature

#6716 refactor(query): Migrate more new planners to be enabled
  common/ast/src/ast/statements/database.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/planners/src/plan_setting.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/kill.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/logictest/suites/gen/05_ddl/05_0010_ddl_create_udf
  tests/logictest/suites/gen/05_ddl/05_0013_ddl_alter_udf
  tests/suites/0_stateless/03_dml/03_0013_select_udf.sql
  tests/suites/0_stateless/05_ddl/05_0006_ddl_grant_privilege_v2.sql
  tests/suites/0_stateless/05_ddl/05_0010_ddl_create_udf.sql
  tests/suites/0_stateless/05_ddl/05_0010_ddl_create_udf_v2.sql
  tests/suites/0_stateless/05_ddl/05_0013_ddl_alter_udf.sql
  tests/suites/0_stateless/05_ddl/05_0013_ddl_alter_udf_v2.sql
  tests/suites/0_stateless/06_show/06_0003_show_settings_v2.result
  tests/suites/0_stateless/06_show/06_0003_show_settings_v2.sql
Labels: pr-refactor

#6724 feat: add grant and revoke object API in ShareApi
  Cargo.lock
  common/exception/src/exception_code.rs
  common/meta/api/Cargo.toml
  common/meta/api/src/kv_api_utils.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/share_api.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_test_suite.rs
  common/meta/app/src/schema/database.rs
  common/meta/app/src/share/mod.rs
  common/meta/app/src/share/share.rs
  common/meta/types/src/app_error.rs
  common/meta/types/src/lib.rs
  common/proto-conv/src/database_from_to_protobuf_impl.rs
  common/proto-conv/src/share_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/proto/database.proto
  common/protos/proto/share.proto
Labels: pr-feature, A-meta

#6666 fix(processor): support distributed subquery in new cluster framework
  common/planners/src/plan_explain.rs
  common/planners/src/plan_node_display.rs
  common/planners/src/plan_node_display_indent.rs
  query/src/api/mod.rs
  query/src/api/rpc/exchange/data_exchange.rs
  query/src/api/rpc/exchange/exchange_channel_receiver.rs
  query/src/api/rpc/exchange/exchange_manager.rs
  query/src/api/rpc/exchange/exchange_sink.rs
  query/src/api/rpc/exchange/exchange_source_merge.rs
  query/src/api/rpc/exchange/exchange_source_shuffle.rs
  query/src/api/rpc/exchange/mod.rs
  query/src/api/rpc/flight_scatter_broadcast.rs
  query/src/api/rpc/mod.rs
  query/src/interpreters/fragments/mod.rs
  query/src/interpreters/fragments/partition_state.rs
  query/src/interpreters/fragments/query_fragment.rs
  query/src/interpreters/fragments/query_fragment_actions.rs
  query/src/interpreters/fragments/query_fragment_actions_display.rs
  query/src/interpreters/fragments/query_fragment_broadcast.rs
  query/src/interpreters/fragments/query_fragment_subqueries.rs
  query/src/interpreters/interpreter_explain.rs
  query/src/interpreters/interpreter_select.rs
  query/src/interpreters/plan_schedulers/plan_scheduler_query.rs
  query/src/pipelines/pipeline_builder.rs
  query/src/pipelines/processors/mod.rs
  query/src/pipelines/processors/sinks/mod.rs
  query/src/pipelines/processors/sinks/subquery_receive_sink.rs
  query/src/pipelines/processors/transforms/mod.rs
  query/src/pipelines/processors/transforms/transform_create_sets.rs
  query/src/sessions/query_ctx.rs
  query/src/sql/parsers/parser_explain.rs
  scripts/ci/ci-run-stateless-tests-cluster.sh
  tests/suites/0_stateless/03_dml/03_0009_select_exists.sql
Labels: pr-bugfix

#6729 feat(RFC): The New Logging
  docs/doc/60-contributing/03-rfcs/20220721-new-logging.md
Labels: pr-feature

#6734 chore(tracker): remove malloc_size_of
  Cargo.lock
  common/base/src/mem_allocator/allocators.rs
  common/base/src/mem_allocator/malloc_size.rs
  common/base/src/mem_allocator/mod.rs
  common/base/src/mem_allocator/sizeof.rs
  common/base/tests/it/derive.rs
  common/base/tests/it/main.rs
  common/base/tests/it/malloc_size.rs
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/type_id.rs
  common/macros/Cargo.toml
  common/macros/src/lib.rs
  common/macros/src/malloc_sizeof.rs
  common/pipeline/Cargo.toml
  query/src/sessions/session.rs
  query/src/sessions/session_ctx.rs
  query/tests/it/sessions/session.rs
Labels: pr-chore

#6736 chore: add stateless test case for pr #6731
  tests/suites/0_stateless/09_fuse_engine/09_0018_min_max_index.result
  tests/suites/0_stateless/09_fuse_engine/09_0018_min_max_index.sql
  tests/suites/0_stateless/09_fuse_engine/09_0018_min_max_index_cluster.result
Labels: pr-feature, pr-chore

#6737 chore: disable macos logic test
  .github/workflows/dev-macos.yml
Labels: pr-chore

#6712 feat(expr): add serializable expression
  Cargo.lock
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/expression/Cargo.toml
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/function.rs
  common/expression/src/lib.rs
  common/expression/src/property.rs
  common/expression/src/type_check.rs
  common/expression/src/types.rs
  common/expression/src/types/number.rs
  common/expression/tests/it/main.rs
  common/expression/tests/it/parser.rs
  common/expression/tests/it/testdata/eval-fail.txt
  common/expression/tests/it/testdata/run-pass.txt
Labels: pr-feature

#6740 docs: copy from url
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table-url.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#6741 docs: explain fragments
  docs/doc/30-reference/30-sql/90-explain-cmds/_category_.json
  docs/doc/30-reference/30-sql/90-explain-cmds/explain-fragments.md
Labels: pr-doc

#6742 chore(query): Remove unnecessary session ref
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-chore

#6738 fix(query): Fix values source `skip_to_next_row`
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/binder/insert.rs
  query/src/sql/statements/value_source.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables_v2.sql
Labels: pr-bugfix

#6743 docs: client-side session in rest api.
  docs/doc/30-reference/00-api/00-rest.md
Labels: pr-doc

#6744 chore(ci): enable backtrace in ci cluster test
  query/src/api/rpc/flight_client.rs
  query/src/api/rpc/flight_service.rs
  query/src/api/rpc_service.rs
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-chore

#6749 refactor(processor): refactor processor async task
  query/src/pipelines/executor/executor_worker_context.rs
  query/src/pipelines/executor/mod.rs
  query/src/pipelines/executor/processor_async_task.rs
Labels: pr-refactor

#6725 feat(planner): support order by expression in new planner
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/sort.rs
  tests/logictest/suites/query/aggregate.test
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature

#6750 chore: disable logic test artifact upload
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
Labels: pr-chore

#6752 feat(query): Enable to parse decimal notation as floats
  common/io/src/buffer/buffer_read_number_ext.rs
  common/io/tests/it/buffer/buffer_read_number_ext.rs
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values_v2.sql
Labels: pr-feature
