Repository databendlabs/databend, pull requests merged in 2022-06, with the labels that each got.

#5711 docs(docker): Improve docker/README.md Readability
  README.md
  docker/README.md
Labels: pr-doc-fix, need-review

#5712 chore(doc): add a complex for UDF
  docs/doc/30-reference/30-sql/00-ddl/50-udf/ddl-create-function.md
Labels: pr-doc-fix, need-review

#5724 fix(ci): publish binary fetch tags with token
  .github/actions/publish_binary/action.yml
Labels: pr-not-for-changelog, need-review

#5707 Feature: add mock module, add test of out retention time data
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/meta/embedded/tests/it/schema_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api.rs
  scripts/ci/ci-run-unit-tests.sh
Labels: pr-build, pr-feature, need-review

#5715 feat(planner): support cross join
  Cargo.lock
  query/src/pipelines/new/processors/mod.rs
  query/src/pipelines/new/processors/transforms/hash_join/chaining_hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/mod.rs
  query/src/pipelines/new/processors/transforms/mod.rs
  query/src/sql/exec/mod.rs
  query/src/sql/mod.rs
  query/src/sql/optimizer/rule/rule_implement_hash_join.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/plans/hash_join.rs
  query/src/sql/planner/plans/logical_join.rs
  query/src/sql/planner/plans/mod.rs
  query/tests/it/sql/planner/format/mod.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5531 feat(format): support parallel input format source
  Cargo.lock
  common/io/src/buffer/buffer_memory.rs
  common/io/src/buffer/buffer_read_ext.rs
  common/io/src/buffer/buffer_read_number_ext.rs
  common/io/src/buffer/buffer_u8_reader.rs
  common/io/src/buffer/mod.rs
  common/io/src/lib.rs
  common/io/src/position.rs
  common/io/src/prelude.rs
  common/io/tests/it/buffer/buffer_read.rs
  query/Cargo.toml
  query/src/formats/format.rs
  query/src/formats/format_csv.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/multipart_format.rs
  query/src/servers/http/v1/parallel_format_source.rs
  query/src/servers/http/v1/sequential_format_source.rs
Labels: pr-performance, need-review

#5730 fix(parser): support cross join
  common/ast/src/parser/query.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
  query/src/sql/planner/binder/join.rs
Labels: pr-bugfix, pr-improvement, need-review

#5736 [metasrv] ci: test-compat downloads config file for old query
  .github/actions/test_compat/action.yml
  tests/compat/test-compat.sh
Labels: pr-build, need-review

#5737 HTTP handler support planner v2 and use PipelineNew for result cache.
  query/src/interpreters/interpreter_explain_v2.rs
  query/src/interpreters/interpreter_select_v2.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/query/page_manager.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sql/exec/mod.rs
  query/src/storages/result/block_buffer.rs
  query/src/storages/result/mod.rs
  query/src/storages/result/result_table_sink.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-not-for-changelog, need-review

#5741 fix: ensure builtin roles on create user by jwt
  query/src/users/auth/auth_mgr.rs
Labels: pr-bugfix, need-review

#5744 [meta] refactor: remove long value from instrument span
  common/meta/grpc/src/grpc_client.rs
  common/meta/raft-store/src/state_machine/sm.rs
  metasrv/src/meta_service/meta_node_kv_api_impl.rs
  scripts/ci/ci-run-unit-tests.sh
  tests/logictest/http_runner.py
  tests/logictest/logictest.py
Labels: pr-improvement, need-review

#5740 Add cluster name to metasrv and meta-client
  common/meta/raft-store/src/config.rs
  metasrv/src/configs/outer_v0.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/configs.rs
Labels: pr-feature, A-meta, need-review

#5721 chore(query): auto detect number size to determine unit of time for to_datetime
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/types/type_factory.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/tests/it/scalars/expressions.rs
  docs/doc/30-reference/20-functions/60-conversion-functions/type_conversion.md
  tests/suites/0_stateless/02_function/02_0009_function_hashes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
Labels: pr-not-for-changelog, need-review

#5746 add gc out of drop retention time data schema API and unit tests
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/meta/app/src/schema/database.rs
  common/meta/app/src/schema/table.rs
  common/meta/embedded/tests/it/schema_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/operation.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api.rs
Labels: pr-feature, need-review

#5739 [common/exception] refactor: add ErrorCode::set_backtrace() for keeping the original bt when converting MetaError to ErrorCode
  common/exception/src/exception.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/meta_errors_into.rs
Labels: pr-improvement, need-review

#5742 improve(parser): flatten join lists
  common/ast/src/ast/query.rs
  common/ast/src/parser/query.rs
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/table.rs
Labels: pr-improvement, need-review

#5752 feat(meta): Output [binary] in debug message instead
  common/meta/types/src/operation.rs
  common/meta/types/src/seq_value.rs
Labels: pr-feature, need-review

#5750 show tenant quota for current tenant
  query/src/procedures/admins/tenant_quota.rs
  query/tests/it/interpreters/interpreter_call.rs
Labels: pr-improvement, need-review

#5754 Remove the init_cluster parameter in open_create_boot
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
Labels: pr-bugfix, pr-improvement, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#5749 feat(log): check tty by atty for the log color or not
  Cargo.lock
  common/tracing/Cargo.toml
  common/tracing/src/logging.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5758 fix: push release image to datafuselabs/databend:latest
  .github/actions/publish_image/action.yml
  .github/workflows/databend-release.yml
  .github/workflows/production.yml
  docker/databend-query-docker.toml
Labels: pr-not-for-changelog, need-review

#5757 chore(improvement): --version or -V show the binary release commit info
  metasrv/src/configs/outer_v0.rs
  query/src/config/outer_v0.rs
  tools/metactl/src/main.rs
Labels: pr-improvement, need-review

#5725 fix(functions): optimize error message
  query/src/users/user_mgr.rs
  query/tests/it/users/auth/auth_mgr.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-improvement, need-review

#5756 feature(query): support errorcode hint in new planner
  query/src/servers/mysql/mysql_interactive_worker.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5761 chore(readme): remove design overview and add try databend
  README.md
Labels: pr-not-for-changelog, need-review

#5760 chore: push build-tool image to ecr
  .github/actions/setup_build_tool/action.yml
  .github/actions/setup_docker/action.yml
  .github/workflows/build-tool.yml
  docker/build-tool/dev/Dockerfile
  scripts/setup/dev_setup.sh
Labels: pr-not-for-changelog, need-review

#5762 fix: login to ecr with password
  .github/actions/setup_docker/action.yml
  scripts/setup/run_build_tool.sh
Labels: pr-not-for-changelog, need-review

#5763 fix(ci): public ecr should go with us-east-1
  .github/actions/setup_docker/action.yml
  scripts/setup/run_build_tool.sh
Labels: need-review

#5764 fix: image tag for build-tool dev
  .github/workflows/build-tool.yml
  scripts/setup/run_build_tool.sh
Labels: need-review

#5766 chore: publish release image to ecr
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5767 fix: add permission for release workflow
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5727 fix(query): Fix compressed buf not consumed correctly
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/io/src/files.rs
  common/io/src/lib.rs
  common/io/src/prelude.rs
  common/io/src/utils.rs
  common/io/tests/it/utils.rs
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/catalogs/hive/hive_catalog.rs
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_list.rs
  query/src/servers/http/v1/sequential_format_source.rs
  query/src/servers/http/v1/stage.rs
  query/src/sessions/session_mgr.rs
  query/src/sql/statements/statement_common.rs
  query/src/sql/statements/statement_list.rs
  query/tests/it/sql/statements/statement_copy.rs
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
Labels: pr-bugfix, need-review

#5770 feat: undrop database
  common/ast/tests/it/parser.rs
  common/meta/app/src/schema/database.rs
  common/planners/src/lib.rs
  common/planners/src/plan_database_undrop.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  query/src/catalogs/catalog.rs
  query/src/catalogs/default/database_catalog.rs
  query/src/catalogs/default/immutable_catalog.rs
  query/src/catalogs/default/mutable_catalog.rs
  query/src/catalogs/hive/hive_catalog.rs
  query/src/interpreters/interpreter_database_undrop.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/parser_database.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_undrop_database.rs
  tests/suites/0_stateless/12_time_travel/12_0003_time_travel_undrop.result
  tests/suites/0_stateless/12_time_travel/12_0003_time_travel_undrop.sql
Labels: pr-feature, need-review

#5785 [meta] feature: protobuf message has to persist `MIN_COMPATIBLE_VER` in it
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/proto-conv/src/data_from_to_protobuf_impl.rs
  common/proto-conv/src/database_from_to_protobuf_impl.rs
  common/proto-conv/src/lib.rs
  common/proto-conv/src/table_from_to_protobuf_impl.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/proto-conv/src/util.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/proto-conv/tests/it/user_proto_conv.rs
  common/protos/proto/config.proto
  common/protos/proto/datatype.proto
  common/protos/proto/metadata.proto
  common/protos/proto/user.proto
Labels: pr-feature, need-review

#5783 fix(query): Don't load credential while reading stage
  common/io/src/configs.rs
  common/io/src/operator.rs
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/protos/proto/config.proto
  query/src/config/outer_v0.rs
  query/src/storages/stage/stage_source.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/sessions/query_ctx.rs
  query/tests/it/sql/statements/statement_copy.rs
Labels: pr-feature, need-review

#5772 feat(query): add function NULLIF
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/expr.txt
  docs/doc/30-reference/20-functions/11-conditional-functions/nullif.md
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/02_function/02_0057_function_nullif.sql
Labels: pr-feature, need-review

#5726 ci: Move check to self-hosted runners
  .github/actions/check/action.yml
  .github/actions/cleanup/action.yml
  .github/actions/publish_image/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/test_unit/action.yml
  .github/codecov.yml
  .github/workflows/databend-release.yml
  .github/workflows/developing.yml
  .github/workflows/i18n.yml
  .github/workflows/production.yml
  .licenserc.yaml
  .yamllint.yml
  Makefile
Labels: pr-not-for-changelog, need-review

#5718 feat(query): alter table cluster key
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/meta/app/src/schema/table.rs
  common/planners/src/lib.rs
  common/planners/src/plan_alter_cluster_key.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  common/proto-conv/src/table_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/proto/metadata.proto
  query/src/interpreters/interpreter_alter_cluster_key.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/statements/statement_alter_table.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/io/write/block_stream_writer.rs
  query/src/storages/fuse/meta/common.rs
  query/src/storages/fuse/meta/mod.rs
  query/src/storages/fuse/meta/v1/snapshot.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/fuse_sink.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/mod.rs
  query/src/storages/fuse/statistics/reducers.rs
  query/src/storages/fuse/table_functions/clustering_informations/clustering_information.rs
  query/src/storages/index/cluster_key.rs
  query/src/storages/index/mod.rs
  query/src/storages/index/range_filter.rs
  query/src/storages/result/result_table_sink.rs
  query/src/storages/result/writer.rs
  query/src/storages/storage_factory.rs
  query/src/storages/storage_table.rs
  query/tests/it/interpreters/interpreter_alter_cluster_key.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/meta/snapshot.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/09_fuse_engine/09_0015_remote_alter_cluster_key.result
  tests/suites/0_stateless/09_fuse_engine/09_0015_remote_alter_cluster_key.sql
Labels: pr-feature, need-review, A-storage

#5751 feat(planner): support udf
  common/ast/src/parser/mod.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5790 refactor(query): Refactor location parse logic
  query/src/sql/statements/statement_common.rs
  query/src/sql/statements/statement_copy.rs
  query/src/sql/statements/statement_create_user_stage.rs
  query/src/sql/statements/statement_list.rs
  query/src/storages/stage/stage_source.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/sql/statements/mod.rs
  query/tests/it/sql/statements/statement_common.rs
  query/tests/it/sql/statements/statement_copy.rs
Labels: pr-improvement, need-review

#5798 Make the stop function reentrant
  metasrv/src/meta_service/raftmeta.rs
Labels: pr-improvement, need-review

#5800 feature(planner): Support system `SHOW` statements
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_show_metrics.rs
  query/src/interpreters/interpreter_show_processlist.rs
  query/src/interpreters/interpreter_show_settings.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
Labels: pr-feature, need-review

#5801 Remove subscribe_metrics todos.
  metasrv/src/meta_service/raftmeta.rs
Labels: pr-bugfix, pr-improvement, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#5802 feature(planner): Migrate CREATE USER statement to new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/meta/types/src/user_auth.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/mod.rs
  query/src/sql/planner/binder/ddl/user.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0004_ddl_create_user_v2.result
  tests/suites/0_stateless/05_ddl/05_0004_ddl_create_user_v2.sql
Labels: pr-feature, need-review

#5803 fixes(executor): support abort for pipeline executor stream
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_select.rs
  query/src/interpreters/interpreter_select_v2.rs
  query/src/interpreters/stream/processor_executor_stream.rs
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/executor/pipeline_pulling_executor.rs
Labels: pr-bugfix, need-review

#5807 add test for abort pipeliner executor
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-build, need-review

#5808 Doc updates for SHOW TABLES HISTORY
  docs/doc/30-reference/30-sql/00-ddl/20-table/21-ddl-undrop-table.md
  docs/doc/30-reference/30-sql/40-show/show-tables.md
Labels: pr-doc-fix, need-review

#5792 fix(query): Fix read array(string) from fuse engine
  Cargo.lock
  Cargo.toml
  common/arrow/Cargo.toml
  common/arrow/src/parquet_write.rs
  common/datavalues/src/columns/object/mod.rs
  common/meta/app/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
Labels: pr-bugfix, need-review

#5797 move Clickhouse HTTP handler to its own port.
  docker/databend-query-docker.toml
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/07-qingstore.md
  docs/doc/10-deploy/08-azure.md
  docs/doc/10-deploy/10-cluster-minio.md
  docs/doc/30-reference/30-sql/70-system-tables/system-tracing.md
  docs/doc/50-manage/01-query/10-query-config.md
  query/bin/databend-query.rs
  query/src/config/inner.rs
  query/src/config/outer_v0.rs
  query/src/servers/http/http_services.rs
  query/src/servers/http/mod.rs
  query/src/servers/mod.rs
  query/tests/it/configs.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/kubernetes/query-cluster.yaml
Labels: pr-feature, need-review

#5806 hotfix: lz4raw compression of zero len buffer
  Cargo.lock
  Cargo.toml
  tests/suites/0_stateless/09_fuse_engine/09_0005_remote_insert_into_select.result
  tests/suites/0_stateless/09_fuse_engine/09_0005_remote_insert_into_select.sql
Labels: pr-bugfix, pr-not-for-changelog, need-review

#5815 chore: move unittest to self-hosted runner
  .github/actions/test_unit/action.yml
  .github/workflows/developing.yml
  .github/workflows/production.yml
Labels: pr-not-for-changelog, need-review

#5816 feat(planner): support `create view` in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/mod.rs
  query/src/sql/planner/binder/ddl/view.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0019_ddl_create_view_v2.result
  tests/suites/0_stateless/05_ddl/05_0019_ddl_create_view_v2.sql
Labels: pr-feature, need-review

#5817 fix: remove incompatible modification of chunk compression
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix, pr-doc-fix, pr-not-for-changelog, need-review

#5818 fix: add test result file of stateless test `drop all`
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_table_full.result
Labels: pr-bugfix, pr-not-for-changelog, need-review

#5822 fix: use ecr for self-hosted jobs
  .github/actions/check/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/test_unit/action.yml
Labels: pr-not-for-changelog, need-review

#5813 feature(planner): Migrate DROP USER statement to new planner
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0007_ddl_drop_user_v2.result
  tests/suites/0_stateless/05_ddl/05_0007_ddl_drop_user_v2.sql
Labels: pr-feature, need-review

#5804 feat(planner): Support create database in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/ddl/mod.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0001_ddl_create_database_v2.result
  tests/suites/0_stateless/05_ddl/05_0001_ddl_create_database_v2.sql
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-feature, need-review

#5809 feat(stage): remove directory recursive in drop internal stage
  query/src/interpreters/interpreter_user_stage_drop.rs
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
Labels: pr-feature, need-review

#5836 feat(ci): enable logic test
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/workflows/developing.yml
  .github/workflows/production.yml
  tests/logictest/Dockerfile
  tests/logictest/config.py
  tests/logictest/gen_suites.py
  tests/logictest/http_connector.py
  tests/logictest/http_runner.py
  tests/logictest/logictest.py
  tests/logictest/mysql_runner.py
  tests/logictest/suites/gen/01_system/01_0005_system_tables_data_size
  tests/logictest/suites/gen/02_function/02_0009_function_hashes
  tests/logictest/suites/gen/02_function/02_0011_function_window_funnel
  tests/logictest/suites/gen/02_function/02_0048_function_semi_structureds_object_keys
  tests/logictest/suites/gen/02_function/02_0048_function_semi_structureds_parse_json
  tests/logictest/suites/gen/02_function/02_0056_function_semi_structureds_as
  tests/logictest/suites/gen/03_dml/03_0007_select_alias
  tests/logictest/suites/gen/03_dml/03_0014_insert_into_select
  tests/logictest/suites/gen/03_dml/03_0023_insert_into_array
  tests/logictest/suites/gen/05_ddl/05_0001_ddl_drop_table_full
  tests/logictest/suites/gen/05_ddl/05_0003_ddl_rename_table
  tests/logictest/suites/gen/05_ddl/05_0003_ddl_truncate_table
  tests/logictest/suites/gen/06_show/06_0011_show_stages
  tests/logictest/suites/gen/09_fuse_engine/09_0001_remote_insert
  tests/logictest/suites/gen/09_fuse_engine/09_0002_remote_truncate_table
  tests/logictest/suites/gen/09_fuse_engine/09_0003_remote_drop_table
  tests/logictest/suites/gen/12_time_travel/12_0001_system_tables_with_dropped_on
  tests/logictest/suites/gen/12_time_travel/12_0002_time_travel_show_tables_hist
  tests/logictest/suites/gen/12_time_travel/12_0003_time_travel_undrop
  tests/logictest/suites/gen/20+_others/20_0001_planner_v2
  tests/logictest/suites/gen/20+_others/20_0002_planner_v2_display_error
  tests/pyproject.toml
Labels: pr-build, need-review

#5843 fix: logic test missing with profile config
  .github/workflows/production.yml
Labels: pr-not-for-changelog, need-review

#5842 Feature: add metrics about metasrv network and docs
  common/meta/types/proto/meta.proto
  docs/doc/50-manage/00-metasrv/50-metasrv-metrics.md
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/metrics/meta_metrics.rs
  metasrv/src/metrics/mod.rs
  metasrv/src/network.rs
Labels: pr-feature, pr-doc-fix, A-meta, need-review

#5835 feat(query): support drop cluster key
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  common/planners/src/lib.rs
  common/planners/src/plan_cluster_key_alter.rs
  common/planners/src/plan_cluster_key_drop.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  query/src/interpreters/interpreter_cluster_key_alter.rs
  query/src/interpreters/interpreter_cluster_key_drop.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/statements/statement_alter_table.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/storage_table.rs
  query/tests/it/interpreters/interpreter_cluster_key_alter.rs
  query/tests/it/interpreters/interpreter_cluster_key_drop.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/storages/fuse/table.rs
  tests/suites/0_stateless/09_fuse_engine/09_0015_remote_alter_cluster_key.sql
Labels: pr-feature, need-review

#5846 feat(planner): support drop database in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_database_v2.result
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_database_v2.sql
Labels: pr-improvement, pr-feature, need-review

#5849 fix: http_connector will fetch all results
  tests/logictest/http_connector.py
  tests/logictest/http_runner.py
Labels: pr-not-for-changelog

#5831 Remove todos in metasrv
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/meta_service/raftmeta.rs
Labels: pr-improvement

#5856 Improve: add schema api txn max retry times
  common/exception/src/exception_code.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/types/src/app_error.rs
Labels: pr-improvement, need-review

#5821 Add DDL STAGE for new planner framework
  common/ast/src/ast/statement.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/lexer.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/ast/tests/it/token.rs
  common/planners/src/lib.rs
  common/planners/src/plan_show.rs
  common/planners/src/plan_show_stages.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_show_stages.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/planner/binder/ddl/mod.rs
  query/src/sql/planner/binder/ddl/stage.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/statements/statement_create_user_stage.rs
  query/src/sql/statements/statement_show_stages.rs
  tests/suites/0_stateless/05_ddl/05_0016_ddl_stage_v2.result
  tests/suites/0_stateless/05_ddl/05_0016_ddl_stage_v2.sql
Labels: pr-feature, need-review

#5865 Feature: add benchmark scripts of metasrv
  Cargo.lock
  Cargo.toml
  Makefile
  scripts/benchmark/run-meta-benchmark.sh
  tools/metabench/Cargo.toml
  tools/metabench/src/main.rs
Labels: pr-performance, pr-feature, need-review

#5866 deps: Upgrade opendal to v0.8
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_runtime.rs
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_list.rs
  query/src/interpreters/interpreter_user_stage_drop.rs
Labels: pr-improvement, need-review

#5869 fix(planner): support semi and anti join in new planner
  query/src/pipelines/new/processors/transforms/hash_join/chaining_hash_table.rs
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/planner/plans/logical_join.rs
Labels: pr-feature

#5867 ci: Move build test to self-hosted runners
  .github/actions/build_debug/action.yml
  .github/workflows/developing.yml
  .github/workflows/production.yml
Labels: pr-build

#5870 feature(query): fix read quoted string
  common/io/src/buffer/buffer_read_ext.rs
  tests/logictest/suites/gen/09_fuse_engine/09_0001_remote_insert
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
Labels: pr-bugfix, need-review

#5788 feat(stage): remove stage files
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  common/planners/src/plan_user_stage_remove.rs
  docs/doc/30-reference/30-sql/10-dml/dml-remove-stage.md
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_list.rs
  query/src/interpreters/interpreter_user_stage_remove.rs
  query/src/interpreters/mod.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_remove_user_stage.rs
  query/tests/it/sql/parsers/parser_stage.rs
  tests/suites/1_stateful/03_remove/03_0000_remove_stage.result
  tests/suites/1_stateful/03_remove/03_0000_remove_stage.sh
Labels: pr-feature, need-review

#5878 Uploaded a blog about quick deploy
  website/blog/20220609-quick-deploy.md
Labels: pr-not-for-changelog, need-review

#5871 chore: publish logic test image
  .github/workflows/test-tool-release.yml
Labels: pr-not-for-changelog, need-review

#5872 clickhouse http api support x-clickhouse-user.
  docs/doc/40-integrations/10-data-tool/00-vector.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
  query/src/servers/http/http_services.rs
  query/src/servers/http/middleware.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/tests/it/servers/http/clickhouse_handler.rs
  query/tests/it/servers/http/http_query_handlers.rs
  tests/shell_env.sh
  tests/suites/0_stateless/20+_others/20_0006_http_auth.result
  tests/suites/0_stateless/20+_others/20_0006_http_auth.sh
Labels: pr-not-for-changelog, need-review

#5884 ci: Make macOS checks optional
  .github/actions/build_debug_hive/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/mergify.yml
  .github/workflows/developing.yml
  .github/workflows/production.yml
Labels: pr-build, need-review

#5882 http handler in logic test do not need to sleep
  tests/logictest/http_connector.py
Labels: pr-not-for-changelog, need-review

#5868 federated query:show collation, show charset, timediff func
  common/ast/tests/it/parser.rs
  query/src/servers/mysql/mysql_federated.rs
  tests/suites/0_stateless/10_drivers/10_0003_federated_query.result
  tests/suites/0_stateless/10_drivers/10_0003_federated_query.sql
Labels: pr-feature, need-review

#5873 chore(config): edit config and add some comments
  Makefile
  docker/databend-query-docker.toml
  docs/doc/10-deploy/10-cluster-minio.md
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
Labels: pr-not-for-changelog, need-review

#5890 fix(parser): don't consume extra tokens for expr
  common/ast/src/parser/error.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/query.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
Labels: pr-bugfix, need-review

#5887 feat(planner): support rename database in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_database_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_database_v2.sql
Labels: pr-feature, need-review

#5906 ci: Don't need to wait for macOS for publishing image
  .github/workflows/production.yml
Labels: pr-build, need-review

#5891 feature(planner): remove stage support new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/statement.txt
  common/planners/src/plan_user_stage_remove.rs
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_list.rs
  query/src/interpreters/interpreter_user_stage_remove.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/stage.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/statements/statement_remove_user_stage.rs
Labels: pr-improvement, need-review

#5902 feat(query): support parse exponential notation data values
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.sql
Labels: pr-feature, need-review

#5862 feat(planner): support `alter view` in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/view.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0021_ddl_alter_view_v2.result
  tests/suites/0_stateless/05_ddl/05_0021_ddl_alter_view_v2.sql
Labels: pr-feature, need-review

#5857 list/remove stage files from meta api
  Cargo.lock
  common/exception/src/exception_code.rs
  common/io/src/configs.rs
  common/io/src/prelude.rs
  common/management/src/stage/stage_api.rs
  common/management/src/stage/stage_mgr.rs
  common/management/tests/it/stage.rs
  common/meta/api/src/kv_api_key.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/user_identity.rs
  common/meta/types/src/user_stage.rs
  common/meta/types/tests/it/user_stage.rs
  common/planners/src/plan_list.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/user_proto_conv.rs
  common/protos/proto/user.proto
  docs/doc/21-load-data/02-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/04-ddl-list-stage.md
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_list.rs
  query/src/interpreters/interpreter_show_stages.rs
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/interpreters/interpreter_user_stage_describe.rs
  query/src/interpreters/interpreter_user_stage_drop.rs
  query/src/interpreters/interpreter_user_stage_remove.rs
  query/src/servers/http/v1/stage.rs
  query/src/sql/statements/statement_common.rs
  query/src/storages/system/stages_table.rs
  query/src/users/user_stage.rs
  query/tests/it/interpreters/interpreter_list.rs
  query/tests/it/interpreters/interpreter_show_stages.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/statements/statement_common.rs
  query/tests/it/sql/statements/statement_copy.rs
  query/tests/it/storages/system/stages_table.rs
  tests/logictest/suites/gen/06_show/06_0011_show_stages
  tests/suites/0_stateless/05_ddl/05_0016_ddl_stage_v2.result
  tests/suites/0_stateless/06_show/06_0011_show_stages.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.result
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
  tests/suites/1_stateful/01_load/01_0001_upload_to_stage.result
  tests/suites/1_stateful/01_load/01_0001_upload_to_stage.sh
  tests/suites/1_stateful/01_load/01_0002_remove_external_stage.result
  tests/suites/1_stateful/01_load/01_0002_remove_external_stage.sh
  tests/suites/1_stateful/01_load/01_0002_remove_internal_stage.result
  tests/suites/1_stateful/01_load/01_0002_remove_internal_stage.sh
  tests/suites/1_stateful/01_load/books.csv
  tests/suites/1_stateful/03_remove/03_0000_remove_stage.result
  tests/suites/1_stateful/03_remove/03_0000_remove_stage.sh
Labels: pr-improvement, need-review

#5898 clickhouse http handler support TsvWithNamesAndTypes.
  Cargo.lock
  query/Cargo.toml
  query/src/formats/format_factory.rs
  query/src/formats/output_format.rs
  query/src/formats/output_format_csv.rs
  query/src/formats/output_format_ndjson.rs
  query/src/servers/http/clickhouse_handler.rs
  query/tests/it/formats/format_factory.rs
  query/tests/it/formats/mod.rs
  query/tests/it/formats/output_format_tcsv.rs
  query/tests/it/servers/http/clickhouse_handler.rs
Labels: pr-feature, need-review

#5908 use serialize_prefix in download and stage_table.
  query/src/servers/http/clickhouse_handler.rs
  query/src/storages/result/download.rs
  query/src/storages/stage/stage_table.rs
Labels: need-review

#5909 fix(planner): corretly handle catalog in statements
  common/ast/src/ast/statement.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/util.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/planners/src/lib.rs
  common/planners/src/plan_database_rename.rs
  common/planners/src/plan_insert_into.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_show.rs
  common/planners/src/plan_show_tables_status.rs
  common/planners/src/plan_table_alter_cluster_key.rs
  common/planners/src/plan_table_drop_cluster_key.rs
  common/planners/src/plan_table_rename.rs
  query/src/interpreters/async_insert_queue.rs
  query/src/interpreters/interpreter_cluster_key_alter.rs
  query/src/interpreters/interpreter_cluster_key_drop.rs
  query/src/interpreters/interpreter_database_rename.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/interpreters/interpreter_show_tables_status.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_rename.rs
  query/src/interpreters/mod.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/ddl/stage.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/ddl/view.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_alter_database.rs
  query/src/sql/statements/statement_alter_table.rs
  query/src/sql/statements/statement_insert.rs
  query/src/sql/statements/statement_rename_table.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/storages/fuse/table.rs
  tests/logictest/http_connector.py
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_database_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_database_v2.sql
Labels: pr-bugfix, pr-improvement, need-review

#5896 feat(query): new table engine: RANDOM.
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/expr.txt
  common/datavalues/Cargo.toml
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/type_array.rs
  common/datavalues/src/types/type_boolean.rs
  common/datavalues/src/types/type_date.rs
  common/datavalues/src/types/type_nullable.rs
  common/datavalues/src/types/type_primitive.rs
  common/datavalues/src/types/type_string.rs
  common/datavalues/src/types/type_timestamp.rs
  query/src/storages/mod.rs
  query/src/storages/random/mod.rs
  query/src/storages/random/random_parts.rs
  query/src/storages/random/random_table.rs
  query/src/storages/storage_factory.rs
  query/tests/it/interpreters/interpreter_show_engines.rs
  query/tests/it/storages/system/engines_table.rs
  tests/logictest/suites/gen/06_show/06_0006_show_engines
  tests/suites/0_stateless/06_show/06_0006_show_engines.result
  tests/suites/0_stateless/20+_others/20_0007_random_engine.result
  tests/suites/0_stateless/20+_others/20_0007_random_engine.sql
Labels: pr-feature, need-review

#5918 chore(blog): fix the blog post date
  website/blog/2022-03-28-databend-v0.7-release.md
  website/blog/2022-06-09-quick-deploy.md
Labels: pr-not-for-changelog, need-review

#5914 feature(optimizer): Support predicate push down through join
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/optimizer/rule/factory.rs
  query/src/sql/optimizer/rule/mod.rs
  query/src/sql/optimizer/rule/rewrite/mod.rs
  query/src/sql/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/scalar_common.rs
  query/tests/it/sql/optimizer/heuristic/join.rs
  query/tests/it/sql/optimizer/heuristic/mod.rs
  query/tests/it/sql/optimizer/heuristic/select.rs
  query/tests/it/sql/optimizer/heuristic/testdata/join.test
Labels: pr-feature, need-review

#5923 docs/blog: Fix front meta of posts
  website/blog/2022-03-28-databend-v0.7-release.md
  website/blog/2022-06-09-quick-deploy.md
Labels: pr-doc-fix, need-review

#5928 fix(insert): server panic when exceeds max active sessions
  query/src/interpreters/async_insert_queue.rs
Labels: pr-bugfix, need-review

#5932 chore(ci): user friendly release
  .github/actions/publish_binary/action.yml
  .github/actions/publish_binary/databend-release-readme.txt
  .github/workflows/databend-release.yml
  docs/doc/60-contributing/03-rfcs/20220530-user-friendly-releases.md
Labels: pr-build, need-review

#5920 feat(planner): support `drop view` in new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/planner/binder/ddl/view.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0020_ddl_drop_view_v2.result
  tests/suites/0_stateless/05_ddl/05_0020_ddl_drop_view_v2.sql
Labels: pr-feature, need-review

#5924 feature(optimizer): Support constant folding
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/optimizer/rule/factory.rs
  query/src/sql/optimizer/rule/mod.rs
  query/src/sql/optimizer/rule/rewrite/mod.rs
  query/src/sql/optimizer/rule/rewrite/rule_normalize_scalar.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/sql/optimizer/heuristic/select.rs
  query/tests/it/sql/optimizer/heuristic/testdata/select.test
Labels: pr-feature, need-review

#5938 chore: disable group by test
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.result
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.sql
Labels: pr-not-for-changelog, need-review

#5934 feat: clickhouse http api support compress
  Cargo.lock
  query/Cargo.toml
  query/src/servers/http/clickhouse_handler.rs
  query/tests/it/servers/http/clickhouse_handler.rs
Labels: pr-feature, need-review

#5936 Feature: add DeleteByPrefix API in txn::op
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/types/build.rs
  common/meta/types/proto/meta.proto
  common/meta/types/proto/request.proto
  common/meta/types/src/lib.rs
  common/meta/types/src/proto_display.rs
Labels: pr-feature, need-review

#5946 feat(columns): add some cols for system.columns
  query/src/storages/information_schema/columns_table.rs
  query/src/storages/system/columns_table.rs
  query/tests/it/storages/system/columns_table.rs
  tests/suites/0_stateless/01_system/01_0006_system_columns.result
  tests/suites/0_stateless/01_system/01_0006_system_columns.sql
Labels: pr-feature, need-review

#5935 Migrate CREATE/DROP ROLE statement to new planner
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_role_create.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  tests/suites/0_stateless/05_ddl/05_0014_ddl_create_role_v2.result
  tests/suites/0_stateless/05_ddl/05_0014_ddl_create_role_v2.sql
  tests/suites/0_stateless/05_ddl/05_0015_ddl_drop_role_v2.result
  tests/suites/0_stateless/05_ddl/05_0015_ddl_drop_role_v2.sql
Labels: pr-improvement, need-review

#5949 modify doc for system-columns
  docs/doc/30-reference/30-sql/70-system-tables/system-columns.md
Labels: pr-doc-fix, need-review

#5953 fix: mkdir when pack binaries
  .github/actions/build_debug/action.yml
  .github/actions/build_debug_hive/action.yml
  .github/actions/build_release/action.yml
  .github/workflows/databend-release.yml
  .github/workflows/developing.yml
  .github/workflows/production.yml
Labels: pr-not-for-changelog, need-review

#5947 bugfix(planner): Fix correlated subquery with joins
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/join.rs
  query/tests/it/sql/optimizer/heuristic/mod.rs
  query/tests/it/sql/optimizer/heuristic/subquery.rs
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
Labels: pr-bugfix, need-review

#5956 fix: strip-components for tar content change
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5955 improve(planner): Refine format of explain
  query/src/pipelines/new/processors/transforms/hash_join/chaining_hash_table.rs
  query/src/sql/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/format/display_rel_operator.rs
  query/src/sql/planner/plans/logical_join.rs
  query/tests/it/sql/optimizer/heuristic/testdata/join.test
  query/tests/it/sql/optimizer/heuristic/testdata/select.test
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
  query/tests/it/sql/planner/format/mod.rs
  tests/logictest/suites/gen/20+_others/20_0001_planner_v2
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
Labels: pr-improvement, need-review

#5962 docs(vector): fix vector docs
  docs/doc/40-integrations/10-data-tool/00-vector.md
Labels: pr-doc-fix, need-review

#5963 fix(ci): wildcard extract in release
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5958 test(stateless): add 02_0057_function_nullif result
  scripts/ci/ci-run-stateless-tests-cluster.sh
  tests/suites/0_stateless/02_function/02_0057_function_nullif.result
  tests/suites/0_stateless/02_function/02_0057_function_nullif.sql
Labels: pr-build, need-review

#5961 fix status cause mysql client hang
  Cargo.lock
  query/Cargo.toml
  query/src/servers/mysql/mysql_interactive_worker.rs
  tests/suites/0_stateless/20+_others/20_0008_mysql_client_command.py
  tests/suites/0_stateless/20+_others/20_0008_mysql_client_command.result
Labels: pr-bugfix, need-review

#5966 doc: document for statement `optimize table`
  docs/doc/30-reference/30-sql/00-ddl/20-table/60-optimize-table.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5965 feat: http handler return write/result progress.
  docs/doc/30-reference/00-api/00-rest.md
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/mod.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-not-for-changelog, need-review

#5970 feat: clickhouse http handler normalize path.
  query/src/servers/http/http_services.rs
  tests/suites/0_stateless/20+_others/20_0009_clickhouse_http.result
  tests/suites/0_stateless/20+_others/20_0009_clickhouse_http.sh
Labels: pr-not-for-changelog, need-review

#5976 query(storage/s3): Add enable virtual host style support
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/io/src/configs.rs
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/protos/proto/config.proto
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/config/outer_v0.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/sql/statements/statement_copy.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-feature, need-review

#5957 Create dml-join.md
  docs/doc/30-reference/30-sql/20-query-syntax/dml-join.md
Labels: pr-doc-fix, need-review

#5984 improve(planner): Remove `CrossApply` for uncorrelated subquery
  query/src/sql/planner/binder/subquery.rs
  query/tests/it/sql/optimizer/heuristic/subquery.rs
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
Labels: pr-improvement, need-review

#5974 refactor: use micromarshal to make references clearer
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/number.rs
  common/datavalues/src/types/serializations/number.rs
  common/io/Cargo.toml
  common/io/src/binary_read.rs
  common/io/src/binary_write.rs
  common/io/src/lib.rs
  common/io/src/marshal.rs
  common/io/src/prelude.rs
  common/io/src/unmarshal.rs
  common/io/tests/it/main.rs
  common/io/tests/it/marshal.rs
  query/Cargo.toml
Labels: pr-improvement, pr-not-for-changelog, need-review

#5982 ISSUE-5981: truncate the string value for cluster statis
  query/src/storages/fuse/statistics/accumulator.rs
  query/tests/it/storages/fuse/statistics.rs
Labels: pr-improvement, need-review

#5983 bugfix: ProcessorExecutorStream lost data
  query/src/pipelines/new/executor/pipeline_pulling_executor.rs
  query/src/servers/http/v1/query/page_manager.rs
  query/tests/it/servers/http/clickhouse_handler.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix, need-review

#5985 add tenant header for http handler
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/http/middleware.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/users/auth/auth_mgr.rs
  query/tests/it/users/auth/auth_mgr.rs
Labels: pr-feature

#5992 refactor: List stage files recursively
  common/io/src/operator.rs
  query/src/interpreters/interpreter_common.rs
  query/tests/it/interpreters/interpreter_list.rs
Labels: pr-improvement, need-review

#5980 fix(function): fix incorrect return datatype of function if
  common/datablocks/src/data_block.rs
  common/datablocks/tests/it/data_block.rs
  common/datablocks/tests/it/kernels/data_block_sort.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/strings/regexp_instr.rs
  common/functions/src/scalars/strings/regexp_replace.rs
  common/functions/src/scalars/strings/regexp_substr.rs
  common/streams/tests/it/stream_datablock.rs
  query/src/procedures/stats/tenant_tables.rs
  query/src/sql/exec/mod.rs
  query/tests/it/formats/output_format_tcsv.rs
  query/tests/it/servers/http/json_block.rs
  query/tests/it/storages/index/bloom_filter.rs
  query/tests/it/storages/index/index_min_max.rs
  query/tests/it/storages/index/index_sparse.rs
  query/tests/it/storages/memory.rs
  query/tests/it/storages/system/mod.rs
  query/tests/it/storages/system/query_log_table.rs
  tests/suites/0_stateless/02_function/02_0010_function_if.result
  tests/suites/0_stateless/02_function/02_0010_function_if.sql
  tests/suites/0_stateless/20+_others/20_0008_mysql_client_command.py
Labels: pr-bugfix, need-review

#5997 improve(planner): Split `EXPLAIN` result by lines
  query/src/interpreters/interpreter_explain_v2.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
Labels: pr-improvement, need-review

#5988 feat: CK http api support `/ping`
  query/src/servers/http/clickhouse_handler.rs
  tests/suites/0_stateless/20+_others/20_0009_clickhouse_http.result
  tests/suites/0_stateless/20+_others/20_0009_clickhouse_http.sh
Labels: pr-not-for-changelog, need-review

#5995 improve(planner): Expand `enum_dispatch` manually for `RelOperator` and `Scalar`
  query/src/common/evaluator/scalar.rs
  query/src/pipelines/new/processors/transforms/transform_apply.rs
  query/src/sql/exec/expression_builder.rs
  query/src/sql/exec/mod.rs
  query/src/sql/optimizer/m_expr.rs
  query/src/sql/optimizer/s_expr.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/distinct.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/scalar_visitor.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/binder/subquery.rs
  query/src/sql/planner/format/display_rel_operator.rs
  query/src/sql/planner/plans/aggregate.rs
  query/src/sql/planner/plans/apply.rs
  query/src/sql/planner/plans/eval_scalar.rs
  query/src/sql/planner/plans/filter.rs
  query/src/sql/planner/plans/hash_join.rs
  query/src/sql/planner/plans/limit.rs
  query/src/sql/planner/plans/logical_get.rs
  query/src/sql/planner/plans/logical_join.rs
  query/src/sql/planner/plans/max_one_row.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/operator.rs
  query/src/sql/planner/plans/pattern.rs
  query/src/sql/planner/plans/physical_scan.rs
  query/src/sql/planner/plans/project.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/plans/sort.rs
  query/src/sql/planner/semantic/grouping_check.rs
  query/tests/it/sql/optimizer/pattern_extractor.rs
Labels: pr-improvement, need-review

#5978 Feature: add meta grpc client network metrics
  Cargo.lock
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/grpc_client.rs
  common/metrics/src/lib.rs
  common/metrics/src/recorder.rs
Labels: A-query, pr-feature, A-meta, need-review

#5907 feature(planner): support table statements in new planner
  common/meta/app/src/schema/table.rs
  common/planners/src/plan_table_alter_cluster_key.rs
  common/proto-conv/src/table_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  query/src/interpreters/interpreter_cluster_key_alter.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/statements/statement_alter_table.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/storages/fuse/fuse_table.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_drop_tables_v2.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_drop_tables_v2.sql
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_table_full_v2.result
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_table_full_v2.sql
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_tabld_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_tabld_v2.sql
  tests/suites/0_stateless/05_ddl/05_0003_ddl_alter_table_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_rename_table_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_rename_table_v2.sql
  tests/suites/0_stateless/05_ddl/05_0003_ddl_truncate_table_v2.result
  tests/suites/0_stateless/05_ddl/05_0003_ddl_truncate_table_v2.sql
Labels: pr-feature, need-review

#6004 improve(planner): Add span info for errors
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-improvement, need-review

#5989 doc(join): add outer join
  docs/doc/30-reference/30-sql/20-query-syntax/dml-join.md
Labels: pr-doc-fix, need-review

#5999 refactor(async-trait): use unboxed_simple to simple GAT
  Cargo.lock
  common/ast/Cargo.toml
  common/base/Cargo.toml
  common/contexts/Cargo.toml
  common/management/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/streams/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  query/src/pipelines/new/processors/sinks/async_sink.rs
  query/src/pipelines/new/processors/sources/async_source.rs
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/pipelines/new/processors/sources/stream_source.rs
  query/src/pipelines/new/processors/sources/stream_source_v2.rs
  query/src/storages/fuse/table_functions/clustering_informations/clustering_information_table.rs
  query/src/storages/fuse/table_functions/fuse_segments/fuse_segment_table.rs
  query/src/storages/fuse/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  query/src/storages/github/github_table.rs
  query/src/storages/stage/stage_source.rs
  query/src/storages/system/table.rs
  query/src/table_functions/async_crash_me.rs
Labels: pr-improvement, need-review

#5994 Add cluster_by field in system.tables
  query/src/storages/system/tables_table.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/tables_table.rs
  tests/logictest/suites/gen/01_system/01_0001_system_tables
  tests/logictest/suites/gen/09_fuse_engine/09_0000_remote_create_table
  tests/logictest/suites/gen/09_fuse_engine/09_0014_func_clustering_information_function
  tests/logictest/suites/gen/09_fuse_engine/09_0015_remote_alter_cluster_key
  tests/suites/0_stateless/01_system/01_0001_system_tables.result
  tests/suites/0_stateless/09_fuse_engine/09_0000_remote_create_table.result
  tests/suites/0_stateless/09_fuse_engine/09_0000_remote_create_table.sql
Labels: pr-improvement, need-review, A-storage

#6009 Doc: ALTER & DROP CLUSTER KEY
  docs/doc/30-reference/30-sql/00-ddl/70-clusterkey/_category_.json
  docs/doc/30-reference/30-sql/00-ddl/70-clusterkey/dml-alter-cluster-key.md
  docs/doc/30-reference/30-sql/00-ddl/70-clusterkey/dml-drop-cluster-key.md
Labels: pr-doc-fix, need-review

#6001 Fix: native build with sse42 capability
  common/io/src/position.rs
Labels: pr-bugfix, pr-not-for-changelog, need-review

#6010 fix: cluster_key -> current_cluster_key
  query/src/storages/system/tables_table.rs
Labels: pr-not-for-changelog, need-review

#6008 fix(csv): fix de_csv with escaped quoted
  common/datavalues/src/types/deserializations/string.rs
  query/tests/it/formats/format_csv.rs
Labels: pr-bugfix, need-review

#6012 rename current_cluster_key to default_cluster_key
  common/meta/app/src/schema/table.rs
  common/proto-conv/src/table_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/proto/metadata.proto
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/system/tables_table.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
Labels: pr-improvement, need-review

#6015 ci(Mergify): configuration update
  .github/mergify.yml
Labels: need-review

#6013 feature(planner): support show statements in new planner
  common/ast/src/parser/statement.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/mod.rs
Labels: pr-feature, need-review

#5945 handler(clickhouse): ck http handler supports settings
  query/src/servers/http/clickhouse_handler.rs
  query/src/sessions/session_settings.rs
  query/tests/it/servers/http/clickhouse_handler.rs
Labels: pr-feature, need-review

#5990 fix display for create/drop role statement
  common/ast/src/ast/statement.rs
  common/ast/tests/it/testdata/statement.txt
Labels: pr-improvement, need-review

#5968 feat: transient fuse table
  Makefile
  common/ast/src/ast/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/catalogs/default/mutable_catalog.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/sql_parser.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/gc.rs
  query/tests/it/sql/parsers/parser_copy.rs
  query/tests/it/sql/parsers/parser_optimize.rs
  query/tests/it/sql/parsers/parser_select_table_at.rs
  query/tests/it/sql/parsers/parser_table.rs
  query/tests/it/sql/sql_parser.rs
  tests/logictest/suites/gen/09_fuse_engine/09_0016_transient_table
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables_v2.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables_v2.sql
  tests/suites/0_stateless/09_fuse_engine/09_0016_transient_table.result
  tests/suites/0_stateless/09_fuse_engine/09_0016_transient_table.sql
Labels: pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#6025 docs(vector): fix sql
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, need-review

#6028 feat(planner): support ORDER BY column ordinal
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/sort.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#6029 feat: export JAVA_HOME in dev_setup.sh
  scripts/setup/dev_setup.sh
Labels: pr-feature, pr-not-for-changelog, need-review

#6030 fix(ci): java home in build tool
  docker/build-tool/base/Dockerfile
  scripts/setup/dev_setup.sh
Labels: pr-not-for-changelog, need-review

#6032 fix: add_profile shoud return 0 if no items found in profile
  scripts/setup/dev_setup.sh
Labels: pr-bugfix, pr-not-for-changelog, need-review

#6031 Doc: Show Settings
  docs/doc/30-reference/30-sql/80-setting-cmds/_category_.json
  docs/doc/30-reference/30-sql/80-setting-cmds/show-settings.md
Labels: pr-doc-fix, need-review

#6006 Migrate `show functions` to new planner
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/show.rs
  query/src/sql/planner/format/display_plan.rs
  tests/suites/0_stateless/06_show/06_0005_show_functions_v2.result
  tests/suites/0_stateless/06_show/06_0005_show_functions_v2.sql
Labels: need-review
