Repository databendlabs/databend, pull requests merged in 2022-10, with the labels that each got.

#8001 chore(meta): upgrade openraft 0.7.3..0.7.4-alpha.2
  Cargo.lock
  src/binaries/Cargo.toml
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
Labels: pr-chore

#8003 feat: Modify the text on the home page
  website/docusaurus.config.js
  website/src/pages/index.module.scss
  website/src/pages/index.tsx
Labels: pr-feature

#8004 refactor(meta/service): use MetaStorageError if possible
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/sled-store/src/sled_tree.rs
Labels: pr-refactor

#8006 feat: Bump opendal to reuse metadata during list
  Cargo.lock
  src/common/contexts/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/Cargo.toml
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/preludes/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/streams/Cargo.toml
Labels: pr-feature

#8005 feat(meta/store): add snapshot_id codec support
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/snapshot.rs
  src/meta/service/src/store/store_bare.rs
Labels: pr-feature

#7999 chore(hive): improve log if table not exist
  src/query/storages/hive/src/hive_catalog.rs
Labels: pr-chore

#8007 fix: union needs more than one coercion type
  src/query/service/src/sql/planner/binder/select.rs
  tests/logictest/suites/base/15_query/union.test
Labels: pr-bugfix

#8011 fix: Use unicode_segmentation to truncate INSERT statement
  Cargo.lock
  src/query/legacy-parser/Cargo.toml
  src/query/legacy-parser/src/sql_common.rs
Labels: pr-bugfix

#7867 feat(cluster): experimental distributed eval index
  scripts/ci/ci-run-stateful-tests-cluster-s3.sh
  src/query/catalog/src/table_context.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/storages/result/result_table_source.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/storages/fuse/src/fuse_lazy_part.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/read.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/hive/src/hive_table_source.rs
  src/query/storages/preludes/src/memory/memory_table_stream.rs
  tests/logictest/suites/mode/standalone/explain/fold_count.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/chain.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/star.test
  tests/logictest/suites/mode/standalone/explain/nullable_prune.test
  tests/logictest/suites/mode/standalone/explain/select_limit_offset.test
Labels: pr-feature

#8023 refactor: Checking StorageParams correctness when create table with external location.
  src/common/storage/src/operator.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
Labels: pr-refactor

#8026 chore(executor): try remove some futures executor block on
  src/common/base/src/base/catch_unwind.rs
  src/common/base/src/base/runtime.rs
  src/common/base/src/lib.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
Labels: pr-chore

#8025 chore(test): don't skip 13_0005_q5 test
  scripts/ci/ci-run-stateless-tests-cluster.sh
Labels: pr-chore

#7984 fix: fix the bug in logic or and add test cases.
  src/query/functions-v2/src/scalars/boolean.rs
  src/query/functions-v2/tests/it/scalars/boolean.rs
  src/query/functions-v2/tests/it/scalars/testdata/boolean.txt
  src/query/functions/src/scalars/logics/or.rs
  src/query/functions/tests/it/scalars/logics.rs
  tests/logictest/suites/base/02_function/02_0046_function_logic
Labels: pr-bugfix

#8031 feat: enable join commute for more join types
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/service/src/sql/planner/plans/logical_join.rs
  tests/logictest/suites/crdb/join
  tests/logictest/suites/mode/standalone/explain/join_reorder/chain.test
  tests/logictest/suites/mode/standalone/explain/select_limit_offset.test
Labels: pr-feature

#8030 feat(query): enable RuleCommuteJoin for mark join.
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/sql/executor/physical_plan.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/sql/planner/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/service/src/sql/planner/optimizer/util.rs
  src/query/service/src/sql/planner/plans/logical_join.rs
  src/query/service/src/table_functions/numbers_table.rs
  tests/logictest/suites/mode/cluster/exchange.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/mark.test
  tests/logictest/suites/mode/standalone/explain/limit.test
  tests/logictest/suites/mode/standalone/explain/prune_column.test
  tests/logictest/suites/mode/standalone/explain/subquery.test
Labels: pr-feature

#7967 feat(optimizer): convert outer join to inner join
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  tests/logictest/suites/crdb/join
Labels: pr-feature

#8033 refactor(mark join): no need to init_markers in RightMark.
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  tests/logictest/suites/crdb/join
Labels: pr-refactor

#8039 fix(ci): update mysql.connector version
  tests/logictest/Dockerfile
  tests/logictest/README.md
  tests/logictest/requirements.txt
Labels: pr-bugfix

#8043 fix(ci): update dockerfile
  tests/logictest/Dockerfile
Labels: pr-bugfix

#8047 fix: Build failure on newer versions of protoc
  Cargo.lock
  src/meta/protos/Cargo.toml
  src/meta/protos/build.rs
Labels: pr-bugfix

#8045 fix: `only_null` for nullable column should return false when column is empty
  src/query/datavalues/src/columns/nullable/mod.rs
  src/query/datavalues/src/scalars/viewer.rs
  tests/logictest/suites/base/15_query/functions/cast.test
  tests/logictest/suites/base/15_query/select.test
Labels: pr-bugfix

#8044 feat: Add shared layer to read data from sharing endpoint
  Cargo.lock
  Cargo.toml
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sharing/src/lib.rs
  src/query/sharing/src/signer.rs
Labels: pr-feature

#7893 feat: parallel bloom index pruning
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/runtime.rs
  src/common/base/src/lib.rs
  src/common/base/tests/it/runtime.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/storages/fuse/src/io/read/meta_readers.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/pruning/range_pruner.rs
  src/query/storages/util/Cargo.toml
  src/query/storages/util/src/cached_reader.rs
  src/query/storages/util/src/file_meta_data_reader.rs
Labels: pr-feature

#8050 refactor(meta/service): structured snapshot id
  src/meta/raft-store/src/state_machine/mod.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/snapshot.rs
  src/meta/raft-store/src/state_machine/snapshot_id.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/src/store/store_bare.rs
Labels: pr-refactor

#8052 feat(meta/service): cleanup replication to learner when a node leaves the cluster
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-feature

#8054 feat: Bump OpenDAL to 0.19 for new features
  Cargo.lock
  src/common/contexts/Cargo.toml
  src/common/contexts/src/dal/dal_context.rs
  src/common/contexts/src/dal/dal_runtime.rs
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sharing/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/Cargo.toml
  src/query/storages/preludes/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/streams/Cargo.toml
Labels: pr-feature

#8041 feat(http_handler): return query id and state headers .
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-feature

#7972 feat(query): migrate variant func to func-v2
  src/common/jsonb/src/error.rs
  src/common/jsonb/src/from.rs
  src/common/jsonb/src/functions.rs
  src/common/jsonb/src/parser.rs
  src/common/jsonb/src/value.rs
  src/common/jsonb/tests/it/functions.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
  src/query/functions-v2/tests/it/scalars/variant.rs
Labels: pr-feature

#8057 feat(ci): update dev setup tools
  scripts/setup/dev_setup.sh
Labels: pr-feature

#7940 chore(ci): try to upload checksums
  .github/workflows/databend-release.yml
Labels: pr-chore

#8061 chore: tidy up method names of table trait
  src/query/catalog/src/table.rs
  src/query/service/src/api/http/v1/logs.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/storages/result/download.rs
  src/query/service/src/storages/result/result_table.rs
  src/query/service/src/storages/stage/stage_table.rs
  src/query/service/src/storages/storage_table_read_wrap.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/numbers_table.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/service/tests/it/storages/memory.rs
  src/query/service/tests/it/storages/null.rs
  src/query/service/tests/it/storages/result/result_table.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/table_functions/numbers_table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/table_functions/clustering_informations/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/preludes/src/memory/memory_table.rs
  src/query/storages/preludes/src/null/null_table.rs
  src/query/storages/preludes/src/random/random_table.rs
  src/query/storages/preludes/src/system/log_queue.rs
  src/query/storages/preludes/src/system/table.rs
  src/query/storages/preludes/src/system/tracing_table.rs
Labels: pr-chore

#8060 feat(ci): update dev setup tools, remove poetry
  scripts/setup/dev_setup.sh
  tests/logictest/README.md
  tests/poetry.lock
  tests/pyproject.toml
Labels: pr-feature

#8066 feat: support COPY INTO from oss backend
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/location.rs
  src/common/storage/src/operator.rs
  src/common/storage/tests/location.rs
Labels: pr-feature

#8070 fix: S3 operator's security_token is not set
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#8071 docs: fix typo in token docs
  docs/doc/21-load-data/01-s3.md
Labels: pr-doc

#8072 chore(format): fix error msg about unsupported input formats.
  src/meta/types/src/user_stage.rs
Labels: pr-chore

#8085 chore(meta/error): remove MetaStorageResult; use Result<, MetaStorageError>;
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/types/src/errors/meta_storage_errors.rs
  src/meta/types/src/lib.rs
Labels: pr-chore

#8086 chore: brew install coreutils to get sha256sum command
  .github/workflows/databend-release.yml
Labels: pr-chore

#8076 feat: try get segments parallel
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/storages/fuse/src/fuse_segment.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: pr-feature

#8083 fix: right semi join returns wrong answer
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
Labels: pr-bugfix

#8036 chore(tests): Revert ignored handshake timeout test
  src/meta/client/tests/it/grpc_client.rs
  src/meta/client/tests/it/grpc_server.rs
Labels: pr-chore

#8092 fix(clickhouse_handler): wrong slice end in gen_batches().
  src/query/service/src/servers/http/clickhouse_handler.rs
Labels: pr-bugfix

#8087 chore: try to fast the compact&purge
  src/query/storages/fuse/src/fuse_segment.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/compact_mutator.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: pr-chore

#8079 feat: oss backend support
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/protos/proto/config.proto
  src/meta/protos/proto/user.proto
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
Labels: pr-feature

#8064 feat(optimizer): convert mark join to semi join
  src/query/service/src/sql/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/service/src/sql/planner/plans/logical_join.rs
  tests/logictest/suites/base/15_query/subquery.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/mark.test
Labels: pr-feature

#8096 docs(tpch): add prefix 'format_' for settings used in streaming_load.
  website/blog/2022-08-08-benchmark-tpc-h.md
Labels: pr-doc

#8097 feat(query): ignore deprecated setting apply
  Cargo.lock
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
Labels: pr-feature

#8037 fix(processor): support interrupt join build side
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/sinks/src/processors/sinks/sync_sink.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_semi_anti_join.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-bugfix

#8102 chore(pipeline): append message "while in processor thread" only in Trace level
  src/query/service/src/pipelines/executor/pipeline_executor.rs
Labels: pr-chore

#8051 feat(expression): numeric/string can cast to boolean when it's in filter
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/parser.rs
  src/query/expression/tests/it/testdata/kernel-pass.txt
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/tests/it/scalars/arithmetic.rs
  src/query/functions-v2/tests/it/scalars/testdata/arithmetic.txt
Labels: pr-feature

#8080 feat(planner): Top-down optimization
  src/query/service/src/sql/planner/optimizer/cascades/cascade.rs
  src/query/service/src/sql/planner/optimizer/cascades/mod.rs
  src/query/service/src/sql/planner/optimizer/cascades/scheduler.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/explore_group.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/implement_expr.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/implement_group.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/mod.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/optimize_expr.rs
  src/query/service/src/sql/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/service/src/sql/planner/optimizer/group.rs
  src/query/service/src/sql/planner/optimizer/heuristic/heuristic.rs
  src/query/service/src/sql/planner/optimizer/heuristic/implement.rs
  src/query/service/src/sql/planner/optimizer/m_expr.rs
  src/query/service/src/sql/planner/optimizer/memo.rs
  src/query/service/src/sql/planner/optimizer/rule/mod.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_merge_filter.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_split_aggregate.rs
  src/query/service/src/sql/planner/optimizer/rule/rule.rs
  src/query/service/src/sql/planner/optimizer/rule/rule_implement_get.rs
  src/query/service/src/sql/planner/optimizer/rule/rule_implement_hash_join.rs
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/service/src/sql/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/service/src/sql/planner/optimizer/rule/transform_result.rs
Labels: pr-feature

#8110 fix(query): fix variant memory test
  src/query/datavalues/tests/it/variant_value.rs
Labels: pr-bugfix

#8093 fix(function-v2): fix concat_ws
  src/query/expression/src/types/timestamp.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-bugfix

#8112 docs: load from local
  docs/doc/21-load-data/00-local.md
Labels: pr-doc

#8109 docs: time travel blog
  website/blog/2022-10-10-time-travel.md
  website/static/img/blog/timetravel.png
Labels: pr-doc

#8111 fix(expression): properly repeat Scalar::Null to column
  src/query/expression/src/chunk.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/display.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/expression.rs
  src/query/expression/tests/it/kernel.rs
  src/query/functions-v2/tests/it/aggregates/mod.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
Labels: pr-bugfix

#8095 chore(sql): refactor debug assert in parse_stage_location_v2
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/sql/planner/binder/copy.rs
Labels: pr-chore

#8058 feat(query): support `Date` and `Interval` in new expression framework
  src/query/expression/src/column_from.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/date_converter.rs
  src/query/expression/src/display.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/property.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/interval.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions-v2/src/aggregates/aggregate_min_max_any.rs
  src/query/functions-v2/src/aggregates/aggregate_scalar_state.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/cast.rs
  src/query/functions-v2/tests/it/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
Labels: pr-feature

#8119 feat(log): Add query_start_time and query_duration to query log
  src/query/service/src/interpreters/interpreter_query_log.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/storages/preludes/src/system/query_log_table.rs
Labels: pr-feature

#8106 feat(rbac): Add builtin PUBLIC role
  src/query/users/src/role_mgr.rs
  src/query/users/src/role_util.rs
  tests/logictest/suites/base/06_show/06_0007_show_roles
  tests/logictest/suites/base/06_show/06_0007_show_roles_v2
Labels: pr-feature

#8113 fix: Using table owned dal operator instead of get from query context
  Cargo.lock
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/storages/fuse/src/fuse_segment.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/bloom_index_reader.rs
  src/query/storages/fuse/src/io/read/meta_readers.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/read.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/truncate.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/table_functions/clustering_informations/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/hive/Cargo.toml
  src/query/storages/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/hive/src/hive_table_source.rs
  src/query/storages/util/Cargo.toml
  src/query/storages/util/src/cached_reader.rs
  src/query/storages/util/src/file_meta_data_reader.rs
Labels: pr-bugfix

#8126 fix(parser): fix version()
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/service/tests/it/servers/mysql/mysql_federated.rs
Labels: pr-bugfix

#8135 feat: Add role_arn and external_id support for aws s3
  Cargo.lock
  src/common/storage/src/config.rs
  src/common/storage/src/location.rs
  src/common/storage/src/operator.rs
  src/common/storage/tests/location.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/protos/proto/config.proto
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
Labels: pr-feature

#8132 chore(unload): update max_file_size from 5G to 64M.
  src/query/service/src/interpreters/fragments/v2/fragmenter.rs
  src/query/service/src/interpreters/fragments/v2/plan_fragment.rs
  src/query/service/src/storages/stage/stage_table_sink.rs
Labels: pr-chore

#8098 chore: try to fast read_snapshot
  Cargo.lock
  src/query/service/src/procedures/systems/fuse_snapshot.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_snapshot_table.rs
  src/query/storages/fuse-meta/src/meta/current/mod.rs
  src/query/storages/fuse-meta/src/meta/v1/mod.rs
  src/query/storages/fuse-meta/src/meta/v1/snapshot.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_snapshot.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
Labels: pr-chore

#8122 fix(query): fix variant get ignore case
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get_ignore_case.md
  src/query/datavalues/src/variant_value.rs
  src/query/functions/src/lib.rs
  src/query/functions/src/scalars/semi_structureds/get.rs
  src/query/functions/tests/it/scalars/semi_structureds/get.rs
  tests/logictest/suites/base/02_function/02_0051_function_semi_structureds_get
Labels: pr-bugfix

#8142 docs: presign updates
  docs/doc/21-load-data/00-local.md
  docs/doc/30-reference/30-sql/00-ddl/80-presign/presign.md
Labels: pr-doc

#8137 feat(query): add take_chunks kernel
  src/query/expression/src/kernels/mod.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/types/number.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/testdata/kernel-pass.txt
Labels: pr-feature

#8143 docs: unload copyoptions
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-location.md
Labels: pr-doc

#8141 refactor(error): move error context support to common/exception
  Cargo.lock
  src/common/exception/src/lib.rs
  src/common/exception/src/with_context.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/sled_tree.rs
  src/meta/types/src/errors/meta_storage_errors.rs
  src/meta/types/src/lib.rs
Labels: pr-refactor

#8145 chore(test): uncomment skip test
  scripts/ci/ci-run-stateful-tests-cluster-s3.sh
Labels: pr-chore

#8146 chore(test): remove useless bench code
  src/query/service/Cargo.toml
  src/query/service/benches/bench_main.rs
  src/query/service/benches/suites/bench_aggregate_query_sql.rs
  src/query/service/benches/suites/bench_filter_query_sql.rs
  src/query/service/benches/suites/bench_limit_query_sql.rs
  src/query/service/benches/suites/bench_sort_query_sql.rs
  src/query/service/benches/suites/mod.rs
Labels: pr-chore

#8140 chore(meta): extend timeout to make slow CI happy:(
  src/meta/api/src/kv_api_test_suite.rs
Labels: pr-chore

#8156 chore: Add editorconfig for databend
  .editorconfig
  .licenserc.yaml
Labels: pr-chore

#8152 feat: table column statistics api
  src/query/catalog/src/table.rs
  src/query/service/src/sql/planner/binder/table.rs
  src/query/service/src/table_functions/numbers_table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/preludes/src/system/tables_table.rs
Labels: pr-feature

#8158 chore: try to reduce the snapshot read memory
  src/query/storages/fuse-meta/src/meta/v1/snapshot.rs
  src/query/storages/fuse/src/fuse_snapshot.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-chore

#8164 fix: x-oss-security-token not set correctly
  Cargo.lock
Labels: pr-bugfix

#8161 refactor(meta/errors): move MetaStorageError to a standalone crate
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/binaries/metactl/snapshot.rs
  src/meta/api/Cargo.toml
  src/meta/api/src/util.rs
  src/meta/embedded/Cargo.toml
  src/meta/embedded/src/meta_embedded.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/raft-store/src/state/raft_state_kv.rs
  src/meta/raft-store/src/state_machine/log_meta.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/snapshot_id.rs
  src/meta/raft-store/src/state_machine/state_machine_meta.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/export.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/src/store/to_storage_error.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/sled_key_space.rs
  src/meta/sled-store/src/sled_serde.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
  src/meta/stoerr/Cargo.toml
  src/meta/stoerr/src/lib.rs
  src/meta/stoerr/src/meta_bytes_error.rs
  src/meta/stoerr/src/meta_storage_errors.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/errors/kv_app_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/errors/meta_startup_errors.rs
  src/meta/types/src/errors/mod.rs
  src/meta/types/src/lib.rs
Labels: pr-refactor

#8166 refactor: Remove not used disk cache
  Cargo.lock
  src/common/cache/Cargo.toml
  src/common/cache/src/disk_cache.rs
  src/common/cache/src/lib.rs
  src/common/cache/tests/it/disk_cache.rs
  src/common/cache/tests/it/main.rs
Labels: pr-refactor

#8148 chore(ci): get pre release
  .github/workflows/databend-release.yml
Labels: pr-chore

#8154 refactor(query): remove precision in timestamp type
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/20-functions/60-conversion-functions/type_conversion.md
  docs/doc/30-reference/30-sql/70-system-tables/system-columns.md
  docs/doc/30-reference/30-sql/70-system-tables/system-query-log.md
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/datatype.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/protos/proto/datatype.proto
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/datablocks/tests/it/data_block.rs
  src/query/datavalues/src/types/data_type.rs
  src/query/datavalues/src/types/deserializations/timestamp.rs
  src/query/datavalues/src/types/eq.rs
  src/query/datavalues/src/types/serializations/timestamp.rs
  src/query/datavalues/src/types/type_coercion.rs
  src/query/datavalues/src/types/type_factory.rs
  src/query/datavalues/src/types/type_timestamp.rs
  src/query/datavalues/src/types/type_traits.rs
  src/query/datavalues/tests/it/types/create_column.rs
  src/query/datavalues/tests/it/types/serializations/mod.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/tests/it/convert.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions/src/scalars/dates/date.rs
  src/query/functions/src/scalars/dates/interval_function.rs
  src/query/functions/src/scalars/dates/now.rs
  src/query/functions/src/scalars/dates/number_function.rs
  src/query/functions/src/scalars/dates/round_function.rs
  src/query/functions/src/scalars/expressions/cast_from_datetimes.rs
  src/query/functions/src/scalars/expressions/ctx.rs
  src/query/functions/tests/it/aggregates/aggregate_function.rs
  src/query/functions/tests/it/scalars/arithmetics.rs
  src/query/functions/tests/it/scalars/dates/date.rs
  src/query/functions/tests/it/scalars/dates/date_function.rs
  src/query/functions/tests/it/scalars/dates/interval_function.rs
  src/query/functions/tests/it/scalars/expressions.rs
  src/query/functions/tests/it/scalars/others/running_difference.rs
  src/query/legacy-expression/tests/it/monotonicity.rs
  src/query/legacy-parser/src/sql_common.rs
  src/query/service/src/sql/planner/binder/table.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/storages/fuse-meta/src/meta/v1/snapshot.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/hive/src/converters.rs
  src/query/storages/preludes/src/system/clustering_history_table.rs
  src/query/storages/preludes/src/system/query_log_table.rs
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/02_function/02_0012_function_datetimes_tz
  tests/logictest/suites/base/05_ddl/05_0000_ddl_create_tables
  website/blog/2022-09-14-json-datatype.md
Labels: pr-refactor

#8169 feat(query): migrate array func to func-v2
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/register.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
Labels: pr-feature

#8177 fix: undrop not working as expected if table is dropped by using "drop table t all"
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/memory.rs
  src/query/service/tests/it/storages/null.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/preludes/src/null/null_table.rs
  tests/logictest/suites/base/12_time_travel/12_0003_time_travel_undrop
Labels: pr-bugfix

#8173 refactor(planner): Refactor hash join
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/cross_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_semi_anti_join.rs
Labels: pr-refactor

#8182 feat: Bump to opendal to 0.19.2
  Cargo.lock
Labels: pr-feature

#8172 feat(meta/sled): introduce SledBytesError
  Cargo.lock
  src/meta/raft-store/src/state/raft_state_kv.rs
  src/meta/raft-store/src/state_machine/log_meta.rs
  src/meta/raft-store/src/state_machine/state_machine_meta.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/bytes_error.rs
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_key_space.rs
  src/meta/sled-store/src/sled_serde.rs
  src/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
Labels: pr-feature

#8150 feat: add share table meta info
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/table.rs
  src/query/service/src/storages/system/clusters_table.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/numbers_table.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/service/tests/it/storages/memory.rs
  src/query/service/tests/it/storages/null.rs
  src/query/storages/fuse/src/table_functions/clustering_informations/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/hive/src/converters.rs
  src/query/storages/preludes/src/information_schema/columns_table.rs
  src/query/storages/preludes/src/information_schema/keywords_table.rs
  src/query/storages/preludes/src/information_schema/schemata_table.rs
  src/query/storages/preludes/src/information_schema/tables_table.rs
  src/query/storages/preludes/src/information_schema/views_table.rs
  src/query/storages/preludes/src/system/columns_table.rs
  src/query/storages/preludes/src/system/configs_table.rs
  src/query/storages/preludes/src/system/contributors_table.rs
  src/query/storages/preludes/src/system/credits_table.rs
  src/query/storages/preludes/src/system/databases_table.rs
  src/query/storages/preludes/src/system/engines_table.rs
  src/query/storages/preludes/src/system/functions_table.rs
  src/query/storages/preludes/src/system/log_queue.rs
  src/query/storages/preludes/src/system/metrics_table.rs
  src/query/storages/preludes/src/system/one_table.rs
  src/query/storages/preludes/src/system/processes_table.rs
  src/query/storages/preludes/src/system/roles_table.rs
  src/query/storages/preludes/src/system/settings_table.rs
  src/query/storages/preludes/src/system/stages_table.rs
  src/query/storages/preludes/src/system/tables_table.rs
  src/query/storages/preludes/src/system/tracing_table.rs
  src/query/storages/preludes/src/system/users_table.rs
Labels: pr-feature

#8147 feat(query): support cast between date/timestamp and string.
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/column_from.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/display.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/property.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/cast.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
Labels: pr-feature

#8176 refactor(meta/sled): remove unused methods from SledTree
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/tests/it/log.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/tests/it/store.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/sled-store/tests/it/sled_tree.rs
Labels: pr-refactor

#8186 chore(meta): adjust log level for last_applied_state & get_log_state
  src/meta/service/src/store/store_bare.rs
Labels: pr-chore

#8187 chore(test): skip tpch q4 in cluster mode
  scripts/ci/ci-run-stateless-tests-cluster.sh
Labels: pr-chore

#8192 fix: Write could panic during retry
  Cargo.lock
Labels: pr-bugfix

#8190 refactor(meta/sled): merge method `append()` and `append_values()`
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_serde.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/sled-store/tests/it/sled_tree.rs
Labels: pr-refactor

#8201 feat: add limit push down to fuse_snapshot
  src/query/service/src/procedures/systems/fuse_snapshot.rs
  src/query/service/tests/it/storages/fuse/operations/purge_drop.rs
  src/query/service/tests/it/storages/fuse/operations/purge_truncate.rs
  src/query/storages/fuse/src/fuse_file.rs
  src/query/storages/fuse/src/fuse_snapshot.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
Labels: pr-feature

#8199 feat(query): parallel read of ndjson in copy.
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/pipeline/sources/src/processors/sources/input_formats/beyond_end_reader.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_pipeline.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_split.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/mod.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/source_aligner.rs
  src/query/pipeline/sources/tests/it/main.rs
  src/query/pipeline/sources/tests/it/processors/mod.rs
  src/query/pipeline/sources/tests/it/processors/sources/input_formats/mod.rs
  src/query/pipeline/sources/tests/it/processors/sources/input_formats/split.rs
  src/query/pipeline/sources/tests/it/processors/sources/mod.rs
  src/query/service/src/sql/planner/binder/copy.rs
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/06_show/06_0011_show_stages
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
Labels: pr-feature

#8203 refactor(meta/sled): simplify SledTree APIs
  src/meta/service/src/store/store_bare.rs
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/sled-store/tests/it/sled_tree.rs
  src/meta/sled-store/tests/it/sled_txn_tree.rs
Labels: pr-refactor

#8120 chore(hive): add more logs to debug
  src/query/storages/hive/src/hive_table.rs
Labels: pr-chore

#8165 fix(processor): support abort for semi or anti join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
Labels: pr-bugfix

#8214 feat(expr): add util::eval_function(), a shortcut to call scalar fucntion
  src/query/expression/src/util.rs
Labels: pr-feature

#8204 feat(planner): optimize right join
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
Labels: pr-feature

#8225 chore(storage/index): add benchmark
  Cargo.lock
  src/query/storages/index/Cargo.toml
  src/query/storages/index/benches/build_from_block.rs
Labels: pr-chore

#8226 fix: dead lock caused by incorrect semaphore permit control
  src/common/base/src/base/runtime.rs
  src/common/base/tests/it/runtime.rs
  src/query/storages/fuse/src/fuse_file.rs
  src/query/storages/fuse/src/fuse_segment.rs
  src/query/storages/fuse/src/fuse_snapshot.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
Labels: pr-bugfix

#8222 feat(query): jsonb functions support json string
  src/common/jsonb/src/constants.rs
  src/common/jsonb/src/functions.rs
  src/common/jsonb/src/parser.rs
  src/common/jsonb/src/value.rs
  src/common/jsonb/tests/it/functions.rs
  src/query/expression/src/display.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
Labels: pr-feature

#8236 feat: add time to show processlist for the session elapsed how many seconds
  docs/doc/30-reference/30-sql/40-show/show-processlist.md
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/storages/preludes/src/system/processes_table.rs
  tests/logictest/suites/base/01_system/01_0009_system_processes
Labels: pr-feature

#8232 chore(docs): improve docs of date & timestamp.
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/20-functions/30-datetime-functions/addinterval.md
  docs/doc/30-reference/20-functions/30-datetime-functions/dateadd.md
  docs/doc/30-reference/20-functions/30-datetime-functions/datesub.md
  docs/doc/30-reference/20-functions/30-datetime-functions/datetrunc.md
  docs/doc/30-reference/20-functions/30-datetime-functions/subtractinterval.md
  docs/doc/30-reference/20-functions/30-datetime-functions/timeslot.md
  docs/doc/30-reference/20-functions/30-datetime-functions/toMonth.md
  docs/doc/30-reference/20-functions/30-datetime-functions/todatetime.md
  docs/doc/30-reference/20-functions/30-datetime-functions/todayofmonth.md
  docs/doc/30-reference/20-functions/30-datetime-functions/todayofweek.md
  docs/doc/30-reference/20-functions/30-datetime-functions/todayofyear.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tohour.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tominute.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tomonday.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tosecond.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofday.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartoffifteenminutes.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartoffiveminutes.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofhour.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofisoyear.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofminute.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofmonth.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofquarter.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofsecond.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartoftenminutes.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofweek.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofyear.md
  docs/doc/30-reference/20-functions/30-datetime-functions/totimestamp.md
  docs/doc/30-reference/20-functions/30-datetime-functions/toyear.md
  docs/doc/30-reference/20-functions/30-datetime-functions/toyyyymm.md
  docs/doc/30-reference/20-functions/30-datetime-functions/toyyyymmdd.md
  docs/doc/30-reference/20-functions/30-datetime-functions/toyyyymmddhhmmss.md
  docs/doc/30-reference/20-functions/60-conversion-functions/type_conversion.md
  docs/doc/30-reference/30-sql/70-system-tables/system-functions.md
  src/query/functions/src/scalars/dates/date.rs
  tests/logictest/suites/base/06_show/06_0005_show_functions
  tests/logictest/suites/base/06_show/06_0005_show_functions_v2
Labels: pr-chore

#8239 fix: Make sure check is called inside global io runtime
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#8240 feat(storage): Enable DNS Cache for opendal
  Cargo.lock
Labels: pr-feature

#8242 fix(sessions): fix dead lock when force kill sessions
  src/query/service/src/sessions/session_mgr.rs
Labels: pr-bugfix

#8202 feat(query): implement arithmetic functions for `Date` and `Timestamp`.
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/date_converter.rs
  src/query/expression/src/date_helper.rs
  src/query/expression/src/display.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/property.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/interval.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/convert.rs
  src/query/functions-v2/src/aggregates/aggregate_scalar_state.rs
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
  src/query/service/src/sql/planner/semantic/type_check.rs
Labels: pr-feature

#8194 chore(dep): replace md5 with md-5
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/hashes/md5hash.rs
Labels: pr-chore

#8198 feat: add share table query
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/common/exception/src/exception_into.rs
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sharing/src/lib.rs
  src/query/sharing/src/signer.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-feature

#8251 chore: change log level to warn for io retry
  Cargo.lock
  src/query/pipeline/sources/src/processors/sources/input_formats/transform_deserializer.rs
  src/query/service/src/storages/result/writer.rs
  src/query/service/src/storages/stage/stage_table_sink.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
Labels: pr-chore

#8249 fix(processor): support abort for right mark join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: pr-bugfix

#8259 feat(query): migrate real time functions to v2.
  docs/doc/30-reference/20-functions/30-datetime-functions/now.md
  src/query/expression/src/date_helper.rs
  src/query/functions-v2/src/scalars/datetime.rs
Labels: pr-feature

#8256 chore: add more debug log to measure the time cost
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/read.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-chore

#8257 feat(query): migrate date to number functions to v2.
  src/query/expression/src/date_helper.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
Labels: pr-feature

#8262 chore: refine the fuse io files
  src/query/storages/fuse/src/io/files.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/compact_mutator.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-chore

#8245 fix(processor): support abort for left join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
Labels: pr-bugfix

#8266 docs: purge tips
  docs/doc/30-reference/30-sql/00-ddl/20-table/60-optimize-table.md
Labels: pr-doc

#8254 feat(meta/schema_api): add API list_all_tables
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-feature

#8265 docs: joins
  docs/doc/30-reference/30-sql/20-query-syntax/dml-join.md
Labels: pr-doc

#8275 refactor(expression): fix scalar repeat
  src/query/expression/src/values.rs
  src/query/expression/tests/it/convert.rs
Labels: pr-refactor

#8268 feat(http handler): return error when download result of a running query
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#8220 feat(query): optimize StringSearchLike vector_const
  src/query/functions/src/scalars/comparisons/comparison_like.rs
Labels: pr-feature

#8272 fix: Query version is incorrect
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/query/main.rs
  src/query/config/Cargo.toml
  src/query/config/build.rs
  src/query/config/src/outer_v0.rs
  src/query/service/src/api/http_service.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/packets/packet.rs
  src/query/service/src/api/rpc/packets/packet_execute.rs
  src/query/service/src/api/rpc/packets/packet_executor.rs
  src/query/service/src/api/rpc/packets/packet_publisher.rs
  src/query/service/src/api/rpc_service.rs
  src/query/service/src/auth.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/config/mod.rs
  src/query/service/src/databases/database_factory.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/lib.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/storages/storage_factory.rs
  src/query/service/src/version.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/service/tests/it/tests/config.rs
  src/query/service/tests/it/tests/context.rs
  src/query/service/tests/it/tests/sessions.rs
  src/query/service/tests/it/version.rs
Labels: pr-bugfix

#8283 ci: add ulimit nofile for sqllogic test
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
Labels: pr-build

#8286 chore: output block file size
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
Labels: pr-chore

#8248 fix(processor): support abort for left mark join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: pr-bugfix

#8289 fix: Query startup too slow for reqsign retry
  Cargo.lock
Labels: pr-bugfix

#8294 fix: failed to release the permits on time in the block pruner
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  tests/logictest/http_connector.py
  tests/logictest/logictest.py
Labels: pr-bugfix

#8293 refactor(query): improve comparison number with string
  src/query/functions/src/scalars/comparisons/comparison.rs
Labels: pr-refactor

#8288 fix(meta): import: AsKeySpace::clear() should not entire sled tree
  .github/actions/test_metactl/action.yml
  src/binaries/metactl/snapshot.rs
  src/meta/sled-store/src/sled_tree.rs
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-bugfix

#8295 refactor(meta/service): enable tracing log for databend-meta
  src/binaries/meta/main.rs
  src/binaries/metactl/main.rs
  src/common/tracing/src/logging.rs
  src/meta/raft-store/tests/it/testing.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/lib.rs
  src/meta/service/src/logging.rs
  src/meta/service/tests/it/api/http/cluster_state_test.rs
  src/meta/service/tests/it/api/http/metrics.rs
  src/meta/service/tests/it/api/http_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_get_client_info.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_handshake.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_schema_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_schema_api_follower_follower.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_schema_api_leader_follower.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/meta_node/meta_node_request_forwarding.rs
  src/meta/service/tests/it/meta_node/meta_node_seq_api.rs
  src/meta/service/tests/it/store.rs
  src/meta/service/tests/it/tests/mod.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/sled-store/tests/it/testing/mod.rs
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-refactor

#8291 refactor(optimizer): use `match` to replace `if else`
  src/query/service/src/sql/planner/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
Labels: pr-feature, pr-refactor

#8205 fix(storage): support mutation during insertion
  src/query/catalog/src/table_mutator.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/mod.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_block_table.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_snapshot_table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/abort_operation.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
Labels: pr-bugfix

#8282 refactor: optimize get/upsert copied file info
  src/query/service/src/interpreters/interpreter_copy_v2.rs
Labels: pr-refactor

#8280 feat(query): modify function-v2 comparison like
  src/query/functions-v2/src/scalars/comparison.rs
Labels: pr-feature

#8287 chore: check ulimit in sqllogic test
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
Labels: pr-chore

#8302 chore: refine the fuse read codes
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-chore

#8298 refactor(meta/service): try best to leave a cluster
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-refactor

#8305 feat: add_source and add_sink to pipeline to simple the usage
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/preludes/src/null/null_table.rs
Labels: pr-feature

#8310 chore: add fuse_block output row_count
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
Labels: pr-chore

#8309 fix(planner): Fix aggregation in cluster mode
  src/query/service/src/sql/planner/optimizer/property/property.rs
  src/query/service/src/sql/planner/plans/aggregate.rs
  tests/logictest/suites/base/15_query/aggregate.test
Labels: pr-bugfix

#8299 feat(http handler): no longer need to call `final_uri` explicitly.
  docs/doc/30-reference/00-api/00-rest.md
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/logictest/http_connector.py
  tests/logictest/http_runner.py
  tests/logictest/suites/mode/standalone/explain/join_reorder/chain.test
Labels: pr-feature

#8313 chore: change Source/SinkPipeBuilder::create() to pipeline.add_source/sink
  src/query/pipeline/sources/src/processors/sources/input_formats/input_pipeline.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/interpreters/async_insert_queue_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/storages/result/result_table.rs
  src/query/service/src/storages/stage/stage_table.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/preludes/src/memory/memory_table.rs
  src/query/storages/preludes/src/system/log_queue.rs
Labels: pr-chore

#8307 fix: Copy Version mismatch bug
  src/meta/api/src/schema_api_impl.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
Labels: pr-bugfix

#8314 refactor: Rename to data operator to make space for cache
  Cargo.lock
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table_context.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_share_alter_tenants.rs
  src/query/service/src/interpreters/interpreter_share_create.rs
  src/query/service/src/interpreters/interpreter_share_drop.rs
  src/query/service/src/interpreters/interpreter_share_grant_object.rs
  src/query/service/src/interpreters/interpreter_share_revoke_object.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
  src/query/service/src/storages/result/block_buffer.rs
  src/query/service/src/storages/result/result_table.rs
  src/query/service/src/storages/result/result_table_sink.rs
  src/query/service/src/storages/result/writer.rs
  src/query/service/src/storages/stage/stage_table.rs
  src/query/service/tests/it/sessions/query_ctx.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/tests/sessions.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/hive/src/hive_table.rs
Labels: pr-refactor

#8255 rfc: Multiple Catalog
  docs/doc/60-contributing/03-rfcs/20221017-multiple-catalog.md
Labels: pr-rfc

#8308 refactor(meta/service): merge two to-meta-server rpc into one
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/lib.rs
  src/meta/client/tests/it/grpc_server.rs
Labels: pr-refactor

#8319 fix(processor): try fix data lost when resize multi outputs
  src/query/pipeline/core/src/processors/resize_processor.rs
  src/query/service/tests/it/pipelines/processors/resize.rs
Labels: pr-bugfix
