Repository databendlabs/databend, pull requests merged in 2022-04, with the labels that each got.

#4647 Remove ineffectual assignments
  query/src/pipelines/new/processors/resize_processor.rs
Labels: pr-improvement, need-review

#4649 NullSource should return one data block?
  query/src/storages/null/null_table.rs
Labels: pr-improvement, need-review

#4656 fix(datetime): fix wrong datetime64 comparision and cast
  common/datavalues/src/types/date_converter.rs
  common/datavalues/src/types/type_datetime64.rs
  common/datavalues/src/types/type_factory.rs
  common/functions/src/scalars/expressions/cast_from_datetimes.rs
  common/functions/src/scalars/expressions/cast_from_string.rs
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
Labels: pr-bugfix, need-review

#4658 chore(doc): refine the readme
  README.md
  docs/doc/00-about/index.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4660 chore(doc): about -> overview
  README.md
  docs/doc/00-about/_category_.yml
  docs/doc/00-overview/_category_.yml
  docs/doc/00-overview/index.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4655 [Cloud] keep environment variable immutable during reload
  query/src/sessions/session_mgr.rs
Labels: pr-bugfix, need-review

#4608 Feature: add state machine range and subscribe API
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-feature, need-review

#4661 doc: fix broken link
  README.md
  docs/doc/00-overview/index.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/pages/index.tsx
  website/yarn.lock
Labels: pr-doc-fix, need-review

#4663 chore(doc): update binary to musl for deploy
  docs/doc/01-deploy/00-local.md
  docs/doc/01-deploy/01-s3.md
  docs/doc/01-deploy/02-cos.md
  docs/doc/01-deploy/03-oss.md
  docs/doc/01-deploy/04-minio.md
  docs/doc/01-deploy/05-wasabi.md
  docs/doc/01-deploy/06-scw.md
  docs/doc/08-releases/v0.7.0.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4644 Refactor User/Role identity
  common/management/src/role/role_api.rs
  common/management/src/role/role_mgr.rs
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/tests/it/user.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/principal_identity.rs
  common/meta/types/src/role_identity.rs
  common/meta/types/src/role_info.rs
  common/meta/types/src/user_grant.rs
  common/meta/types/src/user_identity.rs
  common/meta/types/tests/it/user_grant.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_role_create.rs
  common/planners/src/plan_role_drop.rs
  common/planners/src/plan_role_grant.rs
  common/planners/src/plan_role_revoke.rs
  common/planners/src/plan_user_alter.rs
  common/planners/src/plan_user_create.rs
  common/planners/src/plan_user_drop.rs
  query/src/interpreters/interpreter_privilege_grant.rs
  query/src/interpreters/interpreter_privilege_revoke.rs
  query/src/interpreters/interpreter_role_create.rs
  query/src/interpreters/interpreter_role_drop.rs
  query/src/interpreters/interpreter_role_grant.rs
  query/src/interpreters/interpreter_role_revoke.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/interpreters/interpreter_user_drop.rs
  query/src/procedures/admins/bootstrap_tenant.rs
  query/src/sql/parsers/parser_user.rs
  query/src/sql/statements/statement_alter_user.rs
  query/src/sql/statements/statement_create_role.rs
  query/src/sql/statements/statement_create_user.rs
  query/src/sql/statements/statement_drop_role.rs
  query/src/sql/statements/statement_drop_user.rs
  query/src/sql/statements/statement_grant.rs
  query/src/sql/statements/statement_revoke.rs
  query/src/users/auth/auth_mgr.rs
  query/src/users/role_cache_mgr.rs
  query/src/users/role_mgr.rs
  query/src/users/user_mgr.rs
  query/tests/it/api/http/status.rs
  query/tests/it/interpreters/interpreter_call.rs
  query/tests/it/interpreters/interpreter_privilege_grant.rs
  query/tests/it/interpreters/interpreter_privilege_revoke.rs
  query/tests/it/interpreters/interpreter_role_grant.rs
  query/tests/it/interpreters/interpreter_role_revoke.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/sql/parsers/parser_user.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/storages/system/roles_table.rs
  query/tests/it/tests/context.rs
  query/tests/it/users/role_cache_mgr.rs
  query/tests/it/users/role_mgr.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-improvement, need-review

#4677 ISSUE-4761: Hide table opt SNAPSHOT_LOC in `show create`
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/sql/table_option_keys.rs
  query/src/storages/fuse/constants.rs
  query/src/storages/fuse/fuse_history.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/io/read/meta_readers.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/truncate.rs
  query/tests/it/interpreters/interpreter_table_show_create.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/table_functions/fuse_history_table.rs
  scripts/build/build-k8s-runner.sh
  tests/suites/0_stateless/09_fuse_engine/09_0000_remote_create_table.sql
  tests/suites/0_stateless/09_fuse_engine/09_0011_create_table_with_opt_loc.sh
Labels: pr-improvement, pr-not-for-changelog, need-review

#4682 chore(doc): add vector integration and learn how to analyze nginx logs
  docs/doc/00-overview/index.md
  docs/doc/04-guides/_category_.yml
  docs/doc/04-integrations/00-vector.md
  docs/doc/04-integrations/_category_.json
  docs/doc/06-contributing/03-roadmap.md
  docs/doc/09-learn/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/09-learn/03-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, need-review

#4683 chore(doc): add more comments for nginx access logs analyzing
  docs/doc/09-learn/03-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, need-review

#4681 chore(ci): link with mold in build-tool
  .github/actions/build_debug/action.yml
  .github/actions/test_unit/action.yml
  docker/build-tool/debian/Dockerfile
  scripts/setup/cross_setup.sh
Labels: pr-build, need-review

#4678 deps: Bump to OpenDAL v0.4
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_runtime.rs
  common/datavalues/benches/builder.rs
  common/exception/Cargo.toml
  common/exception/src/exception_code.rs
  common/exception/src/exception_into.rs
  common/io/Cargo.toml
  common/io/src/files/file_s3.rs
  common/streams/Cargo.toml
  common/streams/tests/it/sources/source_csv.rs
  common/streams/tests/it/sources/source_parquet.rs
  query/Cargo.toml
  query/benches/suites/mod.rs
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/servers/http/v1/stage.rs
  query/src/sessions/session_mgr.rs
  query/src/storages/fuse/io/read/block_reader.rs
  query/src/storages/fuse/io/read/meta_readers.rs
  query/src/storages/fuse/io/read/versioned_reader.rs
  query/src/storages/fuse/io/write/block_writer.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/index/bloom_filter.rs
  query/src/storages/s3/s3_stage_source.rs
  query/tests/it/storages/fuse/io.rs
  tools/metactl/src/main.rs
Labels: pr-bugfix, pr-improvement, need-review

#4687 chore(doc): add in conditional function and subquery operator
  docs/doc/03-reference/02-functions/01-conditional-functions/in.md
  docs/doc/03-reference/03-sql/02-dml/_category_.json
  docs/doc/03-reference/03-sql/02-dml/_category_.yml
  docs/doc/03-reference/03-sql/03-query-syntax/_category_.json
  docs/doc/03-reference/03-sql/03-query-syntax/dml-select.md
  docs/doc/03-reference/03-sql/03-query/_category_.yml
  docs/doc/03-reference/03-sql/04-query-operators/_category_.json
  docs/doc/03-reference/03-sql/04-query-operators/operators-subquery.md
  docs/doc/03-reference/03-sql/04-show/_category_.json
  docs/doc/03-reference/03-sql/04-show/_category_.yml
  docs/doc/03-reference/03-sql/05-kill/_category_.json
  docs/doc/03-reference/03-sql/05-kill/_category_.yml
  docs/doc/03-reference/03-sql/06-list/_category_.json
  docs/doc/03-reference/03-sql/06-list/_category_.yml
  docs/doc/03-reference/03-sql/07-system-tables/_category_.json
  docs/doc/03-reference/03-sql/07-system-tables/_category_.yml
Labels: pr-doc-fix, need-review

#4690 chore(doc): add copy from named stage
  docs/doc/03-reference/00-api/00-rest.md
  docs/doc/03-reference/00-api/01-put-to-stage.md
  docs/doc/03-reference/03-sql/02-dml/dml-copy.md
Labels: pr-doc-fix, need-review

#4691 fix(ci): use specific toolchain tagged image
  .github/actions/build_debug/action.yml
  .github/actions/build_release/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/test_unit/action.yml
  .github/workflows/databend-release.yml
  .github/workflows/platform.yml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/debian/Dockerfile
  docs/doc/10-faq/02-routine-maintenance.md
  scripts/setup/run_build_tool.sh
  scripts/setup/rust-toolchain.toml
Labels: pr-not-for-changelog, need-review

#4689 *: routine maintenance
  Cargo.lock
  common/arrow/Cargo.toml
  common/ast/Cargo.toml
  common/base/Cargo.toml
  common/building/Cargo.toml
  common/containers/Cargo.toml
  common/contexts/Cargo.toml
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/grpc/Cargo.toml
  common/io/Cargo.toml
  common/macros/Cargo.toml
  common/management/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/grpc/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/metrics/Cargo.toml
  common/planners/Cargo.toml
  common/planners/src/plan_node_rewriter.rs
  common/streams/Cargo.toml
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
  metasrv/src/meta_service/meta_service_impl.rs
  query/Cargo.toml
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/github/github_table.rs
  query/src/storages/s3/s3_stage_source.rs
  query/src/storages/system/table.rs
  rust-toolchain.toml
  tools/metactl/Cargo.toml
Labels: pr-not-for-changelog, need-review

#4694 Update function_doc_asset.rs
  common/functions/src/rdoc/function_doc_asset.rs
  common/functions/tests/it/rdoc/function_doc_asset.rs
Labels: pr-bugfix, need-review

#4669 Feature: add range-map module
  Cargo.lock
  Cargo.toml
  common/range-set/Cargo.toml
  common/range-set/src/lib.rs
  common/range-set/src/range_key.rs
  common/range-set/src/range_set.rs
  common/range-set/tests/it/main.rs
  common/range-set/tests/it/range_key_test.rs
  common/range-set/tests/it/range_set_test.rs
Labels: pr-feature, need-review

#4696 feat(doc): add node.js to develop
  docs/doc/20-develop/00-golang.md
  docs/doc/20-develop/02-nodejs.md
Labels: pr-doc-fix, need-review

#4699 improve: make `in` into conditional func
  common/functions/src/scalars/conditionals/conditional.rs
  common/functions/src/scalars/conditionals/in_basic.rs
  common/functions/src/scalars/conditionals/mod.rs
  common/functions/src/scalars/others/mod.rs
  common/functions/src/scalars/others/other.rs
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.result
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#4704 feat(doc): add mysql/clickhouse handler api
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/10-cluster-minio.md
  docs/doc/10-deploy/11-cluster-k8s-minio.md
  docs/doc/20-develop/00-golang.md
  docs/doc/20-develop/01-python.md
  docs/doc/20-develop/02-nodejs.md
  docs/doc/21-load-data/00-local.md
  docs/doc/21-load-data/01-s3.md
  docs/doc/21-load-data/02-stage.md
  docs/doc/21-load-data/03-mysql.md
  docs/doc/30-reference/00-api/00-rest.md
  docs/doc/30-reference/00-api/01-mysql-handler.md
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
  docs/public/img/api/api-handler-clickhouse.png
  docs/public/img/api/api-handler-mysql.png
Labels: pr-doc-fix, need-review

#4700 Support show grants for role
  common/meta/types/src/role_info.rs
  common/meta/types/src/user_info.rs
  common/planners/src/plan_show_grants.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/sql/parsers/parser_user.rs
  query/src/sql/statements/statement_show_grants.rs
  query/tests/it/sql/parsers/parser_user.rs
  tests/suites/0_stateless/05_ddl/05_0006_ddl_grant_privilege.result
  tests/suites/0_stateless/05_ddl/05_0006_ddl_grant_privilege.sql
Labels: pr-feature, need-review

#4701 query(values): support take for null column && update streaming load docs
  common/datavalues/src/columns/take.rs
  docs/doc/21-load-data/00-local.md
  tests/suites/0_stateless/01_system/01_0000_system_numbers.result
  tests/suites/0_stateless/01_system/01_0000_system_numbers.sql
Labels: pr-bugfix, pr-improvement, need-review

#4705 feat(doc): add check_json docs
  docs/doc/30-reference/20-functions/110-semi-structured-functions/check_json.md
Labels: pr-doc-fix, need-review

#4702 support show full tables
  common/planners/src/plan_show_tables.rs
  docs/doc/30-reference/30-sql/40-show/show-tables.md
  query/src/interpreters/interpreter_show_tables.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sql/parsers/parser_show.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_show_tables.rs
  query/src/storages/information_schema/tables_table.rs
  query/tests/it/interpreters/interpreter_show_tables.rs
  query/tests/it/sql/parsers/parser_show.rs
  tests/suites/0_stateless/06_show/06_0004_show_tables.sql
  tests/suites/0_stateless/20+_others/20_0001_python_jdbc_driver.py
Labels: pr-feature, pr-doc-fix, need-review

#4715 chore(doc): better community and API
  README.md
  docs/doc/00-overview/index.md
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
  docs/doc/60-contributing/01-good-pr.md
Labels: pr-doc-fix, need-review

#4716 chore(doc): add more to column default NOT NULL and NULL
  docs/doc/30-reference/30-sql/00-ddl/10-database/_category_.json
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-create-database.md
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-drop-database.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/_category_.json
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-create-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-drop-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-rename-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-truncate-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/describe-table.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/01-user-create-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/02-user-drop-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/03-user-alter-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/_category_.json
Labels: pr-doc-fix, need-review

#4714 add sys view information_schema.schemata
  query/src/databases/information_schema/information_schema_database.rs
  query/src/storages/information_schema/mod.rs
  query/src/storages/information_schema/schemata_table.rs
  query/tests/it/storages/system/tables_table.rs
Labels: pr-improvement, pr-build, need-review

#4718 chore(doc): add databend clickhouse http handler auth
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
Labels: pr-doc-fix, need-review

#4722 chore(doc): bump to 0.7.9
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
Labels: pr-doc-fix, need-review

#4721 fix(ci): add jemalloc page size option for macos cross build
  .github/workflows/databend-release.yml
Labels: pr-build, need-review

#4727 query(show_create): add default expression into show create and desc
  common/datavalues/src/data_value.rs
  common/planners/src/plan_expression.rs
  query/src/interpreters/interpreter_table_describe.rs
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/sql/statements/statement_describe_table.rs
  query/tests/it/interpreters/interpreter_table_describe.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/06_show/06_0001_show_create_table.result
  tests/suites/0_stateless/06_show/06_0001_show_create_table.sql
  tests/suites/0_stateless/20+_others/20_0000_describe_table.result
Labels: pr-improvement, need-review

#4731 chore(doc): add example to create table and date&time data types
  README.md
  docs/doc/30-reference/10-data-types/10-data-type-integer-number.md
  docs/doc/30-reference/10-data-types/11-data-type-real-number.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/10-data-types/data-type-time-date-types.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-create-table.md
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, need-review

#4732 Fix: remove Copy trait for RangeSet, since String dose not impl Copy
  common/range-set/src/range_key.rs
  common/range-set/src/range_set.rs
  common/range-set/tests/it/range_set_test.rs
Labels: pr-improvement, need-review

#4737 deps: Bump to OpenDAL v0.5.0
  Cargo.lock
  common/contexts/Cargo.toml
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_runtime.rs
  common/io/Cargo.toml
  common/io/src/files/file_s3.rs
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/interpreters/interpreter_user_stage_create.rs
Labels: pr-improvement, need-review

#4740 *: Rename storage.disk to storage.fs
  common/meta/raft-store/src/state/raft_state.rs
  docker/databend-query-docker.toml
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/10-cluster-minio.md
  docs/doc/30-reference/30-sql/10-dml/dml-insert.md
  docs/doc/30-reference/30-sql/70-system-tables/system-tracing.md
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  query/src/configs/config_storage.rs
  query/src/configs/mod.rs
  query/src/sessions/session_mgr.rs
  query/tests/it/configs.rs
  query/tests/it/servers/clickhouse.rs
  query/tests/it/sessions/query_ctx.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  query/tests/it/storages/system/configs_table.rs
  query/tests/it/tests/sessions.rs
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
Labels: pr-improvement, need-review

#4748 ci: Fix mergify status check
  .github/mergify.yml
Labels: pr-build, need-review

#4747 fix(query): Create on existing dir returns unexpected error
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-bugfix, need-review

#4752 ci(mergify): Remove not needed check for build
  .github/mergify.yml
Labels: pr-build, need-review

#4730 feat: try to avoid string copy in insert-values again
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/udfs/udf_parser.rs
  common/exception/Cargo.toml
  common/io/src/buffer/checkpoint_reader.rs
  query/Cargo.toml
  query/src/servers/http/clickhouse_handler.rs
  query/src/sql/parsers/parser_call.rs
  query/src/sql/parsers/parser_copy.rs
  query/src/sql/parsers/parser_database.rs
  query/src/sql/parsers/parser_explain.rs
  query/src/sql/parsers/parser_insert.rs
  query/src/sql/parsers/parser_kill.rs
  query/src/sql/parsers/parser_optimize.rs
  query/src/sql/parsers/parser_query.rs
  query/src/sql/parsers/parser_set.rs
  query/src/sql/parsers/parser_show.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/parsers/parser_table.rs
  query/src/sql/parsers/parser_udf.rs
  query/src/sql/parsers/parser_use.rs
  query/src/sql/parsers/parser_user.rs
  query/src/sql/parsers/parser_view.rs
  query/src/sql/plan_parser.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_explain.rs
  query/src/sql/statements/statement_insert.rs
  query/src/sql/statements/value_source.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/sql/statements/value_source.rs
Labels: pr-improvement, pr-performance, need-review

#4733 fix(function): Const(Nullable(Object)) column downcast to Nullable failed
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/const_/mod.rs
  common/datavalues/src/columns/null/mod.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/columns/primitive/mod.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/columns/string/mod.rs
  common/datavalues/src/columns/struct_/mod.rs
  common/functions/src/scalars/function_adapter.rs
Labels: pr-bugfix, need-review

#4756 query(mysql): disable read only mode
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-improvement, need-review

#4750 refactor(contexts): Improve logic for getting inner Accessor
  common/contexts/src/dal/dal_context.rs
  common/contexts/src/dal/dal_runtime.rs
Labels: pr-improvement, need-review

#4684 feat(function): Support Semi-structured function GET/GET_IGNORE_CASE/GET_PATH
  Cargo.lock
  common/datavalues/src/columns/column.rs
  common/datavalues/src/types/type_id.rs
  common/functions/Cargo.toml
  common/functions/src/scalars/semi_structureds/get.rs
  common/functions/src/scalars/semi_structureds/mod.rs
  common/functions/src/scalars/semi_structureds/semi_structured.rs
  common/functions/tests/it/scalars/semi_structureds/get.rs
  common/functions/tests/it/scalars/semi_structureds/mod.rs
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get_ignore_case.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get_path.md
  tests/suites/0_stateless/02_function/02_0050_function_string_regexp_instr.result
  tests/suites/0_stateless/02_function/02_0050_function_string_regexp_instr.sql
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.result
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.sql
Labels: pr-build, pr-feature, pr-doc-fix, need-review

#4751 Fix schema display on http api
  query/src/servers/http/v1/block_to_json.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/json_block.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/query/result_data_manager.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/servers/http/json_block.rs
  query/tests/it/servers/http/mod.rs
Labels: pr-bugfix, community-take, need-review

#4762 feat(doc): add continuous benchmarking
  README.md
  docs/doc/00-overview/index.md
  docs/doc/60-contributing/02-benchmarking.md
  docs/doc/60-contributing/02-roadmap.md
Labels: pr-doc-fix, need-review

#4726 ISSUE-4668: Enable `Lz4Raw` & rm `parquet_format_async_temp`
  Cargo.lock
  Cargo.toml
  common/arrow/Cargo.toml
  common/arrow/src/parquet_write.rs
  common/streams/tests/it/sources/source_parquet.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/storages/fuse/fuse_part.rs
  query/src/storages/fuse/io/read/block_reader.rs
  query/src/storages/fuse/io/write/block_stream_writer.rs
  query/src/storages/fuse/io/write/block_writer.rs
  query/src/storages/fuse/meta/common.rs
  query/src/storages/fuse/meta/mod.rs
  query/src/storages/fuse/meta/v1/segment.rs
  query/src/storages/fuse/operations/mod.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/part_info.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/tests/it/storages/fuse/operations/mod.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
Labels: pr-bugfix, pr-improvement, pr-not-for-changelog, need-review

#4766 chore(doc): readme
  README.md
  docs/doc/00-overview/index.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4763 Rich annotations for processor
  query/src/interpreters/interpreter.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_select.rs
  query/src/pipelines/new/pipeline.rs
  query/src/pipelines/new/pipeline_builder.rs
  query/src/pipelines/new/processors/transforms/transform_create_sets.rs
Labels: pr-improvement, need-review

#4767 fix(query): Fix support for endpoint without scheme
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-bugfix, need-review

#4768 docs(benchmarking): fix sql
  docs/doc/60-contributing/02-benchmarking.md
Labels: pr-doc-fix, need-review

#4760 query(mysql): information_schema case insenstive
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/immutable_catalog.rs
  query/src/databases/information_schema/information_schema_database.rs
  query/src/interpreters/interpreter_show_tab_stat.rs
  query/src/interpreters/interpreter_show_tables.rs
  query/src/storages/information_schema/columns_table.rs
  query/src/storages/information_schema/keywords_table.rs
  query/src/storages/information_schema/schemata_table.rs
  query/src/storages/information_schema/tables_table.rs
  query/src/storages/information_schema/views_table.rs
  query/tests/it/catalogs/database_catalog.rs
  query/tests/it/interpreters/interpreter_show_databases.rs
  query/tests/it/storages/system/databases_table.rs
  query/tests/it/storages/system/tables_table.rs
  tests/suites/0_stateless/01_system/01_0003_information_schema.result
  tests/suites/0_stateless/01_system/01_0003_information_schema.sql
  tests/suites/0_stateless/02_function/02_0005_function_compare.result
Labels: pr-improvement, need-review

#4770 chore(ci): try keep git history
  .github/workflows/databend-release.yml
Labels: pr-build, pr-not-for-changelog, need-review

#4769 docs(official site): simplify command uploading file
  docs/doc/21-load-data/00-local.md
Labels: need-review

#4772 chore(doc): change nginx access log format to raw
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4775 chore(ci): add sqlalchemy & pymysql to dev_setup
  scripts/setup/dev_setup.sh
Labels: pr-not-for-changelog, need-review

#4781 docs: unify query http handler port
  docs/doc/30-reference/30-sql/10-dml/dml-copy.md
Labels: pr-doc-fix, need-review

#4774 feat(mysql): sqlalchemy execute work
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  docs/doc/20-develop/01-python.md
  docs/doc/30-reference/30-sql/50-list/list-stage.md
  docs/doc/30-reference/30-sql/70-system-tables/system-functions.md
  query/src/servers/mysql/mysql_interactive_worker.rs
  scripts/setup/dev_setup.sh
  tests/suites/0_stateless/10_drivers/10_0000_python_jdbc_driver.py
  tests/suites/0_stateless/10_drivers/10_0000_python_jdbc_driver.result
  tests/suites/0_stateless/10_drivers/10_0001_python_sqlalchemy_driver.py
  tests/suites/0_stateless/10_drivers/10_0001_python_sqlalchemy_driver.result
  tests/suites/0_stateless/README.md
Labels: pr-feature, need-review

#4780 feat(function): Support Semi-structured access elements
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/expr/expr_visitor.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.result
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.sql
Labels: pr-feature, need-review

#4784 query(compact): Add transform compact
  query/src/pipelines/new/executor/pipeline_pushing_executor.rs
  query/src/pipelines/new/pipeline_builder.rs
  query/src/pipelines/new/processors/mod.rs
  query/src/pipelines/new/processors/transforms/mod.rs
  query/src/pipelines/new/processors/transforms/transform_block_compact.rs
  query/src/pipelines/new/processors/transforms/transform_compact.rs
  query/src/pipelines/new/processors/transforms/transform_sort_merge.rs
  query/src/storages/fuse/constants.rs
Labels: pr-improvement, need-review

#4789 chore(doc): merge float and int to one and add examples for semi-structured type
  README.md
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/11-data-type-real-number.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-create-table.md
Labels: pr-doc-fix, need-review

#4786 ISSUE-4765: Show fuse engine table status
  query/src/interpreters/interpreter_show_tab_stat.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/mod.rs
  query/src/storages/storage_table.rs
  query/src/storages/system/tables_table.rs
  query/tests/it/interpreters/interpreter_show_tab_stat.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/tables_table.rs
  tests/suites/0_stateless/01_system/01_0001_system_tables.result
  tests/suites/0_stateless/06_show/06_0008_show_table_status.result
  tests/suites/0_stateless/06_show/06_0008_show_table_status.sql
  tests/suites/0_stateless/09_fuse_engine/09_0000_remote_create_table.result
Labels: pr-improvement, pr-not-for-changelog, need-review

#4787 feat(function): Support cast variant to other data types
  common/functions/src/scalars/expressions/cast_from_string.rs
  common/functions/src/scalars/expressions/cast_from_variant.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/expressions/mod.rs
  common/functions/tests/it/scalars/expressions.rs
  tests/suites/0_stateless/02_function/02_0002_function_cast.result
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
Labels: pr-build, pr-feature, need-review

#4793 fix(function): try_cast from varaint return Null instead of Err
  common/functions/src/scalars/expressions/cast_from_variant.rs
  common/functions/tests/it/scalars/expressions.rs
Labels: pr-bugfix, need-review

#4792 Support `limit n,m`
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0010_select_limit_offset.result
  tests/suites/0_stateless/03_dml/03_0010_select_limit_offset.sql
Labels: pr-improvement, need-review

#4795 chore(doc): add type casting for variant
  README.md
  docs/doc/00-overview/index.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
Labels: pr-doc-fix, need-review

#4798 fix(mysql): fix mysql federated tx_isolation to REPEATABLE-READ
  query/src/servers/mysql/mysql_federated.rs
  query/tests/it/servers/mysql/mysql_federated.rs
Labels: pr-doc-fix, need-review

#4791 refactor(credits): try persist credits at build time
  Cargo.lock
  common/building/Cargo.toml
  common/building/src/lib.rs
  query/Cargo.toml
  query/src/storages/system/credits_table.rs
Labels: pr-bugfix, pr-improvement, need-review

#4794 query(expressions): add try_cast function
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/expr/expr_visitor.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/benches/eq.rs
  common/datavalues/src/columns/builder.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/nullable/mutable.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/columns/take.rs
  common/datavalues/src/scalars/viewer.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/type_nullable.rs
  common/datavalues/tests/it/columns/builder.rs
  common/datavalues/tests/it/types/create_column.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/function_adapter.rs
  common/functions/src/scalars/strings/elt.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_node_rewriter.rs
  docs/doc/30-reference/20-functions/60-conversion-functions/cast.md
  docs/doc/30-reference/20-functions/60-conversion-functions/try_cast.md
  query/src/api/rpc/flight_scatter_hash.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/pipelines/new/processors/transforms/transform_compact.rs
  query/src/pipelines/transforms/streams/stream_addon.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/sql/statements/value_source.rs
  query/tests/it/servers/http/formats/tsv_output.rs
  query/tests/it/servers/http/json_block.rs
  tests/suites/0_stateless/02_function/02_0002_function_try_cast.result
  tests/suites/0_stateless/02_function/02_0002_function_try_cast.sql
Labels: pr-improvement, pr-feature, need-review

#4801 chore(doc): add create user for deploy
  docs/doc/20-develop/01-python.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/01-user-create-user.md
Labels: pr-doc-fix, need-review

#4796 fix: `select *` shouldn't return results
  common/ast/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/rdoc/function_docs.rs
  common/functions/src/scalars/strings/substring_index.rs
  common/macros/Cargo.toml
  common/metrics/Cargo.toml
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/pipeline.rs
  query/src/sql/statements/query/query_normalizer.rs
  query/tests/it/sql/plan_parser.rs
  tests/suites/0_stateless/00_dummy/00_0000_dummy_select_1.sql
  tools/fuzz/Cargo.toml
Labels: pr-bugfix, need-review

#4800 feat: support json format for copy
  common/streams/src/sources/source_ndjson.rs
  common/streams/tests/it/sources/source_ndjson.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/v1/load.rs
  query/src/storages/s3/s3_stage_source.rs
Labels: need-review

#4810 fix(mysql_handler): salt characters should be ascii.
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-bugfix, need-review

#4809 chore(mysql): add more federated command for some old drivers
  query/src/servers/mysql/mysql_federated.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-improvement, need-review

#4811 add env helper for http handler host
  query/src/configs/config_query.rs
  query/tests/it/configs.rs
Labels: pr-bugfix, need-review

#4821 chore(doc): add user/role grant and revoke
  docs/doc/30-reference/30-sql/00-ddl/30-user/01-user-create-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/02-user-drop-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/03-user-alter-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/04-user-create-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/05-user-drop-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/10-grant-privileges.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/11-revoke-privileges.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/20-grant-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/21-revoke-role.md
Labels: pr-doc-fix, need-review

#4822 chore(mysql): fix sqlalchemy < 1.4.30
  query/src/servers/mysql/mysql_federated.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#4820 fix `v1/config` not updated after reload config
  query/src/api/http/v1/config.rs
  query/src/api/http_service.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/tests/it/api/http/config.rs
Labels: pr-bugfix, need-review

#4818 query(fuse): limit push down respect orders
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.sql
  tests/suites/0_stateless/02_function/02_0050_function_string_regexp_instr.sql
  tests/suites/0_stateless/03_dml/03_0004_select_order_by.result
  tests/suites/0_stateless/03_dml/03_0004_select_order_by.sql
  tests/suites/0_stateless/03_dml/03_0004_select_order_by_cluster.result
Labels: pr-bugfix, need-review

#4830 add a column TABLE_COMMENT for information_schema.TABLES
  query/src/storages/information_schema/tables_table.rs
Labels: pr-improvement, need-review

#4831 chore(doc): add create user to develop example
  docs/doc/20-develop/00-golang.md
  docs/doc/20-develop/01-python.md
  docs/doc/20-develop/02-nodejs.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4833 fix create database db.t not fail
  query/src/sql/statements/statement_create_database.rs
  tests/suites/0_stateless/05_ddl/05_0001_ddl_create_database.sql
Labels: pr-bugfix, need-review

#4841 support parse select expr as `alias_name`
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/parser/expr/expr_visitor.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/src/udfs/udf_transformer.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0000_select_aliases.result
  tests/suites/0_stateless/03_dml/03_0000_select_aliases.sql
Labels: pr-feature, need-review

#4824 Compatible: show schemas; synonym for show databases
  query/src/sql/sql_parser.rs
  tests/suites/0_stateless/06_show/06_0009_show_schemas.result
  tests/suites/0_stateless/06_show/06_0009_show_schemas.sql
Labels: pr-feature, need-review

#4838 [MetaSrv]rename table should keep table_id nochange
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  tests/suites/0_stateless/05_ddl/05_0003_ddl_rename_table.result
Labels: pr-bugfix, need-review

#4816 feat(meta/share) add to MetaApi: CreateShare DropShare.
  common/exception/src/exception_code.rs
  common/meta/api/src/meta_api.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/embedded/tests/it/meta_api_impl.rs
  common/meta/grpc/src/grpc_action.rs
  common/meta/grpc/src/meta_api_impl.rs
  common/meta/raft-store/src/sled_key_spaces.rs
  common/meta/raft-store/src/state_machine/mod.rs
  common/meta/raft-store/src/state_machine/share_inbound.rs
  common/meta/raft-store/src/state_machine/share_lookup.rs
  common/meta/raft-store/src/state_machine/share_outbound.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/meta_api_impl.rs
  common/meta/types/src/applied_state.rs
  common/meta/types/src/cmd.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/message.rs
  common/meta/types/src/meta_storage_errors.rs
  common/meta/types/src/share.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/export.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api.rs
  query/src/catalogs/backends/meta_backend.rs
Labels: pr-not-for-changelog, need-review

#4846 feat(query): support group by datetimes & dates
  common/datablocks/src/kernels/data_block_group_by.rs
  common/datablocks/src/kernels/data_block_group_by_hash.rs
  common/datavalues/src/types/type_id.rs
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.result
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.sql
Labels: pr-bugfix, need-review

#4849 chore(doc): add jupyter integration
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/40-integrations/10-data-tool/00-vector.md
  docs/doc/40-integrations/10-data-tool/_category_.json
  docs/doc/40-integrations/20-gui-tool/00-jupyter.md
  docs/doc/40-integrations/20-gui-tool/_category_.json
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
  docs/public/img/integration/integration-gui-jupyter.png
Labels: pr-doc-fix, need-review

#4851 chore(doc): add DBeaver gui tool
  docs/doc/40-integrations/10-data-tool/00-vector.md
  docs/doc/40-integrations/20-gui-tool/00-jupyter.md
  docs/doc/40-integrations/20-gui-tool/01-dbeaver.md
Labels: pr-doc-fix, need-review

#4783 Change copy read files parallel.
  Cargo.lock
  common/planners/Cargo.toml
  common/planners/src/plan_node_s3_stage_table.rs
  query/src/interpreters/interpreter_copy.rs
  query/src/sql/statements/statement_copy.rs
  query/src/storages/s3/s3_stage_source.rs
  query/src/storages/s3/s3_stage_table.rs
Labels: pr-performance, need-review

#4857 Select expr support use backquoted
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0007_select_alias.result
  tests/suites/0_stateless/03_dml/03_0007_select_alias.sql
Labels: pr-bugfix, need-review

#4855 Support Keyword `DATABASE` synonym `SCHEMA`
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-create-database.md
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-drop-database.md
  docs/doc/30-reference/30-sql/40-show/show-create-database.md
  query/src/sql/sql_parser.rs
  query/tests/it/sql/parsers/parser_database.rs
  query/tests/it/sql/parsers/parser_show.rs
  query/tests/it/sql/sql_parser.rs
  tests/suites/0_stateless/05_ddl/05_0001_ddl_create_database.result
  tests/suites/0_stateless/05_ddl/05_0001_ddl_create_database.sql
  tests/suites/0_stateless/05_ddl/05_0001_ddl_drop_database.sql
  tests/suites/0_stateless/06_show/06_0000_show_databases.result
  tests/suites/0_stateless/06_show/06_0000_show_databases.sql
  tests/suites/0_stateless/06_show/06_0002_show_create_database.result
  tests/suites/0_stateless/06_show/06_0002_show_create_database.sql
Labels: pr-build, pr-feature, pr-doc-fix, need-review

#4859 refactor(meta): Cmd utilize XXXReq.
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/types/src/cmd.rs
  common/meta/types/src/database.rs
  common/meta/types/src/share.rs
  common/meta/types/src/table.rs
  common/planners/src/plan_database_create.rs
  common/planners/src/plan_database_drop.rs
  common/planners/src/plan_table_create.rs
  common/planners/src/plan_table_drop.rs
  common/planners/tests/it/plan_display.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/databases/database.rs
  query/src/interpreters/interpreter_table_rename.rs
  query/src/interpreters/interpreter_view_alter.rs
  query/src/interpreters/interpreter_view_create.rs
  query/src/interpreters/interpreter_view_drop.rs
  query/src/sql/parsers/parser_copy.rs
  query/src/sql/parsers/parser_database.rs
  query/src/sql/parsers/parser_stage.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_common.rs
  query/src/sql/statements/statement_copy.rs
  query/src/sql/statements/statement_create_database.rs
  query/src/sql/statements/statement_create_table.rs
  query/src/sql/statements/statement_create_user_stage.rs
  query/src/storages/github/repo.rs
  query/src/storages/github/repo_comments_table.rs
  query/src/storages/github/repo_info_table.rs
  query/src/storages/github/repo_issues_table.rs
  query/src/storages/github/repo_prs_table.rs
  query/src/storages/information_schema/columns_table.rs
  query/src/storages/information_schema/keywords_table.rs
  query/src/storages/information_schema/schemata_table.rs
  query/src/storages/information_schema/tables_table.rs
  query/src/storages/information_schema/views_table.rs
  query/src/storages/storage_table.rs
  query/tests/it/catalogs/database_catalog.rs
  query/tests/it/catalogs/immutable_catalogs.rs
  query/tests/it/sql/parsers/parser_copy.rs
  query/tests/it/sql/parsers/parser_database.rs
  query/tests/it/sql/parsers/parser_stage.rs
  query/tests/it/sql/parsers/parser_table.rs
  tests/metactl/meta.json
Labels: pr-not-for-changelog, need-review

#4870 Remove stateless test data dir
  Makefile
Labels: pr-build, need-review

#4869 feat(datavalues): add benchmark for enum-dispatch
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/benches/data_type.rs
  common/datavalues/benches/eq.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/type_primitive.rs
Labels: pr-improvement, need-review

#4873 Fix show grants from inherited role
  common/meta/types/src/role_info.rs
  common/meta/types/src/user_grant.rs
  common/meta/types/src/user_info.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/sessions/session.rs
  query/src/users/role_cache_mgr.rs
  query/tests/it/interpreters/interpreter_show_grant.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/users/role_cache_mgr.rs
Labels: pr-bugfix, need-review

#4845 fix(executor): fix dead loop for tasks
  query/src/pipelines/new/executor/executor_graph.rs
  query/src/pipelines/new/executor/executor_notify.rs
  query/src/pipelines/new/executor/executor_tasks.rs
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/sessions/session.rs
Labels: pr-bugfix, need-review

#4880 chore(data type): make data type syntax standardization
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/31-data-type-logical-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/10-data-types/_category_.json
  docs/doc/30-reference/10-data-types/index.md
  query/Cargo.toml
  query/src/sql/sql_common.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/09_fuse_engine/09_0001_remote_insert.sql
Labels: pr-improvement, pr-doc-fix, need-review

#4887 chore(ci): add clickhouse_driver to dev_setup
  scripts/setup/dev_setup.sh
Labels: need-review

#4884 chore(function): better aggregate function name
  common/functions/src/aggregates/aggregate_combinator_distinct.rs
  common/functions/src/aggregates/aggregate_combinator_if.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/tests/it/aggregates/aggregate_combinator.rs
  common/functions/tests/it/aggregates/aggregate_function.rs
  common/planners/src/plan_expression.rs
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-argmax.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-argmin.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-avg-if.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-count-distinct.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-count-if.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-count.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-covar-samp.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-max-if.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-min-if.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-sum-if.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-sum.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-windowfunnel.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
  tests/suites/0_stateless/02_function/02_0000_function_aggreate_on_empty.result
  tests/suites/0_stateless/02_function/02_0000_function_aggreate_on_empty.sql
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_argmin_argmax.result
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_argmin_argmax.sql
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_mix.result
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_mix.sql
  tests/suites/0_stateless/02_function/02_0006_function_argmin_argmax.sql
  tests/suites/0_stateless/02_function/02_0007_function_aggreator_on_empty.sql
  tests/suites/0_stateless/02_function/02_0011_function_window_funnel.sql
  tests/suites/0_stateless/03_dml/03_0004_select_order_by.result
  tests/suites/0_stateless/03_dml/03_0004_select_order_by.sql
  tests/suites/0_stateless/03_dml/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_dml/03_0008_select_aggregator_combinator.sql
Labels: pr-improvement, need-review

#4888 fix(function): validate function args before get type
  common/planners/src/plan_expression_common.rs
  tests/suites/0_stateless/02_function/02_0048_function_semi_structureds_parse_json.sql
Labels: pr-bugfix, need-review

#4812 fix(function): display correct field name for map-access and cast
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/expr/expr_visitor.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/src/udfs/udf_transformer.rs
  common/ast/tests/it/ast.rs
  common/ast/tests/it/testdata/expr.txt
  common/datavalues/src/types/type_id.rs
  common/planners/src/plan_expression.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_rewriter.rs
  common/planners/src/plan_expression_visitor.rs
  common/planners/src/plan_node_rewriter.rs
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/20-functions/60-conversion-functions/cast.md
  query/src/api/rpc/flight_scatter_hash.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/pipelines/transforms/streams/stream_addon.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/sql/statements/query/query_ast_ir.rs
  query/src/sql/statements/value_source.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  tests/suites/0_stateless/02_function/02_0002_function_cast.result
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
Labels: pr-bugfix, pr-doc-fix, need-review

#4892 chore(stateless): add 11_data_type stateless category
  docs/doc/30-reference/10-data-types/index.md
  tests/suites/0_stateless/02_function/02_0053_function_argument_check.result
  tests/suites/0_stateless/02_function/02_0053_function_argument_check.sql
  tests/suites/0_stateless/11_data_type/11_0000_data_type_numeric.result
  tests/suites/0_stateless/11_data_type/11_0000_data_type_numeric.sql
  tests/suites/0_stateless/11_data_type/11_0001_data_type_date_time.result
  tests/suites/0_stateless/11_data_type/11_0001_data_type_date_time.sql
  tests/suites/0_stateless/11_data_type/11_0002_data_type_string.result
  tests/suites/0_stateless/11_data_type/11_0002_data_type_string.sql
  tests/suites/0_stateless/11_data_type/11_0003_data_type_logical.result
  tests/suites/0_stateless/11_data_type/11_0003_data_type_logical.sql
  tests/suites/0_stateless/11_data_type/11_0004_data_type_semi_structured.result
  tests/suites/0_stateless/11_data_type/11_0004_data_type_semi_structured.sql
Labels: pr-build, need-review

#4894 ISSUE-4860: fix empty query
  query/src/interpreters/interpreter_empty.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/mod.rs
  query/src/sql/plan_parser.rs
  query/tests/it/interpreters/interpreter_empty.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/servers/http/clickhouse_handler.rs
  tests/suites/0_stateless/03_dml/03_0019_select_empty.result
  tests/suites/0_stateless/03_dml/03_0019_select_empty.sql
Labels: pr-bugfix, need-review

#4897 Set interpolateParams in golang dev doc
  docs/doc/20-develop/00-golang.md
Labels: pr-doc-fix, need-review

#4898 chore(doc): refine the data type
  docs/doc/30-reference/10-data-types/00-data-type-logical-types.md
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/10-data-types/index.md
  docs/doc/30-reference/20-functions/30-datetime-functions/_category_.json
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4900 chore(doc): add more details of semi-structured data types
  docs/doc/30-reference/10-data-types/00-data-type-logical-types.md
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/10-data-types/index.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4904 chore(doc): refine the semi-strucutred functions
  docs/doc/30-reference/10-data-types/00-data-type-logical-types.md
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/index.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/check_json.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get_ignore_case.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/get_path.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/parse_json.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4905 fixes(processor): replace global mutex with atomic
  query/src/pipelines/new/executor/executor_notify.rs
  query/src/pipelines/new/executor/executor_tasks.rs
  tests/suites/0_stateless/03_dml/03_0019_select_empty.sql
Labels: pr-performance, need-review

#4906 chore(function): change conditional function name
  common/ast/src/parser/expr/expr_visitor.rs
  common/ast/tests/it/udfs/udf_parser.rs
  common/ast/tests/it/udfs/udf_transformer.rs
  common/functions/src/scalars/conditionals/conditional.rs
  common/functions/src/scalars/conditionals/is_not_null.rs
  common/functions/src/scalars/conditionals/is_null.rs
  common/functions/src/scalars/function_features.rs
  common/functions/tests/it/scalars/nullables.rs
  common/management/tests/it/udf.rs
  common/meta/types/tests/it/user_defined_function.rs
  docs/doc/30-reference/20-functions/10-conditional-functions/if.md
  docs/doc/30-reference/20-functions/10-conditional-functions/in.md
  docs/doc/30-reference/20-functions/10-conditional-functions/isnotnull.md
  docs/doc/30-reference/20-functions/10-conditional-functions/isnull.md
  query/src/sql/statements/analyzer_expr.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/interpreters/interpreter_user_udf_alter.rs
  query/tests/it/interpreters/interpreter_user_udf_create.rs
  query/tests/it/interpreters/interpreter_user_udf_drop.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
  query/tests/it/sql/parsers/parser_udf.rs
  query/tests/it/storages/index/range_filter.rs
  query/tests/it/users/user_udf.rs
  tests/suites/0_stateless/02_function/02_0013_function_nullables.sql
  tests/suites/0_stateless/03_dml/03_0013_select_udf.sql
  tests/suites/0_stateless/05_ddl/05_0010_ddl_create_udf.sql
  tests/suites/0_stateless/05_ddl/05_0011_ddl_drop_udf.sql
  tests/suites/0_stateless/05_ddl/05_0013_ddl_alter_udf.sql
  tests/suites/0_stateless/10_drivers/10_0000_python_mysql_driver.py
  tests/suites/0_stateless/10_drivers/10_0002_python_clickhouse_driver.py
Labels: pr-improvement, pr-not-for-changelog, need-review

#4902 fixes(group): fix group by with negative value
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  tests/suites/0_stateless/03_dml/03_0020_group_by_negative.result
  tests/suites/0_stateless/03_dml/03_0020_group_by_negative.sql
  tests/suites/0_stateless/11_data_type/11_0000_data_type_numeric.result
  tools/fuzz/fuzz_targets/fuzz_parse_sql.rs
Labels: pr-bugfix, need-review

#4907 fixes(limit): fixes limit and offset with one block
  query/src/pipelines/new/processors/transforms/transform_limit.rs
  tests/suites/0_stateless/01_system/01_0004_system_engines.result
  tests/suites/0_stateless/01_system/01_0004_system_engines.sql
Labels: pr-bugfix, need-review

#4908 feat(io): change all binary encode/decode using little endian
  common/datavalues/src/columns/group_hash.rs
  common/io/src/marshal.rs
  common/io/src/unmarshal.rs
  common/io/tests/it/binary_read.rs
Labels: pr-improvement, need-review

#4911 feat(cast): fix the behavior of null to boolean
  common/functions/src/scalars/expressions/cast_from_string.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  tests/suites/0_stateless/02_function/02_0002_function_cast.result
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
Labels: pr-bugfix, need-review

#4915 chore(functions): refine the name of uuid and others functions
  common/functions/src/scalars/others/mod.rs
  common/functions/src/scalars/others/other.rs
  common/functions/src/scalars/others/running_difference_function.rs
  common/functions/src/scalars/others/to_type_name.rs
  common/functions/src/scalars/uuids/uuid.rs
  common/functions/tests/it/scalars/others.rs
  common/functions/tests/it/scalars/uuids/uuid_creator.rs
  common/functions/tests/it/scalars/uuids/uuid_verifier.rs
  common/planners/tests/it/plan_expression.rs
  docs/doc/30-reference/20-functions/120-other-functions/running-difference.md
  docs/doc/30-reference/20-functions/80-uuid-functions/gen-random-uuid.md
  docs/doc/30-reference/20-functions/80-uuid-functions/gen-zero-uuid.md
  docs/doc/30-reference/20-functions/80-uuid-functions/is-empty-uuid.md
  docs/doc/30-reference/20-functions/80-uuid-functions/is-not-empty-uuid.md
  docs/doc/30-reference/20-functions/80-uuid-functions/isemptyUUID.md
  docs/doc/30-reference/20-functions/80-uuid-functions/isnotemptyUUID.md
  query/tests/it/optimizers/optimizer_constant_folding.rs
  tests/suites/0_stateless/02_function/02_0000_function_arithmetic.sql
  tests/suites/0_stateless/02_function/02_0001_function_to_type_name.sql
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
  tests/suites/0_stateless/02_function/02_0010_function_if.sql
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
  tests/suites/0_stateless/02_function/02_0013_function_running_difference.sql
  tests/suites/0_stateless/02_function/02_0044_function_uuid.sql
  tests/suites/0_stateless/03_dml/03_0012_select_number_type.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#4901 feature: metasrv has to be compatible with 20220413-34e89c99e4e35632718e9227f6549b3090eb0fb9
  common/meta/types/src/cmd.rs
  common/meta/types/src/compatibility/cmd_00000000_20220413.rs
  common/meta/types/src/compatibility/mod.rs
  common/meta/types/src/lib.rs
  common/meta/types/tests/it/compatible.rs
  common/meta/types/tests/it/main.rs
Labels: C-bug, pr-feature, A-meta, need-review, rust

#4923 Refine unknown udf error msg
  common/management/src/udf/udf_mgr.rs
  common/management/tests/it/udf.rs
  query/tests/it/sql/plan_parser.rs
Labels: pr-improvement, need-review

#4930 chore(doc): change all the internal data type to data type name
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/10-cluster-minio.md
  docs/doc/10-deploy/11-cluster-k8s-minio.md
  docs/doc/20-develop/00-golang.md
  docs/doc/20-develop/01-python.md
  docs/doc/20-develop/02-nodejs.md
  docs/doc/21-load-data/00-local.md
  docs/doc/21-load-data/01-s3.md
  docs/doc/21-load-data/02-stage.md
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
  docs/doc/30-reference/00-api/10-put-to-stage.md
  docs/doc/30-reference/10-data-types/00-data-type-logical-types.md
  docs/doc/30-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/30-data-type-string-types.md
  docs/doc/30-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/30-reference/10-data-types/index.md
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-drop-database.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-create-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-drop-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-rename-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-truncate-table.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/01-user-create-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/02-user-drop-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/03-user-alter-user.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/04-user-create-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/05-user-drop-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/10-grant-privileges.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/11-revoke-privileges.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/20-grant-role.md
  docs/doc/30-reference/30-sql/00-ddl/30-user/21-revoke-role.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/02-ddl-drop-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/03-ddl-desc-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/04-ddl-list-stage.md
  docs/doc/30-reference/30-sql/40-show/show-table-status.md
  docs/doc/40-integrations/20-gui-tool/00-jupyter.md
  docs/doc/60-contributing/03-rfcs/20210913-join-framework-design.md
  docs/doc/60-contributing/03-rfcs/20210914-new-sql-planner-framework.md
  docs/doc/70-performance/01-ec2-s3-performance.md
  docs/doc/70-performance/02-cvm-cos-performance.md
  docs/doc/70-performance/03-ecs-oss-performance.md
  docs/doc/70-performance/04-ec2-wasabi-performance.md
  docs/doc/70-performance/05-scw-os-performance.md
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, need-review

#4929 feat(datatype): new datatype display for desc & show create
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/type_primitive.rs
  common/datavalues/src/types/type_string.rs
  query/src/interpreters/interpreter_table_describe.rs
  query/tests/it/interpreters/interpreter_table_describe.rs
  query/tests/it/interpreters/interpreter_table_show_create.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/06_show/06_0001_show_create_table.result
  tests/suites/0_stateless/06_show/06_0001_show_create_table.sql
  tests/suites/0_stateless/20+_others/20_0000_describe_table.result
Labels: pr-improvement, need-review

#4933 [metasrv] doc: add operations/deploy.md
  docs/doc/50-operations/metasrv-add-remove-node.md
  docs/doc/50-operations/metasrv-backup-restore.md
  docs/doc/50-operations/metasrv-deploy.md
  docs/doc/50-operations/metasrv-upgrade.md
Labels: pr-doc-fix, need-review

#4943 fixes(processor): temp remove rwlock
  query/src/pipelines/new/executor/executor_graph.rs
Labels: pr-performance, need-review

#4937 rename CreateUser to EnsureUser
  query/src/users/auth/auth_mgr.rs
  query/src/users/auth/jwt/authenticator.rs
  query/src/users/auth/jwt/mod.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/users/auth/auth_mgr.rs
Labels: pr-improvement, need-review

#4957 chore(doc): move meta service to metasrv dir
  docs/doc/50-operations/00-metasrv/10-metasrv-deploy.md
  docs/doc/50-operations/00-metasrv/20-metasrv-add-remove-node.md
  docs/doc/50-operations/00-metasrv/30-metasrv-upgrade.md
  docs/doc/50-operations/00-metasrv/40-metasrv-backup-restore.md
  docs/doc/50-operations/00-metasrv/_category_.json
  docs/doc/50-operations/10-admin/_category_.json
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4956 feat(tests): add native mysql client uexpect
  query/src/pipelines/new/processors/sources/async_source.rs
  query/src/storages/s3/s3_stage_source.rs
  tests/helpers/native_client.py
  tests/helpers/uexpect.py
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage2.py
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage2.result
Labels: pr-bugfix, pr-build, need-review

#4961 ci: fix default image tag for debian
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#4941 feat(parser): add select statement
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/ast/query.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/src/parser/rule/statement.rs
  common/ast/src/parser/rule/util.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/tests/it/ast.rs
  common/ast/tests/it/rule.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/ast/tests/it/transformer.rs
Labels: pr-feature, need-review, A-planner

#4969 improvement: remove `occ_*` from settings
  query/src/sessions/session_settings.rs
  query/src/storages/fuse/operations/commit.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: pr-improvement, pr-not-for-changelog, need-review

#4972 chore(mysqldump): support mysqldump dump schema
  query/src/interpreters/interpreter_table_describe.rs
  query/src/servers/mysql/mysql_federated.rs
  query/src/sql/parsers/parser_show.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_describe_table.rs
  query/tests/it/interpreters/interpreter_table_describe.rs
  query/tests/it/sql/parsers/parser_show.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/06_show/06_0010_show_fields.result
  tests/suites/0_stateless/06_show/06_0010_show_fields.sql
  tests/suites/0_stateless/20+_others/20_0000_describe_table.result
Labels: pr-feature, need-review

#4966 ISSUE-4964: export data_compressed_size to system.tables
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/storage_table.rs
  query/src/storages/system/tables_table.rs
  tests/suites/0_stateless/01_system/01_0005_system_tables_data_size.result
  tests/suites/0_stateless/01_system/01_0005_system_tables_data_size.sql
Labels: pr-feature, pr-not-for-changelog, need-review

#4973 feat(datatype): introduce precision in DateTime type
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/ast/statement.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/tests/it/rule.rs
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
Labels: pr-improvement, need-review

#4979 chore(show): add snapshot_location back to show create table
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/sql/table_option_keys.rs
  query/tests/it/interpreters/interpreter_table_show_create.rs
  tests/suites/0_stateless/06_show/06_0001_show_create_table.result
Labels: pr-feature, need-review

#4970 feat(functions): support aggregate function retention
  common/functions/src/aggregates/aggregate_retention.rs
  common/functions/src/aggregates/aggregator.rs
  common/functions/src/aggregates/mod.rs
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-retention.md
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_retention.result
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_retention.sql
Labels: pr-feature, pr-doc-fix, need-review

#4959 feat(data type): implement PartialOrd for Variant data-type
  common/datavalues/src/columns/column.rs
  common/datavalues/src/columns/eq.rs
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/columns/object/mod.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/scalars/type_.rs
  common/datavalues/src/types/deserializations/variant.rs
  common/datavalues/src/types/serializations/variant.rs
  common/datavalues/src/types/type_traits.rs
  common/datavalues/src/types/type_variant.rs
  common/datavalues/src/types/type_variant_array.rs
  common/datavalues/src/types/type_variant_object.rs
  common/datavalues/src/variant_value.rs
  common/datavalues/tests/it/columns/builder.rs
  common/datavalues/tests/it/columns/object.rs
  common/datavalues/tests/it/main.rs
  common/datavalues/tests/it/types/create_column.rs
  common/datavalues/tests/it/types/serializations.rs
  common/datavalues/tests/it/variant_value.rs
  common/functions/src/aggregates/aggregate_retention.rs
  common/functions/src/scalars/expressions/cast_from_variant.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/hashes/hash_base.rs
  common/functions/src/scalars/semi_structureds/check_json.rs
  common/functions/src/scalars/semi_structureds/get.rs
  common/functions/src/scalars/semi_structureds/parse_json.rs
  common/functions/tests/it/scalars/expressions.rs
  common/functions/tests/it/scalars/semi_structureds/check_json.rs
  common/functions/tests/it/scalars/semi_structureds/get.rs
  common/functions/tests/it/scalars/semi_structureds/parse_json.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/reducers.rs
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.result
  tests/suites/0_stateless/03_dml/03_0018_insert_into_variant.sql
Labels: pr-bugfix, pr-feature, need-review

#4983 feat(parser): switch to the new sql parser
  common/ast/src/error.rs
  common/ast/src/lib.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/rule/error.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/src/parser/rule/statement.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/transformer/mod.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/tests/it/main.rs
  common/ast/tests/it/rule.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/ast/tests/it/token.rs
  common/ast/tests/it/transformer.rs
  query/src/sql/planner/mod.rs
Labels: pr-feature, need-review

#4986 [metasrv] doc: explain config.toml, add `add-node`, adjust file layout.
  docs/doc/50-operations/00-metasrv/10-metasrv-deploy.md
  docs/doc/50-operations/00-metasrv/15-metasrv-config.md
  docs/doc/50-operations/00-metasrv/20-metasrv-add-remove-node.md
  docs/doc/50-operations/00-metasrv/30-metasrv-backup-restore.md
  docs/doc/50-operations/00-metasrv/40-metasrv-upgrade.md
Labels: pr-doc-fix, need-review

#4982 improvement: work with the new date/datetime type
  Cargo.lock
  common/ast/Cargo.toml
  common/datavalues/src/types/type_datetime.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/tests/it/scalars/expressions.rs
  query/Cargo.toml
  query/src/sql/sql_common.rs
  tests/suites/0_stateless/02_function/02_0001_function_type_of.sql
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact.result
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact_cluster.result
Labels: pr-improvement, need-review

#4989 feat(planner): Add switch to enable new planner
  common/datavalues/benches/data_type.rs
  query/src/interpreters/interpreter_select_v2.rs
  query/src/interpreters/mod.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/session_settings.rs
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/exec/mod.rs
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/optimizer/optimize_context.rs
  query/src/sql/optimizer/s_expr.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/mod.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: C-feature, pr-feature, need-review

#4991 [metactl] fix: by default do not export from a running meta node.
  tests/metactl/test-metactl.sh
  tools/metactl/src/main.rs
Labels: pr-bugfix, need-review

#4997 feat(datatype): datatype timestamp with precision
  Cargo.lock
  common/ast/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  query/src/sql/sql_common.rs
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
  tests/suites/0_stateless/02_function/02_0011_function_window_funnel.sql
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.result
  tests/suites/0_stateless/03_dml/03_0014_insert_into_select.result
  tests/suites/0_stateless/03_dml/03_0016_insert_into_values.result
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.result
  tests/suites/0_stateless/09_fuse_engine/09_0001_remote_insert.result
  tests/suites/0_stateless/09_fuse_engine/09_0001_remote_insert.sql
Labels: pr-feature, need-review

#4990 improvement: introduce tenant_id in JWT CustomClaims
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/middleware.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_context.rs
  query/src/servers/http/v1/query/http_query_manager.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/stage.rs
  query/src/servers/http/v1/statement.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_ctx.rs
  query/src/sessions/session_settings.rs
  query/src/users/auth/auth_mgr.rs
  query/src/users/auth/jwt/authenticator.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/sessions/session.rs
  query/tests/it/users/auth/auth_mgr.rs
Labels: pr-improvement, need-review

#5000 chore(parser): rearrange file structure of common_ast
  common/ast/src/ast/expr.rs
  common/ast/src/ast/mod.rs
  common/ast/src/ast/query.rs
  common/ast/src/ast/statement.rs
  common/ast/src/lib.rs
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/error.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/expr/mod.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/query.rs
  common/ast/src/parser/rule/mod.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/util.rs
  common/ast/src/udfs/mod.rs
  common/ast/src/udfs/udf_expr_visitor.rs
  common/ast/src/udfs/udf_parser.rs
  common/ast/tests/it/ast.rs
  common/ast/tests/it/main.rs
  common/ast/tests/it/parser.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/statements/analyzer_expr.rs
Labels: pr-improvement, need-review

#5003 minor(planner): add `context.get_cluster().is_empty()` condition to solid the code
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: need-review, A-planner

#5007 chore(docker): tiny improve, reduce docker image size
  docker/debian/meta.Dockerfile
  docker/debian/query.Dockerfile
Labels: pr-not-for-changelog, need-review

#5010 chore(doc): update datetime data type
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/30-reference/10-data-types/index.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/ddl-create-table.md
  docs/doc/50-operations/00-metasrv/10-metasrv-deploy.md
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#4992 feat(function): Support Semi-structured function json_extract_path_text
  common/functions/src/scalars/semi_structureds/get.rs
  common/functions/src/scalars/semi_structureds/json_extract_path_text.rs
  common/functions/src/scalars/semi_structureds/mod.rs
  common/functions/src/scalars/semi_structureds/semi_structured.rs
  common/functions/tests/it/scalars/semi_structureds/json_extract_path_text.rs
  docs/doc/30-reference/20-functions/110-semi-structured-functions/json_extract_path_text.md
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.result
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.sql
Labels: pr-build, pr-feature, pr-doc-fix, need-review

#5011 feature(types): function in support other datatypes
  common/functions/src/scalars/conditionals/in_basic.rs
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.result
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.sql
Labels: pr-feature, need-review

#5013 feat(ast): make nullable defaults to false in new AST
  common/ast/src/ast/query.rs
  common/ast/src/parser/query.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
Labels: pr-improvement, need-review
