Repository databendlabs/databend, pull requests merged in 2022-08, with the labels that each got.

#6924 refactor: Switch to bincode-org/bincode
  Cargo.lock
  common/exception/Cargo.toml
  common/exception/src/exception_into.rs
  common/io/Cargo.toml
  common/io/src/utils.rs
  query/Cargo.toml
  query/src/storages/index/bloom_filter.rs
Labels: pr-refactor

#6925 fix(query): fix order by column binding
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/sort.rs
  tests/logictest/suites/gen/20+_others/20_0001_planner_v2
Labels: pr-bugfix

#6906 feat(hive): support query hive partition table
  .github/actions/test_stateful_hive_standalone/action.yml
  common/catalog/src/catalog.rs
  query/src/catalogs/default/database_catalog.rs
  query/src/catalogs/default/immutable_catalog.rs
  query/src/catalogs/default/mutable_catalog.rs
  query/src/catalogs/hive/converters.rs
  query/src/catalogs/hive/hive_catalog.rs
  query/src/catalogs/hive/hive_partition.rs
  query/src/catalogs/hive/hive_partition_filler.rs
  query/src/catalogs/hive/hive_partition_pruner.rs
  query/src/catalogs/hive/hive_table.rs
  query/src/catalogs/hive/hive_table_source.rs
  query/src/catalogs/hive/mod.rs
  query/src/storages/hive/hive_parquet_block_reader.rs
  query/tests/it/storages/index/range_filter.rs
  tests/data/hive/customer_p2/c_region=ASIA/c_nation=CHINA/00.parquet
  tests/data/hive/customer_p2/c_region=ASIA/c_nation=JAPAN/00.parquet
  tests/data/hive/customer_p2/c_region=EUROPE/c_nation=FRANCE/00.parquet
  tests/data/hive/customer_p2/c_region=EUROPE/c_nation=GERMANY/00.parquet
  tests/data/hive/customer_p2/c_region=EUROPE/c_nation=RUSSIA/00.parquet
  tests/data/hive/t_1/t_1.parquet
  tests/suites/2_stateful_hive/01_partition_table/01_0000_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0000_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0001_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0001_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0002_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0002_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0003_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0003_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0004_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0004_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0005_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0005_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0006_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0006_hms_partition_table.sql
Labels: pr-feature

#6927 feat: add raft store fail metrics
  docs/doc/50-manage/00-metasrv/50-metasrv-metrics.md
  metasrv/src/metrics/meta_metrics.rs
  metasrv/src/metrics/mod.rs
  metasrv/src/store/meta_raft_store.rs
Labels: pr-feature

#6932 docs: Update databend cloud
  docs/doc/02-cloud/index.md
  docs/public/img/cloud/databend_cloud_warehouse.png
  docs/public/img/cloud/databend_cloud_warehouse_connect.png
  docs/public/img/cloud/databend_cloud_warehouse_detail.png
Labels: pr-chore, pr-doc

#6930 refactor: Remove usage of futures block_on in tests
  query/tests/it/catalogs/database_catalog.rs
  query/tests/it/catalogs/immutable_catalogs.rs
  query/tests/it/storages/memory.rs
  query/tests/it/storages/null.rs
  query/tests/it/tests/catalog.rs
  query/tests/it/tests/context.rs
Labels: pr-refactor

#6931 ci: add mini ontime dataset to stateful test
  .github/actions/test_stateful_standalone_linux/action.yml
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.result
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.sh
Labels: pr-build

#6933 refactor: Remove unused reload config
  query/src/procedures/admins/admin.rs
  query/src/procedures/admins/mod.rs
  query/src/procedures/admins/reload_config.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session_mgr.rs
Labels: pr-refactor

#6937 chore: add suites argument and some logs
  tests/logictest/logictest.py
  tests/logictest/main.py
Labels: pr-chore

#6945 docs: Fix t_ontime.csv should be load using TSV format
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc

#6943 chore: try support io-uring for meta
  .cargo/audit.toml
  Cargo.lock
  common/meta/embedded/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/store/Cargo.toml
  common/users/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  tools/metactl/Cargo.toml
Labels: pr-chore

#6939 docs: replace images
  docs/public/img/api/api-handler-clickhouse.png
  docs/public/img/api/api-handler-mysql.png
  docs/public/img/load/load-data-from-local-fs.png
  docs/public/img/load/load-data-from-s3.png
  docs/public/img/load/load-data-from-stage.png
Labels: pr-doc

#6952 fix: Bump opendal to fix aws s3 continuation-token incorrect
  Cargo.lock
  common/catalog/Cargo.toml
  common/config/Cargo.toml
  common/contexts/Cargo.toml
  common/settings/Cargo.toml
  common/storage/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-bugfix

#6956 feat: skip mysql var net_write_timeout
  query/src/servers/mysql/mysql_federated.rs
  tests/logictest/suites/gen/10_drivers/10_0003_federated_query
Labels: pr-feature

#6953 fix(planner): left join panic due to empty block
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  tests/logictest/suites/ydb/select1-1.test
Labels: pr-bugfix

#6954 fix(cluster): fix cannot kill query in cluster mode
  query/src/api/rpc/exchange/exchange_channel_receiver.rs
  query/src/api/rpc/exchange/exchange_channel_sender.rs
  query/src/api/rpc/exchange/exchange_manager.rs
  query/src/api/rpc/flight_service.rs
  query/src/api/rpc/packets/packet_data.rs
  query/src/pipelines/executor/executor_tasks.rs
  query/src/pipelines/executor/processor_async_task.rs
Labels: pr-bugfix

#6921 feat(functions): migrate trim functions to new expression framework.
  common/functions-v2/src/scalars/string.rs
  common/functions-v2/tests/it/scalars/parser.rs
  common/functions-v2/tests/it/scalars/string.rs
  common/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#6960 docs: Add docs for TRIM related functions
  docs/doc/30-reference/20-functions/40-string-functions/trim.md
Labels: pr-doc

#6961 docs: fix image links
  docs/doc/21-load-data/00-local.md
  docs/doc/21-load-data/01-s3.md
  docs/doc/21-load-data/02-stage.md
  docs/doc/30-reference/00-api/01-mysql-handler.md
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
Labels: pr-doc

#6950 fix(planner): fix case expr with case operator equal
  query/src/sql/planner/semantic/type_check.rs
  tests/logictest/suites/query/render_result.test
  tests/logictest/suites/ydb/select1-1.test
  tests/logictest/suites/ydb/select1-2.test
  tests/logictest/suites/ydb/select1-3.test
  tests/logictest/suites/ydb/select1-4.test
  tests/logictest/suites/ydb/select1-5.test
  tests/logictest/suites/ydb/select2-1.test
  tests/logictest/suites/ydb/select2-2.test
  tests/logictest/suites/ydb/select2-3.test
  tests/logictest/suites/ydb/select2-4.test
  tests/logictest/suites/ydb/select3-1.test
  tests/logictest/suites/ydb/select3-10.test
  tests/logictest/suites/ydb/select3-12.test
  tests/logictest/suites/ydb/select3-13.test
  tests/logictest/suites/ydb/select3-14.test
  tests/logictest/suites/ydb/select3-2.test
  tests/logictest/suites/ydb/select3-3.test
  tests/logictest/suites/ydb/select3-4.test
  tests/logictest/suites/ydb/select3-5.test
  tests/logictest/suites/ydb/select3-6.test
  tests/logictest/suites/ydb/select3-8.test
  tests/logictest/suites/ydb/select3-9.test
Labels: pr-bugfix

#6966 docs: make subtitle align in metasrv doc
  docs/doc/50-manage/00-metasrv/10-metasrv-deploy.md
Labels: pr-doc

#6962 fix(planner): column with null value, but column length is 0
  common/datablocks/tests/it/kernels/data_block_take.rs
  query/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/planner/binder/scalar_common.rs
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
  tests/logictest/suites/ydb/select1-1.test
Labels: pr-bugfix

#6976 feat(hive): explictly check table inputformat(only support parquet inputformat)
  query/src/catalogs/hive/hive_catalog.rs
Labels: pr-feature

#6970 fix(query): fix some tests that block `See you again`
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/async_insert_queue_v2.rs
  query/src/interpreters/interpreter_copy_v2.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_factory_interceptor.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_insert_v2.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/binder/ddl/database.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/show.rs
  query/src/sql/planner/plans/mod.rs
  query/tests/it/interpreters/access/management_mode_access.rs
  query/tests/it/interpreters/interpreter_table_create.rs
  query/tests/it/interpreters/interpreter_user_udf_alter.rs
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix, pr-chore

#6948 ci(test): enable subquery tests in ydb suit
  tests/logictest/suites/ydb/select1-1.test
Labels: pr-build

#6977 chore(query): only enable overflow-checks in profile.test
  Cargo.toml
Labels: pr-chore

#6983 chore: fix mergify config
  .github/mergify.yml
Labels: pr-chore

#6979 feat(planner): Support name resolution for alias
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/delete.rs
  query/src/sql/planner/binder/having.rs
  query/src/sql/planner/binder/insert.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/setting.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/logictest/suites/base/15_query/alias/having_with_alias.test
  tests/logictest/suites/ydb/select1-1.test
Labels: pr-feature

#6975 feat: add Create Share sql support
  common/ast/src/ast/statements/mod.rs
  common/ast/src/ast/statements/share.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  common/users/src/user_api.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_share_create.rs
  query/src/interpreters/mod.rs
  query/src/sql/planner/binder/ddl/mod.rs
  query/src/sql/planner/binder/ddl/share.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/share.rs
Labels: pr-feature

#6986 ci: improve logictest output
  tests/logictest/README.md
  tests/logictest/logictest.py
Labels: pr-build

#6478 feat: Implement column pruning for heuristic optimizer
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/optimizer/heuristic/prune_columns.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/mod.rs
  query/src/sql/planner/plans/aggregate.rs
  query/tests/it/sql/optimizer/heuristic/exchange.rs
  query/tests/it/sql/optimizer/heuristic/mod.rs
  query/tests/it/sql/optimizer/heuristic/prune_columns.rs
  query/tests/it/sql/optimizer/heuristic/testdata/prune_columns.test
  query/tests/it/sql/optimizer/heuristic/testdata/select.test
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
Labels: pr-feature

#6847 feat: Add default role, force ALTER/CREATE USER enable planner v2
  common/ast/src/ast/statements/user.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  common/meta/types/src/user_info.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/proto-conv/src/util.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/proto-conv/tests/it/user_proto_conv.rs
  common/protos/proto/user.proto
  common/users/src/lib.rs
  common/users/src/user.rs
  common/users/tests/it/user_mgr.rs
  query/src/sql/planner/binder/ddl/account.rs
  query/src/storages/system/users_table.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/storages/system/users_table.rs
  tests/logictest/suites/base/05_ddl/05_0004_ddl_create_user
  tests/logictest/suites/base/05_ddl/05_0004_ddl_create_user_v2
  tests/logictest/suites/base/05_ddl/05_0005_ddl_alter_user
  tests/logictest/suites/base/05_ddl/05_0005_ddl_alter_user_v2
Labels: pr-feature

#6987 feat: add Drop Share sql support
  common/ast/src/ast/statements/share.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_share_drop.rs
  query/src/interpreters/mod.rs
  query/src/sql/planner/binder/ddl/share.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/share.rs
Labels: pr-feature

#6992 fix: Switch chrono upstream to chronotope/chrono
  Cargo.lock
  Cargo.toml
  common/datavalues/Cargo.toml
  common/io/Cargo.toml
  query/Cargo.toml
  tools/fuzz/Cargo.toml
Labels: pr-bugfix

#6938 feat(query): enable projection pushdown in new planner
  query/src/interpreters/interpreter_explain_v2.rs
  query/src/interpreters/interpreter_select_v2.rs
  query/src/sql/executor/physical_plan_builder.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/metadata.rs
  query/tests/it/sql/planner/format/mod.rs
  scripts/ci/ci-run-sqllogic-tests.sh
Labels: pr-feature

#6995 docs: json optimization
  docs/doc/60-contributing/03-rfcs/20220805-json-optimization.md
Labels: pr-chore, pr-doc

#7000 fix(planner): Fix column prune for `COUNT(*)`
  query/src/sql/optimizer/heuristic/prune_columns.rs
  query/tests/it/sql/optimizer/heuristic/testdata/prune_columns.test
  query/tests/it/sql/optimizer/heuristic/testdata/select.test
  tests/logictest/suites/base/15_query/aggregate.test
Labels: pr-bugfix

#6997 fix: Workaround for axum has yanked the latest version
  Cargo.lock
  common/dep-hack/Cargo.toml
Labels: pr-bugfix

#6964 ci: add mini hits dataset 100k to stateful test
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.result
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
Labels: pr-build

#7001 chore: disable flaky test case 09_0019_bloom_filter_index
  tests/logictest/suites/base/09_fuse_engine/09_0019_bloom_filter_index
Labels: pr-chore

#7005 ci: Add a new PR type for RFC which needs three approvals
  .github/mergify.yml
  .github/release.yml
  docs/doc/60-contributing/01-good-pr.md
Labels: pr-build

#6999 ci: fix logictest dockerfile
  tests/logictest/Dockerfile
Labels: pr-build

#7008 fix: hive table read when pushdowns is None
  common/storages/hive/src/hive_table.rs
Labels: pr-bugfix

#6990 ci(query): test fuse-table compatibility
  .github/actions/artifact_failure/action.yml
  .github/actions/fuse_compat/action.yml
  .github/workflows/dev-linux.yml
  tests/fuse-compat/README.md
  tests/fuse-compat/compat-logictest/fuse_compat_read
  tests/fuse-compat/compat-logictest/fuse_compat_write
  tests/fuse-compat/test-fuse-compat.sh
Labels: pr-build

#7013 fix(planner): Fix prune projection
  query/src/sql/optimizer/heuristic/prune_columns.rs
  query/tests/it/sql/optimizer/heuristic/prune_columns.rs
  query/tests/it/sql/optimizer/heuristic/testdata/prune_columns.test
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
  tests/logictest/suites/base/15_query/subquery.test
Labels: pr-bugfix

#7012 feat(query): deprecate clickhouse's tcp protocol support
  .github/actions/publish_binary/databend-scripts-for-release/start.sh
  Cargo.lock
  common/config/src/inner.rs
  common/config/src/outer_v0.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/types/serializations/array.rs
  common/datavalues/src/types/serializations/boolean.rs
  common/datavalues/src/types/serializations/const_.rs
  common/datavalues/src/types/serializations/date.rs
  common/datavalues/src/types/serializations/mod.rs
  common/datavalues/src/types/serializations/null.rs
  common/datavalues/src/types/serializations/nullable.rs
  common/datavalues/src/types/serializations/number.rs
  common/datavalues/src/types/serializations/string.rs
  common/datavalues/src/types/serializations/struct_.rs
  common/datavalues/src/types/serializations/timestamp.rs
  common/datavalues/src/types/serializations/variant.rs
  common/pipeline/sources/Cargo.toml
  common/pipeline/sources/src/processors/sources/mod.rs
  common/pipeline/sources/src/processors/sources/sync_ck_source_receiver.rs
  common/pipeline/sources/src/processors/sources/sync_source_receiver.rs
  docker/databend-query-docker.toml
  docs/doc/30-reference/00-api/02-clickhouse-handler.md
  docs/doc/60-contributing/03-rfcs/20220805-deprecate-clickhouse-tcp-support.md
  docs/doc/90-learn/05-analyze-hits-dataset-with-databend.md
  query/Cargo.toml
  query/bin/databend-query.rs
  query/src/pipelines/processors/mod.rs
  query/src/servers/clickhouse/clickhouse_handler.rs
  query/src/servers/clickhouse/clickhouse_metrics.rs
  query/src/servers/clickhouse/clickhouse_session.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/clickhouse/mod.rs
  query/src/servers/clickhouse/reject_connection.rs
  query/src/servers/clickhouse/writers/mod.rs
  query/src/servers/clickhouse/writers/query_writer.rs
  query/src/servers/http/clickhouse_federated.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/mod.rs
  query/src/servers/mod.rs
  query/tests/it/configs.rs
  query/tests/it/pipelines/executor/executor_graph.rs
  query/tests/it/servers/clickhouse.rs
  query/tests/it/servers/mod.rs
  query/tests/it/tests/sessions.rs
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/kubernetes/query-cluster.yaml
  tests/poetry.lock
  tests/pyproject.toml
  tests/suites/0_stateless/10_drivers/10_0002_python_clickhouse_driver.py
  tests/suites/0_stateless/10_drivers/10_0002_python_clickhouse_driver.result
  website/blog/2022-06-09-quick-deploy.md
Labels: pr-feature

#6869 feat(planner): Enable new planner by default
  common/settings/src/lib.rs
  common/storages/hive/src/hive_partition_filler.rs
  query/src/evaluator/physical_scalar.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/sql/executor/physical_plan_builder.rs
  query/src/sql/planner/binder/insert.rs
  query/tests/it/servers/http/clickhouse_handler.rs
  query/tests/it/storages/system/settings_table.rs
  tests/logictest/suites/base/00_dummy/00_0000_dummy_select_1
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0002_function_others
  tests/logictest/suites/base/02_function/02_0004_function_name_display
  tests/logictest/suites/base/02_function/02_0009_function_hashes
  tests/logictest/suites/base/02_function/02_0010_function_if
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/02_function/02_0013_function_nullables
  tests/logictest/suites/base/02_function/02_0013_function_running_difference
  tests/logictest/suites/base/02_function/02_0014_function_maths
  tests/logictest/suites/base/02_function/02_0022_function_strings_unhex
  tests/logictest/suites/base/02_function/02_0024_function_strings_base_64
  tests/logictest/suites/base/02_function/02_0028_function_strings_elt
  tests/logictest/suites/base/02_function/02_0048_function_semi_structureds_object_keys
  tests/logictest/suites/base/02_function/02_0048_function_semi_structureds_parse_json
  tests/logictest/suites/base/02_function/02_0051_function_semi_structureds_get
  tests/logictest/suites/base/02_function/02_0054_function_string_regexp_replace
  tests/logictest/suites/base/02_function/02_0055_function_strings_trim
  tests/logictest/suites/base/03_dml/03_0000_select_aliases
  tests/logictest/suites/base/03_dml/03_0003_select_group_by
  tests/logictest/suites/base/03_dml/03_0004_select_order_by
  tests/logictest/suites/base/03_dml/03_0005_select_filter
  tests/logictest/suites/base/03_dml/03_0010_select_limit_offset
  tests/logictest/suites/base/03_dml/03_0012_select_number_type
  tests/logictest/suites/base/03_dml/03_0024_select_window_function
  tests/logictest/suites/base/04_explain/04_0000_explain
  tests/logictest/suites/base/04_explain/04_0001_explain_pipeline
  tests/logictest/suites/base/06_show/06_0003_show_settings
  tests/logictest/suites/base/06_show/06_0003_show_settings_v2
  tests/logictest/suites/base/08_optimizer/08_0000_optimizer
  tests/logictest/suites/base/08_optimizer/08_0001_optimizer_statistics_exact
  tests/logictest/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
  tests/logictest/suites/base/09_fuse_engine/09_0009_remote_explain
  tests/logictest/suites/base/09_fuse_engine/09_0012_pushdown_limit
  tests/logictest/suites/base/09_fuse_engine/09_0018_min_max_index
  tests/logictest/suites/base/10_drivers/10_0003_federated_query
  tests/logictest/suites/base/20+_others/20_0007_random_engine
  tests/suites/0_stateless/04_explain/04_0000_explain.sql
  tests/suites/0_stateless/04_explain/04_0001_explain_pipeline.sql
  tests/suites/0_stateless/04_explain/04_0002_explain_v2.sql
  tests/suites/0_stateless/08_optimizer/08_0000_optimizer.sql
  tests/suites/0_stateless/08_optimizer/08_0001_optimizer_statistics_exact.sql
  tests/suites/0_stateless/10_drivers/10_0000_python_mysql_driver.py
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.result
  tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.sql
Labels: pr-feature

#7018 ci(fuse-table): add data types test to fuse-compat test
  tests/fuse-compat/compat-logictest/fuse_compat_read
  tests/fuse-compat/compat-logictest/fuse_compat_write
Labels: pr-build

#7009 feat: add Grant and Revoke Share Object sql support
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/ast/statements/share.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  common/meta/api/src/share_api.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_test_suite.rs
  common/meta/app/src/share/share.rs
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_share_grant_object.rs
  query/src/interpreters/interpreter_share_revoke_object.rs
  query/src/interpreters/mod.rs
  query/src/sql/planner/binder/ddl/share.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/share.rs
Labels: pr-feature

#7019 fix(clickhouse handler): try catch error before response.
  query/src/servers/http/clickhouse_handler.rs
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0002_function_others
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/09_fuse_engine/09_0006_func_fuse_history
  tests/logictest/suites/base/20+_others/20_0003_crash_me_table
Labels: pr-bugfix

#7024 chore: remove unused dependency, add #![deny(unused_crate_dependencies)] to all single target crates
  Cargo.lock
  common/arrow/src/lib.rs
  common/building/src/lib.rs
  common/catalog/Cargo.toml
  common/catalog/src/lib.rs
  common/config/Cargo.toml
  common/contexts/Cargo.toml
  common/contexts/src/lib.rs
  common/fuse-meta/src/lib.rs
  common/legacy-parser/Cargo.toml
  common/legacy-parser/src/lib.rs
  common/macros/src/lib.rs
  common/meta/api/Cargo.toml
  common/meta/api/src/lib.rs
  common/meta/app/Cargo.toml
  common/meta/app/src/lib.rs
  common/meta/store/Cargo.toml
  common/meta/store/src/lib.rs
  common/pipeline/sinks/Cargo.toml
  common/pipeline/sinks/src/lib.rs
  common/pipeline/sources/Cargo.toml
  common/pipeline/sources/src/lib.rs
  common/pipeline/transforms/Cargo.toml
  common/pipeline/transforms/src/lib.rs
  common/settings/Cargo.toml
  common/settings/src/lib.rs
  common/storages/fuse/Cargo.toml
  common/storages/fuse/src/lib.rs
  common/storages/hive/Cargo.toml
  common/storages/hive/src/lib.rs
  common/storages/index/Cargo.toml
  common/storages/index/src/lib.rs
  common/storages/util/Cargo.toml
  common/storages/util/src/lib.rs
  common/tracing/Cargo.toml
  common/tracing/src/lib.rs
  tools/metabench/Cargo.toml
  tools/metabench/src/main.rs
  tools/metactl/src/main.rs
Labels: pr-chore

#7029 refactor: refactor add\remove share accounts API
  common/exception/src/exception_code.rs
  common/meta/api/src/share_api.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_test_suite.rs
  common/meta/app/src/share/mod.rs
  common/meta/app/src/share/share.rs
  common/meta/types/src/app_error.rs
Labels: pr-refactor

#7039 docs: remove planner v2
  docs/doc/30-reference/20-functions/11-conditional-functions/ifnull.md
  docs/doc/30-reference/20-functions/11-conditional-functions/is_distinct_from.md
  docs/doc/30-reference/20-functions/11-conditional-functions/multi_if.md
  docs/doc/30-reference/20-functions/11-conditional-functions/nullif.md
  docs/doc/30-reference/30-sql/20-query-syntax/dml-at.md
  docs/doc/30-reference/30-sql/20-query-syntax/dml-join.md
Labels: pr-doc

#7036 fix(logic test): rm some 'onlyif mysql' and 'skipif clickhouse'.
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0014_function_maths
  tests/logictest/suites/base/02_function/02_0022_function_strings_unhex
  tests/logictest/suites/base/02_function/02_0024_function_strings_base_64
  tests/logictest/suites/base/02_function/02_0028_function_strings_elt
  tests/logictest/suites/base/02_function/02_0048_function_semi_structureds_object_keys
  tests/logictest/suites/base/02_function/02_0048_function_semi_structureds_parse_json
  tests/logictest/suites/base/02_function/02_0051_function_semi_structureds_get
  tests/logictest/suites/base/02_function/02_0054_function_string_regexp_replace
  tests/logictest/suites/base/03_dml/03_0000_select_aliases
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
  tests/logictest/suites/base/20+_others/20_0002_planner_v2_display_error
Labels: pr-bugfix

#7030 feat(parser): support cte in parser
  common/ast/src/ast/query.rs
  common/ast/src/parser/query.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
Labels: pr-feature

#7042 docs: add blog for tpc-h
  website/blog/2022-08-08-benchmark-tpc-h.md
  website/static/img/blog/tables.jpeg
Labels: pr-doc

#7041 feat(storage): generate cluster statistics in deletion
  Cargo.lock
  common/storages/fuse/Cargo.toml
  common/storages/fuse/src/io/mod.rs
  common/storages/fuse/src/io/write/block_compactor.rs
  common/storages/fuse/src/io/write/block_stream_writer.rs
  common/storages/fuse/src/io/write/block_writer.rs
  common/storages/fuse/src/io/write/mod.rs
  common/storages/fuse/src/operations/append.rs
  common/storages/fuse/src/operations/delete.rs
  common/storages/fuse/src/operations/fuse_sink.rs
  common/storages/fuse/src/operations/mutation/compact_mutator.rs
  common/storages/fuse/src/operations/mutation/deletion_mutator.rs
  common/storages/fuse/src/statistics/block_statistics.rs
  common/storages/fuse/src/statistics/cluster_statistics.rs
  common/storages/fuse/src/statistics/mod.rs
  common/storages/index/src/range_filter.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  query/tests/it/storages/fuse/statistics.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
Labels: pr-feature, A-storage

#7033 refactor: removes ConfigReload user option
  common/ast/src/ast/statements/user.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/meta/types/src/user_info.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/user_proto_conv.rs
  query/src/procedures/admins/admin.rs
  query/src/procedures/admins/bootstrap_tenant.rs
  query/src/procedures/admins/mod.rs
  query/tests/it/interpreters/interpreter_call.rs
Labels: pr-refactor

#7047 refactor(proto-conv): pb::S3StorageConfig should be decoded into StorageS3Config, instead of into enum StorageParams
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
Labels: pr-refactor

#7048 refactor(proto-conv): trait FromToPB use associated type instead of type parameter
  common/management/src/serde/pb_serde.rs
  common/meta/api/src/kv_api_utils.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/proto-conv/src/data_from_to_protobuf_impl.rs
  common/proto-conv/src/database_from_to_protobuf_impl.rs
  common/proto-conv/src/from_to_protobuf.rs
  common/proto-conv/src/share_from_to_protobuf_impl.rs
  common/proto-conv/src/table_from_to_protobuf_impl.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
Labels: pr-refactor

#7051 feat: avoid making cycle between roles
  common/exception/src/exception_code.rs
  common/management/src/role/role_mgr.rs
  common/meta/types/src/role_info.rs
  common/users/src/lib.rs
  common/users/src/role_cache_mgr.rs
  common/users/src/role_mgr.rs
  common/users/src/role_util.rs
  common/users/tests/it/role_cache_mgr.rs
  query/tests/it/interpreters/interpreter_role_grant.rs
  query/tests/it/interpreters/interpreter_role_revoke.rs
  tests/logictest/logictest.py
  tests/logictest/main.py
  tests/logictest/suites/base/05_ddl/05_0017_ddl_grant_role_v2
Labels: pr-feature

#7055 refactor(meta-api): Introduce Id for KVApi
  common/meta/api/src/id.rs
  common/meta/api/src/kv_api_utils.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_keys.rs
  common/meta/api/src/share_api_keys.rs
Labels: pr-refactor

#7054 feat(expr): implement adaptive constant folding
  Cargo.lock
  common/expression/Cargo.toml
  common/expression/src/chunk.rs
  common/expression/src/display.rs
  common/expression/src/evaluator.rs
  common/expression/src/expression.rs
  common/expression/src/function.rs
  common/expression/src/kernels/filter.rs
  common/expression/src/property.rs
  common/expression/src/types.rs
  common/expression/src/types/array.rs
  common/expression/src/types/boolean.rs
  common/expression/src/types/empty_array.rs
  common/expression/src/types/generic.rs
  common/expression/src/types/map.rs
  common/expression/src/types/null.rs
  common/expression/src/types/nullable.rs
  common/expression/src/types/number.rs
  common/expression/src/types/string.rs
  common/expression/src/values.rs
  common/expression/tests/it/expression.rs
  common/expression/tests/it/testdata/run-pass.txt
  common/functions-v2/src/scalars/control.rs
  common/functions-v2/src/scalars/string.rs
  common/functions-v2/tests/it/scalars/mod.rs
  common/functions-v2/tests/it/scalars/testdata/boolean.txt
  common/functions-v2/tests/it/scalars/testdata/control.txt
  common/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#7062 refactor(meta-api): merge TableIdGen, DatabaseIdGen and ShareIdGen into one id-generator key
  common/meta/api/src/id_generator.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_keys.rs
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_keys.rs
Labels: pr-refactor

#7072 fix(planner): Enable push down filter scan
  common/storages/hive/src/hive_table.rs
  query/src/sql/optimizer/heuristic/mod.rs
  query/src/sql/planner/format/display_rel_operator.rs
  query/tests/it/sql/optimizer/heuristic/testdata/exchange.test
  query/tests/it/sql/optimizer/heuristic/testdata/join.test
  query/tests/it/sql/optimizer/heuristic/testdata/prune_columns.test
  query/tests/it/sql/optimizer/heuristic/testdata/select.test
  query/tests/it/sql/optimizer/heuristic/testdata/subquery.test
  query/tests/it/sql/planner/format/mod.rs
  tests/logictest/suites/base/04_explain/04_0002_explain_v2
  tests/suites/0_stateless/04_explain/04_0002_explain_v2.result
  tests/suites/0_stateless/04_explain/04_0002_explain_v2_cluster.result
Labels: pr-bugfix

#7071 feat(parser): add mysql dialect
  common/ast/src/error.rs
  common/ast/src/input.rs
  common/ast/src/lib.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/mod.rs
  common/ast/src/util.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/statement.txt
  common/expression/tests/it/parser.rs
  common/functions-v2/tests/it/scalars/parser.rs
  query/src/sql/planner/binder/copy.rs
  query/src/sql/planner/binder/ddl/table.rs
  query/src/sql/planner/binder/insert.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/mod.rs
  query/src/sql/planner/semantic/type_check.rs
  query/tests/it/sql/optimizer/heuristic/exchange.rs
  query/tests/it/sql/optimizer/heuristic/mod.rs
  query/tests/it/sql/planner/semantic/name_resolution.rs
Labels: pr-feature

#7044 feat: add alter share tenants sql
  common/ast/src/ast/statements/share.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/interpreters/interpreter_factory_v2.rs
  query/src/interpreters/interpreter_share_alter_tenants.rs
  query/src/interpreters/mod.rs
  query/src/sql/planner/binder/ddl/share.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/format/display_plan.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/share.rs
Labels: C-feature, pr-feature

#7067 feat(expression): add a helper trait ColumnFrom
  common/expression/src/column_from.rs
  common/expression/src/lib.rs
  common/expression/src/types.rs
  common/expression/src/types/number.rs
  common/expression/src/values.rs
  common/expression/tests/it/expression.rs
  common/expression/tests/it/kernel.rs
Labels: pr-feature

#7056 feat(planner): support common table expression(CTE)
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/table.rs
  tests/logictest/suites/base/15_query/cte.test
Labels: pr-feature

#7075 feat(expr): support 3 args function
  common/expression/src/function.rs
  common/expression/tests/it/testdata/tyck-fail.txt
Labels: pr-feature

#7079 feat(planner): support explain raw query
  common/ast/src/ast/statements/explain.rs
  common/ast/src/ast/statements/statement.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  query/src/interpreters/interpreter_explain_v2.rs
  query/src/sql/optimizer/mod.rs
  query/src/sql/planner/format/display_rel_operator.rs
  tests/logictest/suites/base/04_explain/04_0002_explain_v2
Labels: pr-feature

#7086 fix(planner): left join using() return error result
  query/src/sql/planner/binder/join.rs
  tests/logictest/suites/base/15_query/join.test
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
Labels: pr-bugfix

#7084 feat: add query logger back to session manager
  common/storages/preludes/src/system/tracing_table.rs
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/session_mgr.rs
Labels: pr-feature

#7083 chore(parser): show unknown func name
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-chore

#7078 refactor(query): predicate push down support multi expressions
  common/planners/src/plan_node_extras.rs
  common/storages/fuse/src/pruning/bloom_pruner.rs
  common/storages/fuse/src/pruning/pruning_executor.rs
  common/storages/fuse/src/pruning/range_pruner.rs
  common/storages/hive/src/hive_partition_pruner.rs
  common/storages/hive/src/hive_table.rs
  common/storages/index/src/range_filter.rs
  query/tests/it/storages/index/range_filter.rs
Labels: pr-refactor

#7025 fix(processor): Use flight do_exchange replace flight do_put
  common/exception/src/exception_code.rs
  common/pipeline/core/src/pipeline.rs
  query/src/api/mod.rs
  query/src/api/rpc/exchange/exchange_channel.rs
  query/src/api/rpc/exchange/exchange_channel_receiver.rs
  query/src/api/rpc/exchange/exchange_channel_sender.rs
  query/src/api/rpc/exchange/exchange_manager.rs
  query/src/api/rpc/exchange/exchange_params.rs
  query/src/api/rpc/exchange/exchange_sink.rs
  query/src/api/rpc/exchange/exchange_sink_merge.rs
  query/src/api/rpc/exchange/exchange_sink_shuffle.rs
  query/src/api/rpc/exchange/exchange_source.rs
  query/src/api/rpc/exchange/exchange_source_merge.rs
  query/src/api/rpc/exchange/exchange_source_shuffle.rs
  query/src/api/rpc/exchange/exchange_transform.rs
  query/src/api/rpc/exchange/exchange_transform_source.rs
  query/src/api/rpc/exchange/mod.rs
  query/src/api/rpc/exchange/statistics_receiver.rs
  query/src/api/rpc/exchange/statistics_sender.rs
  query/src/api/rpc/flight_actions.rs
  query/src/api/rpc/flight_client.rs
  query/src/api/rpc/flight_scatter_hash.rs
  query/src/api/rpc/flight_service.rs
  query/src/api/rpc/mod.rs
  query/src/api/rpc/packets/mod.rs
  query/src/api/rpc/packets/packet_data.rs
  query/src/api/rpc/packets/packet_executor.rs
  query/src/api/rpc/packets/packet_publisher.rs
  query/src/api/rpc/request_builder.rs
  query/src/interpreters/fragments/query_fragment_actions.rs
  query/src/pipelines/executor/pipeline_executor.rs
  query/src/pipelines/executor/pipeline_pulling_executor.rs
  query/src/pipelines/executor/processor_async_task.rs
  query/src/pipelines/pipeline_builder.rs
  query/src/sql/executor/pipeline_builder.rs
  tests/suites/0_stateless/13_tpch/13_0001_q1.sql
  tests/suites/0_stateless/13_tpch/13_0010_q10.result
  tests/suites/0_stateless/13_tpch/13_0010_q10.sql
Labels: pr-bugfix

#7088 refactor: get_share_grant_objects API should return name instead of id
  common/meta/api/src/share_api_impl.rs
  common/meta/api/src/share_api_test_suite.rs
  common/meta/app/src/share/mod.rs
  common/meta/app/src/share/share.rs
Labels: pr-refactor

#7059 rfc: add share rfc
  docs/doc/60-contributing/03-rfcs/20220809-share.md
Labels: C-documentation, pr-rfc

#7085 chore: add logictest complete tool
  tests/logictest/README.md
  tests/logictest/complete.py
Labels: pr-chore

#7095 fix(processor): try fix invalid physical exchange plan for http handle
  query/src/interpreters/interpreter_select_v2.rs
  query/src/servers/http/v1/query/execute_state.rs
Labels: pr-bugfix

#7097 fix(planner): `ColumnPruner` finds wrong smallest column index
  query/src/sql/optimizer/heuristic/prune_columns.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/plans/mod.rs
  tests/logictest/suites/base/15_query/join.test
  tests/logictest/suites/base/15_query/subquery.test
Labels: pr-bugfix

#7102 docs: refactor share rfc
  docs/doc/60-contributing/03-rfcs/20220809-share.md
  docs/public/img/rfc/20220809-share/share.png
Labels: pr-doc, pr-rfc

#7103 fix(processor): fix sqllogic test server hang
  query/src/sessions/query_ctx_shared.rs
Labels: pr-bugfix

#7080 feat(planner): support tuple map access pushdown to storage
  common/datavalues/src/data_schema.rs
  common/planners/src/lib.rs
  common/planners/src/plan_delete.rs
  common/planners/src/plan_node_extras.rs
  common/planners/src/plan_read_datasource.rs
  common/storages/fuse/src/fuse_part.rs
  common/storages/fuse/src/io/read/block_reader.rs
  common/storages/fuse/src/lib.rs
  common/storages/fuse/src/operations/mutation/block_filter.rs
  common/storages/fuse/src/operations/mutation/compact_mutator.rs
  common/storages/fuse/src/operations/read.rs
  common/storages/fuse/src/operations/read_partitions.rs
  common/storages/hive/src/hive_table.rs
  common/storages/preludes/src/memory/memory_table.rs
  common/storages/preludes/src/random/random_table.rs
  query/src/sql/executor/physical_plan_builder.rs
  query/src/sql/optimizer/heuristic/decorrelate.rs
  query/src/sql/optimizer/heuristic/subquery_rewriter.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/delete.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/table.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/semantic/type_check.rs
  query/src/sql/statements/query/query_collect_push_downs.rs
  query/src/sql/statements/statement_delete.rs
  query/src/storages/result/block_buffer.rs
  query/src/storages/result/result_table.rs
  query/src/storages/result/result_table_sink.rs
  query/src/storages/storage_table_read_plan.rs
  query/tests/it/sql/planner/format/mod.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  query/tests/it/storages/memory.rs
  tests/logictest/suites/base/03_dml/03_0026_insert_into_tuple
  tests/logictest/suites/base/03_dml/03_0026_insert_into_tuple_v2
Labels: pr-feature

#7098 fix(hive): fix table column name and parquet column name may not case…
  common/storages/hive/src/hive_parquet_block_reader.rs
Labels: pr-bugfix

#7107 feat: Bump OpenDAL to v0.12
  Cargo.lock
  src/common/catalog/Cargo.toml
  src/common/config/Cargo.toml
  src/common/contexts/Cargo.toml
  src/common/pipeline/sources/Cargo.toml
  src/common/pipeline/sources/src/processors/sources/multi_file_splitter.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
  src/common/storages/fuse/Cargo.toml
  src/common/storages/hive/Cargo.toml
  src/common/storages/preludes/Cargo.toml
  src/common/streams/Cargo.toml
  src/common/streams/tests/it/sources/source_csv.rs
  src/query/service/Cargo.toml
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/storages/stage/stage_source.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
Labels: pr-feature

#7108 chore: update databend cloud warehouse img
  docs/doc/02-cloud/index.md
  docs/public/img/cloud/databend-warehouse.gif
Labels: pr-chore

#7109 chore: Fix the grammar errors in readme.md
  README.md
Labels: pr-chore

#7113 fix(meta): When handling append-entries, if prev_log_id is purged, it should not delete any logs
  Cargo.lock
  src/binaries/Cargo.toml
  src/common/formats/src/format_parquet.rs
  src/meta/service/src/store/meta_raft_store.rs
  src/meta/service/tests/it/store.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
Labels: C-bug, prio: high, pr-bugfix, A-meta

#7096 feat(query): add arithmetic function v2 support
  Cargo.lock
  src/common/codegen/Cargo.toml
  src/common/codegen/src/bin/codegen.rs
  src/common/codegen/src/writes/arithmetics_type.rs
  src/common/codegen/src/writes/arithmetics_type_v2.rs
  src/common/codegen/src/writes/mod.rs
  src/common/expression/Cargo.toml
  src/common/expression/src/types.rs
  src/common/expression/src/types/arithmetics_type.rs
  src/common/functions-v2/Cargo.toml
  src/common/functions-v2/src/lib.rs
  src/common/functions-v2/src/scalars/arithmetic.rs
  src/common/functions-v2/src/scalars/mod.rs
  src/common/functions-v2/tests/it/scalars/arithmetic.rs
  src/common/functions-v2/tests/it/scalars/mod.rs
  src/common/functions-v2/tests/it/scalars/parser.rs
  src/common/functions-v2/tests/it/scalars/testdata/arithmetic.txt
Labels: pr-feature

#7117 chore(query): remove udf parser in ast crate
  Cargo.lock
  src/common/legacy-parser/Cargo.toml
  src/common/legacy-parser/src/analyzer/analyzer_expr_sync.rs
  src/common/management/Cargo.toml
  src/common/management/src/udf/udf_mgr.rs
  src/common/storages/preludes/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/src/lib.rs
  src/query/ast/src/udf_validator.rs
  src/query/ast/src/udfs/mod.rs
  src/query/ast/src/udfs/udf_definition.rs
  src/query/ast/src/udfs/udf_expr_visitor.rs
  src/query/ast/src/udfs/udf_fetcher.rs
  src/query/ast/src/udfs/udf_parser.rs
  src/query/ast/src/udfs/udf_transformer.rs
  src/query/ast/tests/it/main.rs
  src/query/ast/tests/it/udfs/mod.rs
  src/query/ast/tests/it/udfs/udf_parser.rs
  src/query/ast/tests/it/udfs/udf_transformer.rs
  src/query/service/src/sql/plan_parser.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/statements/analyzer_expr.rs
  src/query/service/src/sql/statements/mod.rs
  src/query/service/src/sql/statements/query/query_normalizer.rs
  src/query/service/src/sql/statements/query/query_schema_joined_analyzer.rs
  src/query/service/src/sql/statements/statement_delete.rs
Labels: pr-chore

#7119 feat: add raft current_term and last_log_index into metrics
  docs/doc/50-manage/00-metasrv/50-metasrv-metrics.md
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
Labels: pr-feature

#7118 chore: add support clickhouse https protocol
  tests/logictest/clickhouse_connector.py
Labels: pr-chore

#7110 refactor(query): improve performance of aggregate function distinct
  src/common/datavalues/src/columns/string/mutable.rs
  src/common/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/common/functions/src/aggregates/aggregate_distinct_state.rs
  src/common/functions/src/aggregates/aggregator.rs
  src/common/functions/src/aggregates/mod.rs
  src/common/io/src/utils.rs
Labels: pr-refactor

#7105 feat: add desc share sql
  docs/doc/60-contributing/03-rfcs/20220809-share.md
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_factory_v2.rs
  src/query/service/src/interpreters/interpreter_share_desc.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sql/planner/binder/ddl/share.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/format/display_plan.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/src/sql/planner/plans/share.rs
  src/query/service/tests/it/interpreters/interpreter_share_desc.rs
  src/query/service/tests/it/interpreters/mod.rs
Labels: pr-feature

#7125 refactor(meta-service): add defensive check to raft-store.
  Cargo.lock
  src/binaries/Cargo.toml
  src/meta/raft-store/src/state_machine/mod.rs
  src/meta/raft-store/src/state_machine/placement.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/raft-store/tests/it/state_machine/placement.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/network.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/tests/it/store.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
Labels: pr-refactor

#7129 docs: add explain raw
  docs/doc/30-reference/30-sql/90-explain-cmds/explain-fragments.md
  docs/doc/30-reference/30-sql/90-explain-cmds/explain-raw.md
Labels: pr-doc

#7136 chore: catch RuntimeError exception convert to LogicError
  tests/logictest/logictest.py
Labels: pr-chore

#7134 refactor(meta-service): upgrade some critical debug level logging to info level
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/metactl/snapshot.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
  tests/logictest/complete.py
Labels: pr-refactor

#7135 refactor(query): use common hashtable to store the numeric distinct state
  Cargo.lock
  src/common/functions/Cargo.toml
  src/common/functions/src/aggregates/aggregate_distinct_state.rs
  src/common/hashtable/Cargo.toml
  src/common/hashtable/src/hash_table.rs
  src/common/hashtable/src/hash_table_key.rs
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/two_level_hash_table.rs
Labels: pr-refactor

#7140 feat(query): add arithmetics-v2-modulo
  Cargo.lock
  src/common/codegen/src/writes/arithmetics_type_v2.rs
  src/common/expression/src/types/arithmetics_type.rs
  src/common/expression/src/types/number.rs
  src/common/functions-v2/Cargo.toml
  src/common/functions-v2/src/scalars/arithmetic.rs
  src/common/functions-v2/src/scalars/arithmetic_modulo.rs
  src/common/functions-v2/src/scalars/mod.rs
  src/common/functions-v2/tests/it/scalars/arithmetic.rs
  src/common/functions-v2/tests/it/scalars/testdata/arithmetic.txt
Labels: pr-feature

#7142 feat: refactor show share api
  src/common/exception/src/exception_code.rs
  src/meta/api/src/kv_api_utils.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_keys.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/meta/types/src/app_error.rs
Labels: pr-feature

#7124 feat(planner): support explain syntax
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/mod.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/format/syntax/mod.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/mod.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_explain_v2.rs
  src/query/service/src/sql/optimizer/mod.rs
  tests/logictest/suites/mode/standalone/04_0002_explain_v2
Labels: pr-feature

#7148 chore: disable mode dir when running core suites
  scripts/ci/ci-run-sqllogic-tests.sh
Labels: pr-chore

#7145 feat: add show shares sql
  docs/doc/60-contributing/03-rfcs/20220809-share.md
  src/meta/api/src/share_api.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_factory_v2.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sql/planner/binder/ddl/share.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/format/display_plan.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/src/sql/planner/plans/share.rs
Labels: pr-feature

#7022 fix: streaming mysql resultset
  Cargo.lock
  src/common/pipeline/sources/src/processors/sources/mod.rs
  src/common/pipeline/sources/src/processors/sources/stream_source.rs
  src/common/storages/fuse/Cargo.toml
  src/common/storages/fuse/src/fuse_table.rs
  src/common/storages/fuse/src/io/read/meta_readers.rs
  src/common/storages/fuse/src/io/read/snapshot_history_reader.rs
  src/common/storages/fuse/src/operations/commit.rs
  src/common/storages/fuse/src/operations/compact.rs
  src/common/storages/fuse/src/operations/delete.rs
  src/common/storages/fuse/src/operations/gc.rs
  src/common/storages/fuse/src/operations/navigate.rs
  src/common/storages/fuse/src/operations/read_partitions.rs
  src/common/storages/fuse/src/operations/truncate.rs
  src/common/storages/fuse/src/table_functions/clustering_informations/clustering_information.rs
  src/common/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
  src/common/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/common/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_call.rs
  src/query/service/src/procedures/admins/tenant_quota.rs
  src/query/service/src/procedures/mod.rs
  src/query/service/src/procedures/procedure.rs
  src/query/service/src/procedures/systems/clustering_information.rs
  src/query/service/src/procedures/systems/fuse_segment.rs
  src/query/service/src/procedures/systems/fuse_snapshot.rs
  src/query/service/src/procedures/systems/search_tables.rs
  src/query/service/src/procedures/systems/sync_stage.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/servers/mysql/writers/init_result_writer.rs
  src/query/service/src/servers/mysql/writers/mod.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
Labels: pr-bugfix

#7150 fix(planner): fix cross join empty gets error
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  tests/logictest/suites/base/15_query/join.test
Labels: pr-bugfix

#7155 docs: fix typo
  src/common/datavalues/src/columns/series.rs
  src/common/datavalues/src/scalars/column.rs
  src/common/datavalues/src/scalars/type_.rs
Labels: pr-doc

#7152 refactor: bump opendal to v0.13.0
  Cargo.lock
  src/common/catalog/Cargo.toml
  src/common/config/Cargo.toml
  src/common/contexts/Cargo.toml
  src/common/pipeline/sources/Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storages/fuse/Cargo.toml
  src/common/storages/hive/Cargo.toml
  src/common/storages/preludes/Cargo.toml
  src/common/streams/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/sessions/session_mgr.rs
  tests/logictest/logictest.py
Labels: pr-refactor

#7146 fix(expr): fold more constant
  src/common/expression/src/evaluator.rs
  src/common/expression/src/expression.rs
  src/common/expression/tests/it/expression.rs
  src/common/expression/tests/it/testdata/run-pass.txt
  src/common/functions-v2/tests/it/scalars/mod.rs
  src/common/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-bugfix

#7143 chore(tests): disable parseSQL in http logictest
  tests/logictest/clickhouse_connector.py
  tests/logictest/http_connector.py
  tests/logictest/suites/base/00_dummy/00_0000_dummy_select_1
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0051_function_semi_structureds_get
  tests/logictest/suites/base/02_function/02_0056_function_semi_structureds_as
  tests/logictest/suites/base/03_dml/03_0018_insert_into_variant
  tests/logictest/suites/base/03_dml/03_0018_insert_into_variant_v2
  tests/logictest/suites/base/05_ddl/05_0000_ddl_create_tables_v2
  tests/logictest/suites/base/05_ddl/05_0000_ddl_drop_tables_v2
  tests/logictest/suites/base/05_ddl/05_0001_ddl_create_database_v2
  tests/logictest/suites/base/05_ddl/05_0001_ddl_drop_database_v2
  tests/logictest/suites/base/05_ddl/05_0001_ddl_drop_table_full_v2
  tests/logictest/suites/base/05_ddl/05_0003_ddl_alter_database
  tests/logictest/suites/base/05_ddl/05_0003_ddl_alter_database_v2
  tests/logictest/suites/base/05_ddl/05_0003_ddl_alter_tabld_v2
  tests/logictest/suites/base/05_ddl/05_0003_ddl_rename_table
  tests/logictest/suites/base/05_ddl/05_0003_ddl_rename_table_v2
  tests/logictest/suites/base/05_ddl/05_0003_ddl_truncate_table
  tests/logictest/suites/base/05_ddl/05_0003_ddl_truncate_table_v2
  tests/logictest/suites/base/05_ddl/05_0004_ddl_create_user
  tests/logictest/suites/base/05_ddl/05_0004_ddl_create_user_v2
  tests/logictest/suites/base/05_ddl/05_0005_ddl_alter_user
  tests/logictest/suites/base/05_ddl/05_0005_ddl_alter_user_v2
  tests/logictest/suites/base/05_ddl/05_0006_ddl_grant_privilege
  tests/logictest/suites/base/05_ddl/05_0006_ddl_grant_privilege_v2
  tests/logictest/suites/base/05_ddl/05_0007_ddl_drop_user
  tests/logictest/suites/base/05_ddl/05_0007_ddl_drop_user_v2
  tests/logictest/suites/base/05_ddl/05_0010_ddl_create_udf
  tests/logictest/suites/base/05_ddl/05_0010_ddl_create_udf_v2
  tests/logictest/suites/base/05_ddl/05_0011_ddl_drop_udf
  tests/logictest/suites/base/05_ddl/05_0011_ddl_drop_udf_v2
  tests/logictest/suites/base/05_ddl/05_0013_ddl_alter_udf
  tests/logictest/suites/base/05_ddl/05_0013_ddl_alter_udf_v2
  tests/logictest/suites/base/05_ddl/05_0014_ddl_create_role
  tests/logictest/suites/base/05_ddl/05_0014_ddl_create_role_v2
  tests/logictest/suites/base/05_ddl/05_0015_ddl_drop_role
  tests/logictest/suites/base/05_ddl/05_0015_ddl_drop_role_v2
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage_v2
  tests/logictest/suites/base/05_ddl/05_0017_ddl_grant_role
  tests/logictest/suites/base/05_ddl/05_0017_ddl_grant_role_v2
  tests/logictest/suites/base/05_ddl/05_0019_ddl_create_view
  tests/logictest/suites/base/05_ddl/05_0019_ddl_create_view_v2
  tests/logictest/suites/base/05_ddl/05_0020_ddl_drop_view
  tests/logictest/suites/base/05_ddl/05_0020_ddl_drop_view_v2
  tests/logictest/suites/base/05_ddl/05_0021_ddl_alter_view_v2
  tests/logictest/suites/base/05_ddl/05_0022_ddl_revoke
  tests/logictest/suites/base/05_ddl/05_0023_exists_table
  tests/logictest/suites/base/05_ddl/05_0023_exists_table_v2
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
Labels: pr-chore

#7154 ci: add part of crdb logictest suites
  .github/workflows/dev-linux.yml
  tests/logictest/suites/crdb/and_or
  tests/logictest/suites/crdb/conditional
  tests/logictest/suites/crdb/create_as
  tests/logictest/suites/crdb/default
  tests/logictest/suites/crdb/delete
  tests/logictest/suites/crdb/join
  tests/logictest/suites/crdb/limit
  tests/logictest/suites/crdb/natual_join
  tests/logictest/suites/crdb/order_by
  tests/logictest/suites/crdb/overflow
  tests/logictest/suites/crdb/select
  tests/logictest/suites/crdb/sqllite
  tests/logictest/suites/crdb/where
Labels: pr-build

#7158 chore(tests): add test for load variant from ndjson
  src/common/streams/tests/it/sources/source_ndjson.rs
  tests/data/json_sample.ndjson
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_variant_load.result
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_variant_load.sh
  tests/suites/1_stateful/ddl/variant_test.sql
Labels: pr-chore

#7157 feat: add get_grant_tenants_of_share and get_grant_privileges_of_object api
  src/meta/api/src/share_api.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_keys.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/meta/proto-conv/src/share_from_to_protobuf_impl.rs
  src/meta/protos/proto/share.proto
  src/query/service/src/interpreters/interpreter_share_alter_tenants.rs
  src/query/service/src/interpreters/interpreter_share_desc.rs
Labels: pr-feature

#7161 docs: explain syntax
  docs/doc/30-reference/30-sql/90-explain-cmds/explain-syntax.md
Labels: pr-doc

#7163 refactor(openraft): upgrade openraft to release 0.7.1
  Cargo.lock
  src/binaries/Cargo.toml
  src/meta/raft-store/src/config.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/store.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
Labels: pr-refactor

#7169 chore: production logictest run base and ydb only
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/workflows/production.yml
Labels: pr-chore

#7170 fix(processor): try fix cluster exchange send very slow
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/flight_service.rs
Labels: pr-bugfix

#7178 ci: Fix releases on existing tags
  .github/workflows/databend-release.yml
Labels: pr-build

#7171 feat: Google Cloud Storage as storage backend for databend
  src/common/config/src/outer_v0.rs
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
  src/common/storages/preludes/src/system/configs_table.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/system/configs_table.rs
Labels: pr-feature

#7175 feat(planner): support settings set sql_dialect
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/common/settings/Cargo.toml
  src/common/settings/src/lib.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/binder/table.rs
  src/query/service/src/sql/planner/mod.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/service/tests/it/storages/system/settings_table.rs
  tests/logictest/suites/base/06_show/06_0003_show_settings
  tests/logictest/suites/base/15_query/case_sensitivity/setting.test
Labels: pr-feature

#7174 chore(query): join-key use compare_coercion instead of merge_types
  src/common/datavalues/src/types/type_coercion.rs
  src/query/service/src/sql/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/service/src/sql/planner/binder/join.rs
  src/query/service/src/sql/planner/binder/select.rs
  src/query/service/tests/it/sql/optimizer/heuristic/testdata/join.test
  tests/logictest/suites/base/15_query/join.test
  tests/logictest/suites/crdb/join
Labels: pr-chore

#7160 feat(planner): support union/union all
  Cargo.lock
  src/common/pipeline/sinks/Cargo.toml
  src/common/pipeline/sinks/src/lib.rs
  src/common/pipeline/sinks/src/processors/sinks/mod.rs
  src/common/pipeline/sinks/src/processors/sinks/union_receive_sink.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  src/query/service/src/sql/executor/physical_plan.rs
  src/query/service/src/sql/executor/physical_plan_builder.rs
  src/query/service/src/sql/executor/physical_plan_display.rs
  src/query/service/src/sql/executor/physical_plan_visitor.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/sql/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/optimizer/heuristic/prune_columns.rs
  src/query/service/src/sql/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/planner/binder/select.rs
  src/query/service/src/sql/planner/format/display_rel_operator.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/src/sql/planner/plans/operator.rs
  src/query/service/src/sql/planner/plans/union_all.rs
  tests/logictest/suites/base/15_query/union.test
Labels: pr-feature

#7192 chore(deps): upstream first
  Cargo.lock
  src/common/building/Cargo.toml
  src/common/building/src/lib.rs
  src/common/pipeline/sinks/Cargo.toml
  src/common/pipeline/sources/Cargo.toml
  src/common/pipeline/transforms/Cargo.toml
  src/common/storages/fuse/Cargo.toml
  src/common/storages/preludes/Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#7194 chore: add log about auto sync started
  src/meta/grpc/src/grpc_client.rs
Labels: pr-chore

#7186 fix(parser): fix parse float with E failed
  src/common/io/src/buffer/buffer_read_number_ext.rs
  src/query/ast/src/parser/token.rs
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values_v2
Labels: pr-bugfix

#7195 docs: keep only one cloud page
  docs/doc/02-cloud/10-data-tool/_category_.json
  docs/doc/02-cloud/20-bi-tool/00-metabase.md
  docs/doc/02-cloud/20-bi-tool/_category_.json
  docs/doc/02-cloud/index.md
Labels: pr-doc

#7190 refactor(meta): reduce long span info
  Cargo.lock
  src/binaries/Cargo.toml
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/network.rs
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
Labels: pr-refactor

#7167 feat(query): add function-v2 concat/concat_ws
  Cargo.lock
  docs/doc/30-reference/20-functions/40-string-functions/concat_ws.md
  src/common/expression/src/values.rs
  src/common/functions-v2/Cargo.toml
  src/common/functions-v2/src/scalars/mod.rs
  src/common/functions-v2/src/scalars/string_multi_args.rs
  src/common/functions-v2/tests/it/main.rs
  src/common/functions-v2/tests/it/scalars/string.rs
  src/common/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#7202 docs: query-metrics
  docs/doc/30-reference/30-sql/40-show/show-metrics.md
  docs/doc/30-reference/30-sql/70-system-tables/system-metrics.md
  docs/doc/50-manage/01-query/20-query-metrics.md
Labels: pr-doc

#7209 refactor(meta-service): RaftClient manages active peers metric
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/network.rs
  src/meta/types/src/endpoint.rs
Labels: pr-refactor

#7126 feat(query): support datetime format
  src/common/functions/src/scalars/expressions/cast_from_string.rs
  src/common/io/src/buffer/buffer_read_datetime_ext.rs
  src/common/io/tests/it/buffer/buffer_read_datetime_ext.rs
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/02_function/02_0012_function_datetimes_tz
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values_v2
  tests/logictest/suites/base/11_data_type/11_0001_data_type_date_time
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
Labels: pr-feature

#7210 docs: add airbyte integration docs for databend
  docs/doc/40-integrations/10-data-tool/01-airbyte.md
  docs/public/img/integration/integration-airbyte-destinations.png
  docs/public/img/integration/integration-airbyte-plugins.png
  docs/public/img/integration/integration-airbyte.png
Labels: pr-doc

#7205 fix(query): rewrite desc stage query
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/interpreter_factory_v2.rs
  src/query/service/src/interpreters/interpreter_user_stage_describe.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/format/display_plan.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/tests/it/interpreters/interpreter_user_stage.rs
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/06_show/06_0011_show_stages
Labels: pr-bugfix

#7201 refactor(planner): use Evaluator to refactor insert
  src/query/service/src/pipelines/processors/transforms/transform_expression_v2.rs
  src/query/service/src/sql/planner/binder/insert.rs
  tests/logictest/suites/crdb/overflow
Labels: pr-refactor

#7212 refactor(meta-service): simplify open_create_boot()
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/meta_node/meta_node_all.rs
Labels: pr-refactor

#7218 chore(planner): view query use PostgreSQL dialect
  src/query/service/src/sql/planner/binder/table.rs
Labels: pr-chore

#7221 feat(query): Introduce custom allocator for HashTable
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/mem_allocator/je_allocator.rs
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/common/base/src/mem_allocator/mod.rs
  src/common/base/src/mem_allocator/profiling.rs
  src/common/base/src/mem_allocator/stackful_allocator.rs
  src/common/base/src/mem_allocator/std_allocator.rs
  src/common/hashtable/Cargo.toml
  src/common/hashtable/src/hash_set.rs
  src/common/hashtable/src/hash_table.rs
  src/common/hashtable/src/hash_table_entity.rs
  src/common/hashtable/src/hash_table_iter.rs
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/two_level_hash_table.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
Labels: pr-feature

#7219 feat(functions-v2): migrate bin, oct, hex, and unhex.
  Cargo.lock
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#7220 fix: ProtocolViolation error on OPTIMZE ALL
  Cargo.lock
  src/common/contexts/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/Cargo.toml
  src/query/storages/preludes/Cargo.toml
  src/query/streams/Cargo.toml
Labels: pr-bugfix

#7227 refactor(query): fix some minor bugs and building in ci
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/query/ast/src/parser/expr.rs
  src/query/functions/src/scalars/conditionals/in_basic.rs
  tests/logictest/suites/base/02_function/02_0045_conditional_function_in
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
Labels: pr-refactor

#7197 feat: run databend stage on GCS backend
  src/common/storage/src/location.rs
  src/common/storage/tests/location.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/protos/proto/config.proto
  src/meta/protos/proto/user.proto
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sql/statements/statement_common.rs
  src/query/service/tests/it/sql/statements/statement_common.rs
Labels: C-feature, pr-feature, A-storage

#7181 feat: add show grant on object and show grant of share sql
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_factory_v2.rs
  src/query/service/src/interpreters/interpreter_share_show_grant_tenants.rs
  src/query/service/src/interpreters/interpreter_show_object_grant_privileges.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sql/planner/binder/ddl/share.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/format/display_plan.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/src/sql/planner/plans/share.rs
  tests/suites/0_stateless/06_show/06_0009_show_shares.result
  tests/suites/0_stateless/06_show/06_0009_show_shares.sql
Labels: pr-feature

#7226 fix(function-v2): make multi_if accept null conditions
  docs/doc/30-reference/20-functions/11-conditional-functions/multi_if.md
  src/query/functions-v2/src/lib.rs
  src/query/functions-v2/src/scalars/control.rs
  src/query/functions-v2/tests/it/scalars/control.rs
  src/query/functions-v2/tests/it/scalars/testdata/control.txt
Labels: pr-bugfix

#7234 docs: add doc about how to deploy databend on kubernetes
  docs/doc/10-deploy/04-deploying-databend-on-kubernetes.md
Labels: pr-doc

#7240 docs: minor fixes for k8s deploy
  docs/doc/10-deploy/04-deploying-databend-on-kubernetes.md
Labels: pr-doc

#7237 chore(processor): make lint for release
  src/common/base/src/base/runtime.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
Labels: pr-chore

#6739 ci(test): add tpch stateless test of factor 0.1
  scripts/ci/ci-run-stateless-tests-cluster.sh
  tests/suites/0_stateless/13_tpch/.gitignore
  tests/suites/0_stateless/13_tpch/13_0000_prepare.result
  tests/suites/0_stateless/13_tpch/13_0000_prepare.sh
  tests/suites/0_stateless/13_tpch/13_00014_q14.result
  tests/suites/0_stateless/13_tpch/13_00015_q15.result
  tests/suites/0_stateless/13_tpch/13_00017_q17.result
  tests/suites/0_stateless/13_tpch/13_00019_q19.result
  tests/suites/0_stateless/13_tpch/13_0001_q1.result
  tests/suites/0_stateless/13_tpch/13_0001_q1.sql
  tests/suites/0_stateless/13_tpch/13_0002_q2.result
  tests/suites/0_stateless/13_tpch/13_0003_q3.result
  tests/suites/0_stateless/13_tpch/13_0004_q4.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.sql
  tests/suites/0_stateless/13_tpch/13_0006_q6.result
  tests/suites/0_stateless/13_tpch/13_0006_q6.sql
  tests/suites/0_stateless/13_tpch/13_0007_q7.result
  tests/suites/0_stateless/13_tpch/13_0007_q7.sql
  tests/suites/0_stateless/13_tpch/13_0008_q8.result
  tests/suites/0_stateless/13_tpch/13_0008_q8.sql
  tests/suites/0_stateless/13_tpch/13_0009_q9.result
  tests/suites/0_stateless/13_tpch/13_0009_q9.sql
  tests/suites/0_stateless/13_tpch/13_0010_q10.result
  tests/suites/0_stateless/13_tpch/13_0010_q10.sql
  tests/suites/0_stateless/13_tpch/13_0012_q12.result
  tests/suites/0_stateless/13_tpch/13_0013_q13.result
  tests/suites/0_stateless/13_tpch/13_0014_q14.result
  tests/suites/0_stateless/13_tpch/13_0014_q14.sql
  tests/suites/0_stateless/13_tpch/13_0015_q15.result
  tests/suites/0_stateless/13_tpch/13_0015_q15.sql
  tests/suites/0_stateless/13_tpch/13_0016_q16.result
  tests/suites/0_stateless/13_tpch/13_0016_q16.sql
  tests/suites/0_stateless/13_tpch/13_0017_q17.result
  tests/suites/0_stateless/13_tpch/13_0017_q17.sql
  tests/suites/0_stateless/13_tpch/13_0018_q18.result
  tests/suites/0_stateless/13_tpch/13_0019_q19.result
  tests/suites/0_stateless/13_tpch/13_0019_q19.sql
  tests/suites/0_stateless/13_tpch/13_0020_q20.result
  tests/suites/0_stateless/13_tpch/13_0021_q21.result
  tests/suites/0_stateless/13_tpch/13_0021_q21.sql
  tests/suites/0_stateless/13_tpch/13_0022_q22.result
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
  tests/suites/0_stateless/13_tpch/data/customer.tbl
  tests/suites/0_stateless/13_tpch/data/lineitem.tbl
  tests/suites/0_stateless/13_tpch/data/nation.tbl
  tests/suites/0_stateless/13_tpch/data/orders.tbl
  tests/suites/0_stateless/13_tpch/data/part.tbl
  tests/suites/0_stateless/13_tpch/data/partsupp.tbl
  tests/suites/0_stateless/13_tpch/data/region.tbl
  tests/suites/0_stateless/13_tpch/data/supplier.tbl
Labels: pr-build

#7236 feat(query): support datetime format string convert to date format
  src/common/io/src/buffer/buffer_read_datetime_ext.rs
  src/common/io/tests/it/buffer/buffer_read_datetime_ext.rs
  src/query/datavalues/src/types/deserializations/date.rs
  src/query/datavalues/src/types/type_coercion.rs
  src/query/datavalues/src/types/type_timestamp.rs
  src/query/functions/src/scalars/expressions/cast_from_string.rs
  src/query/functions/src/scalars/expressions/cast_from_variant.rs
  tests/logictest/suites/base/02_function/02_0002_function_cast
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/11_data_type/11_0005_data_type_date
Labels: pr-feature

#7239 fix(query): fix function if result incorrect bug
  src/common/base/src/base/runtime_tracker.rs
  src/common/base/src/mem_allocator/je_allocator.rs
  src/common/base/src/mem_allocator/mod.rs
  src/common/hashtable/src/hash_table.rs
  src/query/functions/src/scalars/conditionals/if.rs
  src/query/functions/src/scalars/function_adapter.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state.rs
  tests/logictest/README.md
  tests/logictest/complete.py
  tests/logictest/suites/base/02_function/02_0010_function_if
  tests/logictest/suites/ydb/select1-1.test
  tests/logictest/suites/ydb/select1-2.test
  tests/logictest/suites/ydb/select1-3.test
  tests/logictest/suites/ydb/select1-4.test
  tests/logictest/suites/ydb/select1-5.test
  tests/logictest/suites/ydb/select2-1.test
  tests/logictest/suites/ydb/select2-2.test
  tests/logictest/suites/ydb/select2-3.test
  tests/logictest/suites/ydb/select2-4.test
  tests/logictest/suites/ydb/select2-5.test
  tests/logictest/suites/ydb/select3-1.test
  tests/logictest/suites/ydb/select3-10.test
  tests/logictest/suites/ydb/select3-11.test
  tests/logictest/suites/ydb/select3-12.test
  tests/logictest/suites/ydb/select3-13.test
  tests/logictest/suites/ydb/select3-14.test
  tests/logictest/suites/ydb/select3-15.test
  tests/logictest/suites/ydb/select3-2.test
  tests/logictest/suites/ydb/select3-3.test
  tests/logictest/suites/ydb/select3-4.test
  tests/logictest/suites/ydb/select3-5.test
  tests/logictest/suites/ydb/select3-6.test
  tests/logictest/suites/ydb/select3-7.test
  tests/logictest/suites/ydb/select3-8.test
  tests/logictest/suites/ydb/select3-9.test
Labels: pr-bugfix
