Repository databendlabs/databend, pull requests merged in 2022-02, with the labels that each got.

#4037 DOC: Rename 09-information-functions -> 09-context-functions
  docs/user/01-sql-statement/06-functions-operators/09-context-functions/_category_.yml
  docs/user/01-sql-statement/06-functions-operators/09-context-functions/database.md
  docs/user/01-sql-statement/06-functions-operators/09-context-functions/version.md
  docs/user/01-sql-statement/06-functions-operators/09-information-functions/_category_.yml
Labels: pr-improvement, pr-doc-fix, need-review

#4038 Experiment of Scalar functions
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/unary.rs
  common/functions/src/scalars/hashes/hash_base.rs
Labels: pr-improvement, need-review

#4036 Other functions migrate to Function2 trait
  common/datavalues2/src/columns/nullable/mod.rs
  common/functions/src/scalars/function2_adapter.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/others/ignore.rs
  common/functions/src/scalars/others/inet_aton.rs
  common/functions/src/scalars/others/inet_ntoa.rs
  common/functions/src/scalars/others/mod.rs
  common/functions/src/scalars/others/other.rs
  common/functions/src/scalars/others/running_difference_function.rs
  common/functions/tests/it/scalars/others.rs
  tests/suites/0_stateless/02_function/02_0002_function_others.result
  tests/suites/0_stateless/02_function/02_0002_function_others.sql
Labels: pr-improvement, pr-other, need-review

#4043 STATELESS: Move 02_0046_function_logic.* to 0_stateless/02_function/
  tests/suites/0_stateless/02_function/02_0046_function_logic.result
  tests/suites/0_stateless/02_function/02_0046_function_logic.sql
Labels: pr-improvement

#4042 Small code change about variable name
  query/src/sql/statements/analyzer_expr.rs
Labels: pr-improvement

#4041 Change ignore function to return boolean
  common/functions/src/scalars/others/ignore.rs
Labels: pr-improvement, need-review

#4046 Improve readability
  common/functions/tests/it/scalars/scalar_function_test.rs
  query/src/sql/statements/analyzer_expr.rs
Labels: pr-improvement

#4047 SESSIONS-3933: Add default value and type to settings
  query/src/sessions/settings.rs
  query/src/sql/statements/statement_show_settings.rs
  query/src/storages/system/settings_table.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: pr-improvement

#4048 F improve readability
  common/datavalues/src/series/series_impl.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#4039 Implement the parser for expression
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/lib.rs
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/src/parser/rule/mod.rs
  common/ast/src/parser/rule/statement.rs
  common/ast/src/parser/rule/util.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/tests/it/ast.rs
  common/ast/tests/it/rule.rs
  common/ast/tests/it/token.rs
  common/ast/tests/it/transformer.rs
Labels: pr-not-for-changelog

#4051 DOC: Refactor ddl
  docs/user/01-sql-statement/02-data-definition-language-ddl/01-user/_category_.yml
  docs/user/01-sql-statement/02-data-definition-language-ddl/01-user/user-management-create-user.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/02-database/_category_.yml
  docs/user/01-sql-statement/02-data-definition-language-ddl/02-database/ddl-create-database.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/02-database/ddl-drop-database.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/03-table/_category_.yml
  docs/user/01-sql-statement/02-data-definition-language-ddl/03-table/ddl-create-table.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/03-table/ddl-drop-table.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/03-table/ddl-truncate-table.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/03-table/describe-table.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/04-stage/_category_.yml
  docs/user/01-sql-statement/02-data-definition-language-ddl/05-udf/01-ddl-create-function.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/05-udf/02-ddl-alter-function.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/05-udf/03-ddl-drop-function.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/05-udf/_category_.yml
  docs/user/01-sql-statement/07-system-tables/_category_.yml
  docs/user/01-sql-statement/07-system-tables/system-clusters.md
  docs/user/01-sql-statement/07-system-tables/system-columns.md
  docs/user/01-sql-statement/07-system-tables/system-configs.md
  docs/user/01-sql-statement/07-system-tables/system-contributors.md
  docs/user/01-sql-statement/07-system-tables/system-credits.md
  docs/user/01-sql-statement/07-system-tables/system-functions.md
  docs/user/01-sql-statement/07-system-tables/system-metrics.md
  docs/user/01-sql-statement/07-system-tables/system-numbers.md
  docs/user/01-sql-statement/07-system-tables/system-query-log.md
  docs/user/01-sql-statement/07-system-tables/system-settings.md
  docs/user/01-sql-statement/07-system-tables/system-tracing.md
  docs/user/01-sql-statement/07-user-management/_category_.yml
Labels: pr-doc-fix, need-review

#4052 Improve README doc
  query/src/storages/fuse/README.md
Labels: pr-improvement, pr-not-for-changelog, need-review

#4056 Add created_on to DatabaseMeta
  common/meta/types/src/database.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  query/src/sql/statements/statement_create_database.rs
Labels: pr-improvement, need-review

#4050 ISSUE #3206: Support SHOW ENGINES Statement
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/databases/system/system_database.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_show_engines.rs
  query/src/storages/fuse/table.rs
  query/src/storages/github/github_table.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/mod.rs
  query/src/storages/null/null_table.rs
  query/src/storages/storage_factory.rs
  query/src/storages/system/engines_table.rs
  query/src/storages/system/mod.rs
  query/tests/it/catalogs/database_catalog.rs
  query/tests/it/catalogs/immutable_catalogs.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/storages/system/engines_table.rs
  query/tests/it/storages/system/mod.rs
  query/tests/it/storages/system/tables_table.rs
  tests/suites/0_stateless/06_show/06_0006_show_engines.result
  tests/suites/0_stateless/06_show/06_0006_show_engines.sql
Labels: pr-feature, need-review

#4061 STORAGE: Refine the storage engine descriptor
  query/src/catalogs/catalog.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/sql/statements/statement_show_engines.rs
  query/src/storages/fuse/table.rs
  query/src/storages/github/github_table.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/mod.rs
  query/src/storages/null/null_table.rs
  query/src/storages/storage_factory.rs
Labels: pr-improvement, need-review

#4045 Implment backtrack for parser and add a human-friendly pretty printer for errors
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/lib.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/rule/error.rs
  common/ast/src/parser/rule/expr.rs
  common/ast/src/parser/rule/mod.rs
  common/ast/src/parser/rule/statement.rs
  common/ast/src/parser/rule/util.rs
  common/ast/tests/it/rule.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
Labels: pr-feature

#4058 Migrate uuid functions to datavalues2
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/uuids/uuid.rs
  common/functions/src/scalars/uuids/uuid_creator.rs
  common/functions/src/scalars/uuids/uuid_verifier.rs
  common/functions/tests/it/scalars/uuids/uuid_creator.rs
  common/functions/tests/it/scalars/uuids/uuid_verifier.rs
Labels: pr-improvement, need-review

#4065 Change feature from discussion to issue
  .github/ISSUE_TEMPLATE/10_feature_request.md
  .github/ISSUE_TEMPLATE/20_bug_report.yml
  .github/ISSUE_TEMPLATE/30_blank_issue.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: pr-improvement, need-review

#4067 dal2: Implement DAL Layer support
  common/dal2/src/accessor.rs
  common/dal2/src/layer.rs
  common/dal2/src/lib.rs
  common/dal2/src/operator.rs
  common/dal2/tests/it/layer.rs
  common/dal2/tests/it/main.rs
Labels: pr-feature

#4073 support REGEXP,RLIKE expr
  common/datavalues2/src/data_value_operator.rs
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/comparisons/comparison_regexp.rs
  common/functions/src/scalars/comparisons/mod.rs
  common/functions/tests/it/scalars/comparisons.rs
  tests/suites/0_stateless/02_function/02_0005_function_compare.result
  tests/suites/0_stateless/02_function/02_0005_function_compare.sql
Labels: pr-feature, need-review

#4076 clear HTTP query result with timeout
  query/src/configs/config_query.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_manager.rs
  query/src/servers/http/v1/query/mod.rs
  query/src/servers/http/v1/query/result_data_manager.rs
  query/src/servers/http/v1/statement.rs
  query/tests/it/configs.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/storages/system/configs_table.rs
  query/tests/it/tests/sessions.rs
Labels: pr-not-for-changelog, need-review

#4082 Disable http test_aync flaky test
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-build, need-review

#4070 datavalues2: Refactor all string2number functions
  common/functions/src/scalars/strings/ascii.rs
  common/functions/src/scalars/strings/bit_length.rs
  common/functions/src/scalars/strings/char_length.rs
  common/functions/src/scalars/strings/length.rs
  common/functions/src/scalars/strings/mod.rs
  common/functions/src/scalars/strings/octet_length.rs
  common/functions/src/scalars/strings/ord.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/string2number.rs
  tests/suites/0_stateless/02_function/02_0023_function_strings_ascii.result
  tests/suites/0_stateless/02_function/02_0023_function_strings_ascii.sql
  tests/suites/0_stateless/02_function/02_0030_function_strings_octet_length.result
  tests/suites/0_stateless/02_function/02_0030_function_strings_octet_length.sql
  tests/suites/0_stateless/02_function/02_0036_function_strings_ord.result
  tests/suites/0_stateless/02_function/02_0036_function_strings_ord.sql
Labels: pr-feature

#4086 docs(dev): add routine maintenance steps
  docs/dev/development/routine-maintenance.md
Labels: pr-doc-fix, pr-not-for-changelog

#4023 Refactor: refactor ErrorCode to MetaError in metasrv
  Cargo.lock
  common/exception/Cargo.toml
  common/exception/src/exception_code.rs
  common/exception/src/exception_into.rs
  common/meta/raft-store/src/config.rs
  common/meta/raft-store/src/log/raft_log.rs
  common/meta/raft-store/src/state/raft_state.rs
  common/meta/raft-store/src/state/raft_state_kv.rs
  common/meta/raft-store/src/state_machine/database_lookup.rs
  common/meta/raft-store/src/state_machine/log_meta.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/state_machine_meta.rs
  common/meta/raft-store/src/state_machine/table_lookup.rs
  common/meta/raft-store/tests/it/state.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/sled-store/Cargo.toml
  common/meta/sled-store/src/sled_key_space.rs
  common/meta/sled-store/src/sled_serde.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/applied_state.rs
  common/meta/types/src/cluster.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/meta_errors.rs
  common/meta/types/src/meta_errors_into.rs
  common/meta/types/src/meta_storage_errors.rs
  common/meta/types/src/role_info.rs
  common/meta/types/src/user_auth.rs
  metasrv/src/api/grpc_server.rs
  metasrv/src/configs/config.rs
  metasrv/src/lib.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/src/store/to_storage_error.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/store.rs
Labels: pr-improvement, need-review

#4084 [metasrv] refactor: remove CLI arg "--boot". Use "--single" instead.
  common/meta/raft-store/src/config.rs
  metasrv/src/bin/metasrv.rs
  metasrv/src/configs/config.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/configs.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-improvement, need-review

#4090 Refactor: move some storage related errors to MetaStorageError
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/types/src/meta_errors.rs
  common/meta/types/src/meta_errors_into.rs
  metasrv/src/store/meta_raft_store.rs
Labels: pr-improvement, need-review

#4097 [metasrv] Small refactor: make txn* funcs name consistent
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-improvement, need-review

#4099 [metasrv] fix: app-error should not fail state machine txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/types/src/applied_state.rs
  common/meta/types/src/meta_storage_errors.rs
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-bugfix, need-review

#4101 [docs](typo) modify some typos in architecture.md
  docs/overview/architecture.md
Labels: pr-doc-fix, need-review

#4103 PLANNER-4091: Refine the plan order and udf/stage planner name [PATCH-1]
  common/planners/src/lib.rs
  common/planners/src/plan_admin_use_tenant.rs
  common/planners/src/plan_describe_stage.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_user_udf_alter.rs
  common/planners/src/plan_user_udf_create.rs
  common/planners/src/plan_user_udf_drop.rs
  common/planners/src/plan_visitor.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_stage_describe.rs
  query/src/interpreters/interpreter_udf_alter.rs
  query/src/interpreters/interpreter_udf_create.rs
  query/src/interpreters/interpreter_udf_drop.rs
  query/src/interpreters/interpreter_use_tenant.rs
  query/src/sql/statements/statement_alter_udf.rs
  query/src/sql/statements/statement_create_udf.rs
  query/src/sql/statements/statement_describe_stage.rs
  query/src/sql/statements/statement_drop_udf.rs
  query/src/sql/statements/statement_use_tenant.rs
Labels: pr-improvement, need-review

#4093 Scalar introduce Viewer & ViewerIter GATs
  common/datablocks/src/kernels/data_block_filter.rs
  common/datavalues2/benches/if_else_then.rs
  common/datavalues2/src/columns/boolean/iterator.rs
  common/datavalues2/src/columns/boolean/mod.rs
  common/datavalues2/src/columns/boolean/mutable.rs
  common/datavalues2/src/columns/column.rs
  common/datavalues2/src/columns/mod.rs
  common/datavalues2/src/columns/primitive/mod.rs
  common/datavalues2/src/columns/primitive/mutable.rs
  common/datavalues2/src/columns/string/iterator.rs
  common/datavalues2/src/columns/viewer.rs
  common/datavalues2/src/lib.rs
  common/datavalues2/src/scalars/column.rs
  common/datavalues2/src/scalars/iterator.rs
  common/datavalues2/src/scalars/mod.rs
  common/datavalues2/src/scalars/type_.rs
  common/datavalues2/src/scalars/viewer.rs
  common/datavalues2/tests/it/columns/builder.rs
  common/datavalues2/tests/it/columns/primitive.rs
  common/datavalues2/tests/it/types/mod.rs
  common/datavalues2/tests/it/types/viewer.rs
  common/functions/src/aggregates/aggregate_arg_min_max.rs
  common/functions/src/aggregates/aggregate_scalar_state.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/comparisons/comparison_like.rs
  common/functions/src/scalars/comparisons/comparison_regexp.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/hashes/sha2hash.rs
  common/functions/src/scalars/logics/logic.rs
  common/functions/src/scalars/others/inet_aton.rs
  common/functions/src/scalars/others/inet_ntoa.rs
  common/functions/src/scalars/others/running_difference_function.rs
  common/functions/src/scalars/uuids/uuid_verifier.rs
  docs/dev/rfcs/query/0006-new-datavalues-system.md
Labels: pr-improvement, need-review

#4102 String Func: repeat/substring/substr/mid
  common/functions/src/scalars/strings/repeat.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/strings/substring.rs
  common/functions/src/scalars/strings/substring_index.rs
  common/functions/tests/it/scalars/strings/substring.rs
Labels: pr-improvement, need-review

#4108 refactor: remove crashme
  common/functions/src/scalars/udfs/crash_me.rs
  common/functions/src/scalars/udfs/mod.rs
  common/functions/src/scalars/udfs/udf.rs
  docs/user/01-sql-statement/07-functions/10-test-functions/crashme.md
  tests/suites/0_stateless/02_function/02_0008_function_crashme.result
  tests/suites/0_stateless/02_function/02_0008_function_crashme.sql
Labels: pr-not-for-changelog, need-review

#4110 Migrate sign function
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_common.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/sign.rs
  common/functions/src/scalars/mod.rs
  common/functions/tests/it/scalars/maths/sign.rs
  docs/user/01-sql-statement/07-functions/02-numeric-functions/sign.md
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, need-review

#4094 refactor(functions/maths): migrate pi/crc32/exp to function2
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/maths/crc32.rs
  common/functions/src/scalars/maths/exp.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/pi.rs
  common/functions/tests/it/scalars/maths/crc32.rs
  common/functions/tests/it/scalars/maths/exp.rs
  common/functions/tests/it/scalars/maths/pi.rs
  tests/suites/0_stateless/02_function/02_0014_function_maths.result
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#4115 refactor(functions/maths): migrate pi/crc32/exp to function2 again
  common/functions/src/scalars/maths/crc32.rs
  common/functions/src/scalars/maths/exp.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/mod.rs
  common/functions/src/scalars/maths/pi.rs
  common/functions/tests/it/scalars/maths/crc32.rs
  common/functions/tests/it/scalars/maths/exp.rs
  common/functions/tests/it/scalars/maths/pi.rs
  tests/suites/0_stateless/02_function/02_0014_function_maths.result
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
Labels: pr-not-for-changelog, need-review

#4109 [meta] refactor: cleanup MetaStorageError
  Cargo.lock
  common/meta/raft-store/src/state/raft_state_kv.rs
  common/meta/raft-store/src/state_machine/log_meta.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/state_machine_meta.rs
  common/meta/sled-store/src/sled_key_space.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/error_context.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/meta_storage_errors.rs
  metasrv/Cargo.toml
  metasrv/src/store/meta_raft_store.rs
Labels: pr-improvement, need-review

#4114 Make planner and interpretor file name more neater
  common/planners/src/lib.rs
  common/planners/src/plan_database_show_create.rs
  common/planners/src/plan_table_describe.rs
  common/planners/src/plan_table_show_create.rs
  common/planners/src/plan_table_truncate.rs
  common/planners/src/plan_user_privilege_grant.rs
  common/planners/src/plan_user_privilege_revoke.rs
  common/planners/src/plan_user_stage_describe.rs
  query/src/interpreters/interpreter_admin_use_tenant.rs
  query/src/interpreters/interpreter_database_show_create.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_factory_interceptor.rs
  query/src/interpreters/interpreter_table_show_create.rs
  query/src/interpreters/interpreter_user_privilege_grant.rs
  query/src/interpreters/interpreter_user_privilege_revoke.rs
  query/src/interpreters/interpreter_user_stage_create.rs
  query/src/interpreters/interpreter_user_stage_describe.rs
  query/src/interpreters/interpreter_user_stage_drop.rs
  query/src/interpreters/interpreter_user_udf_alter.rs
  query/src/interpreters/interpreter_user_udf_create.rs
  query/src/interpreters/interpreter_user_udf_drop.rs
  query/src/interpreters/mod.rs
  query/tests/it/interpreters/interpreter_admin_use_tenant.rs
  query/tests/it/interpreters/interpreter_database_show_create.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/interpreters/interpreter_table_describe.rs
  query/tests/it/interpreters/interpreter_table_show_create.rs
  query/tests/it/interpreters/interpreter_user_previlege_revoke.rs
  query/tests/it/interpreters/interpreter_user_privilege_grant.rs
  query/tests/it/interpreters/interpreter_user_stage_create.rs
  query/tests/it/interpreters/interpreter_user_stage_describe.rs
  query/tests/it/interpreters/interpreter_user_stage_drop.rs
  query/tests/it/interpreters/interpreter_user_udf_alter.rs
  query/tests/it/interpreters/interpreter_user_udf_create.rs
  query/tests/it/interpreters/interpreter_user_udf_drop.rs
  query/tests/it/interpreters/mod.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, need-review

#4111 Replace Ip with hostname in metasrv mod
  Cargo.lock
  common/grpc/tests/it/dns_resolver.rs
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/config.rs
  metasrv/src/configs/config.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, pr-feature, need-review

#4119 ci: Move config files into .github instead
  .github/actions/check/action.yml
  .github/codecov.yml
  .github/mergify.yml
Labels: pr-build, need-review

#4122 fix makefile: make run with build-release
  Makefile
Labels: pr-bugfix, need-review

#4121 PLANNER-4091: Add ShowDatabasesPlan
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_builder.rs
  common/planners/src/plan_node_display.rs
  common/planners/src/plan_node_display_indent.rs
  common/planners/src/plan_node_extras.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_show_kind.rs
  common/planners/src/plan_node_stage.rs
  common/planners/src/plan_node_statistics.rs
  common/planners/src/plan_node_visitor.rs
  common/planners/src/plan_show_databases.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_show_databases.rs
  query/src/interpreters/mod.rs
  query/src/sql/statements/statement_show_databases.rs
  query/tests/it/interpreters/interpreter_show_databases.rs
  query/tests/it/interpreters/mod.rs
  tests/suites/0_stateless/06_show/06_0004_show_tables.sql
  tests/suites/0_stateless/06_show/06_0007_show_databases.result
  tests/suites/0_stateless/06_show/06_0007_show_databases.sql
Labels: pr-improvement, need-review

#4125 Remove old unused aggregate v1 version functions
  common/functions/src/aggregates/adaptors/aggregate_base_adaptor.rs
  common/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  common/functions/src/aggregates/adaptors/mod.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/aggregates/aggregate_function_v1.rs
  common/functions/src/aggregates/aggregator_common.rs
  common/functions/src/aggregates/mod.rs
  common/functions/tests/it/aggregates/aggregate_combinator.rs
  common/functions/tests/it/aggregates/aggregate_function.rs
  common/planners/src/plan_expression.rs
  tests/suites/0_stateless/03_dml/03_0001_select_aggregator.result
  tests/suites/0_stateless/03_dml/03_0001_select_aggregator.sql
Labels: pr-improvement, need-review

#4124 Migrate some string functions
  common/datavalues2/src/columns/string/mutable.rs
  common/datavalues2/src/types/data_type.rs
  common/datavalues2/src/utils.rs
  common/exception/src/exception_code.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/function_common.rs
  common/functions/src/scalars/maths/sign.rs
  common/functions/src/scalars/strings/char_.rs
  common/functions/src/scalars/strings/concat_ws.rs
  common/functions/src/scalars/strings/elt.rs
  common/functions/src/scalars/strings/export_set.rs
  common/functions/src/scalars/strings/find_in_set.rs
  common/functions/src/scalars/strings/format.rs
  common/functions/src/scalars/strings/leftright.rs
  common/functions/src/scalars/strings/pad.rs
  common/functions/src/scalars/strings/space.rs
  common/functions/src/scalars/strings/string.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/0_stateless/02_function/02_0028_function_strings_elt.result
  tests/suites/0_stateless/02_function/02_0028_function_strings_elt.sql
  tests/suites/0_stateless/02_function/02_0033_function_strings_concat_ws.sql
  tests/suites/0_stateless/02_function/02_0033_function_strings_leftright.sql
  tests/suites/0_stateless/02_function/02_0035_function_strings_pad.sql
  tests/suites/0_stateless/02_function/02_0038_function_strings_export_set.sql
  tests/suites/0_stateless/02_function/02_0039_function_strings_find_in_set.sql
Labels: pr-improvement, need-review

#4127 refactor(servers/clickhouse): make authenticate to async
  common/clickhouse-srv/src/cmd.rs
  common/clickhouse-srv/src/lib.rs
  query/src/servers/clickhouse/interactive_worker.rs
Labels: pr-improvement, need-review

#4129 [Build] Fix `make docker`
  docker/Dockerfile
  docker/databend-query-docker.toml
Labels: pr-bugfix, pr-build, need-review

#4106 Refactor: move network related errors to MetaNetworkError, and raft related errors to MetaRaftError
  common/meta/types/src/lib.rs
  common/meta/types/src/meta_errors.rs
  common/meta/types/src/meta_errors_into.rs
  common/meta/types/src/meta_network_errors.rs
  common/meta/types/src/meta_raft_errors.rs
  metasrv/src/api/grpc_server.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
Labels: pr-improvement, need-review

#4131 Add hash function city64WithSeed
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/hashes/city64_with_seed.rs
  common/functions/src/scalars/hashes/hash.rs
  common/functions/src/scalars/hashes/mod.rs
  common/functions/src/scalars/hashes/sha2hash.rs
  common/functions/tests/it/scalars/hashes.rs
  tests/suites/0_stateless/02_function/02_0009_function_hashes.result
  tests/suites/0_stateless/02_function/02_0009_function_hashes.sql
Labels: pr-feature, need-review

#4130 PLANNER-4091: Add others show plan
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  common/planners/src/plan_show_engines.rs
  common/planners/src/plan_show_functions.rs
  common/planners/src/plan_show_metrics.rs
  common/planners/src/plan_show_processlist.rs
  common/planners/src/plan_show_settings.rs
  common/planners/src/plan_show_users.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_show_engines.rs
  query/src/interpreters/interpreter_show_functions.rs
  query/src/interpreters/interpreter_show_metrics.rs
  query/src/interpreters/interpreter_show_processlist.rs
  query/src/interpreters/interpreter_show_settings.rs
  query/src/interpreters/interpreter_show_users.rs
  query/src/interpreters/mod.rs
  query/src/sessions/query_ctx.rs
  query/src/sql/sql_parser.rs
  query/src/sql/statements/statement_show_engines.rs
  query/src/sql/statements/statement_show_functions.rs
  query/src/sql/statements/statement_show_metrics.rs
  query/src/sql/statements/statement_show_processlist.rs
  query/src/sql/statements/statement_show_settings.rs
  query/src/sql/statements/statement_show_users.rs
  query/tests/it/interpreters/access/management_mode_access.rs
  query/tests/it/interpreters/interpreter_show_engines.rs
  query/tests/it/interpreters/interpreter_show_functions.rs
  query/tests/it/interpreters/interpreter_show_metrics.rs
  query/tests/it/interpreters/interpreter_show_processlist.rs
  query/tests/it/interpreters/interpreter_show_settings.rs
  query/tests/it/interpreters/interpreter_show_users.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/sql/sql_parser.rs
  scripts/ci/deploy/config/databend-query-management-mode.toml
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/2_management_mode/00_0001_management_mode.result
  tests/suites/2_management_mode/00_0001_management_mode.sql
  tests/suites/2_management_mode/00_0001_management_mode_database.result
  tests/suites/2_management_mode/00_0001_management_mode_database.sql
  tests/suites/2_management_mode/00_0002_management_mode_table.result
  tests/suites/2_management_mode/00_0002_management_mode_table.sql
  tests/suites/2_management_mode/00_0003_management_mode_user.result
  tests/suites/2_management_mode/00_0003_management_mode_user.sql
  tests/suites/2_management_mode/00_0004_management_mode_function.result
  tests/suites/2_management_mode/00_0004_management_mode_function.sql
  tests/suites/2_management_mode/00_0005_management_mode_stage.result
  tests/suites/2_management_mode/00_0005_management_mode_stage.sql
Labels: pr-improvement, need-review

#4136 Fix Analyze between
  query/src/sql/statements/analyzer_expr.rs
  query/tests/it/sql/statements/statement_select.rs
  tests/suites/0_stateless/03_dml/03_0005_select_filter.sql
Labels: pr-bugfix, need-review

#4138 PLANNER-4133: Wrap the Show commands to ShowPlan
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_node_rewriter.rs
  common/planners/src/plan_node_visitor.rs
  common/planners/src/plan_show.rs
  common/planners/src/plan_show_databases.rs
  common/planners/src/plan_show_engines.rs
  common/planners/src/plan_show_functions.rs
  common/planners/src/plan_show_grants.rs
  common/planners/src/plan_show_metrics.rs
  common/planners/src/plan_show_processlist.rs
  common/planners/src/plan_show_settings.rs
  common/planners/src/plan_show_tables.rs
  common/planners/src/plan_show_users.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/sql/statements/statement_show_databases.rs
  query/src/sql/statements/statement_show_engines.rs
  query/src/sql/statements/statement_show_functions.rs
  query/src/sql/statements/statement_show_grants.rs
  query/src/sql/statements/statement_show_metrics.rs
  query/src/sql/statements/statement_show_processlist.rs
  query/src/sql/statements/statement_show_settings.rs
  query/src/sql/statements/statement_show_tables.rs
  query/src/sql/statements/statement_show_users.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#4142 *: Migrate from common-dal2 to opendal
  Cargo.lock
  Cargo.toml
  common/dal-context/Cargo.toml
  common/dal-context/src/context.rs
  common/dal2/Cargo.toml
  common/dal2/src/accessor.rs
  common/dal2/src/credential.rs
  common/dal2/src/error.rs
  common/dal2/src/layer.rs
  common/dal2/src/lib.rs
  common/dal2/src/object.rs
  common/dal2/src/operator.rs
  common/dal2/src/ops/delete.rs
  common/dal2/src/ops/header.rs
  common/dal2/src/ops/mod.rs
  common/dal2/src/ops/read.rs
  common/dal2/src/ops/stat.rs
  common/dal2/src/ops/write.rs
  common/dal2/src/readers/callback.rs
  common/dal2/src/readers/mod.rs
  common/dal2/src/readers/seekable.rs
  common/dal2/src/readers/stream.rs
  common/dal2/src/scheme.rs
  common/dal2/src/services/fs.rs
  common/dal2/src/services/mod.rs
  common/dal2/src/services/s3.rs
  common/dal2/tests/it/layer.rs
  common/dal2/tests/it/main.rs
  common/dal2/tests/it/ops.rs
  common/dal2/tests/it/services/fs.rs
  common/dal2/tests/it/services/mod.rs
  common/dal2/tests/it/services/s3.rs
  common/dal2/tests/it/wraps.rs
  common/streams/Cargo.toml
  common/streams/tests/it/source.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/sessions/query_ctx.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/fuse/io/block_writer.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/operations/optimize.rs
  query/tests/it/storages/fuse/io.rs
Labels: pr-improvement, need-review

#4139 refactor(functions/maths): migrate ceil/floor/sqrt to function2
  Cargo.lock
  common/functions/Cargo.toml
  common/functions/src/scalars/maths/ceil.rs
  common/functions/src/scalars/maths/floor.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/sqrt.rs
  common/functions/tests/it/scalars/maths/ceil.rs
  common/functions/tests/it/scalars/maths/floor.rs
  common/functions/tests/it/scalars/maths/sqrt.rs
  docs/user/01-sql-statement/07-functions/02-numeric-functions/sqrt.md
  metasrv/Cargo.toml
  query/Cargo.toml
  tests/suites/0_stateless/02_function/02_0014_function_maths.result
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#4143 Refactor: do more check in RaftConfig::check and add tests
  common/meta/raft-store/src/config.rs
  common/meta/raft-store/tests/it/config.rs
  common/meta/raft-store/tests/it/main.rs
  metasrv/src/configs/config.rs
  metasrv/tests/it/configs.rs
Labels: pr-improvement, need-review

#4147 [metasrv] refactor: MetaError: add AppError and Fatal error, remove ErrorCode from MetaError
  common/management/tests/it/user.rs
  common/meta/api/src/kv_api.rs
  common/meta/api/src/meta_api.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/src/kv_api_impl.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/grpc/src/grpc_action.rs
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/src/kv_api_impl.rs
  common/meta/grpc/src/meta_api_impl.rs
  common/meta/grpc/tests/it/grpc_client.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/types/src/applied_state.rs
  common/meta/types/src/change.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/meta_errors.rs
  common/meta/types/src/meta_errors_into.rs
  common/meta/types/src/meta_network_errors.rs
  common/meta/types/src/meta_result_error.rs
  common/meta/types/src/meta_storage_errors.rs
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/executor/mod.rs
  metasrv/src/meta_service/meta_node_kv_api_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/grpc/metasrv_grpc_tls.rs
  query/src/catalogs/backends/meta_backend.rs
  query/src/catalogs/impls/mutable_catalog.rs
Labels: need-review

#4148 [metasrv] Refactor: eliminate unwrap call as much as possible
  metasrv/src/api/http/debug/home.rs
  metasrv/src/api/http/v1/cluster_state.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/store/meta_raft_store.rs
Labels: pr-improvement, need-review

#4150 Change project logo for README.md
  README.md
  website/docusaurus.config.js
  website/static/img/favicon.png
  website/static/img/favicon.svg
Labels: pr-doc-fix, need-review

#4152 Remove dal mod
  Cargo.lock
  Cargo.toml
  common/dal/Cargo.toml
  common/dal/README.md
  common/dal/src/accessors/aws_s3/metrics.rs
  common/dal/src/accessors/aws_s3/mod.rs
  common/dal/src/accessors/aws_s3/s3.rs
  common/dal/src/accessors/aws_s3/s3_input_stream.rs
  common/dal/src/accessors/azure_blob/azure_blob_accessor.rs
  common/dal/src/accessors/azure_blob/azure_blob_input_stream.rs
  common/dal/src/accessors/azure_blob/mod.rs
  common/dal/src/accessors/local.rs
  common/dal/src/accessors/mod.rs
  common/dal/src/context.rs
  common/dal/src/data_accessor.rs
  common/dal/src/in_memory_data.rs
  common/dal/src/interceptors/data_accessor_interceptor.rs
  common/dal/src/interceptors/input_stream_interceptor.rs
  common/dal/src/interceptors/mod.rs
  common/dal/src/lib.rs
  common/dal/src/schemes.rs
  common/dal/tests/it/accessors/aws_s3.rs
  common/dal/tests/it/accessors/azure_blob.rs
  common/dal/tests/it/accessors/local.rs
  common/dal/tests/it/accessors/mod.rs
  common/dal/tests/it/interceptors/data_accessor_interceptor.rs
  common/dal/tests/it/interceptors/mod.rs
  common/dal/tests/it/main.rs
  common/dal/tests/it/schemes.rs
Labels: pr-improvement, need-review

#4156 [grpc] ConnectionFactory: returns structured error so that a depending mod does not need to deal with every error defined in ErrorCode
  Cargo.lock
  common/grpc/Cargo.toml
  common/grpc/src/dns_resolver.rs
  common/grpc/src/lib.rs
  common/meta/grpc/src/grpc_client.rs
  common/meta/types/src/meta_errors.rs
  common/meta/types/src/meta_errors_into.rs
  common/meta/types/src/meta_network_errors.rs
  metasrv/src/api/grpc_server.rs
  metasrv/src/meta_service/raftmeta.rs
  query/src/catalogs/backends/meta_backend.rs
  query/src/common/meta/meta_client.rs
  query/tests/it/api/rpc_service.rs
Labels: need-review

#4159 QUERY-4157: Improve storage accessor initate logic
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/truncate.rs
  query/tests/it/sessions/query_ctx.rs
Labels: pr-performance, need-review

#4161 deps: Bump opendal to 0.0.2
  Cargo.lock
  common/dal-context/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-bugfix, need-review

#4162 ci: Use mergify for PR labels
  .github/labeler.yml
  .github/mergify.yml
Labels: pr-build, need-review

#3932 Integrate select query with new processor
  common/base/src/thread.rs
  query/src/interpreters/interpreter_select.rs
  query/src/pipelines/new/executor/executor_graph.rs
  query/src/pipelines/new/executor/executor_tasks.rs
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/pipelines/new/executor/mod.rs
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/executor/pipeline_pulling_executor.rs
  query/src/pipelines/new/executor/pipeline_runtime_executor.rs
  query/src/pipelines/new/executor/pipeline_threads_executor.rs
  query/src/pipelines/new/mod.rs
  query/src/pipelines/new/pipe.rs
  query/src/pipelines/new/pipeline.rs
  query/src/pipelines/new/pipeline_builder.rs
  query/src/pipelines/new/processors/mod.rs
  query/src/pipelines/new/processors/port.rs
  query/src/pipelines/new/processors/port_trigger.rs
  query/src/pipelines/new/processors/sinks/mod.rs
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/pipelines/new/processors/sources/sync_source.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_final.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_params.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_partial.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_single_key.rs
  query/src/pipelines/new/processors/transforms/aggregator/mod.rs
  query/src/pipelines/new/processors/transforms/mod.rs
  query/src/pipelines/new/processors/transforms/transform.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/new/processors/transforms/transform_expression.rs
  query/src/pipelines/new/processors/transforms/transform_filter.rs
  query/src/pipelines/new/processors/transforms/transform_limit.rs
  query/src/pipelines/new/processors/transforms/transform_limit_by.rs
  query/src/pipelines/new/processors/transforms/transform_sort_merge.rs
  query/src/pipelines/new/processors/transforms/transform_sort_partial.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_groups_builder.rs
  query/src/pipelines/transforms/group_by/aggregator_keys_iter.rs
  query/src/pipelines/transforms/group_by/aggregator_params.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/group_by/keys_ref.rs
  query/src/pipelines/transforms/group_by/mod.rs
  query/src/pipelines/transforms/mod.rs
  query/src/pipelines/transforms/transform_group_by_partial.rs
  query/src/sessions/session_settings.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/storages/fuse/table.rs
  query/src/storages/storage_table.rs
  query/src/storages/system/one_table.rs
  query/src/table_functions/numbers_table.rs
  query/tests/it/interpreters/interpreter_show_settings.rs
  query/tests/it/pipelines/new/processors/mod.rs
  query/tests/it/pipelines/new/processors/port_test.rs
  query/tests/it/sql/statements/statement_select.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: pr-feature, need-review

#4096 Refactor: migrate interval function for datavalue2
  common/datablocks/tests/it/data_block.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/data_type.rs
  common/datavalues/src/types/date_converter.rs
  common/datavalues/src/types/physical_data_type.rs
  common/datavalues/src/types/serializations/mod.rs
  common/datavalues2/src/columns/column.rs
  common/datavalues2/src/macros.rs
  common/datavalues2/src/types/data_type.rs
  common/datavalues2/src/types/date_converter.rs
  common/datavalues2/src/types/type_datetime32.rs
  common/datavalues2/src/types/type_datetime64.rs
  common/datavalues2/src/types/type_factory.rs
  common/datavalues2/src/types/type_id.rs
  common/datavalues2/src/types/type_interval.rs
  common/datavalues2/src/types/type_traits.rs
  common/datavalues2/tests/it/types/create_column.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/arithmetics/binary_arithmetic.rs
  common/functions/src/scalars/arithmetics/interval.rs
  common/functions/src/scalars/arithmetics/mod.rs
  common/functions/src/scalars/arithmetics/utils.rs
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/macros.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/cast_from_datetimes.rs
  common/functions/src/scalars/expressions/cast_from_string.rs
  common/functions/src/scalars/expressions/ctx.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/expressions/mod.rs
  common/functions/src/scalars/others/running_difference_function.rs
  common/functions/src/scalars/strings/find_in_set.rs
  common/functions/src/scalars/strings/format.rs
  common/functions/src/scalars/strings/leftright.rs
  common/functions/tests/it/scalars/arithmetics.rs
  common/functions/tests/it/scalars/dates/interval_function.rs
  common/functions/tests/it/scalars/expressions.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/sql/statements/analyzer_value_expr.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/storages/index/bloom_filter.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
Labels: pr-improvement, need-review

#4164 *: Adopting the new format macro
  cli/src/cmds/clusters/add.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/command.rs
  cli/src/cmds/config.rs
  cli/src/cmds/loads/load.rs
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/status.rs
  cli/tests/it/query.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/logs.rs
  query/src/api/rpc/flight_client.rs
  query/src/api/rpc_service.rs
  query/src/sql/sql_common.rs
  query/src/sql/statements/statement_show_databases.rs
Labels: pr-improvement, need-review

#4160 refactor if to get better performence
  common/functions/Cargo.toml
  common/functions/src/scalars/conditionals/if.rs
Labels: pr-feature, need-review

#4167 [metasrv] feature: add metactl to dump data in json from a sled db
  metasrv/Cargo.toml
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/bin/metactl.rs
  metasrv/src/export.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tt/_meta_embedded.zip
Labels: pr-feature, need-review

#4168 Other strings function
  common/functions/src/scalars/strings/char_.rs
  common/functions/src/scalars/strings/concat.rs
  common/functions/src/scalars/strings/field.rs
  common/functions/src/scalars/strings/insert.rs
  common/functions/src/scalars/strings/replace.rs
  common/functions/src/scalars/strings/strcmp.rs
  common/functions/src/scalars/strings/string.rs
  tests/suites/0_stateless/02_function/02_0029_function_strings_field.sql
  tests/suites/0_stateless/02_function/02_0031_function_strings_concat.sql
  tests/suites/0_stateless/02_function/02_0031_function_strings_replace.sql
  tests/suites/0_stateless/02_function/02_0032_function_strings_strcmp.sql
Labels: pr-improvement, need-review

#4169 metasrv: split config raft-api-host into listening host and connecting host.
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/status.rs
  common/meta/raft-store/Cargo.toml
  common/meta/raft-store/src/config.rs
  common/meta/raft-store/tests/it/config.rs
  metasrv/src/configs/config.rs
  metasrv/tests/it/configs.rs
  metasrv/tests/it/tests/service.rs
  scripts/ci/deploy/config/databend-meta-node-1.toml
  scripts/ci/deploy/config/databend-meta-node-2.toml
  scripts/ci/deploy/config/databend-meta-node-3.toml
Labels: pr-improvement, pr-doc-fix, need-review

#4171 deps: Bump opendal to 0.0.3
  Cargo.lock
  common/dal-context/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-performance, need-review

#4146 Datavalues2: number and round function
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/now.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/dates/round_function.rs
  common/functions/tests/it/scalars/dates/date.rs
  common/functions/tests/it/scalars/dates/date_function.rs
Labels: C-improvement, pr-improvement, A-databend-datavalue

#4176 Other maths functions to datavalues2
  common/datavalues2/src/columns/series.rs
  common/functions/src/scalars/maths/log.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/maths/pow.rs
  common/functions/src/scalars/maths/random.rs
  common/functions/src/scalars/maths/round.rs
  common/functions/src/scalars/maths/trigonometric.rs
  common/functions/tests/it/scalars/maths/log.rs
  common/functions/tests/it/scalars/maths/pow.rs
  common/functions/tests/it/scalars/maths/round.rs
  common/functions/tests/it/scalars/maths/trigonometric.rs
  tests/suites/0_stateless/02_function/02_0014_function_maths.result
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#4184 House cleanup so that ashes to ashes, dust to dust
  .gitignore
  tt/_meta_embedded.zip
Labels: pr-not-for-changelog, need-review

#4185 docs: Update lessons for ontime on s3
  docs/learn/lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc-fix, need-review

#4182 [metasrv] fix drop table on unknown db test
  common/meta/raft-store/src/state_machine/sm.rs
  metasrv/src/meta_service/meta_leader.rs
Labels: pr-improvement, need-review

#4178 Enhancement: Add sha256sum check for ontime.csv
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
Labels: pr-improvement, need-review

#4172 config: Internet is danger, keep safe and stay with friends
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/status.rs
  cli/tests/it/clusters/create.rs
  cli/tests/it/query.rs
  metasrv/tests/it/configs.rs
  query/src/clusters/cluster.rs
  query/tests/it/configs.rs
  query/tests/it/servers/clickhouse.rs
  query/tests/it/servers/mysql.rs
Labels: pr-improvement, need-review

#4175 [Test]MetaAPI: add table opration on absent DB
  common/meta/api/src/meta_api_test_suite.rs
Labels: need-review

#4190 ISSUE-4189: fix datetime64 type cast bug
  common/datavalues2/src/types/type_datetime64.rs
  common/functions/src/scalars/expressions/cast_from_datetimes.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/0_stateless/02_function/02_0002_function_cast.result
  tests/suites/0_stateless/02_function/02_0002_function_cast.sql
Labels: pr-bugfix, need-review

#4165 Add role cache mgr
  common/management/src/role/role_api.rs
  common/management/src/role/role_mgr.rs
  common/management/src/user/user_mgr.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/role_identity.rs
  common/meta/types/src/role_info.rs
  common/meta/types/src/user_grant.rs
  common/meta/types/tests/it/user_grant.rs
  query/src/interpreters/interpreter_database_create.rs
  query/src/interpreters/interpreter_database_drop.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/interpreters/interpreter_kill.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_drop.rs
  query/src/interpreters/interpreter_table_truncate.rs
  query/src/sessions/session.rs
  query/src/sessions/session_mgr.rs
  query/src/users/mod.rs
  query/src/users/role_cache_mgr.rs
  query/src/users/role_mgr.rs
  query/tests/it/users/mod.rs
  query/tests/it/users/role_cache_mgr.rs
  query/tests/it/users/role_mgr.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-improvement, need-review

#4191 chore(Cargo.toml): more codegen units for common-functions
  Cargo.toml
Labels: pr-not-for-changelog, need-review

#4195 Fix: node join cluster use advertise host instead of listen host
  common/meta/raft-store/src/config.rs
  metasrv/src/meta_service/raftmeta.rs
Labels: pr-bugfix, need-review

#4192 refactor function in basic
  common/datavalues2/src/types/type_id.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/udfs/in_basic.rs
  common/functions/src/scalars/udfs/udf.rs
Labels: pr-improvement, need-review

#4173 refactor(functions/maths): migrate abs/degress/radians to function2
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/maths/abs.rs
  common/functions/src/scalars/maths/angle.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/tests/it/scalars/maths/abs.rs
  common/functions/tests/it/scalars/maths/angle.rs
  tests/suites/0_stateless/02_function/02_0014_function_maths.result
  tests/suites/0_stateless/02_function/02_0014_function_maths.sql
Labels: pr-improvement, need-review

#4204 Add precision in EvalContext
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/macros.rs
  common/functions/src/scalars/expressions/ctx.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/hashes/hash.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/src/scalars/strings/string.rs
  common/functions/src/scalars/udfs/udf.rs
  common/functions/src/scalars/uuids/uuid.rs
Labels: pr-improvement, need-review

#4199 Refactor: use listen addr when start grpc
  common/meta/raft-store/src/config.rs
  common/meta/raft-store/src/state_machine/testing.rs
  common/meta/sled-store/tests/it/sled_txn_tree.rs
  common/meta/types/src/cluster.rs
  common/meta/types/src/endpoint.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/message.rs
  common/meta/types/src/meta_network_errors.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/tests/service.rs
  scripts/ci/deploy/config/databend-meta-node-1.toml
  scripts/ci/deploy/config/databend-meta-node-2.toml
  scripts/ci/deploy/config/databend-meta-node-3.toml
Labels: pr-bugfix, need-review

#4207 fix if bug with null column
  common/functions/src/scalars/conditionals/if.rs
  tests/suites/0_stateless/02_function/02_0010_function_if.result
  tests/suites/0_stateless/02_function/02_0010_function_if.sql
Labels: pr-bugfix, need-review

#4211 [metasrv] refactor: exported data should be type awared
  common/meta/raft-store/src/sled_key_spaces.rs
  metasrv/src/bin/metactl.rs
  metasrv/src/export.rs
  metasrv/src/store/meta_raft_store.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
Labels: pr-improvement, need-review

#4213 chore: tune ci and release
  .github/actions/test_unit/action.yml
  Cargo.toml
Labels: pr-not-for-changelog, need-review

#4214 [metasrv]: feature: import exported json to restore a metasrv state
  .github/actions/test_metactl/action.yml
  .github/workflows/developing.yml
  Makefile
  metasrv/Cargo.toml
  metasrv/src/bin/metactl.rs
  metasrv/src/export.rs
  tests/metactl/.gitignore
  tests/metactl/README.md
  tests/metactl/meta.json
  tests/metactl/test-metactl.sh
Labels: pr-feature, need-review

#4221 ISSUE-4006: Fix arithmetic with null type bug
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/function_adapter.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/mod.rs
  tests/suites/0_stateless/02_function/02_0000_function_arithmetic.result
  tests/suites/0_stateless/02_function/02_0000_function_arithmetic.sql
Labels: pr-bugfix, need-review

#4217 *: bump clap to 3.1.1
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/clusters/add.rs
  cli/src/cmds/clusters/cluster.rs
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/clusters/stop.rs
  cli/src/cmds/clusters/view.rs
  cli/src/cmds/command.rs
  cli/src/cmds/completions/completion.rs
  cli/src/cmds/config.rs
  cli/src/cmds/generates/generate.rs
  cli/src/cmds/helps/help.rs
  cli/src/cmds/loads/load.rs
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/packages/list.rs
  cli/src/cmds/packages/package.rs
  cli/src/cmds/packages/switch.rs
  cli/src/cmds/queries/query.rs
  cli/src/cmds/root.rs
  cli/src/cmds/ups/up.rs
  cli/src/cmds/versions/version.rs
  cli/src/error.rs
  common/dal-context/Cargo.toml
  common/meta/raft-store/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  tools/benchmark/Cargo.toml
Labels: pr-not-for-changelog, need-review

#4219 refactor join cluster process
  metasrv/src/bin/metasrv.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/api/http/cluster_state_test.rs
  metasrv/tests/it/api/http_service.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-bugfix, need-review

#4215 Numbers table limit pushdown to ReadPlan
  common/planners/src/plan_node_display_indent.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/new/processors/transforms/transform_filter.rs
  query/src/pipelines/new/processors/transforms/transform_limit.rs
  query/src/sql/statements/query/query_collect_push_downs.rs
  query/src/sql/statements/statement_select.rs
  query/src/table_functions/numbers_table.rs
  query/tests/it/optimizers/optimizer.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
  query/tests/it/optimizers/optimizer_top_n_push_down.rs
  query/tests/it/pipelines/processors/pipeline_builder.rs
  tests/suites/0_stateless/03_dml/03_0004_select_order_by.result
  tests/suites/0_stateless/03_dml/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_dml/03_0010_select_limit_offset.result
  tests/suites/0_stateless/03_dml/03_0010_select_limit_offset.sql
Labels: pr-improvement, need-review

#4223 Refactor: add retry join cluster process, refactor --join arg format
  common/meta/raft-store/src/config.rs
  common/meta/types/src/meta_raft_errors.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
Labels: pr-improvement, need-review

#4212 bump arrow2 to main
  Cargo.lock
  common/arrow/Cargo.toml
  common/arrow/src/lib.rs
  common/arrow/src/parquet_read.rs
  common/arrow/src/parquet_write.rs
  common/datablocks/src/data_block.rs
  common/datablocks/tests/it/data_block.rs
  common/datavalues/src/columns/column.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_schema.rs
  common/datavalues/src/types/data_type.rs
  common/streams/src/sources/source_parquet.rs
  common/streams/src/stream_limit_by.rs
  common/streams/tests/it/source.rs
  metasrv/src/api/grpc/grpc_service.rs
  query/src/api/rpc/flight_client_stream.rs
  query/src/api/rpc/flight_service.rs
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/pipelines/new/processors/transforms/transform_limit_by.rs
  query/src/sql/optimizer/group.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/block_writer.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/tests/parquet.rs
Labels: pr-not-for-changelog, need-review

#4229 refactor: change to wiremock from httpmock
  Cargo.lock
  cli/Cargo.toml
  cli/tests/it/clusters/view.rs
  cli/tests/it/config.rs
  cli/tests/it/status.rs
  common/dal-context/Cargo.toml
  query/Cargo.toml
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-build, need-review

#4203 opendal: Bump to v0.0.5 to address performance regression and much UE enhancement
  Cargo.lock
  common/dal-context/Cargo.toml
  common/dal-context/src/context.rs
  common/streams/Cargo.toml
  common/streams/tests/it/source.rs
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/block_writer.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/truncate.rs
  query/tests/it/storages/fuse/io.rs
Labels: pr-performance, need-review

#4230 remove buffer in block_reader of fuse store
  common/streams/src/stream_limit_by.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/read.rs
Labels: need-review

#4235 Move learn to the end of the menu bar
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#4239 Add taplo config for formatting `Cargo.toml` files
  .github/actions/check/action.yml
  Makefile
  cli/Cargo.toml
  common/arrow/Cargo.toml
  common/ast/Cargo.toml
  common/base/Cargo.toml
  common/building/Cargo.toml
  common/cache/Cargo.toml
  common/clickhouse-srv/Cargo.toml
  common/codegen/Cargo.toml
  common/containers/Cargo.toml
  common/dal-context/Cargo.toml
  common/datablocks/Cargo.toml
  common/datavalues/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/grpc/Cargo.toml
  common/io/Cargo.toml
  common/management/Cargo.toml
  common/mem-allocator/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/grpc/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/metrics/Cargo.toml
  common/planners/Cargo.toml
  common/streams/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  scripts/setup/dev_setup.sh
  taplo.toml
Labels: pr-build, need-review

#4236 chore: reduce deps
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/status.rs
  query/Cargo.toml
  tools/benchmark/Cargo.toml
Labels: pr-build, pr-not-for-changelog, need-review

#4237 feat: support aggregate sum/avg booleans
  common/functions/src/aggregates/aggregate_avg.rs
  common/functions/src/aggregates/aggregate_sum.rs
  common/functions/tests/it/aggregates/aggregate_function.rs
  tests/suites/0_stateless/03_dml/03_0008_select_aggregator_combinator.result
  tests/suites/0_stateless/03_dml/03_0008_select_aggregator_combinator.sql
Labels: pr-improvement, need-review

#4166 Integrate system tables with new processor
  query/src/databases/system/system_database.rs
  query/src/pipelines/new/executor/executor_tasks.rs
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/pipelines/new/executor/mod.rs
  query/src/pipelines/new/executor/pipeline_async_pulling_executor.rs
  query/src/pipelines/new/executor/pipeline_executor.rs
  query/src/pipelines/new/executor/pipeline_runtime_executor.rs
  query/src/pipelines/new/processors/mod.rs
  query/src/pipelines/new/processors/sinks/async_sink.rs
  query/src/pipelines/new/processors/sinks/mod.rs
  query/src/pipelines/new/processors/sources/async_source.rs
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/storages/system/clusters_table.rs
  query/src/storages/system/columns_table.rs
  query/src/storages/system/configs_table.rs
  query/src/storages/system/contributors_table.rs
  query/src/storages/system/credits_table.rs
  query/src/storages/system/databases_table.rs
  query/src/storages/system/engines_table.rs
  query/src/storages/system/functions_table.rs
  query/src/storages/system/metrics_table.rs
  query/src/storages/system/mod.rs
  query/src/storages/system/one_table.rs
  query/src/storages/system/processes_table.rs
  query/src/storages/system/query_log_table.rs
  query/src/storages/system/settings_table.rs
  query/src/storages/system/table.rs
  query/src/storages/system/tables_table.rs
  query/src/storages/system/tracing_table.rs
  query/src/storages/system/tracing_table_stream.rs
  query/src/storages/system/users_table.rs
  query/tests/it/storages/system/clusters_table.rs
  query/tests/it/storages/system/columns_table.rs
  query/tests/it/storages/system/configs_table.rs
  query/tests/it/storages/system/contributors_table.rs
  query/tests/it/storages/system/credits_table.rs
  query/tests/it/storages/system/databases_table.rs
  query/tests/it/storages/system/engines_table.rs
  query/tests/it/storages/system/functions_table.rs
  query/tests/it/storages/system/metrics_table.rs
  query/tests/it/storages/system/settings_table.rs
  query/tests/it/storages/system/tables_table.rs
  query/tests/it/storages/system/users_table.rs
Labels: pr-feature, need-review

#4240 AUTO RUN `test_management_mode` IN CI AND release after the test passed.
  .github/actions/test_management_mode/action.yml
  .github/workflows/production.yml
  tests/suites/2_management_mode/00_0005_management_mode_stage.result
  tests/suites/2_management_mode/00_0005_management_mode_stage.sql
Labels: pr-improvement, pr-build, need-review

#4245 add package purge subcommand for bendctl
  cli/src/cmds/mod.rs
  cli/src/cmds/packages/mod.rs
  cli/src/cmds/packages/package.rs
  cli/src/cmds/packages/purge.rs
  cli/tests/it/basic.rs
Labels: pr-feature, need-review

#4241 Copy files data from s3 external location [PATCH-2]
  .github/actions/test_stateful_standalone/action.yml
  Cargo.lock
  common/dal-context/Cargo.toml
  common/dal-context/src/context.rs
  docs/user/01-sql-statement/03-dml/dml-copy.md
  docs/user/04-data-loading/copy-data-from-stage.md
  docs/user/04-data-loading/loading-from-external-location.md
  query/Cargo.toml
  query/src/configs/config_storage.rs
  query/src/interpreters/interpreter_copy.rs
  query/src/pipelines/transforms/sources/source_csv.rs
  query/src/pipelines/transforms/sources/source_dal.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/session_mgr.rs
  query/src/sql/sql_parser.rs
  query/tests/it/configs.rs
  query/tests/it/sessions/query_ctx.rs
  query/tests/it/sql/statements/statement_copy.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/setup/dev_setup.sh
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_s3_location.sh
  tests/suites/1_stateful/00_copy/00_0000_copy_s3.result
  tests/suites/1_stateful/00_copy/00_0000_copy_s3.sh
Labels: pr-feature, need-review

#4257 [metasrv] refactor: lower down log level to debug for tracing::instrument to prevent potential "message too long" error when sending to jaeger
  common/meta/raft-store/src/log/raft_log.rs
  common/meta/raft-store/src/state/raft_state.rs
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/src/store/meta_raft_store.rs
Labels: pr-improvement, need-review

#4261 fix numbers_mt limit pushdown bug
  query/src/table_functions/numbers_table.rs
  query/tests/it/table_functions/numbers_table.rs
Labels: pr-bugfix, need-review

#4255 Improvement: Use case insensitive table option keys
  query/src/storages/fuse/constants.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/0_stateless/09_fuse_engine/09_0011_create_table_with_opt_loc.result
  tests/suites/0_stateless/09_fuse_engine/09_0011_create_table_with_opt_loc.sh
Labels: pr-improvement, pr-not-for-changelog, need-review

#4269 Zero extra cost of async trait
  query/src/lib.rs
  query/src/pipelines/new/executor/pipeline_async_pulling_executor.rs
  query/src/pipelines/new/processors/sinks/async_sink.rs
  query/src/pipelines/new/processors/sources/async_source.rs
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/pipelines/new/processors/sources/table_source.rs
  query/src/storages/system/table.rs
Labels: pr-improvement, need-review

#4272 Implement new processor for github & memory & null engine
  query/src/storages/github/github_table.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/null/null_table.rs
Labels: pr-feature, need-review

#4274 Add execute2 for Interpreter
  query/src/interpreters/interpreter.rs
  query/src/interpreters/interpreter_select.rs
Labels: pr-not-for-changelog, need-review

#4276 [metasrv] add doc for deploying metasrv cluster and backup/restore metasrv data
  docs/dev/deploy/metasrv-deploy.md
  docs/dev/deploy/metasrv-export-import.md
Labels: need-review

#4270 chore(metactl): move to tools/metactl
  .github/workflows/databend-release.yml
  Cargo.lock
  Cargo.toml
  Makefile
  metasrv/Cargo.toml
  scripts/build/build-debug.sh
  scripts/build/build-native.sh
  scripts/build/build-release.sh
  tools/metactl/Cargo.toml
  tools/metactl/src/main.rs
Labels: pr-not-for-changelog, need-review

#4278 *: some changes around rand
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/benches/if_else_then.rs
  common/functions/Cargo.toml
  common/functions/src/scalars/maths/random.rs
  docs/user/01-sql-statement/07-functions/02-numeric-functions/rand.md
Labels: pr-improvement, need-review
