Repository databendlabs/databend, pull requests merged in 2022-05, with the labels that each got.

#5121 improvement(function): simplify in function
  common/ast/Cargo.toml
  common/functions/src/scalars/conditionals/in_basic.rs
  scripts/setup/dev_setup.sh
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.result
  tests/suites/0_stateless/02_function/02_0045_conditional_function_in.sql
Labels: pr-improvement, community-take, need-review

#5124 improve(function): Specialize `CastFunction` with from type
  common/functions/src/scalars/comparisons/comparison.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/conditionals/in_basic.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/expressions/cast.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/expressions/expression.rs
  common/functions/src/scalars/function_monotonic.rs
  common/functions/src/scalars/hashes/city64_with_seed.rs
  common/functions/src/scalars/hashes/sha2hash.rs
  common/functions/src/scalars/logics/macros.rs
  common/functions/src/scalars/logics/not.rs
  common/functions/src/scalars/logics/xor.rs
  common/functions/src/scalars/strings/bin.rs
  common/functions/src/scalars/strings/hex.rs
  common/functions/src/scalars/strings/oct.rs
  common/functions/src/scalars/strings/regexp_instr.rs
  common/functions/src/scalars/strings/regexp_replace.rs
  common/functions/src/scalars/strings/regexp_substr.rs
  common/functions/src/scalars/strings/repeat.rs
  common/functions/src/scalars/strings/substring.rs
  common/functions/src/scalars/strings/substring_index.rs
  common/functions/tests/it/scalars/expressions.rs
  common/planners/src/plan_expression_chain.rs
  common/streams/tests/it/stream_cast.rs
  query/src/common/expression_evaluator.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/pipelines/transforms/transform_sink.rs
Labels: C-improvement, pr-improvement, need-review

#5115 feat(planner): support more aggregate syntax
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/exec/expression_builder.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/scalar_visitor.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/plans/scalar.rs
Labels: pr-feature, need-review

#5125 chore(QueryContext): make QueryContex as the first parameter
  query/src/api/rpc/flight_dispatcher.rs
  query/src/api/rpc/flight_scatter.rs
  query/src/api/rpc/flight_scatter_broadcast.rs
  query/src/api/rpc/flight_scatter_hash.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/pipelines/new/processors/transforms/transform_addon.rs
  query/src/pipelines/new/processors/transforms/transform_expression.rs
  query/src/pipelines/new/processors/transforms/transform_filter.rs
  query/src/pipelines/processors/pipeline_builder.rs
  query/src/pipelines/transforms/streams/stream_addon.rs
  query/src/pipelines/transforms/transform_expression.rs
  query/src/pipelines/transforms/transform_expression_executor.rs
  query/src/pipelines/transforms/transform_filter.rs
  query/src/pipelines/transforms/transform_projection.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/mod.rs
  query/src/sql/statements/value_source.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/index/bloom_filter.rs
  query/src/storages/index/range_filter.rs
  query/src/storages/system/table.rs
  query/tests/it/pipelines/transforms/transform_expression.rs
  query/tests/it/pipelines/transforms/transform_filter.rs
  query/tests/it/pipelines/transforms/transform_limit_by.rs
  query/tests/it/pipelines/transforms/transform_projection.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/index/range_filter.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5128 chore(doc): refine the Readme
  README.md
  docs/doc/00-guides/index.md
  docs/doc/00-overview/index.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5130 improve(function): Specialize `NumberFunction` with input type
  common/functions/src/scalars/dates/number_function.rs
Labels: C-improvement, pr-improvement, need-review

#5127 chore(base): disable backtrace by default
  Cargo.lock
  Cargo.toml
  common/exception/Cargo.toml
  common/exception/src/backtrace_guard.rs
  common/exception/src/exception.rs
  common/exception/src/exception_code.rs
  common/exception/src/exception_into.rs
  common/exception/src/lib.rs
  common/exception/tests/it/exception.rs
  common/tracing/Cargo.toml
  common/tracing/src/lib.rs
  common/tracing/src/panic_hook.rs
  query/src/sql/statements/value_source.rs
Labels: pr-bugfix, pr-improvement, need-review

#5136 fix: fix trim
  common/ast/src/udfs/udf_expr_visitor.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/02_function/02_0055_function_strings_trim.result
  tests/suites/0_stateless/02_function/02_0055_function_strings_trim.sql
Labels: pr-bugfix, need-review

#4843 improvement: add category for some functions
  docs/doc/30-reference/20-functions/10-conditional-functions/in.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/json_extract_path_text.md
  docs/doc/30-reference/20-functions/110-semi-structured-functions/parse_json.md
  docs/doc/30-reference/20-functions/120-other-functions/exists.md
  docs/doc/30-reference/20-functions/120-other-functions/ignore.md
  docs/doc/30-reference/20-functions/120-other-functions/ipv4_num_to_string.md
  docs/doc/30-reference/20-functions/120-other-functions/ipv4_string_to_num.md
  docs/doc/30-reference/20-functions/120-other-functions/try_inet_aton.md
  docs/doc/30-reference/20-functions/120-other-functions/try_inet_ntoa.md
  docs/doc/30-reference/20-functions/120-other-functions/try_ipv4_num_to_string.md
  docs/doc/30-reference/20-functions/120-other-functions/try_ipv4_string_to_num.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/_category_.json
  docs/doc/30-reference/20-functions/130-comparisons-functions/like.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/not_like.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/not_regexp.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/not_rlike.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/regexp.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/rlike.md
  docs/doc/30-reference/20-functions/130-comparisons-functions/symbol_comparisons.md
  docs/doc/30-reference/20-functions/140-arithmetics-functions/_category_.json
  docs/doc/30-reference/20-functions/140-arithmetics-functions/arithmetics.md
  docs/doc/30-reference/20-functions/150-logic-functions/_category_.json
  docs/doc/30-reference/20-functions/150-logic-functions/logic.md
  docs/doc/30-reference/20-functions/160-tuple-functions/_category_.json
  docs/doc/30-reference/20-functions/160-tuple-functions/tuple.md
  docs/doc/30-reference/20-functions/20-numeric-functions/abs.md
  docs/doc/30-reference/20-functions/20-numeric-functions/log_functions.md
  docs/doc/30-reference/20-functions/20-numeric-functions/pow.md
  docs/doc/30-reference/20-functions/30-datetime-functions/tostartofsecond.md
  docs/doc/30-reference/20-functions/40-string-functions/ascii.md
  docs/doc/30-reference/20-functions/40-string-functions/bin.md
  docs/doc/30-reference/20-functions/40-string-functions/format.md
  docs/doc/30-reference/20-functions/40-string-functions/hex.md
  docs/doc/30-reference/20-functions/40-string-functions/oct.md
  docs/doc/30-reference/20-functions/40-string-functions/octet_length.md
  docs/doc/30-reference/20-functions/40-string-functions/quote.md
  docs/doc/30-reference/20-functions/40-string-functions/repeat.md
  docs/doc/30-reference/20-functions/40-string-functions/trim.md
  docs/doc/30-reference/20-functions/40-string-functions/unhex.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-covar-pop.md
  docs/doc/30-reference/20-functions/50-aggregate-functions/aggregate-stddev-pop.md
  docs/doc/30-reference/20-functions/60-conversion-functions/type-conversion.md
  docs/doc/30-reference/20-functions/70-hash-functions/city64withseed.md
  docs/doc/30-reference/20-functions/70-hash-functions/sha1hash.md
  docs/doc/30-reference/20-functions/70-hash-functions/siphash.md
  docs/doc/30-reference/20-functions/80-uuid-functions/uuid.md
  docs/doc/30-reference/20-functions/90-context-functions/current_user.md
Labels: pr-improvement, need-review

#5137 chore(query): remove some #[allow(dead_code)]
  common/arrow/src/bitmap/mod.rs
  common/arrow/src/bitmap/mutable.rs
  common/ast/src/ast/expr.rs
  common/ast/src/ast/statement.rs
  common/ast/src/parser/expr.rs
  common/cache/src/disk_cache.rs
  common/datavalues/src/utils.rs
  common/functions/src/aggregates/aggregate_combinator.rs
  common/functions/src/aggregates/aggregate_count.rs
  common/functions/src/aggregates/aggregate_function_factory.rs
  common/functions/src/rdoc/function_docs.rs
  common/macros/src/lib.rs
  common/meta/sled-store/src/db.rs
  query/src/api/rpc/flight_client_stream.rs
  query/src/interpreters/interpreter_show_engines.rs
  query/src/interpreters/interpreter_show_metrics.rs
  query/src/interpreters/interpreter_show_processlist.rs
  query/src/interpreters/interpreter_show_roles.rs
  query/src/interpreters/interpreter_show_settings.rs
  query/src/interpreters/interpreter_show_users.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/sessions/session_settings.rs
  query/src/storages/fuse/meta/v0/snapshot.rs
  query/src/storages/fuse/meta/versions.rs
  query/src/storages/index/bloom_filter.rs
  query/src/storages/index/index_min_max.rs
  query/src/storages/index/index_sparse.rs
  query/tests/it/interpreters/interpreter_privilege_grant.rs
  query/tests/it/tests/context.rs
  query/tests/it/tests/mod.rs
  query/tests/it/tests/parquet.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5135 feat(planner): Support `TableFunction` in new planner
  common/ast/src/ast/query.rs
  common/ast/src/parser/query.rs
  query/src/sql/exec/mod.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/plans/scalar.rs
Labels: C-feature, pr-feature, need-review

#5139 refactor(processor): refactor insert into query for fuse engine
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/io/write/block_writer.rs
  query/src/storages/fuse/io/write/mod.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/fuse_sink.rs
  query/src/storages/fuse/operations/mod.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/reducers.rs
  query/src/storages/index/mod.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/index/range_filter.rs
Labels: pr-improvement, need-review

#5143 Chore(doc): IP Address upper case
  docs/doc/30-reference/20-functions/100-tuple-functions/_category_.json
  docs/doc/30-reference/20-functions/100-tuple-functions/tuple.md
  docs/doc/30-reference/20-functions/120-other-functions/running_difference.md
  docs/doc/30-reference/20-functions/121-test-functions/sleep.md
  docs/doc/30-reference/20-functions/60-conversion-functions/type_conversion.md
  docs/doc/30-reference/20-functions/81-ip-address-functions/try_inet_aton.md
  docs/doc/30-reference/20-functions/81-ip-address-functions/try_inet_ntoa.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5144 chore(doc): operator to index.md
  docs/doc/30-reference/20-functions/01-arithmetics-operators/_category_.json
  docs/doc/30-reference/20-functions/01-arithmetics-operators/index.md
  docs/doc/30-reference/20-functions/02-comparisons-operators/_category_.json
  docs/doc/30-reference/20-functions/02-comparisons-operators/index.md
  docs/doc/30-reference/20-functions/03-logic-operators/_category_.json
  docs/doc/30-reference/20-functions/03-logic-operators/index.md
  docs/doc/30-reference/20-functions/60-conversion-functions/cast.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5141 fix(backtrace): improve message when backtrace is disabled
  common/exception/src/exception.rs
  common/functions/src/rdoc/function_doc_asset.rs
  common/functions/tests/it/rdoc/function_doc_asset.rs
Labels: pr-improvement, need-review

#5096 [common/meta] impl create-db with protobuf and kv-txn API
  Cargo.lock
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/src/lib.rs
  common/meta/grpc/src/meta_client_on_kv.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/types/src/database.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/message.rs
  common/meta/types/src/proto_display.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/meta_node_kv_api_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
  metasrv/tests/it/grpc/mod.rs
Labels: need-review

#5149 [metasrv] impl list-db with kv and txn
  Cargo.lock
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/lib.rs
  common/meta/grpc/src/meta_client_on_kv.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: need-review

#5154 [meta/types] use TableNameIdent for DropTableReq
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/types/src/cmd.rs
  common/meta/types/src/compatibility/cmd_00000000_20220427.rs
  common/meta/types/src/table.rs
  common/planners/src/plan_table_drop.rs
  metasrv/src/executor/meta_handlers.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/interpreters/interpreter_view_alter.rs
  query/src/interpreters/interpreter_view_drop.rs
  query/tests/it/catalogs/database_catalog.rs
  tests/metactl/meta.json
Labels: need-review

#5156 [meta/types] use TableNameIdent for RenameTableReq
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/types/src/cmd.rs
  common/meta/types/src/compatibility/cmd_00000000_20220427.rs
  common/meta/types/src/table.rs
  query/src/catalogs/impls/database_catalog.rs
  query/src/interpreters/interpreter_table_rename.rs
  tests/metactl/meta.json
Labels: need-review

#5161 [meta] impl create/get/drop table with kv-txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/tests/it/meta_api_impl.rs
  common/meta/grpc/src/meta_client_on_kv.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  common/meta/raft-store/tests/it/state_machine/meta_api_impl.rs
  common/meta/types/src/database.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/table.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: need-review

#5162 feat(planner): Refine `Scalar` with enum_dispatch and support more scalar expressions
  common/ast/src/ast/expr.rs
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/exec/expression_builder.rs
  query/src/sql/exec/mod.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/scalar_common.rs
  query/src/sql/planner/binder/scalar_visitor.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/mod.rs
  query/src/sql/planner/plans/aggregate.rs
  query/src/sql/planner/plans/filter.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/project.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/mod.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-feature, pr-feature, need-review

#5166 chore(warehouse): remove un-used warehouse codes
  common/management/src/lib.rs
  common/management/src/warehouse/mod.rs
  common/management/src/warehouse/warehouse_api.rs
  common/management/src/warehouse/warehouse_mgr.rs
  common/management/tests/it/main.rs
  common/management/tests/it/warehouse.rs
  query/src/databases/system/system_database.rs
  query/src/storages/system/mod.rs
  query/src/storages/system/warehouses_table.rs
  query/src/users/mod.rs
  query/src/users/user_api.rs
  query/src/users/user_warehouse.rs
  query/tests/it/storages/system/mod.rs
  query/tests/it/storages/system/tables_table.rs
  query/tests/it/storages/system/warehouses_table.rs
  query/tests/it/users/mod.rs
  query/tests/it/users/user_warehouse.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5169 refactor(http_handler): remove /v1/statement.rs.
  query/src/servers/http/http_services.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/mod.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_manager.rs
  query/src/servers/http/v1/statement.rs
  query/tests/it/servers/http/mod.rs
  query/tests/it/servers/http/statement.rs
Labels: pr-not-for-changelog, need-review, A-api

#5165 fix(planner): make aggregator work and add simple stateless tests
  query/src/pipelines/new/pipeline_builder.rs
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/exec/expression_builder.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix, pr-build, need-review

#5171 [metasrv] impl list-tables with kv-txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: need-review

#5177 feat(common): checkout to official MutableBitmap
  common/arrow/src/bitmap/mod.rs
  common/arrow/src/bitmap/mutable.rs
  common/arrow/src/bitmap/util.rs
  common/arrow/src/lib.rs
  common/datavalues/benches/eq.rs
  common/datavalues/src/columns/boolean/mod.rs
  common/datavalues/src/columns/boolean/mutable.rs
  common/datavalues/src/columns/builder.rs
  common/datavalues/src/columns/mutable.rs
  common/datavalues/src/columns/null/mutable.rs
  common/datavalues/src/columns/nullable/mod.rs
  common/datavalues/src/columns/nullable/mutable.rs
  common/datavalues/src/columns/object/mutable.rs
  common/datavalues/src/columns/primitive/mutable.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/columns/string/mutable.rs
  common/datavalues/src/scalars/viewer.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/type_nullable.rs
  common/datavalues/src/utils.rs
  common/datavalues/tests/it/columns/boolean.rs
  common/datavalues/tests/it/columns/builder.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/function_adapter.rs
  common/streams/src/stream_limit_by.rs
  query/src/pipelines/new/processors/transforms/transform_limit_by.rs
  query/tests/it/servers/http/formats/tsv_output.rs
  query/tests/it/servers/http/json_block.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5179 `db_id` and `table_id` has to be globally unique.
  common/meta/grpc/src/meta_client_on_kv.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  common/meta/types/src/database.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/table.rs
Labels: need-review

#5180 [metasrv] impl rename-table with kv-txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: need-review

#5182 [metasrv] refactor: remove specialized util methods, fix comments
  common/meta/grpc/src/meta_client_on_kv_impl.rs
Labels: pr-improvement, need-review

#5183 Feature: impl upsert_table_option with kv-txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: pr-feature, need-review

#5185 Feature: impl get_table_by_id with kv-txn
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: pr-feature, need-review

#5186 [metasrv] create/drop/rename table has to update the seq of its belonging db.
  common/meta/grpc/src/meta_client_on_kv_impl.rs
Labels: need-review

#5184 feat: Dynamically update the release version
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/07-qingstore.md
  website/package.json
  website/src/components/GetLatest/index.js
  website/src/plugins/releaseVersion.jsx
  website/yarn.lock
Labels: pr-improvement, need-review

#5195 [metasrv] disable `share` APIs
  common/meta/api/src/meta_api.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/embedded/tests/it/meta_api_impl.rs
  common/meta/grpc/src/grpc_action.rs
  common/meta/grpc/src/meta_api_impl.rs
  common/meta/grpc/src/meta_client_on_kv_impl.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/meta_api_impl.rs
  common/meta/types/src/database.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/message.rs
  common/meta/types/src/operation.rs
  common/meta/types/src/table.rs
  common/proto-conv/src/from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api.rs
  query/src/catalogs/backends/meta_backend.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/storages/fuse/operations/commit.rs
  query/tests/it/storages/fuse/table.rs
Labels: need-review

#5198 [meta/api] rename MetaClientOnKV to SchemaApiImpl<KV:KVApi>: impl MetaApi on any KVApi impl
  Cargo.lock
  common/meta/api/Cargo.toml
  common/meta/api/src/kv_api_key.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_keys.rs
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/lib.rs
  common/meta/grpc/src/meta_client_on_kv.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
Labels: need-review

#5194 Add cluster key statistics in block meta
  common/datavalues/src/data_value.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/io/write/block_stream_writer.rs
  query/src/storages/fuse/meta/common.rs
  query/src/storages/fuse/meta/v1/segment.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/fuse_sink.rs
  query/src/storages/fuse/statistics/accumulator.rs
  query/src/storages/fuse/statistics/mod.rs
  query/src/storages/fuse/statistics/reducers.rs
  query/src/storages/index/mod.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/operations/read_plan.rs
  query/tests/it/storages/fuse/statistics.rs
Labels: pr-feature, need-review

#5199 [meta/api] remove MetaApi impl. replaced with kv-txn based impl
  Cargo.lock
  common/datavalues/src/types/type_interval.rs
  common/meta/api/src/lib.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/embedded/src/lib.rs
  common/meta/embedded/src/meta_api_impl.rs
  common/meta/grpc/src/lib.rs
  common/meta/grpc/src/meta_api_impl.rs
  common/meta/raft-store/src/state_machine/mod.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/proto-conv/Cargo.toml
  common/proto-conv/src/from_to_protobuf_impl.rs
  common/proto-conv/tests/it/proto_conv.rs
  common/protos/Cargo.toml
  common/protos/build.rs
  common/protos/proto/metadata.proto
  metasrv/tests/it/grpc/metasrv_grpc_meta_api_on_kv.rs
  metasrv/tests/it/grpc/mod.rs
Labels: need-review

#5201 Refactor reduce statistics logic
  common/datavalues/src/data_value.rs
  query/src/storages/fuse/statistics/reducers.rs
Labels: pr-improvement, need-review

#5075 feat(group_by): support two-level hashmap
  query/src/common/hashtable/hash_table.rs
  query/src/common/hashtable/hash_table_entity.rs
  query/src/common/hashtable/hash_table_grower.rs
  query/src/common/hashtable/hash_table_iter.rs
  query/src/common/hashtable/mod.rs
  query/src/common/hashtable/two_level_hash_table.rs
  query/src/pipelines/new/pipeline_builder.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_final.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_partial.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_polymorphic_keys.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/sessions/session_settings.rs
  query/src/sql/exec/mod.rs
  query/tests/it/common/hashtable.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.result
  tests/suites/0_stateless/03_dml/03_0003_select_group_by.sql
  tests/suites/0_stateless/06_show/06_0003_show_settings.result
Labels: pr-improvement, pr-performance, pr-feature, community-take, need-review

#5206 [meta] rename `MetaApi` to `SchemaApi`
  common/meta/api/src/lib.rs
  common/meta/api/src/schema_api.rs
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/meta/embedded/src/meta_embedded.rs
  common/meta/embedded/tests/it/main.rs
  common/meta/embedded/tests/it/schema_api_impl.rs
  common/meta/grpc/tests/it/grpc_client.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api_follower_follower.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api_leader_follower.rs
  metasrv/tests/it/grpc/metasrv_grpc_tls.rs
  metasrv/tests/it/grpc/mod.rs
  query/src/catalogs/backends/meta_backend.rs
  query/src/catalogs/catalog_context.rs
  query/src/catalogs/impls/mutable_catalog.rs
  query/src/common/meta/meta_client.rs
  query/src/databases/database_context.rs
  query/src/storages/storage_context.rs
Labels: need-review

#5211 add access check for management mode
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/access/mod.rs
  query/src/interpreters/interpreter_factory_interceptor.rs
  query/src/interpreters/mod.rs
  query/tests/it/interpreters/access/management_mode_access.rs
  query/tests/it/interpreters/access/mod.rs
  query/tests/it/interpreters/mod.rs
Labels: pr-feature, need-review

#5212 [meta] Remove compatibility support.
  common/meta/types/src/cmd.rs
  common/meta/types/src/compatibility/cmd_00000000_20220427.rs
  common/meta/types/src/compatibility/mod.rs
  common/meta/types/src/lib.rs
  common/meta/types/tests/it/compatible.rs
  common/meta/types/tests/it/main.rs
Labels: need-review

#5204 feat(planner):integrate the stateless test for the new planner's aggregation
  query/src/sql/exec/data_schema_builder.rs
  query/src/sql/exec/mod.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-build, pr-feature, need-review

#5218 fix: Handle exception display bug
  website/src/plugins/releaseVersion.jsx
Labels: pr-bugfix, need-review

#5213 feat(parser): display alternatives in error message
  common/ast/src/ast/statement.rs
  common/ast/src/parser/error.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/statement-error.txt
Labels: pr-improvement, need-review

#5216 feat: Introduce opendal 0.6 and enable retry support
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/sessions/session_mgr.rs
Labels: pr-feature, need-review

#5219 [metasrv] remove old MetaApi related code
  common/meta/grpc/src/grpc_action.rs
  common/meta/raft-store/src/sled_key_spaces.rs
  common/meta/raft-store/src/state_machine/database_lookup.rs
  common/meta/raft-store/src/state_machine/mod.rs
  common/meta/raft-store/src/state_machine/share_inbound.rs
  common/meta/raft-store/src/state_machine/share_lookup.rs
  common/meta/raft-store/src/state_machine/share_outbound.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/raft-store/src/state_machine/table_lookup.rs
  common/meta/raft-store/tests/it/state_machine/database_lookup.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/types/src/applied_state.rs
  common/meta/types/src/cmd.rs
  common/meta/types/src/message.rs
  metasrv/src/executor/action_handler.rs
  metasrv/src/executor/meta_handlers.rs
  metasrv/src/executor/mod.rs
  metasrv/src/export.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  tests/metactl/meta.json
Labels: need-review

#5217 ISSUE-5170 remove stale config items
  docs/doc/30-reference/30-sql/70-system-tables/system-configs.md
  docs/doc/30-reference/30-sql/70-system-tables/system-tracing.md
  query/src/configs/config_query.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
Labels: pr-improvement, pr-doc-fix, pr-not-for-changelog, need-review

#5049 feat(data type): ArrayType support inner dataType
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/udfs/udf_expr_visitor.rs
  common/datavalues/src/array_value.rs
  common/datavalues/src/columns/array/iterator.rs
  common/datavalues/src/columns/array/mod.rs
  common/datavalues/src/columns/array/mutable.rs
  common/datavalues/src/columns/boolean/mutable.rs
  common/datavalues/src/columns/group_hash.rs
  common/datavalues/src/columns/mutable.rs
  common/datavalues/src/columns/object/mutable.rs
  common/datavalues/src/columns/primitive/mutable.rs
  common/datavalues/src/columns/string/mutable.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/macros.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/scalars/column.rs
  common/datavalues/src/scalars/iterator.rs
  common/datavalues/src/scalars/type_.rs
  common/datavalues/src/scalars/viewer.rs
  common/datavalues/src/types/deserializations/array.rs
  common/datavalues/src/types/deserializations/mod.rs
  common/datavalues/src/types/type_array.rs
  common/datavalues/src/types/type_factory.rs
  common/datavalues/tests/it/columns/array.rs
  common/datavalues/tests/it/columns/mod.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/hashes/hash_base.rs
  query/Cargo.toml
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/sql/sql_common.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
Labels: pr-build, pr-feature, pr-doc-fix, need-review

#5223 chore: Make cargo clippy --all-targets happy
  common/macros/src/lib.rs
Labels: pr-improvement, need-review

#5228 chore(doc): add Continuous Benchmarking to menu
  website/docusaurus.config.js
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5222 bugfix(planner): Fix wrong result of hash join when join keys have different types
  common/functions/src/scalars/function_adapter.rs
  query/src/pipelines/new/processors/transforms/hash_join/hash_table.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/scalar_common.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-bug, pr-bugfix, need-review

#5229 chore(meta): remove un-used warehouse codes
  Cargo.lock
  common/exception/src/exception_code.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/lib.rs
  common/meta/types/src/warehouse_meta.rs
  common/meta/types/tests/it/main.rs
  common/meta/types/tests/it/warehouse_metadata.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5231 chore(planner): derive `Debug` trait for plans
  query/src/sql/optimizer/s_expr.rs
  query/src/sql/planner/plans/aggregate.rs
  query/src/sql/planner/plans/filter.rs
  query/src/sql/planner/plans/hash_join.rs
  query/src/sql/planner/plans/logical_join.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/pattern.rs
  query/src/sql/planner/plans/project.rs
Labels: pr-not-for-changelog, need-review

#5230 fix(parser): show alternative tokens even if the branch is optional
  common/ast/src/parser/error.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/util.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/statement-error.txt
  query/src/sql/planner/mod.rs
Labels: pr-bugfix, need-review

#5239 fix(ast): improve helper message for error
  common/ast/src/parser/error.rs
  common/ast/src/parser/statement.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/statement-error.txt
Labels: pr-bugfix, need-review

#5243 fixes(format): fix string type csv truncate failure
  common/datavalues/src/types/deserializations/string.rs
Labels: pr-bugfix, need-review

#5245 feat: Add HDFS support
  Cargo.lock
  common/base/Cargo.toml
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
  query/src/configs/config_storage.rs
  query/src/sessions/session_mgr.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-feature, need-review

#5242 bugfix(pipeline): Fix state machine of hash join
  query/src/pipelines/new/processors/mod.rs
  query/src/pipelines/new/processors/transforms/hash_join/chaining_hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/hash_table.rs
  query/src/pipelines/new/processors/transforms/hash_join/mod.rs
  query/src/pipelines/new/processors/transforms/hash_join/row.rs
  query/src/pipelines/new/processors/transforms/mod.rs
  query/src/pipelines/new/processors/transforms/transform_hash_join.rs
  query/src/sql/exec/mod.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-bug, pr-bugfix, need-review

#5255 feat(scripts/setup): Install jdk
  scripts/setup/dev_setup.sh
Labels: pr-build, need-review

#5262 feat(format): add scan progress values
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/multipart_format.rs
Labels: pr-bugfix, need-review

#5256 feat(planner): select without from
  query/src/sql/planner/binder/select.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5269 chore(planner): make code neat with `DataField::new()`
  query/src/sql/exec/data_schema_builder.rs
Labels: pr-improvement, need-review

#5272 docs: Algolia enforce using databend-rs as prefix
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#5263 Remove unauthenticated behavior
  Cargo.lock
  query/Cargo.toml
  query/src/servers/http/middleware.rs
  query/src/users/auth/auth_mgr.rs
  query/tests/it/servers/http/clickhouse_handler.rs
  query/tests/it/servers/http/http_query_handlers.rs
  tests/suites/1_stateful/00_copy/00_0001_upload_to_stage.sh
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
Labels: pr-improvement, need-review

#5273 docs: Update API key for algolia
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#5271 feat(format): support parquet input format
  query/src/formats/format.rs
  query/src/formats/format_csv.rs
  query/src/formats/format_factory.rs
  query/src/formats/format_parquet.rs
  query/src/formats/mod.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/multipart_format.rs
  query/tests/it/formats/format_csv.rs
Labels: pr-feature, need-review

#5281 refine(planner): remove `OrderExpr` from Scalar
  query/src/sql/exec/expression_builder.rs
  query/src/sql/exec/mod.rs
  query/src/sql/planner/binder/scalar_visitor.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/plans/sort.rs
Labels: pr-improvement, need-review

#5266 feat(doc): add Array(T) docs
  docs/doc/30-reference/10-data-types/50-data-type-array-types.md
  docs/doc/30-reference/10-data-types/index.md
Labels: pr-doc-fix, need-review

#5284 refine: of PR #4947 multi-catalog
  Cargo.lock
  common/hive-meta-store/Cargo.toml
  common/hive-meta-store/build.rs
  query/src/storages/fuse/fuse_table.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/system/columns_table.rs
  query/src/storages/system/engines_table.rs
  query/src/storages/system/tables_table.rs
  query/tests/it/sql/statements/query/query_qualified_rewriter.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5283 feature(planner): Support subqueries in new planner
  query/src/sql/exec/expression_builder.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/scalar_visitor.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/type_check.rs
Labels: C-feature, pr-feature, need-review

#5290 feat(planner): display error with source span
  common/ast/src/ast/expr.rs
  common/ast/src/ast/mod.rs
  common/ast/src/ast/query.rs
  common/ast/src/ast/statement.rs
  common/ast/src/parser/error.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/query.rs
  common/ast/src/parser/statement.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/util.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0002_planner_v2_display_error.result
  tests/suites/0_stateless/20+_others/20_0002_planner_v2_display_error.sql
Labels: pr-feature, need-review

#5293 chore(settings): remove unused UserSettings from meta/types
  .github/workflows/developing.yml
  common/management/src/lib.rs
  common/management/src/setting/mod.rs
  common/management/src/setting/setting_api.rs
  common/management/src/setting/setting_mgr.rs
  common/management/tests/it/main.rs
  common/management/tests/it/setting.rs
  common/meta/types/src/lib.rs
  common/meta/types/src/user_setting.rs
  query/src/sessions/session.rs
  query/src/sessions/session_settings.rs
  query/src/users/mod.rs
  query/src/users/user_api.rs
  query/src/users/user_setting.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#5244 feat(function): Support generic Array access elements by index
  common/datavalues/src/array_value.rs
  common/datavalues/src/columns/series.rs
  common/datavalues/src/macros.rs
  common/exception/src/exception_into.rs
  common/functions/src/scalars/semi_structureds/array_get.rs
  common/functions/src/scalars/semi_structureds/get.rs
  common/functions/src/scalars/semi_structureds/mod.rs
  common/functions/tests/it/scalars/semi_structureds/get.rs
  common/planners/src/plan_expression_chain.rs
  common/planners/src/plan_expression_common.rs
  query/src/sql/statements/analyzer_expr.rs
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.result
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.sql
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
Labels: pr-build, pr-feature, pr-doc-fix, need-review

#5300 Revert "chore(query): introduce meta Runtime"
  .github/workflows/developing.yml
  .github/workflows/production.yml
  query/src/sessions/query_ctx.rs
  query/src/sessions/session_mgr.rs
  query/src/sql/statements/query/query_normalizer.rs
  query/src/users/user_api.rs
Labels: pr-build, need-review

#5280 refactor: Reuse StorageConfig in stage
  Cargo.lock
  common/configs/src/lib.rs
  common/configs/src/storage.rs
  common/hive-meta-store/tests/it/basics.rs
  common/io/Cargo.toml
  common/io/src/files.rs
  common/io/src/files/file_s3.rs
  common/io/src/lib.rs
  common/io/src/operator.rs
  common/io/src/prelude.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/user_stage.rs
  common/proto-conv/Cargo.toml
  common/proto-conv/src/config_from_to_protobuf_impl.rs
  common/proto-conv/src/lib.rs
  common/proto-conv/src/user_from_to_protobuf_impl.rs
  common/proto-conv/tests/it/user_proto_conv.rs
  common/protos/proto/config.proto
  common/protos/proto/user.proto
  query/Cargo.toml
  query/src/interpreters/interpreter_copy.rs
  query/src/interpreters/interpreter_list.rs
  query/src/servers/http/v1/stage.rs
  query/src/sessions/session_mgr.rs
  query/src/sql/statements/statement_common.rs
  query/src/storages/stage/stage_source.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/interpreter_user_stage.rs
  query/tests/it/sessions/query_ctx.rs
  query/tests/it/sql/statements/statement_copy.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-improvement, need-review

#4987 store endpoints to metasrv and use balance endpoints grpc connection channel
  common/configs/src/meta.rs
  common/grpc/src/client_conf.rs
  common/grpc/src/dns_resolver.rs
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/src/grpc_client_conf.rs
  common/meta/grpc/tests/it/grpc_client.rs
  common/meta/grpc/tests/it/grpc_server.rs
  common/meta/raft-store/src/sled_key_spaces.rs
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/types/proto/meta.proto
  common/meta/types/src/applied_state.rs
  common/meta/types/src/cmd.rs
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/api/grpc_server.rs
  metasrv/src/export.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api_follower_follower.rs
  metasrv/tests/it/grpc/metasrv_grpc_schema_api_leader_follower.rs
  metasrv/tests/it/grpc/metasrv_grpc_tls.rs
  metasrv/tests/it/grpc/metasrv_grpc_watch.rs
  metasrv/tests/it/tests/service.rs
  query/src/catalogs/default/mutable_catalog.rs
  query/src/common/meta/meta_client.rs
  query/src/storages/system/configs_table.rs
  query/tests/it/configs.rs
  query/tests/it/storages/system/configs_table.rs
  tools/metactl/src/grpc.rs
Labels: pr-improvement, pr-feature, need-review

#5309 feat(parser): add span for expression
  common/ast/src/ast/expr.rs
  common/ast/src/ast/query.rs
  common/ast/src/ast/statement.rs
  common/ast/src/parser/error.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/query.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-feature, need-review

#5313 chore(doc): musl -> gnu
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/07-qingstore.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5312 chore(feature): refactor trait TypeDeserializer
  common/datavalues/src/types/deserializations/array.rs
  common/datavalues/src/types/deserializations/boolean.rs
  common/datavalues/src/types/deserializations/date.rs
  common/datavalues/src/types/deserializations/mod.rs
  common/datavalues/src/types/deserializations/null.rs
  common/datavalues/src/types/deserializations/nullable.rs
  common/datavalues/src/types/deserializations/number.rs
  common/datavalues/src/types/deserializations/string.rs
  common/datavalues/src/types/deserializations/timestamp.rs
  common/datavalues/src/types/deserializations/variant.rs
  common/io/src/buffer/checkpoint_reader.rs
  common/io/src/prelude.rs
  query/src/sql/statements/statement_insert.rs
  query/src/sql/statements/value_source.rs
  query/tests/it/sql/statements/value_source.rs
Labels: pr-improvement, need-review

#5301 feat(planner): support limit for new planner
  query/src/sql/exec/mod.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/plans/limit.rs
  query/src/sql/planner/plans/mod.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5319 [meta/schema-api]: rename-table need to check table exist before returning OK
  .github/actions/test_stateful_standalone/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  common/meta/api/src/schema_api_impl.rs
  common/meta/api/src/schema_api_test_suite.rs
Labels: need-review

#5318 fix: hashtable
  query/src/common/hashtable/hash_table_entity.rs
Labels: pr-not-for-changelog, need-review

#5316 fix(storage/azblob): Azblob API uri not constructed correctly
  Cargo.lock
  common/contexts/Cargo.toml
  common/io/Cargo.toml
  common/streams/Cargo.toml
  query/Cargo.toml
Labels: pr-bugfix, need-review

#5321 Temporarily delete `todo` codes to fix panic bug
  common/meta/grpc/src/grpc_client.rs
Labels: pr-bugfix, need-review

#5315 chore(build): build tool images support musl
  .github/actions/build_debug/action.yml
  .github/actions/build_release/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/workflows/databend-release.yml
  .github/workflows/platform.yml
  Cross.toml
  docker/build-tool/Dockerfile
  docker/build-tool/aarch64/Dockerfile
  docker/build-tool/aarch64_musl/Dockerfile
  docker/build-tool/base/Dockerfile
  docker/build-tool/dev/Dockerfile
  docker/build-tool/gnu/Dockerfile
  docker/build-tool/musl/Dockerfile
  docker/build-tool/musl/musl.sh
  docker/build-tool/openssl.sh
  scripts/setup/cross_setup.sh
  scripts/setup/run_build_tool.sh
  scripts/setup/run_docker.sh
Labels: pr-not-for-changelog, need-review

#5327 chore(doc): update dev_setup document
  scripts/setup/dev_setup.sh
Labels: need-review

#5328 fix(ci): docker image tag should not contain underscore
  .github/workflows/platform.yml
  scripts/setup/run_build_tool.sh
Labels: pr-not-for-changelog, need-review

#5329 fix(ci): typo for image & toolchain
  .github/workflows/platform.yml
  docker/build-tool/dev/Dockerfile
  docker/build-tool/gnu/Dockerfile
  docker/build-tool/musl/Dockerfile
Labels: pr-not-for-changelog, need-review

#5330 chore(ci): rename workflow platform to build-tool
  .github/workflows/build-tool.yml
  docker/build-tool/musl/musl.sh
Labels: pr-not-for-changelog, need-review

#5331 chore(ci): upgrade build-push-action to v3 to support multiline tags
  .github/actions/publish_image/action.yml
  .github/workflows/build-tool.yml
  .github/workflows/databend-release.yml
  docker/build-tool/musl/musl.sh
Labels: pr-not-for-changelog, need-review

#5332 fix(ci): docker build args
  .github/workflows/build-tool.yml
  docker/build-tool/dev/Dockerfile
  docker/build-tool/gnu/Dockerfile
  docker/build-tool/musl/Dockerfile
  scripts/setup/run_build_tool.sh
Labels: pr-not-for-changelog, need-review

#5333 fix(ci): docker build with multiple build args
  .github/actions/setup_build_tool/action.yml
  .github/workflows/build-tool.yml
  docker/build-tool/musl/musl.sh
Labels: need-review

#5334 fix(ci): add arg for dev & build context for musl
  .github/workflows/build-tool.yml
  docker/build-tool/musl/Dockerfile
Labels: need-review

#5335 fix(ci): musl build image
  docker/build-tool/musl/Dockerfile
  docker/build-tool/musl/musl.sh
Labels: pr-not-for-changelog, need-review

#5336 fix(ci): image tag typo & change build context
  .github/workflows/build-tool.yml
  docker/build-tool/base/Dockerfile
  docker/build-tool/dev/Dockerfile
Labels: pr-not-for-changelog, need-review

#5337 fix(ci): clean release workflow & fix cargo config
  .github/workflows/databend-release.yml
  docker/build-tool/base/Dockerfile
  docker/build-tool/gnu/Dockerfile
Labels: pr-not-for-changelog, need-review

#5340 fix(ci): release build check rust flags
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5341 chore(doc): gnu -> musl
  docs/doc/10-deploy/00-local.md
  docs/doc/10-deploy/01-s3.md
  docs/doc/10-deploy/02-cos.md
  docs/doc/10-deploy/03-oss.md
  docs/doc/10-deploy/04-minio.md
  docs/doc/10-deploy/05-wasabi.md
  docs/doc/10-deploy/06-scw.md
  docs/doc/10-deploy/07-qingstore.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5322 chore(functions): make array get return null if out of bounds happens
  common/functions/src/scalars/semi_structureds/array_get.rs
  common/functions/tests/it/scalars/semi_structureds/get.rs
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.result
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.sql
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
Labels: pr-improvement, need-review

#5339 improvement(planner): Minor refactor of binder
  query/src/sessions/session_settings.rs
  query/src/sql/exec/mod.rs
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/scalar.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/mod.rs
  query/src/sql/planner/plans/aggregate.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-improvement, pr-improvement, need-review

#5348 chore(readme): add how to deploy azure blob stroage
  README.md
  docs/doc/00-guides/index.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5208 Feature: add metrics in metasrv
  Cargo.lock
  common/metrics/src/lib.rs
  common/metrics/src/recorder.rs
  metasrv/Cargo.toml
  metasrv/src/bin/metasrv.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/metrics/meta_metrics.rs
  metasrv/src/metrics/metric_service.rs
  metasrv/src/metrics/mod.rs
Labels: pr-feature, A-meta, need-review

#5352 fix(ci): copyobj on gnu
  .github/workflows/databend-release.yml
Labels: pr-not-for-changelog, need-review

#5324 RFC: Config Backward Compatibility
  docs/doc/60-contributing/03-rfcs/20220512-config-backward-compatibility.md
Labels: pr-feature, need-review

#5354 chore(doc): remove root from query toml
  docs/doc/10-deploy/08-azure.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5345 save one rpc to metasrv
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement-error.txt
  common/meta/api/src/schema_api_impl.rs
Labels: pr-improvement, need-review

#5338 improvement: avoid ub and delele unnecessary unsafe
  common/exception/src/exception_code.rs
  common/functions/src/aggregates/aggregate_function_state.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_final.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_params.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_partial.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_single_key.rs
  query/src/pipelines/new/processors/transforms/transform_aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator.rs
  query/src/pipelines/transforms/group_by/aggregator_params.rs
  query/src/pipelines/transforms/group_by/aggregator_state.rs
  query/src/pipelines/transforms/transform_aggregator_final.rs
  query/src/pipelines/transforms/transform_aggregator_partial.rs
  query/src/pipelines/transforms/transform_group_by_final.rs
Labels: pr-improvement, need-review

#5361 chore(doc): Add azblob config and title
  README.md
  docs/doc/50-manage/01-query/10-query-config.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5363 chore(doc): k8s deploy guide typos & wording
  docs/dev/policies/cla.md
  docs/doc/10-deploy/11-cluster-k8s-minio.md
Labels: pr-not-for-changelog, need-review

#5358 feat(planner): support map access expression
  common/ast/src/ast/expr.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/statement.txt
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/metadata.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5359 chore: use x.to_string() instead of format!("{}", x)
  common/base/src/base/runtime.rs
  common/datablocks/src/data_block_debug.rs
  common/datavalues/src/data_value.rs
  common/datavalues/src/types/serializations/number.rs
  common/datavalues/src/types/type_interval.rs
  common/datavalues/src/types/type_timestamp.rs
  common/exception/src/exception.rs
  common/exception/src/exception_into.rs
  common/exception/tests/it/exception.rs
  common/exception/tests/it/prelude.rs
  common/meta/api/src/schema_api_test_suite.rs
  common/meta/raft-store/src/log/raft_log.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/types/src/meta_storage_errors.rs
  common/meta/types/tests/it/match_seq.rs
  common/planners/src/plan_expression_monotonicity.rs
  metasrv/tests/it/tests/service.rs
  query/src/interpreters/interpreter_explain.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/interpreters/interpreter_table_describe.rs
  query/src/servers/mysql/writers/init_result_writer.rs
  query/src/servers/mysql/writers/query_result_writer.rs
  query/src/sql/parsers/parser_view.rs
  query/src/sql/statements/statement_show_databases.rs
  query/src/sql/statements/statement_show_functions.rs
  query/src/sql/statements/statement_show_tab_stat.rs
  query/src/sql/statements/statement_show_tables.rs
  query/src/storages/system/tracing_table.rs
  query/tests/it/interpreters/interpreter_setting.rs
  query/tests/it/interpreters/interpreter_use_database.rs
  query/tests/it/pipelines/new/processors/port_test.rs
  query/tests/it/pipelines/processors/pipeline_walker.rs
  query/tests/it/pipelines/transforms/transform_expression.rs
  query/tests/it/sql/expr_parser.rs
  query/tests/it/sql/plan_parser.rs
Labels: pr-improvement

#5362 feature(planner): Support some scalar expressions in new planner
  query/src/sql/exec/expression_builder.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/plans/scalar.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/02_function/02_0012_function_datetimes_tz.sql
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-feature, pr-feature, need-review

#5365 fix(ci): get release target
  .github/workflows/databend-release.yml
Labels: need-review

#5349 chore(functions): fix get function unnecessary double column loop
  common/functions/src/scalars/semi_structureds/get.rs
  common/functions/src/scalars/semi_structureds/get_path.rs
  common/functions/src/scalars/semi_structureds/json_extract_path_text.rs
  common/functions/src/scalars/semi_structureds/mod.rs
  common/functions/src/scalars/semi_structureds/semi_structured.rs
  common/functions/tests/it/scalars/semi_structureds/get.rs
Labels: pr-improvement, need-review

#5364 bugfix(executor): Fix wrong result of memory table engine
  query/src/storages/memory/memory_table.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix, need-review

#5366 chore(doc): update readme
  README.md
  docs/doc/00-overview/index.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#5368 chore(doc): change the how to deploy for learn
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-not-for-changelog, need-review

#5369 feature(planner): Support context function in new planner
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: C-feature, pr-feature, need-review

#5371 chore(planner): Refine code structure
  query/src/sql/planner/binder/aggregate.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/limit.rs
  query/src/sql/planner/binder/mod.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/select.rs
  query/src/sql/planner/binder/sort.rs
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-not-for-changelog, need-review

#5279 feat(planner): support subquery table reference type for new planner
  query/src/sql/planner/binder/bind_context.rs
  query/src/sql/planner/binder/join.rs
  query/src/sql/planner/binder/project.rs
  query/src/sql/planner/binder/select.rs
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5377 chore(doc): better retention example
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-retention.md
Labels: pr-not-for-changelog, need-review

#5373 chore(parser): use datavalues::IntervalType instead of DateTimeField
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/tests/it/testdata/expr.txt
  common/datavalues/src/types/type_interval.rs
  common/proto-conv/src/data_from_to_protobuf_impl.rs
  common/protos/proto/datatype.proto
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-improvement, need-review

#5370 bugfix(parser): `t`.a should be a column ref
  common/ast/src/parser/expr.rs
  common/ast/src/parser/token.rs
  common/ast/src/parser/util.rs
  common/ast/tests/it/parser.rs
  common/ast/tests/it/testdata/expr.txt
  common/ast/tests/it/testdata/query-error.txt
  common/ast/tests/it/testdata/query.txt
  common/ast/tests/it/testdata/statement-error.txt
  common/ast/tests/it/testdata/statement.txt
  common/ast/tests/it/token.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/09_fuse_engine/09_0007_func_fuse_truncate_purge.sql
  tests/suites/0_stateless/09_fuse_engine/09_0008_fuse_optimize_table.sql
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-bugfix, need-review

#5381 feat(function): Support connection_id function
  common/functions/src/scalars/contexts/connection_id.rs
  common/functions/src/scalars/contexts/context.rs
  common/functions/src/scalars/contexts/mod.rs
  common/functions/tests/it/scalars/udfs/connection_id.rs
  common/functions/tests/it/scalars/udfs/mod.rs
  docs/doc/30-reference/20-functions/90-context-functions/connection_id.md
  query/src/common/context_function.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sql/planner/semantic/type_check.rs
Labels: pr-feature, pr-doc-fix, need-review

#5383 fixes(format): fixes incorrect rows size for csv stream load
  query/src/formats/format_csv.rs
  query/src/servers/http/v1/multipart_format.rs
Labels: pr-bugfix, need-review

#5376 Feature: add more metrics in metasrv
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/metrics/meta_metrics.rs
  metasrv/src/metrics/mod.rs
  metasrv/src/store/meta_raft_store.rs
Labels: pr-feature, A-meta, need-review

#5302 feat(function): change retention return type from Variant to Array<T>
  common/datavalues/src/columns/array/mutable.rs
  common/functions/src/aggregates/aggregate_retention.rs
  tests/suites/0_stateless/02_function/02_0000_function_aggregate_retention.sql
Labels: pr-feature, need-review

#5384 chore(doc): add user retention analysis to learn
  README.md
  docs/doc/00-guides/index.md
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-retention.md
  docs/doc/90-learn/03-analyze-user-retention-with-databend.md
Labels: pr-doc-fix, need-review

#5385 doc add http handler auth
  docs/doc/21-load-data/00-local.md
  docs/doc/21-load-data/02-stage.md
Labels: pr-doc-fix, need-review

#5386 chore(doc): windows funnel
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-windowfunnel.md
Labels: pr-doc-fix, need-review

#5388 [meta] fix: query enables embedded meta only when meta.address is configured to be empty. Do not check endponit. Some user does not have endpoints in their old config
  query/src/catalogs/default/mutable_catalog.rs
Labels: pr-bugfix, need-review

#5390 chore(doc): add endpoints configuration to query
  docs/doc/50-manage/01-query/10-query-config.md
Labels: pr-not-for-changelog, need-review

#5391 chore(doc): refine the user retention and funnel
  README.md
  docs/doc/00-guides/index.md
  docs/doc/90-learn/00-analyze-github-repo-with-databend.md
  docs/doc/90-learn/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/90-learn/02-analyze-nginx-logs-with-databend-and-vector.md
  docs/doc/90-learn/03-analyze-user-retention-with-databend.md
  docs/doc/90-learn/04-analyze-funnel-with-databend.md
Labels: pr-not-for-changelog, need-review

#5392 chore(doc): add funnel image
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-windowfunnel.md
  docs/doc/90-learn/04-analyze-funnel-with-databend.md
Labels: pr-not-for-changelog, need-review

#5394 fixes(processor): fix server hang when processor panic
  common/exception/src/exception_code.rs
  query/src/pipelines/new/executor/executor_worker_context.rs
  query/src/table_functions/async_crash_me.rs
  query/src/table_functions/mod.rs
  query/src/table_functions/table_function_factory.rs
  tests/suites/0_stateless/20+_others/20_0003_async_crash_me_table.result
  tests/suites/0_stateless/20+_others/20_0003_async_crash_me_table.sql
Labels: pr-bugfix, need-review

#5396 fix(datatypes): fix datetime from negative micro timestamp bug
  common/datavalues/src/types/date_converter.rs
  common/datavalues/tests/it/types/date_ts_bound.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/macros.rs
  common/functions/src/scalars/expressions/cast_from_datetimes.rs
  query/src/sql/statements/statement_create_table.rs
  tests/suites/0_stateless/05_ddl/05_0000_ddl_create_tables.sql
  tests/suites/0_stateless/11_data_type/11_0001_data_type_date_time.result
  tests/suites/0_stateless/11_data_type/11_0001_data_type_date_time.sql
Labels: pr-bugfix, need-review

#5357 fix(function): map access support array and function
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/src/udfs/udf_expr_visitor.rs
  common/datavalues/src/columns/builder.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/semi_structureds/array_get.rs
  query/Cargo.toml
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.result
  tests/suites/0_stateless/02_function/02_0051_function_semi_structureds_get.sql
Labels: pr-improvement, need-review

#5389 feat(metasrv): add metrics to http service
  metasrv/src/api/http/v1/metrics.rs
  metasrv/src/api/http/v1/mod.rs
  metasrv/src/api/http_service.rs
  metasrv/tests/it/api/http/metrics.rs
  metasrv/tests/it/api/http/mod.rs
Labels: pr-feature, need-review

#5400 chore: delete redundancy code
  query/src/pipelines/new/pipeline_builder.rs
  query/src/pipelines/new/processors/transforms/aggregator/aggregator_params.rs
  query/src/sql/exec/mod.rs
Labels: pr-improvement, need-review

#5404 ci: MacOS's stateless standalone has been disabled
  .github/mergify.yml
Labels: pr-build, need-review

#5412 fixes(handler): fix clickhouse handler dead loop when error
  query/src/servers/clickhouse/interactive_worker_base.rs
Labels: pr-bugfix, need-review

#5411 Improvement: remove meta client from session manager
  query/benches/suites/mod.rs
  query/src/servers/http/clickhouse_handler.rs
  query/src/servers/http/middleware.rs
  query/src/servers/http/v1/http_query_handlers.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/http_query.rs
  query/src/servers/http/v1/query/http_query_context.rs
  query/src/servers/http/v1/stage.rs
  query/src/sessions/session.rs
  query/src/sessions/session_info.rs
  query/src/sessions/session_mgr.rs
  query/src/sessions/session_type.rs
  query/tests/it/interpreters/interpreter_factory_interceptor.rs
  query/tests/it/servers/http/http_query_handlers.rs
  query/tests/it/sessions/session.rs
  query/tests/it/sessions/session_context.rs
  query/tests/it/sessions/session_setting.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/tests/context.rs
Labels: pr-improvement, need-review

#5414 fix(parser): wrong error code.
  query/src/sql/statements/query/query_normalizer.rs
  query/tests/it/sql/plan_parser.rs
  tests/suites/0_stateless/00_dummy/00_0000_dummy_select_1.sql
Labels: pr-bugfix, need-review

#5417 fix(test): fix httphandler flaky test.
  query/tests/it/servers/http/http_query_handlers.rs
Labels: pr-not-for-changelog, need-review

#5409 refactor(query/config): Adapt RFC Config Backward Compatibility
  .github/actions/build_debug/action.yml
  Cargo.lock
  Cargo.toml
  common/configs/Cargo.toml
  common/configs/src/catalog.rs
  common/configs/src/log.rs
  common/configs/src/meta.rs
  common/configs/src/query.rs
  common/grpc/Cargo.toml
  common/grpc/src/client_conf.rs
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/grpc_client_conf.rs
  common/tracing/src/config.rs
  common/tracing/src/lib.rs
  query/Cargo.toml
  query/src/catalogs/default/mutable_catalog.rs
  query/src/clusters/cluster.rs
  query/src/config/inner.rs
  query/src/config/mod.rs
  query/src/config/outer_v0.rs
  query/src/storages/cache.rs
  query/src/users/user_api.rs
  query/tests/it/configs.rs
Labels: pr-improvement, need-review

#5424 fixes(insert): fix drop dispatcher when commit insert query
  query/src/interpreters/interpreter_insert.rs
Labels: pr-bugfix, need-review

#5429 fix(data type): update arrow2 to fix array nullable write
  Cargo.lock
  common/arrow/Cargo.toml
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.result
  tests/suites/0_stateless/03_dml/03_0023_insert_into_array.sql
Labels: pr-bugfix, need-review

#5419 feat(function): support date_add for new parser
  common/ast/src/ast/expr.rs
  common/ast/src/parser/expr.rs
  common/ast/src/parser/token.rs
  common/ast/tests/it/testdata/expr-error.txt
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/date_add.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/dates/to_interval_function.rs
  query/src/sql/planner/mod.rs
  query/src/sql/planner/semantic/type_check.rs
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_function/02_0012_function_datetimes.sql
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.result
  tests/suites/0_stateless/20+_others/20_0001_planner_v2.sql
Labels: pr-feature, need-review

#5432 chore(insert): add comment
  query/src/interpreters/interpreter_insert.rs
Labels: pr-not-for-changelog, need-review
