Repository databendlabs/databend, pull requests merged in 2022-09, with the labels that each got.

#7370 feat: add new interval kind quarter
  docs/doc/30-reference/20-functions/30-datetime-functions/dateadd.md
  docs/doc/30-reference/20-functions/30-datetime-functions/datesub.md
  docs/doc/30-reference/20-functions/30-datetime-functions/datetrunc.md
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/protos/proto/datatype.proto
  src/query/ast/src/parser/expr.rs
  src/query/datavalues/src/types/type_interval.rs
  src/query/functions/src/scalars/dates/date.rs
  src/query/functions/src/scalars/dates/interval_function.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
Labels: pr-feature

#7421 fix(expr): support serde for Scalar::Array
  src/query/expression/src/util.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
Labels: pr-bugfix

#7414 feat(planner): Fold simple count aggregation
  src/query/service/src/sql/executor/format.rs
  src/query/service/src/sql/executor/physical_plan_builder.rs
  src/query/service/src/sql/optimizer/cost/cost_model.rs
  src/query/service/src/sql/optimizer/format/mod.rs
  src/query/service/src/sql/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/optimizer/heuristic/mod.rs
  src/query/service/src/sql/optimizer/heuristic/prune_columns.rs
  src/query/service/src/sql/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/optimizer/property/mod.rs
  src/query/service/src/sql/optimizer/rule/factory.rs
  src/query/service/src/sql/optimizer/rule/mod.rs
  src/query/service/src/sql/optimizer/rule/rewrite/mod.rs
  src/query/service/src/sql/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/service/src/sql/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/service/src/sql/planner/format/display_rel_operator.rs
  src/query/service/src/sql/planner/metadata.rs
  src/query/service/src/sql/planner/mod.rs
  src/query/service/src/sql/planner/plans/aggregate.rs
  src/query/service/src/sql/planner/plans/dummy_table_scan.rs
  src/query/service/src/sql/planner/plans/eval_scalar.rs
  src/query/service/src/sql/planner/plans/filter.rs
  src/query/service/src/sql/planner/plans/limit.rs
  src/query/service/src/sql/planner/plans/logical_get.rs
  src/query/service/src/sql/planner/plans/logical_join.rs
  src/query/service/src/sql/planner/plans/mod.rs
  src/query/service/src/sql/planner/plans/operator.rs
  src/query/service/src/sql/planner/plans/project.rs
  src/query/service/src/sql/planner/plans/union_all.rs
  tests/logictest/suites/mode/standalone/explain/fold_count.test
Labels: pr-feature

#7410 feat(http_handler): the first request no longer wait for query to start
  src/query/functions/src/scalars/others/sleep.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#7398 fix(hive): fix table location not match partition location
  src/query/storages/hive/src/hive_catalog.rs
  src/query/storages/hive/src/hive_table.rs
Labels: pr-bugfix

#7412 feat(query): make aggregate function return null on empty set
  src/query/functions/src/aggregates/adaptors/aggregate_base_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/adaptors/mod.rs
  src/query/functions/src/aggregates/aggregate_combinator.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_function.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_function_state.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/aggregate_combinator.rs
  src/query/functions/tests/it/aggregates/aggregate_function.rs
  src/query/planners/tests/it/main.rs
  src/query/planners/tests/it/plan_aggregator.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/optimizers/mod.rs
  src/query/service/tests/it/optimizers/optimizer.rs
  src/query/service/tests/it/optimizers/optimizer_constant_folding.rs
  src/query/service/tests/it/optimizers/optimizer_expression_transform.rs
  src/query/service/tests/it/optimizers/optimizer_scatters.rs
  src/query/service/tests/it/optimizers/optimizer_statistics_exact.rs
  src/query/service/tests/it/optimizers/optimizer_top_n_push_down.rs
  src/query/service/tests/it/tests/context.rs
  tests/logictest/suites/base/02_function/02_0000_function_aggreate_on_empty
  tests/logictest/suites/base/03_dml/03_0002_select_aggregator_with_filter
  tests/logictest/suites/base/15_query/cte.test
  tests/logictest/suites/base/15_query/join.test
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
  tests/logictest/suites/duckdb/sql/aggregate/aggregates/test_aggr_string.test
  tests/logictest/suites/mode/cluster/04_0000_explain
  tests/logictest/suites/mode/cluster/exchange.test
Labels: pr-feature

#7435 chore: add how to enable the stderr log
  src/common/tracing/src/config.rs
Labels: pr-chore

#7436 feat(query): support using `DEFAULT` to fill default value in `INSERT` statement
  docs/doc/30-reference/30-sql/00-ddl/20-table/10-ddl-create-table.md
  docs/doc/30-reference/30-sql/10-dml/dml-insert.md
  src/query/datavalues/src/types/data_type.rs
  src/query/service/src/sql/planner/binder/insert.rs
  tests/logictest/suites/base/03_dml/03_0027_insert_default
  tests/logictest/suites/crdb/default
  tests/logictest/suites/duckdb/issues/general/test_1427.test
Labels: pr-feature

#7441 fix(query): fix insert format size
  src/query/service/src/sql/planner/binder/insert.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format_v2.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format_v2.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable_v2.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable_v2.sh
Labels: pr-bugfix

#7429 feat(meta-service): add metrics `last_seq`
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
Labels: C-improvement, pr-feature, A-meta

#7432 fix(query): fix block pruning panic
  src/query/service/src/evaluator/eval_node.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  tests/logictest/suites/base/03_dml/03_0005_select_filter
Labels: pr-bugfix

#7445 chore: insert colums more the the table shouldn't panic
  src/query/service/src/sql/planner/binder/insert.rs
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values
Labels: pr-chore

#7449 ci(meta-service): extend timeout for join-cluster; fix path for artifact uploading
  .github/actions/artifact_failure/action.yml
  src/meta/service/src/meta_service/raftmeta.rs
Labels: C-testing, C-improvement, pr-build, A-meta

#7446 docs: modify settings doc
  docs/doc/30-reference/30-sql/40-show/show-settings.md
  docs/doc/30-reference/30-sql/70-system-tables/system-settings.md
  src/common/io/src/format_settings.rs
Labels: pr-doc

#7426 docs: unify port, equal with query-config.md
  docker/databend-query-docker.toml
  docs/doc/50-manage/01-query/10-query-config.md
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  tests/logictest/config.py
  tests/shell_env.sh
Labels: pr-doc

#7418 feat: keep a hint of last snapshot location while committing new snapshot
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse-meta/src/meta/versions.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
Labels: pr-feature

#7419 feat(functions): add new aggregate function `ANY`.
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-any.md
  src/query/ast/src/parser/token.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/aggregate_function.rs
  tests/logictest/suites/base/02_function/02_0000_function_aggregate_min_max_any
  tests/logictest/suites/base/02_function/02_0000_function_aggregate_on_empty
Labels: pr-feature

#7420 docs: explain
  docs/doc/30-reference/30-sql/90-explain-cmds/explain.md
Labels: pr-doc

#7451 fix(cluster): performance degradation in cluster mode
  src/query/service/src/sql/executor/physical_plan_builder.rs
  src/query/service/src/sql/executor/physical_scalar.rs
  src/query/service/src/sql/planner/plans/aggregate.rs
  src/query/service/src/sql/planner/plans/hash_join.rs
  tests/logictest/suites/mode/cluster/exchange.test
Labels: pr-bugfix

#7454 docs: to_date and to_datetime
  docs/doc/30-reference/20-functions/30-datetime-functions/todate.md
  docs/doc/30-reference/20-functions/30-datetime-functions/todatetime.md
Labels: pr-doc

#7456 docs: show full tables
  docs/doc/30-reference/30-sql/40-show/_category_.json
  docs/doc/30-reference/30-sql/40-show/show-tables.md
  docs/doc/30-reference/30-sql/50-list/_category_.json
  docs/doc/30-reference/30-sql/60-kill/_category_.json
Labels: pr-doc

#7458 refactor: `PhysicalPlan`'s `build` method
  src/query/service/src/sql/executor/physical_plan_builder.rs
Labels: pr-chore, pr-refactor

#7465 chore(meta): update and lock deps: thiserror and openraft
  Cargo.lock
  src/binaries/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/grpc/Cargo.toml
  src/meta/api/Cargo.toml
  src/meta/grpc/Cargo.toml
  src/meta/proto-conv/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#7467 docs: sum only supports numeric expressions
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-sum.md
Labels: pr-doc

#7469 feat: return index size
  src/query/service/src/interpreters/interpreter_show_tables_status.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
  src/query/service/tests/it/interpreters/interpreter_show_tab_stat.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_snapshot_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/preludes/src/information_schema/tables_table.rs
  tests/logictest/suites/base/06_show/06_0008_show_table_status
  tests/logictest/suites/base/06_show/06_0012_show_table_status_v2
Labels: pr-feature

#7373 refactor: enable chunked reading of hive table
  src/query/storages/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/src/hive_partition_filler.rs
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/hive/src/hive_table_source.rs
  src/query/storages/hive/src/lib.rs
Labels: pr-refactor

#7472 docs: add doc for nullable data type
  docs/doc/30-reference/10-data-types/50-data-type-array-types.md
  docs/doc/30-reference/10-data-types/60-data-type-nullable-types.md
Labels: pr-doc

#7473 chore(meta-service-test): refactor MetaNode tests, nothing really changed
  src/meta/service/tests/it/meta_node/meta_node_all.rs
  src/meta/service/tests/it/meta_node/meta_node_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api.rs
  src/meta/service/tests/it/tests/meta_node.rs
  src/meta/service/tests/it/tests/mod.rs
Labels: pr-chore

#7474 chore(meta-service-test): move MetaNode tests to separate files
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/meta_node/meta_node_request_forwarding.rs
  src/meta/service/tests/it/meta_node/meta_node_seq_api.rs
  src/meta/service/tests/it/meta_node/mod.rs
Labels: pr-chore

#7475 chore: switch to upstream parquet2
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/index/src/bloom_filter.rs
Labels: pr-chore

#7448 chore(query): add FileSplitCow
  src/common/io/src/buffer/buffer_memory.rs
  src/common/io/src/buffer/buffer_read.rs
  src/common/io/src/buffer/buffer_reader.rs
  src/common/io/src/buffer/nested_checkpoint_reader.rs
  src/common/io/src/file_split.rs
  src/common/io/tests/it/buffer/buffer_read.rs
  src/query/formats/src/format.rs
  src/query/formats/src/format_csv.rs
  src/query/formats/src/format_diagnostic.rs
  src/query/formats/src/format_ndjson.rs
  src/query/formats/src/format_parquet.rs
  src/query/formats/src/format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/deserializer.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-chore

#7480 refactor(sessions): remove query context ref count
  src/common/base/src/base/thread.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/async_insert_queue.rs
  src/query/service/src/interpreters/interpreter_call.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_select_v2.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/storages/storage_table_read_wrap.rs
Labels: pr-refactor

#7479 refactor(meta-error): cleanup abuse of MetaError:
  src/common/exception/src/exception_code.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_raft_errors.rs
  src/meta/types/src/role_info.rs
Labels: pr-refactor

#7478 feat(hive): try to use the file size returned by list()
  src/query/storages/hive/src/hive_table.rs
Labels: pr-feature

#7481 chore(scripts): print logging to provide more detailed information.
  .github/actions/publish_binary/databend-release-readme.txt
  .github/actions/publish_binary/databend-scripts-for-release/start.sh
Labels: pr-chore

#7476 docs: add identifier
  docs/doc/30-reference/40-Identifier/_category_.json
  docs/doc/30-reference/40-Identifier/sql-identifiers.md
Labels: pr-doc

#7489 docs: fix typo err
  docs/doc/30-reference/40-Identifier/sql-identifiers.md
Labels: pr-doc

#7490 refactor(meta-service): cleanup MetaError
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/types/src/cluster.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
Labels: pr-refactor

#7485 feat(query): avoid full tokenizer in parsing insert statement
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/mod.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/utils.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/mod.rs
  tests/logictest/suites/base/01_system/01_0001_system_tables
  tests/logictest/suites/base/02_function/02_0057_function_nullif
  tests/logictest/suites/base/02_function/02_0058_function_ifnull
  tests/logictest/suites/base/02_function/02_0059_function_is_distinct_from
  tests/logictest/suites/base/03_dml/03_0024_select_window_function
  tests/logictest/suites/base/04_explain/04_0001_explain_pipeline
  tests/logictest/suites/base/05_ddl/05_0014_ddl_create_role
  tests/logictest/suites/base/09_fuse_engine/09_0001_remote_insert_v2
  tests/logictest/suites/base/09_fuse_engine/09_0004_remote_insert_into_select_v2
  tests/logictest/suites/base/09_fuse_engine/09_0005_remote_insert_into_select_v2
  tests/logictest/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
  tests/logictest/suites/base/09_fuse_engine/09_0009_remote_explain
  tests/logictest/suites/base/09_fuse_engine/09_0010_remote_insert_overwrite_v2
  tests/logictest/suites/base/09_fuse_engine/09_0018_min_max_index
  tests/logictest/suites/base/10_drivers/10_0003_federated_query
  tests/logictest/suites/base/15_query/render_result.test
  tests/logictest/suites/base/20+_others/20_0001_planner_v2
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
Labels: pr-feature

#7491 chore(meta): remove unused AppliedState::MetaSrvAddr
  src/meta/types/src/applied_state.rs
Labels: pr-chore

#7425 feat(query): migrate func to func-v2
  Cargo.lock
  src/query/expression/src/function.rs
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#7471 feat(docs): add releases button and download assets
  website/docusaurus.config.js
  website/package.json
  website/src/css/custom.scss
  website/src/pages/download/index.tsx
  website/src/pages/download/styles.module.scss
  website/src/pages/index.module.scss
  website/src/pages/index.tsx
  website/src/plugins/releaseVersion.jsx
  website/yarn.lock
Labels: pr-feature

#7492 fix(query): fix block pruning panic
  src/query/storages/fuse/src/pruning/range_pruner.rs
  src/query/storages/index/src/range_filter.rs
  tests/logictest/suites/base/03_dml/03_0005_select_filter
Labels: pr-bugfix

#7497 refactor(query): fix create as take database as catalog
  src/query/datablocks/src/kernels/data_block_filter.rs
  src/query/functions/src/scalars/conditionals/in_basic.rs
  src/query/functions/src/scalars/expressions/cast_with_type.rs
  src/query/service/src/sql/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
  src/query/storages/preludes/src/information_schema/tables_table.rs
  tests/logictest/suites/base/03_dml/03_0005_select_filter
  tests/logictest/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/logictest/suites/base/06_show/06_0004_show_tables
  tests/logictest/suites/base/15_query/functions/cast.test
  tests/logictest/suites/duckdb/issues/rigger/complex_division.test
Labels: pr-refactor

#7431 fix(planner): column reference is ambiguous in using
  src/query/service/src/lib.rs
  src/query/service/src/sql/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/optimizer/heuristic/subquery_rewriter.rs
  src/query/service/src/sql/planner/binder/aggregate.rs
  src/query/service/src/sql/planner/binder/bind_context.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
  src/query/service/src/sql/planner/binder/join.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/binder/project.rs
  src/query/service/src/sql/planner/binder/select.rs
  src/query/service/src/sql/planner/binder/table.rs
  src/query/service/src/sql/planner/mod.rs
  src/query/service/src/sql/planner/semantic/grouping_check.rs
  src/query/service/tests/it/evaluator.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  tests/logictest/suites/base/15_query/join.test
  tests/logictest/suites/crdb/join
Labels: pr-bugfix

#7503 refactor(meta): error handling for upsert-kv
  src/meta/types/src/applied_state.rs
  src/meta/types/src/change.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_result_error.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
Labels: pr-refactor

#7504 fix(query): type_checker return type support nullable
  src/query/service/src/sql/planner/semantic/type_check.rs
  tests/logictest/suites/base/02_function/02_0046_function_logic
Labels: pr-bugfix

#7506 refactor(meta-service): remove error MetaResultError
  src/meta/grpc/src/grpc_client.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_result_error.rs
Labels: pr-refactor

#7322 feat(query): improve select query order+limit performance under planner v2
  src/query/datablocks/src/kernels/data_block_take.rs
  src/query/service/src/sql/executor/physical_plan.rs
  src/query/service/src/sql/executor/physical_plan_builder.rs
  src/query/service/src/sql/executor/physical_plan_display.rs
  src/query/service/src/sql/executor/physical_plan_visitor.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.result
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
Labels: pr-feature

#7511 docs: add share docs
  docs/doc/30-reference/30-sql/00-ddl/10-database/ddl-create-database.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/01-create-share.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/02-drop-share.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/03-alter-share.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/04-desc-share.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/05-show-shares.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/06-grant-privilege.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/07-revoke-privilege.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/08-show-grants.md
  docs/doc/30-reference/30-sql/00-ddl/90-share/_category_.json
  docs/doc/30-reference/30-sql/00-ddl/90-share/index.md
Labels: pr-doc

#7505 chore(query): make default HashTableAllocator to JEAllocator in non-linux system
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/common/hashtable/src/hash_table.rs
  src/common/hashtable/src/lib.rs
Labels: pr-chore

#7513 fix(query): fix hashset capacity overflow
  src/query/functions/src/scalars/conditionals/in_basic.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  tests/logictest/suites/base/02_function/02_0045_conditional_function_in
  tests/logictest/suites/base/15_query/join.test
Labels: pr-bugfix

#7512 refactor(meta/error): improve error usage
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/tests/meta_node.rs
  src/meta/types/src/app_error.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_management_error.rs
  src/meta/types/src/meta_raft_errors.rs
Labels: pr-refactor

#7507 feat(planner): Implement join reordering
  src/query/service/src/sql/optimizer/cascades/explore_rules.rs
  src/query/service/src/sql/optimizer/cascades/mod.rs
  src/query/service/src/sql/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/optimizer/heuristic/mod.rs
  src/query/service/src/sql/optimizer/heuristic/prune_columns.rs
  src/query/service/src/sql/optimizer/heuristic/where_optimizer.rs
  src/query/service/src/sql/optimizer/pattern_extractor.rs
  src/query/service/src/sql/optimizer/property/builder.rs
  src/query/service/src/sql/optimizer/property/enforcer.rs
  src/query/service/src/sql/optimizer/property/mod.rs
  src/query/service/src/sql/optimizer/rule/factory.rs
  src/query/service/src/sql/optimizer/rule/mod.rs
  src/query/service/src/sql/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/service/src/sql/optimizer/rule/rule_implement_hash_join.rs
  src/query/service/src/sql/optimizer/rule/transform/mod.rs
  src/query/service/src/sql/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/service/src/sql/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/service/src/sql/optimizer/rule/transform/util.rs
  src/query/service/src/sql/optimizer/s_expr.rs
  src/query/service/src/sql/planner/binder/scalar_common.rs
  src/query/service/src/sql/planner/plans/logical_join.rs
  tests/logictest/suites/mode/standalone/explain/join_reorder/chain.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/star.test
Labels: pr-feature

#7500 feat(query): add file to LoadResponse
  docs/doc/21-load-data/00-local.md
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/multipart_format.rs
  src/query/service/src/servers/http/v1/parallel_format_source.rs
  src/query/service/src/servers/http/v1/sequential_format_source.rs
Labels: pr-feature

#7517 chore(meta/error): remove MetaStorageError::SerdeError
  src/meta/sled-store/src/sled_tree.rs
  src/meta/types/src/meta_storage_errors.rs
Labels: pr-chore

#7515 fix(processor): cancel task when pipeline is finished
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
Labels: pr-bugfix

#7521 docs: system functions
  docs/doc/30-reference/20-functions/111-system-functions/_category_.json
  docs/doc/30-reference/20-functions/111-system-functions/clustering_information.md
  docs/doc/30-reference/20-functions/111-system-functions/fuse_segment.md
  docs/doc/30-reference/20-functions/111-system-functions/fuse_snapshot.md
  docs/doc/30-reference/30-sql/20-query-syntax/dml-at.md
Labels: pr-doc

#7520 fix: fix ceil return type
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/tests/it/scalars/math.rs
  src/query/functions-v2/tests/it/scalars/testdata/math.txt
Labels: pr-bugfix

#7518 feat(query): support purge option in copy into table
  docs/doc/30-reference/30-sql/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-location.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/sql/planner/binder/copy.rs
  src/query/service/tests/it/interpreters/interpreter_user_stage.rs
  src/query/service/tests/it/storages/system/stages_table.rs
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/06_show/06_0011_show_stages
  tests/logictest/suites/mode/standalone/explain/explain.test
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage.result
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage.sh
Labels: pr-feature

#7519 feat(meta/error): add MetaBytesError
  Cargo.lock
  src/meta/api/Cargo.toml
  src/meta/api/src/kv_api_utils.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/grpc/src/grpc_client.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_bytes_error.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_storage_errors.rs
Labels: pr-feature

#7526 ci(proto): add compat test for CopyOptions::purge
  Cargo.lock
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/common.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
Labels: pr-build

#7529 feat(query): auto extend datetime time part
  src/common/io/src/buffer/buffer_read_datetime_ext.rs
  src/common/io/tests/it/buffer/buffer_read_datetime_ext.rs
  tests/logictest/suites/base/02_function/02_0012_function_datetimes
  tests/logictest/suites/base/11_data_type/11_0001_data_type_date_time
Labels: pr-feature

#7525 fix: change generated alias name for scalar expression to lowercase
  src/query/service/src/sql/planner/binder/project.rs
  src/query/service/tests/it/interpreters/interpreter_show_engines.rs
  src/query/service/tests/it/interpreters/interpreter_table_recluster.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  tests/logictest/suites/base/15_query/case_sensitivity/join.test
  tests/logictest/suites/mode/standalone/explain/fold_count.test
  tests/logictest/suites/mode/standalone/explain/limit.test
  tests/logictest/suites/mode/standalone/explain/prune_column.test
  tests/logictest/suites/mode/standalone/explain/subquery.test
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.result
Labels: pr-bugfix

#7530 refactor(query): replace recursion for fast-path insert with loop
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/mod.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.sh
Labels: pr-refactor

#7534 fix(query): add missing EOI
  src/query/ast/src/parser/token.rs
  src/query/service/src/sql/planner/mod.rs
Labels: pr-bugfix

#7536 docs: add blog
  website/blog/2022-09-08-find-peter.md
  website/static/img/blog/peters.png
  website/static/img/blog/spiderman.png
Labels: pr-doc

#7523 chore: enlarge SLEEP() limit to 300s
  src/query/functions/src/scalars/others/sleep.rs
Labels: pr-chore

#7537 docs: modify todatetime doc
  docs/doc/30-reference/20-functions/30-datetime-functions/todatetime.md
Labels: pr-doc

#7538 feat(meta-service): new RPC to echo client ip
  src/meta/grpc/src/grpc_action.rs
  src/meta/grpc/src/grpc_client.rs
  src/meta/grpc/src/message.rs
  src/meta/grpc/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_get_client_info.rs
  src/meta/service/tests/it/grpc/mod.rs
  src/meta/types/proto/meta.proto
Labels: pr-feature

#7544 refactor(meta): rename common-meta-grpc to common-meta-client
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/metabench/main.rs
  src/binaries/metactl/grpc.rs
  src/binaries/metactl/main.rs
  src/binaries/query/main.rs
  src/meta/README.md
  src/meta/client/Cargo.toml
  src/meta/client/build.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/client/tests/it/main.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/executor/action_handler.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_get_client_info.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_handshake.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/query/service/Cargo.toml
Labels: pr-refactor

#7545 feat(metrics-count): abstract active instance counting
  Cargo.lock
  src/common/metrics/Cargo.toml
  src/common/metrics/src/counter.rs
  src/common/metrics/src/lib.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/lib.rs
  src/meta/service/src/network.rs
  src/meta/service/src/raft_client.rs
  src/meta/types/proto/meta.proto
Labels: pr-feature

#7547 refactor: Always list from OpenDAL instead of meta
  src/meta/types/src/user_stage.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/procedures/systems/mod.rs
  src/query/service/src/procedures/systems/sync_stage.rs
  src/query/service/src/procedures/systems/system.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/storages/stage/stage_source.rs
  src/query/service/tests/it/interpreters/interpreter_list.rs
  src/query/service/tests/it/interpreters/mod.rs
  src/query/users/src/user_stage.rs
  tests/suites/1_stateful/01_load_v2/01_0003_sync_stage_file.result
  tests/suites/1_stateful/01_load_v2/01_0003_sync_stage_file.sh
Labels: pr-refactor

#7535 feat(storage): add clustering_history system table
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/interpreter_clustering_history.rs
  src/query/service/src/interpreters/interpreter_query_log.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/interpreters/interpreter_table_recluster.rs
  src/query/service/tests/it/storages/system/databases_table.rs
  src/query/service/tests/it/storages/system/tables_table.rs
  src/query/storages/preludes/src/system/clustering_history_table.rs
  src/query/storages/preludes/src/system/mod.rs
  tests/logictest/suites/base/01_system/01_0007_system_clustering_history
Labels: pr-feature

#7539 feat(query): add char/ord/soundex to function-v2
  src/query/expression/src/function.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/src/scalars/mod.rs
  src/query/functions-v2/src/scalars/soundex.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions/src/scalars/conditionals/in_basic.rs
  tests/logictest/suites/base/02_function/02_0045_conditional_function_in
Labels: pr-feature, pr-chore

#7551 refactor(query): reduce deserialization times of prewhere.
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/src/operations/read.rs
Labels: pr-refactor

#7554 refactor(meta-service): remove unused feature. update MIN_METACLI_SEMVER to 0.7.59
  src/meta/client/src/grpc_action.rs
  src/meta/service/src/executor/action_handler.rs
  src/meta/service/src/version.rs
Labels: pr-refactor

#7557 refactor(function): move soundex module
  src/query/functions-v2/src/scalars/mod.rs
  src/query/functions-v2/src/scalars/soundex.rs
  src/query/functions-v2/src/scalars/string.rs
Labels: pr-refactor

#7556 refactor(expr): codegen function registers
  Cargo.lock
  src/query/codegen/Cargo.toml
  src/query/codegen/src/bin/codegen.rs
  src/query/codegen/src/lib.rs
  src/query/codegen/src/writes/arithmetics_type.rs
  src/query/codegen/src/writes/arithmetics_type_v2.rs
  src/query/codegen/src/writes/mod.rs
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/function.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/register.rs
  src/query/expression/src/types/arithmetics_type.rs
Labels: pr-refactor

#7559 ci: do not release sqllogic docker image
  .github/workflows/build-sqllogic.yml
  .github/workflows/databend-release.yml
  tests/logictest/Dockerfile
Labels: pr-build

#7562 ci: add more dependencies for sqllogic test image
  tests/logictest/Dockerfile
Labels: pr-build

#7555 refactor(meta-service): remove redundant ActionHandler; move logic into MetaServiceImpl
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/lib.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/executor/action_handler.rs
  src/meta/service/src/executor/mod.rs
  src/meta/service/src/lib.rs
Labels: pr-refactor

#7563 ci: fix dockerfile for sqllogic test
  tests/logictest/Dockerfile
Labels: pr-build

#7553 refactor(query): extract number types
  Cargo.lock
  src/query/codegen/Cargo.toml
  src/query/codegen/src/writes/arithmetics_type_v2.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/column_from.rs
  src/query/expression/src/display.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/property.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/arithmetics_type.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/util.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/expression.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/parser.rs
  src/query/expression/tests/it/testdata/kernel-pass.txt
  src/query/expression/tests/it/testdata/run-pass.txt
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/lib.rs
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/arithmetic_modulo.rs
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/src/scalars/mod.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/tests/it/scalars/arithmetic.rs
  src/query/functions-v2/tests/it/scalars/control.rs
  src/query/functions-v2/tests/it/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/math.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions-v2/tests/it/scalars/testdata/boolean.txt
  src/query/functions-v2/tests/it/scalars/testdata/control.txt
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
  src/query/functions-v2/tests/it/scalars/testdata/math.txt
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-refactor

#7560 ci: run sqllogic test with docker image
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/workflows/databend-release.yml
Labels: pr-build

#7567 refactor: Old Planner Never See Again (Part 1)
  src/query/legacy-parser/src/parser/expr_parser.rs
  src/query/legacy-parser/src/parser/expression_parser.rs
  src/query/planners/src/lib.rs
  src/query/planners/src/plan_table_create.rs
  src/query/service/src/interpreters/interpreter_show_databases.rs
  src/query/service/src/interpreters/interpreter_show_functions.rs
  src/query/service/src/interpreters/interpreter_show_metrics.rs
  src/query/service/src/interpreters/interpreter_show_processlist.rs
  src/query/service/src/interpreters/interpreter_show_roles.rs
  src/query/service/src/interpreters/interpreter_show_settings.rs
  src/query/service/src/interpreters/interpreter_show_stages.rs
  src/query/service/src/interpreters/interpreter_show_tables.rs
  src/query/service/src/interpreters/interpreter_show_tables_status.rs
  src/query/service/src/interpreters/interpreter_show_users.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sql/plan_parser.rs
  src/query/service/src/sql/sql_parser.rs
  src/query/service/tests/it/sql/expr_parser.rs
  src/query/service/tests/it/sql/mod.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_snapshot_table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/service/tests/it/storages/memory.rs
  src/query/service/tests/it/storages/null.rs
Labels: pr-refactor

#7568 ci: pin mysql-connector-python==8.0.28 for sqllogic test
  tests/logictest/Dockerfile
Labels: pr-build

#7566 fix(query): `scan_progress` should be incr before prewhere filter.
  src/query/storages/fuse/src/operations/read.rs
Labels: pr-bugfix

#7571 feat(query): add function v2 repeat
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature, pr-chore

#7575 feat(query): Fix set operation err format
  src/query/ast/src/ast/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
Labels: pr-feature

#7576 docs: replace download links
  website/src/pages/download/index.tsx
Labels: pr-doc

#7572 feat(expr): support variant type
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/display.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/testdata/kernel-pass.txt
  src/query/expression/tests/it/testdata/run-pass.txt
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/src/scalars/mod.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
  src/query/functions-v2/tests/it/scalars/variant.rs
Labels: pr-feature

#7577 feat: Upgrade OpenDAL to v0.16.0
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/base/Cargo.toml
  src/common/building/Cargo.toml
  src/common/contexts/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
  src/meta/api/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/embedded/Cargo.toml
  src/meta/proto-conv/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/Cargo.toml
  src/query/storages/preludes/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/streams/Cargo.toml
Labels: pr-feature

#7589 feat(query): fed /*! SET xx */
  src/query/service/src/servers/mysql/mysql_federated.rs
  tests/logictest/suites/base/10_drivers/10_0003_federated_query
Labels: pr-feature

#7574 refactor(expr): improve floats
  Cargo.lock
  src/query/codegen/src/writes/arithmetics_type_v2.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/column_from.rs
  src/query/expression/src/display.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/arithmetics_type.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/expression.rs
  src/query/expression/tests/it/testdata/run-pass.txt
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/arithmetic_modulo.rs
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions-v2/tests/it/scalars/testdata/math.txt
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-refactor

#7581 feat(query): eliminate the allocation
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#7590 fix(cluster): do not to kill the query when the query recv finished.
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/interpreters/interpreter_kill.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
Labels: pr-bugfix

#7583 chore(function): migrate left, right, substr and space to new expression framework
  docs/doc/30-reference/20-functions/40-string-functions/substring.md
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/service/src/sql/planner/semantic/type_check.rs
Labels: pr-chore

#7596 docs: clusterkey index page
  docs/doc/30-reference/30-sql/00-ddl/70-clusterkey/_category_.json
  docs/doc/30-reference/30-sql/00-ddl/70-clusterkey/index.md
Labels: pr-doc

#7527 feat(query): Support distributed insert select in new planner.
  src/query/catalog/src/table.rs
  src/query/pipeline/sinks/src/processors/sinks/context_sink.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/interpreters/plan_schedulers/mod.rs
  src/query/service/src/interpreters/plan_schedulers/plan_scheduler_query.rs
  src/query/service/src/sql/executor/format.rs
  src/query/service/src/sql/executor/physical_plan.rs
  src/query/service/src/sql/executor/physical_plan_display.rs
  src/query/service/src/sql/executor/physical_plan_visitor.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/sql/planner/binder/bind_context.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/storages/stage/stage_table.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/preludes/src/memory/memory_table.rs
  src/query/storages/preludes/src/null/null_table.rs
  src/query/storages/preludes/src/system/one_table.rs
  src/query/storages/preludes/src/system/table.rs
Labels: pr-feature

#7600 refactor: Make planner depends on TableContext trait
  src/query/catalog/src/table_context.rs
  src/query/service/src/api/http/v1/logs.rs
  src/query/service/src/interpreters/interpreter_table_describe.rs
  src/query/service/src/interpreters/interpreter_table_exists.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/src/optimizers/optimizer_statistics_exact.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sql/optimizer/heuristic/mod.rs
  src/query/service/src/sql/optimizer/mod.rs
  src/query/service/src/sql/planner/binder/copy.rs
  src/query/service/src/sql/planner/binder/ddl/account.rs
  src/query/service/src/sql/planner/binder/ddl/database.rs
  src/query/service/src/sql/planner/binder/ddl/share.rs
  src/query/service/src/sql/planner/binder/ddl/stage.rs
  src/query/service/src/sql/planner/binder/ddl/table.rs
  src/query/service/src/sql/planner/binder/ddl/view.rs
  src/query/service/src/sql/planner/binder/delete.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/binder/join.rs
  src/query/service/src/sql/planner/binder/mod.rs
  src/query/service/src/sql/planner/binder/scalar.rs
  src/query/service/src/sql/planner/binder/sort.rs
  src/query/service/src/sql/planner/binder/table.rs
  src/query/service/src/sql/planner/mod.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/service/src/sql/statements/statement_common.rs
  src/query/service/tests/it/sql/statements/statement_common.rs
Labels: pr-refactor

#7601 fix: Fix wrong tpch q15 sql
  tests/suites/0_stateless/13_tpch/13_0015_q15.result
  tests/suites/0_stateless/13_tpch/13_0015_q15.sql
Labels: pr-bugfix

#7605 feat(meta-service): Add grpc API kv_api for replacing read_msg and write_msg.
  src/meta/client/src/grpc_action.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
  src/meta/types/proto/meta.proto
Labels: pr-feature

#7610 ci: drop the pin mysql-connector-python==8.0.28 for sqllogic test
  tests/logictest/Dockerfile
Labels: pr-build

#7608 feat(test): support mysql-connector-python 8.0.30
  tests/logictest/mysql_runner.py
Labels: pr-feature

#7614 docs: add json blog
  website/blog/2022-09-14-json-datatype.md
  website/static/img/blog/json.png
Labels: pr-doc

#7623 docs: refactor share rfc, add select from db and show tables SQL
  docs/doc/60-contributing/03-rfcs/20220809-share.md
Labels: pr-doc

#7621 fix: Jaeger layer not filtered
  src/common/tracing/src/logging.rs
Labels: pr-bugfix

#7627 fix: Refresh tls certs to fix tls related tests
  tests/certs/tls/README.md
  tests/certs/tls/cfssl/ca/ca-key.pem
  tests/certs/tls/cfssl/ca/ca.csr
  tests/certs/tls/cfssl/ca/ca.pem
  tests/certs/tls/cfssl/ca/pkcs8-ca-key.pem
  tests/certs/tls/cfssl/client/client-identity.pfx
  tests/certs/tls/cfssl/client/client-key.pem
  tests/certs/tls/cfssl/client/client.csr
  tests/certs/tls/cfssl/client/client.pem
  tests/certs/tls/cfssl/client/pkcs8-client-key.pem
  tests/certs/tls/cfssl/server/pkcs8-server-key.pem
  tests/certs/tls/cfssl/server/server-key.pem
  tests/certs/tls/cfssl/server/server.csr
  tests/certs/tls/cfssl/server/server.pem
Labels: pr-bugfix

#7624 ci: find binary path in two places for meta-query compatability test
  tests/compat/test-compat.sh
Labels: pr-build

#7628 fix: Fix flaky test of fuse compat read
  .github/actions/fuse_compat/action.yml
  tests/poetry.lock
  tests/pyproject.toml
Labels: pr-bugfix

#7632 ci: List used python packages
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  tests/compat/test-compat.sh
  tests/fuse-compat/test-fuse-compat.sh
Labels: pr-build

#7629 feat: Bump OpenDAL to v0.17
  Cargo.lock
  src/common/contexts/Cargo.toml
  src/common/contexts/src/dal/dal_context.rs
  src/common/contexts/src/dal/dal_runtime.rs
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/tests/it/storages/fuse/io.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/Cargo.toml
  src/query/storages/preludes/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/streams/Cargo.toml
Labels: pr-feature

#7637 docs: Fix edit url link for blog
  website/docusaurus.config.js
Labels: pr-doc

#7617 feat(cluster): auto discover ip when ip is unspecified or loop back
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/workflows/dev-linux.yml
  Cargo.lock
  scripts/ci/ci-run-sqllogic-tests.sh
  src/meta/client/src/lib.rs
  src/meta/store/src/lib.rs
  src/query/management/Cargo.toml
  src/query/management/src/cluster/cluster_api.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/tests/it/clusters.rs
  tests/logictest/suites/base/20+_others/20_0009_auto_disvover_ip
Labels: pr-feature

#7633 refactor(meta-client): refine error usage
  Cargo.lock
  src/binaries/meta/main.rs
  src/meta/client/src/grpc_client.rs
  src/meta/embedded/src/meta_embedded.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_client_errors.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_handshake_errors.rs
  src/meta/types/src/meta_network_errors.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/clusters/cluster.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#7606 chore: add the switch of enable_cbo
  src/query/service/src/sql/planner/optimizer/cascades/mod.rs
  src/query/service/src/sql/planner/optimizer/mod.rs
  src/query/service/tests/it/storages/system/settings_table.rs
  src/query/settings/src/lib.rs
  tests/logictest/suites/base/06_show/06_0003_show_settings
Labels: pr-chore

#7638 feat(config): move [[idm.users]] to [[query.users]].
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/system/configs_table.rs
  src/query/service/tests/it/tests/config.rs
  src/query/service/tests/it/tests/sessions.rs
Labels: pr-feature

#7640 feat: add select from share db and show tables from share db SQL support
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-feature

#7647 refactor(meta-service): add RaftWriteError and RaftChangeMembershipError
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
  src/meta/service/tests/it/meta_node/meta_node_request_forwarding.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_raft_errors.rs
Labels: pr-refactor

#7595 feat(hive): delay start the worker for simple select hive query
  src/query/storages/hive/src/hive_table.rs
  src/query/storages/hive/src/hive_table_source.rs
Labels: pr-feature

#7651 chore(planner): Minor refactor of `PhysicalScalar`
  src/query/service/src/api/rpc/flight_scatter_hash_v2.rs
  src/query/service/src/evaluator/eval_context.rs
  src/query/service/src/evaluator/eval_node.rs
  src/query/service/src/evaluator/mod.rs
  src/query/service/src/evaluator/physical_scalar.rs
  src/query/service/src/evaluator/scalar.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/transform_expression_v2.rs
  src/query/service/src/pipelines/processors/transforms/transform_filter_v2.rs
  src/query/service/src/sql/executor/physical_plan_display.rs
  src/query/service/src/sql/executor/physical_scalar.rs
  src/query/service/src/sql/executor/pipeline_builder.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/service/tests/it/evaluator.rs
Labels: pr-chore

#7652 feat(query): Add etag to stage file
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/service/src/interpreters/interpreter_common.rs
Labels: pr-feature

#7653 fix: Update k8s images to latest tag
  scripts/kubernetes/meta-standalone.yaml
  scripts/kubernetes/query-cluster.yaml
Labels: pr-bugfix

#7522 feat(query): support jsonb format
  Cargo.lock
  docs/doc/30-reference/10-data-types/60-data-type-nullable-types.md
  src/common/jsonb/Cargo.toml
  src/common/jsonb/src/constants.rs
  src/common/jsonb/src/de.rs
  src/common/jsonb/src/error.rs
  src/common/jsonb/src/from.rs
  src/common/jsonb/src/jentry.rs
  src/common/jsonb/src/lib.rs
  src/common/jsonb/src/parser.rs
  src/common/jsonb/src/ser.rs
  src/common/jsonb/src/util.rs
  src/common/jsonb/src/value.rs
  src/common/jsonb/tests/it/decode.rs
  src/common/jsonb/tests/it/main.rs
  src/common/jsonb/tests/it/parser.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/display.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
  src/query/functions-v2/tests/it/scalars/variant.rs
Labels: pr-feature

#7646 refactor(query): push all filters to prewhere and prune columns for it.
  src/query/legacy-planners/src/plan_node_extras.rs
  src/query/service/src/sql/executor/physical_plan_builder.rs
  src/query/service/src/sql/planner/metadata.rs
  src/query/service/src/sql/planner/optimizer/heuristic/mod.rs
  src/query/service/src/sql/planner/optimizer/heuristic/prewhere_optimization.rs
  src/query/service/src/sql/planner/optimizer/heuristic/prune_columns.rs
  src/query/service/src/sql/planner/plans/logical_get.rs
  src/query/service/src/storages/storage_table_read_plan.rs
  src/query/storages/fuse/src/operations/read.rs
  tests/logictest/suites/mode/cluster/04_0002_explain_v2
  tests/logictest/suites/mode/standalone/explain/explain.test
  tests/logictest/suites/mode/standalone/explain/fold_count.test
  tests/logictest/suites/mode/standalone/explain/prewhere_optimizaiton.test
Labels: pr-feature, pr-refactor

#7667 docs: Polish docs for COPY
  docs/doc/01-guides/index.md
  docs/doc/21-load-data/04-http.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table-url.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#7662 fix: left join returns wrong answer
  src/query/service/src/sql/planner/binder/join.rs
  src/query/service/src/sql/planner/binder/scalar_common.rs
  src/query/service/src/sql/planner/optimizer/heuristic/decorrelate.rs
  src/query/service/src/sql/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  tests/logictest/suites/crdb/join
  tests/logictest/suites/mode/cluster/exchange.test
  tests/logictest/suites/mode/standalone/explain/limit.test
  tests/logictest/suites/mode/standalone/explain/select_limit_offset.test
Labels: pr-bugfix

#7669 chore: fix test in cluster mode
  tests/logictest/suites/mode/cluster/exchange.test
Labels: pr-chore

#7671 docs: minor fixes for copy into
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-location.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#7676 ci: Fix test_sqllogic_base_cluster_linux not checked by mergify
  .github/mergify.yml
Labels: pr-build

#7675 docs: update fuse_snapshot.md
  docs/doc/30-reference/20-functions/111-system-functions/fuse_snapshot.md
Labels: pr-doc

#7670 refactor(meta-service): clean up MetaError
  src/meta/api/src/kv_api_utils.rs
  src/meta/client/src/grpc_client.rs
  src/meta/raft-store/src/config.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/raft-store/tests/it/config.rs
  src/meta/service/src/configs/inner.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_forward_errors.rs
  src/meta/types/src/meta_network_errors.rs
  src/meta/types/src/meta_raft_errors.rs
  src/meta/types/src/meta_startup_errors.rs
  src/meta/types/src/rpc_errors.rs
Labels: pr-refactor

#7672 feat(hive): use const column to represent hive partition data
  src/query/storages/hive/src/hive_partition_filler.rs
Labels: pr-feature

#7679 fix(cluster): add statistics receiver runtime
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  tests/logictest/suites/base/03_dml/03_0028_copy_into_stage
Labels: pr-bugfix

#7680 ci: Add stateful tests for cluster
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/mergify.yml
  .github/workflows/dev-linux.yml
  scripts/ci/ci-run-stateful-tests-cluster-s3.sh
Labels: pr-build

#7681 ci: Fix Github Action can't use matrix in uses
  .github/workflows/dev-linux.yml
Labels: pr-build

#7678 refactor(meta): remove MetaError::Fatal.
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/testing.rs
  src/meta/api/src/util.rs
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
Labels: pr-refactor

#7645 refactor(query): improve in function
  Cargo.lock
  src/common/hashtable/Cargo.toml
  src/common/hashtable/src/hash_set.rs
  src/common/hashtable/src/hash_table_key.rs
  src/common/hashtable/src/keys_ref.rs
  src/common/hashtable/src/lib.rs
  src/query/datavalues/src/columns/builder.rs
  src/query/functions-v2/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions-v2/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/scalars/conditionals/in_basic.rs
  tests/logictest/suites/base/02_function/02_0000_function_aggregate_mix
  tests/logictest/suites/base/02_function/02_0045_conditional_function_in
Labels: pr-refactor

#7691 chore(test): fixes flake stateful test
  .github/workflows/dev-linux.yml
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.result
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
Labels: pr-chore

#7690 docs: Remove webfont to make page loading more smooth
  website/src/css/custom.scss
  website/src/css/fonts.scss
Labels: pr-doc

#7692 refactor: Print suite name before running
  tests/logictest/logictest.py
Labels: pr-refactor

#7685 refactor(meta): extract KVAppError from MetaError
  src/meta/api/src/kv_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/testing.rs
  src/meta/api/src/util.rs
  src/meta/app/src/share/share.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/message.rs
  src/meta/embedded/src/kv_api_impl.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/kv_app_errors.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/meta_errors.rs
  src/meta/types/src/meta_errors_into.rs
  src/meta/types/src/meta_storage_errors.rs
  src/query/management/tests/it/user.rs
Labels: pr-refactor

#7694 chore(query): move insert format deser from binder into interpreter
  src/query/pipeline/sources/src/processors/sources/mod.rs
  src/query/pipeline/sources/src/processors/sources/stream_source_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/sql/planner/binder/insert.rs
  src/query/service/src/sql/planner/plans/insert.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
Labels: pr-chore

#7687 chore(query): unify the accessor check
  Makefile
  src/query/service/src/interpreters/access/accessor.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/mod.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_factory_interceptor.rs
  src/query/service/src/interpreters/interpreter_factory_v2.rs
  src/query/service/tests/it/interpreters/access/management_mode_access.rs
Labels: pr-chore

#7686 fix(query): fix cast deterministic error
  src/query/service/src/sql/planner/plans/scalar.rs
  tests/logictest/suites/base/02_function/02_0002_function_cast
Labels: pr-bugfix

#7701 chore(query): log the access denied query to log file
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_factory_v2.rs
Labels: pr-chore

#7699 chore(query): make user setting depend on a lightweight UserSettingValue
  Cargo.lock
  src/meta/types/Cargo.toml
  src/meta/types/src/lib.rs
  src/meta/types/src/user_setting.rs
  src/meta/types/src/user_stage.rs
  src/query/management/tests/it/setting.rs
  src/query/service/src/context_function.rs
  src/query/service/src/interpreters/interpreter_query_log.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sql/planner/semantic/type_check.rs
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/storages/preludes/src/system/settings_table.rs
  tests/fuse-compat/compat-logictest/fuse_compat_write
Labels: pr-chore

#7709 ci: Add fuse_compat into mergify check list
  .github/mergify.yml
Labels: pr-build

#7710 chore(query): Update fuse_compat_write
  tests/fuse-compat/compat-logictest/fuse_compat_write
Labels: pr-chore
