Repository databendlabs/databend, pull requests merged in 2022-12, with the labels that each got.

#8973 refactor(mem-tracker): keep tracker state consistent
  Cargo.lock
  src/binaries/query/main.rs
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/runtime.rs
  src/common/base/src/base/runtime_tracker.rs
  src/common/base/src/base/thread.rs
  src/common/base/src/mem_allocator/je_allocator.rs
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/common/base/src/mem_allocator/system_allocator.rs
  src/common/base/tests/it/runtime_tracker.rs
Labels: pr-refactor

#9036 fix(query): show query with db not exists should return err
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/logictest/suites/base/06_show/06_0004_show_tables
  tests/logictest/suites/base/06_show/06_0004_show_tables_v2
  tests/logictest/suites/base/06_show/06_0005_show_functions_v2
  tests/logictest/suites/base/06_show/06_0007_show_roles
  tests/logictest/suites/base/06_show/06_0008_show_table_status
  tests/logictest/suites/base/06_show/06_0009_show_databases
  tests/logictest/suites/base/06_show/06_0012_show_table_status
  tests/logictest/suites/base/20+_others/20_0002_planner_v2_display_error
Labels: pr-bugfix

#9044 chore(query): move ignore result to empty sink
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_explain_v2.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/interpreters/interpreter_select_v2.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/procedures/systems/search_tables.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  tests/logictest/suites/mode/standalone/explain/explain_pipeline.test
Labels: pr-chore

#9009 feat(query): Support select * exclude [column_name | (col_name, col_name,...)]
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/table.rs
  tests/logictest/suites/base/03_dml/03_0034_select_exclude_list
Labels: pr-feature

#9050 feat(fuse): change max_storage_io_requests default value from 1000 to 64
  docs/doc/14-sql-commands/40-show/show-settings.md
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
Labels: pr-feature

#9053 feat(performance): try reduce aggregate_approx_count_distinct memory alloc when accumulate
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/storages/index/src/bloom.rs
  src/query/storages/index/src/filters/filter.rs
  src/query/storages/index/src/filters/xor8.rs
Labels: pr-feature

#9045 feat: support to config on tenant quota on config
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/service/tests/it/tests/sessions.rs
  src/query/storages/system/src/configs_table.rs
  src/query/users/src/user_api.rs
Labels: pr-feature

#9061 fix(clickhouse handler): add space between param and body when concat them
  src/query/service/src/servers/http/clickhouse_handler.rs
Labels: pr-bugfix

#9055 fix: try to fix table name case sensibility
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  tests/logictest/suites/query/case_sensitivity/query.test
Labels: pr-bugfix

#9046 fix: try to fix cte with duplicate name
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/table.rs
  tests/logictest/suites/query/cte.test
Labels: pr-bugfix

#9058 chore(mem-tracker): rename tracker related terms to reflect their actual usage
  src/binaries/query/main.rs
  src/common/base/src/base/mod.rs
  src/common/base/src/base/runtime.rs
  src/common/base/src/base/runtime_tracker.rs
  src/common/base/src/base/thread.rs
  src/common/base/src/mem_allocator/je_allocator.rs
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/common/base/src/mem_allocator/system_allocator.rs
  src/common/base/tests/it/runtime_tracker.rs
  src/common/storage/src/runtime_layer.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/sessions/session_info.rs
Labels: pr-chore

#9056 docs(blog): add this week in databend 70
  website/blog/2022-11-30-databend-weekly-70.md
Labels: pr-doc

#9067 refactor(expr): add Index generic for Chunk
  src/query/expression/src/chunk.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/utils/display.rs
  src/query/functions-v2/tests/it/aggregates/mod.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
Labels: pr-refactor

#9070 refactor: disable a special case of clickhouse handler
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
Labels: pr-refactor

#9068 fix: replace crate sysinfo with sys-info
  Cargo.lock
  src/query/formats/tests/it/main.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/expression_parser.rs
Labels: pr-bugfix

#9060 fix: update last_snapshot_hint file when purge
  src/query/service/tests/it/storages/fuse/mod.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/purge_drop.rs
  src/query/service/tests/it/storages/fuse/operations/purge_truncate.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/fuse/fuse/src/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/gc.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
Labels: pr-bugfix

#9074 fix: Add more tests for hive config loading
  src/meta/service/src/configs/inner.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/tests/it/configs.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/configs.rs
Labels: pr-bugfix

#9072 fix: right join flaky test failed under cluster mode
  src/query/datablocks/src/kernels/data_block_sort.rs
  tests/logictest/suites/query/join.test
Labels: pr-bugfix

#9078 fix(query): to_date respect tz
  src/common/io/src/buffer/buffer_read_datetime_ext.rs
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/query/expression/src/utils/date_helper.rs
  tests/logictest/suites/query/02_function/02_0002_function_cast
Labels: pr-bugfix

#9082 fix(query): vector_const like bug fix
  Cargo.lock
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/comparison.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/comparisons/comparison_like.rs
  tests/logictest/suites/query/02_function/02_0005_function_compare
Labels: pr-bugfix

#9085 chore(base): use thread panicking to replace panicking flag
  src/common/base/src/base/runtime_tracker.rs
Labels: pr-chore

#9086 fix: unit of max_memory_usage should be B (not kB)
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
Labels: pr-bugfix

#9088 feat(clickhouse handler): support user password in query parameters.
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/servers/http/middleware.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.sh
Labels: pr-feature

#9091 refactor(rest api): drop ctx after query finished.
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
Labels: pr-refactor

#9062 feat: Cache Policy
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/cache.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/tests/it/sessions/query_ctx.rs
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sql/Cargo.toml
  src/query/storages/cache/Cargo.toml
  src/query/storages/fuse/fuse-result/Cargo.toml
  src/query/storages/fuse/fuse/Cargo.toml
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/information-schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/system/Cargo.toml
Labels: pr-feature

#9093 chore(query): optimize mysql packet read
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
Labels: pr-chore

#9098 chore: Use code owner to replace auto assign
  .github/auto_assign.yml
Labels: pr-chore

#9095 docs: exclude parameter
  docs/doc/14-sql-commands/20-query-syntax/dml-select.md
Labels: pr-doc

#9099 chore(query): revert insert_values_enable_expression
  docs/doc/14-sql-commands/40-show/show-settings.md
  docs/doc/14-sql-commands/80-setting-cmds/show-settings.md
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values
Labels: pr-chore

#9064 feat(hive): support hive nullable partition
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/hive/hive/src/hive_block_filter.rs
  src/query/storages/hive/hive/src/hive_partition_filler.rs
  src/query/storages/hive/hive/src/hive_partition_pruner.rs
  src/query/storages/hive/hive/src/hive_table.rs
Labels: pr-feature

#9090 fix(query): fix state merge bug for aggregation
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions-v2/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
Labels: pr-bugfix

#8967 feat: alter table flashback
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_revert.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/revert_table.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  src/query/storages/fuse/fuse/src/operations/navigate.rs
  src/query/storages/fuse/fuse/src/operations/revert.rs
  tests/suites/0_stateless/16_flashback/16_0001_flashback.result
  tests/suites/0_stateless/16_flashback/16_0001_flashback.sh
Labels: pr-feature

#9066 feat: bump jemalloc
  .github/actions/build_linux/action.yml
  .github/workflows/dev-linux.yml
  Cargo.lock
  src/common/base/Cargo.toml
  src/query/storages/system/Cargo.toml
Labels: pr-feature

#9104 fix(cluster): try fix broken pipe or connect reset
  scripts/ci/ci-run-stateless-tests-cluster.sh
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_source.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
Labels: pr-bugfix

#9105 fix: fuse_snapshot with limits may return less items
  src/query/storages/fuse/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-bugfix

#9109 docs: flashback
  docs/doc/14-sql-commands/00-ddl/20-table/70-ddl-restore-table.md
Labels: pr-doc

#9113 chore(query): improve some trivial codes
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#9096 docs: EXPLAIN operators
  docs/doc/14-sql-commands/90-explain-cmds/explain.md
Labels: pr-doc

#9081 fix: fix right join bug, issue 9018
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  tests/logictest/suites/mode/cluster/issue_9018.test
Labels: pr-bugfix

#9126 docs(meta/service): export from a running service
  docs/doc/10-deploy/06-metasrv/30-metasrv-backup-restore.md
Labels: pr-doc

#9125 chore(query): insert SQL ignore mysql federated check
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-chore

#9134 docs: port 8081 to 8000
  docs/doc/10-deploy/07-query/10-query-config.md
  docs/doc/12-load-data/00-stage.md
  docs/doc/12-load-data/02-local.md
  docs/doc/13-sql-reference/70-system-tables/system-tracing.md
  docs/doc/21-use-cases/05-analyze-hits-dataset-with-databend.md
  docs/doc/90-contributing/03-rfcs/20220704-presign.md
Labels: pr-doc

#9119 fix: purge table statistic files
  docs/doc/14-sql-commands/00-ddl/20-table/60-optimize-table.md
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/purge_drop.rs
  src/query/service/tests/it/storages/fuse/operations/purge_truncate.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/fuse/fuse/src/io/snapshots.rs
  src/query/storages/fuse/fuse/src/operations/gc.rs
Labels: pr-bugfix

#9127 feat(expr): migrate storages/index
  Cargo.lock
  src/query/expression/src/chunk.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/group_by.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/type_check.rs
  src/query/storages/fuse/fuse/src/pruning/pruner.rs
  src/query/storages/fuse/fuse/src/pruning/range_pruner.rs
  src/query/storages/index/Cargo.toml
  src/query/storages/index/benches/build_from_block.rs
  src/query/storages/index/src/bloom.rs
  src/query/storages/index/src/filters/xor8.rs
  src/query/storages/index/src/lib.rs
  src/query/storages/index/src/range_filter.rs
  src/query/storages/index/tests/it/filters/bloom_filter.rs
  src/query/storages/index/tests/it/filters/xor8.rs
Labels: pr-feature

#9136 docs: fix streaming load api
  docs/doc/12-load-data/02-local.md
Labels: pr-doc

#9116 fix: prewhere_column empty and predicate is not const will return empty
  src/query/sql/src/planner/optimizer/heuristic/prewhere_optimization.rs
  tests/logictest/suites/base/03_dml/03_0005_select_filter
Labels: pr-bugfix

#9129 chore(query): improve concat kernel in new expression
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/arrow.rs
  src/query/expression/src/values.rs
Labels: pr-chore

#9133 feat(parser): add recognize `\r` as whitespace
  src/query/ast/src/parser/token.rs
Labels: pr-feature

#9128 fix: too many io requests for read blocks during compact
  src/query/storages/fuse/fuse/src/io/mod.rs
  src/query/storages/fuse/fuse/src/io/segments.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_transform.rs
Labels: pr-bugfix

#9145 fix: blog's avatar size
  website/src/css/custom.scss
Labels: pr-bugfix

#9148 feat: print memory limit and cluster info when query start
  src/binaries/query/main.rs
Labels: pr-feature

#9138 ci: try to release deb package
  .github/actions/publish_binary/nfpm.yaml
  .github/workflows/databend-release.yml
Labels: pr-build, pr-chore

#9160 fix(format): support ASCII control code hex as format field delimiter
  docs/doc/11-integrations/00-api/03-streaming-load.md
  src/query/formats/src/format_option_checker.rs
  src/query/formats/tests/it/output_format_tcsv.rs
Labels: pr-bugfix

#9143 feat: use `analyze table` instead of `optimize table statistic`
  docs/doc/14-sql-commands/00-ddl/20-table/60-optimize-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/80-analyze-table.md
  docs/doc/15-sql-functions/111-system-functions/fuse_statistic.md
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/storages/fuse/mod.rs
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/service/tests/it/storages/fuse/operations/mod.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/service/tests/it/storages/fuse/utils.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/analyze.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  tests/logictest/suites/base/09_fuse_engine/09_0020_analyze
Labels: pr-feature

#9140 docs(blog): add this week in Databend 71
  website/blog/2022-12-07-databend-weekly-71.md
Labels: pr-doc

#9167 docs(fix): fix the url to issue 9117
  website/blog/2022-12-07-databend-weekly-71.md
Labels: pr-doc

#9159 feat(storage): use distinct count calculated by the xor hash function
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/fuse/fuse-result/src/result_table_sink.rs
  src/query/storages/fuse/fuse-result/src/writer.rs
  src/query/storages/fuse/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/fuse/src/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse/fuse/src/statistics/block_statistics.rs
  src/query/storages/fuse/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/fuse/src/statistics/reducers.rs
  src/query/storages/index/src/bloom.rs
Labels: pr-feature

#9166 chore: add miri command
  Makefile
  scripts/setup/rust-toolchain.toml
Labels: pr-chore

#9147 fix: support SQL-style double-quoted identifier in get_path()
  src/common/jsonb/src/functions.rs
  src/common/jsonb/tests/it/functions.rs
Labels: pr-bugfix

#9168 refactor: remove column to_values function
  src/query/datavalues/src/columns/column.rs
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/pipeline/sinks/src/processors/sinks/subquery_receive_sink.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/index/benches/build_from_block.rs
  src/query/storages/index/tests/it/filters/xor8.rs
Labels: pr-refactor

#9171 feat(query): bump arrow2 crate
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/datablocks/src/serialize.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader.rs
  src/query/storages/table-meta/src/meta/common.rs
Labels: pr-feature

#9176 fix:compatible with mysqldump file load
  src/query/service/src/servers/mysql/mysql_federated.rs
Labels: pr-bugfix

#9182 fix(TSV): custom field_delimiter.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
Labels: pr-bugfix

#9183 fix: don't push down topk to `Merge` when it's child is `Aggregate`
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/optimizer/distributed/distributed.rs
  tests/logictest/suites/mode/cluster/04_0002_explain_v2
Labels: pr-bugfix

#9154 feat: `read_parquet` read meta before read data.
  Cargo.lock
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_column.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/meta.rs
  src/query/storages/parquet/src/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_reader/read.rs
  src/query/storages/parquet/src/parquet_source.rs
  src/query/storages/parquet/src/table_function/mod.rs
  src/query/storages/parquet/src/table_function/part.rs
  src/query/storages/parquet/src/table_function/read.rs
  src/query/storages/parquet/src/table_function/table.rs
Labels: pr-feature

#9186 docs: fix description about indexing
  docs/doc/00-overview/index.md
Labels: pr-doc

#9188 feat: custom csv record delimiter
  src/query/formats/src/format_option_checker.rs
  src/query/formats/src/lib.rs
  src/query/formats/tests/it/format_option_checker.rs
  src/query/formats/tests/it/main.rs
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_04_csv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_05_csv_0x01_field_0x02_record.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_05_csv_0x01_field_0x02_record.sh
  tests/suites/1_stateful/05_formats/05_02_csv/testdata/no_newline.csv
  tests/suites/1_stateful/05_formats/05_02_csv/testdata/x01_field_x02_record.csv
  tests/suites/1_stateful/05_formats/05_02_csv/x01_field_delimiter.csv
Labels: pr-feature

#9187 refactor: Simplify the global data registry logic
  Cargo.lock
  src/binaries/query/main.rs
  src/common/base/Cargo.toml
  src/common/base/src/base/global_runtime.rs
  src/common/base/src/base/mod.rs
  src/common/base/src/base/singleton_instance.rs
  src/common/storage/src/config.rs
  src/common/storage/src/operator.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/logging.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/catalog/manager.rs
  src/query/config/src/global.rs
  src/query/config/tests/it/global.rs
  src/query/config/tests/it/main.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/catalogs/catalog_manager.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/global_services.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/service/tests/it/tests/sessions.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/fuse/fuse-result/src/result_table.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/table-meta/src/caches/cache.rs
  src/query/users/src/role_cache_mgr.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#9185 fix(query): fix create table like view empty schema
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/logictest/suites/base/05_ddl/05_0019_ddl_create_view
Labels: pr-bugfix

#9189 chore(testing): wait a second to let cluster formation complete
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
Labels: pr-chore

#9190 refactor: move string func from base/io to base/string_func
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/string.rs
  src/common/base/tests/it/string_func.rs
  src/common/io/Cargo.toml
  src/common/io/src/lib.rs
  src/common/io/src/prelude.rs
  src/common/io/src/serialization.rs
  src/common/io/src/utils.rs
  src/common/io/tests/it/main.rs
  src/common/io/tests/it/utils.rs
  src/query/functions/src/scalars/others/humanize.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/sql/src/planner/binder/copy.rs
Labels: pr-chore, pr-refactor

#9192 fix(planner): fix left join with empty column
  src/query/datavalues/src/columns/nullable/mod.rs
  tests/logictest/suites/mode/cluster/broadcast_join.test
  tests/logictest/suites/query/join.test
Labels: pr-bugfix

#9198 refactor(parser): extract stage related rules.
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
Labels: pr-refactor

#9063 feat(streaming_load): Support file_format syntax in streaming load insert sql
  src/meta/types/src/user_stage.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/plans/insert.rs
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load.result
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load.sh
Labels: pr-feature

#9205 fix: truncate reset ts location
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
Labels: pr-bugfix

#9177 feat: add prototype open sharing and add sharing stateful tests
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  Cargo.lock
  Cargo.toml
  scripts/build/build-debug.sh
  scripts/build/build-release.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/ci/deploy/config/databend-query-node-shared.toml
  scripts/ci/deploy/databend-query-sharing.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/binaries/Cargo.toml
  src/binaries/README.md
  src/binaries/opensharing/main.rs
  src/query/config/src/lib.rs
  src/query/sharing-endpoint/Cargo.toml
  src/query/sharing-endpoint/README.md
  src/query/sharing-endpoint/protocol.md
  src/query/sharing-endpoint/src/accessor.rs
  src/query/sharing-endpoint/src/configs/inner.rs
  src/query/sharing-endpoint/src/configs/mod.rs
  src/query/sharing-endpoint/src/configs/outer_v0.rs
  src/query/sharing-endpoint/src/handlers.rs
  src/query/sharing-endpoint/src/lib.rs
  src/query/sharing-endpoint/src/middlewares.rs
  src/query/sharing-endpoint/src/models.rs
  src/query/sharing-endpoint/src/services.rs
  src/query/sharing-endpoint/tests/it/accessor.rs
  src/query/sharing-endpoint/tests/it/main.rs
  src/query/sharing-endpoint/tests/it/models.rs
  tests/shell_env.sh
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.sh
Labels: pr-feature

#9206 fix: double-quote in get_path
  src/common/jsonb/src/functions.rs
  src/common/jsonb/tests/it/functions.rs
Labels: pr-bugfix

#9139 feat: Split block by default rows
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_parquet.rs
Labels: pr-feature

#9209 feat: push down `filter` to `union`
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/logictest/suites/query/union.test
Labels: pr-feature

#9199 feat: push down filter to parquet reader.
  Cargo.lock
  Cargo.toml
  src/common/arrow/src/lib.rs
  src/common/arrow/src/schema_projection.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/filter.rs
  src/query/storages/parquet/src/parquet_reader/meta.rs
  src/query/storages/parquet/src/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_source.rs
  src/query/storages/parquet/src/table_function/read.rs
  src/query/storages/parquet/src/table_function/table.rs
Labels: pr-feature

#9108 fix: collect orphan snapshots
  Cargo.lock
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/mod.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/part_info.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/io/mod.rs
  src/query/storages/fuse/fuse/src/io/snapshots.rs
  src/query/storages/fuse/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/fuse/src/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/gc.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
  src/query/storages/fuse/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/hive/hive/src/hive_table.rs
Labels: pr-bugfix

#9210 feat: push down `limit` to `union`
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_union.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/logictest/suites/mode/standalone/explain/union.test
  tests/logictest/suites/query/union.test
Labels: pr-feature

#9152 feat: Multiple catalogs/show databases
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/storages/system/src/databases_table.rs
  tests/logictest/suites/base/05_ddl/05_0003_ddl_alter_database
  tests/logictest/suites/base/06_show/06_0000_show_databases
  tests/logictest/suites/query/02_function/02_0005_function_compare
  tests/logictest/suites/query/02_function/02_0047_function_string_regexp_like
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0001_clickhouse_http.result
Labels: pr-feature

#9208 docs: Update streaming load docs and tests
  docs/doc/11-integrations/00-api/03-streaming-load.md
  docs/doc/12-load-data/02-local.md
  docs/doc/21-use-cases/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/21-use-cases/05-analyze-hits-dataset-with-databend.md
  tests/suites/0_stateless/13_tpch/13_0000_prepare.sh
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load.result
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load.sh
  tests/suites/1_stateful/01_load_v2/01_0000_streaming_load_books.sh
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_parquet_int96.sh
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_variant_load.sh
  tests/suites/1_stateful/05_formats/05_00_load_unload_all.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.sh
  tests/suites/1_stateful/05_formats/05_01_load_unload_simple.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_01_csv_escape.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_02_csv_spaces.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_03_csv_datetime.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_04_csv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_05_csv_0x01_field_0x02_record.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_01_xml_v1.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_02_xml_v2.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_03_xml_v3.sh
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
  website/blog/2022-08-08-benchmark-tpc-h.md
Labels: pr-doc

#9219 feat: Add quote to FileFormatOptions
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/format_option_checker.rs
  src/query/formats/src/output_format/csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/table.rs
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/06_show/06_0011_show_stages
Labels: pr-feature

#9221 ci: github hosted runner for hive release
  .github/workflows/databend-release.yml
  .github/workflows/production.yml
Labels: pr-build

#9214 feat(query): fast parse insert values
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/src/cursor_ext/cursor_read_string_ext.rs
  src/common/io/tests/it/cursor_ext/fast_read_text_ext.rs
  src/common/io/tests/it/cursor_ext/mod.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/mod.rs
  src/query/formats/src/field_decoder/row_based.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_insert_v2.rs
Labels: pr-feature

#9217 fix: fix ConstColumn(String) cast to StringColumn bug
  src/query/datavalues/src/columns/column.rs
  src/query/datavalues/src/columns/const_/mod.rs
  src/query/functions/src/scalars/comparisons/comparison.rs
Labels: pr-bugfix

#9220 fix(planner): fix nullable column validity not equal
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  tests/logictest/suites/mode/cluster/broadcast_join.test
  tests/logictest/suites/query/join.test
Labels: pr-bugfix

#9223 chore: modify the remaining tests
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_variant_load.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_01_xml_v1.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_02_xml_v2.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_03_xml_v3.sh
Labels: pr-chore

#9227 refactor(meta): remove back compatability supporting code
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/tests/it/grpc_server.rs
Labels: pr-refactor

#9225 feat: Bump opendal to fix aws IMDSv2 credential
  .github/actions/test_unit/action.yml
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/tests/sessions.rs
  src/query/settings/src/lib.rs
Labels: pr-feature

#9241 ci: add release mode normal/hive
  .github/actions/publish_binary/action.yml
  .github/workflows/databend-release.yml
Labels: pr-build

#9240 refactor(meta/watcher): just use Change as event type
  src/meta/api/src/schema_api_impl.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/tests/meta_node.rs
Labels: pr-refactor

#9239 docs: blog for indexing
  website/blog/2022-12-13-indexing.md
  website/static/img/blog/index-1.png
  website/static/img/blog/index-2.png
Labels: pr-doc

#9230 feat: add X-DATABEND-TENANT in sharing request
  Cargo.lock
  src/query/sharing/Cargo.toml
  src/query/sharing/src/signer.rs
Labels: pr-feature

#9246 refactor(meta/watcher): remove WatcherManager, adjust type names
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/watcher/mod.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/src/watcher/watcher_stream.rs
Labels: pr-refactor

#9233 chore: clean error and useless tests
  tests/logictest/suites/base/05_ddl/05_0003_ddl_alter_database
  tests/logictest/suites/base/05_ddl/05_0024_ddl_set_role
  tests/logictest/suites/base/06_show/06_0003_show_settings
  tests/logictest/suites/base/06_show/06_0007_show_roles
  tests/logictest/suites/base/06_show/06_0012_show_table_status
  tests/logictest/suites/base/09_fuse_engine/09_0001_remote_insert
  tests/logictest/suites/base/09_fuse_engine/09_0001_remote_insert_v2
  tests/logictest/suites/base/09_fuse_engine/09_0010_remote_insert_overwrite_v2
  tests/logictest/suites/base/09_fuse_engine/09_0019_issue_8831
  tests/logictest/suites/base/09_fuse_engine/09_0020_analyze
  tests/logictest/suites/base/20+_others/20_0008_where_optimization
Labels: pr-chore

#9248 docs(fix): try to fix img path
  website/blog/2022-12-13-indexing.md
Labels: pr-doc

#9242 fix: Address unit test hang on test_insert
  src/common/base/src/base/singleton_instance.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/catalogs_table.txt
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/service/tests/it/storages/testdata/configs_table_redact.txt
  src/query/service/tests/it/storages/testdata/databases_table.txt
  src/query/service/tests/it/storages/testdata/engines_table.txt
  src/query/service/tests/it/storages/testdata/roles_table.txt
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/service/tests/it/storages/testdata/users_table.txt
  src/query/service/tests/it/tests/sessions.rs
Labels: pr-bugfix

#9251 feat(query): insert/delete support display rows affected on mysql client
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/storages/fuse/fuse/src/operations/delete.rs
  src/query/storages/fuse/fuse/src/operations/mutation/mutation_sink.rs
Labels: pr-feature

#9253 fix: Address unit tests hang on multi partition
  src/common/base/src/base/singleton_instance.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/tests/sessions.rs
Labels: pr-bugfix

#9252 chore: fix open sharing upload on CI
  .github/actions/artifact_upload/action.yml
Labels: pr-chore

#9244 chore(executor): add query id in slow log
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/stream/table_read_block_stream.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
Labels: pr-chore

#9255 docs(copy): update format_options.
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#9256 fix(base): fix memory lost when mmap alloc panic
  src/common/base/src/mem_allocator/mmap_allocator.rs
Labels: pr-bugfix

#9258 docs(copy): fix typo.
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#9153 feat: implement show tables (from|in catalog.database)
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/system/src/tables_table.rs
  tests/logictest/README.md
  tests/logictest/suites/base/09_fuse_engine/09_0000_remote_create_table
  tests/logictest/suites/select_0
Labels: pr-feature

#9259 fix(base): suppression address sanitize when load config
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/query/config/src/lib.rs
  src/query/config/src/outer_v0.rs
Labels: pr-bugfix

#9254 docs(weekly): add this week in databend 72
  website/blog/2022-12-14-databend-weekly-72.md
Labels: pr-doc

#9250 fix: fix unknown database in query without relation to this database
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/table.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/revert.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  tests/logictest/suites/base/03_dml/03_0016_insert_into_values
Labels: pr-bugfix

#9265 fix(storage/s3): IMDS_v2 should be fallback after OIDC token
  Cargo.lock
Labels: pr-bugfix

#9249 feat(query): support attaching stage for insert values
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/meta/types/src/user_stage.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/plans/insert.rs
Labels: pr-feature

#9266 refactor: rm unused code.
  src/common/io/src/buffer/buffer_memory.rs
  src/common/io/src/buffer/buffer_read.rs
  src/common/io/src/buffer/buffer_read_datetime_ext.rs
  src/common/io/src/buffer/buffer_read_ext.rs
  src/common/io/src/buffer/buffer_read_number_ext.rs
  src/common/io/src/buffer/buffer_reader.rs
  src/common/io/src/buffer/checkpoint_read.rs
  src/common/io/src/buffer/mod.rs
  src/common/io/src/buffer/nested_checkpoint_reader.rs
  src/common/io/src/lib.rs
  src/common/io/src/options_deserializer.rs
  src/common/io/src/prelude.rs
  src/common/io/tests/it/buffer/buffer_read.rs
  src/common/io/tests/it/buffer/buffer_read_datetime_ext.rs
  src/common/io/tests/it/buffer/buffer_read_number_ext.rs
  src/common/io/tests/it/buffer/mod.rs
  src/common/io/tests/it/buffer/nested_checkpoint_reader.rs
  src/common/io/tests/it/main.rs
  src/common/io/tests/it/options_deserializer.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/functions/src/scalars/expressions/cast_from_string.rs
Labels: pr-refactor

#9269 fix(base): try fix SIGABRT when catch unwind
  src/binaries/query/main.rs
  src/common/base/src/lib.rs
  src/common/base/src/mem_allocator/global_allocator.rs
  src/common/base/src/mem_allocator/je_allocator.rs
  src/common/base/src/mem_allocator/mmap_allocator.rs
  src/common/base/src/mem_allocator/system_allocator.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/tracing/src/panic_hook.rs
  src/meta/client/src/grpc_client.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader.rs
Labels: pr-bugfix

#9273 fix(query): short empty eval in adaptor
  src/query/functions/src/scalars/function_adapter.rs
Labels: pr-bugfix

#9274 fix: fix bug of delete from table
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
Labels: pr-bugfix

#9271 chore(query): better default settings
  Cargo.lock
  src/common/storage/src/config.rs
  src/query/formats/tests/it/main.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/expression_parser.rs
Labels: pr-chore

#9276 fix(query): fix wrong current_role when drop the role
  src/query/service/src/interpreters/interpreter_role_drop.rs
  src/query/service/src/interpreters/interpreter_role_set.rs
  src/query/service/src/sessions/session.rs
  tests/logictest/suites/base/05_ddl/05_0015_ddl_drop_role
Labels: pr-bugfix

#9283 docs: fix typo.
  docs/doc/11-integrations/00-api/00-rest.md
Labels: pr-doc

#9291 fix(ci): try fix logic test failure
  tests/logictest/suites/base/05_ddl/05_0015_ddl_drop_role
Labels: pr-bugfix

#9288 feat(query): estimate insert value rows
  src/query/service/src/interpreters/interpreter_insert_v2.rs
Labels: pr-feature

#9278 feat(query): enable sse4.2 in x86-64 releaser
  .github/workflows/databend-release.yml
  src/binaries/query/main.rs
Labels: pr-feature

#9285 feat(http handler): enable result timeout by default.
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/service/tests/it/tests/config.rs
Labels: pr-feature

#9279 feat(query): add native format in fuse table
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/common/arrow/src/lib.rs
  src/query/datablocks/src/serialize.rs
  src/query/datavalues/src/columns/array/mod.rs
  src/query/datavalues/src/columns/boolean/mod.rs
  src/query/datavalues/src/columns/object/mod.rs
  src/query/datavalues/src/columns/primitive/primitive.rs
  src/query/datavalues/src/columns/string/mod.rs
  src/query/datavalues/src/columns/struct_/mod.rs
  src/query/expression/src/values.rs
  src/query/formats/src/output_format/parquet.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/fuse/fuse-result/src/result_table_sink.rs
  src/query/storages/fuse/fuse-result/src/writer.rs
  src/query/storages/fuse/fuse/src/fuse_part.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/fuse/src/lib.rs
  src/query/storages/fuse/fuse/src/operations/append.rs
  src/query/storages/fuse/fuse/src/operations/compact.rs
  src/query/storages/fuse/fuse/src/operations/fuse_native_source.rs
  src/query/storages/fuse/fuse/src/operations/fuse_parquet_source.rs
  src/query/storages/fuse/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/fuse/src/operations/fuse_source.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/fuse/src/operations/mutation/deletion/deletion_source.rs
  src/query/storages/fuse/fuse/src/operations/read_data.rs
  src/query/storages/fuse/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/fuse/src/operations/recluster.rs
  src/query/storages/fuse/fuse/src/statistics/accumulator.rs
  src/query/storages/hive/hive/src/hive_block_filter.rs
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
  src/query/storages/table-meta/src/meta/v0/segment.rs
  src/query/storages/table-meta/src/table/table_keys.rs
  tests/logictest/suites/base/09_fuse_engine/09_0001_remote_insert
  tests/logictest/suites/base/09_fuse_engine/09_0001_remote_insert_v2
  tests/logictest/suites/base/09_fuse_engine/09_0004_remote_insert_into_select_v2
  tests/logictest/suites/base/09_fuse_engine/09_0005_remote_insert_into_select_v2
  tests/logictest/suites/base/09_fuse_engine/09_0010_remote_insert_overwrite_v2
Labels: pr-feature

#9286 fix(query): fix create view with nestd UnaryOp and BinaryOp expression
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/tests/it/sql/planner/semantic/name_resolution.rs
  tests/logictest/suites/base/05_ddl/05_0019_ddl_create_view
  tests/logictest/suites/base/06_show/06_0001_show_create_table
  tests/logictest/suites/mode/standalone/explain/explain.test
Labels: pr-bugfix

#9296 docs: blog about cpu and memory profiling
  website/blog/2022-12-19-rust-profiling.md
  website/static/img/blog/databend-cpu-flamegraph.png
  website/static/img/blog/mem-profiling.png
Labels: pr-doc

#9297 ci: make tarball before upload failure artifact
  .github/actions/artifact_failure/action.yml
Labels: pr-build

#9280 fix(base): replace #[thread_local] to thread_local macro
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/base/src/runtime/thread.rs
  src/common/base/tests/it/runtime_tracker.rs
  src/common/storage/src/runtime_layer.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
Labels: pr-bugfix

#9299 refactor(parquet): move ParquetReader from mod.rs to reader.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_reader/read.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_source.rs
Labels: pr-refactor

#9300 chore: Use tagged opendal version instead
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#9302 feat: add README for new sqllogictest framework
  tests/sqllogictests/README.md
Labels: pr-feature

#9301 fix(base): use alloc error handler to handle hash map alloc error
  src/common/hashtable/src/container.rs
Labels: pr-bugfix

#9306 docs(conversion): add datatype conversion doc
  docs/doc/13-sql-reference/10-data-types/70-data-type-conversion.md
Labels: pr-doc

#9305 chore(common/base/range_map): move unit test to embedded mod
  src/common/base/src/rangemap/range_map.rs
  src/common/base/src/rangemap/range_map_key.rs
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/range_key_test.rs
  src/common/base/tests/it/range_map_test.rs
Labels: pr-chore

#9307 refactor(fuse): split BlockReader to block_reader_native.rs and block_reader_parquet.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader_native.rs
  src/query/storages/fuse/fuse/src/io/read/block_reader_parquet.rs
  src/query/storages/fuse/fuse/src/io/read/mod.rs
Labels: pr-refactor

#9309 feat(range-map): add keys(), values() and iter()
  src/common/base/src/rangemap/range_map.rs
  src/common/base/src/rangemap/range_map_key.rs
Labels: pr-feature

#9314 ci: Fix workflow for producation logictest
  .github/workflows/production.yml
Labels: pr-build

#9319 docs: add insert with stage attachment
  docs/doc/12-load-data/00-stage.md
  docs/doc/14-sql-commands/10-dml/dml-insert.md
Labels: pr-doc

#9322 feat: Allow load credential from env if allow insecure
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
Labels: pr-feature

#9311 fix(CSV): refine error message.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
Labels: pr-bugfix

#9321 feat(base): record peak memory usage and support log memory usage
  src/common/base/src/runtime/runtime.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/base/src/runtime/thread.rs
  src/common/base/tests/it/runtime_tracker.rs
Labels: pr-feature

#9323 refactor: unify apply_file_format_options for copy & insert
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/types/src/user_stage.rs
  src/query/formats/src/file_format_type.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/storages/stage/src/attachment.rs
Labels: pr-refactor

#9325 chore(query): default num_physical_cpus can't be zero
  src/query/settings/src/lib.rs
Labels: pr-chore

#9324 refactor(meta/watch): test watcher count
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/watcher/mod.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/src/watcher/watcher_stream.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
Labels: pr-refactor

#9315 docs: format type options
  docs/doc/11-integrations/00-api/03-streaming-load.md
  docs/doc/13-sql-reference/75-file-format-options.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-location.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#9327 fix(csv): fix align_flush with header only.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/source_aligner.rs
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_05_csv_header_only.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_05_csv_header_only.sh
Labels: pr-bugfix

#9318 feat: purge at given point
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
  tests/suites/0_stateless/16_flashback/16_0001_flashback.sh
  tests/suites/0_stateless/20+_others/20_0011_purge_before.result
  tests/suites/0_stateless/20+_others/20_0011_purge_before.sh
Labels: pr-feature

#9334 feat(meta/watch): remove stream when a watch client is dropped
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/watcher/mod.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/src/watcher/watcher_stream.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
Labels: pr-feature

#9337 feat: support complete for sqllogictest
  Cargo.lock
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/README.md
  tests/sqllogictests/src/arg.rs
  tests/sqllogictests/src/main.rs
Labels: pr-feature
