Repository databendlabs/databend, pull requests merged in 2022-01, with the labels that each got.

#3721 [tools] add a new tools directory to store utilities
  .gitignore
  Cargo.lock
  Cargo.toml
  query/Cargo.toml
  tools/benchmark/Cargo.toml
  tools/benchmark/src/main.rs
  tools/fuzz/.gitignore
  tools/fuzz/Cargo.toml
  tools/fuzz/README.md
  tools/fuzz/fuzz_targets/fuzz_parse_sql.rs
Labels: pr-build, pr-not-for-changelog, need-review

#3720 Refine udf
  query/src/sql/statements/analyzer_expr.rs
  query/src/users/user_api.rs
  query/src/users/user_udf.rs
Labels: pr-improvement, need-review

#3725 ISSUE-3444: Show Metric API server router in log
  query/src/bin/databend-query.rs
Labels: pr-improvement, need-review

#3722 [toolchain] nightly-2022-01-01
  .github/actions/build_debug/action.yml
  .github/actions/build_release/action.yml
  .github/actions/check/action.yml
  .github/actions/test_stateful_standalone/action.yml
  .github/actions/test_stateless_cluster/action.yml
  .github/actions/test_stateless_standalone/action.yml
  .github/actions/test_unit/action.yml
  .licenserc.yaml
  cli/src/cmds/packages/fetch.rs
  cli/src/cmds/packages/switch.rs
  cli/src/cmds/status.rs
  common/clickhouse-srv/src/types/block/mod.rs
  common/clickhouse-srv/src/types/decimal.rs
  common/clickhouse-srv/src/types/options.rs
  common/clickhouse-srv/src/types/query.rs
  common/clickhouse-srv/src/types/value.rs
  common/codegen/Cargo.toml
  common/datablocks/src/data_block.rs
  common/datavalues/src/arrays/boolean/mod.rs
  common/datavalues/src/arrays/list/mod.rs
  common/datavalues/src/arrays/null/mod.rs
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/string/mod.rs
  common/datavalues/src/arrays/struct/mod.rs
  common/datavalues/src/columns/data_column.rs
  common/datavalues/src/data_field.rs
  common/datavalues/src/data_hasher.rs
  common/datavalues/src/data_schema.rs
  common/datavalues/src/data_value_ops.rs
  common/exception/src/exception.rs
  common/functions/src/aggregates/aggregate_function_state.rs
  common/functions/src/udfs/udf_parser.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/grpc/Cargo.toml
  common/meta/types/src/seq_value.rs
  common/meta/types/src/table.rs
  common/planners/src/plan_expression_function.rs
  metasrv/src/meta_service/raftmeta.rs
  query/src/sql/planner/bind_context.rs
  query/src/sql/planner/binder.rs
  query/src/sql/sql_parser.rs
  query/src/storages/fuse/meta/snapshot.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/part_info.rs
  query/src/storages/fuse/table.rs
  query/tests/it/sql/parser/transformer.rs
  rust-toolchain
  rust-toolchain.toml
Labels: pr-not-for-changelog, need-review

#3727 [ci] feature: enqueue PR if it passes basic check and approved by 2; merge PRs one by one when all checks passed.
  .mergify.yml
Labels: pr-feature, need-review

#3728 Ignore flaky test again
  query/tests/it/servers/clickhouse.rs
Labels: pr-not-for-changelog, need-review

#3731 Rename common/codegen result_type.rs -> arithmetics_type.rs
  common/codegen/src/bin/codegen.rs
  common/codegen/src/writes/arithmetics_type.rs
  common/codegen/src/writes/mod.rs
Labels: pr-improvement, need-review

#3733 Fix benchmark hang
  tools/benchmark/src/main.rs
Labels: pr-bugfix, need-review

#3734 Mergeing pr 3666:Rename to common-ast package
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/expr/expr_visitor.rs
  common/ast/src/expr/mod.rs
  common/ast/src/lib.rs
  common/ast/src/parser/ast/ast_visitor.rs
  common/ast/src/parser/ast/expression.rs
  common/ast/src/parser/ast/mod.rs
  common/ast/src/parser/ast/query.rs
  common/ast/src/parser/ast/statement.rs
  common/ast/src/parser/mod.rs
  common/ast/src/parser/transformer/mod.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/tests/it/ast.rs
  common/ast/tests/it/main.rs
  common/ast/tests/it/transformer.rs
  common/functions/Cargo.toml
  common/functions/src/udfs/udf_parser.rs
  query/Cargo.toml
  query/src/sql/mod.rs
  query/src/sql/planner/bind_context.rs
  query/src/sql/planner/binder.rs
  query/src/sql/planner/expression_binder.rs
  query/src/sql/planner/mod.rs
  query/src/sql/statements/analyzer_expr.rs
  query/tests/it/sql/mod.rs
Labels: pr-not-for-changelog, need-review

#3735 [scripts] fix install toolchain
  scripts/setup/dev_setup.sh
Labels: pr-not-for-changelog, need-review

#3736 Move expr to common/ast/parser
  common/ast/src/lib.rs
  common/ast/src/parser/expr/expr_visitor.rs
  common/ast/src/parser/expr/mod.rs
  common/ast/src/parser/mod.rs
  common/functions/src/udfs/udf_parser.rs
  query/src/sql/statements/analyzer_expr.rs
Labels: pr-improvement, need-review

#3753 Refine the context functions
  query/src/api/rpc/flight_dispatcher.rs
  query/src/api/rpc/flight_service.rs
  query/src/interpreters/interpreter_describe_stage.rs
  query/src/interpreters/interpreter_grant_privilege.rs
  query/src/interpreters/interpreter_kill.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/interpreters/interpreter_revoke_privilege.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/interpreters/interpreter_stage_create.rs
  query/src/interpreters/interpreter_stage_drop.rs
  query/src/interpreters/interpreter_udf_alter.rs
  query/src/interpreters/interpreter_udf_create.rs
  query/src/interpreters/interpreter_udf_drop.rs
  query/src/interpreters/interpreter_udf_show.rs
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/interpreters/interpreter_user_drop.rs
  query/src/interpreters/plan_schedulers/plan_scheduler.rs
  query/src/optimizers/optimizer_scatters.rs
  query/src/pipelines/transforms/transform_create_sets.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/sessions.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/storages/fuse/operations/append.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/read_plan.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/fuse/table.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/system/processes_table.rs
  query/src/storages/system/users_table.rs
  query/tests/it/interpreters/interpreter_grant_privilege.rs
  query/tests/it/interpreters/interpreter_revoke_previlege.rs
  query/tests/it/interpreters/interpreter_stage_create.rs
  query/tests/it/interpreters/interpreter_stage_drop.rs
  query/tests/it/interpreters/interpreter_udf_alter.rs
  query/tests/it/interpreters/interpreter_udf_create.rs
  query/tests/it/interpreters/interpreter_udf_drop.rs
  query/tests/it/interpreters/interpreter_udf_show.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/tests/context.rs
Labels: pr-improvement, need-review

#3739 [tracing] add basic tokio-console support
  .github/actions/test_unit/action.yml
  Cargo.lock
  common/base/Cargo.toml
  common/tracing/Cargo.toml
  common/tracing/src/logging.rs
  metasrv/Cargo.toml
  query/Cargo.toml
  website/databend/docs/dev/development/images/meta-console.png
  website/databend/docs/dev/development/images/query-console.png
  website/databend/docs/dev/development/images/task-in-console.png
  website/databend/docs/dev/development/tracing.md
Labels: pr-feature, pr-doc-fix, need-review

#3760 ISSUE-3740: Add tenant to user management functions
  query/src/interpreters/interpreter_describe_stage.rs
  query/src/interpreters/interpreter_grant_privilege.rs
  query/src/interpreters/interpreter_revoke_privilege.rs
  query/src/interpreters/interpreter_show_grants.rs
  query/src/interpreters/interpreter_stage_create.rs
  query/src/interpreters/interpreter_stage_drop.rs
  query/src/interpreters/interpreter_udf_alter.rs
  query/src/interpreters/interpreter_udf_create.rs
  query/src/interpreters/interpreter_udf_drop.rs
  query/src/interpreters/interpreter_udf_show.rs
  query/src/interpreters/interpreter_user_alter.rs
  query/src/interpreters/interpreter_user_create.rs
  query/src/interpreters/interpreter_user_drop.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/context.rs
  query/src/sessions/sessions.rs
  query/src/storages/system/users_table.rs
  query/src/users/user_api.rs
  query/src/users/user_mgr.rs
  query/src/users/user_stage.rs
  query/src/users/user_udf.rs
  query/tests/it/interpreters/interpreter_grant_privilege.rs
  query/tests/it/interpreters/interpreter_revoke_previlege.rs
  query/tests/it/interpreters/interpreter_stage_create.rs
  query/tests/it/interpreters/interpreter_stage_drop.rs
  query/tests/it/interpreters/interpreter_udf_alter.rs
  query/tests/it/interpreters/interpreter_udf_create.rs
  query/tests/it/interpreters/interpreter_udf_drop.rs
  query/tests/it/interpreters/interpreter_udf_show.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/users/user_mgr.rs
  query/tests/it/users/user_stage.rs
  query/tests/it/users/user_udf.rs
Labels: pr-improvement, need-review

#3761 Fuse metadata cache
  Cargo.lock
  common/cache/Cargo.toml
  common/cache/src/basic/mod.rs
  common/cache/src/cache.rs
  common/cache/src/cache/lru.rs
  common/cache/src/disk_cache.rs
  common/cache/src/lib.rs
  common/cache/src/meter.rs
  common/cache/src/meter/bytes_meter.rs
  common/cache/src/meter/count_meter.rs
  common/cache/src/meter/file_meter.rs
  common/cache/src/meter/heap_meter.rs
  common/cache/tests/it/cache/lru.rs
  common/cache/tests/it/disk_cache.rs
  query/src/sessions/context.rs
  query/src/sessions/sessions.rs
  query/src/storages/cache.rs
  query/src/storages/fuse/cache/local_cache.rs
  query/src/storages/fuse/cache/mod.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/meta_reader.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/mod.rs
Labels: pr-improvement, need-review

#3757 ISSUE-3225: Make parquet reader works with only one stream reader
  common/streams/Cargo.toml
  common/streams/src/sources/source_factory.rs
  common/streams/src/sources/source_parquet.rs
  common/streams/tests/it/source.rs
  query/src/interpreters/interpreter_copy.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/read.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#3775 dal2: Add s3 support layout
  Cargo.lock
  common/dal2/Cargo.toml
  common/dal2/src/credential.rs
  common/dal2/src/lib.rs
  common/dal2/src/services/s3.rs
Labels: pr-feature

#3776 ISSUE-3740: Add proxy mode access check
  Makefile
  common/exception/src/exception.rs
  common/planners/src/plan_node.rs
  query/src/configs/config_query.rs
  query/src/interpreters/access/mod.rs
  query/src/interpreters/access/proxy_mode_access.rs
  query/src/interpreters/interpreter_interceptor.rs
  query/src/interpreters/mod.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/access/mod.rs
  query/tests/it/interpreters/access/proxy_mode_access.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-feature, need-review

#3779 remove useless series_debug & make mod series not pub
  Cargo.lock
  common/datablocks/src/data_block.rs
  common/datablocks/tests/it/kernels/data_block_filter.rs
  common/datavalues/Cargo.toml
  common/datavalues/src/lib.rs
  common/datavalues/src/series/mod.rs
  common/datavalues/src/series/series_debug.rs
  common/functions/src/aggregates/aggregate_function.rs
  common/functions/src/scalars/expressions/cast.rs
  common/functions/src/scalars/tuples/tuple.rs
  common/streams/src/sources/source_parquet.rs
  common/streams/tests/it/source.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/operations/operation_log.rs
  query/src/storages/system/columns_table.rs
  query/src/storages/system/metrics_table.rs
  query/src/storages/system/processes_table.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/statistics.rs
Labels: pr-improvement, need-review

#3783 Improve for expression monotonicity visitor
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/planners/src/plan_expression_monotonicity.rs
  common/planners/tests/it/plan_expression_monotonicity.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/storages/index/range_filter.rs
Labels: pr-improvement

#3789 [ci] startup metasrv with config file for stateless-cluster test
  metasrv/src/configs/config.rs
  scripts/deploy/config/databend-meta-node-1.toml
  scripts/deploy/config/databend-meta-node-2.toml
  scripts/deploy/config/databend-meta-node-3.toml
  scripts/deploy/databend-query-cluster-3-nodes.sh
Labels: need-review

#3784 [deps] try to bump most deps
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmds/clusters/create.rs
  cli/src/cmds/completions/completion.rs
  common/base/Cargo.toml
  common/clickhouse-srv/Cargo.toml
  common/containers/Cargo.toml
  common/dal/Cargo.toml
  common/dal/src/accessors/azure_blob/azure_blob_accessor.rs
  common/dal/src/accessors/azure_blob/azure_blob_input_stream.rs
  common/dal2/Cargo.toml
  common/datavalues/Cargo.toml
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  common/grpc/Cargo.toml
  common/io/Cargo.toml
  common/macros/Cargo.toml
  common/management/Cargo.toml
  common/meta/api/Cargo.toml
  common/meta/embedded/Cargo.toml
  common/meta/flight/Cargo.toml
  common/meta/grpc/Cargo.toml
  common/meta/raft-store/Cargo.toml
  common/meta/sled-store/Cargo.toml
  common/meta/types/Cargo.toml
  common/meta/types/src/config.rs
  common/metrics/Cargo.toml
  common/planners/Cargo.toml
  common/streams/Cargo.toml
  common/tracing/Cargo.toml
  metasrv/Cargo.toml
  query/Cargo.toml
  tools/benchmark/Cargo.toml
Labels: pr-build, pr-not-for-changelog, need-review

#3786 RFC new datatype
  common/functions/src/scalars/strings/bin.rs
  website/databend/docs/dev/rfcs/query/0006-new-datatype-system.md
Labels: pr-doc-fix, need-review

#3796 [metasrv] Remove unused common meta flight crate
  Cargo.lock
  Cargo.toml
  common/meta/flight/Cargo.toml
  common/meta/flight/build.rs
  common/meta/flight/proto/metaflight.proto
  common/meta/flight/src/flight_action.rs
  common/meta/flight/src/flight_client.rs
  common/meta/flight/src/flight_client_conf.rs
  common/meta/flight/src/impls/kv_api_impl.rs
  common/meta/flight/src/impls/meta_api_impl.rs
  common/meta/flight/src/impls/mod.rs
  common/meta/flight/src/lib.rs
  common/meta/flight/tests/it/flight_client.rs
  common/meta/flight/tests/it/flight_server.rs
  common/meta/flight/tests/it/main.rs
Labels: pr-improvement, need-review

#3710 Add priv check
  common/exception/src/exception.rs
  common/meta/types/src/user_grant.rs
  common/meta/types/src/user_identity.rs
  common/meta/types/src/user_info.rs
  common/meta/types/src/user_privilege.rs
  common/meta/types/tests/it/user_grant.rs
  query/src/functions/context_function.rs
  query/src/interpreters/interpreter_database_create.rs
  query/src/interpreters/interpreter_database_drop.rs
  query/src/interpreters/interpreter_insert.rs
  query/src/interpreters/interpreter_kill.rs
  query/src/interpreters/interpreter_table_create.rs
  query/src/interpreters/interpreter_table_drop.rs
  query/src/interpreters/interpreter_table_truncate.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/session.rs
  query/src/users/user_mgr.rs
  query/tests/it/functions/context_function.rs
  query/tests/it/interpreters/interpreter_interceptor.rs
  query/tests/it/tests/context.rs
  query/tests/it/users/user_mgr.rs
  tests/suites/0_stateless/02_0016_function_context.result
Labels: pr-feature, need-review

#3800 Add the proxy-mode stateless test
  .github/actions/test_proxy_mode/action.yml
  .github/workflows/developing.yml
  common/exception/src/exception.rs
  query/src/interpreters/access/proxy_mode_access.rs
  query/src/sql/sql_parser.rs
  query/tests/it/interpreters/interpreter_use_tenant.rs
  query/tests/it/sql/sql_parser.rs
  scripts/ci/ci-run-stateful-tests-cluster-ctl.sh
  scripts/ci/ci-run-stateful-tests-standalone-ctl.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/ci/ci-run-stateless-tests-proxy-mode.sh
  scripts/deploy/config/databend-query-proxy-mode.toml
  scripts/deploy/databend-query-proxy-mode.sh
  tests/suites/0_stateless/12_0001_insert_into_select.result
  tests/suites/0_stateless/12_0001_insert_into_select.sql
  tests/suites/0_stateless/12_0002_insert_into_select2.py
  tests/suites/0_stateless/12_0002_insert_into_select2.result
  tests/suites/0_stateless/12_0003_insert_into_values.result
  tests/suites/0_stateless/12_0003_insert_into_values.sql
  tests/suites/0_stateless/12_0004_remote_insert_overwrite.result
  tests/suites/0_stateless/12_0004_remote_insert_overwrite.sql
  tests/suites/0_stateless/12_0005_insert_overwrite.result
  tests/suites/0_stateless/12_0005_insert_overwrite.sql
  tests/suites/0_stateless/README.md
  tests/suites/1_stateful/12_0000_copy_s3.result
  tests/suites/1_stateful/12_0000_copy_s3.sql
  tests/suites/1_stateful/12_0001_streaming_load.result
  tests/suites/1_stateful/12_0001_streaming_load.sh
  tests/suites/1_stateful/ctl/q0.sql
  tests/suites/1_stateful/ctl/q0.sql.result
  tests/suites/1_stateful/ctl/q1.sql
  tests/suites/1_stateful/ctl/q1.sql.result
  tests/suites/1_stateful/ctl/q2.sql
  tests/suites/1_stateful/ctl/q2.sql.result
  tests/suites/1_stateful/ctl/q3.sql
  tests/suites/1_stateful/ctl/q3.sql.result
  tests/suites/1_stateful/ontime/create_table.sql
  tests/suites/2_proxymode/00_0001_proxy_mode.result
  tests/suites/2_proxymode/00_0001_proxy_mode.sql
Labels: pr-improvement, need-review

#3806 CI-3730: scripts/deploy -> scripts/ci/deploy
  Makefile
  scripts/ci/ci-run-performance-tests-standalone.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-proxy-mode.sh
  scripts/ci/ci-run-stateless-tests-standalone.sh
  scripts/ci/ci-run-tests-embedded-meta.sh
  scripts/ci/deploy/config/databend-meta-node-1.toml
  scripts/ci/deploy/config/databend-meta-node-2.toml
  scripts/ci/deploy/config/databend-meta-node-3.toml
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/ci/deploy/config/databend-query-proxy-mode.toml
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  scripts/ci/deploy/databend-query-proxy-mode.sh
  scripts/ci/deploy/databend-query-standalone-embedded-meta.sh
  scripts/ci/deploy/databend-query-standalone.sh
Labels: pr-build, need-review

#3809 CONTIMUE-3803: Fix user_quota column order
  query/src/interpreters/interpreter_query_log.rs
  query/tests/it/interpreters/interpreter_interceptor.rs
Labels: pr-improvement, need-review

#3798 ISSUE-3751: Refine cache
  common/metrics/src/lib.rs
  common/metrics/src/recorder.rs
  query/Cargo.toml
  query/src/configs/config_query.rs
  query/src/sessions/context.rs
  query/src/sessions/sessions.rs
  query/src/storages/cache.rs
  query/src/storages/fuse/cache/local_cache.rs
  query/src/storages/fuse/cache/metrics.rs
  query/src/storages/fuse/cache/mod.rs
  query/src/storages/fuse/io/block_reader.rs
  query/src/storages/fuse/io/meta_reader.rs
  query/src/storages/fuse/io/meta_readers.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/operations/mod.rs
  query/src/storages/fuse/operations/optimize.rs
  query/src/storages/fuse/operations/read.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/fuse/operations/truncate.rs
  query/src/storages/fuse/pruning/block_pruner.rs
  query/src/storages/fuse/pruning/mod.rs
  query/src/storages/fuse/table.rs
  query/src/storages/fuse/table_functions/fuse_history_table.rs
  query/src/storages/mod.rs
  query/src/table_functions/table_function_factory.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/interpreter_interceptor.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  query/tests/it/storages/system/configs_table.rs
  tests/suites/0_stateless/09_0007_func_fuse_truncate_purge.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#3804 refactor: simplify the grant verify logic
  common/meta/types/src/user_grant.rs
  common/meta/types/src/user_privilege.rs
  common/meta/types/tests/it/user_grant.rs
  query/src/interpreters/interpreter_common.rs
  query/src/interpreters/interpreter_grant_privilege.rs
  query/src/interpreters/interpreter_revoke_privilege.rs
Labels: pr-improvement, need-review

#3812 Remove dependabot
  .github/dependabot.yml
Labels: pr-build, need-review

#3813 [docs] add a tip for console bind
  website/databend/docs/dev/development/tracing.md
Labels: pr-doc-fix, need-review

#3815 Update RoadMap link in README.md
  README.md
Labels: pr-not-for-changelog, need-review

#3811 [deps] bump arrow2 to f07cc2c
  Cargo.lock
  common/arrow/Cargo.toml
  common/datavalues/src/arrays/ops/apply.rs
  common/datavalues/src/arrays/ops/arity.rs
  common/datavalues/src/arrays/primitive/mod.rs
  common/datavalues/src/arrays/primitive/mutable.rs
  common/datavalues/src/arrays/string/mutable.rs
  common/datavalues/src/arrays/string/transform.rs
  common/datavalues/src/arrays/trusted_len.rs
  common/datavalues/src/arrays/upstream_traits.rs
  common/datavalues/src/prelude.rs
  common/datavalues/src/types/data_type.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/strings/char_.rs
  common/functions/src/scalars/strings/export_set.rs
  common/functions/tests/it/aggregates/aggregate_combinator.rs
  common/functions/tests/it/aggregates/aggregate_function.rs
  query/src/table_functions/numbers_stream.rs
Labels: pr-improvement, pr-build, need-review

#3816 Format some codes
  common/datavalues/src/data_value_operator.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/arithmetics/binary_arithmetic.rs
  common/functions/src/scalars/arithmetics/unary_arithmetic.rs
  common/planners/src/plan_expression_common.rs
  common/planners/src/plan_expression_monotonicity.rs
  query/src/optimizers/optimizer_top_n_push_down.rs
  query/src/pipelines/transforms/transform_sort_partial.rs
Labels: pr-improvement, need-review

#3822 Add storage configs to `system.configs`
  query/src/storages/system/configs_table.rs
  query/tests/it/storages/system/configs_table.rs
Labels: pr-improvement, need-review

#3826 correct the url of databend logo
  README.md
Labels: pr-doc-fix, pr-not-for-changelog, need-review

#3821 dal2: Implement s3 basic operations
  Cargo.lock
  common/dal2/Cargo.toml
  common/dal2/src/ops/io.rs
  common/dal2/src/ops/mod.rs
  common/dal2/src/services/s3.rs
  common/dal2/tests/it/s3.rs
Labels: pr-feature

#3831 Refactor: split the apply_cmd function to sub functions, make code more clearly
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-improvement, need-review

#3835 Range filter support multi-column expression
  common/grpc/tests/it/grpc_token.rs
  common/management/src/cluster/cluster_api.rs
  common/management/src/cluster/cluster_mgr.rs
  common/management/src/cluster/mod.rs
  common/management/src/lib.rs
  common/management/src/stage/mod.rs
  common/management/src/stage/stage_api.rs
  common/management/src/stage/stage_mgr.rs
  common/management/src/udf/mod.rs
  common/management/src/udf/udf_api.rs
  common/management/src/udf/udf_mgr.rs
  common/management/src/user/mod.rs
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  common/management/tests/it/cluster.rs
  common/management/tests/it/stage.rs
  common/management/tests/it/udf.rs
  common/management/tests/it/user.rs
  common/meta/embedded/src/lib.rs
  common/meta/types/src/user_defined_function.rs
  common/meta/types/src/user_info.rs
  metasrv/src/executor/meta_handlers.rs
  query/src/catalogs/backends/mod.rs
  query/src/catalogs/impls/immutable_catalog.rs
  query/src/catalogs/impls/mod.rs
  query/src/catalogs/mod.rs
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/index/index_min_max.rs
  query/src/storages/index/index_sparse.rs
  query/src/storages/index/range_filter.rs
  query/src/users/user.rs
  query/tests/it/storages/index/index_min_max.rs
  query/tests/it/storages/index/index_sparse.rs
  query/tests/it/storages/index/range_filter.rs
  query/tests/it/tests/tls_constants.rs
Labels: pr-improvement

#3839 Fix typo
  common/datablocks/src/kernels/data_block_filter.rs
  query/src/interpreters/plan_schedulers/plan_scheduler.rs
Labels: pr-other, need-review

#3837 [metasrv] refine transaction impl
  common/meta/raft-store/src/state_machine/sm.rs
  common/meta/sled-store/src/sled_tree.rs
Labels: pr-improvement

#3830 ISSUE-3828 MySQL Driver Compalibility
  Cargo.lock
  query/Cargo.toml
  query/src/servers/mysql/mysql_interactive_worker.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_0000_dummy_select_py.py
Labels: pr-bugfix, need-review

#3843 Refactor: remove unused field in StateMachine struct
  common/meta/raft-store/src/state_machine/sm.rs
Labels: pr-improvement, need-review

#3842 dal2: Polish CallbackReader implement
  common/dal2/Cargo.toml
  common/dal2/src/lib.rs
  common/dal2/src/ops/io.rs
  common/dal2/src/tests/ops/io.rs
Labels: pr-improvement, need-review

#3846 Add test case for pr-3830
  .github/actions/test_proxy_mode/action.yml
  .github/actions/test_stateless_cluster/action.yml
  .github/actions/test_stateless_standalone/action.yml
  scripts/setup/dev_setup.sh
  tests/suites/0_stateless/11_0002_driver_show_tables.py
  tests/suites/0_stateless/11_0002_driver_show_tables.result
Labels: pr-build, need-review

#3851 ISSUE-3850: Range filter support more multi-column expression scenarios
  common/planners/src/lib.rs
  common/planners/src/plan_expression_function.rs
  common/planners/tests/it/plan_expression_monotonicity.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/index/range_filter.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_0000_dummy_select_py.py
Labels: pr-improvement

#3852 ISSUE-3848 Fix MySQL 8.0 JDBC Compatibility Err
  query/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-improvement, need-review

#3855 fix: Center the home page background image
  website/src/pages/index.module.scss
Labels: pr-improvement, need-review

#3856 [deps] bump clickhouse_driver
  Cargo.lock
  common/streams/Cargo.toml
  query/Cargo.toml
  tools/benchmark/Cargo.toml
Labels: pr-build, pr-not-for-changelog, need-review

#3860 ISSUE-3858: Move if_not_exists to user mgr api
  query/src/interpreters/interpreter_stage_create.rs
  query/src/interpreters/interpreter_udf_create.rs
  query/src/users/user_mgr.rs
  query/src/users/user_stage.rs
  query/src/users/user_udf.rs
  query/tests/it/interpreters/interpreter_stage_create.rs
  query/tests/it/users/user_stage.rs
  query/tests/it/users/user_udf.rs
Labels: pr-improvement, need-review

#3861 TEST-3859: Refine interpreter unit test
  query/tests/it/api/rpc/flight_actions.rs
  query/tests/it/api/rpc/flight_dispatcher.rs
  query/tests/it/api/rpc/flight_service.rs
  query/tests/it/interpreters/access/proxy_mode_access.rs
  query/tests/it/interpreters/interpreter_database_create.rs
  query/tests/it/interpreters/interpreter_database_drop.rs
  query/tests/it/interpreters/interpreter_describe_stage.rs
  query/tests/it/interpreters/interpreter_describe_table.rs
  query/tests/it/interpreters/interpreter_explain.rs
  query/tests/it/interpreters/interpreter_grant_privilege.rs
  query/tests/it/interpreters/interpreter_insert.rs
  query/tests/it/interpreters/interpreter_revoke_previlege.rs
  query/tests/it/interpreters/interpreter_select.rs
  query/tests/it/interpreters/interpreter_setting.rs
  query/tests/it/interpreters/interpreter_show_create_database.rs
  query/tests/it/interpreters/interpreter_show_create_table.rs
  query/tests/it/interpreters/interpreter_stage_drop.rs
  query/tests/it/interpreters/interpreter_table_create.rs
  query/tests/it/interpreters/interpreter_table_drop.rs
  query/tests/it/interpreters/interpreter_table_optimize.rs
  query/tests/it/interpreters/interpreter_table_truncate.rs
  query/tests/it/interpreters/interpreter_udf_alter.rs
  query/tests/it/interpreters/interpreter_udf_drop.rs
  query/tests/it/interpreters/interpreter_udf_show.rs
  query/tests/it/interpreters/interpreter_use_database.rs
  query/tests/it/interpreters/interpreter_use_tenant.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_create.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/optimizers/optimizer.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
  query/tests/it/optimizers/optimizer_scatters.rs
  query/tests/it/optimizers/optimizer_top_n_push_down.rs
  query/tests/it/pipelines/processors/pipeline_builder.rs
  query/tests/it/pipelines/processors/pipeline_display.rs
  query/tests/it/pipelines/processors/pipeline_walker.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/tests/mod.rs
  query/tests/it/tests/parse_query.rs
Labels: pr-build, need-review

#3853 [Build/CI] introduce databend Dev container
  .gitignore
  Makefile
  docker/build-tool/Dockerfile
  scripts/setup/run_docker.sh
  tests/databend-test
Labels: pr-build, pr-feature, need-review

#3872 Update new datavalues doc
  docs/dev/rfcs/query/0006-new-datatype-system.md
  docs/dev/rfcs/query/0006-new-datavalues-system.md
Labels: pr-doc-fix, need-review

#3818 ISSE-3754: Lower the memory usage of BlockStreamWriter
  query/src/servers/mysql/reject_connection.rs
  query/src/storages/fuse/constants.rs
  query/src/storages/fuse/io/block_stream_writer.rs
  query/src/storages/fuse/io/mod.rs
  query/src/storages/fuse/operations/append.rs
  query/tests/it/storages/fuse/io.rs
  query/tests/it/storages/fuse/pruning.rs
  query/tests/it/storages/fuse/statistics.rs
  query/tests/it/storages/fuse/table.rs
  query/tests/it/storages/fuse/table_functions/fuse_history_table.rs
  query/tests/it/storages/fuse/table_test_fixture.rs
  rustfmt.toml
Labels: pr-bugfix, pr-improvement, pr-not-for-changelog, need-review

#3873 ISSUE-3829: optimize table cause of meta data damage
  .github/actions/test_unit/action.yml
  common/dal/Cargo.toml
  common/dal/src/accessors/aws_s3/s3_input_stream.rs
  common/dal/tests/it/accessors/aws_s3.rs
  common/dal/tests/it/accessors/mod.rs
  tests/suites/0_stateless/09_0008_fuse_optimize_table.sql
Labels: pr-bugfix, pr-other, pr-not-for-changelog, need-review

#3876 [metasrv]fix: list_databases return all tenants' databases
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/embedded/tests/it/meta_api_impl.rs
  common/meta/raft-store/src/state_machine/database_lookup.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/database_lookup.rs
  common/meta/raft-store/tests/it/state_machine/meta_api_impl.rs
  common/meta/raft-store/tests/it/state_machine/mod.rs
  common/meta/sled-store/src/sled_tree.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api.rs
Labels: pr-bugfix, need-review

#3879 [metasrv] refactor: use external anyerror as an error wrapper of any other error
  Cargo.lock
  metasrv/Cargo.toml
  metasrv/src/any_error/any_error_impl.rs
  metasrv/src/any_error/mod.rs
  metasrv/src/errors.rs
  metasrv/src/lib.rs
  metasrv/tests/it/any_error.rs
  metasrv/tests/it/main.rs
Labels: pr-improvement, A-databend-meta, need-review

#3882 ci: Fix rust toolchain not fixed correctly
  .github/actions/build_debug/action.yml
  .github/actions/build_release/action.yml
  .github/actions/check/action.yml
  .github/actions/test_proxy_mode/action.yml
  .github/actions/test_stateful_standalone/action.yml
  .github/actions/test_stateless_cluster/action.yml
  .github/actions/test_stateless_standalone/action.yml
  .github/actions/test_unit/action.yml
Labels: pr-bugfix, need-review

#3884 Factor out unnecessary async move
  common/management/src/user/user_mgr.rs
Labels: pr-improvement, need-review

#3885 [deps] bumps sqlparser-rs version to c33837e
  Cargo.lock
  common/ast/Cargo.toml
  common/ast/src/parser/expr/expr_visitor.rs
  common/ast/src/parser/transformer/transform_sqlparser.rs
  common/ast/src/udfs/udf_transformer.rs
  common/ast/tests/it/udfs/udf_parser.rs
  common/ast/tests/it/udfs/udf_transformer.rs
  common/exception/Cargo.toml
  common/functions/Cargo.toml
  query/Cargo.toml
  query/src/sql/sql_parser.rs
  query/src/sql/statements/analyzer_expr.rs
  query/src/sql/statements/query/query_schema_joined_analyzer.rs
  query/src/sql/statements/statement_insert.rs
Labels: pr-not-for-changelog, need-review

#3867 ISSUE-3827: Rename proxy-mode to management-mode
  .github/actions/test_management_mode/action.yml
  .github/workflows/developing.yml
  common/exception/src/exception_code.rs
  query/src/configs/config_query.rs
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/access/mod.rs
  query/src/interpreters/interpreter_interceptor.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/interpreters/interpreter_use_tenant.rs
  query/src/sessions/context.rs
  query/src/sessions/context_shared.rs
  query/tests/it/configs.rs
  query/tests/it/interpreters/access/management_mode_access.rs
  query/tests/it/interpreters/access/mod.rs
  query/tests/it/interpreters/interpreter_use_tenant.rs
  query/tests/it/storages/system/configs_table.rs
  scripts/ci/ci-run-stateless-tests-management-mode.sh
  scripts/ci/ci-run-stateless-tests-proxy-mode.sh
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/databend-query-management-mode.sh
  tests/suites/2_management_mode/00_0001_management_mode.sql
  tests/suites/2_proxymode/00_0001_proxy_mode.result
Labels: pr-improvement

#3891 Add tests/suites/2_management_mode/00_0001_management_mode.result
  tests/suites/2_management_mode/00_0001_management_mode.result
Labels: pr-improvement, need-review

#3894 [metasrv] fix connection failed when metasrv restart that caused by token expired
  Cargo.lock
  common/meta/grpc/Cargo.toml
  common/meta/grpc/src/grpc_action.rs
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/tests/it/grpc_client.rs
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/tests/it/grpc/metasrv_grpc_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  metasrv/tests/it/grpc/metasrv_grpc_meta_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_tls.rs
  metasrv/tests/it/tests/service.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_0000_dummy_select_py.py
Labels: C-bug, pr-bugfix, A-databend-meta, need-review

#3904 [metasrv] Refine codes to avoid assigning every time
  common/meta/grpc/src/grpc_client.rs
Labels: pr-improvement, need-review

#3896 Use mysql-connector-python instead of deprecated mysql-connector
  scripts/setup/dev_setup.sh
Labels: pr-build, need-review

#3905 ci: Unittest don't need to wait for build
  .github/workflows/developing.yml
  .github/workflows/production.yml
Labels: pr-build, need-review

#3903 ISSUE-3898: Add `partitions_total` to Dal Context
  common/dal/src/context.rs
  query/src/interpreters/interpreter_query_log.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/system/query_log_table.rs
  query/tests/it/storages/system/query_log_table.rs
  tests/suites/0_stateless/01_0002_system_query_log.result
  tests/suites/0_stateless/01_0002_system_query_log.sql
Labels: pr-improvement, pr-not-for-changelog, need-review

#3902 Use peotry to manage all python packages
  .licenserc.yaml
  tests/poetry.lock
  tests/pyproject.toml
Labels: pr-feature, need-review

#3910 fix: Fix code that might be wrong.
  website/src/plugins/pxToVw.js
Labels: pr-bugfix, need-review

#3908 store password hash instead of plaintext.
  Cargo.lock
  common/management/tests/it/user.rs
  common/meta/types/Cargo.toml
  common/meta/types/src/lib.rs
  common/meta/types/src/user_auth.rs
  common/meta/types/tests/it/user_info.rs
  query/src/storages/system/users_table.rs
  query/tests/it/interpreters/interpreter_grant_privilege.rs
  query/tests/it/interpreters/interpreter_revoke_previlege.rs
  query/tests/it/interpreters/interpreter_user_alter.rs
  query/tests/it/interpreters/interpreter_user_drop.rs
  query/tests/it/storages/system/users_table.rs
  query/tests/it/tests/context.rs
  query/tests/it/users/user_mgr.rs
Labels: pr-not-for-changelog, need-review

#3920 [common/tracing] test: add span logging for metasrv
  .github/actions/test_unit/action.yml
  Makefile
  common/meta/raft-store/tests/it/testing.rs
  common/meta/sled-store/tests/it/testing/mod.rs
  common/tracing/src/lib.rs
  common/tracing/src/logging.rs
  metasrv/tests/it/tests/service.rs
  tests/databend-test
  tests/helpers/client.py
  tests/suites/0_stateless/00_0000_dummy_select_py.py
Labels: pr-improvement, pr-build, need-review

#3909 ISSUE-3906: Add partitions_scanned and partitions_total to planner statistics
  common/planners/src/plan_display_indent.rs
  common/planners/src/plan_statistics.rs
  common/planners/tests/it/plan_aggregator.rs
  common/planners/tests/it/plan_builder.rs
  common/planners/tests/it/plan_explain.rs
  common/planners/tests/it/plan_expression.rs
  common/planners/tests/it/plan_filter.rs
  common/planners/tests/it/plan_having.rs
  common/planners/tests/it/test.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/src/storages/fuse/operations/read_partitions.rs
  query/src/storages/memory/memory_table.rs
  query/src/storages/storage_table_read_plan.rs
  query/src/storages/system/one_table.rs
  query/src/table_functions/numbers_table.rs
  query/tests/it/interpreters/interpreter_explain.rs
  query/tests/it/optimizers/optimizer.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
  query/tests/it/optimizers/optimizer_scatters.rs
  query/tests/it/optimizers/optimizer_statistics_exact.rs
  query/tests/it/optimizers/optimizer_top_n_push_down.rs
  query/tests/it/pipelines/processors/pipeline_builder.rs
  query/tests/it/sql/plan_parser.rs
  query/tests/it/storages/memory.rs
  tests/databend-test
  tests/suites/0_stateless/02_0004_function_name_display.result
  tests/suites/0_stateless/02_0004_function_name_display_cluster.result
  tests/suites/0_stateless/03_0004_select_order_by.result
  tests/suites/0_stateless/03_0004_select_order_by_cluster.result
  tests/suites/0_stateless/03_0005_select_filter.result
  tests/suites/0_stateless/03_0005_select_filter_cluster.result
  tests/suites/0_stateless/04_0000_explain.result
  tests/suites/0_stateless/08_0000_optimizer.result
  tests/suites/0_stateless/08_0000_optimizer_cluster.result
  tests/suites/0_stateless/09_0009_remote_explain.result
  tests/suites/0_stateless/09_0009_remote_explain.sql
  tests/suites/0_stateless/09_0009_remote_explain_cluster.result
Labels: pr-improvement

#3921 Refine mysql hints on server startup
  query/src/bin/databend-query.rs
Labels: pr-improvement, pr-not-for-changelog, need-review

#3923 Support escape \t \n for field_delimitor & record_delimitor
  query/src/servers/http/v1/load.rs
Labels: pr-bugfix, need-review

#3927 Remove useless code for processor framework
  query/src/pipelines/new/processors/sinks/sync_sink.rs
  query/src/pipelines/new/processors/sources/async_source.rs
  query/src/pipelines/new/processors/sources/mod.rs
  query/src/pipelines/new/processors/sources/sync_source.rs
  query/src/pipelines/new/processors/sources/sync_source_receiver.rs
  query/src/pipelines/new/processors/sources/table_source.rs
  query/tests/it/pipelines/new/executor/executor_graph.rs
Labels: pr-not-for-changelog, need-review

#3928 [metasrv] refactor: remove unnecessary MetaNode.metrics_rx
  common/meta/raft-store/src/state_machine/sm.rs
  metasrv/src/meta_service/meta_leader.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/tests/it/store.rs
  tests/databend-test
Labels: pr-improvement, need-review

#3925 [metasrv] refactor: clean up meta-store test
  metasrv/tests/it/store.rs
  tests/databend-test
Labels: pr-improvement, need-review

#3887 Add bloom filter for single column equivalent expression
  Cargo.lock
  common/datavalues/Cargo.toml
  common/datavalues/src/data_hasher.rs
  common/datavalues/src/lib.rs
  common/datavalues/src/types/data_type.rs
  common/exception/src/exception_code.rs
  common/planners/src/lib.rs
  common/planners/src/plan_expression_literal.rs
  query/Cargo.toml
  query/src/storages/index/bloom_filter.rs
  query/src/storages/index/mod.rs
  query/tests/it/storages/index/bloom_filter.rs
  query/tests/it/storages/index/mod.rs
Labels: pr-feature, need-review

#3936 Make some udf functions to work with datavalues2
  common/datavalues2/src/columns/array/mod.rs
  common/datavalues2/src/columns/boolean/mod.rs
  common/datavalues2/src/columns/column.rs
  common/datavalues2/src/columns/const_/mod.rs
  common/datavalues2/src/columns/null/mod.rs
  common/datavalues2/src/columns/nullable/mod.rs
  common/datavalues2/src/columns/primitive/mod.rs
  common/datavalues2/src/columns/string/mod.rs
  common/datavalues2/src/columns/struct_/mod.rs
  common/datavalues2/src/data_value.rs
  common/datavalues2/src/types/data_type.rs
  common/datavalues2/src/types/mod.rs
  common/datavalues2/src/types/serializations/array.rs
  common/datavalues2/src/types/serializations/struct_.rs
  common/datavalues2/src/types/type_array.rs
  common/datavalues2/src/types/type_boolean.rs
  common/datavalues2/src/types/type_coercion.rs
  common/datavalues2/src/types/type_date16.rs
  common/datavalues2/src/types/type_date32.rs
  common/datavalues2/src/types/type_datetime32.rs
  common/datavalues2/src/types/type_datetime64.rs
  common/datavalues2/src/types/type_factory.rs
  common/datavalues2/src/types/type_interval.rs
  common/datavalues2/src/types/type_null.rs
  common/datavalues2/src/types/type_nullable.rs
  common/datavalues2/src/types/type_primitive.rs
  common/datavalues2/src/types/type_string.rs
  common/datavalues2/src/types/type_struct.rs
  common/datavalues2/tests/it/columns/boolean.rs
  common/datavalues2/tests/it/columns/primitive.rs
  common/datavalues2/tests/it/columns/string.rs
  common/datavalues2/tests/it/types/create_column.rs
  common/datavalues2/tests/it/types/serializations.rs
  common/functions/src/scalars/dates/number_function.rs
  common/functions/src/scalars/function2.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/tuples/tuple.rs
  common/functions/src/scalars/tuples/tuple_class.rs
  common/functions/src/scalars/udfs/crash_me.rs
  common/functions/src/scalars/udfs/current_user.rs
  common/functions/src/scalars/udfs/database.rs
  common/functions/src/scalars/udfs/sleep.rs
  common/functions/src/scalars/udfs/to_type_name.rs
  common/functions/src/scalars/udfs/udf.rs
  common/functions/src/scalars/udfs/udf_example.rs
  common/functions/src/scalars/udfs/version.rs
  common/functions/tests/it/scalars/expressions.rs
  common/functions/tests/it/scalars/scalar_function2_test.rs
  common/functions/tests/it/scalars/tuples.rs
  common/functions/tests/it/scalars/udfs/database.rs
  common/functions/tests/it/scalars/udfs/to_type_name.rs
  common/functions/tests/it/scalars/udfs/udf_example.rs
  common/functions/tests/it/scalars/udfs/version.rs
  common/planners/src/plan_expression_common.rs
Labels: pr-improvement, need-review

#3940 Fix pruning get error when expression is not monotonic
  common/planners/src/plan_expression_monotonicity.rs
  common/planners/tests/it/plan_expression_monotonicity.rs
  query/src/storages/index/range_filter.rs
  query/tests/it/storages/fuse/pruning.rs
Labels: pr-bugfix, need-review

#3942 [metasrv] refactor: add KVApiTestSuite::test_single_node() to run all single-node tests
  common/meta/api/src/kv_api.rs
  common/meta/api/src/kv_api_test_suite.rs
  common/meta/api/src/lib.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  metasrv/tests/it/main.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, need-review

#3944 [metasrv] refactor: KVApiTestSuite::test_all() test everything about a KVApi impl
  common/meta/api/src/kv_api.rs
  common/meta/api/src/kv_api_test_suite.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api.rs
  metasrv/tests/it/grpc/metasrv_grpc_kv_api_cross_node.rs
  metasrv/tests/it/grpc/mod.rs
Labels: pr-improvement, need-review

#3946 CI: set swap to 10G
  .github/actions/test_unit/action.yml
  .github/workflows/developing.yml
  query/tests/it/storages/index/bloom_filter.rs
Labels: pr-build, need-review

#3947 [metasrv] refactor: test KVApi for MetaNode
  common/meta/api/src/kv_api.rs
  common/meta/api/src/kv_api_test_suite.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/meta_node/meta_node_kv_api.rs
  metasrv/tests/it/meta_node/mod.rs
  metasrv/tests/it/tests/mod.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, need-review

#3945 Improve `SHOW FUNCTIONS`
  common/planners/src/lib.rs
  common/planners/src/plan_node.rs
  common/planners/src/plan_rewriter.rs
  common/planners/src/plan_user_udf_show.rs
  common/planners/src/plan_visitor.rs
  docs/user/01-sql-statement/02-data-definition-language-ddl/ddl-alter-function.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/ddl-create-function.md
  docs/user/01-sql-statement/02-data-definition-language-ddl/ddl-drop-function.md
  docs/user/01-sql-statement/04-show-commands/show-functions.md
  docs/user/01-sql-statement/08-system-tables/system-functions.md
  query/src/interpreters/access/management_mode_access.rs
  query/src/interpreters/interpreter_factory.rs
  query/src/interpreters/interpreter_udf_show.rs
  query/src/interpreters/mod.rs
  query/src/sql/sql_parser.rs
  query/src/sql/sql_statement.rs
  query/src/sql/statements/analyzer_statement.rs
  query/src/sql/statements/mod.rs
  query/src/sql/statements/statement_show_functions.rs
  query/src/sql/statements/statement_show_udf.rs
  query/src/storages/system/functions_table.rs
  query/tests/it/interpreters/interpreter_udf_show.rs
  query/tests/it/interpreters/mod.rs
  query/tests/it/sql/sql_parser.rs
  query/tests/it/storages/system/functions_table.rs
  tests/suites/0_stateless/05_0012_ddl_show_udf.result
  tests/suites/0_stateless/05_0012_ddl_show_udf.sql
  tests/suites/0_stateless/11_0001_show_functions.result
  tests/suites/2_management_mode/00_0001_management_mode.result
  tests/suites/2_management_mode/00_0001_management_mode.sql
Labels: pr-improvement, need-review

#3953 Fix flaky test, change random seeding to deterministic value
  query/src/storages/index/bloom_filter.rs
  query/tests/it/storages/index/bloom_filter.rs
Labels: pr-bugfix, need-review

#3952 [metasrv] refactor: termninology
  common/meta/grpc/src/grpc_action.rs
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/src/kv_api_impl.rs
  common/meta/grpc/src/meta_api_impl.rs
  common/meta/grpc/tests/it/grpc_server.rs
  common/meta/types/proto/meta.proto
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/meta_service/meta_service_impl.rs
  metasrv/src/meta_service/mod.rs
  metasrv/src/meta_service/raftmeta.rs
  metasrv/src/network.rs
  metasrv/tests/it/meta_node/meta_node_all.rs
  metasrv/tests/it/tests/service.rs
Labels: pr-improvement, need-review

#3954 [metasrv] refactor: remove unused trait impl
  common/meta/grpc/src/grpc_action.rs
Labels: pr-improvement, need-review

#3955 codegen work with datavalue2
  Cargo.lock
  common/codegen/Cargo.toml
  common/codegen/src/writes/arithmetics_type.rs
  common/datavalues2/src/convert/arithmetics_type.rs
  common/datavalues2/src/convert/mod.rs
  common/datavalues2/src/prelude.rs
Labels: pr-other, need-review

#3960 Fix error in README.md
  query/src/storages/fuse/README.md
Labels: pr-bugfix, pr-other, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog, need-review

#3962 F fix doc bugs
  query/src/storages/fuse/README.md
Labels: pr-bugfix, pr-other, pr-performance, pr-build, pr-feature, pr-doc-fix, pr-not-for-changelog

#3868 [deps] bump arrow2 to d14ae86
  Cargo.lock
  common/arrow/Cargo.toml
  query/src/api/rpc/flight_client_stream.rs
  query/src/api/rpc/flight_dispatcher.rs
  query/src/api/rpc/flight_service.rs
  query/src/api/rpc/flight_service_stream.rs
  query/tests/it/api/rpc/flight_dispatcher.rs
Labels: pr-improvement, pr-build, pr-not-for-changelog, need-review

#3965 impl Debug trait for Column
  common/datavalues2/src/columns/array/mod.rs
  common/datavalues2/src/columns/boolean/mod.rs
  common/datavalues2/src/columns/column.rs
  common/datavalues2/src/columns/null/mod.rs
  common/datavalues2/src/columns/nullable/mod.rs
  common/datavalues2/src/columns/primitive/mod.rs
  common/datavalues2/src/columns/string/mod.rs
  common/datavalues2/src/columns/struct_/mod.rs
  common/datavalues2/src/data_value.rs
Labels: pr-improvement, need-review

#3934 dal2: Implement SeekableReader
  common/dal2/Cargo.toml
  common/dal2/src/dal.rs
  common/dal2/src/lib.rs
  common/dal2/src/ops/io.rs
  common/dal2/src/ops/read.rs
  common/dal2/src/ops/write.rs
  common/dal2/src/services/fs.rs
  common/dal2/src/services/s3.rs
  common/dal2/src/tests/ops/io.rs
Labels: pr-feature, need-review

#3963 Add Learn include howto
  docs/index.md
  docs/learn/_category_.yml
  docs/learn/howto/01-Use-Databend-analyse-Github-repo.md
  docs/learn/howto/02-deploy-databend-on-ec2-use-s3.md
  docs/learn/howto/_category_.yml
  docs/learn/sidebars.js
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#3966 Refine the learn docs
  docs/index.md
  docs/learn/howto/_category_.yml
  docs/learn/lessons/01-analyze-github-repo-with-databend.md
  docs/learn/lessons/02-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/learn/lessons/_category_.yml
  website/docusaurus.config.js
Labels: pr-improvement, need-review

#3981 refactor(servers/mysql): async mysql server
  Cargo.lock
  docs/learn/_category_.yml
  query/Cargo.toml
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/servers/mysql/mysql_session.rs
Labels: pr-improvement

#3987 Add get started docs for dev
  .github/workflows/test-performance-dispatch.yaml
  Makefile
  docker/stateless/Dockerfile
  docs/dev/contributing/index.md
  docs/dev/index.md
  website/docusaurus.config.js
Labels: pr-doc-fix, need-review

#3964 ISSUE-3957: Parallel import data error
  Cargo.lock
  common/exception/src/exception_code.rs
  common/meta/api/src/meta_api_test_suite.rs
  common/meta/raft-store/src/state_machine/sm_meta_api_impl.rs
  metasrv/src/executor/meta_handlers.rs
  query/Cargo.toml
  query/src/sessions/settings.rs
  query/src/storages/fuse/operations/commit.rs
  query/src/storages/fuse/table.rs
  query/tests/it/storages/fuse/operations/commit.rs
  query/tests/it/storages/fuse/operations/mod.rs
  query/tests/it/storages/fuse/table.rs
Labels: pr-improvement, pr-not-for-changelog

#3985 dal2: Implement limited & offset reader for fs and s3
  common/dal2/src/ops/io.rs
  common/dal2/src/services/fs.rs
  common/dal2/src/services/s3.rs
  common/dal2/src/tests/ops/io.rs
Labels: pr-feature, need-review

#3988 datavalues2: conditional function: if
  Cargo.lock
  common/datavalues2/src/columns/viewer.rs
  common/functions/src/macros.rs
  common/functions/src/scalars/conditionals/conditional.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/conditionals/mod.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/tests/it/scalars/conditionals.rs
Labels: pr-feature

#3989 Refactor: refactor protobuf service name
  common/meta/grpc/src/grpc_client.rs
  common/meta/grpc/tests/it/grpc_server.rs
  common/meta/types/proto/meta.proto
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/api/grpc_server.rs
Labels: pr-improvement

#3991 chore(datavalue2): fix too-strong bound on ScalarBinaryExpression
  common/functions/src/scalars/expressions/binary.rs
  common/functions/tests/it/scalars/expressions.rs
Labels: pr-improvement

#3992 use aggregate_type to merge type
  common/functions/src/scalars/conditionals/if.rs
Labels: pr-improvement, pr-not-for-changelog

#3996 [HTTP API] also allow POST method on kill query
  query/src/servers/http/v1/http_query_handlers.rs
Labels: pr-improvement, need-review

#4002 Datavalues2: date: today yesterday and tomorrow
  common/functions/src/scalars/dates/date.rs
  common/functions/src/scalars/dates/simple_date.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
Labels: pr-feature, need-review

#3998 datavalues2: Logic function
  common/datavalues2/src/types/eq.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/logics/and.rs
  common/functions/src/scalars/logics/logic.rs
  common/functions/src/scalars/logics/logic_not.rs
  common/functions/src/scalars/logics/mod.rs
  common/functions/src/scalars/logics/not.rs
  common/functions/src/scalars/logics/or.rs
  common/functions/src/scalars/logics/xor.rs
  common/functions/tests/it/scalars/logics.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  tests/suites/0_stateless/02_0046_function_logic.result
  tests/suites/0_stateless/02_0046_function_logic.sql
Labels: pr-feature

#3978 try to make arithmetic work in datavalue2
  common/codegen/src/writes/arithmetics_type.rs
  common/datavalues/src/data_field.rs
  common/datavalues2/benches/if_else_then.rs
  common/datavalues2/src/convert/mod.rs
  common/datavalues2/src/macros.rs
  common/datavalues2/src/prelude.rs
  common/datavalues2/src/types/arithmetics_type.rs
  common/datavalues2/src/types/data_type.rs
  common/datavalues2/src/types/mod.rs
  common/datavalues2/src/types/type_interval.rs
  common/datavalues2/src/types/type_traits.rs
  common/functions/src/scalars/arithmetics/arithmetic.rs
  common/functions/src/scalars/arithmetics/arithmetic_div.rs
  common/functions/src/scalars/arithmetics/arithmetic_intdiv.rs
  common/functions/src/scalars/arithmetics/arithmetic_minus.rs
  common/functions/src/scalars/arithmetics/arithmetic_modulo.rs
  common/functions/src/scalars/arithmetics/arithmetic_mul.rs
  common/functions/src/scalars/arithmetics/arithmetic_negate.rs
  common/functions/src/scalars/arithmetics/arithmetic_plus.rs
  common/functions/src/scalars/arithmetics/binary_arithmetic.rs
  common/functions/src/scalars/arithmetics/interval.rs
  common/functions/src/scalars/arithmetics/macros.rs
  common/functions/src/scalars/arithmetics/mod.rs
  common/functions/src/scalars/arithmetics/unary_arithmetic.rs
  common/functions/src/scalars/arithmetics/utils.rs
  common/functions/src/scalars/dates/interval_function.rs
  common/functions/src/scalars/dates/mod.rs
  common/functions/src/scalars/expressions/binary.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/src/scalars/expressions/mod.rs
  common/functions/src/scalars/expressions/unary.rs
  common/functions/src/scalars/function2_adapter.rs
  common/functions/src/scalars/function2_factory.rs
  common/functions/src/scalars/function_factory.rs
  common/functions/src/scalars/maths/math.rs
  common/functions/tests/it/scalars/arithmetics.rs
  tests/suites/0_stateless/02_0012_function_datetimes.result
  tests/suites/0_stateless/02_0012_function_datetimes.sql
Labels: pr-feature, need-review

#4007 [common/meta/sled-store] refactor: sled-serde trait family need do Sized
  common/meta/sled-store/src/sled_serde.rs
Labels: pr-improvement, need-review

#4008 fix if with null & fix convert to nullable column bug
  common/datavalues2/src/convert/column_convert.rs
  common/functions/src/scalars/conditionals/if.rs
  common/functions/src/scalars/expressions/cast_with_type.rs
  common/functions/tests/it/scalars/conditionals.rs
  tests/suites/0_stateless/02_0002_function_cast.result
  tests/suites/0_stateless/02_0002_function_cast.sql
Labels: pr-bugfix, pr-improvement

#4011 Add Databend settings introduce and usage
  docs/user/01-sql-statement/08-system-tables/system-settings.md
Labels: pr-doc-fix, need-review

#4014 Fix Unable to get field name bug
  common/planners/src/plan_expression.rs
  query/src/optimizers/optimizer_constant_folding.rs
  query/src/optimizers/optimizer_expression_transform.rs
  query/tests/it/optimizers/optimizer_constant_folding.rs
  query/tests/it/optimizers/optimizer_expression_transform.rs
Labels: pr-bugfix, need-review

#4016 [metasrv] feature: grpc-API: export() all meta data.
  Cargo.lock
  common/meta/grpc/tests/it/grpc_server.rs
  common/meta/raft-store/src/log/raft_log.rs
  common/meta/raft-store/src/state/raft_state.rs
  common/meta/sled-store/src/sled_tree.rs
  common/meta/sled-store/tests/it/sled_tree.rs
  common/meta/types/proto/meta.proto
  metasrv/Cargo.toml
  metasrv/src/api/grpc/grpc_service.rs
  metasrv/src/export.rs
  metasrv/src/lib.rs
  metasrv/tests/it/grpc/metasrv_grpc_export.rs
  metasrv/tests/it/grpc/mod.rs
Labels: pr-feature, need-review

#4015 SESSIONS-3933: Refine the file and field name
  query/benches/suites/mod.rs
  query/src/api/http/v1/cluster.rs
  query/src/api/http/v1/logs.rs
  query/src/api/rpc/flight_dispatcher.rs
  query/src/servers/clickhouse/interactive_worker.rs
  query/src/servers/clickhouse/interactive_worker_base.rs
  query/src/servers/http/v1/load.rs
  query/src/servers/http/v1/query/execute_state.rs
  query/src/servers/mysql/mysql_interactive_worker.rs
  query/src/sessions/mod.rs
  query/src/sessions/query_ctx.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_ctx.rs
  query/src/sessions/session_info.rs
  query/src/sessions/session_mgr.rs
  query/src/sessions/session_ref.rs
  query/src/sessions/sessions_info.rs
  query/tests/it/sessions/mod.rs
  query/tests/it/sessions/session_context.rs
Labels: pr-improvement, need-review

#4021 SESSIONS-3933: Refine function name [PATCH-2]
  common/management/src/lib.rs
  common/management/src/role/mod.rs
  common/management/src/role/role_api.rs
  common/management/src/role/role_mgr.rs
  common/management/src/stage/mod.rs
  common/management/src/stage/stage_api.rs
  common/management/src/stage/stage_mgr.rs
  common/management/src/udf/mod.rs
  common/management/src/udf/udf_api.rs
  common/management/src/udf/udf_mgr.rs
  common/management/src/user/user_api.rs
  common/management/src/user/user_mgr.rs
  query/src/sessions/query_ctx_shared.rs
  query/src/sessions/session.rs
  query/src/sessions/session_ctx.rs
  query/src/sessions/session_info.rs
  query/src/sessions/session_mgr.rs
  query/src/users/user_api.rs
  query/tests/it/sessions/session_context.rs
Labels: pr-improvement, need-review

#4025 SESSIONS-3933: Refactor the settings [PATCH-3]
  common/meta/types/src/lib.rs
  common/meta/types/src/user_setting.rs
  common/meta/types/tests/it/user_info.rs
  query/src/interpreters/interpreter_setting.rs
  query/src/sessions/macros.rs
  query/src/sessions/mod.rs
  query/src/sessions/session.rs
  query/src/sessions/session_ctx.rs
  query/src/sessions/settings.rs
  query/src/storages/system/settings_table.rs
  query/tests/it/sessions/session_context.rs
  query/tests/it/storages/system/settings_table.rs
  tests/suites/0_stateless/06_0003_show_settings.result
  tests/suites/0_stateless/06_0003_show_settings.sql
Labels: pr-improvement, need-review

#4018 Use buf reader for meta reader
  query/src/storages/fuse/io/meta_readers.rs
Labels: need-review

#4028 Fix lint missing toml dep error
  scripts/setup/dev_setup.sh
Labels: pr-bugfix, need-review

#4034 Refact stateful test directory
  tests/suites/1_stateful/00_copy/00_0000_copy_s3.result
  tests/suites/1_stateful/00_copy/00_0000_copy_s3.sql
  tests/suites/1_stateful/01_load/01_0000_streaming_load.result
  tests/suites/1_stateful/01_load/01_0000_streaming_load.sh
Labels: pr-improvement, need-review

#4035 Chinese New Year 2022, 春节快乐，虎年大吉！
  tests/databend-test
Labels: pr-improvement, need-review
