Repository databendlabs/databend, pull requests merged in 2022-11, with the labels that each got.

#8551 feat(planner): optimize right outer/semi/anti join
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
Labels: pr-feature

#8562 fix: Fix downloading the default version
  website/src/pages/download/index.tsx
Labels: pr-bugfix

#8563 ci(release): sync release results to repo
  .github/actions/publish_binary/action.yml
Labels: pr-build, pr-chore

#8560 feat: Disallow create & drop user stage
  src/common/exception/src/exception_code.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  tests/logictest/suites/base/05_ddl/05_0025_ddl_user_stage
Labels: pr-feature

#8568 refactor(meta): return InvalidReply if fail to decode a message
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/meta_node/meta_node_seq_api.rs
  src/meta/types/src/errors/kv_app_errors.rs
  src/meta/types/src/errors/meta_api_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/message.rs
Labels: pr-refactor

#8567 refactor: Remove unused error codes
  src/common/exception/src/exception_code.rs
Labels: pr-refactor

#8570 feat: change log level from info to debug for copy
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/storages/factory/src/stage/stage_table.rs
Labels: pr-feature

#8558 feat(hive): suport substr && order by with null values compatible with hive functions
  src/query/ast/src/input.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/logictest/suites/query/02_function/02_0005_function_substring
Labels: pr-feature

#8575 feat: add user quota
  src/meta/types/src/tenant_quota.rs
  src/query/service/src/interpreters/interpreter_user_create.rs
Labels: pr-feature

#8561 docs: deploy updates
  docs/doc/10-deploy/00-understanding-deployment-modes.md
  docs/doc/10-deploy/02-deploying-databend.md
Labels: pr-doc

#8569 refactor(query): avoid extra memcpy
  src/common/io/src/prelude.rs
  src/common/io/src/utils.rs
  src/query/datavalues/src/columns/string/mutable.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions-v2/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions-v2/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions-v2/src/aggregates/aggregate_avg.rs
  src/query/functions-v2/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions-v2/src/aggregates/aggregate_combinator_if.rs
  src/query/functions-v2/src/aggregates/aggregate_count.rs
  src/query/functions-v2/src/aggregates/aggregate_covariance.rs
  src/query/functions-v2/src/aggregates/aggregate_distinct_state.rs
  src/query/functions-v2/src/aggregates/aggregate_function.rs
  src/query/functions-v2/src/aggregates/aggregate_min_max_any.rs
  src/query/functions-v2/src/aggregates/aggregate_null_result.rs
  src/query/functions-v2/src/aggregates/aggregate_retention.rs
  src/query/functions-v2/src/aggregates/aggregate_scalar_state.rs
  src/query/functions-v2/src/aggregates/aggregate_stddev_pop.rs
  src/query/functions-v2/src/aggregates/aggregate_sum.rs
  src/query/functions-v2/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/adaptors/aggregate_base_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_function.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_stddev_pop.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_single_key.rs
Labels: pr-refactor

#8580 refactor(function): cast timestamp to variant string instead of variant int
  src/query/expression/src/evaluator.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/src/utils/display.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
Labels: pr-refactor

#8586 feat: improve the COPY filting copied files performance
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
Labels: pr-feature

#8591 docs: allow insecure
  docs/doc/21-load-data/02-local.md
Labels: pr-doc

#8592 docs: pressing upload
  docs/doc/30-reference/30-sql/00-ddl/80-presign/presign.md
Labels: pr-doc

#8587 fix(query): fix linux_kernel_version detection
  src/common/base/src/mem_allocator/mmap_allocator.rs
Labels: pr-bugfix

#8593 refactor(interpreter): move interpreter_common.rs to common/
  src/query/service/src/interpreters/common/file.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/table.rs
  src/query/service/src/interpreters/interpreter_common.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/interpreters/interpreter_list.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
Labels: pr-refactor

#8598 fix(io): use storage.num_cpus to init global io runtime
  src/query/service/src/global_services.rs
Labels: pr-bugfix

#8596 fix(planner): Fix offset statement error handling
  src/query/sql/src/planner/binder/limit.rs
  tests/logictest/suites/crdb/select
Labels: pr-bugfix

#8600 fix(query): set global max_threads not work
  src/query/settings/src/lib.rs
Labels: pr-bugfix

#8605 feat: Add cache config for databend-query
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/configs.rs
Labels: pr-feature

#8609 refactor(storages): move storages/factory/src/stage/
  Cargo.lock
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/common/file.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/procedures/systems/search_tables.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/system.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/cache.rs
  src/query/storages/factory/src/lib.rs
  src/query/storages/factory/src/storage_table.rs
  src/query/storages/factory/src/system/mod.rs
  src/query/storages/preludes/Cargo.toml
  src/query/storages/preludes/src/lib.rs
  src/query/storages/preludes/src/stage/mod.rs
  src/query/storages/preludes/src/stage/stage_table.rs
  src/query/storages/preludes/src/stage/stage_table_sink.rs
  src/query/storages/preludes/src/system/clusters_table.rs
  src/query/storages/preludes/src/system/mod.rs
Labels: pr-refactor

#8606 feat(TSV): allow nested field in TSV.
  src/query/datavalues/src/types/serializations/array.rs
  src/query/datavalues/src/types/serializations/boolean.rs
  src/query/datavalues/src/types/serializations/const_.rs
  src/query/datavalues/src/types/serializations/date.rs
  src/query/datavalues/src/types/serializations/mod.rs
  src/query/datavalues/src/types/serializations/null.rs
  src/query/datavalues/src/types/serializations/nullable.rs
  src/query/datavalues/src/types/serializations/number.rs
  src/query/datavalues/src/types/serializations/string.rs
  src/query/datavalues/src/types/serializations/struct_.rs
  src/query/datavalues/src/types/serializations/timestamp.rs
  src/query/datavalues/src/types/serializations/variant.rs
  src/query/formats/src/output_format_csv.rs
  tests/logictest/suites/base/03_dml/03_0023_insert_into_array
  tests/suites/1_stateful/05_input_formats/05_0003_load_unload_all.result
  tests/suites/1_stateful/05_input_formats/05_0003_load_unload_all.sh
  tests/suites/1_stateful/05_input_formats/05_0004_load_unload_simple.result
  tests/suites/1_stateful/05_input_formats/05_0004_load_unload_simple.sh
Labels: pr-feature

#8612 refactor: Remove not needed re-export
  Cargo.lock
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_settings.rs
Labels: pr-refactor

#8599 feat(function): add to_xxx() cast function
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/src/scalars/control.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/src/scalars/tuple.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
  src/query/functions-v2/tests/it/scalars/testdata/boolean.txt
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
  src/query/functions-v2/tests/it/scalars/testdata/function_list.txt
  src/query/functions-v2/tests/it/scalars/testdata/math.txt
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
Labels: pr-feature, pr-refactor

#8404 feat: support copy from xml.
  Cargo.lock
  src/common/io/src/format_settings.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/formats/src/file_format_type.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/mod.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/binder/copy.rs
  tests/logictest/suites/base/05_ddl/05_0016_ddl_stage
  tests/logictest/suites/base/06_show/06_0011_show_stages
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v1.result
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v1.sh
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v2.result
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v2.sh
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v3.result
  tests/suites/1_stateful/05_input_formats/05_0003_xml_v3.sh
Labels: pr-feature

#8610 feat(query): add collation
  src/query/datavalues/src/columns/string/mutable.rs
  src/query/expression/src/types/string.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions/src/scalars/strings/length.rs
  src/query/functions/src/scalars/strings/mod.rs
  src/query/functions/src/scalars/strings/string.rs
  src/query/functions/src/scalars/strings/string2number_try.rs
  src/query/functions/src/scalars/strings/substring_utf8.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/logictest/suites/query/02_function/02_0005_function_substring
Labels: pr-feature

#8583 feat(planner): optimize left/single join
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_left_join.rs
Labels: pr-feature

#8616 feat: Add cache operator in global services
  src/binaries/query/main.rs
  src/common/storage/src/config.rs
  src/common/storage/src/operator.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/tests/sessions.rs
Labels: pr-feature

#8571 feat: add meta_type config
  Cargo.lock
  src/binaries/query/main.rs
  src/query/config/Cargo.toml
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/config/src/outer_v0.rs
  src/query/formats/Cargo.toml
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
Labels: pr-feature

#8618 refactor(test): one dir for format.
  tests/suites/1_stateful/05_formats/05_00_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_00_load_unload_all.sh
  tests/suites/1_stateful/05_formats/05_01_load_unload_simple.result
  tests/suites/1_stateful/05_formats/05_01_load_unload_simple.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_01_csv_escape.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_01_csv_escape.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_02_csv_spaces.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_02_csv_spaces.sh
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_03_csv_datetime.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_03_csv_datetime.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_01_xml_v1.result
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_01_xml_v1.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_02_xml_v2.result
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_02_xml_v2.sh
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_03_xml_v3.result
  tests/suites/1_stateful/05_formats/05_03_xml/05_03_03_xml_v3.sh
Labels: pr-refactor

#8626 refactor(planner): use const `MAX_BLOCK_SIZE` in join probe
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
Labels: pr-refactor

#8629 chore(query): increase max_block_size default value to 65536
  docs/doc/30-reference/30-sql/40-show/show-settings.md
  docs/doc/30-reference/30-sql/70-system-tables/system-settings.md
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  tests/fuse-compat/compat-logictest/fuse_compat_write
  tests/logictest/suites/base/20+_others/20_0007_random_engine
  tests/logictest/suites/mode/standalone/explain/join_reorder/mark.test
Labels: pr-chore

#8628 feat: copy files order by last modified time asc
  src/query/service/src/interpreters/interpreter_copy_v2.rs
Labels: pr-feature

#8632 docs: deploy local
  docs/doc/10-deploy/05-deploying-local.md
Labels: pr-doc

#8452 feat(query): improve sort.
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/datablocks/src/kernels/data_block_sort.rs
  src/query/datablocks/src/kernels/data_block_take.rs
  src/query/pipeline/core/src/pipeline_display.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/storages/fuse/fuse/src/operations/recluster.rs
  tests/logictest/suites/base/03_dml/03_0003_select_group_by
  tests/logictest/suites/base/03_dml/03_0004_select_order_by
  tests/logictest/suites/base/03_dml/03_0023_insert_into_array
  tests/logictest/suites/crdb/order_by
Labels: pr-feature

#8637 refactor(query): migrate deserializations to expression
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/expression/src/deserializations/boolean.rs
  src/query/expression/src/deserializations/date.rs
  src/query/expression/src/deserializations/empty_array.rs
  src/query/expression/src/deserializations/mod.rs
  src/query/expression/src/deserializations/null.rs
  src/query/expression/src/deserializations/nullable.rs
  src/query/expression/src/deserializations/number.rs
  src/query/expression/src/deserializations/string.rs
  src/query/expression/src/deserializations/timestamp.rs
  src/query/expression/src/deserializations/variant.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/serializations/array.rs
  src/query/expression/src/serializations/date.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
Labels: pr-refactor

#8638 fix(union): union's pairs are handled incorrectly
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  tests/logictest/suites/query/union.test
Labels: pr-bugfix

#8648 refactor(storages): merge storages/constants to storages/table-meta
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/lib.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/constants/Cargo.toml
  src/query/storages/fuse/fuse/Cargo.toml
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/lib.rs
  src/query/storages/fuse/fuse/src/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/navigate.rs
  src/query/storages/fuse/fuse/src/operations/truncate.rs
  src/query/storages/share/Cargo.toml
  src/query/storages/share/src/share.rs
  src/query/storages/table-meta/src/lib.rs
  src/query/storages/table-meta/src/table/mod.rs
  src/query/storages/table-meta/src/table/table_keys.rs
  src/query/storages/table-meta/src/table/table_prefix.rs
Labels: pr-refactor

#8641 refactor(expr): redo cast
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/property.rs
  src/query/expression/src/register.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/mod.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/aggregates/mod.rs
  src/query/functions-v2/tests/it/scalars/cast.rs
  src/query/functions-v2/tests/it/scalars/control.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
  src/query/functions-v2/tests/it/scalars/testdata/control.txt
  src/query/functions-v2/tests/it/scalars/testdata/function_list.txt
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
Labels: pr-refactor

#8644 feat(compact): optimize compact for data load.
  src/query/catalog/src/table.rs
  src/query/datablocks/src/block_compact_thresholds.rs
  src/query/datablocks/src/lib.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_no_split.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/service/src/interpreters/common/table.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/io/mod.rs
  src/query/storages/fuse/fuse/src/io/write/mod.rs
  src/query/storages/fuse/fuse/src/operations/append.rs
  src/query/storages/fuse/fuse/src/operations/compact.rs
  src/query/storages/fuse/fuse/src/operations/delete.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/full_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/fuse/src/operations/recluster.rs
  src/query/storages/fuse/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/stage/src/stage_table.rs
  tests/suites/1_stateful/05_formats/05_02_load_compact_copy.result
  tests/suites/1_stateful/05_formats/05_02_load_compact_copy.sh
  tests/suites/1_stateful/05_formats/05_02_load_compact_streaming_load.result
  tests/suites/1_stateful/05_formats/05_02_load_compact_streaming_load.sh
Labels: pr-feature

#8650 chore: remove workspace-hack
  Cargo.lock
  Cargo.toml
  src/workspace-hack/Cargo.toml
  src/workspace-hack/README.md
  src/workspace-hack/src/lib.rs
Labels: pr-chore

#8651 chore: merge query/streams to some crates
  Cargo.lock
  Cargo.toml
  src/query/datablocks/Cargo.toml
  src/query/datablocks/src/lib.rs
  src/query/datablocks/src/serialize.rs
  src/query/datablocks/src/stream.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/processors/sources/stream_source.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/http/v1/logs.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/procedures/procedure.rs
  src/query/service/src/servers/http/v1/download.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/service/src/stream/datablock_stream.rs
  src/query/service/src/stream/mod.rs
  src/query/service/src/stream/progress_stream.rs
  src/query/service/src/stream/table_read_block_stream.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/service/tests/it/storages/memory.rs
  src/query/service/tests/it/storages/null.rs
  src/query/service/tests/it/storages/result/result_table.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/stream/datablock_stream.rs
  src/query/service/tests/it/stream/mod.rs
  src/query/service/tests/it/stream/progress_stream.rs
  src/query/service/tests/it/table_functions/numbers_table.rs
  src/query/storages/fuse/fuse-result/Cargo.toml
  src/query/storages/fuse/fuse-result/src/writer.rs
  src/query/streams/Cargo.toml
  src/query/streams/src/stream.rs
Labels: pr-chore

#8659 fix: The download page is replaced with our own interface
  website/src/pages/download/index.tsx
Labels: pr-bugfix

#8652 refactor(query): modify the index of the `Array<T>` type starting from 1
  docs/doc/30-reference/20-functions/10-aggregate-functions/aggregate-retention.md
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
  src/query/functions/src/scalars/semi_structureds/array_get.rs
  src/query/functions/tests/it/scalars/semi_structureds/get.rs
  tests/logictest/suites/base/03_dml/03_0023_insert_into_array
  tests/logictest/suites/query/02_function/02_0000_function_aggregate_retention
  tests/logictest/suites/query/02_function/02_0051_function_semi_structureds_get
Labels: pr-refactor

#8662 refactor(catalog): remove delete
  src/query/catalog/src/plan/mod.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/full_compact_mutator.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/delete.rs
Labels: pr-refactor

#8639 refactor(storage): replace RwLocks with DashMap
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/catalogs/default/table_memory_meta.rs
  src/query/service/src/databases/database_factory.rs
  src/query/service/src/servers/http/v1/query/expiring_map.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/storage_factory.rs
Labels: pr-refactor

#8665 ci: Bump to nightly-2022-11-07 to address rust-lang/cargo#11183
  scripts/setup/rust-toolchain.toml
Labels: pr-build

#8667 ci: Bump rust-toolchain to nightly-2022-11-07 instead
  rust-toolchain.toml
Labels: pr-build

#8666 chore(groupby): remove very old useless code
  Cargo.lock
  src/query/datablocks/src/kernels/data_block_group_by.rs
  src/query/datablocks/src/kernels/data_block_group_by_hash.rs
  src/query/datablocks/tests/it/kernels/data_block_group_by.rs
  src/query/datablocks/tests/it/kernels/mod.rs
  src/query/datavalues/Cargo.toml
  src/query/datavalues/src/prelude.rs
Labels: pr-chore

#8664 chore(input format): more tests and diagnostic info.
  src/common/io/src/format_diagnostic.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  tests/suites/0_stateless/13_tpch/13_0005_q5.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.sql
  tests/suites/1_stateful/05_formats/05_04_tsv/05_04_01_tsv_multi_file.result
  tests/suites/1_stateful/05_formats/05_04_tsv/05_04_01_tsv_multi_file.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-chore

#8672 ci: Enable backtrace to debug cluster related issue
  scripts/ci/ci-run-stateless-tests-cluster.sh
Labels: pr-build

#8671 chore(ci): add error suffix for pipeline on init
  src/query/service/src/pipelines/executor/pipeline_executor.rs
Labels: pr-chore

#8675 chore: Revert "test: not run q5 in ci."
  tests/suites/0_stateless/13_tpch/13_0005_q5.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.sql
Labels: pr-chore

#8674 fix(meta): emit kv change events after committing a transaction
  src/binaries/meta/kvapi.rs
  src/binaries/meta/main.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/sled-store/src/sled_tree.rs
Labels: pr-bugfix

#8590 refactor: compact segments
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/storages/fuse/fuse/src/io/write/segment_writer.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/segment_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/mod.rs
  src/query/storages/index/src/lib.rs
  src/query/storages/table-meta/src/meta/common.rs
  src/query/storages/table-meta/src/meta/v0/segment.rs
  src/query/storages/table-meta/src/meta/v1/segment.rs
  tests/logictest/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-refactor

#8670 refactor(query): remove sqlparser-rs
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/lib.rs
  src/query/functions/src/scalars/semi_structureds/get_path.rs
  src/query/functions/src/scalars/semi_structureds/json_extract_path_text.rs
  src/query/functions/src/window/function.rs
  src/query/functions/src/window/mod.rs
  src/query/functions/src/window/window_frame.rs
  src/query/functions/tests/it/scalars/semi_structureds/get.rs
  src/query/functions/tests/it/scalars/semi_structureds/json_extract_path_text.rs
  tests/logictest/suites/query/02_function/02_0051_function_semi_structureds_get
Labels: pr-refactor

#8680 fix(compact): fix typo in compactor.
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_no_split.rs
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_00_load_compact_copy.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_00_load_compact_copy.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.sh
Labels: pr-bugfix

#8677 feat(query): improve sort and introduce short paths.
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
Labels: pr-feature

#8684 fix(copy): fix wrong asserts.
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_pipeline.rs
Labels: pr-bugfix

#8687 feat(download): download support CsvWithNames.
  src/query/service/src/servers/http/v1/download.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#8686 ci: Upload entire directory instead
  .github/actions/artifact_failure/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  scripts/ci/deploy/config/databend-query-embedded-meta.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
Labels: pr-build

#8688 chore: Add error message for mysql result writer
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
Labels: pr-chore

#8690 chore: Print logging file and line number
  src/common/tracing/src/logging.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
Labels: pr-chore

#8694 refactor: replace rwlock settings and planner
  Cargo.lock
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
Labels: pr-refactor

#8692 chore: try to debug broken pipe
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
Labels: pr-chore

#8668 fix(query): Problem when using Trino Mysql connector
  src/query/functions/src/scalars/strings/string2string.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/storages/information-schema/src/columns_table.rs
  src/query/storages/system/src/columns_table.rs
  tests/logictest/suites/base/20+_others/20_0000_describe_table
  tests/logictest/suites/query/02_function/02_0043_function_strings_upper
Labels: pr-bugfix

#8676 feat: add inlist expr in new expression
  src/query/expression/src/types/number.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/parser.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
  src/query/functions-v2/tests/it/scalars/testdata/function_list.txt
Labels: pr-feature

#8697 refactor(optimizer): fix error info
  src/query/sql/src/planner/optimizer/property/builder.rs
Labels: pr-refactor

#8698 feat(csv): allow no new line at the file end
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_04_csv_no_newline.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_04_csv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_02_csv/no_newline.csv
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_no_newline.result
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_04_tsv/no_newline.tsv
Labels: pr-feature

#8620 feat: multiple catalog create (planner and catalog manager)
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/mod.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/catalog.rs
  src/query/service/src/catalogs/catalog_manager.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_catalog_create.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/mod.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/catalog.rs
  src/query/sql/src/planner/plans/ddl/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/catalogs_table.rs
Labels: pr-feature

#8705 ci: Install sccache for future use
  scripts/setup/rust-tools.txt
Labels: pr-build

#8704 ci: Add set -e for all our ci scripts
  scripts/ci/ci-run-fuzz-tests.sh
  scripts/ci/ci-run-profile.sh
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  scripts/ci/ci-run-stateful-hive-tests-standalone-embed-meta.sh
  scripts/ci/ci-run-stateful-tests-cluster-s3.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3-embed-meta.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/ci/ci-run-stateless-tests-cluster-tls.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-standalone.sh
  scripts/ci/ci-run-tests-embedded-meta.sh
  scripts/ci/ci-run-unit-tests.sh
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-standalone-embedded-meta.sh
  scripts/ci/deploy/databend-query-standalone.sh
  scripts/ci/wait_tcp.py
Labels: pr-build

#8703 chore(fuse): change AppendOperationLogEntry from serde to datablock.meta
  Cargo.lock
  src/query/datablocks/Cargo.toml
  src/query/datablocks/src/data_block.rs
  src/query/datablocks/src/lib.rs
  src/query/datablocks/src/meta_info.rs
  src/query/datablocks/tests/it/meta_info.rs
  src/query/service/src/api/rpc/packets/mod.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/api/rpc/packets/packet_data_precommit.rs
  src/query/service/src/api/rpc/packets/packet_data_progressinfo.rs
  src/query/service/tests/it/api/rpc/packets/packet_data.rs
  src/query/storages/fuse/fuse/src/operations/operation_log.rs
  src/query/storages/table-meta/src/meta/v1/segment.rs
Labels: pr-chore

#8711 ci: Install sccache in build-tool:base
  docker/build-tool/base/Dockerfile
  scripts/setup/rust-tools.txt
Labels: pr-build

#8713 fix(expr): fix PartialEq for ScalarRef and add benchmark for `array()`
  Cargo.lock
  Cargo.toml
  src/query/expression/src/types.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/benches/bench.rs
  src/query/functions-v2/tests/it/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
Labels: pr-bugfix

#8715 feat(query): add a simple improve and fix bug for sort.
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
Labels: pr-feature

#8720 feat(query): optimize stringsearch like
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/comparisons/comparison_like.rs
Labels: pr-feature

#8707 fix(query): max_threads can not determined automatically
  docs/doc/30-reference/30-sql/40-show/show-settings.md
  docs/doc/30-reference/30-sql/70-system-tables/system-settings.md
  docs/doc/30-reference/30-sql/80-setting-cmds/show-settings.md
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.sh
Labels: pr-bugfix

#8712 ci: Install sccache in dev-setup to avoid large docker images
  docker/build-tool/base/Dockerfile
  scripts/setup/dev_setup.sh
Labels: pr-build

#8725 refactor: Use range_read instead of read_exact
  src/query/storages/fuse/fuse/src/io/read/block_reader.rs
Labels: pr-refactor

#8723 refactor: rich error info for `Schema not matched`
  src/query/datablocks/src/kernels/data_block_concat.rs
Labels: pr-refactor

#8691 docs: load data overview
  docs/doc/01-guides/index.md
  docs/doc/21-load-data/00-stage.md
  docs/doc/21-load-data/01-s3.md
  docs/doc/21-load-data/02-local.md
  docs/doc/21-load-data/03-mysql.md
  docs/doc/21-load-data/04-http.md
  docs/doc/21-load-data/_category_.json
  docs/doc/21-load-data/index.md
  docs/doc/30-reference/00-api/03-streaming-load.md
  docs/doc/30-reference/30-sql/10-dml/dml-copy-into-table.md
Labels: pr-doc

#8728 feat(query): optimize count(no_null_col)
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
Labels: pr-feature

#8714 chore: fix invalid header value in share endpoint authorization
  Cargo.lock
  src/common/auth/Cargo.toml
  src/common/auth/src/auth.rs
  src/common/auth/tests/it/auth.rs
  src/query/service/src/global_services.rs
Labels: pr-chore

#8709 ci: Try to use sccache
  .github/actions/build_linux/action.yml
  .github/actions/setup_build_tool/action.yml
  scripts/setup/run_build_tool.sh
Labels: pr-build

#8726 feat: adjust max io requests when read block data to avoid oom
  Cargo.lock
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/service/tests/it/tests/context.rs
  src/query/settings/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/operations/compact.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  src/query/storages/fuse/fuse/src/operations/read_data.rs
  src/query/storages/fuse/fuse/src/operations/recluster.rs
Labels: pr-feature

#8733 refactor(handler): use FieldEncoder to encode data.
  Cargo.lock
  src/query/datavalues/Cargo.toml
  src/query/datavalues/benches/output_format.rs
  src/query/datavalues/src/types/serializations/array.rs
  src/query/datavalues/src/types/serializations/boolean.rs
  src/query/datavalues/src/types/serializations/const_.rs
  src/query/datavalues/src/types/serializations/date.rs
  src/query/datavalues/src/types/serializations/mod.rs
  src/query/datavalues/src/types/serializations/null.rs
  src/query/datavalues/src/types/serializations/nullable.rs
  src/query/datavalues/src/types/serializations/number.rs
  src/query/datavalues/src/types/serializations/string.rs
  src/query/datavalues/src/types/serializations/struct_.rs
  src/query/datavalues/src/types/serializations/timestamp.rs
  src/query/datavalues/src/types/serializations/variant.rs
  src/query/datavalues/tests/it/types/serializations/mod.rs
  src/query/formats/src/field_encoder/field_encoder_values.rs
  src/query/service/Cargo.toml
  src/query/service/src/servers/http/v1/json_block.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_parquet_int96.result
  tests/suites/1_stateful/01_load_v2/01_0004_streaming_variant_load.result
  tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.result
Labels: pr-refactor

#8736 refactor: remove `V2` postfix in cluster
  src/query/service/src/api/mod.rs
  src/query/service/src/api/rpc/exchange/data_exchange.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/mod.rs
  src/query/service/src/api/rpc/flight_scatter_hash.rs
  src/query/service/src/api/rpc/mod.rs
  src/query/service/src/api/rpc/packets/packet_fragment.rs
  src/query/service/src/interpreters/fragments/fragmenter.rs
  src/query/service/src/interpreters/fragments/mod.rs
  src/query/service/src/interpreters/fragments/plan_fragment.rs
  src/query/service/src/interpreters/fragments/query_fragment_actions.rs
  src/query/service/src/interpreters/fragments/query_fragment_actions_display.rs
  src/query/service/src/interpreters/fragments/v2/mod.rs
Labels: pr-refactor

#8738 ci: Disable incremental for dev profile
  Cargo.toml
Labels: pr-build

#8740 refactor(out format): move output_format_xxx.rs to a sub-folder.
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/mod.rs
  src/query/formats/src/field_encoder/row_based.rs
  src/query/formats/src/field_encoder/tsv.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/lib.rs
  src/query/formats/src/output_format/csv.rs
  src/query/formats/src/output_format/mod.rs
  src/query/formats/src/output_format/ndjson.rs
  src/query/formats/src/output_format/parquet.rs
  src/query/formats/src/output_format/tsv.rs
  src/query/formats/src/output_format/values.rs
Labels: pr-refactor

#8747 chore(log): remove logs in union processor
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
Labels: pr-chore

#8741 chore(query): improve cast in expression
  src/query/expression/src/evaluator.rs
  src/query/expression/src/type_check.rs
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
Labels: pr-chore

#8745 fix(mysql): fix databend float64 to mysql double
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
Labels: pr-bugfix

#8737 fix(query): the hashmap will cause oom
  Cargo.lock
  src/query/functions-v2/Cargo.toml
  src/query/functions-v2/src/scalars/comparison.rs
  src/query/functions-v2/tests/it/scalars/comparison.rs
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
  src/query/functions/src/scalars/comparisons/comparison_like.rs
Labels: pr-bugfix

#8753 fix: make `explain pipeline` go to correct path in cluster
  src/query/service/src/interpreters/interpreter_explain_v2.rs
Labels: pr-bugfix

#8755 refactor(expr): refine domain
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/property.rs
  src/query/expression/src/register.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/src/scalars/boolean.rs
  src/query/functions-v2/src/scalars/comparison.rs
  src/query/functions-v2/src/scalars/control.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/src/scalars/tuple.rs
  src/query/functions-v2/src/scalars/variant.rs
  src/query/functions-v2/tests/it/scalars/array.rs
  src/query/functions-v2/tests/it/scalars/string.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
  src/query/functions-v2/tests/it/scalars/testdata/boolean.txt
  src/query/functions-v2/tests/it/scalars/testdata/cast.txt
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
  src/query/functions-v2/tests/it/scalars/testdata/datetime.txt
  src/query/functions-v2/tests/it/scalars/testdata/function_list.txt
  src/query/functions-v2/tests/it/scalars/testdata/math.txt
  src/query/functions-v2/tests/it/scalars/testdata/string.txt
  src/query/functions-v2/tests/it/scalars/testdata/variant.txt
Labels: pr-refactor

#8758 docs:Update 10-ddl-create-table.md
  docs/doc/30-reference/30-sql/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#8681 refactor(aggregator): unified hashtable interface
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/twolevel_hashtable.rs
  src/common/hashtable/src/unsized_hashtable.rs
  src/common/hashtable/tests/it/main.rs
  src/query/datablocks/src/kernels/data_block_group_by_hash.rs
  src/query/datablocks/tests/it/kernels/data_block_group_by_hash.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_two_level.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_groups_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_iter.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state_iterator.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
Labels: pr-refactor

#8764 feat: change PrecommitBlock serde from serde_json to bincode
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/packets/packet_data_precommit.rs
Labels: pr-feature

#8768 chore(hive): add hive_parquet_chunk_size to enable stream read of parquet
  src/query/settings/src/lib.rs
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/hive/src/hive_table.rs
Labels: pr-chore

#8769 refactor: Use databend-thrift crate instead
  Cargo.lock
  src/query/config/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/storages/hive/hive-meta-store/Cargo.toml
  src/query/storages/hive/hive/Cargo.toml
Labels: pr-refactor

#8770 refactor(aggregator): try fix drop twice states
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_two_level.rs
Labels: pr-refactor

#8722 feat: try to enable more join types in cluster mode
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/util.rs
  tests/logictest/suites/query/join.test
  tests/suites/0_stateless/15_join_with_tpch_data/15_0007_right_anti_join.sql
  tests/suites/0_stateless/15_join_with_tpch_data/15_0008_cross_join.result
  tests/suites/0_stateless/15_join_with_tpch_data/15_0008_cross_join.sql
Labels: pr-feature

#8577 feat(query): support parallel final aggregator
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/thread_pool.rs
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/thread_pool.rs
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/twolevel_hashtable.rs
  src/query/datablocks/src/data_block.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_info.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_single_key.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_twolevel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
Labels: pr-feature

#8773 fix: Bump OpenDAL to 0.19.8
  Cargo.lock
  src/common/storage/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/storages/cache/Cargo.toml
  src/query/storages/fuse/fuse-result/Cargo.toml
  src/query/storages/fuse/fuse/Cargo.toml
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/information-schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/system/Cargo.toml
Labels: pr-bugfix

#8777 feat: add for_each in Column trait
  src/query/datavalues/src/columns/column.rs
  src/query/datavalues/tests/it/columns/array.rs
  src/query/datavalues/tests/it/columns/boolean.rs
  src/query/datavalues/tests/it/columns/object.rs
  src/query/datavalues/tests/it/columns/primitive.rs
  src/query/datavalues/tests/it/columns/string.rs
Labels: pr-feature

#8767 feat: filter() function return remain_columns and deleted_columns for statistics
  src/query/datavalues/src/columns/boolean/mod.rs
  src/query/datavalues/src/columns/primitive/primitive.rs
  src/query/datavalues/tests/it/columns/boolean.rs
  src/query/datavalues/tests/it/columns/primitive.rs
  src/query/datavalues/tests/it/columns/string.rs
Labels: pr-feature

#8774 chore(query): enable max threads for sort transform
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/service/src/pipelines/pipeline_builder.rs
  tests/logictest/suites/base/03_dml/03_0003_select_group_by
Labels: pr-chore

#8783 fix: Bump rust toolchain to fix ICE and incremental build
  Cargo.toml
  rust-toolchain.toml
Labels: pr-bugfix

#8785 chore: Bump arrow-format to fix upstream issues
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#8789 refactor(expr): allow sparse column id in chunk
  src/query/expression/src/chunk.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/common.rs
  src/query/expression/tests/it/kernel.rs
  src/query/functions-v2/benches/bench.rs
  src/query/functions-v2/tests/it/aggregates/mod.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
Labels: pr-refactor

#8796 docs: update connection parameters
  docs/doc/30-reference/30-sql/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#8798 chore: fix typo and skip flaky test
  src/query/service/src/interpreters/fragments/fragmenter.rs
  src/query/service/src/interpreters/fragments/plan_fragment.rs
  src/query/sql/src/executor/physical_plan.rs
  tests/logictest/suites/base/03_dml/03_0011_select_from_system_processes
  tests/logictest/suites/query/join.test
Labels: pr-chore

#8800 feat: add metrics for query detail
  src/common/metrics/src/recorder.rs
  src/meta/client/src/grpc_client.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_metrics.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sessions/metrics.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/session_mgr.rs
  tests/logictest/logictest.py
  tests/logictest/statistics.py
Labels: pr-feature

#8754 feat(function-v2): Add calc domain for comparison.
  src/query/functions-v2/src/scalars/comparison.rs
  src/query/functions-v2/tests/it/scalars/testdata/array.txt
  src/query/functions-v2/tests/it/scalars/testdata/comparison.txt
Labels: pr-feature

#8803 refactor(function): rename FunctionDomain::NoThrow to FunctionDomain::Full
  src/query/expression/src/evaluator.rs
  src/query/expression/src/property.rs
  src/query/functions-v2/src/scalars/arithmetic.rs
  src/query/functions-v2/src/scalars/array.rs
  src/query/functions-v2/src/scalars/boolean.rs
  src/query/functions-v2/src/scalars/comparison.rs
  src/query/functions-v2/src/scalars/datetime.rs
  src/query/functions-v2/src/scalars/math.rs
  src/query/functions-v2/src/scalars/string.rs
  src/query/functions-v2/src/scalars/string_multi_args.rs
  src/query/functions-v2/src/scalars/variant.rs
Labels: pr-refactor

#8799 refactor(query): disable distribute eval index when explain
  src/query/service/src/interpreters/interpreter_explain_v2.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  tests/logictest/suites/crdb/join
  tests/logictest/suites/mode/standalone/explain/fold_count.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/chain.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/logictest/suites/mode/standalone/explain/join_reorder/star.test
  tests/logictest/suites/mode/standalone/explain/nullable_prune.test
  tests/logictest/suites/mode/standalone/explain/prune_column.test
  tests/logictest/suites/mode/standalone/explain/select_limit_offset.test
Labels: pr-refactor

#8679 refactor(storage): compact block
  src/query/catalog/src/table.rs
  src/query/datablocks/src/block_compact_thresholds.rs
  src/query/datablocks/src/data_block.rs
  src/query/datablocks/src/lib.rs
  src/query/datablocks/src/meta_info.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/full_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/mod.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/fuse/fuse-result/src/result_table_sink.rs
  src/query/storages/fuse/fuse-result/src/writer.rs
  src/query/storages/fuse/fuse/src/fuse_table.rs
  src/query/storages/fuse/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/fuse/src/operations/compact.rs
  src/query/storages/fuse/fuse/src/operations/delete.rs
  src/query/storages/fuse/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/fuse/src/operations/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/abort_operation.rs
  src/query/storages/fuse/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/block_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_meta.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_part.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_sink.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_source.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_transform.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/full_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/deletion_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/fuse/src/statistics/accumulator.rs
  src/query/storages/fuse/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/fuse/fuse/src/statistics/reducers.rs
  src/query/storages/table-meta/src/meta/common.rs
  tests/logictest/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-refactor

#8797 docs: user stage
  docs/doc/30-reference/30-sql/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/02-ddl-drop-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/03-ddl-desc-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/04-ddl-list-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/05-ddl-remove-stage.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/06-ddl-show-stages.md
  docs/doc/30-reference/30-sql/00-ddl/40-stage/index.md
Labels: pr-doc

#8746 docs(rfc): update multiple catalog rfc
  docs/doc/60-contributing/03-rfcs/20221017-multiple-catalog.md
Labels: pr-doc

#8810 docs: update optimize compact docs
  docs/doc/30-reference/30-sql/00-ddl/20-table/60-optimize-table.md
Labels: pr-doc

#8814 feat: add shuffle policy for Partitions
  Cargo.lock
  src/query/catalog/Cargo.toml
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/tests/it/main.rs
  src/query/catalog/tests/it/mod.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/catalog/tests/it/testdata/partition-reshuffle.txt
  src/query/service/src/interpreters/fragments/plan_fragment.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/memory_block_part.rs
  src/query/service/src/table_functions/numbers_part.rs
  src/query/service/src/table_functions/numbers_table.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/table_functions/memory_block_part.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/storages/fuse/fuse/src/fuse_lazy_part.rs
  src/query/storages/fuse/fuse/src/fuse_part.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/block_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/compact_part.rs
  src/query/storages/fuse/fuse/src/operations/read_data.rs
  src/query/storages/fuse/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/fuse/src/table_functions/clustering_informations/clustering_information_table.rs
  src/query/storages/fuse/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/hive/hive/src/hive_partition.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/memory/src/memory_part.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/random/src/random_parts.rs
  src/query/storages/random/src/random_table.rs
  src/query/storages/stage/src/stage_parts.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/one_table.rs
  src/query/storages/system/src/table.rs
  src/query/storages/system/src/tracing_table.rs
  tests/logictest/logictest.py
  tests/logictest/statistics.py
Labels: pr-feature

#8811 feat(query): parallel merge for distribute query
  src/query/service/src/api/rpc/exchange/exchange_sink_merge.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_shuffle.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_source.rs
  src/query/service/src/api/rpc/flight_scatter_hash.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
Labels: pr-feature

#8815 feat(http handler): disable result cache.
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/mod.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/query/sized_spsc.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/storages/fuse/fuse-result/src/lib.rs
Labels: pr-feature

#8818 feat(query): support setting default max_memory_usage in config
  docs/doc/13-sql-reference/70-system-tables/system-configs.md
  docs/doc/13-sql-reference/70-system-tables/system-tracing.md
  src/query/config/src/inner.rs
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
Labels: pr-feature

#8821 refactor(function): allow sparse column id for constant folder
  src/query/expression/src/chunk.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/values.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
Labels: pr-refactor

#8806 feat: compact segments in reversed order
  Cargo.lock
  src/common/metrics/src/lib.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/cache/src/cached_reader.rs
  src/query/storages/fuse/fuse/src/io/read/bloom_index_reader.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact_mutator/segment_compact_mutator.rs
  src/query/storages/table-meta/Cargo.toml
  src/query/storages/table-meta/src/caches/metrics.rs
  tests/logictest/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-feature

#8827 ci: disable incremental compilation on dev
  Cargo.toml
Labels: pr-build

#8832 fix(storage): segment duplication during fuse table compaction
  src/query/storages/fuse/fuse/src/operations/append.rs
  src/query/storages/fuse/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_meta.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_part.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_sink.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_source.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/mod.rs
  src/query/storages/fuse/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/fuse/src/operations/recluster.rs
  src/query/storages/fuse/fuse/src/statistics/accumulator.rs
  tests/logictest/suites/base/09_fuse_engine/09_0018_issue_8130
  tests/logictest/suites/base/09_fuse_engine/09_0019_issue_8831
Labels: pr-bugfix

#8826 chore(query): add deserializer new expression
  Cargo.lock
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_into.rs
  src/common/io/Cargo.toml
  src/common/io/src/stat_buffer.rs
  src/query/datablocks/src/kernels/data_block_group_by_hash.rs
  src/query/datavalues/Cargo.toml
  src/query/datavalues/src/types/deserializations/timestamp.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/chunk.rs
  src/query/expression/src/deserializations/array.rs
  src/query/expression/src/deserializations/boolean.rs
  src/query/expression/src/deserializations/date.rs
  src/query/expression/src/deserializations/empty_array.rs
  src/query/expression/src/deserializations/mod.rs
  src/query/expression/src/deserializations/null.rs
  src/query/expression/src/deserializations/nullable.rs
  src/query/expression/src/deserializations/number.rs
  src/query/expression/src/deserializations/string.rs
  src/query/expression/src/deserializations/timestamp.rs
  src/query/expression/src/deserializations/tuple.rs
  src/query/expression/src/deserializations/variant.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/serializations/array.rs
  src/query/expression/src/serializations/boolean.rs
  src/query/expression/src/serializations/date.rs
  src/query/expression/src/serializations/empty_array.rs
  src/query/expression/src/serializations/helper/escape.rs
  src/query/expression/src/serializations/helper/json.rs
  src/query/expression/src/serializations/helper/mod.rs
  src/query/expression/src/serializations/mod.rs
  src/query/expression/src/serializations/null.rs
  src/query/expression/src/serializations/nullable.rs
  src/query/expression/src/serializations/number.rs
  src/query/expression/src/serializations/string.rs
  src/query/expression/src/serializations/timestamp.rs
  src/query/expression/src/serializations/tuple.rs
  src/query/expression/src/serializations/variant.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/number.rs
  src/query/expression/tests/it/main.rs
  src/query/expression/tests/it/serializations/helpers.rs
  src/query/expression/tests/it/serializations/mod.rs
  src/query/formats/Cargo.toml
Labels: pr-chore

#8779 feat(planner): support broadcast join
  docs/doc/14-sql-commands/40-show/show-settings.md
  docs/doc/14-sql-commands/80-setting-cmds/show-settings.md
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/optimizer/distributed/distributed.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/hash_join.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/physical_scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/logictest/suites/mode/cluster/04_0002_explain_v2
  tests/logictest/suites/mode/cluster/broadcast_join.test
Labels: pr-feature

#8835 chore(base): disable runtime block in release binary
  src/common/base/src/base/runtime.rs
Labels: pr-chore

#8836 ci: separate sqllogic test with handler
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/mergify.yml
  .github/workflows/dev-linux.yml
  Makefile
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  scripts/ci/wait_tcp.py
  scripts/setup/dev_setup.sh
  tests/compat/test-compat.sh
  tests/fuse-compat/test-fuse-compat.sh
  tests/fuzz/fuzz.py
  tests/helpers/client.py
  tests/helpers/native_client.py
  tests/helpers/uexpect.py
  tests/logictest/cleanup.py
  tests/logictest/clickhouse_connector.py
  tests/logictest/clickhouse_runner.py
  tests/logictest/complete.py
  tests/logictest/config.py
  tests/logictest/gen_suites.py
  tests/logictest/http_connector.py
  tests/logictest/http_runner.py
  tests/logictest/logictest.py
  tests/logictest/main.py
  tests/logictest/mysql_runner.py
  tests/logictest/regex_type.py
  tests/logictest/statistics.py
  tests/suites/0_stateless/00_dummy/00_0002_dummy_select_py.py
  tests/suites/0_stateless/03_dml/03_0015_insert_into_select2.py
  tests/suites/0_stateless/10_drivers/10_0000_python_mysql_driver.py
  tests/suites/0_stateless/10_drivers/10_0001_python_sqlalchemy_driver.py
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
  tests/suites/0_stateless/20+_others/20_0008_mysql_client_command.py
  tests/suites/1_stateful/00_copy/00_0000_copy_from_stage2.py
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-build

#8805 feat(query): optimize count(Nullable(col))
  src/query/datavalues/src/types/type_nullable.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/logical_get.rs
  src/query/sql/src/planner/plans/logical_join.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/logictest/suites/base/03_dml/03_0032_select_null_count
Labels: pr-feature

#8838 refactor: rename `LogicalInnerJoin` to `LogicalJoin`
  docs/doc/14-sql-commands/90-explain-cmds/explain-memo.md
  docs/doc/14-sql-commands/90-explain-cmds/explain-raw.md
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rule_implement_hash_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/plans/logical_join.rs
  src/query/sql/src/planner/plans/operator.rs
  tests/logictest/suites/mode/standalone/explain/explain_memo.test
Labels: pr-refactor

#8839 docs: update user defiend function link in readme
  README.md
Labels: pr-doc

#8840 docs: fix broken links in readme
  README.md
Labels: pr-doc

#8841 docs: one more broken link
  README.md
Labels: pr-doc

#8481 feat: geo functions
  src/query/functions-v2/src/scalars/geo.rs
  src/query/functions-v2/src/scalars/mod.rs
  src/query/functions-v2/tests/it/scalars/geo.rs
  src/query/functions-v2/tests/it/scalars/mod.rs
  src/query/functions-v2/tests/it/scalars/testdata/function_list.txt
  src/query/functions-v2/tests/it/scalars/testdata/geo.txt
Labels: pr-feature

#8847 chore(base): add bytes len for hash table like
  src/common/hashtable/src/container.rs
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/table1.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/twolevel_hashtable.rs
  src/common/hashtable/src/unsized_hashtable.rs
Labels: pr-chore

#8848 feat(expr): abstract column ref type for RawExpr, Expr, and RemoteExpr
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/lib.rs
Labels: pr-feature

#8851 fix(query): remove useless memcpy when group long string
  src/common/hashtable/src/unsized_hashtable.rs
Labels: pr-bugfix

#8849 chore(query): convert serde_json::Value to jsonb value
  src/common/jsonb/src/from.rs
  src/common/jsonb/src/value.rs
  src/query/expression/src/deserializations/variant.rs
Labels: pr-chore

#8850 fix: snapshot removed unsafely during meta commit failure
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/fuse/src/operations/commit.rs
Labels: pr-bugfix

#8853 feat: add load_file_metadata_expire_hours settings
  docs/doc/14-sql-commands/80-setting-cmds/show-settings.md
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/tests/it/storages/testdata/system-tables.txt
  src/query/settings/src/lib.rs
Labels: pr-feature

#8856 refactor(scheduler): try move from interpreter to schedulers
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/interpreter_explain_v2.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/interpreters/interpreter_select_v2.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/lib.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/mod.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions_display.rs
  src/query/service/src/schedulers/mod.rs
  src/query/service/src/schedulers/scheduler.rs
Labels: pr-refactor

#8858 feat(meta/binary): add cli command to delete a key and to expire a key
  src/binaries/meta/kvapi.rs
  src/meta/service/src/configs/inner.rs
  src/meta/service/src/configs/outer_v0.rs
Labels: pr-feature

#8859 refactor(memory-tracker): remove RuntimeTracker, which is barely a wrapper of Arc of MemoryTracker
  src/binaries/meta/main.rs
  src/binaries/query/main.rs
  src/common/base/src/base/mod.rs
  src/common/base/src/base/runtime.rs
  src/common/base/src/base/runtime_tracker.rs
  src/common/base/src/base/thread.rs
  src/common/base/src/mem_allocator/je_allocator.rs
  src/query/service/src/sessions/session_info.rs
Labels: pr-refactor

#8864 feat(http handler): return num of rows of current page in header.
  src/query/service/src/servers/http/v1/http_query_handlers.rs
Labels: pr-feature
