Repository databendlabs/databend, pull requests merged in 2023-12, with the labels that each got.

#13863 chore(query): rename enable_stage_udf_priv_check
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/system/src/functions_table.rs
  src/query/storages/system/src/stages_table.rs
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
Labels: pr-chore

#13888 chore(planner): Refine explain output of statements
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/format/display_plan.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_ddl.test
Labels: pr-chore

#13892 chore(query): add probe state for slow dump
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: pr-chore

#13895 chore(ci): adjust release changelog
  .github/workflows/release.yml
Labels: pr-chore

#13848 fix: add visit for merge into/update/replace/insert/delete/copy statement
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0032_pr13848.test
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix.test
Labels: pr-bugfix, ci-cloud

#13879 fix(query): fix check join condition with aggregate and window functions
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/table_functions_table.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/query/02_function/02_0061_function_array.test
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-bugfix

#13878 feat(query): support take_ranges
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/mod.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/tests/it/kernel.rs
Labels: pr-feature

#13887 chore(query): add python style list comprehension
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  tests/sqllogictests/suites/query/02_function/02_0069_experimental_expr.test
Labels: pr-chore

#13896 chore: remove old runtime filter
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/mod.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/runtime_filter_connector.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/runtime_filter_source.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_filter.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_runtime_filter_source.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/runtime_filter/mod.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/runtime_filter_source.rs
  tests/sqllogictests/suites/crdb/runtime_filter_join.test
  tests/sqllogictests/suites/query/runtime_filter_join.test
Labels: pr-chore

#13898 chore: new setting `create_rpc_client_with_current_rt`
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/packets/packet_publisher.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#13901 chore: change Result to Option to avoid bring error stack
  src/query/catalog/src/plan/stream_column.rs
  src/query/sql/src/executor/table_read_plan.rs
Labels: pr-chore

#13913 chore(ci): install zig for dev setup
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13914 chore(ci): fix install ziglang for debian
  .github/actions/build_macos/action.yml
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13903 feat: add merge status
  src/common/storage/src/lib.rs
  src/common/storage/src/merge.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0028_distributed_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0032_pr13848.test
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
Labels: pr-feature

#13890 feat: support connection in stage related infer_schema
  .github/actions/test_sqllogic_stage/action.yml
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/infer_schema/table_args.rs
  src/query/sql/src/planner/binder/mod.rs
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
Labels: pr-feature

#13910 fix: Fix source optimized without enable distributed but in clusters environment
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into_separate_pipeline.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0028_distributed_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0032_pr13848.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0033_distributed_merge_into_without_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-bugfix

#13835 feat: iceberg table engine.
  Cargo.lock
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/tests/it/storages/testdata/engines_table.txt
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/presign.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/table_meta/src/table/table_keys.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/storage_factory.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/base/01_system/01_0004_system_engines.test
  tests/sqllogictests/suites/base/06_show/06_0006_show_engines.test
  tests/sqllogictests/suites/query/case_sensitivity/system_table.test
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.result
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.sh
Labels: pr-feature

#13845 fix(query): add some dml prvilege check
  src/meta/app/src/principal/user_stage.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/v025_user_stage.rs
  src/meta/proto-conv/tests/it/v035_user_stage.rs
  src/meta/proto-conv/tests/it/v042_s3_stage_new_field.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/storages/system/src/stages_table.rs
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
Labels: pr-bugfix

#13881 chore: push down sort pipeline to cluster nodes.
  src/query/expression/src/block.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/service/src/api/rpc/exchange/exchange_source.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/sql/src/executor/physical_plans/physical_exchange.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/distributed/distributed.rs
  src/query/sql/src/planner/optimizer/distributed/mod.rs
  src/query/sql/src/planner/optimizer/distributed/sort_and_limit.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/distributed_sort.test
  tests/sqllogictests/suites/mode/cluster/lazy_read.test
Labels: pr-chore

#13923 chore(ast): improve experiment dialect
  src/query/ast/src/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/share.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/experimental-expr.txt
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  tests/sqllogictests/suites/query/column_position.test
Labels: pr-chore

#13922 feat(query): add TransformFilter
  src/query/service/src/pipelines/builders/builder_filter.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_filter.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/evaluator/cse.rs
Labels: pr-feature

#13933 chore(ci): fix install zig
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13927 refactor: abstract `TransformSortMergeBase` to unify merge sort logic.
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_accumulating.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-refactor

#13917 chore: fix generate_series to_timestamp step unit bug
  src/query/service/src/table_functions/srf/range.rs
  tests/sqllogictests/suites/query/02_function/02_0063_function_generate_series.test
Labels: pr-chore

#13916 feat: mask admon_key_id && secret_access_key
  src/query/ast/src/ast/statements/copy.rs
  src/query/service/src/interpreters/interpreter_connection_desc.rs
  src/query/service/src/interpreters/interpreter_connection_show.rs
  tests/sqllogictests/suites/base/05_ddl/05_0033_ddl_connection.test
Labels: pr-feature

#13921 feat: Try to use volo thrift for async support
  Cargo.lock
  src/common/base/Cargo.toml
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/hive/hive/src/lib.rs
  tests/sqllogictests/suites/base/05_ddl/05_0029_ddl_create_catalog.test
Labels: pr-feature

#13931 fix: max_active_session does not work for http handler.
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/servers/http/v1/suggestions.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
Labels: pr-bugfix

#13937 chore: fix lag default arg bug
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/expr_in_window.test
Labels: pr-chore

#13936 fix: wrong use `size_hint` in `concat_columns`
  src/query/expression/src/kernels/concat.rs
Labels: pr-bugfix

#13942 fix: make build and probe hash method consistent in spill
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/spillers/spiller.rs
  tests/sqllogictests/suites/query/spill.test
Labels: pr-bugfix

#13946 fix(query): fix create table tuple default value painc
  src/query/expression/src/evaluator.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#13943 refactor: use LazyLock to replace lazy_static crate
  Cargo.lock
  Cargo.toml
  clippy.toml
  src/common/metrics/Cargo.toml
  src/common/metrics/src/lib.rs
  src/common/metrics/src/metrics/cache.rs
  src/common/metrics/src/metrics/cluster.rs
  src/common/metrics/src/metrics/http.rs
  src/common/metrics/src/metrics/interpreter.rs
  src/common/metrics/src/metrics/mysql.rs
  src/common/metrics/src/metrics/openai.rs
  src/common/metrics/src/metrics/session.rs
  src/common/metrics/src/metrics/storage.rs
  src/common/metrics/src/metrics/transform.rs
  src/common/metrics/src/registry.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/grpc_metrics.rs
  src/meta/client/src/lib.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/ondisk/version_info.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/lib.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/registry.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/common/metrics.rs
  src/query/service/src/lib.rs
  src/query/storages/common/locks/Cargo.toml
  src/query/storages/common/locks/src/lib.rs
  src/query/storages/common/locks/src/lock_metrics.rs
Labels: pr-refactor, ci-benchmark

#13939 fix: fix non-null constraint
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/service/src/test_kits/fixture.rs
  tests/sqllogictests/suites/base/03_common/03_0032_select_null_count.test
  tests/sqllogictests/suites/base/03_common/03_0033_select_list.test
  tests/sqllogictests/suites/base/03_common/03_0034_select_star_columns.test
  tests/sqllogictests/suites/base/03_common/03_0039_insert_into_bitmap.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0004_remote_insert_into_select.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
  tests/sqllogictests/suites/crdb/select.test
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.sh
Labels: pr-bugfix, ci-cloud

#13934 feat(cluster): support compression for query flight data
  src/query/service/src/api/rpc/exchange/exchange_injector.rs
  src/query/service/src/api/rpc/exchange/exchange_params.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature, ci-benchmark

#13951 chore(planner): merge into prune row_id if insert_only
  src/query/sql/src/planner/binder/merge_into.rs
Labels: pr-chore

#13954 fix: build release warning
  Cargo.lock
  src/query/ee/src/test_kits/setup.rs
  src/query/service/src/test_kits/fixture.rs
Labels: pr-bugfix

#13955 feat(planner): support timeout termination for query optimization
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/scheduler.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_group.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/mod.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/memo.rs
Labels: pr-feature

#13958 chore(ci): fix benchmark tpch result
  benchmark/clickbench/tpch/queries.sql
  benchmark/clickbench/update_results.py
Labels: pr-chore

#13948 chore(planner): add tips for wrong usage of semi or anti join
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-chore

#13963 chore: fix runtime ut to tokio::time::sleep in async
  src/common/base/tests/it/runtime.rs
Labels: pr-chore

#13967 chore: bump tokio from 1.26.0 to 1.35.0
  Cargo.lock
  Cargo.toml
  src/bendpy/Cargo.toml
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.sh
Labels: pr-chore, ci-benchmark

#13960 feat: add internal stream columns
  src/query/catalog/src/plan/internal_column.rs
  src/query/expression/src/schema.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_internal_columns.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/internal_column_factory.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/operations/common/processors/fill_internal_columns.rs
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
  tests/suites/5_ee/05_stream/05_0000_ee_stream.result
  tests/suites/5_ee/05_stream/05_0000_ee_stream.sh
Labels: pr-feature, ci-cloud

#13920 chore(query): refactor binder virtual column
  Cargo.lock
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/udf_rewriter.rs
  src/query/sql/src/planner/semantic/virtual_column_rewriter.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0002_ddl_create_drop_virtual_columns.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-chore

#13952 refactor: use LazyLock to replace once_cell::sync::Lazy
  Cargo.lock
  clippy.toml
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/runtime.rs
  src/common/grpc/Cargo.toml
  src/common/grpc/src/dns_resolver.rs
  src/common/grpc/src/lib.rs
  src/meta/client/src/lib.rs
  src/meta/embedded/Cargo.toml
  src/meta/embedded/src/lib.rs
  src/meta/embedded/src/meta_embedded.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/config.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/version.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/db.rs
  src/meta/sled-store/src/lib.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/config.rs
  src/meta/types/src/lib.rs
  src/query/config/Cargo.toml
  src/query/config/src/lib.rs
  src/query/config/src/version.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/lib.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/lib.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/lib.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/util.rs
  src/query/sql/src/lib.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/common/table_meta/src/lib.rs
  src/query/storages/common/table_meta/src/table/table_keys.rs
  src/query/storages/memory/Cargo.toml
  src/query/storages/memory/src/lib.rs
  src/query/storages/memory/src/memory_table.rs
Labels: pr-refactor, ci-benchmark

#13842 refactor: runtime filter
  benchmark/tpch/prepare_table.sh
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/catalog/src/table_context.rs
  src/query/expression/src/block.rs
  src/query/pipeline/sources/src/sync_source.rs
  src/query/profile/src/prof.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_exchange_source.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/fuse/src/fuse_part.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-refactor, ci-benchmark

#13976 chore: enable runtime filter for native datasource
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read_data.rs
Labels: pr-chore

#13973 chore: bincode api to common/io
  Cargo.lock
  src/common/io/src/serialization.rs
  src/common/io/tests/it/main.rs
  src/common/io/tests/it/serialization.rs
  src/query/expression/tests/it/serde.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/tests/it/storages/fuse/meta/serialization_format_compatability.rs
Labels: pr-chore, ci-benchmark

#13977 chore(planner): fix unexpected anti semi wrong table_index
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-chore

#13980 feat: add kill query when extend lock failure
  Cargo.lock
  Cargo.toml
  src/common/metrics/src/lib.rs
  src/common/metrics/src/metrics/lock.rs
  src/common/metrics/src/metrics/mod.rs
  src/query/catalog/src/table.rs
  src/query/service/Cargo.toml
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/lib.rs
  src/query/service/src/locks/lock_holder.rs
  src/query/service/src/locks/lock_manager.rs
  src/query/service/src/locks/mod.rs
  src/query/service/src/locks/table_lock/mod.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/common/locks/Cargo.toml
  src/query/storages/common/locks/src/utils.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/util.rs
  tests/suites/0_stateless/03_dml/03_0016_update_with_lock.result
  tests/suites/0_stateless/03_dml/03_0016_update_with_lock.sh
Labels: pr-feature

#13945 feat(executor): support output query plan profiles to logs
  src/query/catalog/src/table_context.rs
  src/query/pipeline/core/Cargo.toml
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/interpreters/common/compact_hook.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/common/refresh_aggregating_index.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/query_log_table.rs
Labels: pr-feature

#13987 feat(query): add config for query profile log
  src/binaries/metabench/main.rs
  src/binaries/metactl/main.rs
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#13991 fix(query): fix count all in lambda function
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0061_function_array.test
Labels: pr-bugfix

#13989 feat: enable sort spilling when memory reach the limit.
  Cargo.lock
  src/common/metrics/src/metrics/transform.rs
  src/query/expression/src/block.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/spill.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/spillers/spiller.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sql
Labels: pr-feature

#13992 feat: support maximum check
  src/query/service/tests/it/sessions/session_setting.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
Labels: pr-feature

#14001 fix(query): fix incorrect function name of decimal, neq --> noteq
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#14003 chore(ci): workflow for stable release
  .github/workflows/release.yml
Labels: pr-chore

#14007 chore(ci): fix note for stable release
  .github/workflows/release.yml
Labels: pr-chore

#14006 feat(meta): support use id get table/db_name
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: pr-feature

#14005 fix: add better explain for merge into
  src/query/sql/src/planner/format/display_plan.rs
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-bugfix

#14004 feat: show locks
  Cargo.lock
  src/meta/api/Cargo.toml
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/mod.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/lock.rs
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/binder/show.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/locks_table.rs
  tests/sqllogictests/suites/base/06_show/06_0022_show_locks.test
Labels: pr-feature

#13956 fix: query flight rpc connection leaking
  Cargo.lock
  src/common/base/src/base/mod.rs
  src/common/base/src/base/watch_notify.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/range_join/range_join_state.rs
Labels: pr-bugfix, ci-benchmark

#13983 feat(query): Support enable hook to refresh virtual column after insert
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/src/virtual_column/virtual_column_handler.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/ee_features/virtual_column/Cargo.toml
  src/query/ee_features/virtual_column/src/virtual_column.rs
  src/query/service/src/interpreters/common/compact_hook.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/refresh_aggregating_index.rs
  src/query/service/src/interpreters/common/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/interpreters/interpreter_virtual_column_refresh.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/ddl/virtual_column.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
Labels: pr-feature

#14009 fix: fix enable_refresh_virtual_column_after_write range
  src/query/settings/src/settings_default.rs
Labels: pr-bugfix

#13965 feat: add setting to disable clickhouse handler
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0001_clickhouse_http.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.sh
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-feature

#14013 refactor: access KVMeta with methods instead of field
  src/binaries/meta/kvapi.rs
  src/meta/api/src/background_api_impl.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/sm_v002/marked/marked_test.rs
  src/meta/raft-store/src/sm_v002/marked/mod.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/tests/it/state_machine/expire.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/types/src/cmd.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/meta/types/src/seq_value.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/storages/result_cache/src/meta_manager.rs
Labels: pr-refactor

#14015 chore(ci): only publish deb & python binding on stable release
  .github/workflows/release.yml
Labels: pr-chore

#14008 feat: rotating logs
  Cargo.lock
  src/binaries/metabench/main.rs
  src/binaries/metactl/main.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#14002 chore: fix drop_table_by_id fail when TableIdToName cannot found
  src/binaries/metabench/main.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_alter.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
Labels: pr-chore

#14021 chore(planner): minor refactor heuristic optimizer
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/mod.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/mod.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/planner.rs
Labels: pr-chore

#14023 feat(planner): Eliminate unnecessary sort
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_sort.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/cte_scan.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/materialized_cte.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_sort.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-feature

#14032 chore: tmp remove clickhouse http handler test
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0001_clickhouse_http.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0001_clickhouse_http.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0004_http_clickhouse_input_format.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0006_input_format_nullable.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.sh
Labels: pr-chore

#14034 chore: fix test privilege access
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
Labels: pr-chore

#14036 ci: format test not dep on clickhouse handler.
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-build

#14037 fix: remove update expr cast early, use cast after all macthed operations
  src/query/sql/src/planner/plans/update.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-bugfix

#14042 fix: incorrect stats when auto-compaction is hooked
  src/common/base/src/base/progress.rs
  src/query/service/src/interpreters/common/compact_hook.rs
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.sh
Labels: pr-bugfix

#14041 feat: Introduced `MetaSpec` for setting relative expiration
  src/binaries/meta/kvapi.rs
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/tests/it/state_machine/expire.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/types/build.rs
  src/meta/types/proto/request.proto
  src/meta/types/src/cmd/cmd_context.rs
  src/meta/types/src/cmd/meta_spec.rs
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/eval_expire_time.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/meta/types/src/seq_value.rs
  src/meta/types/src/time.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/storages/result_cache/src/meta_manager.rs
Labels: pr-feature

#13997 refactor: using borsh instead of bincode for serde agg function state
  Cargo.lock
  Cargo.toml
  src/common/io/Cargo.toml
  src/common/io/src/bincode_serialization.rs
  src/common/io/src/borsh_serialization.rs
  src/common/io/src/lib.rs
  src/common/io/src/prelude.rs
  src/common/io/tests/it/bincode_serialization.rs
  src/common/io/tests/it/borsh_serialization.rs
  src/common/io/tests/it/main.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/serde.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_state.test
Labels: pr-refactor, ci-benchmark

#14048 chore: simplify txn-op
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
Labels: pr-chore

#14040 feat(query): add decimal round/truncate/ceil/floor function
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/tests/sqlsmith/src/sql_gen/func.rs
  tests/sqllogictests/suites/query/02_function/02_0014_function_maths.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-cloud

#14049 feat: add range for show settings
  src/query/sql/src/planner/binder/show.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
Labels: pr-feature

#14050 fix: multiple otlp loggers conflict
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: pr-bugfix

#14051 chore(executor): use null as root profile parent id
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/profile.rs
Labels: pr-chore, ci-cloud

#14055 chore: reduce tpcds Q2 result set
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-chore

#14052 fix: abort vacuum if there are io execption
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-bugfix

#14058 chore: update doc: since 1.2.258 `ttl` is supported by meta-service
  src/meta/client/src/lib.rs
Labels: pr-chore

#14061 fix: treat change$* as internal columns
  src/query/expression/src/schema.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-bugfix, ci-cloud

#14059 fix: fix get db without DbIdList key
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#14053 chore(tests): add explain for sync agg index
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0002_sync_agg_index_base.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
Labels: pr-chore

#14057 chore(query): refactor decimal scalar functions
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/utils/serialize.rs
  src/query/expression/src/values.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/decimal/arithmetic.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/src/scalars/decimal/comparison.rs
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/src/scalars/decimal/mod.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/comparison.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/storages/parquet/src/parquet_rs/statistics/column.rs
  src/query/storages/parquet/src/parquet_rs/statistics/page.rs
Labels: pr-chore, ci-cloud

#14067 chore(executor): add exchange row and bytes profile
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/processor_profile_table.rs
Labels: pr-chore, ci-benchmark

#14074 fix(query): add missing server_version for query log
  src/query/service/src/interpreters/common/query_log.rs
Labels: pr-bugfix

#14068 fix(query): fix panic when drop UncompressedBuffer
  src/query/storages/fuse/src/io/read/block/decompressor.rs
Labels: pr-bugfix, ci-benchmark

#14038 feat(query): Support show virtual columns
  Cargo.lock
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/virtual_column.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/virtual_column.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/interpreter_virtual_column_alter.rs
  src/query/service/src/interpreters/interpreter_virtual_column_create.rs
  src/query/service/src/interpreters/interpreter_virtual_column_drop.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/virtual_columns_table.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0002_ddl_create_drop_virtual_columns.test
Labels: pr-feature

#14079 chore(query): refactor function params to be scalar
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/src/scalars/decimal/mod.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/src/srfs/variant.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/rule/utils/constant.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#14081 chore: fix typo and refine the merge into status
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/storages/system/src/virtual_columns_table.rs
Labels: pr-chore

#14090 docs: replace the wrong links in README
  README.md
Labels: pr-doc

#14087 chore(query): desugar round/truncate
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/tests/it/scalars/math.rs
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#14078 refactor: refactor error message return for drop table and set options
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_drop_tables.test
  tests/sqllogictests/suites/base/05_ddl/05_0034_ddl_alter_table_set_options_error.test
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
Labels: pr-refactor

#14093 feat: import more join strageties for merge into (new distributed and standalone stargety )
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_deserialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_serialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split_row_number_and_log.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0037_target_build_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0038_target_build_merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-feature

#14098 chore(query): Rename table not allow modify catalog or database
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_rename_table.test
Labels: pr-chore

#13577 feat: tweak auto compaction strategy
  src/query/catalog/src/table_context.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0001_remote_insert.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.sh
Labels: pr-feature

#14101 chore: add more comments for auto compact and remove the settings table goldenfile test
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
Labels: pr-chore

#14097 chore: handle error returned from resolve_data_source()
  src/common/exception/src/exception_code.rs
  src/query/sharing/src/share_endpoint.rs
  src/query/sql/src/planner/binder/table.rs
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
Labels: pr-chore

#14100 ci: add lychee links checker with cache
  .github/workflows/links.yml
  .github/workflows/pr.yml
  .gitignore
  README.md
  benchmark/tpch/README.md
  src/common/README.md
  src/query/README.md
Labels: pr-build

#14107 fix(executor): fix broken profile graph for union all
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
Labels: pr-bugfix, ci-cloud

#14082 chore(query): add log on slow http query request
  src/common/metrics/src/metrics/http.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
Labels: pr-chore

#14091 chore: the final merge sort run outputs blocks directly.
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
Labels: pr-chore

#14096 chore(query): improve concat boolean types
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/utils.rs
Labels: pr-chore

#14109 chore(query): round the results for decimal division
  src/query/functions/src/scalars/decimal/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore, ci-cloud

#14114 chore: refine enable_compact_after_write, enable_recluster_after_write need deprecated
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into.test
Labels: pr-chore, C-setting-changed

#14116 chore: rename `CompactOptions::limit` to `num_segment_limit`
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
Labels: pr-chore

#14115 chore: add limit for compact hook
  src/query/service/src/interpreters/hook/compact_hook.rs
Labels: pr-chore

#14117 chore: remove the compact hook warn message and rename auto_compaction_threshold to auto_compaction_imperfect_blocks_threshold
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0001_remote_insert.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
Labels: pr-chore

#14123 chore: remove flaky test(cluster) in 01_0013_system_metrics.test
  tests/sqllogictests/suites/base/01_system/01_0013_system_metrics.test
Labels: pr-chore

#14121 chore(planner): support enumerating required properties
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/plans/add_row_number.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/cte_scan.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/materialized_cte.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/pattern.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/sql/src/planner/plans/window.rs
Labels: pr-chore

#14128 docs: add compatibility to meta/README.md
  src/meta/README.md
  src/meta/proto-conv/tests/it/v002_share_account_meta.rs
  src/meta/proto-conv/tests/it/v002_share_meta.rs
  src/meta/proto-conv/tests/it/v002_table_meta.rs
  src/meta/proto-conv/tests/it/v005_database_meta.rs
  src/meta/proto-conv/tests/it/v005_share_meta.rs
  src/meta/proto-conv/tests/it/v006_copied_file_info.rs
  src/meta/proto-conv/tests/it/v010_table_meta.rs
  src/meta/proto-conv/tests/it/v012_table_meta.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
  src/meta/proto-conv/tests/it/v024_table_meta.rs
  src/meta/proto-conv/tests/it/v026_schema.rs
  src/meta/proto-conv/tests/it/v027_schema.rs
  src/meta/proto-conv/tests/it/v028_schema.rs
  src/meta/proto-conv/tests/it/v029_schema.rs
  src/meta/proto-conv/tests/it/v033_table_meta.rs
  src/meta/proto-conv/tests/it/v034_schema.rs
  src/meta/proto-conv/tests/it/v038_empty_proto.rs
  src/meta/proto-conv/tests/it/v039_data_mask.rs
  src/meta/proto-conv/tests/it/v040_table_meta.rs
  src/meta/proto-conv/tests/it/v044_table_meta.rs
  src/meta/proto-conv/tests/it/v045_background.rs
  src/meta/proto-conv/tests/it/v048_background.rs
  src/meta/proto-conv/tests/it/v049_network_policy.rs
  src/meta/proto-conv/tests/it/v050_user_info.rs
  src/meta/proto-conv/tests/it/v051_obs_and_cos_storage.rs
  src/meta/proto-conv/tests/it/v057_hdfs_storage.rs
  src/meta/proto-conv/tests/it/v058_udf.rs
  src/meta/proto-conv/tests/it/v063_connection.rs
  src/meta/service/tests/it/tests/service.rs
Labels: pr-doc

#14130 refactor: refine if enable join spill
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: pr-refactor

#14104 feat: create function support lambda
  src/query/sql/src/planner/udf_validator.rs
  tests/sqllogictests/suites/base/05_ddl/05_0010_ddl_create_udf.test
Labels: pr-feature

#14122 chore(ast): support expr in the position of function parameter
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/math.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/sql/src/executor/physical_plans/physical_eval_scalar.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/udf_validator.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
Labels: pr-chore

#14105 fix(query): add udf name(in meta) into UdfServerCall
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
Labels: pr-bugfix

#14086 fix: select stream limit get error
  src/query/catalog/src/table.rs
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/parquet/src/parquet2/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/stream/src/stream_pruner.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-bugfix, ci-cloud

#14133 chore: improve the error message by GPT4
  src/common/base/src/base/stop_handle.rs
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/src/cursor_ext/cursor_read_number_ext.rs
  src/common/storage/src/stage.rs
  src/meta/app/src/principal/user_stage.rs
  src/query/catalog/src/table.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/system/src/password_policies_table.rs
  tests/sqllogictests/suites/base/00_dummy/00_0000_dummy_select_1.test
  tests/sqllogictests/suites/base/20+_others/20_0014_result_scan.test
  tests/sqllogictests/suites/stage/formats/csv/csv_select.test
  tests/sqllogictests/suites/stage/formats/tsv/tsv_select.test
  tests/sqllogictests/suites/stage/select_star.test
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.result
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.result
Labels: pr-chore

#14065 refactor: integrate `HeapMerger` to `TransformMultiSortMerge`.
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
Labels: pr-refactor, ci-benchmark

#14131 feat: make Top-N sort can be spilled.
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sql
Labels: pr-feature

#14136 chore(expr): cleanup code for kernels/group_by
  src/query/expression/src/kernels/group_by.rs
Labels: pr-chore

#14146 chore: remove the unused setting:enable_recluster_after_write
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#14141 feat: support to build DAG on task DDL
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_utils.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/common/task.rs
  src/query/service/src/interpreters/interpreter_task_alter.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/tasks_table.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/cloud_control_server/task_pb2_grpc.py
  tests/cloud_control_server/testdata/taskruns/task_run_child.json
  tests/cloud_control_server/testdata/tasks/sample1_child.json
  tests/sqllogictests/suites/task/task_dag_test.test
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-feature

#14147 chore(query): virtual columns not pushdown if not created
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/semantic/virtual_column_rewriter.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
Labels: pr-chore

#14140 refactor: make sync agg index default
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0001_agg_index_projected_scan.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0002_sync_agg_index_base.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
Labels: pr-refactor

#14154 refactor: delegate backoff handling to Openraft
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/network.rs
Labels: pr-refactor

#14157 fix: hash join hang
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: pr-bugfix

#13978 feat: Bump OpenDAL to v0.43.0
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
  src/common/storage/src/stage.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/sharing/src/layer.rs
Labels: pr-feature, ci-benchmark

#14160 fix(query): ownership only support grant or revoke to role
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix

#14161 refactor: move to meta-service handshake into pool
  src/binaries/metactl/grpc.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/kvapi/src/kvapi/message.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_handshake.rs
  src/meta/types/src/errors/meta_client_errors.rs
Labels: pr-refactor

#14092 chore: remove the static filter for merge into
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0033_distributed_merge_into_without_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-chore

#14142 feat(expr): add Binary type
  src/common/arrow/src/native/write/serialize.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v070_binary_type.rs
  src/meta/protos/proto/datatype.proto
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/convert_arrow_rs/schema/from_table_schema.rs
  src/query/expression/src/converts/to.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/property.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-feature

#14170 chore: remove onlyif mysql in tests
  tests/sqllogictests/suites/query/spill.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-chore

#14164 refactor: build_block method
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
Labels: pr-refactor

#14173 chore(executor): add error when dump running graph
  src/query/service/src/pipelines/executor/processor_async_task.rs
Labels: pr-chore

#14163 refactor(planner): Correct usage of exchange operator
  src/query/service/src/api/rpc/exchange/data_exchange.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/mod.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into.rs
  src/query/sql/src/executor/physical_plans/physical_exchange.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/sqllogictests/suites/crdb/limit.test
  tests/sqllogictests/suites/mode/cluster/distributed_compact.sql.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/limit.test
  tests/sqllogictests/suites/query/union.test
Labels: pr-refactor, ci-benchmark

#14166 fix: trim block metas pruned by runtime filter
  .github/actions/test_sqllogic_standalone_linux_minio/action.yml
  .github/workflows/reuse.sqllogic.yml
  scripts/ci/ci-run-sqllogic-tests-minio.sh
  scripts/ci/ci-run-sqllogic-tests-native-minio.sh
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
  src/query/storages/fuse/src/operations/read/data_source_with_meta.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  tests/sqllogictests/suites/query/issues/issue_14165.test
Labels: pr-bugfix

#14113 fix(expr): fix cast map column validity during evaluation
  src/query/expression/src/evaluator.rs
Labels: pr-bugfix

#14180 chore(executor): add tests for schedule queue
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
Labels: pr-chore

#14177 fix(query): fix parse string to JSON value
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_cast_schema.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  tests/data/parquet/json_string.parquet
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_field_types.test
Labels: pr-bugfix

#14183 fix(executor): fix broken query profiling graph
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-bugfix, ci-cloud

#14158 fix(query): fix cast domain values did not perform rounding operation
  src/query/functions/src/scalars/arithmetic.rs
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-bugfix

#14112 feat(rbac): treat the empty ownership as owned by ACCOUNT_ADMIN instead of PUBLIC
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/0_stateless/18_rbac/20_0015_set_role.sh
  tests/suites/0_stateless/18_rbac/20_0016_rewrite_statements.result
  tests/suites/0_stateless/18_rbac/20_0016_rewrite_statements.sh
Labels: pr-bugfix, pr-feature

#14186 chore: rename hash join probe state name
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: pr-chore

#13993 feat: support more runtime filter types
  Cargo.lock
  src/common/hashtable/src/lib.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/lib.rs
  src/query/catalog/src/runtime_filter_info.rs
  src/query/catalog/src/table_context.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/hash_join/build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-benchmark

#14185 feat: add stream_status http api
  src/query/service/src/api/http/v1/mod.rs
  src/query/service/src/api/http/v1/stream_status.rs
  src/query/service/src/api/http_service.rs
Labels: pr-feature
