Repository databendlabs/databend, pull requests merged in 2023-10, with the labels that each got.

#13084 chore: simplify names
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
Labels: pr-chore

#13085 refactor: it has to get a consistent view of the state machine when exporting meta-service data
  src/meta/service/src/store/store.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/store.rs
Labels: pr-refactor

#13087 refactor: add local request-id to grpc-request
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/message.rs
Labels: pr-refactor

#13090 chore: simplify error handling in export()
  src/meta/service/src/store/store_inner.rs
  src/meta/stoerr/src/meta_storage_errors.rs
Labels: pr-chore

#13086 docs(weekly): add this week in databend 113
  website/blog/2023-10-01-databend-weekly-113.md
  website/static/img/blog/weekly/weekly-113.jpg
Labels: pr-doc

#12998 chore(storage): compact add metrics and change future
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
Labels: pr-chore, ci-cloud

#13089 feat(query): support DATABEND_DATA_PATH in bendpy and bend-local
  src/bendpy/src/lib.rs
  src/query/service/src/local/mod.rs
Labels: pr-feature

#13093 chore(ci): maximize build space for python binding
  .github/workflows/bindings.python.yml
Labels: pr-chore

#13045 feat: improve parallel run for merge into
  benchmark/clickbench/benchmark_local_merge_into.sh
  benchmark/clickbench/merge_into/queries.sql
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/split_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
Labels: pr-feature

#13074 fix: fix nested decimal read and write
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-bugfix

#13097 refactor: meta-service: re-implement export with Stream
  Cargo.lock
  Cargo.toml
  src/binaries/metactl/snapshot.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/lib.rs
  src/meta/service/src/store/store.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#13099 chore: remove unused type ExportStream; Stream does not need to be Sync
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
Labels: pr-chore

#13095 chore: refactor `pushdown::TopK`.
  src/query/catalog/src/plan/pushdown.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/parquet/src/parquet2/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet2/pruning.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/predicate_and_topk.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/topk_only.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/topk.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
Labels: pr-chore

#12995 fix:full outer join with string_agg function panic
  src/query/functions/src/scalars/string_multi_args.rs
  tests/sqllogictests/suites/query/02_function/02_0052_function_string_regexp_substr
Labels: pr-bugfix

#13019 fix: check unresolvable schema mismatch early in replace into
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-bugfix

#13098 chore: add more metrics for merge into
  src/common/storage/src/metrics/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split.rs
Labels: pr-chore

#13106 chore: add trait AsMap to get a handle of `MapApi<K>` for a specific type `K`
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
Labels: pr-chore

#13112 chore: clean up useless comment about unused state-machine-id
  src/meta/raft-store/src/key_spaces.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/store.rs
Labels: pr-chore

#13113 chore(ci): update build timeout to 60min
  .github/workflows/cloud.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#13105 chore: drop useless prefetched columns at once.
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/predicate_and_topk.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/topk_only.rs
Labels: pr-chore

#13116 chore: use cargo quickinstall for check tools
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13117 chore: use cargo quickinstall for check tools
  scripts/setup/dev_setup.sh
  scripts/setup/rust-tools.txt
Labels: pr-chore

#13120 docs: merge into
  docs/doc/14-sql-commands/10-dml/dml-merge.md
  docs/public/img/sql/merge-into-multi-clause.png
  docs/public/img/sql/merge-into-single-clause.png
Labels: pr-doc

#13102 fix: fix predicate cast bug
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-bugfix

#13103 refactor(query): vectorized hash join
  src/common/hashtable/src/hashjoin_hashtable.rs
  src/common/hashtable/src/hashjoin_string_hashtable.rs
  src/common/hashtable/src/traits.rs
  src/query/expression/src/kernels/group_by.rs
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: ci-benchmark

#13114 chore: rename StaticLeveledMap to StaticLevels; refactor Marked::new_xxx()
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/mod.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
  src/meta/raft-store/src/sm_v002/leveled_store/static_levels.rs
  src/meta/raft-store/src/sm_v002/marked/marked_test.rs
  src/meta/raft-store/src/sm_v002/marked/mod.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
Labels: pr-chore

#13119 docs: update dml to short
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
  docs/doc/14-sql-commands/10-dml/dml-insert.md
  docs/doc/14-sql-commands/10-dml/dml-replace.md
Labels: pr-doc

#12928 refactor(query): improve hash join
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/types.rs
  src/query/expression/tests/it/common.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#13101 chore: Arrow field support extension types
  src/query/expression/src/convert_arrow_rs/schema/from_data_schema.rs
  src/query/expression/src/convert_arrow_rs/schema/from_table_schema.rs
Labels: pr-chore

#13126 fix: fix hung of merge into
  benchmark/clickbench/merge_into/create_local.sql
  benchmark/clickbench/merge_into/load.sql
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
Labels: pr-bugfix

#13132 docs: update rust example
  docs/doc/03-develop/04-rust.md
Labels: pr-doc

#13131 fix(metrics): avoid leaking meta_client's error messages into metrics
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/grpc_metrics.rs
  src/meta/stoerr/src/meta_storage_errors.rs
  src/meta/types/src/errors/meta_api_errors.rs
  src/meta/types/src/errors/meta_client_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/errors/meta_network_errors.rs
Labels: pr-bugfix

#13100 fix: allow comma seperated connection option
  src/query/ast/src/ast/ast.rs
  src/query/ast/src/ast/statements/catalog.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  tests/sqllogictests/suites/base/05_ddl/05_0019_ddl_create_view
Labels: pr-bugfix

#13122 feat: add copy option return_failed_only.
  src/meta/app/src/principal/user_stage.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v025_user_stage.rs
  src/meta/proto-conv/tests/it/v030_user_stage.rs
  src/meta/proto-conv/tests/it/v031_copy_max_file.rs
  src/meta/proto-conv/tests/it/v035_user_stage.rs
  src/meta/proto-conv/tests/it/v042_s3_stage_new_field.rs
  src/meta/proto-conv/tests/it/v051_obs_and_cos_storage.rs
  src/meta/proto-conv/tests/it/v057_hdfs_storage.rs
  src/meta/proto-conv/tests/it/v060_copy_options.rs
  src/meta/protos/proto/stage.proto
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/plans/copy.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage
  tests/sqllogictests/suites/base/06_show/06_0011_show_stages
  tests/sqllogictests/suites/stage/options/return_failed_only
Labels: pr-feature

#12955 chore: use nextest in CI
  .config/nextest.toml
  .github/actions/test_unit/action.yml
Labels: pr-chore

#13124 refactor: generalize compacted_get() and compacted_range()
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
Labels: pr-refactor

#13137 fix: update golden file
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix

#13138 refactor: fetch table metas in small chunks
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
Labels: pr-refactor

#13104 refactor: refactor apply_cse by using cached expr
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/lib.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/evaluator/mod.rs
  src/query/sql/tests/block_operator.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-refactor

#13026 feat(sqlsmith): add reduce query
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#13140 docs: add copy option return_failed_only.
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#13144 fix: fix_null_cast_bug
  src/query/sql/src/planner/plans/update.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-bugfix

#13143 fix: Rollback to warning instead of hard error when stage region is missing
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#13055 docs: use comma to separate connection parameters
  docs/doc/12-load-data/00-transform/05-querying-stage.md
  docs/doc/13-sql-reference/51-connect-parameters.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#13147 refactor: creating 30,000 tables may timeout unit test, reduce it to DEFAULT_MGET_SIZE+20
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
Labels: pr-refactor

#13142 docs: merge into updates
  docs/doc/14-sql-commands/10-dml/dml-merge.md
  docs/public/img/sql/merge-into-multi-clause.jpeg
  docs/public/img/sql/merge-into-multi-clause.png
  docs/public/img/sql/merge-into-single-clause.jpeg
  docs/public/img/sql/merge-into-single-clause.png
Labels: pr-doc

#13011 chore: enable auto compact for non-clustered table & disable dist-compact by default
  src/query/service/src/interpreters/common/compact_hook.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.sh
Labels: pr-chore

#13146 docs: build_bitmap updates
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#13125 refactor: using column name instead of column id for agg index schema
  src/query/service/src/interpreters/interpreter_index_refresh.rs
Labels: pr-refactor

#13145 chore: add replace metrics
  src/common/storage/src/metrics/merge_into.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
Labels: pr-chore, ci-cloud

#13149 refactor(query): tables created_on and dropped_on modify to ts type
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/tables_table.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/base/06_show/06_0008_show_table_status
  tests/sqllogictests/suites/base/12_time_travel/12_0001_system_tables_with_dropped_on
  tests/sqllogictests/suites/base/20+_others/20_0000_describe_table
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.result
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.result_filter
Labels: pr-refactor

#13077 fix: make bitmap to vairiant more understandable
  src/query/expression/src/types/variant.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json
Labels: pr-bugfix

#13158 fix(query): fix show user err: auth_string column not fount
  docs/doc/14-sql-commands/00-ddl/30-user/01-user-create-user.md
  docs/doc/14-sql-commands/00-ddl/30-user/02-user-show-users.md
  docs/doc/14-sql-commands/00-ddl/30-user/03-user-alter-user.md
  docs/doc/14-sql-commands/40-show/show-users.md
  src/query/sql/src/planner/binder/binder.rs
  src/query/storages/system/src/users_table.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables
Labels: pr-bugfix

#13136 chore: reduce duplicate column bindings for aggregate functions.
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: pr-chore, ci-benchmark

#13036 chore: draw merge into pipeline
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/storages/fuse/src/operations/merge.rs
Labels: pr-chore

#13166 chore: move meta-service impl out of trait implementation
  src/meta/service/src/api/grpc/grpc_service.rs
Labels: pr-chore

#13169 fix: Image reduction bug
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Labels: pr-bugfix

#13162 ci: add sqlogictest about SHOW USERS
  tests/sqllogictests/suites/base/05_ddl/05_0004_ddl_create_user
  tests/sqllogictests/suites/base/06_show/06_0016_show_users
Labels: pr-build

#13171 fix(users): enable system.users table again
  src/query/service/src/databases/system/system_database.rs
Labels: pr-bugfix

#13179 fix: not only count aggregation function in subquery
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-bugfix

#13173 feat(query): add func: to_week_of_year
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-feature

#13182 chore(ci): add job ready for merge check
  .github/workflows/dev.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-chore

#13183 fix: CopyIntoTablePlan should in Box.
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-bugfix

#13186 chore(ci): fix pr check for merge group
  .github/workflows/pr.yml
  .github/workflows/reuse.linux.yml
  scripts/setup/rust-tools.txt
Labels: pr-chore

#13180 chore: minor refine to raft service impl
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/metrics/meta_metrics.rs
Labels: pr-chore

#13189 chore(ci): add ready check for docs
  .github/workflows/bindings.python.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  README.md
Labels: pr-chore

#13187 docs(weekly): add this week in databend 114
  website/blog/2023-10-08-databend-weekly-114.md
  website/static/img/blog/weekly/weekly-114.jpg
Labels: pr-doc

#13163 fix: fix name with `
  src/query/sql/src/planner/binder/project.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-bugfix

#13153 chore(query): refactor agg state merge
  src/query/expression/src/utils/block_debug.rs
  src/query/expression/tests/it/block.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_combinator_state.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_function.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_cell.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
Labels: pr-chore, ci-benchmark

#13152 feat: generate sync agg indexes after copy into
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/src/interpreters/common/refresh_aggregating_index.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
Labels: pr-feature

#13195 docs: TO_WEEK_OF_YEAR
  docs/doc/15-sql-functions/30-datetime-functions/toweekofyear.md
Labels: pr-doc

#13168 docs: bitmap_not + to_variant()
  docs/doc/15-sql-functions/05-bitmap-functions/index.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#13191 refactor: move extension protobuf methods to separate file
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_ext/mod.rs
  src/meta/types/src/proto_ext/txn_ext.rs
Labels: pr-refactor

#13188 docs(ekuiper): add iot stream data with ekuiper
  website/blog/2023-10-09-databend-and-ekuiper.md
  website/static/img/blog/ekuiper/databend-and-ekuiper-1.PNG
  website/static/img/blog/ekuiper/databend-and-ekuiper-2.PNG
  website/static/img/blog/ekuiper/databend-and-ekuiper-3.PNG
  website/static/img/blog/ekuiper/databend-and-ekuiper-4.PNG
  website/static/img/blog/ekuiper/databend-and-ekuiper-5.PNG
  website/static/img/blog/ekuiper/databend-and-ekuiper-6.PNG
Labels: pr-doc

#13161 docs: copy into location updates
  docs/doc/14-sql-commands/10-dml/dml-copy-into-location.md
  docs/public/img/sql/copy-into-bucket.png
Labels: pr-doc

#13192 chore: disable tpch q3 explain
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#13165 fix: fix the invalid memory write bug for aggregating index.
  src/query/ee/tests/it/aggregating_index/index_scan.rs
Labels: pr-bugfix

#13154 feat: add json_each & json_array_elements
  Cargo.lock
  Cargo.toml
  src/query/functions/src/srfs/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0065_function_json
Labels: pr-feature

#13204 chore: enable cluster tpch test
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#13201 refactor(planner): refine physical plan file structure
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/common.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_expand.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/sql/src/executor/physical_plans/physical_async_source.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/sql/src/executor/physical_plans/physical_compact_partial.rs
  src/query/sql/src/executor/physical_plans/physical_constant_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into.rs
  src/query/sql/src/executor/physical_plans/physical_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_deduplicate.rs
  src/query/sql/src/executor/physical_plans/physical_delete_partial.rs
  src/query/sql/src/executor/physical_plans/physical_distributed_insert_select.rs
  src/query/sql/src/executor/physical_plans/physical_eval_scalar.rs
  src/query/sql/src/executor/physical_plans/physical_exchange.rs
  src/query/sql/src/executor/physical_plans/physical_exchange_sink.rs
  src/query/sql/src/executor/physical_plans/physical_exchange_source.rs
  src/query/sql/src/executor/physical_plans/physical_filter.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join.rs
  src/query/sql/src/executor/physical_plans/physical_lambda.rs
  src/query/sql/src/executor/physical_plans/physical_limit.rs
  src/query/sql/src/executor/physical_plans/physical_materialized_cte.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_project.rs
  src/query/sql/src/executor/physical_plans/physical_project_set.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/executor/physical_plans/physical_refresh_index.rs
  src/query/sql/src/executor/physical_plans/physical_replace_into.rs
  src/query/sql/src/executor/physical_plans/physical_row_fetch.rs
  src/query/sql/src/executor/physical_plans/physical_runtime_filter_source.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/executor/profile.rs
Labels: pr-refactor

#13075 feat(function):GREATEST and LEAST function
  src/query/functions/src/scalars/array.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0066_function_greatest
Labels: pr-feature

#13212 chore: remove explain join estimated_rows
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#13209 refactor: http handler returns the same duration as query_log.
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-refactor

#13196 feat(query): support date_part function
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/base/20+_others/20_0001_planner
Labels: pr-feature

#13202 feat: make query param in task list api optional
  src/query/service/src/api/http/v1/background_tasks.rs
  tests/suites/6_background/00_target_tables/00_0000_target_tables.result
  tests/suites/6_background/00_target_tables/00_0000_target_tables.sh
Labels: pr-feature

#13197 feat: pb::SeqV should contain KvMeta as SeqV does
  docs/public/img/deploy/compatibility.excalidraw.png
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/types/build.rs
  src/meta/types/proto/request.proto
  src/meta/types/src/proto_ext/mod.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
Labels: pr-feature, pr-chore

#13176 refactor(rbac): extract privilege manager
  Cargo.lock
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_role_drop.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/users/src/lib.rs
  src/query/users/src/visibility_checker.rs
Labels: pr-refactor

#13064 refactor(query): rewrite avg function and fold count
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_aggregate_types_scalar.test
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/query/aggregate.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-refactor, ci-benchmark

#13220 docs: LEAST and GREATEST functions
  docs/doc/15-sql-functions/11-conditional-functions/index.md
Labels: pr-doc

#13219 chore: update meta-query compatibility doc
  docs/public/img/deploy/compatibility.excalidraw.png
  src/meta/client/src/lib.rs
Labels: pr-chore

#13211 chore: adjust heap without any popping or pushing.
  src/query/pipeline/transforms/src/lib.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/cursor.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
Labels: pr-chore, ci-benchmark

#13213 chore(query): refine hash join bitmap and support fast path for datablock take
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
Labels: pr-chore, ci-benchmark

#13224 chore: disable spill test
  tests/sqllogictests/suites/query/spill.test
Labels: pr-chore

#13221 chore: move grpc helper functions to GrpcHelper
  src/meta/service/src/grpc_helper.rs
  src/meta/service/src/lib.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
Labels: pr-chore

#13208 fix: fix predicate_index and not matched null cast
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-bugfix, ci-cloud

#13210 fix: compact limit get no affect rows
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-bugfix

#13225 chore(ci): build python binding with self hosted runner
  .github/actions/build_bindings_python/action.yml
  .github/workflows/bindings.python.yml
  .github/workflows/dev.yml
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13226 chore(ci): fix build tool binstall arg
  .github/actions/setup_bendsql/action.yml
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13218 docs: aggregating index
  docs/doc/02-enterprise/10-enterprise-features.md
  docs/doc/14-sql-commands/00-ddl/103-aggregating-index/_category_.json
  docs/doc/14-sql-commands/00-ddl/103-aggregating-index/create-aggregating-index.md
  docs/doc/14-sql-commands/00-ddl/103-aggregating-index/drop-aggregating-index.md
  docs/doc/14-sql-commands/00-ddl/103-aggregating-index/index.md
  docs/doc/14-sql-commands/00-ddl/103-aggregating-index/refresh-aggregating-index.md
  docs/doc/15-sql-functions/30-datetime-functions/toweekofyear.md
Labels: pr-doc

#13118 feat: replace support delete only when matched
  src/query/ast/src/ast/statements/replace.rs
  src/query/ast/src/parser/statement.rs
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_deduplicate.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/replace.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_unbranched_replace_into.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
Labels: pr-feature

#13230 chore(ci): fix publishing python binding to pypi
  .github/workflows/bindings.python.yml
Labels: pr-chore

#13227 chore(query): improve list udf error
  src/query/management/src/udf/udf_mgr.rs
Labels: pr-chore

#13229 feat: speed up iejoin
  src/query/service/src/pipelines/processors/transforms/range_join/range_join_state.rs
Labels: pr-feature

#13232 fix(planner): fix push down filter through eval scalar
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/sort.test
Labels: pr-bugfix, A-planner

#13231 feat: add alter table sql smith impl
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
Labels: pr-feature

#13234 fix: fix some bugs of refresh agg index
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Labels: pr-bugfix

#13248 chore: Revert "refactor: refactor apply_cse by using cached expr"
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/lib.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/evaluator/mod.rs
  src/query/sql/tests/block_operator.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-chore

#13252 docs: datetime functions
  docs/doc/15-sql-functions/30-datetime-functions/date_part.md
  docs/doc/15-sql-functions/30-datetime-functions/extract.md
  docs/doc/15-sql-functions/30-datetime-functions/toquarter.md
Labels: pr-doc

#12996 fix: cast float64 to decimal panic #12910
  src/query/expression/src/types/decimal.rs
  src/query/expression/tests/it/decimal.rs
  tests/sqllogictests/suites/query/02_function/02_0066_function_try_to_decimal
Labels: pr-bugfix

#13247 fix: fix compact lock
  src/query/service/src/interpreters/interpreter_merge_into.rs
Labels: pr-bugfix

#13243 feat(sqlsmith): support delete and update
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
Labels: pr-feature

#13250 fix: add missing functions for `show functions`
  Cargo.lock
  src/query/ast/src/ast/expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/functions_table.rs
Labels: pr-bugfix

#13249 chore: change benchmark result to server time
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/benchmark_local_merge_into.sh
Labels: pr-chore

#13256 feat(sqlsmith): Support generate cast expr
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: pr-feature

#12856 fix(cluster): try fix cluster hang in bench
  src/query/pipeline/core/src/processors/port.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/sources/src/async_source.rs
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
Labels: pr-bugfix, ci-benchmark

#13257 refactor: extract request handling to Handler and Forwarder
  src/common/grpc/src/client_conf.rs
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/lib.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/forwarder.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/meta_service/mod.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/request_handling.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/query/config/src/inner.rs
Labels: pr-refactor

#13260 chore: restructure mod `group_by_hash`.
  src/query/expression/src/kernels/group_by_hash/method.rs
  src/query/expression/src/kernels/group_by_hash/method_dict_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/kernels/group_by_hash/method_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_single_string.rs
  src/query/expression/src/kernels/group_by_hash/mod.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
Labels: pr-chore, ci-benchmark

#13240 chore(query): improve concat
  src/query/expression/src/kernels/concat.rs
  src/query/storages/common/index/src/bloom_index.rs
Labels: pr-chore, ci-benchmark

#13263 chore: refine concat
  src/query/expression/src/kernels/concat.rs
Labels: pr-chore

#13265 chore: remove useless type param from kv_api
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
Labels: pr-chore

#13259 fix: update panic when contain window func
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/sql/src/planner/binder/update.rs
  tests/sqllogictests/suites/base/03_common/03_0035_update
  tests/sqllogictests/suites/duckdb/issues/monetdb/test_correlated_update.test
Labels: pr-bugfix

#13251 feat: add alter table sql smith impl
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
Labels: pr-feature

#13273 docs: sql identifiers updates
  docs/doc/13-sql-reference/40-sql-identifiers.md
  docs/doc/15-sql-functions/30-datetime-functions/date_part.md
  docs/doc/15-sql-functions/30-datetime-functions/extract.md
Labels: pr-doc

#13268 chore: using loop to impl retry for meta-grpc client kv_api()
  src/meta/client/src/grpc_client.rs
Labels: pr-chore

#13264 feat: add table function fuse_encoding
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/expression/src/schema.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/fuse/src/table_functions/fuse_encodings/fuse_encoding.rs
  src/query/storages/fuse/src/table_functions/fuse_encodings/fuse_encoding_table.rs
  src/query/storages/fuse/src/table_functions/fuse_encodings/mod.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions
  tests/sqllogictests/suites/base/09_fuse_engine/09_0027_func_fuse_encoding
Labels: pr-feature

#13039 fix: resolve push down's expr using DataSchema
  src/query/catalog/src/plan/pushdown.rs
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_eval_scalar.rs
  src/query/sql/src/executor/physical_plans/physical_exchange.rs
  src/query/sql/src/executor/physical_plans/physical_filter.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_lambda.rs
  src/query/sql/src/executor/physical_plans/physical_project_set.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/executor/physical_plans/physical_runtime_filter_source.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/query/issues/issue_12945.test
Labels: pr-bugfix

#13278 chore: refactor meta grpc service
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
Labels: pr-chore

#13271 fix: do not reuse expr when function are if
  src/query/sql/src/evaluator/cse.rs
  tests/sqllogictests/suites/base/issues/issue_13269.test
Labels: pr-bugfix

#13276 chore: Bump OpenDAL to v0.41
  Cargo.lock
  Cargo.toml
Labels: pr-chore, ci-benchmark

#12878 feat(planner): add predicate simplifer supported by z3 prover
  Cargo.lock
  src/query/constraint/Cargo.toml
  src/query/constraint/benches/bench.rs
  src/query/constraint/src/declare.rs
  src/query/constraint/src/lib.rs
  src/query/constraint/src/mir.rs
  src/query/constraint/src/prelude.rs
  src/query/constraint/src/problem.rs
  src/query/constraint/src/simplify.rs
  src/query/constraint/tests/it/declare.rs
  src/query/constraint/tests/it/main.rs
  src/query/constraint/tests/it/parser.rs
  src/query/constraint/tests/it/problem.rs
  src/query/constraint/tests/it/simplify.rs
  src/query/constraint/tests/it/testdata/simplify.txt
  src/query/expression/src/types.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/settings/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/property/constraint.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
Labels: pr-feature

#13282 refactor: de-duplicate bind_copy_into_table.
  src/query/sql/src/planner/binder/copy_into_table.rs
Labels: pr-refactor

#13280 docs(weekly): add this week in databend 115
  website/blog/2023-10-15-databend-weekly-115.md
  website/static/img/blog/weekly/weekly-115.jpg
Labels: pr-doc

#13283 docs: drop table all
  docs/doc/14-sql-commands/00-ddl/20-table/20-ddl-drop-table.md
Labels: pr-doc

#13288 docs: clean the Contribute to Databend
  docs/doc/90-contributing/00-roadmap.md
  docs/doc/90-contributing/01-roadmap.md
  docs/doc/90-contributing/02-good-pr.md
  docs/doc/90-contributing/03-how-to-write-scalar-functions.md
  docs/doc/90-contributing/04-how-to-write-aggregate-functions.md
  docs/doc/90-contributing/04-routine-maintenance.md
  docs/doc/90-contributing/06-how-to-benchmark-with-hyperfine.md
  docs/doc/90-contributing/08-pgo.md
  docs/doc/90-contributing/10-how-to-write-a-system-table.md
Labels: pr-doc

#13284 fix(query): fix precision of timestamp's stats in parquet-rs
  src/query/storages/parquet/src/parquet_rs/statistics/column.rs
  tests/data/parquet/timestamp/gen.py
  tests/data/parquet/timestamp/timestamp_ms.parquet
  tests/data/parquet/timestamp/timestamp_ns.parquet
  tests/data/parquet/timestamp/timestamp_s.parquet
  tests/data/parquet/timestamp/timestamp_us.parquet
  tests/sqllogictests/suites/stage_parquet/timestamp
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
Labels: pr-bugfix

#13294 fix: fix spill flaky tests
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_coordinator.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  tests/sqllogictests/suites/query/spill.test
Labels: pr-bugfix

#13293 fix: refactor merge source as alias
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/statement.rs
  src/query/sql/src/planner/binder/merge_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column
Labels: pr-bugfix

#13299 feat: add stream api for get, mget and list
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/forwarder.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/request_handling.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/service/tests/it/grpc/mod.rs
  src/meta/service/tests/it/tests/mod.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/proto_ext/mod.rs
  src/meta/types/src/proto_ext/stream_item_ext.rs
  src/meta/types/src/seq_value.rs
Labels: pr-feature

#13300 feat(sqlsmith): Support generate merge into
  Cargo.lock
  Cargo.toml
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/statement.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
Labels: pr-feature

#13292 fix(query): fix decimal overflow check
  src/query/functions/src/scalars/decimal.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-bugfix

#13306 docs: Update index.md
  docs/doc/14-sql-commands/00-ddl/50-udf/index.md
Labels: pr-doc

#12773 chore: adjust table data cache population queue size
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache-manager/Cargo.toml
  src/query/storages/common/cache-manager/src/cache_manager.rs
Labels: pr-chore, ci-cloud

#13303 feat(query): add string function: split and split_part
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/02_function/02_0067_function_string_split
Labels: pr-feature

#13307 docs: fuse_encoding
  docs/doc/15-sql-functions/111-system-functions/fuse_encoding.md
Labels: pr-doc

#13311 fix(query): modify split & split_part
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/02_function/02_0067_function_string_split
Labels: pr-bugfix

#13316 feat: impl create task sql parser and planner
  Cargo.lock
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/mod.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/mod.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-feature

#13315 docs: update databend version in which kv_read_v1() -> Stream is added
  docs/public/img/deploy/compatibility.excalidraw.png
  src/meta/client/src/lib.rs
Labels: pr-doc

#13320 docs: external functions
  docs/doc/14-sql-commands/00-ddl/104-udf/_category_.json
  docs/doc/14-sql-commands/00-ddl/104-udf/ddl-alter-function.md
  docs/doc/14-sql-commands/00-ddl/104-udf/ddl-create-function.md
  docs/doc/14-sql-commands/00-ddl/104-udf/ddl-drop-function.md
  docs/doc/14-sql-commands/00-ddl/104-udf/index.md
  docs/doc/14-sql-commands/00-ddl/105-external-function/_category_.json
  docs/doc/14-sql-commands/00-ddl/105-external-function/ddl-alter-function.md
  docs/doc/14-sql-commands/00-ddl/105-external-function/ddl-create-function.md
  docs/doc/14-sql-commands/00-ddl/105-external-function/ddl-drop-function.md
  docs/doc/14-sql-commands/00-ddl/105-external-function/index.md
  docs/doc/14-sql-commands/00-ddl/50-udf/ddl-alter-function.md
  docs/doc/14-sql-commands/00-ddl/50-udf/ddl-create-function.md
  docs/doc/14-sql-commands/00-ddl/50-udf/index.md
Labels: pr-doc

#13317 chore: add partition check before build pipeline
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_compact_source.rs
  src/query/sql/src/executor/physical_plans/physical_delete_source.rs
  src/query/sql/src/executor/profile.rs
  src/query/storages/fuse/src/operations/compact.rs
Labels: pr-chore

#13321 feat: EMPTY as default for TSV and NDJSON.
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_default
  tests/sqllogictests/suites/stage/formats/tsv/tsv_default
Labels: pr-feature
