Repository databendlabs/databend, pull requests merged in 2023-07, with the labels that each got.

#11935 chore(ci): add label with pr title
  .github/mergify.yml
  .github/workflows/bindings_python.yml
  .github/workflows/pr.yml
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-chore

#11936 refactor: system clustering_information
  docs/doc/14-sql-commands/00-ddl/70-clusterkey/dml-recluster-table.md
  docs/doc/15-sql-functions/111-system-functions/clustering_information.md
  src/common/exception/src/exception_code.rs
  src/query/service/src/procedures/systems/clustering_information.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/clustering_information/table_args.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
  tests/sqllogictests/suites/base/09_fuse_engine/09_0014_func_clustering_information_function
  tests/sqllogictests/suites/base/09_fuse_engine/09_0015_remote_alter_cluster_key
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
  tests/sqllogictests/suites/management/management_calls
Labels: pr-refactor

#11933 docs: allow_anonymous parameter
  docs/doc/12-load-data/00-transform/05-querying-stage.md
Labels: pr-doc

#11940 docs(weekly): remove databend tag in weekly
  website/blog/2022-11-30-databend-weekly-70.md
  website/blog/2022-12-07-databend-weekly-71.md
  website/blog/2022-12-14-databend-weekly-72.md
  website/blog/2022-12-21-databend-weekly-73.md
  website/blog/2022-12-28-databend-weekly-74.md
  website/blog/2022-12-31-databend-2022-recap.md
  website/blog/2023-01-04-databend-weekly-75.md
  website/blog/2023-01-11-databend-weekly-76.md
  website/blog/2023-01-18-databend-weekly-77.md
  website/blog/2023-01-25-databend-weekly-78.md
  website/blog/2023-02-01-databend-weekly-79.md
  website/blog/2023-02-08-databend-weekly-80.md
  website/blog/2023-02-15-databend-weekly-81.md
  website/blog/2023-02-22-databend-weekly-82.md
  website/blog/2023-03-03-databend-weekly-83.md
  website/blog/2023-03-10-databend-weekly-84.md
  website/blog/2023-03-17-databend-weekly-85.md
  website/blog/2023-03-24-databend-weekly-86.md
  website/blog/2023-04-01-databend-weekly-87.md
  website/blog/2023-04-08-databend-weekly-88.md
  website/blog/2023-04-15-databend-weekly-89.md
  website/blog/2023-04-22-databend-weekly-90.md
  website/blog/2023-04-30-databend-weekly-91.md
  website/blog/2023-05-07-databend-weekly-92.md
  website/blog/2023-05-14-databend-weekly-93.md
  website/blog/2023-05-21-databend-weekly-94.md
  website/blog/2023-05-28-databend-weekly-95.md
  website/blog/2023-06-04-databend-weekly-96.md
  website/blog/2023-06-11-databend-weekly-97.md
  website/blog/2023-06-18-databend-weekly-98.md
  website/blog/2023-06-25-databend-weekly-99.md
Labels: pr-doc

#11938 feat: bitmap_not_count & bitmap_union & bitmap_intersect aggregate functions
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_bitmap
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_bitmap_count
Labels: pr-feature

#11925 docs(release-note): add databend changelog 1.2
  docs/doc/80-releases/94-v1.2.0.md
  website/blog/2023-04-14-databend-v1.1-release.md
  website/blog/2023-06-29-databend-v1.2-release.md
  website/static/img/blog/changelog-1-2-0.PNG
  website/static/img/blog/databend-1-2-release/changelog-1-2-01.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-02.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-03.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-04.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-05.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-06.png
  website/static/img/blog/databend-1-2-release/changelog-1-2-07.png
Labels: pr-doc

#11939 fix(query): use panic message as error message
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-bugfix

#11941 feat: support explain query result cache reading.
  Cargo.lock
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/storages/result_cache/src/read/reader.rs
  tests/sqllogictests/suites/base/20+_others/20_0013_query_result_cache
Labels: pr-feature

#11924 fix: improve sort and fix index scan with sort.
  src/query/catalog/src/table_context.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/plans/sort.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_base
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
Labels: pr-bugfix, ci-benchmark

#11945 docs: create external stage with IAM user
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
Labels: pr-doc

#11951 fix: distinct aggregate is missed in dphyp
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-bugfix

#11950 chore(query): fix and refine left join
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-chore

#11952 chore: modify some update codes
  src/meta/app/src/principal/user_stage.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column
Labels: pr-chore

#11944 feat(query): Support convert stored computed column into a regular column
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_create_add_computed_column
Labels: pr-feature

#11942 feat: cume_dist window function
  src/meta/app/src/principal/user_stage.rs
  src/query/functions/src/lib.rs
  src/query/service/src/pipelines/processors/transforms/window/frame_bound.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/query/window_function/window_wisconsin.test
Labels: pr-feature

#11956 docs: update dsn in develop/Rust docs
  docs/doc/03-develop/04-rust.md
Labels: pr-doc

#11946 docs(weekly): add this week in databend 100
  website/blog/2023-07-02-databend-weekly-100.md
  website/static/img/blog/weekly/weekly-100.png
Labels: pr-doc

#11937 feat: Range filter for delete
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_part.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/transform_serialize_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from
Labels: pr-feature

#11963 feat: add arg in get_table_history to get all the drop tables
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: pr-feature

#11960 chore(planner): introduce `ProfileStub` to help collecting runtime information
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/sql/src/executor/format.rs
Labels: pr-chore

#11968 feat(storage): allow specify a limit clause in the optimize purge
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table.rs
  src/query/ee-features/vacuum-handler/src/vacuum_handler.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/utils.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/truncate.rs
  src/query/storages/hive/hive/src/hive_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-feature

#11973 docs: added tableau
  docs/doc/13-integrations/05-tableau.md
  docs/public/img/integration/tableau-1.png
  docs/public/img/integration/tableau-2.png
Labels: pr-doc

#11962 ci: run ee test in PR
  .github/workflows/reuse.linux.yml
  tests/helpers/native_client.py
  tests/suites/5_ee/00_check/00_0014_license_info.py
  tests/suites/5_ee/00_check/00_0014_license_info.result
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.py
Labels: pr-build

#11977 docs: Jupyter updates
  docs/doc/13-integrations/00-jupyter.md
Labels: pr-doc

#11969 chore: modify compact_final and add block count in clustering_history
  src/query/catalog/src/table.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_for_copy.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/service/src/interpreters/interpreter_clustering_history.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_compact.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/system/src/clustering_history_table.rs
  tests/sqllogictests/suites/base/01_system/01_0007_system_clustering_history
Labels: pr-chore

#11975 chore(query): display error name
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_code.rs
  src/common/exception/src/exception_flight.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/tests/it/exception.rs
  src/common/exception/tests/it/exception_flight.rs
  src/common/exception/tests/it/prelude.rs
  src/common/grpc/src/dns_resolver.rs
  src/meta/api/src/schema_api_test_suite.rs
  tests/suites/0_stateless/16_flashback/16_0001_flashback.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/1_stateful/00_copy/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/02_query/02_0003_create_table_with_block_per_segment.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_02_select_csv.result
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
Labels: pr-chore

#11981 docs: set PURGE and FORCE to True
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11980 chore: move refresh agg index to enterprise
  src/query/ee-features/aggregating-index/src/aggregating_index_handler.rs
  src/query/ee/src/aggregating_index/aggregating_index_handler.rs
  src/query/service/src/interpreters/interpreter_index_drop.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
Labels: pr-chore

#11971 refactor: append transform and mutation log
  Cargo.lock
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/storages/common/table-meta/Cargo.toml
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/update.rs
Labels: pr-refactor, ci-benchmark

#11982 ci: fix license for ee test
  .github/workflows/reuse.linux.yml
Labels: pr-build

#11979 fix: wrong memory_size of StringColumn.
  src/query/expression/src/types/string.rs
  src/query/expression/src/values.rs
Labels: pr-bugfix

#11976 feat: support aggregate from index data.
  src/query/catalog/src/plan/agg_index.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_agg_index_base
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_base
  tests/sqllogictests/suites/mode/standalone/ee/explain
Labels: pr-feature

#11967 refactor: Code refactor
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_part.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-refactor

#11986 refactor(query): reduce memory arena for partitioned string hashtable
  src/common/hashtable/src/dictionary_string_hashtable.rs
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/partitioned_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/tests/it/main.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_cell.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
Labels: A-cloud, pr-refactor, ci-benchmark

#11978 fix: if there are derived columns in the select list, we cannot use lazy materialization.
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/query/cte.test
Labels: pr-bugfix

#11984 fix: TSV support mysql text.
  src/common/io/src/cursor_ext/cursor_read_string_ext.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  tests/data/mysql_text.tsv
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.result
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.sh
Labels: pr-bugfix

#11992 fix(planner): Fix incorrect profile information
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-bugfix

#11993 docs: manage computed columns with alter table
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#11985 chore: Wrap logical get with distinct to eliminate duplicates rows for subquery
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
Labels: pr-chore, ci-benchmark

#11994 docs: truncate table updates
  docs/doc/14-sql-commands/00-ddl/20-table/20-ddl-drop-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/40-ddl-truncate-table.md
Labels: pr-doc

#11999 feat: add metrics for spill
  src/common/metrics/src/lib.rs
  src/common/metrics/src/reset.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/metrics/mod.rs
  src/query/service/src/pipelines/processors/transforms/metrics/transform_metrics.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/system/src/metrics_table.rs
Labels: pr-feature, ci-cloud

#12003 chore(benchmark): check settings before benchmark
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-chore

#11995 fix: forbidden snapshot location, external location, database_id
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.sh
  tests/suites/1_stateful/02_query/02_0002_create_table_with_exists_snap.result
  tests/suites/1_stateful/02_query/02_0002_create_table_with_exists_snap.sh
Labels: pr-bugfix, ci-cloud

#12000 chore(query): use append mode for spill writer
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
Labels: pr-chore, ci-cloud

#12001 fix(meta-service): retry when forward-rpc fails
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/grpc/metasrv_connection_error.rs
  src/meta/service/tests/it/grpc/mod.rs
Labels: pr-bugfix

#12002 feat(query): parquet infer schema support extension data type
  src/common/arrow/src/parquet_write.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/parquet.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  tests/data/variant.parquet
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.sh
Labels: pr-feature

#11966 feat(query): improve like function
  src/query/functions/src/scalars/comparison.rs
  tests/sqllogictests/suites/base/20+_others/20_0010_expression_string_like
Labels: pr-feature, ci-benchmark

#12009 fix: fuse_block panic
  src/query/service/src/procedures/systems/clustering_information.rs
  src/query/service/src/procedures/systems/execute_job.rs
  src/query/service/src/procedures/systems/fuse_block.rs
  src/query/service/src/procedures/systems/fuse_segment.rs
  src/query/service/src/procedures/systems/fuse_snapshot.rs
  src/query/service/src/procedures/systems/search_tables.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/clustering_information/mod.rs
  src/query/storages/fuse/src/table_functions/clustering_information/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/mod.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/mod.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/mod.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic_table.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0006_func_fuse_history
Labels: pr-bugfix

#11991 feat(query): support right single join
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/sql/src/executor/physical_join/hash_join.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-benchmark

#11949 feat: add vacuum drop table impl
  src/meta/api/src/schema_api_impl.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee-features/vacuum-handler/src/vacuum_handler.rs
  src/query/ee/src/storages/fuse/mod.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/mod.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/suites/5_ee/01_vacuum/01_0002_ee_vacuum_drop_table.result
  tests/suites/5_ee/01_vacuum/01_0002_ee_vacuum_drop_table.sh
Labels: pr-feature, ci-cloud

#11970 feat: support attach table
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/common/table-meta/src/table/table_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/suites/1_stateful/02_query/02_0004_attach_table.result
  tests/suites/1_stateful/02_query/02_0004_attach_table.sh
Labels: pr-feature

#12013 chore: reduce http handler logs.
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
Labels: pr-chore

#12010 fix: add ignore_err in get_block_locations
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-bugfix

#12019 fix(query): return 500 on META_SERVICE_ERROR for auth
  src/query/service/src/auth.rs
  src/query/service/src/servers/http/middleware.rs
Labels: pr-bugfix

#12012 feat(query): refine hash join build
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
Labels: pr-feature, ci-benchmark

#12015 fix(query): fix upload variant data type
  src/query/expression/src/values.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-bugfix

#12021 chore: enable backtrace
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
Labels: pr-chore

#12020 ci: upload ".databend" dir for all crate
  .github/actions/artifact_failure/action.yml
Labels: pr-build

#12017 feat: add spill data de/se cost metrics
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/metrics/transform_metrics.rs
Labels: pr-feature, ci-cloud

#12022 feat: add more metrics for spill data sersiaze
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
Labels: pr-feature

#12006 refactor(query): reduce spill write file
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
Labels: pr-refactor, ci-cloud

#12018 chore(query): make StringColumn check offsets in debug_assert
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/row/row_converter.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/row.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
Labels: pr-chore

#11989 chore: support aggregating index for native format.
  .github/workflows/reuse.linux.yml
  src/common/exception/src/exception_code.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read_data.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_agg_index_base
Labels: pr-chore

#12024 feat: add system.backtrace table
  src/common/base/src/lib.rs
  src/common/base/src/runtime/backtrace.rs
  src/common/base/src/runtime/mod.rs
  src/common/http/src/debug/stack.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/table_functions/list_stage/table_args.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/backtrace_table.rs
  src/query/storages/system/src/lib.rs
Labels: pr-feature, ci-cloud

#12023 feat: check schema when query/copy from parquet files.
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  src/query/storages/parquet/src/pruning.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_11_diff_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_11_diff_schema.sh
Labels: pr-feature

#12029 chore: correct the system settings
  docs/doc/13-sql-reference/20-system-tables/system-query-log.md
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/20+_others/20_0008_max_execute_time
  website/blog/2022-11-28-hive.md
Labels: pr-chore

#12026 chore: refine dphyp and fix bug
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
Labels: pr-chore

#12031 chore: refactor copy removing unused codes
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/builders/stage.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-chore

#12033 chore(query): read all node backtrace table info for cluster mode
  src/query/catalog/src/plan/partition.rs
  src/query/storages/system/src/backtrace_table.rs
  src/query/storages/system/src/table.rs
Labels: pr-chore, ci-cloud

#12039 ci: fix sha for building cloud image
  .github/actions/build_linux/action.yml
  .github/workflows/cloud.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-build

#12035 feat: make system.caches/backtrace/metrics distributed and with node column
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/backtrace_table.rs
  src/query/storages/system/src/caches_table.rs
  src/query/storages/system/src/metrics_table.rs
Labels: pr-feature, ci-cloud

#12038 docs: Mindsdb+deepnote
  docs/doc/01-guides/index.md
  docs/doc/13-integrations/deepnote.md
  docs/doc/13-integrations/grafana.md
  docs/doc/13-integrations/jupyter.md
  docs/doc/13-integrations/metabase.md
  docs/doc/13-integrations/mindsdb.md
  docs/doc/13-integrations/redash.md
  docs/doc/13-integrations/tableau.md
  docs/public/img/integration/11.png
  docs/public/img/integration/12.png
  docs/public/img/integration/13.png
  docs/public/img/integration/14.png
  docs/public/img/integration/15.png
  docs/public/img/integration/mindsdb-predict.png
  docs/public/img/integration/mindsdb-verify.png
Labels: pr-doc

#12030 chore: fix upload failure
  .github/actions/artifact_failure/action.yml
Labels: pr-chore

#12032 chore: COPY unify
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/builders/table.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/plans/copy.rs
Labels: pr-chore, ci-cloud

#12040 chore(query): Bump jsonb 0.2.3
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant
Labels: pr-chore

#12043 docs(weekly): add this week in databend 101
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  website/blog/2023-06-29-databend-v1.2-release.md
  website/blog/2023-07-09-databend-weekly-101.md
  website/static/img/blog/weekly/weekly-101.jpg
Labels: pr-doc

#12051 chore: disable system.users if disable_system_table_load
  src/query/service/src/databases/system/system_database.rs
Labels: pr-chore

#12053 docs: fix s3 iam policy for external stage
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
Labels: pr-doc

#12052 docs: attach table
  docs/doc/14-sql-commands/00-ddl/20-table/92-attach-table.md
  docs/public/img/sql/attach.png
Labels: pr-doc

#12055 feat(planner): support push down filter project_set
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_project_set.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
Labels: pr-feature

#12047 feat(query): json path selector use less memory
  Cargo.lock
  Cargo.toml
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/srfs/mod.rs
Labels: pr-feature

#12044 refactor: adjust calc of parallelism when load parquet.
  src/common/storage/src/parquet.rs
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-refactor, ci-cloud

#11998 chore: push down filter for uncorrelated scalar subquery
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/merge_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_ie_join.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_join/mod.rs
  src/query/sql/src/executor/physical_join/range_join.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore, ci-benchmark

#12061 docs: CUME_DIST
  docs/doc/15-sql-functions/122-window-functions/cume-dist.md
  docs/doc/15-sql-functions/122-window-functions/dense-rank.md
  docs/doc/15-sql-functions/122-window-functions/index.md
  docs/doc/15-sql-functions/122-window-functions/rank.md
  docs/doc/15-sql-functions/122-window-functions/row-number.md
Labels: pr-doc

#12058 docs: new bitmap functions
  docs/doc/15-sql-functions/05-bitmap-functions/index.md
Labels: pr-doc

#12062 chore: COPY status
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/storages/system/src/metrics_table.rs
Labels: pr-chore, ci-cloud

#11894 refactor: make it easier to deal with commit conflict
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/tests/it/storages/fuse/conflict.rs
  src/query/service/tests/it/storages/fuse/mod.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/mod.rs
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  src/query/storages/fuse/src/operations/update.rs
Labels: pr-refactor, ci-cloud

#12066 feat: setting for table lock, by default enabled
  Cargo.lock
  src/query/ee-features/table-lock/Cargo.toml
  src/query/ee-features/table-lock/src/table_lock_handler.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#12068 fix: try to fix distributed pipeline error mechanism bug
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
Labels: pr-bugfix

#12063 chore: add metrics for refresh index
  src/query/storages/fuse/src/metrics/index_metrics.rs
  src/query/storages/fuse/src/metrics/mod.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
Labels: pr-chore

#12071 chore(query): make flight sql service exit stream if error happens
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/background_jobs_table.rs
  src/query/storages/system/src/background_tasks_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/query_cache_table.rs
  src/query/storages/system/src/table.rs
Labels: pr-chore

#12060 feat: add get_drop_table_infos and gc_drop_tables API
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-feature

#12072 chore(query): first call to exchange manager on finished method
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
Labels: pr-chore

#12069 refactor(query): improve json_path_query
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/functions/src/srfs/mod.rs
  src/query/sql/src/evaluator/block_operator.rs
Labels: pr-refactor, ci-cloud

#12073 docs: SQL Conformance
  docs/doc/13-sql-reference/99-ansi-sql.md
  website/src/css/custom.scss
Labels: pr-doc

#12076 chore: remove unused code
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/operation.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore

#12077 feat: make the system.query_log distributed
  src/query/service/src/interpreters/interpreter_query_log.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/query_log_table.rs
Labels: pr-feature

#12080 fix: allow SHOW ROLES in management mode
  src/query/service/src/interpreters/access/management_mode_access.rs
Labels: pr-bugfix

#12079 chore: add const PREDICATE_COLUMN_NAME
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/sql/src/planner/binder/internal_column_factory.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/update.rs
Labels: pr-chore

#12048 feat: support specify bloom index columns
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/parser.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/sql/src/planner/bloom_index.rs
  src/query/sql/src/planner/mod.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/index/tests/it/main.rs
  src/query/storages/common/table-meta/src/table/table_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_01_bloom_in_pruning
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.sh
Labels: pr-feature, ci-cloud

#12056 refactor: support partially columns reading for aggregating index.
  src/query/catalog/src/plan/agg_index.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/agg_index/mod.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/mod.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read_data.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0001_agg_index_projected_scan
Labels: pr-refactor

#12083 fix(query): show db/tab/col should not display no privelige object
  src/query/sql/src/planner/binder/ddl/column.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-bugfix, ci-cloud

#12086 docs: new window functions
  docs/doc/03-develop/01-python.md
  docs/doc/15-sql-functions/122-window-functions/cume-dist.md
  docs/doc/15-sql-functions/122-window-functions/dense-rank.md
  docs/doc/15-sql-functions/122-window-functions/first-value.md
  docs/doc/15-sql-functions/122-window-functions/first.md
  docs/doc/15-sql-functions/122-window-functions/index.md
  docs/doc/15-sql-functions/122-window-functions/lag.md
  docs/doc/15-sql-functions/122-window-functions/last-value.md
  docs/doc/15-sql-functions/122-window-functions/last.md
  docs/doc/15-sql-functions/122-window-functions/lead.md
  docs/doc/15-sql-functions/122-window-functions/nth-value.md
  docs/doc/15-sql-functions/122-window-functions/ntile.md
  docs/doc/15-sql-functions/122-window-functions/percent_rank.md
  docs/doc/15-sql-functions/122-window-functions/rank.md
  docs/doc/15-sql-functions/122-window-functions/row-number.md
Labels: pr-doc

#12088 fix(front): Safari tab icon
  website/docusaurus.config.js
Labels: pr-bugfix

#12093 refactor: remove unused node for copy.
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/input_format.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/pipeline/sources/src/input_formats/mod.rs
  src/query/pipeline/sources/src/input_formats/source_deserializer.rs
Labels: pr-refactor

#12092 fix(query): use db no need to check privileges just need check grant objects
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/sql/src/planner/binder/ddl/column.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-bugfix

#11943 feat: distributed copy into table from query
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
  tests/suites/1_stateful/00_copy/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/00_copy/00_0011_distributed_copy_into_table_exection_test.sh
Labels: pr-feature, ci-cloud

#12096 feat(front): Added lazy image loading
  website/package.json
  website/src/components/BaseComponents/ImgLazyLoad/index.tsx
  website/src/components/CustomBlog/BlogList.js
  website/src/css/_mixins.scss
  website/yarn.lock
Labels: pr-feature

#12089 chore(storage): use max_threads instead of max_storage_io_requests
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: pr-chore, ci-benchmark

#12081 fix: sanitize the sensitive logs on the query instance start up
  src/query/config/src/inner.rs
Labels: pr-bugfix

#12099 fix(query): parse date in dst return err
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/src/cursor_ext/mod.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  src/query/expression/src/types/timestamp.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/row_based.rs
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes_tz
Labels: pr-bugfix

#12095 chore(query): bump native engine version
  Cargo.lock
  src/common/arrow/Cargo.toml
  src/query/storages/common/table-meta/src/table/table_compression.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/system/src/table.rs
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
Labels: pr-chore

#11850 feat(storage): improve optimize and recluster
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/recluster_table.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-feature, ci-cloud

#12101 docs: fix link
  docs/doc/15-sql-functions/122-window-functions/index.md
Labels: pr-doc

#12104 docs: use db
  docs/doc/13-sql-reference/41-access-control-privileges.md
  docs/doc/14-sql-commands/00-ddl/10-database/ddl-use-database.md
Labels: pr-doc

#12105 chore: merge duplicated codes
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
Labels: pr-chore

#12110 chore: fix prepare package manager for dev setup
  scripts/setup/dev_setup.sh
Labels: pr-chore

#12103 refactor: tidy up the error message of mutation conflicts
  src/common/exception/src/exception_code.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
Labels: pr-refactor

#12097 docs: add alter table options docs
  docs/doc/13-sql-reference/30-table-engines/00-fuse.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-option.md
Labels: pr-doc

#12107 refactor: not use `max_storage_io_requests` in ParquetTable.
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_table/mod.rs
  src/query/storages/parquet/src/parquet_table/read.rs
Labels: pr-refactor

#12113 chore: use max_threads instead of max_storage_io_requests in recluster
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-chore, ci-benchmark

#12115 chore(http): return instance_timestamp together in /v1/status
  src/query/service/src/api/http/v1/instance_status.rs
Labels: pr-chore

#12011 refactor: using croaring instead of roaring-rs
  .github/workflows/bindings_python.yml
  Cargo.lock
  Cargo.toml
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/tests/it/aggregates/agg.rs
Labels: pr-refactor

#12116 chore(query): bump native engine to 0.2.4
  src/common/arrow/Cargo.toml
Labels: pr-chore

#12070 feat: add intersect_count function
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_bitmap
Labels: pr-feature

#12109 feat(query): system tables respect user privileges
  src/meta/app/src/principal/user_grant.rs
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/sql/src/planner/binder/ddl/column.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/users/src/role_mgr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege
  tests/sqllogictests/suites/base/05_ddl/05_0018_ddl_revoke
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_revoke
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-feature

#12120 chore(storage): add length check for string column in bloom index
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
Labels: pr-chore

#12123 refactor(query): remove useless code
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_serializer.rs
Labels: pr-refactor

#12118 fix: support distributed copy from parquets
  src/query/service/src/interpreters/interpreter_copy.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-bugfix, ci-cloud

#12128 docs: recluster table updates
  docs/doc/14-sql-commands/00-ddl/20-table/60-optimize-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-option.md
  docs/doc/14-sql-commands/00-ddl/70-clusterkey/dml-recluster-table.md
  docs/doc/14-sql-commands/00-ddl/70-clusterkey/index.md
  docs/doc/15-sql-functions/111-system-functions/clustering_information.md
Labels: pr-doc

#12114 docs(weekly): add this week in databend 102
  website/blog/2023-07-09-databend-weekly-101.md
  website/blog/2023-07-16-databend-weekly-102.md
  website/static/img/blog/weekly/weekly-102.png
Labels: pr-doc

#12129 feat: add copy read part cost metrics
  src/common/storage/src/common_metrics/copy.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
Labels: ci-cloud

#12135 fix(query): fix subquery json pushdown without table name
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get
Labels: pr-bugfix

#12141 fix: fix refresh index sink bug
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_agg_index_base
Labels: pr-bugfix

#12144 fix: fix typo in comment
  src/meta/client/src/lib.rs
Labels: pr-bugfix

#12142 feat(query): add valid check for cluster key
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0000_remote_create_table
  tests/sqllogictests/suites/base/09_fuse_engine/09_0015_remote_alter_cluster_key
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-feature

#12134 docs: vacuum drop table + show drop tables
  docs/doc/02-enterprise/10-enterprise-features.md
  docs/doc/14-sql-commands/00-ddl/20-table/91-vacuum-drop-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/91-vacuum-table.md
  docs/doc/14-sql-commands/40-show/show-drop-tables.md
Labels: pr-doc

#12150 docs: intersect_count function
  docs/doc/15-sql-functions/05-bitmap-functions/index.md
Labels: pr-doc

#12149 chore: fix bugs on background service
  src/query/service/src/procedures/admins/suggested_background_compaction_tasks.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/background_tasks_table.rs
Labels: pr-chore

#12148 chore(query): fix data race for uncompressed buffer
  src/query/storages/fuse/src/io/read/block/decompressor.rs
Labels: pr-chore

#12151 chore: replace error! with info!
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
Labels: pr-chore

#12028 chore(query): support spill by max memory
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore, ci-cloud

#12152 chore: rewrite checked referenced computed columns
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/common/table.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
Labels: pr-chore

#12155 fix: like panic due to Chinese
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/20+_others/20_0010_expression_string_like
Labels: pr-bugfix

#12159 chore(query): disable auto spill by default
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#12140 fix: improve query rewrite and fix bugs.
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  src/query/sql/src/planner/semantic/mod.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
Labels: pr-bugfix, ci-benchmark, ci-cloud

#12137 feat(query): Alter user support set/unset network policy
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/user_info.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/v050_user_info.rs
  src/meta/protos/proto/user.proto
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/auth.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/service.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/tests/it/auth.rs
  src/query/users/Cargo.toml
  src/query/users/src/lib.rs
  src/query/users/src/network_policy.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/mod.rs
  src/query/users/tests/it/network_policy.rs
  tests/sqllogictests/suites/base/05_ddl/05_0032_ddl_network_policy
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.result
Labels: pr-feature

#12161 docs: fix link
  docs/doc/03-develop/01-python.md
Labels: pr-doc

#12164 docs: to_yyyymmddhh function
  docs/doc/15-sql-functions/30-datetime-functions/toyyyymmddhh.md
Labels: pr-doc

#12158 feat(planner): Support profile table scan
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table_context.rs
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/profile/src/proc.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/profile.rs
Labels: pr-feature, ci-benchmark, ci-cloud
