Repository databendlabs/databend, pull requests merged in 2023-02, with the labels that each got.

#9825 docs: 0.9 release
  website/blog/2023-01-31-databend-v0.9-release.md
  website/static/img/blog/v9-1.png
  website/static/img/blog/v9-2.png
Labels: pr-doc

#9802 chore(test): Add total count to sqllogic test console output
  tests/sqllogictests/src/main.rs
Labels: pr-chore

#9822 refactor(kvapi): add KeyBuilder and KeyParser to build/parse str key
  src/meta/api/src/id_generator.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/share/share.rs
  src/meta/kvapi/src/kvapi/helper.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/key_builder.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/lib.rs
Labels: pr-refactor

#9831 refactor(kvapi): biuld key with KeyBuilder, instead of with raw "format!"
  src/meta/api/src/id_generator.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/share/share.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
Labels: pr-refactor

#9838 fix: add connection options ACCESS_KEY_SECRET.
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
Labels: pr-bugfix

#9833 chore: remove table function `read_parquet`.
  Cargo.lock
  src/query/catalog/src/plan/datasource/datasource_info/parquet_read_options.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  src/query/storages/parquet/src/table_function/mod.rs
  src/query/storages/parquet/src/table_function/table.rs
  tests/sqllogictests/suites/base/20+_others/20_0012_disabled_table_function
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.result
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.sh
  tests/suites/1_stateful/06_read_parquet/06_0001_complex.result
  tests/suites/1_stateful/06_read_parquet/06_0001_complex.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.sh
Labels: pr-chore

#9844 feat(query): Support array functions prepend and append
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
Labels: pr-feature

#9848 chore(query): improve types display
  docs/doc/13-sql-reference/10-data-types/index.md
  docs/doc/13-sql-reference/70-system-tables/system-columns.md
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_table_describe.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/information-schema/src/columns_table.rs
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/base/20+_others/20_0001_planner_v2
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.result
Labels: pr-chore

#9850 chore(query): add proc io stats
  Cargo.lock
  src/common/metrics/Cargo.toml
  src/common/metrics/src/dump.rs
  src/query/storages/system/src/metrics_table.rs
Labels: pr-chore

#9840 feat(query):support array_indexof
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/11_data_type/11_0005_data_type_array
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#9854 chore(query): fix macos build
  src/common/metrics/src/dump.rs
Labels: pr-chore

#9858 fix(procfs): fix on macos
  src/common/metrics/Cargo.toml
  src/common/metrics/src/dump.rs
Labels: pr-bugfix

#9855 chore(query): rename hashmap
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/partitioned_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
  src/common/hashtable/tests/it/main.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partitioned.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state_entity.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
Labels: pr-chore

#9862 chore(pipeline): refatctor the pipeline sink
  src/query/pipeline/sinks/Cargo.toml
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/context_sink.rs
  src/query/pipeline/sinks/src/empty_sink.rs
  src/query/pipeline/sinks/src/lib.rs
  src/query/pipeline/sinks/src/processors/mod.rs
  src/query/pipeline/sinks/src/processors/sinks/mod.rs
  src/query/pipeline/sinks/src/sync_sink.rs
  src/query/pipeline/sinks/src/sync_sink_sender.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
Labels: pr-chore

#9863 chore(pipeline): sources/src/processors/sources -> sources/
  src/query/pipeline/sources/src/async_source.rs
  src/query/pipeline/sources/src/blocks_source.rs
  src/query/pipeline/sources/src/empty_source.rs
  src/query/pipeline/sources/src/input_formats/beyond_end_reader.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/impls/mod.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/input_error.rs
  src/query/pipeline/sources/src/input_formats/input_format.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/pipeline/sources/src/input_formats/input_split.rs
  src/query/pipeline/sources/src/input_formats/mod.rs
  src/query/pipeline/sources/src/input_formats/source_aligner.rs
  src/query/pipeline/sources/src/input_formats/source_deserializer.rs
  src/query/pipeline/sources/src/input_formats/transform_deserializer.rs
  src/query/pipeline/sources/src/lib.rs
  src/query/pipeline/sources/src/one_block_source.rs
  src/query/pipeline/sources/src/processors/sources/mod.rs
  src/query/pipeline/sources/src/stream_source.rs
  src/query/pipeline/sources/src/sync_source.rs
  src/query/pipeline/sources/src/sync_source_receiver.rs
  src/query/pipeline/sources/tests/it/main.rs
  src/query/pipeline/sources/tests/it/processors/mod.rs
  src/query/pipeline/sources/tests/it/processors/sources/input_formats/split.rs
  src/query/pipeline/sources/tests/it/sources/input_formats/mod.rs
  src/query/pipeline/sources/tests/it/sources/input_formats/split.rs
  src/query/pipeline/sources/tests/it/sources/mod.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/pipelines/pipeline_build_res.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/procedures/procedure.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic_table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/random/src/random_table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/table.rs
  src/query/storages/system/src/tracing_table.rs
Labels: pr-chore

#9867 docs: sccache blog
  website/blog/2023-02-02-sccache.md
  website/static/img/blog/sccache-1.jpg
  website/static/img/blog/sccache-2.PNG
Labels: pr-doc

#9868 docs: atomic and idempotency notes
  docs/doc/00-overview/index.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
  docs/doc/14-sql-commands/10-dml/dml-insert.md
Labels: pr-doc

#9870 docs: added note for UPDATE
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
  docs/doc/14-sql-commands/10-dml/dml-insert.md
  docs/doc/14-sql-commands/10-dml/dml-update.md
Labels: pr-doc

#9872 docs(weekly): add this week in databend 79
  website/blog/2023-01-25-databend-weekly-78.md
  website/blog/2023-02-01-databend-weekly-79.md
Labels: pr-doc

#9853 feat(query): Support view in system.columns
  Cargo.lock
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/base/01_system/01_0006_system_columns
Labels: pr-feature

#9871 refactor: ParquetTable list file in read_partition.
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/lib.rs
  src/common/storage/src/stage.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_table/table.rs
Labels: pr-refactor

#9876 fix(query): fix slow planner when ndv error backtrace
  src/query/sql/src/planner/optimizer/property/histogram.rs
Labels: pr-bugfix

#9835 feat(meta): add databend-meta config grpc_api_advertise_host
  docs/doc/10-deploy/06-metasrv/15-metasrv-config.md
  docs/doc/10-deploy/07-query/10-query-config.md
  scripts/ci/deploy/config/databend-meta-node-1.toml
  scripts/ci/deploy/config/databend-meta-node-2.toml
  scripts/ci/deploy/config/databend-meta-node-3.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  src/binaries/meta/main.rs
  src/binaries/metactl/snapshot.rs
  src/meta/client/src/grpc_client.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/testing.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/configs/inner.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/api/http/cluster_state_test.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/tests/meta_node.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/sled-store/tests/it/sled_txn_tree.rs
  src/meta/types/src/cluster.rs
  src/meta/types/src/cmd.rs
  src/meta/types/src/endpoint.rs
  src/meta/types/src/message.rs
  tests/meta-upgrade-09/meta-v23.txt
  tests/meta-upgrade-09/test-meta-upgrade-09.sh
  tests/metactl/config/databend-meta-node-1.toml
  tests/metactl/config/databend-meta-node-2.toml
  tests/metactl/config/databend-meta-node-3.toml
  tests/metactl/config/new-databend-meta-node-1.toml
  tests/metactl/config/new-databend-meta-node-2.toml
  tests/metactl/config/new-databend-meta-node-3.toml
  tests/metactl/meta.txt
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-feature

#9875 feat(query): support array function array_unique, array_distinct
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#9877 feat: select from stage with files/pattern.
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/sql/src/planner/binder/table.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_02_select_files.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_02_select_files.sh
Labels: pr-feature

#9805 refactor(cluster): split exchange source to reader and deserializer
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/service/src/api/rpc/exchange/exchange_source.rs
  src/query/service/src/api/rpc/exchange/exchange_source_deserializer.rs
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_source.rs
  src/query/service/src/api/rpc/exchange/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_dummy.rs
Labels: pr-refactor

#9878 refactor(metactl): when restoring a cluster from backup data, it does not require to specify grpc addresses
  docs/doc/10-deploy/06-metasrv/30-metasrv-backup-restore.md
  src/binaries/meta/main.rs
  src/binaries/metactl/snapshot.rs
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-refactor

#9879 fix: order by contains aggregation function
  src/query/sql/src/planner/binder/sort.rs
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#9881 chore(planner): Cache `RelationalProperty` for `SExpr`
  src/query/sql/src/planner/optimizer/pattern_extractor.rs
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
Labels: pr-chore

#9880 chore(query): take two number after point for humanize number
  src/common/base/src/base/string.rs
  tests/sqllogictests/suites/query/02_function/02_0055_function_strings_humanize
Labels: pr-chore

#9883 fix(query): remove finished flag for avoid lost block
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
Labels: pr-bugfix

#9886 refactor(query): rename some array functions add array_ prefix
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-refactor

#9887 feat: leverage sqllogictest to benchmark tpch
  .licenserc.yaml
  benchmark/tpch/README.md
  benchmark/tpch/gen_data.sh
  benchmark/tpch/prepare.sh
  tests/sqllogictests/src/arg.rs
  tests/sqllogictests/src/client/mysql_client.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature

#9896 chore(benchmark):add native format storage
  benchmark/tpch/README.md
  benchmark/tpch/create_table.sh
  benchmark/tpch/create_table_native.sh
  benchmark/tpch/tpch.sh
  tests/sqllogictests/src/client/mysql_client.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#9898 docs(meta/query): add picture to explain compatibility
  docs/doc/10-deploy/09-upgrade/10-compatibility.md
  docs/public/img/deploy/compatibility.excalidraw.png
Labels: pr-doc

#9897 refactor: Bump OpenDAL to v0.26
  Cargo.lock
  Cargo.toml
  src/common/storage/src/cache.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/metrics.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
  src/common/storage/src/stage.rs
  src/meta/types/src/storage_params.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/sharing/src/layer.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/share/src/share.rs
Labels: pr-refactor

#9891 refactor(meta): remove obsolete meta service api read_msg() and write_msg()
  src/meta/client/src/lib.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/version.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/log_entry.rs
  tests/compat/test-compat.sh
  tests/fuse-compat/test-fuse-compat.sh
Labels: pr-refactor

#9899 chore(query): remove extra clone
  src/query/expression/src/kernels/topk.rs
Labels: pr-chore

#9901 fix(copy): fix not return error when copy
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
Labels: pr-bugfix

#9824 feat(storage): `ParquetTable` support topk optimization.
  Cargo.lock
  src/query/catalog/src/plan/projection.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/expression/src/kernels/topk.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/deserialize_transform.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_source.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_table/read.rs
  src/query/storages/parquet/src/pruning.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.sh
Labels: pr-feature

#9902 fix: prevent panic when `delete` with subquery
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/plans/delete.rs
Labels: pr-bugfix

#9906 chore: fix typo
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/update.rs
Labels: pr-chore

#9788 ci: build release in dev ci
  .github/workflows/dev-linux.yml
  .github/workflows/dev-perf.yml
  .github/workflows/production.yml
  scripts/benchmark/query/benchmarks/hits.yaml
  scripts/benchmark/query/load/hits.sh
Labels: pr-build, ci-perf

#9894 feat(parser): parse decimal type
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/duckdb/issues/monetdb/test_round_bug.test
Labels: pr-feature

#9912 chore: add test for delete with subquery
  tests/sqllogictests/suites/base/03_dml/03_0025_delete_from
Labels: pr-chore

#9903 feat(query): support array aggregate functions
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#9816 fix(query): fix insert default value datatype
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon.rs
  tests/sqllogictests/suites/base/03_dml/03_0027_insert_default
Labels: pr-bugfix

#9913 ci: comment benchmark result on PR
  .github/workflows/dev-perf.yml
  .github/workflows/trusted-perf.yml
  .gitignore
  scripts/benchmark/query/benchmarks/hits.yaml
Labels: pr-build

#9911 chore(query): configurable partitioned hashtable
  benchmark/tpch/tpch.sh
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/partitioned_hashtable.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
  src/query/sql/src/planner/binder/table.rs
Labels: pr-chore

#9916 chore(query): validate default value in create table
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/interpreters/interpreter_table_create_v2.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/mod.rs
  tests/sqllogictests/suites/base/03_dml/03_0027_insert_default
  tests/sqllogictests/suites/duckdb/issues/rigger/hugeint_div_by_zero.test
  tests/sqllogictests/suites/duckdb/issues/rigger/test_non_equality_right_join.test
Labels: pr-chore

#9917 refactor: TableArgs preserve info of positioned and named args
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_args.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/service/tests/it/table_functions/numbers_table.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/storages/fuse/src/table_functions/clustering_informations/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/clustering_informations/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/table_args.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic_table.rs
  src/query/storages/hive/hive/src/hive_table.rs
Labels: pr-refactor

#9918 chore(benchmark):add steps to benchmark databend on s3
  benchmark/tpch/README.md
  benchmark/tpch/create_table_s3.sh
Labels: pr-chore

#9921 refactor(meta): simplify UserAPI and RoleAPI by introducing a method update_xx_with(id, f: FnOnce)
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/types/src/match_seq.rs
  src/meta/types/src/operation.rs
  src/meta/types/tests/it/match_seq.rs
  src/query/management/src/cluster/cluster_api.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/quota/quota_api.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_api.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_api.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_api.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_api.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/management/tests/it/setting.rs
  src/query/management/tests/it/stage.rs
  src/query/management/tests/it/udf.rs
  src/query/management/tests/it/user.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/service/src/interpreters/interpreter_role_grant.rs
  src/query/service/src/interpreters/interpreter_role_revoke.rs
  src/query/service/src/interpreters/interpreter_table_create_v2.rs
  src/query/service/src/interpreters/interpreter_user_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/procedures/admins/tenant_quota.rs
  src/query/settings/src/lib.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_mgr.rs
  src/query/users/src/user_setting.rs
  src/query/users/src/user_stage.rs
  src/query/users/src/user_udf.rs
  src/query/users/tests/it/role_mgr.rs
Labels: pr-refactor

#9920 chore(query): introduce TzLUT util
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/function.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/benches/bench.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/src/sessions/query_ctx.rs
Labels: pr-chore

#9922 chore: move types, remove obsolete codes
  Cargo.lock
  Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/proto-conv/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applied_state.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/state_machine/client_last_resp.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/lib.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/meta_service_impl.rs
  src/meta/service/src/meta_service/mod.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_seq_api.rs
  src/meta/service/tests/it/store.rs
  src/meta/service/tests/it/tests/meta_node.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/change.rs
  src/meta/types/src/errors/meta_raft_errors.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/message.rs
  src/meta/types/src/user_info.rs
  src/query/management/src/user/user_api.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
  src/query/users/src/user_mgr.rs
Labels: pr-chore

#9915 chore: improve codes quality.
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/hive/hive/src/hive_table.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
Labels: pr-chore

#9931 chore(benchmark): add analyze table before run benchmark
  tests/sqllogictests/src/client/mysql_client.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#9928 fix(functions): fix nullable and or domain cal
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
Labels: pr-bugfix

#9929 chore: upgrade bendsql to 0.3.0 for perf
  .github/workflows/dev-perf.yml
  .github/workflows/trusted-perf.yml
Labels: pr-chore, ci-perf

#9851 feat: alter table add/drop column SQL support
  Cargo.lock
  src/common/storage/src/column_node.rs
  src/common/storage/tests/it/column_node.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/block.rs
  src/query/expression/tests/it/common.rs
  src/query/expression/tests/it/fill_field_default_value.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/main.rs
  src/query/expression/tests/it/testdata/fill_field_default_value.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column
  tests/sqllogictests/suites/base/05_ddl/05_0029_ddl_alter_table_add_drop_column_native
Labels: pr-feature, ci-perf

#9936 feat(query): new table function infer_schema.
  src/common/storage/src/lib.rs
  src/common/storage/src/parquet.rs
  src/query/ast/src/parser/query.rs
  src/query/catalog/src/table_args.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/storages/fuse/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/storages/fuse/src/table_functions/infer_schema/mod.rs
  src/query/storages/fuse/src/table_functions/infer_schema/table_args.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.sh
Labels: pr-feature

#9942 docs(infer_schmea): add infer_schema to table functions catagory
  docs/doc/15-sql-functions/112-table-functions/_category_.json
  docs/doc/15-sql-functions/112-table-functions/infer_schema.md
Labels: pr-doc

#9939 fix: add time travel test for alter table
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.result
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.sh
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.result
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.sh
  tests/suites/0_stateless/17_altertable/17_0003_alter_table_update.result
  tests/suites/0_stateless/17_altertable/17_0003_alter_table_update.sh
Labels: pr-bugfix

#9950 refactor(meta/kvapi): move kv req/reply types from meta-types to meta-kvapi
  Cargo.lock
  src/binaries/meta/kvapi.rs
  src/binaries/metabench/main.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/share/share.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/message.rs
  src/meta/embedded/src/kv_api_impl.rs
  src/meta/kvapi/Cargo.toml
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/kvapi/src/kvapi/message.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/cluster.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/lib.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
Labels: pr-refactor

#9952 chore(meta): avoid using MatchSeq::Any, use MatchSeq::GE(0) instead
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/types/src/cmd.rs
  src/meta/types/src/match_seq.rs
  src/meta/types/tests/it/main.rs
  src/meta/types/tests/it/match_seq.rs
  src/query/management/src/setting/setting_mgr.rs
Labels: pr-chore

#9951 fix(shuffle): parts was not distributed evenly.
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/tests/it/testdata/partition-reshuffle.txt
  src/query/storages/parquet/src/parquet_table/table.rs
Labels: pr-bugfix

#9930 refactor(cluster): use bounded channel for exchange
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/flight_service.rs
Labels: pr-refactor

#9954 chore(processor): add on_start and on_finish for transform
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
Labels: pr-chore

#9956 feat: default file format to Parquet.
  src/meta/app/src/principal/user_stage.rs
  tests/sqllogictests/suites/base/03_dml/03_0028_copy_into_stage
  tests/sqllogictests/suites/base/03_dml/03_0031_copy_into_user_stage
  tests/sqllogictests/suites/base/06_show/06_0011_show_stages
  tests/suites/1_stateful/07_insert_stage/00_0000_insert_with_stage.sh
Labels: pr-feature

#9957 docs: change default format to Parquet.
  docs/doc/11-integrations/10-data-tool/01-airbyte.md
  docs/doc/12-load-data/00-stage.md
  docs/doc/12-load-data/01-s3.md
  docs/doc/13-sql-reference/75-file-format-options.md
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/14-sql-commands/00-ddl/40-stage/03-ddl-desc-stage.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-location.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
  docs/doc/15-sql-functions/112-table-functions/infer_schema.md
  website/yarn.lock
Labels: pr-doc

#9960 docs(query): Trivial doc fix for to_start_of_week
  docs/doc/15-sql-functions/30-datetime-functions/tostartofweek.md
Labels: pr-doc

#9953 feat(query): Support `array_any` functions
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#9964 chore(metactl/test): json output map keys in arbitrary order. Do not rely on the key order
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-chore

#9962 chore(query): default enable broadcast join
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/shuffle_join.test
Labels: pr-chore

#9966 chore(ci): upload failure artifact when cancelled
  .github/actions/fuse_compat/action.yml
  .github/actions/test_compat/action.yml
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/actions/test_meta_cluster/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  .github/actions/test_unit/action.yml
  .github/workflows/dev-perf.yml
  .github/workflows/trusted-perf.yml
Labels: pr-chore

#9970 chore(proto-conv): fix panic unsupported type in to_pb
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
Labels: pr-chore

#9924 feat(query): add privilege check for select
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0003_http_auth.sh
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-feature

#9965 chore(query): improve filter string kernel
  src/query/expression/src/kernels/filter.rs
Labels: pr-chore

#9926 feat(decimal): add operation for decimal
  Cargo.lock
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/protos/proto/datatype.proto
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/expression/src/property.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/src/field_encoder/row_based.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  tests/meta-upgrade-09/test-meta-upgrade-09.sh
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/duckdb/issues/monetdb/test_round_bug.test
Labels: pr-feature

#9975 chore(ci): fix check github event name for perf
  .github/workflows/dev-perf.yml
Labels: pr-chore

#9955 docs(weekly): add this week in databend 80
  website/blog/2023-02-08-databend-weekly-80.md
Labels: pr-doc

#9979 docs(weekly): updated based by comments from eric
  website/blog/2023-02-08-databend-weekly-80.md
Labels: pr-doc

#9978 feat(query): improve signed numeric keys
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v027_schema.rs
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/expression/src/types.rs
Labels: pr-feature

#9943 fix: enable outer join to inner join optimization
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/rule_list.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rule_set.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
Labels: pr-bugfix

#9982 fix(write_settings): change compression to TableCompression::default()
  src/query/storages/fuse/src/io/write/write_settings.rs
Labels: pr-bugfix

#9984 chore(query): update string_multi_args
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-chore

#9981 feat(mmap_allocator): change the mmap allocator inner allcator from GlobalAllocator to JEAllocator
  src/common/base/src/mem_allocator/mmap.rs
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/stack_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
Labels: pr-feature, ci-perf

#9983 feat: stage table function support option FILE_FORMAT.
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/stage.rs
  src/query/sql/src/planner/binder/table.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
Labels: pr-feature

#9976 ci: disable incremental build in CI
  .github/workflows/backport.yml
  .github/workflows/build-tool.yml
  .github/workflows/dev-linux.yml
  .github/workflows/dev-macos.yml
  .github/workflows/dev-perf.yml
  .github/workflows/production.yml
Labels: pr-build

#9987 chore(query): add default feature jemalloc
  src/binaries/Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/mem_allocator/default.rs
  src/common/base/src/mem_allocator/global.rs
  src/query/service/Cargo.toml
Labels: pr-chore

#9989 chore(ci): make install_protobuf install latest protobuf version
  scripts/setup/dev_setup.sh
Labels: pr-chore

#9985 feat: Adopt OpenDAL's native scan support
  Cargo.lock
  Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
  src/common/storage/src/stage.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/network.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sql/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/information-schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/file.rs
  src/query/storages/stage/src/stage_table_sink.rs
  src/query/storages/system/Cargo.toml
  tests/suites/1_stateful/01_load_v2/01_0001_upload_to_stage.result
Labels: pr-feature, ci-perf

#9973 fix: fix sub-column of added-tuple column return default 0 bug
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column
Labels: pr-bugfix, ci-perf

#9991 feat(allocator): print global allocator when server start
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/query/main.rs
  src/common/base/Cargo.toml
  src/common/base/src/mem_allocator/global.rs
  src/common/base/src/mem_allocator/jemalloc.rs
  src/common/base/src/mem_allocator/std_.rs
  src/query/catalog/Cargo.toml
Labels: pr-feature

#9941 feat(query): support array_sort
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#9995 chore(doc): remove the old version performance
  docs/doc/70-performance/00-local-vector-performance.md
  docs/doc/70-performance/01-ec2-s3-performance.md
  docs/doc/70-performance/02-cvm-cos-performance.md
  docs/doc/70-performance/03-ecs-oss-performance.md
  docs/doc/70-performance/04-ec2-wasabi-performance.md
  docs/doc/70-performance/05-scw-os-performance.md
  docs/doc/70-performance/06-qingcloud-qingstore-performance.md
  docs/doc/70-performance/07-volcengine-tos-performance.md
  docs/doc/70-performance/_category_.json
Labels: pr-chore

#9996 docs(unloading data): add unloading data from databend
  README.md
  docs/doc/00-overview/index.md
  docs/doc/01-guides/index.md
  docs/doc/12-load-data/_category_.json
  docs/doc/12-load-data/index.md
  docs/doc/12-unload-data/_category_.json
  docs/doc/12-unload-data/index.md
Labels: pr-doc

#9997 feat: infer_schema support arg 'file_format'.
  src/query/storages/fuse/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/storages/fuse/src/table_functions/infer_schema/table_args.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.sh
Labels: pr-feature

#9998 feat: bump up strawboat
  Cargo.lock
  src/common/arrow/Cargo.toml
Labels: pr-feature

#9999 docs(array): add docs about array function
  docs/doc/15-sql-functions/04-array-functions/_category_.json
  docs/doc/15-sql-functions/04-array-functions/index.md
Labels: pr-doc

#10002 docs: unload updates
  docs/doc/12-unload-data/index.md
Labels: pr-doc

#9990 feat(storagte): Add drop_table_by_id api
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/types/src/errors/app_error.rs
Labels: pr-feature

#10001 chore(query): make hashtable support TrustedLen trait
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/partitioned_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/table_empty.rs
  src/common/hashtable/src/traits.rs
  src/query/functions/src/aggregates/aggregate_function.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
Labels: pr-chore

#10004 chore(ci): try force kill before upload
  .github/actions/artifact_failure/action.yml
Labels: pr-chore

#10008 chore: refactor rule pushdown filter to join
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/extract_or_predicates.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
Labels: pr-chore

#10013 fix: Reduce the extra stat API in list operations
  Cargo.lock
  Cargo.toml
  src/query/sharing/Cargo.toml
Labels: pr-bugfix

#10017 refactor: Introduction of FieldIndex and ColumnId types for clear differentiation of use
  src/common/storage/src/column_node.rs
  src/common/storage/tests/it/column_node.rs
  src/query/catalog/src/plan/projection.rs
  src/query/catalog/src/table.rs
  src/query/expression/src/schema.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/table-meta/src/meta/mod.rs
  src/query/storages/common/table-meta/src/meta/statistics.rs
  src/query/storages/common/table-meta/src/meta/v0/common.rs
  src/query/storages/common/table-meta/src/meta/v0/segment.rs
  src/query/storages/common/table-meta/src/meta/v0/statistics.rs
  src/query/storages/common/table-meta/src/meta/v1/segment.rs
  src/query/storages/common/table-meta/src/meta/v1/table_snapshot_statistics.rs
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
  src/query/storages/fuse/src/fuse_part.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
  src/query/storages/fuse/src/statistics/block_statistics.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-refactor

#10021 feat: derive new filter and push down
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/derive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-feature

#10014 rfc: query result cache.
  docs/doc/90-contributing/01-rfcs/20230213-query-result-cache.md
Labels: pr-rfc

#10025 chore(query): remove extra hashtable iter
  src/query/expression/src/schema.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/03_dml/03_0026_insert_into_tuple
Labels: pr-chore

#10027 docs(EXPLAIN): add EXPLAIN ANALYZE doc
  docs/doc/14-sql-commands/90-explain-cmds/explain-analyze.md
Labels: pr-doc

#10003 docs(query): Re-organize numeric functions doc
  docs/doc/15-sql-functions/20-numeric-functions/_category_.json
  docs/doc/15-sql-functions/20-numeric-functions/abs.md
  docs/doc/15-sql-functions/20-numeric-functions/acos.md
  docs/doc/15-sql-functions/20-numeric-functions/asin.md
  docs/doc/15-sql-functions/20-numeric-functions/atan.md
  docs/doc/15-sql-functions/20-numeric-functions/atan2.md
  docs/doc/15-sql-functions/20-numeric-functions/ceil.md
  docs/doc/15-sql-functions/20-numeric-functions/ceiling.md
  docs/doc/15-sql-functions/20-numeric-functions/cos.md
  docs/doc/15-sql-functions/20-numeric-functions/cot.md
  docs/doc/15-sql-functions/20-numeric-functions/crc32.md
  docs/doc/15-sql-functions/20-numeric-functions/degrees.md
  docs/doc/15-sql-functions/20-numeric-functions/exp.md
  docs/doc/15-sql-functions/20-numeric-functions/floor.md
  docs/doc/15-sql-functions/20-numeric-functions/index.md
  docs/doc/15-sql-functions/20-numeric-functions/log_functions.md
  docs/doc/15-sql-functions/20-numeric-functions/pi.md
  docs/doc/15-sql-functions/20-numeric-functions/pow.md
  docs/doc/15-sql-functions/20-numeric-functions/radians.md
  docs/doc/15-sql-functions/20-numeric-functions/rand.md
  docs/doc/15-sql-functions/20-numeric-functions/round.md
  docs/doc/15-sql-functions/20-numeric-functions/sign.md
  docs/doc/15-sql-functions/20-numeric-functions/sin.md
  docs/doc/15-sql-functions/20-numeric-functions/sqrt.md
  docs/doc/15-sql-functions/20-numeric-functions/tan.md
  docs/doc/15-sql-functions/20-numeric-functions/truncate.md
Labels: pr-doc

#10028 chore(tpch): simple the TPC-H bench
  benchmark/tpch/README.md
  benchmark/tpch/create_table.sh
  benchmark/tpch/prepare_fuse_table.sh
  benchmark/tpch/prepare_native_table.sh
  benchmark/tpch/shell_env.sh
  benchmark/tpch/tpch.sh
Labels: pr-chore

#10030 docs(functions): reorg the functions style
  docs/doc/15-sql-functions/01-arithmetics-operators/index.md
  docs/doc/15-sql-functions/02-comparisons-operators/index.md
  docs/doc/15-sql-functions/03-logic-operators/index.md
  docs/doc/15-sql-functions/04-array-functions/index.md
Labels: pr-doc

#10031 docs(website): refine the menu
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: pr-doc

#10019 ci: run benchmark for clickbench result format
  .github/workflows/benchmark.yml
  .github/workflows/dev-perf.yml
  .github/workflows/trusted-benchmark.yml
  .github/workflows/trusted-perf.yml
  .gitignore
  benchmark/clickbench/benchmark.sh
  benchmark/clickbench/create.sql
  benchmark/clickbench/index.html
  benchmark/clickbench/load.sql
  benchmark/clickbench/queries.sql
  benchmark/clickbench/run.sh
  benchmark/clickbench/update-results.sh
Labels: pr-build, ci-benchmark

#10033 chore(ci): add permission to trusted workflow
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10026 docs:add tuple data type
  docs/doc/13-sql-reference/10-data-types/41-data-type-tuple-types.md
  docs/doc/13-sql-reference/10-data-types/index.md
Labels: pr-doc

#10038 chore(ci): trigger benchmark on release manually
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10041 chore(ci): only setup commit authors for query storage
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/trusted-benchmark.yml
  Cargo.lock
  src/common/building/Cargo.toml
  src/common/building/src/lib.rs
  src/query/storages/system/build.rs
Labels: pr-chore

#10040 fix(privilege): add privileges on system.one to PUBLIC by default
  src/meta/app/src/principal/user_privilege.rs
  src/query/service/src/interpreters/interpreter_role_create.rs
  src/query/users/src/role_mgr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege
  tests/sqllogictests/suites/base/05_ddl/05_0018_ddl_revoke
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_revoke
  tests/sqllogictests/suites/base/05_ddl/05_0024_ddl_set_role
  tests/sqllogictests/suites/base/06_show/06_0007_show_roles
Labels: pr-bugfix

#10043 fix: fix limit pushdown outer join
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
Labels: pr-bugfix

#10037 fix: fix add column update bug
  src/query/expression/src/block.rs
  src/query/expression/tests/it/fill_field_default_value.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/suites/0_stateless/17_altertable/17_0003_alter_table_update.result
Labels: pr-bugfix

#10022 fix(storage): new bloom filter that bind index with Column Id instead of column name
  scripts/setup/dev_setup.sh
  src/query/catalog/src/plan/pushdown.rs
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/schema.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/xor8/block_filter_versions.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/table-meta/src/meta/v2/snapshot.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/meta/versioned_reader.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_01_bloom_in_pruning
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
Labels: pr-bugfix

#10032 docs(blog): add profile-guided optimization
  website/blog/2023-02-14-pgo.md
Labels: pr-doc

#10046 docs(scalar-functions): work with new expression
  docs/doc/90-contributing/08-how-to-write-scalar-functions.md
Labels: pr-doc

#10048 chore(ci): select min from more result values
  .github/workflows/release.yml
  benchmark/clickbench/index.html
  benchmark/clickbench/run.sh
Labels: pr-chore

#10050 ci(benchmark): run benchmark both s3 & fs
  .github/actions/benchmark/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/benchmark.sh
  benchmark/clickbench/create_local.sql
  tests/meta-cluster/test-meta-cluster.sh
Labels: pr-build, ci-benchmark

#10052 chore(ci): fix download benchmark artifacts
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10055 chore(ci): add storage type to bench mark system
  .github/actions/benchmark/action.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/index.html
Labels: pr-chore

#10051 fix: ignore dropped column statistics by column id when reducing block statistics
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/mod.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
  src/query/storages/fuse/src/statistics/reducers.rs
Labels: pr-bugfix

#10058 docs(functions): Re-organize hash function doc
  docs/doc/15-sql-functions/70-hash-functions/_category_.json
  docs/doc/15-sql-functions/70-hash-functions/blake3hash.md
  docs/doc/15-sql-functions/70-hash-functions/city64withseed.md
  docs/doc/15-sql-functions/70-hash-functions/index.md
  docs/doc/15-sql-functions/70-hash-functions/md5hash.md
  docs/doc/15-sql-functions/70-hash-functions/sha1hash.md
  docs/doc/15-sql-functions/70-hash-functions/sha2hash.md
  docs/doc/15-sql-functions/70-hash-functions/siphash.md
  docs/doc/15-sql-functions/70-hash-functions/xxhash32.md
  docs/doc/15-sql-functions/70-hash-functions/xxhash64.md
Labels: pr-doc

#10060 chore(ci): release deb for gnu with arm64&amd64
  .github/actions/publish_binary/nfpm.yaml
  .github/workflows/release.yml
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10063 docs(type): change the order of datatypes
  README.md
  docs/doc/13-sql-reference/10-data-types/40-data-type-array-types.md
  docs/doc/13-sql-reference/10-data-types/41-data-type-tuple-types.md
  docs/doc/13-sql-reference/10-data-types/42-data-type-semi-structured-types.md
  docs/doc/13-sql-reference/10-data-types/index.md
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  docs/doc/14-sql-commands/20-query-syntax/dml-json-path.md
Labels: pr-doc

#10064 docs(functions): re-organize conditional function doc
  docs/doc/13-sql-reference/10-data-types/60-data-type-nullable-types.md
  docs/doc/15-sql-functions/11-conditional-functions/_category_.json
  docs/doc/15-sql-functions/11-conditional-functions/if.md
  docs/doc/15-sql-functions/11-conditional-functions/ifnull.md
  docs/doc/15-sql-functions/11-conditional-functions/in.md
  docs/doc/15-sql-functions/11-conditional-functions/index.md
  docs/doc/15-sql-functions/11-conditional-functions/is_distinct_from.md
  docs/doc/15-sql-functions/11-conditional-functions/isnotnull.md
  docs/doc/15-sql-functions/11-conditional-functions/isnull.md
  docs/doc/15-sql-functions/11-conditional-functions/multi_if.md
  docs/doc/15-sql-functions/11-conditional-functions/nullif.md
Labels: pr-doc

#10045 docs(agg-functions): work with new expression
  docs/doc/90-contributing/08-how-to-write-scalar-functions.md
  docs/doc/90-contributing/09-how-to-write-aggregate-functions.md
Labels: pr-doc

#10068 fix(storage): wrong column statistics when contain tuple type
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/fuse/src/operations/mutation/serialize_data_transform.rs
  src/query/storages/fuse/src/statistics/block_statistics.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
Labels: prio: high, pr-bugfix

#10071 chore(ci): generate report for nightly on release
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10072 docs(scalar-function): polished with eric's comments
  docs/doc/90-contributing/08-how-to-write-scalar-functions.md
  docs/doc/90-contributing/09-how-to-write-aggregate-functions.md
Labels: pr-doc

#10073 chore: remove rebundant transform_limit.rs.
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_limit.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
Labels: pr-chore

#10066 feat: select from stage support uri with connection options.
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/sql/src/planner/binder/table.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_05_query_uri.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_05_query_uri.sh
Labels: pr-feature

#10074 chore(ci): ignore file change error on uploading failure artifact
  .github/actions/artifact_failure/action.yml
Labels: pr-chore

#10076 docs(cache): add disk cache doc
  docs/doc/10-deploy/07-query/10-query-config.md
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
Labels: pr-doc

#10075 chore: enable delete tests for crdb suit
  src/query/catalog/src/table.rs
  tests/sqllogictests/suites/crdb/delete
Labels: pr-chore

#10006 fix(cluster): fix limit query hang in cluster mode
  Cargo.lock
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
Labels: pr-bugfix

#10077 fix: config checking for obsoleted config options `table_cache_bloom_index_data_bytes`
  src/query/config/src/config.rs
  src/query/service/tests/it/configs.rs
Labels: pr-bugfix

#10078 refactor: refactor is_nested column node
  src/common/storage/src/column_node.rs
  src/query/catalog/src/plan/projection.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
Labels: pr-refactor

#10083 fix(cluster): fix wrong error message 'abort query'
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
Labels: pr-bugfix

#10080 ci: release deb repository
  .github/actions/publish_repository/action.yml
  .github/workflows/release.yml
  scripts/deb/conf/distributions
Labels: pr-build

#10082 refactor(meta/client): add compatible layer for upgrade
  Cargo.lock
  src/binaries/meta/kvapi.rs
  src/meta/api/Cargo.toml
  src/meta/api/src/errors.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/reply.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/testing.rs
  src/meta/api/src/util.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/embedded/src/kv_api_impl.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/meta/service/tests/it/meta_node/meta_node_seq_api.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/errors/kv_app_errors.rs
  src/meta/types/src/message.rs
  src/query/management/src/file_format/file_format_mgr.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor
