Repository databendlabs/databend, pull requests merged in 2023-04, with the labels that each got.

#10889 chore: add completion mode for SQL or Text
  src/common/openai/src/completion.rs
  src/common/openai/src/lib.rs
  src/query/functions/src/scalars/vector.rs
  src/query/service/src/table_functions/openai/ai_to_sql.rs
Labels: pr-chore

#10890 ci: wait longer for query start
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-sharing.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
Labels: pr-build

#10888 feat: Allow setting connect timeout and timeout for s3
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
Labels: pr-feature

#10868 chore(planner): Add more tests for `ProjectSet`
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
Labels: pr-chore

#10867 fix(FlightSQL): empty query result set need a schema FlightData.
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
Labels: pr-bugfix

#10891 feat: Allow setting pool_max_idle_per_host for http client
  src/common/storage/src/operator.rs
Labels: pr-feature

#10884 fix(planner): propagate `ColumnStat` through `EvalScalar`
  src/query/sql/src/planner/plans/eval_scalar.rs
Labels: pr-bugfix

#10893 ci: separate x86_64 gnu build for dev-linux
  .github/actions/artifact_failure/action.yml
  .github/actions/fuse_compat/action.yml
  .github/actions/test_compat/action.yml
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/actions/test_meta_cluster/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/workflows/build-tool.yml
  .github/workflows/dev-linux.yml
  .github/workflows/release.yml
  benchmark/clickbench/benchmark_local.sh
  scripts/setup/dev_setup.sh
  tests/compat/test-compat.sh
  tests/meta-cluster/test-meta-cluster.sh
Labels: pr-bugfix, pr-build

#10883 chore: optimize dphyp join order algorithm
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/hyper_dp/query_graph.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#10892 docs: refactor Jupyter Notebook
  docs/doc/11-integrations/20-gui-tool/00-jupyter.md
  docs/public/img/integration/notebook-tree.png
Labels: pr-doc

#10896 docs: add ai function
  README.md
  docs/doc/01-guides/index.md
  docs/doc/15-sql-functions/61-ai-functions/02-ai-embedding-vector.md
  docs/doc/15-sql-functions/61-ai-functions/03-ai-cosine-distance.md
  docs/doc/15-sql-functions/61-ai-functions/04-ai-text-completion.md
  docs/doc/15-sql-functions/61-ai-functions/index.md
Labels: pr-doc

#10887 feat: support aggregation function in window clause.
  src/query/expression/src/type_check.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#10899 ci: fix typo for update benchmark result [skip ci]
  .github/workflows/trusted-benchmark.yml
Labels: pr-build

#10827 fix(query): expr children with projectset not fold count
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/util.rs
  src/query/sql/src/planner/plans/project_set.rs
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-bugfix

#10894 docs(blog): add this week in databend 87
  website/blog/2023-04-01-databend-weekly-87.md
Labels: pr-doc

#10870 chore(query): show full columns print filed: comment -> Comment
  src/query/sql/src/planner/binder/ddl/column.rs
Labels: pr-chore

#10900 chore: make the completion more larger response
  src/common/openai/src/completion.rs
Labels: pr-chore

#10901 docs: add more caution for the OpenAI api
  docs/doc/01-guides/index.md
  docs/doc/15-sql-functions/61-ai-functions/01-ai-to-sql.md
  docs/doc/15-sql-functions/61-ai-functions/02-ai-embedding-vector.md
  docs/doc/15-sql-functions/61-ai-functions/03-ai-text-completion.md
  docs/doc/15-sql-functions/61-ai-functions/04-ai-cosine-distance.md
  docs/doc/15-sql-functions/61-ai-functions/index.md
Labels: pr-doc

#10906 docs(Aggregate functions index page): Function summarization of KURTOSIS, SKEWNESS are added.
  docs/doc/15-sql-functions/10-aggregate-functions/index.md
Labels: pr-doc

#10831 fix: processors used in the impl of `replace into` may lose data
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_broadcast.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_append.rs
  src/query/storages/fuse/src/operations/replace_into/processor_replace_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0024_replace_into_issue_10861
Labels: pr-bugfix

#10908 feat: flight sql support send progress into client
  src/query/catalog/src/table_context.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/service.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session_status.rs
  src/query/service/src/stream/processor_executor_stream.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/table_read_plan.rs
Labels: pr-feature

#10915 docs: create table attributes
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#10913 fix(FlightSQL): Array/Tuple/Map to arrow_rs.
  src/query/expression/src/convert_arrow_rs/array.rs
  src/query/expression/src/convert_arrow_rs/schema.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
Labels: pr-bugfix

#10916 feat(debug): Add timeout while reading from s3
  src/common/storage/src/lib.rs
  src/common/storage/src/runtime_layer.rs
Labels: pr-feature

#10917 chore: modified image
  website/static/img/blog/clickbench.png
  website/static/img/blog/databend-minio-beginner-01.png
  website/static/img/blog/databend-on-webhdfs.png
  website/static/img/blog/databend-using-TPC-H.png
  website/static/img/blog/databend-vseven.png
  website/static/img/blog/deploying-databend-on-laptop.png
  website/static/img/blog/design-querying-json.png
  website/static/img/blog/from-git-to-fuse-engine.png
  website/static/img/blog/rewrite-in-rust.png
  website/static/img/blog/they-use-mergify.png
  website/static/img/blog/time-travel.png
Labels: pr-chore

#10716 feat(planner): support eager aggregation
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/cascades/explore_rules.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/m_expr.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_split_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/transform/mod.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
  src/query/sql/src/planner/plans/aggregate.rs
Labels: pr-feature

#10919 refactor(meta): extract file_format.proto and stage.proto.
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/protos/proto/config.proto
  src/meta/protos/proto/file_format.proto
  src/meta/protos/proto/stage.proto
  src/meta/protos/proto/table.proto
  src/meta/protos/proto/user.proto
Labels: pr-refactor

#10920 chore(http_handler): log panic reason.
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-chore

#10923 ci: add python3 as build dependency
  scripts/setup/dev_setup.sh
Labels: pr-build

#10924 docs: better iceberg-catalog.md sql format
  docs/doc/90-contributing/01-rfcs/20221013-iceberg-catalog.md
Labels: pr-doc

#10918 feat(storage): Make sure all futures are spawned on global runtime
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
Labels: pr-feature, ci-benchmark, ci-largedata

#10928 ci: fix install python3 for dev_setup
  scripts/setup/dev_setup.sh
Labels: pr-build

#10922 docs: Update 03-analyze-user-retention-with-databend.md
  docs/doc/21-use-cases/03-analyze-user-retention-with-databend.md
Labels: pr-doc

#10930 ci: fix build tool for musl
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_hive/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/workflows/backport.yml
  .github/workflows/dev-linux.yml
  .github/workflows/release.yml
  docker/build-tool/base/Dockerfile
  docker/build-tool/musl/Dockerfile
  scripts/setup/run_build_tool.sh
Labels: pr-build

#10932 ci: install g++ for cross build
  docker/build-tool/gnu/Dockerfile
  docker/build-tool/musl/Dockerfile
Labels: pr-build

#10933 ci: add makefile target for build in docker
  .github/actions/setup_build_tool/action.yml
  Makefile
  scripts/build/build-k8s-runner.sh
  scripts/setup/run_build_tool.sh
Labels: pr-build

#10926 feat: Output internal config while starting
  src/binaries/query/main.rs
Labels: pr-feature

#10936 ci: symlink musl ar for linking
  docker/build-tool/musl/Dockerfile
Labels: pr-build

#10929 feat: show share and create db from share check from share endpoint
  Cargo.lock
  src/binaries/opensharing/main.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/share.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/sharing-endpoint/Cargo.toml
  src/query/sharing-endpoint/src/accessor.rs
  src/query/sharing-endpoint/src/accessor/share_spec_accessor.rs
  src/query/sharing-endpoint/src/accessor/share_table_accessor.rs
  src/query/sharing-endpoint/src/handlers.rs
  src/query/sharing-endpoint/src/models.rs
  src/query/sharing-endpoint/tests/it/models.rs
  src/query/sharing/Cargo.toml
  src/query/sharing/src/share_endpoint.rs
  src/query/sql/src/planner/plans/share.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/share/Cargo.toml
  src/query/storages/share/src/share.rs
Labels: pr-feature

#10904 chore: push non-equi conditions to join
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
Labels: pr-chore

#10910 feat: support cte in dphyp
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/query_graph.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  src/query/storages/parquet/src/pruning.rs
  tests/sqllogictests/suites/base/06_show/06_0015_show_columns
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/broadcast_join.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/group_shuffle.test
  tests/sqllogictests/suites/mode/cluster/shuffle_join.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
Labels: pr-feature

#10942 ci(stage): fix flaky test #10939
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_07_list_stage.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_07_list_stage.sh
Labels: pr-build

#10940 fix: don't map trivial columns in block operator
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/physical_plan.rs
Labels: pr-bugfix

#10941 refactor: Switch to global IO runtime for pruning
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-refactor, ci-benchmark, ci-largedata

#10911 feat: support `RANGE` frame for window function.
  Cargo.lock
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/plans/window.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
  tests/sqllogictests/suites/query/window_function/window_bound.test
  tests/sqllogictests/suites/query/window_function/window_range.test
Labels: pr-feature

#10927 feat(query): common eval scalar Elimination
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/tuple.txt
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/evaluator/mod.rs
  src/query/sql/tests/block_operator.rs
  src/query/storages/fuse/src/operations/append.rs
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
Labels: pr-feature

#10934 feat(window): support inherited named window
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
Labels: pr-feature

#10912 fix(parser): allow set operations in subquery
  src/query/ast/benches/bench.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/query.txt
Labels: pr-bugfix

#10944 fix: missing filter operators in dphyp
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
Labels: pr-bugfix

#10946 fix(expression): fix incorrect nullable array cast
  src/query/expression/src/evaluator.rs
  tests/sqllogictests/suites/duckdb/sql/cast/double_float_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/float_integer_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/test_boolean_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/test_exponent_in_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/test_string_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/test_try_cast.test
  tests/sqllogictests/suites/duckdb/sql/cast/timestamp_date_cast.test
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-bugfix

#10951 fix(query): mysql affected_rows should use write process value
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-bugfix

#10931 refactor(format): add FileFormatParams.
  src/meta/app/src/principal/file_format.rs
  src/meta/app/src/principal/mod.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v032_file_format_params.rs
  src/meta/protos/proto/file_format.proto
Labels: pr-refactor

#10956 fix: non-equi condition is mistaken as equi condition
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
Labels: pr-bugfix

#10952 feat(planner): introduce a utility to check if a variable is not null
  src/query/constraint/src/declare.rs
  src/query/constraint/src/lib.rs
  src/query/constraint/src/prelude.rs
  src/query/constraint/src/problem.rs
  src/query/constraint/tests/it/declare.rs
  src/query/constraint/tests/it/main.rs
  src/query/constraint/tests/it/problem.rs
Labels: pr-feature

#10950 refactor(query): delete is_accurate in Statistics
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/runtime_filter_source.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/sql/src/planner/plans/window.rs
Labels: pr-refactor

#10955 fix: `fixed_hash` supports Decimal types.
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by
Labels: pr-bugfix

#10959 fix: join condition may be nullable
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-bugfix

#10958 feat(query): copy with transform support max_files
  src/common/storage/src/stage.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  tests/data/00_0005/data/f1.parquet
  tests/data/00_0005/data/f2.parquet
  tests/data/00_0005/data/f3.parquet
  tests/suites/1_stateful/00_copy/00_0005_copy_from_stage_max_files.result
  tests/suites/1_stateful/00_copy/00_0005_copy_from_stage_max_files.sh
Labels: pr-feature

#10957 fix: skip errors on listing tables in admin api
  src/query/service/src/api/http/v1/tenant_tables.rs
  src/query/sharing/src/share_endpoint.rs
Labels: pr-bugfix

#10960 docs: fix array
  docs/doc/13-sql-reference/10-data-types/40-data-type-array-types.md
Labels: pr-doc

#10949 feat(query): Add toUnixTimestamp function
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-feature

#10963 chore(cluster): remove useless code
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
Labels: pr-chore

#10964 chore: expose flight sql port in docker
  docker/Dockerfile
  docker/query-config.toml
  scripts/distribution/configs/databend-query.toml
Labels: pr-chore

#10970 fix: subquery derived column type
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
Labels: pr-bugfix

#10972 chore: if a select item is in grouping sets, its data type should be nullable.
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
Labels: pr-chore

#10973 chore: refactor subquery code
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-chore

#10962 docs: add ipython-sql to jupyter notebook
  docs/doc/11-integrations/20-gui-tool/00-jupyter.md
  docs/public/img/integration/jupyter-ipython-sql.png
Labels: pr-doc

#10979 refactor: Revert switch to global IO runtime for pruning
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-refactor

#10980 fix(executor): catch unwind for executor on_init and on_finished
  src/query/service/src/pipelines/executor/pipeline_executor.rs
Labels: pr-bugfix

#10984 fix(cluster): try fix cluster session leak
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/pipelines/executor/mod.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
Labels: pr-bugfix

#10978 fix: swallow all the errors about sharing database in system.tables
  src/query/storages/system/src/tables_table.rs
Labels: pr-bugfix

#10988 docs: add example to ai funtions
  docs/doc/15-sql-functions/61-ai-functions/index.md
Labels: pr-doc

#10991 chore(ci): fix release dockerhub description [skip ci]
  .github/workflows/release.yml
Labels: pr-chore

#10990 docs(weekly): add this week in databend 88
  website/blog/2023-04-08-databend-weekly-88.md
Labels: pr-doc

#10992 docs(weekly): fix url
  website/blog/2023-04-08-databend-weekly-88.md
Labels: pr-doc

#10982 fix(query): parquet don't need sort by meta infos
  src/query/storages/parquet/src/deserialize_transform.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-bugfix

#10994 docs(weekly): improve according to eric's comments
  website/blog/2023-04-08-databend-weekly-88.md
Labels: pr-doc

#10993 feat: add openai api_base_url, completion_model and embedding_model to query config
  src/common/openai/src/completion.rs
  src/common/openai/src/completion_sql.rs
  src/common/openai/src/embedding.rs
  src/common/openai/src/lib.rs
  src/common/openai/src/openai.rs
  src/common/openai/tests/it/openai.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/functions/src/scalars/vector.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/table_functions/openai/ai_to_sql.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-feature

#10995 docs: TO_UNIX_TIMESTAMP
  docs/doc/15-sql-functions/30-datetime-functions/tounixtimestamp.md
Labels: pr-doc

#10996 chore: fix ai_to_sql response miss blank
  src/query/service/src/table_functions/openai/ai_to_sql.rs
Labels: pr-chore

#10997 fix: ensure builtin roles on JWT check
  src/query/service/src/auth.rs
  src/query/users/src/role_mgr.rs
Labels: pr-bugfix, ci-benchmark

#10989 feat(window): Support window function in order by clause
  scripts/ci/ci-run-stateful-tests-standalone-minio.sh
  scripts/ci/deploy/databend-query-sharing.sh
  src/query/ast/src/parser/query.rs
  src/query/sharing-endpoint/src/middlewares.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#11000 feat: add filter cardinality for scan prewhere
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
Labels: pr-feature

#10729 feat(query): Support variant json path push down as virtual column
  Cargo.lock
  src/query/catalog/src/plan/pushdown.rs
  src/query/catalog/src/table.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-feature

#11003 feat(query): add total_scan to ExecuteState
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-feature

#11001 fix(query): drop table unknown table should return error
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_drop_tables
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table
  tests/sqllogictests/suites/base/05_ddl/05_0020_ddl_drop_view
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
Labels: pr-bugfix

#11010 docs: rename a invalid file
  docs/doc/16-security/00-access-control/10-access-control-privileges.md
Labels: pr-doc

#10999 refactor(query): add flight SQL session ttl
  src/query/expression/src/convert_arrow_rs/array.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/mod.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/service.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/mod.rs
Labels: pr-refactor

#11012 chore(query): make embedding_vector returns default if not valid
  src/query/functions/src/scalars/vector.rs
Labels: pr-chore

#11011 docs: add role_arn and external_id for s3 services
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11018 docs: Access Control Privileges
  docs/doc/16-security/00-access-control/10-access-control-privileges.md
Labels: pr-doc

#11006 refactor: add drop share database and table test
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_share_drop.rs
  src/query/service/src/interpreters/interpreter_share_grant_object.rs
  src/query/service/src/interpreters/interpreter_share_revoke_object.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sharing/Cargo.toml
  src/query/sharing/src/share_endpoint.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/share/src/share.rs
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.sh
Labels: pr-refactor

#11020 refactor(ci):simplify tests for streaming load.
  tests/suites/1_stateful/01_load/01_0003_streaming_variant_load.result
  tests/suites/1_stateful/01_load/01_0003_streaming_variant_load.sh
  tests/suites/1_stateful/01_load/01_0004_streaming_parquet_int96.sh
  tests/suites/1_stateful/01_load/01_0004_streaming_variant_load.sh
Labels: pr-refactor

#11019 docs: Manage settings
  docs/doc/10-deploy/06-manage-settings.md
  docs/doc/10-deploy/_category_.json
Labels: pr-doc

#11025 docs: tpcds benchmark
  website/blog/2023-04-11-benchmark-tpc-ds.md
Labels: pr-doc

#11021 feat(function): Add `string_agg` Aggregate function
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-string-agg.md
  docs/doc/15-sql-functions/10-aggregate-functions/index.md
  src/query/functions/src/aggregates/aggregate_list.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix
Labels: pr-feature

#11016 feat(planner): Refactor outer join elimination with constraint
  Cargo.lock
  src/query/constraint/src/lib.rs
  src/query/constraint/src/problem.rs
  src/query/constraint/tests/it/problem.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/optimizer/property/constraint.rs
  src/query/sql/src/planner/optimizer/property/datum.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-feature

#11028 fix(query): try fix unit test failure
  src/common/base/src/runtime/runtime.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_append.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_source.rs
Labels: pr-bugfix

#10965 fix(cluster): fix cluster mode cpu idle
  src/query/service/src/api/rpc/exchange/exchange_injector.rs
  src/query/service/src/api/rpc/exchange/exchange_source.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
Labels: pr-bugfix

#11033 docs: add more example to variant&map data type
  docs/doc/13-sql-reference/10-data-types/42-data-type-map.md
  docs/doc/13-sql-reference/10-data-types/43-data-type-variant.md
Labels: pr-doc

#11032 feat: support nullable order by column in range frame.
  Cargo.lock
  src/query/expression/src/kernels/sort.rs
  src/query/expression/tests/it/sort.rs
  src/query/functions/src/scalars/array.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/window/frame_bound.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/sql/src/planner/plans/window.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/recluster.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_bound.test
  tests/sqllogictests/suites/query/window_function/window_range.test
Labels: pr-feature

#11034 docs: add more example for ai functions
  docs/doc/15-sql-functions/61-ai-functions/index.md
Labels: pr-doc

#11008 fix: union panic in cluster
  scripts/ci/ci-run-stateless-tests-cluster.sh
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/plans/join.rs
  tests/suites/0_stateless/18_tpcds/18_0059_q59.sql
  tests/suites/0_stateless/18_tpcds/18_0064_q64.sql
Labels: pr-bugfix

#11040 chore: Bump arrow-flight to 36 to make space fix version lock on proc-macro2
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/arrow/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/tracing/Cargo.toml
  src/meta/api/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/protos/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#11042 fix: join condition should push down
  src/query/sql/src/planner/binder/join.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
Labels: pr-bugfix

#11041 chore(cluster): reduce pipeline
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
Labels: pr-chore

#11045 refactor: Bump OpenDAL to v0.31
  Cargo.lock
  Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
  src/common/storage/src/stage.rs
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/sharing-endpoint/src/accessor/share_table_accessor.rs
  src/query/sharing/src/layer.rs
  src/query/sharing/src/share_endpoint.rs
  src/query/sharing/src/signer.rs
  src/query/sql/src/planner/binder/presign.rs
  src/query/sql/src/planner/plans/presign.rs
Labels: pr-refactor

#11027 fix: inbound share should return only from share endpoint
  scripts/ci/deploy/config/databend-meta-node-share-3.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  scripts/ci/deploy/databend-query-sharing.sh
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/share/share.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/sharing/src/layer.rs
  src/query/sharing/src/share_endpoint.rs
  tests/shell_env.sh
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.sh
Labels: pr-bugfix

#10635 refactor(planner): minimize ScalarExpr
  src/query/ast/src/parser/stage.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/constraint.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/derive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/extract_or_predicates.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-refactor

#11053 docs: TOC refactor
  docs/doc/01-guides/index.md
  docs/doc/10-deploy/06-metasrv/_category_.json
  docs/doc/10-deploy/07-query/_category_.json
  docs/doc/10-deploy/08-backup-restore/_category_.json
  docs/doc/10-deploy/09-upgrade/10-backup-and-restore-schema.md
  docs/doc/10-deploy/09-upgrade/90-upgrade-1.0.md
  docs/doc/10-deploy/09-upgrade/_category_.json
  docs/doc/10-deploy/_category_.json
  docs/doc/100-faq/20-how-to-tracing.md
  docs/doc/11-integrations/00-api/_category_.json
  docs/doc/11-integrations/10-data-tool/_category_.json
  docs/doc/11-integrations/20-gui-tool/_category_.json
  docs/doc/11-integrations/_category_.json
  docs/doc/12-load-data/00-stage.md
  docs/doc/12-load-data/01-s3.md
  docs/doc/12-load-data/02-local.md
  docs/doc/12-load-data/04-http.md
  docs/doc/12-load-data/_category_.json
  docs/doc/12-unload-data/_category_.json
  docs/doc/13-sql-reference/41-access-control-privileges.md
  docs/doc/16-security/00-access-control/_category_.json
  docs/doc/16-security/_category_.json
Labels: pr-doc

#11014 feat(query): optimize the probe of hash join
  src/query/expression/src/kernels/mod.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/tests/it/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
Labels: pr-feature

#11047 feat: system table of cache status
  Cargo.lock
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/caches_table.rs
  src/query/storages/system/src/lib.rs
Labels: pr-feature

#11055 fix: tls feature for arrow-flight is missing
  src/query/service/Cargo.toml
Labels: pr-bugfix

#11044 docs: add more examples for aggregate
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-any.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-approx-count-distinct.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-arg-max.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-arg-min.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-avg-if.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-avg.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-count-distinct.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-count-if.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-count.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-covar-pop.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-covar-samp.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-kurtosis.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-list.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-max-if.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-max.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-median.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-min-if.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-min.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-quantile-cont.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-quantile-disc.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-retention.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-skewness.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-stddev-pop.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-stddev-samp.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-string-agg.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-sum-if.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-sum.md
  docs/doc/15-sql-functions/10-aggregate-functions/index.md
  docs/doc/15-sql-functions/122-window-functions/01-window-function-dense-rank.md
  docs/doc/15-sql-functions/122-window-functions/01-window-function-row-number.md
  docs/doc/15-sql-functions/122-window-functions/index.md
Labels: pr-doc

#11051 feat: split large block during load.
  src/query/expression/src/block.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_for_copy.rs
  src/query/storages/fuse/src/operations/append.rs
Labels: pr-feature

#11058 ci: fix load data for benchmark
  benchmark/clickbench/hits/load.sql
  benchmark/clickbench/tpch/load.sql
Labels: pr-build

#11060 refactor(planner): Minor refactor of `JoinPredicate`
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
Labels: pr-refactor

#11059 chore: bump arrow and tonic
  Cargo.lock
  Cargo.toml
  scripts/ci/deploy/databend-query-sharing.sh
  src/common/arrow/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/convert_arrow_rs/array.rs
  src/query/expression/src/convert_arrow_rs/schema.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/service.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
Labels: pr-chore

#11065 ci: disable workflow dev macos [skip ci]
  .github/backup/backport.yml
  .github/backup/dev-macos.yml
Labels: pr-build

#11066 ci: include bendsql for deb repo [skip ci]
  .github/actions/publish_deb/action.yml
Labels: pr-build

#11068 docs: sql functions index title
  docs/doc/15-sql-functions/01-arithmetics-operators/index.md
  docs/doc/15-sql-functions/02-comparisons-operators/index.md
  docs/doc/15-sql-functions/03-logic-operators/index.md
  docs/doc/15-sql-functions/04-array-functions/index.md
  docs/doc/15-sql-functions/11-conditional-functions/index.md
  docs/doc/15-sql-functions/130-geo-functions/index.md
  docs/doc/15-sql-functions/20-numeric-functions/index.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
  docs/doc/15-sql-functions/70-hash-functions/index.md
  docs/doc/15-sql-functions/80-uuid-functions/index.md
  docs/doc/15-sql-functions/90-context-functions/index.md
Labels: pr-doc

#11069 ci: fix load data for benchmark [skip ci]
  .github/workflows/release.yml
  benchmark/clickbench/hits/load.sql
  benchmark/clickbench/tpch/load.sql
Labels: pr-build

#11072 chore: disable share statefull test and check bugs
  scripts/ci/ci-run-sharding-tests.sh
Labels: pr-chore

#11057 feat(function): Add array_aggregate functions
  docs/doc/15-sql-functions/04-array-functions/index.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-array-agg.md
  docs/doc/15-sql-functions/10-aggregate-functions/index.md
  docs/doc/15-sql-functions/122-window-functions/index.md
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#11075 chore: enable share statefull test and fix read share table bug
  scripts/ci/ci-run-sharding-tests.sh
  src/query/sharing-endpoint/src/accessor/share_table_accessor.rs
Labels: pr-chore

#11074 docs(blog): What's Fresh in Databend v1.1
  website/blog/2023-04-14-databend-v1.1-release.md
  website/src/components/CustomBlog/BlogPostDetails.js
  website/static/img/blog/askbend.png
  website/static/img/blog/databend-veleven.png
Labels: pr-doc

#11077 ci(function): test explain window function.
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-build

#11070 chore(planner): Add benchmark utility for constraint
  Cargo.lock
  src/query/constraint/Cargo.toml
  src/query/constraint/benches/bench.rs
Labels: pr-chore

#11080 fix(query): fix insert value parse string to json
  src/query/formats/src/field_decoder/csv.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/row_based.rs
  src/query/formats/src/field_decoder/xml.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant
  tests/suites/1_stateful/01_load/01_0003_streaming_variant_load.result
Labels: pr-bugfix

#11082 ci: use larger runner for hive release build [skip ci]
  .github/workflows/release.yml
Labels: pr-build

#11081 fix: cannot share a db which is created from share, and test cases
  src/common/exception/src/exception_code.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/app_error.rs
  src/query/sharing-endpoint/src/accessor/share_spec_accessor.rs
  src/query/sharing-endpoint/src/accessor/share_table_accessor.rs
  src/query/storages/share/src/lib.rs
  src/query/storages/share/src/share.rs
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.sh
Labels: pr-bugfix

#11085 docs(weekly): add this week in databend 89
  website/blog/2023-04-15-databend-weekly-89.md
Labels: pr-doc

#11043 feat(SOUNDS LIKE): add "SOUNDS LIKE" syntax for String comparing.
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/scalars/string.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0039_function_strings_sounds_like
Labels: pr-feature

#11094 feat(function): support window function percent_rank.
  src/query/functions/src/lib.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/plans/window.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#11099 fix(storage): read snapshot with wrong version
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-bugfix

#11100 docs: docker setup
  docs/doc/10-deploy/05-deploying-local.md
  docs/public/img/deploy/minio-deployment-verify.png
Labels: pr-doc

#11104 fix: Highlight blog code
  website/src/components/CustomBlog/BlogPostDetails.js
Labels: pr-bugfix

#11101 docs: moved metrics content to monitor
  docs/doc/10-deploy/06-metasrv/60-metasrv-status.md
  docs/doc/13-monitor/10-metasrv-metrics.md
  docs/doc/13-monitor/20-query-metrics.md
  docs/doc/13-monitor/tools/_category_.json
  docs/doc/13-monitor/tools/jaeger.md
  docs/doc/13-monitor/tools/prometheus-and-grafana.md
  docs/doc/13-monitor/tools/sentry.md
Labels: pr-doc

#11102 fix(copy): fix copy abort not in query_log.
  src/query/service/src/interpreters/interpreter_copy.rs
Labels: pr-bugfix

#11103 docs: added youtube video
  docs/doc/00-overview/index.md
Labels: pr-doc

#11107 chore: Bump to reqsign 0.9.2 for helping debug
  Cargo.lock
Labels: pr-chore

#11105 fix: join cardinality estimate
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/star.test
Labels: pr-bugfix

#11108 feat: support parse varbinary as String Type
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-feature

#11112 fix: iframe video style
  docs/doc/00-overview/index.md
  website/src/css/custom.scss
Labels: pr-bugfix

#11113 fix: Storage Service OSS's env is not loaded
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
Labels: pr-bugfix

#11078 feat: accelerate dphyp algo
  scripts/ci/ci-run-stateless-tests-standalone.sh
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/group.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_relation.rs
  src/query/sql/src/planner/optimizer/hyper_dp/query_graph.rs
  src/query/sql/src/planner/optimizer/memo.rs
  src/query/sql/src/planner/optimizer/pattern_extractor.rs
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/pattern.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/runtime_filter_source.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/sql/src/planner/plans/window.rs
  tests/suites/0_stateless/18_tpcds/18_0000_prepare.sh
Labels: pr-feature

#11111 refactor: revert to using all endpoints if all are unhealthy.
  src/meta/client/src/grpc_client.rs
Labels: pr-refactor

#11114 docs: refactor quick start materials
  docs/doc/01-guides/_category_.json
  docs/doc/01-guides/index.md
Labels: pr-doc

#11117 ci: add basic sqllogic test before release binaries [skip ci]
  .github/workflows/release.yml
Labels: pr-build

#11106 chore(ast): merge parsers for query and set_operation
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore
