Repository databendlabs/databend, pull requests merged in 2023-05, with the labels that each got.

#11277 chore: contributor-friendly error message
  src/meta/client/src/lib.rs
Labels: pr-chore

#11286 chore(build-tool): link musl with mold [skip ci]
  docker/build-tool/base/Dockerfile
  docker/build-tool/musl/linker.sh
Labels: pr-chore

#11287 chore(build-tool): fixes for shellcheck
  scripts/setup/run_build_tool.sh
  scripts/setup/rust-tools.txt
Labels: pr-chore

#11289 docs: add link to data types
  docs/doc/13-sql-reference/10-data-types/index.md
Labels: pr-doc

#11291 ci: include metactl in release
  .github/actions/build_linux/action.yml
  .github/actions/build_macos/action.yml
  .github/actions/publish_binary/action.yml
  .github/backup/dev-macos.yml
  .github/workflows/benchmark.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/trusted-cancel.yml
  scripts/distribution/nfpm.yaml
Labels: pr-build

#11292 docs(weekly): add this week in databend 91
  website/blog/2023-04-30-databend-weekly-91.md
Labels: pr-doc

#11294 docs: Update 2023-04-30-databend-weekly-91.md
  website/blog/2023-04-30-databend-weekly-91.md
Labels: pr-doc

#11290 fix(create): fix table options validation
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/storages/common/table-meta/src/table/table_keys.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
Labels: pr-bugfix

#11299 ci: Add rust-analyzer in rust toolchain
  scripts/setup/rust-toolchain.toml
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
Labels: pr-build

#11304 feat: add bitmap_count function
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0064_function_bitmap
Labels: pr-feature

#11305 feat: support to use config override parquet_fast_read_bytes and max_storage_io_requests settings
  src/common/storage/src/config.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/tests/it/license/license_mgr.rs
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sessions/session_setting.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/service/tests/it/tests/config.rs
Labels: pr-feature

#11311 docs: set_var
  docs/doc/14-sql-commands/80-setting-cmds/01-set-global.md
  docs/doc/14-sql-commands/80-setting-cmds/03-set-var.md
Labels: pr-doc

#11310 docs: Load data
  docs/doc/12-load-data/02-local.md
  docs/doc/12-load-data/04-http.md
  docs/doc/12-load-data/05-querying-stage.md
  docs/doc/12-load-data/06-data-load-transform.md
  docs/doc/12-load-data/index.md
Labels: pr-doc

#11272 feat: support alias in where clause.
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  tests/sqllogictests/suites/base/03_common/03_0000_select_aliases
Labels: pr-feature

#11308 feat: add vacuum table SQL
  src/common/exception/src/exception_code.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-feature

#11315 ci: fix install dependency for stateless test
  .github/workflows/release.yml
  scripts/setup/dev_setup.sh
Labels: pr-build

#11314 feat: view can be created on stage table query.
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_05_query_uri.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_08_view_as_select_stage.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_08_view_as_select_stage.sh
Labels: pr-feature

#11307 fix(query): fix insert JSON value in csv file
  Cargo.lock
  Cargo.toml
  src/query/formats/src/field_decoder/csv.rs
  src/query/formats/src/field_decoder/xml.rs
  tests/data/json_sample2.csv
  tests/suites/1_stateful/01_load/01_0003_streaming_variant_load.result
Labels: pr-bugfix

#11317 docs: add license faq
  docs/doc/100-faq/30-license-faqs.md
Labels: pr-feature, pr-doc

#11316 docs(develop/python): add close connect
  docs/doc/03-develop/01-python.md
Labels: pr-doc

#11319 fix: truncate should commit new meta to meta-server first
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/storages/fuse/src/io/files.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/truncate.rs
Labels: pr-bugfix

#11325 fix(planner): remove obsolete EOI token in insert probing
  src/query/sql/src/planner/planner.rs
Labels: pr-bugfix

#11321 feat: optimize join by reducing blocking at probe phase
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-feature, ci-benchmark

#11329 docs: why Optimize
  docs/doc/14-sql-commands/00-ddl/20-table/60-optimize-table.md
Labels: pr-doc

#11328 chore: refactor snapshot_format_version function, fix possible snapshot version missmatch bug
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/truncate.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: pr-chore

#11323 docs: data transform tutorials
  docs/doc/12-load-data/06-data-load-transform.md
Labels: pr-doc

#11327 ci: change benchmark machine name for cloud
  .github/workflows/benchmark.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-build, ci-benchmark

#11331 ci: run tpch benchmark on Medium
  .github/workflows/trusted-benchmark.yml
Labels: pr-build, ci-benchmark

#11330 fix(query): fix partial insert select
  src/query/expression/src/kernels/sort.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/base/03_common/03_0014_insert_into_select
Labels: pr-bugfix

#11337 fix: fix test_kits release mod build fail
  src/query/service/src/test_kits/mod.rs
  src/query/service/src/test_kits/sessions.rs
Labels: pr-bugfix

#11334 chore(ci): use larger JEMALLOC_SYS_WITH_LG_PAGE for aarch64 build
  .github/actions/build_linux/action.yml
  .github/actions/setup_build_tool/action.yml
Labels: pr-chore

#11341 ci: fetch only needed binaries for test
  .github/actions/artifact_download/action.yml
  .github/actions/fuse_compat/action.yml
  .github/actions/test_compat/action.yml
  .github/actions/test_meta-upgrade-09/action.yml
  .github/actions/test_meta_data_compat_openraft_07/action.yml
  .github/actions/test_metactl/action.yml
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_management_mode_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_stateful_sharing/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/cancel.yml
Labels: pr-build

#11340 feat: move gc::utils to test_kits crate
  src/query/service/src/lib.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/src/test_kits/mod.rs
  src/query/service/src/test_kits/utils.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/mod.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
Labels: pr-feature

#11216 refactor(optimizer): add constant folding
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_group.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_constant.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/parquet/src/pruning.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_arg_min_max.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_on_empty
  tests/sqllogictests/suites/query/02_function/02_0009_function_hashes
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-refactor

#11346 fix(cluster): add max message size config for server
  Cargo.lock
  Cargo.toml
  src/query/service/src/api/rpc_service.rs
Labels: pr-bugfix

#11348 ci: fix workflow benchmark in release [skip ci]
  .github/workflows/release.yml
Labels: pr-build

#11343 fix(meta): set max encode/decode size to 16MB for meta-grpc and raft client/server
  Cargo.lock
  Cargo.toml
  src/meta/app/Cargo.toml
  src/meta/client/src/grpc_client.rs
  src/meta/protos/Cargo.toml
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/src/raft_client.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/grpc_config.rs
  src/meta/types/src/lib.rs
Labels: pr-bugfix

#11352 ci: fix make binary executable for github artifacts
  .github/actions/artifact_download/action.yml
Labels: pr-build

#11353 docs(weekly): add this week in databend 92
  website/blog/2023-04-30-databend-weekly-91.md
  website/blog/2023-05-07-databend-weekly-92.md
Labels: pr-doc

#11109 chore: remove broadcast join limitation
  src/query/sql/src/planner/plans/join.rs
Labels: pr-chore, ci-benchmark

#11351 refactor(schema-api): refactor remove_table_copied_files
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
Labels: pr-refactor

#11336 fix: enable kill query before pipeline started.
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/stream/table_read_block_stream.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
Labels: pr-bugfix

#11358 chore: add tpch, tpcds test to cluster
  .github/workflows/dev-linux.yml
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/src/arg.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/tpcds_q64.test
Labels: pr-chore

#11363 chore: improve max_of_max_precision
  src/query/expression/src/types/decimal.rs
Labels: pr-chore, ci-benchmark

#11364 feat(meta): track the time spent on meta client methods
  src/common/base/src/future.rs
  src/common/base/src/lib.rs
  src/meta/client/src/grpc_client.rs
Labels: pr-feature

#11367 feat: validates the value of max_storage_io_requests being
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#11372 ci: fix concurrency group for benchmark with head_ref [skip ci]
  .github/workflows/benchmark.yml
Labels: pr-build

#11362 chore: specify database in benchmark
  benchmark/tpcds/load_data.sh
  benchmark/tpch/prepare_table.sh
Labels: pr-chore

#11377 ci: fix download artifacts for sqllogic test macos [skip ci]
  .github/actions/test_sqllogic_standalone_macos/action.yml
Labels: pr-build

#11383 docs: column alias in WHERE
  docs/doc/14-sql-commands/20-query-syntax/01-query-select.md
  website/blog/2023-05-07-databend-weekly-92.md
Labels: pr-doc

#11376 feat: Bump OpenDAL to 0.34.0
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
  src/query/service/tests/it/sessions/query_ctx.rs
Labels: pr-feature, ci-benchmark

#11382 chore(query): call by name for prune cache key
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-chore

#11347 refactor: hybrid segment cache
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  src/common/cache/src/lib.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/obsolete.rs
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache-manager/src/cache_manager.rs
  src/query/storages/common/cache-manager/src/caches.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/table-meta/src/meta/current/mod.rs
  src/query/storages/common/table-meta/src/meta/format.rs
  src/query/storages/common/table-meta/src/meta/v3/mod.rs
  src/query/storages/common/table-meta/src/meta/v3/segment.rs
  src/query/storages/common/table-meta/src/meta/versions.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/read/meta/mod.rs
  src/query/storages/fuse/src/io/read/meta/versioned_reader.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_append.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/transform_compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/segment_pruner.rs
Labels: pr-refactor, ci-benchmark

#11387 docs: Purge retention period
  docs/doc/14-sql-commands/00-ddl/20-table/60-optimize-table.md
Labels: pr-doc

#11381 refactor(meta): remove UpsertTableCopiedFileReq.table_id
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/client/src/lib.rs
  src/query/service/src/interpreters/interpreter_copy.rs
Labels: pr-refactor

#11360 fix(query): QueryCtx add query_settings item to fix sql hint set_var affect session settings
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_setting.rs
  src/query/service/src/interpreters/interpreter_unsetting.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
Labels: pr-bugfix

#11388 feat(schema-api): truncate_file: delete copied file in small chunks
  docs/doc/10-deploy/09-upgrade/10-compatibility.md
  docs/public/img/deploy/compatibility.excalidraw.png
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
  src/meta/client/src/lib.rs
  src/query/storages/fuse/src/operations/truncate.rs
Labels: pr-feature

#11365 feat: optimize broadcast join
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
Labels: pr-feature, ci-benchmark

#11389 docs: column name & alias conventions
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  docs/doc/14-sql-commands/20-query-syntax/01-query-select.md
Labels: pr-doc

#11385 chore: correct the size of decimal ops
  Cargo.toml
  src/common/hashtable/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/number.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/service/Cargo.toml
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
  tests/suites/1_stateful/11_vacuum/11_0000_ee_vacuum.py
Labels: pr-chore

#11392 feat: add vacuum dry run support
  src/query/catalog/src/table.rs
  src/query/ee-features/vacuum-handler/src/vacuum_handler.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/utils.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/truncate.rs
  src/query/storages/hive/hive/src/hive_table.rs
  tests/suites/1_stateful/11_vacuum/11_0000_ee_vacuum.py
  tests/suites/1_stateful/11_vacuum/11_0000_ee_vacuum.result
Labels: pr-feature

#11371 feat: copy into table with columns.
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/plans/copy.rs
  tests/suites/1_stateful/00_copy/00_0008_copy_with_projection.result
  tests/suites/1_stateful/00_copy/00_0008_copy_with_projection.sh
Labels: pr-feature

#11400 chore(query): z3-features2
  Cargo.toml
  src/binaries/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
Labels: pr-chore

#11399 docs: combine stage, load, and unload
  docs/doc/01-guides/index.md
  docs/doc/11-integrations/00-api/10-put-to-stage.md
  docs/doc/12-load-data/00-stage/00-whystage.md
  docs/doc/12-load-data/00-stage/01-manage-stages.md
  docs/doc/12-load-data/00-stage/05-querying-stage.md
  docs/doc/12-load-data/00-stage/_category_.json
  docs/doc/12-load-data/01-load/00-stage.md
  docs/doc/12-load-data/01-load/01-s3.md
  docs/doc/12-load-data/01-load/02-local.md
  docs/doc/12-load-data/01-load/04-http.md
  docs/doc/12-load-data/01-load/06-data-load-transform.md
  docs/doc/12-load-data/01-load/_category_.json
  docs/doc/12-load-data/01-load/index.md
  docs/doc/12-load-data/09-unload.md
  docs/doc/12-load-data/_category_.json
  docs/doc/12-unload-data/_category_.json
  docs/doc/14-sql-commands/00-ddl/40-stage/06-ddl-show-stages.md
  docs/doc/14-sql-commands/00-ddl/40-stage/_category_.json
  docs/doc/14-sql-commands/00-ddl/40-stage/index.md
  docs/doc/80-releases/99-v0.7.0.md
  docs/public/img/load/internalstage.png
  docs/public/img/load/userstage.png
Labels: pr-doc

#11395 feat: add Databend enterprise license key
  .github/actions/check_run_ee/action.yml
  .github/actions/test_ee_standalone_linux/action.yml
  .github/workflows/dev-linux.yml
  .github/workflows/production.yml
  Cargo.lock
  docs/doc/100-faq/30-license-faqs.md
  scripts/ci/ci-run-ee-tests-standalone-minio.sh
  src/common/license/Cargo.toml
  src/common/license/src/license.rs
  src/common/license/src/license_manager.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/license/license_mgr.rs
  src/query/ee/tests/it/license/license_mgr.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/procedures/admins/admin.rs
  src/query/service/src/procedures/admins/license_info.rs
  src/query/service/src/procedures/admins/mod.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/system/src/settings_table.rs
  tests/suites/5_ee/00_check/00_0014_license_info.py
  tests/suites/5_ee/00_check/00_0014_license_info.result
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.result
Labels: pr-feature

#11402 fix(meta): upgrade openraft to 0.8.4-alpha.3; bug fix, improve performance, etc
  Cargo.lock
  Cargo.toml
  src/meta/service/src/store/store.rs
  src/meta/types/src/raft_types.rs
  tests/sqllogictests/Cargo.toml
Labels: pr-bugfix

#11405 docs: add feature licensing on license faq
  docs/doc/91-enterprise/10-enterprise-features.md
  docs/doc/91-enterprise/_category_.json
Labels: C-documentation, pr-doc

#11408 docs: display the license FAQ link in the README
  README.md
Labels: pr-doc

#11406 fix(styles): Adding menu overflow-y
  website/src/css/custom.scss
Labels: pr-bugfix

#11386 fix(storage): update/delete oom
  docs/doc/14-sql-commands/00-ddl/20-table/80-analyze-table.md
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/mod.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutation_meta/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutation_meta/mutation_log.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/deletion_accumulator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_append.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_meta.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_part.rs
  src/query/storages/fuse/src/operations/mutation/compact/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_sink.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
  src/query/storages/fuse/src/operations/mutation/transform_serialize_data.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/fuse/src/statistics/reducers.rs
Labels: pr-bugfix

#11404 chore(meta-ctl): refine stderr output for metactl
  src/binaries/metactl/grpc.rs
  src/binaries/metactl/main.rs
  src/binaries/metactl/snapshot.rs
Labels: pr-chore

#11413 fix: oom when load CSV with many columns.
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
Labels: pr-bugfix

#11415 chore: new release regex
  Cargo.lock
  src/common/storage/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/functions/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
  tests/sqllogictests/Cargo.toml
Labels: pr-chore

#11398 feat(query): Optimize read system.columns data
  src/query/storages/system/src/catalogs_table.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/engines_table.rs
  src/query/storages/system/src/functions_table.rs
  src/query/storages/system/src/query_cache_table.rs
  src/query/storages/system/src/roles_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/storages/system/src/table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/users_table.rs
  tests/sqllogictests/suites/base/01_system/01_0006_system_columns
Labels: pr-feature

#11375 feat: auto query rewriting for aggregation index.
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/scan.rs
Labels: pr-feature

#11416 refactor: remove binary meta-upgrade-09
  .github/actions/test_meta-upgrade-09/action.yml
  .github/workflows/dev-linux.yml
  Cargo.lock
  Cargo.toml
  docs/doc/10-deploy/09-upgrade/90-upgrade-1.0.md
  src/binaries/meta-upgrade-09/Cargo.toml
  src/meta/process/Cargo.toml
  src/meta/process/src/examples.rs
  src/meta/process/src/kv_processor.rs
  src/meta/process/src/lib.rs
  src/meta/process/src/process.rs
  src/meta/process/src/process_meta_dir.rs
  src/meta/process/src/rewrite_kv.rs
  tests/meta-upgrade-09/README.md
  tests/meta-upgrade-09/meta-v23.txt
  tests/meta-upgrade-09/test-meta-upgrade-09.sh
Labels: pr-refactor

#11349 fix(planner): correctly resolve aggregate plan input type
  src/query/expression/src/function.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_constant.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-bugfix

#11426 docs: fix typo.
  docs/doc/11-integrations/00-api/00-rest.md
Labels: pr-doc

#11423 chore(planner): allow untrustworthy column ref type of constant folding rule
  Cargo.lock
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_constant.rs
Labels: pr-chore

#11424 chore: add kill query randomly vacuum table test
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.result
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
  tests/suites/5_ee/01_vacuum/insert_vacuum_table_values
Labels: pr-chore

#11422 chore: use lenient semver for protoc
  Cargo.lock
  src/meta/protos/Cargo.toml
  src/meta/protos/build.rs
Labels: pr-chore

#11427 feat(query): try optimize create table
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
Labels: pr-feature

#11403 chore: http handler release context/session earlier.
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
Labels: pr-chore

#11433 chore: simple read segments
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: pr-chore

#11434 feat: Adding EE tip for docs
  docs/doc/00-overview/index.md
  docs/doc/11-integrations/30-access-tool/00-mysql.md
  docs/doc/11-integrations/30-access-tool/01-bendsql.md
  docs/doc/11-integrations/30-access-tool/02-jdbc.md
  website/src/components/EEFeature/index.tsx
  website/src/components/EEFeature/styles.module.scss
  website/src/css/custom.scss
Labels: pr-feature

#11431 ci: test & release python binding
  .github/actions/artifact_upload/action.yml
  .github/workflows/bindings_python.yml
  .github/workflows/dev-linux.yml
  .github/workflows/release.yml
  Cargo.lock
  scripts/setup/dev_setup.sh
  src/bendpy/Cargo.toml
Labels: pr-build

#11429 chore(planner): postpone type unification for window frame
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/window.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#11435 feat(python): fix context
  src/bendpy/src/context.rs
  src/bendpy/src/datablock.rs
  src/bendpy/src/dataframe.rs
  src/query/expression/src/utils/block_debug.rs
Labels: pr-feature

#11437 ci: better check to run ee test
  .github/actions/check_run_ee/action.yml
  .github/workflows/bindings_python.yml
  .github/workflows/dev-linux.yml
Labels: pr-build

#11439 ci: fix inputs tag for python binding [skip ci]
  .github/workflows/bindings_python.yml
Labels: pr-build

#11440 ci: fix publish python binding to pypi
  .github/workflows/bindings_python.yml
Labels: pr-build

#11436 chore(planner): do not use data type in optimizer
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
Labels: pr-chore

#11445 feat(query): optimize alter and create view when has lots of tables
  src/common/exception/src/exception_code.rs
  src/query/service/src/interpreters/interpreter_view_alter.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0021_ddl_alter_view
Labels: pr-feature

#11442 feat(query): add func date_format and str_to_date and str_to_timestamp
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/servers/http/clickhouse_handler.rs
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-feature

#11396 docs: add vacuum table doc
  docs/doc/14-sql-commands/00-ddl/20-table/91-vacuum-table.md
  website/src/components/EEFeature/index.tsx
Labels: C-documentation, pr-doc

#11447 chore: fix ee ci workflow
  .github/workflows/production.yml
Labels: pr-chore

#11451 fix: intervals_to_bitmap() wrong assert.
  src/query/storages/parquet/src/deserialize_transform.rs
Labels: pr-bugfix

#11448 feat: fix ee integration tests
  src/query/ee/src/license/license_mgr.rs
  tests/suites/5_ee/00_check/00_0014_license_info.py
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.result
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
  tests/suites/5_ee/01_vacuum/insert_vacuum_table_values
Labels: pr-feature, pr-chore

#11452 feat(python): support tenant
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/README.md
  src/bendpy/src/context.rs
  src/bendpy/src/lib.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_type.rs
  src/query/service/tests/it/sessions/session_context.rs
Labels: pr-feature

#11450 fix: use operator.scan instead of list.
  src/common/storage/src/stage.rs
Labels: pr-bugfix

#11446 docs(weekly): add this week in databend 93
  website/blog/2023-05-07-databend-weekly-92.md
  website/blog/2023-05-14-databend-weekly-93.md
Labels: pr-doc

#11421 feat(planner): remove trivial cast
  src/query/sql/src/planner/optimizer/property/constraint.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-feature

#11407 fix(cluster): close channel when network error
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
Labels: pr-bugfix, ci-benchmark

#11462 chore: add more vacuum table test
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
Labels: pr-chore

#11455 feat(query): make date_format throw err
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-feature

#11463 docs: utc timezone for logs
  docs/doc/100-faq/10-how-to-get-server-logs.md
  docs/doc/100-faq/20-how-to-tracing.md
Labels: pr-doc

#11466 ci: do not release source for python binding [skip ci]
  .github/workflows/bindings_python.yml
Labels: pr-build

#11464 feat(query): improve decimal div decimal
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/utils/serialize.rs
  src/query/expression/tests/it/decimal.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature

#11469 docs: add link to ee for vacuum table feature
  docs/doc/91-enterprise/10-enterprise-features.md
Labels: pr-doc

#11444 chore(planner): fix a bug in require_property
  src/query/sql/src/planner/optimizer/property/enforcer.rs
Labels: pr-chore

#11470 ci: fix ignore path [skip ci]
  .github/workflows/bindings_python.yml
Labels: pr-build

#11475 fix(query): fix SRF as arg of other function
  src/query/sql/src/planner/binder/project_set.rs
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-bugfix

#11467 feat: support copy from URI with transform.
  src/query/sql/src/planner/binder/copy.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
Labels: pr-feature

#11471 chore: tune the error message on setting max_storage_io_requests
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#11465 docs: new date&time functions
  docs/doc/15-sql-functions/30-datetime-functions/todate.md
  docs/doc/15-sql-functions/30-datetime-functions/totimestamp.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#11478 fix: do_vacuum should use retention_time to call purge funtion; fix test fail
  src/query/ee/src/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/test_kits/utils.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
Labels: pr-bugfix

#11483 chore: Changed releases links
  website/src/plugins/fetch-databend-releases.js
Labels: pr-chore

#11484 fix: support 64K pagesize on aarch64 [skip ci]
  .github/actions/build_linux/action.yml
Labels: pr-bugfix

#11485 chore: reduce an extra plan_sql in http api
  src/query/expression/src/utils/block_debug.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-chore

#11488 fix: fix list indexes and add tests
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#11487 feat: add 5 bitmap scalar functions
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0064_function_bitmap
Labels: pr-feature

#11490 feat(query): optimize show tables with pushdown filter only contain eq database
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
Labels: pr-feature

#11497 fix(query): fix show err with special name
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/06_show/06_0004_show_tables
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0001_clickhouse_http.result
Labels: pr-bugfix

#11501 docs: transform data from uri
  docs/doc/12-load-data/01-load/06-data-load-transform.md
Labels: pr-doc

#11498 docs: vacuum table updates
  docs/doc/14-sql-commands/00-ddl/20-table/91-vacuum-table.md
Labels: pr-doc

#11486 refactor(query): remove segment id
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/src/plan/partition_statistics.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/common/table-meta/src/meta/v3/snapshot.rs
  src/query/storages/fuse/src/fuse_lazy_part.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/pruner_location.rs
  src/query/storages/fuse/src/pruning/segment_pruner.rs
  tests/sqllogictests/suites/base/05_ddl/05_0031_internal_column
Labels: pr-refactor

#11479 feat(meta-service): Upgrade Databend on-disk Data Version system
  Cargo.lock
  Cargo.toml
  docs/doc/10-deploy/09-upgrade/10-compatibility.md
  src/binaries/meta/entry.rs
  src/binaries/metactl/snapshot.rs
  src/common/base/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/protos/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/ondisk/data_version.rs
  src/meta/raft-store/src/ondisk/header.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/ondisk/version_info.rs
  src/meta/raft-store/src/state/raft_state_kv.rs
  src/meta/raft-store/src/state_machine/log_meta.rs
  src/meta/raft-store/src/state_machine/state_machine_meta.rs
  src/meta/service/Cargo.toml
  src/meta/sled-store/src/sled_serde_impl.rs
  src/query/config/Cargo.toml
  tests/meta-data-compat-openraft-07/want.txt
  tests/metactl/test-metactl.sh
  tests/sqllogictests/Cargo.toml
Labels: pr-feature

#11504 fix: fix lazy topn on native format.
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
Labels: pr-bugfix

#11503 fix: modify duplicated test case for SOUNDS LIKE syntax
  tests/sqllogictests/suites/query/02_function/02_0039_function_strings_sounds_like
Labels: pr-bugfix

#11505 fix(python): add tests
  .github/workflows/bindings_python.yml
  .gitignore
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/README.md
  src/bendpy/pyproject.toml
  src/bendpy/src/lib.rs
  src/bendpy/tests/basic.py
Labels: pr-bugfix

#11499 docs: date&time specifier list
  docs/doc/13-sql-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/15-sql-functions/30-datetime-functions/todate.md
  docs/doc/15-sql-functions/30-datetime-functions/totimestamp.md
Labels: pr-doc

#11513 docs: Move up EE page
  docs/doc/02-enterprise/10-enterprise-features.md
  docs/doc/02-enterprise/_category_.json
  docs/doc/02-enterprise/index.md
  docs/doc/91-enterprise/_category_.json
Labels: pr-doc

#11508 chore(query): make row fetcher lazy read segments
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
Labels: pr-chore

#11511 fix: lost DataBlocks when copy with parquet_fast_read_bytes.
  src/query/storages/parquet/src/deserialize_transform.rs
  src/query/storages/parquet/src/pruning.rs
  tests/data/multi_page/gen.py
  tests/data/multi_page/multi_page_1.parquet
  tests/data/multi_page/multi_page_2.parquet
  tests/data/multi_page/multi_page_3.parquet
  tests/data/multi_page/multi_page_4.parquet
  tests/sqllogictests/suites/base/03_common/03_0040_parquet_list_field
  tests/suites/1_stateful/00_copy/00_0006_small_parquet.result
  tests/suites/1_stateful/00_copy/00_0006_small_parquet.sh
Labels: pr-bugfix

#11512 docs: add py connection parameters
  docs/doc/03-develop/01-python.md
Labels: pr-doc

#11507 feat: add bitmap logical operation functions
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0064_function_bitmap
Labels: pr-feature

#11506 fix(python): add tests
  .github/workflows/bindings_python.yml
  src/bendpy/tests/basic.py
Labels: pr-bugfix

#11495 fix(query): fix create table if not exists
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
Labels: pr-bugfix

#11394 feat(query): improve cardinality estimate
  benchmark/clickbench/tpch/queries.sql
  src/query/catalog/src/table.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
  tests/sqllogictests/suites/tpcds/tpcds_q64.test
Labels: pr-feature

#11518 feat(front): add FunctionDescription component
  website/src/components/FunctionDescription/index.tsx
  website/src/components/FunctionDescription/styles.module.scss
  website/src/css/custom.scss
Labels: pr-feature

#11519 feat: support replace with stage attachment
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/stage.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  tests/data/sample_3_duplicate.csv
  tests/data/sample_3_replace.csv
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.sh
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.sh
Labels: pr-feature

#11522 fix(styles): FunctionDescription styles
  website/src/components/FunctionDescription/index.tsx
Labels: pr-bugfix

#11523 docs: fix "create external" example
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#11515 docs: added introduced version infor
  docs/doc/14-sql-commands/00-ddl/20-table/91-vacuum-table.md
  docs/doc/15-sql-functions/30-datetime-functions/todate.md
  docs/doc/15-sql-functions/30-datetime-functions/totimestamp.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#11524 docs: rephrase
  docs/doc/03-develop/01-python.md
Labels: pr-doc

#11526 docs:Update 03-jdbc.md
  docs/doc/03-develop/03-jdbc.md
Labels: pr-doc

#11529 feat(python): support configuration from env
  src/bendpy/README.md
  src/bendpy/src/lib.rs
  src/bendpy/tests/basic.py
Labels: pr-feature

#11527 feat: support `intdiv` operator `//`
  docs/doc/15-sql-functions/01-arithmetics-operators/index.md
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_arithmetic
Labels: pr-feature

#11532 chore(query): skip TPCDS q35
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-chore

#11535 docs: doc templates
  docs/public/templates/command-template.md
  docs/public/templates/function-template.md
Labels: pr-doc
