Repository databendlabs/databend, pull requests merged in 2023-11, with the labels that each got.

#13372 fix: not check nested call aggregate functions
  src/query/expression/src/schema.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#13515 fix(front): img styles
  docs/doc/02-cloud/index.md
  website/src/css/markdown.scss
Labels: pr-bugfix

#13502 refactor: improve encoder/decoder for formats.
  src/common/io/src/cursor_ext/cursor_read_bytes_ext.rs
  src/common/io/src/cursor_ext/cursor_read_number_ext.rs
  src/common/io/src/cursor_ext/cursor_read_string_ext.rs
  src/common/io/src/cursor_ext/mod.rs
  src/query/formats/src/common_settings.rs
  src/query/formats/src/field_decoder/csv.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/mod.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_decoder/tsv.rs
  src/query/formats/src/field_decoder/values.rs
  src/query/formats/src/field_decoder/xml.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/helpers/escape.rs
  src/query/formats/src/field_encoder/helpers/mod.rs
  src/query/formats/src/field_encoder/helpers/number_helpers.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/mod.rs
  src/query/formats/src/field_encoder/row_based.rs
  src/query/formats/src/field_encoder/tsv.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/lib.rs
  src/query/formats/src/output_format/csv.rs
  src/query/formats/src/output_format/ndjson.rs
  src/query/formats/src/output_format/tsv.rs
  src/query/formats/tests/it/field_encoder/helpers.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/pipeline/sources/src/input_formats/error_utils.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/servers/http/v1/json_block.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/data/csv/books.csv
  tests/data/tsv/complex_types.tsv
  tests/sqllogictests/suites/stage/formats/csv/csv_types
  tests/sqllogictests/suites/stage/formats/tsv/tsv_types
  tests/sqllogictests/suites/stage/options/return_failed_only
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0002_select_formats.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.result
  tests/suites/1_stateful/00_stage/00_0006_upload_to_stage.result
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load_books.result
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load_books.sh
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.sh
Labels: pr-refactor

#13518 fix(query): fix string to decimal round
  src/query/expression/src/utils/serialize.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-bugfix

#13517 feat: add get_lvt API
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/least_visible_time.rs
  src/meta/app/src/schema/mod.rs
Labels: pr-feature

#13521 chore(ci): comment flaky test
  tests/sqllogictests/suites/duckdb/issues/rigger/division_by_zero_error.test
Labels: pr-chore

#13522 chore: refactor the bind_single_table into many small functions
  src/query/sql/src/planner/binder/table.rs
Labels: pr-chore

#13511 chore: support collect statistics of multi join expr in merge into
  src/query/service/src/interpreters/interpreter_merge_into.rs
Labels: pr-chore, ci-cloud

#13497 chore(query): improve filter boolean and introduce fast path
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/utils.rs
  src/query/expression/tests/it/kernel.rs
Labels: pr-chore

#13507 chore: improve memory accuracy for hash join spill
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/tests/it/spillers/spiller.rs
Labels: pr-chore

#13514 feat: `CREATE STAGE test_stage [URL =] 's3://load/files/'`
  docs/doc/13-sql-reference/51-connect-parameters.md
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/90-contributing/01-rfcs/20221013-iceberg-catalog.md
  src/meta/app/src/principal/user_stage.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  website/blog/2023-08-20-databend-weekly-107.md
Labels: pr-feature

#13528 docs: attach readonly
  docs/doc/14-sql-commands/00-ddl/20-table/92-attach-table.md
  docs/public/img/sql/attach-table-1.png
  docs/public/img/sql/attach-table-2.png
  docs/public/img/sql/attach-table-3.png
Labels: pr-doc

#13529 chore: fix filter offset
  src/query/expression/src/kernels/filter.rs
Labels: pr-chore

#13510 feat: show statements support more filter options
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/show.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/show.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings
  tests/sqllogictests/suites/base/06_show/06_0005_show_functions
  tests/sqllogictests/suites/base/06_show/06_0006_show_engines
  tests/sqllogictests/suites/base/06_show/06_0013_show_processlist
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions
  tests/sqllogictests/suites/base/06_show/06_0017_show_indexes
Labels: pr-feature

#13533 chore: pretty http handler log
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/string.rs
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/string.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
Labels: pr-chore

#13516 docs(weekly): add this week in databend 117
  website/blog/2023-10-29-databend-weekly-117.md
  website/static/img/blog/databend-with-jaeger.jpg
  website/static/img/blog/weekly/weekly-117.jpg
Labels: pr-doc

#13540 chore(ci): skip setup if bendsql installed
  .github/actions/fuse_compat/action.yml
  .github/actions/setup_bendsql/action.yml
  .github/actions/test_ee_sqllogic_standalone_linux/action.yml
  .github/actions/test_ee_standalone_background_linux/action.yml
  .github/actions/test_ee_standalone_linux/action.yml
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_management_mode_linux/action.yml
  .github/actions/test_sqllogic_stage/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/actions/test_stateful_large_data/action.yml
  .github/actions/test_stateful_sharing/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#13542 chore(benchmark): show bench result with last month
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#13538 chore: bump sqllogictest
  Cargo.lock
  tests/sqllogictests/Cargo.toml
Labels: pr-chore

#13549 chore(ci): save release note for each release
  .github/actions/build_linux_sanitizer/action.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#13536 chore: enable distributed copy
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  tests/suites/1_stateful/09_http_handler/09_0003_error_detail.sh
Labels: pr-chore

#13532 fix: fix derive filter optimization
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/derive_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
Labels: pr-bugfix

#13520 feat(query): Support flatten table function
  src/query/ast/src/parser/token.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/others/tenant_quota.rs
  src/query/service/src/table_functions/srf/flatten.rs
  src/query/service/src/table_functions/srf/mod.rs
  src/query/service/src/table_functions/srf/range.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/table_functions/flatten.rs
  src/query/service/tests/it/table_functions/mod.rs
  tests/sqllogictests/suites/query/02_function/02_0068_function_flatten
Labels: pr-feature

#13537 feat: allow restricting a current role on starting a query
  src/query/service/src/interpreters/interpreter_role_set.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#13539 chore: reformat http handler query
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-chore

#13531 feat: add ?, ?|, ?& json operators
  Cargo.lock
  Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json
Labels: pr-feature

#13551 chore: rename session_id to query_id
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/lock.rs
  src/meta/proto-conv/src/lock_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v062_table_lock_meta.rs
  src/meta/protos/proto/lock.proto
  src/query/catalog/src/lock.rs
  src/query/storages/common/locks/src/lock_manager.rs
Labels: pr-chore

#13541 chore: optimize merge into code
  src/query/service/src/pipelines/processors/transforms/processor_deduplicate_row_number.rs
  src/query/service/src/pipelines/processors/transforms/processor_extract_hash_table_by_row_number.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_add_rownumber_column.rs
Labels: pr-chore

#13457 feat(query): support query level async backtrace
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/lib.rs
  src/common/base/src/runtime/backtrace.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/common/base/tests/it/runtime.rs
  src/common/base/tests/it/runtime_tracker.rs
  src/common/storage/src/operator.rs
  src/meta/client/src/grpc_client.rs
  src/query/pipeline/sinks/Cargo.toml
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/common/locks/src/lock_holder.rs
  src/query/storages/common/locks/src/lock_manager.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/backtrace_table.rs
Labels: pr-feature, ci-benchmark

#13445 feat(query): Add GrantObject::Stage and GrantObject::UDF and some stage privs
  src/bendpy/src/context.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_privilege.rs
  src/meta/app/tests/it/user_grant.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/protos/proto/user.proto
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/src/test_kits/context.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/test_kits/context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/plans/ddl/udf.rs
  src/query/storages/system/src/functions_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_mgr.rs
  src/query/users/src/user_stage.rs
  src/query/users/src/user_udf.rs
  src/query/users/src/visibility_checker.rs
  tests/suites/0_stateless/18_rbac/00_0012_stage_priv.result
  tests/suites/0_stateless/18_rbac/00_0012_stage_priv.sh
  tests/suites/0_stateless/18_rbac/20_0005_mysql_auth.py
  tests/suites/0_stateless/18_rbac/20_0005_mysql_auth.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/0_stateless/18_rbac/20_0014_privilege_ownership.result
  tests/suites/0_stateless/18_rbac/20_0014_privilege_ownership.sh
Labels: pr-feature

#13553 docs: combine query operators into one section
  docs/doc/14-sql-commands/00-ddl/20-table/92-attach-table.md
  docs/doc/14-sql-commands/30-query-operators/arithmetics/_category_.json
  docs/doc/14-sql-commands/30-query-operators/arithmetics/index.md
  docs/doc/14-sql-commands/30-query-operators/comparisons/_category_.json
  docs/doc/14-sql-commands/30-query-operators/comparisons/index.md
  docs/doc/14-sql-commands/30-query-operators/index.md
  docs/doc/14-sql-commands/30-query-operators/json/_category_.json
  docs/doc/14-sql-commands/30-query-operators/json/index.md
  docs/doc/14-sql-commands/30-query-operators/logic/_category_.json
  docs/doc/14-sql-commands/30-query-operators/logic/index.md
  docs/doc/14-sql-commands/30-query-operators/set.md
  docs/doc/14-sql-commands/30-query-operators/subquery.md
  docs/doc/15-sql-functions/03-logic-operators/_category_.json
  docs/doc/15-sql-functions/index.md
Labels: pr-doc

#13556 docs: fix link
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
Labels: pr-doc

#13555 docs(blog): add databend with lakefs workshop
  website/blog/2023-11-02-databend-with-lakefs.md
  website/static/img/blog/lakefs/containers.excalidraw.png
  website/static/img/blog/lakefs/databend-arch.jpg
  website/static/img/blog/lakefs/databend-basic-query.png
  website/static/img/blog/lakefs/databend-cleaned-data.png
  website/static/img/blog/lakefs/databend-copy-into.png
  website/static/img/blog/lakefs/databend-create-table.png
  website/static/img/blog/lakefs/databend-delete-data.png
  website/static/img/blog/lakefs/databend-list-stage.png
  website/static/img/blog/lakefs/databend-presign-download.png
  website/static/img/blog/lakefs/databend-presign-upload.png
  website/static/img/blog/lakefs/databend-select-from-stage.png
  website/static/img/blog/lakefs/databend-transformed-data.png
  website/static/img/blog/lakefs/databend-with-lakefs.png
  website/static/img/blog/lakefs/lakefs-commit-changes.png
  website/static/img/blog/lakefs/lakefs-create-branch.png
  website/static/img/blog/lakefs/lakefs-object-info.png
  website/static/img/blog/lakefs/lakefs-repo-contents.png
  website/static/img/blog/lakefs/lakefs-repository-creation.png
  website/static/img/blog/lakefs/lakefs-workflow.png
  website/static/img/blog/lakefs/minio-bucket-view.png
  website/static/img/blog/lakefs/minio-buckets.png
  website/static/img/blog/lakefs/minio-data-directory-view.png
  website/static/img/blog/lakefs/original-data-intact-on-main.png
Labels: pr-doc

#13552 chore(ci): remove shell env MYSQL_CLIENT_CONNECT
  .github/actions/setup_bendsql/action.yml
  benchmark/tpcds/shell_env.sh
  benchmark/tpch/shell_env.sh
  tests/shell_env.sh
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.sh
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.result
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.sh
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.result
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.sh
Labels: pr-chore

#13560 chore: Replaced twitter icon
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: pr-chore

#13554 docs: numeric cast option
  docs/doc/13-sql-reference/10-data-types/10-data-type-numeric-types.md
  docs/doc/13-sql-reference/10-data-types/11-data-type-decimal-types.md
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  docs/doc/15-sql-functions/20-numeric-functions/index.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#13563 chore(ci): use latest macos runner
  .github/backup/backport.yml
  .github/backup/dev-macos.yml
  .github/workflows/release.yml
  .github/workflows/reuse.macos.yml
Labels: pr-chore

#13564 ci: update test result of copy.
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table.sh
Labels: pr-build

#13546 chore(ast): improve error message
  src/query/ast/src/error.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
Labels: pr-chore

#13062 refactor(http): refactor the unset processing logic in UnsetInterpreter
  src/meta/app/src/principal/user_setting.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_setting.rs
  src/query/service/src/interpreters/interpreter_unsetting.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/src/settings_global.rs
Labels: pr-refactor

#13526 fix: fix snapshot consistency bug
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/ee/tests/it/aggregating_index/mod.rs
  src/query/ee/tests/it/storages/fuse/operations/computed_columns.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/sql/exec/mod.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/sql/src/planner/binder/table.rs
Labels: pr-bugfix

#13568 docs: delete from table as alias
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
Labels: pr-doc

#13547 feat: partition by left most cluster key when building merge into filter
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
Labels: pr-feature

#13569 fix(ci): flaky test with table lock
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/lock.rs
  src/query/catalog/src/lock.rs
  src/query/storages/fuse/src/operations/commit.rs
Labels: pr-bugfix

#13571 chore: make pipeline builder more object[part-1]
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_append_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into.rs
  src/query/service/src/pipelines/builders/builder_fill_missing_columns.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/builders/table.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/test_kits/table_test_fixture.rs
Labels: pr-chore

#13565 feat: make http_handler_result_timeout_secs a setting
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#13572 chore: make pipeline builder more object [part-2]
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-chore

#13574 chore: make pipeline builder more object, improve copy builder [part-3]
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_copy_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_add_row_number.rs
  src/query/sql/src/executor/physical_plans/physical_replace_async_source.rs
  src/query/sql/src/executor/physical_plans/physical_replace_deduplicate.rs
  src/query/sql/src/executor/profile.rs
Labels: pr-chore

#13575 chore: make pipeline builder more object, almost done[part-4]
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_compact.rs
  src/query/service/src/pipelines/builders/builder_delete.rs
  src/query/service/src/pipelines/builders/builder_distributed_insert_select.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/builders/builder_filter.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_lambda.rs
  src/query/service/src/pipelines/builders/builder_limit.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/builder_row_fetch.rs
  src/query/service/src/pipelines/builders/builder_scalar.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-chore

#13584 chore: fix concat slice
  src/query/expression/src/kernels/concat.rs
Labels: pr-chore, ci-cloud

#13587 chore(query): make kernels unit-test coverage wider
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/tests/it/kernel.rs
Labels: pr-chore

#13589 chore(query): add check_valid during Serializing block and debug_asserts
  src/query/expression/src/block.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/main.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
Labels: pr-chore

#13592 refactor: validate json string before output, when exporting data from running meta-service
  src/binaries/metactl/grpc.rs
Labels: pr-refactor

#13596 chore: dedup inlist array
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0045_conditional_function_in.test
Labels: pr-chore

#13595 chore(query): add fuzz test for insert
  src/query/functions/src/cast_rules.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  tests/sqllogictests/README.md
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0029_random_fuzz.test
  tests/sqllogictests/suites/query/02_function/02_0000_function_arithmetic.test
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
Labels: pr-chore

#13600 fix: block pruning metric
  src/query/storages/fuse/src/pruning/block_pruner.rs
Labels: pr-bugfix

#13606 chore: move http detach to kill
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
Labels: pr-chore

#13594 feat: add distributed merge into metrics
  src/common/storage/src/metrics/merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/processor_accumulate_row_number.rs
  src/query/service/src/pipelines/processors/transforms/processor_deduplicate_row_number.rs
  src/query/service/src/pipelines/processors/transforms/processor_extract_hash_table_by_row_number.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_add_rownumber_column.rs
Labels: pr-feature, ci-cloud

#13608 chore(ci): fix generate release changelog
  .github/workflows/release.yml
Labels: pr-chore

#13609 fix: cluster key in merge into filter
  src/query/service/src/interpreters/interpreter_merge_into.rs
Labels: pr-bugfix, ci-cloud

#13586 feat: support table as source
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/statement.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
Labels: pr-feature

#13611 fix(query): enable tracing from config
  src/binaries/metactl/main.rs
  src/common/tracing/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-bugfix

#13615 fix: incorrect table locking during exection of merge/replace into
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0030_issue_13610.test
Labels: pr-bugfix

#13616 chore: improve inlist to subquery by deduplication
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/query/select.test
Labels: pr-chore

#13625 fix(query): show drop table dropped_on need check null
  src/query/sql/src/planner/binder/ddl/table.rs
Labels: pr-bugfix

#13626 feat(query): add setting parquet_max_block_size
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
Labels: pr-feature

#13583 feat(cloud):add system.task_history table
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_utils.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/tasks_table.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/cloud_control_server/task_pb2_grpc.py
  tests/cloud_control_server/testdata/taskruns/task_run.json
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-feature

#13629 chore: minor refactor of merge-into static filter
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/src/interpreters/mod.rs
Labels: pr-chore

#13632 chore: fix cluster key in merge into filter
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
Labels: pr-chore

#13638 chore(bendpy): add description & publish without token
  .github/workflows/bindings.python.yml
  src/bendpy/pyproject.toml
Labels: pr-chore

#13550 feat: Add storage endpoint check
  src/meta/app/src/storage/storage_params.rs
  src/query/config/src/inner.rs
  src/query/sharing_endpoint/src/configs/inner.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/storages/iceberg/src/database.rs
  tests/sqllogictests/suites/base/05_ddl/05_0025_ddl_user_stage.test
Labels: pr-feature

#13637 feat(executor): processor level profile(part 1)
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
Labels: pr-feature, ci-benchmark

#13639 feat: databend-meta add config raft.snapshot_chunk_size[=4MB]
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_node.rs
Labels: pr-feature

#13633 fix: fix iejoin with null comparision
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_util.rs
  tests/sqllogictests/suites/duckdb/join/iejoin/iejoin_issue_6861.test
  tests/sqllogictests/suites/duckdb/join/iejoin/iejoin_issue_7278.test
  tests/sqllogictests/suites/duckdb/join/iejoin/test_iejoin_east_west.test
Labels: pr-bugfix

#13642 feat(query): add settings for external function
  .github/workflows/reuse.linux.yml
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/udf.rs
Labels: pr-feature

#13631 chore: refactor delete/update in merge into
  src/query/storages/fuse/src/operations/merge_into/mutator/delete_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/utils.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0028_distributed_merge_into.test
Labels: pr-chore, ci-cloud

#13645 chore(ci): fix publish python binding artifacts
  .github/workflows/bindings.python.yml
Labels: pr-chore

#13646 chore(ci): adjust job names
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  tests/sqllogictests/suites/stage/formats/parquet/error_diff_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/inspect_parquet.test
  tests/sqllogictests/suites/stage/formats/parquet/on_time.test
  tests/sqllogictests/suites/stage/formats/parquet/optimize_small_file.test
  tests/sqllogictests/suites/stage/formats/parquet/options/select_options.test
  tests/sqllogictests/suites/stage/formats/parquet/options/table_columns.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_field_types.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_transform.test
  tests/sqllogictests/suites/stage/formats/parquet/read_policy.test
  tests/sqllogictests/suites/stage/formats/parquet/select_parquet.test
  tests/sqllogictests/suites/stage/formats/parquet/timestamp.test
  tests/sqllogictests/suites/stage/formats/parquet/topk_pushdown.test
Labels: pr-chore

#13647 chore(ci): test udf with databend-udf
  .github/workflows/reuse.linux.yml
  tests/udf-server/README.md
  tests/udf-server/udf.py
  tests/udf/udf_server.py
Labels: pr-chore

#13641 feat: return node_id on the http query response
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
Labels: pr-feature

#13630 chore(planner): fix false push down outer join
  src/query/sql/src/executor/physical_plans/physical_join.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/query/join.test
Labels: pr-chore

#13649 fix: address the slow range() function in the state machine
  Cargo.lock
  src/meta/client/src/message.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v002/leveled_store/arc_level_impl.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/leveled_store/mod.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
  src/meta/raft-store/src/sm_v002/leveled_store/static_levels.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
  src/meta/raft-store/src/state_machine/expire.rs
Labels: pr-bugfix

#13650 refactor: state machine range() does not need to accept borrowed key
  src/meta/raft-store/src/sm_v002/leveled_store/arc_level_impl.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
  src/meta/raft-store/src/sm_v002/leveled_store/static_levels.rs
  src/meta/raft-store/src/sm_v002/marked/marked_test.rs
  src/meta/raft-store/src/sm_v002/marked/mod.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
  src/meta/sled-store/src/db.rs
Labels: pr-refactor

#13653 chore: null first should be false in iejoin
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  tests/sqllogictests/suites/duckdb/join/iejoin/complex_range_join.test
Labels: pr-chore

#13654 chore: adjust benchmark warehouse size
  .github/actions/publish_binary/action.yml
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-chore

#13643 refactor(query): improve databend-query distributed execution
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/tests/it/kernel.rs
  src/query/service/src/api/rpc/flight_scatter_hash.rs
Labels: pr-refactor

#13648 fix: add field to task_history table
  src/common/cloud_control/src/task_utils.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/storages/system/src/task_history_table.rs
  tests/cloud_control_server/simple_server.py
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-bugfix

#13535 feat: add translate function
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#13644 refactor(planner): improve Vistor for ScalarExpr
  Cargo.lock
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
Labels: pr-refactor

#13658 feat(query): show drop table support filter and limit
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/06_show/06_0018_show_metrics.test
  tests/sqllogictests/suites/base/06_show/06_0019_show_drop_tables.test
  tests/sqllogictests/suites/base/06_show/06_0020_show_share_endpoint.test
  tests/sqllogictests/suites/base/06_show/06_0021_show_connections.test
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes.test
Labels: pr-feature

#13659 fix: fix explain pipeline bug
  src/query/service/src/interpreters/interpreter_explain.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
Labels: pr-bugfix

#13660 fix: do not panic, instead, return an error when all retry attempts have been used up
  src/meta/client/src/grpc_client.rs
Labels: pr-bugfix

#13663 chore: enable using a fn as metrics counter
  src/common/metrics/src/count.rs
  src/meta/service/src/grpc_helper.rs
  src/meta/service/src/network.rs
Labels: pr-chore

#13656 feat(executor): add processor profile system table(part 2)
  src/query/catalog/src/table_context.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/processor_profile_table.rs
Labels: pr-feature

#13665 fix(rbac): revert the session role response behaviour in #13062
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#13664 chore(query): fix left semi if build side is empty
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  tests/sqllogictests/suites/duckdb/join/inner/test_eq_ineq_join.test
Labels: pr-chore

#13666 fix: fail to select * from parquet if any column name starts from "_".
  src/query/sql/src/planner/binder/project.rs
  src/query/storages/stage/src/stage_table.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_select.test
  tests/sqllogictests/suites/stage/formats/tsv/tsv_select.test
  tests/sqllogictests/suites/stage/select_star.test
Labels: pr-bugfix

#13672 chore: remove unused codes
  src/query/storages/fuse/src/operations/fuse_source.rs
Labels: pr-chore

#13675 chore: change the default value of table_lock_expire_secs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/storages/common/locks/src/lock_holder.rs
Labels: pr-chore

#13661 chore: use Visitor for ScalarExpr at more places
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/lambda.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
Labels: pr-chore

#13676 chore(ci): logic ci panic when ck handler return err resp
  tests/sqllogictests/src/client/clickhouse_client.rs
  tests/sqllogictests/suites/base/06_show/06_0021_show_connections.test
Labels: pr-chore

#13682 fix(trace): remove redundant prefix for logging
  scripts/distribution/configs/databend-meta.toml
  src/common/tracing/src/minitrace.rs
Labels: pr-bugfix

#13678 chore: refactor test kit
  src/query/ee/src/test_kits/context.rs
  src/query/ee/src/test_kits/sessions.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/ee/tests/it/aggregating_index/mod.rs
  src/query/ee/tests/it/background_service/job_scheduler.rs
  src/query/ee/tests/it/license/license_mgr.rs
  src/query/ee/tests/it/storages/fuse/operations/computed_columns.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/service/src/test_kits/context.rs
  src/query/service/src/test_kits/mod.rs
  src/query/service/src/test_kits/sessions.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/src/test_kits/utils.rs
  src/query/service/tests/it/api/http/status.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/service/tests/it/interpreters/union.rs
  src/query/service/tests/it/parquet_rs/prune_pages.rs
  src/query/service/tests/it/parquet_rs/prune_row_groups.rs
  src/query/service/tests/it/parquet_rs/utils.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/sql/exec/mod.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/purge_drop.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/service/tests/it/storages/fuse/table_functions/fuse_block_table.rs
  src/query/service/tests/it/storages/fuse/utils.rs
Labels: pr-chore

#13576 feat: Optimize vacuum drop table
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
Labels: pr-feature

#13691 ci: install `graphviz` for fuzzingbook (apt only)
  scripts/setup/dev_setup.sh
Labels: pr-build

#13694 chore(ci): disable fuzz test
  .github/workflows/reuse.linux.yml
  scripts/setup/dev_setup.sh
Labels: pr-chore

#13696 chore: limit the size of merge-into static filter
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#13683 refactor: raft network client: send_snapshot
  src/meta/service/src/grpc_helper.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/network.rs
  src/meta/service/tests/it/api/http/metrics.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/raft_types.rs
Labels: pr-refactor

#13693 fix: window function with where clause
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#13690 feat: support explain optimized plan
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-feature

#13685 feat(planner): implement lateral join
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-feature

#13687 fix: parsing of HDFS uri and connection.
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/location.rs
Labels: pr-bugfix

#13698 chore(ci): fix handlers for sqllogic
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.macos.yml
  .github/workflows/reuse.sqllogic.yml
  tests/sqllogictests/suites/base/06_show/06_0018_show_metrics.test
Labels: pr-chore

#13700 chore: log begin/end of reading parquet file meta.
  Cargo.lock
  src/common/storage/src/parquet2.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
Labels: pr-chore

#13703 ci: test load unload complex types for csv format.
  tests/sqllogictests/suites/stage/formats/csv/csv_types.test
Labels: pr-build

#13704 ci: fix flaky test by adding order by.
  tests/sqllogictests/suites/query/join_small_block_size.test
Labels: pr-build

#13705 chore(ci): fix format for release note
  .github/workflows/release.yml
Labels: pr-chore

#13706 chore(ci): remove asset for release note
  .github/workflows/release.yml
Labels: pr-chore

#13707 fix(planner): Fix relational property derivation of window function
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/query/window_function/window_subquery.test
Labels: pr-bugfix

#13709 feat: use self-defined connection.
  src/meta/app/src/principal/connection.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/connection.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
  tests/shell_env.sh
  tests/sqllogictests/suites/base/05_ddl/05_0033_ddl_connection.test
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.sh
  tests/suites/1_stateful/00_stage/00_0013_connection_errors.result
  tests/suites/1_stateful/00_stage/00_0013_connection_errors.sh
  tests/suites/1_stateful/02_query/02_0004_attach_table.result
  tests/suites/1_stateful/02_query/02_0004_attach_table.sh
Labels: pr-feature

#13710 feat: implement Pipe Management SQL semantics
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/pipe.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/binder.rs
Labels: pr-feature

#13713 feat: added @>,<@ json operators
  Cargo.lock
  Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json.test
Labels: pr-feature

#13711 feat: change the cloud control connnection for lazy load
  scripts/ci/ci-run-sqllogic-tests-cloud.sh
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/common/cloud_control/src/task_client.rs
Labels: pr-feature

#13719 chore(executor): add debug for slow processor task
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
Labels: pr-chore

#13714 feat: mask connection values in CreateConnection and AttachTable.
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/statements/connection.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.result
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.sh
Labels: pr-feature

#13702 chore(query): fix left anti with conjunct if block size is small
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  tests/sqllogictests/suites/query/join_small_block_size.test
Labels: pr-chore

#13699 feat(query): Evaluate udf server call in async transform pipeline
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/profile/src/prof.rs
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  src/query/storages/system/src/query_summary_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-feature

#13724 chore(http): not closing the http admin api port on getting sigterm
  src/query/service/src/api/http_service.rs
Labels: pr-chore

#13721 fix: fix nested correlated subquery
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#13722 chore(query): add info for shutdown
  src/binaries/query/entry.rs
  src/common/http/src/http_shutdown_handlers.rs
  src/query/service/src/servers/server.rs
Labels: pr-chore, ci-cloud

#13652 refactor: refactor agg unary function
  src/query/expression/src/aggregate/aggregate_function_state.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/src/lib.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix.test
Labels: pr-refactor

#13730 chore: output error when failing to open sled db
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/benchmark_local_merge_into.sh
  scripts/benchmark/run-meta-benchmark.sh
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/meta/sled-store/src/db.rs
  tests/compat/test-compat.sh
Labels: pr-chore

#13734 fix: fix push down constant filter to join
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-bugfix

#13743 feat: add install_snapshot_v1(), avoid serializing big chunk data
  src/binaries/meta/entry.rs
  src/meta/service/src/grpc_helper.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/version.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/proto_ext/mod.rs
  src/meta/types/src/proto_ext/snapshot_chunk_request_ext.rs
  tests/compat/README.md
Labels: pr-feature

#13742 refactor: improve http handler error message.
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-refactor

#13607 refactor: Bump OpenDAL to v0.42
  Cargo.lock
  Cargo.toml
  src/common/storage/src/config.rs
  src/common/storage/src/operator.rs
  src/meta/app/src/storage/storage_params.rs
  src/query/config/src/config.rs
  src/query/sharing/src/layer.rs
Labels: pr-chore, pr-refactor, ci-benchmark

#13745 chore: fix flaky test on background service
  tests/suites/6_background/00_target_tables/00_0000_target_tables.sh
Labels: pr-chore

#13748 chore: bump mysql related crates
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#13740 fix: flaky test case on test_affect
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#13744 fix: Fix merge into bug
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
Labels: pr-bugfix

#13741 feat(query): Support lateral join flatten
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/functions/src/srfs/array.rs
  src/query/functions/src/srfs/mod.rs
  src/query/functions/src/srfs/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/table_functions/srf/flatten.rs
  src/query/sql/src/planner/binder/table.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-feature, ci-cloud

#13758 feat: meta: enable fixing data inconsistency by cleanup follower data
  Cargo.lock
  Cargo.toml
  src/binaries/meta/entry.rs
  src/meta/service/src/version.rs
Labels: pr-bugfix, pr-feature

#13726 fix: fix cast null to varchar fail
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_avg.test
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-bugfix

#13762 fix: create stream and alter view
  src/query/service/src/interpreters/interpreter_view_alter.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0019_ddl_create_view.test
Labels: pr-bugfix

#13760 feat: ndjson add new option missing_field_as and null_field_as.
  src/common/storage/src/copy.rs
  src/meta/app/src/principal/file_format.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v032_file_format_params.rs
  src/meta/proto-conv/tests/it/v064_ndjson_format_params.rs
  src/meta/protos/proto/file_format.proto
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  tests/data/ndjson/null.ndjson
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_default.test
Labels: pr-feature

#13766 chore: use datetime as lvt time
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/least_visible_time.rs
  src/meta/proto-conv/src/least_visible_time_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v065_least_visible_time.rs
  src/meta/protos/proto/least_visible_time.proto
Labels: pr-chore

#13684 feat(executor): add plan info for processor profile
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipe.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/executor/physical_plan.rs
  src/query/storages/system/src/processor_profile_table.rs
Labels: pr-feature, ci-benchmark

#13769 chore: remove several done TODO
  src/meta/client/tests/it/grpc_server.rs
  src/meta/raft-store/src/ondisk/version_info.rs
  src/meta/raft-store/src/sm_v002/leveled_store/util.rs
  src/meta/raft-store/src/sm_v002/marked/mod.rs
  src/meta/service/src/version.rs
  src/meta/types/src/errors/meta_raft_errors.rs
Labels: pr-chore

#13375 fix(metrics): make the metrics in prometheus client layer as singleton
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#13767 fix(planner): Fix property derivation of `EvalScalar`
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain.test
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-bugfix
