Repository databendlabs/databend, pull requests merged in 2023-01, with the labels that each got.

#9436 feat(cache): add generic cache trait for different object reader
  Cargo.lock
  Cargo.toml
  src/query/storages/cache/Cargo.toml
  src/query/storages/cache/src/cache.rs
  src/query/storages/cache/src/lib.rs
  src/query/storages/cache/src/object.rs
  src/query/storages/cache/src/providers/by_pass_cache.rs
  src/query/storages/cache/src/providers/file_cache.rs
  src/query/storages/cache/src/providers/memory_bytes_cache.rs
  src/query/storages/cache/src/providers/memory_items_cache.rs
  src/query/storages/cache/src/providers/mod.rs
  src/query/storages/cache/src/settings.rs
  src/query/storages/cache/tests/it/by_pass_cache.rs
  src/query/storages/cache/tests/it/main.rs
  src/query/storages/cache/tests/it/memory_bytes_cache.rs
  src/query/storages/cache/tests/it/memory_items_cache.rs
Labels: pr-feature

#9437 feat: Check connection params
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/tests/location.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
Labels: pr-feature

#9439 refactor(storage/cache): add to_bytes and from_bytes for CachedObject
  Cargo.lock
  src/query/storages/cache/Cargo.toml
  src/query/storages/cache/src/lib.rs
  src/query/storages/cache/src/object.rs
  src/query/storages/cache/src/providers/by_pass_cache.rs
  src/query/storages/cache/src/providers/memory_items_cache.rs
  src/query/storages/cache/src/settings.rs
  src/query/storages/cache/tests/it/by_pass_cache.rs
  src/query/storages/cache/tests/it/memory_items_cache.rs
Labels: pr-refactor

#9444 ci: only run dev ci for pull request to main
  .github/workflows/dev-linux.yml
  .github/workflows/dev-macos.yml
Labels: pr-build

#9445 feat(cache): add metrics for new cache
  Cargo.lock
  src/query/storages/cache/Cargo.toml
  src/query/storages/cache/src/lib.rs
  src/query/storages/cache/src/object.rs
  src/query/storages/cache/src/providers/by_pass_cache.rs
  src/query/storages/cache/src/providers/memory_bytes_cache.rs
  src/query/storages/cache/src/providers/memory_items_cache.rs
  src/query/storages/cache/src/providers/metrics.rs
  src/query/storages/cache/src/providers/mod.rs
Labels: pr-feature

#9446 fix: Lazy load JWKS
  src/query/service/src/auth.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/tests/context.rs
  src/query/users/src/jwt/authenticator.rs
  src/query/users/src/jwt/jwk.rs
Labels: pr-bugfix

#9447 feat(format): basic output format JSON.
  src/meta/types/src/user_stage.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/format_option_checker.rs
  src/query/formats/src/output_format/json.rs
  src/query/formats/src/output_format/mod.rs
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.sh
Labels: pr-feature

#9451 feat(readme): roadmap 2022 -> 2023
  README.md
  docs/doc/00-overview/index.md
  docs/doc/90-contributing/02-roadmap.md
Labels: pr-feature

#9427 feat(hive): support prewhere in hive
  Cargo.lock
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
  src/query/storages/hive/hive/src/lib.rs
Labels: pr-feature

#9457 feat(query): add schema to json output
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/output_format/json.rs
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
Labels: pr-feature

#9454 docs: on_error not for parquet
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#9452 chore(planner): Refactor `RelOperator`
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/evaluator/chunk_operator.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/util.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/implement_rules.rs
  src/query/sql/src/planner/optimizer/cascades/mod.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/implement_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/implement_group.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/mod.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/group.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/implement.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/heuristic/prewhere_optimization.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/rule_implement_get.rs
  src/query/sql/src/planner/optimizer/rule/rule_implement_hash_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/optimizer/util.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/hash_join.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/pattern.rs
  src/query/sql/src/planner/plans/physical_scan.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/issue_9018.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-chore

#9204 feat(query): efficiently memory two level group by in standalone mode
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/stack_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/table_empty.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/twolevel_hashtable.rs
  src/common/hashtable/src/unsized_hashtable.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_info.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
Labels: pr-feature

#9461 feat(query): add rows to json format response
  .github/workflows/dev-macos.yml
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/output_format/json.rs
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
Labels: pr-feature

#9435 docs(blog): add databend 2022 recap
  website/blog/2022-12-31-databend-2022-recap.md
  website/static/img/blog/databend-perf.png
Labels: pr-doc

#9464 docs: refactor first pr page
  docs/doc/90-contributing/01-good-pr.md
Labels: pr-doc

#9465 docs: sample toml files
  docs/doc/10-deploy/06-metasrv/15-metasrv-config.md
  docs/doc/10-deploy/07-query/10-query-config.md
Labels: pr-doc

#9466 chore(meta): use explicit import. avoid using prelude::*;
  src/meta/app/src/schema/table.rs
Labels: pr-chore

#9468 fix(sqllogictest): fix parallel behavior
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/src/client/mysql_client.rs
  tests/sqllogictests/src/main.rs
Labels: pr-bugfix

#9469 chore: add codegen-units
  Cargo.toml
Labels: pr-chore

#9475 docs(blog): add databend weekly 75
  website/blog/2023-01-04-databend-weekly-75.md
Labels: pr-doc

#9476 docs(weekly-75): minor fix
  website/blog/2023-01-04-databend-weekly-75.md
Labels: pr-doc

#9478 ci: combine sqllogic test handlers to reduce jobs
  .github/mergify.yml
  .github/workflows/dev-linux.yml
Labels: pr-build

#9484 refactor(expr): move negative funtions to binder
  src/common/base/src/base/mod.rs
  src/common/base/src/base/range.rs
  src/query/ast/src/ast/expr.rs
  src/query/expression/src/function.rs
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/comparison.rs
  src/query/functions/tests/it/scalars/control.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/control.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/functions_table.rs
Labels: pr-refactor, new-expression

#9482 refactor(raft-store): move raft-store kv ser/de into common-raft-store
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/tests/it/state_machine/expire.rs
  src/meta/service/src/export.rs
  src/meta/service/src/meta_service/raftmeta.rs
Labels: pr-refactor

#9488 chore(query): use smaller distinct state
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
Labels: pr-chore

#9492 chore(expression): remove unused functions
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
Labels: pr-chore

#9491 chore(query): use memchr to improve compare
  Cargo.lock
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/types/string.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_groups_builder.rs
  tests/sqllogictests/suites/base/20+_others/20_0010_expression_string_like
Labels: pr-chore

#9493 feat(planner): support `tuple.1` and get(1)(tuple)
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_scalar.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/plans/scalar.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-feature

#9471 feat(query): send empty block with schema for empty data_stream
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-feature

#9500 refactor(query): improve StringBuilder v2
  src/query/expression/src/types/string.rs
  src/query/functions/src/scalars/string.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_groups_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
Labels: pr-refactor

#9503 refactor: Bump opendal for streaming read support
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/cache.rs
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_parquet.rs
  src/query/service/Cargo.toml
  src/query/sharing-endpoint/Cargo.toml
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sql/Cargo.toml
  src/query/storages/cache/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/read/meta_readers.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/information-schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/parquet/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/system/Cargo.toml
  src/query/storages/table-meta/Cargo.toml
  src/query/storages/table-meta/src/caches/memory_cache_reader.rs
Labels: pr-refactor

#9486 feat(storage): support nested type in read_parquet.
  src/common/arrow/src/schema_projection.rs
  src/common/storage/src/column_leaf.rs
  src/query/expression/src/schema.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/meta.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/table_function/read.rs
  tests/data/tuple.parquet
  tests/sqllogictests/suites/base/09_fuse_engine/09_0021_read_tuple_array
  tests/suites/1_stateful/06_read_parquet/06_0000_read_parquet.result
  tests/suites/1_stateful/06_read_parquet/06_0000_read_parquet.sh
Labels: pr-feature

#9508 feat: Retry range read request to tolerate UnexpectedEof
  Cargo.lock
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/src/io/read/block_reader_native.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
Labels: pr-feature

#9510 fix: OpenDAL range_read will return temporary error if possible
  Cargo.lock
Labels: pr-bugfix

#9507 chore(query): fix fuse block unwrap
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
Labels: pr-chore

#9513 fix: Bump opendal to fix perf regression of range_read
  Cargo.lock
Labels: pr-bugfix

#9504 feat(query): efficiently memory two level group by in standalone mode
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/stack_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/table_empty.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/twolevel_hashtable.rs
  src/common/hashtable/src/unsized_hashtable.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_info.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_twolevel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
Labels: pr-feature

#9511 chore(expression): be compatible with version v2 bloom filter index
  src/query/expression/src/converts/to.rs
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/storages/fuse/src/io/read/bloom_index_reader.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/index/src/bloom.rs
  src/query/storages/index/tests/it/filters/bloom_filter.rs
  src/query/storages/table-meta/src/meta/mod.rs
  src/query/storages/table-meta/src/meta/v2/segment.rs
  src/query/storages/table-meta/src/meta/versions.rs
Labels: pr-chore

#9515 chore(hashtable): avoid RUSTFLAGS="-C target-feature=+sse4.2" warning
  Cargo.lock
  src/common/hashtable/src/traits.rs
  src/query/storages/index/Cargo.toml
Labels: pr-chore

#9502 feat(system): add build options table
  Cargo.lock
  src/common/building/Cargo.toml
  src/common/building/src/lib.rs
  src/query/service/build.rs
  src/query/service/src/databases/system/build_options_table.rs
  src/query/service/src/databases/system/mod.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
Labels: pr-feature

#9472 refactor(format): extract AligningStateTextBased.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
Labels: pr-refactor

#9518 chore(query): empty filter result will not share the column ref
  src/query/expression/src/values.rs
Labels: pr-chore

#9521 feat: all func_ctx used by run or execute try get from tablectx
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
Labels: pr-feature

#9522 refactor(BlockIndex): change the BlockIndex from type to struct
  Cargo.lock
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_meta.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_part.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_source.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_transform.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/mod.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/pruner/Cargo.toml
  src/query/storages/pruner/src/lib.rs
  src/query/storages/pruner/src/topn_pruner.rs
Labels: pr-refactor

#9516 refactor(query): refactor map access to support view read tuple inner field
  src/query/expression/tests/it/data_schema.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/03_dml/03_0026_insert_into_tuple
  tests/sqllogictests/suites/base/09_fuse_engine/09_0021_read_tuple_array
Labels: pr-refactor

#9526 chore(storages): move index/prunner/cache to storages/common
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/object.rs
  src/query/storages/common/cache/src/providers/by_pass_cache.rs
  src/query/storages/common/cache/src/providers/file_cache.rs
  src/query/storages/common/cache/src/providers/memory_bytes_cache.rs
  src/query/storages/common/cache/src/providers/memory_items_cache.rs
  src/query/storages/common/cache/src/providers/metrics.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/settings.rs
  src/query/storages/common/cache/tests/it/by_pass_cache.rs
  src/query/storages/common/cache/tests/it/main.rs
  src/query/storages/common/cache/tests/it/memory_bytes_cache.rs
  src/query/storages/common/cache/tests/it/memory_items_cache.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/benches/build_from_block.rs
  src/query/storages/common/index/src/bloom.rs
  src/query/storages/common/index/src/filters/filter.rs
  src/query/storages/common/index/src/filters/mod.rs
  src/query/storages/common/index/src/filters/xor8.rs
  src/query/storages/common/index/src/index_min_max.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/src/range_filter.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/index/tests/it/filters/mod.rs
  src/query/storages/common/index/tests/it/filters/xor8.rs
  src/query/storages/common/index/tests/it/main.rs
  src/query/storages/common/pruner/Cargo.toml
  src/query/storages/common/pruner/src/lib.rs
  src/query/storages/common/pruner/src/limiter_pruner.rs
  src/query/storages/common/pruner/src/range_pruner.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/lib.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_meta.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_part.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_source.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_block_filter.rs
  src/query/storages/hive/hive/src/hive_partition_pruner.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/table_function/read.rs
Labels: pr-chore

#9501 refactor(query): use ctx to store the function evaluation error
  Cargo.lock
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/expression/src/types/number.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/arithmetic_modulo.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/geo.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/src/scalars/uuid.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/query/02_function/02_0002_function_try_cast
Labels: pr-refactor

#9530 feat: Allow retry ObjectReader IO operations
  Cargo.lock
Labels: pr-feature

#9527 fix: bounce up reqsign to 0.7.5
  Cargo.lock
Labels: pr-bugfix

#9534 refactor(format): richer error context.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_split.rs
Labels: pr-refactor

#9535 feat(meta/proto-conv): add reader-min-msg-ver and msg-min-reader-ver
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/database_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/share_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
Labels: pr-feature

#9541 ci: add workflow for backport branches
  .github/actions/setup_docker/action.yml
  .github/workflows/backport.yml
  .github/workflows/release.yml
Labels: pr-build

#9487 refactor(planner): add Scalar::NotExpr
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/prewhere_optimization.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/plans/scalar.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
Labels: pr-refactor

#9539 chore:Change log output Mysql to MySQL
  tests/sqllogictests/src/error.rs
  tests/sqllogictests/src/main.rs
Labels: pr-chore

#9545 refactor(expr): use error_to_null() to eval try_cast
  src/query/expression/src/function.rs
  src/query/expression/src/property.rs
  src/query/functions/src/scalars/datetime.rs
Labels: pr-refactor

#9544 chore(meta/proto): rename message.min_compatible to message.min_reader_ver to reflect its actual purpose
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/database_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/share_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/protos/proto/config.proto
  src/meta/protos/proto/database.proto
  src/meta/protos/proto/datatype.proto
  src/meta/protos/proto/metadata.proto
  src/meta/protos/proto/share.proto
  src/meta/protos/proto/table.proto
  src/meta/protos/proto/user.proto
Labels: pr-chore

#9551 fix(query): fix memory leak for unsized hash table
  src/common/hashtable/src/unsized_hashtable.rs
Labels: pr-bugfix

#9552 chore(function): bump geo-types version
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geo.rs
Labels: pr-chore

#9554 chore: bump rust version in CI
  scripts/setup/rust-toolchain.toml
Labels: pr-chore

#9560 refactor(format): call csv_core::Reader at one place.
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
Labels: pr-refactor

#9537 fix: fix row group stats collection.
  src/query/storages/parquet/src/parquet_reader/meta.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/table_function/mod.rs
  src/query/storages/parquet/src/table_function/read.rs
  src/query/storages/parquet/src/table_function/table.rs
  tests/data/complex.parquet
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.result
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.sh
  tests/suites/1_stateful/06_read_parquet/06_0000_read_parquet.result
  tests/suites/1_stateful/06_read_parquet/06_0000_read_parquet.sh
  tests/suites/1_stateful/06_read_parquet/06_0001_complex.result
  tests/suites/1_stateful/06_read_parquet/06_0001_complex.sh
Labels: pr-bugfix

#9556 fix(query): cast with keyword err
  src/query/ast/src/parser/expr.rs
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast
Labels: pr-bugfix

#9562 chore(fuse): make column meta to be an enum
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/storages/common/table-meta/Cargo.toml
  src/query/storages/common/table-meta/src/meta/current/mod.rs
  src/query/storages/common/table-meta/src/meta/v1/segment.rs
  src/query/storages/common/table-meta/src/meta/v2/mod.rs
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/src/io/read/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block_reader_parquet.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/write_settings.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/fuse_native_source.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/util.rs
Labels: pr-chore

#9543 fix: mute err log of TableVersionMismatched exception
  src/meta/api/src/schema_api_impl.rs
Labels: pr-bugfix

#9565 chore(fuse): optimize the expr in range filter
  src/query/expression/src/utils/arrow.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/storages/common/index/src/range_filter.rs
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
Labels: pr-chore

#9568 chore(meta/proto-conv): re-organize old version meta decoding test
  Cargo.lock
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/database_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/from_to_protobuf.rs
  src/meta/proto-conv/src/share_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/common.rs
  src/meta/proto-conv/tests/it/datatype.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v002_database_meta.rs
  src/meta/proto-conv/tests/it/v002_share_account_meta.rs
  src/meta/proto-conv/tests/it/v002_share_meta.rs
  src/meta/proto-conv/tests/it/v002_table_meta.rs
  src/meta/proto-conv/tests/it/v005_database_meta.rs
  src/meta/proto-conv/tests/it/v005_share_meta.rs
  src/meta/proto-conv/tests/it/v006_copied_file_info.rs
  src/meta/proto-conv/tests/it/v007_cpoied_file_lock.rs
  src/meta/proto-conv/tests/it/v010_table_meta.rs
  src/meta/proto-conv/tests/it/v012_table_meta.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
Labels: pr-chore

#9559 fix: use context's runtime in clickhouse handler while executing interpreter
  src/query/service/src/servers/http/clickhouse_handler.rs
Labels: pr-bugfix

#9567 chore(function): update regexp_replace
  src/query/functions/src/scalars/string_multi_args.rs
  tests/sqllogictests/suites/query/02_function/02_0054_function_string_regexp_replace
  tests/suites/0_stateless/13_tpch/13_0000_prepare.sh
Labels: pr-chore

#9570 fix(query): replace if file_format_options for insert with stage attachment
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-bugfix

#9542 refactor(storage): refactor bloom index to use vectorized siphash function
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/storages/common/index/benches/build_from_block.rs
  src/query/storages/common/index/src/bloom.rs
  src/query/storages/common/index/src/filters/filter.rs
  src/query/storages/common/index/src/filters/xor8.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/index/tests/it/filters/xor8.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_source.rs
  src/query/storages/fuse/src/pruning/pruner.rs
Labels: pr-refactor

#9572 fix(expr): constant folder should run repeatly until stable
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/evaluator.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/functions/tests/it/scalars/boolean.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
Labels: pr-bugfix, new-expression

#9561 fix(expr): check_date() and to_string(boolean) may panic
  src/query/expression/src/function.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
Labels: pr-bugfix, new-expression

#9506 feat(meta): use expressin::TableSchema to replace obsolete datavalues::DataSchema
  Cargo.lock
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
  src/meta/proto-conv/tests/it/v024_table_meta.rs
  src/meta/protos/proto/datatype.proto
  src/query/datavalues/Cargo.toml
  src/query/datavalues/src/data_field.rs
  src/query/datavalues/src/data_schema.rs
  src/query/datavalues/src/data_value.rs
  src/query/datavalues/src/types/data_type.rs
  src/query/datavalues/src/types/type_array.rs
  src/query/datavalues/src/types/type_boolean.rs
  src/query/datavalues/src/types/type_date.rs
  src/query/datavalues/src/types/type_id.rs
  src/query/datavalues/src/types/type_interval.rs
  src/query/datavalues/src/types/type_null.rs
  src/query/datavalues/src/types/type_nullable.rs
  src/query/datavalues/src/types/type_primitive.rs
  src/query/datavalues/src/types/type_string.rs
  src/query/datavalues/src/types/type_struct.rs
  src/query/datavalues/src/types/type_timestamp.rs
  src/query/datavalues/src/types/type_variant.rs
  src/query/datavalues/src/types/type_variant_array.rs
  src/query/datavalues/src/types/type_variant_object.rs
  src/query/datavalues/src/variant_value.rs
  src/query/expression/src/converts/from.rs
  src/query/expression/src/converts/to.rs
  src/query/storages/common/table-meta/src/meta/statistics.rs
Labels: pr-feature

#9574 feat(query): set setting support expr
  docs/doc/14-sql-commands/80-setting-cmds/set-global.md
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/utils/display.rs
  src/query/sql/src/planner/binder/setting.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings
Labels: pr-feature

#9581 docs: file upload api
  docs/doc/11-integrations/00-api/10-put-to-stage.md
Labels: pr-doc

#9586 docs(blog): add this week in databend 76
  website/blog/2023-01-11-databend-weekly-76.md
Labels: pr-doc

#9584 refactor(meta/proto): remove unused meta types and conversion util
  src/meta/proto-conv/src/data_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/datatype.rs
  src/meta/proto-conv/tests/it/main.rs
Labels: pr-refactor

#9591 docs: fix record delimiter
  docs/doc/12-load-data/02-local.md
Labels: pr-doc

#9588 feat(geo): add other base geo functions
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geo.rs
  src/query/functions/tests/it/scalars/geo.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  tests/sqllogictests/suites/query/02_function/02_0059_function_geo
Labels: pr-feature

#8215 rfc: Iceberg Catalog
  docs/doc/60-contributing/03-rfcs/20221013-iceberg-catalog.md
Labels: pr-rfc

#9585 refactor(expr): rearrange common_expression and common_function
  src/query/catalog/src/plan/expression.rs
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/memory.rs
  src/query/expression/src/meta_info.rs
  src/query/expression/src/stream.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/utils/block_compact_thresholds.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/values.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/src/scalars/uuid.rs
  src/query/functions/tests/it/scalars/boolean.rs
  src/query/functions/tests/it/scalars/misc.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/misc.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_iter.rs
  src/query/service/src/pipelines/processors/transforms/group_by/large_number.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/index/src/bloom.rs
  src/query/storages/common/index/src/range_filter.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/memory/src/memory_table.rs
Labels: pr-refactor

#9592 docs: remove Array and Object data type
  docs/doc/13-sql-reference/10-data-types/40-data-type-semi-structured-types.md
  docs/doc/15-sql-functions/110-semi-structured-functions/as_type.md
  docs/doc/15-sql-functions/110-semi-structured-functions/get.md
  docs/doc/15-sql-functions/110-semi-structured-functions/get_ignore_case.md
  docs/doc/15-sql-functions/110-semi-structured-functions/get_path.md
  docs/doc/15-sql-functions/110-semi-structured-functions/object_keys.md
Labels: pr-doc

#9593 fix(query): format response schema fields
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#9595 chore: move range filter test to right dir
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_range_filter
Labels: pr-chore

#9603 ci: run sqllogictests with binary
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  Cargo.lock
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  tests/compat/test-compat.sh
  tests/fuse-compat/test-fuse-compat.sh
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/README.md
  tests/sqllogictests/src/client/clickhouse_client.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/src/client/mysql_client.rs
  tests/sqllogictests/src/error.rs
  tests/sqllogictests/src/main.rs
Labels: pr-build

#9608 chore(query): make opendal be workspace dep
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/hashtable/Cargo.toml
  src/common/io/Cargo.toml
  src/common/jsonb/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/formats/Cargo.toml
  src/query/functions/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sharing-endpoint/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/table-meta/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/information-schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/parquet/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/share/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/system/Cargo.toml
Labels: pr-chore

#9612 chore(query): add DistinctToGroupBy
  src/query/ast/src/lib.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/mod.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-chore

#9609 chore(query): remove extra projection if not need
  src/query/service/src/pipelines/pipeline_builder.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
Labels: pr-chore

#9602 chore: bump sqllogictest-0.11.1
  Cargo.lock
  tests/sqllogictests/Cargo.toml
Labels: pr-chore

#9615 fix: sqllogic test hangs (cluster mod + clickhouse handler)
  src/query/service/src/servers/http/clickhouse_handler.rs
Labels: pr-bugfix

#9614 chore(query): add bloom filter supported data type
  src/query/storages/common/index/src/filters/xor8.rs
Labels: pr-chore

#9473 refactor: Refine on_error mode
  Cargo.lock
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/v025_user_stage.rs
  src/meta/protos/proto/user.proto
  src/meta/types/src/user_stage.rs
  src/query/catalog/src/table_context.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/mod.rs
  src/query/service/src/interpreters/interpreter_copy_v2.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/stage/src/stage_table.rs
  tests/data/wrong_sample.csv
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage
  tests/sqllogictests/suites/base/06_show/06_0011_show_stages
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.result
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.sh
Labels: pr-refactor

#9261 feat(storage): update interpreter and storage support
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/mod.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/mutation/compact/merge_segments_transform.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_meta.rs
  src/query/storages/fuse/src/operations/mutation/deletion/deletion_source.rs
  src/query/storages/fuse/src/operations/mutation/deletion/mod.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_part.rs
  src/query/storages/fuse/src/operations/mutation/mutation_sink.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
  src/query/storages/fuse/src/operations/mutation/serialize_data_transform.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/03_dml/03_0035_update
  tests/sqllogictests/suites/duckdb/issues/monetdb/test_correlated_update.test
Labels: pr-feature

#9594 feat(optimizer): Improve cardinality estimation for join based on histogram
  src/query/sql/src/planner/optimizer/property/column_stat.rs
  src/query/sql/src/planner/optimizer/property/datum.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star_multiple_tables.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
Labels: pr-feature

#9563 feat(storage): read_parquet page index.
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/query/storages/common/index/src/range_filter.rs
  src/query/storages/common/pruner/Cargo.toml
  src/query/storages/common/pruner/src/range_pruner.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/hive/hive/src/hive_partition_pruner.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_column.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_source.rs
  src/query/storages/parquet/src/pruning.rs
  src/query/storages/parquet/src/read_options.rs
  src/query/storages/parquet/src/statistics.rs
  src/query/storages/parquet/src/table_function/read.rs
  src/query/storages/parquet/src/table_function/table.rs
Labels: pr-feature

#9629 fix: ensure there is page index while using page index to filter pages.
  src/query/storages/parquet/src/pruning.rs
Labels: pr-bugfix

#9622 chore: fix typo, "Confilct" -> "Conflict"
  src/query/storages/fuse/src/operations/mutation/mutation_sink.rs
Labels: pr-chore

#9627 ci: add `test_stateful_cluster_linux` for production
  .github/workflows/production.yml
Labels: pr-build

#9621 feat(meta/sled): iter() iterate every tree and every records in theses trees
  Cargo.lock
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_iter.rs
  src/meta/sled-store/tests/it/main.rs
  src/meta/sled-store/tests/it/sled_iter.rs
Labels: pr-feature

#9619 fix(storage): fix range filter read stat with index
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/data_schema.rs
  src/query/expression/tests/it/main.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/index/src/range_filter.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0021_read_tuple_array
Labels: pr-bugfix

#9625 feat: improve filter cardinality evaluation
  src/query/sql/src/planner/optimizer/property/column_stat.rs
  src/query/sql/src/planner/optimizer/property/datum.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-feature

#9637 docs: fix vague description
  docs/doc/10-deploy/06-metasrv/20-metasrv-add-remove-node.md
  docs/doc/10-deploy/07-query/10-query-config.md
Labels: pr-doc

#9489 feat(meta/upgrade): meta data upgrade program
  .github/actions/test_meta-upgrade-2023-01-15/action.yml
  .github/workflows/dev-linux.yml
  Cargo.lock
  Cargo.toml
  src/binaries/meta-upgrade-2023-01-15/Cargo.toml
  src/binaries/meta-upgrade-2023-01-15/src/main.rs
  src/binaries/meta-upgrade-2023-01-15/src/rewrite.rs
  src/binaries/metactl/snapshot.rs
  src/meta/proto-conv/src/datetime_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/service/src/export.rs
  tests/meta-upgrade-2023-01-15/README.md
  tests/meta-upgrade-2023-01-15/meta-v23.txt
  tests/meta-upgrade-2023-01-15/test-meta-upgrade-to-24.sh
Labels: pr-feature

#9639 docs: fix usecases
  docs/doc/21-use-cases/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/21-use-cases/02-analyze-nginx-logs-with-databend-and-vector.md
  docs/doc/21-use-cases/03-analyze-user-retention-with-databend.md
  docs/doc/21-use-cases/04-analyze-funnel-with-databend.md
  docs/doc/21-use-cases/05-analyze-hits-dataset-with-databend.md
Labels: pr-doc

#9638 fix(query): fix management empty schema
  src/query/service/src/interpreters/interpreter_call.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-bugfix

#9641 docs(meta/upgrade): add doc for meta-upgrade
  .github/actions/test_meta-upgrade-09/action.yml
  .github/workflows/dev-linux.yml
  Cargo.lock
  Cargo.toml
  docs/doc/10-deploy/09-upgrade/90-upgrade-0.8-to-0.9.md
  src/binaries/meta-upgrade-09/Cargo.toml
  src/binaries/meta-upgrade-09/src/main.rs
  src/binaries/meta-upgrade-09/src/rewrite.rs
  src/meta/proto-conv/src/util.rs
  tests/meta-upgrade-09/README.md
  tests/meta-upgrade-09/meta-v23.txt
  tests/meta-upgrade-09/test-meta-upgrade-09.sh
Labels: pr-doc

#9635 refactor(parser): more strict parser for format_options.
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage
  website/blog/2022-08-08-benchmark-tpc-h.md
Labels: pr-refactor

#9643 chore(sqllogictest): add log for http session
  tests/sqllogictests/src/client/http_client.rs
Labels: pr-chore

#9645 fix(planner): Fix stack overflow when applying `RuleFilterPushDownJoin`
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/plans/scalar.rs
  tests/sqllogictests/suites/query/issues/issue_9236.test
Labels: pr-bugfix

#9633 feat: update statistic during query execution
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/sql/src/planner/optimizer/property/column_stat.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star_multiple_tables.test
  tests/suites/0_stateless/13_tpch/13_0009_q9.result
  tests/suites/0_stateless/13_tpch/13_0009_q9.sql
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
Labels: pr-feature

#9648 refactor(storage/index): make the storage/index more index
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/benches/build_from_block.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/xor8.rs
  src/query/storages/common/index/src/index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/pruner/src/range_pruner.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/hive/hive/src/hive_block_filter.rs
  src/query/storages/hive/hive/src/hive_partition_pruner.rs
  src/query/storages/hive/hive/src/hive_table.rs
Labels: pr-refactor

#9649 docs: update copyinto connection
  docs/doc/14-sql-commands/10-dml/dml-copy-into-location.md
Labels: pr-doc

#9651 docs: reorder contributing docs with minor update
  docs/doc/90-contributing/00-roadmap.md
  docs/doc/90-contributing/01-rfcs/00000000-example.md
  docs/doc/90-contributing/01-rfcs/20210815-data-shuffle.md
  docs/doc/90-contributing/01-rfcs/20210913-join-framework-design.md
  docs/doc/90-contributing/01-rfcs/20210914-new-sql-planner-framework.md
  docs/doc/90-contributing/01-rfcs/20211202-plan-expression.md
  docs/doc/90-contributing/01-rfcs/20211203-performance-test.md
  docs/doc/90-contributing/01-rfcs/20220117-new-datavalues-system.md
  docs/doc/90-contributing/01-rfcs/20220304-semi-structured-data-types.md
  docs/doc/90-contributing/01-rfcs/20220425-new_sql_logic_test_framework.md
  docs/doc/90-contributing/01-rfcs/20220512-config-backward-compatibility.md
  docs/doc/90-contributing/01-rfcs/20220530-user-friendly-releases.md
  docs/doc/90-contributing/01-rfcs/20220602-async-insert.md
  docs/doc/90-contributing/01-rfcs/20220704-presign.md
  docs/doc/90-contributing/01-rfcs/20220721-new-logging.md
  docs/doc/90-contributing/01-rfcs/20220725-cache.md
  docs/doc/90-contributing/01-rfcs/20220728-metasrv-txn.md
  docs/doc/90-contributing/01-rfcs/20220728-metasrv-watch.md
  docs/doc/90-contributing/01-rfcs/20220729-recluster.md
  docs/doc/90-contributing/01-rfcs/20220805-deprecate-clickhouse-tcp-support.md
  docs/doc/90-contributing/01-rfcs/20220805-json-optimization.md
  docs/doc/90-contributing/01-rfcs/20220809-share.md
  docs/doc/90-contributing/01-rfcs/20220909-idempotent-copy.md
  docs/doc/90-contributing/01-rfcs/20221013-iceberg-catalog.md
  docs/doc/90-contributing/01-rfcs/20221017-multiple-catalog.md
  docs/doc/90-contributing/01-rfcs/20221028-user-stage.md
  docs/doc/90-contributing/01-rfcs/_category_.json
  docs/doc/90-contributing/02-building-from-source.md
  docs/doc/90-contributing/03-good-pr.md
  docs/doc/90-contributing/04-routine-maintenance.md
  docs/doc/90-contributing/05-benchmarking.md
  docs/doc/90-contributing/06-how-to-benchmark-with-hyperfine.md
  docs/doc/90-contributing/07-how-to-profiling.md
  docs/doc/90-contributing/08-how-to-write-scalar-functions.md
  docs/doc/90-contributing/09-how-to-write-aggregate-functions.md
Labels: pr-doc

#9652 docs: add versioned dropdown
  docs/doc/10-deploy/06-metasrv/10-metasrv-deploy.md
  docs/doc/10-deploy/06-metasrv/60-metasrv-status.md
  website/docusaurus.config.js
Labels: pr-doc

#9650 refactor(geo): Refine geo base functions
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geo.rs
  src/query/functions/tests/it/scalars/geo.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
Labels: pr-refactor

#9653 chore: regenerate test data
  src/query/functions/tests/it/scalars/testdata/geo.txt
Labels: pr-chore

#9654 feat: enhance aggregator cardinality evaluation
  src/query/sql/src/planner/plans/aggregate.rs
Labels: pr-feature

#9655 chore: update tpch 9
  tests/suites/0_stateless/13_tpch/13_0009_q9.result
  tests/suites/0_stateless/13_tpch/13_0009_q9.sql
Labels: pr-chore

#9630 feat(query): support named params for table functions.
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/table-meta/src/caches/cache.rs
  src/query/storages/parquet/src/read_options.rs
  src/query/storages/parquet/src/table_function/table.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.result
  tests/suites/1_stateful/06_read_parquet/06_0000_basic.sh
Labels: pr-feature

#9662 fix: change cost of right semi join
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
Labels: pr-bugfix

#9660 chore: rename ColumnLeaf to ColumnNode
  src/common/storage/src/column_node.rs
  src/common/storage/src/lib.rs
  src/query/catalog/src/plan/projection.rs
  src/query/expression/src/schema.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/src/io/read/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block_reader_parquet.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  src/query/storages/parquet/src/parquet_reader/reader.rs
  src/query/storages/parquet/src/pruning.rs
  src/query/storages/parquet/src/statistics.rs
  src/query/storages/parquet/src/table_function/read.rs
Labels: pr-chore

#9657 feat(planner): Add switch to enable bushy join
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/explore_rules.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/transform/mod.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
Labels: pr-feature

#9666 fix(query): fix hang when shutdown with metric api
  src/common/http/src/http_shutdown_handlers.rs
  src/meta/service/src/api/http_service.rs
  src/query/service/src/api/http_service.rs
  src/query/service/src/metrics/metric_service.rs
  src/query/service/src/servers/http/http_services.rs
Labels: pr-bugfix

#9665 refactor(planner): rename Scalar to ScalarExpr
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert_v2.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/prewhere_optimization.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/recluster_table.rs
  src/query/sql/src/planner/plans/scalar.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-refactor

#9600 feat(fuse): add prewhere support in native storage format
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/common/hashtable/src/hashtable.rs
  src/common/io/src/position.rs
  src/common/storage/src/operator.rs
  src/query/expression/src/block.rs
  src/query/expression/src/types/string.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/sharing/Cargo.toml
  src/query/sharing/src/layer.rs
  src/query/sharing/src/signer.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/pruner/src/lib.rs
  src/query/storages/common/pruner/src/page_pruner.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/common/table-meta/src/meta/statistics.rs
  src/query/storages/fuse/src/fuse_part.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/block_reader.rs
  src/query/storages/fuse/src/io/read/block_reader_native.rs
  src/query/storages/fuse/src/io/read/bloom_index_reader.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/fuse_native_source.rs
  src/query/storages/fuse/src/operations/fuse_source.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/src/statistics/reducers.rs
Labels: pr-feature

#9676 ci: support setup minio storage & external s3 storage in docker image
  .github/workflows/release.yml
  docker/Dockerfile
  docker/README.md
  docker/bootstrap.sh
  docker/cache/Dockerfile
  docker/query-config.toml
Labels: pr-build

#9670 refactor: move build options table & add unit test
  docs/doc/13-sql-reference/70-system-tables/system-build-options.md
  src/query/service/src/databases/system/mod.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/system.rs
  src/query/storages/system/src/build_options_table.rs
  src/query/storages/system/src/lib.rs
Labels: pr-refactor

#9664 feat: Add privilege check for insert/delete/optimize
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_update.rs
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-feature

#9681 chore(planner): unify format of `EXPLAIN FRAGMENTS`
  src/query/ast/src/ast/format/pretty_format.rs
  src/query/service/src/interpreters/interpreter_explain_v2.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions_display.rs
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
Labels: pr-chore

#9532 feat: Add oss storage option about presign_endpoint_url
  src/common/storage/src/config.rs
  src/common/storage/src/operator.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/query/config/src/outer_v0.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
Labels: pr-feature

#9683 chore(sqllogictest): add sqllogic tests for management mode
  .github/actions/test_sqllogic_management_mode_linux/action.yml
  .github/workflows/dev-linux.yml
  scripts/ci/ci-run-sqllogic-tests-management-mode.sh
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/databend-query-management-mode.sh
  tests/sqllogictests/suites/management/management_calls
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo
Labels: pr-chore

#9686 docs(weekly): add databend weekly 77
  website/blog/2023-01-18-databend-weekly-77.md
Labels: pr-doc

#9685 fix(query): fix efficiently_memory_final_aggregator result is not stable
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
  tests/sqllogictests/suites/base/03_dml/03_0036_two_level_efficiently_memory_aggregator
Labels: pr-bugfix

#9689 ci: fix env mismatch with docs in docker image
  docker/README.md
  docker/bootstrap.sh
Labels: pr-build

#9693 refactor: refactor json path
  Cargo.lock
  src/common/jsonb/Cargo.toml
  src/common/jsonb/src/functions.rs
  src/common/jsonb/src/json_path.rs
  src/common/jsonb/src/lib.rs
  src/common/jsonb/src/value.rs
  src/common/jsonb/tests/it/functions.rs
  src/query/functions/src/scalars/variant.rs
Labels: pr-refactor

#9692 feat(query): improve wrapped display
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/expression/src/schema.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/tuple.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.sh
Labels: pr-feature

#9661 fix(query): fix max_result_rows only limit output results nums
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/base/20+_others/20_0011_max_result_rows
Labels: pr-bugfix

#9675 feat(query): enable empty projection
  src/common/io/src/binary_write.rs
  src/query/expression/src/block.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_merge.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_shuffle.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_source.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/distributed/distributed.rs
  src/query/sql/src/planner/optimizer/distributed/topk.rs
  src/query/sql/src/planner/optimizer/heuristic/prewhere_optimization.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/fuse/src/io/read/block_reader_parquet.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/memory/src/lib.rs
  src/query/storages/memory/src/memory_part.rs
  src/query/storages/memory/src/memory_table_stream.rs
  src/query/storages/parquet/src/parquet_reader/deserialize.rs
  tests/sqllogictests/suites/base/03_dml/03_0005_select_empty_projection
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-feature

#9470 fix(hive): may get wrong datablocks if not sorted by output schema
  src/query/storages/hive/hive/src/hive_table_source.rs
  tests/suites/2_stateful_hive/01_partition_table/01_0007_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0007_hms_partition_table.sql
  tests/suites/2_stateful_hive/01_partition_table/01_0008_hms_partition_table.result
  tests/suites/2_stateful_hive/01_partition_table/01_0008_hms_partition_table.sql
Labels: pr-bugfix

#9696 ci: force using template when QUERY_CONFIG_FILE is not set for docker image
  docker/Dockerfile
  docker/README.md
  docker/bootstrap.sh
Labels: pr-build

#9700 refactor(io): move io constants to common/io
  Cargo.lock
  src/binaries/meta-upgrade-09/Cargo.toml
  src/common/io/src/constants.rs
  src/common/io/src/lib.rs
  src/meta/types/src/user_stage.rs
  src/query/catalog/src/table.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/expression/src/utils/mod.rs
  src/query/formats/src/field_decoder/csv.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/tsv.rs
  src/query/formats/src/field_decoder/values.rs
  src/query/formats/src/field_decoder/xml.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/tsv.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/format_option_checker.rs
  src/query/formats/src/output_format/parquet.rs
  src/query/pipeline/sources/src/processors/sources/input_formats/input_context.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_no_split.rs
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/serialize_data_transform.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/stage/src/stage_table.rs
Labels: pr-refactor

#9701 chore(query): fix count distinct rewrite bug
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  tests/sqllogictests/suites/base/03_dml/03_0022_select_distinct
Labels: pr-chore

#9671 fix(tyck): fix missing simple_cast
  src/query/expression/src/evaluator.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/mod.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/misc.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/duckdb/sql/cast/test_boolean_cast.test
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-bugfix

#9704 chore: cleanup commented code (gc.rs)
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-chore

#9706 fix(storage): bloom filter is using wrong cache key
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/loader.rs
  src/query/storages/fuse/src/io/read/bloom_index/column_reader.rs
  src/query/storages/fuse/src/io/read/column_data_loader.rs
Labels: pr-bugfix

#9710 refactor(pruning):pruner.rs -> fuse_bloom_pruner.rs
  src/query/storages/fuse/src/io/read/bloom_index/filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom_index/loader.rs
  src/query/storages/fuse/src/pruning/fuse_bloom_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  src/query/storages/fuse/src/pruning/pruner.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
Labels: pr-refactor

#9708 feat(sql): eliminate extra group by scalars
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
Labels: pr-feature

#9714 refactor(fuse/pruning): make pruner hierarchy to chain
  src/query/expression/src/expression.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/storages/common/pruner/src/lib.rs
  src/query/storages/common/pruner/src/page_pruner.rs
  src/query/storages/common/pruner/src/range_pruner.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  src/query/storages/fuse/src/pruning/pruning_executor.rs
  src/query/storages/fuse/src/pruning/segment_pruner.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-refactor

#9719 chore(fuse): add fuse pruning sql logic tests
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_01_bloom_in_pruning
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_02_limit_pruning
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_03_orderby_limit_topn_pruning
Labels: pr-chore
