Repository databendlabs/databend, pull requests merged in 2023-08, with the labels that each got.

#12278 docs(query): add query order by with fill gap
  docs/doc/14-sql-commands/20-query-syntax/10-query-order-by-fill-gap.md
  src/bendpy/src/dataframe.rs
Labels: pr-doc

#12268 docs(weekly): add this week in databend 104
  website/blog/2023-07-30-databend-weekly-104.md
  website/static/img/blog/weekly/weekly-104.jpg
Labels: pr-doc

#12289 feat: Bump OpenDAL to v0.39
  Cargo.lock
  Cargo.toml
  src/common/storage/src/common_metrics/storage_metrics.rs
  src/query/sharing/src/layer.rs
  src/query/storages/iceberg/Cargo.toml
Labels: pr-feature

#12260 chore: check bloom index when modify column type
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table
Labels: pr-chore

#12286 feat: support materialized CTE is used in SQL with different aliases
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/materialized_cte.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
Labels: pr-feature

#12274 feat(query): support h3_get_base_cell/h3_hex_area_m2/h3_hex_area_km2/… func
  docs/doc/15-sql-functions/130-geo-functions/index.md
  src/query/functions/src/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo_h3
Labels: pr-feature

#12308 chore(front): Download package to differentiate Ubuntu
  website/src/components/Icons/Ubuntu.js
  website/src/pages/download/index.tsx
  website/src/pages/download/styles.module.scss
  website/src/plugins/fetch-databend-releases.js
  website/src/types/download.ts
Labels: pr-chore

#12302 ci: output stdout to log files when setup cluster
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  tests/sqllogictests/src/client/mysql_client.rs
Labels: pr-build

#12311 chore: fix clippy.
  src/query/service/src/global_services.rs
Labels: pr-chore

#12303 docs: network policy
  docs/doc/14-sql-commands/00-ddl/101-network-policy/_category_.json
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-alter-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-create-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-desc-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-drop-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-show-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/index.md
Labels: pr-doc

#12304 feat: add drop mask policy
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/data_mask_from_to_protobuf_impl.rs
  src/meta/protos/proto/data_mask.proto
  src/query/sql/src/executor/table_read_plan.rs
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.py
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.result
Labels: pr-feature

#12319 docs(blog): add iceberg-integration
  website/blog/2023-08-01-iceberg-integration.md
  website/static/img/blog/iceberg-integration/iceberg-integration-1.png
  website/static/img/blog/iceberg-integration/iceberg-integration-2.png
  website/static/img/blog/iceberg-integration/iceberg-integration-3.png
  website/static/img/blog/iceberg-integration/iceberg-integration-4.png
  website/static/img/blog/iceberg-integration/iceberg-integration-5.png
  website/static/img/blog/iceberg-integration/iceberg-integration-6.png
  website/static/img/blog/iceberg-integration/iceberg-integration-7.png
  website/static/img/blog/iceberg-integration/iceberg-integration-8.png
  website/static/img/blog/iceberg-integration/iceberg-integration-9.png
  website/static/img/blog/iceberg-integration/iceberg-integration.png
Labels: pr-doc

#12288 feat: support materialized cte in set operation and fix prune column
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  tests/sqllogictests/suites/query/materialized_cte.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
Labels: pr-feature

#12291 docs: materialized cte
  docs/doc/14-sql-commands/20-query-syntax/02-query-with.md
Labels: pr-doc

#12309 feat: allow read one row_group to multi Datablock.
  src/query/storages/parquet/src/parquet_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader.rs
  src/query/storages/parquet/src/processors/deserialize_transform.rs
Labels: pr-feature

#12315 feat(query): Support group array moving aggregate functions
  docs/doc/15-sql-functions/04-array-functions/index.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-group-array-moving-avg.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-group-array-moving-sum.md
  docs/doc/15-sql-functions/10-aggregate-functions/index.md
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-feature

#12267 docs: debezium server databend
  docs/doc/12-load-data/02-load-db/debezium.md
  docs/doc/12-load-data/02-load-db/index.md
Labels: pr-doc

#12310 feat(agg-index): vacuum agg index in meta server
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-feature

#12326 docs: blog for debezium-server-databend
  website/blog/2023-08-02-debezium.md
Labels: pr-doc

#12327 docs(blog): fix old pic in iceberg integration
  website/static/img/blog/iceberg-integration/iceberg-integration-1.png
Labels: pr-doc

#12298 chore(dataframe): refactor dataframe api.
  src/query/ast/src/ast/ast.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/sql/src/planner/dataframe.rs
Labels: pr-chore

#12320 chore(bindings): fix print method
  .github/workflows/bindings_python.yml
  src/bendpy/Cargo.toml
  src/bendpy/src/dataframe.rs
  src/bendpy/src/lib.rs
  src/query/storages/fuse/src/constants.rs
Labels: pr-chore

#12232 docs: Update 02-deploying-databend.md
  docs/doc/10-deploy/02-deploying-databend.md
Labels: pr-doc

#12323 feat: add unset mask policy ddl
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.py
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.result
Labels: pr-feature

#12324 chore: add comments for ParquetReader and small refactor
  src/query/storages/parquet/src/parquet_reader.rs
  src/query/storages/parquet/src/parquet_rs/convert.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_rs/statistics.rs
  src/query/storages/parquet/src/processors/deserialize_transform.rs
Labels: pr-chore

#12329 chore: polish lag/lead window function
  docs/doc/15-sql-functions/122-window-functions/lag.md
  docs/doc/15-sql-functions/122-window-functions/lead.md
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-chore

#12331 feat(query): support h3_to_string/string_to_h3/h3_is_res_class_iii/... function
  docs/doc/15-sql-functions/130-geo-functions/index.md
  src/query/functions/src/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo_h3
Labels: pr-feature

#12299 feat(rbac): verify privilege with all the roles
  src/query/service/src/sessions/session.rs
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-feature

#12330 fix(rbac): do not check the privilege about SET ROLE
  src/query/service/src/interpreters/access/privilege_access.rs
Labels: pr-bugfix

#12132 refactor(query): refactor aggregate spill with cluster mode
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/service/src/api/rpc/exchange/exchange_injector.rs
  src/query/service/src/api/rpc/exchange/exchange_sorting.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/lib.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_async_barrier.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#12337 docs: minor updates
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-median-tdigest.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-quantile-tdigest.md
  docs/doc/15-sql-functions/122-window-functions/lag.md
  docs/doc/15-sql-functions/122-window-functions/lead.md
  website/blog/2023-08-02-debezium.md
  website/static/img/blog/debezium.png
Labels: pr-doc

#12328 chore(ci): fix flaky
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
Labels: pr-chore

#12340 feat: read parquet row group with suitable batches.
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/row_group_reader.rs
Labels: pr-feature

#12345 chore: add `ColumnBinding` for lambda functions
  src/query/sql/src/planner/binder/lambda.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/lowering.rs
Labels: pr-chore

#12339 fix(query): fix incorrect logic tests
  src/query/sql/src/planner/binder/project.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/base/03_common/03_0000_select_aliases
  tests/sqllogictests/suites/base/03_common/03_0012_select_number_type
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/string_agg_union.test
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_arg_min_max.test
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/test_group_by_alias.test
  tests/sqllogictests/suites/duckdb/sql/cast/timestamp_date_cast.test
Labels: pr-bugfix

#12342 chore: move TransformSerializeSegment after resize 1
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/commit.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-chore, ci-benchmark

#12344 chore(deps): upgrade opendal to f02d627
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#12332 feat(iceberg): use pushed-down filter to prune data files.
  Cargo.lock
  src/query/expression/src/block.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/stats.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
  tests/suites/1_stateful/10_iceberg/10_0001_read.result
  tests/suites/1_stateful/10_iceberg/10_0001_read.sh
Labels: pr-feature

#12343 fix(rbac): let visibility check take current_available_roles as parameter
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-bugfix

#12335 refactor: refine replace into, utilizing bloom filter
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/fuse/src/io/read/bloom/mod.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/meta/merge_into_operation_meta.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
Labels: pr-refactor

#12354 docs: change column type
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#12346 feat: Add admin api /v1/processlist
  src/query/service/src/api/http/v1/mod.rs
  src/query/service/src/api/http/v1/processes.rs
  src/query/service/src/api/http/v1/status.rs
  src/query/service/src/api/http_service.rs
Labels: pr-feature

#12356 refactor: refine replace into bloom filter
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/meta/merge_into_operation_meta.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/deletion_accumulator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
Labels: pr-refactor

#12357 docs: update links
  docs/doc/12-load-data/00-stage/00-whystage.md
  docs/doc/12-load-data/00-stage/01-manage-stages.md
  docs/doc/12-load-data/00-stage/02-stage-files.md
  docs/doc/12-load-data/00-transform/05-querying-stage.md
  docs/doc/12-load-data/00-transform/06-querying-metadata.md
  docs/doc/12-load-data/00-transform/07-data-load-transform.md
  docs/doc/12-load-data/01-load/00-stage.md
  docs/doc/12-load-data/01-load/01-s3.md
  docs/doc/12-load-data/01-load/02-local.md
  docs/doc/12-load-data/01-load/04-http.md
  docs/doc/12-load-data/01-load/index.md
  docs/doc/12-load-data/02-load-db/addax.md
  docs/doc/12-load-data/02-load-db/airbyte.md
  docs/doc/12-load-data/02-load-db/vector.md
  docs/doc/12-load-data/09-unload.md
Labels: pr-doc

#12352 feat: support specify the position when add column
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/main.rs
  src/query/expression/tests/it/schema.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column
Labels: pr-feature

#12359 refactor(databend-meta): retry when change-membership error encountered upon startup
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/metabench/main.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/types/src/errors/meta_api_errors.rs
Labels: pr-refactor

#12353 feat(query): mysql handler tls support
  Cargo.lock
  scripts/ci/ci-run-stateless-tests-cluster-tls.sh
  src/binaries/query/entry.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/Cargo.toml
  src/query/service/src/servers/mod.rs
  src/query/service/src/servers/mysql/mod.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/servers/mysql/tls.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  tests/shell_env.sh
Labels: pr-feature

#12364 docs: Update 02-jdbc.md
  docs/doc/13-sql-clients/02-jdbc.md
Labels: pr-doc

#12355 fix(query): bump sqllogic crate
  Cargo.lock
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/plan/internal_column.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_global.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/client/clickhouse_client.rs
  tests/sqllogictests/src/error.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/suites/base/03_common/03_0000_select_aliases
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/base/20+_others/20_0008_max_execute_time
  tests/sqllogictests/suites/crdb/and_or
  tests/sqllogictests/suites/crdb/delete
  tests/sqllogictests/suites/crdb/join
  tests/sqllogictests/suites/crdb/order_by
  tests/sqllogictests/suites/crdb/order_by_lazy
  tests/sqllogictests/suites/crdb/runtime_filter_join
  tests/sqllogictests/suites/crdb/select
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast
  tests/sqllogictests/suites/query/02_function/02_0002_function_others
  tests/sqllogictests/suites/query/02_function/02_0014_function_maths
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get
  tests/sqllogictests/suites/query/02_function/02_0064_function_bitmap
  tests/sqllogictests/suites/query/functions/cast.test
  tests/sqllogictests/suites/query/subquery.test
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
  tests/suites/6_background/00_target_tables/00_0000_target_tables.sh
Labels: pr-bugfix

#12348 feat: add v5 for Internal segment
  src/query/storages/common/table-meta/src/meta/mod.rs
  src/query/storages/common/table-meta/src/meta/v5/mod.rs
  src/query/storages/common/table-meta/src/meta/v5/segment.rs
  src/query/storages/common/table-meta/src/meta/versions.rs
  src/query/storages/common/table-meta/src/readers/segment_reader.rs
Labels: pr-feature

#12368 docs: add column first / after
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#12370 fix: Fix http error
  src/query/service/src/servers/http/v1/query/execute_state.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-bugfix

#12290 chore(query): add User-Agent header info into query history
  src/query/service/src/interpreters/interpreter_query_log.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/query_log_table.rs
Labels: pr-chore

#12371 chore: modify a slt slightly
  tests/sqllogictests/suites/query/join.test
Labels: pr-chore

#12374 chore: disable flaky test
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-chore

#12373 feat: new SQL command `SHOW CREATE CATALOG`.
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.result
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.sh
Labels: pr-feature

#12378 docs(weekly): add this week in Databend 105
  website/blog/2023-08-06-databend-weekly-105.md
  website/static/img/blog/weekly/weekly-105.png
Labels: pr-doc

#12385 fix(logging): log messages are lost with heavy load
  Cargo.lock
  src/common/tracing/src/minitrace.rs
Labels: pr-bugfix

#12382 feat(query): add l2 distance operator <->
  src/common/vector/src/distance.rs
  src/common/vector/src/lib.rs
  src/meta/process/src/examples.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/scalars/vector.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/servers/http/formats/mod.rs
  src/query/service/src/servers/http/mod.rs
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/service/src/test_kits/context.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/heuristic/rule_list.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  tests/sqllogictests/suites/query/02_function/02_0063_function_vector
Labels: pr-feature

#12379 docs(website): add translation upload and download cmd
  website/package.json
Labels: pr-doc

#12387 chore(planner): fix filter derive cardinality
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#12381 docs: generate_series
  docs/doc/14-sql-commands/20-query-syntax/10-query-order-by-fill-gap.md
  docs/doc/15-sql-functions/120-other-functions/generate_series.md
Labels: pr-doc

#12375 fix: Fix distributed http error
  src/query/service/src/servers/http/v1/query/execute_state.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
Labels: pr-bugfix

#12322 feat: nest materialized cte within [materialized] cte
  Cargo.lock
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_materialized_cte.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/query/materialized_cte.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature

#12395 docs: masking policy
  docs/doc/14-sql-commands/00-ddl/101-network-policy/index.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/_category_.json
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/create-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/desc-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/drop-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/index.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#12391 chore(ci): add crowdin upload
  .github/workflows/i18n.yml
Labels: pr-chore

#12394 chore: limit copy file number to 500
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#12390 chore: add masking policy statement test
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/plans/data_mask.rs
Labels: pr-chore

#12384 feat: seperate running_queries_count and active_sessions_count in /v1/status
  src/query/catalog/src/table_context.rs
  src/query/service/src/api/http/v1/instance_status.rs
  src/query/service/src/api/http/v1/processes.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_mgr_status.rs
  src/query/storages/system/src/processes_table.rs
Labels: pr-feature

#12402 chore: fix missing user builder for devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: pr-chore

#12341 fix: CREATE ROLE role1 error
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_show_grants.rs
  tests/sqllogictests/suites/base/05_ddl/05_0004_ddl_create_user
  tests/sqllogictests/suites/base/05_ddl/05_0005_ddl_alter_user
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role
  tests/sqllogictests/suites/base/05_ddl/05_0015_ddl_drop_role
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role
  tests/sqllogictests/suites/base/05_ddl/05_0018_ddl_revoke
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_revoke
  tests/sqllogictests/suites/base/05_ddl/05_0024_ddl_set_role
  tests/sqllogictests/suites/base/06_show/06_0007_show_roles
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-bugfix

#12397 chore: databend-metabench: add logging
  src/binaries/metabench/main.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/raftmeta.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/sled_tree.rs
Labels: pr-chore

#12396 docs: root user example
  docs/doc/10-deploy/02-deploying-databend.md
Labels: pr-doc

#12388 docs: datax replace mode
  docs/doc/12-load-data/02-load-db/datax.md
Labels: pr-doc

#12404 docs: add masking policy to EE list
  docs/doc/02-enterprise/10-enterprise-features.md
Labels: pr-doc

#12386 feat(query): support h3_to_center_child/h3_exact_edge_length_m/... function
  docs/doc/15-sql-functions/130-geo-functions/index.md
  src/query/functions/src/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/geo_h3.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo_h3
Labels: pr-feature

#12406 chore: rename RETURN to RETURNS in masking policy rule; check masking policy rule input type and return type
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/create-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/desc-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/drop-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
  src/common/exception/src/exception_code.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/data_mask/mod.rs
  src/query/ast/src/ast/statements/data_mask.rs
  src/query/ast/src/parser/data_mask.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/sql/src/planner/binder/ddl/data_mask.rs
  tests/sqllogictests/suites/base/05_ddl/05_0001_ddl_create_database
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0001_ddl_data_mask
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.py
Labels: pr-chore

#12413 docs: masking policy updates
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/create-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/desc-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/drop-mask-policy.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/index.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#12411 fix: bloom pruning of `replace-into` may use incorrect bloom filter
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/deletion_accumulator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
Labels: pr-bugfix

#12415 chore: update README
  README.md
Labels: pr-chore

#12418 feat(front): add <IndexOverviewList /> for docs
  website/src/components/IndexOverviewList/index.js
Labels: pr-feature

#12419 fix: "Display" of "ReplaceStmt"
  Cargo.lock
  src/query/ast/src/ast/statements/replace.rs
Labels: pr-bugfix

#12422 docs: update ee banner
  docs/doc/02-enterprise/10-enterprise-features.md
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  website/src/components/EEFeature/index.tsx
Labels: pr-doc

#12423 chore: buried point for download
  website/src/api/index.tsx
  website/src/components/BaseComponents/Card/index.tsx
  website/src/components/Icons/Ubuntu.js
  website/src/pages/download/index.tsx
  website/src/plugins/fetch-databend-releases.js
  website/src/types/download.ts
Labels: pr-feature, pr-chore

#12420 refactor: Use hive_metastore instead to remove dep on thrift
  Cargo.lock
  Cargo.toml
  src/query/config/Cargo.toml
  src/query/storages/hive/hive-meta-store/Cargo.toml
  src/query/storages/hive/hive-meta-store/build.rs
  src/query/storages/hive/hive-meta-store/src/hive_meta_store.rs
  src/query/storages/hive/hive-meta-store/src/idl/hms.thrift
  src/query/storages/hive/hive-meta-store/src/lib.rs
  src/query/storages/hive/hive-meta-store/tests/it/basics.rs
  src/query/storages/hive/hive-meta-store/tests/it/main.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
Labels: pr-refactor

#12414 docs: l2 distance operator
  docs/doc/15-sql-functions/01-arithmetics-operators/index.md
Labels: pr-doc

#12427 refactor: Remove all hive features
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  .github/actions/build_linux/action.yml
  .github/actions/publish_binary/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.hive.yml
  licenserc.toml
  src/query/config/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/catalogs/mod.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/Cargo.toml
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
Labels: pr-refactor

#12403 chore: use read compact segment in segment io
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/storages/common/table-meta/src/meta/v4/segment.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/pruning/segment_pruner.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/fuse/src/table_functions/fuse_columns/fuse_column.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment.rs
Labels: A-storage, pr-chore, ci-benchmark

#12430 chore: remove deprecated table method `Table::replace_into`
  src/query/catalog/src/table.rs
  src/query/storages/fuse/src/fuse_table.rs
Labels: pr-chore

#12431 chore: doc bloom pruning in `replace into`
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
Labels: pr-chore

#12416 chore: BloomIndexFilterCache meters as cache size instead of item
  src/query/storages/common/cache-manager/src/cache_manager.rs
  src/query/storages/common/cache-manager/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/mod.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
Labels: pr-chore

#12417 feat: implement the excution of UDF Server call
  src/common/exception/src/exception_code.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/derive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/05_ddl/05_0010_ddl_create_udf
  tests/sqllogictests/suites/base/05_ddl/05_0011_ddl_drop_udf
  tests/sqllogictests/suites/base/05_ddl/05_0013_ddl_alter_udf
  tests/udf-server/README.md
  tests/udf-server/udf.py
Labels: pr-feature

#12432 chore: include meta for hdfs pkg in release [skip ci]
  .github/workflows/release.yml
Labels: pr-chore

#12435 feat: introduce new config `table_bloom_index_filter_size`
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache-manager/src/cache_manager.rs
Labels: pr-feature

#12436 refactor: Remove thrift from dev_setup
  scripts/setup/dev_setup.sh
Labels: pr-refactor

#12440 chore: revert #12011
  .github/workflows/bindings_python.yml
  Cargo.lock
  Cargo.toml
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/tests/it/aggregates/agg.rs
Labels: pr-chore

#12446 fix: memory leak in unsafe code
  src/query/expression/src/block.rs
Labels: pr-bugfix

#12447 chore: add mock-data for dev on download-page
  website/src/api/index.tsx
  website/src/plugins/fetch-databend-releases.js
  website/src/plugins/mock-data.js
Labels: pr-chore

#12442 chore(query): unknowtable errmsg add db name
  src/query/service/src/databases/share/share_database.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/base/01_system/01_0006_system_columns
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
Labels: pr-chore

#12433 feat: sort segments in compact
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/fuse/src/statistics/mod.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-feature

#12444 chore: check window function in aggregate function
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-chore

#12450 docs: network policy updates
  docs/doc/14-sql-commands/00-ddl/101-network-policy/ddl-create-policy.md
  docs/doc/14-sql-commands/00-ddl/101-network-policy/index.md
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/index.md
Labels: pr-doc

#12451 fix: IndexOverviewList comp
  docs/doc/14-sql-commands/00-ddl/102-mask-policy/index.md
  website/src/components/IndexOverviewList/index.js
  website/src/components/TryCloudCard/CheckIcon.tsx
Labels: pr-bugfix

#12449 fix: Fix copy rows
  src/query/storages/stage/src/row_based_file/pipeline.rs
  src/query/storages/stage/src/row_based_file/serialize_processor.rs
Labels: pr-bugfix

#12437 chore(planner): add output columns for explain
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/metadata.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/distributed_topn.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/group_shuffle.test
  tests/sqllogictests/suites/mode/cluster/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain_native/sort.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#12453 chore: remove unsafe code
  src/query/catalog/src/plan/agg_index.rs
  src/query/catalog/src/plan/internal_column.rs
  src/query/expression/src/block.rs
  src/query/expression/src/lib.rs
  src/query/pipeline/core/tests/it/pipelines/processors/port_test.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/storages/common/pruner/src/block_meta.rs
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/replace_into/meta/merge_into_operation_meta.rs
  src/query/storages/parquet/src/processors/parquet_source.rs
  src/query/storages/stage/src/parquet_file/block_batch.rs
  src/query/storages/stage/src/row_based_file/buffers.rs
Labels: pr-chore

#12455 feat: Add obs stage support
  src/query/sql/src/planner/binder/location.rs
Labels: pr-feature

#12457 chore: bench unpacking `CompactSegmentInfo`
  src/query/storages/common/table-meta/benches/bench.rs
  src/query/storages/common/table-meta/src/meta/v4/segment.rs
Labels: pr-chore

#12459 chore: add recluster timeout check
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-chore

#12462 chore(binder): fix aliases
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/query/join.test
  website/src/plugins/mock-data.js
Labels: pr-chore

#12424 refactor: use native apache arrow-rs APIs to build parquet source.
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/common/storage/src/parquet_rs.rs
  src/query/catalog/src/plan/projection.rs
  src/query/catalog/tests/it/main.rs
  src/query/catalog/tests/it/mod.rs
  src/query/catalog/tests/it/projection.rs
  src/query/expression/src/convert_arrow_rs/record_batch.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet2/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/column_nodes.rs
  src/query/storages/parquet/src/parquet_rs/convert.rs
  src/query/storages/parquet/src/parquet_rs/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/row_group_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/blocking_create.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/non_blocking_create.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/projection.rs
  src/query/storages/parquet/src/parquet_rs/pruning.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  src/query/storages/parquet/src/parquet_rs/statistics.rs
  src/query/storages/parquet/src/utils.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_01_complex.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_01_complex.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_03_ontime.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_10_select_int96.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_10_select_int96.sh
Labels: pr-refactor

#12467 feat: Support obs and cos storage config in metasrv
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v051_obs_and_cos_storage.rs
  src/meta/protos/proto/config.proto
Labels: pr-feature

#12460 chore(planner): improve join cardinality
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#12463 feat: support more data types for UDF Server
  src/query/expression/src/evaluator.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/values.rs
  tests/sqllogictests/suites/udf-server/udf_server_test
  tests/udf-server/README.md
  tests/udf-server/udf.py
  tests/udf-server/udf_test.py
Labels: pr-feature

#12472 chore: split `transform_hash_join` into `build` and `probe`
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/transform_range_join.rs
Labels: pr-chore

#12469 feat: Add storage params in hive catalog
  src/meta/app/src/schema/catalog.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v052_hive_catalog_config.rs
  src/meta/protos/proto/catalog.proto
  src/query/catalog/src/catalog/manager.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
Labels: pr-feature

#12475 docs(weekly): add this week in Databend 106
  website/blog/2023-08-13-databend-weekly-106.md
  website/static/img/blog/weekly/weekly-106.jpg
Labels: pr-doc

#12474 feat(query): Support values clause without select syntax
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/profile/src/prof.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/query/select.test
Labels: pr-feature

#12466 chore(query): rewrite call to query
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/table_args.rs
  src/query/catalog/src/table_context.rs
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/ee/src/background_service/compaction_job.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/interpreters/access/accessor.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_call.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/lib.rs
  src/query/service/src/procedures/admins/admin.rs
  src/query/service/src/procedures/admins/license_info.rs
  src/query/service/src/procedures/admins/mod.rs
  src/query/service/src/procedures/admins/suggested_background_tasks.rs
  src/query/service/src/procedures/admins/tenant_quota.rs
  src/query/service/src/procedures/procedure.rs
  src/query/service/src/procedures/procedure_factory.rs
  src/query/service/src/procedures/stats/mod.rs
  src/query/service/src/procedures/systems/clustering_information.rs
  src/query/service/src/procedures/systems/execute_job.rs
  src/query/service/src/procedures/systems/fuse_block.rs
  src/query/service/src/procedures/systems/fuse_column.rs
  src/query/service/src/procedures/systems/fuse_segment.rs
  src/query/service/src/procedures/systems/fuse_snapshot.rs
  src/query/service/src/procedures/systems/mod.rs
  src/query/service/src/procedures/systems/search_tables.rs
  src/query/service/src/procedures/systems/system.rs
  src/query/service/src/servers/http/v1/suggestions.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/others/execute_background_job.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/service/src/table_functions/others/mod.rs
  src/query/service/src/table_functions/others/suggested_background_compaction_tasks.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/src/table_functions/others/tenant_quota.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/call.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-chore

#12376 feat: auto re-cluster for clustered tables
  src/query/service/src/interpreters/common/compact_hook.rs
  src/query/service/src/interpreters/common/metrics.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
Labels: pr-feature

#12470 docs: connection parameters
  docs/doc/12-load-data/00-transform/05-querying-stage.md
  docs/doc/13-sql-reference/51-connect-parameters.md
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-location.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#12479 fix: data skew when replace into reshuffle segments
  src/query/service/src/schedulers/fragments/plan_fragment.rs
Labels: pr-bugfix

#12478 fix(rbac): do not require GRANT privilege on SHOW ROLES statement
  src/query/service/src/interpreters/access/privilege_access.rs
Labels: pr-bugfix

#12477 chore: bump arrow-rs to 45.0.0.
  Cargo.lock
  Cargo.toml
  src/bendpy/Cargo.toml
  src/common/arrow/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/ee-features/background-service/Cargo.toml
  src/query/ee/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/servers/flight_sql/flight_sql_service/catalog.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/sql_info.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/parquet/Cargo.toml
Labels: pr-chore

#12476 chore(query): make plan schema complete
  src/binaries/query/local.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
  src/query/service/src/interpreters/interpreter_data_mask_desc.rs
  src/query/service/src/interpreters/interpreter_database_show_create.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_file_format_show.rs
  src/query/service/src/interpreters/interpreter_network_policies_show.rs
  src/query/service/src/interpreters/interpreter_network_policy_desc.rs
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/service/src/interpreters/interpreter_role_show.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_share_desc.rs
  src/query/service/src/interpreters/interpreter_share_endpoint_show.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/service/src/interpreters/interpreter_share_show_grant_tenants.rs
  src/query/service/src/interpreters/interpreter_show_grants.rs
  src/query/service/src/interpreters/interpreter_show_object_grant_privileges.rs
  src/query/service/src/interpreters/interpreter_table_describe.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/service/src/interpreters/interpreter_virtual_columns_alter.rs
  src/query/service/src/interpreters/interpreter_virtual_columns_create.rs
  src/query/service/src/interpreters/interpreter_virtual_columns_drop.rs
  src/query/service/src/interpreters/interpreter_virtual_columns_generate.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/tests/it/interpreters/union.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-chore

#12484 chore: remove obs
  docs/doc/10-deploy/00-understanding-deployment-modes.md
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/10-deploy/06-metasrv/10-query-config.md
  scripts/distribution/configs/databend-query.toml
  website/blog/2023-02-24-Deploy-databend-on-minio.md
  website/blog/2023-03-04-databend-v1.0-release.md
Labels: pr-chore

#12485 chore(ci): make runner provider variable
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#12488 fix(storage): fix background_jobs panic
  src/query/storages/system/src/background_jobs_table.rs
Labels: pr-bugfix

#12493 feat: support CSV file format option `null_display`.
  src/meta/app/src/principal/file_format.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v032_file_format_params.rs
  src/meta/proto-conv/tests/it/v053_csv_format_params.rs
  src/meta/protos/proto/file_format.proto
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
  src/query/formats/src/field_decoder/csv.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_07_csv_null_display.result
  tests/suites/1_stateful/05_formats/05_02_csv/05_02_07_csv_null_display.sh
Labels: pr-feature

#12497 fix: runner provider for benchmark [skip ci]
  .github/workflows/reuse.benchmark.yml
Labels: pr-bugfix

#12487 chore(query): parse decimal support with default scale
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#12500 feat: block level shuffle of dist `replace into`
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/storages/common/table-meta/src/meta/statistics.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
Labels: pr-feature

#12501 chore: spilt `HashJoinStep` into `HashJoinBuildStep` and `HashJoinProbeStep`
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: pr-chore

#12498 feat: modify column type support default type
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.sh
Labels: pr-feature

#12499 chore(ci): switch to gcp runners
  .github/actions/artifact_upload/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/test_unit/action.yml
  .github/backup/dev-macos.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.yml
  scripts/ci/ci-run-stateful-tests-large-data-s3.sh
Labels: pr-chore

#12503 chore(ci): use larger runner for unit test
  .github/workflows/reuse.linux.yml
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
Labels: pr-chore

#12502 fix(query): add sqllogic test
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-bugfix

#12425 feat: Virtual column support parquet format
  Cargo.lock
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-group-array-moving-avg.md
  src/common/arrow/Cargo.toml
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/fuse_part.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/block/block_reader_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
  src/query/storages/fuse/src/io/read/block/mod.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/read/utils.rs
  src/query/storages/fuse/src/io/read/virtual_column/mod.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_native.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column
  tests/sqllogictests/suites/mode/standalone/ee/explain
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-feature

#12504 chore(ci): cargo build with -Zgitoxide
  .github/actions/build_linux/action.yml
  .github/actions/build_macos/action.yml
  .github/actions/check/action.yml
  .github/actions/test_unit/action.yml
Labels: pr-chore

#12506 chore: adjust MAX_COPIED_FILES_NUM (from 500) to 2000
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#12507 chore: add metrics for copy, test slow reason
  src/common/storage/src/common_metrics/copy.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/plans/copy.rs
Labels: pr-chore

#12508 fix: fix function call in subquery
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#12481 refactor(cluster): active upstream first in cluster scatter
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
Labels: pr-refactor, ci-benchmark

#12505 docs: null_display for csv
  docs/doc/13-sql-reference/50-file-format-options.md
Labels: pr-doc

#12516 chore: add storage params to show create hive catalog
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
Labels: pr-chore

#12520 refactor: upgrade minitrace to 0.5.1
  Cargo.lock
  Cargo.toml
Labels: pr-refactor

#12519 refactor: eliminate ambiguous cache API
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/common/cache/tests/it/cache/lru.rs
Labels: pr-refactor

#12518 chore: refactor aggregating index fuzz test.
  src/query/ee/tests/it/aggregating_index/index_scan.rs
Labels: pr-chore

#12517 feat: add show databases and tables for hive catalog
  src/query/storages/hive/hive/src/hive_catalog.rs
Labels: pr-feature

#12525 chore: disable cache for benchmark [skip ci]
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-chore
