Repository databendlabs/databend, pull requests merged in 2023-06, with the labels that each got.

#11637 ci: run sqllogic ydb with 8c16g
  .github/workflows/dev-linux.yml
Labels: pr-build

#11640 fix(front): search styles
  website/src/components/BaseComponents/CommonModal/styles.module.scss
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/styles.css
Labels: pr-bugfix

#11639 ci: run production ci on self-hosted
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  .github/actions/build_macos/action.yml
  .github/workflows/cancel.yml
  .github/workflows/dev.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.macos.yml
Labels: pr-build

#11643 ci: fix artifacts for release build
  .github/actions/build_linux/action.yml
  .github/workflows/reuse.linux.yml
Labels: pr-build

#11644 ci: fix syntax error in production ci
  .github/workflows/reuse.linux.yml
Labels: pr-build

#11646 ci: fix build profile for test script metactl restore
  tests/metactl/test-metactl-restore-new-cluster.sh
Labels: pr-build

#11638 docs: fix typos in 30-license-faqs.md
  docs/doc/100-faq/30-license-faqs.md
Labels: pr-doc

#11614 feat: Copy into support optimize hint
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/binder.rs
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
Labels: pr-feature

#11647 ci: fix test condition for ee
  .github/workflows/reuse.linux.yml
Labels: pr-build

#11620 fix: cached items should be kept being evict, till enough room be made for the new item.
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
Labels: pr-bugfix

#11645 chore: remove take_string_types
  src/query/expression/src/kernels/take_compact.rs
Labels: pr-chore

#11642 fix: iejoin hang
  src/query/service/src/pipelines/processors/transforms/ie_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_ie_join.rs
Labels: pr-bugfix

#11648 ci: enable sccache for macos build
  .github/actions/build_macos/action.yml
Labels: pr-build

#11610 feat(query): insert/mutation/update deduplicate based on label
  Cargo.lock
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/util.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/revert.rs
  src/query/storages/fuse/src/operations/truncate.rs
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_lable.result
Labels: pr-feature

#11652 docs(blog): add tableau
  website/blog/2023-06-01-tableau.md
  website/static/img/blog/tableau/tableau-1.jpg
  website/static/img/blog/tableau/tableau-2.jpg
  website/static/img/blog/tableau/tableau-3.jpg
  website/static/img/blog/tableau/tableau-4.jpg
Labels: pr-doc

#11654 fix: fix hash join hang
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
Labels: pr-bugfix

#11655 chore: add tpcds q64
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/tpcds_q64.test
Labels: pr-chore

#11657 fix(query): fix parse json with escaped and UTF-8 characters
  Cargo.lock
  Cargo.toml
  src/common/io/Cargo.toml
  src/common/io/tests/it/cursor_ext/fast_read_text_ext.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_insert.rs
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json
Labels: pr-bugfix

#11658 docs(catalog): correct information_schema is supported
  src/query/service/src/catalogs/default/immutable_catalog.rs
Labels: pr-doc

#11661 fix(storage/s3): Add allow_anonymous support for storage
  src/common/storage/src/operator.rs
  src/meta/app/src/storage/storage_params.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v042_s3_stage_new_field.rs
  src/meta/protos/proto/config.proto
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
Labels: pr-bugfix

#11660 chore: contributor-friendly error message
  src/meta/service/src/api/grpc_server.rs
Labels: pr-chore

#11664 docs: load-unload-overview illustration
  docs/doc/12-load-data/index.md
  docs/public/img/load/load-unload.png
Labels: pr-doc

#11663 docs(blog): add this week in databend 96
  website/blog/2023-06-04-databend-weekly-96.md
  website/static/img/blog/ai-search-result.png
  website/static/img/blog/ai-search.png
Labels: pr-doc

#11667 chore: Rewrite IGNORE_TEXT
  website/src/plugins/fetch-databend-releases.js
Labels: pr-chore

#11670 docs: max_files option
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11668 docs: Deploy mode updates
  docs/doc/00-overview/index.md
  docs/doc/10-deploy/00-understanding-deployment-modes.md
  docs/doc/10-deploy/06-metasrv/10-metasrv-deploy.md
  docs/doc/12-load-data/index.md
  docs/public/img/deploy/tenantid.PNG
  docs/public/img/load/load-unload.jpeg
  docs/public/img/load/load-unload.png
Labels: pr-doc

#11665 fix(query): json cast to string as escaped string
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json
  tests/suites/1_stateful/01_load/01_0003_streaming_variant_load.result
Labels: pr-bugfix

#11662 feat: support distributed Top-N.
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/optimizer/distributed/distributed.rs
  src/query/sql/src/planner/optimizer/distributed/mod.rs
  src/query/sql/src/planner/optimizer/distributed/topk.rs
  src/query/sql/src/planner/optimizer/distributed/topn.rs
  src/query/sql/src/planner/plans/sort.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/distributed_topn.test
  tests/sqllogictests/suites/mode/cluster/lazy_topn.test
Labels: pr-feature, ci-benchmark

#11671 feat(query): Allow root user alter password
  src/meta/app/src/principal/user_info.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/user_mgr.rs
Labels: pr-feature

#11676 docs: docker deploy updates
  docs/doc/01-guides/index.md
  docs/doc/10-deploy/05-deploying-local.md
Labels: pr-doc

#11680 docs: column alias updates
  docs/doc/14-sql-commands/20-query-syntax/01-query-select.md
Labels: pr-doc

#11476 refactor: add number of segment and block to `common_meta_app::schema::TableStatistics`
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v043_table_statistics.rs
  src/meta/protos/proto/table.proto
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/navigate.rs
Labels: pr-refactor

#11687 chore(storage): adjust the file dirs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/abort_operation.rs
  src/query/storages/fuse/src/operations/common/mod.rs
  src/query/storages/fuse/src/operations/common/mutation_accumulator.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/fill_internal_columns.rs
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_append.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/fuse_source.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_append.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_meta.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_part.rs
  src/query/storages/fuse/src/operations/mutation/compact/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/transform_serialize_data.rs
  src/query/storages/fuse/src/operations/operation_log.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/meta/merge_into_operation_meta.rs
  src/query/storages/fuse/src/operations/replace_into/meta/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/deletion_accumulator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/mod.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_broadcast.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/transform_merge_into_mutation_aggregator.rs
Labels: pr-chore

#11683 feat: Bump OpenDAL to 0.37.0
  Cargo.lock
  Cargo.toml
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
Labels: pr-feature

#11686 feat(meta): add `seq` to ExpireValue
  src/meta/README.md
  src/meta/raft-store/src/state_machine/expire.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/configs/outer_v0.rs
Labels: pr-feature

#11690 docs: set var updates
  docs/doc/14-sql-commands/80-setting-cmds/03-set-var.md
Labels: pr-doc

#11684 chore(expr): check type of BlockEntry
  src/query/catalog/src/plan/internal_column.rs
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/tests/it/common.rs
  src/query/expression/tests/it/kernel.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/service/src/interpreters/interpreter_database_show_create.rs
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/service/src/interpreters/interpreter_table_exists.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_expand.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/cross_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/ie_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_create_sets.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/procedures/admins/license_info.rs
  src/query/service/src/procedures/admins/tenant_quota.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  src/query/storages/hive/hive/src/hive_partition_filler.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/parquet/src/deserialize_transform.rs
  src/query/storages/random/src/random_table.rs
  src/query/storages/system/src/malloc_stats_table.rs
Labels: pr-chore

#11694 docs: system.indexes
  docs/doc/13-sql-reference/20-system-tables/system-indexes.md
  docs/doc/14-sql-commands/40-show/show-indexes.md
Labels: pr-doc

#11688 chore(planner): shrink constant type
  src/common/io/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/data_mask.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/decimal.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/expression/src/property.rs
  src/query/expression/src/utils/mod.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/query/02_function/02_0000_function_arithmetic
  tests/sqllogictests/suites/query/02_function/02_0001_function_type_of
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast
  tests/sqllogictests/suites/query/02_function/02_0010_function_if
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
Labels: pr-chore

#11697 chore(storage): remove compact in recluster
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-chore

#11681 refactor: improve single pipeline merge sort for Top-N.
  Cargo.lock
  src/common/base/src/containers/fixed_heap.rs
  src/common/base/src/containers/mod.rs
  src/common/base/src/lib.rs
  src/common/base/tests/it/fixed_heap.rs
  src/common/base/tests/it/main.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/mod.rs
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/cursor.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_for_copy.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_compact.rs
  src/query/service/src/pipelines/processors/transforms/transform_left_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_semi_anti_join.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-refactor, ci-benchmark

#11698 fix(query): Fix json special and foreign characters display errors
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json
Labels: pr-bugfix

#11672 feat: support column position like $N.
  src/query/ast/src/ast/ast.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/functions/tests/it/scalars/parser.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  src/query/sql/src/planner/udf_validator.rs
  src/query/storages/parquet/src/pruning.rs
  tests/sqllogictests/suites/query/column_position.test
Labels: pr-feature

#11700 docs: use databend as vector sink
  docs/doc/11-integrations/10-data-tool/00-vector.md
  docs/doc/21-use-cases/02-analyze-nginx-logs-with-databend-and-vector.md
Labels: pr-doc

#11701 feat: select from stage support NDJson.
  Cargo.lock
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/stage/src/stage_table_sink.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_09_select_ndjson.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_09_select_ndjson.sh
Labels: pr-feature

#11707 refactor: Remove HTTP timeout after OpenDAL timeout layer added
  src/common/storage/src/operator.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/storage/storage_params.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/sharing-endpoint/README.md
Labels: pr-refactor

#11702 chore(planner): remove RuleFoldConstant
  src/query/ast/src/ast/expr.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_constant.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/suites/1_stateful/05_formats/05_06_json/05_06_01_json_output.result
Labels: pr-chore

#11709 feat: allow using built-in format name when select from stage.
  src/query/ast/src/parser/statement.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0030_ddl_file_format
  tests/suites/1_stateful/05_formats/05_00_00_named_format.sh
  tests/suites/1_stateful/08_select_stage/08_00_09_select_ndjson.result
  tests/suites/1_stateful/08_select_stage/08_00_09_select_ndjson.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_09_select_ndjson.sh
Labels: pr-feature

#11716 fix: fix code logic
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
Labels: pr-bugfix

#11724 ci: fix warehouse size for benchmark
  .github/workflows/benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-build

#11722 docs(weekly): add this week in databend 97
  website/blog/2023-06-11-databend-weekly-97.md
Labels: pr-doc

#11720 fix: try to cast to target data type when `check_number`.
  src/query/expression/src/type_check.rs
  tests/sqllogictests/suites/base/20+_others/20_0014_result_scan
  tests/sqllogictests/suites/base/20+_others/20_0016_last_query_id
Labels: pr-bugfix

#11730 docs(JDBC): close statement after use.
  docs/doc/03-develop/03-jdbc.md
Labels: pr-doc

#11718 chore(sqllogictests): fix column types of MySQLClient
  tests/sqllogictests/src/client/mysql_client.rs
Labels: pr-bugfix, pr-chore

#11721 feat(query): add some columns into information_schema.tables
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/information-schema/src/tables_table.rs
Labels: pr-feature

#11725 docs: replace with stage attachments
  docs/doc/14-sql-commands/10-dml/dml-insert.md
  docs/doc/14-sql-commands/10-dml/dml-replace.md
Labels: pr-doc

#11669 feat: support merge join
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/ie_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_util.rs
  src/query/service/src/pipelines/processors/transforms/range_join/merge_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/range_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_ie_join.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_join/mod.rs
  src/query/sql/src/executor/physical_join/range_join.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/query/rangejoin.test
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature

#11731 chore(executor): Add a switch to enable profiling in cluster mode
  src/common/profile/src/span.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/packets/packet_executor.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/schedulers/scheduler.rs
Labels: pr-chore

#11565 docs: computed columns
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
Labels: pr-doc

#11682 refactor(query): improve left and right join
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_left_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_right_semi_anti_join.rs
  tests/sqllogictests/suites/base/20+_others/20_0001_planner
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-feature, pr-refactor, ci-benchmark

#11734 docs: Update 2023-06-11-databend-weekly-97
  website/blog/2023-06-11-databend-weekly-97.md
Labels: pr-doc

#11735 docs: array_agg updates
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-array-agg.md
Labels: pr-doc

#11732 fix: incorrect query_key in systems.query_log for insert into ... with attachment queries
  src/query/sql/src/planner/plans/plan.rs
  tests/data/ttt.csv
  tests/suites/1_stateful/09_http_handler/09_0002_query_log.result
  tests/suites/1_stateful/09_http_handler/09_0002_query_log.sh
Labels: pr-bugfix

#11727 feat: kill http query after timeout.
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/sessions/session_mgr.rs
Labels: pr-feature

#11714 feat: support delete with subquery
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/crdb/delete
Labels: pr-feature

#11740 feat: add number_of_blocks,number_of_segments for system.tables
  src/query/catalog/src/table.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/query/select.test
Labels: pr-feature

#11744 docs: Column position
  docs/doc/12-load-data/00-transform/05-querying-stage.md
  docs/doc/14-sql-commands/20-query-syntax/01-query-select.md
Labels: pr-doc

#11741 feat: make explain delete work
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/mod.rs
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
Labels: pr-feature

#11738 chore: support lazy materialization for more queries.
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/20-query-syntax/01-query-select.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/metadata.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0025_topn_lazy
  tests/sqllogictests/suites/crdb/order_by_lazy
  tests/sqllogictests/suites/crdb/where_lazy
  tests/sqllogictests/suites/mode/cluster/distributed_topn.test
  tests/sqllogictests/suites/mode/cluster/lazy_read.test
  tests/sqllogictests/suites/mode/cluster/lazy_topn.test
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/lazy_topn.test
Labels: pr-chore

#11750 refactor: optimize decoding timestamp column.
  src/query/formats/src/field_decoder/row_based.rs
Labels: pr-refactor

#11749 feat: block_per_segment check
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/suites/1_stateful/02_query/02_0003_create_table_with_block_per_segment.result
  tests/suites/1_stateful/02_query/02_0003_create_table_with_block_per_segment.sh
Labels: pr-feature

#11753 docs: table alias
  docs/doc/12-load-data/00-transform/05-querying-stage.md
Labels: pr-doc

#11747 feat: support more subqueries for delete statement
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/cost/cost.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/sqllogictests/suites/crdb/delete
Labels: pr-feature

#11755 fix: copy duplicate data when split large block.
  src/query/expression/src/block.rs
  src/query/expression/tests/it/block.rs
  src/query/expression/tests/it/main.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_for_copy.rs
  tests/data/numbers.csv
  tests/suites/1_stateful/00_copy/00_0010_copy_compactor.result
  tests/suites/1_stateful/00_copy/00_0010_copy_compactor.sh
Labels: pr-bugfix

#11739 feat: select $<column_position> from CSV
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/metadata.rs
  src/query/storages/stage/src/stage_table.rs
  tests/data/select.csv
  tests/suites/1_stateful/08_select_stage/08_00_10_select_csv.result
  tests/suites/1_stateful/08_select_stage/08_00_10_select_csv.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
Labels: pr-feature

#11742 feat(storage): compact support clustering table
  src/query/expression/src/kernels/take.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_meta.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/compact/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/transform_serialize_data.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
  tests/sqllogictests/suites/base/03_common/03_0035_update
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-feature

#11746 feat: Alter set options
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.sh
Labels: pr-feature

#11754 docs: max bitmap
  docs/doc/13-sql-reference/10-data-types/44-data-type-bitmap.md
Labels: pr-doc

#11736 docs: add computed columns to EE
  docs/doc/02-enterprise/10-enterprise-features.md
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  website/src/plugins/fetch-databend-releases.js
Labels: pr-doc

#11762 fix(storage): recluster panic
  src/query/pipeline/transforms/src/processors/transforms/transform_sort.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster
Labels: pr-bugfix

#11760 feat(executor): Introduce `QueryProfileManager` to collect query profilings
  Cargo.lock
  Cargo.toml
  src/common/profile/src/span.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table_context.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort.rs
  src/query/profile/Cargo.toml
  src/query/profile/src/lib.rs
  src/query/profile/src/mgr.rs
  src/query/profile/src/proc.rs
  src/query/profile/src/prof.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/pipelines/pipeline_build_res.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions_display.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/profile.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/query_profile_table.rs
Labels: pr-feature

#11763 feat: support subquery in update statement
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/03_common/03_0035_update
  tests/sqllogictests/suites/crdb/delete
Labels: pr-feature

#11759 refactor: optimize pruning phase of the delete statement
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/deletion.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/mutation_part.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from
Labels: pr-refactor

#11767 fix(query): fix ShortSql func
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain_pipeline.test
Labels: pr-bugfix

#11769 docs: delete with subquery
  docs/doc/14-sql-commands/10-dml/dml-delete-from.md
Labels: pr-doc

#11770 refactor(executor): parallel async tasks for async transform
  src/query/pipeline/transforms/src/processors/transforms/transform_async.rs
Labels: pr-refactor, ci-benchmark

#11774 docs: date_format
  docs/doc/15-sql-functions/30-datetime-functions/dateformat.md
  docs/doc/15-sql-functions/60-conversion-functions/index.md
Labels: pr-doc

#11757 fix(test): The hint syntax must follow immediately after an COPY keyword
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_lable.result
Labels: pr-bugfix

#11779 refactor(meta-service): when starting up, retry registering node
  src/binaries/meta/entry.rs
Labels: pr-refactor

#11781 chore(expr): add FunctionCtx in calc_domain
  src/query/codegen/src/writes/arithmetics_type.rs
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/bitmap.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/geo.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/src/scalars/map.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/scalars/vector.rs
Labels: pr-chore

#11782 fix: Config not loaded after bump serde
  Cargo.lock
  Cargo.toml
  src/query/config/src/config.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-bugfix

#11783 fix(unit-test): Update MACOSX_DEPLOYMENT_TARGET value
  scripts/ci/ci-run-unit-tests.sh
Labels: pr-bugfix

#11776 fix: refactor and fix internal columns binding.
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/05_ddl/05_0031_internal_column
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0000_ddl_create_drop_index
Labels: pr-bugfix

#11785 feat: Integrate with icelake for iceberg support
  Cargo.lock
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/converters.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/manifest.rs
  src/query/storages/iceberg/src/table.rs
Labels: pr-feature

#11780 refactor: optimize replace into data block reading
  src/query/storages/fuse/src/operations/replace_into/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
Labels: pr-refactor

#11789 docs(weekly): add this week in databend 98
  website/blog/2023-06-18-databend-weekly-98.md
Labels: pr-doc

#11788 chore: fix join
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  src/query/service/src/pipelines/processors/transforms/transform_ie_join.rs
Labels: pr-chore, ci-benchmark

#11786 feat: alter table to rename column
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table
Labels: pr-feature

#11792 feat: select $<column_position> from TSV.
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/stage/src/stage_table.rs
  tests/data/select.tsv
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
  tests/suites/1_stateful/08_select_stage/08_01_select_ndjson.result
  tests/suites/1_stateful/08_select_stage/08_01_select_ndjson.sh
  tests/suites/1_stateful/08_select_stage/08_02_select_csv.result
  tests/suites/1_stateful/08_select_stage/08_02_select_csv.sh
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.result
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.sh
Labels: pr-feature

#11765 feat(query): Variant support row sort
  Cargo.lock
  Cargo.toml
  src/query/expression/src/values.rs
  src/query/expression/tests/it/row.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  tests/suites/1_stateful/08_select_stage/08_01_select_ndjson.result
Labels: pr-feature

#11798 feat: add system.background_jobs and system.background_tasks table
  Cargo.lock
  src/meta/api/src/background_api.rs
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/background_api_test_suite.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/background_service/compaction_job.rs
  src/query/ee/src/background_service/job_scheduler.rs
  src/query/ee/tests/it/background_service/compaction_job.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/background_jobs_table.rs
  src/query/storages/system/src/background_tasks_table.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-feature

#11797 docs: Update object-keys.md
  docs/doc/15-sql-functions/110-semi-structured-functions/object-keys.md
Labels: pr-doc

#11787 feat: http query deduplication api
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.result
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.sh
Labels: pr-feature

#11793 chore: improve left join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: pr-chore

#11808 feat(storage): add optional create_on for segment block meta
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/common/table-meta/benches/bench.rs
  src/query/storages/common/table-meta/src/meta/v2/segment.rs
  src/query/storages/common/table-meta/src/meta/v3/frozen/block_meta.rs
  src/query/storages/fuse/src/fuse_part.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
Labels: pr-feature

#11807 fix: copy on_error use wrong num_rows to pop column builder.
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  tests/data/wrong_sample.ndjson
  tests/data/wrong_sample.tsv
  tests/data/wrong_sample.xml
  tests/data/wrong_sample2.csv
  tests/data/wrong_sample2.ndjson
  tests/data/wrong_sample2.tsv
  tests/data/wrong_sample2.xml
  tests/data/wrong_xml_sample.xml
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.result
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.sh
Labels: pr-bugfix

#11812 chore: change broadcast join threshold
  src/query/sql/src/planner/plans/join.rs
Labels: pr-chore

#11810 docs: Update 2023-06-18-databend-weekly-98.md
  website/blog/2023-06-18-databend-weekly-98.md
Labels: pr-doc

#11813 docs: select $N from csv
  docs/doc/12-load-data/00-transform/05-querying-stage.md
Labels: pr-doc

#11811 fix(planner): check unicode to prevent invalid string index access
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  tests/sqllogictests/suites/query/issues/issue_11809.test
Labels: pr-bugfix

#11814 feat: CSV allow at most 1000 extra fields.
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
Labels: pr-feature

#11794 fix(query): consider DST when parse string to ts
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes_tz
Labels: pr-bugfix

#11817 fix: sanitize the headers in request log
  src/query/service/src/servers/http/middleware.rs
Labels: pr-bugfix

#11756 feat(cli): Better box display
  Cargo.lock
  src/bendpy/src/context.rs
  src/bendpy/src/datablock.rs
  src/bendpy/src/dataframe.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/block_debug.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/service/tests/it/frame/testdata/box_display.txt
Labels: pr-feature

#11816 feat: enforce copy CSV on_error=continue
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  tests/data/wrong_sample.csv
  tests/data/wrong_sample2.csv
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.result
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.sh
Labels: pr-feature

#11815 feat: fine tune for background compaction
  src/query/ee/src/background_service/compaction_job.rs
  src/query/ee/tests/it/background_service/compaction_job.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/background_tasks_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/base/06_show/06_0008_show_table_status
Labels: pr-feature

#11822 docs: support ON_ERROR=abort_N
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11821 docs: rename column
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#11825 docs: on_error
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11819 feat: streaming load support on_error=continue
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/insert.rs
  tests/suites/1_stateful/01_load/01_0005_streaming_on_error.result
  tests/suites/1_stateful/01_load/01_0005_streaming_on_error.sh
Labels: pr-feature

#11826 fix(query): fix dead lock for join
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
Labels: pr-bugfix

#11790 refactor(query): remove enable_distributed_eval_index setting
  Cargo.lock
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  src/query/catalog/src/table.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/http/v1/logs.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/openai/ai_to_sql.rs
  src/query/service/src/table_functions/srf/range.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/operations/optimize.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/service/tests/it/storages/null.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/service/tests/it/table_functions/numbers_table.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot_table.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic_table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  src/query/storages/random/src/random_table.rs
  src/query/storages/result_cache/src/table_function/table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/table.rs
  src/query/storages/system/src/tracing_table.rs
Labels: pr-refactor

#11829 feat: support manually execute jobs
  Cargo.lock
  src/binaries/query/entry.rs
  src/query/ee-features/background-service/Cargo.toml
  src/query/ee-features/background-service/src/background_service.rs
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/ee/src/background_service/compaction_job.rs
  src/query/ee/src/background_service/job.rs
  src/query/ee/src/background_service/job_scheduler.rs
  src/query/ee/tests/it/background_service/job_scheduler.rs
  src/query/service/Cargo.toml
  src/query/service/src/procedures/systems/execute_job.rs
  src/query/service/src/procedures/systems/mod.rs
  src/query/service/src/procedures/systems/system.rs
Labels: pr-feature

#11777 feat: introduce distributed deletion
  src/query/catalog/src/table.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/profile.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/mode/cluster/distributed_delete.sql
Labels: pr-feature, ci-benchmark

#11830 docs: max_threads hint for copy into
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
  docs/doc/14-sql-commands/80-setting-cmds/03-set-var.md
Labels: pr-doc

#11833 fix: consider lazy columns when pruning unused columns.
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/prune_unused_columns.rs
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
Labels: pr-bugfix

#11828 docs: datediff
  docs/doc/15-sql-functions/30-datetime-functions/datediff.md
Labels: pr-doc

#11834 fix: deletion with sub query
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  tests/sqllogictests/suites/mode/cluster/distributed_delete.sql
Labels: pr-bugfix

#11839 fix(query): parse string ignores unescape `\"`
  src/common/io/src/cursor_ext/cursor_read_string_ext.rs
  src/query/ast/src/parser/unescape.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant
  tests/sqllogictests/suites/query/02_function/02_0023_function_strings_quote
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get
Labels: pr-bugfix, incompat

#11841 feat(python): support register table functions
  src/bendpy/README.md
  src/bendpy/pyproject.toml
  src/bendpy/src/context.rs
  src/bendpy/tests/basic.py
  src/query/expression/src/utils/block_debug.rs
Labels: pr-feature

#11843 fix: only cache query result from fuse table.
  src/query/catalog/src/table.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/sqllogictests/suites/base/20+_others/20_0013_query_result_cache
Labels: pr-bugfix

#11844 feat(python): support mac os pypi crates
  .github/workflows/bindings_python.yml
  src/bendpy/pyproject.toml
  src/bendpy/src/context.rs
  src/bendpy/src/dataframe.rs
  src/bendpy/tests/basic.py
Labels: pr-feature

#11846 docs: fix file_format for copy into
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#11827 chore: remove disk cache when query init
  Cargo.lock
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
Labels: pr-chore

#11832 feat(planner): add tpch explain to sqllogictest
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature

#11847 feat(python): support mac os pypi crates2
  .github/workflows/bindings_python.yml
Labels: pr-feature

#11711 ci: Bump rust to latest toolchain
  scripts/setup/dev_setup.sh
  scripts/setup/rust-toolchain.toml
  scripts/setup/rust-tools.txt
Labels: pr-build, ci-benchmark

#11851 docs: flink cdc
  docs/doc/11-integrations/10-data-tool/_category_.json
  docs/doc/12-load-data/00-stage/02-stage-files.md
  docs/doc/12-load-data/01-load/_category_.json
  docs/doc/12-load-data/02-load-db/_category_.json
  docs/doc/12-load-data/02-load-db/airbyte.md
  docs/doc/12-load-data/02-load-db/flink-cdc.md
  docs/doc/12-load-data/02-load-db/vector.md
  docs/doc/21-use-cases/02-analyze-nginx-logs-with-databend-and-vector.md
  docs/public/img/load/cdc-dashboard.png
  docs/public/img/load/cdc-flink-cli.png
  docs/public/img/load/cdc-job.png
Labels: pr-doc

#11803 chore(build): bump rust version to `nightly-2023-06-09`
  Cargo.toml
  rust-toolchain.toml
  src/common/base/src/mem_allocator/jemalloc.rs
  src/common/base/src/mem_allocator/mmap.rs
  src/common/hashtable/src/hashjoin_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/table0.rs
  src/common/hashtable/src/utils.rs
  src/common/io/src/position.rs
  src/common/storage/src/lib.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/tests/it/meta_node/meta_node_raft_api.rs
  src/meta/sled-store/src/sled_iter.rs
  src/query/config/src/config.rs
  src/query/datavalues/src/types/type_boolean.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/math.rs
  src/query/pipeline/sinks/src/lib.rs
  src/query/pipeline/sinks/tests/it/main.rs
  src/query/pipeline/sources/src/lib.rs
  src/query/service/src/lib.rs
  src/query/service/src/metrics/metric_service.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/sql/src/lib.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/result_cache/src/lib.rs
  src/query/storages/system/src/lib.rs
Labels: pr-chore, ci-benchmark

#11848 fix(query): revert take compact
  src/query/expression/src/kernels/take_compact.rs
Labels: pr-bugfix

#11853 feat(python): add macos bindings3
  .github/workflows/bindings_python.yml
Labels: pr-feature

#11854 chore: should not regist session in non-background service
  src/query/ee/src/background_service/background_service_handler.rs
Labels: pr-chore

#11855 chore: add integration tests to avoid session leak on start
  tests/suites/5_ee/00_check/00_0014_license_info.py
  tests/suites/5_ee/00_check/00_0014_license_info.result
Labels: pr-chore

#11835 chore: fast path for hash join if build side is empty
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
Labels: pr-chore

#11856 refactor: copy use BlockMetaInfo to pass RowBatch.
  Cargo.lock
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/pipeline/sources/src/input_formats/source_aligner.rs
  src/query/pipeline/sources/src/input_formats/transform_deserializer.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_source.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/parquet/src/parquet_table/read.rs
  src/query/storages/stage/src/stage_table.rs
Labels: pr-refactor

#11864 refactor(meta): `start()` does not block, retry until ready
  src/meta/service/tests/it/api/http/cluster_state_test.rs
Labels: pr-refactor

#11862 docs(weekly): add this week in databend 99
  website/blog/2023-06-25-databend-weekly-99.md
Labels: pr-doc

#11865 chore: fast path for left-related join if build side is empty
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state_impl.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/join_hash_table.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/transform_hash_join.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-chore

#11866 chore(planner): improve table schema of `system.query_profile`
  Cargo.lock
  src/query/profile/src/prof.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/profile.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/query_profile_table.rs
Labels: pr-chore

#11860 chore: add sqllogic tests for aggregating index.
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/sql/src/planner/semantic/aggregating_index_rewriter.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/base
Labels: pr-chore
