Repository databendlabs/databend, pull requests merged in 2023-09, with the labels that each got.

#12652 docs: json functions
  docs/doc/15-sql-functions/110-semi-structured-functions/json-pretty.md
  docs/doc/15-sql-functions/110-semi-structured-functions/json-strip-nulls.md
  docs/doc/15-sql-functions/110-semi-structured-functions/json-typeof.md
Labels: pr-doc

#12653 ci: migrate TSV tests to sqllogict test.
  tests/data/csv/invalid_variant.csv
  tests/data/csv/win_newline.csv
  tests/data/field_white_space.tsv
  tests/data/tsv/escape.tsv
  tests/data/tsv/mysql_text.tsv
  tests/data/tsv/no_newline.tsv
  tests/data/tsv/select.tsv
  tests/data/tsv/whitespace.tsv
  tests/sqllogictests/suites/stage/formats/csv/csv_delimiter
  tests/sqllogictests/suites/stage/formats/csv/csv_select
  tests/sqllogictests/suites/stage/formats/csv/csv_types
  tests/sqllogictests/suites/stage/formats/tsv/tsv_format
  tests/sqllogictests/suites/stage/formats/tsv/tsv_mysql_text
  tests/sqllogictests/suites/stage/formats/tsv/tsv_select
  tests/suites/1_stateful/00_copy/00_0001_copy_tsv.result
  tests/suites/1_stateful/00_copy/00_0001_copy_tsv.sh
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_location.result
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_location.sh
  tests/suites/1_stateful/00_copy/00_0007_copy_csv_with_invalid_variant.result
  tests/suites/1_stateful/00_copy/00_0007_copy_csv_with_invalid_variant.sh
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_malformed.result
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_malformed.sh
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_no_newline.result
  tests/suites/1_stateful/05_formats/05_04_tsv/05_02_04_tsv_no_newline.sh
  tests/suites/1_stateful/05_formats/05_04_tsv/too_many_columns.tsv
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.result
  tests/suites/1_stateful/08_select_stage/08_03_select_tsv.sh
Labels: pr-build

#12657 fix: icon styles
  website/src/components/JoinCommunity/index.tsx
Labels: pr-bugfix

#12644 feat: add table least visible time
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/least_visible_time.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/least_visible_time_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v056_least_visible_time.rs
  src/meta/protos/proto/least_visible_time.proto
Labels: pr-feature

#12655 ci: logictest for copy parquet.
  .github/actions/test_sqllogic_stage/action.yml
  .github/workflows/reuse.linux.yml
  tests/data/parquet/complex.parquet
  tests/data/parquet/tuple.parquet
  tests/sqllogictests/scripts/prepare_stage.sh
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/stage/list_stage
  tests/sqllogictests/suites/stage_parquet/infer_schema
  tests/sqllogictests/suites/stage_parquet/parquet_field_types
  tests/sqllogictests/suites/stage_parquet/parquet_transform
  tests/suites/1_stateful/05_formats/05_00_00_named_format.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_01_complex.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_01_complex.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_02_select_files.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_02_select_files.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_04_infer_schema.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_05_query_uri.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_07_list_stage.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_07_list_stage.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_11_diff_schema.sh
Labels: pr-build

#12656 chore(http): both accept stage_name and stage-name as args on upload_to_stage
  docs/doc/12-load-data/00-transform/06-querying-metadata.md
  docs/doc/14-sql-commands/10-dml/dml-insert.md
  docs/doc/14-sql-commands/10-dml/dml-replace.md
  docs/doc/90-contributing/01-rfcs/20220704-presign.md
  src/query/service/src/servers/http/v1/stage.rs
  tests/suites/1_stateful/00_copy/00_0011_distributed_copy_into_table_exection_test.sh
  tests/suites/1_stateful/01_load/01_0001_upload_to_stage.sh
  tests/suites/1_stateful/09_http_handler/09_0002_query_log.sh
Labels: pr-chore

#12662 feat(query): under management mode no need to provide table statistics
  src/query/service/src/interpreters/access/accessor.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/sqllogictests/suites/management/management_calls
Labels: pr-feature

#12659 chore(query): improve databend local
  Cargo.lock
  Cargo.toml
  docs/doc/10-deploy/06-metasrv/30-metasrv-backup-restore.md
  src/bendpy/src/context.rs
  src/bendpy/src/datablock.rs
  src/bendpy/src/lib.rs
  src/binaries/Cargo.toml
  src/binaries/metactl/main.rs
  src/binaries/query/ee_main.rs
  src/binaries/query/entry.rs
  src/binaries/query/local.rs
  src/binaries/query/oss_main.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/src/span.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/stage.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/ast/src/parser/token.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/service/Cargo.toml
  src/query/service/src/lib.rs
  src/query/service/src/local/config.rs
  src/query/service/src/local/display.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/local/helper.rs
  src/query/service/src/local/mod.rs
  src/query/service/tests/it/frame/dataframe.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/storages/stage/src/stage_table.rs
  tests/metactl/test-metactl-restore-new-cluster.sh
  tests/sqllogictests/Cargo.toml
Labels: pr-chore

#12666 chore(cluster): add exchange read and write metrics
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/api/rpc/exchange/metrics/exchange_metrics.rs
  src/query/service/src/api/rpc/exchange/metrics/mod.rs
  src/query/service/src/api/rpc/exchange/mod.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
Labels: pr-chore

#12654 chore: check aborting while executing recluster-final
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Labels: pr-chore

#12663 feat(sqlsmith): Support generate insert values
  Cargo.lock
  src/common/tracing/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#12664 chore: fix modify column type not null bug
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.sh
Labels: pr-chore

#12668 fix(query): fix display rows of bend-local
  src/query/service/src/local/display.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/local/mod.rs
Labels: pr-bugfix

#12674 ci: longer timeout to fix testing insert with stage.
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.sh
Labels: pr-build

#12675 docs: staging files updates
  docs/doc/12-load-data/00-stage/02-stage-files.md
  docs/public/img/load/staging-file.png
Labels: pr-doc

#12677 fix(ast): deny ambiguous column type: Nullable(int) NOT NULL
  src/query/ast/src/ast/ast.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/ast/statements/replace.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/ast/statements/view.rs
  src/query/ast/src/ast/statements/virtual_column.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/functions/tests/it/scalars/parser.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-bugfix

#12665 feat: added json_array
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json
Labels: pr-feature

#12679 fix(building): git sha in version str
  .github/actions/build_bindings_python/action.yml
  .github/workflows/bindings.python.yml
  .github/workflows/build_tool.yml
  Cargo.lock
  src/common/building/Cargo.toml
  src/common/building/src/git.rs
  src/common/building/src/lib.rs
  src/tests/sqlsmith/Cargo.toml
  tests/compat/test-compat.sh
Labels: pr-bugfix

#12681 chore: fix release workflow [skip ci]
  .github/workflows/release.yml
Labels: pr-chore

#12680 docs: python binding
  docs/doc/13-integrations/jupyter.md
  docs/public/img/integration/localhost_8888_notebooks_Untitled.ipynb.png
Labels: pr-doc

#12690 chore(ci): upgrade to actions/checkout@v4 [skip ci]
  .github/backup/backport.yml
  .github/backup/dev-macos.yml
  .github/workflows/bindings.python.yml
  .github/workflows/build_tool.yml
  .github/workflows/cloud.yml
  .github/workflows/i18n.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.macos.yml
  .github/workflows/typos.yml
  website/blog/2023-06-11-databend-weekly-97.md
Labels: pr-chore

#12686 fix: remove offset after limit push down outer join
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/limit.test
  tests/sqllogictests/suites/query/join.test
Labels: pr-bugfix

#12682 docs: meta configurations
  docs/doc/10-deploy/10-node-config/01-metasrv-config.md
  scripts/distribution/configs/databend-meta.toml
Labels: pr-doc

#12692 chore: update databend-driver to 0.6.4
  Cargo.lock
  src/tests/sqlsmith/Cargo.toml
Labels: pr-chore

#12689 fix: Fix hdfs in catalog not handled correctly
  src/meta/app/src/storage/storage_params.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v057_hdfs_storage.rs
  src/meta/protos/proto/config.proto
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/location.rs
Labels: pr-bugfix

#12693 ci: migrate some tests for copy to sqllogic.
  tests/data/csv/it.csv
  tests/data/csv/numbers.csv
  tests/data/csv/wrong_sample.csv
  tests/data/csv/wrong_sample2.csv
  tests/data/ndjson/wrong_sample.ndjson
  tests/data/ndjson/wrong_sample2.ndjson
  tests/data/parquet/alltypes_plain.parquet
  tests/data/parquet/alltypes_plain.parquet.csv
  tests/data/parquet/int96.parquet
  tests/data/parquet/multi_page/gen.py
  tests/data/parquet/multi_page/multi_page_1.parquet
  tests/data/parquet/multi_page/multi_page_2.parquet
  tests/data/parquet/multi_page/multi_page_3.parquet
  tests/data/parquet/multi_page/multi_page_4.parquet
  tests/data/tsv/wrong_sample.tsv
  tests/data/tsv/wrong_sample2.tsv
  tests/data/wrong_sample2.csv
  tests/data/xml/v1_custom_row_tag.xml
  tests/data/xml/v1_default.xml
  tests/data/xml/v2_custom_row_tag.xml
  tests/data/xml/v2_default.xml
  tests/data/xml/v3_custom_row_tag.xml
  tests/data/xml/v3_default.xml
  tests/data/xml/wrong_sample.xml
  tests/data/xml/wrong_sample2.xml
  tests/sqllogictests/suites/stage/compactor
  tests/sqllogictests/suites/stage/formats/csv/csv_on_error
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_on_error
  tests/sqllogictests/suites/stage/formats/tsv/tsv_on_error
  tests/sqllogictests/suites/stage/formats/xml/xml_basic
  tests/sqllogictests/suites/stage/formats/xml/xml_on_error
  tests/sqllogictests/suites/stage/list_stage
  tests/sqllogictests/suites/stage/options/table_columns
  tests/sqllogictests/suites/stage_parquet/error_diff_schema
  tests/sqllogictests/suites/stage_parquet/optimize_small_file
  tests/sqllogictests/suites/stage_parquet/options/table_columns
  tests/sqllogictests/suites/stage_parquet/parquet_field_types
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.result
  tests/suites/1_stateful/00_copy/00_0002_copy_from_fs_on_error.sh
  tests/suites/1_stateful/00_copy/00_0006_small_parquet.result
  tests/suites/1_stateful/00_copy/00_0006_small_parquet.sh
  tests/suites/1_stateful/00_copy/00_0008_copy_with_projection.result
  tests/suites/1_stateful/00_copy/00_0008_copy_with_projection.sh
  tests/suites/1_stateful/00_copy/00_0010_copy_compactor.result
  tests/suites/1_stateful/00_copy/00_0010_copy_compactor.sh
  tests/suites/1_stateful/01_load/01_0004_streaming_parquet_int96.sh
  tests/suites/1_stateful/01_load/01_0005_streaming_on_error.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_10_select_int96.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_10_select_int96.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_11_diff_schema.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_11_diff_schema.sh
Labels: pr-build

#12708 chore(ci): release python binding on every release
  .github/workflows/bindings.python.yml
Labels: pr-chore

#12687 refactor(executor): support event cause for processor
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/resize_processor.rs
  src/query/pipeline/core/tests/it/pipelines/processors/resize.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
Labels: pr-refactor, ci-benchmark

#12709 fix(query): inject JEMALLOC_SYS_WITH_MALLOC_CONF in building darwin
  .cargo/config.toml
  .github/actions/build_macos/action.yml
  src/query/service/src/local/executor.rs
  src/query/sql/src/planner/binder/ddl/table.rs
Labels: pr-bugfix

#12711 fix: Try card styles
  website/src/components/TryCloudCard/styles.module.scss
  website/src/css/custom.scss
Labels: pr-bugfix

#12715 fix: fix null variadic adaptor accumulate row with nullable columns
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#12712 docs: update the suggested hardware configs for meta node
  docs/doc/10-deploy/00-understanding-deployment-modes.md
Labels: pr-doc

#12714 docs: databend-local
  docs/doc/10-deploy/05-deploying-local.md
Labels: pr-doc

#12716 docs: json_array
  docs/doc/15-sql-functions/110-semi-structured-functions/json-array.md
  docs/public/img/load/staging-file.png
Labels: pr-doc

#12694 feat(sqlsmith): Support generate scalar functions
  Cargo.lock
  src/query/ast/src/lib.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#12622 refactor: remove concat
  src/meta/app/src/principal/file_format.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/storages/common/pruner/src/block_meta.rs
  src/query/storages/common/table-meta/src/meta/v0/segment.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/delete_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_matched_split.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  src/query/storages/hive/hive/src/converters.rs
Labels: pr-refactor

#12710 docs(weekly): add this week in databend 109
  website/blog/2023-09-03-databend-weekly-109.md
  website/static/img/blog/merge-into.png
  website/static/img/blog/weekly/weekly-109.jpg
Labels: pr-doc

#12730 chore: fix typo of setting name, `repalce` should be `replace`
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#12726 fix: skip empty small files while deserializing parquet
  src/query/storages/parquet/src/parquet2/processors/deserialize_transform.rs
Labels: pr-bugfix

#12728 chore(function): add calc_domain for Function::wrap_nullable()
  src/query/expression/src/function.rs
  src/query/expression/src/property.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-chore

#12700 chore(planner): remove duplicate or predicates
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-chore

#12732 refactor: meta/state-machine: extract MapApiRO from MapApi
  src/meta/raft-store/src/sm_v002/leveled_store/level_data.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_store_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
Labels: pr-refactor

#12737 docs: nullable default
  docs/doc/13-sql-reference/10-data-types/60-data-type-nullable-types.md
  docs/doc/13-sql-reference/10-data-types/70-data-type-conversion.md
  docs/doc/13-sql-reference/10-data-types/index.md
  docs/doc/14-sql-commands/00-ddl/20-table/10-ddl-create-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/50-describe-table.md
  docs/doc/14-sql-commands/00-ddl/20-table/90-alter-table-column.md
Labels: pr-doc

#12676 refactor(observability): use prometheus_client in storage mod
  Cargo.lock
  Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/metrics/src/histogram.rs
  src/common/metrics/src/lib.rs
  src/common/metrics/src/registry.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/lib.rs
  src/common/storage/src/metrics/copy.rs
  src/common/storage/src/metrics/merge_into.rs
  src/common/storage/src/metrics/mod.rs
  src/common/storage/src/metrics/storage_metrics.rs
  src/query/service/src/pipelines/builders/copy.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/plans/copy.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/metrics.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/metrics/index_metrics.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split.rs
  src/query/storages/parquet/src/parquet2/parquet_reader/reader.rs
  src/query/storages/parquet/src/parquet2/processors/source.rs
Labels: pr-chore, pr-refactor, ci-benchmark

#12742 ci: refactor some tests for copy.
  src/common/io/src/cursor_ext/cursor_read_number_ext.rs
  tests/data/ddl/hits.sql
  tests/data/ddl/ontime.sql
  tests/data/ddl/variant_test.sql
  tests/data/parquet/ii/f1.parquet
  tests/data/parquet/ii/f2.parquet
  tests/data/parquet/ii/f3.parquet
  tests/sqllogictests/scripts/prepare_stage.sh
  tests/sqllogictests/suites/stage/formats/csv/csv_delimiter
  tests/sqllogictests/suites/stage/formats/csv/csv_on_error
  tests/sqllogictests/suites/stage/formats/tsv/tsv_on_error
  tests/sqllogictests/suites/stage/formats/xml/xml_on_error
  tests/sqllogictests/suites/stage/list_stage
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.result
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/1_stateful/00_stage/00_0000_copy_from_internal_stage.result
  tests/suites/1_stateful/00_stage/00_0000_copy_from_internal_stage.sh
  tests/suites/1_stateful/00_stage/00_0000_copy_from_ipfs_location.result
  tests/suites/1_stateful/00_stage/00_0000_copy_from_ipfs_location.sh
  tests/suites/1_stateful/00_stage/00_0000_copy_from_stage.result
  tests/suites/1_stateful/00_stage/00_0000_copy_from_stage.sh
  tests/suites/1_stateful/00_stage/00_0000_copy_from_stage2.py
  tests/suites/1_stateful/00_stage/00_0000_copy_from_stage2.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.sh
  tests/suites/1_stateful/00_stage/00_0003_copy_from_user_stage.result
  tests/suites/1_stateful/00_stage/00_0003_copy_from_user_stage.sh
  tests/suites/1_stateful/00_stage/00_0003_copy_with_max_files_parquet.result
  tests/suites/1_stateful/00_stage/00_0003_copy_with_max_files_parquet.sh
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_variant_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_xml.sh
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.sh
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
  tests/suites/1_stateful/ddl/on_error_test.sql
Labels: pr-build

#12743 chore: add query plan to log
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/sql/src/executor/format.rs
Labels: pr-chore

#12740 chore: bump arrow-rs to 46.0.0
  Cargo.lock
  Cargo.toml
  src/bendpy/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/ee-features/background-service/Cargo.toml
  src/query/ee/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/service/Cargo.toml
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/tests/it/parquet_rs/prune_row_groups.rs
Labels: pr-chore

#12751 chore: update backtrace to 0.3.69
  Cargo.lock
  src/common/exception/Cargo.toml
Labels: pr-chore

#12533 refactor(cluster): active upstream first for cluster exchange
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
Labels: pr-refactor, ci-benchmark

#12749 chore: refine `NormalizeDisjunctiveFilter`
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
Labels: pr-chore

#12739 feat(sqlsmith): add groupby
  src/query/sql/src/planner/binder/aggregate.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#12755 fix(query): the panic issue of (trim_both,trim_leading,trim_trailing) function
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/02_function/02_0055_function_strings_trim
Labels: pr-bugfix

#12748 fix(query): fix Float and Decimal can't be cast to boolean
  src/query/expression/src/utils/display.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/tests/sqlsmith/src/runner.rs
  tests/sqllogictests/suites/base/03_common/03_0005_select_filter
  tests/sqllogictests/suites/base/03_common/03_0029_both_select_where_constant
  tests/sqllogictests/suites/duckdb/sql/cast/test_boolean_cast.test
Labels: pr-bugfix

#12756 fix: improve parquet meta reading.
  src/common/storage/src/parquet_rs.rs
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  tests/sqllogictests/suites/stage_parquet/infer_schema
Labels: pr-bugfix

#12761 refactor: change state machine api from ref based to value based
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level_data.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_store_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/marked/marked_test.rs
  src/meta/raft-store/src/sm_v002/marked/mod.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
Labels: pr-refactor

#12760 fix(query): the issue of (lpad,rpad) function getting hang
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/02_function/02_0035_function_strings_pad
Labels: pr-bugfix

#12766 chore: bump opensrv-mysql to v0.4.1
  Cargo.lock
  src/query/service/Cargo.toml
Labels: pr-chore

#12767 refactor: remove trait MultiLevelMap, just impl leveled logic for Level
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/mod.rs
Labels: pr-refactor

#12769 feat(sqlsmith): Support generate join query
  src/query/expression/src/values.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
Labels: pr-feature

#12775 chore(query): unified spill location prefix
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
Labels: pr-chore

#12768 chore: default use_parquet2
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#12776 chore: resolve session leak in background service
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/ee/src/background_service/compaction_job.rs
  src/query/ee/src/background_service/session.rs
  tests/suites/6_background/00_target_tables/00_0000_target_tables.sh
Labels: pr-chore

#12778 docs: query node configurations
  docs/doc/10-deploy/10-node-config/01-metasrv-config.md
  docs/doc/10-deploy/10-node-config/02-query-config.md
  docs/doc/14-sql-commands/00-ddl/80-presign/presign.md
  docs/doc/14-sql-commands/00-ddl/91-catalog/create-catalog.md
Labels: pr-doc

#12781 fix: not allow '('/')' in stage at_string.
  src/query/ast/src/parser/token.rs
  tests/sqllogictests/suites/stage/options/path
Labels: pr-bugfix

#12784 chore: change partition reshuffle logic
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/catalog/tests/it/testdata/partition-reshuffle.txt
  src/query/service/src/schedulers/fragments/plan_fragment.rs
Labels: pr-chore

#12788 fix: test case
  src/query/catalog/tests/it/testdata/partition-reshuffle.txt
Labels: pr-bugfix

#12799 fix: fix test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
Labels: pr-bugfix

#12800 fix: tag styles
  website/src/components/BaseComponents/Tag/styles.module.scss
Labels: pr-bugfix

#12796 chore: adjust datasets for ci
  .github/actions/build_linux/action.yml
  .github/actions/setup_bendsql/action.yml
  .github/actions/test_sqllogic_stage/action.yml
  .github/workflows/cancel.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.yml
  docs/doc/12-load-data/00-transform/07-data-load-transform.md
  docs/doc/13-integrations/mindsdb.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
  docs/doc/21-use-cases/01-analyze-ontime-with-databend-on-ec2-and-s3.md
  docs/doc/21-use-cases/05-analyze-hits-dataset-with-databend.md
  scripts/benchmark/run-meta-benchmark.sh
  scripts/ci/deploy/databend-query-cluster-3-nodes.sh
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-sharing.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  tests/compat/test-compat.sh
  tests/fuse-compat/util.sh
  tests/meta-cluster/test-meta-cluster.sh
  tests/sqllogictests/scripts/prepare_stage.sh
  tests/sqllogictests/scripts/prepare_tpcds_data.sh
  tests/sqllogictests/scripts/prepare_tpch_data.sh
  tests/sqllogictests/suites/stage/copy_from_http
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.sh
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
  website/blog/2022-08-18-new-release.md
Labels: pr-chore

#12789 chore: add test case and flaky test
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
Labels: pr-chore

#12801 chore: fix naming in call procedure
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
Labels: pr-chore

#12683 feat: support domain calculation for decimal types.
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/storages/parquet/tests/it/parquet_rs/prune_pages.rs
  src/query/storages/parquet/tests/it/parquet_rs/prune_row_groups.rs
Labels: pr-feature

#12803 chore: fix right anti join
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  tests/sqllogictests/suites/query/select.test
Labels: pr-chore

#12770 fix(query): fix and filter panic
  src/query/expression/src/evaluator.rs
  src/query/functions/src/cast_rules.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/lib.rs
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
Labels: pr-bugfix

#12804 docs: update slugs
  docs/doc/01-guides/index.md
  docs/doc/03-develop/00-api/_category_.json
  docs/doc/03-develop/01-python.md
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/10-deploy/03-expanding-to-a-databend-cluster.md
  docs/doc/10-deploy/05-deploying-local.md
  docs/doc/10-deploy/06-cluster/10-metasrv-deploy.md
  docs/doc/10-deploy/06-cluster/11-deploying-databend-on-kubernetes.md
  docs/doc/10-deploy/06-cluster/16-metasrv-grpc.md
  docs/doc/10-deploy/06-cluster/20-metasrv-add-remove-node.md
  docs/doc/10-deploy/06-cluster/30-metasrv-backup-restore.md
  docs/doc/10-deploy/06-cluster/60-metasrv-status.md
  docs/doc/10-deploy/06-cluster/70-metasrv-cli-api.md
  docs/doc/10-deploy/06-cluster/_category_.json
  docs/doc/10-deploy/09-upgrade/_category_.json
  docs/doc/12-load-data/01-load/index.md
  docs/doc/12-load-data/02-load-db/index.md
  docs/doc/12-load-data/_category_.json
  docs/doc/12-visualize/_category_.json
  docs/doc/12-visualize/deepnote.md
  docs/doc/12-visualize/grafana.md
  docs/doc/12-visualize/jupyter.md
  docs/doc/12-visualize/metabase.md
  docs/doc/12-visualize/mindsdb.md
  docs/doc/12-visualize/redash.md
  docs/doc/12-visualize/tableau.md
  docs/doc/13-sql-clients/_category_.json
  docs/doc/13-sql-reference/10-data-types/20-data-type-time-date-types.md
  docs/doc/13-sql-reference/10-data-types/30-data-type-string-types.md
  docs/doc/13-sql-reference/10-data-types/43-data-type-variant.md
  docs/doc/13-sql-reference/20-system-tables/_category_.json
  docs/doc/14-sql-commands/00-ddl/10-database/_category_.json
  docs/doc/14-sql-commands/00-ddl/100-file-format/_category_.json
  docs/doc/14-sql-commands/00-ddl/20-table/_category_.json
  docs/doc/14-sql-commands/00-ddl/30-user/_category_.json
  docs/doc/14-sql-commands/00-ddl/50-udf/_category_.json
  docs/doc/14-sql-commands/00-ddl/60-view/_category_.json
  docs/doc/14-sql-commands/00-ddl/70-clusterkey/index.md
  docs/doc/14-sql-commands/00-ddl/80-presign/_category_.json
  docs/doc/14-sql-commands/00-ddl/90-share/index.md
  docs/doc/14-sql-commands/00-ddl/_category_.json
  docs/doc/14-sql-commands/10-dml/_category_.json
  docs/doc/14-sql-commands/20-query-syntax/index.md
  docs/doc/14-sql-commands/30-query-operators/_category_.json
  docs/doc/14-sql-commands/40-show/_category_.json
  docs/doc/14-sql-commands/60-kill/_category_.json
  docs/doc/14-sql-commands/80-setting-cmds/_category_.json
  docs/doc/14-sql-commands/90-explain-cmds/_category_.json
  docs/doc/15-sql-functions/110-semi-structured-functions/_category_.json
  docs/doc/15-sql-functions/111-system-functions/_category_.json
  docs/doc/15-sql-functions/112-table-functions/_category_.json
  docs/doc/15-sql-functions/120-other-functions/_category_.json
  docs/doc/15-sql-functions/121-test-functions/_category_.json
  docs/doc/15-sql-functions/30-datetime-functions/_category_.json
  docs/doc/15-sql-functions/40-string-functions/_category_.json
  docs/doc/15-sql-functions/81-ip-address-functions/_category_.json
  docs/doc/21-use-cases/_category_.json
Labels: pr-doc

#12797 fix(query): fix null column in group by
  src/query/expression/src/kernels/group_by_hash.rs
  src/query/service/src/local/display.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by
Labels: pr-bugfix

#12815 fix: fix syntax of Querying Staged Files.
  docs/doc/12-load-data/00-transform/05-querying-stage.md
Labels: pr-bugfix

#12819 docs: query stage updates
  docs/doc/12-load-data/00-transform/05-querying-stage.md
Labels: pr-doc

#12807 fix: fields of select from csv should be nullable.
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
  tests/sqllogictests/suites/stage/formats/csv/csv_select
  tests/sqllogictests/suites/stage/formats/csv/csv_transform
  tests/sqllogictests/suites/stage/formats/tsv/tsv_format
  tests/sqllogictests/suites/stage/formats/tsv/tsv_select
Labels: pr-bugfix

#12810 chore: rename snapshot methods
  src/meta/raft-store/src/sm_v002/importer.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level_data.rs
  src/meta/raft-store/src/sm_v002/leveled_store/mod.rs
  src/meta/raft-store/src/sm_v002/leveled_store/static_leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/sys_data.rs
  src/meta/raft-store/src/sm_v002/leveled_store/sys_data_api.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-chore

#12747 feat: fill default columns for not match
  src/query/expression/src/schema.rs
  src/query/pipeline/core/src/pipe.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_matched_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-feature

#12783 feat(sqlsmith): add gen_agg_func
  src/query/expression/src/type_check.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/srf/range.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix
Labels: pr-feature

#12808 chore(query): add temp files system table
  Cargo.lock
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/temp_files_table.rs
  tests/sqllogictests/suites/base/01_system/01_0012_system_temp_files
Labels: pr-chore

#12822 docs(weekly): add this week in databend 110
  website/blog/2023-09-10-databend-weekly-110.md
  website/static/img/blog/weekly/weekly-110.jpg
Labels: pr-doc

#12814 fix: consider tuple type alone when checking type
  src/query/expression/src/block.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0021_read_tuple_array
Labels: pr-bugfix

#12823 fix(cluster): try fix exchange read source hang
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/flight_client.rs
Labels: pr-bugfix, ci-benchmark

#12821 fix: fix some sqlsmith hunted bugs
  src/query/expression/src/values.rs
  src/query/functions/src/scalars/geo.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo
Labels: pr-bugfix

#12818 chore(ci): mysql auth test only use mysql-connector-python driver
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
Labels: pr-chore

#12829 docs: Insert / replace updates
  docs/doc/14-sql-commands/10-dml/dml-insert.md
  docs/doc/14-sql-commands/10-dml/dml-replace.md
Labels: pr-doc

#12817 fix: decimal unary minus.
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-bugfix

#12833 fix: delete contain internal columns panic
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/update.rs
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from
Labels: pr-bugfix

#12809 feat: support column stats provider for PaquetTable (parquet_rs)
  src/common/storage/src/parquet_rs.rs
  src/query/catalog/src/plan/datasource/datasource_info/mod.rs
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/catalog/src/table.rs
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/schema.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/planner.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/meta.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/stats.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/pruning.rs
  src/query/storages/parquet/src/parquet_rs/statistics/column.rs
  src/query/storages/parquet/src/parquet_rs/statistics/row_group.rs
  src/query/storages/parquet/tests/it/parquet_rs/prune_pages.rs
  src/query/storages/parquet/tests/it/parquet_rs/prune_row_groups.rs
Labels: pr-feature

#12836 docs: fix Ontime DDL hyperlink
  docs/doc/21-use-cases/01-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc

#12830 feat: support stage location as a literal string.
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/presign.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/infer_schema/table_args.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/src/table_functions/list_stage/table_args.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/presign.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0025_ddl_user_stage
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-feature

#12838 feat: allow `select $1 from @s1 ()`
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/testdata/statement.txt
  tests/sqllogictests/suites/stage_parquet/options/select_options
Labels: pr-feature

#12825 feat(query): Support inserting bitmap string values
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/src/bitmap.rs
  src/common/io/src/lib.rs
  src/query/expression/src/utils/display.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/row_based.rs
  src/query/formats/src/field_encoder/row_based.rs
  src/query/formats/src/lib.rs
  src/query/functions/src/scalars/bitmap.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/base/03_common/03_0039_insert_into_bitmap
Labels: pr-feature

#12840 fix(query): rewrite view query when table_ref with None database
  src/query/ast/src/lib.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  tests/sqllogictests/suites/base/05_ddl/05_0021_ddl_alter_view
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table
Labels: pr-bugfix

#12844 feat(sqlsmith): Support generating factory scalar functions
  src/query/ast/src/ast/expr.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#12843 docs: share endpoint
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/10-deploy/03-expanding-to-a-databend-cluster.md
  docs/doc/10-deploy/05-deploying-local.md
  docs/doc/10-deploy/06-cluster/10-metasrv-deploy.md
  docs/doc/10-deploy/06-cluster/11-deploying-databend-on-kubernetes.md
  docs/doc/13-sql-clients/_category_.json
  docs/doc/14-sql-commands/00-ddl/90-share-endpoint/_category_.json
  docs/doc/14-sql-commands/00-ddl/90-share-endpoint/create-share-endpoint.md
  docs/doc/14-sql-commands/00-ddl/90-share-endpoint/drop-share-endpoint.md
  docs/doc/14-sql-commands/00-ddl/90-share-endpoint/index.md
  docs/doc/14-sql-commands/00-ddl/90-share-endpoint/show-share-endpoint.md
  docs/doc/14-sql-commands/00-ddl/90-share/index.md
Labels: pr-doc

#12846 fix: allow setting log-xx-on to false
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/tests/it/configs.rs
Labels: pr-bugfix

#12845 feat(planner): improve infer predicates
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_infer_filter.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/lowering.rs
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
Labels: pr-feature

#12827 fix: fix_sort_null_panic
  src/query/expression/src/kernels/sort.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-bugfix

#12858 feat(sqlsmith): Ignore reports of some known errors
  Cargo.lock
  src/query/ast/src/ast/expr.rs
  src/query/functions/src/scalars/array.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#12847 fix: avoid relying on db-id-to-name mapping when dropping a table
  src/binaries/metabench/main.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_alter.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
Labels: pr-bugfix

#12780 feat: push down check duplicate and idempotent delete
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/test_kits/table_test_fixture.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_split_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_matched_split.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into
Labels: pr-feature

#12868 ci: update certs used in unit tests.
  src/query/service/tests/it/api/http_service.rs
  tests/certs/tls/README.md
  tests/certs/tls/cfssl/ca/ca-key.pem
  tests/certs/tls/cfssl/ca/ca.csr
  tests/certs/tls/cfssl/ca/ca.pem
  tests/certs/tls/cfssl/ca/pkcs8-ca-key.pem
  tests/certs/tls/cfssl/client/client-identity.pfx
  tests/certs/tls/cfssl/client/client-key.pem
  tests/certs/tls/cfssl/client/client.csr
  tests/certs/tls/cfssl/client/client.pem
  tests/certs/tls/cfssl/client/pkcs8-client-key.pem
  tests/certs/tls/cfssl/server/pkcs8-server-key.pem
  tests/certs/tls/cfssl/server/server-key.pem
  tests/certs/tls/cfssl/server/server.csr
  tests/certs/tls/cfssl/server/server.pem
Labels: pr-build

#12866 chore(planner): fix infer filter
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_infer_filter.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
Labels: pr-chore

#12872 refactor: improve error message of copy.
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/copy.rs
  src/common/storage/src/lib.rs
  src/query/pipeline/sources/src/input_formats/error_utils.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/mod.rs
  src/query/pipeline/sources/src/lib.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_delimiter
  tests/sqllogictests/suites/stage/formats/csv/csv_on_error
  tests/sqllogictests/suites/stage/formats/csv/csv_types
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_on_error
  tests/sqllogictests/suites/stage/formats/tsv/tsv_on_error
  tests/sqllogictests/suites/stage/formats/xml/xml_on_error
  tests/sqllogictests/suites/stage/options/table_columns
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.sh
Labels: pr-refactor, ci-cloud

#12792 feat: support hash join probe spill
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/probe_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/tests/it/spillers/spiller.rs
  tests/sqllogictests/suites/query/join.test
Labels: pr-feature

#12875 fix: remove the db before testing dropping table
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#12835 chore(query): make native format respect data cache and merge io results
  Cargo.lock
  Cargo.toml
  src/common/cache/Cargo.toml
  src/common/cache/src/meter/bytes_meter.rs
  src/common/compress/Cargo.toml
  src/common/io/Cargo.toml
  src/common/storage/Cargo.toml
  src/query/functions/Cargo.toml
  src/query/sharing/Cargo.toml
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/parquet/Cargo.toml
Labels: pr-chore, ci-benchmark

#12879 chore(parser): suggest similar tokens for syntax error
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/error.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
Labels: pr-chore

#12860 chore: assert number of block not exceed the max value required by virtual column
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/storages/common/table-meta/src/meta/format.rs
  src/query/storages/common/table-meta/src/meta/mod.rs
  src/query/storages/common/table-meta/src/meta/v4/segment.rs
Labels: pr-chore

#12885 fix(parser): allow to omit comma between 'TableReference::Stage' options
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix

#12887 docs: allow at_string for stage in single quotes
  docs/doc/12-load-data/00-transform/05-querying-stage.md
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
Labels: pr-doc

#12869 refactor: get rid of duplicated task in union tests
  src/query/service/tests/it/interpreters/union.rs
Labels: pr-refactor

#12888 refactor: reword error message of CSV/TSV column num mismatch.
  src/common/storage/src/copy.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  tests/data/csv/bad_datetime.csv
  tests/sqllogictests/suites/stage/formats/csv/csv_on_error
  tests/sqllogictests/suites/stage/formats/tsv/tsv_on_error
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.sh
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.sh
Labels: pr-refactor

#12876 chore: push down false to both side of join
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/utils/constant.rs
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
Labels: pr-chore

#12863 chore: refine parquet statistics
  src/query/catalog/src/table.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/planner.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/parquet/src/parquet2/parquet_table/create.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/utils.rs
Labels: pr-chore

#12893 fix: fix get map panic when map value is null
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get
Labels: pr-bugfix

#12898 fix(parser): show more parser context
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement-error.txt
Labels: pr-bugfix

#12850 chore(planner): Refactor `query_profile` table
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/query_profile_table.rs
  src/query/storages/system/src/query_summary_table.rs
Labels: pr-chore, ci-cloud

#12900 feat(sqlsmith): add other factory scalar func
  Cargo.lock
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#12750 feat: distributed execution of compact statement
  src/query/catalog/src/table.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_accumulating_async.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/common/table-meta/src/meta/format.rs
  src/query/storages/common/table-meta/src/meta/v4/segment.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_matched_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/compact/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_part.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/compact/mod.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/mutation_part.rs
  src/query/storages/fuse/src/operations/mutation/mutation_source.rs
  src/query/storages/fuse/src/operations/mutation/recluster_mutator.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/processors/transform_merge_into_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster
  tests/sqllogictests/suites/mode/cluster/distributed_compact.sql
Labels: pr-feature, ci-benchmark

#12899 refactor: http handler return error position in detail field.
  Cargo.lock
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_code.rs
  src/common/exception/src/exception_flight.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/src/span.rs
  src/common/exception/tests/it/exception_flight.rs
  src/common/grpc/src/dns_resolver.rs
  src/common/storage/src/copy.rs
  src/query/ast/src/error.rs
  src/query/ast/src/parser/statement.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/local/helper.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0007_http_clickhouse_input_format_diagnostic.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table_exection_test.sh
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.result
  tests/suites/1_stateful/09_http_handler/09_0003_error_detail.result
  tests/suites/1_stateful/09_http_handler/09_0003_error_detail.sh
Labels: pr-refactor

#12896 fix(query): fix functions check big integer argument
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/math.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
  tests/sqllogictests/suites/query/02_function/02_0014_function_maths
  tests/sqllogictests/suites/query/02_function/02_0034_function_strings_space
  tests/sqllogictests/suites/query/02_function/02_0035_function_strings_pad
Labels: pr-bugfix

#12904 ci: sqllogictest match both error code and error message.
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/suites/crdb/and_or
Labels: pr-build

#12902 feat: added json_path_exists
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json
  tests/suites/0_stateless/20+_others/20_0005_mysql_auth.py
Labels: pr-feature

#12903 chore(query): shutdown http server with timeout
  src/bendpy/src/dataframe.rs
  src/common/http/src/http_shutdown_handlers.rs
Labels: pr-chore

#12912 fix(parser): allow expr in map liteal
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/functions/tests/it/scalars/parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/base/03_common/03_0037_insert_into_map
Labels: pr-bugfix

#12907 feat(sqlsmith): add other agg func
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#12916 ci: updated some logic tests to include error message.
  tests/sqllogictests/suites/base/00_dummy/00_0000_dummy_select_1
  tests/sqllogictests/suites/base/01_system/01_0005_system_tables_data_size
  tests/sqllogictests/suites/base/01_system/01_0007_system_clustering_history
  tests/sqllogictests/suites/base/01_system/01_0011_system_query_cache
  tests/sqllogictests/suites/base/03_common/03_0000_select_aliases
  tests/sqllogictests/suites/base/03_common/03_0002_select_aggregator_with_filter
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by
  tests/sqllogictests/suites/base/03_common/03_0004_select_order_by_db_table_col
  tests/sqllogictests/suites/base/03_common/03_0006_select_having
  tests/sqllogictests/suites/base/03_common/03_0009_select_exists
  tests/sqllogictests/suites/base/03_common/03_0011_select_from_system_processes
  tests/sqllogictests/suites/base/03_common/03_0014_insert_into_select
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values
  tests/sqllogictests/suites/base/03_common/03_0017_insert_overwrite
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant
  tests/sqllogictests/suites/base/03_common/03_0023_insert_into_array
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from
Labels: pr-build

#12918 feat(sqlsmith): add window func
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#12921 feat(sqlsmith): Support generates all factory scalar functions and expressions
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#12915 docs: upload with bendsql
  docs/doc/12-load-data/00-stage/02-stage-files.md
  docs/doc/12-load-data/00-transform/06-querying-metadata.md
  docs/doc/12-load-data/00-transform/07-data-load-transform.md
  docs/doc/12-load-data/01-load/00-stage.md
  docs/doc/12-load-data/01-load/01-s3.md
  docs/doc/12-load-data/01-load/02-local.md
  docs/doc/12-load-data/01-load/04-http.md
  docs/doc/21-use-cases/01-analyze-ontime-with-databend-on-ec2-and-s3.md
Labels: pr-doc

#12905 feat: add computed expr for merge into
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_split_mutator.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column
Labels: pr-feature

#12927 chore(query): support cluster level process list
  src/query/service/src/api/mod.rs
  src/query/service/src/api/rpc/flight_actions.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/api/rpc/mod.rs
  src/query/service/src/api/rpc/packets/mod.rs
  src/query/service/src/api/rpc/packets/packet_kill_query.rs
  src/query/service/src/interpreters/interpreter_kill.rs
  src/query/storages/system/src/processes_table.rs
Labels: pr-chore

#12925 fix: fix disallow scalar function with window
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#12932 chore(query): add license for udf example codes
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/base/03_common/03_0005_select_filter
  tests/udf-server/README.md
  tests/udf-server/udf.py
  tests/udf-server/udf_test.py
Labels: pr-chore

#12931 docs(weekly): add this week in databend 111
  website/blog/2023-09-10-databend-weekly-110.md
  website/blog/2023-09-17-databend-weekly-111.md
  website/static/img/blog/weekly/weekly-111.jpg
Labels: pr-doc

#12917 fix: fix array_distinct with nested array
  src/query/expression/src/values.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0061_function_array
Labels: pr-bugfix

#12787 feat(observability): replace metrics-rs with prometheus-client
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/binaries/meta/entry.rs
  src/binaries/query/entry.rs
  src/common/metrics/Cargo.toml
  src/common/metrics/src/dump.rs
  src/common/metrics/src/lib.rs
  src/common/metrics/src/recorder.rs
  src/common/metrics/src/registry.rs
  src/common/metrics/src/reset.rs
  src/common/metrics/tests/it/main.rs
  src/common/openai/Cargo.toml
  src/common/openai/src/metrics.rs
  src/common/storage/src/metrics/copy.rs
  src/common/storage/src/metrics/merge_into.rs
  src/common/storage/src/operator.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/grpc_metrics.rs
  src/meta/client/src/lib.rs
  src/meta/service/tests/it/api/http/metrics.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/metrics/exchange_metrics.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/clusters/metrics.rs
  src/query/service/src/interpreters/common/metrics.rs
  src/query/service/src/interpreters/interpreter_metrics.rs
  src/query/service/src/metrics/metric_service.rs
  src/query/service/src/pipelines/processors/transforms/metrics/transform_metrics.rs
  src/query/service/src/servers/http/metrics.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_metrics.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/session_metrics.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/metrics.rs
  src/query/service/tests/it/storages/system.rs
  src/query/sharing/src/layer.rs
  src/query/storages/common/cache/src/metrics.rs
  src/query/storages/fuse/src/metrics/fuse_metrics.rs
  src/query/storages/fuse/src/metrics/index_metrics.rs
  src/query/storages/system/src/metrics_table.rs
Labels: pr-feature, pr-refactor

#12939 fix: support aggregation arguments in grouping sets.
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_expand.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/profile.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain_grouping_sets.test
Labels: pr-bugfix

#12942 feat(sqlsmith): add table function
  src/query/service/src/table_functions/srf/range.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#12947 fix: add session info in final response.
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-bugfix

#12940 fix(query): fix add/subtract datetime with big integer panic
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes
Labels: pr-bugfix

#12950 fix: purge oom
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/storages/common/table-meta/src/meta/mod.rs
  src/query/storages/common/table-meta/src/meta/v2/snapshot.rs
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-bugfix

#12951 docs: note about pattern in copy.
  docs/doc/14-sql-commands/10-dml/dml-copy-into-table.md
  docs/doc/15-sql-functions/112-table-functions/list_stage.md
Labels: pr-doc

#12948 fix: fix point_in_polygon function panic if a tuple has only one field
  src/query/functions/src/scalars/geo.rs
  tests/sqllogictests/suites/query/02_function/02_0060_function_geo
Labels: pr-bugfix

#12949 docs: nullable column in sql conformance
  docs/doc/13-sql-reference/99-ansi-sql.md
Labels: pr-doc
