Repository databendlabs/databend, pull requests merged in 2023-03, with the labels that each got.

#10270 docs: update developer guides
  docs/doc/03-develop/00-golang.md
  docs/doc/03-develop/01-python.md
  docs/doc/03-develop/02-nodejs.md
  docs/doc/03-develop/03-java.md
Labels: pr-doc

#10243 refactor(query): refactor aggregator
  src/common/hashtable/src/partitioned_hashtable.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_accumulating.rs
  src/query/service/src/lib.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_cell.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_sorting.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_hashstate_info.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_final_parallel.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_partitioned.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_aggregator.rs
  src/query/service/src/pipelines/processors/transforms/transform_convert_grouping.rs
Labels: pr-refactor, ci-benchmark

#10274 chore(docs): update docs
  README.md
  docs/doc/00-overview/index.md
  docs/doc/01-guides/index.md
  docs/doc/11-integrations/00-api/02-clickhouse-handler.md
  docs/doc/13-sql-reference/10-data-types/11-data-type-decimal-types.md
  docs/doc/90-contributing/01-rfcs/20230213-query-result-cache.md
  tests/sqllogictests/src/client/clickhouse_client.rs
Labels: pr-chore

#10216 chore(query): make tpch queries run on decimal
  benchmark/tpch/prepare_fuse_table.sh
  benchmark/tpch/prepare_native_table.sh
  src/query/expression/src/evaluator.rs
  src/query/expression/src/property.rs
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/suites/0_stateless/13_tpch/13_0000_prepare.sh
  tests/suites/0_stateless/13_tpch/13_00014_q14.result
  tests/suites/0_stateless/13_tpch/13_00015_q15.result
  tests/suites/0_stateless/13_tpch/13_00017_q17.result
  tests/suites/0_stateless/13_tpch/13_00019_q19.result
  tests/suites/0_stateless/13_tpch/13_0001_q1.result
  tests/suites/0_stateless/13_tpch/13_0001_q1.sql
  tests/suites/0_stateless/13_tpch/13_0002_q2.result
  tests/suites/0_stateless/13_tpch/13_0003_q3.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.result
  tests/suites/0_stateless/13_tpch/13_0005_q5.sql
  tests/suites/0_stateless/13_tpch/13_0006_q6.result
  tests/suites/0_stateless/13_tpch/13_0006_q6.sql
  tests/suites/0_stateless/13_tpch/13_0007_q7.result
  tests/suites/0_stateless/13_tpch/13_0007_q7.sql
  tests/suites/0_stateless/13_tpch/13_0008_q8.result
  tests/suites/0_stateless/13_tpch/13_0008_q8.sql
  tests/suites/0_stateless/13_tpch/13_0009_q9.result
  tests/suites/0_stateless/13_tpch/13_0009_q9.sql
  tests/suites/0_stateless/13_tpch/13_0010_q10.result
  tests/suites/0_stateless/13_tpch/13_0010_q10.sql
  tests/suites/0_stateless/13_tpch/13_0014_q14.result
  tests/suites/0_stateless/13_tpch/13_0014_q14.sql
  tests/suites/0_stateless/13_tpch/13_0015_q15.result
  tests/suites/0_stateless/13_tpch/13_0015_q15.sql
  tests/suites/0_stateless/13_tpch/13_0017_q17.result
  tests/suites/0_stateless/13_tpch/13_0017_q17.sql
  tests/suites/0_stateless/13_tpch/13_0018_q18.result
  tests/suites/0_stateless/13_tpch/13_0019_q19.result
  tests/suites/0_stateless/13_tpch/13_0019_q19.sql
  tests/suites/0_stateless/13_tpch/13_0022_q22.result
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
Labels: pr-chore

#10240 feat(query): Add rule - Push filter down to aggregate
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/aggregate.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
Labels: pr-feature

#10277 docs(IDENTIFIERS): add more example for the SQL IDENTIFIERS
  docs/doc/13-sql-reference/40-sql-identifiers.md
Labels: pr-doc

#10276 chore(query): add register_additional_cast_rules for timestamp/date
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/11_data_type/11_0001_data_type_date_time
Labels: pr-chore

#10024 feat(planner): Introduce bitmap to record applied rules
  Cargo.lock
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/explore_rules.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/rule_list.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_split_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/rule_set.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_associate_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_right_exchange_join.rs
  src/query/sql/src/planner/plans/operator.rs
Labels: pr-feature

#10264 ci(benchmark): add benchmark for tpch
  .github/actions/benchmark/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/benchmark.sh
  benchmark/clickbench/hits/clear.sql
  benchmark/clickbench/hits/create.sql
  benchmark/clickbench/hits/create_local.sql
  benchmark/clickbench/hits/index.html
  benchmark/clickbench/hits/load.sql
  benchmark/clickbench/hits/queries.sql
  benchmark/clickbench/load.sql
  benchmark/clickbench/run.sh
  benchmark/clickbench/tpch/clear.sql
  benchmark/clickbench/tpch/create.sql
  benchmark/clickbench/tpch/create_local.sql
  benchmark/clickbench/tpch/index.html
  benchmark/clickbench/tpch/load.sql
  benchmark/clickbench/tpch/queries.sql
  benchmark/clickbench/tpch/update_queries.sh
  benchmark/clickbench/update-results.sh
  scripts/benchmark/query/load/tpch.sh
Labels: pr-build, ci-benchmark

#10273 feat(query): support aggregate spill to object storage
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_cell.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_sorting.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  tests/sqllogictests/suites/base/03_common/03_0037_spill_aggregator
Labels: pr-feature, ci-benchmark

#10279 chore(tool): support navicat for mysql 16 connect to databend
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/information-schema/src/schemata_table.rs
Labels: pr-chore

#10281 chore(query): fix merge Rule, add default transformation to be true
  scripts/benchmark/query/load/tpch.sh
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_split_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
Labels: pr-chore

#10257 fix(storage): optimize purge oom
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/loader.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/read/snapshot_history_reader.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/base_mutator.rs
  src/query/storages/fuse/src/pruning/segment_pruner.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
Labels: pr-bugfix

#10282 chore: delete useless code
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/explore_rules.rs
Labels: pr-chore, ci-benchmark

#10256 feat(query): query cache table function
  Cargo.lock
  docs/doc/15-sql-functions/112-table-functions/result_scan.md
  docs/doc/15-sql-functions/90-context-functions/index.md
  src/query/catalog/src/plan/datasource/datasource_info/data_source_info.rs
  src/query/catalog/src/plan/datasource/datasource_info/mod.rs
  src/query/catalog/src/plan/datasource/datasource_info/result_scan.rs
  src/query/service/src/interpreters/interpreter_select_v2.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/mod.rs
  src/query/storages/result_cache/Cargo.toml
  src/query/storages/result_cache/src/lib.rs
  src/query/storages/result_cache/src/read/reader.rs
  src/query/storages/result_cache/src/table_function/mod.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/sqllogictests/suites/base/20+_others/20_0014_result_scan
Labels: pr-feature

#10284 feat: Adopt OpenDAL's native write retry support
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/service/tests/it/storages/fuse/block_writer.rs
  src/query/sharing/src/layer.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/fuse_sink.rs
  src/query/storages/fuse/src/operations/mutation/compact/compact_transform.rs
  src/query/storages/fuse/src/operations/mutation/serialize_data_transform.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/stage_table_sink.rs
Labels: pr-feature, ci-benchmark

#10288 docs: refactor download instructions
  docs/doc/10-deploy/01-installing-databend.md
Labels: pr-doc

#10289 docs: fix typo
  docs/doc/00-overview/index.md
Labels: pr-doc

#10293 docs: Update 2023-02-24-Deploy-databend-on-minio.md
  website/blog/2023-02-24-Deploy-databend-on-minio.md
Labels: pr-doc

#10299 chore(ci): fix update results for release benchmark
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10298 chore(query): add more error messages of binder
  docs/doc/10-deploy/01-installing-databend.md
  src/query/sql/src/planner/binder/bind_context.rs
Labels: pr-chore

#10300 fix: result_scan not set query_id when meta_key is none
  src/query/service/src/interpreters/interpreter_select.rs
  tests/sqllogictests/suites/query/select.test
Labels: pr-bugfix

#10229 feat(query): set returning function `unnest`.
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/scalar_visitor.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/derive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/scalar.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-feature

#10287 fix(expr): resolve deadloop in #10216
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/values.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
Labels: pr-bugfix

#10308 feat(website): update blog post styles
  website/docusaurus.config.js
  website/package.json
  website/src/components/BaseComponents/AvatarGroup/index.js
  website/src/components/BaseComponents/AvatarGroup/index.module.scss
  website/src/components/BaseComponents/Tooltip/index.js
  website/src/components/CustomBlog/BlogList.js
  website/src/components/CustomBlog/BlogPostDetails.js
  website/src/components/CustomBlog/CustomBlogListPage.js
  website/src/components/CustomBlog/CustomBlogTagsPostsPage.js
  website/src/components/CustomBlog/DefaultCover.js
  website/src/components/CustomBlog/PopularTags.js
  website/src/components/CustomBlog/Tagtest.js
  website/src/components/CustomBlog/WeeklyCover.js
  website/src/components/CustomBlog/styles.module.scss
  website/src/components/Icons/ArrowLeft.js
  website/src/components/Icons/ArrowRight.js
  website/src/components/Icons/Return.js
  website/src/components/Icons/index.js
  website/src/css/custom.scss
  website/src/pages/index.module.scss
  website/yarn.lock
Labels: pr-feature

#10285 feat: backend webhdfs
  .gitignore
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/12-load-data/index.md
  docs/doc/14-sql-commands/00-ddl/40-stage/01-ddl-create-stage.md
  src/query/config/src/config.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
  src/query/storages/system/src/configs_table.rs
Labels: pr-feature

#10309 chore(website): Some styling tweaks for Blog
  website/package.json
  website/src/components/CustomBlog/BlogList.js
  website/src/components/CustomBlog/BlogPostDetails.js
  website/src/components/CustomBlog/PopularTags.js
  website/src/components/CustomBlog/Tagtest.js
  website/src/components/CustomBlog/styles.module.scss
Labels: pr-chore

#10307 refactor(query): Drop useless setting
  docs/doc/13-sql-reference/20-system-tables/system-query-log.md
  docs/doc/13-sql-reference/20-system-tables/system-settings.md
  docs/doc/14-sql-commands/40-show/show-settings.md
  docs/doc/14-sql-commands/80-setting-cmds/show-settings.md
  docs/doc/14-sql-commands/80-setting-cmds/unset.md
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings
  tests/suites/0_stateless/14_clickhouse_http_handler/14_0008_tsv_input_format.sh
Labels: pr-refactor

#10302 chore(planer): correct transrormation to transformation
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/plans/operator.rs
Labels: pr-chore

#10310 docs: Some styling tweaks for Blog
  website/blog/2023-02-24-Deploy-databend-on-minio.md
  website/src/components/CustomBlog/BlogPostDetails.js
  website/src/components/CustomBlog/styles.module.scss
  website/src/components/Icons/Label.js
  website/src/components/Icons/Pencil.js
  website/src/components/Icons/index.js
  website/src/pages/index.module.scss
Labels: pr-doc

#10318 docs: move blog ahead download
  website/docusaurus.config.js
Labels: pr-doc

#10315 chore(query): refine result_scan error messages
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/base/20+_others/20_0014_result_scan
Labels: pr-chore

#10317 docs: added blog bendsql
  website/blog/2023-03-02-bendsql.md
Labels: pr-doc

#10320 fix(doc): typo.
  website/blog/2023-03-02-bendsql.md
Labels: pr-bugfix

#10321 ci: Add seperated typos check
  .github/actions/check/action.yml
  .github/workflows/typos.yml
  website/package.json
Labels: pr-build

#10313 chore(expr): respect overload order for function factories
  src/query/codegen/src/writes/arithmetics_type.rs
  src/query/codegen/src/writes/mod.rs
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/expression/src/utils/arithmetics_type.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/mod.rs
Labels: pr-chore

#10319 chore(query): update avg decimal
  .github/actions/check/action.yml
  src/query/functions/src/aggregates/aggregate_sum.rs
Labels: pr-chore

#10312 feat(query): support multiple unnest columns.
  src/query/expression/src/values.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-feature

#10316 docs: tips for install errors
  docs/doc/10-deploy/02-deploying-databend.md
  docs/doc/10-deploy/05-deploying-local.md
Labels: pr-doc

#10278 feat(planner): Push filter to sort
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_sort.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/query/select.test
Labels: pr-feature

#10325 docs: Some styling tweaks for docs
  website/src/components/BaseComponents/AvatarGroup/index.module.scss
  website/src/components/CustomBlog/styles.module.scss
  website/src/css/custom.scss
  website/src/pages/index.module.scss
  website/src/theme/Footer/index.module.scss
Labels: pr-doc

#10324 docs: add performance page
  docs/doc/70-performance/_category_.json
  docs/doc/70-performance/index.md
  website/docusaurus.config.js
Labels: pr-doc

#10327 chore(ci): fix download release benchmark report
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore

#10330 docs: Add Blog Contact us module
  website/src/components/CustomBlog/BlogPostDetails.js
  website/src/components/CustomBlog/Connectwithus.js
  website/src/components/CustomBlog/styles.module.scss
Labels: pr-doc

#10297 feat(query): support decimal256 select insert
  Cargo.lock
  Cargo.toml
  src/common/arrow/Cargo.toml
  src/query/expression/src/utils/display.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
Labels: pr-feature, pr-chore

#10333 refactor: add query_id and active_result_scan to system.query_cache
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/result_cache/src/common.rs
  src/query/storages/result_cache/src/write/sink.rs
  src/query/storages/system/src/query_cache_table.rs
Labels: pr-refactor

#10332 docs: Fixed some styling issues the Blog contacted us with
  website/src/components/CustomBlog/Connectwithus.js
  website/src/components/CustomBlog/styles.module.scss
Labels: pr-doc

#10335 refactor: Migrate from common-jsonb to jsonb
  Cargo.lock
  Cargo.toml
  src/common/jsonb/Cargo.toml
  src/common/jsonb/src/constants.rs
  src/common/jsonb/src/de.rs
  src/common/jsonb/src/error.rs
  src/common/jsonb/src/from.rs
  src/common/jsonb/src/functions.rs
  src/common/jsonb/src/jentry.rs
  src/common/jsonb/src/json_path.rs
  src/common/jsonb/src/lib.rs
  src/common/jsonb/src/number.rs
  src/common/jsonb/src/parser.rs
  src/common/jsonb/src/ser.rs
  src/common/jsonb/src/util.rs
  src/common/jsonb/src/value.rs
  src/common/jsonb/tests/it/decode.rs
  src/common/jsonb/tests/it/encode.rs
  src/common/jsonb/tests/it/functions.rs
  src/common/jsonb/tests/it/main.rs
  src/common/jsonb/tests/it/parser.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/deserializations/variant.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_encoder/row_based.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/variant.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_presign.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/malloc_stats_table.rs
Labels: pr-refactor

#10331 feat(function): Support Map type get function
  src/query/ast/src/parser/expr.rs
  src/query/expression/src/property.rs
  src/query/expression/src/types/empty_map.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/base/03_common/03_0037_insert_into_map
Labels: pr-feature

#10336 docs(weekly): add this week in databend 83
  website/blog/2023-02-22-databend-weekly-82.md
  website/blog/2023-03-03-databend-weekly-83.md
  website/src/components/BaseComponents/AvatarGroup/index.js
  website/src/components/CustomBlog/Connectwithus.js
Labels: pr-doc

#10338 fix: function point_in_polygon require float64.
  src/query/functions/src/scalars/geo.rs
Labels: pr-bugfix

#10340 fix(expression): fix MAX/MIN of Decimal.
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/property.rs
  src/query/expression/src/types/decimal.rs
Labels: pr-bugfix

#10343 fix(function): fix function register order
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/src/decimal.rs
  src/common/io/src/lib.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/number_class.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/suites/0_stateless/13_tpch/13_0006_q6.sql
  tests/suites/0_stateless/13_tpch/13_0011_q11.sql
  tests/suites/0_stateless/13_tpch/13_0014_q14.result
  tests/suites/0_stateless/13_tpch/13_0014_q14.sql
  tests/suites/0_stateless/13_tpch/13_0017_q17.sql
  tests/suites/0_stateless/13_tpch/13_0020_q20.sql
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
Labels: pr-bugfix

#10341 ci: list_all_builtin_functions_ordered.
  src/query/functions/tests/it/main.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
Labels: pr-build

#10337 feat(query): enable aggregate spill for cluster mode
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/api/mod.rs
  src/query/service/src/api/rpc/exchange/exchange_injector.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/exchange_params.rs
  src/query/service/src/api/rpc/exchange/exchange_sink.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/exchange_source.rs
  src/query/service/src/api/rpc/exchange/exchange_transform.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_scatter.rs
  src/query/service/src/api/rpc/exchange/exchange_transform_shuffle.rs
  src/query/service/src/api/rpc/exchange/mod.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer_with_sorting.rs
  src/query/service/src/api/rpc/exchange/serde/mod.rs
  src/query/service/src/api/rpc/flight_scatter.rs
  src/query/service/src/api/rpc/flight_scatter_broadcast.rs
  src/query/service/src/api/rpc/flight_scatter_hash.rs
  src/query/service/src/api/rpc/mod.rs
  src/query/service/src/pipelines/pipeline_build_res.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_sorting.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_scatter_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
Labels: pr-feature, ci-benchmark

#10346 fix: decimal in JSON should be displayed as number, not string
  src/query/expression/src/deserializations/decimal.rs
  src/query/formats/src/field_encoder/json.rs
  tests/suites/1_stateful/05_formats/05_00_02_load_unload_simple.result
Labels: pr-bugfix, pr-feature

#10329 feat(query): support more advanced `unnest` operations.
  src/query/expression/src/expression.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/array.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/plans/scalar.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-feature

#10351 docs: refine the blog Connect With Us
  website/src/components/CustomBlog/Connectwithus.js
Labels: pr-doc

#10350 docs: blog for release 1.0
  website/blog/2023-03-04-databend-v1.0-release.md
  website/static/img/blog/release-1.0.png
  website/static/img/blog/table-cache.png
Labels: pr-doc

#10275 feat: parse decimal in expr.
  Cargo.lock
  src/common/auth/Cargo.toml
  src/common/http/Cargo.toml
  src/meta/embedded/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/sled-store/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/decimal.rs
  src/query/ast/tests/it/main.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/service/Cargo.toml
  src/query/settings/src/lib.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/limit.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/share/Cargo.toml
  tests/sqllogictests/suites/base/03_common/03_0012_select_number_type
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/duckdb/fuzzer/decimal_string_roundtrip.test
  tests/sqllogictests/suites/duckdb/issues/rigger/test_521.test
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_aggregate_types_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/query/02_function/02_0009_function_hashes
  tests/suites/0_stateless/13_tpch/13_0006_q6.sql
  tests/suites/0_stateless/13_tpch/13_0011_q11.sql
  tests/suites/0_stateless/13_tpch/13_0014_q14.sql
  tests/suites/0_stateless/13_tpch/13_0017_q17.sql
  tests/suites/0_stateless/13_tpch/13_0020_q20.sql
  tests/suites/0_stateless/13_tpch/13_0022_q22.sql
Labels: pr-feature

#10349 chore(test): remove embedded-meta standalone query ci
  .github/actions/build_linux_hive/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  Makefile
  scripts/ci/ci-run-fuzz-tests.sh
  scripts/ci/ci-run-stateful-hive-tests-standalone-embed-meta.sh
  scripts/ci/ci-run-stateful-hive-tests-standalone.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3-embed-meta.sh
  scripts/ci/deploy/config/databend-query-embedded-meta-hive.toml
  scripts/ci/deploy/config/databend-query-node-hive.toml
  scripts/ci/deploy/databend-query-standalone-embedded-meta.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
Labels: pr-chore

#10360 refactor(query): not supported embedded meta deployment
  src/binaries/Cargo.toml
  src/binaries/query/main.rs
Labels: pr-refactor

#10363 docs: Fix the adaptation problem of <Footer/> on the mobile side
  website/src/pages/index.module.scss
  website/src/theme/Footer/index.module.scss
Labels: pr-doc

#10357 feat(query): table function unnest.
  docs/doc/15-sql-functions/04-array-functions/index.md
  src/query/expression/src/values.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/src/table_functions/unnest.rs
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/table_args.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest
Labels: pr-feature

#10364 docs: add v1.0.0 change release
  docs/doc/80-releases/96-v1.0.0.md
Labels: pr-doc

#10365 refactor(meta): pub watch api for metastore
  Cargo.lock
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
Labels: pr-refactor

#10362 chore: upgrade pratt from 0.3.0 to 0.4.0
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/util.rs
Labels: pr-chore

#10347 feat(query): add pg caret func
  docs/doc/15-sql-functions/01-arithmetics-operators/index.md
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_arithmetic
Labels: pr-feature

#10358 fix(query): Support creating nested data types with nullable
  src/query/expression/src/schema.rs
  src/query/expression/src/values.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/sqllogictests/suites/base/09_fuse_engine/09_0021_read_tuple_array
Labels: pr-bugfix

#10375 refactor: the panic hook should output error to stderr, not only to log, in case there is a panic when initializing logging
  src/common/tracing/src/panic_hook.rs
Labels: pr-refactor

#10182 feat: support runtime filter
  Makefile
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/mod.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/runtime_filter_connector.rs
  src/query/service/src/pipelines/processors/transforms/runtime_filter/runtime_filter_source.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_filter.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/service/tests/it/storages/testdata/settings_table.txt
  src/query/settings/src/lib.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/runtime_filter/mod.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/runtime_filter_source.rs
  src/query/storages/common/index/src/filters/filter.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  tests/sqllogictests/suites/crdb/runtime_filter_join
  tests/sqllogictests/suites/query/runtime_filter_join.test
Labels: pr-feature

#10380 docs(deploy): fix meta bootstrap note for k8s deploy
  docs/doc/10-deploy/04-deploying-databend-on-kubernetes.md
  website/yarn.lock
Labels: pr-doc

#10359 feat(query): new system table system.table_functions.
  docs/doc/13-sql-reference/20-system-tables/system-table-functions.md
  docs/doc/14-sql-commands/40-show/show-table-functions.md
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/show.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/table_functions_table.rs
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions
Labels: pr-feature

#10383 docs(blog): remove connect with us
  website/blog/2022-11-30-databend-weekly-70.md
  website/blog/2022-12-07-databend-weekly-71.md
  website/blog/2022-12-14-databend-weekly-72.md
  website/blog/2022-12-21-databend-weekly-73.md
  website/blog/2022-12-28-databend-weekly-74.md
  website/blog/2023-01-04-databend-weekly-75.md
  website/blog/2023-01-11-databend-weekly-76.md
  website/blog/2023-01-18-databend-weekly-77.md
  website/blog/2023-01-25-databend-weekly-78.md
  website/blog/2023-02-01-databend-weekly-79.md
  website/blog/2023-02-08-databend-weekly-80.md
  website/blog/2023-02-15-databend-weekly-81.md
  website/blog/2023-02-22-databend-weekly-82.md
  website/blog/2023-02-24-Deploy-databend-on-minio.md
  website/blog/2023-03-03-databend-weekly-83.md
Labels: pr-doc

#10382 chore(test): make tpch work with cluster key
  benchmark/clickbench/tpch/create.sql
  benchmark/clickbench/tpch/create_local.sql
  benchmark/clickbench/tpch/queries.sql
  benchmark/tpch/prepare_fuse_table.sh
  benchmark/tpch/prepare_table.sh
  benchmark/tpch/tpch.sh
  tests/sqllogictests/suites/tpch/queries.test
  tests/suites/0_stateless/13_tpch/13_0000_prepare.sh
  tests/suites/0_stateless/13_tpch/13_0011_q11.result
  tests/suites/0_stateless/13_tpch/13_0011_q11.sql
Labels: pr-chore

#10368 fix: make `PushDownPrewhere` as a rule.
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/heuristic/mod.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
Labels: pr-bugfix

#10379 feat: replace into on multiple columns
  src/query/ast/src/ast/statements/replace.rs
  src/query/ast/src/parser/statement.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/replace.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/mutation_meta/merge_into_operation_meta.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processor_replace_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into
Labels: pr-feature

#10381 fix(query): fix nested data types encode as NDJSON
  src/query/formats/src/field_encoder/json.rs
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.sh
  tests/suites/1_stateful/05_formats/05_00_02_load_unload_simple.result
  tests/suites/1_stateful/05_formats/05_00_02_load_unload_simple.sh
Labels: pr-bugfix

#10389 docs(replace): add replace
  docs/doc/14-sql-commands/10-dml/dml-replace.md
Labels: pr-doc

#10388 chore(expr): pretty print expressions in explain
  src/query/expression/src/expression.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
Labels: pr-chore

#10390 fix: correct disk cache path in CI config files
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/ci/deploy/config/databend-query-node-shared.toml
Labels: pr-bugfix

#10369 feat: support function to_decimal(string).
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/decimal.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal
  tests/sqllogictests/suites/query/02_function/02_0014_function_maths
Labels: pr-feature

#10392 refactor(storage): compact batch read native arrays
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
Labels: pr-refactor

#10395 chore: rename UserStageInfo to StageInfo.
  src/common/storage/src/stage.rs
  src/meta/app/src/principal/user_stage.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v025_user_stage.rs
  src/meta/proto-conv/tests/it/v030_user_stage.rs
  src/meta/protos/proto/table.proto
  src/meta/protos/proto/user.proto
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/management/src/stage/stage_api.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/tests/it/stage.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/input_format.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/plans/copy.rs
  src/query/sql/src/planner/plans/ddl/stage.rs
  src/query/sql/src/planner/plans/list.rs
  src/query/sql/src/planner/plans/presign.rs
  src/query/storages/parquet/src/parquet_table/blocking.rs
  src/query/storages/parquet/src/parquet_table/non_blocking.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/stage/src/stage_table_sink.rs
  src/query/users/src/user_stage.rs
Labels: pr-chore

#10394 refactor(executor): always call sink on_finish
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/sync_sink.rs
Labels: pr-refactor

#10403 docs: add managing data part
  README.md
  docs/doc/00-overview/index.md
  docs/doc/01-guides/index.md
Labels: pr-doc

#10405 feat(query): new aggregation function `stddev_samp`.
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-stddev-samp.md
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
Labels: pr-feature

#10404 rfc: add 20230307-stage-with-schema.md
  docs/doc/90-contributing/01-rfcs/20230307-stage-with-schema.md
Labels: pr-rfc

#10411 feat(function): Support Variant function object_construct
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
Labels: pr-feature

#10408 chore: do not cache non-deterministic queries.
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#10413 fix: flaky test 09_0023_replace_into
  src/query/storages/fuse/src/operations/merge_into/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/replace_into/processor_replace_into.rs
Labels: pr-bugfix

#10416 docs: added cover to blog
  website/blog/2023-03-02-bendsql.md
  website/static/img/blog/bendsql-cover.png
Labels: pr-doc

#10415 docs: upgrade to 1.0
  docs/doc/10-deploy/09-upgrade/50-upgrade.md
  docs/doc/10-deploy/09-upgrade/90-upgrade-0.8-to-0.9.md
  docs/doc/10-deploy/09-upgrade/90-upgrade-1.0.md
Labels: pr-doc

#10419 docs: bendsql-cover
  website/static/img/blog/bendsql-cover.png
Labels: pr-doc

#10420 fix(cluster): use ctx runtime spawn flight action
  src/common/base/src/lib.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/pipelines/executor/executor_condvar.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
Labels: pr-bugfix

#10426 docs(stage): RFC: Transform During Load.
  docs/doc/90-contributing/01-rfcs/20230308-transform-during-load.md
Labels: pr-doc

#10423 chore(test): repeat 3 time for each pr
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  scripts/ci/ci-run-stateful-hive-tests-standalone.sh
  scripts/ci/ci-run-stateful-tests-cluster-s3.sh
  scripts/ci/ci-run-stateful-tests-standalone-s3.sh
  scripts/ci/ci-run-stateless-tests-cluster.sh
  scripts/ci/ci-run-stateless-tests-standalone.sh
  tests/suites/0_stateless/20+_others/20_0012_privilege_access.sh
Labels: pr-chore

#10437 chore(expr): pretty print more expressions in explain
  src/query/expression/src/expression.rs
  tests/sqllogictests/suites/mode/cluster/04_0002_explain_v2.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
Labels: pr-chore

#10434 chore: fixup: test_meta_node_restart: it should wait for the last log to be applied before writing a testing key
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-chore

#10440 chore: rename hard-state to vote
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/raft-store/tests/it/state.rs
  src/meta/service/src/store/store_bare.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-chore

#10441 docs: Adjust the 'code' style overflow under <TabItem/>
  website/src/css/custom.scss
Labels: pr-doc

#10436 ci: larger wait time for http handler long polling.
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-build

#10418 ci(ast): add some unit test for AST of stage table function and 'CREATE FILE FORMAT'
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-build

#10442 fix(query): unify features for opendal
  Cargo.toml
  src/common/storage/Cargo.toml
  src/query/service/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/storages/stage/Cargo.toml
Labels: pr-bugfix

#10447 fix(query): fix show create view result
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table
Labels: pr-bugfix

#10430 chore(query): add window function ast parser
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/udf_validator.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/aggregates/test_arg_min_max.test
Labels: pr-chore

#10446 fix(executor): fix wrong memory order
  src/query/service/src/pipelines/executor/executor_condvar.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
Labels: pr-bugfix, ci-benchmark

#10452 chore(building): upgrade vergen & replace git2 with gix
  .github/actions/build_linux/action.yml
  .github/workflows/release.yml
  Cargo.lock
  docker/build-tool/musl/Dockerfile
  src/common/building/Cargo.toml
  src/common/building/src/git.rs
  src/common/building/src/lib.rs
  src/meta/raft-store/src/config.rs
  src/meta/service/src/version.rs
  src/meta/types/src/config.rs
  src/query/config/src/version.rs
Labels: pr-chore

#10424 fix(query): fix table stats incorrect when create table with exists snapshot
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables
  tests/suites/1_stateful/02_query/02_0002_create_table_with_exists_snap.result
  tests/suites/1_stateful/02_query/02_0002_create_table_with_exists_snap.sh
Labels: pr-bugfix

#10465 docs: Fix Typo in Header
  docs/doc/00-overview/index.md
Labels: pr-doc

#10460 chore(deps): fix sentry crate was compiled without transport
  Cargo.lock
  src/binaries/Cargo.toml
  src/common/tracing/Cargo.toml
Labels: pr-chore

#10458 fix(query): make sort respect index
  src/query/sql/src/planner/binder/sort.rs
  tests/sqllogictests/suites/query/order.test
Labels: pr-bugfix

#10449 feat: new feature `enable-histogram-metrics`
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/metrics/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/service/Cargo.toml
  src/query/service/Cargo.toml
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/system/Cargo.toml
Labels: pr-feature

#10459 ci(bench): fix cluster key for tpch bench
  benchmark/clickbench/tpch/create.sql
  benchmark/clickbench/tpch/create_local.sql
  src/common/building/src/lib.rs
  src/common/tracing/src/macros.rs
  src/meta/client/src/lib.rs
  src/meta/service/src/version.rs
  src/meta/types/src/config.rs
  src/query/config/src/version.rs
Labels: pr-build, ci-benchmark

#10448 refactor(binder): extract util fn normalize_object_identifier_triple.
  src/query/service/src/interpreters/interpreter_view_alter.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/plans/ddl/view.rs
Labels: pr-refactor

#10469 fix(expr): get(tuple) may return nested Nullable
  src/query/expression/src/type_check.rs
  src/query/expression/src/types.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/tuple.txt
  src/query/functions/tests/it/scalars/tuple.rs
Labels: pr-bugfix

#10433 chore(planner): Refactor data type of `ScalarExpr`
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/heuristic/decorrelate.rs
  src/query/sql/src/planner/optimizer/heuristic/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/extract_or_predicates.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/parquet/src/pruning.rs
Labels: pr-chore

#10470 chore: rename json function `object_construct` as `json_object`
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
Labels: pr-chore

#10432 fix: if git-tag version is not found, stop building
  src/common/building/src/lib.rs
Labels: pr-bugfix

#10450 docs(monitor): rewrite docs for monitoring
  docs/doc/100-faq/20-how-to-tracing.md
  docs/doc/13-monitor/_category_.json
  docs/doc/13-monitor/jaeger.md
  docs/doc/13-monitor/sentry.md
Labels: pr-doc

#10474 feat(function): Add quantile and median agg function
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-median.md
  docs/doc/15-sql-functions/10-aggregate-functions/aggregate-quantile.md
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/parser.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix
Labels: pr-feature

#10478 ci: Bump toolchain to start rockets
  scripts/setup/rust-toolchain.toml
Labels: pr-build

#10475 docs: blog cache
  website/blog/2023-03-09-cache-query.md
  website/static/img/blog/cache.png
Labels: pr-doc

#10476 fix(planner): Fix count folding with prewhere
  src/query/sql/src/planner/plans/scan.rs
Labels: pr-bugfix

#10481 chore: Bump toolchain to nightly-2023-03-10
  Cargo.lock
  rust-toolchain.toml
  src/meta/app/src/principal/user_auth.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/datavalues/src/data_value.rs
  src/query/datavalues/src/types/data_type.rs
  src/query/datavalues/src/variant_value.rs
  src/query/expression/src/block.rs
  src/query/formats/src/delimiter.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/table_test_fixture.rs
  src/query/sharing-endpoint/src/accessor.rs
  src/query/sharing-endpoint/src/handlers.rs
  src/query/sharing-endpoint/src/models.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/table-meta/src/table/table_compression.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_mutator.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  tests/suites/1_stateful/07_insert_stage/00_0000_insert_with_stage.result
Labels: pr-chore

#10435 feat(query): make regexp initialized at compile time
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/servers/federated_helper.rs
  src/query/service/src/servers/http/clickhouse_federated.rs
  src/query/service/src/servers/http/mod.rs
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
Labels: pr-feature

#10472 chore: const fold function last_query_id's argument.
  src/query/expression/src/type_check.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/sql/src/lib.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#10493 feat: Add some covers to blog posts
  website/blog/2022-03-28-databend-v0.7-release.md
  website/blog/2022-06-09-quick-deploy.md
  website/blog/2022-07-05-databend-cloud-warehouse-fuse-engine.md
  website/blog/2022-07-19-databend-new-planner.md
  website/blog/2022-07-20-they-use-mergify.md
  website/blog/2022-07-28-load-data.md
  website/blog/2022-08-08-benchmark-tpc-h.md
  website/blog/2022-08-18-new-release.md
  website/blog/2022-09-08-find-peter.md
  website/blog/2022-09-14-json-datatype.md
  website/blog/2022-10-10-time-travel.md
  website/blog/2022-11-23-xor-filter.md
  website/blog/2022-11-28-hive.md
  website/blog/2022-12-13-indexing.md
  website/blog/2022-12-19-rust-profiling.md
  website/blog/2022-12-29-sqllogictest-framework.md
  website/blog/2023-01-31-databend-v0.9-release.md
  website/blog/2023-02-02-sccache.md
  website/blog/2023-02-14-pgo.md
  website/static/img/blog/cpu-and-memory.png
  website/static/img/blog/databend-indexing-explained.png
  website/static/img/blog/databend-minio-beginner-01.png
  website/static/img/blog/databend-using-TPC-H.png
  website/static/img/blog/databend-veight.png
  website/static/img/blog/databend-vnine.png
  website/static/img/blog/databend-vseven.png
  website/static/img/blog/deploying-databend-on-laptop.png
  website/static/img/blog/desiging-querying-json.png
  website/static/img/blog/find-peter-parker.png
  website/static/img/blog/from-git-to-fuse-engine.png
  website/static/img/blog/many-ways-to-load.png
  website/static/img/blog/new-databend-sql-planner.png
  website/static/img/blog/profile-guided-optimization.png
  website/static/img/blog/replace-bloom-filter.png
  website/static/img/blog/rewrite-in-rust.png
  website/static/img/blog/speed-up-hive.png
  website/static/img/blog/they-use-mergify.png
  website/static/img/blog/time-travel.png
  website/static/img/blog/why-you-should-try-sccache.png
Labels: pr-feature

#10484 fix(planner): Fix prewhere with grouping
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
Labels: pr-bugfix

#10485 feat(query): add endpoint for healthcheck
  src/query/service/src/servers/http/http_services.rs
Labels: pr-feature

#10457 feat(storage): Map data type support bloom filter
  Cargo.lock
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/scatter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  tests/sqllogictests/suites/base/03_common/03_0037_insert_into_map
Labels: pr-feature

#10491 chore: upgrade openraft to fix a too aggresive state check
  Cargo.toml
Labels: pr-chore

#10496 docs(weekly): add this week in databend 84
  website/blog/2023-03-10-databend-weekly-84.md
Labels: pr-doc

#10499 chore: remove stage files to batch
  Cargo.lock
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
Labels: pr-chore

#10488 chore(planner): Refine code
  Cargo.lock
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/explore_rules.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/mod.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/rule_set.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
Labels: pr-chore

#10504 chore: make delete file in batch to parallel
  src/query/storages/fuse/src/io/files.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/parallel.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
Labels: pr-chore

#10507 feat: add status for the operation in show processlist
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/metrics.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/service/src/interpreters/interpreter_list.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/stage/src/file.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/system/src/processes_table.rs
Labels: pr-feature

#10439 feat: do not throw an error if it appears in a short-circuited branch.
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/tests/it/scalars/control.rs
  src/query/functions/tests/it/scalars/testdata/control.txt
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/query/02_function/02_0010_function_if
Labels: pr-feature

#10511 chore(get_splits): change get_splits from Vec<String> to Vec<StageFileInfo>
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/input_format.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/interpreters/interpreter_copy.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/stage/src/stage_table_sink.rs
Labels: pr-chore, ci-benchmark

#10512 refactor: use mget_pb_values instead of get_pb_values in upsert_table_copied_file_info impl to do batch refine
  src/meta/api/src/schema_api_impl.rs
Labels: pr-refactor

#10510 fix(functions):fix function version with MySQL client
  src/query/service/src/servers/http/clickhouse_federated.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/mysql/mysql_federated.rs
  tests/sqllogictests/suites/query/case_sensitivity/query.test
Labels: pr-bugfix

#10471 fix(query): fix cluster hang when parallel execute query
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/sessions/session_context.rs
Labels: pr-bugfix, pr-refactor

#10513 docs: Sentry doc
  docs/doc/13-monitor/jaeger.md
  docs/doc/13-monitor/sentry.md
  docs/public/img/tracing/sentry-done.png
  docs/public/img/tracing/sentry-rust.png
Labels: pr-doc

#10514 feat: improve the parquet get splits to parallel
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/storages/fuse/src/io/files.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/parallel.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/mutation/mutation_transform.rs
Labels: pr-feature

#10377 ci(benchmark): run s3 clickbench with cloud
  .github/actions/benchmark_cloud/action.yml
  .github/actions/benchmark_local/action.yml
  .github/actions/setup_bendsql/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
Labels: pr-build

#10516 chore(ci): checkout before download artifacts
  .github/workflows/release.yml
  .github/workflows/trusted-benchmark.yml
Labels: pr-chore, ci-benchmark

#10518 chore(ci): fix download artifacts for benchmark
  .github/actions/benchmark_local/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  .github/workflows/trusted-benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-chore, ci-benchmark

#10517 fix(query): fix grant create user err
  src/meta/app/src/principal/user_privilege.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix

#10525 fix: show process status info
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session_info.rs
  src/query/storages/system/src/processes_table.rs
Labels: pr-bugfix

#10528 feat(query): system.tables add engine_full column
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/tables_table.rs
Labels: pr-feature
