Repository databendlabs/databend, pull requests merged in 2024-11, with the labels that each got.

#16745 refactor: Remove not used `async-std`
  Cargo.lock
  src/common/arrow/Cargo.toml
Labels: pr-refactor

#16743 chore: refine vacuum
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/storages/fuse/src/io/locations.rs
  tests/suites/5_ee/01_vacuum/01_003_vacuum_table_only_orphans.result
  tests/suites/5_ee/01_vacuum/01_003_vacuum_table_only_orphans.sh
Labels: pr-chore

#16746 chore: Remove not used dep `config`
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#16744 chore: refine vacuum (backport PR #16743 to release/v1.2.636-rc3)
  .cargo/audit.toml
  .github/workflows/dev.yml
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/storages/fuse/src/io/locations.rs
  tests/suites/0_stateless/18_rbac/18_0011_alter_own_username.result
  tests/suites/0_stateless/18_rbac/18_0011_alter_own_username.sh
  tests/suites/5_ee/01_vacuum/01_003_vacuum_table_only_orphans.result
  tests/suites/5_ee/01_vacuum/01_003_vacuum_table_only_orphans.sh
Labels: pr-chore

#16732 fix(query): remove single quotes for system.columns comment
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/base/01_system/01_0003_information_schema.test
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/base/06_show/06_0015_show_columns.test
Labels: pr-bugfix

#16748 fix: HTTP handle lost rows when result set is wide and large.
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#16738 feat: impl opendal::HttpFetch for StorageHttpClient
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/merge_group.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/http_client.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
Labels: pr-feature

#16753 fix: keep column statistics of all NULL column
  src/common/arrow/src/arrow/compute/merge_sort/mod.rs
  src/common/arrow/src/arrow/compute/sort/lex_sort.rs
  src/common/io/src/cursor_ext/cursor_read_bytes_ext.rs
  src/query/script/src/ir.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  tests/sqllogictests/suites/no_table_meta_cache/col_stats_of_all_null.test
Labels: pr-bugfix

#16756 fix: (backport to 636-rc3) keep column statistics of all NULL column (#16753)
  src/common/arrow/src/arrow/compute/merge_sort/mod.rs
  src/common/arrow/src/arrow/compute/sort/lex_sort.rs
  src/common/io/src/cursor_ext/cursor_read_bytes_ext.rs
  src/query/script/src/ir.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  tests/sqllogictests/suites/no_table_meta_cache/col_stats_of_all_null.test
Labels: pr-bugfix

#16747 chore(query): Introduce VecExt and SliceExt to check unsafe bounds in debug mode
  Cargo.lock
  Cargo.toml
  src/binaries/query/entry.rs
  src/common/base/Cargo.toml
  src/common/base/src/lib.rs
  src/common/base/src/slice_ext.rs
  src/common/base/src/vec_ext.rs
  src/common/base/tests/it/ext.rs
  src/common/base/tests/it/main.rs
  src/query/config/Cargo.toml
  src/query/config/src/lib.rs
  src/query/config/src/version.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
Labels: pr-chore

#16751 chore: make VACUUM TEMPORARY FILES killable
  src/common/io/src/lib.rs
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/expression/src/kernels/sort.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/interpreters/interpreter_vacuum_temporary_files.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/navigate.rs
Labels: pr-chore

#16718 refactor: change blocking pruning process to non-blocking channel
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/src/operations/read/block_partition_meta.rs
  src/query/storages/fuse/src/operations/read/block_partition_receiver_source.rs
  src/query/storages/fuse/src/operations/read/block_partition_source.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/native_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read_data.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_pipeline.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain_pipeline.test
Labels: pr-refactor, ci-benchmark

#16759 refactor: ensure last-purged log-id cursor in exported from databend-meta service
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/cmd/upsert_kv.rs
  tests/metactl/meta_v002.txt
  tests/metactl/want_exported_v003
Labels: pr-refactor

#16760 refactor: Consolidate `MetaStorageError` variants
  Cargo.lock
  src/meta/embedded/src/meta_embedded.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/ondisk/upgrade_to_v003.rs
  src/meta/raft-store/src/sm_v003/snapshot_store_v002.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/sled-store/src/bytes_error.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/stoerr/Cargo.toml
  src/meta/stoerr/src/lib.rs
  src/meta/stoerr/src/meta_bytes_error.rs
  src/meta/stoerr/src/meta_storage_errors.rs
Labels: pr-refactor

#16761 fix: `Files::remove_file_in_batch` should not swallow errors
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/storages/common/io/src/files.rs
Labels: pr-bugfix

#16762 chore: backport PR #16761 `release/v1.2.636 rc3`
  Cargo.lock
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/storages/common/io/src/files.rs
Labels: pr-chore

#16181 feat(query): function about convert_timezone #16177
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-feature

#15573 feat(functions): add new function: map_pick
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#16758 refactor(storage): refactor read virtual columns
  Cargo.lock
  src/common/arrow/src/native/read/reader.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/virtual_column_rewriter.rs
  src/query/storages/common/pruner/src/block_meta.rs
  src/query/storages/common/pruner/src/lib.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/read/utils.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_native.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/mutation_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  src/query/storages/fuse/src/pruning/virtual_column_pruner.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
Labels: pr-refactor

#16757 refactor: remove `location_prefix`, which is no longer supported
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/ee/src/attach_table/handler.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/connection.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/tests/location.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/suites/1_stateful/02_query/02_0001_create_table_with_external_location.result
  tests/suites/1_stateful/02_query/02_0001_create_table_with_external_location.sh
Labels: pr-refactor

#16770 chore: tweak batch deletion concurrency
  src/query/storages/common/io/src/files.rs
Labels: pr-chore

#16772 chore: (backport to 636-rc3) tweak batch deletion concurrency (#16770)
  src/query/storages/common/io/src/files.rs
Labels: pr-chore

#16769 feat(metrics): new storage_http_requests_count
  Cargo.lock
  src/common/metrics/src/metrics/storage.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/http_client.rs
Labels: pr-feature

#15567 feat(functions): add map_insert function
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#16722 feat: filter null value before join
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_filter_nulls.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/cluster/filter_nulls.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: pr-feature

#16782 fix(query): add tls config for udf client
  src/query/expression/src/utils/udf_client.rs
Labels: pr-bugfix

#16754 feat(query): Support rename dictionary ddl.
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/dictionary.rs
  src/query/ast/src/ast/statements/dictionary.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_dictionary_rename.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/dictionary.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/dictionary.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0037_ddl_dictionary.test
Labels: pr-feature

#16784 chore: using patched opendal based on v0.49.0
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#16740 feat(query): add last_day, previous_day, next_day function
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-feature

#16789 chore: remove obsolete version
  docker/it-hive/hive-docker-compose.yml
  docker/it-iceberg-rest/docker-compose.yaml
  tests/sqllogictests/scripts/docker-compose-iceberg-tpch.yml
Labels: pr-chore

#16786 fix: token and cookie session id miss match.
  Cargo.lock
  Cargo.toml
  src/query/service/src/auth.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/logout_handler.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/src/servers/http/v1/session/token.rs
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/client/global_cookie_store.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/suites/temp_table/alter_temp_tables.sql
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
  tests/suites/1_stateful/09_http_handler/09_0007_token.result
Labels: pr-bugfix

#16792 fix: clustering_information panic if string domain is none
  src/query/storages/fuse/src/table_functions/clustering_information.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0014_func_clustering_information_function.test
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
  tests/suites/1_stateful/09_http_handler/09_0009_cookie.py
Labels: pr-bugfix

#16795 chore: add snapshot location cache for attached table
  src/query/storages/fuse/src/fuse_table.rs
Labels: pr-chore

#16800 chore: update meta-service version info and compatibility doc
  src/meta/README.md
  src/meta/raft-store/src/ondisk/data_version.rs
  src/meta/raft-store/src/ondisk/version_info.rs
Labels: pr-chore

#16803 fix(query): fix broken file log layout
  src/common/tracing/src/init.rs
Labels: pr-bugfix

#16805 fix: re-ensure dir before upgrading
  src/meta/raft-store/src/ondisk/upgrade_to_v004.rs
Labels: pr-bugfix

#16809 refactor: when upgrading, do not import already purged garbage log entries
  src/meta/raft-store/src/ondisk/upgrade_to_v004.rs
Labels: pr-refactor

#16802 feat(query): expand trim/ltrim/rtrim
  src/query/ast/src/parser/expr.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/20+_others/20_0001_planner.test
  tests/sqllogictests/suites/query/functions/02_0055_function_strings_trim.test
Labels: pr-feature

#16650 feat: support pushdown predicate into iceberg engine
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/predicate.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/base/03_common/03_0005_select_filter.test
  tests/sqllogictests/suites/tpch_iceberg/prune.test
Labels: pr-feature

#16812 fix: purge may not work on tables after a flash back operation
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/storages/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/suites/0_stateless/20+_others/20_0011_purge_before.result
  tests/suites/0_stateless/20+_others/20_0011_purge_before.sh
Labels: pr-bugfix

#16816 fix: (backport) purge may not work on tables after a flash back operation (#16812)
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/storages/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/suites/0_stateless/20+_others/20_0011_purge_before.result
  tests/suites/0_stateless/20+_others/20_0011_purge_before.sh
Labels: pr-bugfix

#16819 chore: purge dropped view metadata during vacuum
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0002_vacuum_views.test
Labels: pr-chore

#16822 chore(query): keep queries detail and profile log format
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: pr-chore

#16726 feat(query): TopN window operator
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/kernels/sort_compare.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/utils/visitor.rs
  src/query/pipeline/core/src/processors/shuffle_processor.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_exchange.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_partial_top_n_exchange.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/executor/physical_plans/physical_window_partition.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_window_top_n.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/tpcds/spill.test
Labels: pr-feature, ci-cloud

#16815 chore(ci): test with different license
  .github/actions/build_linux/action.yml
  .github/actions/setup_license/action.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/merge_group.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  src/common/building/src/lib.rs
Labels: pr-chore

#16826 refactor: align metrics field names with current behavior
  src/meta/binaries/metactl/main.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_status.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/types/proto/meta.proto
Labels: pr-refactor

#16827 feat: uuid function from v4 to v7
  Cargo.toml
  src/query/functions/src/scalars/other.rs
Labels: pr-feature

#16830 feat: refine the rule `PushDownFilterWindowTopN` in case top n is equal to 0.
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_window_top_n.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-feature

#16828 chore(base): rollback to kernel signal handler after dump backtrace
  Cargo.lock
  src/common/exception/src/exception_backtrace.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/crash_hook.rs
  src/common/tracing/src/panic_hook.rs
Labels: pr-chore

#16821 refactor(base): support stacktrace in cluster mode
  src/common/exception/src/elf/library_loader.rs
  src/common/exception/src/elf/library_manager.rs
  src/common/exception/src/exception_backtrace.rs
  src/common/exception/src/exception_into.rs
  src/query/service/src/global_services.rs
Labels: pr-refactor

#16831 fix(storage): recluster endless loop
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
Labels: pr-bugfix

#16834 chore: remove unused codes
  src/query/catalog/src/table_context.rs
  src/query/service/src/pipelines/builders/builder_column_mutation.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
Labels: pr-chore

#16837 fix: incorrect table data disk cache key
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
Labels: pr-bugfix

#16785 refactor: refactor cte binder and fix materialized cte used in subquery
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_subquery.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/qualify.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/tpcds/materialized_cte.test
Labels: pr-refactor

#16838 chore: fix typo in `ColumnCacheKeyBuilder`
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
Labels: pr-chore

#16804 fix(query): fix group by with alias column can't bind the column
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  tests/sqllogictests/src/mock_source/redis_source.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
  tests/sqllogictests/suites/mode/cluster/create_table.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/clustering.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_project_set.test
  tests/sqllogictests/suites/query/functions/02_0062_function_unnest.test
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: pr-bugfix

#16842 fix(cluster): fix the possibility of connection leak when the cluster state is broken.
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/actions/init_query_fragments.rs
  src/query/service/src/servers/flight/v1/actions/start_prepared_query.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
Labels: pr-bugfix

#16843 fix(query): fix aggregator_groups_builder to work with string view
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_groups_builder.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by_old.test
Labels: pr-bugfix

#16845 fix(cluster): fix the possibility of connection leak when the cluster state is broken. (#16842)
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/actions/init_query_fragments.rs
  src/query/service/src/servers/flight/v1/actions/start_prepared_query.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
Labels: pr-bugfix

#16851 chore(cluster): disable parallel commit of cluster tasks
  src/query/service/src/clusters/cluster.rs
Labels: pr-chore

#16852 chore(cluster): disable parallel commit of cluster tasks (#16851)
  src/query/service/src/clusters/cluster.rs
Labels: pr-chore

#16849 fix(query): check storage request method with arg list-type
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/http_client.rs
Labels: pr-bugfix

#16829 fix: replace risky `dma_buffer_as_vec` implementations
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/dma.rs
  src/common/base/src/base/mod.rs
  src/common/base/src/lib.rs
  src/query/service/src/spillers/spiller.rs
Labels: pr-bugfix

#16853 chore(query): remove SliceExt
  src/common/base/src/lib.rs
  src/common/base/src/slice_ext.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/types/string.rs
Labels: pr-chore

#16855 chore(ci): separate build profile
  .github/actions/build_linux/action.yml
  .github/actions/build_macos/action.yml
  .github/scripts/bump_version.js
  .github/workflows/dev.yml
  .github/workflows/merge_group.yml
  Cargo.toml
  src/common/arrow/src/arrow/array/binview/mutable.rs
Labels: pr-chore

#16824 feat: add aws glue as an iceberg connection type
  Cargo.lock
  Cargo.toml
  src/meta/app/src/schema/catalog.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/v111_add_glue_as_iceberg_catalog_option.rs
  src/meta/protos/proto/catalog.proto
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/glue/queries.test
Labels: pr-feature

#16847 refactor: remove EmbeddedMeta
  Cargo.lock
  src/meta/embedded/Cargo.toml
  src/meta/embedded/src/kv_api_impl.rs
  src/meta/embedded/src/lib.rs
  src/meta/embedded/src/meta_embedded.rs
  src/meta/embedded/tests/it/kv_api_impl.rs
  src/meta/embedded/tests/it/schema_api_impl.rs
  src/meta/embedded/tests/it/testing.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/process/src/examples.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/mem_meta.rs
  src/meta/raft-store/src/mem_state_machine.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/mod.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/sm_v003/sm_v003_kv_api.rs
  src/meta/raft-store/src/sm_v003/sm_v003_test.rs
  src/meta/raft-store/src/state_machine_api.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/raft-store/tests/it/main.rs
  src/meta/raft-store/tests/it/state_machine/expire.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/meta/raft-store/tests/it/state_machine/schema_api_impl.rs
  src/meta/raft-store/tests/it/testing.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/testing.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/db.rs
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_iter.rs
  src/meta/sled-store/tests/it/main.rs
  src/meta/sled-store/tests/it/sled_iter.rs
  src/meta/sled-store/tests/it/sled_tree.rs
  src/meta/sled-store/tests/it/sled_txn_tree.rs
  src/meta/sled-store/tests/it/testing/fake_key_spaces.rs
  src/meta/sled-store/tests/it/testing/fake_state_machine_meta.rs
  src/meta/sled-store/tests/it/testing/mod.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/meta/types/src/errors/meta_errors.rs
  src/query/management/tests/it/cluster.rs
  src/query/management/tests/it/quota.rs
  src/query/management/tests/it/role.rs
  src/query/management/tests/it/setting.rs
  src/query/management/tests/it/stage.rs
  src/query/management/tests/it/udf.rs
  src/query/service/Cargo.toml
  src/query/service/src/local/mod.rs
Labels: pr-refactor

#16857 refactor: remove unused sled related codes
  src/meta/raft-store/src/ondisk/upgrade_to_v003.rs
  src/meta/raft-store/src/state_machine/mod.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/raft-store/src/state_machine/testing.rs
  src/meta/raft-store/tests/it/types.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/src/store/to_storage_error.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/bytes_error.rs
  src/meta/sled-store/src/lib.rs
  src/meta/sled-store/src/sled_serde.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/sled-store/src/store.rs
  src/meta/stoerr/src/meta_storage_errors.rs
Labels: pr-refactor

#16860 chore(query): remove useless new line for query log
  src/common/tracing/src/loggers.rs
Labels: pr-chore

#16863 chore: add some log
  src/query/storages/common/cache/src/read/loader.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
Labels: pr-chore

#16864 feat(query): add distributed pruning settings
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0102_distributed_pruning.sql
Labels: pr-feature

#16862 chore(query): improve distributed runtime filter
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/catalog/src/runtime_filter_info.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
Labels: pr-chore, ci-cloud

#16868 refactor: make ListKV non-blocking by returning stream directly
  Cargo.lock
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/meta_service/meta_leader.rs
Labels: pr-refactor

#16865 chore: enable stderr logging for `table_meta_inspector`
  src/binaries/tool/table_meta_inspector.rs
Labels: pr-chore

#16869 refactor: optimize query system.tables when query single table
  Cargo.lock
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_grant.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/user_functions_table.rs
Labels: pr-refactor, ci-benchmark-local

#16870 refactor(query): refactor geometry functions
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/io/Cargo.toml
  src/common/io/src/geography.rs
  src/common/io/src/geometry.rs
  src/common/io/src/lib.rs
  src/query/ast/Cargo.toml
  src/query/ast/src/parser/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/display.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-refactor

#16876 fix: raft-log wont write when exceeding 256M
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#16787 refactor: use jiff crate replace chrono in date/timestamp func
  Cargo.lock
  Cargo.toml
  src/common/io/Cargo.toml
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/src/format_settings.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/serialize.rs
  src/query/expression/tests/it/types.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/common_settings.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  src/query/service/src/servers/http/v1/query/string_block.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/task_history_table.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/base/11_data_type/11_0001_data_type_date_time.test
  tests/sqllogictests/suites/base/11_data_type/11_0005_data_type_date.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-refactor

#16879 chore(ci): adjust runner size
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.toml
  tests/sqllogictests/suites/query/set.test
  tests/sqllogictests/suites/tpch_iceberg/prune.test
Labels: pr-chore

#16883 fix(query): fix distinct set-returning function
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/dataframe.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
  tests/sqllogictests/suites/query/functions/02_0062_function_unnest.test
Labels: pr-bugfix

#16893 chore: bump opensrv
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  tests/sqllogictests/suites/query/set.test
  tests/sqllogictests/suites/tpch_iceberg/prune.test
Labels: pr-chore

#16884 feat: databend-meta adds more metrics about raft-log
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/raft_log_v004/mod.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/metrics/meta_metrics.rs
Labels: pr-feature

#16899 refactor: add new raft-log metrics to "metactl status" response
  Cargo.lock
  src/meta/binaries/metactl/main.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_status.rs
  src/meta/types/build.rs
  src/meta/types/proto/meta.proto
Labels: pr-refactor

#16889 fix: StreamVersionMismatched when using CTAS in multi statement trans…
  Cargo.lock
  src/query/ast/src/ast/statements/statement.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/mod.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0007_stream_ddl_txn.test
Labels: pr-bugfix

#16898 fix(ci): flaky test
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-bugfix

#16896 chore: enable ci workflow for branch "realease/*"
  .github/actions/setup_license/action.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/production.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
Labels: pr-chore

#16901 fix(storge): write progress in compact hook
  src/query/service/src/interpreters/hook/compact_hook.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
Labels: pr-bugfix

#16902 chore: remove unused config_id from RaftConfig
  src/meta/binaries/meta/entry.rs
  src/meta/binaries/metactl/export_from_disk.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/lib.rs
  src/meta/service/src/meta_service/forwarder.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/store.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/configs.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/store.rs
  src/meta/service/tests/it/tests/meta_node.rs
Labels: pr-chore

#16905 chore: sync cargo lock
  Cargo.lock
Labels: pr-chore

#16907 fix: ensure atomicity in create_lock_revision
  src/meta/api/src/schema_api_impl.rs
Labels: pr-bugfix

#16917 chore(ci): flaky test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
Labels: pr-chore

#16895 chore(ci): enable overflow-checks in ci profile
  Cargo.toml
  src/common/column/src/buffer/iterator.rs
  src/query/expression/benches/bench.rs
  src/query/expression/src/filter/like.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_mgr_status.rs
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-chore

#16766 feat(query): speed up fetching redis data from dictionaries via mget.
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/meta/app/src/schema/dictionary.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/src/mock_source/redis_source.rs
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: pr-feature

#16913 refactor: deprecate: Operation::AsIs and will be removed
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/background_api_test_suite.rs
  src/meta/api/src/kv_pb_api/codec.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/kv_pb_api/upsert_pb.rs
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/background/background_task.rs
  src/meta/binaries/meta/kvapi.rs
  src/meta/binaries/metabench/main.rs
  src/meta/binaries/metaverifier/main.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/kvapi/src/kvapi/message.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/tests/it/grpc/metasrv_connection_error.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/operation.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/query/ee/src/background_service/compaction_job.rs
  src/query/management/src/client_session.rs
  src/query/management/src/cluster/cluster_api.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/serde/pb_serde.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/management/tests/it/role.rs
  src/query/management/tests/it/user.rs
  src/query/service/src/clusters/cluster.rs
Labels: pr-refactor

#16915 chore: more recluster log
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Labels: pr-chore

#16890 refactor(sqlsmith): refactor sqlsmith using http client
  Cargo.lock
  Cargo.toml
  src/query/expression/src/row/row_converter.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/http_client.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: pr-refactor

#16919 chore(ci): flaky test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-chore

#16918 chore(query): add snapshot logs in read partitions
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-chore

#16924 feat(query): add new function TO_TIMESTAMP<int, scale>
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#16925 feat: disable specifying copy options when create stage.
  Cargo.lock
  src/common/storage/Cargo.toml
  src/common/storage/src/copy.rs
  src/meta/app/src/principal/user_stage.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/principal.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/read/error_handler.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/system/src/stages_table.rs
Labels: pr-feature

#16937 fix(query): join predict use cast_expr_to_non_null_boolean
  src/common/column/src/buffer/immutable.rs
  src/common/column/tests/it/buffer/immutable.rs
  src/query/expression/benches/bench.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-bugfix

#16936 chore: bump rustls version 0.23.18
  Cargo.lock
  Cargo.toml
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/service/src/servers/admin/admin_service.rs
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.sh
Labels: pr-chore

#16931 chore: (backport) enable overflow-checks in ci profile (#16895)
  .cargo/audit.toml
  .github/actions/build_linux/action.yml
  .github/workflows/dev.yml
  .github/workflows/reuse.linux.yml
  Cargo.toml
  src/common/arrow/src/arrow/buffer/iterator.rs
  src/query/expression/src/filter/like.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_mgr_status.rs
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-chore

#16933 fix(ci): flaky test
  src/query/service/src/pipelines/builders/builder_mutation.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-bugfix

#16861 chore(query): spilt binary symbol
  .github/actions/build_linux/action.yml
  .github/actions/pack_binaries/action.yml
  .github/actions/pack_distribution/action.yml
  .github/actions/publish_binary/action.yml
  .github/workflows/release.yml
  scripts/distribution/nfpm-dbg.yaml
  scripts/setup/dev_setup.sh
Labels: pr-chore

#16934 chore: `k way merge sort` add boundary check to prevent process crash
  src/query/pipeline/transforms/src/processors/transforms/sort/k_way_merge_sort_partition.rs
Labels: pr-chore

#16929 fix(query): add_hours function may panic if the argument is too big
  src/query/expression/src/utils/date_helper.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#16946 chore(ci): remove aarch64 musl in release
  .github/workflows/release.yml
Labels: pr-chore

#16773 feat(doc): Introducing Databend Guru on Gurubase.io
  README.md
Labels: pr-feature

#16945 ci: fix flaky test
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.result
  tests/suites/0_stateless/16_flashback/16_0001_flashback.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.result
  tests/suites/0_stateless/18_rbac/18_0004_view_privilege.result
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/0_stateless/20+_others/20_0018_stackoverflow.result
  tests/suites/0_stateless/20+_others/20_0019_set_cache_capacity_privilege_check.result
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0013_connection_errors.result
  tests/suites/1_stateful/02_query/02_0003_create_table_with_block_per_segment.result
  tests/suites/1_stateful/09_http_handler/09_0000_invalid_utf8.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.sh
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.result
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.result
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.result
  tests/suites/5_ee/05_stream/05_0002_ee_stream_create.result
Labels: pr-build

#16944 chore(planner): refine project set cardinality
  src/query/sql/src/planner/plans/project_set.rs
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_project_set.test
Labels: pr-chore

#16891 refactor: remove ValueRef and use Value instead
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/arithmetic_modulo.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/binary.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/decimal/arithmetic.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/src/scalars/decimal/comparison.rs
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/src/scalars/geo.rs
  src/query/functions/src/scalars/map.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/srfs/variant.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/cross_join.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
Labels: pr-refactor

#16932 chore: support recursive cte with normal cte
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
Labels: pr-chore

#16950 chore(binder): add enable_materialized_cte settings
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_cte.test
Labels: pr-chore

#16952 fix: lock attach table's snapshot location
  src/meta/app/src/schema/table.rs
  src/query/ee/src/fail_safe/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/test_kits/check.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/storages/common/table_meta/src/table/table_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/revert.rs
  src/query/storages/fuse/src/table_functions/function_template/fuse_table_meta_func.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshot.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
  src/query/storages/stream/src/stream_table.rs
Labels: pr-bugfix

#16958 fix(ci): fix release dbg upload path
  .github/actions/publish_binary/action.yml
Labels: pr-bugfix

#16949 chore(storage): do compact before recluster during compact hook
  src/query/service/src/interpreters/hook/compact_hook.rs
Labels: pr-chore

#16965 chore(ci): upgrade bendsql
  .github/actions/setup_bendsql/action.yml
Labels: pr-chore

#16927 feat(query): Support geometry relation functions
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#16955 fix(query): make memory engine as non-local table
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/memory/src/memory_part.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
Labels: pr-bugfix

#16966 refactor: make test_watch_expired_events() less sensitive to inaccurate time
  src/meta/binaries/metactl/import.rs
  src/meta/process/src/process_meta_dir.rs
  src/meta/raft-store/src/config.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/ondisk/upgrade_to_v004.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/tests/it/configs.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/tests/service.rs
Labels: pr-refactor

#16964 chore(storage): refine error message for stream read offset snapshot
  src/query/sql/src/planner/binder/binder.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/streams_table.rs
Labels: pr-chore

#16969 chore: bump ruzstd from 0.7.2 to 0.7.3
  Cargo.lock
Labels: pr-chore

#16963 feat: copy support option COLUMN_MATCH_MODE
  Cargo.lock
  src/meta/app/src/principal/file_format.rs
  src/meta/app/src/principal/user_stage.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/orc/src/copy_into_table/projection.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/schema.rs
  tests/sqllogictests/suites/stage/options/case_sensitive_parquet.test
Labels: pr-feature

#16948 feat(query): speed up fetching mysql data from dictionaries via batch processing.
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  tests/sqllogictests/src/mock_source/mysql_source.rs
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: pr-feature

#16962 chore(planner): improve physical join
  src/query/sql/src/executor/physical_plans/physical_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/tpch/join_order.test
Labels: pr-chore, ci-benchmark

#16974 fix: solve some inconsistencies between code and comments
  src/common/column/src/offset.rs
Labels: pr-bugfix
