Repository databendlabs/databend, pull requests merged in 2024-09, with the labels that each got.

#16358 chore: separate test run for temp_table suite
  scripts/ci/ci-run-sqllogic-tests.sh
Labels: pr-chore

#16357 refactor: simplify SchemaApi::list_indexes(), get_index() list_background_jobs()
  src/meta/api/src/background_api.rs
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/background_api_test_suite.rs
  src/meta/api/src/base_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/background/job_ident.rs
  src/meta/app/src/tenant_key/resource.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/pair.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/storages/system/src/background_jobs_table.rs
Labels: pr-refactor

#16355 chore(query): optimize window sort
  src/query/expression/src/function.rs
  src/query/functions/src/cast_rules.rs
  src/query/sql/src/planner/binder/column_binding.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_sort.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/semantic/lowering.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
Labels: A-query, pr-chore, pr-refactor, size:L

#16365 chore(code): update the version of gix-path in Cargo.lock
  Cargo.lock
Labels: dependencies, pr-chore, size:XS, lgtm

#16359 chore(query): reduce hash join memory usage
  src/common/hashtable/src/hashjoin_hashtable.rs
  src/common/hashtable/src/hashjoin_string_hashtable.rs
  src/common/hashtable/src/traits.rs
  src/query/expression/src/kernels/group_by_hash/method.rs
  src/query/expression/src/kernels/group_by_hash/method_dict_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/kernels/group_by_hash/method_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_single_string.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
Labels: A-query, pr-chore, pr-refactor, ci-benchmark, size:XXL, lgtm

#16366 refactor: simplify drop_index() with NameIdValueApi
  src/meta/api/src/lib.rs
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16369 chore(ci): add internal test
  benchmark/clickbench/internal/load.sh
  benchmark/clickbench/internal/queries/03.sql
Labels: pr-chore, size:S

#16343 feat: add error stack to ErrorCode
  Cargo.toml
  src/common/base/src/base/string.rs
  src/common/base/src/runtime/memory/stat_buffer.rs
  src/common/base/src/runtime/runtime.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/common/exception/src/context.rs
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_flight.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/src/lib.rs
  src/common/exception/tests/it/exception.rs
  src/common/io/src/bitmap.rs
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/meta/app/src/schema/lock.rs
  src/query/catalog/src/plan/agg_index.rs
  src/query/config/src/config.rs
  src/query/expression/src/converts/meta/bincode.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/src/values.rs
  src/query/pipeline/core/tests/it/pipelines/processors/port_test.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_reader.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_transform_shuffle.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_serializer.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/service.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/src/settings_global.rs
  src/query/sql/src/planner/bloom_index.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/storages/common/index/src/inverted_index.rs
  src/query/storages/common/table_meta/src/meta/format.rs
  src/query/storages/common/table_meta/src/meta/v4/segment.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/read/data_source_with_meta.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/hive/hive/src/utils.rs
  src/query/storages/orc/src/processors/decoder.rs
  src/query/storages/orc/src/strip.rs
  src/query/storages/system/src/query_log_table.rs
  src/query/users/src/user_udf.rs
Labels: pr-feature, lgtm

#16371 refactor: simplify dictionary API
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/dictionary.rs
  src/meta/app/src/schema/dictionary_id_ident.rs
  src/meta/app/src/schema/dictionary_identity.rs
  src/meta/app/src/schema/dictionary_name_ident.rs
  src/meta/app/src/schema/mod.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/interpreters/interpreter_dictionary_create.rs
  src/query/service/src/interpreters/interpreter_dictionary_drop.rs
  src/query/service/src/interpreters/interpreter_dictionary_show_create.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: A-query, A-meta, pr-refactor, size:XL, lgtm

#16368 fix(query): fix incorrect alias of select items
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
  src/query/sql/src/planner/binder/project.rs
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: C-bug, A-query, pr-bugfix, size:S, lgtm

#16364 feat: support vacuum temporary table
  Cargo.lock
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/table_context.rs
  src/query/management/src/client_session.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/common/session/Cargo.toml
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/table_functions/fuse_vacuum_temporary_table.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/temporary_tables_table.rs
  tests/data/csv/numbers_1.csv
  tests/data/csv/numbers_2.csv
  tests/sqllogictests/scripts/prepare_stage.sh
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions.test
  tests/sqllogictests/suites/stage/copy_into_temp_table.sql
  tests/sqllogictests/suites/temp_table/temporary_tables_table.sql
Labels: C-feature, C-mysql, A-query, pr-feature, size:L, lgtm

#16377 refactor: Add item count check to `KVPbApi::get_pb_stream()`
  src/meta/api/src/kv_pb_api/errors/mod.rs
  src/meta/api/src/kv_pb_api/errors/read_error.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/types/src/errors/meta_network_errors.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16375 feat: http handler support temp table.
  scripts/ci/ci-run-sqllogic-tests.sh
  src/query/catalog/src/table_context.rs
  src/query/service/src/auth.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/common/session/src/temp_table.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/stage/copy_into_temp_table.sql
  tests/sqllogictests/suites/temp_table/create_temp_tables.sql
  tests/sqllogictests/suites/temp_table/temp_memory_tables.sql
Labels: C-feature, A-query, pr-feature, size:L, lgtm

#16370 refactor(query): optimize show drop tables
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/databases/share/dummy_share_database.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/06_show/06_0019_show_drop_tables.test
Labels: A-query, pr-refactor, ci-benchmark-local, size:L, lgtm

#16384 chore: add logging for embedded meta test
  Cargo.lock
  src/meta/embedded/Cargo.toml
  src/meta/embedded/tests/it/main.rs
  src/meta/embedded/tests/it/schema_api_impl.rs
  src/meta/embedded/tests/it/testing.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/raft-store/src/state_machine/sm.rs
Labels: A-meta, pr-chore, size:M, lgtm

#16382 chore(query): Simplified sort simple rows implementation
  src/query/pipeline/transforms/src/processors/transforms/sort/cursor.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/pipeline/transforms/tests/it/merger.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
Labels: A-query, pr-chore, pr-refactor, size:XL, lgtm

#16386 refactor(query): refactor some codes of parquet2
  Cargo.lock
  src/common/arrow/src/lib.rs
  src/common/arrow/src/native/mod.rs
  src/common/arrow/src/native/read/mod.rs
  src/common/arrow/src/native/stat.rs
  src/common/arrow/src/native/write/common.rs
  src/common/arrow/src/native/write/writer.rs
  src/common/arrow/src/parquet_read.rs
  src/common/arrow/src/parquet_write.rs
  src/common/arrow/tests/it/native/io.rs
  src/common/arrow/tests/it/native/read_meta.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  tests/sqllogictests/Cargo.toml
Labels: A-query, pr-refactor, size:L, lgtm

#16390 feat(query): make external server parallel by batch
  Cargo.lock
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
Labels: C-feature, C-performance, A-query, pr-feature, size:L, lgtm

#16388 fix(executor): enable backpressure for union all
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
Labels: pr-bugfix, A-executor, ci-benchmark, size:XS, lgtm

#16362 feat: estimate selectivity by table sample
  Cargo.lock
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/join_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/mod.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/query_sample_executor.rs
  src/query/sql/src/planner/optimizer/filter/deduplicate_join_condition.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_relation.rs
  src/query/sql/src/planner/optimizer/join/single_to_inner.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/tpch/sample.test
Labels: C-feature, pr-feature, A-planner, size:XXL, lgtm

#16395 refactor: replace get_pb_value() with get_pb()
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/database.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16397 chore(ci): fix cargo clippy
  Cargo.lock
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
Labels: pr-chore, size:XS, lgtm

#16391 chore: add error stack to cmd entrence
  src/binaries/query/ee_main.rs
  src/binaries/query/entry.rs
  src/binaries/query/oss_main.rs
  src/common/base/src/runtime/catch_unwind.rs
  src/common/base/src/runtime/runtime.rs
  src/common/exception/src/context.rs
  src/common/exception/src/exception.rs
  src/common/exception/src/lib.rs
  src/common/exception/src/with_context.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/queries_pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/actions/flight_actions.rs
  src/query/service/src/servers/http/error.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/navigate.rs
Labels: pr-chore, size:L, lgtm

#16400 chore(query): add external server request profile
  src/common/base/src/runtime/profile/profiles.rs
  src/common/metrics/src/lib.rs
  src/common/metrics/src/metrics/external_server.rs
  src/common/metrics/src/metrics/mod.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
Labels: A-query, C-observability, pr-chore, size:M, lgtm

#16354 feat: introduce an intermediate version that is compatible with both …
  Cargo.toml
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/src/plan/stream_column.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
  src/query/storages/fuse/src/io/locations.rs
Labels: A-query, pr-feature, A-storage, size:L, lgtm

#16348 feat(query): Procedure (Part1)
  src/common/exception/src/exception_code.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/id_generator.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/procedure.rs
  src/meta/app/src/principal/procedure_id_ident.rs
  src/meta/app/src/principal/procedure_id_to_name.rs
  src/meta/app/src/principal/procedure_identity.rs
  src/meta/app/src/principal/procedure_name_ident.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/procedure_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v108_procedure.rs
  src/meta/protos/proto/procedure.proto
  src/query/ast/src/ast/statements/procedure.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/lib.rs
  src/query/management/src/procedure/mod.rs
  src/query/management/src/procedure/procedure_mgr.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_procedure_create.rs
  src/query/service/src/interpreters/interpreter_procedure_drop.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/procedure.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/procedures_table.rs
  src/query/users/src/lib.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_procedure.rs
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
Labels: pr-feature, size:XXL, lgtm

#16398 refactor: Add NameValueApi, simplify virtual column APIs
  src/meta/api/src/lib.rs
  src/meta/api/src/name_value_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/virtual_column.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/ee/src/virtual_column/virtual_column_handler.rs
  src/query/ee_features/virtual_column/src/virtual_column.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: A-meta, pr-refactor, size:XL, lgtm

#16405 chore(query): refactor udf retry
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/settings/src/settings_default.rs
Labels: A-query, pr-chore, size:M, lgtm

#16407 chore(query): add connect duration metric for udf
  src/common/metrics/src/metrics/external_server.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
Labels: A-query, pr-chore, size:S, lgtm

#16403 feat: add limit push down rule
  Cargo.lock
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
Labels: pr-feature, A-planner, size:L, lgtm

#16404 fix(iceberg): Handling options like "s3.region"
  src/query/storages/iceberg/src/catalog.rs
Labels: C-bug, pr-bugfix, A-storage, size:S, lgtm

#16408 chore: add join type for explain analyze partial
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_analyze_partial.test
Labels: pr-chore, size:S, lgtm

#16406 refactor: simplify catalog API
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/catalog_id_ident.rs
  src/meta/app/src/schema/catalog_name_ident.rs
Labels: A-meta, pr-refactor, size:L

#16410 fix: non-default catalog should not call get_table_function
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: C-bug, A-query, pr-bugfix, size:M, lgtm

#16409 feat(query): Support SHOW VARIABLES
  Cargo.lock
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/show_variables/mod.rs
  src/query/service/src/table_functions/show_variables/show_variables_table.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/show.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/query/show_variables.test
Labels: A-query, pr-feature, size:L, lgtm

#16413 refactor: Simplify table lock API.
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/name_value_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/lock.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/query/service/src/locks/lock_holder.rs
  src/query/service/src/locks/lock_manager.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16401 feat: compact after merge sort
  .cargo/audit.toml
  src/query/pipeline/transforms/src/processors/transforms/transform_pipeline_helper.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_block_compact_no_split.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
Labels: C-feature, A-query, pr-feature, ci-benchmark, size:L, lgtm

#16411 chore(query): introduce EmptyResultScan plan
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plans/physical_constant_table_scan.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
  tests/udf/udf_server.py
Labels: A-query, pr-chore, pr-refactor, ci-benchmark-cloud, size:XL, lgtm

#16416 refactor: remove unused `TableInfo.tenant`
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/locks/table_lock/mod.rs
Labels: A-meta, pr-refactor, size:S, lgtm

#16419 chore: bump quinn-proto to 0.11.8 for cargo audit pass
  Cargo.lock
Labels: dependencies, pr-chore, size:XS, lgtm

#16420 fix(query): fix stack overflow for optimizer
  src/query/sql/src/planner/optimizer/join/single_to_inner.rs
Labels: C-bug, pr-bugfix, A-planner, size:XS, lgtm

#16418 refactor: simplify least-visible-time schema API, add LeastVisibleTimeIdent
  src/meta/api/src/name_value_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/least_visible_time.rs
  src/meta/app/src/schema/least_visible_time_ident.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16425 refactor: add mget_id_value_compat()
  src/meta/api/src/name_id_value_api.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16258 fix: add custom (de)serialization methods for special float value
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/ordered_float.rs
  src/common/hashtable/Cargo.toml
  src/common/hashtable/src/traits.rs
  src/common/io/Cargo.toml
  src/common/io/src/stat_buffer.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/statistics.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/converts/datavalues/to.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/fill_field_default_value.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_encoder/values.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/scalars/boolean.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/src/scalars/math.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/rule/utils/constant.rs
  src/query/storages/delta/Cargo.toml
  src/query/storages/delta/src/partition_columns/values_serde.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/utils.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/stats.rs
  tests/sqllogictests/suites/base/issues/issue_16213.test
Labels: C-bug, A-query, pr-bugfix, size:XXL, lgtm

#16361 chore(planner): improve infer filter
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_materialized_cte.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_materialized_cte.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/cte_scan.rs
  src/query/sql/src/planner/plans/materialized_cte.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpch/join_order.test
  tests/sqllogictests/suites/tpch/join_order_with_accurate_his.test
  tests/sqllogictests/suites/tpch/spill.test
Labels: A-planner, pr-chore, size:XL, lgtm

#16429 fix: table lock flaky test
  src/query/service/src/locks/lock_manager.rs
  src/query/service/src/sessions/query_ctx.rs
Labels: C-bug, A-query, pr-bugfix, size:S, lgtm

#16431 fix(query): The columns permission of the system library is misjudged.
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
Labels: A-query, pr-bugfix, size:S, lgtm

#16421 refactor(query): first check privilege in SystemEngine get_full_data
  Cargo.lock
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/users/Cargo.toml
  src/query/users/src/visibility_checker.rs
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.result
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.sh
Labels: A-query, pr-refactor, size:XL, lgtm

#16424 feat: continue vacuum drop table on per-table cleanup failures
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  tests/suites/5_ee/01_vacuum/01_003_vacuum_drop_table_continue.result
  tests/suites/5_ee/01_vacuum/01_003_vacuum_drop_table_continue.sh
Labels: C-feature, pr-feature, A-meta, size:XL, lgtm

#16438 chore: log remote addr when meta-service raft API recevies a message
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
Labels: A-meta, pr-chore, size:M, lgtm

#16442 chore(query): limit max concurrency of spill io requests
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_reader.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: A-query, pr-chore, pr-refactor, ci-benchmark, size:M, lgtm

#16440 feat: Load DATABEND_ENTERPRISE_LICENSE_EMBEDDED while building
  src/common/building/src/lib.rs
  src/query/service/src/sessions/query_ctx.rs
Labels: A-query, pr-feature, size:S, lgtm

#16428 chore(query): make string to int respect behavior like PG
  benchmark/clickbench/internal/queries/04.sql
  src/query/expression/src/converts/arrow/from.rs
  src/query/expression/src/utils/serialize.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/planner/binder/column_binding.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/semantic/lowering.rs
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2_execption.test
  tests/sqllogictests/suites/query/functions/cast.test
Labels: A-query, A-planner, pr-chore, pr-refactor, size:L, lgtm

#16446 refactor: simplify vacuum drop table handling
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: A-query, pr-refactor, size:L, lgtm

#16249 chore: use logforth to replace fern
  Cargo.lock
  Cargo.toml
  scripts/ci/deploy/config/databend-query-node-otlp-logs.toml
  src/common/tracing/Cargo.toml
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/loggers.rs
  src/common/tracing/src/structlog.rs
  src/meta/client/src/grpc_client.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/pipelines/executor/queries_pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Labels: pr-chore, pr-refactor, size:XL

#16445 refactor(executor): use event cause to refactor shuffle processor
  src/query/pipeline/core/src/processors/shuffle_processor.rs
  src/query/pipeline/core/tests/it/pipelines/processors/shuffle.rs
Labels: A-executor, pr-refactor, size:L, lgtm

#16447 chore(query): add column: system.tables.total_columns
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/tables_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
Labels: A-query, pr-chore, size:S, lgtm

#16414 fix(iceberg): Table desc should allow nested db_name
  src/query/storages/iceberg/src/table.rs
Labels: pr-bugfix, A-storage, size:XS, lgtm

#16450 refactor: cleanup logic to get tables to vacuum
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16444 feat(query): Support access Mysql data from dictionaries via the `dict_get` function.
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_async_function.rs
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  src/query/sql/src/planner/binder/ddl/dictionary.rs
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/mock_source/mod.rs
  tests/sqllogictests/src/mock_source/mysql_source.rs
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: C-feature, C-mysql, A-query, pr-feature, size:XL, lgtm

#16443 feat: Auto compact(re-cluster) for multiple table insertion statement
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/conflict.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/common/generators/snapshot_generator.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  tests/sqllogictests/suites/base/09_fuse_engine/090101_multi_table_insert_auto_compact.sql
Labels: A-query, pr-feature, size:L, lgtm

#16435 fix: split if block too big during append
  src/query/catalog/src/table.rs
  src/query/expression/src/block.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_block_compact_for_copy.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_block.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/pipelines/builders/builder_append_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_location.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_distributed_insert_select.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_mutation.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/transform_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/stage/src/stage_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0005_remote_insert_into_select.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/udf/udf_server.py
Labels: A-query, pr-bugfix, size:XXL, lgtm

#16452 refactor: enhancements of HTTP client session.
  src/common/base/src/headers.rs
  src/meta/app/src/principal/user_token.rs
  src/query/service/src/auth.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/error.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/consts.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/logout_handler.rs
  src/query/service/src/servers/http/v1/session/mod.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/src/servers/http/v1/session/renew_handler.rs
  src/query/service/src/servers/http/v1/session/token.rs
  src/query/service/tests/it/auth.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
  tests/suites/1_stateful/09_http_handler/09_0007_token.result
Labels: A-query, pr-refactor, size:XXL, lgtm

#16455 chore(ci): fix dataset domain
  tests/sqllogictests/scripts/prepare_tpcds_data.sh
  tests/sqllogictests/scripts/prepare_tpch_data.sh
  tests/sqllogictests/suites/stage/copy_from_http.test
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.sh
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.sh
Labels: pr-chore, size:S, lgtm

#16457 fix: flaky test 09_0036_merge_into_without_dist
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-bugfix, A-storage, pr-chore, size:M, lgtm

#16422 fix: wrong order by result
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/sort.rs
  tests/sqllogictests/suites/base/20+_others/20_0001_planner.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
  tests/sqllogictests/suites/mode/standalone/explain/insert.test
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/subquery.test
Labels: C-bug, A-query, pr-bugfix, A-planner, size:XXL, lgtm

#16460 chore(ci): release with musl
  .github/workflows/release.yml
Labels: pr-chore, github_actions, size:M, lgtm

#16458 refactor(query): sort kernel optimization
  src/query/expression/src/kernels/mod.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/kernels/sort_compare.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/empty_map.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/utils/visitor.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
Labels: C-performance, A-query, pr-refactor, size:XL, lgtm

#16454 refactor: refactor vacuum
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
Labels: A-query, pr-refactor, size:L, lgtm

#16463 chore: simplify get_sequence() and get_sequence_next_value()
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/sequence_api.rs
  src/meta/api/src/sequence_api_impl.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/sequence.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: A-meta, pr-chore, pr-refactor, size:L

#16448 feat(query): refactor window spill
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_scatter.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_meta.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_scatter.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_sort.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/window_partition_meta.rs
  src/query/service/src/spillers/mod.rs
  src/query/service/src/spillers/partition_buffer.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/src/spillers/spiller_buffer.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: C-performance, A-query, pr-feature, ci-cloud, size:XXL, lgtm

#16465 fix: Multi-thread recreate view/table gives error
  src/meta/api/src/schema_api_impl.rs
  tests/suites/0_stateless/02_ddl/02_0000_create_drop_view.py
  tests/suites/0_stateless/02_ddl/02_0000_create_drop_view.result
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
Labels: pr-bugfix, A-meta, size:M, lgtm

#16467 chore(executor): support for data exchange between different processors within the pipeline
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/shuffle_processor.rs
Labels: A-executor, pr-chore, ci-cloud, size:L, lgtm

#16468 chore(executor): more edge detail for executing graph
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
Labels: A-executor, pr-chore, size:M, lgtm

#16469 fix: log query detail and profile with identical format
  src/common/tracing/src/init.rs
Labels: pr-bugfix, C-observability, size:XS, lgtm

#16470 fix: revert log format breakage from #16249
  Cargo.lock
  src/common/tracing/Cargo.toml
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: C-bug, pr-bugfix, size:L, lgtm

#16477 chore(ci): remove hdfs release
  .github/workflows/release.yml
Labels: pr-chore, size:M

#16466 feat(query): push rank limit into aggregate partial node
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/kernels/sort_compare.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_partial.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/optimizer/aggregate/normalize_aggregate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/operations/append.rs
  tests/sqllogictests/suites/mode/cluster/create_table.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: C-performance, A-query, pr-feature, size:XXL, lgtm

#16478 feat: add eliminate union optimizer rule
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_union.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/union.test
Labels: C-feature, pr-feature, A-planner, size:L, lgtm

#16471 refactor(query): use pipeline exchange to refactor window scatter
  src/query/pipeline/core/src/processors/shuffle_processor.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_scatter.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_exchange.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: A-query, pr-refactor, ci-benchmark, size:XL, lgtm

#16482 refactor(query): simplify expression kernel
  src/query/expression/src/block.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/kernels/utils.rs
  src/query/expression/src/utils/visitor.rs
  src/query/expression/tests/it/sort.rs
Labels: A-query, pr-refactor, size:XXL, lgtm

#16475 chore(query): null first behavior
  src/query/ast/src/parser/input.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/parquet/src/parquet_rs/statistics/column.rs
  tests/data/parquet/no-stats.parquet
  tests/sqllogictests/suites/query/order.test
  tests/sqllogictests/suites/stage/formats/parquet/select_parquet.test
Labels: C-bug, A-query, pr-chore, size:L, lgtm

#16479 refactor: add KVPbCrudApi as abstraction layer for commonly used CRUD operations
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/kv_pb_crud_api.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/name_value_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/table.rs
Labels: pr-chore, pr-refactor, size:L

#16484 refactor: add KVPbCrudApi::crud_try_insert() and crud_try_upsert()
  src/meta/api/src/kv_pb_crud_api.rs
  src/meta/api/src/name_value_api.rs
  src/meta/api/src/schema_api_impl.rs
Labels: A-meta, pr-refactor, size:L

#16483 chore: update nom-rule
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/data_mask.rs
  src/query/ast/src/parser/dynamic_table.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/script.rs
  src/query/ast/src/parser/sequence.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/stream.rs
  src/query/ast/tests/it/parser.rs
Labels: A-query, pr-chore, size:M, lgtm

#16485 refactor: SchemaApi::list_databases()
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/database_name_ident.rs
Labels: A-meta, pr-refactor, size:L

#16474 chore: bump proj4rs 0.1.4
  Cargo.lock
  Cargo.toml
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: dependencies, A-planner, pr-chore, size:S, lgtm

#16487 refactor: SchemaApi::get_database_history()
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/database_id_history_ident.rs
Labels: A-meta, pr-refactor, size:L

#16488 refactor: test SchemaApi::get_tenant_history_database()
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/mod.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: A-meta, pr-refactor, size:L

#16489 refactor(query): refactor license manager
  src/common/license/src/license_manager.rs
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/ee/src/license/license_mgr.rs
  src/query/ee/src/storage_encryption/handler.rs
  src/query/ee/src/storage_quota/handler.rs
  src/query/ee/src/test_kits/mock_services.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/interpreters/interpreter_data_mask_create.rs
  src/query/service/src/interpreters/interpreter_data_mask_desc.rs
  src/query/service/src/interpreters/interpreter_data_mask_drop.rs
  src/query/service/src/interpreters/interpreter_index_create.rs
  src/query/service/src/interpreters/interpreter_index_drop.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_stream_create.rs
  src/query/service/src/interpreters/interpreter_stream_drop.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/src/interpreters/interpreter_table_index_drop.rs
  src/query/service/src/interpreters/interpreter_table_index_refresh.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/service/src/interpreters/interpreter_vacuum_temporary_files.rs
  src/query/service/src/interpreters/interpreter_virtual_column_alter.rs
  src/query/service/src/interpreters/interpreter_virtual_column_create.rs
  src/query/service/src/interpreters/interpreter_virtual_column_drop.rs
  src/query/service/src/interpreters/interpreter_virtual_column_refresh.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_computed_columns.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/semantic/virtual_column_rewriter.rs
  src/query/storages/fuse/src/table_functions/fuse_amend.rs
Labels: A-query, pr-refactor, size:L, lgtm

#16492 refactor(query): refactor license manager
  src/binaries/query/entry.rs
  src/common/exception/src/exception_code.rs
  src/common/license/src/license.rs
  src/common/license/src/license_manager.rs
  src/query/ee/src/license/license_mgr.rs
Labels: A-query, pr-refactor, size:L, lgtm

#16495 refactor: simplify `DroppedId`. Replace manual comparison with string comparison
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/pair.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: A-meta, pr-refactor, size:L, lgtm

#16491 refactor: update dependency datafusion-orc.
  Cargo.lock
  Cargo.toml
Labels: dependencies, pr-refactor, size:XS, lgtm

#16499 chore: simplify get_gc_table_info()
  src/meta/api/src/schema_api_impl.rs
Labels: A-meta, pr-chore, size:M, lgtm

#16494 chore: add extra bracket for `and` and `or` to make explain clear
  Cargo.lock
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/multi_table_insert.sql
  tests/sqllogictests/suites/mode/standalone/explain/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/pr_16069.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/task/task_dag_test.test
  tests/suites/0_stateless/20+_others/20_0018_stackoverflow.result
Labels: A-query, pr-bugfix, pr-chore, size:L, lgtm

#16503 refactor: get_tableinfos_by_ids()
  src/meta/api/src/util.rs
Labels: pr-refactor, size:M, lgtm

#16509 chore(query): replace to datafuse-extras/dtparse
  src/query/functions/Cargo.toml
Labels: dependencies, pr-chore, size:XS, lgtm

#16510 fix(query): fix planner cache cause modify async function does not take effect
  Cargo.lock
  Cargo.toml
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/planner_cache.rs
  src/query/sql/src/planner/semantic/async_function_rewriter.rs
  src/query/sql/src/planner/semantic/udf_rewriter.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: C-bug, pr-bugfix, A-planner, size:M, lgtm

#16493 chore(query): refactor like function
  Cargo.lock
  src/common/arrow/src/native/compression/binary/mod.rs
  src/common/arrow/src/native/compression/boolean/mod.rs
  src/common/arrow/src/native/compression/double/mod.rs
  src/common/arrow/src/native/compression/integer/mod.rs
  src/common/arrow/src/native/compression/mod.rs
  src/common/arrow/src/native/mod.rs
  src/common/arrow/src/native/read/array/binary.rs
  src/common/arrow/src/native/read/read_basic.rs
  src/common/arrow/src/native/stat.rs
  src/query/expression/src/filter/filter_executor.rs
  src/query/expression/src/filter/like.rs
  src/query/expression/src/filter/mod.rs
  src/query/expression/src/filter/select.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/filter/select_value/mod.rs
  src/query/expression/src/filter/select_value/select_column_scalar.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/filter/volnitsky.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/string.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/service/src/pipelines/builders/transform_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_filter.rs
  src/query/service/tests/it/pipelines/filter/filter_executor.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/system/src/procedures_table.rs
Labels: C-performance, C-improvement, A-query, pr-chore, pr-refactor, size:XXL, lgtm

#16498 chore(storage): hook recluster avoid scan all segments
  src/query/expression/src/utils/block_thresholds.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
  tests/suites/0_stateless/02_ddl/02_0000_create_drop_view.py
Labels: A-storage, pr-chore, size:L, lgtm

#16513 chore: update source repo for async-compression
  Cargo.lock
  src/common/compress/Cargo.toml
Labels: dependencies, pr-chore, size:XS, lgtm

#16506 chore: simplify SchemaApi::truncate_table()
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-chore, pr-refactor, size:L, lgtm

#16514 feat(catalog): ignore error when listing databases
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: A-query, pr-feature, size:S, lgtm

#16515 fix: `ignore_result` doesn't have an effect on union
  src/query/service/src/schedulers/scheduler.rs
  tests/sqllogictests/suites/query/union.test
Labels: A-query, pr-bugfix, size:S, lgtm

#16516 refactor: remove get_pb_value()
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
Labels: A-meta, pr-refactor, size:M, lgtm

#16519 refactor: Output whole error message with source while retry
  src/common/storage/src/operator.rs
Labels: pr-refactor, size:S, lgtm

#16517 refactor: unify path of write segment
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/table_meta/src/meta/v4/segment.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/io/write/mod.rs
  src/query/storages/fuse/src/io/write/segment_writer.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/mutator/segment_compact_mutator.rs
Labels: A-storage, pr-refactor, size:L, lgtm

#16520 chore(query): move recursion & backtrace crate to datafuse-extras
  Cargo.lock
  Cargo.toml
Labels: pr-chore, size:XS, lgtm

#16522 feat: limit stage name to plain_identifier
  src/query/ast/src/parser/common.rs
Labels: A-query, pr-feature, size:S, lgtm

#16507 feat(query): Initial implementation of postgres-compatible number `to_char` function
  .typos.toml
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/src/lib.rs
  src/common/io/src/number.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0078_function_to_char.test
Labels: A-query, pr-feature, size:XXL, lgtm

#16500 feat(query): Procedure support drop if exists and create or replace
  src/meta/app/src/principal/procedure.rs
  src/query/ast/src/ast/statements/procedure.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/procedure/procedure_mgr.rs
  src/query/service/src/interpreters/interpreter_procedure_create.rs
  src/query/service/src/interpreters/interpreter_procedure_drop.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/sql/src/planner/plans/ddl/procedure.rs
  src/query/users/src/user_procedure.rs
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
Labels: A-query, pr-feature, size:L, lgtm

#16530 feat(query): DATE_ADD Functions to support week as a unit
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#16529 fix(query): fix copy into table with disable distributed copy into
  src/query/sql/src/executor/physical_plan.rs
  tests/sqllogictests/suites/base/03_common/03_0046_copy_into_from_stage.test
Labels: A-query, pr-bugfix, size:M, lgtm

#16518 feat: http handler add X-DATABEND-VERSION in each response.
  src/common/base/src/headers.rs
  src/query/service/src/servers/http/middleware/metrics.rs
  src/query/service/src/servers/http/middleware/mod.rs
  src/query/service/src/servers/http/middleware/panic_handler.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/mod.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/query/string_block.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/http/json_block.rs
Labels: A-query, pr-feature, size:L, lgtm

#16531 refactor: dropped table listing and GC
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-refactor

#16537 fix(query): fix column leaf_index
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
Labels: pr-bugfix, pr-chore

#16538 refactor: gc_dropped_db_by_id()
  src/common/base/src/lib.rs
  src/common/base/src/vec_ext.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
Labels: pr-refactor

#16539 fix: Only when all tables are included, the db can be dropped
  src/meta/api/src/schema_api_impl.rs
Labels: pr-bugfix

#16536 chore(query): add more asserts
  src/query/catalog/src/plan/stream_column.rs
  src/query/expression/src/block.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/sort_compare.rs
Labels: pr-chore

#16540 refactor: SchemaAPI::do_get_table_history
  src/meta/api/src/schema_api_impl.rs
Labels: pr-refactor

#16502 feat: short sql length setting
  src/common/base/src/base/string.rs
  src/common/base/tests/it/string.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/tests/it/setting.rs
Labels: C-feature, pr-feature, C-setting-changed, size:XS

#16542 refactor: `DroppedId` for listing db/tables for gc
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-refactor

#16546 chore: update repo for workflows
  .github/ISSUE_TEMPLATE/20_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/publish_binary/action.yml
  .github/actions/publish_deb/action.yml
  .github/actions/setup_bendsql/action.yml
  .github/scripts/notify_release.js
  .github/workflows/release.yml
Labels: pr-chore

#16545 refactor: `get_history_tables_for_gc()` should not return `TableInfo`, but just table name, id and values
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/table_niv.rs
Labels: pr-refactor

#16547 refactor(storage): improve inverted index match phrase query
  Cargo.lock
  Cargo.toml
  src/common/arrow/src/arrow/array/list/mutable.rs
  src/common/arrow/src/arrow/offset.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_internal_columns.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/sql/src/planner/planner_cache.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/inverted_index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  src/query/storages/stream/src/stream_table.rs
Labels: pr-refactor

#16548 fix: move TableInfo building out of SchemaApi
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: pr-bugfix

#16544 feat: unset table options
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/interpreters/interpreter_table_unset_options.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/05_ddl/05_0058_ddl_alter_table_unset_options.test
Labels: pr-feature

#16553 fix: identify failed vacuum db by id
  src/meta/api/src/schema_api_impl.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-bugfix
