Repository databendlabs/databend, pull requests merged in 2024-02, with the labels that each got.

#14524 feat(query): agg-hashtable-singleton
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/utils.rs
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/mod.rs
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/aggregate/probe_state.rs
  src/query/expression/src/kernels/utils.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/expression/src/utils/mod.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature, ci-cloud

#14545 feat: system table add query_log.log_type_name and cluster.cluster_id
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/clusters_table.rs
  src/query/storages/system/src/query_log_table.rs
  tests/suites/1_stateful/02_query/02_0006_system_table_query_speed.py
Labels: pr-feature

#14546 chore(query): need refactor system table test into benchmark
  tests/suites/1_stateful/02_query/02_0006_system_table_query_speed.py
  tests/suites/1_stateful/02_query/02_0006_system_table_query_speed.result
Labels: pr-chore

#14523 fix(executor): fix some display name for profile plans
  src/query/pipeline/core/src/processors/profiles.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/common.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
Labels: pr-bugfix

#14472 fix(ddl): fix create table bitmap and variant with default value
  src/query/expression/src/evaluator.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/cast.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/bitmap.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_cast_schema.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/values.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/plans/update.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant.test
  tests/sqllogictests/suites/base/03_common/03_0027_insert_default.test
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/duckdb/join/natural/natural_join.test
  tests/sqllogictests/suites/duckdb/join_small_block/natural/natural_join.test
  tests/sqllogictests/suites/query/02_function/02_0002_function_cast.test
  tests/sqllogictests/suites/query/02_function/02_0010_function_if.test
  tests/sqllogictests/suites/query/02_function/02_0048_function_semi_structureds_parse_json.test
  tests/sqllogictests/suites/query/02_function/02_0061_function_array.test
  tests/sqllogictests/suites/query/select.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#14442 feat: support single join to inner join
  src/common/hashtable/src/traits.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rule_set.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-benchmark

#14549 chore: refactor pattern plan with `Matcher`
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_expr.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/distributed/sort_and_limit.rs
  src/query/sql/src/planner/optimizer/extract.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/m_expr.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/pattern_extractor.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_fold_count_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_normalize_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_project_set.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_window.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_expression.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_window.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_split_aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/pattern.rs
Labels: pr-chore

#14554 fix(executor): fix broken profile graph for cluster mode
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/sql/src/executor/physical_plan.rs
Labels: pr-bugfix

#14548 feat: add create or replace stage support
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/stage/stage_api.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/tests/it/stage.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/plans/ddl/stage.rs
  src/query/users/src/user_stage.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage.test
Labels: pr-feature

#14557 chore: remove `get_table_index` method
  src/query/service/src/pipelines/builders/merge_into_join_optimizations.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plans/physical_exchange_source.rs
Labels: pr-chore

#14470 feat(geo): add geometry data type
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_code.rs
  src/common/exception/src/exception_into.rs
  src/common/io/Cargo.toml
  src/common/io/src/geometry.rs
  src/common/io/src/lib.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v080_geometry_datatype.rs
  src/meta/protos/proto/datatype.proto
  src/query/expression/Cargo.toml
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/converts/arrow2/from.rs
  src/query/expression/src/converts/arrow2/mod.rs
  src/query/expression/src/converts/arrow2/to.rs
  src/query/expression/src/converts/datavalues/to.rs
  src/query/expression/src/converts/meta/bincode.rs
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/property.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/values.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/bitmap.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/02_function/02_0060_function_geometry.test
Labels: pr-feature

#14563 refactor(query): disallowed tokio::spawn method
  Cargo.lock
  Cargo.toml
  clippy.toml
  src/binaries/metabench/main.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/base/tests/it/stoppable.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/common/grpc/src/dns_resolver.rs
  src/common/http/Cargo.toml
  src/common/http/src/http_shutdown_handlers.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/store.rs
  src/meta/service/src/watcher/watcher_manager.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/query/ee/src/background_service/job_scheduler.rs
  src/query/ee/tests/it/background_service/job_scheduler.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/service/src/api/rpc/flight_client.rs
  src/query/service/src/api/rpc_service.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/local/display.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_async_barrier.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/servers/flight_sql/flight_sql_server.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/src/servers/http/v1/query/expiring_map.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/hive/hive/src/hive_parquet_block_reader.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/users/src/role_cache_mgr.rs
Labels: pr-refactor, ci-benchmark

#14525 feat(query): support early filtering for more join types
  src/common/hashtable/src/hashjoin_hashtable.rs
  src/common/hashtable/src/hashjoin_string_hashtable.rs
  src/common/hashtable/src/traits.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  tests/sqllogictests/suites/tpch/join.test
Labels: pr-feature, ci-benchmark

#14559 chore: make runtime filter for broadcast rework
  src/query/service/tests/it/sql/planner/format/mod.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/join.rs
Labels: pr-chore

#14555 chore(ci): add system tables/columns benchmark cloud
  .github/workflows/reuse.benchmark_query_meta.yml
  benchmark/clickbench/README.md
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/internal/load.sh
  benchmark/clickbench/internal/queries.sql
Labels: pr-chore, ci-benchmark

#14569 feat: add runtime filter stats info to profile
  src/query/pipeline/core/src/processors/profiles.rs
  src/query/sql/src/executor/format.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-feature

#14575 chore: format `reuse.benchmark_query_meta.yml`
  .github/workflows/reuse.benchmark_query_meta.yml
Labels: pr-chore

#14574 chore: improve parallel run for merge into
  src/query/service/src/pipelines/builders/builder_merge_into.rs
Labels: pr-chore

#14567 fix(query): revoke need consider GrantObject::Database/Table
  .github/actions/fuse_compat/action.yml
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  tests/fuse-compat/compat-logictest/revoke/fuse_compat_read
  tests/fuse-compat/compat-logictest/revoke/fuse_compat_write
Labels: pr-bugfix, ci-benchmark-suites

#14576 fix(query): fix double panic if enable_experimental_aggregate_hashtable
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
Labels: pr-bugfix, ci-cloud

#14580 feat: add create or replace connection support
  src/query/ast/src/ast/statements/connection.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/connection/connection_api.rs
  src/query/management/src/connection/connection_mgr.rs
  src/query/service/src/interpreters/interpreter_connection_create.rs
  src/query/sql/src/planner/binder/ddl/connection.rs
  src/query/sql/src/planner/plans/ddl/connection.rs
  src/query/users/src/connection.rs
  tests/sqllogictests/suites/base/05_ddl/05_0033_ddl_connection.test
Labels: pr-feature

#14583 feat: add create or replace user support
  src/meta/api/src/schema_api_impl.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/user/user_api.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/user.rs
  src/query/service/src/auth.rs
  src/query/service/src/interpreters/interpreter_user_create.rs
  src/query/service/tests/it/auth.rs
  src/query/service/tests/it/storages/system.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/network_policy.rs
  src/query/users/tests/it/password_policy.rs
  src/query/users/tests/it/user_mgr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0004_ddl_create_user.test
Labels: pr-feature

#14578 chore(executor): using human format for explain analyze profile
  Cargo.lock
  src/query/pipeline/core/Cargo.toml
  src/query/pipeline/core/src/processors/profiles.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/sql/src/executor/format.rs
Labels: pr-chore

#14584 feat: add #- json operator
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json.test
Labels: pr-feature

#14581 feat: add support for create or replace function
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/udf/udf_api.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/tests/it/udf.rs
  src/query/service/src/interpreters/interpreter_user_udf_create.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/plans/ddl/udf.rs
  src/query/users/src/user_udf.rs
  src/query/users/tests/it/user_udf.rs
  tests/sqllogictests/suites/base/05_ddl/05_0010_ddl_create_udf.test
Labels: pr-feature

#14586 fix: fix comment for observe_append_send_spent
  src/meta/service/src/network.rs
Labels: pr-bugfix

#14556 fix: insert binary
  src/query/formats/src/field_decoder/fast_values.rs
  tests/sqllogictests/suites/base/03_common/03_0041_insert_into_binary.test
Labels: pr-bugfix

#14590 fix(query): fix parse unsigned integer with number
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#14589 refactor: refine UdfMgr
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/app/src/schema/create_option.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/binder/ddl/connection.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/plans/ddl/database.rs
Labels: pr-refactor

#14592 fix: incorrect schema may be used while executing `replace-into`
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_append_table.rs
  src/query/service/src/pipelines/builders/builder_distributed_insert_select.rs
  src/query/service/src/pipelines/builders/builder_fill_missing_columns.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/sql/src/executor/physical_plans/physical_replace_deduplicate.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0024_replace_into_issue_14593.test
Labels: pr-bugfix

#14596 feat: add create or replace stream support
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/stream.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/stream.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/src/stream/handler.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/plans/ddl/stream.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-feature

#14599 feat: add create or replace view support
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/view.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/plans/ddl/view.rs
  tests/sqllogictests/suites/base/05_ddl/05_0019_ddl_create_view.test
Labels: pr-feature

#14603 chore(ci): fix benchmark labels for local
  .github/actions/benchmark_cloud/action.yml
  .github/actions/benchmark_local/action.yml
  .github/workflows/cloud.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.benchmark_query_meta.yml
Labels: pr-chore

#14604 fix(ast): unexpected cut in not null
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
Labels: pr-bugfix

#14606 chore: add error message on refresh table info
  src/query/service/src/databases/default/default_database.rs
Labels: pr-chore

#14571 chore: refine hash join code
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
Labels: pr-chore

#14608 chore(ci): fix benchmark scripts
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_local.sh
Labels: pr-chore

#14605 feat: Add KVPbApi: protobuf support for meta-service
  src/meta/api/src/kv_pb_api.rs
  src/meta/api/src/lib.rs
  src/query/management/src/udf/udf_mgr.rs
Labels: pr-feature

#14602 chore: make materialized cte scan_progress accurate
  src/query/pipeline/sources/src/async_source.rs
Labels: pr-chore

#14613 refactor: get_udf() does not need to specify Seq
  src/meta/api/src/kv_pb_api.rs
  src/query/management/src/udf/udf_api.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/users/src/user_udf.rs
Labels: pr-refactor

#14561 feat: use materialized cte for standard stream
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
  tests/sqllogictests/suites/query/materialized_cte.test
Labels: pr-feature, ci-cloud

#14601 chore: Bump OpenDAL to pinned tag version
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#14611 feat: add create or replace file format support
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/connection/connection_mgr.rs
  src/query/management/src/file_format/file_format_api.rs
  src/query/management/src/file_format/file_format_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/service/src/interpreters/interpreter_file_format_create.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/plans/ddl/file_format.rs
  src/query/users/src/file_format.rs
  tests/sqllogictests/suites/base/05_ddl/05_0030_ddl_file_format.test
Labels: pr-feature

#14612 chore(ci): benchmark system table query speed with a large test data
  benchmark/clickbench/internal/load.sh
  benchmark/clickbench/internal/queries.sql
Labels: pr-chore

#14619 chore(ci): load benchmark data from hits_100m_obfuscated_v1
  benchmark/clickbench/hits/load.sql
Labels: pr-chore

#14620 chore(ci): remove dummy dataset for benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14621 chore(ci): fix hits benchmark schema
  benchmark/clickbench/hits/create.sql
  benchmark/clickbench/hits/create_local.sql
  benchmark/clickbench/hits/load.sql
Labels: pr-chore

#14625 chore(ci): tmp disable local hits benchmark
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/hits/create.sql
  benchmark/clickbench/hits/create_local.sql
Labels: pr-chore

#14627 chore(ci): fix internal test reduce bendsql warn
  benchmark/clickbench/internal/load.sh
Labels: pr-chore

#14628 chore(ci): fix download benchmark results
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14630 chore(ci): fix get dataset from benchmark result file
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14629 fix(query): try fix oom with large sort limit
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_sort.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_window.rs
  tests/sqllogictests/suites/base/03_common/03_0042_select_large_limit.test
Labels: pr-bugfix

#14623 refactor: Add `KVPbApi::list_pb()`, simplify `UdfMgr::get_udfs()`
  Cargo.lock
  src/meta/api/src/kv_pb_api.rs
  src/meta/kvapi/src/kvapi/item.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/query/management/Cargo.toml
  src/query/management/src/udf/udf_mgr.rs
Labels: pr-refactor

#14632 chore: add table index to explain join
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore

#14633 chore(ci): fix download benchmark result
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14631 refactor: Simplify UdfMgr::add_udf()
  src/meta/api/src/kv_pb_api/codec.rs
  src/meta/api/src/kv_pb_api/errors.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/kv_pb_api/upsert_pb.rs
  src/meta/types/src/change.rs
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/errors/meta_api_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/query/management/src/udf/udf_mgr.rs
Labels: pr-refactor

#14638 chore(ci): fix new line in benchmark comment
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14614 chore(query): improve hash join code
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: pr-chore, ci-benchmark

#14637 chore: reduce small block writes (improve merge into write performance)
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-chore, ci-cloud

#14634 chore: move KVPbApi impl to seperate files
  src/meta/api/src/kv_pb_api/codec.rs
  src/meta/api/src/kv_pb_api/errors/decode_error.rs
  src/meta/api/src/kv_pb_api/errors/encode_error.rs
  src/meta/api/src/kv_pb_api/errors/mod.rs
  src/meta/api/src/kv_pb_api/errors/read_error.rs
  src/meta/api/src/kv_pb_api/errors/write_error.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/query/management/src/udf/udf_mgr.rs
Labels: pr-chore

#14636 feat: add create or replace agg index support
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/index.rs
  src/query/ast/src/ast/statements/index.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/src/interpreters/interpreter_index_create.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/plans/ddl/index.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0000_ddl_create_drop_index.test
Labels: pr-feature

#14609 refactor(query): support additional param to set the error rate in `approx_count_distinct` function
  Cargo.lock
  src/common/hashtable/src/traits.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  tests/sqllogictests/suites/base/03_common/03_0008_select_aggregator_combinator.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-refactor

#14642 refactor: Remove UdfApi, use UdfMgr directly
  src/query/management/src/lib.rs
  src/query/management/src/udf/errors.rs
  src/query/management/src/udf/mod.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#14643 chore(ci): fix comment benchmark result
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14639 refactor(query): disallowed tokio spawn and block_on
  Cargo.lock
  clippy.toml
  src/binaries/Cargo.toml
  src/binaries/query/ee_main.rs
  src/binaries/query/oss_main.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/common/base/src/runtime/thread_pool.rs
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/thread_pool.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
  src/common/tracing/src/init.rs
  src/query/pipeline/core/tests/it/pipelines/processors/port_test.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/row_group.rs
  src/query/storages/stream/src/stream_table.rs
Labels: pr-refactor, ci-benchmark

#14644 chore: refine plan id generation
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_constant_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_eval_scalar.rs
  src/query/sql/src/executor/physical_plans/physical_exchange.rs
  src/query/sql/src/executor/physical_plans/physical_filter.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_limit.rs
  src/query/sql/src/executor/physical_plans/physical_materialized_cte.rs
  src/query/sql/src/executor/physical_plans/physical_project_set.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
Labels: pr-chore

#14646 chore(ci): fix runner provider for release benchmark
  .github/workflows/release.yml
Labels: pr-chore

#14647 chore(meta): remove tenant for table info
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-chore

#14649 feat: add create or replace virtual column support
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/virtual_column.rs
  src/query/ast/src/ast/statements/virtual_column.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_virtual_column_create.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/ddl/virtual_column.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
Labels: pr-feature

#14652 chore(ci): fix artifacts for benchmark archive
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14654 feat: add create or replace password policy support
  src/query/ast/src/ast/statements/password_policy.rs
  src/query/ast/src/parser/statement.rs
  src/query/management/src/password_policy/password_policy_api.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/service/src/interpreters/interpreter_password_policy_create.rs
  src/query/sql/src/planner/binder/ddl/password_policy.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/users/src/password_policy.rs
  src/query/users/tests/it/password_policy.rs
  tests/sqllogictests/suites/base/05_ddl/05_0035_ddl_password_policy.test
Labels: pr-feature

#14656 feat: add create or replace masking policy support
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/data_mask/mod.rs
  src/query/ast/src/ast/statements/data_mask.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/ddl/data_mask.rs
  src/query/sql/src/planner/plans/data_mask.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0001_ddl_data_mask.test
Labels: pr-feature

#14658 feat: add create or replace network policy support
  src/query/ast/src/ast/statements/network_policy.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/network_policy/network_policy_api.rs
  src/query/management/src/network_policy/network_policy_mgr.rs
  src/query/service/src/interpreters/interpreter_network_policy_create.rs
  src/query/sql/src/planner/binder/ddl/network_policy.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/users/src/network_policy.rs
  src/query/users/tests/it/network_policy.rs
  tests/sqllogictests/suites/base/05_ddl/05_0032_ddl_network_policy.test
Labels: pr-feature

#14660 feat: add create or replace share endpoint support
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/share.rs
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/ddl/share.rs
  src/query/sql/src/planner/plans/share.rs
  tests/sqllogictests/suites/base/06_show/06_0020_show_share_endpoint.test
Labels: pr-feature

#14539 fix: otlp logger runtime for graceful shutdown
  Cargo.lock
  src/common/tracing/Cargo.toml
  src/common/tracing/src/loggers.rs
  src/query/service/src/servers/server.rs
Labels: pr-bugfix, ci-cloud

#14664 chore: remove spawn_blocking for merge into and replace into
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/util.rs
Labels: pr-chore, ci-cloud

#14666 fix(executor): fix broken profile graph for cluster mode
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
Labels: pr-bugfix, ci-cloud

#14667 chore(query): update async trait version
  Cargo.lock
  Cargo.toml
  src/query/storages/delta/Cargo.toml
Labels: pr-chore, ci-benchmark

#14670 chore: add dev deps for proj crate
  scripts/setup/dev_setup.sh
Labels: pr-chore

#14673 chore: add dev dep sqlite binary for proj crate
  scripts/setup/dev_setup.sh
Labels: pr-chore

#14672 chore(executor): remove useless warn log
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
Labels: pr-chore

#14678 chore: install liblzma-dev for build-tool
  docker/build-tool/gnu/Dockerfile
Labels: pr-chore

#14675 chore: upgrade arrow-format
  Cargo.lock
  Cargo.toml
  src/common/arrow/src/arrow/io/ipc/read/schema.rs
  src/common/arrow/src/arrow/io/ipc/write/common.rs
Labels: pr-chore

#14680 fix: Use stat instead of list for checking storage
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#14681 refactor(executor): add graph information to prepare adding points
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
Labels: pr-refactor, ci-benchmark

#14684 fix: fix get by keypath with null value
  Cargo.lock
  Cargo.toml
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get.test
Labels: pr-bugfix

#14597 fix(query): account_admin should support grant ownership to new role after drop an created role
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/users/src/role_cache_mgr.rs
  src/query/users/src/role_mgr.rs
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
Labels: pr-bugfix

#14687 chore(query): max_decoding_message_size
  src/query/expression/src/utils/udf_client.rs
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
Labels: pr-chore

#14686 refactor: enables the bloom runtime filter to be turned on adaptively
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/query/join/runtime_filter.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, pr-refactor, ci-benchmark

#14688 fix(query): fix unnest variant array panic
  src/query/functions/src/srfs/array.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest.test
Labels: pr-bugfix

#14544 fix(query): Pass ci Test when enable `enable_experimental_aggregate_hashtable `.
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/settings/src/settings_default.rs
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.result
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.sh
Labels: pr-bugfix, pr-chore

#14685 chore: add plan id for mutations
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/sql/src/executor/physical_plans/physical_compact_source.rs
  src/query/sql/src/executor/physical_plans/physical_delete_source.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_add_row_number.rs
  src/query/sql/src/executor/physical_plans/physical_recluster_sink.rs
  src/query/sql/src/executor/physical_plans/physical_recluster_source.rs
  src/query/sql/src/executor/physical_plans/physical_replace_async_source.rs
  src/query/sql/src/executor/physical_plans/physical_replace_deduplicate.rs
  src/query/sql/src/executor/physical_plans/physical_replace_into.rs
  src/query/sql/src/executor/physical_plans/physical_update_source.rs
Labels: pr-chore, ci-cloud

#14695 chore: install sqlite3 for build-tool
  docker/build-tool/gnu/Dockerfile
Labels: pr-chore

#14691 refactor: add UdfError::Exist
  src/meta/types/src/lib.rs
  src/meta/types/src/non_empty.rs
  src/query/management/src/errors.rs
  src/query/management/src/lib.rs
  src/query/management/src/udf/errors.rs
  src/query/management/src/udf/mod.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/tests/it/udf.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_udf.rs
  src/query/users/tests/it/user_udf.rs
Labels: pr-refactor

#14693 feat: add div0 divnull method
  src/query/functions/README.md
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_arithmetic.test
Labels: pr-feature

#14458 feat(query): grant object visibility check
  src/meta/app/src/principal/user_privilege.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/users/src/visibility_checker.rs
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege.test
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.result
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.sh
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
Labels: pr-feature

#14697 chore: minor refactor of `adjust_bloom_runtime_filter`
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
Labels: pr-chore, ci-benchmark

#14698 chore: extract common functions from metactl
  src/binaries/metactl/main.rs
  src/binaries/metactl/reading.rs
  src/binaries/metactl/snapshot.rs
Labels: pr-chore

#14704 feat: add a new `kvapi::Key` type: `Tenant`
  src/meta/app/src/tenant/mod.rs
  src/meta/app/src/tenant/tenant.rs
Labels: pr-feature

#14707 fix: do compact first , then do sort for cluster table
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
Labels: pr-bugfix

#14702 fix(query): filter response session settings with ScopeLevel::Session
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#14708 feat: add kvapi::Value to define meta-service value behavior
  Cargo.lock
  src/meta/api/src/id_generator.rs
  src/meta/api/src/lib.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/primitive.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/value.rs
Labels: pr-feature

#14615 feat(geo): support geometry type for create table
  Cargo.lock
  Cargo.toml
  src/common/io/src/geometry.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/query/02_function/02_0060_function_geometry.test
Labels: pr-feature

#14690 feat(query): support vacuum temporary files
  Cargo.lock
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/mod.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_vacuum_temporary_files.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
Labels: pr-feature

#14712 chore(query): support custom query graceful shutdown timeout
  docker/query-config.toml
  scripts/ci/deploy/config/databend-query-management-mode.toml
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/ci/deploy/config/databend-query-node-hive.toml
  scripts/ci/deploy/config/databend-query-node-native.toml
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  scripts/distribution/configs/databend-query.toml
  src/binaries/query/entry.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/servers/server.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#14715 chore(query): improve new filter execution
  src/query/expression/src/filter/select.rs
  src/query/expression/src/filter/select_op.rs
  src/query/expression/src/filter/select_value/mod.rs
  src/query/expression/src/filter/select_value/select_column.rs
  src/query/expression/src/filter/select_value/select_column_scalar.rs
  src/query/expression/src/filter/select_value/select_scalar.rs
  src/query/expression/src/types.rs
Labels: pr-chore

#14717 chore: add metrics for compact and recluster
  src/common/metrics/src/metrics/storage.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
Labels: pr-chore

#14716 feat: add `parent()` method to kvapi::Key to describe the hierarchical structure of meta-service data
  src/meta/api/src/id_generator.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/kvapi/src/kvapi/key.rs
Labels: pr-feature

#14711 chore: static features for async-compression deps
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_sanitizer/action.yml
  Cargo.lock
  docker/build-tool/base/Dockerfile
  scripts/setup/dev_setup.sh
  src/common/compress/Cargo.toml
Labels: pr-chore

#14724 refactor: schema_api::update_mask_policy
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/data_mask/mod.rs
Labels: pr-refactor

#14722 refactor: rename ShareAccountNameIdent::acount to tenant; remove unused serde derive
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
Labels: pr-refactor

#14723 chore: remove stream pruner
  Cargo.lock
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/stream/Cargo.toml
  src/query/storages/stream/src/lib.rs
  src/query/storages/stream/src/stream_pruner.rs
  src/query/storages/stream/src/stream_table.rs
Labels: pr-chore

#14729 chore(query): improve aggregate unary function
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
Labels: pr-chore

#14689 feat(query): integrate hash join with new filter framework
  src/query/expression/src/filter/filter_executor.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
Labels: pr-feature

#14730 fix: fix create or replace table as select bug
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#14726 refactor: support decimal for quantile_cont
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/empty_map.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix.test
Labels: pr-refactor

#14735 feat: add kvapi::ValueType::dependency_keys() to retrieve relation such as table-name-to-table-id and table-id-to-table-meta
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/primitive.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/kvapi/src/kvapi/value.rs
Labels: pr-feature

#14733 fix: check if global memory is negative
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
Labels: pr-bugfix

#14737 chore: polish error message.
  src/common/storage/src/copy.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_empty.test
Labels: pr-chore

#14734 fix: Don't return empty credentail if load failed
  Cargo.lock
Labels: pr-bugfix

#14739 refactor(query): migrate profile to common base
  Cargo.lock
  src/common/base/src/lib.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/profile/mod.rs
  src/common/base/src/runtime/profile/profile.rs
  src/common/base/src/runtime/profile/profiles.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/query/catalog/src/table_context.rs
  src/query/pipeline/core/Cargo.toml
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipe.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/port.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/pipeline/sources/src/async_source.rs
  src/query/pipeline/sources/src/input_formats/source_aligner.rs
  src/query/pipeline/sources/src/sync_source.rs
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/format.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/delta/src/table_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
  src/query/storages/iceberg/src/table_source.rs
  src/query/storages/parquet/src/parquet2/processors/deserialize_transform.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/source.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  src/query/storages/stage/src/read/row_based/processors/separator.rs
  src/query/storages/system/src/processor_profile_table.rs
Labels: pr-refactor

#14740 chore: rename
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
Labels: pr-chore

#14736 feat: DESC[RIBE] [TABLE] <name>
  src/query/ast/src/parser/statement.rs
  tests/sqllogictests/suites/base/issues/issue_14713.test
Labels: pr-feature

#14741 chore: refactor RoleMgr
  src/meta/types/src/change.rs
  src/query/management/src/role/role_mgr.rs
Labels: pr-chore

#14725 feat(query): new implementation of analyze table
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/common/table_meta/src/meta/current/mod.rs
  src/query/storages/common/table_meta/src/meta/v2/mod.rs
  src/query/storages/common/table_meta/src/meta/v2/table_snapshot_statistics.rs
  src/query/storages/common/table_meta/src/meta/versions.rs
  src/query/storages/common/table_meta/src/readers/versioned_reader.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic.rs
  src/query/storages/stream/src/stream_table.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/queries.test
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.result
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.sh
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.result
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.sh
Labels: pr-feature

#14751 chore: build-tool base for both arm64 & amd64
  .github/workflows/build_tool.yml
  .github/workflows/cloud.yml
  .github/workflows/release.yml
  docker/build-tool/musl/Dockerfile
Labels: pr-chore

#14754 chore: fix setup protoc aarch64
  scripts/setup/dev_setup.sh
Labels: pr-chore

#14753 chore: fix compile error
  src/query/storages/fuse/src/operations/analyze.rs
Labels: pr-chore

#14743 refactor: refactor hash join spill probe side
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  tests/sqllogictests/suites/query/spill/basic_spill.test
Labels: pr-refactor

#14748 refactor(storage): treat the standard stream as append only when only insertion
  src/query/catalog/src/table.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/common/table_meta/src/table/stream_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/parquet/src/parquet2/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor, ci-cloud

#14752 refactor: Add RoleGrantee to provide meta-service key for RoleMgr
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
  src/meta/types/src/non_empty.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/tests/it/role.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#14755 chore: change build image to debian/alpine
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_sanitizer/action.yml
  .github/workflows/build_tool.yml
  .github/workflows/reuse.linux.yml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/debian/Dockerfile
  docker/build-tool/gnu/Dockerfile
  docker/build-tool/musl/Dockerfile
  docker/build-tool/musl/linker.sh
  scripts/setup/dev_setup.sh
Labels: pr-chore

#14764 chore(ci): fix LIBCLANG_PATH for alpine build-tool
  docker/build-tool/alpine/Dockerfile
Labels: pr-chore

#14762 chore(query): fix location ver
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
Labels: pr-chore

#14750 chore(query): add max_running_query_execute_time for http status
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_mgr_status.rs
Labels: pr-chore

#14759 chore(query): support string eq int
  src/query/functions/src/cast_rules.rs
  tests/sqllogictests/suites/query/02_function/02_0005_function_compare.test
  tests/sqllogictests/suites/query/02_function/02_0045_conditional_function_in.test
Labels: pr-chore

#14746 chore: add more transaction test
  tests/sqllogictests/suites/stage/copy_into_txn.sql
Labels: pr-chore

#14745 fix: fix create or replace stage bug
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage.test
  tests/suites/1_stateful/00_stage/00_0008_remove_external_stage.result
  tests/suites/1_stateful/00_stage/00_0008_remove_external_stage.sh
Labels: pr-bugfix

#14767 fix: force attachment to use EmptyFieldAs::FieldDefault.
  src/query/sql/src/planner/binder/copy_into_table.rs
  tests/suites/1_stateful/07_stage_attachment/07_0003_insert_with_stage_file_format.result
  tests/suites/1_stateful/07_stage_attachment/07_0003_insert_with_stage_file_format.sh
Labels: pr-bugfix

#14766 fix: fix create or replace stage bug, only remove dir when success
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
Labels: pr-bugfix

#14761 chore(ci): change build runner with target
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_sanitizer/action.yml
  .github/actions/setup_docker/action.yml
  .github/workflows/reuse.linux.yml
  Cargo.toml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/dev/Dockerfile
  scripts/setup/run_build_tool.sh
Labels: pr-chore

#14769 refactor: upgrade Openraft v0.9.0-alpha.5..v0.9.0-alpha.6
  Cargo.lock
  Cargo.toml
  src/meta/service/src/network.rs
  src/meta/service/src/store/store.rs
Labels: pr-refactor

#14768 refactor: hash join build spilling
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/spiller.rs
  tests/sqllogictests/suites/query/spill/basic_spill.test
Labels: pr-refactor

#14773 chore: fix build for cloud
  .github/workflows/cloud.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#14763 feat: add Analyze for merge into
  src/query/service/src/interpreters/interpreter_explain.rs
Labels: pr-feature, ci-cloud

#14772 refactor: Add RoleIdent to define kvapi::Key to access roles in meta-service
  src/meta/app/src/key_with_tenant.rs
  src/meta/app/src/lib.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/role_ident.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/tenant/tenant.rs
  src/query/management/src/role/role_mgr.rs
Labels: pr-refactor

#14770 feat(executor): implement time slicing for shared executor scheduling across queries
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pushing_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/pipelines/executor/queries_executor_tasks.rs
  src/query/service/src/pipelines/executor/queries_pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_executor_tasks.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature, ci-benchmark

#14777 chore(query): use create_time of process info for http status
  src/query/service/src/sessions/session_mgr.rs
Labels: pr-chore

#14776 refactor: make IndexNameIdent.tenant a Tenant struct
  Cargo.lock
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/key_with_tenant.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/index_from_to_protobuf_impl.rs
  src/meta/types/src/non_empty.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/src/interpreters/interpreter_index_create.rs
  src/query/service/src/interpreters/interpreter_index_drop.rs
  src/query/sql/src/planner/binder/ddl/index.rs
Labels: pr-refactor

#14781 refactor: refactor join spilling settings
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_coordinator.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/query/spill/basic_spill.test
Labels: pr-refactor, ci-cloud
