Repository databendlabs/databend, pull requests merged in 2024-08, with the labels that each got.

#16153 fix(query): fix add column default value is indeterministic expression
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/sqllogictests/suites/base/03_common/03_0027_insert_default.test
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
Labels: pr-bugfix

#16159 fix(query): fix in operator convert to subquery cast failed
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/query/select.test
Labels: pr-bugfix

#16162 fix: explain analyze lack of statistics
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_explain.rs
Labels: pr-bugfix

#16166 feat: add `is_attach` column to `system.tables` and disable index creation for attache tables
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.result
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.sh
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.result
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.sh
Labels: pr-feature

#16171 chore(query): revert 16097
  Cargo.lock
  Cargo.toml
  scripts/ci/ci-run-stateful-tests-cluster-minio.sh
  scripts/ci/ci-run-stateful-tests-standalone-minio.sh
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_sink_writer.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_source_reader.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/service/src/servers/flight/v1/packets/packet_executor.rs
  tests/suites/1_stateful/02_query/02_0009_flight.result
  tests/suites/1_stateful/02_query/02_0009_flight.sh
Labels: pr-chore

#16175 fix: meta-service: data inconsistency risk
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#16174 refactor(query): Optimize udf js runtime to avoid lock blocking
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-refactor

#16170 fix(query): reduce get table meta call
  src/query/service/src/interpreters/access/privilege_access.rs
Labels: pr-bugfix

#16160 chore(ci): reset table lock expire in sqllogic
  src/query/service/src/locks/lock_holder.rs
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/src/main.rs
Labels: pr-chore

#16169 feat(query): Support `json_array_agg` function
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-feature

#16180 fix: properly ignore column statistic from meta v2 if string contains non-utf8
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/tests/it/meta_scalar.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
Labels: pr-bugfix

#16165 fix(query): support optimize or filter in system.tables
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-bugfix, ci-benchmark-local

#16182 chore(query): skip empty block for udf script
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-chore

#16183 refactor(query): if projection not query stat/owner will not get table_stats/ownership when access system.tables
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-refactor

#16191 fix(query): fix wasm udf runtime create with code
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-bugfix

#16185 feat: explain analyze output partial infos to debug cardinality estimator
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_analyze_partial.test
Labels: pr-feature

#16192 fix: skip column statistics entirely if deserialization failed
  src/query/storages/common/table_meta/src/meta/v2/mod.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  src/query/storages/common/table_meta/src/meta/v4/segment.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
Labels: pr-bugfix

#16195 fix(query): to_year/monday... should respect dst
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-bugfix

#16196 fix(query): rounding decimal multiply results
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/decimal/arithmetic.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
  tests/sqllogictests/suites/query/functions/02_0000_function_arithmetic.test
Labels: pr-bugfix

#16200 fix: backward compatibility of table statistics
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  tests/compat_fuse/compat-logictest/base/fuse_compat_read
  tests/compat_fuse/compat-logictest/base/fuse_compat_write
Labels: pr-bugfix, ci-cloud

#16201 feat: meta-service transfer_leader: add response and default value
  src/meta/service/src/api/http/v1/ctrl.rs
Labels: pr-feature

#16202 refactor(query): remove useless meter
  Cargo.lock
  src/common/cache/Cargo.toml
  src/common/cache/src/cache/lru.rs
  src/common/cache/src/lib.rs
  src/common/cache/src/meter.rs
  src/common/cache/src/meter/heap_meter.rs
  src/common/cache/tests/it/cache/lru.rs
Labels: pr-refactor

#16203 refactor(query): remove useless hash builder
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-refactor

#16197 chore: remove unused minmax
  scripts/ci/ci-run-ee-tests-standalone-fake-time-minio.sh
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/storages/common/table_meta/src/meta/statistics.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mutator_replace_into.rs
  tests/cloud_control_server/simple_server.py
Labels: pr-chore, pr-refactor

#16204 fix(query): remove deserialize_cluster_stats
  src/query/service/tests/it/storages/fuse/meta/legacy_tpch_v4.mpk
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  tests/compat_fuse/compat-logictest/base/fuse_compat_read
  tests/compat_fuse/compat-logictest/base/fuse_compat_write
Labels: pr-bugfix, pr-chore, ci-cloud

#16205 chore(ci): disable musl build
  .github/workflows/build_tool.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#16210 feat: allow casting int to uint for string functions
  src/query/expression/src/function.rs
  src/query/functions/src/cast_rules.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-feature

#16211 chore: refine TimedFutre wrapper
  src/common/base/src/future.rs
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
Labels: pr-chore

#16023 feat(query): Support materialized view match algorithm
  src/query/expression/src/types/number.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
Labels: pr-feature

#16208 chore(query): change stream table is_local to false
  src/query/storages/stream/src/stream_table.rs
  tests/sqllogictests/suites/mode/cluster/distributed_merge_into.test
Labels: pr-chore

#16212 refactor: display unix timestamp for human
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/display/display_unix_epoch.rs
  src/common/base/src/display/mod.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/proto_display.rs
  src/query/ee/Cargo.toml
Labels: pr-refactor

#16206 fix(query): fix index out of bounds with constant expr
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  tests/sqllogictests/suites/query/eval_constant_expr.test
Labels: pr-bugfix

#16214 refactor: support unset session|global
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/interpreter_unset.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings.test
  tests/sqllogictests/suites/query/set.test
Labels: pr-refactor

#16199 refactor: Use native-tls as default
  Cargo.lock
  Cargo.toml
  src/common/http/src/http_shutdown_handlers.rs
  src/meta/service/src/api/http_service.rs
  src/query/service/src/servers/admin/admin_service.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/tests/it/servers/admin/admin_service.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-refactor

#16223 fix(query): cannot use fully qualified names with views
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0019_ddl_create_view.test
Labels: pr-bugfix

#16221 fix(query): fix unexpected panic message
  src/common/base/src/lib.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/query/service/src/servers/flight/v1/actions/init_query_fragments.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-bugfix

#16224 chore(ci): try fix main ci err
  tests/suites/1_stateful/00_stage/00_0016_copy_purge_duplicated.result
  tests/suites/1_stateful/00_stage/00_0016_copy_purge_duplicated.sh
Labels: pr-chore

#16215 refactor(query): use bigint to handle the fallback of decimal op overflow
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/types/decimal.rs
  src/query/expression/tests/it/decimal.rs
  src/query/functions/src/scalars/decimal/arithmetic.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-refactor

#15992 feat(query): ST_TRANSFORM
  Cargo.lock
  Cargo.toml
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#16226 feat: introduce new setting `enable_last_snapshot_location_hint`
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/revert.rs
  tests/sqllogictests/suites/base/20+_others/20_0019_snapshot_hint.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_ctas.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
Labels: pr-feature

#16225 refactor: CrudMgr::update should return only when the value is changed
  src/meta/api/src/crud/mod.rs
  src/meta/app/src/tenant_key/errors.rs
  src/meta/types/src/change.rs
Labels: pr-refactor

#16229 chore: refine meta-service
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_status.rs
  src/meta/service/src/meta_service/mod.rs
Labels: pr-chore

#16228 chore(planner): fix distributed merge into
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_mutation.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/bind_mutation/merge.rs
  src/query/sql/src/planner/binder/bind_mutation/mod.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/distributed/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/mutation.rs
  tests/sqllogictests/suites/mode/cluster/distributed_merge_into.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore

#16230 fix: block_entry.memory_size
  src/query/expression/src/block.rs
  src/query/expression/tests/it/block.rs
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.result
Labels: pr-bugfix

#16233 refactor(query): remove cache solt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/common/cache_manager/Cargo.toml
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/set_cache_capacity.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_set_cache_cap.sql
  tests/suites/0_stateless/20+_others/20_0019_set_cache_capacity_privilege_check.result
  tests/suites/0_stateless/20+_others/20_0019_set_cache_capacity_privilege_check.sh
Labels: pr-refactor, ci-benchmark

#16216 feat: support sample for table scan
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/bind_mutation/merge.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.sh
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.sh
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.sh
  tests/suites/5_ee/03_computed_column/03_0000_copy_csv_with_computed_column.sh
Labels: pr-feature

#16218 refactor: optimize share table performance
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/src/global_services.rs
  src/query/sharing/src/lib.rs
  src/query/sharing/src/share_endpoint_client.rs
  src/query/sharing/src/share_presigned_cache_manager.rs
  src/query/sharing/src/signer.rs
Labels: pr-refactor

#16236 chore: remove admin api for testing for old version SM
  Cargo.lock
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/api/http/v1/ctrl.rs
  src/meta/service/src/api/http_service.rs
  src/meta/service/tests/it/meta_node/meta_node_raft_api.rs
  src/meta/service/tests/it/meta_node/mod.rs
Labels: pr-chore

#16220 feat: auth by refresh and session tokens.
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_token.rs
  src/meta/app/src/principal/user_token_ident.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/token_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v106_query_token.rs
  src/meta/protos/proto/token.proto
  src/query/management/src/lib.rs
  src/query/management/src/token.rs
  src/query/service/Cargo.toml
  src/query/service/src/auth.rs
  src/query/service/src/global_services.rs
  src/query/service/src/lib.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/mod.rs
  src/query/service/src/servers/http/v1/session/renew_handler.rs
  src/query/service/src/servers/http/v1/session/token.rs
  src/query/service/src/servers/http/v1/session/token_manager.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/users/src/user_api.rs
  tests/suites/1_stateful/09_http_handler/09_0004_login.result
  tests/suites/1_stateful/09_http_handler/09_0004_login.sh
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
  tests/suites/1_stateful/09_http_handler/09_0007_token.result
Labels: pr-feature

#16242 fix(query): cume_dist() always return unbounded frame
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/expr_in_window.test
  tests/sqllogictests/suites/query/window_function/window_ignore_nulls.test
  tests/sqllogictests/suites/query/window_function/window_wisconsin.test
  tests/sqllogictests/suites/query/window_function/window_wisconsin_block_size_1.test
Labels: pr-bugfix

#16244 chore: impl Display for `LicenseInfo` and `JWTClaims<T>`
  src/common/base/src/display/display_slice.rs
  src/common/base/src/display/mod.rs
  src/common/license/src/display_jwt_claims.rs
  src/common/license/src/lib.rs
  src/common/license/src/license.rs
  src/query/service/src/table_functions/others/license_info.rs
Labels: pr-chore

#16239 feat: http handler support set variable.
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/query/set.test
Labels: pr-feature

#16238 feat(query): support `json_object_agg` function
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-feature

#16254 refactor(metactl): change to subcommands & support transfer-leader
  Cargo.lock
  src/meta/binaries/Cargo.toml
  src/meta/binaries/metactl/admin.rs
  src/meta/binaries/metactl/export_from_disk.rs
  src/meta/binaries/metactl/export_from_grpc.rs
  src/meta/binaries/metactl/import.rs
  src/meta/binaries/metactl/main.rs
  src/meta/binaries/metactl/upgrade.rs
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
Labels: pr-chore, pr-refactor

#16251 refactor(deps): Bump OpenDAL and other crates
  Cargo.lock
  Cargo.toml
  src/common/storage/src/operator.rs
  src/query/pipeline/sinks/src/async_mpsc_sink.rs
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/pipeline/sinks/tests/it/async_mpsc_sink.rs
  src/query/pipeline/sources/src/async_source.rs
  src/query/pipeline/sources/src/prefetch_async_source.rs
  src/query/pipeline/sources/src/stream_source.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/processors/transforms/transform_cache_scan.rs
  src/query/service/src/pipelines/processors/transforms/transform_materialized_cte.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_scan.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_sink_writer.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/cloud/task_dependents.rs
  src/query/service/src/table_functions/cloud/task_dependents_enable.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/src/table_functions/openai/ai_to_sql.rs
  src/query/service/src/table_functions/others/execute_background_job.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/src/table_functions/others/tenant_quota.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/table_functions/function_template/simple_func_template.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/stats.rs
  src/query/storages/orc/src/copy_into_table/processors/source.rs
  src/query/storages/orc/src/processors/source.rs
  src/query/storages/result_cache/src/write/sink.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
  src/query/storages/stream/src/stream_status_table_func.rs
  src/query/storages/system/src/table.rs
  tests/sqllogictests/suites/base/03_common/03_0008_select_aggregator_combinator.test
  tests/sqllogictests/suites/base/20+_others/20_0001_planner.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-refactor, ci-benchmark

#16245 refactor(query): remove named cache
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/mod.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-refactor, ci-benchmark

#16243 fix(query): fix alter user set `MUST_CHANGE_PASSWORD`
  src/meta/app/src/principal/user_auth.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.py
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.result
Labels: pr-bugfix

#16246 refactor(query): decrease information_schema.tables call union
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/information_schema/src/tables_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
Labels: pr-refactor

#16263 chore: update command for metactl in tests
  Cargo.lock
  scripts/ci/ci-setup-chaos-meta.sh
  tests/metactl/test-metactl-restore-new-cluster.sh
  tests/metactl/test-metactl.sh
  tests/metactl/update-metactl-test.sh
Labels: pr-chore

#16237 feat: support block level table sample
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/Cargo.toml
  src/query/catalog/src/plan/pushdown.rs
  src/query/catalog/src/table.rs
  src/query/script/src/compiler.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
Labels: pr-feature

#16247 refactor: introduce new method `accurate_columns_ranges` to `Table`
  src/query/catalog/src/table.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
Labels: pr-refactor

#16261 chore: more logs for attached table refreshing
  src/query/storages/fuse/src/fuse_table.rs
Labels: pr-chore

#16264 feat(query): add identifier function from session variable
  src/meta/api/src/txn_backoff.rs
  src/query/ast/src/ast/common.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/dialect.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/script/src/compiler.rs
  src/query/script/src/ir.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
  tests/sqllogictests/suites/query/set.test
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.py
Labels: pr-feature

#16269 chore: comment out fake_time test
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#16271 chore(query): revert #16192
  src/query/storages/common/table_meta/src/meta/v2/mod.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  src/query/storages/common/table_meta/src/meta/v4/segment.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
Labels: pr-chore, ci-cloud

#16267 fix: max_wait_time in http handler not work when result set is large …
  src/query/service/src/servers/http/v1/query/page_manager.rs
Labels: pr-bugfix

#16268 refactor: replace absolute expiration time with relative TTL in schema API
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-logging.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
Labels: pr-refactor

#16260 refactor(query): remove lru cache meter
  Cargo.lock
  Cargo.toml
  src/common/cache/Cargo.toml
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/common/cache/src/lib.rs
  src/common/cache/src/mem_sized.rs
  src/common/cache/src/meter/bytes_meter.rs
  src/common/cache/src/meter/count_meter.rs
  src/common/cache/src/meter/file_meter.rs
  src/common/cache/tests/it/cache/lru.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/service/Cargo.toml
  src/query/service/src/global_services.rs
  src/query/service/src/servers/http/v1/session/token_manager.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/cache_manager/Cargo.toml
  src/query/storages/common/cache_manager/src/lib.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/read/block/block_reader_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/parquet/mod.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/segments.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_meta_data_reader.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/caches_table.rs
Labels: pr-refactor, ci-benchmark

#16270 feat(query): optimize min/max aggregation use accurate column stats
  src/query/catalog/src/table.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/optimizer/aggregate/mod.rs
  src/query/sql/src/planner/optimizer/aggregate/stats_aggregate.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_eval_scalar.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_agg.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
Labels: pr-feature

#16273 chore(query): add more snapshot/segment serde tests
  src/query/service/tests/it/storages/fuse/meta/c_seg_v4.mpk
  src/query/service/tests/it/storages/fuse/meta/c_sn_v4.mpk
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
Labels: pr-chore

#16266 feat: new table option `data_retention_period_in_hours`
  src/common/io/src/constants.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-feature

#16276 refactor: Use global http client to share the connection pool
  src/common/storage/src/operator.rs
Labels: pr-refactor, ci-benchmark

#16278 chore: Use tagged iceberg crates
  Cargo.lock
  Cargo.toml
  src/query/storages/iceberg/Cargo.toml
Labels: pr-chore

#16275 chore: add a setting to decide if table sample is deterministic
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/other.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
Labels: pr-chore

#16285 chore(ci): tmp disable sharing test
  .github/workflows/release.yml
Labels: pr-chore

#16207 chore(ci): flaky test
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/lock.rs
  src/query/catalog/src/lock.rs
  src/query/service/src/locks/lock_ext.rs
  src/query/service/src/locks/lock_holder.rs
  src/query/service/src/locks/lock_manager.rs
  src/query/service/src/locks/mod.rs
  src/query/service/src/locks/table_lock/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/src/main.rs
Labels: pr-chore

#16289 chore: replace condition and if_then with txn in txn methods
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
Labels: pr-chore

#16290 feat(query): add config udf_server_allow_insecure
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-native.toml
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/udf_validator.rs
Labels: pr-feature

#16283 chore(query): bump ast 0.0.3
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/fuzz/Cargo.toml
Labels: pr-chore

#16256 feat(query): Inverted index search function support options
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-feature

#16282 chore(query): remove unused parquet2 codes
  Cargo.lock
  src/common/storage/src/lib.rs
  src/common/storage/src/parquet2.rs
  src/common/storage/src/parquet_rs.rs
  src/query/catalog/src/plan/datasource/datasource_info/result_scan.rs
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/utils.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_rs/mod.rs
  src/query/storages/result_cache/Cargo.toml
  src/query/storages/result_cache/src/read/reader.rs
  src/query/storages/result_cache/src/table_function/table.rs
Labels: pr-chore

#16295 refactor: change `DatabaseInfo.meta` to `SeqV<DatabaseMeta>`
  Cargo.lock
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/primitive.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/mod.rs
  src/meta/types/src/seq_value.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/databases/information_schema/information_schema_database.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/binder/ddl/dynamic_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor

#16286 feat(geo): add geography data type
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/src/lib.rs
  src/common/io/src/wkb.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v107_geography_datatype.rs
  src/meta/protos/proto/datatype.proto
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/converts/arrow2/from.rs
  src/query/expression/src/converts/arrow2/mod.rs
  src/query/expression/src/converts/arrow2/to.rs
  src/query/expression/src/converts/datavalues/to.rs
  src/query/expression/src/converts/meta/bincode.rs
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/property.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/schema.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/src/scalars/geography.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/tests/it/scalars/geography.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geography.txt
  src/query/service/src/interpreters/interpreter_execute_immediate.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/storages/common/stage/src/read/cast.rs
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
  tests/sqllogictests/suites/query/functions/02_0076_function_geography.test
Labels: pr-feature

#16280 feat(query): Support create/drop dictionary ddl.
  src/common/exception/src/exception_code.rs
  src/meta/app/src/app_error.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_dictionary_create.rs
  src/query/service/src/interpreters/interpreter_dictionary_drop.rs
  src/query/service/src/interpreters/interpreter_dictionary_show_create.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/dictionary.rs
  src/query/sql/src/planner/binder/ddl/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/dictionary.rs
  src/query/sql/src/planner/plans/ddl/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0037_ddl_dictionary.test
Labels: pr-feature

#16300 fix(query): enable distribute query for system log table
  src/query/storages/system/src/log_queue.rs
Labels: pr-bugfix

#16298 chore: add setting auto_compaction_segments_limit
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0040_auto_compaction_issue_15760.test
Labels: pr-chore

#16303 chore: remove the log about if histogram exists
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
Labels: pr-chore

#16301 fix(query): fix child_has_window
  README.md
  src/query/codegen/src/writes/arithmetics_type.rs
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/converts/arrow2/from.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/register.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/tests/it/output_format_utils.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/binary.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/src/scalars/tuple.rs
  src/query/functions/tests/it/scalars/boolean.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_reader.rs
  src/query/service/tests/it/servers/http/json_block.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_window.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix, ci-cloud

#16299 refactor: change value of meta-service key `DatabaseNameIdent` from `DatabaseId` to `Id<DatabaseId>`
  Cargo.lock
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/primitive.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/database_id.rs
  src/meta/app/src/schema/database_name_ident.rs
  src/meta/app/src/schema/mod.rs
  src/meta/binaries/metabench/main.rs
  src/meta/proto-conv/src/id_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/types/src/seq_value.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
Labels: pr-refactor

#16308 refactor: adopt `get_pb()` for get_background_task
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/raft-store/src/marked/mod.rs
  src/meta/types/src/seq_value.rs
Labels: pr-refactor

#16302 feat(query): ST_GEOGRAPHYFROMEWKT
  src/common/io/src/geography.rs
  src/common/io/src/geometry.rs
  src/common/io/src/lib.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/types/geography.rs
  src/query/expression/src/values.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/functions/src/scalars/geography.rs
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geography.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geography.txt
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/query/functions/02_0076_function_geography.test
Labels: pr-feature

#16312 refactor: Reduce parallelism when vacuuming dropped tables
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
Labels: pr-refactor

#16307 refactor(query): add setting external_server_request_retry_times
  src/common/base/src/runtime/profile/profiles.rs
  src/query/expression/src/function.rs
  src/query/expression/src/types/nullable.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/tuple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_retry_async.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-refactor

#16316 refactor(query): refactor bind set returning functions
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-refactor

#16306 refactor(query): add config enable_meta_data_upgrade_json_to_pb_from_v307
  Cargo.lock
  src/bendpy/src/context.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/tests/it/role.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/users/Cargo.toml
  src/query/users/src/user_api.rs
  src/query/users/tests/it/network_policy.rs
  src/query/users/tests/it/password_policy.rs
  src/query/users/tests/it/role_cache_mgr.rs
  src/query/users/tests/it/role_mgr.rs
  src/query/users/tests/it/role_util.rs
  src/query/users/tests/it/user_mgr.rs
  src/query/users/tests/it/user_udf.rs
Labels: pr-refactor

#16321 fix: uri path used as both path and root.
  src/query/sql/src/planner/binder/location.rs
  src/query/sql/tests/location.rs
Labels: pr-bugfix

#16288 feat(query): Add jq set returning function for processing Variant data with jq filters
  Cargo.lock
  src/query/expression/src/types/variant.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/srfs/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#16324 refactor: kv-app-errors does not need serde
  src/meta/api/src/kv_app_error.rs
  src/meta/app/src/app_error.rs
Labels: pr-refactor

#16325 feat: Add `KVPbApi::get_id_and_value()`
  src/meta/api/src/crud/mod.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/data_id.rs
  src/meta/app/src/data_mask/data_mask_id.rs
  src/meta/app/src/data_mask/data_mask_id_ident.rs
  src/meta/app/src/data_mask/data_mask_name_ident.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/lib.rs
  src/meta/app/src/tenant_key/errors.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/proto-conv/src/id_from_to_protobuf_impl.rs
Labels: pr-feature

#16315 feat: Check essential permissions when creating table with external location
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_ctas.test
Labels: pr-feature

#16322 fix: vacuum dry run should carry on when target objects are missing
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-bugfix

#16329 feat(query): add is_local to admin /v1/tables info
  .github/workflows/reuse.sqllogic.yml
  src/query/service/src/servers/admin/v1/tenant_tables.rs
Labels: pr-feature

#16334 chore(ci): adjust release time
  .github/workflows/release.yml
Labels: pr-chore

#16335 chore(query): explain ast work like explain syntax
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/mod.rs
  src/query/ast/src/ast/mod.rs
  src/query/ast/src/ast/visitors/mod.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/sql/src/planner/binder/binder.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-chore

#16331 refactor(query): refactor bind async functions
  Cargo.lock
  Cargo.toml
  src/query/async_functions/Cargo.toml
  src/query/async_functions/src/async_function.rs
  src/query/async_functions/src/lib.rs
  src/query/async_functions/src/sequence_async_function.rs
  src/query/service/src/pipelines/builders/builder_async_function.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_async_function.rs
  src/query/service/src/pipelines/processors/transforms/transform_sequence_nextval.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_async_func.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/async_function.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/async_function_rewriter.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/udf_rewriter.rs
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_sequence.test
Labels: pr-refactor

#16337 fix(query): fix session leak in ctas
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/lib.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
Labels: pr-bugfix

#16336 feat(query): add is_external to /v1/tables info
  src/query/service/src/servers/admin/v1/tenant_tables.rs
Labels: pr-feature

#16328 fix: When Replacing column mask, old `name->id->value` should be completely deleted
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/data_mask_api.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/kv_app_error.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/background/background_job_id_ident.rs
  src/meta/app/src/background/job_ident.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/tenant_key/errors.rs
  src/meta/app/src/tenant_key/ident.rs
  src/query/ee/src/data_mask/data_mask_handler.rs
  src/query/sql/src/planner/plans/data_mask.rs
Labels: pr-bugfix

#16326 chore(query): improve project set
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/values.rs
  src/query/functions/src/srfs/variant.rs
  src/query/service/src/pipelines/processors/transforms/transform_srf.rs
Labels: pr-chore, ci-cloud

#16333 feat(query): add plan cache
  Cargo.lock
  Cargo.toml
  src/meta/app/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/functions/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/planner_cache.rs
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/result_cache/Cargo.toml
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/base/20+_others/20_0020_planner_cache.test
  tests/sqllogictests/suites/base/issues/issue_10103.test
Labels: pr-feature, ci-benchmark-cloud

#16338 refactor: Catalog Manager API improvements for create and drop operations
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/catalog_id_ident.rs
  src/meta/app/src/schema/catalog_id_to_name_ident.rs
  src/meta/app/src/schema/catalog_name_ident.rs
  src/meta/app/src/tenant_key/ident.rs
  src/query/catalog/src/catalog/manager.rs
Labels: pr-refactor

#16330 fix: reduce sample possibility to avoid flaky test
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
Labels: pr-bugfix

#16339 fix(query): fix IFNULL
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0058_function_ifnull.test
Labels: pr-bugfix

#16313 feat: login and renew return session_token_validity_in_secs too.
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/renew_handler.rs
  src/query/service/src/sessions/session_ctx.rs
  tests/suites/1_stateful/09_http_handler/09_0007_token.result
Labels: pr-feature

#16342 fix(query): fix wrong result for join system tables in cluster mode
  src/query/catalog/src/plan/partition.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/storages/system/src/backtrace_table.rs
  src/query/storages/system/src/caches_table.rs
  src/query/storages/system/src/malloc_stats_totals_table.rs
  src/query/storages/system/src/metrics_table.rs
  src/query/storages/system/src/processes_table.rs
  src/query/storages/system/src/queries_profiling.rs
  src/query/storages/system/src/table.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
Labels: pr-bugfix

#16341 fix(query): fix try cast
  src/query/expression/src/evaluator.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0002_function_try_cast.test
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-bugfix

#16347 chore: remove unused serde impl
  Cargo.lock
  src/meta/api/src/kv_app_error.rs
  src/meta/api/src/txn_backoff.rs
  src/meta/stoerr/Cargo.toml
  src/meta/stoerr/src/meta_bytes_error.rs
  src/meta/stoerr/src/meta_storage_errors.rs
  src/meta/types/src/errors/meta_client_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/errors/meta_handshake_errors.rs
  src/meta/types/src/errors/meta_startup_errors.rs
  src/meta/types/src/errors/rpc_errors.rs
  src/query/management/src/role/role_mgr.rs
Labels: pr-chore

#16350 chore: remove empty reply struct
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/ee/src/inverted_index/inverted_index_handler.rs
  src/query/ee_features/inverted_index/src/inverted_index_handler.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: pr-chore

#16345 fix(query): fix binary default string
  src/query/expression/src/utils/display.rs
  src/query/sql/src/planner/expression_parser.rs
  tests/sqllogictests/suites/base/03_common/03_0041_insert_into_binary.test
  tests/suites/1_stateful/09_http_handler/09_0000_invalid_utf8.result
Labels: pr-bugfix

#16349 fix: push filter down join with materialized cte
  src/query/sql/src/planner/binder/scalar_common.rs
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
Labels: pr-bugfix

#16352 chore(query): fix window index out of range
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  tests/sqllogictests/suites/tpcds/spill.test
Labels: pr-chore

#16353 feat(query): add discovery nodes api
  src/meta/types/src/cluster.rs
  src/meta/types/tests/it/cluster.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/v1/discovery.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/test_kits/cluster.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#16351 refactor: Add BaseApi to abstract usually used meta-service access pattern
  src/meta/api/src/base_api.rs
  src/meta/api/src/kv_app_error.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/meta_txn_error.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/id_generator.rs
  src/meta/app/src/schema/catalog_id_ident.rs
  src/meta/app/src/schema/create_option.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/index_id_ident.rs
  src/meta/app/src/schema/index_id_to_name_ident.rs
  src/meta/app/src/schema/index_name_ident.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/tenant_key/ident.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/ee/src/aggregating_index/aggregating_index_handler.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/ee_features/aggregating_index/src/aggregating_index_handler.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/share/share_catalog.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: pr-refactor

#16319 fix(query): fix aggregate panic in cluster mode
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/mod.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/tpch/spill.test
Labels: pr-bugfix
