Repository databendlabs/databend, pull requests merged in 2024-04, with the labels that each got.

#15140 fix(query): new agg hashtable hung with little data on singleton
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  tests/sqllogictests/suites/base/03_common/03_0043_new_agg_hashtable.test
Labels: pr-bugfix, ci-cloud

#15108 chore: enable inlist to join in cluster
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/duckdb/join/test_not_distinct_from.test
  tests/sqllogictests/suites/duckdb/join_small_block/test_not_distinct_from.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/update.test
  tests/sqllogictests/suites/query/cte.test
  tests/sqllogictests/suites/query/select.test
Labels: pr-chore

#15148 chore: remove no longer used message encoding benchmark
  src/query/storages/common/table_meta/src/meta/v4/segment.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/benches/bench.rs
Labels: pr-chore

#15145 chore(query): fix order for scalar cmp with null
  src/query/expression/src/values.rs
  src/query/service/src/pipelines/processors/transforms/range_join/merge_join_state.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_min_max_any.test
  tests/sqllogictests/suites/query/join_small_block_size.test
Labels: pr-chore

#15146 chore: client should not depend on the final response.
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/sqllogictests/src/client/http_client.rs
Labels: pr-chore, pr-refactor

#15153 chore: fix typos
  .typos.toml
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/push_down_filter_join/extract_or_predicates.rs
Labels: pr-chore

#15152 chore(query): use i64 min max value as histogram bucket min max limit
  src/common/base/src/runtime/metrics/family_metrics/histogram.rs
  src/common/base/src/runtime/metrics/histogram.rs
  src/common/base/src/runtime/metrics/mod.rs
  src/common/base/src/runtime/metrics/registry.rs
  src/common/base/tests/it/metrics/registry.rs
Labels: pr-chore

#15129 refactor(executor): globalize `QueriesPipelineExecutor` creation method
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/global_services.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/global_queries_executor.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/queries_executor_tasks.rs
  src/query/service/src/pipelines/executor/queries_pipeline_executor.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
Labels: pr-refactor

#15143 refactor(query): only intercept dml and queries in queries queue
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-refactor

#15149 refactor: user can execute show grants query itself
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.sh
Labels: pr-refactor

#15155 chore(query): turn on new agg hashtable
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/group_shuffle.test
Labels: pr-chore

#15159 chore(query): row-fetcher-cache
  src/common/http/src/http_shutdown_handlers.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/suites/duckdb/join/iejoin/iejoin_issue_6314.test
Labels: pr-chore

#15160 chore: add CopyInto to query queue
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-chore

#15156 feat(query): implement ST_GEOMFROMGEOHASH
  src/query/expression/src/utils/display.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_encoder/values.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/02_function/02_0060_function_geometry.test
Labels: pr-feature

#15138 fix(query): show query with name consider quote
  src/query/ast/src/parser/input.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/interpreters/util.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0003_ddl_alter_table_backward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0003_ddl_alter_table_forward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0028_ddl_alter_table_add_drop_column_backward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0028_ddl_alter_table_add_drop_column_forward.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.result
  tests/suites/1_stateful/12_delta/11_0000_delta_engine.result
Labels: pr-bugfix

#15169 feat(query): show create table support display inverted index
  src/common/exception/src/exception_code.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/app_error.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_async_inverted_index_base.test
Labels: pr-feature

#15163 feat(query): support CHANGES clause
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/query/storages/common/table_meta/src/table/stream_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/revert.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/stream/Cargo.toml
  src/query/storages/stream/src/stream_table.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0002_txn_stream.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0003_stream_multi_table_insert.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0004_stream_changes.test
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.result
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.sh
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.result
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.sh
Labels: pr-feature

#15171 chore(query): fix boolean type comparison
  src/query/expression/src/types/boolean.rs
  src/query/functions/src/scalars/comparison.rs
  tests/sqllogictests/suites/query/filter.test
Labels: pr-chore

#15173 fix: forbid end at stream syntax
  src/query/ast/src/parser/query.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0004_stream_changes.test
Labels: pr-bugfix

#15158 refactor: remove dependency on parquet2: Part I
  Cargo.lock
  src/query/ast/fuzz/Cargo.toml
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/formats/src/output_format/parquet.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/blocks/Cargo.toml
  src/query/storages/common/blocks/src/lib.rs
  src/query/storages/common/blocks/src/parquet2.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/block/block_reader_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_parquet_deserialize.rs
  src/query/storages/fuse/src/io/read/block/decompressor.rs
  src/query/storages/fuse/src/io/read/block/mod.rs
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
  src/query/storages/fuse/src/io/read/block/parquet/mod.rs
  src/query/storages/fuse/src/io/read/block/parquet2.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/result_cache/Cargo.toml
  src/query/storages/result_cache/src/read/reader.rs
  src/query/storages/result_cache/src/write/sink.rs
  src/query/storages/result_cache/src/write/writer.rs
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0003_ddl_alter_table_backward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0003_ddl_alter_table_forward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0028_ddl_alter_table_add_drop_column_backward.test
  tests/sqllogictests/suites/base/13_parquet_rs/13_05_0028_ddl_alter_table_add_drop_column_forward.test
Labels: pr-refactor

#15176 refactor: use `Tenant` for `ListBackgroundTasksReq`
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/background_api_test_suite.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/tenant/tenant.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/service/src/api/http/v1/background_tasks.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/catalog.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/system/src/background_jobs_table.rs
  src/query/storages/system/src/background_tasks_table.rs
  src/query/storages/system/src/catalogs_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/locks_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor

#15175 feat: add inverted index pruning status
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
Labels: pr-feature

#15167 feat: Support to add random seed on random engine
  Cargo.lock
  src/query/expression/src/values.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/main.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/tests/it/pipelines/filter/filter_executor.rs
  src/query/service/tests/it/pipelines/filter/random_filter_expr.rs
  src/query/storages/common/table_meta/src/table/table_keys.rs
  src/query/storages/random/Cargo.toml
  src/query/storages/random/src/random_table.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
Labels: pr-feature

#15168 feat(planner): push down not in filter expression
  src/query/expression/src/filter/mod.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/filter/select_op.rs
  src/query/expression/src/filter/selector.rs
  src/query/service/src/pipelines/builders/transform_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/tests/it/pipelines/filter/filter_executor.rs
  src/query/service/tests/it/pipelines/filter/random_filter_expr.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
Labels: pr-feature

#15179 refactor: move TIdent into separate files
  src/meta/api/src/crud/errors.rs
  src/meta/api/src/crud/mod.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/background/job_ident.rs
  src/meta/app/src/background/task_ident.rs
  src/meta/app/src/data_mask/data_mask_name_ident.rs
  src/meta/app/src/data_mask/mask_policy_table_id_list_ident.rs
  src/meta/app/src/lib.rs
  src/meta/app/src/principal/connection_ident.rs
  src/meta/app/src/principal/network_policy_ident.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/meta/app/src/principal/user_defined_file_format_ident.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/app/src/schema/catalog_name_ident.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/share/share_end_point_ident.rs
  src/meta/app/src/tenant_key/errors.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/app/src/tenant_key/mod.rs
  src/meta/app/src/tenant_key/resource.rs
  src/meta/proto-conv/src/tident_from_to_protobuf_impl.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-refactor

#15178 chore: return inserted rows for each table in multi table insert
  Cargo.lock
  src/common/storage/src/lib.rs
  src/common/storage/src/multi_table_insert.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/transform_builder.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/plans/insert_multi_table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0100_insert_multi_table.sql
Labels: pr-chore

#15181 fix(storage): Don't return empty credential while loading failed
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#15177 feat: time travel support at offset
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/expression/src/type_check.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/base/12_time_travel/12_0004_time_travel_select_at.test
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.result
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.sh
Labels: pr-feature

#15183 fix(query): Signature not match while query has upper cases
  Cargo.lock
  Cargo.toml
Labels: ci-cloud

#15174 chore(executor): add time limit daemon for queries executor
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  tests/sqllogictests/suites/base/20+_others/20_0008_max_execute_time.test
Labels: pr-chore

#15185 refactor(query): remove useless code (system.tracing)
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/service/src/api/http/v1/logs.rs
  src/query/service/tests/it/api/http/logs.rs
  src/query/service/tests/it/api/http/mod.rs
  src/query/service/tests/it/storages/system.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/tracing_table.rs
Labels: pr-refactor

#15190 chore(query): max_running_queries from 0 to 8, enable the max running queries
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#15193 chore(query): add session_running_acquired_queries metric
  src/common/metrics/src/metrics/session.rs
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-chore

#15195 refactor: explain merge into
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/format/display_plan.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-refactor

#15154 feat(rbac): drop role will transfer role owns object to account_admin
  .github/actions/fuse_compat/action.yml
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/users/src/role_mgr.rs
  tests/fuse-compat/compat-logictest/rbac/fuse_compat_read
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0008_privilege_ownership.result
  tests/suites/0_stateless/18_rbac/18_0008_privilege_ownership.sh
Labels: pr-feature, ci-cloud

#15199 fix(query): set setting case insensitive
  src/query/sql/src/planner/binder/setting.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings.test
Labels: pr-bugfix

#15188 fix(query): show grants panic when role/user has immute db/table privilege
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_show_grants.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.sh
Labels: pr-bugfix

#15194 feat(query): implement ST_MAKEPOLYGON
  src/common/io/src/geometry.rs
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15203 refactor: simplify `DatabaseFactory`, just static dispatch
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/src/context.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/principal/user_identity.rs
  src/meta/app/src/principal/user_stage_file_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/app/src/tenant_key/ident.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/database_factory.rs
  src/query/sql/src/planner/binder/ddl/index.rs
Labels: pr-refactor

#15209 fix: geos-sys compile error #15200
  Cargo.lock
  Cargo.toml
  src/query/expression/Cargo.toml
  src/query/formats/Cargo.toml
  src/query/functions/Cargo.toml
Labels: pr-bugfix

#15208 chore(planner): fix decorrelate exists subquery
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-chore

#15184 refactor: add view system tables
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_table_describe.rs
  src/query/service/src/interpreters/interpreter_view_describe.rs
  src/query/service/src/interpreters/util.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/storages/information_schema/src/views_table.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/base/01_system/01_0003_information_schema.test
Labels: pr-refactor

#15217 fix(query): alter modify col comment need modify when type not modify
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
Labels: pr-bugfix

#15222 chore: old op LogicalGet modify to new op name Scan
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_sort_scan.rs
  src/query/sql/src/planner/plans/operator.rs
Labels: pr-chore

#15219 chore(query): parser error need to log error
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
Labels: pr-chore

#15223 fix(query): fix negative session_running_acquired_queries
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-bugfix

#15220 chore: vacuum drop table for external location table
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-chore

#15224 chore(query): fix nullable array domain
  src/query/storages/common/index/src/range_index.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_04_range_pruning.test
Labels: pr-chore, ci-cloud

#15205 feat(http): get client ip from headers
  src/query/service/src/servers/http/middleware.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#15225 chore(query): add query queued duration for query log
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/query_log_table.rs
Labels: pr-chore

#15227 feat(query): support alter table comment
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_modify_comment.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
Labels: pr-feature

#15230 fix: fix map get return double nested nullable
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/storages/common/index/src/bloom_index.rs
  tests/sqllogictests/suites/base/03_common/03_0037_insert_into_map.test
Labels: pr-bugfix

#15215 refactor: ScalarVisitor refactor push_down_prewhere
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
Labels: pr-refactor

#15196 feat(query): match function support multiple fields with boost
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-feature

#15244 feat: add setting `script_max_steps`
  src/query/service/src/interpreters/interpreter_execute_immediate.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/15_procedure/15_0001_execute_immediate.test
Labels: pr-feature

#15186 feat: atomic CTAS
  src/binaries/metabench/main.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/ee/src/stream/handler.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_share_alter_tenants.rs
  src/query/service/src/interpreters/interpreter_share_create.rs
  src/query/service/src/interpreters/interpreter_share_drop.rs
  src/query/service/src/interpreters/interpreter_share_grant_object.rs
  src/query/service/src/interpreters/interpreter_share_revoke_object.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/share/src/share.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_ctas.test
Labels: pr-feature

#15243 refactor: avoid using PREFIX directly. use method to build list-prefix
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/id_generator.rs
  src/meta/app/src/key_with_tenant.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_identity.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/kvapi/src/kvapi/key.rs
Labels: pr-refactor

#15245 chore(query): remove useless function map:get
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#15251 refactor: remove unused `list_all_tables()`
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
Labels: pr-refactor

#15233 feat(query): integrate "like" to filter execution
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/filter/like.rs
  src/query/expression/src/filter/mod.rs
  src/query/expression/src/filter/select.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/filter/select_value/select_column_scalar.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/types/string.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/mod.rs
  tests/sqllogictests/suites/query/filter.test
Labels: pr-feature

#15249 feat(query): add user option: disabled
  src/meta/app/src/principal/user_info.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/v087_user_option_disabled.rs
  src/meta/protos/proto/user.proto
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/service/tests/it/storages/testdata/users_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/storages/system/src/users_table.rs
  src/query/users/src/user_mgr.rs
  tests/sqllogictests/suites/base/06_show/06_0016_show_users.test
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.py
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.result
Labels: pr-feature

#15242 chore: update sqllogictests crate to 0.19.1
  Cargo.lock
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/suites/base/15_procedure/15_0001_execute_immediate.test
  tests/sqllogictests/suites/duckdb/join/semianti/antijoin.test
  tests/sqllogictests/suites/duckdb/join/semianti/semijoin.test
  tests/sqllogictests/suites/duckdb/join_small_block/semianti/antijoin.test
  tests/sqllogictests/suites/duckdb/join_small_block/semianti/semijoin.test
  tests/sqllogictests/suites/query/functions/auto_parse.test
  tests/sqllogictests/suites/stage/formats/csv/csv_select.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_select.test
  tests/sqllogictests/suites/stage/select_star.test
Labels: pr-chore

#15254 feat(query): Inverted index support set filters and index record options
  src/common/base/src/base/mod.rs
  src/common/base/src/base/string.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/src/interpreters/interpreter_table_index_refresh.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
Labels: pr-feature

#15229 fix: solve some inconsistencies between code and comments
  src/common/arrow/src/arrow/array/dictionary/mod.rs
  src/common/arrow/src/arrow/array/list/mod.rs
  src/common/arrow/src/arrow/array/map/mod.rs
  src/common/arrow/src/arrow/array/primitive/mod.rs
  src/common/arrow/src/arrow/io/ipc/read/common.rs
Labels: pr-bugfix

#15260 feat(query): add new setting parse_datetime_ignore_remainder.
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-feature

#15239 chore(executor): add node level error tracking
  src/common/base/src/runtime/error_info.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/queries_pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
Labels: pr-chore, ci-benchmark

#15275 refactor: grant_ownership retry logic
  src/query/management/src/role/role_mgr.rs
Labels: pr-refactor

#15276 feat: support cte in update selection
  src/query/ast/src/ast/statements/update.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/update.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/query/cte/update_cte.test
Labels: pr-feature

#15262 refactor: Extract `kvapi::KeyCodec` trait from `kvapi::Key`
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/id_generator.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_identity.rs
  src/meta/app/src/principal/user_stage_file_ident.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/mod.rs
Labels: pr-refactor

#15271 refactor: Introduce generic parameter `N` to `TIdent`
  Cargo.lock
  src/meta/api/src/background_api_test_suite.rs
  src/meta/api/src/crud/mod.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/key_with_tenant.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/app/src/tenant_key/raw.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/key_codec.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/query/service/Cargo.toml
Labels: pr-chore, pr-refactor

#15280 refactor: define `ShareConsumer` with `TIdent`
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/meta/app/src/share/share_consumer_ident.rs
Labels: pr-refactor

#15279 fix: fix delete from subquery and one more condition bug
  .cargo/audit.toml
  src/query/service/src/interpreters/interpreter_delete.rs
  tests/sqllogictests/suites/base/issues/issue_15278.test
Labels: pr-bugfix

#15282 chore(query): refine set sql_dialect error message
  src/query/ast/src/parser/common.rs
  src/query/ast/tests/it/testdata/expr-error.txt
Labels: pr-chore

#15283 chore(query): bump arrow-udf to extra lib
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
Labels: pr-chore

#15284 feat: support cte in delete
  src/query/ast/src/ast/statements/delete.rs
  src/query/ast/src/parser/statement.rs
  src/query/sql/src/planner/binder/delete.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/query/cte/delete_cte.test
Labels: pr-feature

#15285 refactor: define VirtualColumnNameIdent with TIdent
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/schema/virtual_column_ident.rs
  src/query/service/src/interpreters/interpreter_virtual_column_alter.rs
  src/query/service/src/interpreters/interpreter_virtual_column_create.rs
  src/query/service/src/interpreters/interpreter_virtual_column_drop.rs
Labels: pr-refactor

#15290 chore(planner): improve delete explain
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/plans/delete.rs
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
Labels: pr-chore

#15291 feat(query): support `map_keys` and `map_values` function
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0073_prql.test
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#15297 chore: Enhance Flexibility of Dynamic Table Creation by Allowing Options in Any Order
  src/query/ast/src/parser/dynamic_table.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#15299 chore: add license to cargo.toml
  Cargo.lock
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/transforms/Cargo.toml
  src/query/settings/Cargo.toml
  src/query/storages/result_cache/Cargo.toml
Labels: pr-chore

#15289 refactor: define TenantQuotaIdent with TIdent
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/tenant/mod.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/embedded/tests/it/schema_api_impl.rs
  src/meta/kvapi/src/kvapi/key_codec.rs
Labels: pr-refactor

#15298 chore(planner): fix can_filter_null
  src/query/sql/src/planner/optimizer/rule/rewrite/push_down_filter_join/outer_join_to_inner_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
Labels: pr-chore

#15303 chore(query): simplify stage list
  src/common/storage/src/stage.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
Labels: pr-chore

#15288 chore: enable distributed optimization for subquery in delete
  src/query/service/src/interpreters/interpreter_delete.rs
Labels: pr-chore, ci-cloud

#15302 feat(query): implement TO_GEOMETRY/TRY_TO_GEOMETRY function
  Cargo.lock
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15309 chore: correct stream error message
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/storages/stream/src/stream_table.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
Labels: pr-chore

#15107 feat(query): 14925, support udf wasm
  .github/actions/test_unit/action.yml
  Cargo.lock
  Cargo.toml
  src/query/ee/tests/it/aggregating_index/mod.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/cloud_control_server/simple_server.py
  tests/data/udf/wasm/test10-udf-wasm-gcd/test10-udf-wasm-gcd.tar.gz
  tests/data/udf/wasm/test10-udf-wasm-gcd/test10_udf_wasm_gcd.wasm.zst
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/udf_native/01_0001_udf_wasm.test
  tests/sqllogictests/suites/udf_native/03_0001_udf_js.test
Labels: pr-feature

#15311 fix: don't constant fold giant expr
  src/query/expression/src/evaluator.rs
Labels: pr-bugfix

#15313 fix(query): fix decimal op loss precision
  src/query/functions/src/scalars/decimal/arithmetic.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/src/scalars/decimal/mod.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  tests/sqllogictests/suites/query/functions/02_0000_function_arithmetic.test
Labels: pr-bugfix

#15308 fix(query): NDJSON copy into allow cast bool and number to string
  src/query/formats/src/field_decoder/json_ast.rs
  tests/data/ndjson/cast_sample.ndjson
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_cast.test
Labels: pr-bugfix

#15261 chore: tune auto-compact parameters triggered by insertions
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/conflict.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
Labels: pr-chore

#15315 fix: incorrect overlap checking (replace into)
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0024_replace_into_issue_15307.test
Labels: pr-bugfix

#15316 chore(query): improve delete pruner
  src/query/service/src/interpreters/interpreter_delete.rs
Labels: pr-chore

#15320 chore(planner): fix merge into statistics
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore

#15322 chore(planner): add disable merge into join reorder settings
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore

#15318 feat(query): top k syntax support
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/script/src/compiler.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/mode/standalone/limit.test
Labels: pr-feature

#15323 fix(typo): refering -> referring
  src/common/storage/src/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement-error.txt
Labels: pr-bugfix

#15321 refactor: TIdent add a flag to indicate if the tenant should be encoded into key
  src/meta/app/src/background/job_ident.rs
  src/meta/app/src/background/task_ident.rs
  src/meta/app/src/data_mask/data_mask_name_ident.rs
  src/meta/app/src/data_mask/mask_policy_table_id_list_ident.rs
  src/meta/app/src/principal/connection_ident.rs
  src/meta/app/src/principal/network_policy_ident.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/meta/app/src/principal/role_ident.rs
  src/meta/app/src/principal/udf_ident.rs
  src/meta/app/src/principal/user_defined_file_format_ident.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/app/src/schema/catalog_name_ident.rs
  src/meta/app/src/schema/database_id_history_ident.rs
  src/meta/app/src/schema/database_name_ident.rs
  src/meta/app/src/schema/index_name_ident.rs
  src/meta/app/src/schema/sequence.rs
  src/meta/app/src/schema/table_lock_ident.rs
  src/meta/app/src/schema/virtual_column_ident.rs
  src/meta/app/src/share/share_consumer_ident.rs
  src/meta/app/src/share/share_end_point_ident.rs
  src/meta/app/src/share/share_name_ident.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/app/src/tenant_key/resource.rs
Labels: pr-refactor

#15329 refactor: http handler check has_result_set() before get schema of plan.
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-refactor

#15330 fix: insert Plan should not have schema.
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/sql/src/planner/plans/plan.rs
Labels: pr-bugfix

#15325 feat(query): implement st_asewkb/st_aswkb/st_asewkt/st_aswkt/st_geohash
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/cloud_control_server/simple_server.py
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15332 chore(query): add merge ratio in sort spill
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
Labels: pr-chore, ci-benchmark

#15331 refactor: Define DataMaskIdIdent with TIdent
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/data_mask/data_mask_id_ident.rs
  src/meta/app/src/data_mask/data_mask_name_ident.rs
  src/meta/app/src/data_mask/mod.rs
Labels: pr-refactor

#15334 refactor: add right bound when listing expired keys to avoid unnecessary data copy
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
Labels: pr-refactor

#15335 chore: refine runtime filter log
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-chore

#15339 refactor: Upgrade Openraft to 0.9.7
  Cargo.lock
  Cargo.toml
  src/meta/types/src/raft_types.rs
Labels: pr-refactor

#15343 feat(query): support with clause in copy into
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  tests/sqllogictests/suites/base/03_common/03_0028_copy_into_stage.test
Labels: pr-feature

#15267 feat(query): inverted index support json type
  Cargo.lock
  Cargo.toml
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/functions/src/scalars/geometry.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_variant_load.result
Labels: pr-feature

#15344 chore: add err message to help capture new agg ht hang
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
Labels: pr-chore

#15345 refactor: improve install-snapshot performance
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/types/src/raft_snapshot_data.rs
Labels: pr-refactor

#15350 chore: enhance runtime filter log
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-chore

#15336 feat(query): support compute quota feature
  Cargo.lock
  src/common/license/Cargo.toml
  src/common/license/src/license.rs
  src/query/ee/src/license/license_mgr.rs
  src/query/ee/tests/it/license/license_mgr.rs
  tests/suites/5_ee/00_check/00_0014_license_info.result
Labels: pr-feature

#15349 fix(executor): queries exeuctor points calc incorrectly
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
Labels: pr-bugfix

#15351 refactor: move snapshot building io to other task.
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#15356 refactor: only has password policy update user login res
  src/query/service/src/auth.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/users/src/user_mgr.rs
Labels: pr-refactor

#15358 refactor: Define TenantOwnershiptObject with TIdent
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/ownership_object.rs
  src/meta/app/src/principal/tenant_ownership_object_ident.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/raft-store/src/applier.rs
  src/query/management/src/role/role_mgr.rs
Labels: pr-refactor

#15361 refactor: define TenantUserIdent with TIdent
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/principal_identity.rs
  src/meta/app/src/principal/tenant_user_ident.rs
  src/meta/app/src/principal/user_identity.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/management/src/user/user_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/notification.rs
  src/query/service/src/interpreters/common/task.rs
  src/query/service/src/interpreters/interpreter_show_grants.rs
  src/query/service/src/servers/admin/v1/processes.rs
  src/query/service/src/servers/admin/v1/queries_queue.rs
  src/query/service/src/table_functions/cloud/task_dependents.rs
  src/query/service/src/table_functions/cloud/task_dependents_enable.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/background_jobs_table.rs
  src/query/storages/system/src/background_tasks_table.rs
  src/query/storages/system/src/notification_history_table.rs
  src/query/storages/system/src/notifications_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/tasks_table.rs
  src/query/users/src/password_policy.rs
Labels: pr-refactor

#15364 chore(planner): support fast return for hash join spill
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  tests/sqllogictests/suites/query/join/fast_return.test
Labels: pr-chore

#15363 fix(query): show processlit host is null in HTTPQuery
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/sessions/session.rs
  tests/sqllogictests/suites/base/06_show/06_0013_show_processlist.test
Labels: pr-bugfix

#15360 fix: check all partitions for small files instead of the last only.
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
Labels: pr-bugfix

#15368 refactor: session_ctx.client_ip refactor to Option<String>
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/servers/admin/v1/queries_queue.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/storages/system/src/processes_table.rs
  src/query/storages/system/src/queries_queue.rs
  tests/sqllogictests/suites/base/06_show/06_0013_show_processlist.test
Labels: pr-refactor

#15362 feat(query): inverted index use empty position data when query not contain phrase terms
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/inverted_index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/pruner/src/block_meta.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/io/write/mod.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-feature

#15369 chore(ci): fix flaky test;
  tests/sqllogictests/suites/base/06_show/06_0013_show_processlist.test
Labels: pr-chore

#15370 fix: structlog should print non-zero-rooted tree
  src/common/tracing/src/structlog.rs
Labels: pr-bugfix

#15347 feat(query): implement ST_DIMENSION function
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15365 refactor: move DirName to separate file; add peek() to KeyParser
  src/meta/kvapi/src/kvapi/dir_name.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/meta/kvapi/src/kvapi/key_parser.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/kvapi/src/kvapi/testing.rs
Labels: pr-refactor

#15366 feat(query): implement ST_ENDPOINT
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15371 refactor: Define StageFileIdent with TIdent
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/stage_file_ident.rs
  src/meta/app/src/principal/stage_file_path.rs
  src/meta/app/src/principal/user_stage_ident.rs
Labels: pr-refactor

#15372 fix: when listing-kv, limit the right bound if possible
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v002/leveled_store/level.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/utils.rs
Labels: pr-bugfix

#15374 chore: add more thest to prefix_right_bound()
  src/meta/raft-store/src/utils.rs
Labels: pr-chore

#15354 chore: purge inverted index
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/gc.rs
  tests/suites/5_ee/06_inverted_index/06_0000_purge_inverted_index.result
  tests/suites/5_ee/06_inverted_index/06_0000_purge_inverted_index.sh
Labels: pr-chore

#15373 feat(query): implement ST_POINTN
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15357 feat(query): support explain insert with insert source
  src/meta/app/src/principal/user_stage.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/sql/src/planner/plans/insert.rs
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/insert.test
Labels: pr-feature

#15375 chore(query): reuse the script runtime during pipeline builder
  Cargo.lock
  Cargo.toml
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  tests/sqllogictests/suites/udf_native/01_0001_udf_wasm.test
Labels: pr-chore

#15377 feat(query): implement ST_SRID
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15380 chore: adjust row count assertion in table compaction
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
Labels: pr-chore

#15378 refactor: remove stage use stream to avoid OOM.
  src/common/storage/src/stage.rs
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.sh
Labels: pr-refactor

#15379 refactor: sync create inverted index
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  src/common/metrics/src/metrics/storage.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_table_index_refresh.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/table_meta/src/meta/current/mod.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/v4/index.rs
  src/query/storages/common/table_meta/src/meta/v4/mod.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
  src/query/storages/common/table_meta/src/meta/versions.rs
  src/query/storages/common/table_meta/src/readers/versioned_reader.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/read/inverted_index/mod.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/io/write/mod.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  src/query/storages/system/src/caches_table.rs
  tests/suites/5_ee/06_inverted_index/06_0000_purge_inverted_index.result
  tests/suites/5_ee/06_inverted_index/06_0000_purge_inverted_index.sh
Labels: pr-refactor

#15381 refactor: dispatch load to 16 threads when installing snapshot
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/sm_v002/sm_v002.rs
Labels: pr-refactor
