Repository databendlabs/databend, pull requests merged in 2024-07, with the labels that each got.

#15924 chore(planner): refactor join equi conditions
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join.rs
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/deduplicate_join_condition.rs
  src/query/sql/src/planner/optimizer/filter/pull_up_filter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_commute_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_commute_join_base_table.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_eager_aggregation.rs
  src/query/sql/src/planner/optimizer/rule/transform/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/rule/transform/util.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-chore

#15934 chore(planner): refine join_order_changed check in merge into
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#15936 ci: longer timeout for test_stateless_standalone.
  .github/workflows/reuse.linux.yml
Labels: pr-build

#15935 chore: remove streaming_load api.
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load.result
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_variant_load.result
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_variant_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_parquet_int96.result
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_parquet_int96.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_on_error.result
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_on_error.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.sh
Labels: pr-chore

#15940 chore(query): readd some tests
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v080_geometry_datatype.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
Labels: pr-chore

#15944 fix(query): fix stackoverflow for ci release mode
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
Labels: pr-bugfix

#15937 feat: refactor create share endpoint ddl
  src/common/exception/src/exception_code.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/share/mod.rs
  src/meta/app/src/share/share.rs
  src/meta/proto-conv/src/share_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v95_share_endpoint_meta.rs
  src/meta/protos/proto/share.proto
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_share_endpoint_show.rs
  src/query/sql/src/planner/binder/ddl/share.rs
  src/query/sql/src/planner/plans/share.rs
  tests/sqllogictests/suites/base/06_show/06_0020_show_share_endpoint.test
Labels: pr-feature

#15939 refactor: speed up ColumnBuilder::repeat(Scalar::Null).
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/values.rs
Labels: pr-refactor

#15945 chore: add issue case for pr15941
  tests/sqllogictests/suites/query/cte/cte.test
Labels: pr-chore

#15942 chore(query): enable none lazy pruner in lazy read
  src/query/sql/src/executor/physical_plans/physical_limit.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  tests/sqllogictests/suites/mode/cluster/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into_row_fetch.test
Labels: pr-chore

#15949 fix(query): window panic when max_block_size is small
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  tests/sqllogictests/suites/query/window_function/expr_in_window.test
Labels: pr-bugfix

#15947 fix: when upgrade snapshot v002 to v003, put kvs after expire index
  src/meta/README.md
  src/meta/binaries/metabench/main.rs
  src/meta/raft-store/src/sm_v003/adapter.rs
  src/meta/service/src/version.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  tests/compat/meta_meta/test_meta_meta.sh
Labels: pr-bugfix

#15938 feat: add built-in udfs in config
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  scripts/ci/deploy/config/databend-query-node-hive.toml
  scripts/ci/deploy/config/databend-query-node-native.toml
  scripts/ci/deploy/config/databend-query-node-otlp-logs.toml
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  src/binaries/query/entry.rs
  src/query/config/Cargo.toml
  src/query/config/src/builtin.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/service/Cargo.toml
  src/query/service/src/builtin/builtin_udfs.rs
  src/query/service/src/builtin/builtin_users.rs
  src/query/service/src/builtin/mod.rs
  src/query/service/src/global_services.rs
  src/query/service/src/lib.rs
  src/query/service/src/test_kits/config.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/users/src/builtin.rs
  src/query/users/src/lib.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_mgr.rs
  src/query/users/src/user_udf.rs
  tests/sqllogictests/suites/udf_server/udf_builtin.test
  tests/udf/udf_server.py
Labels: pr-feature, pr-chore

#15955 fix(meta): fix reserved number err
  src/meta/protos/proto/database.proto
Labels: pr-bugfix

#15948 feat(planner): support pruning columns for merge into when insert only
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/settings/src/settings_default.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into_row_fetch.test
Labels: pr-feature, ci-cloud

#15954 refactor: fuse statistics table function
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
Labels: pr-refactor

#15952 feat: clickhouse handler no longer support insert with format.
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/input_formats/beyond_end_reader.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_parquet.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/mod.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/pipeline/sources/src/input_formats/input_format.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/pipeline/sources/src/input_formats/input_split.rs
  src/query/pipeline/sources/src/input_formats/mod.rs
  src/query/pipeline/sources/src/input_formats/source_aligner.rs
  src/query/pipeline/sources/src/input_formats/transform_deserializer.rs
  src/query/pipeline/sources/src/lib.rs
  src/query/pipeline/sources/tests/it/main.rs
  src/query/pipeline/sources/tests/it/sources/input_formats/mod.rs
  src/query/pipeline/sources/tests/it/sources/input_formats/split.rs
  src/query/pipeline/sources/tests/it/sources/mod.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_cast_schema.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  src/query/storages/stage/src/compression.rs
  src/query/storages/stage/src/input_context_bridge.rs
  src/query/storages/stage/src/lib.rs
  src/query/storages/stage/src/read/mod.rs
  src/query/storages/stage/src/read/one_file_partition.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/ndjson/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/tsv/block_builder.rs
  src/query/storages/stage/src/read/row_based/mod.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
  src/query/storages/stage/src/read/row_based/read_pipeline.rs
  src/query/storages/stage/src/read/row_based/utils.rs
  src/query/storages/stage/src/stage_table.rs
Labels: pr-feature

#15957 feat(query): Array lambda function support outer scope columns
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-feature

#15964 fix(storage): stream show columns maybe error
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
Labels: pr-bugfix

#15913 feat: pretty print backtrace
  Cargo.lock
  Cargo.toml
  src/bendpy/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/lib.rs
  src/common/io/Cargo.toml
  src/query/ee/Cargo.toml
  src/query/functions/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/servers/mysql/mysql_federated.rs
  src/query/sql/Cargo.toml
Labels: pr-feature

#15965 feat: allow tuple field name to contain '_'.
  src/query/ast/src/parser/expr.rs
Labels: pr-feature

#15967 refactor: optimize OrcChunkReader.
  src/query/storages/orc/src/chunk_reader_impl.rs
Labels: pr-refactor

#15968 fix: update orc-rust to fix error when read columns of array<float>.
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#15962 feat(query): alter user support modify current password
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0011_alter_own_username.result
  tests/suites/0_stateless/18_rbac/18_0011_alter_own_username.sh
Labels: pr-feature

#15869 feat: update sort algorithm using loser tree for multi sort merge
  src/query/pipeline/transforms/src/processors/transforms/sort/algorithm.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/cursor.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/loser_tree.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/merger.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/tests/it/merger.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#15976 chore: Bump hive_metastore to 0.1.0
  Cargo.lock
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/hive/hive/src/utils.rs
Labels: pr-chore

#15951 refactor: Use iceberg-rust to replace icelake
  .github/actions/test_stateful_iceberg_rest_standalone/action.yml
  .github/workflows/reuse.linux.yml
  Cargo.lock
  Cargo.toml
  docker/it-iceberg-rest/docker-compose.yaml
  scripts/ci/ci-run-stateful-iceberg-rest-tests-standalone.sh
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v095_share_endpoint_meta.rs
  src/meta/proto-conv/tests/it/v096_database_meta.rs
  src/meta/proto-conv/tests/it/v098_catalog_option.rs
  src/meta/protos/proto/catalog.proto
  src/query/formats/Cargo.toml
  src/query/service/src/interpreters/interpreter_catalog_create.rs
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/iceberg/src/stats.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0029_ddl_create_catalog.test
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.result
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.sh
  tests/suites/1_stateful/10_iceberg/10_0001_read.result
  tests/suites/1_stateful/10_iceberg/10_0001_read.sh
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.result
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.sh
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.result
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.sh
Labels: pr-refactor

#15969 feat(executor): support error profiling for cluster mode
  src/common/grpc/src/dns_resolver.rs
  src/query/catalog/src/table_context.rs
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/admin/v1/query_profiling.rs
  src/query/service/src/servers/flight/v1/actions/get_profile.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/packets/mod.rs
  src/query/service/src/servers/flight/v1/packets/packet.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/queries_profiling.rs
Labels: pr-feature, ci-benchmark, ci-cloud

#15973 fix(query): fix tuple inner fields name with quotes
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/schema.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/tests/it/schema.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/base/03_common/03_0026_insert_into_tuple.test
Labels: pr-bugfix

#15981 fix(query): udf function support lambda arguments
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
Labels: pr-bugfix

#15982 feat(query): implement st_length/st_distance
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15984 feat: config option for syncing disk cache data
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
Labels: pr-feature

#15987 feat: add tenant&queryid to udf client
  src/query/expression/src/utils/udf_client.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_retry_async.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
Labels: pr-feature, ci-cloud

#15980 chore: move display_ident() to ast
  src/query/ast/src/ast/quote.rs
  src/query/expression/src/utils/display.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/interpreters/util.rs
  tests/sqllogictests/suites/base/05_ddl/05_0025_ddl_user_stage.test
Labels: pr-chore

#15990 chore(query): show user functions should display built-in udfs
  src/query/storages/system/src/user_functions_table.rs
  src/query/users/src/user_udf.rs
  tests/sqllogictests/suites/udf_server/udf_builtin.test
  tests/sqllogictests/suites/udf_server/user_functions_table.test
  tests/suites/0_stateless/20+_others/20_0016_udf_timestamp.result
Labels: pr-chore

#15991 feat: Reducing column.clone overhead in transform aggregate by introducing InputColumns
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_combinator_state.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
Labels: pr-feature

#15975 feat: support real-time retrieval of profiles from admin API (part 2)
  src/common/exception/src/exception_code.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/admin/v1/query_profiling.rs
  src/query/service/src/servers/flight/v1/actions/get_profile.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/system/src/log_queue.rs
  tests/suites/1_stateful/02_query/02_0007_get_profile.result
  tests/suites/1_stateful/02_query/02_0007_get_profile.sh
Labels: pr-feature

#15966 refactor: unify transaction related code
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/databases/share/share_database.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_comment.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/common/txn/src/manager.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/revert.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: pr-refactor

#15996 refactor: rename metrics & tweak system.caches table
  src/common/metrics/src/metrics/cache.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-refactor

#15858 refactor: upgrade QuotaMgr to using protobuf
  src/meta/app/src/tenant/quota.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/tenant_quota_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v100_tenant_quota.rs
  src/meta/protos/proto/tenant.proto
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/tests/it/main.rs
  src/query/management/tests/it/quota.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#15997 fix: wrong arrow schema when fuse engine read parquet
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
  tests/sqllogictests/suites/mode/standalone/pr15804.test
Labels: pr-bugfix

#15999 chore(query): fix cluster ci failure if set license
  tests/sqllogictests/suites/base/01_system/01_0012_system_temp_files.test
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sql
Labels: pr-chore

#15995 chore(ci): add license for cluster test
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.toml
  clippy.toml
Labels: pr-chore

#16006 fix(query): fix drop table column with quotes
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
Labels: pr-bugfix

#16008 fix(query): fix incorrect fast_memcmp function
  src/common/hashtable/src/utils.rs
  src/common/hashtable/tests/it/main.rs
Labels: pr-bugfix

#16009 chore: update nom-rule
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/query.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/query.rs
Labels: pr-chore

#15960 feat: http handler limit body size of each response to 10MB.
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/string_block.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/http/json_block.rs
Labels: pr-feature

#16002 fix(query): coalesce continue loop when arg is null
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/crdb/conditional.test
Labels: pr-bugfix

#15946 refactor(query): use shuffle on distributed merge into
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into_append_not_matched.rs
  src/query/service/src/pipelines/builders/builder_merge_into_manipulate.rs
  src/query/service/src/pipelines/builders/builder_merge_into_organize.rs
  src/query/service/src/pipelines/builders/builder_merge_into_serialize.rs
  src/query/service/src/pipelines/builders/builder_row_fetch.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/processor_accumulate_row_number.rs
  src/query/service/src/pipelines/processors/transforms/processor_deduplicate_row_number.rs
  src/query/service/src/pipelines/processors/transforms/processor_extract_hash_table_by_row_number.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_injector.rs
  src/query/service/src/servers/flight/v1/scatter/flight_scatter_hash.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_add_row_number.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_manipulate.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_organize.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_serialize.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/distributed/mod.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/add_row_number.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_deserialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_serialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_add_rownumber_column.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
Labels: pr-refactor, ci-cloud

#16012 fix(query): unify udf allow list validator
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/udf_validator.rs
Labels: pr-bugfix

#15889 feat: add NameResolutionSuggest to enhancement table name case sensitive error
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  tests/sqllogictests/suites/base/issues/issue_13718.test
  tests/sqllogictests/suites/query/case_sensitivity/name_hit.test
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/1_stateful/09_http_handler/09_0001_json_response.result
Labels: pr-feature

#16010 chore: add repo link in databend-common-ast lib
  src/query/ast/Cargo.toml
Labels: pr-chore

#16014 refactor: add history record for queries_profiling table
  scripts/ci/ci-run-stateful-tests-cluster-minio.sh
  scripts/ci/ci-run-stateful-tests-standalone-minio.sh
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/admin/v1/query_profiling.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/queries_profiling.rs
  tests/suites/1_stateful/02_query/02_0008_profile.py
  tests/suites/1_stateful/02_query/02_0008_profile.result
Labels: pr-refactor

#16015 chore(query): disallow agg/window/udfcall in insert expr
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/sql/src/planner/binder/mod.rs
  tests/sqllogictests/suites/base/03_common/03_0027_insert_default.test
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-chore

#16004 fix: arrow schema in parquet reader
  src/query/storages/delta/src/table.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/predicate.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/no_prefetch.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/predicate_and_topk.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/read_policy/topk_only.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/topk.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
Labels: pr-bugfix

#16019 feat(query): add setting sort_spilling_batch_bytes
  src/query/pipeline/transforms/src/processors/transforms/sort/merger.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/spill.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#16013 chore: remove unused ShareEndpointManager and ShareTableConfig
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/config.rs
  src/common/storage/src/lib.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_share_show.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sharing/Cargo.toml
  src/query/sharing/src/lib.rs
  src/query/sharing/src/share_endpoint.rs
  tests/sqllogictests/suites/base/06_show/06_0009_show_shares.test
Labels: pr-chore

#16017 feat: change nan/inf to NaN/Infinity in http handler results.
  src/query/formats/src/field_encoder/values.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/query/functions/02_0014_function_maths.test
Labels: pr-feature

#16024 feat: pretty print backtrace on panic
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/lib.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/panic_hook.rs
Labels: pr-bugfix, pr-feature

#15978 refactor: optimize take_by_slices_limit_from_blocks
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/empty_map.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/kernel.rs
  src/query/expression/tests/it/testdata/kernel-pass.txt
Labels: pr-refactor

#16020 feat(ast): add TokenKind::{Get, Put}
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/parser/token.rs
Labels: pr-feature

#16022 feat(query): add new setting enable_dst_hour_fix
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/src/cursor_ext/mod.rs
  src/common/io/src/format_settings.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  src/query/expression/src/function.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/formats/src/common_settings.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/file_format_type.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/variant.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-feature

#16028 feat: Change 'inf' to 'Infinity' when unloading CSV/TSV
  src/query/formats/src/common_settings.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/csv.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_option_nan_inf.test
Labels: pr-feature

#16029 chore: add `errors` column and more tests for `system.queries_profiling` table
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/queries_profiling.rs
  tests/sqllogictests/suites/base/01_system/01_0014_system_queries_profiling.test
Labels: pr-chore

#15994 feat(query): ST_CONTAINS
  scripts/benchmark/query/load/tpch10.sh
  scripts/benchmark/query/load/tpch100.sh
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/cloud_control_server/simple_server.py
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
  tests/udf/udf_server.py
Labels: pr-feature

#16033 ci: Build runner for nightly-2024-07-02
  scripts/setup/rust-toolchain.toml
Labels: pr-build

#16032 chore(query): add full expr in error message
  src/query/expression/src/evaluator.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/control.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/base/03_common/03_0018_insert_into_variant.test
  tests/sqllogictests/suites/crdb/and_or.test
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/0_stateless/20+_others/20_0018_stackoverflow.result
  tests/suites/0_stateless/20+_others/20_0018_stackoverflow.sh
  tests/suites/1_stateful/09_http_handler/09_0000_invalid_utf8.result
Labels: pr-chore

#16038 refactor: Refactor aggregate hashtable, replace &[Column] with InputColumns
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/tests/it/aggregate.rs
  src/query/expression/tests/it/main.rs
  src/query/expression/tests/it/testdata/fill_field_default_value.txt
  src/query/expression/tests/it/types.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
Labels: pr-feature, pr-refactor

#16035 feat(query): ST_SETSRID/ST_NPOINTS
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
  tests/suites/1_stateful/02_query/02_0008_profile.py
Labels: pr-feature

#16041 fix(query): fix create table as query with null type
  src/query/expression/src/schema.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#16042 chore: temporarily disable a flaky test
  tests/sqllogictests/suites/base/01_system/01_0014_system_queries_profiling.test
  tests/suites/1_stateful/02_query/02_0008_profile.py
  tests/suites/1_stateful/02_query/02_0008_profile.result
Labels: pr-chore

#16046 fix(query): fix ambiguous time
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#16045 chore: add privilege checking for `fuse_amend`
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/20+_others/20_0019_set_cache_capacity_privilege_check.result
  tests/suites/0_stateless/20+_others/20_0019_set_cache_capacity_privilege_check.sh
Labels: pr-chore

#16043 chore: add `node` column to table `system.malloc_stats_totals`
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/malloc_stats_totals_table.rs
Labels: pr-chore

#16044 feat: snapshots generated in multi txn has same prev_snapshot_id
  Cargo.lock
  src/query/service/tests/it/storages/fuse/conflict.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/common/generators/snapshot_generator.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0100_insert_multi_table.sql
  tests/sqllogictests/suites/base/14_transaction/14_0003_merge_into.test
  tests/sqllogictests/suites/base/14_transaction/14_0005_snapshots.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0002_stream_txn_consume.test
Labels: pr-feature

#15919 feat(query): add option [ IGNORE | RESPECT NULLS ] functionality for window rank function(first_value, last_value, nth_value)
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  tests/sqllogictests/suites/query/window_function/window_ignore_nulls.test
Labels: pr-feature

#16054 refactor(query): add crash handler for databend-query
  Cargo.lock
  src/binaries/query/ee_main.rs
  src/binaries/query/oss_main.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/crash_hook.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/panic_hook.rs
Labels: pr-refactor

#16052 fix: output format missing '-' for '-Infinity'.
  src/query/formats/src/field_encoder/helpers/number_helpers.rs
  tests/sqllogictests/suites/query/functions/02_0014_function_maths.test
Labels: pr-bugfix

#16053 feat: add function name to udf client header
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/build.rs
  src/common/base/src/headers.rs
  src/common/base/src/lib.rs
  src/common/base/src/version.rs
  src/common/cloud_control/src/client_config.rs
  src/common/cloud_control/src/cloud_api.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/sharing/src/share_endpoint.rs
  src/query/sharing/src/share_endpoint_client.rs
  src/query/sharing/src/signer.rs
Labels: pr-feature

#16056 feat: back compatibility of old share db
  src/query/service/src/databases/share/dummy_share_database.rs
  src/query/service/src/databases/share/mod.rs
  src/query/service/src/databases/share/share_database.rs
Labels: pr-feature

#16050 refactor: Simplify HashMethod.build_keys_state function signature by replacing &[(Column, DataType)] with InputColumns
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/input_columns.rs
  src/query/expression/src/kernels/group_by_hash/method.rs
  src/query/expression/src/kernels/group_by_hash/method_dict_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/kernels/group_by_hash/method_serializer.rs
  src/query/expression/src/kernels/group_by_hash/method_single_string.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/expression/src/lib.rs
  src/query/expression/tests/it/group_by.rs
  src/query/expression/tests/it/input_columns.rs
  src/query/expression/tests/it/main.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-refactor

#16047 fix(query): if role not store ownership skip revoke ownership from role
  src/query/management/src/role/role_mgr.rs
Labels: pr-bugfix, ci-cloud

#16059 chore(query): enable distributed merge into by default
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#16061 chore(ci): setup license with mask
  .github/actions/setup_license/action.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.toml
Labels: pr-chore

#16058 chore(query): information_schema.tables support display view engine
  src/query/storages/information_schema/src/tables_table.rs
  tests/sqllogictests/suites/base/01_system/01_0003_information_schema.test
Labels: pr-chore

#16064 feat: log file with local time
  .github/PULL_REQUEST_TEMPLATE.md
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/common/tracing/Cargo.toml
  src/common/tracing/src/loggers.rs
Labels: pr-feature

#16051 feat: add share integration test
  .github/actions/test_share_integration/action.yml
  .github/workflows/release.yml
  scripts/ci/ci-run-share-tests.sh
  scripts/ci/deploy/config/databend-meta-node-share-consumer.toml
  scripts/ci/deploy/config/databend-meta-node-share-provider.toml
  scripts/ci/deploy/config/databend-query-node-share-consumer.toml
  scripts/ci/deploy/config/databend-query-node-share-provider.toml
  scripts/ci/deploy/config/share-endpoint.toml
  scripts/ci/deploy/databend-query-share.sh
  tests/shell_env.sh
  tests/suites/3_share_integration/01_0000_basic_share.result
  tests/suites/3_share_integration/01_0000_basic_share.sh
Labels: pr-feature

#16065 fix(query): pad information_schema.views.view_definition
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/information_schema/src/views_table.rs
  tests/sqllogictests/suites/base/01_system/01_0003_information_schema.test
Labels: pr-bugfix

#16055 feat(query): impl LocalShuffle
  src/query/expression/src/aggregate/group_hash.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_local_shuffle.rs
  src/query/service/src/pipelines/builders/builder_local_shuffle.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_local_shuffle.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/window_function/window_ignore_nulls.test
Labels: pr-feature, ci-cloud

#16066 fix: bitmap with empty buffer stands for empty.
  Cargo.lock
  src/common/io/src/bitmap.rs
  src/common/io/src/lib.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/scalars/bitmap.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/base/03_common/03_0039_insert_into_bitmap.test
Labels: pr-bugfix

#16067 feat(query): add setting enable_strict_datetime_parser
  Cargo.lock
  src/query/expression/src/function.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/datetime.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-feature

#16071 chore: fix share test integration missing query binary
  .github/workflows/release.yml
Labels: pr-chore

#16069 feat: improve selectivity accuracy
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/pr_16069.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/range_pruner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-feature

#15979 feat: optimize loser tree, disable peek top2
  src/query/pipeline/transforms/src/processors/transforms/sort/algorithm.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/cursor.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/merger.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_limit.rs
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
Labels: pr-feature

#16073 chore: Bump jsonb version 0.4.1
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/srfs/variant.rs
Labels: pr-chore

#16078 fix(query): if timestamp is some, no need to init parsed
  src/query/functions/src/scalars/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#16075 chore(query): better error msg in check_function
  src/query/expression/src/type_check.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/tuple.txt
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
Labels: pr-chore

#16080 fix(query): fix read decimal
  src/query/expression/src/utils/serialize.rs
  src/query/expression/tests/it/decimal.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#16086 chore(query): fix merge into virtual computed field
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column.test
Labels: pr-chore

#16088 fix(query): fix session manager dead lock if call instance status
  src/query/service/src/sessions/session_mgr.rs
Labels: pr-bugfix

#16085 fix: fix native decompress binary offsets out of bounds
  src/common/arrow/src/native/compression/binary/mod.rs
  src/common/arrow/tests/it/native/io.rs
Labels: pr-bugfix

#16082 feat: limit auto cast when loading from column store.
  Cargo.lock
  src/common/storage/src/lib.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/types/variant.rs
  src/query/storages/common/stage/Cargo.toml
  src/query/storages/common/stage/src/lib.rs
  src/query/storages/common/stage/src/read/cast.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/common/stage/src/read/mod.rs
  tests/sqllogictests/suites/stage/formats/parquet/auto_cast.test
Labels: pr-feature

#16087 fix(query): fix incorrect derive_stats for window and limit plan
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
Labels: pr-bugfix

#16089 fix: error message in data.
  src/query/service/src/servers/http/v1/query/execute_state.rs
  tests/sqllogictests/suites/base/20+_others/20_0018_http_handler.test
Labels: pr-bugfix

#16094 feat(query): PartitionsShuffleKind::ConsistentHash support
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/catalog/tests/it/testdata/partition-reshuffle.txt
Labels: pr-feature

#16026 chore: update rust toolchain to nightly-2024-07-02
  .github/workflows/reuse.linux.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/common/arrow/Cargo.toml
  src/common/arrow/src/native/util/bit_pack.rs
  src/common/arrow/src/native/util/mod.rs
  src/common/base/src/lib.rs
  src/common/base/tests/it/main.rs
  src/common/grpc/src/lib.rs
  src/common/metrics/src/lib.rs
  src/common/parquet2/Cargo.toml
  src/common/storage/src/lib.rs
  src/meta/client/src/lib.rs
  src/meta/embedded/src/lib.rs
  src/meta/raft-store/src/lib.rs
  src/meta/service/src/lib.rs
  src/meta/sled-store/src/lib.rs
  src/meta/types/src/lib.rs
  src/query/config/src/lib.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/kernels/topk.rs
  src/query/expression/src/lib.rs
  src/query/formats/src/lib.rs
  src/query/functions/src/lib.rs
  src/query/pipeline/transforms/src/lib.rs
  src/query/service/src/lib.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/sql/src/lib.rs
  src/query/storages/common/table_meta/src/lib.rs
  src/query/storages/delta/src/lib.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/memory/src/lib.rs
Labels: pr-chore, ci-benchmark

#16104 refactor: meta-service wait at most 1 second to shutdown
  src/meta/service/src/api/grpc_server.rs
Labels: pr-refactor

#16110 chore(code): update the version of object_store in Cargo.lock
  Cargo.lock
Labels: pr-chore

#16108 chore(query): disable inner columns in prewhere
  src/query/expression/src/schema.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  tests/sqllogictests/suites/query/filter.test
Labels: pr-chore

#16103 fix(query): fix subquery with function failed
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#16109 refactor(query): Optimize aggregate function arg_min_max
  Cargo.lock
  src/query/expression/src/values.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
Labels: pr-refactor

#16112 feat(http): expose queries queue length to /v1/status
  src/query/service/src/servers/admin/v1/instance_status.rs
Labels: pr-feature

#16115 fix: tenant tables with stream
  src/query/service/src/servers/admin/v1/tenant_tables.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
Labels: pr-bugfix

#16120 feat(query): support json null for nullable response
  src/common/io/src/format_settings.rs
  src/query/formats/src/output_format/json.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/string_block.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/http/json_block.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/cloud_control_server/simple_server.py
Labels: pr-feature

#16098 refactor(query): If table_id is specified, use it directly
  benchmark/clickbench/internal/queries/00.sql
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/locks_table.rs
  src/query/storages/system/src/notification_history_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-chore, pr-refactor, ci-benchmark-local

#16123 fix(query): fix stackoverflow in collect_statistics
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
Labels: pr-bugfix

#16122 chore(query): add sigaltstack for signal handler
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/tracing/Cargo.toml
  src/common/tracing/src/crash_hook.rs
Labels: pr-chore

#16118 chore(query): limit frames size for capture backtrace
  src/common/tracing/src/crash_hook.rs
  src/common/tracing/src/panic_hook.rs
Labels: pr-chore

#16018 feat: generate accurate histogram
  Cargo.lock
  src/common/storage/src/histogram.rs
  src/common/storage/src/lib.rs
  src/common/storage/src/statistics.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/optimizer/property/column_stat.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  src/query/sql/src/planner/optimizer/property/mod.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/tests/optimizer/histogram.rs
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/common/table_meta/src/meta/current/mod.rs
  src/query/storages/common/table_meta/src/meta/v3/mod.rs
  src/query/storages/common/table_meta/src/meta/v3/table_snapshot_statistics.rs
  src/query/storages/common/table_meta/src/meta/versions.rs
  src/query/storages/common/table_meta/src/readers/versioned_reader.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_column.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/mod.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/lazy_read.test
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into_row_fetch.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/pr_16069.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/no_table_meta_cache/explain/auto_rebuild_missing_bloom_index.test
  tests/sqllogictests/suites/no_table_meta_cache/explain_native/auto_rebuild_missing_bloom_index.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/join_order_with_accurate_his.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-benchmark

#16128 chore(query): remove useless box processor impl
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/sinks/tests/it/async_mpsc_sink.rs
  src/query/pipeline/sinks/tests/it/sync_mpsc_sink.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_sort.rs
  src/query/storages/result_cache/src/write/sink.rs
Labels: pr-chore

#16127 chore: resolve lints
  Cargo.toml
  src/common/arrow/src/arrow/array/dictionary/typed_iterator.rs
  src/common/arrow/src/arrow/io/parquet/write/utils.rs
  src/common/arrow/src/arrow/scalar/fixed_size_list.rs
  src/common/base/src/rangemap/range_map_key.rs
  src/common/cache/src/cache/lru.rs
  src/common/storage/src/metrics.rs
  src/common/storage/src/metrics_layer.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/binaries/metabench/main.rs
  src/meta/client/src/established_client.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/expression/src/function.rs
  src/query/expression/src/utils/display.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/service/src/builtin/builtin_users.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/io/src/files.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/system/src/columns_table.rs
Labels: pr-chore

#16129 fix(query): revert window hash partition
  src/query/catalog/src/table_context.rs
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_local_shuffle.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/pipelines/builders/builder_local_shuffle.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/pipelines/processors/transforms/window/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_scatter.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_sort.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/transform_window_partition_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/window/partition_by/window_partition_meta.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_local_shuffle.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#16130 chore: fake time test
  .github/actions/test_ee_standalone_fake_time_linux/action.yml
  .github/workflows/reuse.linux.yml
  scripts/ci/ci-run-ee-tests-standalone-fake-time-minio.sh
  tests/suites/8_faked_time_prepare/00_prepare/00_0000_dummy_prepare.result
  tests/suites/8_faked_time_prepare/00_prepare/00_0000_dummy_prepare.sh
  tests/suites/9_faked_time/00_dummy_cases/00_0001_dummy.result
  tests/suites/9_faked_time/00_dummy_cases/00_0001_dummy.sh
Labels: pr-chore

#16134 feat(query): add sql variable support
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/set.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/unset.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_set.rs
  src/query/service/src/interpreters/interpreter_setting.rs
  src/query/service/src/interpreters/interpreter_unset.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/set.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/set.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/set.test
Labels: pr-feature

#16137 feat(query): support parse create dictionary stmt
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/format/syntax/mod.rs
  src/query/ast/src/ast/statements/dictionary.rs
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/binder.rs
Labels: pr-feature

#16138 fix: deadlock with export() and build_snapshot()
  src/meta/raft-store/src/applier.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-bugfix

#16139 fix: vacuum dropped table in parallel
  src/query/ee/src/storages/fuse/mod.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-bugfix

#16131 chore(http): exposes max_running_query_executed_time in /v1/status
  src/query/service/src/servers/admin/v1/instance_status.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_mgr_status.rs
Labels: pr-chore

#16141 feat: add histogram info to fuse_statistic table
  src/common/storage/src/statistics.rs
  src/common/tracing/src/panic_hook.rs
  src/query/storages/fuse/src/table_functions/fuse_statistics/fuse_statistic.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
Labels: pr-feature

#16144 chore(query): optimize tables query speed
  benchmark/clickbench/internal/queries/00.sql
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-chore

#16148 fix(query): revert find_eq_and_or_filter
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-bugfix

#16152 refactor: tweak `table_statistics` of trait Table
  src/query/catalog/src/table.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/orc/src/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor

#16154 chore: reset table_lock_expire_secs default value
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#16155 chore(query): move udf admin api to management mode
  src/query/service/src/servers/admin/admin_service.rs
  src/query/service/src/servers/admin/v1/user_functions.rs
Labels: pr-chore

#16097 refactor: add retry logic for flight service
  Cargo.lock
  Cargo.toml
  scripts/ci/ci-run-stateful-tests-cluster-minio.sh
  scripts/ci/ci-run-stateful-tests-standalone-minio.sh
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_sink_writer.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_source_reader.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/service/src/servers/flight/v1/packets/packet_executor.rs
  tests/suites/1_stateful/02_query/02_0009_flight.result
  tests/suites/1_stateful/02_query/02_0009_flight.sh
Labels: pr-refactor

#16156 chore: improve parser
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
Labels: pr-chore

#16158 chore: reduce the sleep range during lock holder
  src/query/service/src/locks/lock_holder.rs
Labels: pr-chore
