Repository databendlabs/databend, pull requests merged in 2024-03, with the labels that each got.

#14805 feat: get_client_info() returns the server time in milliseconds
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_get_client_info.rs
  src/meta/types/proto/meta.proto
Labels: pr-feature

#14802 feat: http handler txn support.
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/txn/Cargo.toml
  src/query/storages/common/txn/src/manager.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/base/14_transaction/14_0001_dedup_label.test
  tests/sqllogictests/suites/base/14_transaction/14_0003_merge_into.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0005_txn_stream.test
  tests/sqllogictests/suites/stage/copy_into_txn.sql
Labels: pr-feature

#14803 refactor(ast): refine crate structure
  src/query/ast/benches/bench.rs
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/mod.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/visitors/mod.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/data_mask.rs
  src/query/ast/src/parser/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/input.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/share.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/stream.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/constraint/tests/it/parser.rs
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/sql/planner/semantic/name_resolution.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/bloom_index.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/query/sql/src/planner/udf_validator.rs
Labels: pr-refactor

#14809 refactor: upgrade Openraft to v0.9.0-alpha.7
  Cargo.lock
  Cargo.toml
  src/meta/client/src/lib.rs
Labels: pr-refactor

#14806 chore: rename update_star_columns
  src/query/sql/src/planner/binder/merge_into.rs
Labels: pr-chore

#14801 feat(planner): implement explain query in verbose mode
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/explain.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
Labels: pr-feature

#14784 feat: upgrade arrow to version 50
  Cargo.lock
  Cargo.toml
  src/bendpy/Cargo.toml
  src/bendpy/src/dataframe.rs
  src/common/arrow/Cargo.toml
  src/common/cache/Cargo.toml
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/log/raft_log.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/raft-store/src/state/raft_state.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/store.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/store/src/lib.rs
  src/query/catalog/Cargo.toml
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/ee/src/background_service/compaction_job.rs
  src/query/ee/src/background_service/job_scheduler.rs
  src/query/expression/src/converts/arrow/to.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/src/table_functions/others/suggested_background_compaction_tasks.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/storages/common/blocks/src/parquet_rs.rs
  src/query/storages/delta/Cargo.toml
  src/query/storages/delta/src/dal.rs
  src/query/storages/delta/src/partition_columns/values_serde.rs
  src/query/storages/delta/src/table.rs
  src/query/storages/hive/hive/src/converters.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_rs/partition.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0007_copy_into_stage2.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
Labels: pr-feature

#14814 refactor(ast): add derive-visitor for expr and query
  Cargo.lock
  Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/ast/statements/hint.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/stream.rs
  src/query/ast/tests/it/testdata/experimental-expr.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/constraint/tests/it/parser.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-refactor

#14820 chore(ci): include nohup.out in failure artifact
  .github/actions/artifact_failure/action.yml
  .github/actions/artifact_upload/action.yml
  .github/actions/benchmark_cloud/action.yml
  .github/actions/benchmark_local/action.yml
  .github/workflows/bindings.python.yml
  .github/workflows/links.yml
  .github/workflows/release.yml
Labels: pr-chore

#14821 chore: remove unused package patch
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#14799 feat(query): introduce arrow-udf-js
  Cargo.lock
  Cargo.toml
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v081_udf_script.rs
  src/meta/protos/proto/udf.proto
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/lexer.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ast/tests/it/token.rs
  src/query/management/tests/it/udf.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_user_udf_alter.rs
  src/query/service/src/interpreters/interpreter_user_udf_create.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/pull_up_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/udf_rewriter.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
Labels: pr-feature

#14822 refactor(ast): add derive-visitor for Statement
  src/query/ast/src/ast/statements/call.rs
  src/query/ast/src/ast/statements/catalog.rs
  src/query/ast/src/ast/statements/columns.rs
  src/query/ast/src/ast/statements/connection.rs
  src/query/ast/src/ast/statements/data_mask.rs
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/ast/statements/delete.rs
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/index.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/ast/statements/kill.rs
  src/query/ast/src/ast/statements/lock.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/ast/statements/network_policy.rs
  src/query/ast/src/ast/statements/password_policy.rs
  src/query/ast/src/ast/statements/pipe.rs
  src/query/ast/src/ast/statements/presign.rs
  src/query/ast/src/ast/statements/replace.rs
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/ast/statements/show.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/stream.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/ast/statements/unset.rs
  src/query/ast/src/ast/statements/update.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/ast/statements/view.rs
  src/query/ast/src/ast/statements/virtual_column.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/task.rs
Labels: pr-refactor

#14823 fix(ast): add missing #[drive(skip)]
  Cargo.lock
  src/query/ast/src/ast/statements/udf.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
Labels: pr-bugfix, pr-refactor

#14818 refactor: remove backward compatibility for data version V0
  .github/actions/fuse_compat/action.yml
  .github/actions/test_meta_data_compat_openraft_07/action.yml
  .github/workflows/reuse.linux.yml
  Cargo.lock
  Cargo.toml
  src/binaries/metactl/reading.rs
  src/binaries/metactl/snapshot.rs
  src/meta/README.md
  src/meta/raft-store/src/compat07.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/ondisk/data_version.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/state/raft_state_kv.rs
  src/meta/raft-store/src/state_machine/log_meta.rs
  src/meta/raft-store/src/state_machine/state_machine_meta.rs
  src/meta/sled-store/src/sled_serde_impl.rs
  src/meta/sled-store/src/sled_tree.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/raft_types.rs
  tests/meta-data-compat-openraft-07/.gitignore
  tests/meta-data-compat-openraft-07/README.md
  tests/meta-data-compat-openraft-07/meta.txt
  tests/meta-data-compat-openraft-07/test-meta-data-compat-openraft-08.sh
  tests/meta-data-compat-openraft-07/test-sm-compat-v0-v002.sh
  tests/meta-data-compat-openraft-07/v0-raft-log.txt
  tests/meta-data-compat-openraft-07/want_exported_sm_v002
  tests/metactl/meta.txt
  tests/metactl/meta_v001.txt
  tests/metactl/test-metactl.sh
Labels: pr-refactor

#14826 ci: add tests for transaction.
  .github/actions/setup_bendsql/action.yml
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/suites/0_stateless/01_transaction/01_02_txn_basic.result
  tests/suites/0_stateless/01_transaction/01_02_txn_basic.sh
Labels: pr-build

#14833 chore(ci): fix upload/download sha256sums artifacts
  .github/actions/artifact_download/action.yml
  .github/workflows/bindings.python.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14834 chore(ci): fix release artifacts conflict
  .github/workflows/dev.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
Labels: pr-chore

#14832 refactor: upgrade openraft v0.9.0-alpha.7 to v0.9.0-alpha.8
  Cargo.lock
  Cargo.toml
Labels: pr-refactor

#14837 chore(ci): fix artifacts for benchmark
  .github/actions/benchmark_cloud/action.yml
  .github/actions/benchmark_local/action.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#14824 fix: Transaction state is not changed correctly when returning error in commit statement
  src/query/service/src/interpreters/interpreter_txn_commit.rs
Labels: pr-bugfix

#14836 chore: tolerate inaccuracy of expire time for test
  src/meta/kvapi/src/kvapi/test_suite.rs
Labels: pr-chore

#14798 chore(query): modify new_agg_hashtable payload transmission method on singleton and support new_agg_hashtable on cluster
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
Labels: pr-chore

#14841 fix(query): today, yesterday, tomorrow need consider tz
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes.test
Labels: pr-bugfix

#14828 feat: support left-related join spilling
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/probe_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  tests/sqllogictests/suites/spill/inner_join_spill.test
  tests/sqllogictests/suites/spill/left_join_spill.test
Labels: pr-feature, ci-cloud

#14838 refactor: enable feature flag openraft:storage-v2
  Cargo.toml
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/store.rs
Labels: pr-refactor

#14846 feat: impl like selectivity compution by probability predication
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, ci-benchmark

#14831 feat: change tracking enabled table support replace into
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-feature

#14848 fix: flaky sqllogic test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-bugfix

#14855 ci: fix clippy tests.
  tests/suites/1_stateful/00_stage/00_0003_copy_with_max_files_parquet.result
  tests/suites/1_stateful/00_stage/00_0003_copy_with_max_files_parquet.sh
Labels: pr-build

#14847 chore: Enable stage table distributed
  src/query/storages/stage/src/stage_table.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
Labels: pr-chore

#14853 feat: support right-related join spilling
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/probe_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  tests/sqllogictests/suites/spill/right_join_spill.test
Labels: pr-feature, ci-cloud

#14860 fix: fix wrong results for left join spilling
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/spillers/spiller.rs
  tests/sqllogictests/suites/spill/left_join_spill.test
Labels: pr-bugfix

#14850 refactor: use NonEmptyString for creating StageMgr
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/tests/it/stage.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_stage.rs
Labels: pr-refactor

#14851 feat: add vacuum table dry run result table
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/suites/5_ee/01_vacuum/01_0002_ee_vacuum_drop_table.sh
Labels: pr-feature

#14864 chore: disable inlist to subquery under cluster
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#14863 refactor: add StageIdent and StageFileIdent
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_stage_file_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/query/management/src/stage/stage_mgr.rs
Labels: pr-refactor

#14861 chore: log txn id for multi stmt transaction
  Cargo.lock
  src/query/service/src/interpreters/common/query_log.rs
  src/query/storages/common/txn/Cargo.toml
  src/query/storages/common/txn/src/manager.rs
  src/query/storages/system/src/query_log_table.rs
Labels: pr-chore

#14868 chore: improve tolerance for expire test `test_kv_read_v1_on_follower`
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
Labels: pr-chore

#14865 feat: add transaction and mutli-line SQL script support for task
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/tests/it/task_client.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_task_alter.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  tests/cloud_control_server/task_pb2.py
  tests/sqllogictests/suites/task/task_ddl_transaction_test.test
Labels: pr-feature

#14843 chore: open join spilling by default
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore, ci-benchmark, ci-cloud

#14871 refactor: use KVPbApi to simplify StageMgr
  src/query/management/src/stage/stage_mgr.rs
Labels: pr-refactor

#14876 feat(query): support variant is_<type> functions
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0056_function_semi_structureds_as.test
Labels: pr-feature

#14875 refactor: use NonEmptyString to create Settings
  Cargo.lock
  src/meta/types/src/non_empty.rs
  src/query/formats/Cargo.toml
  src/query/formats/tests/it/main.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/tests/it/setting.rs
  src/query/service/src/api/rpc/flight_service.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_global.rs
  src/query/settings/tests/it/setting.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/bloom_index.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_setting.rs
Labels: pr-refactor

#14880 chore: increase tolerance for expiration test
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
Labels: pr-chore

#14881 refactor: enable openraft feature flag generic-snapshot-data
  Cargo.lock
  Cargo.toml
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/raft_types.rs
Labels: pr-refactor

#14883 refactor: use SettingIdent to build string key to access settings
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/query/management/src/setting/setting_mgr.rs
Labels: pr-refactor

#14882 fix: allow insert in multiline statment
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/raw_insert.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/mod.rs
  src/query/sql/src/executor/physical_plans/physical_replace_async_source.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/insert.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
Labels: pr-bugfix

#14829 refactor(ast): migrate to derive-visitor
  Cargo.lock
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/visitors/mod.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/aggregating_index/index_refresh.rs
  src/query/service/Cargo.toml
  src/query/service/tests/it/sql/planner/semantic/name_resolution.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  src/query/sql/src/planner/udf_validator.rs
Labels: pr-refactor

#14877 fix: rewrite ifnull and nvl as coalesce
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/query/02_function/02_0070_function_nvl.test
Labels: pr-bugfix

#14862 feat(query): show grants support mget table/db name by table/db id.
  benchmark/clickbench/internal/load.sh
  benchmark/clickbench/internal/queries.sql
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_show_grants.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege.test
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
Labels: pr-feature

#14895 fix: fix incorrect schema in window expr in subquery with lazy_materialization
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/metadata.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-bugfix

#14893 refactor(ast): remove databend-common-functions dependency
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-refactor

#14897 fix(ci): fix internal benchmark
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/internal/load.sh
Labels: pr-bugfix

#14892 fix: Display of `merge into .. insert *`
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix, ci-cloud

#14899 fix: `check_and_upgrade_to_pb()` should return MetaError, add quota
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/serde/mod.rs
  src/query/management/src/serde/pb_serde.rs
  src/query/management/src/serde/quota.rs
Labels: pr-bugfix

#14901 feat(query): support settings admin api for global level settings
  src/query/service/src/api/http/v1/mod.rs
  src/query/service/src/api/http/v1/settings.rs
  src/query/service/src/api/http_service.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/settings/src/settings_global.rs
  tests/suites/6_background/00_target_tables/00_0000_target_tables.result
  tests/suites/6_background/00_target_tables/00_0000_target_tables.sh
Labels: pr-feature

#14896 feat: add a new ratio config instead of table_data_deserialized_data_bytes
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/global_services.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache_manager/src/cache_manager.rs
Labels: pr-feature

#14891 feat(ast): add parser for script
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/script.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/script.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw_insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-feature

#14907 refactor: upgrade to openraft 0.9.0
  Cargo.lock
  Cargo.toml
  src/meta/service/src/meta_service/raft_service_impl.rs
Labels: pr-refactor

#14887 feat: support cross join spilling
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/spill_common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/spiller.rs
  tests/sqllogictests/suites/spill/cross_join.test
Labels: pr-feature, ci-cloud

#14914 fix: Display of compact AST
  Cargo.lock
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-bugfix

#14902 chore(query): create user/role name can not contain single/double quote
  src/common/exception/src/exception_code.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/util.rs
  tests/sqllogictests/suites/base/05_ddl/05_0004_ddl_create_user.test
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
Labels: pr-chore

#14910 chore(ci): benchmark local need set meta client timeout
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/internal/load.sh
  benchmark/clickbench/internal/queries.sql
Labels: pr-chore, ci-benchmark-local

#14915 refactor: use kvapi::Key to define meta-service key for QuotaMgr
  src/meta/app/src/tenant/mod.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_user_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/table_functions/others/tenant_quota.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#14919 refactor: reduce hash join build spilling files
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
Labels: pr-refactor, ci-cloud

#14920 refactor: define kvapi::Key for PasswordPolicyMgr
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/service/src/interpreters/interpreter_password_policy_alter.rs
  src/query/service/src/interpreters/interpreter_password_policy_create.rs
  src/query/service/src/interpreters/interpreter_password_policy_desc.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/storages/system/src/password_policies_table.rs
  src/query/users/src/password_policy.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/password_policy.rs
Labels: pr-refactor

#14924 feat: add more function alias names
  src/query/catalog/src/plan/datasource/datasource_info/mod.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/binder/udf.rs
  src/query/storages/parquet/src/parquet2/parquet_table/table.rs
  src/query/storages/parquet/src/parquet2/processors/deserialize_transform.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes.test
Labels: pr-feature

#14905 feat(query): support spill for new agg hashtable
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/kernels/utils.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/group_shuffle.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: pr-feature

#14927 chore: extend time tolerance for meta-service test
  src/meta/kvapi/src/kvapi/test_suite.rs
Labels: pr-chore

#14917 refactor: reduce meta call
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0015_set_role.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
Labels: pr-refactor

#14930 chore: add step logs for hash join build side
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/tests/it/spillers/spiller.rs
  tests/sqllogictests/suites/spill/left_join_spill.test
  tests/sqllogictests/suites/spill/right_join_spill.test
Labels: pr-chore

#14912 feat(query): Support refresh inverted index
  scripts/ci/deploy/config/databend-query-node-share-1.toml
  scripts/ci/deploy/config/databend-query-node-share-2.toml
  scripts/ci/deploy/config/databend-query-node-share-3.toml
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/index.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/src/inverted_index/indexer.rs
  src/query/ee/src/inverted_index/inverted_index_handler.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee_features/inverted_index/src/inverted_index_handler.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_index_refresh.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/index.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/common/cache_manager/src/caches.rs
  src/query/storages/common/table_meta/src/meta/current/mod.rs
  src/query/storages/common/table_meta/src/meta/format.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/v4/index.rs
  src/query/storages/common/table_meta/src/meta/v4/mod.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
  src/query/storages/common/table_meta/src/meta/versions.rs
  src/query/storages/common/table_meta/src/readers/versioned_reader.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/truncate.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_async_inverted_index_base.test
Labels: pr-feature

#14933 refactor: add NetworkPolicyIdent as NetworkPolicy meta-service key
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/network_policy_ident.rs
  src/query/management/src/network_policy/network_policy_mgr.rs
  src/query/service/src/interpreters/interpreter_network_policies_show.rs
  src/query/service/src/interpreters/interpreter_network_policy_alter.rs
  src/query/service/src/interpreters/interpreter_network_policy_create.rs
  src/query/service/src/interpreters/interpreter_network_policy_desc.rs
  src/query/users/src/network_policy.rs
  src/query/users/src/user_api.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/network_policy.rs
Labels: pr-refactor

#14908 refactor: http handler plan sql async.
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/json_block.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/http/json_block.rs
Labels: pr-refactor

#14937 chore: use shorter name for management API
  src/query/management/src/network_policy/network_policy_api.rs
  src/query/management/src/network_policy/network_policy_mgr.rs
  src/query/management/src/password_policy/password_policy_api.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/users/src/network_policy.rs
  src/query/users/src/password_policy.rs
Labels: pr-chore

#14939 fix(query): fix native topk_sorter
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0039_topk_sorter.test
Labels: pr-bugfix

#14935 fix: stream source can't get the same tablemeta
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/storages/common/txn/src/manager.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/streams_table.rs
  tests/suites/5_ee/05_stream/05_0001_ee_stream_consume.result
  tests/suites/5_ee/05_stream/05_0001_ee_stream_consume.sh
Labels: pr-bugfix

#14944 chore(ci): add pr summary check
  .github/workflows/merge_group.yml
  .github/workflows/pr.yml
Labels: pr-chore

#14946 chore(ci): fix set failure for pr check
  .github/workflows/pr.yml
Labels: pr-chore

#14945 feat(query): add statement_queued_timeout_in_seconds setting for queries queue
  src/common/exception/src/exception_code.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#14947 chore(ci): fix description check
  .github/workflows/pr.yml
Labels: pr-chore

#14948 chore(ci): fix event for pr assistant
  .github/workflows/pr.yml
Labels: pr-chore

#14900 feat: change tracking enabled table support merge into
  Cargo.lock
  src/query/catalog/Cargo.toml
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/src/plan/stream_column.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_delete.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_update.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_internal_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_stream_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/sql/src/planner/stream_column.rs
  src/query/storages/fuse/src/operations/common/meta/mutation_log.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/processors/mutation_source.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/util.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
Labels: pr-feature, ci-cloud

#14839 feat: histogram aggregate function
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_histogram.test
Labels: pr-feature

#14954 chore(query): improve push_column_with_selection
  src/query/expression/src/kernels/topk.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
Labels: pr-chore

#14956 fix: cluster table with change tracking enabled append panic
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/storages/fuse/src/operations/append.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-bugfix

#14958 chore(query): add disable system tables
  src/query/service/src/databases/system/system_database.rs
Labels: pr-chore

#14951 chore(planner): fix distributed query plan
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#14960 chore: tweak txn syntax
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  tests/sqllogictests/suites/base/14_transaction/14_0003_merge_into.test
Labels: pr-chore

#14966 feat(query): add metrics for session queue manager
  src/common/metrics/src/metrics/session.rs
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-feature

#14959 fix: enable runtime filter when `join_spilling_memory_ratio` !=0
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-bugfix, pr-chore, ci-benchmark

#14967 chore(query): add settings level for admin api
  src/query/service/src/api/http/v1/settings.rs
Labels: pr-chore

#14969 fix: fix stream explain bug for merge into
  src/query/sql/src/planner/format/display_plan.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
Labels: pr-bugfix

#14964 fix(query): Need return error udf_name when derialize from pb failed.
  src/query/management/src/udf/udf_mgr.rs
  src/query/storages/system/src/user_functions_table.rs
  src/query/users/src/user_udf.rs
  src/query/users/tests/it/user_udf.rs
Labels: pr-bugfix

#14941 chore(ast): CreatOption::None -> CreateOption::Create
  src/binaries/metabench/main.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/app/src/schema/create_option.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/management/src/connection/connection_mgr.rs
  src/query/management/src/file_format/file_format_mgr.rs
  src/query/management/src/network_policy/network_policy_mgr.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/tests/it/stage.rs
  src/query/management/tests/it/udf.rs
  src/query/management/tests/it/user.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/service/tests/it/catalogs/immutable_catalogs.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/system.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/users/tests/it/network_policy.rs
  src/query/users/tests/it/user_mgr.rs
  src/query/users/tests/it/user_udf.rs
Labels: pr-chore

#14980 feat(query): add error_or function
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/control.rs
  src/query/functions/src/scalars/decimal/cast.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/query/02_function/02_0072_error.test
Labels: pr-feature

#14952 fix: try fix compute stddev for decimal type overflow
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/02_function/02_0000_function_aggregate_mix.test
  tests/sqllogictests/suites/query/02_function/02_0061_function_array.test
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-bugfix

#14976 chore: improve histogram‘s implement and comments
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#14962 feat: purge duplicated files (copy into table)
  src/query/catalog/src/plan/datasource/datasource_info/mod.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  tests/suites/1_stateful/00_stage/00_0016_copy_purge_duplicated.result
  tests/suites/1_stateful/00_stage/00_0016_copy_purge_duplicated.sh
Labels: pr-feature

#14979 feat(query): support parse mulity `modify column? ty`
  src/query/ast/src/parser/statement.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
Labels: pr-feature

#14981 fix: csv read error with skip_header.
  src/query/storages/stage/src/read/row_based/formats/csv/separator.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
  src/query/storages/stage/src/read/row_based/processors/separator.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_select.test
Labels: pr-bugfix

#14985 chore: number range for settings
  Cargo.lock
  src/query/settings/Cargo.toml
  src/query/settings/src/settings_default.rs
  src/query/storages/system/src/settings_table.rs
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
Labels: pr-chore

#14922 feat: support prql
  src/query/ast/src/parser/input.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/query/02_function/02_0072_prql.test
Labels: pr-feature

#14977 refactor(query): use project plan for copy into select
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into.rs
  src/query/sql/src/executor/physical_plans/physical_project.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#14989 chore: group limit optimization in new hashtable
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/mod.rs
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
Labels: pr-chore

#14994 refactor: use CrudMgr to impl PasswordPolicyMgr
  src/meta/api/src/crud/mod.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/query/management/src/lib.rs
  src/query/management/src/network_policy.rs
  src/query/management/src/network_policy/mod.rs
  src/query/management/src/password_policy.rs
  src/query/management/src/password_policy/password_policy_api.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/users/src/password_policy.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#14996 refactor: Add ExistError and UnknownError, TenantResource does not need to define error type any more
  Cargo.lock
  src/meta/api/src/crud/errors.rs
  src/meta/api/src/crud/mod.rs
  src/meta/app/src/lib.rs
  src/meta/app/src/principal/network_policy_ident.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/app/src/tenant_key.rs
  src/meta/app/src/tenant_key_errors.rs
  src/query/users/Cargo.toml
  src/query/users/src/network_policy.rs
  src/query/users/src/password_policy.rs
Labels: pr-refactor

#14999 refactor: Use CrudMgr to impl FileFormatMgr
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_file_format_ident.rs
  src/query/management/src/file_format.rs
  src/query/management/src/file_format/file_format_api.rs
  src/query/management/src/file_format/file_format_mgr.rs
  src/query/management/src/lib.rs
  src/query/service/src/interpreters/interpreter_file_format_create.rs
  src/query/service/src/interpreters/interpreter_file_format_drop.rs
  src/query/service/src/interpreters/interpreter_file_format_show.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/users/src/file_format.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#15006 chore: upgrade openraft to 0.9.1
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#15003 refactor: Use CrudMgr to impl ConnectionMgr
  src/meta/app/src/principal/connection_ident.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/tenant_key_errors.rs
  src/query/management/src/connection.rs
  src/query/management/src/connection/connection_api.rs
  src/query/management/src/connection/connection_mgr.rs
  src/query/management/src/lib.rs
  src/query/service/src/interpreters/interpreter_connection_create.rs
  src/query/service/src/interpreters/interpreter_connection_desc.rs
  src/query/service/src/interpreters/interpreter_connection_drop.rs
  src/query/service/src/interpreters/interpreter_connection_show.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/users/src/connection.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#15013 chore: max_running_queries from 8 to 0, disable the max running queries
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#15010 refactor(query): add copy into location physical plan
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/pipelines/builders/builder_copy_into_location.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_location.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
Labels: pr-refactor, ci-cloud

#15005 chore: tweak deletion batch size & log messages
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/storages/fuse/src/io/files.rs
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-chore

#14983 refactor(query): csv reader support prefetch
  src/query/pipeline/sources/src/lib.rs
  src/query/pipeline/sources/src/prefetch_async_source.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
  src/query/storages/stage/src/read/row_based/read_pipeline.rs
Labels: pr-refactor, ci-cloud

#15015 chore: rollback partial tests
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore

#15024 chore: add a setting for inlist to join
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#15025 chore: unify TIdent key format
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
Labels: pr-chore

#15022 chore: the fist http resp wait longer to tolerant old bendsql clients.
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
Labels: pr-chore

#15012 refactor: alter view only need to modify table option
  src/query/service/src/interpreters/interpreter_view_alter.rs
Labels: pr-refactor

#14990 chore: add log about presign elapsed
  src/query/service/src/interpreters/interpreter_presign.rs
Labels: pr-chore

#15023 chore(query): support domain contains in string type
  src/query/expression/src/property.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
Labels: pr-feature, pr-chore

#15030 chore: fix sql seq for benchmark report
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/update_results.py
Labels: pr-chore

#15032 chore: print query detail for bench & fix prepare database for load bench
  .github/actions/benchmark_cloud/action.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
Labels: pr-chore, ci-benchmark-cloud

#14986 feat(query): check view's inner table privilege when create or alter view
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0004_view_privilege.result
  tests/suites/0_stateless/18_rbac/18_0004_view_privilege.sh
Labels: pr-feature

#15034 chore: default enalbe merge into
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#15027 refactor: truncate support build pipeline
  scripts/benchmark/query/load/tpch10.sh
  scripts/benchmark/query/load/tpch100.sh
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/tests/it/storages/fuse/operations/analyze.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/service/tests/it/storages/null.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/conflict_resolve_context.rs
  src/query/storages/fuse/src/operations/common/generators/mod.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/common/generators/snapshot_generator.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/meta/abort_operation.rs
  src/query/storages/fuse/src/operations/common/mod.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/truncate.rs
  src/query/storages/fuse/src/operations/update.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/metrics_table.rs
  src/query/storages/system/src/table.rs
Labels: pr-refactor

#15036 refactor: move id-generator from crate meta-api to meta-app
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/background_api_keys.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/data_mask_api_keys.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_keys.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/share_api_keys.rs
  src/meta/app/src/id_generator.rs
  src/meta/app/src/lib.rs
Labels: pr-refactor

#15037 refactor: remove innecessary serde
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/share/share.rs
Labels: pr-refactor

#15035 chore: run load test with new label
  .github/workflows/cloud.yml
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
Labels: pr-chore

#15016 refactor(query): use scan table physical plan for copy into table from stage
  Cargo.lock
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/merge_into_join_optimizations.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/pipelines/builders/runtime_filter.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/metadata.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/input_context_bridge.rs
  src/query/storages/stage/src/stage_table.rs
Labels: pr-refactor, ci-cloud

#15040 refactor: remove innecessary serde
  src/meta/app/src/schema/table.rs
  src/meta/app/src/share/share.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_expand.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
Labels: pr-refactor

#15021 feat: add buffer for spiller
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/mod.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/src/spillers/spiller_buffer.rs
Labels: pr-feature, ci-cloud

#15042 refactor: remove innecessary serde
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/query/config/src/background_config.rs
Labels: pr-refactor

#15044 chore(query): add spill profile for join
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/spillers/spiller.rs
Labels: pr-chore, ci-cloud

#14987 chore(http): tune log on getting /v1/query/:id/kill
  src/query/service/src/servers/http/v1/http_query_handlers.rs
Labels: pr-chore

#15043 refactor: spead up csv reader.
  src/query/storages/stage/src/read/row_based/processors/reader.rs
Labels: pr-refactor, ci-cloud

#15018 fix: wrong row id
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
Labels: pr-bugfix, pr-chore

#15038 chore: default enable aggregate/sort/join spill
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-chore

#15041 chore: do not drop database first for bench
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/load/queries/00.sql
  benchmark/clickbench/load/queries/01.sql
  benchmark/clickbench/load/queries/02.sql
  benchmark/clickbench/load/queries/03.sql
Labels: pr-chore, ci-benchmark-load

#14926 feat: add show views & desc view
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/view.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_view_describe.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/view.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_desc_view.test
  tests/sqllogictests/suites/base/06_show/06_0023_show_views.test
Labels: pr-feature

#15047 feat: support pagination on task_history
  Cargo.lock
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_client.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/util.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-feature

#15031 chore(query): improve group
  src/common/metrics/src/metrics/transform.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
Labels: pr-chore

#15046 chore(planner): fix invalid aggregate physical plan
  src/query/sql/src/planner/optimizer/aggregate/mod.rs
  src/query/sql/src/planner/optimizer/aggregate/normalize_aggregate.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
Labels: pr-chore

#15026 feat(ast): add parser for template sql
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/visitors/walk.rs
  src/query/ast/src/ast/visitors/walk_mut.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/input.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/script.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/experimental-expr.txt
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw_insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/constraint/tests/it/parser.rs
  src/query/service/tests/it/sql/planner/semantic/name_resolution.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#15055 chore: adjust the default value for table lock timeout
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#15054 refactor(query): remove metrics if moved to the profile
  src/common/metrics/src/lib.rs
  src/common/metrics/src/metrics/mod.rs
  src/common/metrics/src/metrics/transform.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/exchange_source_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/spillers/spiller.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sql
Labels: pr-refactor

#15061 chore: use Tenant::new_literal() and new_nonempty() to avoid creating empty Tenant
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/principal/connection_ident.rs
  src/meta/app/src/principal/network_policy_ident.rs
  src/meta/app/src/principal/password_policy_ident.rs
  src/meta/app/src/principal/role_ident.rs
  src/meta/app/src/principal/user_defined_file_format_ident.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_identity.rs
  src/meta/app/src/principal/user_setting_ident.rs
  src/meta/app/src/principal/user_stage_file_ident.rs
  src/meta/app/src/principal/user_stage_ident.rs
  src/meta/app/src/tenant/tenant.rs
  src/meta/app/src/tenant/tenant_quota_ident.rs
  src/meta/app/src/tenant_key.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/api/http/v1/background_tasks.rs
Labels: pr-chore

#14942 refactor: reduce hash join probe spilled files
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/transform_probe_spill.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/spiller.rs
Labels: pr-refactor, ci-cloud

#14931 refactor: SHOW GRANTS should not display drop on table/database
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_show_grants.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/suites/0_stateless/18_rbac/18_0004_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0004_show_grants_with_dropped.sh
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.sh
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.py
  tests/suites/0_stateless/18_rbac/18_0006_mysql_auth.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
  tests/suites/0_stateless/18_rbac/18_0008_privilege_ownership.result
  tests/suites/0_stateless/18_rbac/18_0008_privilege_ownership.sh
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.sh
  tests/suites/0_stateless/18_rbac/18_0010_rewrite_statements.result
  tests/suites/0_stateless/18_rbac/18_0010_rewrite_statements.sh
Labels: pr-feature, pr-refactor

#15068 refactor: remove serde from CatalogId and CatalogNameIdent
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/mod.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/service/src/interpreters/interpreter_catalog_create.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
Labels: pr-refactor
