Repository databendlabs/databend, pull requests merged in 2024-05, with the labels that each got.

#15384 feat(query): implement ST_X/ST_Y/ST_STARTPOINT
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15388 refactor: get_table_by_id() returns an `Option<Seqv<TableMeta>>`
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/utils.rs
  src/common/metrics/src/metrics/storage.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/raft-store/tests/it/state_machine/mod.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/catalog/src/table.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/servers/admin/v1/stream_status.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/update.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-refactor

#15389 refactor: remove get_table_name_by_id()
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
Labels: pr-refactor

#15391 fix: Respond with `SnapshotMismatch` error instead of internal error
  Cargo.lock
  Cargo.toml
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/types/src/grpc_helper.rs
Labels: pr-bugfix

#15392 chore: if a txn log is too long, display only the first 5 items
  src/meta/kvapi/src/kvapi/message.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_display.rs
Labels: pr-chore

#15393 chore: Fix opendal upstream commit missing
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#15394 fix: solve some inconsistencies between code and comments
  src/common/arrow/src/arrow/array/primitive/mutable.rs
  src/common/arrow/src/arrow/array/union/mod.rs
  src/common/arrow/src/arrow/buffer/immutable.rs
Labels: pr-bugfix

#15395 feat: Add: stream based snapshot API install_snapshot_v2() to meta-service
  Cargo.lock
  Cargo.toml
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/testing.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_ext/snapshot_chunk_request_ext.rs
  src/meta/types/src/raft_types.rs
Labels: pr-feature

#15398 chore: Update meta-service gRPC version spec and raft-protocol feature set
  src/meta/README.md
  src/meta/client/src/lib.rs
  src/meta/service/src/version.rs
Labels: pr-chore

#15294 feat: add nextval table function
  Cargo.lock
  Cargo.toml
  src/query/async_functions/Cargo.toml
  src/query/async_functions/src/async_function.rs
  src/query/async_functions/src/lib.rs
  src/query/async_functions/src/sequence_async_function.rs
  src/query/expression/src/expression.rs
  src/query/functions/src/lib.rs
  src/query/service/src/interpreters/interpreter_sequence_drop.rs
  src/query/service/src/pipelines/builders/builder_async_function.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_sequence_nextval.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/evaluator/block_operator.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_async_func.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/stage.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/async_function.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/async_function_rewriter.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_sequence.test
Labels: pr-feature, ci-cloud

#15399 refactor: in snapshot-v2 protocol, move head to end to inform explicitly streaming end
  src/meta/service/src/meta_service/mod.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/meta_service/snapshot_receiver.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/types/src/proto_ext/snapshot_chunk_request_ext.rs
Labels: pr-refactor

#15400 refactor(query): remove useless system tables
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/servers/admin/admin_service.rs
  src/query/service/src/servers/admin/v1/logs.rs
  src/query/service/src/servers/admin/v1/mod.rs
  src/query/service/src/servers/admin/v1/queries_queue.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/queries_queue.rs
  src/query/storages/system/src/tracing_table.rs
Labels: pr-refactor

#15402 fix(query): fix match function panic in native format
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_prewhere.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_inverted_index.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-bugfix

#15407 fix: uplodate artifact name conflict for python
  .github/workflows/bindings.python.yml
Labels: pr-bugfix

#15405 refactor: list stage use stream to avoid OOM.
  src/common/storage/src/lib.rs
  src/common/storage/src/stage.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
Labels: pr-refactor

#15412 fix(storage): change tracking with alias update row_version bug in merge into
  src/query/sql/src/planner/binder/merge_into.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-bugfix

#15406 feat(query): implement ST_XMAX
  src/query/functions/src/scalars/geometry.rs
  src/query/functions/tests/it/scalars/geometry.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
Labels: pr-feature

#15415 fix(executor): fix broken merge into source profiling
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-bugfix, ci-cloud

#15417 refactor: Minimize lock duration during raft-log export
  src/meta/service/src/store/store_inner.rs
  src/meta/service/src/version.rs
Labels: pr-refactor

#15418 fix(query): ensure all inputs pull all data that less than max partition count in new agg singleton
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
Labels: pr-bugfix

#15425 feat(executor): record query profiling for standalone error query
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
Labels: pr-feature, ci-cloud

#15428 refactor: move storage/fuse/io/files.rs to storage/common/io/files.rs
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_user_stage_remove.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/storages/common/io/Cargo.toml
  src/query/storages/common/io/src/files.rs
  src/query/storages/common/io/src/lib.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/operations/common/meta/abort_operation.rs
  src/query/storages/fuse/src/operations/gc.rs
Labels: pr-refactor

#15429 refactor: define CatalogIdIdent with TIdent
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/catalog_id.rs
  src/meta/app/src/schema/catalog_name_ident.rs
  src/meta/app/src/schema/mod.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/service/src/interpreters/interpreter_catalog_create.rs
Labels: pr-refactor

#15424 fix(query): fix `array_concat` function domain panic
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-bugfix

#15421 chore(query): refactor metrics
  src/common/metrics/src/metrics/interpreter.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_metrics.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
Labels: pr-chore

#15432 refactor: define CatalogIdToNameIdent with TIdent
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/catalog_id_ident.rs
  src/meta/app/src/schema/catalog_id_to_name_ident.rs
  src/meta/app/src/schema/mod.rs
Labels: pr-refactor

#15438 chore: remove unused file
  src/meta/app/src/schema/catalog_id.rs
Labels: pr-chore

#15436 refactor: set enable_experimental_rbac_check default 1
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/binder/binder.rs
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
Labels: pr-refactor

#15431 fix: ExistsTable should has_result_set.
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/05_ddl/05_0023_exists_table.test
Labels: pr-bugfix

#15427 chore(storage): allow append when change tracking was enabled
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Labels: pr-chore

#15440 feat(query): add external_server_request_batch_rows setting
  src/query/expression/src/function.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/udf.rs
Labels: pr-feature

#15434 refactor(query): enable little vacuum after query finish
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/mod.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_vacuum_temporary_files.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/build_spill_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_spill/probe_spill_state.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/system/src/temp_files_table.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
Labels: pr-refactor, ci-cloud

#15441 fix: max_files not work for transform on ndjson/csv/tsv.
  src/query/sql/src/planner/binder/table.rs
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.sh
Labels: pr-bugfix

#15435 refactor: remove `MergeIntoSource` operator
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split.rs
Labels: pr-refactor

#15444 feat(function): Implement map_size function
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#15448 feat(query): add created_time column to processes table
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/processes_table.rs
  tests/sqllogictests/suites/base/06_show/06_0013_show_processlist.test
Labels: pr-feature

#15437 fix(functions): improve array_prepend and array_append
  src/common/tracing/src/structlog.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
Labels: pr-bugfix

#15348 feat(function): Implement map_cat function
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#15455 ci: Bump version to 2024-02-08 (the same commit with 1.78)
  scripts/setup/rust-toolchain.toml
Labels: pr-build

#15456 chore: Bump to rust 2024-02-08 (also 1.78)
  rust-toolchain.toml
  src/common/arrow/src/lib.rs
  src/common/io/src/binary_write.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/query/expression/src/lib.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state_entity.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_params.rs
Labels: pr-chore

#15446 chore: ignore stream column compare in block compact mutator
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/sql/src/executor/physical_plans/physical_recluster_sink.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-chore

#15449 refactor: use scalarvisitor replace predicate recursive
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_eval_scalar.rs
Labels: pr-refactor

#15443 fix(executor): fix queries executor cannot kill problem and reactivate kill test assertion
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  tests/suites/1_stateful/02_query/02_0000_kill_query.py
Labels: pr-bugfix

#15463 chore: polish log for copy.
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
Labels: pr-chore

#15461 refactor(query): remove useless settings
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-refactor

#15460 chore: improve show streams performance
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/streams_table.rs
  tests/suites/5_ee/05_stream/05_0000_ee_stream.result
  tests/suites/5_ee/05_stream/05_0000_ee_stream.sh
Labels: pr-chore, ci-cloud

#15466 refactor(query): add query id for query log
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/tracing/src/loggers.rs
  src/query/service/src/servers/http/middleware.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#15470 chore(ci): update deprecated actions
  .github/actions/setup_docker/action.yml
  .github/workflows/build_tool.yml
  .github/workflows/release.yml
Labels: pr-chore

#15473 chore: change flood info log to debug
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-chore, ci-cloud

#15472 feat(executor): record errors info into profiling log
  src/common/base/src/runtime/error_info.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/profile/profile.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
Labels: pr-feature

#15476 chore: remove breakline for log
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/spillers/spiller.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
Labels: pr-chore

#15475 fix(query): fix create table with cluster by get map type panic
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0000_remote_create_table.test
Labels: pr-bugfix

#15481 chore: remove incorrect usage of `Box::leak`
  src/query/service/src/servers/flight_sql/flight_sql_service/catalog.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore

#15482 chore: fix copy/spill log message
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_spill/transform_build_spill.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
Labels: pr-chore, ci-cloud

#15484 chore: Upgrade opentelemetry and remove metrics crate
  Cargo.lock
  Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/metrics/src/metrics/storage.rs
  src/common/storage/Cargo.toml
  src/common/tracing/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/service/Cargo.toml
  src/query/service/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/mutation/mutator/segment_compact_mutator.rs
Labels: pr-chore

#15478 feat: optimize vacuum drop table, execute in parallel
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-feature

#15487 chore: log file_name name for short
  src/common/tracing/src/loggers.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/sessions/query_ctx.rs
Labels: pr-chore, ci-cloud

#15483 feat: http handler add endpoint /v1/login/.
  src/query/config/src/version.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/login.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  tests/suites/1_stateful/09_http_handler/09_0004_login.result
  tests/suites/1_stateful/09_http_handler/09_0004_login.sh
Labels: pr-feature

#15486 chore: Bump poem to 3.0
  Cargo.lock
  Cargo.toml
  src/common/http/Cargo.toml
  src/common/http/src/debug/jeprof.rs
  src/common/http/tests/it/health.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/api/http/v1/cluster_state.rs
  src/meta/service/src/api/http/v1/ctrl.rs
  src/meta/service/tests/it/api/http/cluster_state_test.rs
  src/meta/service/tests/it/api/http/config.rs
  src/meta/service/tests/it/api/http/metrics.rs
  src/query/service/Cargo.toml
  src/query/service/src/servers/admin/v1/cluster.rs
  src/query/service/src/servers/admin/v1/system.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/servers/http/v1/suggestions.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/servers/admin/v1/cluster.rs
  src/query/service/tests/it/servers/admin/v1/config.rs
  src/query/service/tests/it/servers/admin/v1/status.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sharing_endpoint/Cargo.toml
  src/query/sharing_endpoint/src/middlewares.rs
  src/query/sharing_endpoint/src/models.rs
Labels: pr-chore, ci-benchmark

#15491 refactor: `SessionContext` doesn't require `Arc`
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
Labels: pr-refactor

#15465 feat(functions): add map_contains_key scalar function
  src/query/functions/README.md
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#15479 refactor: remove project operator
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_location.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/tests/it/pipelines/builders/runtime_filter.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_location.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
  src/query/sql/src/executor/physical_plans/physical_multi_table_insert.rs
  src/query/sql/src/executor/physical_plans/physical_project.rs
Labels: pr-refactor

#15492 chore: fix some flood logs with batch progress
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/sql/src/evaluator/cse.rs
Labels: pr-chore

#15497 chore(meta): tracking query id for meta log
  src/common/base/src/runtime/mod.rs
  src/meta/client/src/grpc_client.rs
  src/meta/service/src/api/grpc/grpc_service.rs
Labels: pr-chore

#15501 feat(query): build image limit python 3.12.2
  scripts/setup/dev_setup.sh
Labels: pr-feature

#15496 fix(query): RoleInfo from_pb should not err
  src/meta/proto-conv/src/role_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v090_role_info.rs
Labels: pr-bugfix

#15493 chore: Increase default io timeout for behavior changes
  src/common/storage/src/operator.rs
Labels: pr-chore

#15495 chore(query): tracking query log for mysql handler
  Cargo.lock
  src/common/base/src/runtime/runtime.rs
  src/common/base/tests/it/runtime.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
  src/meta/client/src/grpc_client.rs
  src/query/pipeline/sinks/Cargo.toml
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/locks/lock_holder.rs
  src/query/service/src/locks/lock_manager.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_sink.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_sink_writer.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_transform.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/service/tests/it/sql/exec/mod.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/operations/agg_index_sink.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/system/src/streams_table.rs
Labels: pr-chore, ci-benchmark

#15502 chore: polish error message NDJSON.
  src/query/storages/stage/src/read/row_based/formats/ndjson/block_builder.rs
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_on_error.test
Labels: pr-chore

#15511 chore(query): pyenv to 3.9
  scripts/setup/dev_setup.sh
Labels: pr-chore

#15512 feat(query): pyenv 3.12.2
  scripts/setup/dev_setup.sh
Labels: A-query, pr-feature

#15490 chore: recluster disable sort spill
  src/query/catalog/src/table_context.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  tests/suites/1_stateful/02_query/02_0006_set_priority.py
Labels: pr-chore, ci-cloud

#15516 refactor(query): revert dev_setup
  scripts/setup/dev_setup.sh
Labels: pr-refactor

#15514 chore: change load_file_metadata_expire_hours default from 24*7 to 12 hours
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#15517 chore: adjust elapsed time of various log messages
  src/query/ee/src/storages/fuse/io/snapshots.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/analyze.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/gc.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/recluster_aggregator.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
Labels: pr-chore

#15519 refactor: remove databend-common-base from databend-common-ast
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/statements/copy.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-refactor

#15515 fix: fix group by cube with join panic assert
  src/query/sql/src/executor/physical_plans/physical_aggregate_expand.rs
  tests/sqllogictests/suites/base/issues/issue_14500.test
Labels: pr-bugfix

#15510 feat(query): support unset session setting
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/unset.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_unsetting.rs
  src/query/sql/src/planner/binder/setting.rs
  src/query/sql/src/planner/plans/setting.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings.test
Labels: pr-feature

#15521 fix: Enable opendal backtrace output to help debug
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#15518 feat: support explain and profile multi table insert statemennt
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/plans/insert_multi_table.rs
  tests/sqllogictests/suites/mode/standalone/explain/multi_table_insert.sql
Labels: pr-feature, ci-cloud

#15523 refactor(query): allow udf server in insert source
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/replace.rs
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_desc_view.test
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-refactor

#15527 fix: `explain ast` of multi table insert stmt
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/walk.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-bugfix

#15504 refactor: `SessionContext::current_tenant` should not be changed at runtime
  src/bendpy/src/context.rs
  src/query/ee/src/background_service/background_service_handler.rs
  src/query/ee/src/background_service/session.rs
  src/query/ee/src/storage_encryption/handler.rs
  src/query/ee/src/storage_quota/handler.rs
  src/query/service/src/auth.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/servers/admin/v1/cluster.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/auth.rs
  src/query/service/tests/it/sessions/session.rs
Labels: pr-refactor

#15530 chore: Upgrade minitrace related crates to 0.6.5
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#15534 fix: Prevent premature snapshot commit on unfinished writes
  src/meta/raft-store/src/sm_v002/mod.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-bugfix

#15533 fix(query): fix view flaky test with different dialect
  src/query/storages/information_schema/src/columns_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_desc_view.test
Labels: pr-bugfix

#15532 chore: reduce snapshot building progress logging
  src/meta/raft-store/src/sm_v002/writer_v002.rs
Labels: pr-chore

#15477 chore: convert to arrow column remove ignore inside nullable
  src/query/expression/src/converts/arrow/mod.rs
  src/query/expression/src/converts/arrow/to.rs
  src/query/expression/src/converts/arrow2/mod.rs
  src/query/expression/src/converts/arrow2/to.rs
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/schema.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/storages/common/blocks/src/parquet_rs.rs
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/base/05_ddl/05_0010_ddl_create_udf.test
  tests/sqllogictests/suites/base/05_ddl/05_0022_ddl_desc_view.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0033_distributed_merge_into_without_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0037_target_build_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0039_topk_sorter.test
  tests/sqllogictests/suites/duckdb/issues/monetdb/test_round_bug.test
  tests/sqllogictests/suites/duckdb/join/inner/test_unequal_join.test
  tests/sqllogictests/suites/duckdb/join/left_outer/left_join_issue_7905.test
  tests/sqllogictests/suites/duckdb/join_small_block/inner/test_unequal_join.test
  tests/sqllogictests/suites/duckdb/join_small_block/left_outer/left_join_issue_7905.test
  tests/sqllogictests/suites/query/cte/cte.test
  tests/sqllogictests/suites/query/functions/02_0066_function_try_to_decimal.test
  tests/sqllogictests/suites/query/materialized_cte.test
Labels: pr-chore

#15531 feat(query): add query query_hash and query_parameterized_hash to query log
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/query_log_table.rs
  tests/sqllogictests/suites/base/01_system/01_0002_system_query_log.test
Labels: pr-feature

#15535 chore: leave all un-committed data to purge/vacuum
  src/common/storage/src/parquet_rs.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Labels: pr-chore

#15537 fix(query): fix qualify display
  .github/workflows/reuse.linux.yml
  Cargo.lock
  src/common/storage/src/lib.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  tests/suites/5_ee/00_check/00_0014_license_info.py
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
  tests/suites/5_ee/02_data_mask/02_0000_data_mask.py
Labels: pr-bugfix

#15529 feat(query): bump arrow-udf version to enhance types supported by JS UDFs
  Cargo.lock
  Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
Labels: pr-feature

#15503 feat: resolve conflict when multi table insert commit
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/catalog/src/table.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
Labels: pr-feature

#15542 feat(query): udf script support load from stage location
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/data/udf/gcd.js
  tests/data/udf/test10-udf-wasm-gcd.tar.gz
  tests/data/udf/test10_udf_wasm_gcd.wasm.zst
  tests/sqllogictests/suites/udf_native/01_0001_udf_wasm.test
  tests/sqllogictests/suites/udf_native/03_0001_udf_js.test
Labels: pr-feature

#15545 feat(metasrv): add metrics for snapshot key numbers
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-feature

#15541 feat: select support consume stream
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/raw-insert.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/semantic/view_rewriter.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/stream/src/stream_table.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/cloud_control_server/simple_server.py
  tests/sqllogictests/suites/ee/06_ee_stream/06_0002_stream_txn_consume.test
Labels: pr-feature

#15544 feat(query): show users support display roles
  src/query/service/src/interpreters/interpreter_role_show.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/service/tests/it/storages/testdata/roles_table.txt
  src/query/service/tests/it/storages/testdata/users_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/storages/system/src/roles_table.rs
  src/query/storages/system/src/users_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
  tests/sqllogictests/suites/base/06_show/06_0016_show_users.test
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
Labels: pr-feature

#15546 chore: Remove tokio-console since we don't need it
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/tracing/Cargo.toml
  src/common/tracing/src/init.rs
  src/meta/service/Cargo.toml
  src/query/service/Cargo.toml
Labels: pr-chore

#15550 chore: Bump databend client and geozero to latest version
  Cargo.lock
  Cargo.toml
  src/tests/sqlsmith/Cargo.toml
Labels: pr-chore

#15552 chore: Bump rustls to 0.22
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/parquet2/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/constraint/Cargo.toml
  src/query/functions/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/local/helper.rs
  src/query/service/src/servers/mysql/tls.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/fuse/Cargo.toml
Labels: pr-chore

#15551 chore: remove unused micromarshal patch
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#15540 feat: remove XML input format.
  Cargo.lock
  src/meta/app/src/principal/file_format.rs
  src/meta/app/src/principal/user_stage.rs
  src/query/ast/src/parser/stage.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/impls/mod.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  tests/data/xml/v1_custom_row_tag.xml
  tests/data/xml/v1_default.xml
  tests/data/xml/v2_custom_row_tag.xml
  tests/data/xml/v2_default.xml
  tests/data/xml/v3_custom_row_tag.xml
  tests/data/xml/v3_default.xml
  tests/data/xml/wrong_sample.xml
  tests/data/xml/wrong_sample2.xml
  tests/sqllogictests/suites/stage/formats/xml/xml_basic.test
  tests/sqllogictests/suites/stage/formats/xml/xml_on_error.test
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_xml.result
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_xml.sh
Labels: pr-feature

#15554 chore: change the short_sql from 64bytes to 10KB
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sessions/query_ctx.rs
Labels: pr-chore

#15549 chore: support aborting table navigation
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/ee/src/stream/handler.rs
  src/query/expression/src/kernels/sort.rs
  src/query/expression/tests/it/sort.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/navigate.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/operations/revert.rs
Labels: pr-chore

#15556 chore(query): add more heavy actions query type
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-chore

#15547 feat(query): create table support add inverted index
  src/meta/api/src/schema_api_impl.rs
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/ast/visitors/visitor.rs
  src/query/ast/src/ast/visitors/visitor_mut.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/sql/src/planner/binder/ddl/dynamic_table.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-feature

#15557 chore(storage): remove abort operation
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/transform_builder.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/meta/abort_operation.rs
  src/query/storages/fuse/src/operations/common/meta/commit_meta.rs
  src/query/storages/fuse/src/operations/common/meta/mod.rs
  src/query/storages/fuse/src/operations/common/meta/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/common/processors/transform_merge_commit_meta.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/query/storages/fuse/src/operations/mutation/mutator/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/recluster_aggregator.rs
  src/query/storages/fuse/src/operations/truncate.rs
Labels: pr-chore

#15559 fix: FlightData must contain valid data header
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
Labels: pr-bugfix

#15560 chore(query): all queryies should generate hash
  src/query/service/src/interpreters/interpreter.rs
  tests/sqllogictests/suites/base/01_system/01_0002_system_query_log.test
Labels: pr-chore

#15564 chore: Reduce the duplicated clap and gix
  Cargo.lock
  src/common/building/Cargo.toml
Labels: pr-chore

#15548 chore(ast): unify all of {escape,unescape,quote,unquote}_{string/at_string/ident}
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/escape.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/mod.rs
  src/query/ast/src/ast/quote.rs
  src/query/ast/src/ast/statements/presign.rs
  src/query/ast/src/ast/statements/principal.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/mod.rs
  src/query/ast/src/parser/quote.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/src/parser/unescape.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/dialect.txt
  src/query/ast/tests/it/testdata/lexer.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/util.rs
Labels: pr-chore

#15565 fix: Avoid duplicate temp file name for install-snapshot requests
  src/meta/raft-store/src/sm_v002/snapshot_store.rs
  src/meta/types/src/raft_snapshot_data.rs
Labels: pr-bugfix

#15574 fix(query): fix shrink_d256 for negative value
  src/query/expression/src/utils/mod.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#15566 feat: fuzzy table data disk cache key reload
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
Labels: pr-feature

#15575 chore: short_sql from 10KB to 30KB
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sessions/query_ctx.rs
Labels: pr-chore

#15577 fix(query): fix bloom fitler using `is_null` and `not` function
  src/query/storages/common/index/src/bloom_index.rs
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
Labels: pr-bugfix

#15580 fix(query): fix filter with nested `not` expr return wrong result
  src/query/expression/src/filter/select_expr.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_01_bloom_in_pruning.test
  tests/sqllogictests/suites/query/filter.test
Labels: pr-bugfix

#15576 chore: disk cache load refine and reduce the info flood logs
  Cargo.lock
  scripts/distribution/configs/databend-query.toml
  src/binaries/query/entry.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/providers/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_key.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/disk_cache/mod.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
  src/query/storages/common/cache_manager/src/cache_manager.rs
  src/query/storages/delta/Cargo.toml
Labels: pr-chore

#15571 refactor: Improve logging and snapshot management
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/sm_v002/mod.rs
  src/meta/raft-store/src/sm_v002/snapshot_stat.rs
  src/meta/raft-store/src/sm_v002/snapshot_store.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#15587 fix: fix normalize disjunctive filter
  src/query/sql/src/planner/optimizer/filter/normalize_disjunctive_filter.rs
  tests/sqllogictests/suites/query/issues/issue_15569.test
Labels: pr-bugfix

#15589 chore: Bump jsonb version 0.4.0
  Cargo.lock
  Cargo.toml
  src/tests/sqlsmith/Cargo.toml
Labels: pr-chore

#15583 chore: fix error capture of mulit statement transaction in mysql session
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  tests/sqllogictests/suites/base/14_transaction/14_0004_rollback.test
Labels: pr-chore

#15562 feat(query): variant type as map value support bloom filter
  Cargo.lock
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-feature

#15582 fix: consume stream inside explicit txn
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/insert.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0002_stream_txn_consume.test
Labels: pr-bugfix

#15588 refactor: Embed key number into snapshot id
  src/meta/raft-store/src/sm_v002/snapshot_store.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/raft-store/src/state_machine/mod.rs
  src/meta/raft-store/src/state_machine/snapshot.rs
  src/meta/raft-store/src/state_machine/snapshot_id.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#15590 refactor: Remove `install_snapshot` v0 meta-service API
  src/meta/README.md
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/version.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/grpc_helper.rs
Labels: pr-refactor

#15593 chore: udpate doc for meta-service compat change
  src/meta/README.md
  src/meta/service/src/version.rs
Labels: pr-chore

#15601 refactor: Enhance Meta-Service Cluster Management
  src/meta/raft-store/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
Labels: pr-refactor

#15595 feat(metasrv): add metrics for db_size
  Cargo.lock
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-feature

#15603 refactor: Decouple Snapshot Write and Commit Operations
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/sm_v002/snapshot_stat.rs
  src/meta/raft-store/src/sm_v002/snapshot_store.rs
  src/meta/raft-store/src/sm_v002/writer_v002.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/raft_snapshot_data.rs
Labels: pr-refactor

#15602 fix: TxnManager with state AutoCommit should not be saved in http manager.
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-bugfix

#15608 chore: Refine state machine v002
  src/meta/raft-store/src/sm_v002/leveled_store/immutable.rs
  src/meta/raft-store/src/sm_v002/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map.rs
  src/meta/raft-store/src/sm_v002/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/sm_v002/leveled_store/map_api.rs
  src/meta/raft-store/src/sm_v002/leveled_store/mod.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_mut.rs
  src/meta/raft-store/src/sm_v002/leveled_store/util.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
Labels: pr-chore

#15610 fix(query): fix subquery writer in udf
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-bugfix

#15614 fix: analyze table error
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
Labels: pr-bugfix

#15617 chore: more commit logs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Labels: pr-chore

#15596 refactor: polish memory usage when copy into parquet.
  Cargo.lock
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/append/do_append.rs
  src/query/storages/stage/src/append/parquet_file/pipeline.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.sh
  tests/suites/1_stateful/00_stage/00_0007_copy_into_stage2.result
  tests/suites/1_stateful/00_stage/00_0007_copy_into_stage2.sh
  tests/suites/1_stateful/00_stage/00_0017_copy_into_parquet.result
  tests/suites/1_stateful/00_stage/00_0017_copy_into_parquet.sh
Labels: pr-refactor

#15622 chore: prepare for SMV003: move shared code to separate dir
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/leveled_store/immutable.rs
  src/meta/raft-store/src/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/leveled_store/level.rs
  src/meta/raft-store/src/leveled_store/leveled_map.rs
  src/meta/raft-store/src/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/raft-store/src/leveled_store/mod.rs
  src/meta/raft-store/src/leveled_store/ref_mut.rs
  src/meta/raft-store/src/leveled_store/sys_data.rs
  src/meta/raft-store/src/leveled_store/sys_data_api.rs
  src/meta/raft-store/src/leveled_store/util.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/marked/internal_seq.rs
  src/meta/raft-store/src/marked/marked_test.rs
  src/meta/raft-store/src/marked/mod.rs
  src/meta/raft-store/src/sm_v002/importer.rs
  src/meta/raft-store/src/sm_v002/leveled_store/ref_.rs
  src/meta/raft-store/src/sm_v002/mod.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/sm_v002/sm_v002_test.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002.rs
  src/meta/raft-store/src/sm_v002/snapshot_view_v002_test.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/store.rs
Labels: pr-chore

#15619 refactor(storage): bloom index filter use `fold_with_domain` instead `fold`
  src/query/expression/src/evaluator.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_01_bloom_in_pruning.test
  tests/sqllogictests/suites/mode/standalone/explain/bloom_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/bloom_filter.test
Labels: pr-refactor

#15616 chore(query): add sort plan before window plan
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/distributed/sort_and_limit.rs
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-chore, ci-cloud

#15613 chore(query): fix filter reorder check
  src/query/expression/src/filter/select_expr.rs
  tests/sqllogictests/suites/query/filter.test
Labels: pr-chore

#15625 fix: update derive-vistor to unblock rustc upgrage
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#15626 chore: reduce the short_sql to 128bytes
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sessions/query_ctx.rs
Labels: pr-chore

#15624 fix: allow http client retry when lost response with next_uri=/final.
  src/query/service/src/servers/http/v1/json_block.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-bugfix

#15599 feat: support millisecond level task scheduling
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_utils.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/common/task.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/sqllogictests/suites/task/task_ddl_test_milliseconds.test
Labels: pr-feature

#15627 chore(query): add timeout for open telemetry logger
  src/common/tracing/src/loggers.rs
Labels: pr-chore, ci-cloud

#15630 fix(query): unify optimize plan call in one place
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/mode/cluster/create_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
Labels: pr-bugfix

#15633 chore: spill out short_sql to common/base/src/string.rs
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/base/mod.rs
  src/common/base/src/base/string.rs
  src/common/base/tests/it/string.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sessions/query_ctx.rs
Labels: pr-chore

#15636 feat: otlp logging support http endpoint
  Cargo.lock
  Cargo.toml
  src/binaries/meta/entry.rs
  src/binaries/query/entry.rs
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/loggers.rs
  src/query/config/Cargo.toml
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#15639 fix: missing service label for otlp logs
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: pr-bugfix

#15640 fix(query): delete len check in mget_database/table_names_by_ids
  src/meta/api/src/schema_api_impl.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
Labels: pr-bugfix, ci-cloud
