Repository databendlabs/databend, pull requests merged in 2024-10, with the labels that each got.

#16555 fix(query): fix json object compare cause panic
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/suites/query/functions/02_0005_function_compare.test
Labels: pr-bugfix

#16441 feat(query): window partition by spill to disk
  Cargo.lock
  Cargo.toml
  src/common/arrow/src/arrow/array/mod.rs
  src/common/base/Cargo.toml
  src/common/base/src/base/dma.rs
  src/common/base/src/base/mod.rs
  src/common/base/src/lib.rs
  src/common/base/src/runtime/profile/profiles.rs
  src/common/tracing/Cargo.toml
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/config/src/mask.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/spillers/mod.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/temp_dir.rs
  tests/sqllogictests/suites/query/window_function/window_partition_spill.test
  tests/sqllogictests/suites/tpcds/spill.test
  tests/sqllogictests/suites/tpch/spill.test
Labels: C-feature, A-query, pr-feature, ci-cloud, size:XXL, lgtm

#16572 refactor: simplify get_tables_history()
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-refactor

#16574 fix: direct io syscall not available on mac
  src/common/base/src/base/dma.rs
Labels: pr-bugfix

#16573 feat(query): add json array lambda functions
  src/query/expression/src/evaluator.rs
  src/query/expression/src/types/variant.rs
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-feature

#16577 refactor(iceberg): Use iceberg file IO instead of our own operator
  Cargo.lock
  Cargo.toml
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_rs/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/mod.rs
Labels: pr-refactor

#16567 fix: window in scalar subquery returns wrong results
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/query/window_function/window_with_subquery.test
Labels: pr-bugfix

#16582 refactor: add SchemaApi::get_table_in_db
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-refactor

#16583 chore(query): SHOW/DESC is not DDL
  src/query/service/src/interpreters/interpreter_connection_show.rs
  src/query/service/src/interpreters/interpreter_data_mask_desc.rs
  src/query/service/src/interpreters/interpreter_database_show_create.rs
  src/query/service/src/interpreters/interpreter_file_format_show.rs
  src/query/service/src/interpreters/interpreter_network_policies_show.rs
  src/query/service/src/interpreters/interpreter_network_policy_desc.rs
  src/query/service/src/interpreters/interpreter_notification_desc.rs
  src/query/service/src/interpreters/interpreter_password_policy_desc.rs
  src/query/service/src/interpreters/interpreter_role_show.rs
  src/query/service/src/interpreters/interpreter_table_describe.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/interpreters/interpreter_task_describe.rs
  src/query/service/src/interpreters/interpreter_tasks_show.rs
  src/query/service/src/interpreters/interpreter_view_describe.rs
Labels: pr-chore

#16584 fix: avoid eliminating the left child of union in `RuleEliminateUnion`
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_union.rs
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/query/union.test
Labels: pr-bugfix

#16576 fix(query): fix inverted index panic caused by null value
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-bugfix

#16586 refactor: SchemaApi::get_table_meta_history()
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-refactor

#16590 chore: check lock revision before watch delete
  src/query/service/src/locks/lock_manager.rs
Labels: pr-chore

#16566 fix(query): fix cannot obtain stack trace when segmentation fault
  .github/actions/build_linux/action.yml
  .github/actions/build_linux_sanitizer/action.yml
  Cargo.lock
  Cargo.toml
  Makefile
  src/binaries/query/ee_main.rs
  src/binaries/query/oss_main.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/crash_hook.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/panic_hook.rs
Labels: pr-bugfix, ci-cloud

#16525 feat: copy option 'pattern' support variable.
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/stage.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/binder/bind_table_reference/bind_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  tests/sqllogictests/suites/stage/options/pattern_variable.test
Labels: A-query, pr-feature, size:L

#16578 refactor: fix error message.
  src/query/ast/src/ast/quote.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
Labels: pr-refactor

#16581 fix: merge into panic
  src/query/sql/src/executor/physical_plans/physical_mutation.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0042_merge_into_issue_16588.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-bugfix

#16587 fix(query): list_dictionaries should not ignore db_id
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#16596 chore(ci): flaky test
  tests/sqllogictests/suites/mode/standalone/explain/clustering.test
Labels: pr-chore

#16593 fix(iceberg): Make sure iceberg table has been loaded
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
Labels: pr-bugfix

#16571 feat(query): support json array functions
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#16585 fix: add compatibility for reading non-standard decimal256 format
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/io/read/block/parquet/arrow_parquet.rs
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
  src/query/storages/fuse/src/io/read/block/parquet/mod.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
Labels: pr-bugfix

#16597 fix: Disable `prewhere` for iceberg table for now
  src/query/expression/src/converts/arrow/from.rs
  src/query/storages/iceberg/src/table.rs
Labels: pr-bugfix

#16589 refactor(storage): inverted index use merge io to read data
  Cargo.lock
  src/query/ee/Cargo.toml
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/storages/common/index/src/inverted_index.rs
  src/query/storages/common/io/Cargo.toml
  src/query/storages/common/io/src/lib.rs
  src/query/storages/common/io/src/merge_io_reader.rs
  src/query/storages/common/io/src/merge_io_result.rs
  src/query/storages/common/io/src/read_settings.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_deserialize.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/block/mod.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/read/mod.rs
  src/query/storages/fuse/src/io/read/virtual_column/mod.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/mutation/meta/mutation_meta.rs
  src/query/storages/fuse/src/operations/mutation/processors/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/processors/mutation_source.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/operations/util.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  src/query/storages/fuse/src/table_functions/fuse_encoding.rs
Labels: pr-refactor, ci-benchmark

#16560 feat(query): add date_diff function
  Cargo.lock
  src/common/parquet2/src/encoding/delta_length_byte_array/encoder.rs
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#16601 fix(query): fix left outer join wrong result
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  tests/sqllogictests/suites/query/join/left_outer.test
Labels: pr-bugfix

#16598 ci: Add iceberg tpch sqllogictests
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/scripts/docker-compose-iceberg-tpch.yml
  tests/sqllogictests/scripts/prepare_iceberg_tpch_data.py
  tests/sqllogictests/suites/tpch_iceberg/queries.test
Labels: pr-build

#16599 chore(query): improve variable parser
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
Labels: pr-chore

#16592 refactor: isolate session_id and session states of diff users.
  src/meta/app/src/principal/client_session.rs
  src/meta/app/src/principal/client_session_ident.rs
  src/meta/proto-conv/src/client_session_from_to_protobuf_impl.rs
  src/meta/protos/proto/client_session.proto
  src/query/management/src/client_session.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/session.rs
  src/query/storages/fuse/src/table_functions/fuse_vacuum_temporary_table.rs
Labels: pr-refactor

#16600 chore: refine table sample tests
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
Labels: pr-chore

#16606 fix: subquery returns wrong results under cluster
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#16604 fix(query): ntile frame should be unbounded
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/window_ntile.test
Labels: pr-bugfix

#16580 feat(query): Reduce serialisation memory usage when spilling to local disk
  Cargo.lock
  Makefile
  src/common/base/src/base/dma.rs
  src/common/base/src/base/mod.rs
  src/query/expression/src/utils/arrow.rs
  src/query/service/Cargo.toml
  src/query/service/src/lib.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/spillers/mod.rs
  src/query/service/src/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/cache/src/temp_dir.rs
  tests/sqllogictests/suites/query/window_function/window_partition_spill.test
Labels: pr-feature, ci-cloud

#16602 feat(query): Support `show dictionaries` DQL.
  src/query/ast/src/ast/statements/dictionary.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/dictionary.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/dictionaries_table.rs
  src/query/storages/system/src/lib.rs
  tests/sqllogictests/suites/base/06_show/06_0024_show_dictionaries.test
Labels: pr-feature

#16613 feat: support sampling table with block and row level simultaneously
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/plan/pushdown.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
Labels: pr-feature

#16623 chore: reset recluster block size
  src/query/settings/src/settings_default.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Labels: pr-chore

#16620 chore(query): add http address info to cluster node info
  src/common/base/src/base/dma.rs
  src/meta/types/src/cluster.rs
  src/meta/types/tests/it/cluster.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/test_kits/cluster.rs
Labels: pr-chore

#16611 fix: lock mgr may failed to release lock in time
  src/common/base/src/base/watch_notify.rs
  src/query/service/src/locks/lock_holder.rs
Labels: pr-bugfix, ci-benchmark

#16622 refactor: Unify the set and unset structures
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/set.rs
  src/query/ast/src/ast/statements/settings.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/set.rs
Labels: pr-refactor

#16614 feat: add unload options `overwrite`, `include_query_id` and `use_raw_path`.
  Cargo.lock
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/copy_into_location.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/append/do_append.rs
  src/query/storages/stage/src/append/parquet_file/pipeline.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  src/query/storages/stage/src/append/path.rs
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  src/query/storages/stage/src/append/row_based_file/writer_processor.rs
  tests/sqllogictests/suites/stage/unload.test
Labels: pr-feature

#16616 chore: drop guard when acquire lock failed
  src/query/service/src/locks/lock_holder.rs
  src/query/service/src/locks/lock_manager.rs
  tests/sqllogictests/scripts/prepare_iceberg_tpch_data.py
Labels: pr-chore, ci-cloud

#16630 chore: revert “lock mgr may failed to release lock in time (#16611)"
  src/common/base/src/base/watch_notify.rs
  src/query/service/src/locks/lock_holder.rs
Labels: pr-chore

#16627 feat(function): Add mode Aggregate function.
  src/query/functions/src/aggregates/aggregate_mode.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-feature

#16612 feat(query): Support use parquet format when spilling
  Cargo.lock
  src/query/ast/src/parser/parser.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/spillers/mod.rs
  src/query/service/src/spillers/serialize.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/blocks/src/lib.rs
Labels: pr-feature, ci-cloud

#16636 feat(query): support `json_object_insert` function
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#16609 refactor(storage): inverted index support calculate the score
  Cargo.lock
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/storages/common/index/src/inverted_index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_reader.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/pruning/inverted_index_pruner.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-refactor

#16637 feat: http handler support request forwarding.
  src/common/base/src/headers.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/servers/http/http_services.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/suites/1_stateful/09_http_handler/09_0008_forward.py
  tests/suites/1_stateful/09_http_handler/09_0008_forward.result
Labels: pr-feature

#16631 fix(query): support subquery in pivot
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/join_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/mod.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_relation.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/query_executor.rs
  src/query/sql/src/planner/semantic/distinct_to_groupby.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/query/pivot.test
  tests/sqllogictests/suites/query/unpivot.test
Labels: pr-bugfix

#16644 refactor: some http APIs do not need sticky.
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
Labels: pr-refactor

#16543 feat: Implemented a new sql `explain analyze graphical`
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/suites/1_stateful/02_query/02_0009_explain_profile.result
  tests/suites/1_stateful/02_query/02_0009_explain_profile.sh
Labels: pr-feature

#16634 fix(query): check_timestamp/date -> clamp_timestamp/date
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/src/values.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#16646 chore(query): add warn log if vacuum temporary file is error
  src/query/service/src/interpreters/hook/vacuum_hook.rs
Labels: pr-chore

#16632 fix: deadlock in table lock
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/tests/it/servers/admin/v1/status.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/planner_cache.rs
  tests/suites/1_stateful/09_http_handler/09_0008_forward.py
Labels: pr-bugfix, ci-benchmark

#16629 chore: resolve todo in dynamic sample
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/limit.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/sqllogictests/suites/tpch/sample.test
Labels: pr-chore

#16649 chore(query): enable loser tree merge sort default
  src/query/pipeline/transforms/src/processors/transforms/sort/algorithm.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_k_way_merge_sort.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/query/join_small_block_size.test
Labels: pr-chore

#16655 chore(query): replace `arrow2` with `arrow-rs` in `serialize_column` and `deserialize_column`
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/arrow.rs
  src/query/expression/tests/it/serde.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
Labels: pr-chore

#16532 refactor: delete user_procedure and refactor procedure interpreter
  src/meta/api/src/meta_txn_error.rs
  src/query/management/src/procedure/procedure_mgr.rs
  src/query/service/src/interpreters/interpreter_procedure_create.rs
  src/query/service/src/interpreters/interpreter_procedure_drop.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/users/src/lib.rs
  src/query/users/src/user_procedure.rs
Labels: pr-refactor

#16658 fix(query): sort spilling use arrow file format painc
  src/query/pipeline/transforms/src/processors/transforms/sort/spill.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/spillers/serialize.rs
  tests/sqllogictests/suites/query/order.test
Labels: pr-bugfix

#16663 fix(query): create table need fail if storage format is invalid
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#16654 fix(query): forbid explain explain statement
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/explain.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-bugfix

#16657 refactor(query): use arrow-flight to exchange datas
  Cargo.lock
  Cargo.toml
  src/common/arrow/src/arrow/datatypes/field.rs
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_flight.rs
  src/common/exception/tests/it/exception_flight.rs
  src/query/expression/src/block.rs
  src/query/expression/src/converts/arrow/from.rs
  src/query/expression/src/converts/arrow/to.rs
  src/query/expression/src/converts/arrow2/from.rs
  src/query/expression/src/converts/arrow2/to.rs
  src/query/expression/src/utils/arrow.rs
  src/query/expression/tests/it/types.rs
  src/query/service/Cargo.toml
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/flight_service.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_serializer.rs
  src/query/service/src/servers/flight/v1/exchange/serde/mod.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/system/src/dictionaries_table.rs
  tests/sqllogictests/suites/query/functions/02_0010_function_if.test
Labels: pr-refactor, incompat

#16674 chore(query): remove hash join build detail status
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
Labels: pr-chore

#16656 fix(storage): fix refresh virtual column using async api
  Cargo.lock
  src/common/metrics/src/metrics/storage.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/src/virtual_column/virtual_column_handler.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/ee_features/virtual_column/Cargo.toml
  src/query/ee_features/virtual_column/src/virtual_column.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_virtual_column_refresh.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
Labels: pr-bugfix

#16670 feat: add deterministic block level sampling for small datasets
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
Labels: pr-feature

#16678 fix(query): insert with long sql parse error
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/base/03_common/03_0045_insert_values_with_comment.test
Labels: pr-bugfix

#16681 feat: support explain decorrelated plan
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-feature

#16664 fix(ci): flaky test
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/mode/standalone/explain/clustering.test
Labels: pr-bugfix

#16679 chore: upon startup, meta-service output human-readable error if trying to open future version on-disk data
  src/meta/raft-store/src/ondisk/mod.rs
Labels: pr-chore

#16684 fix: insert long sql again
  src/query/sql/src/planner/planner.rs
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values.test
Labels: pr-bugfix

#16680 chore: adjust default value of setting `max_storage_io_requests`
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#16682 feat(query): support `json_object_delete` and `json_object_pick` function
  Cargo.lock
  Cargo.toml
  src/query/expression/src/evaluator.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#16688 chore(query): returns nan for aggregate_kurtosis and aggregate_skewness
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-chore

#16661 feat: Bump OpenDAL to 0.50.1
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/http_client.rs
  src/common/base/src/lib.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/metrics_layer.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/runtime_layer.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/init.rs
  src/meta/app/src/storage/storage_params.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/storages/delta/Cargo.toml
  src/query/storages/delta/src/table.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/hive/hive/src/hive_table.rs
  tests/sqllogictests/src/mock_source/redis_source.rs
Labels: pr-feature, ci-benchmark

#16691 refactor: refine cast variant to map
  src/query/expression/src/evaluator.rs
Labels: pr-refactor

#16683 feat: support map lambda functions
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/expression/src/evaluator.rs
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#16695 chore: display port number on error from bind to port failure
  src/query/service/src/servers/flight/flight_service.rs
  src/query/service/src/servers/flight_sql/flight_sql_server.rs
Labels: pr-chore

#16692 fix: `JEAllocator` should properly handle nullptr returned
  src/common/base/src/mem_allocator/jemalloc.rs
Labels: pr-bugfix

#16699 chore: remove `SortColumnDescription.is_nullable`
  src/query/expression/src/kernels/sort.rs
  src/query/expression/tests/it/sort.rs
  src/query/functions/src/scalars/array.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/simple.rs
  src/query/pipeline/transforms/tests/it/merger.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/merge_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/tests/it/pipelines/transforms/sort/k_way.rs
  src/query/service/tests/it/pipelines/transforms/sort/spill.rs
  src/query/storages/fuse/src/operations/append.rs
Labels: pr-chore

#16659 refactor: streamline system.temp_files table scan
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/temp_files_table.rs
Labels: pr-refactor

#16705 chore: backport PR #16249 to Release/v1.2.636 rc2
  Cargo.lock
  src/common/tracing/Cargo.toml
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: pr-chore

#16707 chore: remove transaction keyword
  src/query/ast/src/parser/token.rs
  tests/sqllogictests/suites/base/14_transaction/14_0005_snapshots.test
Labels: pr-chore

#16709 chore: add timeout for `detect_region` operation to prevent hanging request
  src/meta/app/src/storage/storage_params.rs
Labels: pr-chore

#16665 feat(query): add api /v1/verify
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/verify.rs
  tests/suites/1_stateful/09_http_handler/09_0007_token.py
Labels: pr-feature

#16703 chore(query): add current_query_id and database id for admin api
  src/query/service/src/servers/admin/v1/processes.rs
  src/query/service/src/servers/admin/v1/tenant_tables.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/processes_table.rs
Labels: pr-chore

#16698 feat: support calculating table storage size(including time travel)
  src/query/catalog/src/database.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions.test
  tests/suites/0_stateless/20+_others/20_0020_fuse_time_travel_size.result
  tests/suites/0_stateless/20+_others/20_0020_fuse_time_travel_size.sh
Labels: pr-feature

#16696 feat(query): add table function udf_echo && expose more metrics of udf client
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.toml
  src/common/base/src/runtime/metrics/family_metrics/counter.rs
  src/common/metrics/src/metrics/external_server.rs
  src/meta/binaries/Cargo.toml
  src/query/expression/src/utils/udf_client.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/table_functions/others/mod.rs
  src/query/service/src/table_functions/others/udf.rs
  src/query/service/src/table_functions/table_function_factory.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-feature

#16719 chore(query): index scalar support variant
  src/query/expression/src/converts/meta/index_scalar.rs
Labels: pr-chore

#16713 chore: display log.file.limit and prefix_filter
  src/common/tracing/src/config.rs
Labels: pr-chore

#16701 fix(metrics): use f64::MAX as histogram bound to display +Inf properly
  src/common/base/src/runtime/metrics/registry.rs
  src/common/base/tests/it/metrics/registry.rs
Labels: pr-bugfix, ci-cloud

#16725 chore: avoid returning error during computing binary comparison selectivity
  src/query/sql/src/planner/optimizer/property/selectivity.rs
Labels: pr-chore

#16669 feat(query): Settings clause
  src/query/ast/src/ast/statements/set.rs
  src/query/ast/src/ast/statements/settings.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_set.rs
  src/query/service/src/interpreters/interpreter_unset.rs
  src/query/service/src/interpreters/util.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/statement_settings.rs
  src/query/sql/src/planner/planner.rs
  src/query/storages/system/src/settings_table.rs
  tests/sqllogictests/suites/query/set.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
Labels: pr-feature

#16697 fix(query): use custom connector for udf client
  Cargo.lock
  src/common/grpc/src/dns_resolver.rs
  src/common/grpc/src/lib.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/udf_client.rs
Labels: pr-bugfix

#16716 chore: Simplifying BlockMetaInfo Definitions
  src/query/catalog/src/plan/agg_index.rs
  src/query/expression/src/block.rs
  src/query/pipeline/core/tests/it/pipelines/processors/port_test.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/k_way_merge_sort_partition.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/spill.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_block.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_k_way_merge_sort.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_meta.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_transform_shuffle.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_serializer.rs
  src/query/storages/fuse/src/operations/mutation/meta/mutation_meta.rs
  src/query/storages/fuse/src/operations/read/native_data_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source.rs
  src/query/storages/orc/Cargo.toml
  src/query/storages/orc/src/strip.rs
  src/query/storages/stage/src/append/parquet_file/block_batch.rs
  src/query/storages/stage/src/append/row_based_file/buffers.rs
  src/query/storages/stage/src/read/row_based/batch.rs
Labels: pr-chore

#16727 fix: MetaGrpcClient deadlock when drop
  Cargo.lock
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_client.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/inverted_index/inverted_index_loader.rs
Labels: C-bug, pr-bugfix, A-meta

#16728 refactor: refine column statistic map serialization
  Cargo.lock
  src/query/storages/common/index/src/index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/common/table_meta/src/meta/statistics.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
Labels: pr-refactor

#16730 feat: implement `is_not_null` selectivity based on null count in stats
  src/query/sql/src/planner/optimizer/dynamic_sample/filter_selectivity_sample.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/nullable_prune.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/is_not_null.test
  tests/sqllogictests/suites/mode/standalone/explain_native/nullable_prune.test
Labels: pr-feature

#16733 refactor: MetaGrpcClient needs to specify timeout to auto-reconnect to restarted server
  src/meta/service/src/api/grpc_server.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
Labels: pr-refactor

#16700 refactor: replace direct GitHub dependencies with published crates.io versions
  Cargo.lock
  Cargo.toml
Labels: pr-refactor

#16721 fix: date_add/sub need respect timezone
  src/query/expression/src/utils/date_helper.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-bugfix

#16693 chore: tweak cargo feature "jemalloc"
  src/binaries/Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/mem_allocator/mmap.rs
  src/common/base/src/mem_allocator/mod.rs
  src/meta/service/Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/databases/system/system_database.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/lib.rs
Labels: pr-chore

#16739 chore: remove flaky test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-chore

#16741 refactor: Enforce all deps must be declared at root
  .config/workspace-schema.json
  .github/actions/check/action.yml
  Cargo.lock
  Cargo.toml
  src/binaries/Cargo.toml
  src/common/arrow/Cargo.toml
  src/common/arrow/src/arrow/array/dictionary/value_map.rs
  src/common/arrow/src/arrow/compute/cast/primitive_to.rs
  src/common/arrow/src/arrow/compute/sort/row/interner.rs
  src/common/arrow/src/arrow/util/lexical.rs
  src/common/arrow/src/native/compression/integer/dict.rs
  src/common/auth/Cargo.toml
  src/common/building/Cargo.toml
  src/common/cache/Cargo.toml
  src/common/compress/Cargo.toml
  src/common/exception/Cargo.toml
  src/common/hashtable/Cargo.toml
  src/common/http/Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/parquet2/Cargo.toml
  src/common/storage/Cargo.toml
  src/common/tracing/Cargo.toml
  src/common/vector/Cargo.toml
  src/meta/api/Cargo.toml
  src/meta/app/Cargo.toml
  src/meta/embedded/Cargo.toml
  src/meta/proto-conv/Cargo.toml
  src/meta/protos/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/catalog/Cargo.toml
  src/query/config/Cargo.toml
  src/query/datavalues/Cargo.toml
  src/query/ee/Cargo.toml
  src/query/management/Cargo.toml
  src/query/pipeline/core/Cargo.toml
  src/query/pipeline/sinks/Cargo.toml
  src/query/script/Cargo.toml
  src/query/settings/Cargo.toml
  src/query/sql/Cargo.toml
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/session/Cargo.toml
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/common/table_meta/src/meta/format.rs
  src/query/storages/delta/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/stage/Cargo.toml
  src/query/storages/system/Cargo.toml
  taplo.toml
Labels: pr-refactor
