Repository databendlabs/databend, pull requests merged in 2024-01, with the labels that each got.

#14195 feat: support abs for decimal types
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/decimal/math.rs
  src/query/functions/tests/it/scalars/math.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  tests/sqllogictests/suites/query/02_function/02_0009_function_hashes.test
  tests/sqllogictests/suites/query/02_function/02_0014_function_maths.test
  tests/sqllogictests/suites/query/02_function/02_0063_function_vector.test
Labels: pr-feature

#14187 refactor: use `Binaryfuse16` and disable feature `uniform-random`
  src/query/catalog/Cargo.toml
  src/query/catalog/src/runtime_filter_info.rs
  src/query/catalog/src/table_context.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-refactor

#14196 refactor: Implement exponential backoff in meta-service txn retries
  Cargo.lock
  src/meta/api/Cargo.toml
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/api/src/txn_backoff.rs
  src/meta/api/src/util.rs
Labels: pr-refactor

#14197 chore(query): better handling of nullable columns during filter execution
  src/query/expression/src/filter/select.rs
Labels: pr-chore

#14194 chore(query): refresh hook does not return an error
  Cargo.lock
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/interpreters/interpreter_virtual_column_refresh.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/ddl/virtual_column.rs
Labels: pr-bugfix, pr-chore

#14201 chore: Pin hive_metastore to tagged version 0.0.2
  Cargo.lock
  src/query/storages/hive/hive/Cargo.toml
Labels: pr-chore

#14207 fix: load parquet with missing_field_as get wrong results.
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  tests/data/parquet/diff_schema/c1c2c3.parquet
  tests/data/parquet/diff_schema/c2c3c4.parquet
  tests/data/parquet/diff_schema/f1.parquet
  tests/data/parquet/diff_schema/f2.parquet
  tests/data/parquet/diff_schema/gen.py
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_field.test
Labels: pr-bugfix

#14178 chore: disable distributed execution of merge-into when spilling is enabled
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#14184 feat: show full databases add owner field
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  tests/sqllogictests/suites/base/06_show/06_0000_show_databases.test
Labels: pr-feature

#14143 feat(query): Add array_reduce function with lambda expression
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/util.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0061_function_array.test
  tests/sqllogictests/suites/query/02_function/02_0069_experimental_expr.test
Labels: pr-feature

#14214 refactor: Define features provided by raft server and features required by raft client
  Cargo.lock
  Cargo.toml
  src/meta/client/src/lib.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/version.rs
Labels: pr-refactor

#14210 refactor(query): Determine whether to check the ownership based on the object type
  src/query/service/src/interpreters/access/privilege_access.rs
Labels: pr-refactor

#14217 feat(query): ownership cover stage/udf
  Cargo.lock
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/ownership_info.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_privilege.rs
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/interpreters/interpreter_user_udf_alter.rs
  src/query/service/src/interpreters/interpreter_user_udf_create.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/users/src/role_cache_mgr.rs
  src/query/users/src/role_mgr.rs
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
Labels: pr-feature

#14218 fix: disable distributed plan after disabling join reorder
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
Labels: pr-bugfix

#14220 chore(query): support selection for render_error
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  tests/sqllogictests/suites/query/filter.test
Labels: pr-chore

#13971 feat: distributed execution of update statement
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_append_table.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/memory/src/memory_table.rs
Labels: pr-feature, ci-cloud

#14219 feat: add owner field into show full tables
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.result
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.sql
Labels: pr-feature

#14225 chore(executor): add more tests for executor schedule
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
Labels: pr-chore

#14213 refactor: refactor `NativeDeserializeDataTransform`.
  Cargo.lock
  src/query/catalog/src/plan/pushdown.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet2/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet2/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
Labels: pr-refactor, ci-benchmark

#14108 feat: push filter down below the window
  src/query/sql/src/planner/optimizer/heuristic/heuristic.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_window.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#14226 fix: fix EmptyMap domain as undefine
  src/query/expression/src/values.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  tests/sqllogictests/suites/crdb/conditional.test
Labels: pr-bugfix

#14228 chore(query): fix first error row
  src/query/expression/src/function.rs
Labels: pr-chore

#14212 chore: test Mergeinto runtime filter performance and wizard
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_merge_into_static_filter.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/storages/fuse/src/operations/merge_into/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/mod.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_deserialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_serialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split_row_number_and_log.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0033_distributed_merge_into_without_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0037_target_build_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0038_target_build_merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-chore, ci-cloud

#14227 feat: support explain fragments for update
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_update.rs
  tests/sqllogictests/suites/mode/cluster/update.sql
Labels: pr-feature

#14233 fix: aggregate and window function as the argument of unnest return unable to get field named
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0062_function_unnest.test
Labels: pr-bugfix

#14242 chore: refine the error message for management api
  src/query/expression/tests/it/types.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/connection/connection_mgr.rs
  src/query/management/src/file_format/file_format_mgr.rs
  src/query/management/src/network_policy/network_policy_mgr.rs
  src/query/management/src/password_policy/password_policy_mgr.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/udf/udf_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/service/tests/it/auth.rs
  tests/sqllogictests/suites/base/05_ddl/05_0033_ddl_connection.test
Labels: pr-chore

#14246 chore(query): fix password policy typos
  src/meta/app/src/principal/user_info.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/v050_user_info.rs
  src/meta/proto-conv/tests/it/v067_password_policy.rs
  src/meta/proto-conv/tests/it/v069_user_grant_id.rs
  src/meta/proto-conv/tests/it/v071_user_password.rs
  src/meta/protos/proto/user.proto
  src/query/service/src/interpreters/interpreter_user_create.rs
  src/query/service/tests/it/storages/system.rs
  src/query/users/src/password_policy.rs
  tests/suites/0_stateless/18_rbac/20_0005_mysql_auth.py
Labels: pr-chore

#14250 chore: refactor the hook
  src/query/service/src/interpreters/hook/hook.rs
  src/query/service/src/interpreters/hook/mod.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/interpreters/mod.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#14245 fix(query): fix missing hash fields for NonZeroU64
  src/common/hashtable/src/traits.rs
Labels: pr-bugfix

#14253 feat(query): string to ts support parse ISO 8601 tz format
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  tests/sqllogictests/suites/base/11_data_type/11_0001_data_type_date_time.test
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes_tz.test
Labels: pr-feature

#14255 refactor: Replace `KVApi::get()` and `KVApi::mget_kv()` with `get_kv_stream()`
  src/meta/client/src/kv_api_impl.rs
  src/meta/client/src/lib.rs
  src/meta/embedded/src/kv_api_impl.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/raft-store/src/sm_v002/sm_v002.rs
  src/meta/raft-store/src/state_machine/sm_kv_api_impl.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/errors/incomplete_stream.rs
  src/meta/types/src/errors/meta_api_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/meta/types/src/errors/meta_network_errors.rs
  src/meta/types/src/errors/mod.rs
  src/query/management/tests/it/user.rs
Labels: pr-refactor

#14256 fix: fix count rewrite in agg index
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
Labels: pr-bugfix

#14258 refactor: remove from `message::Request`: `Get(r)`, `MGet(r)`, `List(r)` and `StreamGet(r)`.
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
Labels: pr-refactor

#14260 chore: update doc about compatibility changes
  src/meta/README.md
  src/meta/client/src/lib.rs
  src/meta/types/proto/meta.proto
Labels: pr-chore

#14257 fix(query): fix copy into float value cast to integer
  Cargo.lock
  src/query/expression/src/types/number.rs
  src/query/formats/Cargo.toml
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/tests/it/field_decoder/fast_values.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_xml.rs
  src/query/pipeline/sources/src/input_formats/input_format_text.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  tests/data/csv/float.csv
  tests/data/ndjson/null.ndjson
  tests/sqllogictests/suites/stage/formats/csv/csv_copy.test
Labels: pr-bugfix

#14244 chore(planner): add TPC-DS join order sqllogictest
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-chore

#14265 refactor: Endpoint: add parse(); make fields private
  src/binaries/metactl/snapshot.rs
  src/meta/raft-store/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/types/src/endpoint.rs
Labels: pr-refactor

#14251 feat: add json concat
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json.test
Labels: pr-feature

#14266 ci: docker image tag latest only on stable release
  .github/workflows/release.yml
Labels: pr-build

#14264 fix(query): Add LegacyScalar & LegacyColumn
  src/common/io/tests/it/bincode_serialization.rs
  src/query/expression/src/converts/bincode/mod.rs
  src/query/expression/src/converts/mod.rs
  src/query/expression/tests/it/bincode.rs
  src/query/expression/tests/it/main.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/storages/fuse/meta/serialization_format_compatability.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/statistics.rs
Labels: pr-bugfix

#14273 chore(ci): fix docker push tags
  .github/workflows/release.yml
Labels: pr-chore

#14275 refactor: `common-exception` crate should be independent of `meta-types`
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/meta/stoerr/Cargo.toml
  src/meta/stoerr/src/meta_storage_errors.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/errors/meta_api_errors.rs
  src/meta/types/src/errors/meta_errors.rs
  src/query/config/Cargo.toml
Labels: pr-refactor

#14277 refactor: move GrpcHelper to crate common-types
  Cargo.lock
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/lib.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/types/Cargo.toml
  src/meta/types/proto/request.proto
  src/meta/types/src/grpc_helper.rs
  src/meta/types/src/lib.rs
Labels: pr-refactor

#14240 feat(planner): support greedy join order algorithm
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/util.rs
  tests/sqllogictests/suites/query/join/large_query.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-feature

#14281 chore: use raw sql as task SQL instead of pretty one
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#14284 chore(query): AlterUdf and AlterShareTenants needs alter global priv
  src/query/service/src/interpreters/access/privilege_access.rs
Labels: pr-chore

#14241 feat: auto refresh ReadOnlyAttach-ed table schema
  Cargo.lock
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/storage_factory.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.sh
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.result
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.sh
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.result
  tests/suites/1_stateful/02_query/02_0005_attach_table_read_only.sh
Labels: pr-feature

#14270 feat(query): add basic sort support for agg index rewrite
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_try_apply_agg_index.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
Labels: pr-feature

#14238 feat(query): support transfer grant
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/management/Cargo.toml
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
Labels: pr-feature

#14288 feat: return latest leader addr if request is forwarded
  Cargo.lock
  src/binaries/metabench/main.rs
  src/binaries/metactl/grpc.rs
  src/binaries/metactl/main.rs
  src/common/base/src/future.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/endpoints.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/forwarder.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/request_handling.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/grpc/metasrv_connection_error.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_transaction.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/grpc/mod.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/types/src/endpoint.rs
  src/meta/types/src/grpc_helper.rs
Labels: pr-feature

#14289 chore: add select tests for agg index with order by
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
Labels: pr-chore

#14297 fix(query): remove topk optimization in parquet2
  src/query/storages/parquet/src/parquet2/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet2/parquet_table/read.rs
  src/query/storages/parquet/src/parquet2/processors/deserialize_transform.rs
  src/query/storages/parquet/src/parquet2/pruning.rs
Labels: pr-bugfix

#14295 feat(query): support adaptive filter reorder
  src/query/expression/src/filter/filter_executor.rs
  src/query/expression/src/filter/mod.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/filter/select_expr_permutation.rs
  src/query/expression/src/filter/selector.rs
  src/query/service/src/pipelines/builders/builder_filter.rs
  src/query/service/tests/it/pipelines/filter/filter_executor.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
Labels: pr-feature

#14300 chore(flaky): fix flaky 18_0002_ownership_cover
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
Labels: pr-chore

#14221 feat: support semi join to inner join and optimize tpch q18
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  tests/sqllogictests/scripts/prepare_tpch_data.sh
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_ddl.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-feature, pr-chore, ci-benchmark

#14304 feat: Add huggingface support
  Cargo.toml
  src/common/storage/src/operator.rs
  src/meta/app/src/storage/storage_params.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v073_huggingface_config.rs
  src/meta/protos/proto/config.proto
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/location.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage.test
Labels: pr-feature, ci-cloud

#14303 chore: update testing parquet assets for stage test
  tests/data/parquet/json_string.parquet
  tests/data/parquet/tuple.parquet
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/inspect_parquet.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_field_types.test
  tests/sqllogictests/suites/stage/list_stage.test
Labels: pr-chore

#14301 chore(query): forbiden revoke ownership statement
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
Labels: pr-chore

#14309 chore: fix system table ctx warning and log more warnings to log
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore

#14310 refactor: add cardinality to CteScan explain
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plans/physical_cte_scan.rs
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-refactor

#14311 feat(query): add float64 version of distance function overload
  src/common/vector/src/distance.rs
  src/common/vector/src/lib.rs
  src/query/functions/src/scalars/vector.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0063_function_vector.test
Labels: pr-feature

#14315 feat: CopyIntoLocation support output.
  src/meta/app/src/principal/user_stage.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v025_user_stage.rs
  src/meta/proto-conv/tests/it/v030_user_stage.rs
  src/meta/proto-conv/tests/it/v031_copy_max_file.rs
  src/meta/proto-conv/tests/it/v035_user_stage.rs
  src/meta/proto-conv/tests/it/v042_s3_stage_new_field.rs
  src/meta/proto-conv/tests/it/v051_obs_and_cos_storage.rs
  src/meta/proto-conv/tests/it/v057_hdfs_storage.rs
  src/meta/proto-conv/tests/it/v060_copy_options.rs
  src/meta/proto-conv/tests/it/v066_stage_create_on.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/plans/copy_into_location.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/stage/src/append/do_append.rs
  src/query/storages/stage/src/append/mod.rs
  src/query/storages/stage/src/append/output.rs
  src/query/storages/stage/src/append/parquet_file/block_batch.rs
  src/query/storages/stage/src/append/parquet_file/limit_file_size_processor.rs
  src/query/storages/stage/src/append/parquet_file/mod.rs
  src/query/storages/stage/src/append/parquet_file/pipeline.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  src/query/storages/stage/src/append/path.rs
  src/query/storages/stage/src/append/row_based_file/buffers.rs
  src/query/storages/stage/src/append/row_based_file/limit_file_size_processor.rs
  src/query/storages/stage/src/append/row_based_file/mod.rs
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  src/query/storages/stage/src/append/row_based_file/serialize_processor.rs
  src/query/storages/stage/src/append/row_based_file/writer_processor.rs
  src/query/storages/stage/src/parquet_file/sink_processor.rs
  src/query/storages/stage/src/stage_table.rs
  tests/sqllogictests/suites/stage/unload.test
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
Labels: pr-feature

#14317 ci: ci-cloud build both amd64 & arm64
  .github/workflows/cloud.yml
Labels: pr-build

#14313 feat: query level data cache metrics
  src/query/catalog/src/statistics/data_cache_statistics.rs
  src/query/catalog/src/statistics/mod.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_deserializer.rs
  src/query/service/src/api/rpc/exchange/statistics_receiver.rs
  src/query/service/src/api/rpc/exchange/statistics_sender.rs
  src/query/service/src/api/rpc/packets/packet_data.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/fuse/src/table_functions/fuse_encodings/fuse_encoding.rs
  src/query/storages/system/src/query_log_table.rs
Labels: pr-feature, ci-cloud

#14319 chore: fix mark scan, test performance.
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
Labels: pr-chore, ci-benchmark

#14321 fix(query): add comment in table meta
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
Labels: pr-bugfix

#14326 chore(ci): do not release macos build
  .github/workflows/release.yml
Labels: pr-chore

#14330 chore(query): add log prefix filter config
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  src/binaries/metabench/main.rs
  src/binaries/metactl/main.rs
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#14322 chore: tweak fuse compat test
  tests/fuse-compat/compat-logictest/base/fuse_compat_read
Labels: pr-chore

#14320 refactor(query): built-in roles inside meta
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/src/context.rs
  src/common/exception/src/exception_code.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/service/src/interpreters/interpreter_role_create.rs
  src/query/service/src/interpreters/interpreter_role_drop.rs
  src/query/service/src/interpreters/interpreter_setting.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/interpreters/interpreter_user_udf_create.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sessions/session_setting.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/tests/it/setting.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_api.rs
  src/query/users/tests/it/network_policy.rs
  src/query/users/tests/it/password_policy.rs
  src/query/users/tests/it/role_cache_mgr.rs
  src/query/users/tests/it/role_mgr.rs
  src/query/users/tests/it/user_mgr.rs
  src/query/users/tests/it/user_udf.rs
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
  tests/sqllogictests/suites/base/05_ddl/05_0015_ddl_drop_role.test
  tests/sqllogictests/suites/base/05_ddl/05_0018_ddl_revoke.test
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
Labels: pr-refactor

#14333 fix(query): grant all to role_name need succ
  src/meta/app/src/principal/user_privilege.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  tests/sqllogictests/suites/base/05_ddl/05_0006_ddl_grant_privilege.test
Labels: pr-bugfix

#14339 refactor(query): built-in roles inside meta
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/src/context.rs
  src/common/exception/src/exception_code.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_privilege_revoke.rs
  src/query/service/src/interpreters/interpreter_role_create.rs
  src/query/service/src/interpreters/interpreter_role_drop.rs
  src/query/service/src/interpreters/interpreter_setting.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/interpreters/interpreter_user_stage_drop.rs
  src/query/service/src/interpreters/interpreter_user_udf_create.rs
  src/query/service/src/interpreters/interpreter_user_udf_drop.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/v1/load.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/tests/it/sessions/session_setting.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/tests/it/setting.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_api.rs
  src/query/users/tests/it/network_policy.rs
  src/query/users/tests/it/password_policy.rs
  src/query/users/tests/it/role_cache_mgr.rs
  src/query/users/tests/it/role_mgr.rs
  src/query/users/tests/it/user_mgr.rs
  src/query/users/tests/it/user_udf.rs
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
  tests/sqllogictests/suites/base/05_ddl/05_0015_ddl_drop_role.test
  tests/sqllogictests/suites/base/05_ddl/05_0018_ddl_revoke.test
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
Labels: pr-refactor

#14342 fix(query): missing push binary column
  scripts/ci/ci-run-stateless-tests-cluster.sh
  src/query/expression/src/values.rs
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.result
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/1_stateful/00_stage/00_0000_copy_from_internal_stage.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0002_copy_purge.result
  tests/suites/1_stateful/00_stage/00_0003_copy_with_max_files_parquet.result
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
  tests/suites/1_stateful/00_stage/00_0007_copy_into_stage2.result
  tests/suites/1_stateful/00_stage/00_0011_distributed_copy_into_table.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0014_parquet_missing_field.result
  tests/suites/1_stateful/04_mini_dataset/04_0000_mini_ontime.result
  tests/suites/1_stateful/04_mini_dataset/04_0001_mini_hits.result
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_00_load_compact_copy.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_max_size.result
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_02_load_compact_copy_row_per_block.result
  tests/suites/1_stateful/05_formats/05_04_tsv/05_04_01_tsv_multi_file.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.result
  tests/suites/1_stateful/10_iceberg/10_0000_create_and_show.sh
  tests/suites/5_ee/03_computed_column/03_0000_copy_csv_with_computed_column.result
Labels: pr-bugfix

#14351 chore(ci): fix bendsql version for macos
  .github/actions/setup_bendsql/action.yml
Labels: pr-chore

#14347 fix: fix full outer join bug
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-bugfix

#14341 refactor: optimize `SchemaApi::create_table()`
  Cargo.lock
  src/meta/api/src/id.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/txn_backoff.rs
  src/meta/api/src/util.rs
  src/meta/app/src/schema/table.rs
  src/meta/client/Cargo.toml
  src/meta/raft-store/src/applier.rs
  src/meta/types/build.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/meta/types/src/seq_value.rs
Labels: pr-refactor

#14353 fix: clear the derived columns after flattening
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#14354 chore: test binary with udf
  .github/release-report.jq
  .github/workflows/release.yml
  .github/workflows/reuse.macos.yml
  .github/workflows/reuse.sqllogic.yml
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/udf/udf_server.py
Labels: pr-chore

#14355 refactor: meta-client should not block by RPC
  src/meta/client/src/grpc_client.rs
Labels: pr-refactor

#14352 feat(query): add function MONTHS_BETWEEN
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/02_function/02_0012_function_datetimes.test
Labels: pr-feature

#14363 refactor: migrate some string funcs
  src/query/functions/src/scalars/string.rs
Labels: pr-refactor

#14364 refactor: create-table fetch latest state after backoff sleep
  src/meta/api/src/schema_api_impl.rs
Labels: pr-refactor

#14361 chore: add a setting to enforce broadcast join
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/plans/join.rs
Labels: pr-chore

#14359 feat: support runtime filter for right join and string join key
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  tests/sqllogictests/suites/query/join/runtime_filter.test
  tests/sqllogictests/suites/tpch/join.test
Labels: pr-feature, ci-cloud

#14350 chore(planner): refine cascades optimizer
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/optimizer/cascades/scheduler.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/apply_rule.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/explore_group.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/mod.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_expr.rs
  src/query/sql/src/planner/optimizer/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/cost/cost.rs
  src/query/sql/src/planner/plans/aggregate.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
  tests/sqllogictests/suites/tpch/queries.test
Labels: pr-chore, ci-benchmark

#14366 fix: flaky test
  tests/sqllogictests/suites/base/01_system/01_0007_system_clustering_history.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0009_04_range_pruning.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0019_issue_8831.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0027_func_fuse_encoding.test
Labels: pr-bugfix

#14357 fix: keys in stage_attachment.file_format_options should be case-insensitive
  src/query/service/src/servers/http/v1/query/http_query.rs
  tests/suites/1_stateful/07_stage_attachment/07_0003_insert_with_stage_file_format.result
  tests/suites/1_stateful/07_stage_attachment/07_0003_insert_with_stage_file_format.sh
Labels: pr-bugfix

#14360 feat(query): admin api add system info
  .github/PULL_REQUEST_TEMPLATE.md
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/api/http/v1/mod.rs
  src/query/service/src/api/http/v1/system.rs
  src/query/service/src/api/http_service.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
Labels: pr-feature

#14371 refactor: do not use `TxnPutRequest|TxnDeleteRequest.prev_value`, always return previous value
  Cargo.lock
  src/meta/client/src/lib.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/state_machine/sm.rs
  src/meta/types/proto/request.proto
  src/meta/types/src/proto_display.rs
Labels: pr-refactor

#14335 refactor: adjsut file format options.
  src/common/storage/src/copy.rs
  src/meta/app/src/principal/file_format.rs
  src/meta/proto-conv/tests/it/v032_file_format_params.rs
  src/meta/proto-conv/tests/it/v075_csv_format_params.rs
  src/query/ast/src/parser/stage.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  tests/data/ndjson/null.ndjson
  tests/data/ndjson/null_and_missing/missing_a.ndjson
  tests/data/ndjson/null_and_missing/missing_b.ndjson
  tests/data/ndjson/null_and_missing/normal.ndjson
  tests/data/ndjson/null_and_missing/null_a.ndjson
  tests/data/ndjson/null_and_missing/null_b.ndjson
  tests/sqllogictests/suites/base/05_ddl/05_0030_ddl_file_format.test
  tests/sqllogictests/suites/stage/formats/csv/csv_empty.test
  tests/sqllogictests/suites/stage/formats/csv/csv_option_mismatch.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_default.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_null_and_missing.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_field.test
  tests/suites/1_stateful/00_stage/00_0014_parquet_missing_field.result
  tests/suites/1_stateful/00_stage/00_0014_parquet_missing_field.sh
Labels: pr-refactor

#14066 feat: target build optimization for merge into
  src/common/hashtable/src/lib.rs
  src/common/hashtable/src/traits.rs
  src/common/hashtable/src/utils.rs
  src/query/catalog/src/lib.rs
  src/query/catalog/src/merge_into_join.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/merge_into_join_optimizations.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/merge_into_hash_join_optimization.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/pipelines/processors/transforms/processor_extract_hash_table_by_row_number.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/storages/fuse/src/io/read/block/block_reader_deserialize.rs
  src/query/storages/fuse/src/operations/common/mutation_log.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/delete_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/merge_into_split_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_matched_and_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_not_matched.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_merge_into_split_row_number_and_log.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/mutation_source.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/util.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
Labels: pr-feature, ci-benchmark, ci-cloud

#14372 feat: support min_max runtime filter for string type
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
Labels: pr-feature, ci-cloud

#14375 fix: unexpected '/' in unload path.
  src/query/storages/stage/src/append/path.rs
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
Labels: pr-bugfix

#14378 chore(query): improve agg index range comparison
  src/query/expression/src/types/number.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
Labels: pr-chore

#14386 chore(planner): improve selectivity estimator
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-chore

#14383 feat: add task_depents and task_dependents_enable function
  Cargo.lock
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_client.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/catalog/Cargo.toml
  src/query/catalog/src/table_args.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/table_functions/cloud/mod.rs
  src/query/service/src/table_functions/cloud/task_dependents.rs
  src/query/service/src/table_functions/cloud/task_dependents_enable.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/table_function_factory.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/cloud_control_server/task_pb2_grpc.py
  tests/sqllogictests/suites/task/task_dag_test.test
Labels: pr-feature

#14388 feat: add data_retention_time_in_days_max config and data_retention_time_in_days setting
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/settings/Cargo.toml
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/tests/it/setting.rs
Labels: pr-feature

#14367 fix: fix update using using constant in predicate from subquery panic
  src/query/storages/fuse/src/operations/update.rs
  tests/sqllogictests/suites/base/03_common/03_0035_update.test
Labels: pr-bugfix

#14379 fix(query): fix inner type of nested type can not be set as not null
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/parser.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/base/03_common/03_0026_insert_into_tuple.test
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/mode/standalone/explain/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prewhere_optimization.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-bugfix

#14362 chore(query): add index scalar
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/io/tests/it/main.rs
  src/common/io/tests/it/serialization_format_compatability.rs
  src/common/storage/src/statistics.rs
  src/query/catalog/src/statistics/basic_statistics.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/converts/meta/bincode.rs
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/converts/meta/mod.rs
  src/query/expression/src/converts/mod.rs
  src/query/expression/tests/it/main.rs
  src/query/expression/tests/it/meta_scalar.rs
  src/query/service/tests/it/storages/fuse/meta/mod.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/block_meta.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/statistics.rs
  src/query/storages/common/table_meta/src/meta/v5/segment.rs
  src/query/storages/common/table_meta/src/meta/v5/snapshot.rs
  src/query/storages/common/table_meta/src/meta/v5/statistics.rs
  src/query/storages/common/table_meta/src/meta/versions.rs
  src/query/storages/common/table_meta/src/readers/segment_reader.rs
  src/query/storages/common/table_meta/src/readers/snapshot_reader.rs
  src/query/storages/fuse/src/fuse_column.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/statistics/page.rs
Labels: pr-feature, pr-chore, pr-refactor

#14390 chore: set auto_compaction_imperfect_blocks_threshold to 50
  src/query/settings/src/settings_default.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0001_remote_insert.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
Labels: pr-chore

#14389 fix(query): fix json cast to string with quote
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/query/02_function/02_0051_function_semi_structureds_get.test
Labels: pr-bugfix

#14272 feat: standard stream
  Cargo.lock
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/statements/stream.rs
  src/query/ast/src/parser/stream.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/catalog/src/plan/internal_column.rs
  src/query/catalog/src/plan/pushdown.rs
  src/query/catalog/src/plan/stream_column.rs
  src/query/ee/src/stream/handler.rs
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_delete.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_update.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_internal_columns.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/binder/internal_column_factory.rs
  src/query/sql/src/planner/binder/stream_column_factory.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/stream.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/stream_column.rs
  src/query/storages/common/table_meta/src/table/mod.rs
  src/query/storages/common/table_meta/src/table/stream_keys.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/delete.rs
  src/query/storages/fuse/src/operations/mutation/processors/mutation_source.rs
  src/query/storages/stream/Cargo.toml
  src/query/storages/stream/src/stream_pruner.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/streams_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/suites/5_ee/05_stream/05_0000_ee_stream.result
  tests/suites/5_ee/05_stream/05_0000_ee_stream.sh
Labels: pr-feature, ci-cloud

#14380 fix(query): use serde_json maybe cause old query can not access data that generate by new query
  Cargo.lock
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/ownership_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/role_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v076_role_ownership_info.rs
  src/meta/protos/proto/ownership.proto
  src/meta/protos/proto/role.proto
  src/query/management/Cargo.toml
  src/query/management/src/role/role_mgr.rs
Labels: pr-bugfix

#14392 fix(sqlsmith): fix generate nested not null types caused panic
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: pr-bugfix

#14395 fix: optimize vacuum drop table call schema gc_drop_tables API in batch mode
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-bugfix

#14384 feat: Enable async backtrace for opendal
  Cargo.lock
  Cargo.toml
  src/common/storage/src/operator.rs
Labels: pr-feature

#14385 feat: Allow users to configure tcp keepalive for opendal
  src/common/storage/src/operator.rs
Labels: pr-feature

#14404 chore: upgrade crate `shlex` to version 1.3.0
  Cargo.lock
Labels: pr-chore

#14408 chore: move meta-data type `Id` from crate meta-api to meta-app
  src/meta/api/src/lib.rs
  src/meta/api/src/util.rs
  src/meta/app/src/lib.rs
  src/meta/app/src/primitive.rs
Labels: pr-chore

#14401 feat: support outer to inner join
  src/query/sql/src/planner/optimizer/rule/rewrite/filter_join/outer_join_to_inner_join.rs
  tests/sqllogictests/suites/mode/standalone/explain/outer_to_inner.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-feature

#14368 fix: min/max of default col values in snapshot should adhere to rules
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/src/statistics/mod.rs
Labels: pr-bugfix

#14396 chore: Add debug log for read parts numbers
  src/query/storages/fuse/src/operations/read/native_data_source_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_reader.rs
Labels: pr-chore

#14374 feat: more constrain for file format string options.
  Cargo.lock
  src/meta/app/Cargo.toml
  src/meta/app/src/principal/file_format.rs
  src/meta/app/src/principal/user_stage.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_delimiter.test
  tests/sqllogictests/suites/stage/formats/csv/csv_option_escape.test
  tests/sqllogictests/suites/stage/formats/csv/csv_types.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_null_and_missing.test
Labels: pr-feature

#14416 fix: fix row number concat
  src/query/service/src/pipelines/processors/transforms/processor_accumulate_row_number.rs
Labels: pr-bugfix, ci-cloud

#14393 fix(query): onwership/role info serialize to pb
  .github/actions/fuse_compat/action.yml
  Cargo.lock
  src/query/management/Cargo.toml
  src/query/management/src/lib.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/serde/mod.rs
  src/query/management/src/serde/pb_serde.rs
  src/query/management/tests/it/main.rs
  src/query/management/tests/it/role.rs
  tests/fuse-compat/compat-logictest/base/fuse_compat_read
  tests/fuse-compat/compat-logictest/base/fuse_compat_write
  tests/fuse-compat/compat-logictest/rbac/fuse_compat_read
  tests/fuse-compat/compat-logictest/rbac/fuse_compat_write
  tests/fuse-compat/util.sh
Labels: pr-bugfix

#14415 chore(planner): fix push down filter scan
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_scan.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: pr-chore

#14423 refactor: Add trait FromToProtoEnum
  Cargo.lock
  src/meta/api/Cargo.toml
  src/meta/api/src/testing.rs
  src/meta/api/src/util.rs
  src/meta/process/Cargo.toml
  src/meta/process/src/rewrite_kv.rs
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/from_to_protobuf.rs
  src/meta/proto-conv/src/lib.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/common.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/query/management/Cargo.toml
  src/query/management/src/serde/pb_serde.rs
Labels: pr-refactor

#14421 feat: support functions nvl and nvl2
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/02_function/02_0070_function_nvl.test
  tests/sqllogictests/suites/query/02_function/02_0071_function_nvl2.test
Labels: pr-feature

#14419 fix: incorrect column id in inner_project schema
  src/query/expression/src/schema.rs
  src/query/expression/tests/it/schema.rs
Labels: pr-bugfix

#14424 chore: modify the max block count in compact
  src/query/catalog/src/plan/pushdown.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/common/table_meta/src/table/stream_keys.rs
  src/query/storages/fuse/src/operations/mutation/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/stream/src/stream_table.rs
Labels: pr-chore

#14402 chore: enable new setting `data_retention_time_in_days`
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.sh
  tests/suites/0_stateless/18_rbac/20_0012_privilege_access.sh
  tests/suites/0_stateless/20+_others/20_0011_purge_before.sh
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
  tests/suites/5_ee/01_vacuum/01_0002_ee_vacuum_drop_table.sh
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.sh
Labels: pr-chore

#14397 feat: add json delete by name and index
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/02_function/02_0065_function_json.test
Labels: pr-feature

#14430 chore: fix cache variable name
  src/query/storages/common/cache/src/providers/table_data_cache.rs
Labels: pr-chore

#14409 chore: remove binary collatoin
  src/query/expression/src/lib.rs
  src/query/expression/src/types/string.rs
  src/query/settings/src/settings_default.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#14425 refactor: add kv-api::Key::ValueType
  Cargo.lock
  src/meta/api/src/id_generator.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/app/src/background/background_job.rs
  src/meta/app/src/background/background_task.rs
  src/meta/app/src/data_mask/mod.rs
  src/meta/app/src/schema/catalog.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/lock.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/app/src/schema/virtual_column.rs
  src/meta/app/src/share/share.rs
  src/meta/kvapi/src/kvapi/key.rs
  src/query/management/src/serde/pb_serde.rs
Labels: pr-refactor

#14436 chore: bump rust toolchain for dev container
  scripts/setup/rust-toolchain.toml
  scripts/setup/rust-tools.txt
Labels: pr-chore

#14437 chore: bump rust version of build container
  scripts/setup/rust-toolchain.toml
Labels: pr-chore

#14435 feat: Add COS location support
  src/query/sql/src/planner/binder/location.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage.test
Labels: pr-feature

#14438 chore: fix build tool installation
  scripts/setup/dev_setup.sh
Labels: pr-chore

#14426 chore: Forbidden non equal merge into distributed
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
Labels: pr-chore

#14443 fix(query): add utf8 validation in deser string
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  tests/data/csv/gbk.csv
  tests/sqllogictests/suites/stage/formats/csv/csv_copy.test
Labels: pr-bugfix

#14441 feat(query): support session setting scope `LOCAL`
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/05_ddl/05_0026_ddl_unset_settings.test
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
Labels: pr-feature

#14446 feat: allow to config task session parameters.
  src/common/cloud_control/proto/task.proto
  src/common/cloud_control/src/task_utils.rs
  src/common/cloud_control/tests/it/task_client.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter_task_alter.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/tasks_table.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-feature

#14432 chore: simplify IndexScalar
  src/common/storage/src/statistics.rs
  src/query/catalog/src/statistics/basic_statistics.rs
  src/query/expression/src/converts/arrow2/to.rs
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/meta_scalar.rs
  src/query/service/tests/it/storages/fuse/operations/alter_table.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/statistics/column_statistics.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v2/statistics.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/block_meta.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/statistics.rs
  src/query/storages/fuse/src/fuse_column.rs
  src/query/storages/fuse/src/operations/common/snapshot_generator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
Labels: pr-chore

#14377 refactor(executor): refactor processor profiling
  Cargo.lock
  src/query/pipeline/core/Cargo.toml
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/port.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/pipeline/core/src/processors/profiles.rs
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sources/src/async_source.rs
  src/query/pipeline/sources/src/input_formats/source_aligner.rs
  src/query/pipeline/sources/src/sync_source.rs
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/service/src/api/rpc/exchange/exchange_sink_writer.rs
  src/query/service/src/api/rpc/exchange/serde/exchange_serializer.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/lib.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_settings.rs
  src/query/service/src/pipelines/executor/executor_tasks.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/pipelines/executor/executor_graph.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/executor/physical_plan.rs
  src/query/storages/common/cache/src/providers/table_data_cache.rs
  src/query/storages/delta/src/table_source.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/hive/hive/src/hive_table_source.rs
  src/query/storages/iceberg/src/table_source.rs
  src/query/storages/parquet/src/parquet2/processors/deserialize_transform.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/source.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/processor_profile_table.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#14445 chore: make cost factor configurable
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/optimizer/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
Labels: pr-chore

#14452 chore: only wrap logical get with distinct to eliminate duplicates rows for subquery in single mode
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/join.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#14455 chore: support mark join commutation and fix left mark join
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark_join.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_commute_join.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/standalone/explain/09_0039_target_build_merge_into_standalone.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/tpcds/tpcds_join_order.test
Labels: pr-chore

#14454 fix: flaky test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0018_issue_8130.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0003_stream.test
  tests/sqllogictests/suites/mode/cluster/distributed_compact.sql.test
Labels: pr-bugfix

#14449 feat: add create or replace database support
  src/binaries/metabench/main.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/share_api_test_suite.rs
  src/meta/api/src/testing.rs
  src/meta/app/src/schema/create_option.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/mod.rs
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/service/tests/it/catalogs/immutable_catalogs.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/plans/ddl/database.rs
  tests/sqllogictests/suites/base/05_ddl/05_0001_ddl_create_database.test
Labels: pr-feature

#14440 feat: add basic support for `show user functions`
  src/query/ast/src/ast/format/ast_format.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/visitors/visitor.rs
  src/query/ast/src/visitors/visitor_mut.rs
  src/query/ast/src/visitors/walk.rs
  src/query/ast/src/visitors/walk_mut.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/show.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/sqllogictests/suites/udf_server/user_functions_table.test
Labels: pr-feature

#14467 feat: meta-service: customize chunk size when export
  src/binaries/Cargo.toml
  src/binaries/metactl/grpc.rs
  src/binaries/metactl/main.rs
  src/binaries/metactl/snapshot.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_server.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/types/proto/meta.proto
Labels: pr-feature

#14468 refactor(executor): remove old profile framework
  Cargo.lock
  Cargo.toml
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/mod.rs
  src/query/pipeline/transforms/src/processors/profile_wrapper.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/profile/Cargo.toml
  src/query/profile/src/lib.rs
  src/query/profile/src/mgr.rs
  src/query/profile/src/proc.rs
  src/query/profile/src/prof.rs
  src/query/service/Cargo.toml
  src/query/service/src/api/rpc/exchange/exchange_manager.rs
  src/query/service/src/api/rpc/packets/packet_executor.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/builders/builder_filter.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_limit.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/pipelines/builders/builder_scalar.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/pipeline_build_res.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions_display.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/mod.rs
  src/query/sql/src/executor/profile.rs
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/query_profile_table.rs
  src/query/storages/system/src/query_summary_table.rs
Labels: pr-refactor

#14466 chore(query): add buffer size in spill write
  src/query/service/src/spillers/spiller.rs
Labels: pr-chore

#14457 chore: avoid wildcard match on data type
  src/query/expression/src/types.rs
  src/query/expression/src/values.rs
Labels: pr-chore

#14460 feat: pushdown limit to single window
  Cargo.lock
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_limit_window.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/plans/window.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/cloud_control_server/task_pb2_grpc.py
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-feature

#14461 refactor: replace `OneTable` with `DummyTableScan`
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
Labels: pr-chore, pr-refactor

#14475 fix(query): config value for session settings
  .github/workflows/production.yml
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/query/config/src/config.rs
  src/query/settings/src/settings.rs
Labels: pr-bugfix

#14471 refactor: remove udf from system functions table
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/binder/show.rs
  src/query/storages/system/src/functions_table.rs
  tests/sqllogictests/suites/base/06_show/06_0005_show_functions.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
Labels: pr-refactor
