Repository databendlabs/databend, pull requests merged in 2024-12, with the labels that each got.

#16977 chore(query): remove block level info log
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
Labels: pr-chore

#16980 chore(ci): fix some flaky test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-chore

#16926 feat: Support USE CATALOG syntax and current_catalog() function
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_catalog_use.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/query_affect.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/catalog.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.result
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.sh
Labels: pr-feature

#16979 fix: fix segfault in list_domain
  src/query/pipeline/transforms/src/processors/transforms/sort/k_way_merge_sort_partition.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/list_domain.rs
Labels: pr-bugfix

#16971 fix(query): keep remaining_predicates when filtering grouping sets
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/benches/bench.rs
  src/query/functions/src/scalars/arithmetic.rs
  src/query/functions/src/scalars/other.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_aggregate.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
Labels: pr-bugfix

#16978 fix(query): fix bug while mysql external dictionary table contains null values
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  tests/sqllogictests/src/mock_source/mysql_source.rs
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: pr-bugfix

#16967 fix(sqlparser): fix order by followed by scalar
  src/query/sql/src/planner/binder/sort.rs
  tests/sqllogictests/suites/base/03_common/03_0004_select_order_by.test
Labels: pr-bugfix

#16983 chore(query): improve decimal aggregate state
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_min_max_any_decimal.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
Labels: pr-chore

#16988 chore(planner): refine physical join
  src/query/service/src/pipelines/processors/transforms/range_join/merge_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/transform_range_join.rs
  src/query/sql/src/executor/physical_plans/physical_join.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  tests/sqllogictests/suites/duckdb/join/iejoin/complex_range_join.test
  tests/sqllogictests/suites/duckdb/join/test_complex_range_join.test
  tests/sqllogictests/suites/duckdb/join_small_block/test_complex_range_join.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
Labels: pr-chore

#16986 fix(query): group by item allow set returning functions
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/distinct.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/window_check.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0000_remote_create_table.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
Labels: pr-bugfix

#16989 chore(query): cherrypick to 636: Decimal128 state use align 8
  .github/actions/setup_bendsql/action.yml
  Cargo.toml
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/block.rs
  src/query/expression/src/converts/arrow/to.rs
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_min_max_any_decimal.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/storages/system/src/temp_files_table.rs
Labels: pr-chore

#16992 fix: http handler set cookie only when cookie_enabled=true.
  src/query/service/src/servers/http/middleware/session.rs
  tests/suites/1_stateful/09_http_handler/09_0009_cookie.py
Labels: pr-bugfix

#16995 chore: adjust fuse_time_travel_size()
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
Labels: pr-chore

#16900 refactor: use temp table to refactor materialized cte
  src/query/catalog/src/table_context.rs
  src/query/pipeline/sources/src/async_source.rs
  src/query/pipeline/sources/src/prefetch_async_source.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_materialized_cte.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_materialized_cte.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/optimizer/cost/cost_model.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/filter/pull_up_filter.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/cte_scan.rs
  src/query/sql/src/planner/plans/materialized_cte.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/memory/src/memory_table.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/tpch/join_order.test
Labels: pr-refactor, ci-benchmark

#16998 ci: ignore RUSTSEC-2024-0402.
  .cargo/audit.toml
  Cargo.toml
Labels: pr-build

#16968 chore(ci): use new dsn for create database
  .github/actions/setup_bendsql/action.yml
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/benchmark_cloud.sh
  benchmark/clickbench/benchmark_local.sh
Labels: pr-chore, ci-benchmark

#16997 fix: need_sticky field was incorrectly set to true.
  Cargo.lock
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/storages/common/session/src/temp_table.rs
  tests/suites/1_stateful/09_http_handler/09_0008_forward.py
Labels: pr-bugfix

#17003 chore(query): fix topk in native
  scripts/setup/rust-tools.txt
  src/query/catalog/src/plan/pushdown.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0039_topk_sorter.test
Labels: pr-chore

#17008 refactor: set path of cookie.
  src/query/service/src/servers/http/middleware/session.rs
  tests/suites/1_stateful/09_http_handler/09_0009_cookie.py
Labels: pr-refactor

#16856 feat(query): Support `flight_connection_max_retry_times` and `flight_connection_retry_interval` setting
  Cargo.lock
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/clusters/mod.rs
  src/query/service/src/interpreters/interpreter_kill.rs
  src/query/service/src/interpreters/interpreter_set_priority.rs
  src/query/service/src/interpreters/interpreter_system_action.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/src/servers/admin/v1/query_profiling.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/packets/packet_executor.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#17005 fix(ci): fix benchmark ci failure
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-bugfix, ci-benchmark

#17012 refactor: revert pr #16869
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor

#17011 refactor: auto split large mget_database_names_by_ids into chunks with `KVPbApi::get_pb_values_vec()`
  src/meta/api/src/schema_api_impl.rs
Labels: pr-refactor

#17013 refactor: mget db names and table names remove duplicate ids to avoid too many parameters
  Cargo.lock
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/storages/system/src/streams_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
Labels: pr-refactor

#16841 refactor: integrate fuse table block pruning into pipeline
  Cargo.lock
  src/query/catalog/src/table.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/tests/it/storages/fuse/mod.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/pruner/src/topn_pruner.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
  src/query/storages/fuse/src/pruning_pipeline/async_block_prune_transform.rs
  src/query/storages/fuse/src/pruning_pipeline/block_metas_meta.rs
  src/query/storages/fuse/src/pruning_pipeline/block_prune_result_meta.rs
  src/query/storages/fuse/src/pruning_pipeline/extract_segment_transform.rs
  src/query/storages/fuse/src/pruning_pipeline/mod.rs
  src/query/storages/fuse/src/pruning_pipeline/pruned_segment_meta.rs
  src/query/storages/fuse/src/pruning_pipeline/pruned_segment_receiver_source.rs
  src/query/storages/fuse/src/pruning_pipeline/sample_block_metas_transform.rs
  src/query/storages/fuse/src/pruning_pipeline/send_part_info_sink.rs
  src/query/storages/fuse/src/pruning_pipeline/sync_block_prune_transform.rs
  src/query/storages/fuse/src/pruning_pipeline/topn_prune_transform.rs
Labels: pr-refactor

#17014 fix: insert and mutation progress
  src/common/storage/src/merge.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/compact_source.rs
  src/query/storages/fuse/src/operations/mutation/processors/mutation_source.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/merge_into_mutator.rs
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from.test
  tests/suites/0_stateless/03_dml/03_0015_insert_into_select2.result
  tests/suites/0_stateless/10_drivers/10_0000_python_mysql_driver.result
  tests/suites/0_stateless/18_rbac/18_0012_temp_table.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/5_ee/01_vacuum/01_0000_ee_vacuum.py
Labels: pr-bugfix, A-cloud

#17019 chore: tweak attach table refreshing
  Cargo.lock
  src/query/catalog/src/statistics/data_cache_statistics.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/storages/factory/Cargo.toml
  src/query/storages/factory/src/storage_factory.rs
  src/query/storages/fuse/src/fuse_table.rs
Labels: pr-chore

#17021 refactor: optimize query system.tables when query single table (#16869)
  Cargo.lock
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/tables_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
Labels: pr-refactor

#17016 fix(query): reuse connection to fix dictionary mysql flaky test
  Cargo.lock
  Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_dictionary.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/mock_source/mysql_source.rs
  tests/sqllogictests/src/mock_source/redis_source.rs
Labels: pr-bugfix

#17023 refactor(cluster): refactor cluster for dyn cluster [part 1]
  src/meta/types/src/cluster.rs
  src/meta/types/tests/it/cluster.rs
  src/query/management/src/cluster/cluster_api.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/src/lib.rs
  src/query/management/src/warehouse/cluster_api.rs
  src/query/management/src/warehouse/cluster_mgr.rs
  src/query/management/src/warehouse/mod.rs
  src/query/management/tests/it/cluster.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/test_kits/config.rs
  src/query/service/tests/it/storages/fuse/io.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-refactor

#17025 chore(query): remove old aggregate codes
  Cargo.lock
  src/query/expression/src/kernels/group_by.rs
  src/query/expression/src/kernels/group_by_hash/method.rs
  src/query/expression/src/kernels/group_by_hash/method_dict_serializer.rs
  src/query/expression/src/kernels/group_by_hash/mod.rs
  src/query/expression/tests/it/group_by.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_cell.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_group_by_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_spill_reader.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_group_by_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_groups_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_builder.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_keys_iter.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_polymorphic_keys.rs
  src/query/service/src/pipelines/processors/transforms/group_by/aggregator_state.rs
  src/query/service/src/pipelines/processors/transforms/group_by/large_number.rs
  src/query/service/src/pipelines/processors/transforms/group_by/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
Labels: pr-chore

#17033 chore: add more test to meta-service txn value-matching
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/types/src/proto_ext/txn_ext.rs
Labels: pr-chore

#17030 fix(ci): flaky test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
Labels: pr-bugfix

#17034 chore(cluster): disable parallel commit for cluster task
  src/query/service/src/clusters/cluster.rs
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#17035 chore: improve error handling in partition sending loop
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-chore

#17029 feat(rbac): add GrantObject::Warehouse
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_privilege.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v113_warehouse_grantobject.rs
  src/meta/protos/proto/user.proto
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_mgr.rs
  src/query/users/src/visibility_checker.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/18_rbac/18_0012_temp_table.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
Labels: pr-feature

#17038 refactor: tweak build_aggregate_partial
  .cargo/audit.toml
  src/query/service/src/pipelines/builders/builder_aggregate.rs
Labels: pr-refactor

#17040 chore(query): add setting min_skip_partial_aggregation_capacity
  .cargo/audit.toml
  src/query/expression/src/aggregate/mod.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#17041 chore(ci): remove musl release
  .github/workflows/release.yml
Labels: pr-chore

#17031 fix: filter push down union in r cte
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  tests/sqllogictests/suites/query/cte/r_cte_union_all.test
Labels: pr-bugfix

#17037 fix: drop channel if partition receiver finished
  src/query/pipeline/sources/src/async_source.rs
  src/query/storages/fuse/src/operations/read/block_partition_receiver_source.rs
  src/query/storages/fuse/src/pruning_pipeline/send_part_info_sink.rs
Labels: pr-bugfix

#17042 fix: handle trailing zeros in Raft log WAL with EXT4 writeback mode
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/raft_log_v004/codec_wrapper.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-bugfix

#17032 chore(query): improve comparison functions
  .github/actions/check/action.yml
  src/common/column/src/bitmap/immutable.rs
  src/common/column/src/bitmap/mutable.rs
  src/query/expression/benches/bench.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/register_comparison.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/decimal/comparison.rs
  tests/sqllogictests/suites/duckdb/join/inner/test_join.test
  tests/sqllogictests/suites/duckdb/join_small_block/inner/test_join.test
Labels: pr-chore

#17022 feat: support vacuum leaked table data
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
Labels: pr-feature

#17026 feat(query): `to_binary` function support variant, bitmap, geometry, geography types
  src/common/column/src/binary/fmt.rs
  src/query/functions/src/scalars/binary.rs
  src/query/functions/tests/it/scalars/binary.rs
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/02_0002_function_try_cast.test
  tests/sqllogictests/suites/query/functions/02_0077_function_dict_get.test
Labels: pr-feature

#17053 feat: add key prefix count assertions to transactions
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/src/applier.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/proto_display.rs
  src/meta/types/src/proto_ext/txn_ext.rs
Labels: pr-feature

#17052 feat(query): null type infer as Nullabel(String) by default in create as statement
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-feature

#17046 chore(binder): fix bind materialized cte
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/lib.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/mode/cluster/create_table.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_ddl.test
  tests/sqllogictests/suites/query/cte/cte.test
Labels: pr-chore

#17062 chore: (v1.2.636-rc8.1) disable unprefixed_malloc_on_supported_platforms
  .cargo/audit.toml
  src/common/base/Cargo.toml
Labels: pr-chore

#17050 feat(query): support global network policy
  src/meta/app/src/principal/user_info.rs
  src/query/service/src/auth.rs
  src/query/service/src/interpreters/interpreter_network_policy_drop.rs
  src/query/service/src/interpreters/interpreter_set.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/settings/src/lib.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/settings/src/settings_global.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/network_policy.rs
Labels: pr-feature

#17063 fix(query): fix read small parquet files in cluster mode
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  tests/compat_fuse/compat-stateless/01_flashback/01_0001_across_versions.sh
  tests/compat_fuse/compat-stateless/02_flashback_v3_to_v4/01_0001_across_versions.sh
  tests/databend-test
  tests/shell_env.sh
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/03_dml/03_0016_update_with_lock.sh
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/0_stateless/12_time_travel/12_0004_time_travel_select_at.sh
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.sh
  tests/suites/0_stateless/16_flashback/16_0001_flashback.sh
  tests/suites/0_stateless/17_altertable/17_0001_time_travel_alter_add_drop_column_select_at.result
  tests/suites/0_stateless/17_altertable/17_0002_alter_table_purge_before.result
  tests/suites/0_stateless/17_altertable/17_0003_alter_table_update.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.result
  tests/suites/0_stateless/17_altertable/17_0004_alter_table_set_options.sh
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.result
  tests/suites/0_stateless/18_rbac/18_0004_view_privilege.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0008_privilege_ownership.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/20+_others/20_0010_distinct_aggr.result
  tests/suites/0_stateless/20+_others/20_0011_purge_before.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.sh
  tests/suites/0_stateless/20+_others/20_0020_fuse_time_travel_size.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0007_copy_into_stage2.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
  tests/suites/1_stateful/00_stage/00_0017_copy_into_parquet.result
  tests/suites/1_stateful/00_stage/00_0017_copy_into_parquet.sh
  tests/suites/1_stateful/02_query/02_0001_create_table_with_external_location.result
  tests/suites/1_stateful/05_formats/05_00_01_load_unload_all.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/5_ee/01_vacuum/01_0002_ee_vacuum_drop_table.sh
  tests/suites/5_ee/01_vacuum/01_003_vacuum_drop_table_continue.result
  tests/suites/5_ee/01_vacuum/01_003_vacuum_table_only_orphans.result
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.result
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.sh
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.sh
  tests/suites/5_ee/05_stream/05_0000_ee_stream.sh
  tests/suites/5_ee/05_stream/05_0001_ee_stream_consume.sh
  tests/suites/5_ee/05_stream/05_0002_ee_stream_create.sh
  tests/suites/5_ee/05_stream/05_0003_ee_stream_copy_into_location.sh
  tests/suites/5_ee/06_inverted_index/06_0000_purge_inverted_index.sh
  tests/suites/5_ee/06_inverted_index/06_0001_index_visibility.sh
  tests/suites/5_ee/07_failsafe/08_0000_amend_table.sh
Labels: pr-bugfix

#17059 chore: refmt crash log message
  src/binaries/query/entry.rs
  src/common/tracing/src/crash_hook.rs
  src/common/tracing/src/panic_hook.rs
  src/meta/binaries/meta/entry.rs
  src/query/ee/src/test_kits/setup.rs
  src/query/service/src/test_kits/fixture.rs
Labels: pr-chore

#17065 feat(query): add config network_policy_whitelist
  .github/actions/setup_bendsql/action.yml
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-native.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/exception_into.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/users/src/user_mgr.rs
Labels: pr-feature

#17073 chore: bump dtparse
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#16836 feat(query): pre-check cast type
  src/query/expression/src/type_check.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  tests/sqllogictests/suites/base/03_common/03_0014_insert_into_select.test
Labels: pr-feature

#17077 fix(query): fix thread leak
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-bugfix

#17081 fix(query): fix thread leak and remove all usage
  src/query/catalog/src/table_context.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-bugfix

#17069 fix(query): fix join on not null column cause panic
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/standalone/explain/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/query/join/left_outer.test
Labels: pr-bugfix

#16993 feat(functions): add jaro_winkler string similarity function
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0079_function_strings_jaro_winkler.test
Labels: pr-feature

#17087 feat(query): add config jwks_refresh_interval & jwks_refresh_timeout
  .github/actions/setup_build_tool/action.yml
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/auth.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/users/src/jwt/authenticator.rs
  src/query/users/src/jwt/jwk.rs
  src/query/users/tests/it/jwt/authenticator.rs
Labels: pr-feature

#17071 fix: create as query respect ddl_column_type_nullable
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_analyze_partial.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/modulo.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/pr_16069.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/fold_count.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
Labels: pr-bugfix

#17076 fix: check if the table option is valid according to the engine
  src/query/ast/src/ast/statements/table.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
Labels: pr-bugfix

#17090 fix(ci): flaky test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
Labels: pr-bugfix

#17088 chore: remove unused dev
  Cargo.lock
  src/common/io/Cargo.toml
  src/common/metrics/Cargo.toml
  src/meta/app/Cargo.toml
  src/meta/client/Cargo.toml
  src/meta/raft-store/Cargo.toml
  src/meta/sled-store/Cargo.toml
  src/meta/types/Cargo.toml
  src/query/ast/Cargo.toml
  src/query/config/Cargo.toml
  src/query/expression/Cargo.toml
  src/query/management/Cargo.toml
  src/query/pipeline/core/Cargo.toml
  src/query/service/Cargo.toml
  src/query/storages/common/table_meta/Cargo.toml
  src/query/storages/delta/Cargo.toml
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/information_schema/Cargo.toml
  src/query/storages/memory/Cargo.toml
  src/query/storages/null/Cargo.toml
  src/query/storages/parquet/Cargo.toml
  src/query/storages/random/Cargo.toml
  src/query/storages/stage/Cargo.toml
Labels: pr-chore

#17091 fix(query): double panic if broken state in block builder
  src/query/pipeline/transforms/src/processors/transforms/transform_accumulating.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/storages/stage/src/read/row_based/processors/block_builder.rs
Labels: pr-bugfix

#17086 fix(query): Correct sign extension handling in months_days_micros struct
  src/common/column/src/types/native.rs
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-bugfix

#17064 feat: databend-meta transaction support generic bool-expression and else-if chain
  Cargo.lock
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/sequence_api_impl.rs
  src/meta/binaries/metabench/main.rs
  src/meta/client/src/lib.rs
  src/meta/kvapi/Cargo.toml
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/applier.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_transaction.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/types/build.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/proto_display.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/meta/types/tests/it/main.rs
  src/meta/types/tests/it/txn_serde.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
Labels: pr-feature

#17095 fix(query): union all panic in mysql client
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
Labels: pr-bugfix

#17089 feat(query): refactor vacuum temp files
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/interpreters/interpreter_vacuum_temporary_files.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_spill_writer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/transform_stream_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/spillers/serialize.rs
  src/query/service/src/spillers/spiller.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/temp_files_table.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/query/functions/02_0070_function_nvl.test
  tests/sqllogictests/suites/tpch/spill.test
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sh
Labels: pr-feature

#17049 refactor: Serialize iceberg table inside engine options to reduce catalog requests
  Cargo.lock
  Cargo.toml
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
Labels: pr-feature, pr-refactor, ci-cloud

#17092 refactor(query): refactor udf server batch rows
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/udf.rs
  tests/sqllogictests/suites/udf_server/udf_builtin.test
Labels: pr-refactor

#17097 fix: name resolution bug in case-sensitive mode
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/expression_parser.rs
  tests/sqllogictests/suites/query/case_sensitivity/name_hit.test
Labels: pr-bugfix

#17084 refactor: set name for all runtime worker threads.
  src/common/base/src/runtime/runtime.rs
  src/query/service/src/pipelines/builders/builder_compact.rs
  src/query/service/src/pipelines/builders/builder_mutation_source.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-refactor

#17093 feat(query): support interval function
  src/common/column/src/types/mod.rs
  src/common/column/src/types/native.rs
  src/common/io/tests/it/interval.rs
  src/common/native/src/write/primitive.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/interval.rs
  src/query/functions/tests/it/scalars/comparison.rs
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/base/06_show/06_0005_show_functions.test
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
  tests/sqllogictests/suites/query/functions/02_0080_function_interval_addsub.test
Labels: pr-feature

#17103 fix(query): fix a number of bugs in the spill config.
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/temp_dir.rs
  src/query/storages/system/src/configs_table.rs
Labels: pr-bugfix

#17102 feat: new settings `stream_consume_batch_size_hint`
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0006_stream_batch_limit.test
Labels: pr-feature

#17054 feat(query): support javascript/python script User Defined Aggregate Function
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v081_udf_script.rs
  src/meta/proto-conv/tests/it/v115_add_udaf_script.rs
  src/meta/protos/proto/udf.proto
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/src/types/number.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/Cargo.toml
  src/query/service/src/builtin/builtin_udfs.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/tests/it/sql/planner/builders/binder.rs
  src/query/sql/src/executor/physical_plans/common.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/qualify.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/udaf.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/sqllogictests/suites/base/03_common/03_0047_select_udaf.test
  tests/suites/0_stateless/20+_others/20_0016_udf_timestamp.result
Labels: pr-feature

#17107 chore(query): Revert "feat(query): support javascript/python script User Defined Aggregate Function"
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v081_udf_script.rs
  src/meta/proto-conv/tests/it/v115_add_udaf_script.rs
  src/meta/protos/proto/udf.proto
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/src/types/number.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/Cargo.toml
  src/query/service/src/builtin/builtin_udfs.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/tests/it/sql/planner/builders/binder.rs
  src/query/sql/src/executor/physical_plans/common.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/qualify.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/udaf.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/sqllogictests/suites/base/03_common/03_0047_select_udaf.test
  tests/suites/0_stateless/20+_others/20_0016_udf_timestamp.result
Labels: pr-chore

#17109 fix(query): uri path should not be percent-encoded
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/statements/copy.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/location.rs
  tests/suites/1_stateful/00_stage/00_0005_copy_into_location.result
  tests/suites/1_stateful/00_stage/00_0005_copy_into_location.sh
Labels: pr-bugfix

#17110 chore: add more log
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-chore

#17108 feat(query): support javascript/python script User Defined Aggregate Function
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/meta/app/src/principal/mod.rs
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v081_udf_script.rs
  src/meta/proto-conv/tests/it/v115_add_udaf_script.rs
  src/meta/protos/proto/udf.proto
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/src/types/number.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/Cargo.toml
  src/query/service/src/builtin/builtin_udfs.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/tests/it/sql/planner/builders/binder.rs
  src/query/sql/src/executor/physical_plans/common.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/qualify.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/agg_index/query_rewrite.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/udaf.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/sqllogictests/suites/base/03_common/03_0047_select_udaf.test
  tests/suites/0_stateless/20+_others/20_0016_udf_timestamp.result
Labels: pr-feature

#17106 refactor(query): refactor udf server connection reuse endpoint
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/table_functions/others/udf.rs
  src/query/sql/src/planner/binder/udf.rs
Labels: pr-refactor

#17111 chore(planner): fix except and intersect operation
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/query/set_operator.test
Labels: pr-chore

#17105 feat(query): support interval 'string'
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-feature

#17100 chore(query): add fuzz tests
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/expression/src/values.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/storages/common/table_meta/src/table/table_keys.rs
  src/query/storages/random/src/random_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0005_remote_insert_into_select.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0029_random_fuzz.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_copy_into_table2.test
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain_native/union.test
  tests/sqllogictests/suites/query/set_operator.test
  tests/sqllogictests/suites/query/union.test
  tests/suites/0_stateless/19_fuzz/19_0001_fuzz_aggregate.result
  tests/suites/0_stateless/19_fuzz/19_0001_fuzz_aggregate.sh
  tests/suites/0_stateless/19_fuzz/19_0002_fuzz_join.sh
  tests/suites/0_stateless/19_fuzz/19_0003_fuzz_union.result
  tests/suites/0_stateless/19_fuzz/19_0003_fuzz_union.sh
Labels: pr-chore

#17113 fix(query): fix default values of `SpillConfig` may not take effect
  scripts/ci/deploy/config/databend-query-node-1.toml
  src/query/config/src/config.rs
  src/query/service/tests/it/configs.rs
Labels: pr-bugfix

#17112 fix(query): table field data type in `show create table` incorrect
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_dictionary_show_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
Labels: pr-bugfix

#17116 feat(query): Add `external_block_rows` metrics
  src/common/base/src/runtime/metrics/histogram.rs
  src/common/base/src/runtime/metrics/mod.rs
  src/common/base/src/runtime/metrics/registry.rs
  src/common/metrics/src/metrics/external_server.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
Labels: pr-feature, ci-benchmark

#17123 feat: support vacuum leaked table data (#17022)-Revert
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
Labels: pr-bugfix, pr-feature

#17127 fix(query): fix udf script return type is arrow `DataType::LargeList` caused failed
  Cargo.lock
  Cargo.toml
  tests/data/udf/to_array.js
  tests/sqllogictests/src/mock_source/mysql_source.rs
  tests/sqllogictests/suites/udf_native/03_0001_udf_js.test
Labels: pr-bugfix

#17118 chore(query): bump federated mysql version
  src/query/service/src/servers/mysql/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  tests/sqllogictests/suites/query/case_sensitivity/query.test
Labels: pr-chore

#17114 chore(query): reduce-functions-code-expand
  src/query/codegen/src/writes/register.rs
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/register.rs
  src/query/expression/src/register_comparison.rs
  src/query/expression/src/register_vectorize.rs
  src/query/expression/src/types.rs
  src/query/expression/src/values.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-chore

#16912 fix: ignore case when matching function name
  Cargo.lock
  Cargo.toml
  src/query/functions/Cargo.toml
  src/query/functions/src/lib.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/case_sensitivity/name_hit.test
Labels: pr-bugfix

#17125 chore(query): improve hook vacuum temp after query
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/packets/packet_data_progressinfo.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
Labels: pr-chore, ci-benchmark-cloud

#17120 chore(query): bump enum-as-inner 0.6
  Cargo.lock
  Cargo.toml
  src/query/expression/src/expression.rs
  src/query/expression/src/kernels/group_by.rs
  src/query/expression/src/types.rs
  src/query/expression/src/utils/block_debug.rs
  src/query/expression/tests/it/input_columns.rs
  src/query/functions/src/scalars/map.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
Labels: pr-chore, ci-benchmark-cloud

#17131 fix: analyze table contain keyword bug
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
Labels: pr-bugfix

#17119 fix(query): Disabled the shrink_scalar optimization for cast expressions during the resolve procedure args
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
Labels: pr-bugfix, ci-benchmark-cloud

#17128 refactor: simplify alter and drop cluster key logic
  src/common/base/src/runtime/metrics/family_metrics/counter.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v002_table_meta.rs
  src/meta/proto-conv/tests/it/v010_table_meta.rs
  src/meta/proto-conv/tests/it/v012_table_meta.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
  src/meta/proto-conv/tests/it/v024_table_meta.rs
  src/meta/proto-conv/tests/it/v033_table_meta.rs
  src/meta/proto-conv/tests/it/v040_table_meta.rs
  src/meta/proto-conv/tests/it/v044_table_meta.rs
  src/meta/proto-conv/tests/it/v055_table_meta.rs
  src/meta/proto-conv/tests/it/v074_table_db_meta.rs
  src/meta/proto-conv/tests/it/v080_geometry_datatype.rs
  src/meta/proto-conv/tests/it/v082_table_index.rs
  src/meta/proto-conv/tests/it/v085_table_index.rs
  src/meta/proto-conv/tests/it/v086_table_index.rs
  src/meta/proto-conv/tests/it/v094_table_meta.rs
  src/meta/proto-conv/tests/it/v107_geography_datatype.rs
  src/meta/proto-conv/tests/it/v114_interval_datatype.rs
  src/query/catalog/src/table.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_cluster_key_alter.rs
  src/query/service/src/interpreters/interpreter_cluster_key_drop.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/servers/flight/flight_service.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_server.rs
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/common/generators/mutation_generator.rs
  src/query/storages/fuse/src/operations/common/generators/snapshot_generator.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/sqllogictests/suites/mode/cluster/distributed_compact.sql.test
Labels: pr-refactor

#17135 chore: rename default_cluster_key_id to cluster_key_seq
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v002_table_meta.rs
  src/meta/proto-conv/tests/it/v010_table_meta.rs
  src/meta/proto-conv/tests/it/v012_table_meta.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
  src/meta/proto-conv/tests/it/v024_table_meta.rs
  src/meta/proto-conv/tests/it/v033_table_meta.rs
  src/meta/proto-conv/tests/it/v040_table_meta.rs
  src/meta/proto-conv/tests/it/v044_table_meta.rs
  src/meta/proto-conv/tests/it/v055_table_meta.rs
  src/meta/proto-conv/tests/it/v074_table_db_meta.rs
  src/meta/proto-conv/tests/it/v080_geometry_datatype.rs
  src/meta/proto-conv/tests/it/v082_table_index.rs
  src/meta/proto-conv/tests/it/v085_table_index.rs
  src/meta/proto-conv/tests/it/v086_table_index.rs
  src/meta/proto-conv/tests/it/v094_table_meta.rs
  src/meta/proto-conv/tests/it/v107_geography_datatype.rs
  src/meta/proto-conv/tests/it/v114_interval_datatype.rs
  src/meta/protos/proto/table.proto
  src/query/ee/src/attach_table/handler.rs
  src/query/service/src/interpreters/interpreter_cluster_key_alter.rs
  src/query/service/src/interpreters/interpreter_cluster_key_drop.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore

#17126 refactor: integrate segment pruning into pipeline
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning_pipeline/lazy_segment_meta.rs
  src/query/storages/fuse/src/pruning_pipeline/lazy_segment_receiver_source.rs
  src/query/storages/fuse/src/pruning_pipeline/mod.rs
  src/query/storages/fuse/src/pruning_pipeline/segment_prune_transform.rs
Labels: pr-refactor

#17136 fix(log): prefix_filter not working.
  src/common/tracing/src/init.rs
Labels: pr-bugfix

#17134 chore(query): fix udf metrics
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/workflows/reuse.sqllogic.yml
  scripts/ci/ci-run-ee-sqllogic-tests.sh
  scripts/ci/ci-run-sqllogic-tests-cloud.sh
  scripts/ci/ci-run-sqllogic-tests-cluster.sh
  scripts/ci/ci-run-sqllogic-tests-minio.sh
  scripts/ci/ci-run-sqllogic-tests-native-minio.sh
  scripts/ci/ci-run-sqllogic-tests-native.sh
  scripts/ci/ci-run-sqllogic-tests.sh
  src/common/metrics/src/metrics/external_server.rs
  src/query/functions/src/lib.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-chore

#17133 chore: Split functions crate into multi crates
  Cargo.lock
  Cargo.toml
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/arithmetic/Cargo.toml
  src/query/functions/src/scalars/arithmetic/src/arithmetic.rs
  src/query/functions/src/scalars/arithmetic/src/lib.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/decimal/Cargo.toml
  src/query/functions/src/scalars/decimal/src/arithmetic.rs
  src/query/functions/src/scalars/decimal/src/cast.rs
  src/query/functions/src/scalars/decimal/src/comparison.rs
  src/query/functions/src/scalars/decimal/src/lib.rs
  src/query/functions/src/scalars/decimal/src/math.rs
  src/query/functions/src/scalars/geographic/Cargo.toml
  src/query/functions/src/scalars/geographic/src/geo.rs
  src/query/functions/src/scalars/geographic/src/geo_h3.rs
  src/query/functions/src/scalars/geographic/src/geography.rs
  src/query/functions/src/scalars/geographic/src/geometry.rs
  src/query/functions/src/scalars/geographic/src/lib.rs
  src/query/functions/src/scalars/mathematics/Cargo.toml
  src/query/functions/src/scalars/mathematics/src/lib.rs
  src/query/functions/src/scalars/mathematics/src/math.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/src/scalars/numeric_basic_arithmetic/Cargo.toml
  src/query/functions/src/scalars/numeric_basic_arithmetic/src/arithmetic_modulo.rs
  src/query/functions/src/scalars/numeric_basic_arithmetic/src/lib.rs
  src/query/functions/src/scalars/numeric_basic_arithmetic/src/numeric_basic_arithmetic.rs
  src/query/functions/src/scalars/timestamp/Cargo.toml
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/src/scalars/timestamp/src/lib.rs
Labels: pr-chore, ci-benchmark-cloud
