Repository databendlabs/databend, pull requests merged in 2024-06, with the labels that each got.

#15703 fix: add unit test of concurrent commit table meta data
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#15704 chore(ci): only provide debian based service image
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  docker/distroless/meta.Dockerfile
  docker/distroless/query.Dockerfile
  docker/service/meta.Dockerfile
  docker/service/query.Dockerfile
Labels: pr-chore

#15705 refactor: enable mem-profiling for meta-service
  src/meta/service/Cargo.toml
Labels: pr-refactor

#15693 fix(executor): fix lost pipeline on finished callback
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
Labels: pr-bugfix

#15708 chore(ci): fix download artifacts for docker_all_in_one
  .github/workflows/release.yml
Labels: pr-chore

#15709 feat: add meta-service config sled_max_cache_size_mb
  src/binaries/meta/entry.rs
  src/binaries/metactl/snapshot.rs
  src/meta/embedded/src/meta_embedded.rs
  src/meta/process/src/examples.rs
  src/meta/process/src/process_meta_dir.rs
  src/meta/raft-store/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/sled-store/src/db.rs
Labels: pr-feature

#15647 feat(query): add async retry transform
  Cargo.lock
  src/query/expression/src/utils/udf_client.rs
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_retry_async.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/udf/udf_server.py
Labels: pr-feature

#15710 chore: more log for table history traversing
  src/query/storages/fuse/src/io/read/snapshot_history_reader.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
Labels: pr-chore

#15711 chore(executor): revert #15693
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
Labels: pr-chore

#15712 chore(ci): fix download artifacts for cloud build
  .github/workflows/cloud.yml
Labels: pr-chore

#15713 chore(ci): fix dockerfile for cloud service image build
  .github/workflows/cloud.yml
Labels: pr-chore

#15714 chore(ci): fix checking release status from jobs
  .github/scripts/notify_release.js
  .github/workflows/release.yml
Labels: pr-chore

#15715 fix(executor): fix query log lost for http kill
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/pipelines/executor/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  tests/suites/1_stateful/09_http_handler/09_0005_kill.result
  tests/suites/1_stateful/09_http_handler/09_0005_kill.sh
Labels: pr-bugfix

#15721 fix: `fuse_snapshot` only show the latest snapshot for external table
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/workflows/reuse.sqllogic.yml
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/common/mod.rs
  src/query/service/src/interpreters/common/shared_table.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_share_alter_tenants.rs
  src/query/service/src/interpreters/interpreter_share_create.rs
  src/query/service/src/interpreters/interpreter_share_drop.rs
  src/query/service/src/interpreters/interpreter_share_grant_object.rs
  src/query/service/src/interpreters/interpreter_share_revoke_object.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/test_kits/check.rs
  src/query/service/tests/it/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/table_functions/fuse_snapshots/fuse_snapshot.rs
  src/query/storages/share/src/share.rs
  tests/sqllogictests/suites/no_table_meta_cache/fuse_snapshot.test
Labels: pr-bugfix

#15727 fix: fix union and lazy materialization
  src/query/service/src/schedulers/scheduler.rs
  src/query/sql/src/executor/physical_plans/physical_limit.rs
  tests/sqllogictests/suites/query/union.test
Labels: pr-bugfix

#15725 chore(planner): fix merge predicates with different data types
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
Labels: pr-chore

#15723 refactor: delete raft log one by one.
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/meta/sled-store/src/sled_tree.rs
Labels: pr-refactor

#15728 chore: add databend user to docker service images
  docker/service/meta.Dockerfile
  docker/service/query.Dockerfile
Labels: pr-chore

#15666 fix(ast): assert ast display and reparse
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/ast/statements/principal.rs
  src/query/ast/src/ast/statements/share.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/view.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/statement.txt
  src/query/service/src/interpreters/interpreter.rs
Labels: pr-bugfix

#15735 chore(ci): fix download artifacts for local benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#15737 chore(ci): setup python3.12 for local benchmark
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore

#15621 refactor: more explicit error confirmation for http query route error.
  src/query/service/src/servers/http/middleware.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/suites/1_stateful/09_http_handler/09_0006_route_error.result
  tests/suites/1_stateful/09_http_handler/09_0006_route_error.sh
Labels: pr-refactor

#15736 fix: Handle Duplicate Tombstones in Meta-Service List Operation
  src/meta/api/src/kv_pb_api/upsert_pb.rs
  src/meta/raft-store/src/leveled_store/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/util.rs
  src/meta/raft-store/src/marked/internal_seq.rs
  src/meta/types/src/cmd/mod.rs
Labels: pr-bugfix

#15739 refactor: split None and Owner/Grantobject
  src/meta/proto-conv/src/ownership_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
Labels: pr-refactor

#15731 feat: add task_history function
  src/common/cloud_control/proto/task.proto
  src/query/service/src/table_functions/cloud/mod.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/storages/system/src/task_history_table.rs
  tests/cloud_control_server/simple_server.py
  tests/cloud_control_server/task_pb2.py
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-feature

#15744 docs: delete repeat summary
  README.md
Labels: pr-doc

#15609 refactor(cluster): record query id for cluster mode log
  Cargo.lock
  src/query/catalog/src/cluster_info.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/actions/init_query_fragments.rs
  src/query/service/src/servers/flight/v1/actions/mod.rs
  src/query/service/src/servers/flight/v1/actions/start_prepared_query.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/packets/mod.rs
  src/query/service/src/servers/flight/v1/packets/packet_executor.rs
  src/query/service/src/servers/flight/v1/packets/packet_fragment.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/sessions/session.rs
  src/query/settings/Cargo.toml
  src/query/settings/src/settings.rs
Labels: pr-refactor, ci-benchmark

#15733 feat(query): show indexes add inverted indexes
  src/common/exception/src/exception_code.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/storages/system/src/indexes_table.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/suites/5_ee/06_inverted_index/06_0001_index_visibility.result
  tests/suites/5_ee/06_inverted_index/06_0001_index_visibility.sh
Labels: pr-feature

#15730 refactor: GrantEntry not store ownership privilege
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/serde/pb_serde.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/users/src/visibility_checker.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
  tests/suites/0_stateless/18_rbac/18_0005_show_grants_with_dropped.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
Labels: pr-refactor, ci-benchmark-local

#15748 chore(ci): fix check release status
  .github/scripts/notify_release.js
  .github/workflows/release.yml
Labels: pr-chore

#15750 chore(ci): fix release notify icon
  .github/scripts/notify_release.js
Labels: pr-chore

#15740 chore: output raft log index range for purge logging
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/raft_log_storage_impl.rs
Labels: pr-chore

#15745 feat: Bump to opendal v0.47.0 rc
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/metrics_layer.rs
  src/common/storage/src/runtime_layer.rs
  src/query/pipeline/sources/src/input_formats/beyond_end_reader.rs
  src/query/pipeline/sources/src/input_formats/input_pipeline.rs
  src/query/sharing/src/layer.rs
  src/query/storages/delta/src/dal.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_native.rs
  src/query/storages/fuse/src/io/read/agg_index/agg_index_reader_parquet.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/io/read/block/block_reader_native.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_native.rs
  src/query/storages/fuse/src/io/read/virtual_column/virtual_column_reader_parquet.rs
  src/query/storages/orc/src/chunk_reader_impl.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
Labels: pr-feature, ci-benchmark

#15757 feat: Add http config for all storage services
  src/common/storage/src/operator.rs
Labels: pr-feature

#15759 fix(storage): Fix a potential data loss while concurrent write
  Cargo.lock
  Cargo.toml
Labels: pr-bugfix

#15752 feat(query): add inverted index size to block meta
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/read_plan.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/common/table_meta/src/meta/v3/frozen/block_meta.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
Labels: pr-feature

#15756 feat: add meta verifier binary
  Cargo.lock
  src/binaries/Cargo.toml
  src/binaries/metaverifier/main.rs
Labels: pr-feature

#15765 chore: add more test case about create table fail
  tests/sqllogictests/suites/base/issues/issue_15664.test
Labels: pr-chore

#15726 feat(query): add shuffle before window plan
  src/query/functions/src/scalars/hash.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/pipeline/transforms/src/processors/transforms/transform_multi_sort_merge.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/optimizer/distributed/sort_and_limit.rs
  src/query/sql/src/planner/optimizer/property/property.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_sort.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/async_function.rs
  src/query/sql/src/planner/plans/cache_scan.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/cte_scan.rs
  src/query/sql/src/planner/plans/dummy_table_scan.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/expression_scan.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/materialized_cte.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/sort.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/base/01_system/01_0012_system_temp_files.test
  tests/sqllogictests/suites/base/03_common/03_0038_spill_aggregator.test
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/functions/02_0066_function_greatest.test
  tests/sqllogictests/suites/query/window_function/named_window_basic.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
  tests/sqllogictests/suites/query/window_function/window_bound.test
  tests/sqllogictests/suites/query/window_function/window_in_expr.test
  tests/sqllogictests/suites/query/window_function/window_qualify.test
Labels: pr-bugfix, pr-feature, ci-cloud

#15761 fix: off by one mistake in auto compaction
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0040_auto_compaction_issue_15760.test
Labels: pr-bugfix

#15764 fix(query): fix decimal cmp
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/decimal/comparison.rs
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/storages/common/index/src/bloom_index.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
  tests/sqllogictests/suites/mode/standalone/explain/outer_to_inner.test
Labels: pr-bugfix

#15771 chore: add error info when table name is misleading
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  tests/sqllogictests/suites/query/cte/name_conflict.test
Labels: pr-chore

#15766 chore: Pin opendal to released version
  Cargo.lock
  Cargo.toml
Labels: pr-chore, ci-benchmark

#15754 fix: lazy materialization does not support set operation
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  tests/sqllogictests/suites/query/union.test
Labels: pr-bugfix

#15770 fix: auto cast fail error in copy should show the related columns #15768
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  tests/sqllogictests/suites/stage/formats/parquet/auto_cast.test
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
Labels: pr-bugfix

#15777 chore: limit the count of set operation
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/count_set_ops.rs
  src/query/sql/src/planner/semantic/mod.rs
  tests/sqllogictests/suites/query/union.test
Labels: pr-chore

#15776 feat: parquet support option null_if
  src/meta/app/src/principal/file_format.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v032_file_format_params.rs
  src/meta/proto-conv/tests/it/v066_stage_create_on.rs
  src/meta/proto-conv/tests/it/v093_parquet_format_params.rs
  src/meta/protos/proto/file_format.proto
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/processors/mod.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_null_if.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  tests/data/unload/parquet/null_If/data_ce70d99e-4e06-421d-ad84-5a9ac3d7763a_0000_00000000.parquet
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
Labels: pr-feature

#15782 refactor: remove unsafe impl Send+Sync for GlobalRegistry
  src/common/base/src/runtime/metrics/registry.rs
Labels: pr-refactor

#15780 feat: rm CREDENTIALS as alias of CONNECTION.
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/statement-error.txt
  src/query/ast/tests/it/testdata/statement.txt
  tests/suites/1_stateful/00_stage/00_0008_remove_external_stage.sh
Labels: pr-feature

#15480 feat(function): Implement map_delete function
  src/query/functions/src/scalars/map.rs
  src/query/functions/tests/it/scalars/map.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  tests/sqllogictests/suites/query/functions/02_0074_function_map.test
Labels: pr-feature

#15784 chore: replace manually incr/decr with couter guard
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/grpc_metrics.rs
Labels: pr-chore

#15775 feat(query): support try_to_timestmap(string, string), try_to_date(string, string)
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#15769 feat: add io delay chaos meta test scripts
  .github/actions/artifact_meta_container_failure/action.yml
  .github/actions/io_delay_chaos/action.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  docker/meta-chaos/meta.Dockerfile
  docker/meta-chaos/verifier.Dockerfile
  scripts/ci/ci-setup-chaos-meta.sh
  scripts/ci/meta-chaos/ci-io-delay-meta-test.sh
  scripts/ci/meta-chaos/k3d.yaml
  scripts/ci/meta-chaos/meta-ha.yaml
  scripts/ci/meta-chaos/verifier.yaml
  tests/metaverifier/cat-logs.sh
  tests/metaverifier/chaos-meta.py
  tests/metaverifier/start-verifier.sh
  tests/metaverifier/templates/node-disk-io-delay-template.yaml
Labels: pr-feature, ci-meta-chaos

#15773 refactor(ast): eliminate clone when displaying expr
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
Labels: pr-refactor

#15675 feat: support recursive cte
  src/query/catalog/src/table_context.rs
  src/query/service/src/pipelines/builders/builder_recursive_cte.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_scan.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/interpreters/mod.rs
  src/query/service/tests/it/interpreters/union.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_r_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_query/bind_set_expr.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_union.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/optimizer/util.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/r_cte_scan.rs
  src/query/sql/src/planner/plans/union_all.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/cte/r_cte_tutorial.test
  tests/sqllogictests/suites/query/cte/r_cte_union_all.test
Labels: pr-feature

#15785 fix: http handler handle panic when starting query.
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-bugfix

#15787 fix(ci): meta chaos dockerfile path
  .github/actions/io_delay_chaos/action.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  scripts/ci/ci-setup-chaos-meta.sh
Labels: pr-bugfix, ci-meta-chaos

#15788 chore: add more alias name tests for recursive cte
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  tests/sqllogictests/suites/query/cte/r_cte_alias_name.test
Labels: pr-chore

#15783 refactor: clustering_information support specify cluster keys
  scripts/ci/ci-setup-chaos-meta.sh
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/fuse_blocks/fuse_block_table.rs
  src/query/storages/fuse/src/table_functions/fuse_columns/fuse_column_table.rs
  src/query/storages/fuse/src/table_functions/fuse_segments/fuse_segment_table.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  tests/cloud_control_server/simple_server.py
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0014_func_clustering_information_function.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0015_remote_alter_cluster_key.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into.test
  tests/sqllogictests/suites/management/management_calls.test
Labels: pr-refactor

#15786 refactor: add non-async version of mete-client API request_sync
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/message.rs
Labels: pr-refactor

#15792 feat(ci): add logging test for query
  .github/actions/test_logs/action.yml
  .github/workflows/reuse.linux.yml
  scripts/ci/deploy/config/databend-query-node-otlp-logs.toml
  scripts/ci/deploy/databend-query-standalone-logging.sh
  tests/logging/README.md
  tests/logging/check_logs.py
  tests/logging/test-logs.sh
  tests/logging/vector/config.yaml
  tests/meta-kvapi/test-meta-kvapi.sh
Labels: pr-feature

#15793 chore: remove code about access share table into from meta service
  src/common/exception/src/exception_code.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/app/src/app_error.rs
Labels: pr-chore

#15794 fix: add settings enable_streaming_load, default 0.
  src/query/service/src/servers/http/v1/load.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/scripts/prepare_spill_data.sh
  tests/suites/1_stateful/01_streaming_load/01_0000_streaming_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_variant_load.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_parquet_int96.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_on_error.sh
  tests/suites/1_stateful/05_formats/05_01_compact/05_01_01_load_compact_streaming_load.sh
Labels: pr-bugfix

#15751 fix(query): create ownership obejct only check current_role privilege
  src/meta/app/src/principal/ownership_object.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_role_drop.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  tests/sqllogictests/suites/base/05_ddl/05_0015_ddl_drop_role.test
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
Labels: pr-bugfix

#15796 chore: remove meta chaos from release action
  .github/workflows/release.yml
Labels: pr-chore

#15795 chore(query): substr support function domain
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/base/09_fuse_engine/09_0014_func_clustering_information_function.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_substr.test
Labels: pr-chore

#15799 chore: update doc about meta compatibility
  src/meta/README.md
  src/meta/raft-store/src/ondisk/mod.rs
Labels: pr-chore

#15800 fix(query): list user stage not check privilege
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
Labels: pr-bugfix

#15803 refactor: move databend-meta binaries to separate dir
  Cargo.lock
  Cargo.toml
  licenserc.toml
  src/binaries/Cargo.toml
  src/binaries/README.md
  src/meta/binaries/Cargo.toml
  src/meta/binaries/README.md
  src/meta/binaries/meta/ee_main.rs
  src/meta/binaries/meta/entry.rs
  src/meta/binaries/meta/kvapi.rs
  src/meta/binaries/meta/oss_main.rs
  src/meta/binaries/metabench/main.rs
  src/meta/binaries/metactl/grpc.rs
  src/meta/binaries/metactl/main.rs
  src/meta/binaries/metactl/reading.rs
  src/meta/binaries/metactl/snapshot.rs
  src/meta/binaries/metaverifier/main.rs
Labels: pr-refactor

#15805 refactor: adaptive entries count for `AppendEntriesRequest`
  Cargo.lock
  Cargo.toml
  src/common/base/src/containers/pool.rs
  src/common/base/src/display/display_option/mod.rs
  src/common/base/src/display/mod.rs
  src/common/base/src/future.rs
  src/common/base/src/lib.rs
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/meta/raft-store/src/sm_v002/snapshot_store.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/types/Cargo.toml
  src/meta/types/build.rs
  src/meta/types/src/cluster.rs
  src/meta/types/src/cmd/meta_spec.rs
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/endpoint.rs
  src/meta/types/src/log_entry.rs
  src/meta/types/src/match_seq.rs
  src/meta/types/src/operation.rs
  src/meta/types/src/raft_txid.rs
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-refactor

#15811 ci: code reuse and get raid of streaming load.
  tests/sqllogictests/scripts/prepare_spill_data.sh
  tests/sqllogictests/scripts/prepare_tpch_data.sh
Labels: pr-build

#15813 ci: test load parquet unloaded by databend.
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
Labels: pr-build

#15814 fix: fix sequence used in function calls
  src/query/sql/src/planner/semantic/async_function_rewriter.rs
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
Labels: pr-bugfix

#15815 chore: recluster final ignore error
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#15819 chore: reduce recluster depth threshold
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Labels: pr-chore

#15817 chore: normalize compat test script names
  .github/actions/test_compat_fuse/action.yml
  .github/actions/test_compat_meta_query/action.yml
  .github/workflows/reuse.linux.yml
  tests/compat_fuse/README.md
  tests/compat_fuse/compat-logictest/01_meta_compression/fuse_compat_read
  tests/compat_fuse/compat-logictest/01_meta_compression/fuse_compat_write
  tests/compat_fuse/compat-logictest/02_meta_compression_v3_to_v4/fuse_compat_read
  tests/compat_fuse/compat-logictest/02_meta_compression_v3_to_v4/fuse_compat_write
  tests/compat_fuse/compat-logictest/base/fuse_compat_read
  tests/compat_fuse/compat-logictest/base/fuse_compat_write
  tests/compat_fuse/compat-logictest/rbac/fuse_compat_read
  tests/compat_fuse/compat-logictest/rbac/fuse_compat_write
  tests/compat_fuse/compat-logictest/revoke/fuse_compat_read
  tests/compat_fuse/compat-logictest/revoke/fuse_compat_write
  tests/compat_fuse/compat-stateless/01_flashback/01_0001_across_versions.result
  tests/compat_fuse/compat-stateless/01_flashback/01_0001_across_versions.sh
  tests/compat_fuse/compat-stateless/02_flashback_v3_to_v4/01_0001_across_versions.result
  tests/compat_fuse/compat-stateless/02_flashback_v3_to_v4/01_0001_across_versions.sh
  tests/compat_fuse/test_compat_fuse.sh
  tests/compat_fuse/test_compat_fuse_forward.sh
  tests/compat_fuse/util.sh
Labels: pr-chore

#15822 fix: multi-tbl insert with lateral flattern panics
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/sql/src/executor/physical_plans/physical_multi_table_insert.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0100_insert_multi_table_issue_15821.sql
Labels: pr-bugfix

#15823 refactor: add meta-meta compat test
  .github/actions/build_linux/action.yml
  .github/actions/test_compat_meta_meta/action.yml
  .github/actions/test_compat_meta_query/action.yml
  .github/workflows/reuse.linux.yml
  tests/compat/meta_meta/README.md
  tests/compat/meta_meta/test_meta_meta.sh
  tests/compat/util.sh
Labels: pr-refactor

#15826 chore: fix scripts in meta-meta compatibility test
  .github/actions/test_compat_meta_meta/action.yml
  src/meta/binaries/README.md
  tests/compat/meta_meta/test_meta_meta.sh
  tests/compat/util.sh
Labels: pr-chore

#15829 chore(ci): add reporter for meta chaos test
  .github/scripts/notify_failure.js
  .github/workflows/release.yml
Labels: pr-chore

#15835 feat: support recursive cte used in multiple places
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/pipelines/builders/builder_recursive_cte.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/pipeline_build_res.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_scan.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_r_cte_scan.rs
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/plans/r_cte_scan.rs
  src/query/sql/src/planner/plans/union_all.rs
  src/query/storages/memory/src/memory_table.rs
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/cte/r_cte_alias_name.test
  tests/sqllogictests/suites/query/cte/r_cte_tutorial.test
  tests/sqllogictests/suites/query/cte/r_cte_union_all.test
Labels: pr-feature

#15837 fix: uuid() as default value result in copy error.
  src/meta/app/src/principal/file_format.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_empty_uuid.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_null_and_missing_uuid.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/sqllogictests/suites/stage/formats/tsv/tsv_empty_uuid.test
Labels: pr-bugfix

#15836 chore: bump arrow-udf
  Cargo.lock
  Cargo.toml
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-chore

#15838 feat(query): support distinct from for hash join
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/deduplicate_join_condition.rs
  src/query/sql/src/planner/optimizer/filter/pull_up_filter.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/hyper_dp/join_node.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_join.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-feature

#15840 fix: function uuid() should be non_deterministic.
  src/query/functions/src/scalars/other.rs
  src/query/sql/src/planner/expression_parser.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#15828 chore(query): remove addRowNumber if source is physical table
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/processors/transforms/processor_deduplicate_row_number.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/optimizer/distributed/distributed_merge.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/merge_into.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
Labels: pr-chore

#15841 chore(query): show view just display view name
  src/query/sql/src/planner/binder/ddl/view.rs
  tests/sqllogictests/suites/base/01_system/01_0003_information_schema.test
  tests/sqllogictests/suites/base/06_show/06_0023_show_views.test
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.result
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.sql
Labels: pr-chore

#15846 chore: Fix build of arrow-udf
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#15843 fix: stream illegal after source rename
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/common/stream.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/servers/admin/v1/stream_status.rs
  src/query/service/src/servers/admin/v1/tenant_tables.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/common/table_meta/src/table/stream_keys.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/streams_table.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
Labels: pr-bugfix

#15834 fix: parse comment in raw value
  src/common/io/src/cursor_ext/cursor_read_bytes_ext.rs
  src/common/io/tests/it/cursor_ext/read_bytes_ext.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/nested.rs
  tests/sqllogictests/suites/base/03_common/03_0044_select_large_predicate.test
  tests/sqllogictests/suites/base/03_common/03_0045_insert_values_with_comment.test
Labels: pr-bugfix

#15852 chore: change meta chaos io delay param
  scripts/ci/meta-chaos/ci-io-delay-meta-test.sh
Labels: pr-chore, ci-meta-chaos

#15854 chore(ci): fix duplicate failure artifact name
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
Labels: pr-chore

#15853 chore: disable recursive cte test for mysql
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/cte/r_cte_alias_name.test
  tests/sqllogictests/suites/query/cte/r_cte_tutorial.test
  tests/sqllogictests/suites/query/cte/r_cte_union_all.test
  tests/sqllogictests/suites/query/join/basic_spill.test
Labels: pr-chore

#15844 feat: Implement Default for CatalogInfo
  src/meta/app/src/schema/catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: pr-feature

#15850 fix(query): to_timestmap should always return err if parse err
  src/query/functions/src/scalars/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#15862 chore(query): add retry logs
  Cargo.lock
  src/query/pipeline/transforms/Cargo.toml
  src/query/pipeline/transforms/src/processors/transforms/transform_retry_async.rs
Labels: pr-chore

#15856 fix(query): decimal div overflow
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/scalars/decimal/arithmetic.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#15863 chore: refactor name and match expression
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
Labels: pr-chore

#15831 chore: update logcall
  Cargo.lock
  Cargo.toml
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/share_api_impl.rs
  src/meta/service/src/network.rs
Labels: pr-chore

#15839 feat(query): enable udf in udf call
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/planner/semantic/udf_rewriter.rs
  tests/sqllogictests/suites/base/03_common/03_0013_select_udf.test
Labels: pr-feature

#15875 chore: install gdb for query service image
  docker/service/query.Dockerfile
Labels: pr-chore

#15871 feat: support filling uuid when loading data and uuid is missing/empty in some rows.
  Cargo.lock
  src/common/storage/src/copy.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/catalog/src/table_context.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/other.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/field_default_expr.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/input_context_bridge.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/ndjson/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/tsv/block_builder.rs
  src/query/storages/stage/src/read/row_based/processors/reader.rs
  tests/sqllogictests/suites/stage/formats/csv/csv_empty_uuid.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_null_and_missing_uuid.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/sqllogictests/suites/stage/formats/tsv/tsv_empty_uuid.test
Labels: pr-feature

#15882 feat: stream consuming for `copy into LOCATION from ` stmt
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app/src/app_error.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/session_catalog.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/storages/common/txn/src/manager.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0005_copy_into_location_from_strea_issue_15876.test
  tests/suites/5_ee/05_stream/05_0003_ee_stream_copy_into_location.result
  tests/suites/5_ee/05_stream/05_0003_ee_stream_copy_into_location.sh
Labels: pr-feature

#15878 chore(query): string_to_date/ts should not ignore error
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/functions/src/scalars/datetime.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/base/03_common/03_0023_insert_into_array.test
Labels: pr-chore

#15870 fix(query): fix sum rewriter
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#15883 chore: fix recursive cte hang
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/cte/r_cte_alias_name.test
  tests/sqllogictests/suites/query/cte/r_cte_tutorial.test
  tests/sqllogictests/suites/query/cte/r_cte_union_all.test
Labels: pr-chore

#15887 chore(executor): avoid lock poisoning for pipeline executor
  src/query/pipeline/core/src/finished_chain.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
Labels: pr-chore

#15890 chore: add log to show if enable distributed optimization
  src/query/sql/src/planner/optimizer/optimizer.rs
Labels: pr-chore

#15892 chore: print the select plan of insert query
  src/query/service/src/interpreters/interpreter_insert.rs
Labels: pr-chore

#15874 chore(query): improve error msg
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/bitmap.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/control.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/crdb/and_or.test
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/1_stateful/09_http_handler/09_0000_invalid_utf8.result
Labels: pr-chore

#15884 fix: merge into unresolved conflict
  src/query/catalog/src/lock.rs
  src/query/catalog/src/table_context.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_merge_into.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_index_refresh.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/locks/lock_manager.rs
  src/query/service/src/locks/table_lock/mod.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/plans/ddl/index.rs
  src/query/sql/src/planner/plans/ddl/stream.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/merge_into.rs
  src/query/sql/src/planner/plans/replace.rs
  src/query/sql/src/planner/plans/update.rs
Labels: pr-bugfix

#15860 fix(query): window function out of bounds access panic
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/window_function/window_bound.test
Labels: pr-bugfix

#15894 chore: replace patched codespan-reporting with rspack-codespan-reporting
  Cargo.lock
  Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/src/span.rs
Labels: pr-chore

#15896 chore(query): udf allow list only judge host match
  Cargo.lock
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/udf.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-chore

#15897 chore: change meta chaos io delay param
  scripts/ci/meta-chaos/ci-io-delay-meta-test.sh
Labels: pr-chore

#15700 chore: Bump minitrace for new opentelementry support
  Cargo.lock
  Cargo.toml
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
Labels: pr-chore

#15891 refactor(query): refactor merge into pipeline
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into_append_not_matched.rs
  src/query/service/src/pipelines/builders/builder_merge_into_organize.rs
  src/query/service/src/pipelines/builders/builder_merge_into_serialize.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_display.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_organize.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_serialize.rs
Labels: pr-refactor, ci-cloud

#15903 chore(ci): switch runner to aws
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/meta.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  tests/logging/test-logs.sh
Labels: pr-chore

#15900 refactor(query): remove async for query binder
  src/common/base/src/runtime/catch_unwind.rs
  src/common/base/src/runtime/runtime.rs
  src/query/catalog/src/table.rs
  src/query/service/tests/it/distributed/cluster.rs
  src/query/service/tests/it/parquet_rs/prune_pages.rs
  src/query/service/tests/it/parquet_rs/prune_row_groups.rs
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/binder/bind_query/bind_set_expr.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_location.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_subquery.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/dynamic_table.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/binder/having.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  src/query/sql/src/planner/binder/merge_into.rs
  src/query/sql/src/planner/binder/project_set.rs
  src/query/sql/src/planner/binder/qualify.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/sql/src/planner/binder/update.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/dataframe.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/semantic/virtual_column_rewriter.rs
Labels: pr-refactor

#15902 refactor: CatalogInfo has been stored in TableInfo
  src/query/catalog/src/plan/datasource/datasource_info/data_source_info.rs
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_optimize.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_compact.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_delete.rs
  src/query/service/src/pipelines/builders/builder_distributed_insert_select.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_merge_into_append_not_matched.rs
  src/query/service/src/pipelines/builders/builder_merge_into_manipulate.rs
  src/query/service/src/pipelines/builders/builder_merge_into_serialize.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/builder_update.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/truncate.rs
  src/query/service/tests/it/storages/fuse/table.rs
  src/query/service/tests/it/storages/null.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/table_functions/numbers_table.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/sql/src/executor/physical_plans/physical_compact_source.rs
  src/query/sql/src/executor/physical_plans/physical_copy_into_table.rs
  src/query/sql/src/executor/physical_plans/physical_delete_source.rs
  src/query/sql/src/executor/physical_plans/physical_distributed_insert_select.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_manipulate.rs
  src/query/sql/src/executor/physical_plans/physical_merge_into_serialize.rs
  src/query/sql/src/executor/physical_plans/physical_multi_table_insert.rs
  src/query/sql/src/executor/physical_plans/physical_recluster_sink.rs
  src/query/sql/src/executor/physical_plans/physical_recluster_source.rs
  src/query/sql/src/executor/physical_plans/physical_replace_deduplicate.rs
  src/query/sql/src/executor/physical_plans/physical_replace_into.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/executor/physical_plans/physical_update_source.rs
  src/query/sql/src/executor/table_read_plan.rs
Labels: pr-refactor

#15905 feat: publish databend-common-ast to crates.io
  Cargo.lock
  src/query/ast/Cargo.toml
Labels: pr-feature

#15906 refactor: Make CatalogCreator Accept Arc<CatalogInfo>
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/service/src/interpreters/interpreter_catalog_create.rs
  src/query/service/src/pipelines/builders/builder_insert_multi_table.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/lib.rs
Labels: pr-refactor

#15873 refactor: simplify adding transform to pipeline
  src/query/pipeline/transforms/src/processors/transforms/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_pipeline_helper.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_partial.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_index_refresh.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_async_function.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/pipelines/builders/builder_delete.rs
  src/query/service/src/pipelines/builders/builder_distributed_insert_select.rs
  src/query/service/src/pipelines/builders/builder_fill_missing_columns.rs
  src/query/service/src/pipelines/builders/builder_merge_into.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/service/src/pipelines/builders/builder_scalar.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/builders/builder_update.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_expand.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_computed_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_const_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_internal_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_stream_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_null_if.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_runtime_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_sequence_nextval.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/operations/merge_into/processors/processor_distributed_merge_into_block_serialize.rs
  src/query/storages/fuse/src/operations/merge_into/processors/transform_add_rownumber_column.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/orc/src/processors/decoder.rs
  src/query/storages/orc/src/read_pipeline.rs
  src/query/storages/stage/src/append/do_append.rs
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  src/query/storages/stage/src/append/row_based_file/serialize_processor.rs
  src/query/storages/stage/src/read/row_based/processors/separator.rs
  src/query/storages/stage/src/read/row_based/read_pipeline.rs
Labels: pr-refactor

#15893 chore: copy into default value using `RemoteExpr`
  Cargo.lock
  src/meta/app/src/principal/file_format.rs
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/other.rs
  src/query/pipeline/sources/Cargo.toml
  src/query/pipeline/sources/src/input_formats/impls/input_format_csv.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_ndjson.rs
  src/query/pipeline/sources/src/input_formats/impls/input_format_tsv.rs
  src/query/pipeline/sources/src/input_formats/input_context.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/field_default_expr.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/storages/fuse/src/io/read/block/parquet/mod.rs
  src/query/storages/fuse/src/table_functions/clustering_information/clustering_information.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/input_context_bridge.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
Labels: pr-chore

#15917 refactor: improve modulo predicate selectivity
  src/query/sql/src/planner/optimizer/property/selectivity.rs
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/modulo.test
Labels: pr-refactor

#15907 fix: stream error after alter table
  src/query/ee/src/stream/handler.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/streams_table.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.result
  tests/suites/5_ee/05_stream/05_0002_ee_stream_create.result
Labels: pr-bugfix

#15909 refactor: optimize gen_columns_statistics() for scalar.
  src/query/storages/fuse/src/statistics/column_statistic.rs
Labels: pr-refactor

#15920 chore: update domain for datasets & benchmark
  .github/workflows/reuse.benchmark.yml
  benchmark/clickbench/hits/load.sql
  benchmark/clickbench/index.jinja
  benchmark/clickbench/tpch/load.sql
  scripts/benchmark/query/load/hits.sh
  scripts/benchmark/query/load/tpch10.sh
  scripts/benchmark/query/load/tpch100.sh
  scripts/ci/ci-setup-chaos-meta.sh
Labels: pr-chore

#15910 refactor: optimize building bloom index for scalar.
  src/query/expression/src/kernels/concat.rs
  src/query/expression/tests/it/kernel.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  tests/sqllogictests/suites/no_table_meta_cache/explain/auto_rebuild_missing_bloom_index.test
  tests/sqllogictests/suites/no_table_meta_cache/explain_native/auto_rebuild_missing_bloom_index.test
Labels: pr-refactor

#15921 fix(jwks): refresh the jwks store on key id not found
  src/query/users/src/jwt/jwk.rs
  src/query/users/src/jwt/mod.rs
  src/query/users/tests/it/jwt/authenticator.rs
Labels: pr-bugfix

#15923 chore: remove open sharding binary and test
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
  .github/actions/build_linux/action.yml
  .github/actions/test_stateful_sharing/action.yml
  .github/workflows/reuse.linux.yml
  Cargo.lock
  Cargo.toml
  scripts/build/build-release.sh
  scripts/ci/ci-run-sharding-tests.sh
  scripts/ci/deploy/databend-query-sharing.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-logging.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/binaries/Cargo.toml
  src/binaries/README.md
  src/binaries/opensharing/main.rs
  src/query/sharing_endpoint/Cargo.toml
  src/query/sharing_endpoint/README.md
  src/query/sharing_endpoint/protocol.md
  src/query/sharing_endpoint/src/accessor.rs
  src/query/sharing_endpoint/src/accessor/share_spec_accessor.rs
  src/query/sharing_endpoint/src/accessor/share_table_accessor.rs
  src/query/sharing_endpoint/src/accessor/share_table_meta_accessor.rs
  src/query/sharing_endpoint/src/configs/inner.rs
  src/query/sharing_endpoint/src/configs/mod.rs
  src/query/sharing_endpoint/src/configs/outer_v0.rs
  src/query/sharing_endpoint/src/handlers.rs
  src/query/sharing_endpoint/src/lib.rs
  src/query/sharing_endpoint/src/middlewares.rs
  src/query/sharing_endpoint/src/models.rs
  src/query/sharing_endpoint/src/services.rs
  src/query/sharing_endpoint/tests/it/accessor.rs
  src/query/sharing_endpoint/tests/it/main.rs
  src/query/sharing_endpoint/tests/it/models.rs
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.result
  tests/suites/3_stateful_sharing/01_sharing/01_0000_basic_sharing.sh
Labels: pr-chore

#15927 fix(query): fix cluster mode stack overflow
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/property/enforcer.rs
Labels: pr-bugfix

#15526 fix: remove VisitorWithParent, add more delete/update by subquery test
  src/query/service/src/interpreters/interpreter_delete.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_update.rs
  src/query/sql/src/planner/binder/delete.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/delete.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/update.rs
  tests/sqllogictests/suites/base/issues/issue_15278.test
  tests/sqllogictests/suites/crdb/delete.test
  tests/sqllogictests/suites/crdb/update.test
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
Labels: pr-bugfix, ci-benchmark

#15930 refactor(cluster): refactor flight actions and add flight secret
  src/meta/types/src/cluster.rs
  src/meta/types/tests/it/cluster.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/management/src/cluster/cluster_mgr.rs
  src/query/management/tests/it/cluster.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/interpreter_kill.rs
  src/query/service/src/interpreters/interpreter_set_priority.rs
  src/query/service/src/interpreters/interpreter_system_action.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/src/servers/flight/flight_client.rs
  src/query/service/src/servers/flight/v1/actions/kill_query.rs
  src/query/service/src/servers/flight/v1/actions/mod.rs
  src/query/service/src/servers/flight/v1/actions/set_priority.rs
  src/query/service/src/servers/flight/v1/actions/system_action.rs
  src/query/service/src/servers/flight/v1/actions/truncate_table.rs
  src/query/service/src/servers/flight/v1/flight_service.rs
  src/query/service/src/servers/flight/v1/packets/mod.rs
  src/query/service/src/servers/flight/v1/packets/packet_execute.rs
  src/query/service/src/servers/flight/v1/packets/packet_kill_query.rs
  src/query/service/src/servers/flight/v1/packets/packet_set_priority.rs
  src/query/service/src/servers/flight/v1/packets/packet_system_action.rs
  src/query/service/src/servers/flight/v1/packets/packet_truncate_table.rs
  src/query/service/src/test_kits/cluster.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/kill.rs
  src/query/sql/src/planner/plans/set_priority.rs
  src/query/sql/src/planner/plans/system.rs
Labels: pr-refactor

#15931 chore: add test case of issue 15791
  tests/sqllogictests/suites/crdb/update.test
Labels: pr-chore

#15926 chore(storage): limit compact num when recluster
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Labels: pr-chore

#15933 chore: fix param typo in function process_left_or_full_join_null_block
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
Labels: pr-chore
