Repository databendlabs/databend, pull requests merged in 2025-03, with the labels that each got.

#17540 chore: rename `EvalExpireTime` to `Expirable` for better semantics
  src/meta/raft-store/src/leveled_store/leveled_map/map_api_impl.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/raft-store/src/marked/marked_test.rs
  src/meta/raft-store/src/marked/mod.rs
  src/meta/raft-store/src/marked/seq_tombstone.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/types/src/eval_expire_time.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/seq_value/kv_meta.rs
  src/meta/types/src/seq_value/seq_value_trait.rs
Labels: pr-chore

#17358 feat(base): enhanced query-level memory management
  src/binaries/query/ee_main.rs
  src/binaries/query/entry.rs
  src/binaries/query/oss_main.rs
  src/common/base/src/lib.rs
  src/common/base/src/mem_allocator/global.rs
  src/common/base/src/mem_allocator/jemalloc.rs
  src/common/base/src/mem_allocator/mmap.rs
  src/common/base/src/mem_allocator/mod.rs
  src/common/base/src/mem_allocator/std_.rs
  src/common/base/src/mem_allocator/tracker.rs
  src/common/base/src/runtime/memory/mem_stat.rs
  src/common/base/src/runtime/memory/mod.rs
  src/common/base/src/runtime/memory/stat_buffer_global.rs
  src/common/base/src/runtime/memory/stat_buffer_mem_stat.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/base/tests/it/main.rs
  src/common/base/tests/it/memory/mem_stat.rs
  src/common/base/tests/it/memory/mod.rs
  src/meta/binaries/meta/ee_main.rs
  src/meta/binaries/meta/oss_main.rs
  src/query/pipeline/core/src/processors/port.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/pipeline_complete_executor.rs
  src/query/service/src/pipelines/executor/pipeline_pulling_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/actions/init_query_fragments.rs
  src/query/service/src/servers/flight/v1/actions/start_prepared_query.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/packets/packet_data_progressinfo.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/stream/processor_executor_stream.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/system/src/metrics_table.rs
  src/query/storages/system/src/query_log_table.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
Labels: pr-feature, pr-chore, ci-benchmark

#17535 chore(query): siphash support generic types
  src/query/expression/src/filter/selector.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/tests/it/scalars/hash.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/query/functions/02_0009_function_hashes.test
  tests/sqllogictests/suites/query/join/join.test
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-chore

#17474 fix: explain update sql panic
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/pipelines/builders/builder_commit.rs
  src/query/service/src/pipelines/builders/builder_mutation_source.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_commit_sink.rs
  src/query/sql/src/executor/physical_plans/physical_compact_source.rs
  src/query/sql/src/executor/physical_plans/physical_mutation.rs
  src/query/sql/src/executor/physical_plans/physical_mutation_source.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/rule/factory.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/mod.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_merge_filter_into_mutation.rs
  src/query/sql/src/planner/optimizer/rule/rule.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/mutation.rs
  src/query/sql/src/planner/plans/mutation_source.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/common/generators/mod.rs
  src/query/storages/fuse/src/operations/common/generators/truncate_generator.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/mutation_source.rs
  src/query/storages/fuse/src/operations/truncate.rs
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/cluster/update.test
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/update.test
Labels: pr-bugfix

#17543 feat(query): Supports folding of show grants results for roles and users
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/06_show/06_0007_show_roles.test
Labels: pr-feature

#17542 feat(query): support query level spill setting
  Cargo.lock
  src/common/base/src/runtime/memory/mem_stat.rs
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/pipeline/transforms/src/processors/memory_settings.rs
  src/query/pipeline/transforms/src/processors/mod.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_sort_merge_base.rs
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/memory_settings.rs
  src/query/service/src/pipelines/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/tests/it/pipelines/transforms/sort/spill.rs
  src/query/settings/src/lib.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/parquet/src/parquet_rs/meta.rs
  src/query/storages/parquet/src/utils.rs
  tests/sqllogictests/suites/base/01_system/01_0012_system_temp_files.test
  tests/sqllogictests/suites/base/03_common/03_0038_spill_aggregator.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0000_vacuum_temporary_files.test
  tests/sqllogictests/suites/query/join/basic_spill.test
  tests/sqllogictests/suites/query/join/fast_return.test
  tests/sqllogictests/suites/query/join/spill.test
  tests/sqllogictests/suites/query/order.test
  tests/sqllogictests/suites/query/window_function/window_partition_spill.test
  tests/sqllogictests/suites/tpcds/spill.test_skip
  tests/sqllogictests/suites/tpch/spill.test
  tests/sqllogictests/suites/tpch_spill/cross_join.test
  tests/sqllogictests/suites/tpch_spill/inner_join_spill.test
  tests/sqllogictests/suites/tpch_spill/left_join_spill.test
  tests/sqllogictests/suites/tpch_spill/right_join_spill.test
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sh
Labels: pr-feature

#17544 ci: fix pack binaries
  .github/actions/pack_binaries/action.yml
  .github/actions/pack_deb/action.yml
  .github/actions/publish_binary/action.yml
  .github/workflows/release.yml
Labels: pr-build

#17545 refactor(meta): simplify map key handling and improve naming consistency
  src/meta/raft-store/src/leveled_store/db_map_api_ro_impl.rs
  src/meta/raft-store/src/leveled_store/db_map_api_ro_test.rs
  src/meta/raft-store/src/leveled_store/immutable.rs
  src/meta/raft-store/src/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/leveled_store/key_spaces_impl.rs
  src/meta/raft-store/src/leveled_store/level.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/leveled_map/map_api_impl.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/raft-store/src/leveled_store/map_api/map_api_ro_impl.rs
  src/meta/raft-store/src/leveled_store/rotbl_codec.rs
  src/meta/raft-store/src/mem_meta.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003_kv_api.rs
  src/meta/raft-store/src/sm_v003/sm_v003_test.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/types/src/eval_expire_time.rs
  src/meta/types/src/seq_value/kv_meta.rs
  src/meta/types/src/seq_value/seq_value_trait.rs
Labels: pr-chore, pr-refactor

#17493 feat(query): add catalog apis
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/catalog/get_database_table.rs
  src/query/service/src/servers/http/v1/catalog/list_database_table_fields.rs
  src/query/service/src/servers/http/v1/catalog/list_database_tables.rs
  src/query/service/src/servers/http/v1/catalog/list_databases.rs
  src/query/service/src/servers/http/v1/catalog/mod.rs
  src/query/service/src/servers/http/v1/catalog/search_tables.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#17546 chore(query): remove old sort spill
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/tests/it/pipelines/transforms/sort.rs
  src/query/service/tests/it/pipelines/transforms/sort/spill.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.result
  tests/suites/0_stateless/20+_others/20_0014_sort_spill.sh
Labels: pr-chore

#17547 fix(query): show roles rewrite kind is err
  src/query/sql/src/planner/binder/ddl/account.rs
  tests/sqllogictests/suites/management/management_calls.test
Labels: pr-bugfix

#17552 fix: agg input does not match union output when subquery
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#17554 fix: with recursive bind table panic
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/bind_query/bind_set_expr.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/query/cte/cte.test
Labels: pr-bugfix

#17556 fix: parquet meta cache key include md5 or mtime or query_id.
  src/common/storage/src/stage.rs
  src/query/service/src/pipelines/builders/builder_copy_into_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/storages/parquet/src/parquet_rs/meta.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  tests/suites/1_stateful/00_stage/00_0010_parquet_meta_cache.result
  tests/suites/1_stateful/00_stage/00_0010_parquet_meta_cache.sh
Labels: pr-bugfix

#17553 feat(query): add api for users & roles
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/catalog/mod.rs
  src/query/service/src/servers/http/v1/catalog/search_databases.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/roles.rs
  src/query/service/src/servers/http/v1/users.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#17549 fix(query): fix incorrect domain folder
  Cargo.lock
  Cargo.toml
  src/query/expression/src/evaluator.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/values.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/control.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/tuple.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values.test
  tests/sqllogictests/suites/base/11_data_type/11_0002_data_type_string.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17558 chore: polish error message in `CommitSink`
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Labels: pr-chore

#17555 feat(query): support nondeterministic update
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/bind_mutation/update.rs
  tests/sqllogictests/suites/base/03_common/03_0048_nondeterministic_update.test
  tests/sqllogictests/suites/crdb/nondeterministic_update.test
  tests/sqllogictests/suites/query/cte/update_cte_nondeterministic.test
Labels: pr-feature

#17571 fix: The update in MERGE INTO was mistakenly optimized as a delete
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0045_merge_into_issue_16581.test
Labels: pr-bugfix

#17569 fix(query): show catalog support iceberg engine
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/column.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/information_schema/src/columns_table.rs
  src/query/storages/information_schema/src/key_column_usage_table.rs
  src/query/storages/information_schema/src/keywords_table.rs
  src/query/storages/information_schema/src/schemata_table.rs
  src/query/storages/information_schema/src/statistics_table.rs
  src/query/storages/information_schema/src/tables_table.rs
  src/query/storages/information_schema/src/views_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-bugfix, ci-benchmark-local

#17570 feat: `string_agg` is compatible with multiple types as arguments instead of just String
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-feature

#17572 fix: session leak when execute explain pipeline in cluster mode
  src/query/service/src/interpreters/interpreter_explain.rs
  tests/sqllogictests/suites/base/issues/issue_17248.test
Labels: pr-bugfix

#17577 fix(storage): hilbert cluster information
  src/query/storages/fuse/src/table_functions/hilbert_clustering_information.rs
  tests/data/avro/gen.py
  tests/sqllogictests/suites/ee/07_hilbert_clustering/07_0000_recluster_final.test
Labels: pr-bugfix

#17585 chore(optimizer): deduplicate_join_condition unit tests
  src/query/sql/src/planner/optimizer/filter/deduplicate_join_condition.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/tests/optimizer/filter/deduplicate_join_condition_test.rs
  src/query/sql/tests/optimizer/filter/mod.rs
Labels: pr-chore

#17588 fix: tpcds Q69 fail
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/push_down_filter_join/mark_join_to_semi_join.rs
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-bugfix

#17591 refactor: add `VirtualDataScheam` to `TableMeta`
  src/common/exception/src/exception_code.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/app_error.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v002_table_meta.rs
  src/meta/proto-conv/tests/it/v010_table_meta.rs
  src/meta/proto-conv/tests/it/v012_table_meta.rs
  src/meta/proto-conv/tests/it/v023_table_meta.rs
  src/meta/proto-conv/tests/it/v024_table_meta.rs
  src/meta/proto-conv/tests/it/v033_table_meta.rs
  src/meta/proto-conv/tests/it/v040_table_meta.rs
  src/meta/proto-conv/tests/it/v044_table_meta.rs
  src/meta/proto-conv/tests/it/v055_table_meta.rs
  src/meta/proto-conv/tests/it/v074_table_db_meta.rs
  src/meta/proto-conv/tests/it/v080_geometry_datatype.rs
  src/meta/proto-conv/tests/it/v082_table_index.rs
  src/meta/proto-conv/tests/it/v085_table_index.rs
  src/meta/proto-conv/tests/it/v086_table_index.rs
  src/meta/proto-conv/tests/it/v094_table_meta.rs
  src/meta/proto-conv/tests/it/v107_geography_datatype.rs
  src/meta/proto-conv/tests/it/v114_interval_datatype.rs
  src/meta/proto-conv/tests/it/v122_virtual_schema.rs
  src/meta/protos/proto/table.proto
  src/meta/protos/proto/virtual_schema.proto
  src/query/expression/src/schema.rs
Labels: pr-refactor

#17579 feat: auto vacuum
  Cargo.lock
  src/common/io/src/constants.rs
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
  src/query/ee_features/vacuum_handler/Cargo.toml
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0003_vacuum2.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0004_auto_vacuum.test
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0005_vacuum_transient.test
Labels: pr-feature

#17537 fix(parser): allow reorder the task options in CREATE TASK/ALTER TASK
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/common/task.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
Labels: pr-bugfix

#17592 chore(optimizer): normalize_disjunctive_filter unit test
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/tests/optimizer/filter/mod.rs
  src/query/sql/tests/optimizer/filter/normalize_disjunctive_filter_test.rs
Labels: pr-chore

#17580 chore(storage): add block file size
  src/common/io/src/constants.rs
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/src/table.rs
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/write/write_settings.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
Labels: pr-chore

#17589 fix: parquet meta cache key should not use mtime.
  src/common/storage/src/stage.rs
Labels: pr-bugfix

#17578 feat(query): database dml for iceberg catalog
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  Cargo.lock
  Cargo.toml
  src/common/storage/src/parquet_rs.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/tests/it/projection.rs
  src/query/service/src/interpreters/interpreter_catalog_create.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_serializer.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/src/io/read/block/parquet/deserialize.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/utils.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#17601 chore(query): add udf script configs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/src/planner/udf_validator.rs
Labels: pr-chore

#17603 chore(query): optimize show tables from iceberg catalog
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore

#17606 chore(meta): add meta-meta compatibility chart svg
  src/meta/README.md
Labels: pr-chore

#17593 fix(query): fix fold agg mismatch datatypes
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/optimizer/aggregate/stats_aggregate.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#17576 fix: the output columns of cte related columns lack the columns required by cte itself
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/planner/binder/util.rs
  tests/sqllogictests/suites/query/cte/cte.test
Labels: pr-bugfix

#17533 feat(query): bloom index support prune expr with simple casts
  Cargo.lock
  src/query/functions/Cargo.toml
  src/query/functions/benches/bench.rs
  src/query/functions/src/lib.rs
  src/query/functions/src/test_utils.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/index/tests/it/testdata/test_bloom_filter.txt
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
Labels: pr-feature

#17605 chore(optimizer): add tpcds unit test for optimizer
  Cargo.lock
  Cargo.toml
  src/query/catalog/src/lib.rs
  src/query/service/Cargo.toml
  src/query/service/tests/it/sql/planner/optimizer/data/README.md
  src/query/service/tests/it/sql/planner/optimizer/data/tables/call_center.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/catalog_page.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/catalog_returns.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/customer.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/customer_address.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/customer_demographics.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/date_dim.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/household_demographics.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/income_band.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/inventory.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/item.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/promotion.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/reason.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/ship_mode.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/store.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/store_returns.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/store_sales.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/time_dim.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/warehouse.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/web_page.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/web_returns.sql
  src/query/service/tests/it/sql/planner/optimizer/data/tables/web_site.sql
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q1.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q3.yaml
  src/query/service/tests/it/sql/planner/optimizer/mod.rs
  src/query/service/tests/it/sql/planner/optimizer/test_utils.rs
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
Labels: pr-chore

#17610 refactor: move MatchSeq to external crate map-api
  Cargo.lock
  Cargo.toml
  src/meta/api/src/background_api_impl.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/app-types/Cargo.toml
  src/meta/app-types/README.md
  src/meta/app-types/src/lib.rs
  src/meta/app-types/src/non_empty.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/tenant/tenant.rs
  src/meta/app/src/tenant/uninit_tenant.rs
  src/meta/app/src/tenant_key/ident.rs
  src/meta/app/tests/it/main.rs
  src/meta/binaries/meta/entry.rs
  src/meta/control/src/import.rs
  src/meta/kvapi/Cargo.toml
  src/meta/kvapi/src/kvapi/key_parser.rs
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/lock_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/leveled_store/sys_data.rs
  src/meta/raft-store/src/leveled_store/sys_data_api.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/src/configs/inner.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_status.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/api/http/cluster_state_test.rs
  src/meta/service/tests/it/tests/meta_node.rs
  src/meta/sled-store/src/sled_serde_impl.rs
  src/meta/types/src/applied_state.rs
  src/meta/types/src/cluster.rs
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/cmd/upsert_kv.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/match_seq.rs
  src/meta/types/src/node.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/meta/types/src/seq_errors.rs
  src/meta/types/src/sys_data.rs
  src/meta/types/tests/it/main.rs
  src/query/management/tests/it/role.rs
  src/query/management/tests/it/user.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/Cargo.toml
  src/query/service/src/table_functions/others/tenant_quota.rs
Labels: pr-refactor

#17590 chore: update cast.rs
  src/query/storages/common/stage/src/read/cast.rs
Labels: pr-chore

#17611 chore(optimizer): snow_plan -> good_plan
  src/query/service/tests/it/sql/planner/optimizer/data/README.md
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q1.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q3.yaml
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
Labels: pr-chore

#17613 ci: upgrade tj-actions/changed-files to v46
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/merge_group.yml
Labels: pr-build

#17612 refactor(meta): upgrade OpenRaft to v0.10.0-alpha.9
  Cargo.lock
  Cargo.toml
  src/meta/control/src/import.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/state_machine/testing.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/store.rs
  src/meta/types/src/proto_ext/raft_types_ext.rs
  src/meta/types/src/raft_types.rs
Labels: pr-refactor

#17614 chore(cluster): remove useless debug log
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
Labels: pr-chore

#17602 feat(query): add catalog stats api
  src/query/service/src/servers/http/v1/catalog/mod.rs
  src/query/service/src/servers/http/v1/catalog/stats.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
Labels: pr-feature

#17615 fix(query): fix comment display
  Cargo.lock
  Cargo.toml
  src/query/ast/src/ast/statements/data_mask.rs
  src/query/ast/src/ast/statements/dictionary.rs
  src/query/ast/src/ast/statements/network_policy.rs
  src/query/ast/src/ast/statements/password_policy.rs
  src/query/ast/src/ast/statements/sequence.rs
  src/query/ast/src/ast/statements/stream.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/service/src/interpreters/interpreter_dictionary_show_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
  tests/suites/0_stateless/02_ddl/02_0001_show_create_table.result
  tests/suites/0_stateless/02_ddl/02_0001_show_create_table.sh
Labels: pr-bugfix

#17619 feat(query): support create/drop table under iceberg catalog
  Cargo.lock
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/binaries/metabench/main.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#17629 fix(query): fix string view memory size calculate error
  src/common/column/src/binview/mod.rs
  src/common/column/tests/it/binview/mod.rs
  tests/sqllogictests/suites/base/20+_others/20_0013_query_result_cache.test
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.result
  tests/suites/1_stateful/07_stage_attachment/07_0003_insert_with_stage_file_format.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
Labels: pr-bugfix

#17626 feat(query): add iceberg table functions
  Cargo.lock
  src/query/catalog/src/table_args.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/fuse/src/table_functions/hilbert_clustering_information.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/table_args.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/iceberg_inspect.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/tpch_iceberg/table_function.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#16840 refactor(query): refactor json functions
  Cargo.lock
  Cargo.toml
  src/common/native/tests/it/native/io.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/geographic/src/geometry.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/srfs/variant.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/rows/common.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: pr-refactor

#17630 refactor(query): refactor test style
  src/query/config/src/config.rs
  src/query/config/tests/it/config.rs
  src/query/config/tests/it/main.rs
  src/query/expression/src/types/array.rs
  src/query/expression/tests/it/block.rs
  src/query/expression/tests/it/common.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_encoder/helpers/escape.rs
  src/query/formats/src/output_format/mod.rs
  src/query/formats/src/output_format/ndjson.rs
  src/query/formats/src/output_format/tsv.rs
  src/query/formats/testdata/fast_values.txt
  src/query/formats/tests/it/field_decoder/fast_values.rs
  src/query/formats/tests/it/field_decoder/mod.rs
  src/query/formats/tests/it/field_encoder/helpers.rs
  src/query/formats/tests/it/field_encoder/mod.rs
  src/query/formats/tests/it/main.rs
  src/query/formats/tests/it/output_format_json_each_row.rs
  src/query/formats/tests/it/output_format_tcsv.rs
  src/query/formats/tests/it/output_format_utils.rs
Labels: pr-refactor

#17624 feat: heartbeat to avoid query result timeout.
  src/query/service/src/servers/http/middleware/mod.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  tests/suites/1_stateful/09_http_handler/09_0010_heartbeat.py
  tests/suites/1_stateful/09_http_handler/09_0010_heartbeat.result
Labels: pr-feature

#17424 refactor: Improved Hilbert Clustering with Range Partition
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/functions/src/scalars/hilbert.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_hilbert_serialize.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/data_processor_strategy.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/hilbert_partition_exchange.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/recluster.rs
  tests/sqllogictests/suites/ee/07_hilbert_clustering/07_0000_recluster_final.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_hilbert_clustering.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/functions/02_0077_function_hilbert.test
Labels: pr-refactor, ci-cloud

#17618 refactor: Unified query for hilbert and linear clustering information
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/storages/fuse/table_functions/clustering_information_table.rs
  src/query/storages/fuse/src/table_functions/clustering_information.rs
  src/query/storages/fuse/src/table_functions/hilbert_clustering_information.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  tests/sqllogictests/scripts/prepare_iceberg_tpch_data.py
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0014_func_clustering_information_function.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0015_remote_alter_cluster_key.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0016_remote_alter_recluster.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0041_auto_compaction.test
  tests/sqllogictests/suites/ee/07_hilbert_clustering/07_0000_recluster_final.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_hilbert_clustering.test
  tests/sqllogictests/suites/mode/standalone/explain/clustering.test
  tests/sqllogictests/suites/query/case_sensitivity/name_hit.test
Labels: pr-refactor

#17636 fix: trim object preix error
  src/query/storages/common/table_meta/src/meta/utils.rs
Labels: pr-bugfix

#17632 chore: optimize show tables with multi catalogs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-chore, ci-benchmark

#17638 refactor: optimize file reading for disk-based cache on Unix
  Cargo.lock
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/benches/read_cache_content.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/disk_cache/mod.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/tests/it/providers/disk_cache.rs
Labels: pr-refactor

#17640 feat: impl function `strip_null_value` for Variant
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#17642 fix(query): fix incorrect left mark join schema
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  tests/sqllogictests/suites/query/join/left_mark.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#17644 chore: Add bendsave in release
  .github/actions/pack_binaries/action.yml
Labels: pr-chore

#17643 fix: disk cache failed to build on macOS
  src/query/storages/common/cache/benches/read_cache_content.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
Labels: pr-bugfix

#17645 chore: make error message when CTAS committing failed more user-friendly
  src/meta/app/src/app_error.rs
Labels: pr-chore

#17650 fix(ddl): fix modify column data type null to not null failed
  src/query/expression/src/values.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.sh
Labels: pr-bugfix

#17652 fix(query): to_date(9999-12-31, format_string) should success
  Cargo.lock
  src/query/functions/src/scalars/timestamp/Cargo.toml
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#17621 feat(query): support left plan's from clause contains subquery
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q1.yaml
  src/query/sql/src/executor/physical_plans/physical_constant_table_scan.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/property/builder.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/constant_table_scan.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/sort.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-feature

#17646 refactor(query): Optimizations for Variant type column filter
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/variant.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/index/src/bloom_index.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_project_set.test
Labels: pr-refactor

#17639 chore: calc rows per block for recluster
  src/common/io/src/constants.rs
  src/query/catalog/src/table.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/expression/tests/it/block.rs
  src/query/expression/tests/it/block_thresholds.rs
  src/query/expression/tests/it/main.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/data_processor_strategy.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/stage/src/read/block_builder_state.rs
  src/query/storages/stage/src/read/row_based/processors/block_builder.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
Labels: pr-chore, ci-cloud

#17657 chore: missing column index for output columns in explain verbose
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q1.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/yaml/q3.yaml
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/format/mod.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/sql/src/planner/plans/replace.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_sequence.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
  tests/sqllogictests/suites/mode/standalone/explain/insert.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/table_sample.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
Labels: pr-chore

#17663 fix(ci): flaky test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0005_remote_insert_into_select.test
Labels: pr-bugfix

#17665 ci: fix flaky ttc test
  tests/sqllogictests/src/error.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/util.rs
Labels: pr-build

#17654 chore(query): check schema mismatch in projection render result
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/mod.rs
  src/query/functions/src/test_utils.rs
  src/query/service/src/pipelines/builders/builder_project.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/sql/tests/block_operator.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-chore

#17504 feat(config): warn unknown field instead of panic on start up
  Cargo.lock
  Cargo.toml
  src/query/config/Cargo.toml
  src/query/config/src/config.rs
  src/query/config/src/lib.rs
  src/query/config/src/toml.rs
  src/query/config/tests/it/config.rs
  src/query/service/Cargo.toml
Labels: pr-feature, incompat

#17670 feat: support nextval as field default value.
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/expression/src/expression.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/pipelines/builders/builder_fill_missing_columns.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/default_expr.rs
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/scalar.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/operations/common/generators/append_generator.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/orc/src/copy_into_table/projection.rs
  src/query/storages/orc/src/copy_into_table/table.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/stage/src/read/load_context.rs
  tests/sqllogictests/suites/stage/sequence_as_default.test
  tests/suites/1_stateful/00_stage/00_0019_sequence_as_default.result
  tests/suites/1_stateful/00_stage/00_0019_sequence_as_default.sh
Labels: pr-feature

#17666 chore(query): add glob function
  Cargo.lock
  Cargo.toml
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/tests/it/scalars/regexp.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  tests/sqllogictests/suites/query/functions/02_0047_function_string_regexp_like.test
  tests/suites/0_stateless/19_fuzz/19_0002_fuzz_join.result
  tests/suites/0_stateless/19_fuzz/19_0002_fuzz_join.sh
  tests/suites/0_stateless/19_fuzz/19_0006_fuzz_random_join.result
  tests/suites/0_stateless/19_fuzz/19_0006_fuzz_random_join.sh
Labels: pr-chore

#17671 ci: release target with hdfs
  .github/workflows/release.yml
  docker/service/query.Dockerfile
Labels: pr-build

#17674 ci: fix local benchmark artifact
  .github/workflows/cloud.yml
  .github/workflows/reuse.benchmark.yml
Labels: pr-build
