Repository databendlabs/databend, pull requests merged in 2025-08, with the labels that each got.

#18456 fix(query): only account_admin role can modify setting network_policy
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
Labels: pr-bugfix

#18455 refactor: optimize list some OwnershipObjects
  src/meta/app/src/principal/tenant_ownership_object_ident.rs
  src/query/catalog/src/table_context.rs
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/interpreter_connection_show.rs
  src/query/service/src/interpreters/interpreter_show_warehouses.rs
  src/query/service/src/pipelines/processors/transforms/transform_async_function.rs
  src/query/service/src/servers/http/v1/catalog/get_database_table.rs
  src/query/service/src/servers/http/v1/catalog/list_database_table_fields.rs
  src/query/service/src/servers/http/v1/catalog/list_database_tables.rs
  src/query/service/src/servers/http/v1/catalog/list_databases.rs
  src/query/service/src/servers/http/v1/catalog/search_databases.rs
  src/query/service/src/servers/http/v1/catalog/search_tables.rs
  src/query/service/src/servers/http/v1/catalog/stats.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/src/table_functions/list_stage/list_stage_table.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/src/table_functions/show_sequences/show_sequences_table.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/expr_values.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/stages_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/user_functions_table.rs
  src/query/users/src/lib.rs
  src/query/users/src/visibility_checker.rs
Labels: pr-refactor

#18451 refactor(query): Improve parse json performance
  Cargo.lock
  Cargo.toml
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/functions/src/scalars/geographic/src/geometry.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
Labels: pr-refactor

#18467 chore: refine cte profile
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_grouping_sets_to_union.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
Labels: pr-chore

#18440 refactor(query): refactor row fetcher for avoid oom
  src/query/catalog/src/table.rs
  src/query/service/src/pipelines/builders/builder_row_fetch.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_mutation/update.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_sync.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
Labels: pr-refactor, ci-cloud

#18470 fix: collect statistics for MaterializeCTERef
  src/query/sql/src/executor/format.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/tpch/join_order.test
Labels: pr-bugfix

#18462 refactor(query): adjust the serialization of each aggregate function state one by one
  Cargo.lock
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/aggregate/aggregate_function_state.rs
  src/query/expression/src/projected_block.rs
  src/query/expression/src/types.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/adaptors/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/adaptors/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/adaptors/aggregate_combinator_state.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_sort_adaptor.rs
  src/query/functions/src/aggregates/adaptors/mod.rs
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_boolean.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_markov_tarin.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_min_max_any_decimal.rs
  src/query/functions/src/aggregates/aggregate_mode.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_range_bound.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_st_collect.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/src/test_utils.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_state.test
  tests/sqllogictests/suites/query/window_function/within_group_window.test
Labels: pr-refactor

#18468 chore(query): pick improve parse json performance to `release/v1.2.636-rc8.5`
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/tests/it/row.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/functions/src/scalars/binary.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/binary.rs
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
Labels: pr-chore

#18466 fix: make update table meta idempotent
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#18478 feat(query): Support `json_agg` function as an alias of `json_array_agg`
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-feature

#18453 feat(query): add system.zero table && support empty result for empty stage
  src/common/storage/src/stage.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/inspect_parquet/inspect_parquet_table.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/orc/src/table.rs
  src/query/storages/parquet/src/parquet_table/table.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/zero_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0016_ddl_stage.test
  tests/sqllogictests/suites/stage/formats/orc/select_orc.test
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/select_parquet.test
Labels: pr-feature

#18487 fix(query): fix update set with udf and filter
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
Labels: pr-bugfix

#18485 fix: unload to zip support file larger than 4GB.
  src/common/compress/src/encode.rs
Labels: pr-bugfix

#18491 ci: fix cat logs for metachaos
  .github/actions/artifact_meta_container_failure/action.yml
  docker/meta-chaos/meta.Dockerfile
Labels: pr-build

#18497 refactor: polish handling of fail in transaction
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/storages/common/session/src/transaction.rs
  tests/suites/1_stateful/09_http_handler/09_0008_forward.py
Labels: pr-refactor

#18502 chore(query): fix grouping function in type checker
  src/query/expression/src/type_check.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
Labels: pr-chore

#18508 fix(query): ignore group_by_shuffle_mode in grouping set query
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/planner/plans/aggregate.rs
  tests/sqllogictests/suites/tpcds/tpcds_agg.test
Labels: pr-bugfix

#18512 fix(query): fix the 'not found' error caused by heartbeat loss on the local
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/tests/it/clusters.rs
Labels: pr-bugfix

#18517 refactor(query): use default verify if the feature is not included in the license
  src/common/license/src/license.rs
  src/query/ee/src/license/license_mgr.rs
Labels: pr-refactor

#18510 feat: streaming load support session.
  src/common/base/src/headers.rs
  src/query/service/src/servers/http/middleware/json_header.rs
  src/query/service/src/servers/http/middleware/mod.rs
  src/query/service/src/servers/http/middleware/session_header.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  tests/suites/1_stateful/01_streaming_load/01_0008_streaming_load_session.result
  tests/suites/1_stateful/01_streaming_load/01_0008_streaming_load_session.sh
  tests/suites/1_stateful/09_http_handler/09_0009_cookie.py
Labels: pr-feature

#18500 feat(query): support create or replace role
  .github/actions/test_compat_fuse/action.yml
  src/meta/app/src/principal/mod.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/interpreter_role_create.rs
  src/query/service/tests/it/storages/system.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_api.rs
  src/query/users/tests/it/role_cache_mgr.rs
  src/query/users/tests/it/role_mgr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
Labels: pr-feature

#18493 feat: support push down filter to materialized cte
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/physical_cte_consumer.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_cte.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/optimizer/ir/format.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/optimizers/cte_filter_pushdown.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/optimizers/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/cte/cleanup_unused_cte.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_grouping_sets_to_union.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/join_rules/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/statistics/collect_statistics.rs
  src/query/sql/src/planner/plans/cte_consumer.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/operator_macros.rs
  tests/sqllogictests/suites/mode/standalone/explain/cte_filter_pushdown.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/tpch/join_order.test
Labels: pr-feature, ci-cloud

#18516 feat(query): Vector index support filter pushdown
  Cargo.lock
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/vector_index/pruning.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/rule_push_down_prewhere.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/rule_push_down_sort_filter_scan.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  src/query/storages/fuse/src/pruning/vector_index_pruner.rs
  tests/sqllogictests/suites/ee/09_ee_vector_index/09_0000_vector_index_base.test
Labels: pr-feature

#18504 fix: improve error handling in history table
  src/common/tracing/src/predefined_tables/history_tables.toml
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/history_tables/meta.rs
Labels: pr-bugfix, pr-refactor

#18527 refactor: polish session in HTTP handler
  Cargo.lock
  src/query/service/src/servers/http/middleware/session_header.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/client/global_cookie_store.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/src/client/mod.rs
  tests/suites/1_stateful/09_http_handler/09_0007_session.py
Labels: pr-refactor

#18534 refactor(meta): add state machine lock guards with debugging
  src/meta/control/src/import.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/api/http/v1/features.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/lock_guards.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
  src/meta/service/tests/it/store.rs
Labels: pr-refactor

#18532 chore: added the `enable_binary_to_utf8_lossy` option for inserting lossy utf8 data
  src/query/expression/src/function.rs
  src/query/functions/src/scalars/binary.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-chore

#18538 fix(query): panic if explaining complex joins
  src/query/service/src/interpreters/interpreter_explain.rs
  tests/sqllogictests/suites/ydb/select1-1.test
Labels: pr-bugfix

#18539 feat(scripts): add databend-meta log collection tool
  scripts/devops-meta/collect_meta_logs.py
  src/meta/service/src/store/store_inner.rs
Labels: pr-feature

#18541 refactor(meta-service): optimize state machine block loading with early cache checks
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/sm_v003/writer_v003.rs
  src/meta/service/src/store/lock_guards.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#18559 chore: change default telemetry endpoint
  src/common/building/src/lib.rs
Labels: pr-chore

#18563 refactor: simplify database setup using Util across multiple test scenarios
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-refactor

#18530 refactor: simplify session for worksheet.
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/middleware/session_header.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  tests/suites/1_stateful/09_http_handler/09_0007_session.py
Labels: pr-refactor, ci-cloud

#18565 refactor: replace manual database setup with Util across multiple test cases
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-refactor

#18568 chore(query): allow row as column ident
  src/query/ast/src/parser/common.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
Labels: pr-chore

#18572 refactor(query): add local semaphore for reduce meta's request
  src/common/base/src/runtime/workload_group.rs
  src/query/management/src/workload/workload_resource.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-refactor

#18571 chore: improve the unwrap error
  src/query/pipeline/core/src/finished_chain.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/duplicate_processor.rs
  src/query/pipeline/core/src/processors/port_trigger.rs
  src/query/pipeline/core/src/processors/resize_processor.rs
  src/query/pipeline/core/src/processors/sequence_group.rs
  src/query/pipeline/core/src/processors/shuffle_processor.rs
  src/query/pipeline/sinks/src/async_mpsc_sink.rs
  src/query/pipeline/sinks/src/async_sink.rs
  src/query/pipeline/sinks/src/sync_mpsc_sink.rs
  src/query/pipeline/sinks/src/sync_sink.rs
  src/query/pipeline/sinks/src/sync_sink_sender.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/servers/http/middleware/session_header.rs
  src/query/settings/src/settings.rs
  tests/suites/1_stateful/09_http_handler/09_0007_session.py
Labels: pr-chore

#18573 refactor: consolidate schema_api_test_suite CreateTableReq patterns with enhanced create_table_with
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-refactor

#18550 feat(query): Enhance JSON parsing support extended json5 syntax
  Cargo.lock
  Cargo.toml
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0048_function_semi_structureds_parse_json.test
  tests/sqllogictests/suites/stage/formats/csv/csv_types.test
Labels: pr-feature

#18578 chore: improve the queue status
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-chore

#18579 refactor(query): add lock for meta semaphore request
  src/common/base/src/runtime/workload_group.rs
  src/query/management/src/workload/workload_resource.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-refactor

#18589 fix(query): prevent stack overflow in PhysicalPlan recursion
  src/query/service/src/physical_plans/physical_plan.rs
Labels: pr-bugfix

#18587 fix: `login_history` missing username when password incorrect
  src/query/service/src/auth.rs
  src/query/service/src/servers/http/middleware/session.rs
  tests/logging/check_logs_table.sh
  tests/logging/history_table/check_logs_table.sh
  tests/logging/history_table/history_table.toml
  tests/logging/history_table/history_table_external.toml
  tests/logging/history_table/history_table_meta.toml
  tests/logging/history_table/run_all_tests.sh
  tests/logging/history_table/setup_test_data.sh
  tests/logging/history_table/test_permissions.sh
  tests/logging/test-history-tables.sh
Labels: pr-bugfix

#18591 feat(telemetry): add meta endpoints information to telemetry data
  src/query/service/src/clusters/cluster.rs
Labels: pr-feature

#18593 feat(config): improve spill configuration with structured
  src/query/config/src/config.rs
  src/query/config/src/mask.rs
  src/query/config/tests/it/config.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/spillers/mod.rs
  src/query/service/tests/it/spillers/spill_config_behavior.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#18597 fix(query): domain calc for int64 to timestamp is incorrect
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
Labels: pr-bugfix

#18604 ci: fix cancelled conclusion
  .github/scripts/retry_failed_jobs.js
Labels: pr-build

#18600 feat(meta-service): add a node to cluster as learner: databend-meta --join ... --learner
  src/meta/raft-store/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-feature

#18611 ci: build build-tool on arm64
  .github/workflows/build_tool.yml
Labels: pr-build

#18612 ci: remove deprecated alpine build image
  docker/build-tool/alpine/Dockerfile
Labels: pr-build

#18614 ci: remove nextest from dev image
  scripts/setup/rust-tools.txt
Labels: pr-build

#18608 refactor(meta-service): replace Vec with BTreeMap in ImmutableLevels
  src/meta/raft-store/src/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/leveled_store/level_index.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compactor.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compactor_acquirer.rs
  src/meta/raft-store/src/leveled_store/leveled_map/map_api_impl.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-refactor

#18619 refactor: restructure leveled map data architecture
  src/meta/raft-store/src/applier/applier_data.rs
  src/meta/raft-store/src/applier/applier_data/impl_expire_scoped_view.rs
  src/meta/raft-store/src/applier/applier_data/impl_expire_scoped_view_readonly.rs
  src/meta/raft-store/src/applier/applier_data/impl_user_scoped_view.rs
  src/meta/raft-store/src/applier/applier_data/impl_user_scoped_view_readonly.rs
  src/meta/raft-store/src/applier/applier_data/mod.rs
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/impl_commit.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/impl_view_readonly.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/mod.rs
  src/meta/raft-store/src/leveled_store/leveled_map/map_api_impl.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
Labels: pr-refactor

#18628 ci: allow backport PRs to build cloud image
  .github/workflows/cloud.yml
Labels: pr-build

#18616 feat(query): Hierarchical Grouping Sets Optimization
  CLAUDE.md
  src/query/functions/src/aggregates/aggregate_sum_zero.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/service/src/physical_plans/physical_aggregate_final.rs
  src/query/service/src/physical_plans/physical_cte_consumer.rs
  src/query/sql/src/planner/optimizer/ir/property/property.rs
  src/query/sql/src/planner/optimizer/optimizer_context.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_hierarchical_grouping_sets.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
Labels: pr-feature

#18617 chore: migrating vergen to v9
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  src/binaries/query/entry.rs
  src/common/building/Cargo.toml
  src/common/building/src/lib.rs
  src/common/building/src/license.rs
  src/common/version/Cargo.toml
  src/common/version/src/lib.rs
  src/meta/binaries/meta/entry.rs
Labels: pr-chore

#18634 chore: rm unused test and data.
  .github/actions/test_ee_standalone_linux/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  tests/data/iceberg/README.md
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00000-0-3477b604-7e45-4ff5-96c0-e9c276a6673f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00000-3-496a4bb2-f1bc-4617-a73c-56f83e893c3f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00001-1-3477b604-7e45-4ff5-96c0-e9c276a6673f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00001-4-496a4bb2-f1bc-4617-a73c-56f83e893c3f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00002-2-3477b604-7e45-4ff5-96c0-e9c276a6673f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/data/00002-5-496a4bb2-f1bc-4617-a73c-56f83e893c3f-00001.parquet
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/00000-6a821f7a-0eb5-4a24-8ec6-35be5261d140.metadata.json
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/00001-7d548a72-6363-484f-9117-35f1f5b73453.metadata.json
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/00002-06fbf608-70dc-4ad5-8cd7-9d08d6e9b556.metadata.json
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/4c861534-bbeb-4446-b216-940724da9e90-m0.avro
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/a7970f94-63ab-48ce-87d0-2ec613a9bafe-m0.avro
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/snap-1620235913653295893-1-a7970f94-63ab-48ce-87d0-2ec613a9bafe.avro
  tests/data/iceberg/iceberg_ctl/iceberg_db/iceberg_tbl/metadata/snap-3631613356126113181-1-4c861534-bbeb-4446-b216-940724da9e90.avro
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.result
  tests/suites/1_stateful/10_iceberg/10_0002_iceberg_engine.sh
Labels: pr-chore

#18624 fix(test): flaky test from history table permit guard
  src/query/service/src/history_tables/meta.rs
Labels: pr-bugfix

#18633 chore(meta-service): adjust internal structure for state machine
  src/meta/raft-store/src/leveled_store/db_builder.rs
  src/meta/raft-store/src/leveled_store/leveled_map/acquire_compactor_test.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compactor.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/mod.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-chore

#18636 feat(query): add rule_merge_limit
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/limit_rules/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/limit_rules/rule_merge_limit.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
Labels: pr-feature

#18643 refactor(exception): enhance ErrorCodeResultExt with comprehensive error codes
  src/common/exception/src/exception.rs
  src/common/exception/tests/it/error_code_result_ext.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/iceberg/iceberg_catalog.rs
  src/query/users/src/network_policy.rs
  src/query/users/src/password_policy.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_stage.rs
Labels: pr-refactor

#18648 feat: implement separate RPC delay metrics for read and write operations
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
  src/meta/service/tests/it/api/http/metrics.rs
Labels: pr-feature

#18650 refactor(schema-api): extract DatabaseApi trait from SchemaApi
  src/meta/api/src/database_api.rs
  src/meta/api/src/database_util.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/util.rs
  src/meta/binaries/metabench/main.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: pr-refactor

#18631 ci: add test_compat_client_standalone
  .github/actions/test_compat_client_standalone/action.yml
  .github/workflows/reuse.linux.yml
  tests/nox/cache/jdbc/.gitignore
  tests/nox/cache/lib/.gitignore
  tests/nox/java_client/perpare.py
  tests/nox/java_client/testng.xml
  tests/nox/noxfile.py
  tests/nox/pyproject.toml
  tests/nox/python_client/__init__.py
  tests/nox/python_client/test_basic.py
  tests/nox/python_client/test_data_type.py
  tests/nox/python_client/test_local.py
  tests/nox/python_client/test_select_params.py
  tests/nox/python_client/utils.py
  tests/nox/requirements.txt
  tests/nox/test-output/.gitignore
  tests/nox/testdata/test.csv
Labels: pr-build

#18652 refactor(schema-api): extract TableApi and IndexApi traits
  src/meta/api/src/index_api.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/meta/binaries/metabench/main.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-refactor

#18653 ci: add telemetry source tracking for build environment identification
  .github/workflows/cloud.yml
  .github/workflows/main.yml
  .github/workflows/merge_group.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
  src/common/building/src/lib.rs
  src/common/version/src/lib.rs
  src/query/service/src/clusters/cluster.rs
  tests/nox/java_client/perpare.py
  tests/nox/noxfile.py
  tests/nox/python_client/test_basic.py
Labels: pr-build
