Repository databendlabs/databend, pull requests merged in 2025-02, with the labels that each got.

#17385 feat(query): support extract EPOCH from timestamp
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#17391 chore(query): row fetch will be fetched by distinct block batch
  Cargo.lock
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
Labels: pr-chore

#17399 fix(query): fix time parser with enable_strict_datetime_parser = 0
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#17402 fix(query): fix lambda function bind column failed
  src/query/sql/src/planner/expression_parser.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-bugfix

#17403 fix(query): fix months_between overflow error
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17375 fix(query): Align TRIM functions semantically with Snowflake
  src/query/ast/src/parser/expr.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/query/functions/02_0020_function_strings_ltrim.test
  tests/sqllogictests/suites/query/functions/02_0021_function_strings_rtrim.test
  tests/sqllogictests/suites/query/functions/02_0055_function_strings_trim.test
Labels: pr-bugfix

#17379 feat(query): interval support agg func sum
  src/common/column/src/types/native.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  tests/sqllogictests/suites/base/11_data_type/11_0007_data_type_interval.test
Labels: pr-feature

#17407 feat(query): support DATE_TRUNC('WEEK', EXPR)->DATE
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#17409 fix(query): fix resolve decimal
  src/query/ast/src/parser/expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#17414 chore(udf): tune the log message about udf decode error
  src/query/expression/src/utils/udf_client.rs
Labels: pr-chore

#17413 chore: refine copy into tests
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.sh
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.sh
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
Labels: pr-chore

#17368 refactor: refine `replace into` by caching individual BlockMeta
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_operation_agg.rs
Labels: pr-refactor

#16724 chore(metrics): add metric about opendal retries count
  src/common/storage/src/operator.rs
Labels: pr-chore

#17416 fix(ci): fix Link Checker
  .github/workflows/links.yml
  README.md
Labels: pr-bugfix

#17410 feat(auth): auto retry on jwks key not found
  src/query/users/src/jwt/authenticator.rs
  src/query/users/src/jwt/jwk.rs
  src/query/users/tests/it/jwt/jwk.rs
  src/query/users/tests/it/jwt/mod.rs
Labels: pr-feature

#17417 feat(query): Allow extract parts from interval type
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/11_data_type/11_0007_data_type_interval.test
Labels: pr-feature

#17419 chore: Use tagged version of opendal
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#17422 fix(query): to_yyyymmddhhmmss only support timestamp type
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17420 fix(query): group checker subquery
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#17423 fix(query): if arg is Scalar::null or a null column ignore null will invalid
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  tests/sqllogictests/suites/query/window_function/window_ignore_nulls.test
Labels: pr-bugfix

#17425 chore: use Box::leak() to ensure logging guard lives for the program's lifetime
  src/meta/binaries/meta/entry.rs
  src/meta/binaries/metactl/main.rs
  src/meta/binaries/metaverifier/main.rs
  src/meta/process/src/examples.rs
Labels: pr-chore

#17412 chore(query): cast variant to other type allow cast JSON null as SQL NULL
  src/query/expression/src/evaluator.rs
  src/query/expression/src/types.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/filter.test
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-chore

#17427 fix(query): cte recursive check
  .github/workflows/links.yml
  README.md
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_subquery.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/cte/cte.test
  tests/sqllogictests/suites/query/subquery.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
Labels: pr-bugfix

#17429 ci: fix release type for nightly cron
  .github/scripts/bump_version.js
  .github/workflows/release.yml
Labels: pr-build

#17428 feat(query): array function support variant type as argument
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-feature

#17430 chore(query): add new session setting: query_tag
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/system/src/query_log_table.rs
  tests/sqllogictests/suites/base/06_show/06_0003_show_settings.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/suites/0_stateless/20+_others/20_0024_session_query_tag.result
  tests/suites/0_stateless/20+_others/20_0024_session_query_tag.sh
Labels: pr-chore

#17434 fix(query): fix variant value can not cast to not null type
  src/query/expression/src/evaluator.rs
  tests/sqllogictests/suites/base/03_common/03_0014_insert_into_select.test
Labels: pr-bugfix

#17431 feat(query): add bucket name to storage http request metrics
  src/common/metrics/src/metrics/storage.rs
  src/common/storage/src/http_client.rs
Labels: pr-feature

#17435 refactor(query): refactor variant cast to types
  src/query/expression/src/evaluator.rs
  src/query/expression/src/values.rs
  tests/sqllogictests/suites/base/03_common/03_0014_insert_into_select.test
Labels: pr-refactor

#17438 fix(doc): fix load tpcds tpch document
  benchmark/tpcds/README.md
  benchmark/tpcds/load_data.sh
  benchmark/tpch/README.md
  benchmark/tpch/gen_data.sh
  benchmark/tpch/load_data.sh
  benchmark/tpch/tpch.sh
Labels: pr-bugfix

#17445 chore: update enterprise edition license url
  src/query/ee/src/license/license_mgr.rs
  src/query/ee_features/resources_management/src/resources_management.rs
Labels: pr-chore

#17449 chore(query): testing tpch/tpcds using 1G scale factor
  .github/actions/setup_test/action.yml
  benchmark/tpcds/shell_env.sh
  benchmark/tpch/shell_env.sh
  benchmark/tpch/tpch.sh
  src/query/sql/src/planner/binder/sort.rs
  tests/shell_env.sh
  tests/sqllogictests/scripts/prepare_duckdb_tpcds_data.py
  tests/sqllogictests/scripts/prepare_duckdb_tpch_data.py
  tests/sqllogictests/scripts/prepare_spill_data.sh
  tests/sqllogictests/scripts/prepare_tpcds_data.sh
  tests/sqllogictests/scripts/prepare_tpch_data.sh
  tests/sqllogictests/src/arg.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/spill/cross_join.test
  tests/sqllogictests/suites/spill/inner_join_spill.test
  tests/sqllogictests/suites/spill/right_join_spill.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/spill.test_skip
  tests/sqllogictests/suites/tpcds/validate_duckdb.py
  tests/sqllogictests/suites/tpch/join.test
  tests/sqllogictests/suites/tpch/join_order.test
  tests/sqllogictests/suites/tpch/queries.test
  tests/sqllogictests/suites/tpch/sample.test
  tests/sqllogictests/suites/tpch/spill.test
  tests/sqllogictests/suites/tpch/validate_duckdb.py
  tests/sqllogictests/suites/tpch_spill/cross_join.test
  tests/sqllogictests/suites/tpch_spill/inner_join_spill.test
  tests/sqllogictests/suites/tpch_spill/left_join_spill.test
  tests/sqllogictests/suites/tpch_spill/right_join_spill.test
Labels: pr-chore

#17454 ci: fix missing return for stable release
  .github/scripts/bump_version.js
Labels: pr-build

#17456 ci: fix publish binary to R2
  .github/actions/publish_binary/action.yml
  .github/actions/publish_deb/action.yml
Labels: pr-build

#17197 chore(metrics): tune the histogram bucket for seconds/milliseconds
  src/common/base/src/runtime/metrics/histogram.rs
  src/common/base/tests/it/metrics/registry.rs
Labels: pr-chore

#17453 fix(query): fix WindowPartitionTopNExchange painc with an empty block
  src/query/pipeline/core/src/processors/shuffle_processor.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_partial_top_n_exchange.rs
  src/query/sql/src/executor/format.rs
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-bugfix

#17455 fix(parser): allow timestamp as a function name
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
Labels: pr-bugfix

#17457 fix(query): fix order by derived column with limit return wrong values
  src/query/sql/src/executor/physical_plans/physical_table_scan.rs
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/base/03_common/03_0004_select_order_by.test
  tests/sqllogictests/suites/mode/standalone/explain/sort.test
Labels: pr-bugfix

#17352 feat: Add hdfs support in iceberg and fill iceberg statistics
  Cargo.lock
  Cargo.toml
  src/query/functions/src/scalars/other.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/sql/src/planner/binder/ddl/dictionary.rs
  src/query/sql/src/planner/binder/ddl/stream.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/ddl/view.rs
  src/query/sql/src/planner/binder/ddl/virtual_column.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/predicate.rs
  src/query/storages/iceberg/src/statistics.rs
  src/query/storages/iceberg/src/stats.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/tpch_iceberg/prune.test
Labels: pr-feature, ci-cloud

#17442 feat: support specifying columns to include in the "Attach table" statement
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/ee/src/attach_table/handler.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.result
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.sh
Labels: pr-feature

#17448 fix(query): fold constant subquery to build filter plan instead of join plan
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#17458 fix(query): fix left semi optimize to inner join
  src/query/expression/src/types/date.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
  tests/sqllogictests/suites/tpcds/queries.test
  tests/sqllogictests/suites/tpcds/validate_duckdb.py
  tests/sqllogictests/suites/tpch/validate_duckdb.py
Labels: pr-bugfix

#17359 feat(metrics): add progress metrics via collector
  Cargo.lock
  src/common/base/src/base/progress.rs
  src/common/base/src/runtime/metrics/registry.rs
  src/common/metrics/src/metrics/interpreter.rs
  src/query/catalog/src/table_context.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_mgr_metrics.rs
Labels: pr-feature, ci-benchmark

#17463 fix(query): fix bind internal column
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/05_ddl/05_0031_internal_column.test
Labels: pr-bugfix

#17467 fix(query): spill config should be mask
  src/query/config/src/mask.rs
Labels: pr-bugfix

#17464 feat(binder): support update from
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/ast/statements/update.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/binder/bind_mutation/delete.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_mutation/update.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/mode/standalone/explain/update.test
Labels: pr-feature

#17466 fix(query): fix variant get string function auto cast null to SQL NULL
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  tests/sqllogictests/suites/query/functions/02_0051_function_semi_structureds_get.test
Labels: pr-bugfix

#17471 feat(query): add table stats api to admin interface
  src/query/service/src/servers/admin/admin_service.rs
  src/query/service/src/servers/admin/v1/mod.rs
  src/query/service/src/servers/admin/v1/tenant_table_stats.rs
Labels: pr-feature

#17469 chore(query): add monotonicity function property
  src/query/expression/src/evaluator.rs
  src/query/expression/src/function.rs
  src/query/expression/src/property.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/storages/fuse/src/table_functions/clustering_information.rs
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
Labels: pr-chore

#17461 fix: InterpreterMetrics could subtract with overflow
  src/query/service/src/interpreters/interpreter_metrics.rs
Labels: pr-bugfix

#17468 feat: Use max/min to estimate ndv
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/plans/scan.rs
  tests/sqllogictests/suites/tpch_iceberg/prune.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature, ci-cloud

#17475 fix(query): fix stack overflow if excessive use of union all
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/src/lib.rs
  src/common/exception/src/parser_error.rs
  src/common/exception/src/span.rs
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/query.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/error.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/lib.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/lib.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/optimizer/aggregate/normalize_aggregate.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/filter/deduplicate_join_condition.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/filter/normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/filter/pull_up_filter.rs
  src/query/sql/src/planner/optimizer/memo.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/window.rs
  tests/suites/0_stateless/20+_others/20_0025_stackoverflow.result
  tests/suites/0_stateless/20+_others/20_0025_stackoverflow.sh
  tests/suites/0_stateless/20+_others/books.parquet
Labels: pr-bugfix

#17480 fix: check table mutability in `copy into`
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.result
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.sh
Labels: pr-bugfix

#17482 refactor: s3 region auto detect error add timeout/endpoint
  src/meta/app/src/storage/storage_params.rs
Labels: pr-refactor

#17486 ci: fix download deb packages
  .github/actions/publish_deb/action.yml
Labels: pr-build

#17487 ci: fix gpg key for deb distribution
  .github/workflows/dev.yml
  scripts/distribution/deb/conf/distributions
Labels: pr-build

#17472 ci: add view sqlsmith test
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-build

#17484 fix: impl hive disable_table_info_refresh for hive to avoid error when show table status from
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0029_ddl_create_catalog.test
Labels: pr-bugfix

#17488 ci: package meta & query deb separately
  .github/actions/pack_binaries/action.yml
  .github/actions/pack_deb/action.yml
  .github/actions/publish_deb/action.yml
  .github/workflows/release.yml
  scripts/distribution/local-scripts/start.sh
  scripts/distribution/local-scripts/stop.sh
  scripts/distribution/nfpm-meta.yaml
  scripts/distribution/nfpm-query-dbg.yaml
  scripts/distribution/nfpm-query.yaml
  scripts/distribution/release-readme.txt
Labels: pr-build

#17481 chore(query): add placeholder parser
  Cargo.lock
  Cargo.toml
  src/common/exception/Cargo.toml
  src/common/exception/src/exception.rs
  src/common/exception/src/exception_into.rs
  src/common/exception/src/lib.rs
  src/query/ast/Cargo.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/error.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser_error.rs
  src/query/ast/src/span.rs
  src/query/ast/src/visitor.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/semantic/type_check.rs
Labels: pr-chore

#17483 fix(binder): AggregateRewriter should skip the rewrite of Pivot.aggregate
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/semantic/aggregate_rewriter.rs
  tests/sqllogictests/suites/query/pivot.test
Labels: pr-bugfix

#17437 feat(query): add markov model function and feistel function for obfuscator
  Cargo.lock
  src/common/base/Cargo.toml
  src/common/base/src/lib.rs
  src/common/base/src/obfuscator.rs
  src/query/expression/src/types/map.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_markov_tarin.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/src/aggregates/mod.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/src/scalars/obfuscator.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/obfuscator.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/obfuscator.txt
  src/query/sql/src/planner/binder/bind_table_reference/bind_obfuscate.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/bind_table_reference/mod.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_table_function_obfuscate.test
  tests/sqllogictests/suites/query/functions/02_0000_function_markov.test
Labels: pr-feature

#17492 chore(ci): fix benchmark comment failure
  .github/workflows/reuse.benchmark.yml
Labels: pr-chore, ci-benchmark

#17489 feat(sqlsmith): fuzz test support more dbs as seed
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/util.rs
Labels: pr-feature

#17490 fix(query): unsupport datetime format item should not return panic error
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/lib.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17494 chore: add more log info(like temp dir) for the vacuum temp files hook
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
Labels: pr-chore

#17496 chore: Split metactl into lib meta/control and bin metactl
  Cargo.lock
  Cargo.toml
  src/meta/binaries/Cargo.toml
  src/meta/binaries/metactl/main.rs
  src/meta/control/Cargo.toml
  src/meta/control/build.rs
  src/meta/control/src/admin.rs
  src/meta/control/src/args.rs
  src/meta/control/src/export_from_disk.rs
  src/meta/control/src/export_from_grpc.rs
  src/meta/control/src/import.rs
  src/meta/control/src/import_v004.rs
  src/meta/control/src/lib.rs
  src/meta/control/src/reading.rs
  src/meta/control/src/upgrade.rs
Labels: pr-chore

#17500 fix(binder): different UDAF call must have unique display_name
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/base/03_common/03_0047_select_udaf.test
Labels: pr-bugfix

#17505 feat: `SHOW CREATE TABLE` add quote for ident
  src/query/ast/src/ast/quote.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/src/utils/display.rs
  src/query/service/src/interpreters/interpreter_dictionary_show_create.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/servers/admin/v1/tenant_tables.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
Labels: pr-feature

#17262 feat: object warehouse support rbac
  src/meta/app/src/principal/ownership_object.rs
  src/meta/app/src/principal/tenant_ownership_object_ident.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_privilege.rs
  src/meta/proto-conv/src/ownership_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v120_warehouse_ownershipobject.rs
  src/meta/protos/proto/ownership.proto
  src/query/ast/src/ast/statements/principal.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/common.rs
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/grant.rs
  src/query/service/src/interpreters/interpreter_create_warehouses.rs
  src/query/service/src/interpreters/interpreter_drop_warehouses.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_show_warehouses.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_mgr.rs
  src/query/users/src/visibility_checker.rs
  tests/compat_fuse/compat-logictest/rbac/fuse_compat_write
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
  tests/sqllogictests/suites/task/task_ddl_transaction_test.test
Labels: pr-feature, ci-cloud

#17478 feat: (semi-)sync table/field comments with the table being attached
  src/query/ee/src/attach_table/handler.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_drop_column.rs
  src/query/service/src/test_kits/check.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/revert.rs
  src/query/storages/fuse/src/operations/snapshot_hint.rs
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.result
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.sh
Labels: pr-feature

#17510 feat(raft-log): enhance raft-log reliability and add compatibility tests
  Cargo.lock
  Cargo.toml
Labels: pr-feature

#17508 feat: add log.file.max_size and rolling test
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/loggers.rs
  src/common/tracing/tests/it/logger.rs
  src/common/tracing/tests/it/main.rs
  src/meta/binaries/metabench/main.rs
  src/meta/binaries/metactl/main.rs
  src/meta/binaries/metaverifier/main.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-feature

#17513 chore: modify license url
  src/query/ee/src/license/license_mgr.rs
Labels: pr-chore

#17512 feat: csv/tsv/ndjson support querying file meta data.
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/catalog/src/plan/datasource/datasource_plan.rs
  src/query/catalog/src/plan/internal_column.rs
  src/query/expression/src/schema.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/internal_column_factory.rs
  src/query/storages/fuse/src/operations/read_data.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/row_based/format.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/ndjson/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/tsv/block_builder.rs
  src/query/storages/stage/src/read/row_based/processors/block_builder.rs
  src/query/storages/stage/src/read/row_based/read_pipeline.rs
  src/query/storages/stage/src/stage_table.rs
  tests/sqllogictests/scripts/prepare_stage.sh
  tests/sqllogictests/suites/stage/formats/csv/csv_metadata.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_metadata.test
  tests/sqllogictests/suites/stage/formats/tsv/tsv_metadata.test
Labels: pr-feature

#17515 chore: refine some fuse_time_travel_size related logs
  src/query/storages/common/table_meta/src/table/table_prefix.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/snapshot_hint.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
Labels: pr-chore

#17511 refactor: re-generate hint file after alter table operations
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_comment.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.result
  tests/suites/5_ee/04_attach_read_only/02_0004_attach_table.sh
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.result
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.sh
Labels: pr-refactor

#17518 feat(query): support `explain(DECORRELATED,verbose)`
  src/query/ast/src/ast/statements/explain.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/planner/binder/explain.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_verbose.test
Labels: pr-feature

#17517 feat(query): add show_roles table function
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/access/management_mode_access.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_role_show.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/show_roles/mod.rs
  src/query/service/src/table_functions/show_roles/show_roles_table.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/tasks_table.rs
  tests/sqllogictests/suites/base/06_show/06_0007_show_roles.test
  tests/sqllogictests/suites/base/06_show/06_0011_show_stages.test
  tests/sqllogictests/suites/base/06_show/06_0016_show_users.test
Labels: pr-feature

#17516 fix(query): tpcds q69 fail
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_state.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/planner/optimizer/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/push_down_filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/filter_nulls.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/clustering.test
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_table_function_obfuscate.test
  tests/sqllogictests/suites/mode/standalone/explain/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/materialized_cte.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/outer_to_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/mode/standalone/explain/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/update.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/cycles.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/star.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_inner.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select_limit_offset.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-bugfix

#17527 feat: support query metadata from parquet.
  src/query/service/tests/it/parquet_rs/prune_row_groups.rs
  src/query/storages/delta/src/table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/partition.rs
  src/query/storages/parquet/src/parquet_rs/pruning.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/sqllogictests/suites/stage/formats/parquet/parquet_metadata.test
Labels: pr-feature

#17529 fix(query): fix display ast with quoted comments
  src/query/ast/src/ast/common.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  tests/sqllogictests/src/util.rs
Labels: pr-bugfix

#17524 fix: ensure result correctness when enable pruning cache
  scripts/ci/ci-run-stateful-tests-cluster-minio.sh
  scripts/ci/ci-run-stateful-tests-standalone-minio.sh
  src/query/storages/fuse/src/operations/read_partitions.rs
  tests/suites/1_stateful/02_query/02_0010_issue_17523.result
  tests/suites/1_stateful/02_query/02_0010_issue_17523.sh
Labels: pr-bugfix

#17521 chore(query): allow arrow dictionary array into databend
  src/query/expression/src/converts/arrow/from.rs
  src/query/expression/tests/it/arrow.rs
  src/query/expression/tests/it/main.rs
Labels: pr-chore

#17522 feat: skip reading empty files when load/query location.
  src/query/storages/parquet/src/parquet_rs/copy_into_table/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/stage/src/stage_table.rs
  tests/data/empty.txt
  tests/sqllogictests/suites/stage/empty_file.test
Labels: pr-feature

#17530 fix(query): user/role name not support \b and \f
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/binder/util.rs
  tests/sqllogictests/suites/base/05_ddl/05_0004_ddl_create_user.test
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
Labels: pr-bugfix

#17532 refactor: remove timeout from snapshot hint refresh process
  src/query/storages/fuse/src/fuse_table.rs
Labels: pr-refactor

#17534 fix(query): ident role_name not support ' " \b \f in parse
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  tests/sqllogictests/suites/base/05_ddl/05_0014_ddl_create_role.test
Labels: pr-bugfix
