Repository databendlabs/databend, pull requests merged in 2025-04, with the labels that each got.

#17667 refactor: use `BlocksSerializer` to replace `StringBlock` to simplify the serialization
  Cargo.lock
  src/query/service/Cargo.toml
  src/query/service/src/servers/flight_sql/flight_sql_service/query.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/query/blocks_serializer.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/mod.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/query/string_block.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/servers/http/json_block.rs
Labels: pr-refactor

#17658 feat: impl function: `regexp_extract` & `regexp_extract_all`
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/tests/it/scalars/regexp.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  tests/sqllogictests/suites/query/functions/02_0081_function_string_regexp_extract.test
Labels: pr-feature

#17681 chore: Always print detailed error from opendal
  src/common/exception/src/exception_into.rs
Labels: pr-chore

#17686 fix: Enforce storage http client to use native tls
  src/common/base/src/http_client.rs
Labels: pr-bugfix

#17684 feat(query): support mul fro interval type with int types
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-feature

#17688 chore: use default encoding of parquet columns instead of plain.
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/1_stateful/00_stage/00_0005_copy_into_location.result
  tests/suites/1_stateful/00_stage/00_0017_copy_into_parquet.sh
  tests/suites/1_stateful/00_stage/00_0019_sequence_as_default.result
Labels: pr-chore

#17673 fix(query): fix variant failed to successfully apply virtual column in bind join
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
Labels: pr-bugfix

#17690 chore(query): Making Column Debug more readable
  src/common/column/src/binary/fmt.rs
  src/common/column/src/lib.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/bitmap.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geography.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/storages/common/index/tests/it/testdata/test_bloom_filter.txt
Labels: pr-chore

#17691 feat: impl udf server add custom header
  src/meta/app/src/principal/user_defined_function.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/v058_udf.rs
  src/meta/proto-conv/tests/it/v079_udf_created_on.rs
  src/meta/proto-conv/tests/it/v081_udf_script.rs
  src/meta/proto-conv/tests/it/v124_udf_server_headers.rs
  src/meta/protos/proto/udf.proto
  src/query/ast/src/ast/statements/udf.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/expression/src/utils/udf_client.rs
  src/query/management/tests/it/udf.rs
  src/query/service/src/builtin/builtin_udfs.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/sql/src/executor/physical_plans/physical_udf.rs
  src/query/sql/src/planner/binder/sort.rs
  src/query/sql/src/planner/binder/udf.rs
  src/query/sql/src/planner/optimizer/operator/decorrelate/flatten_scalar.rs
  src/query/sql/src/planner/optimizer/operator/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/users/tests/it/user_udf.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/udf/udf_server.py
Labels: pr-feature

#17695 fix: persistent log table may loss records when shutdown
  src/common/tracing/src/lib.rs
  src/common/tracing/src/remote_log.rs
  src/common/tracing/tests/it/remote_log.rs
Labels: pr-bugfix

#17693 feat(query): support query iceberg table by version
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/tpch_iceberg/table_function.test
Labels: pr-feature

#17701 fix: flaky unit test `test_persistent_log_write`
  src/query/service/tests/it/persistent_log/global_persistent_log.rs
Labels: pr-bugfix

#17669 refactor(query): rewrite function call expr to cast expr
  src/query/expression/src/expression.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/tests/it/display.rs
  src/query/expression/tests/it/main.rs
  src/query/functions/tests/it/main.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic.txt
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/bitmap.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/control.txt
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/geo.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  src/query/functions/tests/it/scalars/testdata/geography.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  src/query/functions/tests/it/scalars/testdata/hash.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/functions/tests/it/scalars/testdata/math.txt
  src/query/functions/tests/it/scalars/testdata/misc.txt
  src/query/functions/tests/it/scalars/testdata/obfuscator.txt
  src/query/functions/tests/it/scalars/testdata/other.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/type_check.rs
  src/query/functions/tests/it/type_check/testdata/decimal.txt
  src/query/functions/tests/it/type_check/testdata/float.txt
  src/query/functions/tests/it/type_check/testdata/nullable_signed.txt
  src/query/functions/tests/it/type_check/testdata/nullable_unsigned.txt
  src/query/functions/tests/it/type_check/testdata/signed.txt
  src/query/functions/tests/it/type_check/testdata/unsigned.txt
  src/query/service/src/servers/flight/v1/scatter/flight_scatter_hash.rs
  src/query/sql/src/planner/binder/column_binding.rs
  src/query/sql/src/planner/semantic/lowering.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/index/tests/it/testdata/test_bloom_filter.txt
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/fuse/src/table_functions/fuse_encoding.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/select.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain_native/select.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
Labels: pr-refactor

#17699 fix: DNS resolve error in some cases
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/http_client.rs
  src/common/grpc/src/dns_resolver.rs
Labels: pr-bugfix

#17708 chore(query): add cache id for distribute scheduler
  src/meta/types/src/cluster.rs
  src/meta/types/tests/it/cluster.rs
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/schedulers/fragments/plan_fragment.rs
  src/query/service/src/test_kits/cluster.rs
Labels: pr-chore

#17700 chore: optimize select name from system.tables
  Cargo.lock
  src/query/storages/system/Cargo.toml
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-chore

#17711 chore(query): allow group by constant literal
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  tests/sqllogictests/suites/base/03_common/03_0003_select_group_by.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
Labels: pr-chore

#17709 refactor: enhance copy from avro.
  Cargo.lock
  src/query/expression/src/types/decimal.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/read/avro/avro_to_jsonb.rs
  src/query/storages/stage/src/read/avro/decoder.rs
  src/query/storages/stage/src/read/avro/mod.rs
  src/query/storages/stage/src/read/avro/schema_match.rs
  src/query/storages/stage/src/read/block_builder_state.rs
  src/query/storages/stage/src/read/default_expr_evaluator.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/mod.rs
  tests/sqllogictests/suites/stage/formats/avro/avro_copy.test
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.result
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.sh
Labels: pr-refactor

#17683 chore: minor refine on RoleMgr
  src/query/management/src/role/role_api.rs
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_create_warehouses.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_drop_warehouses.rs
  src/query/service/src/interpreters/interpreter_user_stage_create.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/user_api.rs
Labels: pr-chore

#17710 chore(query): Optimize cast expr error display
  src/query/expression/src/block.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/function.rs
  src/query/expression/src/register.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/boolean.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/geo_h3.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.result
  tests/suites/0_stateless/20+_others/20_0013_pretty_error.sh
  tests/suites/1_stateful/09_http_handler/09_0000_invalid_utf8.result
Labels: pr-chore

#17706 fix(query): broadcast subquery for markjoin if condition has null values
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rewrite/push_down_filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/mode/cluster/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-bugfix

#17715 ci: add hadoop envs for query image
  docker/service/query.Dockerfile
Labels: pr-build

#17717 ci: tmp disable local benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#17718 ci: fix local benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#17719 refactor(query): Introduces dedicated structs for expression types
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/expression/src/evaluator.rs
  src/query/expression/src/expression.rs
  src/query/expression/src/filter/select_expr.rs
  src/query/expression/src/filter/selector.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/src/test_utils.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_computed_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_add_const_columns.rs
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_null_if.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_srf.rs
  src/query/service/src/servers/flight/v1/scatter/flight_scatter_hash.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/srf/range.rs
  src/query/service/tests/it/pipelines/filter/random_filter_expr.rs
  src/query/sql/src/evaluator/cse.rs
  src/query/sql/src/executor/physical_plans/physical_mutation.rs
  src/query/sql/src/executor/physical_plans/physical_window.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/project.rs
  src/query/sql/src/planner/binder/set.rs
  src/query/sql/src/planner/binder/statement_settings.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/binder/table_args.rs
  src/query/sql/src/planner/expression/expression_parser.rs
  src/query/sql/src/planner/optimizer/ir/stats/selectivity.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/index/tests/it/filters/bloom_filter.rs
  src/query/storages/common/pruner/src/internal_column_pruner.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/delete_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/update_by_expr_mutator.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  src/query/storages/fuse/src/table_functions/fuse_encoding.rs
  src/query/storages/orc/src/copy_into_table/processors/decoder.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/stage/src/read/default_expr_evaluator.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
Labels: pr-refactor

#17722 fix(query): process_like directly unwrap is not safe
  src/query/expression/src/filter/selector.rs
  tests/sqllogictests/suites/base/20+_others/20_0010_expression_string_like.test
Labels: pr-bugfix

#17721 refactor: extract crate databendlabs/display-more to display various types
  Cargo.lock
  Cargo.toml
  src/common/base/Cargo.toml
  src/common/base/src/display/display_option/mod.rs
  src/common/base/src/display/display_slice.rs
  src/common/base/src/display/display_unix_epoch.rs
  src/common/base/src/display/mod.rs
  src/common/base/src/lib.rs
  src/common/license/Cargo.toml
  src/common/license/src/display_jwt_claims.rs
  src/common/license/src/license.rs
  src/meta/api/Cargo.toml
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/util.rs
  src/meta/app/Cargo.toml
  src/meta/app/src/principal/procedure.rs
  src/meta/kvapi/Cargo.toml
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applier.rs
  src/meta/semaphore/Cargo.toml
  src/meta/semaphore/src/meta_event_subscriber/mod.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/store/raft_log_storage_impl.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/proto_display.rs
Labels: pr-refactor

#17704 feat: hybrid cache
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/disk_cache_builder.rs
  src/query/storages/common/cache/src/providers/hybrid_cache.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/mod.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-feature

#17716 chore: show file path when copy meet invalid parquet file.
  src/common/storage/src/parquet_rs.rs
  src/query/storages/orc/src/table.rs
Labels: pr-chore

#17735 fix: flaky hybrid cache test
  src/query/storages/common/cache/src/providers/hybrid_cache.rs
Labels: pr-bugfix

#17737 chore: add local build databend package
  scripts/build/build-pkg.sh
Labels: pr-chore

#17730 chore(query): delete no useful function epoch(Int64Type)->IntervalType
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/functions/src/scalars/mathematics/src/math.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-chore

#17679 chore: use Usage privilege optimize USEDB Plan
  src/meta/app/src/principal/user_privilege.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/users/src/visibility_checker.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
  tests/suites/0_stateless/18_rbac/18_0014_use_db_priv_check.result
  tests/suites/0_stateless/18_rbac/18_0014_use_db_priv_check.sh
Labels: pr-chore

#17637 chore(logger): upgrade logforth to support global max_files limit for log_dir
  Cargo.lock
  Cargo.toml
Labels: pr-chore

#17739 feat: databend-metactl add command watch and upsert
  Cargo.lock
  Cargo.toml
  src/meta/app/src/tenant_key/ident.rs
  src/meta/binaries/Cargo.toml
  src/meta/binaries/metactl/main.rs
  src/meta/control/src/args.rs
  src/meta/raft-store/src/state_machine_api.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/watcher.rs
  src/meta/types/src/proto_ext/watch_ext.rs
Labels: pr-feature

#17740 feat(query): page index and range index support eliminate cast
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/eliminate_cast.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/src/page_index.rs
  src/query/storages/common/index/src/range_index.rs
  src/query/storages/common/index/tests/it/bloom_pruner.rs
  src/query/storages/common/index/tests/it/eliminate_cast.rs
  src/query/storages/common/index/tests/it/filters/mod.rs
  src/query/storages/common/index/tests/it/main.rs
  src/query/storages/common/index/tests/it/page_pruner.rs
  src/query/storages/common/index/tests/it/range_pruner.rs
  src/query/storages/common/index/tests/it/testdata/test_eliminate_cast.txt
  src/query/storages/common/index/tests/it/testdata/test_page_indexs.txt
  src/query/storages/common/index/tests/it/testdata/test_range_indexs.txt
  src/query/storages/common/index/tests/it/xor8.rs
Labels: pr-feature

#17745 chore: increase the concurrency of fuse_time_travel_size
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
Labels: pr-chore, ci-cloud

#17742 fix(query): `ClientSessionManager::refresh_state` subtracts with overflow if clock drift is present
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/token.rs
Labels: pr-bugfix

#17751 chore: Bump rust toolchain
  scripts/setup/rust-toolchain.toml
Labels: pr-chore

#17750 feat(optimizer): add optimizer skip list
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/optimizer_api.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/cascade.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/explore_expr.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/explore_group.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/optimize_expr.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/optimize_group.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/task.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/tasks/task_manager.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/optimizer/optimizers/recursive/recursive.rs
  src/query/sql/src/planner/optimizer/pipeline/pipeline.rs
Labels: pr-feature, ci-cloud

#17753 refactor(optimizer): refine hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/dphyp.rs
Labels: pr-refactor, ci-benchmark-cloud

#17732 chore: show file path when copy decompress fail.
  src/query/storages/stage/src/read/row_based/processors/decompressor.rs
Labels: pr-chore

#17755 refactor(meta-client): Improve `MetaHandshakeError`
  src/common/exception/src/exception_backtrace.rs
  src/common/grpc/src/dns_resolver.rs
  src/common/grpc/src/grpc_token.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/message.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_handshake.rs
  src/meta/types/src/errors/meta_client_errors.rs
  src/meta/types/src/errors/meta_handshake_errors.rs
Labels: pr-refactor

#17758 refactor: Bump arrow-udf-runtime so that we can use new pyo3
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-refactor

#17761 refactor: add helper methods to trait `LicenseManager`
  src/common/license/src/license.rs
  src/common/license/src/license_manager.rs
  src/query/ee/src/license/license_mgr.rs
Labels: pr-refactor, ci-cloud

#17764 refactor: reduce `MetaClientError`
  Cargo.lock
  Cargo.toml
  src/meta/binaries/metactl/main.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/errors/creation_error.rs
  src/meta/client/src/errors/mod.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/service/tests/it/grpc/metasrv_connection_error.rs
  src/meta/service/tests/it/tests/service.rs
  src/meta/store/src/lib.rs
  src/meta/types/src/errors/meta_client_errors.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/ee/src/resource_management/mod.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/persistent_log/global_persistent_log.rs
  src/query/users/src/user_api.rs
Labels: pr-refactor

#17759 feat: function extract, date_part,date_diff support more date part
  .typos.toml
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#17767 refactor(optimizer): s_expr.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/optimizer/ir/expr/s_expr.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
Labels: pr-refactor

#17763 feat: table function that dumps snapshot information
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/fuse/src/table_functions/clustering_information.rs
  src/query/storages/fuse/src/table_functions/fuse_dump_snapshot.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0046_func_fuse_dump_snapshots.test
Labels: pr-feature

#17749 chore: check ee license for disk cache
  src/query/config/src/lib.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/disk_cache_builder.rs
  src/query/storages/common/cache/src/providers/hybrid_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-chore

#17491 fix: align EXPLAIN output with actual partition pruning statistics
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning_pipeline/send_part_info_sink.rs
Labels: pr-bugfix

#17769 ci: fix test with ttc conainter
  tests/databend-test
  tests/sqllogictests/src/util.rs
Labels: pr-build

#17770 ci: tmp disable test 20_0025_stackoverflow
  tests/suites/0_stateless/20+_others/20_0025_stackoverflow.result.bak
  tests/suites/0_stateless/20+_others/20_0025_stackoverflow.sh.bak
Labels: pr-build

#17772 ci: fix start test container
  tests/sqllogictests/src/util.rs
Labels: pr-build

#17774 fix: correct state type for Decimal256 AVG aggregation
  src/query/functions/src/aggregates/aggregate_avg.rs
Labels: pr-bugfix

#17773 refactor: `DecimalSumState` overflow handling in SUM aggregation
  src/query/functions/src/aggregates/aggregate_sum.rs
Labels: pr-refactor

#17777 refactor(optimizer): refine the tpcds tests
  src/query/service/tests/it/sql/planner/optimizer/test_utils.rs
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
Labels: pr-refactor

#17776 chore: upgrade outdated dependencies
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/snapshot_config.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/query/expression/src/types/timestamp.rs
  src/query/service/src/pipelines/builders/builder_on_finished.rs
  src/query/service/src/servers/admin/v1/system.rs
  src/query/sql/src/planner/planner.rs
Labels: pr-chore

#17781 feat(query): table_statistics(<database_name>[, table_name]) table functions
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/system/mod.rs
  src/query/service/src/table_functions/system/table_statistics.rs
  src/query/service/src/table_functions/table_function_factory.rs
  tests/sqllogictests/suites/base/20+_others/20_0021_func_table_statistics.test
Labels: pr-feature, ci-cloud

#17784 chore(optimizer): spill out statistics yaml in tpcds_test
  src/query/service/tests/it/sql/planner/optimizer/data/cases/q1.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/cases/q3.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/statistics/statistics.yaml
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
Labels: pr-chore

#17778 feat(query): support cluster level concurrent limit
  Cargo.lock
  src/meta/raft-store/src/mem_meta.rs
  src/meta/semaphore/src/acquirer/permit.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/query/service/Cargo.toml
  src/query/service/src/global_services.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-feature

#17780 chore(query): add iceberg table metadata cache
  Cargo.lock
  src/meta/app/src/schema/catalog.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/catalog/src/database.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/interpreters/interpreter_use_database.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/read/cached_ttl_reader.rs
  src/query/storages/common/cache/src/read/loader.rs
  src/query/storages/common/cache/src/read/mod.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/hive/hive/Cargo.toml
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/cache.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_rs/meta.rs
  src/query/storages/system/src/caches_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-chore

#17702 refactor: add `query_profile` and `query_details` persistent log tables
  Cargo.lock
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/remote_log.rs
  src/query/service/Cargo.toml
  src/query/service/src/persistent_log/global_persistent_log.rs
  src/query/service/src/persistent_log/mod.rs
  src/query/service/src/persistent_log/table_schemas.rs
  src/query/service/tests/it/persistent_log/global_persistent_log.rs
  src/query/service/tests/it/persistent_log/testdata/persistent_log_tables_schema.txt
  tests/logging/check_logs_table.sh
Labels: pr-refactor

#17786 chore(ci): remove hdfs from docker image
  .github/workflows/release.yml
  docker/service/query.Dockerfile
Labels: pr-chore

#17782 feat(query): support date_between(date_part, startdate, enddate)
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/test_utils.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/query_fuzzer.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#17793 fix(query): don't check file format in proto-conv
  src/meta/app/src/principal/file_format.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  src/query/storages/stage/src/compression.rs
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_compression.test
  tests/sqllogictests/suites/stage/unload.test
Labels: pr-bugfix

#17792 chore: refine error handling in persistent log table
  src/query/service/src/persistent_log/global_persistent_log.rs
Labels: pr-chore

#17790 chore(ci): change the sccache log level to debug
  .github/actions/setup_build_tool/action.yml
  src/query/expression/src/sampler/fixed_rate_sampler.rs
Labels: pr-chore

#17796 ci: fix build feature for benchmark
  .github/workflows/cloud.yml
Labels: pr-build

#17788 refactor: Bump opendal to 0.53 for better metrics
  Cargo.lock
  Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/metrics_layer.rs
  src/common/storage/src/operator.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/snapshot_hint.rs
Labels: pr-refactor, ci-benchmark

#17799 ci: use larger runner for release
  .github/workflows/release.yml
Labels: pr-build

#17798 fix: Remove set nonblocking = false for mysql tcp stream
  Cargo.lock
  src/query/service/src/servers/mysql/mysql_session.rs
Labels: pr-bugfix

#17744 feat: block stream write
  Cargo.lock
  scripts/build/build-pkg.sh
  src/common/native/src/write/writer.rs
  src/query/catalog/src/table_args.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/tests/it/bloom_pruner.rs
  src/query/storages/common/table_meta/src/meta/statistics.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/bloom_index_writer.rs
  src/query/storages/fuse/src/io/write/inverted_index_writer.rs
  src/query/storages/fuse/src/io/write/mod.rs
  src/query/storages/fuse/src/io/write/stream/block_builder.rs
  src/query/storages/fuse/src/io/write/stream/cluster_statistics.rs
  src/query/storages/fuse/src/io/write/stream/column_statistics.rs
  src/query/storages/fuse/src/io/write/stream/mod.rs
  src/query/storages/fuse/src/io/write/write_settings.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/append.rs
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/common/processors/transform_block_writer.rs
  src/query/storages/fuse/src/operations/inverted_index.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/statistics/cluster_statistics.rs
  src/query/storages/fuse/src/statistics/column_statistic.rs
  src/query/storages/fuse/src/statistics/mod.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/fuse/src/statistics/traverse.rs
  src/query/storages/fuse/src/table_functions/clustering_information.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0004_remote_insert_into_select.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0008_fuse_optimize_table.test
Labels: pr-feature, ci-cloud

#17804 refactor(fuse): runtime filter into two files: expr_bloom_filter.rs and expr_runtime_pruner.rs
  src/query/storages/fuse/src/operations/read/mod.rs
  src/query/storages/fuse/src/operations/read/native_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/native_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read/runtime_filter_prunner.rs
  src/query/storages/fuse/src/pruning/expr_bloom_filter.rs
  src/query/storages/fuse/src/pruning/expr_runtime_pruner.rs
  src/query/storages/fuse/src/pruning/mod.rs
Labels: pr-refactor

#17800 refactor: move segment generation into TableMutationAggregator for MERGE INTO
  benchmark/clickbench/merge_into/queries.sql
  src/query/service/src/pipelines/builders/builder_mutation.rs
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/meta/mutation_log.rs
  src/query/storages/fuse/src/operations/common/processors/mod.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/tests/sqlsmith/src/runner.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0030_issue_13610.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0033_distributed_merge_into_without_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0035_merge_into_separate_pipeline_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0037_target_build_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/base/14_transaction/14_0003_merge_into.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0001_computed_column.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/query/materialized_cte.test
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.sh
Labels: pr-refactor

#17806 chore: make `databend_common_expression` compilation cacheable
  Cargo.lock
  src/common/version/src/lib.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/table_functions/others/udf.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/udf.rs
Labels: pr-chore

#17813 chore(ci): add ci test_stateless_cluster_linux timeout minute to 18
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#17783 refactor: upgrade min-meta-service-version to 1.2.677
  .github/actions/test_compat_fuse/action.yml
  src/meta/binaries/metabench/main.rs
  src/meta/client/src/channel_manager.rs
  src/meta/client/src/client_handle.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/required.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/control/src/export_from_grpc.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_handshake.rs
  tests/compat_fuse/test_compat_fuse.py
  tests/compat_fuse/test_compat_fuse.sh
  tests/compat_fuse/test_compat_fuse_forward.sh
  tests/compat_fuse/util.sh
Labels: pr-refactor

#17817 feat: Bump opendal to 0.53.1
  Cargo.lock
  Cargo.toml
Labels: pr-feature, ci-benchmark

#17818 refactor(query): remove unsafe implementation of Send and Sync for AcquireQueueGuard
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-refactor

#17807 ci: fix ttc test
  .github/actions/build_linux/action.yml
  .github/actions/pack_binaries/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/setup_test/action.yml
  .github/actions/test_unit/action.yml
  scripts/ci/deploy/config/databend-meta-node-1.toml
  scripts/ci/deploy/config/databend-meta-node-2.toml
  scripts/ci/deploy/config/databend-meta-node-3.toml
  scripts/ci/deploy/config/databend-meta-node-for-bendsave.toml
  scripts/ci/deploy/databend-query-management-mode.sh
  scripts/ci/deploy/databend-query-standalone-for-bendsave.sh
  scripts/ci/deploy/databend-query-standalone-hive.sh
  scripts/ci/deploy/databend-query-standalone-logging.sh
  scripts/ci/deploy/databend-query-standalone-native.sh
  scripts/ci/deploy/databend-query-standalone.sh
  src/common/tracing/src/config.rs
  src/meta/service/src/configs/outer_v0.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
Labels: pr-build

#17771 feat: hybrid column data cache
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/cache_items.rs
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/hybrid_cache.rs
  src/query/storages/common/cache/src/providers/mod.rs
  src/query/storages/common/cache/src/read/cached_reader.rs
  src/query/storages/common/cache/src/read/cached_ttl_reader.rs
  src/query/storages/common/cache/src/read/mod.rs
  src/query/storages/common/cache/src/read/readers.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  src/query/storages/fuse/src/io/read/block/block_reader.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io.rs
  src/query/storages/fuse/src/io/read/block/block_reader_merge_io_async.rs
  src/query/storages/system/src/caches_table.rs
Labels: pr-feature

#17822 ci: fix check system info
  .github/actions/setup_build_tool/action.yml
Labels: pr-build

#17816 chore(query): migrate benchmark to divan framework
  Cargo.lock
  Cargo.toml
  src/query/ast/Cargo.toml
  src/query/ast/benches/bench.rs
  src/query/expression/Cargo.toml
  src/query/expression/benches/bench.rs
  src/query/functions/Cargo.toml
  src/query/functions/benches/bench.rs
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/benches/read_cache_content.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/index/Cargo.toml
  src/query/storages/common/index/benches/build_from_block.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/benches/bench.rs
Labels: pr-chore

#17826 ci: fix deb package info
  .github/actions/pack_deb/action.yml
  scripts/distribution/nfpm-meta.yaml
  scripts/distribution/nfpm-query-dbg.yaml
  scripts/distribution/nfpm-query.yaml
Labels: pr-build

#17825 chore: add logging to semphore leaser
  src/meta/semaphore/src/acquirer/acquirer.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#17828 chore(ci): add test_stateless_standalone timeout minutes to 18
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#17827 chore(query): support local semaphore
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#17831 chore: add more info logging to semaphore
  src/meta/semaphore/src/acquirer/acquirer.rs
  src/meta/semaphore/src/meta_event_subscriber/processor.rs
  src/meta/semaphore/src/meta_event_subscriber/subscriber.rs
  src/meta/semaphore/src/queue/semaphore_queue.rs
Labels: pr-chore

#17830 chore(query): disable cluster level semaphore
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-chore

#17832 ci: fix pack deb
  .github/actions/pack_deb/action.yml
  scripts/distribution/nfpm-meta.yaml
  scripts/distribution/nfpm-query-dbg.yaml
  scripts/distribution/nfpm-query.yaml
Labels: pr-build

#17834 ci: better generate release note
  .github/scripts/generate_release_note.js
  .github/workflows/release.yml
Labels: pr-build

#17812 feat(query): support create iceberg table with partition and properties
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/meta/binaries/metabench/main.rs
  src/meta/protos/proto/table.proto
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/ee/src/attach_table/handler.rs
  src/query/ee/src/stream/handler.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_rename_column.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/service/tests/it/sql/planner/optimizer/optimizers/rule/agg_rules/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/pruning_column_oriented_segment.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/iceberg/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#17836 chore(query): remove `upcast_gat` method
  src/query/expression/src/kernels/topk.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/empty_array.rs
  src/query/expression/src/types/empty_map.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/interval.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/null.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/types/variant.rs
  src/query/functions/src/scalars/array.rs
Labels: pr-chore

#17837 fix(query): Default catalog can not create iceberg table engine
  Cargo.lock
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_database_drop.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-bugfix

#17839 fix: wrong calc of #rows of page in http handler.
  src/query/service/src/servers/http/v1/query/page_manager.rs
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.result
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.sh
Labels: pr-bugfix

#17842 fix: Forward list operations to runtime to avoid hang
  src/common/storage/src/runtime_layer.rs
Labels: pr-bugfix

#17843 fix(query): align roles api with table functions
  src/query/service/src/servers/http/v1/roles.rs
  src/query/service/src/servers/http/v1/users.rs
  src/query/service/src/servers/http/v1/verify.rs
Labels: pr-bugfix

#17847 ci: fix deb pkg version
  .github/actions/pack_deb/action.yml
  scripts/distribution/nfpm-meta.yaml
  scripts/distribution/nfpm-query-dbg.yaml
  scripts/distribution/nfpm-query.yaml
Labels: pr-build

#17844 chore:(query): support [SET | USE] CATALOG <catalog_name>
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  tests/sqllogictests/suites/tpch_iceberg/table_function.test
Labels: pr-chore

#17848 chore(query): alternative to tbl_name FROM db_name syntax is db_name.tbl_name
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  tests/sqllogictests/suites/base/06_show/06_0015_show_columns.test
Labels: pr-chore

#17841 feat(query): support alter table/database refresh cache
  src/query/ast/src/ast/statements/database.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_refresh_database_cache.rs
  src/query/service/src/interpreters/interpreter_refresh_table_cache.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/database.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/database.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/read/cached_ttl_reader.rs
  src/query/storages/iceberg/src/database.rs
  src/query/storages/iceberg/src/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#17854 fix: string Scalar should be escaped in `sql_display`
  src/query/ast/src/parser/parser.rs
  src/query/expression/src/utils/display.rs
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/regexp.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/default_expr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#17802 fix: prevent log table from logging its own logs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/tracing/src/config.rs
  src/common/tracing/src/filter.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/query/config/src/config.rs
  src/query/service/src/persistent_log/global_persistent_log.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  tests/logging/check_logs_table.sh
Labels: pr-bugfix

#17855 chore(query): use the same memory stat for http_query_handler and http_page_handler
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/http/v1/query/mod.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/query/sized_spsc.rs
  src/query/storages/common/cache/benches/read_cache_content.rs
Labels: pr-chore

#17835 feat(query): variant support extension types(Decimal, Binary, Date, Timestamp, Interval)
  Cargo.lock
  Cargo.toml
  src/common/native/Cargo.toml
  src/common/native/src/read/batch_read.rs
  src/common/native/src/read/deserialize.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/filter/select.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/group_by_hash/method.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/row/fixed.rs
  src/query/expression/src/row/row_converter.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/mod.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/decimal.rs
  src/query/expression/tests/it/row.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_range_bound.rs
  src/query/functions/src/scalars/arithmetic/Cargo.toml
  src/query/functions/src/scalars/arithmetic/src/arithmetic.rs
  src/query/functions/src/scalars/decimal/Cargo.toml
  src/query/functions/src/scalars/decimal/src/arithmetic.rs
  src/query/functions/src/scalars/decimal/src/cast.rs
  src/query/functions/src/scalars/decimal/src/comparison.rs
  src/query/functions/src/scalars/decimal/src/math.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/src/test_utils.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/functions/tests/it/type_check.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/parquet_rs/statistics/column.rs
  src/query/storages/parquet/src/parquet_rs/statistics/page.rs
  src/query/storages/parquet/src/parquet_rs/statistics/utils.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/read/avro/decoder.rs
  src/query/storages/stage/src/read/avro/schema_match.rs
  tests/sqllogictests/suites/query/functions/02_0056_function_semi_structureds_as.test
Labels: pr-feature

#17850 feat: Add sampled trace support
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/session.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature

#17857 fix(query): Fix incorrect memory tracking in the HTTP handler
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
Labels: pr-bugfix

#17858 refactor(executor): refine physical hash join build
  .gitignore
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join_filter.rs
  tests/compat_fuse/test_compat_fuse.py
Labels: pr-refactor

#17864 feat: unload preserve order if the source is ordered.
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/plans/copy_into_location.rs
  src/query/storages/stage/src/append/do_append.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  tests/sqllogictests/suites/stage/ordered_unload.test
Labels: pr-feature

#17866 refactor(query): refactor physical plan organization in pipeline builder for better readability
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-refactor

#17861 chore(explain): Adds support for explain subquery in plans
  src/query/service/tests/it/sql/planner/optimizer/data/README.md
  src/query/service/tests/it/sql/planner/optimizer/data/cases/Q01.txt
  src/query/service/tests/it/sql/planner/optimizer/data/cases/Q01.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/cases/Q03.txt
  src/query/service/tests/it/sql/planner/optimizer/data/cases/Q03.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/cases/q1.yaml
  src/query/service/tests/it/sql/planner/optimizer/data/cases/q3.yaml
  src/query/service/tests/it/sql/planner/optimizer/tpcds_test.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/optimizer/ir/expr/s_expr.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-chore

#17840 refactor: new retention policy `ByNumOfSnapshotsToKeep`
  Cargo.lock
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
  src/query/ee_features/vacuum_handler/Cargo.toml
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/lib.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/navigate.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0004_auto_vacuum.test
Labels: pr-refactor

#17868 fix: recluster transient table failed with TransactionTimeout
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0047_issue_17867.sql
Labels: pr-bugfix

#17869 chore: add a setting to disable runtime filter
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_join_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
Labels: pr-chore

#17871 feat(optimizer): part support decorrelating correlated subqueries in join conditions
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/operator.rs
  tests/sqllogictests/suites/query/subquery.test
Labels: pr-feature
