Repository databendlabs/databend, pull requests merged in 2025-07, with the labels that each got.

#18280 fix(query): add compatibility check for decimal64
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/values.rs
  tests/compat_fuse/compat-logictest/base/fuse_compat_write
Labels: pr-bugfix

#18287 fix: handle Decimal64 properly in `column_update_hll_cardinality`
  src/query/storages/fuse/src/io/write/stream/column_statistics.rs
  tests/sqllogictests/suites/base/issues/issue_18286.test
Labels: pr-bugfix

#18284 refactor(meta-service): Drop support for versions before 1.2.547
  .github/actions/test_compat_meta_meta/action.yml
  src/meta/raft-store/src/ondisk/mod.rs
  src/meta/raft-store/src/ondisk/upgrade_to_v003.rs
  src/meta/service/src/meta_service/mod.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/meta_service/snapshot_receiver_v1.rs
  src/meta/service/src/network.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/proto_ext/snapshot_chunk_request_ext.rs
  tests/metactl/meta_v002.txt
  tests/metactl/test-metactl.sh
Labels: pr-refactor

#18295 fix: transient should ignore retention period settings and table options
  src/query/storages/fuse/src/fuse_table.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0018_transient_table.test
Labels: pr-bugfix

#18298 ci: auto retry more workflows
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  .github/workflows/retry.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
Labels: pr-build

#18299 ci: fix trailing space
  .github/workflows/reuse.linux.yml
Labels: pr-build

#18304 fix: `create temp table as select` not work in HTTP handler.
  src/query/service/src/interpreters/interpreter_table_create.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0044_issue_17314.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0047_issue_17867.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0048_issue_17936.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0100_insert_multi_table.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0100_insert_multi_table_issue_15821.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0101_multi_table_insert_auto_compact.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0102_distributed_pruning.test
  tests/sqllogictests/suites/duckdb/join/test_join_on_weird_indexes.test
  tests/sqllogictests/suites/duckdb/join_small_block/test_join_on_weird_indexes.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0008_stream_issue_17058.test
  tests/sqllogictests/suites/mode/standalone/explain/multi_table_insert.test
  tests/sqllogictests/suites/stage/copy_into_temp_table.test
  tests/sqllogictests/suites/temp_table/alter_temp_tables.test
  tests/sqllogictests/suites/temp_table/create_temp_tables.test
  tests/sqllogictests/suites/temp_table/drop_temp_tables.test
  tests/sqllogictests/suites/temp_table/rename_temp_tables.test
  tests/sqllogictests/suites/temp_table/temp_memory_tables.test
  tests/sqllogictests/suites/temp_table/temporary_tables_table.sql
  tests/sqllogictests/suites/temp_table/truncate_temp_tables.test
Labels: pr-bugfix

#18306 ci: add local benchmark back
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#18300 chore(script): add check_bad_tables.sh
  scripts/selfhost/check_bad_tables.sh
Labels: pr-chore

#18288 feat(optimize): rewrite LIKE '%' (e.g., '%%', '%%%') as IS NOT NULL
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/is_not_null.test
Labels: pr-feature

#18308 ci: fix artifact category for local benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#18303 feat(meta-service): Add millisecond precision for expiration times
  Cargo.lock
  src/meta/client/Cargo.toml
  src/meta/client/src/lib.rs
  src/meta/client/src/required.rs
  src/meta/kvapi-test-suite/src/test_suite.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/rotbl_seq_mark_impl.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/types/proto/request.proto
  src/meta/types/src/cmd/meta_spec.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_display/seqv_display.rs
  src/meta/types/src/proto_display/watch_display.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/meta/types/src/proto_ext/watch_ext.rs
  src/meta/types/src/proto_ext/watch_ext/event_ext.rs
  src/meta/types/src/seq_value/kv_meta.rs
  src/meta/types/src/time.rs
Labels: pr-feature

#18314 chore(meta-service): remove obsolete snapshot v002 support
  Cargo.lock
  src/meta/control/src/import.rs
  src/meta/control/src/import_v004.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/sm_v003/adapter.rs
  src/meta/raft-store/src/sm_v003/mod.rs
  src/meta/raft-store/src/sm_v003/snapshot_store_error.rs
  src/meta/raft-store/src/sm_v003/snapshot_store_v002.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/lib.rs
  src/meta/types/src/raft_snapshot_data.rs
Labels: pr-chore

#18317 chore(meta): update compatibility chart
  licenserc.toml
  src/meta/README.md
  src/meta/compat.py
  src/meta/compatibility_chart.png
  src/meta/service/src/version.rs
Labels: pr-chore

#18297 refactor: replace find_database_table_filter to extract_leveled_strings
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/databases_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/locks_table.rs
  src/query/storages/system/src/notification_history_table.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/task_history_table.rs
  src/query/storages/system/src/util.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-refactor, ci-benchmark-local

#18318 fix(meta-service): Remove transient `expire_cursor` to prevent state inconsistency
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/sm_v003/sm_v003_test.rs
  src/meta/raft-store/src/state_machine_api.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/tests/it/meta_node/mod.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
Labels: pr-bugfix

#18321 fix(query): to_string(DateColumn, format) should success if date = 9999-12-31
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#18329 chore: polish error message when read AVRO.
  src/common/storage/src/copy.rs
  src/common/storage/src/lib.rs
  src/query/storages/stage/src/read/avro/block_builder_processor.rs
  src/query/storages/stage/src/read/avro/decoder.rs
  src/query/storages/stage/src/read/error_handler.rs
  src/query/storages/stage/src/read/row_based/formats/csv/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/csv/separator.rs
  src/query/storages/stage/src/read/row_based/formats/ndjson/block_builder.rs
  src/query/storages/stage/src/read/row_based/formats/tsv/block_builder.rs
  tests/sqllogictests/suites/stage/formats/avro/avro_error.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_on_error.test
Labels: pr-chore

#18327 chore: remove materialized keyword for standard stream
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/storages/fuse/src/operations/changes.rs
Labels: pr-chore

#18330 feat(storage): capture only changed rows in standard stream
  scripts/selfhost/check_bad_tables.sh
  scripts/selfhost/fetch_log.sh
  src/query/catalog/src/plan/stream_column.rs
  src/query/expression/src/schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/sql/src/executor/physical_plans/physical_add_stream_column.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/stream_column_factory.rs
  src/query/sql/src/planner/execution/stream_column.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/stream/src/stream_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0011_change_tracking.test
  tests/sqllogictests/suites/ee/06_ee_stream/06_0000_stream.test
  tests/sqllogictests/suites/ee/07_hilbert_clustering/07_0001_change_tracking.test
  tests/sqllogictests/suites/query/functions/02_0005_function_compare.test
Labels: pr-feature

#18334 fix(query): fix find_leveled_eq_filters works with not in
  src/query/expression/src/utils/filter_helper.rs
  src/query/functions/tests/it/type_check.rs
  tests/sqllogictests/suites/base/01_system/01_0001_system_tables.test
Labels: pr-bugfix

#18326 refactor(meta-service): upgrade snapshot storage(rotbl)
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/leveled_store/db_builder.rs
  src/meta/raft-store/src/leveled_store/db_map_api_ro_test.rs
  src/meta/raft-store/src/leveled_store/db_open_snapshot_impl.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/open_snapshot.rs
  src/meta/raft-store/src/sm_v003/received.rs
  src/meta/raft-store/src/sm_v003/receiver_v003.rs
  src/meta/raft-store/src/sm_v003/snapshot_loader.rs
  src/meta/raft-store/src/sm_v003/snapshot_store_v003.rs
  src/meta/raft-store/src/sm_v003/temp_snapshot_data.rs
  src/meta/raft-store/src/sm_v003/writer_v003.rs
  src/meta/raft-store/src/snapshot_config.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/types/src/snapshot_db.rs
Labels: pr-refactor

#18331 fix(query): fix incorrect selectivity estimation under NOT column.
  src/query/sql/src/planner/optimizer/ir/stats/selectivity.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
Labels: pr-bugfix, ci-cloud

#18337 feat(query): Enhance SET SECONDARY ROLES to Specify Role Lists
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_role_set_secondary.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/binder/ddl/role.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  tests/suites/0_stateless/18_rbac/18_0009_set_role.result
  tests/suites/0_stateless/18_rbac/18_0009_set_role.sh
Labels: pr-feature

#18339 feat: enhance system.temporary_tables
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/table_functions/temporary_tables_table.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/temp_table/temporary_tables_table.sql
  tests/sqllogictests/suites/temp_table/temporary_tables_table.test
Labels: pr-feature

#18344 refactor(meta-service): remove temp-snapshot during building snaphsot
  Cargo.lock
  Cargo.toml
  src/meta/control/src/import_v004.rs
  src/meta/raft-store/src/leveled_store/db_builder.rs
  src/meta/raft-store/src/leveled_store/db_open_snapshot_impl.rs
  src/meta/raft-store/src/sm_v003/mod.rs
  src/meta/raft-store/src/sm_v003/open_snapshot.rs
  src/meta/raft-store/src/sm_v003/snapshot_loader.rs
  src/meta/raft-store/src/sm_v003/snapshot_store_v003.rs
  src/meta/raft-store/src/sm_v003/temp_snapshot_data.rs
  src/meta/raft-store/src/sm_v003/writer_v003.rs
  src/meta/raft-store/src/snapshot_config.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
Labels: pr-refactor

#18341 fix: external history tables config and env conflict
  .github/actions/test_logs/action.yml
  src/query/config/src/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/location.rs
  tests/logging/history_table_external.toml
  tests/logging/test-history-tables.sh
Labels: pr-bugfix, ci-cloud

#18346 ci: ignore upload R2 failure for release
  .github/actions/publish_binary/action.yml
  .github/actions/publish_deb/action.yml
Labels: pr-build

#18336 chore(query): refactor RelOperator[part I]
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/format/display.rs
  src/query/sql/src/planner/optimizer/ir/expr/s_expr.rs
  src/query/sql/src/planner/optimizer/ir/expr/visitor.rs
  src/query/sql/src/planner/plans/aggregate.rs
  src/query/sql/src/planner/plans/async_function.rs
  src/query/sql/src/planner/plans/eval_scalar.rs
  src/query/sql/src/planner/plans/exchange.rs
  src/query/sql/src/planner/plans/filter.rs
  src/query/sql/src/planner/plans/join.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/mutation_source.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/operator_macros.rs
  src/query/sql/src/planner/plans/optimize.rs
  src/query/sql/src/planner/plans/project_set.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/plans/scan.rs
  src/query/sql/src/planner/plans/udf.rs
  src/query/sql/src/planner/plans/window.rs
Labels: pr-chore

#18349 chore: add VACUUM TEMPORARY TABLES command
  src/query/ast/src/parser/statement.rs
  src/query/storages/fuse/src/table_functions/fuse_vacuum_temporary_table.rs
Labels: pr-chore

#18352 fix(script): fetch log script need use the timestamp
  scripts/selfhost/fetch_log.sh
Labels: pr-bugfix

#18355 fix: cross join return wrong column
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/cross_join.rs
  tests/sqllogictests/suites/query/join/cross.test
Labels: pr-bugfix

#18361 chore(ci): test_load_epochfs_storage passes on MacOS and container
  src/bendsave/src/storage.rs
Labels: pr-chore

#18374 chore(query): add log if does not have workload group
  src/query/management/src/workload/workload_resource.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
Labels: pr-chore

#18375 fix(query): Fix cast array to vector failed
  src/query/expression/src/evaluator.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/udf/udf_server.py
Labels: pr-bugfix

#18383 chore: remove unused ClientLastResps
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/raft_log_v004/importer.rs
  src/meta/raft-store/src/state_machine/client_last_resp.rs
  src/meta/raft-store/src/state_machine/mod.rs
Labels: pr-chore

#18381 fix: query_history missing some columns
  src/common/tracing/src/init.rs
  src/common/tracing/src/predefined_tables/history_tables.toml
  src/query/service/src/interpreters/common/query_log.rs
  src/query/storages/system/src/query_log_table.rs
Labels: pr-bugfix

#18385 fix(query): fix distinct hashset refer memory bug
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
  tests/sqllogictests/suites/base/03_common/03_0022_select_distinct.test
Labels: pr-bugfix

#18390 chore: extend the short_sql_max_length to 2048
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#18392 refactor(meta-service): remove unused txid in raft log
  src/meta/binaries/meta/entry.rs
  src/meta/control/src/import.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/state_machine/testing.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_export.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_request_forwarding.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/log_entry.rs
  src/meta/types/src/raft_txid.rs
  tests/metactl/want_exported_v004
Labels: pr-refactor

#18386 feat: simplify function call parse
  src/query/ast/benches/bench.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
Labels: pr-bugfix, pr-feature

#18393 refactor(meta): replace manual struct instantiation with constructor methods
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/util.rs
  src/meta/binaries/meta/entry.rs
  src/meta/client/src/grpc_action.rs
  src/meta/control/src/import.rs
  src/meta/kvapi-test-suite/src/kvapi_test_suite.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/state_machine/testing.rs
  src/meta/service/src/message.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_request_forwarding.rs
  src/meta/types/src/log_entry.rs
  src/meta/types/src/message.rs
  src/meta/types/src/proto_ext/txn_delete_request_ext.rs
  src/meta/types/src/proto_ext/txn_get_request_ext.rs
  src/meta/types/src/proto_ext/txn_op_ext.rs
  src/meta/types/src/proto_ext/txn_put_request_ext.rs
Labels: pr-refactor

#18395 chore: remove local state-machine-api directory
  Cargo.lock
  Cargo.toml
  src/meta/kvapi-test-suite/Cargo.toml
  src/meta/kvapi-test-suite/src/kvapi_test_suite.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/key_spaces.rs
  src/meta/raft-store/src/leveled_store/db_exporter.rs
  src/meta/raft-store/src/leveled_store/db_map_api_ro_test.rs
  src/meta/raft-store/src/leveled_store/immutable.rs
  src/meta/raft-store/src/leveled_store/key_spaces_impl.rs
  src/meta/raft-store/src/leveled_store/level.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/raft-store/src/leveled_store/rotbl_codec.rs
  src/meta/raft-store/src/leveled_store/rotbl_seq_mark_impl.rs
  src/meta/raft-store/src/sm_v003/adapter.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/sm_v003/sm_v003_test.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_read_v1.rs
  src/meta/sled-store/Cargo.toml
  src/meta/sled-store/src/sled_serde.rs
  src/meta/sled-store/src/sled_serde_impl.rs
  src/meta/state-machine-api/Cargo.toml
  src/meta/state-machine-api/src/expire_key.rs
  src/meta/state-machine-api/src/expire_value.rs
  src/meta/state-machine-api/src/kv_meta.rs
  src/meta/state-machine-api/src/lib.rs
  src/meta/state-machine-api/src/state_machine_api.rs
  src/meta/state-machine-api/src/time_util.rs
  src/meta/state-machine-api/src/user_key.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/change.rs
  src/meta/types/src/cmd/meta_spec.rs
  src/meta/types/src/lib.rs
  src/meta/types/src/proto_ext/seq_v_ext.rs
  src/meta/types/src/proto_ext/stream_item_ext.rs
Labels: pr-chore

#18389 refactor: splitting `clap::Parser` from Config
  Cargo.lock
  src/binaries/query/cmd.rs
  src/binaries/query/ee_main.rs
  src/binaries/query/entry.rs
  src/binaries/query/oss_main.rs
  src/query/config/Cargo.toml
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/mask.rs
Labels: pr-refactor

#18396 feat(meta): add VoteV001 RPC with native protobuf types
  src/meta/client/src/lib.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/network.rs
  src/meta/service/src/version.rs
  src/meta/types/proto/meta.proto
  src/meta/types/proto/raft.proto
  src/meta/types/src/proto_ext/mod.rs
  src/meta/types/src/proto_ext/vote_request_ext.rs
  src/meta/types/src/proto_ext/vote_response_ext.rs
Labels: pr-feature

#18403 ci: fix runner for test_private_tasks
  .github/workflows/reuse.linux.yml
Labels: pr-build

#18397 fix: update with udf report error
  src/query/expression/src/converts/arrow/to.rs
  src/query/service/src/pipelines/builders/builder_column_mutation.rs
  src/query/sql/src/executor/physical_plans/physical_column_mutation.rs
  src/query/sql/src/executor/physical_plans/physical_mutation.rs
  src/query/sql/src/planner/optimizer/ir/expr/s_expr.rs
  tests/sqllogictests/suites/udf_server/udf_server_test.test
  tests/udf/udf_server.py
Labels: pr-bugfix

#18402 chore(query): add enforce_local setting for disable distribute plan
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/recluster.rs
  tests/sqllogictests/suites/mode/cluster/enfore_local.test
Labels: pr-chore

#18406 ci: test_private_tasks uses 8c32g for testing
  .github/workflows/reuse.linux.yml
Labels: pr-build

#18400 refactor(query): Gracefully handle unknown GrantEntry objects in UserGrantSet::from_pb
  Cargo.lock
  src/meta/proto-conv/Cargo.toml
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
Labels: pr-refactor

#18408 ci: temporarily close test_private_tasks
  .github/workflows/reuse.linux.yml
Labels: pr-build

#18410 refactor: streaming load use header X-Databend-SQL.
  src/common/base/src/headers.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.sh
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.result
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.sh
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.result
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.sh
Labels: pr-refactor

#18407 refactor(query): add warehouse_id config
  src/binaries/query/entry.rs
  src/query/catalog/src/cluster_info.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/src/resource_management/mod.rs
  src/query/ee/src/resource_management/resources_management_self_managed.rs
  src/query/ee/src/resource_management/resources_management_system.rs
  src/query/ee/src/test_kits/setup.rs
  src/query/ee_features/resources_management/src/resources_management.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/global_services.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/interpreter_metrics.rs
  src/query/service/src/local/mod.rs
  src/query/service/src/task/service.rs
  src/query/service/src/test_kits/config.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/clusters.rs
  src/query/service/tests/it/distributed/cluster.rs
  src/query/service/tests/it/storages/fuse/io.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-refactor

#18412 fix(query): AsyncFunctionCall::display_name should respect quota
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/stage/sequence_as_default.test
Labels: pr-bugfix

#18416 fix: panic when the `string_agg` parameter is not of type string
  src/query/expression/src/types.rs
  src/query/expression/src/types/compute_view.rs
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/scalars/decimal/src/arithmetic.rs
  src/query/functions/src/scalars/decimal/src/cast.rs
  src/query/functions/src/scalars/decimal/src/math.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-bugfix

#18427 chore(query): vector index add some logs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/fuse/src/io/read/vector_index/vector_index_loader.rs
  src/query/storages/fuse/src/pruning/vector_index_pruner.rs
  src/query/storages/fuse/src/pruning_pipeline/vector_index_prune_transform.rs
Labels: pr-chore, ci-cloud

#18431 feat(metactl): add comprehensive test suite for all subcommands
  .github/actions/test_metactl/action.yml
  src/meta/binaries/metactl/main.rs
  src/meta/control/src/admin.rs
  src/meta/control/src/args.rs
  tests/metactl/README_SUBCOMMAND_TESTS.md
  tests/metactl/metactl_utils.py
  tests/metactl/subcommands/__init__.py
  tests/metactl/subcommands/cmd_export_from_grpc.py
  tests/metactl/subcommands/cmd_export_from_raft_dir.py
  tests/metactl/subcommands/cmd_get.py
  tests/metactl/subcommands/cmd_import.py
  tests/metactl/subcommands/cmd_status.py
  tests/metactl/subcommands/cmd_transfer_leader.py
  tests/metactl/subcommands/cmd_trigger_snapshot.py
  tests/metactl/subcommands/cmd_upsert.py
  tests/metactl/subcommands/cmd_watch.py
  tests/metactl/test-metactl-restore-new-cluster.py
  tests/metactl/test_all_subcommands.py
  tests/metactl/utils.py
Labels: pr-feature

#18398 refactor: Mutil Column Aggregate Function State Serialization Interface
  src/common/base/src/runtime/profile/profile.rs
  src/common/storage/src/copy.rs
  src/common/storage/src/merge.rs
  src/query/catalog/src/plan/agg_index.rs
  src/query/catalog/src/statistics/data_cache_statistics.rs
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/aggregate/aggregate_function_state.rs
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/tuple.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_sort_adaptor.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_combinator_state.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/aggregates/aggregate_markov_tarin.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_st_collect.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/pipeline/core/src/processors/processor.rs
  src/query/pipeline/core/src/processors/profile.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_async_barrier.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/aggregate/stats_aggregate.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/agg_index/query_rewrite.rs
  src/query/storages/fuse/src/operations/analyze.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0001_agg_index_projected_scan.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_state.test
Labels: pr-refactor, ci-benchmark

#18426 chore: supplement TaskMessage serialization test
  src/meta/proto-conv/tests/it/v136_add_task.rs
Labels: pr-chore

#18413 feat(query): add rule_grouping_sets_to_union
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/optimizer/optimizer_context.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_grouping_sets_to_union.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_push_down_limit_aggregate.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/scalar_rules/rule_eliminate_eval_scalar.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets_union_all.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_grouping_sets.test
Labels: pr-feature

#18438 feat(metactl): add lua grpc client functionality
  Cargo.lock
  Cargo.toml
  src/meta/binaries/metactl/main.rs
  tests/metactl/lua_util.lua
  tests/metactl/subcommands/cmd_lua_grpc.py
  tests/metactl/test_all_subcommands.py
Labels: pr-feature

#18441 feat(meta): optimize expired key cleanup with time-range filtering
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/raft-store/src/utils.rs
Labels: pr-feature

#18434 feat(query): add settings enable_selector_executor
  src/query/expression/src/filter/filter_executor.rs
  src/query/expression/src/function.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/query/filter.test
  tests/sqllogictests/suites/query/filter_disable_selector.test
Labels: pr-feature

#18424 ci: add `test_private_task`
  .github/workflows/reuse.linux.yml
  src/query/expression/src/types/compute_view.rs
Labels: pr-build

#18445 feat(meta): add async Lua spawn and sleep support with tests
  src/meta/binaries/metactl/main.rs
  src/meta/control/src/lua_support.rs
  tests/metactl/metactl_utils.py
  tests/metactl/subcommands/cmd_lua_grpc.py
  tests/metactl/subcommands/cmd_lua_sleep.py
  tests/metactl/subcommands/cmd_lua_spawn_concurrent.py
  tests/metactl/subcommands/cmd_lua_spawn_grpc.py
  tests/metactl/test_all_subcommands.py
  tests/metactl/utils.py
Labels: pr-feature

#18442 refactor: move some fields of session to internal.
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/sqllogictests/src/util.rs
  tests/suites/1_stateful/09_http_handler/09_0006_route_error.sh
Labels: pr-refactor
