Repository databendlabs/databend, pull requests merged in 2025-06, with the labels that each got.

#17937 refactor: refine system history tables and add login table
  .github/workflows/reuse.linux.yml
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-otlp-logs.toml
  src/binaries/query/entry.rs
  src/common/tracing/Cargo.toml
  src/common/tracing/src/config.rs
  src/common/tracing/src/init.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/predefined_tables/history_tables.rs
  src/common/tracing/src/predefined_tables/history_tables.toml
  src/common/tracing/src/predefined_tables/mod.rs
  src/common/tracing/src/remote_log.rs
  src/meta/service/src/configs/outer_v0.rs
  src/query/config/src/config.rs
  src/query/service/src/auth.rs
  src/query/service/src/global_services.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/history_tables/mod.rs
  src/query/service/src/history_tables/session.rs
  src/query/service/src/lib.rs
  src/query/service/src/persistent_log/global_persistent_log.rs
  src/query/service/src/persistent_log/table_schemas.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/login_history.rs
  src/query/service/src/servers/mod.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/tests/it/main.rs
  src/query/service/tests/it/persistent_log/global_persistent_log.rs
  src/query/service/tests/it/persistent_log/testdata/persistent_log_tables_schema.txt
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  tests/logging/check_logs_table.sh
Labels: pr-refactor, ci-benchmark

#18046 fix(query): remove trailing spaces from test file names to enable windows cloning
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.sql
  tests/sqllogictests/suites/base/09_fuse_engine/09_0044_issue_17314.sql
Labels: pr-bugfix

#18047 chore(base): avoid deep clone for tracker
  src/common/base/src/runtime/runtime_tracker.rs
Labels: pr-chore

#18044 feat(query): Support Vector data type
  src/common/native/src/nested.rs
  src/common/native/src/read/array/fixed_list.rs
  src/common/native/src/read/array/mod.rs
  src/common/native/src/read/batch_read.rs
  src/common/native/src/read/deserialize.rs
  src/common/native/src/read/read_basic.rs
  src/common/native/src/write/serialize.rs
  src/meta/app/src/schema/table.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v129_vector_datatype.rs
  src/meta/protos/proto/datatype.proto
  src/meta/protos/proto/table.proto
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/converts/arrow/from.rs
  src/query/expression/src/converts/arrow/mod.rs
  src/query/expression/src/converts/arrow/to.rs
  src/query/expression/src/converts/datavalues/to.rs
  src/query/expression/src/converts/meta/bincode.rs
  src/query/expression/src/converts/meta/index_scalar.rs
  src/query/expression/src/kernels/concat.rs
  src/query/expression/src/kernels/group_by_hash/utils.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/property.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/types/vector.rs
  src/query/expression/src/utils/display.rs
  src/query/expression/src/utils/variant_transform.rs
  src/query/expression/src/utils/visitor.rs
  src/query/expression/src/values.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/formats/src/field_encoder/csv.rs
  src/query/formats/src/field_encoder/json.rs
  src/query/formats/src/field_encoder/values.rs
  src/query/formats/src/output_format/json.rs
  src/query/functions/src/test_utils.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/src/interpreters/interpreter_table_index_drop.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/servers/mysql/writers/query_result_writer.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/common/stage/src/read/cast.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/base/03_common/03_0049_insert_into_vector.test
Labels: pr-feature

#18051 fix: temp table cleaner not work.
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
Labels: pr-bugfix

#18054 chore: allow user define `log_history` table's retention
  src/common/tracing/src/predefined_tables/history_tables.rs
Labels: pr-chore

#18034 feat: Implement Modify Table Connection
  src/common/storage/src/operator.rs
  src/meta/app/src/storage/storage_params.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_modify_connection.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/shell_env.sh
  tests/sqllogictests/suites/base/06_show/06_0001_show_create_table.test
  tests/suites/1_stateful/13_fuse_external_table/13_0001_external_table.result
  tests/suites/1_stateful/13_fuse_external_table/13_0001_external_table.sh
Labels: pr-feature

#18043 feat(query): support result_scan and last_query_id in http handler
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session.rs
  src/tests/sqlsmith/src/http_client.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/base/20+_others/20_0014_result_scan.test
Labels: pr-feature

#18053 fix(query): reuse the left's column binding in union as possible
  src/query/sql/src/planner/optimizer/optimizers/rule/union_rules/rule_eliminate_union.rs
  tests/sqllogictests/suites/mode/standalone/explain/union.test
  tests/sqllogictests/suites/query/union.test
Labels: pr-bugfix

#18062 feat: adjust syntax of streaming load insert SQL.
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/insert.rs
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.sh
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.sh
Labels: pr-feature

#18063 fix(query): system.columns will return empty result when `where database in (y,x)`
  src/query/storages/system/src/columns_table.rs
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.result
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.sh
Labels: pr-bugfix

#17952 feat: support runtime filter in shuffle join
  src/query/catalog/src/runtime_filter_info.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/concat_buffer.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/desc.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_probe_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/inner_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/left_semi_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_mark_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/probe_join/right_semi_anti_join.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/result_blocks.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/row.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/convert.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/global.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/interface.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/merge.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/mod.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/packet.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/util.rs
  src/query/service/src/schedulers/fragments/fragmenter.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/pipelines/builders/runtime_filter.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join_filter.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/filter_nulls.test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
Labels: pr-feature, ci-benchmark

#18065 chore(query): add trunc logic test about Standardize Interval Kind String Representations
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-chore

#18052 feat(query): support max_concurrency quota for workload group
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/base/src/runtime/workload_group.rs
  src/query/management/src/workload/mod.rs
  src/query/management/src/workload/workload_resource.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/src/sessions/session.rs
  tests/suites/5_ee/09_workload_group/09_0000_workload_group.sh
Labels: pr-feature

#18066 chore: tweak license validation logging
  src/query/service/src/interpreters/interpreter.rs
Labels: pr-chore

#18068 chore(query): make char function compatible with pg/sn
  src/query/functions/src/scalars/binary.rs
  src/query/functions/src/scalars/string_multi_args.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  src/query/sql/src/planner/optimizer/pipeline/pipeline.rs
  tests/sqllogictests/suites/query/functions/02_0043_function_char.test
Labels: pr-chore

#18070 chore(query): Implement `unicode` function to retrieve first character Unicode code point
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0043_function_unicode.test
Labels: pr-chore

#18067 refactor: support add new column for history table
  src/common/tracing/src/predefined_tables/history_tables.toml
  src/query/service/src/history_tables/alter_table.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/history_tables/mod.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/query_log_table.rs
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
Labels: pr-refactor

#18078 fix: update failed with Unable to get field named...
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0049_issue_18073.test
Labels: pr-bugfix

#18084 chore(query): Implement Oracle-compatible `INSTR` Function in Databend
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0025_function_strings_locate.test
Labels: pr-chore

#18085 fix(query): fix replace into partial parse insert source
  src/query/ast/src/ast/statements/replace.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/planner.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0023_replace_into.test
Labels: pr-bugfix

#18092 chore: tweak logs
  src/query/service/src/interpreters/interpreter.rs
Labels: pr-chore

#18097 fix(bind): parent `BindContext` missing when binding union
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/dataframe.rs
  tests/sqllogictests/suites/query/union.test
Labels: pr-bugfix

#18075 feat: adjust syntax of streaming load insert SQL.
  Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/src/context.rs
  src/bendsave/Cargo.toml
  src/bendsave/src/storage.rs
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/catalog/src/lib.rs
  src/query/catalog/src/session_type.rs
  src/query/catalog/src/table_context.rs
  src/query/ee/src/storage_encryption/handler.rs
  src/query/ee/src/storage_quota/handler.rs
  src/query/service/src/history_tables/session.rs
  src/query/service/src/local/executor.rs
  src/query/service/src/servers/admin/v1/cluster.rs
  src/query/service/src/servers/flight/v1/actions/mod.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/servers/flight_sql/flight_sql_service/session.rs
  src/query/service/src/servers/http/clickhouse_handler.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  src/query/service/src/servers/mysql/mysql_handler.rs
  src/query/service/src/sessions/mod.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/service/src/sessions/session_info.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/servers/admin/v1/status.rs
  src/query/service/tests/it/sessions/session_context.rs
  src/query/service/tests/it/sessions/session_setting.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/sql/planner/builders/binder.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/planner.rs
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.sh
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.sh
Labels: pr-feature

#18077 feat(query): Support create/drop Vector(HNSW) index
  Cargo.lock
  Cargo.toml
  src/common/license/src/license.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/statements/index.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/ee/Cargo.toml
  src/query/ee/src/enterprise_services.rs
  src/query/ee/src/lib.rs
  src/query/ee/src/ngram_index/mod.rs
  src/query/ee/src/ngram_index/ngram_index_handler.rs
  src/query/ee/src/table_index/mod.rs
  src/query/ee/src/table_index/table_index_handler.rs
  src/query/ee/src/test_kits/mock_services.rs
  src/query/ee/tests/it/inverted_index/index_refresh.rs
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/ee_features/inverted_index/src/inverted_index_handler.rs
  src/query/ee_features/inverted_index/src/lib.rs
  src/query/ee_features/ngram_index/Cargo.toml
  src/query/ee_features/table_index/Cargo.toml
  src/query/ee_features/table_index/src/lib.rs
  src/query/ee_features/table_index/src/table_index_handler.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_index_create.rs
  src/query/service/src/interpreters/interpreter_table_index_drop.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/sql/planner/optimizer/optimizers/rule/agg_rules/agg_index_query_rewrite.rs
  src/query/service/tests/it/storages/fuse/operations/clustering.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/pruning_column_oriented_segment.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/dynamic_table.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  tests/sqllogictests/suites/ee/09_ee_vector_index/09_0000_vector_index_base.test
  tests/suites/5_ee/04_attach_read_only/04_0001_check_mutations.result
Labels: pr-feature

#18094 feat(meta-client): improve RPC error handling and observability
  Cargo.lock
  src/common/base/src/containers/pool.rs
  src/meta/client/Cargo.toml
  src/meta/client/src/endpoints.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/rpc_handler.rs
  src/meta/client/tests/it/grpc_client.rs
Labels: pr-feature

#18099 feat: impl `like any`
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
Labels: pr-feature

#18104 fix(query): fixed a panic issue in the aggregate spill logic under cluster
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/pipeline_builder.rs
Labels: pr-bugfix

#18090 fix(query): cast expr in select_list use internal_expr as expr name
  src/query/service/tests/it/servers/flight_sql/flight_sql_handler.rs
  src/query/service/tests/it/servers/flight_sql/testdata/query.txt
  src/query/sql/src/planner/binder/project.rs
  tests/sqllogictests/suites/crdb/create_as.test
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
  tests/sqllogictests/suites/duckdb/sql/create/create_as.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/query/functions/cast.test
Labels: pr-bugfix

#18100 feat(query): Add `regexp_split_to_table` function
  src/query/functions/src/srfs/mod.rs
  src/query/functions/src/srfs/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/pipelines/processors/transforms/transform_srf.rs
  tests/sqllogictests/suites/query/functions/02_0082_function_regexp_split_to_table.test
Labels: pr-feature

#18103 fix(query): add dynamic cast rules
  src/query/expression/src/function.rs
  src/query/expression/src/type_check.rs
  src/query/functions/src/cast_rules.rs
  src/query/functions/src/scalars/mod.rs
  src/query/functions/src/scalars/string.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/string.txt
Labels: pr-bugfix

#18109 ci: run vacuum after benchmark
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#18102 chore(query): refactoring ValueType, introducing ColumnBuilderMut
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/lib.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/any.rs
  src/query/expression/src/types/array.rs
  src/query/expression/src/types/binary.rs
  src/query/expression/src/types/bitmap.rs
  src/query/expression/src/types/boolean.rs
  src/query/expression/src/types/generic.rs
  src/query/expression/src/types/geography.rs
  src/query/expression/src/types/geometry.rs
  src/query/expression/src/types/map.rs
  src/query/expression/src/types/nullable.rs
  src/query/expression/src/types/simple_type.rs
  src/query/expression/src/types/string.rs
  src/query/expression/src/types/variant.rs
  src/query/expression/src/types/vector.rs
  src/query/expression/src/types/zero_size_type.rs
  src/query/expression/src/values.rs
  src/query/functions/src/aggregates/aggregate_approx_count_distinct.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_avg.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregate_kurtosis.rs
  src/query/functions/src/aggregates/aggregate_markov_tarin.rs
  src/query/functions/src/aggregates/aggregate_min_max_any.rs
  src/query/functions/src/aggregates/aggregate_min_max_any_decimal.rs
  src/query/functions/src/aggregates/aggregate_mode.rs
  src/query/functions/src/aggregates/aggregate_quantile_cont.rs
  src/query/functions/src/aggregates/aggregate_quantile_disc.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_range_bound.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_skewness.rs
  src/query/functions/src/aggregates/aggregate_stddev.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
Labels: pr-chore

#18111 ci: fix dropping database with default warehouse
  benchmark/clickbench/benchmark_cloud.sh
Labels: pr-build

#18115 fix(storage): disable_credential_loader not been updated while role_arn set
  src/meta/app/src/storage/storage_params.rs
Labels: pr-bugfix

#18112 refactor(meta-server): remove TxnReply::error
  src/meta/api/src/reply.rs
  src/meta/api/src/util.rs
  src/meta/client/src/lib.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/proto_display/mod.rs
  src/meta/types/src/proto_ext/txn_ext.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
Labels: pr-refactor

#18113 fix(query): support count(t.*)
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/script.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/query_fuzzer.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#18114 feat(query): Interval kin support iw and hh24
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature

#18119 chore: improve error messages for non-existent columns in mutation operations
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/insert_multi_table.rs
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values.test
  tests/sqllogictests/suites/base/03_common/03_0035_update.test
  tests/sqllogictests/suites/base/03_common/03_0046_copy_into_from_stage.test
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.result
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.sh
Labels: pr-chore

#18129 feat: streaming load support values with placeholder.
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/sql/src/planner/plans/insert.rs
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.result
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.sh
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.result
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.sh
Labels: pr-feature

#18121 feat(query): Add regexp_split_to_array function
  src/query/functions/src/scalars/string.rs
  src/query/functions/src/srfs/mod.rs
  src/query/functions/src/srfs/string.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0082_function_regexp_split_to_array.test
Labels: pr-feature

#18133 feat(query): support TRUNC(x [, d])
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0014_function_maths.test
Labels: pr-feature

#18135 ci: use different runner capacity for release
  .github/workflows/bindings.python.yml
  .github/workflows/cloud.yml
  .github/workflows/meta.yml
  .github/workflows/release.yml
  .github/workflows/reuse.benchmark.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
Labels: pr-build

#18136 feat(meta-service): return current seq-value in txn-put response
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/raft-store/src/applier.rs
  src/meta/types/proto/request.proto
  src/meta/types/src/proto_display/mod.rs
  src/meta/types/src/proto_ext/txn_ext.rs
Labels: pr-feature

#18140 ci: fix argument for workflow
  .github/workflows/cloud.yml
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: pr-build

#18145 fix(bind): disable the shrink constant when it is a generic type argument of a function
  src/query/expression/src/utils/mod.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0058_function_ifnull.test
Labels: pr-bugfix

#18149 fix(storage): Fix presign is not spawned on IO runtime
  src/common/storage/src/runtime_layer.rs
Labels: pr-bugfix

#18142 feat(query): support `age` function
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-feature

#18147 chore: limit num of threads used by streaming load.
  src/query/storages/stage/src/streaming_load.rs
Labels: pr-chore

#18151 chore: enhance temp table.
  Cargo.lock
  scripts/ci/deploy/config/databend-query-node-1.toml
  scripts/ci/deploy/config/databend-query-node-2.toml
  scripts/ci/deploy/config/databend-query-node-3.toml
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/table.rs
  src/meta/binaries/metabench/main.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/interpreters/interpreter_table_drop.rs
  src/query/service/src/interpreters/interpreter_view_drop.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/consts.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/src/servers/mysql/mysql_session.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/session/Cargo.toml
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/fuse/src/table_functions/fuse_vacuum_temporary_table.rs
  src/query/storages/iceberg/src/database.rs
Labels: pr-chore

#18148 feat(query): fix window binder work with group by expr alias
  src/query/sql/src/executor/physical_plans/physical_sort.rs
  src/query/sql/src/planner/binder/aggregate.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/plans/scalar_expr.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#18123 feat: automatically materialize CTEs
  src/query/ast/src/ast/expr.rs
  src/query/expression/src/types.rs
  src/query/service/tests/it/sql/planner/optimizer/optimizer_test.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain/lazy_read.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_self_join.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/tpcds/opt.test
  tests/sqllogictests/suites/tpch/join_order.test
Labels: pr-feature, ci-cloud

#18152 refactor: extract meta-client cache to standalone `sub-cache` crate
  Cargo.lock
  Cargo.toml
  src/meta/cache/Cargo.toml
  src/meta/cache/src/cache.rs
  src/meta/cache/src/cache_data.rs
  src/meta/cache/src/errors/connection_closed.rs
  src/meta/cache/src/errors/either.rs
  src/meta/cache/src/errors/mod.rs
  src/meta/cache/src/errors/unsupported.rs
  src/meta/cache/src/event_watcher.rs
  src/meta/cache/src/lib.rs
  src/meta/cache/src/meta_cache_types.rs
  src/meta/cache/src/meta_client_source.rs
Labels: pr-refactor

#18156 feat(query): typeof(VariantType) will return internal field type
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0051_function_semi_structureds_get.test
  tests/sqllogictests/suites/stage/formats/avro/avro_decimal.test
Labels: pr-feature

#18161 fix(function): the add and minus functions of decimal do not select the correct precision
  src/query/functions/src/scalars/decimal/src/arithmetic.rs
  src/query/functions/src/test_utils.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
  src/query/functions/tests/it/scalars/testdata/arithmetic_decimal.txt
Labels: pr-bugfix

#18165 chore: update ports in example config to default
  scripts/distribution/configs/databend-meta.toml
  scripts/distribution/configs/databend-query.toml
Labels: pr-chore

#18162 refactor: simply management of tmp table in session.
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/consts.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/storages/common/session/src/temp_table.rs
  tests/suites/1_stateful/09_http_handler/09_0009_cookie.py
  tests/suites/1_stateful/09_http_handler/09_0011_concurrent_query.result
  tests/suites/1_stateful/09_http_handler/09_0011_concurrent_query.sh
Labels: pr-refactor

#18166 chore: add notes in example configs
  scripts/distribution/configs/databend-meta.toml
  scripts/distribution/configs/databend-query.toml
Labels: pr-chore

#18155 refactor(query): remove system.query_log and system.queries_profile_log
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/common/query_log.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/servers/admin/admin_service.rs
  src/query/service/src/servers/admin/v1/mod.rs
  src/query/service/src/servers/admin/v1/query_profiling.rs
  src/query/service/src/servers/flight/v1/actions/flight_actions.rs
  src/query/service/src/servers/flight/v1/actions/get_profile.rs
  src/query/service/src/servers/flight/v1/actions/mod.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/system/src/lib.rs
  src/query/storages/system/src/queries_profiling.rs
  src/query/storages/system/src/query_log_table.rs
  tests/sqllogictests/suites/base/01_system/01_0002_system_query_log.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/suites/0_stateless/20+_others/20_0024_session_query_tag.result
  tests/suites/0_stateless/20+_others/20_0024_session_query_tag.sh
  tests/suites/1_stateful/02_query/02_0007_get_profile.result
  tests/suites/1_stateful/02_query/02_0007_get_profile.sh
  tests/suites/1_stateful/02_query/02_0008_profile.py
  tests/suites/1_stateful/02_query/02_0008_profile.result
  tests/suites/1_stateful/09_http_handler/09_0002_query_log.result
  tests/suites/1_stateful/09_http_handler/09_0002_query_log.sh
  tests/suites/1_stateful/09_http_handler/09_0005_kill.result
  tests/suites/1_stateful/09_http_handler/09_0005_kill.sh
Labels: pr-refactor

#17947 feat: Use query id as trace id
  Cargo.lock
  Cargo.toml
  src/query/service/Cargo.toml
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/actions/start_prepared_query.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  tests/sqllogictests/suites/stage/ordered_unload.test
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.result
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.result
Labels: pr-feature

#18172 chore: revert "fix: transient table no work as expected inside explicit transaction (#18160)
  Cargo.lock
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/common/session/Cargo.toml
  src/query/storages/common/session/src/transaction.rs
  tests/sqllogictests/suites/base/issues/issue_18160.test
  tests/sqllogictests/suites/base/issues/issue_18167.test
Labels: pr-chore

#18174 refactor(query-management): rewrite `user_api` tests without mock
  Cargo.lock
  src/query/management/Cargo.toml
  src/query/management/tests/it/role.rs
  src/query/management/tests/it/user.rs
Labels: pr-refactor

#18170 fix: Bloom filter not updated after refresh
  src/query/ee/src/storages/fuse/operations/ngram_index.rs
  src/query/ee/tests/it/ngram_index/index_refresh.rs
  src/query/storages/common/index/src/filters/bloom_filter.rs
  src/query/storages/common/index/src/filters/xor8/mod.rs
  src/query/storages/common/index/src/filters/xor8/xor8_filter.rs
  src/query/storages/fuse/src/io/mod.rs
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/write/bloom_index_writer.rs
  src/query/storages/fuse/src/io/write/mod.rs
  src/query/storages/fuse/src/io/write/stream/block_builder.rs
Labels: pr-bugfix

#18176 chore(ci): add fuzz decimal tests
  tests/suites/0_stateless/19_fuzz/19_0007_fuzz_decimal.result
  tests/suites/0_stateless/19_fuzz/19_0007_fuzz_decimal.sh
Labels: pr-chore

#18179 feat(meta-service): add expirable keys stat to metrics and cluster-status API
  src/meta/raft-store/src/leveled_store/key_spaces_impl.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/meta_node_status.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/api/http/cluster_state_test.rs
  src/meta/service/tests/it/api/http/metrics.rs
  src/meta/types/src/sys_data.rs
Labels: pr-feature

#18182 fix(meta-service): watcher metrics should be updated when sender is created and dropped
  Cargo.lock
  Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/meta_node_kv_api_impl.rs
  src/meta/service/src/meta_service/mod.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
Labels: pr-bugfix

#18171 feat(query): when decimal is used as an aggregate group by column, decimal64 is used
  src/query/expression/src/aggregate/group_hash.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/aggregate/payload_row.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/nullable.rs
  src/query/functions/src/aggregates/adaptors/aggregate_sort_adaptor.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
  src/query/functions/src/aggregates/aggregate_histogram.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/aggregates/aggregate_markov_tarin.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_scalar_state.rs
  src/query/functions/src/aggregates/aggregate_st_collect.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_list.test
Labels: pr-feature, pr-chore, ci-cloud

#18183 feat: support show temp tables from all sessions
  src/query/catalog/src/table_context.rs
  src/query/service/src/databases/system/system_database.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/temporary_tables_table.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/system/src/lib.rs
Labels: pr-feature

#18178 chore(query): make async function works within local counters
  src/query/service/src/pipelines/builders/builder_async_function.rs
  src/query/service/src/pipelines/builders/builder_fill_missing_columns.rs
  src/query/service/src/pipelines/builders/builder_mutation.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_async_function.rs
  src/query/service/src/pipelines/processors/transforms/transform_branched_async_function.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/sqllogictests/suites/stage/sequence_as_default.test
Labels: pr-chore

#18197 feat(query-cache): add config to toggle meta-service ownership cache on query
  src/bendsave/src/storage.rs
  src/meta/client/src/established_client.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/tests/it/role.rs
  src/query/service/src/global_services.rs
  src/query/service/src/test_kits/config.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/users/src/user_api.rs
Labels: pr-feature

#18193 feat(query): add new syntax to support only modify field comment
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
  tests/suites/0_stateless/17_altertable/17_0005_alter_table_modify_column_type.sh
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.result
  tests/suites/5_ee/04_attach_read_only/04_0007_attach_table_entity_comment.sh
Labels: pr-feature

#18203 refactor(query): refactor union all pipeline
  Cargo.lock
  src/query/pipeline/core/src/lib.rs
  src/query/pipeline/core/src/pipeline.rs
  src/query/pipeline/core/src/processors/mod.rs
  src/query/pipeline/core/src/processors/sequence_group.rs
  src/query/pipeline/sinks/Cargo.toml
  src/query/pipeline/sinks/src/lib.rs
  src/query/pipeline/sinks/src/union_receive_sink.rs
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  src/query/service/src/pipelines/builders/builder_exchange.rs
  src/query/service/src/pipelines/builders/builder_join.rs
  src/query/service/src/pipelines/builders/builder_union_all.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_block.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/sqllogictests/suites/base/03_common/03_0050_union_all.test
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
Labels: pr-refactor, ci-benchmark

#18208 ci: fix retry on dev workflow_run
  .github/workflows/retry.yml
Labels: pr-build

#18202 fix(query): check enterprise license embedded
  .github/workflows/reuse.linux.yml
  Cargo.lock
  src/bendsave/src/storage.rs
  src/common/building/src/lib.rs
  src/query/ee/src/storage_encryption/handler.rs
  src/query/ee/src/storage_quota/handler.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/settings/Cargo.toml
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-bugfix

#18204 refactor: implement cooperative state machine for range/list operations
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/raft-store/src/utils.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/meta_node.rs
Labels: pr-refactor

#18201 fix(query): add_months need to respect last day of month
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-bugfix

#18209 feat(meta-service): add metrics for watch stream
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/tests/it/api/http/metrics.rs
Labels: pr-feature

#18210 feat(meta-service): add metrics for stream access operations
  src/meta/client/src/grpc_action.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/tests/it/api/http/metrics.rs
Labels: pr-feature

#18212 feat(meta-service): add metrics for snapshot building
  src/meta/service/src/metrics/meta_metrics.rs
  src/meta/service/src/metrics/mod.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/api/http/metrics.rs
Labels: pr-feature

#18211 chore: improve the log prefix
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/settings/src/settings_global.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/merge_into/mutator/matched_mutator.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
Labels: pr-chore

#18216 ci: log job status for retry
  .github/scripts/retry_failed_jobs.js
Labels: pr-build

#18220 ci: fix retry cancelled workflows
  .github/scripts/comment_retry_on_pr.js
  .github/scripts/retry_failed_jobs.js
  .github/workflows/retry.yml
Labels: pr-build

#18221 ci: fix find related pr for workflow run
  .github/scripts/retry_failed_jobs.js
  .github/workflows/typos.yml
Labels: pr-build

#18219 fix(query): fix recusive wrapper codes in python udf
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
Labels: pr-bugfix

#18225 ci: fix check failure jobs
  .github/scripts/retry_failed_jobs.js
Labels: pr-build

#18213 feat(query): Array Functions Supporting ARRAY and VARIANT Types
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v129_vector_datatype.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-feature

#18230 ci: update comment for auto retry
  .github/scripts/retry_failed_jobs.js
Labels: pr-build

#18231 ci: also auto retry for main
  .github/scripts/retry_failed_jobs.js
  .github/workflows/cancel.yml
  .github/workflows/retry.yml
Labels: pr-build

#18235 ci: fix get all jobs for retry
  .github/scripts/retry_failed_jobs.js
Labels: pr-build

#18234 feat(meta-service): Add feature flag system to meta service
  Cargo.lock
  src/meta/binaries/metactl/main.rs
  src/meta/control/src/admin.rs
  src/meta/control/src/args.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/Cargo.toml
  src/meta/raft-store/src/applier.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v003/writer_v003.rs
  src/meta/raft-store/src/state_machine_features.rs
  src/meta/service/src/api/http/v1/features.rs
  src/meta/service/src/api/http/v1/mod.rs
  src/meta/service/src/api/http_service.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/tests/it/api/http/features.rs
  src/meta/service/tests/it/api/http/mod.rs
  src/meta/types/Cargo.toml
  src/meta/types/src/cmd/mod.rs
  src/meta/types/src/sys_data.rs
Labels: pr-feature

#18236 chore: avoid setting empty conf for Session
  src/query/service/src/sessions/session_ctx.rs
Labels: pr-chore

#18194 feat: support external history tables
  .github/actions/test_logs/action.yml
  src/binaries/query/entry.rs
  src/common/tracing/src/lib.rs
  src/common/tracing/src/predefined_tables/history_tables.rs
  src/common/tracing/src/predefined_tables/mod.rs
  src/query/service/src/history_tables/alter_table.rs
  src/query/service/src/history_tables/external.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/history_tables/meta.rs
  src/query/service/src/history_tables/mod.rs
  tests/logging/history_table.toml
  tests/logging/history_table_external.toml
  tests/logging/test-history-tables.sh
  tests/logging/test-logs.sh
Labels: pr-feature

#18244 ci: run benchmark on github runner
  .github/workflows/reuse.benchmark.yml
Labels: pr-build

#18243 feat(meta-service): add FetchAddU64 command to txn
  src/meta/app/src/data_id.rs
  src/meta/client/src/lib.rs
  src/meta/kvapi/src/kvapi/test_suite.rs
  src/meta/process/src/kv_processor.rs
  src/meta/raft-store/src/applier.rs
  src/meta/types/build.rs
  src/meta/types/proto/meta.proto
  src/meta/types/proto/request.proto
  src/meta/types/src/proto_display/mod.rs
  src/meta/types/src/proto_ext/txn_ext.rs
Labels: pr-feature

#18238 feat: support asof join
  src/query/ast/src/ast/query.rs
  src/query/ast/src/parser/query.rs
  src/query/ast/src/parser/token.rs
  src/query/expression/src/types.rs
  src/query/expression/tests/it/display.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/common.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/mod.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/range_join/range_join_state.rs
  src/query/service/tests/it/sql/planner/optimizer/optimizers/rule/filter_rules/push_down_filter_join_test.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_asof_join.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_join.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/plans/join.rs
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join.test
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join_double.test
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join_inequal.test
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join_ints.test
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join_miss.test
  tests/sqllogictests/suites/duckdb/join/asof/test_asof_join_time.test
Labels: pr-feature

#18250 fix(query): Copy into CSV file support both CRLF and LF delimiter
  src/query/formats/src/delimiter.rs
  tests/data/csv/crlf_delimiter.csv
  tests/data/csv/lf_delimiter.csv
  tests/sqllogictests/suites/stage/formats/csv/csv_delimiter.test
Labels: pr-bugfix

#18246 refactor(query): add row_count, ndv, null_count for system.columns
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/storages/fuse/src/fuse_column.rs
  src/query/storages/system/src/columns_table.rs
  tests/sqllogictests/suites/base/06_show/06_0015_show_columns.test
  tests/sqllogictests/suites/mode/standalone/explain/aggregate.test
  tests/sqllogictests/suites/mode/standalone/explain_native/aggregate.test
Labels: pr-refactor

#18247 fix: build runtime filter in cluster
  src/query/catalog/src/runtime_filter_info.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/packet.rs
  src/query/service/tests/it/sql/planner/optimizer/data/results/basic/01_cross_join_aggregation_physical.txt
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_join_filter.rs
  src/query/sql/src/planner/optimizer/ir/expr/s_expr.rs
  tests/sqllogictests/suites/mode/cluster/exchange.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/cluster/filter_nulls.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/cluster/subquery.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/explain/delete.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_table_function_obfuscate.test
  tests/sqllogictests/suites/mode/standalone/explain/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/limit.test
  tests/sqllogictests/suites/mode/standalone/explain/merge_into.test
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain/subquery.test
  tests/sqllogictests/suites/mode/standalone/explain/update.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/chain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join_reorder/mark.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/sqllogictests/suites/mode/standalone/explain_native/project_set.test
  tests/sqllogictests/suites/mode/standalone/explain_native/prune_column.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_eval_scalar.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_full_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_left_outer.test
  tests/sqllogictests/suites/mode/standalone/explain_native/push_down_filter/push_down_filter_join/push_down_filter_join_semi_anti.test
  tests/sqllogictests/suites/mode/standalone/explain_native/subquery.test
Labels: pr-bugfix

#18257 feat: Add ZIP compression type
  Cargo.lock
  Cargo.toml
  src/common/compress/Cargo.toml
  src/common/compress/src/compress_algorithms.rs
  src/common/compress/src/decode.rs
  src/common/compress/src/encode.rs
  src/meta/app/src/principal/user_stage.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v133_stage_file_compression.rs
  src/meta/protos/proto/file_format.proto
  src/query/ast/src/parser/stage.rs
  src/query/ast/src/parser/token.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/stage/src/append/row_based_file/writer_processor.rs
  src/query/storages/stage/src/compression.rs
  src/query/storages/stage/src/read/row_based/processors/decompressor.rs
  tests/sqllogictests/suites/stage/unload.test
Labels: pr-feature

#18265 fix: Use async lock in reqsign to prevent concurrent update
  Cargo.lock
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#18261 fix: check compression options when binding `CREATE TABLE` statement
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/common/table_meta/src/table/table_compression.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-bugfix

#18267 fix(query): decimal64 not correct shrink_scalar
  src/query/expression/src/utils/mod.rs
  src/query/functions/tests/it/scalars/arithmetic.rs
Labels: pr-bugfix

#18264 fix(query): add find_leveled_eq_filters function
  src/query/expression/src/expression.rs
  src/query/expression/src/type_check.rs
  src/query/expression/src/utils/filter_helper.rs
  src/query/functions/tests/it/type_check.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/indexes_table.rs
  src/query/storages/system/src/tables_table.rs
  src/query/storages/system/src/util.rs
Labels: pr-bugfix

#18256 feat: insert with stage support from and file_format clause.
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/binder/ddl/stage.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/stage/src/streaming_load.rs
  tests/sqllogictests/suites/stage/upload.test
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.sh
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.sh
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.result
  tests/suites/1_stateful/01_streaming_load/01_0006_streaming_load_parquet.sh
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.result
  tests/suites/1_stateful/01_streaming_load/01_0007_streaming_load_placeholder.sh
Labels: pr-feature

#18270 refactor: change default http_session_timeout_secs to 4 hour.
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/consts.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
Labels: pr-refactor

#18228 fix: skipping vacuum inside explicit transaction
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
Labels: pr-bugfix

#18263 refactor: String column like % can rewrite to true
  src/query/functions/src/scalars/comparison.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain_like.test
Labels: pr-refactor

#18252 feat(query): Enhance JSON Parsing with Decimal Support and Extended Syntax
  Cargo.lock
  Cargo.toml
  src/meta/proto-conv/tests/it/v129_vector_datatype copy.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns_builder.rs
  src/query/expression/src/types/variant.rs
  src/query/functions/src/scalars/decimal/src/cast_from_jsonb.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/aggregates/testdata/agg.txt
  src/query/functions/tests/it/aggregates/testdata/agg_group_by.txt
  src/query/functions/tests/it/scalars/testdata/cast.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/geometry.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/storages/stage/src/read/avro/avro_to_jsonb.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
  tests/sqllogictests/suites/query/functions/02_0048_function_semi_structureds_parse_json.test
  tests/sqllogictests/suites/query/functions/02_0051_function_semi_structureds_get.test
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
  tests/sqllogictests/suites/stage/formats/avro/avro_decimal.test
  tests/sqllogictests/suites/stage/formats/avro/avro_extension.test
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.result
Labels: pr-feature

#18215 fix: transient table does not work as expected inside explicit transaction
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/hook/refresh_hook.rs
  src/query/service/src/interpreters/interpreter_copy_into_table.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/service/src/pipelines/builders/builder_copy_into_location.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/bloom_index_meta_size.rs
  src/query/service/tests/it/storages/fuse/conflict.rs
  src/query/service/tests/it/storages/fuse/io.rs
  src/query/service/tests/it/storages/fuse/meta/column_oriented.rs
  src/query/service/tests/it/storages/fuse/meta/snapshot.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/service/tests/it/storages/fuse/operations/gc.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/table_analyze.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/service/tests/it/storages/fuse/utils.rs
  src/query/storages/common/session/src/transaction.rs
  src/query/storages/common/table_meta/src/meta/mod.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/common/table_meta/src/meta/v4/snapshot.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/write/meta_writer.rs
  src/query/storages/fuse/src/operations/commit.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mod.rs
  src/query/storages/fuse/src/operations/mutation/mutator/segment_compact_mutator.rs
  src/query/storages/fuse/src/operations/vacuum.rs
  src/query/storages/fuse/src/retry/commit.rs
  src/query/storages/fuse/src/retry/diff.rs
  tests/sqllogictests/suites/base/issues/issue_18159.test
  tests/sqllogictests/suites/base/issues/issue_18167.test
  tests/sqllogictests/suites/base/issues/issue_18214.test
Labels: pr-bugfix, ci-cloud
