Repository databendlabs/databend, pull requests merged in 2025-01, with the labels that each got.

#17145 chore(query): bump ast 0.1.3
  Cargo.lock
  src/query/ast/Cargo.toml
  src/query/ast/README.md
  src/query/ast/src/ast/expr.rs
  src/query/ast/src/ast/format/mod.rs
  src/query/ast/src/ast/format/syntax/ddl.rs
  src/query/ast/src/ast/format/syntax/dml.rs
  src/query/ast/src/ast/format/syntax/expr.rs
  src/query/ast/src/ast/format/syntax/mod.rs
  src/query/ast/src/ast/format/syntax/query.rs
  src/query/ast/src/ast/statements/hint.rs
  src/query/ast/src/ast/statements/procedure.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/lib.rs
  src/query/ast/src/parser/parser.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/query.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/sql/src/planner/binder/select.rs
  tests/sqllogictests/suites/base/05_ddl/05_0019_ddl_create_view.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0025_lazy_read.test
  tests/sqllogictests/suites/mode/cluster/distributed_merge_into.test
  tests/sqllogictests/suites/mode/cluster/shuffle.test
  tests/sqllogictests/suites/mode/cluster/window.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/window.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
  tests/sqllogictests/suites/query/window_function/window_ntile.test
  tests/sqllogictests/suites/tpcds/materialized_cte.test
  tests/sqllogictests/suites/tpcds/queries.test
Labels: pr-chore

#17149 fix(ci): flaky test
  scripts/build/build-website.sh
  src/query/ast/src/parser/common.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/script/src/compiler.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-bugfix

#17147 refactor: make `fuse_amend` implementation more convenient for on-premise deployments
  Cargo.lock
  Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/grpc/src/dns_resolver.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/fail_safe/handler.rs
  src/query/ee_features/fail_safe/Cargo.toml
  src/query/ee_features/fail_safe/src/handler.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/table_functions/fuse_amend.rs
Labels: pr-refactor

#17152 chore: fix cargo check
  Cargo.toml
Labels: pr-chore

#17153 feat(sqlsmith): Support generate fuzz query sql
  Cargo.lock
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/query_fuzzer.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: pr-feature

#17161 refactor: Bump OpenDAL to 0.51
  Cargo.lock
  Cargo.toml
  src/common/storage/Cargo.toml
  src/common/storage/src/metrics.rs
  src/common/storage/src/runtime_layer.rs
  src/common/storage/src/stage.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/interpreters/interpreter_table_vacuum.rs
  src/query/storages/common/io/src/files.rs
  src/query/storages/fuse/src/io/snapshots.rs
  src/query/storages/fuse/src/operations/navigate.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/system/src/temp_files_table.rs
Labels: pr-refactor, ci-benchmark

#17160 feat(ci): add ttc (tcp testing container)
  .github/actions/test_cloud_sqllogic_standalone_linux/action.yml
  .github/actions/test_ee_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux_minio/action.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  Cargo.toml
  tests/sqllogictests/Cargo.toml
  tests/sqllogictests/src/client/mod.rs
  tests/sqllogictests/src/client/ttc_client.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
Labels: pr-feature

#17167 fix(query): return semantic error for SRFs in WHERE and HAVING clauses
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0051_function_semi_structureds_get.test
  tests/sqllogictests/suites/query/functions/02_0062_function_unnest.test
  tests/sqllogictests/suites/query/functions/02_0065_function_json.test
Labels: pr-bugfix

#17166 refactor: Optimize When Querying the tables_history Table with the Condition table_id = n
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/system/src/streams_table.rs
  src/query/storages/system/src/tables_table.rs
Labels: pr-refactor, ci-benchmark-local

#17164 chore: adjust fuse_time_travel_size()
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/storages/fuse/src/table_functions/fuse_time_travel_size.rs
Labels: pr-chore

#17168 chore: more logging for `vacuum drop table` execution
  src/meta/api/src/schema_api_impl.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
Labels: pr-chore

#17165 refactor: Use opendal to implement recover object instead
  Cargo.lock
  Cargo.toml
  src/common/storage/src/operator.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/fail_safe/handler.rs
  src/query/ee_features/fail_safe/Cargo.toml
  src/query/ee_features/fail_safe/src/handler.rs
  src/query/storages/fuse/src/table_functions/fuse_amend.rs
Labels: pr-refactor

#17159 feat(query): support direct the spill data to a different bucket
  .github/actions/test_sqllogic_standalone_linux_minio/action.yml
  scripts/ci/ci-run-sqllogic-tests-minio.sh
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/ee/src/attach_table/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_temporary_files.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/global_services.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/transform_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/transform_stream_sort_spill.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/tests/it/configs.rs
  src/query/service/tests/it/pipelines/transforms/sort/spill.rs
  src/query/service/tests/it/spillers/spiller.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/common/cache/src/temp_dir.rs
  src/query/storages/system/src/temp_files_table.rs
Labels: pr-feature

#17173 chore: Remove unused settings for ssl
  Cargo.lock
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-chore

#17179 fix(query): check state is allocated or not when oom
  Cargo.lock
  src/query/expression/src/aggregate/payload.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
Labels: pr-bugfix, pr-chore

#17175 chore: check schema for small parquet file too.
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/meta.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  tests/sqllogictests/suites/stage/formats/parquet/error_diff_schema.test
Labels: pr-chore

#17183 chore(binder): fix bind cte
  src/query/sql/src/planner/binder/bind_query/bind.rs
  tests/sqllogictests/suites/query/cte/cte.test
Labels: pr-chore

#17185 chore(ci): support backport release
  .github/scripts/bump_version.js
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: pr-chore

#17189 chore(ci): auto add pr-backport label
  .github/scripts/check_pr_title.js
Labels: pr-chore

#17195 fix(cluster): fix unassign warehouse nodes failure
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/src/clusters/cluster.rs
Labels: pr-bugfix

#17190 chore(ci): auto add pr-backport label
  .github/scripts/check_pr_title.js
Labels: pr-chore

#17138 chore: simplify setting API
  Cargo.lock
  src/meta/kvapi/src/kvapi/api.rs
  src/query/management/src/lib.rs
  src/query/management/src/setting/mod.rs
  src/query/management/src/setting/setting_api.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/tests/it/setting.rs
  src/query/settings/Cargo.toml
  src/query/settings/src/settings_global.rs
  src/query/users/src/user_api.rs
Labels: pr-chore

#17186 feat(query): support send spill file stats to client
  src/common/base/src/base/mod.rs
  src/common/base/src/base/progress.rs
  src/query/service/src/interpreters/hook/vacuum_hook.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/packets/packet_data_progressinfo.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/spillers/spiller.rs
  tests/sqllogictests/src/main.rs
Labels: pr-feature

#17193 fix(cluster): skip the recovery for warehouses that are not running state.
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/src/interpreters/interpreter_factory.rs
Labels: pr-bugfix

#17188 chore: fix flaky datetime test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz_disable_strict_parser.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
Labels: pr-chore

#17182 fix(query): fix aggregating index conflict with min/max rewrite
  src/query/ee/tests/it/aggregating_index/index_scan.rs
  src/query/service/tests/it/sql/planner/optimizer/agg_index_query_rewrite.rs
  src/query/sql/src/planner/optimizer/aggregate/stats_aggregate.rs
  src/query/sql/src/planner/semantic/aggregating_index_visitor.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0000_system_indexes.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0000_async_agg_index_base.test
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0001_agg_index_projected_scan.test
  tests/sqllogictests/suites/mode/cluster/explain_v2.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_agg_index.test
  tests/sqllogictests/suites/mode/standalone/explain/fold_agg.test
Labels: pr-bugfix

#17187 chore(binder): fix bind cte
  .github/workflows/dev.yml
  scripts/build/build-website.sh
  src/query/ast/src/parser/common.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/query-error.txt
  src/query/script/src/compiler.rs
  src/query/sql/src/planner/binder/bind_query/bind.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/semantic/name_resolution.rs
  tests/sqllogictests/suites/query/cte/cte.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
  tests/sqllogictests/suites/query/functions/02_0075_function_datetimes_tz.test
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0005_copy_into_location.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
Labels: pr-chore, PR-BACKPORT

#17184 chore: add udf compat ci
  .github/actions/test_compat_fuse/action.yml
  tests/compat_fuse/compat-logictest/udf/fuse_compat_read
  tests/compat_fuse/compat-logictest/udf/fuse_compat_write
Labels: pr-chore

#17198 fix: name resolution bug in quoted ident case sensitive mode
  scripts/ci/ci-run-sqllogic-tests-minio.sh
  scripts/ci/deploy/databend-query-system-managed.sh
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/stream/src/stream_table.rs
  tests/sqllogictests/suites/ee/06_ee_stream/06_0004_stream_changes.test
Labels: pr-bugfix

#17194 fix(query): record state_rows in aggregate payload
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/probe_state.rs
Labels: pr-bugfix, ci-benchmark

#17202 fix: system.tables table visibility
  src/query/storages/system/src/tables_table.rs
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.result
  tests/suites/0_stateless/18_rbac/18_0003_db_visibility.sh
Labels: pr-bugfix, ci-benchmark-local

#17192 refactor: include key information in errors when listing meta-service key-values
  Cargo.lock
  Cargo.toml
  src/meta/api/src/kv_pb_api/codec.rs
  src/meta/api/src/kv_pb_api/errors/decode_error.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/lib.rs
  src/meta/client/tests/it/grpc_client.rs
  src/meta/proto-conv/src/background_job_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/background_task_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/database_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/datetime_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/dictionary_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/file_format_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/from_to_protobuf.rs
  src/meta/proto-conv/src/index_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/lock_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/ownership_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/procedure_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/stage_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/table_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/token_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/udf_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/src/virtual_column_from_to_protobuf_impl.rs
  src/meta/proto-conv/tests/it/proto_conv.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/types/src/errors/meta_network_errors.rs
Labels: pr-refactor

#17201 chore(ci): upload sccache log for build
  .github/actions/setup_build_tool/action.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#17200 chore(planner): improve histogram cardinality estimation
  src/common/storage/src/statistics.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/suites/0_stateless/19_fuzz/19_0004_fuzz_filter.py
  tests/suites/0_stateless/19_fuzz/19_0004_fuzz_filter.result
Labels: pr-chore, ci-benchmark-cloud

#17204 chore: Fix warning for backtrace while compiling
  Cargo.toml
Labels: pr-chore

#17205 chore(ci): upload sccache log for build (#17201)
  .github/actions/setup_build_tool/action.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore, PR-BACKPORT

#17209 chore(ci): fix sccache log path
  .github/actions/setup_build_tool/action.yml
Labels: pr-chore, PR-BACKPORT

#17206 chore(ci): fix sccache log path
  .github/actions/setup_build_tool/action.yml
  Cargo.toml
Labels: pr-chore

#17211 chore(ci): update sccache log artifact name
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore

#17212 chore(ci): update sccache log artifact name
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
Labels: pr-chore, PR-BACKPORT

#17210 chore(backport): improve histogram cardinality estimation (#17200)
  src/common/storage/src/statistics.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/test_kits/fuse.rs
  src/query/sql/src/planner/optimizer/property/histogram.rs
  tests/sqllogictests/suites/mode/cluster/memo/aggregate_property.test
  tests/sqllogictests/suites/mode/cluster/memo/join_property.test
  tests/sqllogictests/suites/mode/cluster/memo/mix_property.test
  tests/sqllogictests/suites/mode/standalone/explain/eliminate_outer_join.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain/lateral.test
  tests/sqllogictests/suites/mode/standalone/explain/selectivity/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/limit.test
  tests/suites/0_stateless/19_fuzz/19_0004_fuzz_filter.py
  tests/suites/0_stateless/19_fuzz/19_0004_fuzz_filter.result
Labels: pr-chore, pr-backport

#17213 chore(ci): adjust build & test workflows
  .github/actions/build_linux/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/setup_test/action.yml
  .github/actions/test_cloud_sqllogic_standalone_linux/action.yml
  .github/actions/test_compat_fuse/action.yml
  .github/actions/test_compat_meta_meta/action.yml
  .github/actions/test_compat_meta_query/action.yml
  .github/actions/test_ee_management_mode_linux/action.yml
  .github/actions/test_ee_sqllogic_standalone_linux/action.yml
  .github/actions/test_ee_standalone_background_linux/action.yml
  .github/actions/test_ee_standalone_fake_time_linux/action.yml
  .github/actions/test_ee_standalone_linux/action.yml
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/actions/test_logs/action.yml
  .github/actions/test_meta_cluster/action.yml
  .github/actions/test_metactl/action.yml
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  .github/actions/test_sqllogic_management_mode_linux/action.yml
  .github/actions/test_sqllogic_stage/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux_minio/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/actions/test_stateful_iceberg_rest_standalone/action.yml
  .github/actions/test_stateful_large_data/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  .github/workflows/dev.yml
  .github/workflows/reuse.linux.hive.yml
  .github/workflows/reuse.linux.yml
  Cargo.toml
  docker/build-tool/alpine/Dockerfile
  docker/build-tool/debian/Dockerfile
  scripts/setup/run_build_tool.sh
  tests/suites/5_ee/00_check/00_0014_license_info.py
Labels: pr-chore

#17215 fix(query): interval total microseconds add overflow check
  Cargo.lock
  src/common/column/Cargo.toml
  src/common/column/src/types/native.rs
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-bugfix

#17196 chore: bring back function `set_cache_capacity`
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/set_cache_capacity.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.sql 
  tests/suites/0_stateless/20+_others/20_0021_set_cache_capacity_privilege_check.result
  tests/suites/0_stateless/20+_others/20_0021_set_cache_capacity_privilege_check.sh
Labels: pr-chore, ci-benchmark

#17203 feat(query): load ndjson support ts with diff units.
  Cargo.lock
  src/query/formats/Cargo.toml
  src/query/formats/src/field_decoder/common.rs
  src/query/formats/src/field_decoder/fast_values.rs
  src/query/formats/src/field_decoder/json_ast.rs
  src/query/formats/src/field_decoder/mod.rs
  src/query/formats/src/field_decoder/nested.rs
  src/query/formats/src/field_decoder/separated_text.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/data/csv/ts.csv
  tests/data/ndjson/ts.ndjson
  tests/sqllogictests/suites/stage/formats/csv/csv_types.test
  tests/sqllogictests/suites/stage/formats/ndjson/ndjson_cast.test
Labels: pr-feature

#17221 docs:Update release-readme.txt
  scripts/distribution/release-readme.txt
Labels: pr-doc

#17219 fix(cluster): fix warehouse audit log not working with add cluster
  src/query/ast/src/ast/statements/warehouse.rs
  src/query/sql/src/planner/plans/ddl/warehouse.rs
Labels: pr-bugfix

#17217 fix(query): fix register function working with nullable scalar
  src/query/expression/src/register_vectorize.rs
  src/query/functions/tests/it/scalars/mod.rs
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/suites/0_stateless/19_fuzz/19_0005_fuzz_cte.result
  tests/suites/0_stateless/19_fuzz/19_0005_fuzz_cte.sh
Labels: pr-bugfix

#17216 feat(sqlsmith): fuzz query support sqllogic test cases
  src/query/expression/src/property.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/values.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/query_fuzzer.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/sql_generator.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: pr-feature

#17220 fix(query): stick the created_by infos in parquet writer
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
Labels: pr-bugfix

#17222 chore: try fix flaky ci
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.result
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
Labels: pr-chore

#17226 chore(ci): fix release find last tag
  .github/scripts/bump_version.js
Labels: pr-chore

#17227 chore(ci): fix release bump log
  .github/scripts/bump_version.js
Labels: pr-chore

#17228 chore(ci): stable release ignore patch versions
  .github/scripts/bump_version.js
  .github/workflows/release.yml
Labels: pr-chore

#17223 fix(query): backport to 680 stick the created_by infos in parquet writer
  src/query/expression/src/register_vectorize.rs
  src/query/functions/tests/it/scalars/mod.rs
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/19_fuzz/19_0005_fuzz_cte.result
  tests/suites/0_stateless/19_fuzz/19_0005_fuzz_cte.sh
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0005_copy_into_location.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
Labels: pr-bugfix, pr-backport

#17232 chore(ci): better generate release
  .github/scripts/bump_version.js
  .github/workflows/release.yml
Labels: pr-chore

#17238 chore(ci): fix release sha for backport
  .github/scripts/bump_version.js
Labels: pr-chore

#17241 fix(cluster): fix heartbeat self managed after network fail
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/tests/it/clusters.rs
Labels: pr-bugfix

#17244 fix(query): fix `array_agg` failed if the argument is NULL
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-bugfix

#17231 feat: support vacuum aggregating index
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/app/src/schema/index.rs
  src/meta/app/src/schema/marked_deleted_index_id.rs
  src/meta/app/src/schema/marked_deleted_index_ident.rs
  src/meta/app/src/schema/mod.rs
  src/meta/proto-conv/src/index_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v116_marked_deleted_index_meta.rs
  src/meta/protos/proto/index.proto
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/table.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/locations.rs
  src/query/storages/fuse/src/table_functions/fuse_vacuum_drop_aggregating_index.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  tests/sqllogictests/suites/base/06_show/06_0014_show_table_functions.test
  tests/suites/5_ee/01_vacuum/01_004_vacuum_drop_aggregating_index.result
  tests/suites/5_ee/01_vacuum/01_004_vacuum_drop_aggregating_index.sh
Labels: pr-feature

#17246 chore: backport tweak compact strategy to 636-rc8.1
  .github/actions/setup_bendsql/action.yml
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  tests/shell_env.sh
  tests/suites/0_stateless/03_dml/03_0016_update_with_lock.sh
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
  tests/suites/0_stateless/05_hints/05_0002_deduplicate_label.sh
  tests/suites/0_stateless/12_time_travel/12_0005_changes_select.sh
  tests/suites/0_stateless/17_altertable/17_0003_alter_table_update.result
  tests/suites/0_stateless/18_rbac/18_0001_udf_priv.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/5_ee/04_attach_read_only/02_0005_attach_table_read_only.sh
Labels: pr-chore

#17253 chore(ci): presign artifact for download
  .github/actions/artifact_upload/action.yml
  Cargo.toml
Labels: pr-chore

#17252 fix(query): increase state_rows in copy agg state rows
  src/query/expression/src/aggregate/payload.rs
  tests/suites/0_stateless/20+_others/20_0022_agg_memory.result
  tests/suites/0_stateless/20+_others/20_0022_agg_memory.sh
Labels: pr-bugfix

#17255 refactor: only set global settings need to check super privilege
  src/query/service/src/interpreters/access/privilege_access.rs
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
Labels: pr-refactor

#17261 chore(sqllogictests): Check container and stop first to avoid conflict running
  tests/sqllogictests/src/util.rs
Labels: pr-chore

#17259 chore: Bump opendal to pinned tag version
  Cargo.lock
  Cargo.toml
Labels: pr-chore, ci-benchmark-cloud

#17258 fix(query): fix lazy columns missed in constant table scan
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_eliminate_filter.rs
  tests/sqllogictests/suites/query/issues/issue_17158.test
Labels: pr-bugfix

#17263 fix: vacuum index not work if index is dropped by create or replace
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/schema_api_impl.rs
  src/query/management/src/procedure/procedure_mgr.rs
  tests/suites/5_ee/01_vacuum/01_004_vacuum_drop_aggregating_index.result
  tests/suites/5_ee/01_vacuum/01_004_vacuum_drop_aggregating_index.sh
Labels: pr-bugfix

#17267 fix(query): backport hash table scatter will always send agg meta
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/serde_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_deserializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/serde/transform_exchange_aggregate_serializer.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/range_join/ie_join_state.rs
  src/query/service/src/pipelines/processors/transforms/transform_srf.rs
Labels: pr-bugfix, pr-backport

#17249 feat(cluster): support warehouse level show processlist and kill query
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/catalog/tests/it/partitions.rs
  src/query/management/src/warehouse/warehouse_api.rs
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/service/src/clusters/cluster.rs
  src/query/service/src/interpreters/interpreter_kill.rs
  src/query/service/src/interpreters/interpreter_set_priority.rs
  src/query/service/src/interpreters/interpreter_system_action.rs
  src/query/service/src/interpreters/interpreter_table_truncate.rs
  src/query/service/src/schedulers/scheduler.rs
  src/query/service/src/servers/admin/v1/tenant_tables.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/table_functions/async_crash_me.rs
  src/query/service/src/table_functions/cloud/task_dependents.rs
  src/query/service/src/table_functions/cloud/task_dependents_enable.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  src/query/service/src/table_functions/numbers/numbers_table.rs
  src/query/service/src/table_functions/others/execute_background_job.rs
  src/query/service/src/table_functions/others/license_info.rs
  src/query/service/src/table_functions/others/suggested_background_tasks.rs
  src/query/service/src/table_functions/others/tenant_quota.rs
  src/query/service/src/table_functions/others/udf.rs
  src/query/service/src/table_functions/sync_crash_me.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/util.rs
  src/query/storages/delta/src/table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/table_functions/function_template/simple_arg_func.rs
  src/query/storages/fuse/src/table_functions/function_template/simple_func_template.rs
  src/query/storages/fuse/src/table_functions/set_cache_capacity.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/memory/src/memory_table.rs
  src/query/storages/null/src/null_table.rs
  src/query/storages/orc/src/table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/result_cache/src/table_function/table.rs
  src/query/storages/stage/src/stage_table.rs
  src/query/storages/stream/src/stream_table.rs
  src/query/storages/system/src/backtrace_table.rs
  src/query/storages/system/src/caches_table.rs
  src/query/storages/system/src/log_queue.rs
  src/query/storages/system/src/malloc_stats_totals_table.rs
  src/query/storages/system/src/metrics_table.rs
  src/query/storages/system/src/processes_table.rs
  src/query/storages/system/src/queries_profiling.rs
  src/query/storages/system/src/table.rs
  src/query/storages/system/src/temp_files_table.rs
Labels: pr-feature

#17277 chore(ci): fix release bump version
  .github/scripts/bump_version.js
Labels: pr-chore

#17278 chore(ci): fix release patch version
  .github/scripts/bump_version.js
Labels: pr-chore

#17281 chore(ci): fix gen next patch release
  .github/scripts/bump_version.js
Labels: pr-chore

#17282 fix(query): window function support params
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#17265 chore: try fix flaky ci
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
Labels: pr-chore

#17289 chore(ci): add bendsql binary to release
  .github/actions/pack_binaries/action.yml
Labels: pr-chore

#17288 chore: databend-test print more stderr
  tests/databend-test
Labels: pr-chore

#17293 refactor(query): only call once finish callback
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
Labels: pr-refactor

#17247 feat: orc support fill missing tuple field
  Cargo.lock
  Cargo.toml
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/expression_parser.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/orc/src/copy_into_table/processors/decoder.rs
  src/query/storages/orc/src/copy_into_table/projection.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  tests/sqllogictests/suites/base/05_ddl/05_0000_ddl_create_tables.test
Labels: pr-feature, pr-chore, ci-cloud

#17290 chore: Bump opendal to include a fix for gcs
  Cargo.lock
  Cargo.toml
Labels: pr-chore, ci-cloud

#17300 fix: copy into table collect files twice some times.
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
Labels: pr-bugfix

#17285 refactor(query): record state_offsets to reduce the memory leak of agg
  src/common/hashtable/src/dictionary_string_hashtable.rs
  src/common/hashtable/src/hashjoin_hashtable.rs
  src/common/hashtable/src/hashjoin_string_hashtable.rs
  src/common/hashtable/src/hashtable.rs
  src/common/hashtable/src/lookup_hashtable.rs
  src/common/hashtable/src/short_string_hashtable.rs
  src/common/hashtable/src/stack_hashtable.rs
  src/common/hashtable/src/string_hashtable.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/functions/src/aggregates/aggregate_distinct_state.rs
Labels: pr-refactor

#17307 chore: make error message of conflicting transactions more user-friendly
  src/query/catalog/src/catalog/interface.rs
  src/query/sql/src/planner/binder/binder.rs
Labels: pr-chore

#17308 chore: add enable_prune_cache setting
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning_pipeline/send_part_info_sink.rs
Labels: pr-chore

#17302 fix: set query_kind earlier to ensure it takes effect.
  src/query/sql/src/planner/planner.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
Labels: pr-bugfix

#17313 fix: use full path as cache key for parquet meta.
  src/query/storages/parquet/src/parquet_rs/meta.rs
Labels: pr-bugfix

#17305 chore(ci): backport release workflow
  .github/actions/artifact_upload/action.yml
  .github/actions/build_linux/action.yml
  .github/actions/pack_binaries/action.yml
  .github/actions/setup_build_tool/action.yml
  .github/actions/setup_test/action.yml
  .github/actions/test_cloud_sqllogic_standalone_linux/action.yml
  .github/actions/test_compat_fuse/action.yml
  .github/actions/test_compat_meta_meta/action.yml
  .github/actions/test_compat_meta_query/action.yml
  .github/actions/test_ee_management_mode_linux/action.yml
  .github/actions/test_ee_sqllogic_standalone_linux/action.yml
  .github/actions/test_ee_standalone_background_linux/action.yml
  .github/actions/test_ee_standalone_fake_time_linux/action.yml
  .github/actions/test_ee_standalone_linux/action.yml
  .github/actions/test_fuzz_standalone_linux/action.yml
  .github/actions/test_logs/action.yml
  .github/actions/test_meta_cluster/action.yml
  .github/actions/test_metactl/action.yml
  .github/actions/test_sqllogic_cluster_linux/action.yml
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  .github/actions/test_sqllogic_management_mode_linux/action.yml
  .github/actions/test_sqllogic_stage/action.yml
  .github/actions/test_sqllogic_standalone_linux/action.yml
  .github/actions/test_sqllogic_standalone_linux_minio/action.yml
  .github/actions/test_sqllogic_standalone_macos/action.yml
  .github/actions/test_stateful_cluster_linux/action.yml
  .github/actions/test_stateful_hive_standalone/action.yml
  .github/actions/test_stateful_iceberg_rest_standalone/action.yml
  .github/actions/test_stateful_large_data/action.yml
  .github/actions/test_stateful_standalone_linux/action.yml
  .github/actions/test_stateless_cluster_linux/action.yml
  .github/actions/test_stateless_cluster_macos/action.yml
  .github/actions/test_stateless_standalone_linux/action.yml
  .github/actions/test_stateless_standalone_macos/action.yml
  .github/scripts/bump_version.js
  .github/workflows/dev.yml
  .github/workflows/release.yml
  .github/workflows/reuse.linux.yml
  .github/workflows/reuse.sqllogic.yml
  Cargo.lock
  src/meta/app/src/principal/user_defined_function.rs
  src/query/storages/system/src/user_functions_table.rs
  tests/suites/0_stateless/20+_others/20_0016_udf_timestamp.result
  tests/suites/5_ee/00_check/00_0014_license_info.py
Labels: pr-chore, pr-backport

#17309 chore(query): improve fuse row fetch, use accumulating
  src/query/pipeline/transforms/src/processors/transforms/transform_accumulating_async.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/native_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
Labels: pr-chore

#17304 refactor(query): introduce udf runtime pool
  src/query/service/src/pipelines/builders/builder_udf.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/runtime_pool.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_script.rs
  tests/suites/0_stateless/20+_others/20_0023_udf_script_parallelism.result
  tests/suites/0_stateless/20+_others/20_0023_udf_script_parallelism.sh
  tests/suites/5_ee/07_failsafe/07_0000_amend_table.result
  tests/suites/5_ee/07_failsafe/07_0000_amend_table.sh
  tests/suites/5_ee/08_udf_python/08_0000_parallelism.result
  tests/suites/5_ee/08_udf_python/08_0000_parallelism.sh
Labels: pr-refactor

#17301 feat(sqlsmith): fuzz test support read Sqlite and Duckdb test
  src/query/ast/src/parser/expr.rs
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/ddl.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/func.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  src/tests/sqlsmith/src/util.rs
Labels: pr-feature

#17321 fix: column not found in analyze
  src/query/service/src/interpreters/interpreter_table_analyze.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0044_issue_17314.sql 
Labels: pr-bugfix

#17323 fix(query): unsupport datetime format item should not return panic error
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17335 chore(ci): fix pack binaries in release
  .github/actions/pack_binaries/action.yml
Labels: pr-chore

#17333 chore: fix flaky test
  tests/suites/5_ee/01_vacuum/01_0001_ee_vacuum_kill_randomly.sh
Labels: pr-chore

#17310 feat(ddl): support alter table cast tuple type column
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  tests/sqllogictests/suites/base/05_ddl/05_0003_ddl_alter_table.test
  tests/sqllogictests/suites/query/functions/02_0015_function_tuples.test
  tests/sqllogictests/suites/query/functions/02_0061_function_array.test
Labels: pr-feature

#17260 chore: Clean up not used crates
  Cargo.lock
  Cargo.toml
  src/common/grpc/Cargo.toml
  src/common/grpc/src/dns_resolver.rs
Labels: pr-chore

#17148 refactor(query): Multiple states Aggregate function
  Cargo.lock
  src/query/expression/Cargo.toml
  src/query/expression/src/aggregate/aggregate_function.rs
  src/query/expression/src/aggregate/aggregate_function_state.rs
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/expression/src/aggregate/partitioned_payload.rs
  src/query/expression/src/aggregate/payload.rs
  src/query/expression/src/aggregate/payload_flush.rs
  src/query/expression/src/lib.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_unary_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_null_variadic_adaptor.rs
  src/query/functions/src/aggregates/adaptors/aggregate_ornull_adaptor.rs
  src/query/functions/src/aggregates/adaptors/mod.rs
  src/query/functions/src/aggregates/aggregate_arg_min_max.rs
  src/query/functions/src/aggregates/aggregate_array_agg.rs
  src/query/functions/src/aggregates/aggregate_array_moving.rs
  src/query/functions/src/aggregates/aggregate_bitmap.rs
  src/query/functions/src/aggregates/aggregate_combinator_distinct.rs
  src/query/functions/src/aggregates/aggregate_combinator_if.rs
  src/query/functions/src/aggregates/aggregate_combinator_state.rs
  src/query/functions/src/aggregates/aggregate_count.rs
  src/query/functions/src/aggregates/aggregate_covariance.rs
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/aggregates/aggregate_null_result.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest.rs
  src/query/functions/src/aggregates/aggregate_quantile_tdigest_weighted.rs
  src/query/functions/src/aggregates/aggregate_retention.rs
  src/query/functions/src/aggregates/aggregate_st_collect.rs
  src/query/functions/src/aggregates/aggregate_string_agg.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/aggregates/aggregate_unary.rs
  src/query/functions/src/aggregates/aggregate_window_funnel.rs
  src/query/functions/src/aggregates/aggregator_common.rs
  src/query/functions/tests/it/aggregates/agg.rs
  src/query/functions/tests/it/aggregates/agg_hashtable.rs
  src/query/functions/tests/it/aggregates/mod.rs
  src/query/service/src/pipelines/builders/builder_aggregate.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_exchange_injector.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregate_meta.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/aggregator_params.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/mod.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/udaf_script.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/utils.rs
  src/query/service/src/pipelines/processors/transforms/window/window_function.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_final.rs
  src/query/sql/src/executor/physical_plans/physical_aggregate_partial.rs
  tests/sqllogictests/suites/base/03_common/03_0047_select_udaf.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_state.test
Labels: pr-refactor

#17344 fix: support returning rows larger than 10MB.
  src/query/service/src/servers/http/v1/query/page_manager.rs
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.result
  tests/suites/1_stateful/09_http_handler/09_0004_large_row.sh
Labels: pr-bugfix

#17342 fix(query): fix histogram binder and checker
  src/query/expression/src/type_check.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_histogram.test
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-bugfix

#17316 fix(query): add check window frame
  src/query/sql/src/planner/binder/bind_query/bind_value.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/src/arg.rs
  tests/sqllogictests/src/client/http_client.rs
  tests/sqllogictests/src/main.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values.test
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-bugfix

#17236 chore: enable sort spill in recluster
  Cargo.lock
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_dummy.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/system/src/streams_table.rs
  tests/suites/1_stateful/07_stage_attachment/07_0000_insert_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0001_replace_with_stage.result
  tests/suites/1_stateful/07_stage_attachment/07_0002_insert_with_stage_deduplicate.result
Labels: pr-chore, ci-cloud

#17340 fix(query): RawValueSource::parse_fallback fully parse input
  Cargo.lock
  src/query/formats/Cargo.toml
  src/query/formats/tests/it/field_decoder/fast_values.rs
  src/query/formats/tests/it/testdata/fast_values.txt
  src/query/service/src/pipelines/builders/builder_replace_into.rs
  tests/sqllogictests/suites/base/03_common/03_0016_insert_into_values.test
  tests/sqllogictests/suites/base/03_common/03_0027_insert_default.test
  tests/sqllogictests/suites/base/11_data_type/11_0006_data_type_decimal.test
Labels: pr-bugfix

#17349 chore(query): improve udf server headers
  src/common/base/src/headers.rs
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/pipelines/processors/transforms/transform_udf_server.rs
  src/query/service/src/table_functions/others/udf.rs
  src/query/sql/src/planner/binder/udf.rs
Labels: pr-chore

#17353 fix(query): disallow push down filters that use columns in window order by columns or function argument columns
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_push_down_filter_window.rs
  src/query/sql/src/planner/plans/window.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Labels: pr-bugfix

#17343 chore: backport `set cache capacity` to rel/v1.2.636-rc8.2
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  src/common/cache/src/cache.rs
  src/common/cache/src/cache/lru.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/storages/testdata/caches_table.txt
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/fuse/src/table_functions/mod.rs
  src/query/storages/fuse/src/table_functions/set_cache_capacity.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.sql 
  tests/suites/0_stateless/20+_others/20_0021_set_cache_capacity_privilege_check.result
  tests/suites/0_stateless/20+_others/20_0021_set_cache_capacity_privilege_check.sh
Labels: pr-chore

#17325 fix(query): procedure support string type
  src/query/service/src/interpreters/interpreter_procedure_drop.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/sql/src/planner/plans/ddl/procedure.rs
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
Labels: pr-bugfix

#17347 feat(ddl): Support add stored computed column
  src/query/service/src/interpreters/common/table.rs
  src/query/service/src/interpreters/interpreter_table_add_column.rs
  src/query/service/src/interpreters/interpreter_table_modify_column.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0028_ddl_alter_table_add_drop_column.test
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_create_add_computed_column.test
Labels: pr-feature

#17355 refactor: rename components of the `replace into` impl
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/meta/mod.rs
  src/query/storages/fuse/src/operations/replace_into/meta/replace_into_operation_meta.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_operation_agg.rs
  src/query/storages/fuse/src/operations/replace_into/processors/mod.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_unbranched_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/transform_replace_into_mutation_aggregator.rs
Labels: pr-refactor

#17357 fix(query): interval order by is incorrect
  Cargo.lock
  Cargo.toml
  src/common/column/src/types/native.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/row/fixed.rs
  src/query/expression/src/types/interval.rs
  src/query/expression/src/values.rs
  src/query/pipeline/transforms/src/processors/transforms/sort/k_way_merge_sort_partition.rs
  tests/sqllogictests/suites/base/11_data_type/11_0007_data_type_interval.test
Labels: pr-bugfix

#17360 feat: introduce block meta cache
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/pruning_pipeline/extract_segment_transform.rs
  src/query/storages/system/src/caches_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.sql 
Labels: pr-feature

#17364 feat(query): support desc procedure
  src/query/ast/src/ast/statements/procedure.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/procedure/procedure_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_procedure_desc.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/procedure.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
Labels: pr-feature

#17363 chore(ci): fix intergration ttc-go
  tests/sqllogictests/src/main.rs
Labels: pr-chore

#17336 chore: remove unused _row_number
  src/query/expression/src/schema.rs
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
Labels: pr-chore

#17371 chore: remove unused code
  src/query/storages/fuse/src/statistics/block_statistics.rs
  src/query/storages/fuse/src/statistics/mod.rs
Labels: pr-chore

#17372 feat(query): support Support from <table> to simplify select * from <table>
  src/query/ast/src/parser/query.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  tests/sqllogictests/suites/query/select.test
Labels: pr-feature

#17366 chore(query): bump jiff crate
  Cargo.lock
  Cargo.toml
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  src/common/io/tests/it/cursor_ext/read_datetime_ext.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/function.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/expression/tests/it/types.rs
  src/query/functions/Cargo.toml
  src/query/functions/src/scalars/timestamp/Cargo.toml
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/src/scalars/timestamp/src/interval.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/datetime.rs
  src/query/functions/tests/it/scalars/testdata/datetime.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/table_functions/cloud/task_history.rs
  tests/sqllogictests/src/util.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-chore

#17376 fix(query): cast string to timestamp overflow
  src/common/io/src/cursor_ext/cursor_read_datetime_ext.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-bugfix

#17381 feat(query): support timestamp diff return interval type
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  tests/sqllogictests/suites/query/functions/02_0079_function_interval.test
Labels: pr-feature

#17389 chore(query): fix hash join hang
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  tests/sqllogictests/suites/query/join/join.test
Labels: pr-chore
