Repository databendlabs/databend, pull requests merged in 2025-05, with the labels that each got.

#17877 feat(cluster): support fuzzy match for warehouse unassign node
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/management/tests/it/warehouse.rs
Labels: pr-feature

#17878 feat(meta-client-semaphore): generate semaphore sequence using timestamps to reduce conflicts
  src/meta/binaries/metabench/main.rs
  src/meta/client/src/grpc_client.rs
  src/meta/semaphore/src/acquirer/acquirer.rs
  src/meta/semaphore/src/acquirer/mod.rs
  src/meta/semaphore/src/acquirer/stat.rs
  src/meta/semaphore/src/semaphore.rs
  src/meta/service/tests/it/grpc/t51_metasrv_grpc_semaphore.rs
Labels: pr-feature

#17879 chore(query): use time base semaphore
  src/meta/store/src/lib.rs
  src/query/service/src/sessions/queue_mgr.rs
Labels: pr-chore

#17881 feat(query): support manage query workload through sql
  src/common/license/src/license.rs
  src/query/ast/src/ast/statements/mod.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/workload.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/management/src/lib.rs
  src/query/management/src/workload/mod.rs
  src/query/management/src/workload/workload_api.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_alter_workload_group.rs
  src/query/service/src/interpreters/interpreter_create_workload_group.rs
  src/query/service/src/interpreters/interpreter_drop_workload_group.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_rename_workload_group.rs
  src/query/service/src/interpreters/interpreter_show_workload_groups.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/mod.rs
  src/query/sql/src/planner/binder/ddl/workload.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/mod.rs
  src/query/sql/src/planner/plans/ddl/workload.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_workload_group.test
Labels: pr-feature

#17787 feat(query): iceberg data cache
  Cargo.lock
  Cargo.toml
  src/common/base/src/rangemap/range_merger.rs
  src/common/base/tests/it/range_merger.rs
  src/common/storage/Cargo.toml
  src/common/storage/src/lib.rs
  src/common/storage/src/operator.rs
  src/common/storage/src/stage.rs
  src/query/catalog/src/catalog/manager.rs
  src/query/catalog/src/plan/datasource/datasource_info/parquet.rs
  src/query/expression/benches/bench.rs
  src/query/expression/src/types/decimal.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/functions/src/scalars/decimal/src/arithmetic.rs
  src/query/functions/src/scalars/decimal/src/cast.rs
  src/query/settings/src/settings_default.rs
  src/query/storages/common/cache/src/cache_items.rs
  src/query/storages/common/io/src/merge_io_reader.rs
  src/query/storages/common/io/src/read_settings.rs
  src/query/storages/delta/src/table.rs
  src/query/storages/delta/src/table_source.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/lib.rs
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/iceberg/src/table_source.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/reader.rs
  src/query/storages/parquet/src/parquet_rs/copy_into_table/source.rs
  src/query/storages/parquet/src/parquet_rs/meta.rs
  src/query/storages/parquet/src/parquet_rs/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/mod.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/parquet_rs/parquet_reader/row_group.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/read.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/stats.rs
  src/query/storages/parquet/src/parquet_rs/parquet_table/table.rs
  src/query/storages/parquet/src/parquet_rs/partition.rs
  src/query/storages/parquet/src/parquet_rs/source.rs
  src/query/storages/parquet/src/read_settings.rs
  src/query/storages/parquet/tests/it/merge_io.rs
  src/query/storages/result_cache/src/table_function/table.rs
Labels: pr-feature

#17873 fix(optimizer): histogram calculations for string (Bytes) data types
  src/common/storage/src/statistics.rs
  src/query/sql/src/planner/optimizer/ir/stats/histogram.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0020_analyze.test
Labels: pr-bugfix, pr-chore

#17852 feat: impl `NgramIndex` for `FuseTable`, improve like query performance
  src/query/ee/tests/it/inverted_index/pruning.rs
  src/query/functions/src/scalars/hash.rs
  src/query/functions/src/scalars/mod.rs
  src/query/service/src/interpreters/interpreter_table_show_create.rs
  src/query/service/src/test_kits/block_writer.rs
  src/query/service/tests/it/storages/fuse/pruning.rs
  src/query/service/tests/it/storages/fuse/pruning_column_oriented_segment.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/planner/binder/ddl/index.rs
  src/query/storages/common/cache/src/cache_items.rs
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/index/src/bloom_index.rs
  src/query/storages/common/index/src/filters/bloom_filter.rs
  src/query/storages/common/index/src/filters/mod.rs
  src/query/storages/common/index/src/filters/xor8/block_filter.rs
  src/query/storages/common/index/src/filters/xor8/mod.rs
  src/query/storages/common/index/src/lib.rs
  src/query/storages/common/index/tests/it/bloom_pruner.rs
  src/query/storages/common/index/tests/it/testdata/test_bloom_filter.txt
  src/query/storages/fuse/src/io/read/bloom/block_filter_reader.rs
  src/query/storages/fuse/src/io/read/bloom/column_filter_reader.rs
  src/query/storages/fuse/src/io/write/block_writer.rs
  src/query/storages/fuse/src/io/write/bloom_index_writer.rs
  src/query/storages/fuse/src/io/write/stream/block_builder.rs
  src/query/storages/fuse/src/operations/changes.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  src/query/storages/fuse/src/operations/merge.rs
  src/query/storages/fuse/src/operations/mutation_source.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_operation_agg.rs
  src/query/storages/fuse/src/pruning/bloom_pruner.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/fuse/src/statistics/reducers.rs
  src/query/storages/fuse/src/table_functions/fuse_block.rs
  tests/sqllogictests/suites/ee/08_ee_ngram_index/08_0000_ngram_index_base.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_ngram_index.test
Labels: pr-feature

#17883 fix(query): sort will still be OOM even if spill is enabled
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_sort.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_sort.rs
  src/query/service/src/pipelines/processors/transforms/transform_merge_sort/sort_spill.rs
  src/query/service/src/spillers/spiller.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-bugfix

#17821 refactor: start a meta-service as local meta for testing
  Cargo.lock
  src/meta/api/src/txn_backoff.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/meta/store/src/local.rs
  src/meta/store/tests/it/kv_api.rs
  src/meta/store/tests/it/main.rs
  src/query/management/tests/it/warehouse.rs
  src/query/management/tests/it/workload.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/sessions/queue_mgr.rs
Labels: pr-refactor

#17887 chore: remove useless logic test on `explain_ngram_index.test`
  tests/sqllogictests/suites/mode/standalone/ee/explain_ngram_index.test
Labels: pr-chore

#17889 chore: fix loading data for benchmark
  benchmark/clickbench/benchmark_local.sh
  benchmark/clickbench/hits/load.sql
  benchmark/clickbench/tpch/load.sql
Labels: pr-chore

#17892 refactor(query): Optimize `FLATTEN` function with filter condition
  src/query/functions/src/srfs/variant.rs
  src/query/sql/src/executor/physical_plans/physical_eval_scalar.rs
  tests/sqllogictests/suites/mode/standalone/explain/project_set.test
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-refactor

#17888 refactor(meta-embedded): remove embedded meta-store
  Cargo.lock
  Cargo.toml
  src/meta/embedded/Cargo.toml
  src/meta/embedded/src/lib.rs
  src/meta/embedded/tests/it/kv_api_impl.rs
  src/meta/embedded/tests/it/main.rs
  src/meta/embedded/tests/it/schema_api_impl.rs
  src/meta/embedded/tests/it/testing.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/mem_meta.rs
  src/meta/raft-store/src/mem_state_machine.rs
  src/meta/store/src/lib.rs
  src/query/management/Cargo.toml
  src/query/management/tests/it/quota.rs
  src/query/management/tests/it/role.rs
  src/query/management/tests/it/setting.rs
  src/query/management/tests/it/stage.rs
  src/query/management/tests/it/udf.rs
Labels: pr-refactor

#17891 chore(query): auto cast int to string for concat functions
  src/query/functions/src/cast_rules.rs
  src/query/functions/src/scalars/array.rs
  src/query/functions/tests/it/scalars/array.rs
  src/query/functions/tests/it/scalars/string.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/string.txt
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_create_add_computed_column.test
Labels: pr-chore

#17860 chore(task): validate set settings name on alter taks set
  src/query/service/src/interpreters/interpreter_task_alter.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/settings/src/lib.rs
  tests/sqllogictests/suites/task/task_ddl_test.test
Labels: pr-chore

#17884 feat: new table option `enable_auto_vacuum`
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_table_set_options.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0006_table_opt_auto_vacuum.test
Labels: pr-feature

#17899 chore: fix load tpch100 for benchmark
  benchmark/clickbench/tpch/load.sql
Labels: pr-chore

#17893 feat: new settings `data_retention_num_snapshots_to_keep`
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/fuse_table.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0007_setting_num_snapshot_to_keep.test
Labels: pr-feature

#17902 fix(storage): Move timeout layer before to ensure cancel safety
  src/common/storage/src/operator.rs
Labels: pr-bugfix

#17900 feat(meta-service): add initialization complete flag for watch
  Cargo.lock
  Cargo.toml
  src/meta/README.md
  src/meta/client/src/lib.rs
  src/meta/semaphore/src/meta_event_subscriber/processor.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/meta_service/watcher.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/types/proto/meta.proto
  src/meta/types/src/proto_display/watch_display.rs
  src/meta/types/src/proto_ext/watch_ext.rs
Labels: pr-feature

#17885 fix: avoid excessive concurrency in row fetch
  src/query/service/src/pipelines/builders/builder_row_fetch.rs
  src/query/storages/fuse/src/operations/read/fuse_rows_fetcher.rs
  src/query/storages/fuse/src/operations/read/parquet_rows_fetcher.rs
Labels: pr-bugfix, pr-feature

#17907 fix(query): fix virtual column bind column
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns_builder.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/binder/bind_query/bind_select.rs
  src/query/sql/src/planner/metadata/metadata.rs
  src/query/sql/src/planner/semantic/type_check.rs
  src/query/storages/fuse/src/io/write/virtual_column_builder.rs
  src/query/storages/fuse/src/pruning/block_pruner.rs
  src/query/storages/fuse/src/pruning/virtual_column_pruner.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
  tests/sqllogictests/suites/mode/standalone/ee/explain_virtual_column.test
Labels: pr-bugfix

#17906 fix: overflow error in get_partition_id()
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
Labels: pr-bugfix

#17785 feat(base): allow exceeded memory limit if no workload
  src/binaries/query/entry.rs
  src/common/base/src/mem_allocator/tracker.rs
  src/common/base/src/runtime/memory/mem_stat.rs
  src/common/base/src/runtime/memory/memory_manager.rs
  src/common/base/src/runtime/memory/mod.rs
  src/common/base/src/runtime/memory/stat_buffer_global.rs
  src/common/base/src/runtime/memory/stat_buffer_mem_stat.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/tracing/src/loggers.rs
  src/common/tracing/src/remote_log.rs
  src/query/service/src/global_services.rs
  src/query/service/src/pipelines/executor/executor_graph.rs
  src/query/service/src/pipelines/executor/executor_worker_context.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/mysql/mysql_interactive_worker.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-feature, ci-benchmark

#17911 chore: fix typos
  .github/workflows.md
  src/bendsave/src/storage.rs
  src/common/column/tests/it/bitmap/mutable.rs
  src/query/service/src/pipelines/builders/builder_mutation_source.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  tests/sqllogictests/src/arg.rs
Labels: pr-chore

#17909 refactor(query): introduces trait SimpleType to simplify the ValueType implementation.
  src/common/native/src/compression/binary/dict.rs
  src/common/native/src/compression/boolean/mod.rs
  src/common/native/src/compression/double/dict.rs
  src/common/native/src/compression/double/freq.rs
  src/common/native/src/compression/double/mod.rs
  src/common/native/src/compression/integer/dict.rs
  src/common/native/src/compression/integer/freq.rs
  src/common/native/src/compression/integer/mod.rs
  src/common/native/src/compression/view/mod.rs
  src/common/native/src/write/boolean.rs
  src/common/native/src/write/primitive.rs
  src/common/native/src/write/serialize.rs
  src/common/native/src/write/view.rs
  src/query/expression/src/kernels/filter.rs
  src/query/expression/src/kernels/group_by_hash/method_fixed_keys.rs
  src/query/expression/src/kernels/take.rs
  src/query/expression/src/kernels/take_chunks.rs
  src/query/expression/src/kernels/take_compact.rs
  src/query/expression/src/kernels/take_ranges.rs
  src/query/expression/src/types.rs
  src/query/expression/src/types/date.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/types/interval.rs
  src/query/expression/src/types/number.rs
  src/query/expression/src/types/simple_type.rs
  src/query/expression/src/types/timestamp.rs
  src/query/expression/src/utils/column_from.rs
  src/query/expression/src/utils/visitor.rs
  src/query/expression/src/values.rs
  src/query/expression/tests/it/kernel.rs
  src/query/functions/src/aggregates/aggregate_sum.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
Labels: pr-refactor

#17914 chore(ci): fix release image registries
  .github/actions/setup_docker/action.yml
  .github/workflows/cloud.yml
  .github/workflows/release.yml
Labels: pr-chore

#17916 chore(ci): fix permissions for cloud build
  .github/workflows/cloud.yml
Labels: pr-chore

#17917 chore: fix ci login for ghcr
  .github/actions/setup_docker/action.yml
Labels: pr-chore

#17901 fix: Handle concurrent `gc_dropped_db_by_id` and `undrop_database` operations safely
  src/meta/api/src/schema_api_impl.rs
  src/meta/api/src/schema_api_test_suite.rs
Labels: pr-bugfix

#17920 chore(query): add some function alias
  src/meta/app/src/schema/create_option.rs
  src/query/ast/src/ast/statements/task.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  src/query/functions/src/aggregates/aggregator.rs
  src/query/service/src/interpreters/interpreter_task_create.rs
  src/query/sql/src/planner/binder/ddl/task.rs
  src/query/sql/src/planner/plans/ddl/task.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/task/task_notification_test.test
Labels: pr-chore

#17921 feat: Re-introduce Streaming Load API
  Cargo.lock
  src/query/ast/src/ast/statements/insert.rs
  src/query/ast/src/ast/statements/merge_into.rs
  src/query/ast/src/parser/statement.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_insert.rs
  src/query/service/src/interpreters/interpreter_replace.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/mod.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  src/query/sql/src/planner/binder/insert.rs
  src/query/sql/src/planner/binder/replace.rs
  src/query/sql/src/planner/plans/insert.rs
  src/query/storages/stage/Cargo.toml
  src/query/storages/stage/src/append/row_based_file/pipeline.rs
  src/query/storages/stage/src/compression.rs
  src/query/storages/stage/src/lib.rs
  src/query/storages/stage/src/read/avro/pipeline.rs
  src/query/storages/stage/src/read/load_context.rs
  src/query/storages/stage/src/read/mod.rs
  src/query/storages/stage/src/read/row_based/mod.rs
  src/query/storages/stage/src/read/row_based/read_pipeline.rs
  src/query/storages/stage/src/streaming_load.rs
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.result
  tests/suites/1_stateful/01_streaming_load/01_0001_streaming_load_ontime.sh
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.result
  tests/suites/1_stateful/01_streaming_load/01_0002_streaming_load_variant.sh
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.result
  tests/suites/1_stateful/01_streaming_load/01_0003_streaming_load_dedup.sh
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.result
  tests/suites/1_stateful/01_streaming_load/01_0004_streaming_load_error.sh
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.result
  tests/suites/1_stateful/01_streaming_load/01_0005_streaming_load_compact.sh
Labels: pr-feature

#17924 feat(query): support unset quota for workload group
  src/common/exception/src/exception_code.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/workload.rs
  src/query/ast/src/parser/statement.rs
  src/query/management/src/workload/workload_api.rs
  src/query/management/src/workload/workload_mgr.rs
  src/query/management/tests/it/workload.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_set_workload_group_quotas.rs
  src/query/service/src/interpreters/interpreter_unset_workload_group_quotas.rs
  src/query/service/src/interpreters/mod.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/workload.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/workload.rs
  src/query/sql/src/planner/plans/plan.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_workload_group.test
Labels: pr-feature

#17925 fix(query): ignore system database in stats
  src/query/service/src/servers/admin/v1/tenant_table_stats.rs
Labels: pr-bugfix

#17905 chore(query): add more test to cover iceberg catalogs
  .github/actions/test_stateful_iceberg_catalogs_standalone/action.yml
  .github/actions/test_stateful_iceberg_rest_standalone/action.yml
  .github/workflows/reuse.linux.yml
  Cargo.lock
  Cargo.toml
  docker/it-iceberg-catalogs/Dockerfile
  docker/it-iceberg-catalogs/core-site.xml
  docker/it-iceberg-catalogs/docker-compose.yaml
  scripts/ci/ci-run-stateful-iceberg-catalogs-tests-standalone.sh
  src/meta/app/src/schema/catalog.rs
  src/meta/proto-conv/src/catalog_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v111_add_glue_as_iceberg_catalog_option.rs
  src/meta/proto-conv/tests/it/v126_iceberg_storage_catalog_option.rs
  src/meta/protos/proto/catalog.proto
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc_server.rs
  src/query/expression/Cargo.toml
  src/query/expression/src/utils/udf_client.rs
  src/query/service/src/interpreters/interpreter_catalog_show_create.rs
  src/query/service/src/local/executor.rs
  src/query/service/tests/it/servers/flight/flight_service.rs
  src/query/service/tests/it/servers/http/clickhouse_handler.rs
  src/query/service/tests/it/servers/mysql/mysql_handler.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/catalog.rs
  src/query/sql/src/planner/binder/ddl/password_policy.rs
  src/query/sql/src/planner/binder/ddl/procedure.rs
  src/query/sql/src/planner/binder/show.rs
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/03_common/03_0008_select_aggregator_combinator.test
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.result
  tests/suites/3_stateful_iceberg/00_rest/00_0000_create_and_show.sh
Labels: pr-chore

#17926 chore(query): refine the exception code category
  src/common/exception/src/exception_code.rs
  tests/sqllogictests/suites/ee/04_ee_inverted_index/04_0000_inverted_index_base.test
  tests/sqllogictests/suites/query/functions/02_0060_function_geometry.test
  tests/sqllogictests/suites/query/functions/02_0076_function_geography.test
Labels: pr-chore

#17898 feat: Supports reading table data from Iceberg ORC
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  Cargo.lock
  src/query/storages/iceberg/Cargo.toml
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/iceberg/src/statistics.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/orc/src/lib.rs
  src/query/storages/orc/src/processors/source.rs
  src/query/storages/orc/src/read_pipeline.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/copy_into_table/reader.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/no_prefetch.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/policy.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/predicate_and_topk.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/topk_only.rs
  src/query/storages/parquet/src/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/parquet_table/read.rs
  src/query/storages/parquet/src/source.rs
  src/query/storages/parquet/src/transformer.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/sqllogictests/scripts/prepare_iceberg_test_data.py
  tests/sqllogictests/suites/tpch_iceberg/base.test
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-feature

#17929 fix(query): Prevent invalid filter expression generation in `InferFilterOptimizer`
  src/query/service/tests/it/sql/planner/optimizer/optimizers/operator/filter/infer_filter_test.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/filter/infer_filter.rs
  tests/sqllogictests/suites/mode/standalone/explain/infer_filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/infer_filter.test
Labels: pr-bugfix

#17938 refactor: Simplify dereferencing logic in MetaStore and update async methods for better clarity
  Cargo.lock
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/query/management/src/warehouse/warehouse_api.rs
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/service/src/clusters/cluster.rs
Labels: pr-refactor

#17934 fix(query): Ensure visibility of all columns in subqueries
  src/query/sql/src/planner/binder/bind_table_reference/bind_subquery.rs
  src/query/storages/fuse/src/io/write/virtual_column_builder.rs
  src/query/storages/fuse/src/statistics/accumulator.rs
  tests/sqllogictests/suites/base/03_common/03_0026_insert_into_tuple.test
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
Labels: pr-bugfix

#17942 feat(parse): Simplify the matching pattern when parse function, avoid exponential backtracking
  src/query/ast/benches/bench.rs
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
Labels: pr-feature

#17945 fix(query): fix lazy topn in srf functions
  src/query/service/tests/it/pipelines/filter/random_filter_expr.rs
  src/query/service/tests/it/sql/planner/optimizer/test_utils.rs
  src/query/sql/src/planner/binder/bind_context.rs
  src/query/sql/src/planner/binder/bind_table_reference/bind_table_function.rs
  src/query/sql/src/planner/binder/column_binding.rs
  src/query/sql/src/planner/binder/select.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/aggregate/normalize_aggregate.rs
  src/query/storages/parquet/src/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/source.rs
  tests/sqllogictests/suites/query/lateral.test
Labels: pr-bugfix

#17932 chore(query): bump up arrow to v55
  .github/actions/build_bindings_python/action.yml
  .github/actions/check/action.yml
  .github/workflows/bindings.python.yml
  Cargo.lock
  Cargo.toml
  scripts/setup/dev_setup.sh
  src/bendpy/Cargo.lock
  src/bendpy/Cargo.toml
  src/bendpy/README.md
  src/bendpy/config.toml.sample
  src/bendpy/pyproject.toml
  src/bendpy/src/context.rs
  src/bendpy/src/dataframe.rs
  src/bendpy/src/lib.rs
  src/bendpy/src/utils.rs
  src/bendpy/tests/basic.py
  src/bendpy/uv.lock
  src/binaries/query/entry.rs
  src/common/grpc/src/client_conf.rs
  src/common/storage/src/parquet.rs
  src/meta/store/src/lib.rs
  src/meta/store/src/local.rs
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/config/src/lib.rs
  src/query/service/src/local/mod.rs
  src/query/storages/parquet/src/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_reader/row_group.rs
Labels: pr-chore

#17944 feat(meta-client): add `watch_with_initialization()` method
  Cargo.lock
  src/meta/app/src/data_id.rs
  src/meta/client/src/client_handle.rs
  src/meta/client/src/established_client.rs
  src/meta/client/src/grpc_action.rs
  src/meta/client/src/grpc_client.rs
  src/meta/client/src/lib.rs
  src/meta/client/src/message.rs
  src/meta/client/src/required.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_watch.rs
  src/meta/store/Cargo.toml
  src/meta/store/src/lib.rs
  src/meta/types/src/errors/meta_client_errors.rs
  src/meta/types/src/errors/meta_errors.rs
Labels: pr-feature

#17941 feat: support async function for merge not match clause
  src/query/pipeline/transforms/src/processors/transforms/transform_pipeline_helper.rs
  src/query/service/src/pipelines/builders/builder_mutation.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_async_function.rs
  src/query/service/src/pipelines/processors/transforms/transform_branched_async_function.rs
  src/query/service/src/pipelines/processors/transforms/transform_branched_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_cast_schema.rs
  src/query/service/src/pipelines/processors/transforms/transform_resort_addon_without_source_schema.rs
  src/query/sql/src/evaluator/block_operator.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0048_issue_17936.sql
  tests/sqllogictests/suites/stage/sequence_as_default.test
Labels: pr-feature

#17949 fix: Schema mismatch issue that may occur due to case insensitivity when loading StageTable
  src/query/storages/delta/src/table.rs
  src/query/storages/hive/hive/src/hive_table.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_reader/reader/full_reader.rs
  src/query/storages/parquet/src/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/parquet_table/read.rs
  src/query/storages/parquet/src/source.rs
  src/query/storages/parquet/src/transformer.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/data/parquet/uppercase_fields.parquet
  tests/sqllogictests/suites/stage/options/case_sensitive_parquet.test
Labels: pr-bugfix

#17951 fix(meta-service): evict cache for purge raft-log
  Cargo.lock
  Cargo.toml
  src/meta/service/tests/it/store.rs
Labels: pr-bugfix

#17913 feat(query): UserOption add workload_group
  Cargo.lock
  src/meta/app/src/principal/user_info.rs
  src/meta/proto-conv/src/user_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v127_user_option_workload_group.rs
  src/meta/protos/proto/user.proto
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/service/src/interpreters/interpreter_user_desc.rs
  src/query/service/tests/it/storages/system.rs
  src/query/service/tests/it/storages/testdata/columns_table.txt
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/sql/src/planner/plans/ddl/account.rs
  src/query/storages/system/src/users_table.rs
  tests/sqllogictests/suites/base/05_ddl/05_0032_ddl_network_policy.test
  tests/sqllogictests/suites/base/05_ddl/05_0035_ddl_password_policy.test
  tests/sqllogictests/suites/base/06_show/06_0016_show_users.test
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0003_ddl_workload_group.test
  tests/suites/5_ee/09_workload_group/09_0000_workload_group.result
  tests/suites/5_ee/09_workload_group/09_0000_workload_group.sh
Labels: pr-feature

#17950 refactor(query): Refactor and optimize virtual column refresh
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/ee/src/storages/fuse/operations/virtual_columns.rs
  src/query/ee/src/virtual_column/virtual_column_handler.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns.rs
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns_builder.rs
  src/query/ee_features/virtual_column/Cargo.toml
  src/query/ee_features/virtual_column/src/virtual_column.rs
  src/query/service/src/interpreters/interpreter_virtual_column_refresh.rs
  src/query/sql/src/planner/binder/virtual_column.rs
  src/query/sql/src/planner/plans/virtual_column.rs
  src/query/storages/fuse/src/io/write/virtual_column_builder.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
Labels: pr-refactor

#17953 feat: support select from AVRO files.
  src/query/service/src/sessions/query_ctx.rs
  src/query/storages/stage/src/read/avro/avro_to_jsonb.rs
  src/query/storages/stage/src/read/avro/block_builder_processor.rs
  src/query/storages/stage/src/read/avro/decoder.rs
  tests/sqllogictests/suites/stage/formats/avro/avro_query.test
Labels: pr-feature

#17960 refactor: columns support display other catalog column info
  src/query/service/src/databases/system/system_database.rs
  src/query/service/tests/it/storages/system.rs
  src/query/sql/src/planner/binder/ddl/column.rs
  src/query/storages/system/src/columns_table.rs
  src/query/storages/system/src/tables_table.rs
  tests/sqllogictests/suites/tpch_iceberg/utils.test
Labels: pr-refactor

#17961 chore(query): add system history enterprise feature
  src/common/base/src/runtime/runtime_tracker.rs
  src/common/license/src/license.rs
  src/query/service/src/sessions/query_ctx.rs
Labels: pr-chore

#17962 fix(query): allow window expr in group by query
  .github/workflows/release.yml
  src/query/functions/src/lib.rs
  src/query/sql/src/planner/binder/window.rs
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/query/aggregate.test
Labels: pr-bugfix

#17958 chore: improve the http handler log and error message
  src/query/service/src/auth.rs
  src/query/service/src/servers/http/middleware/panic_handler.rs
  src/query/service/src/servers/http/middleware/session.rs
  src/query/service/src/servers/http/v1/catalog/get_database_table.rs
  src/query/service/src/servers/http/v1/catalog/list_database_table_fields.rs
  src/query/service/src/servers/http/v1/catalog/list_database_tables.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/execute_state.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/servers/http/v1/query/http_query_context.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/src/servers/http/v1/query/page_manager.rs
  src/query/service/src/servers/http/v1/session/client_session_manager.rs
  src/query/service/src/servers/http/v1/session/login_handler.rs
  src/query/service/src/servers/http/v1/session/logout_handler.rs
  src/query/service/src/servers/http/v1/session/refresh_handler.rs
  src/query/service/src/servers/http/v1/session/token.rs
  src/query/service/src/servers/http/v1/stage.rs
  src/query/service/src/servers/http/v1/streaming_load.rs
  src/query/service/src/servers/http/v1/users.rs
  src/query/service/tests/it/servers/http/http_query_handlers.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/storages/fuse/src/io/snapshots.rs
  tests/sqllogictests/scripts/prepare_iceberg_test_data.py
  tests/suites/0_stateless/18_rbac/18_0011_alter_own_username.sh
  tests/suites/1_stateful/09_http_handler/09_0005_kill.result
  tests/suites/1_stateful/09_http_handler/09_0006_route_error.result
  tests/suites/1_stateful/09_http_handler/09_0007_token.result
Labels: pr-chore

#17965 chore(query): add encoding/decoding size in task client
  .github/workflows/bindings.python.yml
  scripts/setup/dev_setup.sh
  src/common/cloud_control/src/task_client.rs
Labels: pr-chore

#17963 fix(query): use local time for query log
  src/query/storages/system/src/query_log_table.rs
Labels: pr-bugfix, ci-cloud

#17890 fix(binder): fix external location table list check end with delimiter '/'
  src/query/sql/src/planner/binder/ddl/table.rs
Labels: pr-bugfix, ci-cloud

#17968 feat(query): support show sequences and desc sequence
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/sequence_api.rs
  src/meta/api/src/sequence_api_impl.rs
  src/meta/app/src/schema/sequence.rs
  src/query/ast/src/ast/statements/sequence.rs
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/parser/sequence.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/iceberg/iceberg_catalog.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_sequence_desc.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/src/table_functions/mod.rs
  src/query/service/src/table_functions/show_sequences/mod.rs
  src/query/service/src/table_functions/show_sequences/show_sequences_table.rs
  src/query/service/src/table_functions/table_function_factory.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/sequence.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/sequence.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show.result
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show.result_filter
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show.sql
  tests/suites/0_stateless/12_time_travel/12_0002_time_travel_show_tables_hist.result
Labels: pr-feature

#17969 refactor(metactl): when restore without --initial-cluster, add default single node cluster config
  .github/actions/test_metactl/action.yml
  Makefile
  src/bendsave/src/restore.rs
  src/meta/control/src/args.rs
  src/meta/control/src/import.rs
  tests/metactl/requirements.txt
  tests/metactl/test-metactl-restore-new-cluster.py
  tests/metactl/test-metactl-restore-new-cluster.sh
  tests/metactl/test-metactl.sh
Labels: pr-refactor

#17973 chore(query): release binding python
  .github/workflows/bindings.python.yml
Labels: pr-chore

#17967 chore: improve license validation log message
  src/query/ee/src/license/license_mgr.rs
  src/query/service/src/interpreters/interpreter.rs
Labels: pr-chore

#17974 feat(meta-client): enable cache for listing ownership
  Cargo.lock
  src/meta/app/src/tenant_key/ident.rs
  src/meta/cache/src/cache.rs
  src/meta/cache/src/event_watcher.rs
  src/query/management/Cargo.toml
  src/query/management/src/role/role_mgr.rs
  src/query/management/tests/it/role.rs
  src/query/users/Cargo.toml
  src/query/users/src/user_api.rs
Labels: pr-feature, ci-benchmark-local

#17976 refactor: move transaction commit relevant code to interpreter
  Cargo.lock
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_txn_commit.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/mod.rs
  src/query/sql/src/planner/mod.rs
Labels: pr-refactor

#17977 feat(query): Support show grants of role <role_name>
  src/query/ast/src/ast/statements/statement.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/management/src/user/user_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
Labels: pr-feature

#17954 feat(query): Support auto Number-to-Boolean casting and improved Number-String comparison
  src/query/expression/src/type_check.rs
  src/query/functions/src/cast_rules.rs
  src/query/functions/src/scalars/comparison.rs
  src/query/functions/tests/it/scalars/comparison.rs
  src/query/functions/tests/it/scalars/testdata/array.txt
  src/query/functions/tests/it/scalars/testdata/comparison.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/map.txt
  src/query/functions/tests/it/type_check.rs
  src/query/functions/tests/it/type_check/testdata/decimal.txt
  src/query/functions/tests/it/type_check/testdata/float.txt
  src/query/functions/tests/it/type_check/testdata/nullable_signed.txt
  src/query/functions/tests/it/type_check/testdata/nullable_unsigned.txt
  src/query/functions/tests/it/type_check/testdata/signed.txt
  src/query/functions/tests/it/type_check/testdata/unsigned.txt
  src/query/sql/src/executor/physical_plans/physical_hash_join.rs
  src/query/sql/src/executor/physical_plans/physical_range_join.rs
  src/query/sql/src/planner/optimizer/ir/property/enforcer.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/filter/infer_filter.rs
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/mode/standalone/explain/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain/join.test
  tests/sqllogictests/suites/mode/standalone/explain_native/expression_scan.test
  tests/sqllogictests/suites/mode/standalone/explain_native/join.test
  tests/sqllogictests/suites/query/functions/02_0005_function_compare.test
  tests/sqllogictests/suites/query/join/join.test
  tests/sqllogictests/suites/query/join/merge_join.test
Labels: pr-feature

#17978 feat: add cast from variant to binary/interval/decimal.
  Cargo.lock
  src/query/functions/src/scalars/binary.rs
  src/query/functions/src/scalars/decimal/Cargo.toml
  src/query/functions/src/scalars/decimal/src/cast.rs
  src/query/functions/src/scalars/decimal/src/cast_from_jsonb.rs
  src/query/functions/src/scalars/decimal/src/lib.rs
  src/query/functions/src/scalars/variant.rs
  src/query/functions/tests/it/scalars/binary.rs
  src/query/functions/tests/it/scalars/testdata/binary.txt
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/functions/tests/it/scalars/testdata/variant.txt
  src/query/functions/tests/it/scalars/variant.rs
  src/query/storages/stage/src/read/avro/avro_to_jsonb.rs
  tests/data/avro/decimal.avro
  tests/data/avro/decimal.avsc
  tests/data/avro/extension.avro
  tests/data/avro/extension.avsc
  tests/data/avro/gen_logical.py
  tests/data/avro/timestamp.avro
  tests/data/avro/timestamp.avsc
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
  tests/sqllogictests/suites/query/functions/02_0002_function_try_cast.test
  tests/sqllogictests/suites/stage/formats/avro/avro_decimal.test
  tests/sqllogictests/suites/stage/formats/avro/avro_extension.test
  tests/sqllogictests/suites/stage/formats/avro/avro_metadata.test
Labels: pr-feature

#17986 fix(meta-semaphore): deadlock between meta-service semaphores
  src/meta/semaphore/src/queue/semaphore_queue.rs
Labels: pr-bugfix

#17983 chore(query): support config for storage network
  src/common/base/src/http_client.rs
  src/common/storage/src/http_client.rs
  src/common/storage/src/operator.rs
  src/meta/app/src/storage/storage_params.rs
  src/meta/proto-conv/src/config_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/user_proto_conv.rs
  src/meta/proto-conv/tests/it/user_stage.rs
  src/meta/proto-conv/tests/it/v030_user_stage.rs
  src/meta/proto-conv/tests/it/v031_copy_max_file.rs
  src/meta/proto-conv/tests/it/v051_obs_and_cos_storage.rs
  src/meta/proto-conv/tests/it/v057_hdfs_storage.rs
  src/meta/proto-conv/tests/it/v061_oss_sse_options.rs
  src/meta/proto-conv/tests/it/v073_huggingface_config.rs
  src/meta/proto-conv/tests/it/v128_storage_network_config.rs
  src/meta/protos/proto/config.proto
  src/query/config/src/config.rs
  src/query/config/src/lib.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/sql/src/planner/binder/copy_into_location.rs
  src/query/sql/src/planner/binder/location.rs
Labels: pr-chore

#17408 chore(backport): Backport `replace into` refactoring to v1.2.636
  .cargo/audit.toml
  Cargo.lock
  src/query/config/src/config.rs
  src/query/config/src/inner.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/tests/it/storages/testdata/configs_table_basic.txt
  src/query/storages/common/cache/Cargo.toml
  src/query/storages/common/cache/src/caches.rs
  src/query/storages/common/cache/src/lib.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/fuse/src/operations/replace.rs
  src/query/storages/fuse/src/operations/replace_into/meta/mod.rs
  src/query/storages/fuse/src/operations/replace_into/meta/replace_into_operation_meta.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/mod.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_mutator.rs
  src/query/storages/fuse/src/operations/replace_into/mutator/replace_into_operation_agg.rs
  src/query/storages/fuse/src/operations/replace_into/processors/mod.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/processor_unbranched_replace_into.rs
  src/query/storages/fuse/src/operations/replace_into/processors/transform_replace_into_mutation_aggregator.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  src/query/storages/system/src/caches_table.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0043_set_cache_cap.sql 
  tests/sqllogictests/suites/stage/formats/parquet/options/null_if.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_uuid.test
  tests/suites/0_stateless/05_hints/05_0001_set_var.result
  tests/suites/0_stateless/05_hints/05_0001_set_var.sh
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.result
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.result
  tests/suites/0_stateless/18_rbac/18_0007_privilege_access.sh
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.result
  tests/suites/0_stateless/20+_others/20_0015_compact_hook_stas_issue_13947.sh
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.result
  tests/suites/1_stateful/00_stage/00_0001_copy_into_stage.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.result
  tests/suites/1_stateful/00_stage/00_0012_stage_priv.sh
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.result
  tests/suites/1_stateful/00_stage/00_0012_stage_with_connection.sh
  tests/suites/1_stateful/00_stage/00_0015_unload_output.result
  tests/suites/1_stateful/00_stage/00_0015_unload_output.sh
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.result
  tests/suites/1_stateful/05_formats/05_05_parquet/05_05_01_parquet_load_unload.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_06_transform.sh
Labels: pr-chore

#17946 chore: add `release_cache_memory` to CacheManager
  src/query/storages/common/cache/src/cache.rs
  src/query/storages/common/cache/src/manager.rs
  src/query/storages/common/cache/src/providers/disk_cache/disk_cache_lru.rs
  src/query/storages/common/cache/src/providers/disk_cache_builder.rs
  src/query/storages/common/cache/src/providers/hybrid_cache.rs
  src/query/storages/common/cache/src/providers/memory_cache.rs
  src/query/storages/common/table_meta/src/meta/current/mod.rs
  src/query/storages/common/table_meta/src/meta/v4/mod.rs
Labels: pr-chore

#17982 feat: Iceberg Table supports delete positions of merge on read when reading
  .github/actions/test_sqllogic_iceberg_tpch/action.yml
  Cargo.lock
  Cargo.toml
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/iceberg/src/table.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/no_prefetch.rs
  src/query/storages/parquet/src/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/source.rs
  tests/sqllogictests/scripts/prepare_iceberg_test_data.py
  tests/sqllogictests/suites/tpch_iceberg/base.test
Labels: pr-feature

#17992 chore(base): remove useless log for runtime
  src/common/base/src/runtime/runtime.rs
Labels: pr-chore

#17987 chore(query): refactor parquet part to make reader work on parallel
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/delta/src/table.rs
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/source.rs
  src/query/storages/result_cache/src/table_function/table.rs
  tests/databend-test
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
Labels: pr-chore

#17993 chore(query): refine the log and error message
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_select.rs
  src/query/service/src/pipelines/executor/pipeline_executor.rs
  src/query/service/src/pipelines/executor/processor_async_task.rs
  src/query/service/src/pipelines/executor/query_pipeline_executor.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_aggregate_partial.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/transform_single_key.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/service/tests/it/pipelines/executor/pipeline_executor.rs
  src/query/sql/src/executor/table_read_plan.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/copy_into_table.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/read/fuse_source.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/pruning/fuse_pruner.rs
  tests/data/avro/gen_logical.py
  tests/metactl/test-metactl-restore-new-cluster.py
  tests/sqllogictests/scripts/prepare_iceberg_test_data.py
  tests/suites/1_stateful/00_stage/00_0004_copy_with_max_files.result
Labels: pr-chore

#17994 feat(query): enable workload groups for resource control over the http handler
  src/common/base/src/mem_allocator/tracker.rs
  src/common/base/src/runtime/memory/mem_stat.rs
  src/common/base/src/runtime/memory/memory_manager.rs
  src/common/base/src/runtime/memory/stat_buffer_mem_stat.rs
  src/common/base/src/runtime/mod.rs
  src/common/base/src/runtime/workload_group.rs
  src/query/management/src/workload/mod.rs
  src/query/management/src/workload/workload_api.rs
  src/query/management/src/workload/workload_mgr.rs
  src/query/management/src/workload/workload_resource.rs
  src/query/management/tests/it/workload.rs
  src/query/service/src/global_services.rs
  src/query/service/src/interpreters/interpreter_create_workload_group.rs
  src/query/service/src/interpreters/interpreter_show_workload_groups.rs
  src/query/service/src/schedulers/fragments/query_fragment_actions.rs
  src/query/service/src/servers/flight/v1/actions/init_query_env.rs
  src/query/service/src/servers/flight/v1/packets/packet_publisher.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/servers/http/v1/query/http_query.rs
  src/query/service/src/sessions/session.rs
  src/query/service/src/sessions/session_ctx.rs
  src/query/settings/src/settings_getter_setter.rs
  tests/suites/5_ee/09_workload_group/09_0000_workload_group.result
  tests/suites/5_ee/09_workload_group/09_0000_workload_group.sh
Labels: pr-feature

#17989 chore(query): generate cte tmp tbl should in current_catalog
  src/query/sql/src/planner/binder/bind_query/bind.rs
  tests/sqllogictests/suites/tpch_iceberg/queries.test
Labels: pr-chore

#17981 chore(query): check release binding python without attestations
  .github/workflows/bindings.python.yml
  src/bendpy/pyproject.toml
  src/bendpy/src/lib.rs
  src/bendpy/uv.lock
Labels: pr-chore

#18000 fix: flaky test `test_release_cache_memory`
  src/query/storages/common/cache/src/manager.rs
Labels: pr-bugfix

#18003 fix(meta-semaphore): skip dup seq semaphore permit
  src/meta/semaphore/src/queue/semaphore_queue.rs
Labels: pr-bugfix

#18002 fix(cache): fix improper config usage in cache manager
  src/query/storages/common/cache/src/manager.rs
Labels: pr-bugfix

#18009 fix(cache): fix improper config usage in cache manager (#18002)
  src/query/storages/common/cache/src/manager.rs
Labels: pr-bugfix

#18005 fix(meta-service): when setting up a watch stream, lock state machine
  src/meta/service/src/api/grpc/grpc_service.rs
Labels: pr-bugfix

#18018 refactor(meta): sleep a second before removing dir when cleaning up sled during upgrade
  src/meta/raft-store/src/ondisk/upgrade_to_v004.rs
Labels: pr-refactor

#18020 refactor: bendsave should be able to output its built version
  Cargo.lock
  src/bendsave/Cargo.toml
  src/bendsave/src/main.rs
Labels: pr-refactor

#18022 chore(query): last_day support default interval type
  src/query/ast/src/parser/expr.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr.txt
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes_tz.test
Labels: pr-feature, pr-chore

#18015 feat: Iceberg Table supports equality delete of merge on read when reading
  src/query/expression/src/function.rs
  src/query/storages/iceberg/src/partition.rs
  src/query/storages/parquet/src/copy_into_table/reader.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_reader/predicate.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/no_prefetch.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/policy.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/predicate_and_topk.rs
  src/query/storages/parquet/src/parquet_reader/read_policy/topk_only.rs
  src/query/storages/parquet/src/parquet_reader/reader/builder.rs
  src/query/storages/parquet/src/parquet_reader/reader/row_group_reader.rs
  src/query/storages/parquet/src/source.rs
  tests/sqllogictests/scripts/docker-compose-iceberg-tpch.yml
  tests/sqllogictests/scripts/iceberg-driver/.gitignore
  tests/sqllogictests/scripts/iceberg-driver/Dockerfile
  tests/sqllogictests/scripts/iceberg-driver/README.md
  tests/sqllogictests/scripts/iceberg-driver/pom.xml
  tests/sqllogictests/scripts/iceberg-driver/src/main/java/org/example/Driver.java
  tests/sqllogictests/scripts/prepare_iceberg_test_data.py
  tests/sqllogictests/suites/tpch_iceberg/base.test
Labels: pr-feature

#18027 feat(query): enhance datetime functions
  src/query/ast/src/parser/expr.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/expr-error.txt
  src/query/ast/tests/it/testdata/expr.txt
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/expression/src/function.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/other.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/sessions/query_ctx.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/sql/src/planner/semantic/type_check.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-feature, ci-cloud

#18038 fix: flay test `03_0004_auto_vacuum.test`
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0004_auto_vacuum.test
Labels: pr-bugfix

#18028 feat: support load/select parquet files into a single variant column.
  Cargo.lock
  src/query/catalog/src/plan/datasource/datasource_info/stage.rs
  src/query/expression/src/types/variant.rs
  src/query/functions/src/aggregates/aggregate_json_array_agg.rs
  src/query/functions/src/aggregates/aggregate_json_object_agg.rs
  src/query/functions/src/scalars/variant.rs
  src/query/service/src/interpreters/interpreter_copy_into_location.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/storages/parquet/Cargo.toml
  src/query/storages/parquet/src/copy_into_table/source.rs
  src/query/storages/parquet/src/lib.rs
  src/query/storages/parquet/src/parquet_part.rs
  src/query/storages/parquet/src/parquet_table/partition.rs
  src/query/storages/parquet/src/parquet_variant_table/mod.rs
  src/query/storages/parquet/src/parquet_variant_table/recordbatch_to_variant.rs
  src/query/storages/parquet/src/parquet_variant_table/source.rs
  src/query/storages/parquet/src/parquet_variant_table/table.rs
  src/query/storages/stage/src/stage_table.rs
  tests/data/parquet/alltypes_plain.parquet.csv
  tests/sqllogictests/suites/base/03_common/03_0028_copy_into_stage.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0026_merge_into.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0034_pr13848_without_distributed_enable.test
  tests/sqllogictests/suites/base/09_fuse_engine/09_0036_merge_into_without_distributed_enable.test
  tests/sqllogictests/suites/mode/cluster/merge_into_non_equal_distributed.test
  tests/sqllogictests/suites/stage/empty_file.test
  tests/sqllogictests/suites/stage/formats/parquet/error_diff_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/options/select_options.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_metadata.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_to_variant.test
  tests/sqllogictests/suites/stage/ordered_unload.test
  tests/sqllogictests/suites/stage/select_star.test
Labels: pr-feature

#18041 fix: when the WithIn Function arguments all are not `Nullable`, `OrderBy` fails
  src/query/functions/src/aggregates/aggregate_function_factory.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_mix.test
Labels: pr-bugfix

#18040 fix: `explain analyze` missing partition information
  src/query/catalog/src/table.rs
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/pipelines/builders/builder_scan.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  src/query/service/tests/it/storages/fuse/operations/internal_column.rs
  src/query/service/tests/it/storages/fuse/pruning_pipeline.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/operations/read_partitions.rs
  src/query/storages/fuse/src/pruning_pipeline/send_part_info_sink.rs
  tests/suites/1_stateful/02_query/02_0011_explain_analyze_part_info.py
  tests/suites/1_stateful/02_query/02_0011_explain_analyze_part_info.result
Labels: pr-bugfix

#18029 chore(query): improve intersect_or_except join type
  .github/actions/build_bindings_python/action.yml
  Cargo.lock
  src/bendpy/Cargo.toml
  src/query/sql/src/planner/binder/select.rs
Labels: pr-chore

#18042 refactor: Optimize PostgreSQL to strftime Format
  src/query/expression/Cargo.toml
  src/query/expression/src/function.rs
  src/query/expression/src/utils/date_helper.rs
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  src/query/settings/src/settings_default.rs
  tests/sqllogictests/suites/query/functions/02_0012_function_datetimes.test
Labels: pr-refactor

#18032 chore(optimizer): enhance the optimizer trace
  src/query/sql/src/planner/optimizer/optimizer_api.rs
  src/query/sql/src/planner/optimizer/optimizer_context.rs
  src/query/sql/src/planner/optimizer/optimizers/recursive/recursive.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  src/query/sql/src/planner/optimizer/pipeline/mod.rs
  src/query/sql/src/planner/optimizer/pipeline/pipeline.rs
  src/query/sql/src/planner/optimizer/pipeline/trace/mod.rs
  src/query/sql/src/planner/optimizer/pipeline/trace/trace.rs
Labels: pr-chore, ci-cloud
