Repository databendlabs/databend, pull requests merged in 2025-09, with the labels that each got.

#18656 ci: fix install nfpm
  .github/actions/pack_deb/action.yml
Labels: pr-build

#18622 refactor: refactor inlist runtime filter with or_filters and add configurable runtime filter thresholds
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_build_state.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/convert.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/interface.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
Labels: pr-refactor

#18621 feat: Add `RuleFilterFlattenOr`
  src/query/expression/src/expression.rs
  src/query/expression/src/utils/filter_helper.rs
  src/query/sql/src/planner/binder/scalar_common.rs
  src/query/sql/src/planner/optimizer/ir/stats/selectivity.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/decorrelate.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/filter/normalize_disjunctive_filter.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/factory.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/mod.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/rule_filter_flatten_or.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/filter_rules/rule_push_down_filter_join.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/join_rules/push_down_filter_join/extract_or_predicates.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/join_rules/push_down_filter_join/mark_join_to_semi_join.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/join_rules/rule_left_exchange_join.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/rule.rs
  tests/sqllogictests/suites/mode/standalone/explain/explain.test
  tests/sqllogictests/suites/mode/standalone/explain/filter.test
  tests/sqllogictests/suites/mode/standalone/explain_native/explain.test
  tests/sqllogictests/suites/query/functions/02_0046_function_logic.test
Labels: pr-feature

#18654 refactor(schema-api): extract CatalogApi trait from SchemaApi
  src/meta/api/src/catalog_api.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/query/catalog/src/catalog/manager.rs
Labels: pr-refactor

#18658 refactor(schema-api): extract SecurityApi trait
  src/meta/api/src/dictionary_api.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/lock_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/security_api.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/databases/default/default_database.rs
Labels: pr-refactor

#18662 ci: fix download artifact for sqlsmith
  .github/workflows/release.yml
Labels: pr-build

#18655 fix(query): try fix hang for cluster aggregate
  src/query/service/src/physical_plans/physical_aggregate_final.rs
  src/query/service/src/pipelines/processors/transforms/aggregator/new_transform_partition_bucket.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_transform.rs
  tests/sqllogictests/suites/ee/02_ee_aggregating_index/02_0001_agg_index_projected_scan.test
  tests/sqllogictests/suites/query/cte/basic_r_cte.test
  tests/sqllogictests/suites/query/window_function/window_bound.test
Labels: pr-bugfix, ci-cloud

#18660 refactor(query): remove useless ee feature
  Cargo.lock
  Cargo.toml
  src/common/license/src/license.rs
  src/common/license/src/license_manager.rs
  src/query/ee/Cargo.toml
  src/query/ee/src/enterprise_services.rs
  src/query/ee/src/lib.rs
  src/query/ee/src/license/license_mgr.rs
  src/query/ee/src/storage_quota/handler.rs
  src/query/ee/src/storage_quota/mod.rs
  src/query/ee_features/storage_quota/Cargo.toml
  src/query/ee_features/storage_quota/src/handler.rs
  src/query/ee_features/storage_quota/src/lib.rs
Labels: pr-refactor

#18623 feat(query): Add SecureFilter for Row Access Policies and Stats Privacy
  Cargo.lock
  src/query/service/src/physical_plans/format/format_secure_filter.rs
  src/query/service/src/physical_plans/format/mod.rs
  src/query/service/src/physical_plans/mod.rs
  src/query/service/src/physical_plans/physical_plan_builder.rs
  src/query/service/src/physical_plans/physical_secure_filter.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/planner/binder/ddl/row_access_policy.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/sql/src/planner/format/display_rel_operator.rs
  src/query/sql/src/planner/optimizer/ir/format.rs
  src/query/sql/src/planner/optimizer/optimizers/cascades/cost/model.rs
  src/query/sql/src/planner/optimizer/optimizers/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/optimizers/operator/decorrelate/subquery_decorrelator.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/join_rules/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/plans/mod.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/operator_macros.rs
  src/query/sql/src/planner/plans/secure_filter.rs
  tests/sqllogictests/suites/ee/05_ee_ddl/05_0004_ddl_row_access_policy.test
Labels: pr-feature

#18644 chore: enable distributed recluster
  src/query/expression/src/utils/block_thresholds.rs
  src/query/expression/tests/it/block_thresholds.rs
  src/query/settings/src/settings_default.rs
Labels: pr-chore

#18669 refactor(meta): complete SchemaApi trait decomposition
  src/meta/api/src/index_api.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
Labels: pr-refactor

#18667 fix(rbac): create or replace ownership_object should delete the old ownership key
  src/meta/api/src/database_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/test_kits/fixture.rs
  src/query/service/tests/it/storages/fuse/operations/create_or_replace_ownership_object.rs
  src/query/service/tests/it/storages/fuse/operations/mod.rs
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
  tests/suites/0_stateless/18_rbac/18_0002_ownership_cover.sh
Labels: pr-bugfix

#18664 fix(history-table): stop heartbeat when another node starts
  src/query/service/src/history_tables/error_handling.rs
  src/query/service/src/history_tables/global_history_log.rs
  src/query/service/src/history_tables/meta.rs
Labels: pr-bugfix

#18673 chore: add test about create sequence to keep old version
  tests/sqllogictests/suites/base/05_ddl/05_0036_sequence.test
  tests/suites/0_stateless/18_rbac/18_0016_seq_rbac.sh
Labels: pr-chore

#18674 chore: add some log for runtime filter
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/builder.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/interface.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/runtime_filter/merge.rs
  src/query/sql/src/planner/binder/table.rs
  src/query/storages/fuse/src/operations/read/parquet_data_source_deserializer.rs
  src/query/storages/fuse/src/operations/read/parquet_data_transform_reader.rs
Labels: pr-chore

#18665 fix: clean `db_id_table_name` during vacuuming dropped tables
  src/common/exception/src/exception_code.rs
  src/meta/api/src/database_api.rs
  src/meta/api/src/garbage_collection_api.rs
  src/meta/app/src/app_error.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
  src/query/service/tests/it/storages/fuse/operations/mod.rs
Labels: pr-bugfix

#18668 ci: compat test for JDBC use test from main.
  .github/actions/test_compat_client_cluster/action.yml
  .github/actions/test_compat_client_standalone/action.yml
  .github/workflows/reuse.linux.yml
  .gitignore
  scripts/ci/ci-run-sqllogic-tests-cluster-nginx.sh
  scripts/ci/deploy/databend-query-cluster-3-nodes-nginx.sh
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  tests/nox/java_client/perpare.py
  tests/nox/java_client/testng.xml
  tests/nox/noxfile.py
Labels: pr-build

#18677 chore: catch `to_date`/`to_timestamp` unwrap
  Cargo.lock
  src/query/functions/src/scalars/timestamp/Cargo.toml
  src/query/functions/src/scalars/timestamp/src/datetime.rs
  tests/sqllogictests/suites/query/functions/02_0002_function_cast.test
Labels: pr-chore

#18684 feat: enhance resource scheduling logs with clear status and configuration details
  scripts/ci/ci-run-sqllogic-tests-cluster-nginx.sh
  scripts/selfhost/fetch_meta_log.sh
  scripts/selfhost/restore_logs.sh
  src/query/service/src/sessions/queue_mgr.rs
  tests/nox/java_client/perpare.py
  tests/nox/noxfile.py
Labels: pr-feature, ci-cloud

#18681 fix: forbid transform with where clause.
  src/query/ast/src/ast/statements/copy.rs
  src/query/ast/src/parser/copy.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/sql/src/planner/binder/copy_into_table.rs
Labels: pr-bugfix

#18678 refactor(meta): extract utilities from monolithic util.rs
  src/meta/api/src/data_mask_api_impl.rs
  src/meta/api/src/data_retention_util.rs
  src/meta/api/src/database_api.rs
  src/meta/api/src/database_util.rs
  src/meta/api/src/dictionary_api.rs
  src/meta/api/src/error_util.rs
  src/meta/api/src/garbage_collection_api.rs
  src/meta/api/src/index_api.rs
  src/meta/api/src/kv_fetch_util.rs
  src/meta/api/src/kv_pb_crud_api.rs
  src/meta/api/src/lib.rs
  src/meta/api/src/lock_api.rs
  src/meta/api/src/name_id_value_api.rs
  src/meta/api/src/row_access_policy_api_impl.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/security_api.rs
  src/meta/api/src/sequence_api_impl.rs
  src/meta/api/src/sequence_nextval_impl.rs
  src/meta/api/src/serialization_util.rs
  src/meta/api/src/table_api.rs
  src/meta/api/src/testing.rs
  src/meta/api/src/txn_condition_util.rs
  src/meta/api/src/txn_core_util.rs
  src/meta/api/src/txn_op_builder_util.rs
  src/meta/api/src/txn_retry_util.rs
  src/meta/api/src/util.rs
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-refactor

#18692 fix(query): fix incorrect order of group by items with CTE or subquery
  .gitignore
  src/query/expression/src/aggregate/aggregate_hashtable.rs
  src/query/sql/src/planner/optimizer/optimizers/rule/agg_rules/rule_hierarchical_grouping_sets.rs
  tests/sqllogictests/suites/duckdb/sql/aggregate/group/group_by_grouping_sets.test
Labels: pr-bugfix

#18687 fix(query): fix unable cast Variant Nullable type to Int32 type in MERGE INTO
  src/query/service/src/physical_plans/physical_mutation.rs
  tests/sqllogictests/suites/base/09_fuse_engine/09_0037_target_build_merge_into_without_distributed_enable.test
Labels: pr-bugfix

#18695 refactor(meta-semaphore): handle error occurs during new-stream, lease-extend
  scripts/databend_test_helper/README.md
  scripts/databend_test_helper/databend_test_helper/__init__.py
  scripts/databend_test_helper/databend_test_helper/args.py
  scripts/databend_test_helper/databend_test_helper/cluster.py
  scripts/databend_test_helper/databend_test_helper/configs/databend-meta-node2.toml
  scripts/databend_test_helper/databend_test_helper/configs/databend-meta-node3.toml
  scripts/databend_test_helper/databend_test_helper/configs/databend-meta.toml
  scripts/databend_test_helper/databend_test_helper/configs/databend-query-node2.toml
  scripts/databend_test_helper/databend_test_helper/configs/databend-query-node3.toml
  scripts/databend_test_helper/databend_test_helper/configs/databend-query.toml
  scripts/databend_test_helper/databend_test_helper/meta.py
  scripts/databend_test_helper/databend_test_helper/meta_cluster.py
  scripts/databend_test_helper/databend_test_helper/progress.py
  scripts/databend_test_helper/databend_test_helper/query.py
  scripts/databend_test_helper/databend_test_helper/query_cluster.py
  scripts/databend_test_helper/databend_test_helper/utils.py
  scripts/databend_test_helper/setup.py
  scripts/test-bend-tests/.gitignore
  scripts/test-bend-tests/Makefile
  scripts/test-bend-tests/README.md
  scripts/test-bend-tests/clean-log.sh
  scripts/test-bend-tests/concurrent_sql_test.py
  scripts/test-bend-tests/configs/meta/meta-1.toml
  scripts/test-bend-tests/configs/meta/meta-2.toml
  scripts/test-bend-tests/configs/meta/meta-3.toml
  scripts/test-bend-tests/configs/query/query-1.toml
  scripts/test-bend-tests/configs/query/query-2.toml
  scripts/test-bend-tests/configs/query/query-3.toml
  scripts/test-bend-tests/configs/query/query-4.toml
  scripts/test-bend-tests/configs/query/query-5.toml
  scripts/test-bend-tests/main.sh
  scripts/test-bend-tests/requirements.txt
  scripts/test-bend-tests/setup.sql
  scripts/test-bend-tests/test_cluster.py
  src/meta/semaphore/src/acquirer/acquirer.rs
  src/meta/semaphore/src/acquirer/mod.rs
  src/meta/semaphore/src/acquirer/permit.rs
  src/meta/semaphore/src/meta_event_subscriber/processor.rs
  src/meta/semaphore/src/meta_event_subscriber/subscriber.rs
  src/meta/semaphore/src/semaphore.rs
  src/meta/service/tests/it/grpc/t51_metasrv_grpc_semaphore.rs
  src/meta/store/src/lib.rs
Labels: pr-refactor

#18680 fix: collected profiles lost in cluster mode
  Cargo.lock
  Cargo.toml
  src/query/catalog/src/table_context.rs
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_manager.rs
  src/query/service/src/servers/flight/v1/exchange/serde/exchange_deserializer.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_receiver.rs
  src/query/service/src/servers/flight/v1/exchange/statistics_sender.rs
  src/query/service/src/servers/flight/v1/packets/packet_data.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
  tests/sqllogictests/suites/mode/cluster/explain_analyze.test
  tests/sqllogictests/suites/mode/standalone/explain/explain_analyze.test
Labels: pr-bugfix

#18696 feat: impl Date & Timestamp on `RANGE BETWEEN`
  src/query/expression/src/values.rs
  src/query/service/src/physical_plans/physical_window.rs
  src/query/service/src/pipelines/processors/transforms/window/frame_bound.rs
  src/query/service/src/pipelines/processors/transforms/window/transform_window.rs
  tests/sqllogictests/suites/query/window_function/window_basic.test
Labels: pr-feature

#18697 ci: run behave test of bendsql for compact.
  .github/actions/test_compat_client_cluster/action.yml
  scripts/ci/deploy/databend-query-cluster-3-nodes-nginx.sh
  tests/nox/noxfile.py
Labels: pr-build

#18708 fix(python-binding): resolve virtual environment permission conflicts in CI
  .github/actions/build_bindings_python/action.yml
  .github/workflows/bindings.python.yml
Labels: pr-bugfix

#18709 ci: Temporarily disable warehouse testing of private tasks
  .github/actions/test_private_tasks/action.yml
Labels: pr-build

#18552 feat: `infer_schema` expands csv and ndjson support
  Cargo.lock
  Cargo.toml
  src/query/catalog/src/table_args.rs
  src/query/service/Cargo.toml
  src/query/service/src/table_functions/infer_schema/infer_schema_table.rs
  src/query/service/src/table_functions/infer_schema/merge.rs
  src/query/service/src/table_functions/infer_schema/mod.rs
  src/query/service/src/table_functions/infer_schema/parquet.rs
  src/query/service/src/table_functions/infer_schema/separator.rs
  src/query/service/src/table_functions/infer_schema/table_args.rs
  src/query/storages/stage/src/infer_schema.rs
  src/query/storages/stage/src/lib.rs
  src/query/storages/stage/src/read/mod.rs
  src/query/storages/stage/src/read/row_based/mod.rs
  tests/data/csv/max_file_count/numbers0.csv
  tests/data/csv/max_file_count/numbers1.csv
  tests/data/csv/max_file_count/numbers2.csv
  tests/data/csv/max_records.csv
  tests/data/csv/max_records.xz
  tests/data/csv/max_records.zip
  tests/data/csv/max_records.zst
  tests/data/csv/merge/numbers.csv
  tests/data/csv/merge/numbers_with_last_string.csv
  tests/data/csv/mixed.csv
  tests/data/csv/numbers_with_headers.csv
  tests/data/csv/ragged.csv
  tests/data/csv/types.csv
  tests/data/ndjson/max_file_count/numbers0.ndjson
  tests/data/ndjson/max_file_count/numbers1.ndjson
  tests/data/ndjson/max_file_count/numbers2.ndjson
  tests/data/ndjson/max_records.ndjson
  tests/data/ndjson/max_records.xz
  tests/data/ndjson/max_records.zip
  tests/data/ndjson/max_records.zst
  tests/data/ndjson/merge/numbers.ndjson
  tests/data/ndjson/merge/numbers_with_last_string.ndjson
  tests/data/ndjson/mixed.ndjson
  tests/data/ndjson/numbers.ndjson
  tests/data/ndjson/ragged.ndjson
  tests/data/ndjson/types.ndjson
  tests/data/parquet/max_file_count/tuple0.parquet
  tests/data/parquet/max_file_count/tuple1.parquet
  tests/data/parquet/max_file_count/tuple2.parquet
  tests/sqllogictests/suites/stage/formats/parquet/infer_schema.test
  tests/sqllogictests/suites/stage/formats/parquet/options/parquet_missing_field.test
  tests/sqllogictests/suites/stage/formats/parquet/parquet_field_types.test
Labels: pr-feature

#18719 refactor(raft-store): update trait interfaces and restructure leveled map
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/applier/applier_data/impl_expire_scoped_view_readonly.rs
  src/meta/raft-store/src/applier/applier_data/impl_user_scoped_view_readonly.rs
  src/meta/raft-store/src/applier/applier_data/mod.rs
  src/meta/raft-store/src/leveled_store/db_exporter.rs
  src/meta/raft-store/src/leveled_store/db_impl_scoped_seq_bounded_read.rs
  src/meta/raft-store/src/leveled_store/db_scoped_seq_bounded_read_test.rs
  src/meta/raft-store/src/leveled_store/immutable.rs
  src/meta/raft-store/src/leveled_store/immutable_levels.rs
  src/meta/raft-store/src/leveled_store/level.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compactor.rs
  src/meta/raft-store/src/leveled_store/leveled_map/immutable_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_commit.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_scoped_seq_bounded_get.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_scoped_seq_bounded_range.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_seq_bounded_get.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_seq_bounded_range.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/impl_commit.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_data/mod.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/leveled_map/map_api_impl.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/leveled_store/map_api.rs
  src/meta/raft-store/src/leveled_store/mod.rs
  src/meta/raft-store/src/leveled_store/snapshot.rs
  src/meta/raft-store/src/leveled_store/types.rs
  src/meta/raft-store/src/leveled_store/view.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v003/compact_immutable_levels_test.rs
  src/meta/raft-store/src/sm_v003/compact_with_db_test.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/sm_v003/sm_v003_kv_api.rs
  src/meta/raft-store/src/sm_v003/sm_v003_test.rs
  src/meta/raft-store/src/state_machine_api_ext.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/store/raft_state_machine_impl.rs
  src/meta/types/src/snapshot_db.rs
  src/meta/types/src/sys_data.rs
Labels: pr-refactor

#18720 fix(query): ensure jwt roles to user if not exists
  src/query/service/src/auth.rs
  src/query/service/src/interpreters/interpreter_role_grant.rs
  src/query/service/tests/it/auth.rs
  src/query/users/src/jwt/authenticator.rs
  src/query/users/src/user_mgr.rs
  src/query/users/tests/it/jwt/authenticator.rs
Labels: pr-bugfix, ci-cloud

#18724 fix(query): Set Parquet default encoding to `PLAIN` to ensure data compatibility
  src/query/storages/stage/src/append/parquet_file/writer_processor.rs
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.result
  tests/suites/1_stateful/08_select_stage/08_00_parquet/08_00_00_basic.sh
Labels: pr-bugfix

#18728 feat: add ANY_VALUE as alias for ANY aggregate function
  src/query/functions/src/aggregates/aggregator.rs
  tests/sqllogictests/suites/query/functions/02_0000_function_aggregate_min_max_any.test
Labels: pr-feature

#18731 feat: add Immutable::compact to merge two level
  Cargo.lock
  Cargo.toml
  src/meta/raft-store/src/leveled_store/immutable.rs
  src/meta/raft-store/src/leveled_store/level.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compacting_data.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
Labels: pr-feature

#18740 chore(meta-service): re-organize tests for raft-store
  src/meta/raft-store/src/applier/applier_data/mod.rs
  src/meta/raft-store/src/leveled_store/immutable_data/compact_into_stream.rs
  src/meta/raft-store/src/leveled_store/immutable_levels/compact_all.rs
  src/meta/raft-store/src/leveled_store/leveled_map/compactor.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/leveled_store/mod.rs
  src/meta/raft-store/src/leveled_store/testing_data/mod.rs
  src/meta/raft-store/src/sm_v003/acquire_compactor_test.rs
  src/meta/raft-store/src/sm_v003/compactor_acquirer.rs
  src/meta/raft-store/src/sm_v003/mod.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/raft-store/src/sm_v003/writer_acquirer.rs
  src/meta/service/src/store/store_inner.rs
Labels: pr-chore

#18732 refactor(query): refactor the join partition to reduce memory amplification
  src/common/column/src/binary/builder.rs
  src/query/expression/src/kernels/mod.rs
  src/query/expression/src/kernels/stream_partition.rs
  src/query/expression/src/types.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_build.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/transform_hash_join_probe.rs
  src/query/service/src/spillers/partition_buffer.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#18744 fix: fuse_vacuum2 panic while vauuming empty table with data_retentio…
  src/meta/api/src/garbage_collection_api.rs
  src/query/ee/src/storages/fuse/operations/vacuum_drop_tables.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
  src/query/service/src/interpreters/interpreter_vacuum_drop_tables.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0019_issue_18743.test
Labels: pr-bugfix

#18739 refactor: Make the ownership key deletion and table/database replace in the same transaction
  src/meta/api/src/database_api.rs
  src/meta/api/src/database_util.rs
  src/meta/api/src/schema_api.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/meta/app/src/schema/database.rs
  src/meta/app/src/schema/table.rs
  src/meta/binaries/metabench/main.rs
  src/query/ee/src/attach_table/handler.rs
  src/query/ee/src/stream/handler.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/interpreters/interpreter_database_create.rs
  src/query/service/src/interpreters/interpreter_table_create.rs
  src/query/service/src/interpreters/interpreter_view_create.rs
  src/query/service/tests/it/catalogs/database_catalog.rs
  src/query/service/tests/it/catalogs/immutable_catalogs.rs
  src/query/service/tests/it/catalogs/test_error_handling.rs
  src/query/sql/src/planner/plans/ddl/database.rs
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/iceberg/src/catalog.rs
  src/query/storages/iceberg/src/database.rs
Labels: pr-refactor

#18746 refactor(meta-service): separate raft-log-store and raft-state-machine store
  src/meta/control/src/import.rs
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/api/http/v1/features.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/meta_service/raft_service_impl.rs
  src/meta/service/src/store/meta_raft_log/impl_raft_log_storage.rs
  src/meta/service/src/store/meta_raft_log/mod.rs
  src/meta/service/src/store/meta_raft_state_machine/mod.rs
  src/meta/service/src/store/meta_raft_state_machine/raft_state_machine_impl.rs
  src/meta/service/src/store/mod.rs
  src/meta/service/src/store/store_inner.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
  src/meta/service/tests/it/store.rs
Labels: pr-refactor

#18750 feat: /v1/status include last_query_request_at.
  src/query/service/src/servers/admin/v1/instance_status.rs
  src/query/service/src/servers/http/v1/http_query_handlers.rs
  src/query/service/src/sessions/session_mgr.rs
  src/query/service/src/sessions/session_mgr_status.rs
Labels: pr-feature

#18742 refactor(query): stream style block writer for hash join spill
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  src/query/service/src/spillers/adapter.rs
  src/query/service/src/spillers/block_reader.rs
  src/query/service/src/spillers/block_writer.rs
  src/query/service/src/spillers/mod.rs
Labels: pr-refactor, ci-benchmark, ci-cloud

#18756 refactor(native): preallocate zero offsets before compression
  src/common/native/src/compression/binary/mod.rs
Labels: pr-refactor

#18757 refactor: meta-service: compact immutable levels periodically
  Cargo.lock
  src/meta/control/src/import.rs
  src/meta/raft-store/src/applier/mod.rs
  src/meta/raft-store/src/config.rs
  src/meta/raft-store/src/immutable_compactor/mod.rs
  src/meta/raft-store/src/leveled_store/immutable_data/mod.rs
  src/meta/raft-store/src/leveled_store/immutable_levels/compact_conductor.rs
  src/meta/raft-store/src/leveled_store/immutable_levels/compact_min_adjacent.rs
  src/meta/raft-store/src/leveled_store/immutable_levels/mod.rs
  src/meta/raft-store/src/leveled_store/level/mod.rs
  src/meta/raft-store/src/leveled_store/level/stat.rs
  src/meta/raft-store/src/leveled_store/level_index.rs
  src/meta/raft-store/src/leveled_store/leveled_map/impl_commit.rs
  src/meta/raft-store/src/leveled_store/leveled_map/leveled_map_test.rs
  src/meta/raft-store/src/leveled_store/leveled_map/mod.rs
  src/meta/raft-store/src/lib.rs
  src/meta/raft-store/src/sm_v003/sm_v003.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/api/grpc/grpc_service.rs
  src/meta/service/src/api/http/v1/features.rs
  src/meta/service/src/configs/outer_v0.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/src/meta_service/meta_node.rs
  src/meta/service/src/store/meta_raft_log/mod.rs
  src/meta/service/src/store/meta_raft_state_machine/mod.rs
  src/meta/service/src/store/meta_raft_state_machine/raft_state_machine_impl.rs
  src/meta/service/src/store/store.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_replication.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
  src/meta/service/tests/it/store.rs
Labels: pr-refactor

#18759 chore: move auto implemented KvApi methods to Ext trait
  src/meta/api/src/kv_fetch_util.rs
  src/meta/api/src/kv_pb_api/mod.rs
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/meta/api/src/testing.rs
  src/meta/binaries/meta/kvapi.rs
  src/meta/binaries/metactl/main.rs
  src/meta/binaries/metaverifier/main.rs
  src/meta/control/src/lua_support.rs
  src/meta/kvapi-test-suite/src/kvapi_test_suite.rs
  src/meta/kvapi/src/kvapi/api.rs
  src/meta/kvapi/src/kvapi/kv_api_ext.rs
  src/meta/kvapi/src/kvapi/mod.rs
  src/meta/service/src/meta_service/meta_leader.rs
  src/meta/service/tests/it/grpc/metasrv_connection_error.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_api.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_kv_api_restart_cluster.rs
  src/meta/service/tests/it/grpc/metasrv_grpc_tls.rs
  src/meta/service/tests/it/meta_node/meta_node_kv_api_expire.rs
  src/meta/service/tests/it/meta_node/meta_node_lifecycle.rs
  src/meta/service/tests/it/meta_node/t90_time_revert_cross_snapshot_boundary.rs
  src/query/management/src/quota/quota_mgr.rs
  src/query/management/src/role/role_mgr.rs
  src/query/management/src/setting/setting_mgr.rs
  src/query/management/src/stage/stage_mgr.rs
  src/query/management/src/user/user_mgr.rs
  src/query/management/src/warehouse/warehouse_mgr.rs
  src/query/management/src/workload/workload_mgr.rs
  src/query/management/tests/it/quota.rs
  src/query/management/tests/it/setting.rs
  src/query/management/tests/it/stage.rs
  src/query/management/tests/it/udf.rs
  src/query/management/tests/it/warehouse.rs
  src/query/service/src/history_tables/meta.rs
  src/query/service/src/interpreters/common/util.rs
  src/query/service/src/task/meta.rs
  src/query/storages/basic/src/result_cache/meta_manager.rs
Labels: pr-chore

#18753 fix: auto commit of ddl not work when calling procedure in transaction
  src/query/service/src/interpreters/util.rs
  tests/compat_fuse/compat-logictest/rbac/fuse_compat_write
  tests/sqllogictests/suites/base/15_procedure/15_0002_procedure.test
  tests/sqllogictests/suites/base/15_procedure/15_0003_procedure_auto_commit.test
  tests/sqllogictests/suites/base/15_procedure/15_0004_procedure_rollback.test
  tests/sqllogictests/suites/base/15_procedure/15_0005_procedure_snapshots.test
  tests/sqllogictests/suites/base/15_procedure/15_0006_procedure_merge_into.test
  tests/sqllogictests/suites/base/15_procedure/15_0007_procedure_dedup_label.test
  tests/sqllogictests/suites/base/15_procedure/15_0008_procedure_multi_transaction.test
Labels: pr-bugfix

#18751 fix: vacuum tables that are dropped by `create or replace` statement
  Cargo.lock
  src/meta/api/src/garbage_collection_api.rs
  src/meta/api/src/table_api.rs
  src/query/ee/Cargo.toml
  src/query/ee/tests/it/storages/fuse/operations/vacuum.rs
Labels: pr-bugfix, ci-cloud

#18766 fix(query): fix data lost caused by nullable in spill
  src/common/column/src/bitmap/mutable.rs
  src/query/expression/src/kernels/stream_partition.rs
  src/query/service/src/pipelines/processors/transforms/hash_join/hash_join_spiller.rs
  tests/sqllogictests/suites/tpcds/tpcds_spill_2.test
Labels: pr-bugfix, ci-benchmark, ci-cloud

#18752 refactor(query): Optimize Virtual Column Write Performance
  Cargo.lock
  Cargo.toml
  src/meta/proto-conv/src/schema_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v148_virtual_schema.rs
  src/meta/protos/proto/virtual_schema.proto
  src/query/ee/tests/it/storages/fuse/operations/virtual_columns_builder.rs
  src/query/expression/src/schema.rs
  src/query/expression/src/types/decimal.rs
  src/query/expression/src/utils/display.rs
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/common/table_meta/src/meta/v2/segment.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/io/write/stream/block_builder.rs
  src/query/storages/fuse/src/io/write/virtual_column_builder.rs
  src/query/storages/fuse/src/operations/common/processors/transform_merge_commit_meta.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_block.rs
  tests/sqllogictests/suites/ee/01_ee_system/01_0002_virtual_column.test
Labels: pr-refactor, ci-cloud

#18775 fix: clean up temp table with external location
  Cargo.lock
  src/query/storages/common/session/Cargo.toml
  src/query/storages/common/session/src/temp_table.rs
  tests/suites/1_stateful/02_query/02_0012_temp_table_external_session_cleanup.py
  tests/suites/1_stateful/02_query/02_0012_temp_table_external_session_cleanup.result
Labels: pr-bugfix

#18782 fix: the result of the first parameter of `eval_or_filters` will affect the subsequent parameters
  src/query/expression/src/evaluator.rs
  tests/sqllogictests/suites/base/03_common/03_0025_delete_from.test
Labels: pr-bugfix

#18767 feat(query): enable swap between tables
  src/meta/api/src/schema_api_test_suite.rs
  src/meta/api/src/table_api.rs
  src/meta/app/src/schema/mod.rs
  src/meta/app/src/schema/table.rs
  src/query/ast/src/ast/statements/table.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/src/parser/token.rs
  src/query/ast/tests/it/parser.rs
  src/query/ast/tests/it/testdata/stmt.txt
  src/query/catalog/src/catalog/interface.rs
  src/query/catalog/src/database.rs
  src/query/service/src/catalogs/default/database_catalog.rs
  src/query/service/src/catalogs/default/immutable_catalog.rs
  src/query/service/src/catalogs/default/mutable_catalog.rs
  src/query/service/src/catalogs/default/session_catalog.rs
  src/query/service/src/catalogs/iceberg/iceberg_catalog.rs
  src/query/service/src/databases/default/default_database.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_table_swap.rs
  src/query/service/src/interpreters/mod.rs
  src/query/service/tests/it/sql/exec/get_table_bind_test.rs
  src/query/service/tests/it/storages/fuse/operations/commit.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/plans/ddl/table.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/storages/common/session/src/temp_table.rs
  src/query/storages/hive/hive/src/hive_catalog.rs
  src/query/storages/iceberg/src/catalog.rs
  tests/sqllogictests/suites/base/05_ddl/05_0059_ddl_alter_table_swap.test
Labels: pr-feature

#18792 fix: /v1/status return stop time without start time.
  src/query/service/src/servers/admin/v1/instance_status.rs
  src/query/service/src/servers/http/v1/query/http_query_manager.rs
  src/query/service/tests/it/servers/admin/v1/status.rs
Labels: pr-bugfix

#18793 fix: prevent panic in multi-table insert commit by handling missing t…
  src/query/storages/fuse/src/operations/common/processors/multi_table_insert_commit.rs
Labels: pr-bugfix

#18796 ci: fix publish debug symbols
  .github/actions/publish_debug_symbols/action.yml
  .github/workflows/release.yml
Labels: pr-build

#18780 fix: remove incorrect assertion in collecting dropped table ids
  src/meta/api/src/garbage_collection_api.rs
  tests/sqllogictests/suites/ee/03_ee_vacuum/03_0020_issue_18794.test
Labels: pr-bugfix, ci-cloud

#18795 fix: forbid SRF in copy transform.
  src/query/ast/src/parser/copy.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/sql/src/planner/binder/binder.rs
  src/query/sql/src/planner/binder/copy_into_table.rs
  tests/sqllogictests/suites/stage/transform_fn_check.test
Labels: pr-bugfix

#18798 fix(query): handle database ID properly in columns table permission check
  src/query/storages/system/src/columns_table.rs
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.result
  tests/suites/0_stateless/18_rbac/18_0013_column_privilege.sh
Labels: pr-bugfix

#18803 chore: log more info on jwks refresh
  src/query/users/src/jwt/jwk.rs
  tests/suites/1_stateful/02_query/02_0012_temp_table_external_session_cleanup.py
Labels: pr-chore

#18810 chore: refine stream http api test
  tests/suites/5_ee/05_stream/05_0004_ee_stream_http_api.result
  tests/suites/5_ee/05_stream/05_0004_ee_stream_http_api.sh
Labels: pr-chore
